// main: ../../core.less

/*##############*\
    _data.less
\*##############*/


/**
  * machine-readable data
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2015-02-10
  */
data {
}

/**
  * An abbreviation.
  * Class `.Acro` represents an acronym.
  * `.Acro.First` represents an acronym at the beginning of a sentence or heading.
  * `.Acro.First` has `display:inline-block;`, a HACK because `::first-letter` only works on
  * block or inline-block elements
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2015-02-11
  */
abbr[title] {
  cursor: help;
}
.Acro {
  // text-transform: uppercase;
  font-size: (@font_size_sml * 1em); // `em` used instead of `rem` because text-level
}
.Acro.First {
  display: inline-block;
  &::first-letter {
    font-size: (1/@font_size_sml * 1em); // `em` used instead of `rem` because text-level
  }
}

// /**
//   * A time element. See the W3C HTML5 standards for details.
// @tags
// : #typography
// @author
// : Chris Harvey
// @updated
// : 2014-07-21
//   */
// time[datetime] {}

// /**
//   * A geographical location on Earth.
//   *
//   * This Element must have the `data-lon=""` and `data-lat=""` attributes (corresponding to
//   * longitude and latitude, respectively), whose values are decimal numbers representing angles,
//   * measured in decimal degrees. To find these values, simply go to [maps.google.com](),
//   * enter the city/town name, and then look at the URL.
//   *
//   * This Element may also optionally have the `data-alt=""` attribute (corresponding to
//   * altitude or elevation), whose value is text representing a physical length,
//   * measured in any unit (feet/meters most common).
//   *
//   * My Locations:
//   * Fairfax, VA
//   * : data-element="geo" data-lon="-77.2888239" data-lat="38.864158"
//   * Vienna, VA
//   * : data-element="geo" data-lon="-77.263014" data-lat="38.900159"
//   * Blacksburg, VA
//   * : data-element="geo" data-lon="-80.4294548" data-lat="37.2304516"
//   * Riner, VA
//   * : data-element="geo" data-lon="-80.4406068" data-lat="37.0665176"
//   * Roanoke, VA
//   * : data-element="geo" data-lon="-79.9575425" data-lat="37.2743219"
//   * Charlottesville, VA
//   * : data-element="geo" data-lon="-78.4849739" data-lat="38.0400874"
//   * Stanardsville, VA
//   * : data-element="geo" data-lon="-78.4368073" data-lat="38.2982581"
//   * Harrisonburg, VA
//   * : data-element="geo" data-lon="-78.8711824" data-lat="38.4393105"
//   * Virginia Beach, VA
//   * : data-element="geo" data-lon="-76.0476647" data-lat="36.7674971"
//   * Richmond, VA
//   * : data-element="geo" data-lon="-77.4932615" data-lat="37.5246609"
//   *
// @tags
// : #typography
// @author
// : Chris Harvey
// @updated
// : 2014-06-26
//   */
// [data-element="geo"] {white-space: nowrap;}
