// main: ../../all.less

/*#################*\
    _doctext.less
\*#################*/


/**
  * A vocabulary term.
  * Every `dfn` must have an `id` attribute, thus there must only be one `dfn` per page that
  * contains a given term in question. Furthermore, hyperlinks can point to the defining instance
  * of the term.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-08-05
  */
dfn[id] {
	font-weight: bold;
	font-family: @fontfam_prose;
}
/**
  * A placeholder for some textual element. Could be a filename, etc.
  * This does *not* represent a variable in a `code`, e.g., the following HTML would be incorrect:
<code>my <var>$welcome</var> = "Hello world!";</code>
  * It would be better to use a `span` with a class. See 'Subcomponents of a Code Block' above.
  *
  * Rather, the `var` Element represents a placeholder of text. The following HTML is correct:
<p>The following git commmand shows you diff:
<code>$ git diff <var>filepath</var></code>
where <var>filepath</var> is the path or name of the file you want to see the diff for.</p>
@tags
: #code
@author
: Chris Harvey
@updated
: 2014-07-21
  */
var {
	&:extend(.guillemets-single all);
	font-style: italic;
}
/**
  * An abbreviation.
@implements
: .fontsize-sml
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-16
  */
abbr[title] {cursor: help;}
.Acro {
	// &:extend(.fontsize-sml);
	// text-transform: uppercase;
	font-size: 75%;
}
/**
  * An inline quotation: a span of text that is taken directly from another source
  * (real or fictional).
@implements
: .quotes-double
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-30
  */
q {&:extend(.quotes-double all);}
/**
  * This Object represents an altered voice in the form of a thought. Like a quote but silent.
  * May be applied to the `q` Element.
@implements
: .guillemets
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Th {&:extend(.guillemets-double all);}

/**
  * A span or block of text that has been deleted from a document.
  * This is used to explicitly indicate that the text has been intentionally deleted.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
del[datetime] {
	text-decoration: line-through;
}
/**
  * A span or block of text that has been inserted into a document.
  * This is used to explicitly indicate that the text has been intentionally inserted.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
ins[datetime] {
	text-decoration: underline;
}
del + ins {padding-left: @spacer;}
// abbr[title],
// del[datetime],
// ins[datetime] {
// 	cursor: help;
// 	&::after {
// 		display: none;
// 		position: relative;
// 		left: 5px;
// 		top: 5px;
// 		text-decoration: none;
// 	}
// 	&:hover::after {display: inline;}
// }
// abbr[title]::after   {content: attr(title);}
// del[datetime]::after {content: 'deleted on ' attr(datetime);}
// ins[datetime]::after {content: 'inserted on ' attr(datetime);}
