// main: ../../core.less

/*###############*\
    _links.less
\*###############*/


// colors for inline hyperlinks
@color_link_up: @atlas;
@color_link_dn: @pbody;
@color_link_active_txt: @color_accent;

// animation effects for links
@trans_link: @t_ani_short;

/**
  * Inline "active" hyperlinks. Not placeholder links, nor box links.
@tags
: #hyperlink
: #span
@author
: Chris Harvey
@updated
: 2014-09-23
  */
a[href] {
  .transition(color; @trans_link);
  text-decoration: none;
  color: @color_link_up;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: @color_link_dn;
  }
  &:active {color: @color_link_active_txt;}
}
a[rel~="external"] {font-style: italic;}
/**
  * It may be instantiated by the `a` or `cite` Elements.
@tags
: #hyperlink
: #span
@author
: Chris Harvey
@updated
: 2014-05-25
  */
// .Ref {
//   font-weight: bold;
// }
/**
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
  */
// .Proper {
//   font-style: italic;
//   text-transform: capitalize;
// }
