// main: ../../all.less

/*################*\
    _stress.less
\*################*/


/**
  * Emphasized text represents words or phrases that are stressed, as if the tone of voice would be
  * affected. More importantly, **the placement of stress should affect the meaning of the passage**.
  * If the emphasis were to be removed or relocated, the passage's meaning should change.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-30
*/
em {font-style: italic;}
/**
  * Strong text has a level of importance. Important text does not necessarily affect tone of voice
  * (although it may), but rather upsets the normal prose by causing the reader to examine the text
  * more carefully. The placement of importance should not affect the meaning of the passage.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-30
  */
strong {font-weight: bold;}
/**
  * A phrase interpreted in an alternate voice or mood, without carrying extra emphasis,
  * such as scare quotes and mentions.
  * Or a phrase in a foreign language, such as the taxonomic classification (in Latin) of an organism.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-08-05
  */
i {&:extend(.quotes-double all);}
i[lang] {
	font-style: italic;
	font-weight: normal;
	font-family: @fontfam_math;
	quotes: '' '';
}
/**
  * A keyword, technical or specific term, or key phrase
  * (If a foreign language, be sure to add the `[lang]` attribute.)
  * A `b` Element is any generic keyword or term, whose definition is not present. If the term is
  * being defined, use the `dfn` Element.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-08-05
  */
b {font-weight: bold;}
/**
  * A span of text that is relevant in some context. It is advisable to use the `[class]` attribute
  * to indicate the context in which the span is relevant.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-08-05
  */
mark {.Hi;}
/**
  * A span of text to which the reader's attention should be brought for purposes of illustration.
  * This span is typically in a figure or example.
  * Note: There could be a more appropriate element to use. Namely:
  * - If the span of text has an emphasized meaning, use `em`.
  * - If the span of text relays an important concept, use `strong`.
  * - If the span of text is represented in an alternate voice/mood, use `i`.
  * - If the span of text is a key word, key phrase, or common expression, use `b`.
  * - If the span of text is relevant in a certain context, use `mark`.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-08-05
  */
u {color: @color_accent;}

/**
  * Superscripts and subscripts.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
sup,
sub {
	&:extend(.fontsize-sml);
	position: relative;
	vertical-align: baseline;
}
sup {bottom: (@spacer / 4);}
sub {top:    (@spacer / 4);}

/**
  * This Object is used to make text appear highlighted.
  * May be instantiated by the `mark` or `u` Elements.
@mixesin
: .fade-background
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.Hi {
	.fade-background(@color_accent; @golden1);
	padding: 2px 3px;
}
.Hi.Alp {.fade-background(@color_lbl_warn_brdr; @golden1);}
.Hi.Bet {.fade-background(@color_lbl_cshn_brdr; @golden1);}
.Hi.Gam {.fade-background(@color_lbl_skss_brdr; @golden1);}
.Hi.Del {.fade-background(@color_lbl_info_brdr; @golden1);}
.Hi.Eps {.fade-background(@color_lbl_help_brdr; @golden1);}
.Hi.Zet {.fade-background(@color_base_txt;      @golden1);}
