// main: ../../all.less

/*----------------*\
    _stress.less
\*----------------*/


/**
  * Emphasized text represents words or phrases that are stressed, as if the tone of voice would be
  * affected. More importantly, **the placement of stress should affect the meaning of the passage**.
  * If the emphasis were to be removed or relocated, the passage's meaning should change.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-30
*/
em {font-style: italic;}
/**
  * Strong text has a level of importance. Important text does not necessarily affect tone of voice
  * (although it may), but rather upsets the normal prose by causing the reader to examine the text
  * more carefully. The placement of importance should not affect the meaning of the passage.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-30
  */
strong {font-weight: bold;}
/**
  * A phrase in a foreign language, such as the taxonomic classification (in Latin) of an organism.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
  */
i[lang] {
	font-style: italic;
	font-family: @fontfam_math;
}
/**
  * This Object is used to make text appear highlighted.
  * May be instantiated by the `mark` or `u` Elements.
@mixesin
: .fade-background
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.Hi {
	.fade-background(@color_accent; @golden1);
	padding: 2px 3px;
}
.Hi.Warn {.fade-background(@color_lbl_warn_brdr; @golden1);}
.Hi.Cshn {.fade-background(@color_lbl_cshn_brdr; @golden1);}
.Hi.Skss {.fade-background(@color_lbl_skss_brdr; @golden1);}
.Hi.Info {.fade-background(@color_lbl_info_brdr; @golden1);}
.Hi.Help {.fade-background(@color_lbl_help_brdr; @golden1);}
/**
  * Superscripts and subscripts.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
sup,
sub {
	&:extend(.fontsize-sml);
	position: relative;
	vertical-align: baseline;
}
sup {bottom: (@spacer / 4);}
sub {top:    (@spacer / 4);}
