<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<title>Function Painting</title>
    meta(name="viewport" content="width=device-width, initial-scale=1")
<link rel="stylesheet" href="/styles/Home.css"/>
{% include all-js.html %}
<style>
</style>
</head>
<body>
{% include masthead.html %}
<div class="main P1 P1-midright">
<header>
  <h1>Unit 2 Project: Function Painting</h1>
  <p class="timestamp">Created <time datetime="2012-10-12">October 12, 2012</time>.</p>
</header>
<section>
  <h2>Goal</h2>
  <p>To provide a tool for students to demonstrate their understanding of properties, families, and transformations of functions, while showcasing their artistic ability and creativity.</p>
</section>
<section>
  <h2>Task</h2>
  <p>Given a set of 10 function families, the student will construct a &ldquo;painting&rdquo; that includes an instance of each parent function listed. The instance functions the student uses may be any variation or transformation of the parent functions required. Accompanying the painting, the student will submit a list of the instance functions used, and properties of those functions.</p>
  <p></p>

</section>
<section>
  <h2>Grading Rubric</h2>
  <section>
    <h3>Required Functions</h3>
    <ul>
      <li>linear</li>
      <li>quadratic</li>
      <li>cubic</li>
      <li>rational</li>
      <li>square root</li>
      <li>cube root</li>
      <li>exponential growth or decay</li>
      <li>logarithmic growth or decay</li>
      <li>absolute value</li>
      <li>miscellaneous (your choice)</li>
    </ul>
  </section>
  <section>
    <h3>Mathematical Accuracy</h3>
    <p>The Cartesian <var>x</var>-<var>y</var>-plane will be shown, with accurate labels for axes and tick marks.</p>
    <p>There will be at least ten functions drawn. At least one function from each required type will be graphed properly. The parent function may be used. There may be more than one function from each family drawn.</p>
    <p>The graph of each function and its following properties will be accurately depicted:</p>
    <ul>
      <li>proper intercept points</li>
      <li>proper turning points</li>
      <li>proper curvature and slope</li>
    </ul>
    <p>The student may choose to restrict the domain of the functions he or she uses. If this is the case, the student will place open or closed endpoints on the painting accordingly.</p>
    <p>The student will submit a list of functions used in the painting. This list will be <strong>error free</strong> and will include</p>
    <ol>
      <li>the function's equation</li>
      <li>the function's family name</li>
      <li>a description of the transformation, if any, in English</li>
      <li>the (possibly restricted) domain and range of the function, using <b>set-builder notation</b></li>
      <li>the <var>x</var>- and <var>y</var>-intercepts of the function, if any</li>
      <li>the turning points of the function, if any</li>
      <li>the end behavior of the function, if any</li>
    </ol>
    <p>The functions on the list will correspond to the functions on the graph in some way. The student may choose to color-code, number, letter, footnote, <i lang="la"><abbr title="et cetera">etc.</abbr></i> the functions. The audience should be able to look at a function and then find it on the list, without knowing anything about functions.</p>
  </section>
  <section>
    <h3>Artistic Requirements and Guidelines</h3>
    <p>The painting can represent anything concrete or abstract, such as an object, idea, action, or emotion. The object of the painting must be somewhat recognizable by the audience. The painting must have some aesthetic appeal.</p>
    <p>In addition to the color white, the painting must display at least two other colors, one of which may be black.</p>
    <p>The painting can be done on, and done with, any medium. The size of the painting must be a minimum of 8.5in by 11in, or equivalent area.</p>
  </section>
</section>
</div>
</body>
</html>
