@import url('/styles/Home.css');
/* CSS Document for all pages in my MATH_4644 portfolio */



.SOLborder{
  text-align: justify;
  padding: 10px;
  border-width: 3px;
  border-style: ridge;
}

.math {
  color: #0062BB;
  font-family: 'Monaco', 'Courier New', Courier, monospace;
  font-size: 10pt;
  font-weight: 700;
}
