@import (reference) url('../../node_modules/xmeter/src/__settings.less');
@import (reference) url('../../node_modules/lux-nox/lux-nox.less');

/*################################*\
    chharvey  |  __settings.less
\*################################*/


// NOTE: the prefix `@g-` on each variable stands for "global" because these variables
// are globally (project-wide) accessible.
// All variables accessible throughout subsite stylesheets use prefix `@l-` for "local".
// In each partial file, if need a private variable, use prefix `@p-` for "private".
// Parameters in mixins shall not use any prefixes.
// If necessary, override imported stylesheets’ variables.

#CHH {
  .VARS() {
    // Table of Contents
    //# PROJECT MAIN SETTINGS
    //# PROJECT TYPOGRAPHICAL SETTINGS
    //# PROJECT COLOR SETTINGS
    //# PROJECT MISCELLANEOUS SETTINGS
    //# UI COMPONENT VARIABLES
    //# GOLDEN RATIOS
    //# PORTAL COLOR THEME


    //++++++++++++++++++++++++++++++++
    //    # PROJECT MAIN SETTINGS
    //++++++++++++++++++++++++++++++++
    // vertical rhythm
    // @g-font_size: 100%;
    @g-line_height: 1.5;
    @g-vru: (@g-line_height * 1rem);
    //++++ end # PROJECT MAIN SETTINGS ++++//


    //++++++++++++++++++++++++++++++++
    //    # PROJECT TYPOGRAPHICAL SETTINGS
    //++++++++++++++++++++++++++++++++
    // font size ratios
    @g-font_size_peta:   96/16; // 6.00 // lines: 4
    @g-font_size_tera:   64/16; // 4.00 // lines: 3
    @g-font_size_giga:   48/16; // 3.00 // lines: 2
    @g-font_size_mega:   32/16; // 2.00 // lines: 2
    @g-font_size_kilo:   24/16; // 1.50 // lines: 1
    @g-font_size_normal: 16/16; // 1.00 // lines: 1
    @g-font_size_milli:  12/16; // 0.75 // lines: 1
    @g-font_size_micro:   8/16; // 0.50 // lines: 1
    // same font sizes but with numeric names
    @g-font_size_hex:     @g-font_size_peta;   // 6.00 // lines: 4
    @g-font_size_tet:     @g-font_size_tera;   // 4.00 // lines: 3
    @g-font_size_tri:     @g-font_size_giga;   // 3.00 // lines: 2
    @g-font_size_di:      @g-font_size_mega;   // 2.00 // lines: 2
    @g-font_size_sesqui:  @g-font_size_kilo;   // 1.50 // lines: 1
    @g-font_size_dodrans: @g-font_size_milli;  // 0.75 // lines: 1
    @g-font_size_semi:    @g-font_size_micro;  // 0.50 // lines: 1

    // font families
    @g-font_family_base:    'Avenir Next','Avenir','Helvetica Neue','Helvetica',sans-serif;
    @g-font_family_heading: 'Optima','Seravek','Tahoma',sans-serif;
    @g-font_family_prose:   'Baskerville','Palatino','Cochin',serif;
    @g-font_family_accent:  'Helvetica Neue','Helvetica',sans-serif;
    @g-font_family_code:    'Menlo','Monaco','Andale Mono',monospace;
    @g-font_family_math:    'Didot','Bodoni 72','Times',serif;
    @g-font_family_script:  'Zapfino','Savoye LET',script;

    // These variables would be uesful for outlined lists such that you
    // don’t have to remember the hierarchy of list-style-types.
    // @g-list_type_ome: decimal-leading-zero; //  01.  02.  03.
    // @g-list_type_alp: upper-roman;          //   I.  II. III.
    // @g-list_type_bet: upper-alpha;          //   A.   B.   C.
    // @g-list_type_gam: decimal;              //   1.   2.   3.
    // @g-list_type_del: lower-alpha;          //   a.   b.   c.
    // @g-list_type_eps: lower-roman;          //   i.  ii. iii.
    // @g-list_type_zet: lower-greek;          //   α.   β.   γ.
    //++++ end # PROJECT TYPOGRAPHICAL SETTINGS ++++//


    //++++++++++++++++++++++++++++++++
    //    # PROJECT COLOR SETTINGS
    //++++++++++++++++++++++++++++++++
    // These variables do not have utility classes associated with them.
    // project variables
    #CHH .CONSTS();
    @g-color_body_bg:  @g-color_portal_aperturewhite;
    @g-color_body_txt: @g-color_portal_apertureblack;
    @g-color_h_major:  @g-color_portal_lakesuperior;
    @g-color_h_minor:  @g-color_portal_facilityabyss;
    @g-color_h_sub:    @g-color_portal_propulsion;
    @g-color_link_up:  @g-color_portal_atlas;
    @g-color_link_dn:  @g-color_portal_pbody;
    //++++ end # PROJECT COLOR SETTINGS ++++//


    //++++++++++++++++++++++++++++++++
    //    # PROJECT MISCELLANEOUS SETTINGS
    //++++++++++++++++++++++++++++++++
    // variables for golden container’s horizontal spacing
    @g-hspace_s: 0.5rem;
    @g-hspace_M: 1rem;
    @g-hspace_G: @g-hspace_M;
    @g-hspace_T: 2rem;
    // animation timing
    @g-ani_short:  125ms; // to shave off the edge of instanteaneous transitions
    @g-ani_medium: 250ms; // for fast but smooth transitions
    @g-ani_long:   500ms; // for beautiful, elegant transitions
    //++++ end # PROJECT MISCELLANEOUS SETTINGS ++++//


    //++++++++++++++++++++++++++++++++
    //    # UI COMPONENT VARIABLES
    //++++++++++++++++++++++++++++++++
    // boxy stuff
    // A namespace of variables for strutural styles of UI Components
    @g-ui_padding_inl: (3em/12) (5em/12) (2em/12); // HACK // why these numbers?
    @g-ui_padding_inl: (4em/12) (6em/12) (3em/12); // HACK // why these numbers?
    @g-ui_padding_sml: (0.5 * @g-vru) (1 * 1rem);
    @g-ui_padding_med: (1.0 * @g-vru) (2 * 1rem);
    @g-ui_padding_lrg: (2.0 * @g-vru) (4 * 1rem);
    @g-ui_border_radius_inl: 0.25em;
    @g-ui_border_radius_sml: 0.50rem;
    @g-ui_border_radius_med: 1.00rem;
    @g-ui_border_radius_lrg: 2.00rem;
    // texty stuff
    // A namespace of variables for textual styles of UI Components
    #CHH .CONSTS();
    @g-ui_ts_x: 0;      // text shadow x
    @g-ui_ts_y: 1px;    // text shadow y
    @g-ui_ts_blur: 4px; // text shadow blur
    @g-ui_ts_color_lite: @g-color_portal_tintheavy;
    @g-ui_ts_color_dark: @g-color_portal_shadeheavy;
    @g-ui_bs_color_lite: @g-color_portal_tintlight;
    @g-ui_bs_color_dark: @g-color_portal_shadelight;
    //++++ end # UI COMPONENT VARIABLES ++++//

  }
  .CONSTS() {
    //++++++++++++++++++++++++++++++++
    //    # GOLDEN RATIOS
    //++++++++++++++++++++++++++++++++
    @phi0: 1;
    @phi1: ((-1 + sqrt(5)) / 2); // 0.61803399
    @phi2: (@phi1 * @phi1);      // 0.38196601 // Math.pow(@phi,  2);
    @phi3: (@phi2 * @phi1);      // 0.23606798 // Math.pow(@phi,  3);
    @phi4: (@phi3 * @phi1);      // 0.14589803 // Math.pow(@phi,  4);
    @phi5: (@phi4 * @phi1);      // 0.09016994 // Math.pow(@phi,  5);
    @phi6: (@phi5 * @phi1);      // 0.05572809 // Math.pow(@phi,  6);
    @phi7: (@phi6 * @phi1);      // 0.03444185 // Math.pow(@phi,  7);
    @phi8: (@phi7 * @phi1);      // 0.02128624 // Math.pow(@phi,  8);
    @phi9: (@phi8 * @phi1);      // 0.01315562 // Math.pow(@phi,  9);
    @phiA: (@phi9 * @phi1);      // 0.00813062 // Math.pow(@phi, 10);
    @phiB: (@phiA * @phi1);      // 0.00502500 // Math.pow(@phi, 11);
    @phiC: (@phiB * @phi1);      // 0.00310562 // Math.pow(@phi, 12);
    @phiD: (@phiC * @phi1);      // 0.00191938 // Math.pow(@phi, 13);
    @phiE: (@phiD * @phi1);      // 0.00118624 // Math.pow(@phi, 14);
    @phiF: (@phiE * @phi1);      // 0.00073314 // Math.pow(@phi, 15);

    @phi1c: (1 - @phi1); // 0.38196601 // @phi2
    @phi2c: (1 - @phi2); // 0.61803399 // @phi1
    @phi3c: (1 - @phi3); // 0.76393202
    @phi4c: (1 - @phi4); // 0.85410197

    @golden0: (100% * @phi0); // 100%
    @golden1: (100% * @phi1); // 61.803399%
    @golden2: (100% * @phi2); // 38.196601%
    @golden3: (100% * @phi3); // 23.606798%
    @golden4: (100% * @phi4); // 14.589803%
    @golden5: (100% * @phi5); // 09.016994%
    @golden6: (100% * @phi6); //  5.572809%
    @golden7: (100% * @phi7); //  3.444185%
    @golden8: (100% * @phi8); //  2.128624%
    @golden9: (100% * @phi9); //  1.315562%
    @goldenA: (100% * @phiA); //  0.813062%
    @goldenB: (100% * @phiB); //  0.502500%
    @goldenC: (100% * @phiC); //  0.310562%
    @goldenD: (100% * @phiD); //  0.191938%
    @goldenE: (100% * @phiE); //  0.118624%
    @goldenF: (100% * @phiF); //  0.073314%

    @golden1c: (100% * @phi1c); // 38.196601% // @golden2
    @golden2c: (100% * @phi2c); // 61.803399% // @golden1
    @golden3c: (100% * @phi3c); // 76.393202%
    @golden4c: (100% * @phi4c); // 85.410197%
    //++++ end # GOLDEN RATIOS ++++//


    //++++++++++++++++++++++++++++++++
    //    # PORTAL COLOR THEME
    //++++++++++++++++++++++++++++++++
    @g-color_portal_aperturewhite: hsv(217,   5%, 100%); // #f2f7ff
    @g-color_portal_apertureblack: hsv( 37, 100%,   5%); // #0d0800
    @g-color_portal_lakesuperior:  hsv(247, 100%,  60%); // #120099
    @g-color_portal_facilityabyss: hsv(187,  40%,  40%); // #3d6166
    @g-color_portal_atlas:         hsv(217, 100%, 100%); // #0062ff
    @g-color_portal_pbody:         hsv( 37, 100%, 100%); // #ff9d00

    @g-color_portal_cavescaves: hsv( 28,  66.6%,  50%); // #80522b
    @g-color_portal_asbestos:   hsv( 46, 100.0%,  75%); // #bf9300
    @g-color_portal_repulsion:  hsv(202,  80.0%, 100%); // #33b4ff
    @g-color_portal_propulsion: hsv( 22,  80.0%, 100%); // #ff7e33

    @g-color_portal_deploying:  hsv(  7,  80%, 100%); // #ff4b33
    @g-color_portal_hereye:     hsv( 52,  80%, 100%); // #ffe433
    @g-color_portal_neurotoxin: hsv( 97,  40%,  80%); // #9acc7a
    @g-color_portal_bridges:    hsv(202,  40%, 100%); // #99daff
    @g-color_portal_companion:  hsv(337,  40%, 100%); // #ff99c0
    @g-color_portal_vilify:     hsv(277, 100%, 100%); // #9d00ff

    @g-color_portal_graylite:   mix(mix(@g-color_portal_aperturewhite, @g-color_portal_apertureblack, 80%), @g-color_portal_pbody, 95%); // #c7c5c2
    @g-color_portal_graydark:   mix(mix(@g-color_portal_apertureblack, @g-color_portal_aperturewhite, 80%), @g-color_portal_atlas, 95%); // #383a3d
    @g-color_portal_tintlight:  fadeout(@g-color_portal_aperturewhite, 80%);
    @g-color_portal_shadelight: fadeout(@g-color_portal_apertureblack, 80%);
    @g-color_portal_tintheavy:  fadeout(@g-color_portal_aperturewhite, 20%);
    @g-color_portal_shadeheavy: fadeout(@g-color_portal_apertureblack, 20%);
    //++++ end # PORTAL COLOR THEME ++++//
  }
}
