@import (reference) url('__settings.less');

/*################################*\
    chharvey  |  _atom.padding.less
\*################################*/


.h-p-norm   { padding: @g-boxpadd_norm; }
.h-p-kilo   { padding: @g-boxpadd_kilo; }
.h-p-mega   { padding: @g-boxpadd_mega; }
.h-p-giga   { padding: @g-boxpadd_giga; }
.h-p-tera   { padding: @g-boxpadd_tera; }
.h-p-peta   { padding: @g-boxpadd_peta; }
