
/*################################*\
    _base.sections.body.less
\*################################*/
@import (reference) url('__settings.less');


body {
  #CHH .VARS();
  font-family: @chh_font_family_base;
  text-rendering: optimizeSpeed;
  @media screen {
    #CHH .VARS();
    color: @chh_color_txt;
    background: @chh_color_bg;
    margin-bottom: (8*@chh_vru);
  }
}
