@import (reference) url('../../node_modules/xmeter/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.fallback.transition.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.module.spacing.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('__settings.less');
@import (reference) url('__tool.module.hr.less');

/*################################*\
    chharvey  |  _base.sections.headings.less
\*################################*/


  // ---- @media screen ---- //
  // @p-font_size_h1_s: @g-font_size_h1; // 32/16 // 2.000
  // @p-font_size_h2_s: @g-font_size_h2; // 24/16 // 1.500
  // @p-font_size_h3_s: @g-font_size_h3; // 20/16 // 1.250
  // @p-font_size_h4_s: @g-font_size_h4; // 16/16 // 1.000
  // @p-font_size_h5_s: @g-font_size_h5; // 14/16 // 0.875
  // @p-font_size_h6_s: @g-font_size_h6; // 12/16 // 0.750
  // ---- @media screen and (min-width: 30em) ---- //
  @p-font_size_h1_sK: @g-font_size_h1; // 32/16 // 2.000
  // @p-font_size_h2_sK: @g-font_size_h2; // 24/16 // 1.500
  // @p-font_size_h3_sK: @g-font_size_h3; // 20/16 // 1.250
  // @p-font_size_h4_sK: @g-font_size_h4; // 16/16 // 1.000
  // @p-font_size_h5_sK: @g-font_size_h5; // 14/16 // 0.875
  // @p-font_size_h6_sK: @g-font_size_h6; // 12/16 // 0.750
  @p-lines_h1_sK: ceil(@p-font_size_h1_sK / @g-line_height); // 2
  // @p-lines_h2_sK: ceil(@p-font_size_h2_sK / @g-line_height); // 1
  // @p-lines_h3_sK: ceil(@p-font_size_h3_sK / @g-line_height); // 1
  // @p-lines_h4_sK: ceil(@p-font_size_h4_sK / @g-line_height); // 1
  // @p-lines_h5_sK: ceil(@p-font_size_h5_sK / @g-line_height); // 1
  // @p-lines_h6_sK: ceil(@p-font_size_h6_sK / @g-line_height); // 1
  // ---- @media screen and (min-width: 45em) ---- //
  @p-font_size_h1_sM: 48/16; // 3.000
  @p-font_size_h2_sM: 32/16; // 2.000
  @p-font_size_h3_sM: 24/16; // 1.500
  @p-font_size_h4_sM: 20/16; // 1.250
  @p-font_size_h5_sM: 16/16; // 1.000
  @p-font_size_h6_sM: 12/16; // 0.750
  @p-lines_h1_sM: ceil(@p-font_size_h1_sM / @g-line_height); // 2
  @p-lines_h2_sM: ceil(@p-font_size_h2_sM / @g-line_height); // 2
  @p-lines_h3_sM: ceil(@p-font_size_h3_sM / @g-line_height); // 1
  @p-lines_h4_sM: ceil(@p-font_size_h4_sM / @g-line_height); // 1
  @p-lines_h5_sM: ceil(@p-font_size_h5_sM / @g-line_height); // 1
  @p-lines_h6_sM: ceil(@p-font_size_h6_sM / @g-line_height); // 1
  // ---- @media screen and (min-width: 60em) ---- //
  @p-font_size_h1_sG: 64/16; // 4.000
  @p-font_size_h2_sG: 48/16; // 3.000
  @p-font_size_h3_sG: 32/16; // 2.000
  @p-font_size_h4_sG: 24/16; // 1.500
  @p-font_size_h5_sG: 20/16; // 1.250
  @p-font_size_h6_sG: 16/16; // 1.000
  @p-lines_h1_sG: ceil(@p-font_size_h1_sG / @g-line_height); // 3
  @p-lines_h2_sG: ceil(@p-font_size_h2_sG / @g-line_height); // 2
  @p-lines_h3_sG: ceil(@p-font_size_h3_sG / @g-line_height); // 2
  @p-lines_h4_sG: ceil(@p-font_size_h4_sG / @g-line_height); // 1
  @p-lines_h5_sG: ceil(@p-font_size_h5_sG / @g-line_height); // 1
  @p-lines_h6_sG: ceil(@p-font_size_h6_sG / @g-line_height); // 1
  // ---- @media screen and (min-width: 75em) ---- //
  @p-font_size_h1_sT: 80/16; // 5.000
  @p-font_size_h2_sT: 64/16; // 4.000
  @p-font_size_h3_sT: 48/16; // 3.000
  @p-font_size_h4_sT: 32/16; // 2.000
  @p-font_size_h5_sT: 24/16; // 1.500
  @p-font_size_h6_sT: 20/16; // 1.250
  @p-lines_h1_sT: ceil(@p-font_size_h1_sT / @g-line_height); // 4
  @p-lines_h2_sT: ceil(@p-font_size_h2_sT / @g-line_height); // 3
  @p-lines_h3_sT: ceil(@p-font_size_h3_sT / @g-line_height); // 2
  @p-lines_h4_sT: ceil(@p-font_size_h4_sT / @g-line_height); // 2
  @p-lines_h5_sT: ceil(@p-font_size_h5_sT / @g-line_height); // 1
  @p-lines_h6_sT: ceil(@p-font_size_h6_sT / @g-line_height); // 1
  // ---- @media screen and (min-width: 90em) ---- //


h1, h2, h3, h4, h5, h6 {
  font-family: @g-font_family_heading;
  font-weight: 800; // "ExtraBlack", special font-weight for 'Optima' family
  text-rendering: geometricPrecision;
  .transition(font-size, line-height; @g-ani_short);
}
h1 {
  @media screen and (min-width: 30em) { .font-size-block(@p-font_size_h1_sK; @g-line_height; @p-lines_h1_sK); } // only changes line-height
  @media screen and (min-width: 45em) { .font-size-block(@p-font_size_h1_sM; @g-line_height; @p-lines_h1_sM); }
  @media screen and (min-width: 60em) { .font-size-block(@p-font_size_h1_sG; @g-line_height; @p-lines_h1_sG); }
  @media screen and (min-width: 75em) { .font-size-block(@p-font_size_h1_sT; @g-line_height; @p-lines_h1_sT); }
  text-align: center;
  font-weight: 100;
  @media screen {
    color: @g-color_h_major;
  }
}
h1.old {
  font-variant: small-caps;
  font-weight: 800; // reset to specified
}
h2 {
  @media screen and (min-width: 45em) { .font-size-block(@p-font_size_h2_sM; @g-line_height; @p-lines_h2_sM); }
  @media screen and (min-width: 60em) { .font-size-block(@p-font_size_h2_sG; @g-line_height; @p-lines_h2_sG); }
  @media screen and (min-width: 75em) { .font-size-block(@p-font_size_h2_sT; @g-line_height; @p-lines_h2_sT); }
  .hr-bottom(1px; solid; @space: 0); // alternative to .border-vert(bottom; 1px); border-bottom-style: solid;
  @media screen {
    color: @g-color_h_minor;
  }
}
h3 {
  @media screen and (min-width: 45em) { .font-size-block(@p-font_size_h3_sM; @g-line_height; @p-lines_h3_sM); }
  @media screen and (min-width: 60em) { .font-size-block(@p-font_size_h3_sG; @g-line_height; @p-lines_h3_sG); }
  @media screen and (min-width: 75em) { .font-size-block(@p-font_size_h3_sT; @g-line_height; @p-lines_h3_sT); }
  font-variant: small-caps;
}
h4 {
  @media screen and (min-width: 45em) { .font-size-block(@p-font_size_h4_sM; @g-line_height; @p-lines_h4_sM); }
  @media screen and (min-width: 60em) { .font-size-block(@p-font_size_h4_sG; @g-line_height; @p-lines_h4_sG); }
  @media screen and (min-width: 75em) { .font-size-block(@p-font_size_h4_sT; @g-line_height; @p-lines_h4_sT); }
  font-style: italic;
}
h5 {
  @media screen and (min-width: 45em) { .font-size-block(@p-font_size_h5_sM; @g-line_height; @p-lines_h5_sM); }
  @media screen and (min-width: 60em) { .font-size-block(@p-font_size_h5_sG; @g-line_height; @p-lines_h5_sG); }
  @media screen and (min-width: 75em) { .font-size-block(@p-font_size_h5_sT; @g-line_height; @p-lines_h5_sT); }
  font-style: italic;
  font-weight: 400;
  @media screen {
    color: @g-color_h_minor;
  }
}
h6 {
  @media screen and (min-width: 45em) { .font-size-block(@p-font_size_h6_sM; @g-line_height; @p-lines_h6_sM); }
  @media screen and (min-width: 60em) { .font-size-block(@p-font_size_h6_sG; @g-line_height; @p-lines_h6_sG); }
  @media screen and (min-width: 75em) { .font-size-block(@p-font_size_h6_sT; @g-line_height; @p-lines_h6_sT); }
  font-style: italic;
  font-weight: 400;
  font-variant: small-caps;
}
