
/*################################*\
    _base.grouping.paragraphs.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/src/__tool.module.borders.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.module.delims.less');
@import (reference) url('__settings.less');
@import (reference) url('__tool.module.ui.less');


figure {
  @media screen {
    border-left:  0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    padding-left:  0.75rem;
    padding-right: 0.75rem;
  }
}

blockquote {
  @media screen {
    border-left: 0.75rem double transparent;
    padding-left: 0.25rem;
  }
  > footer {
    text-align: right;
    > cite {
      #XMETER .parens();
    }
  }
}

// `pre` Element.
// CHANGED: Will only use `pre` for blocks of code. No longer using child `code` Element for entire block.
//
// Child Elements:
// `> code`   - fragments of code (per usual)
// `> small`  - code comments
// `> strong` - importance
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-24
pre {
  #CHH .VARS();
  #XMETER .font-size-block(@chh_font_size_micro; @chh_line_height);
  font-family: @chh_font_family_code;
  // [1] `.o-Box`
  // [2] `.t-bg-lun-lite`
  // [3] `.t-fg-sol-lite`
  // [4] `.t-fg-sol-lite > .c__Comm`
  // [5] `.t-fg-sol-lite > .c__Emph`
  @media screen {
    #CHH .VARS();
    padding: @chh_ui_padding_sml;             // [1]
    #XMETER .border-vert(all; 2px);           // [1]
    border-style: solid;                      // [1]
    border-radius: @chh_ui_border_radius_sml; // [1]
    overflow: auto;                           // [1]
    background: @chh_color_lun_lite_bg;     // *[2]
    border-color: @chh_color_lun_lite_brdr; // *[2]
    color: @chh_color_sol_lite_txt; // *[3]
    > small  {color: @chh_color_sol_lite_comm;} // *[4]
    > strong {color: @chh_color_sol_lite_emph;} // *[5]
  }
  @media print {
    #CHH .CONSTS();
    // background: @color_table_bg; // FIXME: color used outside of scope
    background: fadeout(@chh_color_portal_apertureblack, 96%); // FIXME: @color_table_bg
  }
  small,
  code, kbd, samp {
    font-size: inherit; // undo compounding font sizes
  }
  > small {
    font-style: italic;
  }
}
