@import (reference) url('../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('__settings.less');

/*################################*\
    chharvey  |  _comp.typo.Subhead.less
\*################################*/


// This Component represents a generic tagline for a top-level heading, called a "subheading".
// Do not include this component inside a heading Element (it will become part of the
// document outline if you do). Instead, this tagline should be the adjacent sibling to the
// corresponding heading.
//
// Use this Object to represent subtitles for top-level headings only (`h1`). There is no need
// to use it for minor headings (`h2`–`h6`).
//
// ^example
// : <h1> The heading </h1>
// : <p class="c-Subhead"> The subheading </p>
// ^author
// : Chris Harvey
// ^updated
// : 2016-02-02
.c-Subhead {
  @media screen {
    #CHH .VARS();
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: @chh_font_family_script;
    text-align: center;
    text-rendering: geometricPrecision;
    color: @chh_color_h_sub;
  }
  @media screen { // @s
    // script typeface has large ascenders & descenders
    #CHH .VARS();
    .font-size-block(@chh_font_size_normal; @chh_line_height; 2);
  }
  @media screen and (min-width: 45em) { // @sM
    #CHH .VARS();
    .font-size-block(@chh_font_size_kilo; @chh_line_height; 1);
  }
  @media screen and (min-width: 60em) { // @sG
    #CHH .VARS();
    .font-size-block(@chh_font_size_mega; @chh_line_height; 2);
  }
  @media screen and (min-width: 75em) { // @sT
    #CHH .VARS();
    .font-size-block(@chh_font_size_giga; @chh_line_height; 2);
  }
}
