
/*################################*\
    _obj.GoldenContainer.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('../../../node_modules/xmeter/src/__tool.fallback.transition.less');
@import (reference) url('../../../node_modules/xmeter/src/__tool.module.clearfix.less');


// The GoldenContainer theme represents an object containing 3 objects pieces of layout:
// 1. The "Content" object, which forms an inverse golden proportion with its container (the body).
//    The remainder of the space is then split into the two remaining sidebars.
// 2. The "Major" sidebar object forms an inverse golden proportion with the "Content" piece, and
//    is typically on the left side.
// 3. The "Minor" sidebar object forms an inverse golden proportion with the "Major" piece, and
//    is typically on the right side.
//
// Subclasses of `GoldenContainer`:
// `--flip`  - flips the column widths horizontally
//
// Subcomponents of `GoldenContainer`:
// `__Content`        - the main content of the page
// `__Sidebar`        - content not directly related to page
// `__Sidebar--major` - a type of sidebar: primary content
// `__Sidebar--minor` - a type of sidebar: secondary content
//
// NOTE that a `Sidebar` cannot be inside the `Content` or its positioning and width will be
// relative to the `Content`, instead of the `GoldenContainer` as intended.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-11-04

// variables for container’s horizontal spacing
@hspace_s: 0.5rem;
@hspace_M: 1rem;
@hspace_G: @hspace_M;
@hspace_T: 2rem;

.o-GoldenContainer {
  @media screen { // @s
    position: relative; // only because there are positioned children
    margin-left:  @hspace_s;
    margin-right: @hspace_s;
    #CHH .VARS();
    margin-bottom: 8*@chh_vru; // TODO may move to `body` element
    #XMETER .transition(margin; @chh_ani_short);
  }
  @media screen and (min-width: 45em) { // @sM
    // contains 2 columns: p2 + p1
    margin-left:  @hspace_M;
    margin-right: @hspace_M;
  }
  @media screen and (min-width: 60em) { // @sG
    // contains 3 columns: p3 + p1 + p4
  }
  @media screen and (min-width: 75em) { // @sT
    margin-left:  @hspace_T;
    margin-right: @hspace_T;
  }
}
.o-GoldenContainer--flip {}

.o-GoldenContainer__Content,
.o-GoldenContainer__Sidebar {
  #CHH .VARS();
  #XMETER .transition(left, top, width, padding; @chh_ani_short);
}

.o-GoldenContainer__Content {
  @media screen and (min-width: 45em) { // @sM
    // 2 columns: p2 + 'p1'
    position: relative;
    #CHH .CONSTS();
    left: @golden2;
    width: @golden1;
    padding-left: @hspace_M;
  }
  @media screen and (min-width: 60em) { // @sG
    // 3 columns: p3 + 'p1' + p4
    #CHH .CONSTS();
    left: @golden3;
    padding-left:  @hspace_G;
    padding-right: @hspace_G;
  }
  @media screen and (min-width: 75em) { // @sT
    padding-left:  @hspace_T;
    padding-right: @hspace_T;
  }
  .o-GoldenContainer--flip & {
    @media screen and (min-width: 45em) { // @sM
      // 2 columns: 'p1' + p2
      #CHH .CONSTS();
      left: 0;
      padding-left: initial;
      padding-right: @hspace_M;
    }
    @media screen and (min-width: 60em) { // @sG
      // 3 columns: p4 + 'p1' + p3
      #CHH .CONSTS();
      left: @golden4;
      padding-left:  @hspace_G; // FIXME duplicate code
      padding-right: @hspace_G; // FIXME duplicate code
    }
    @media screen and (min-width: 75em) { // @sT
      padding-left:  @hspace_T; // FIXME duplicate code
      padding-right: @hspace_T; // FIXME duplicate code
    }
  }
}

.o-GoldenContainer__Sidebar {
  @media screen and (min-width: 45em) { // @sM
    // 2 columns: 'p2' + p1
    position: absolute;
    #CHH .CONSTS();
    left: 0;
    width: @golden2;
  }
  .o-GoldenContainer--flip & {
    @media screen and (min-width: 45em) { // @sM
      // 2 columns: p1 + 'p2'
      #CHH .CONSTS();
      left: @golden1;
    }
  }
}
.o-GoldenContainer__Sidebar--major {
  @media screen and (min-width: 45em) { // @sM
    // 2 columns: 'p2' + p1
    top: 0;
  }
  @media screen and (min-width: 60em) { // @sG
    // 3 columns: 'p3' + p1 + p4
    #CHH .CONSTS();
    left: 0;
    width: @golden3;
  }
  .o-GoldenContainer--flip & {
    @media screen and (min-width: 60em) { // @sG
      // 3 columns: p4 + p1 + 'p3'
      #CHH .CONSTS();
      left: auto;
      right: 0;
    }
  }
}
.o-GoldenContainer__Sidebar--minor {
  @media screen and (min-width: 60em) { // @sG
    // 3 columns: p3 + p1 + 'p4'
    #CHH .CONSTS();
    left: auto;
    right: 0;
    top: 0;
    width: @golden4;
  }
  .o-GoldenContainer--flip & {
    @media screen and (min-width: 60em) { // @sG
      // 3 columns: 'p4' + p1 + p3
      #CHH .CONSTS();
      left: 0;
      right: auto;
    }
  }
}


// This Interface undoes the effects of the `main.Main-Golden` Element to a component inside.
// Essentially, it treats the component as if it were not inside the `main` Element.
//
// ^author
// : Chris Harvey
// ^updated
// : 2014-10-07
// .undo-MainGolden() {
//   width: @inv_golden1;
//   position: relative;
//   left: -@golden2;
// }
