@import (reference) url('../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('__settings.less');

/*################################*\
    chharvey  |  _trumps.atom.font-size.less
\*################################*/


.a-fz-zetta  { #CHH .VARS(); font-size: (@chh_font_size_zetta  * 1rem); }
.a-fz-exa    { #CHH .VARS(); font-size: (@chh_font_size_exa    * 1rem); }
.a-fz-peta   { #CHH .VARS(); font-size: (@chh_font_size_peta   * 1rem); }
.a-fz-tera   { #CHH .VARS(); font-size: (@chh_font_size_tera   * 1rem); }
.a-fz-giga   { #CHH .VARS(); font-size: (@chh_font_size_giga   * 1rem); }
.a-fz-mega   { #CHH .VARS(); font-size: (@chh_font_size_mega   * 1rem); }
.a-fz-kilo   { #CHH .VARS(); font-size: (@chh_font_size_kilo   * 1rem); }
.a-fz-normal { #CHH .VARS(); font-size: (@chh_font_size_normal * 1rem); }
.a-fz-milli  { #CHH .VARS(); font-size: (@chh_font_size_milli  * 1rem); }
.a-fz-micro  { #CHH .VARS(); font-size: (@chh_font_size_micro  * 1rem); }
.a-fz-nano   { #CHH .VARS(); font-size: (@chh_font_size_nano   * 1rem); }
@media screen {
  .a-fz-zetta\@s  { .a-fz-zetta ; }
  .a-fz-exa\@s    { .a-fz-exa   ; }
  .a-fz-peta\@s   { .a-fz-peta  ; }
  .a-fz-tera\@s   { .a-fz-tera  ; }
  .a-fz-giga\@s   { .a-fz-giga  ; }
  .a-fz-mega\@s   { .a-fz-mega  ; }
  .a-fz-kilo\@s   { .a-fz-kilo  ; }
  .a-fz-normal\@s { .a-fz-normal; }
  .a-fz-milli\@s  { .a-fz-milli ; }
  .a-fz-micro\@s  { .a-fz-micro ; }
  .a-fz-nano\@s   { .a-fz-nano  ; }
}
@media print {
  .a-fz-zetta\@p  { .a-fz-zetta ; }
  .a-fz-exa\@p    { .a-fz-exa   ; }
  .a-fz-peta\@p   { .a-fz-peta  ; }
  .a-fz-tera\@p   { .a-fz-tera  ; }
  .a-fz-giga\@p   { .a-fz-giga  ; }
  .a-fz-mega\@p   { .a-fz-mega  ; }
  .a-fz-kilo\@p   { .a-fz-kilo  ; }
  .a-fz-normal\@p { .a-fz-normal; }
  .a-fz-milli\@p  { .a-fz-milli ; }
  .a-fz-micro\@p  { .a-fz-micro ; }
  .a-fz-nano\@p   { .a-fz-nano  ; }
}

.a-fzb-zetta  { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_zetta , @chh_line_height); }
.a-fzb-exa    { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_exa   , @chh_line_height); }
.a-fzb-peta   { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_peta  , @chh_line_height); }
.a-fzb-tera   { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_tera  , @chh_line_height); }
.a-fzb-giga   { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_giga  , @chh_line_height); }
.a-fzb-mega   { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_mega  , @chh_line_height); }
.a-fzb-kilo   { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_kilo  , @chh_line_height); }
.a-fzb-normal { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_normal, @chh_line_height); }
.a-fzb-milli  { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_milli , @chh_line_height); }
.a-fzb-micro  { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_micro , @chh_line_height); }
.a-fzb-nano   { #CHH .VARS(); #XMETER .font-size-block(@chh_font_size_nano  , @chh_line_height); }
@media screen {
  .a-fzb-zetta\@s  { .a-fzb-zetta ; }
  .a-fzb-exa\@s    { .a-fzb-exa   ; }
  .a-fzb-peta\@s   { .a-fzb-peta  ; }
  .a-fzb-tera\@s   { .a-fzb-tera  ; }
  .a-fzb-giga\@s   { .a-fzb-giga  ; }
  .a-fzb-mega\@s   { .a-fzb-mega  ; }
  .a-fzb-kilo\@s   { .a-fzb-kilo  ; }
  .a-fzb-normal\@s { .a-fzb-normal; }
  .a-fzb-milli\@s  { .a-fzb-milli ; }
  .a-fzb-micro\@s  { .a-fzb-micro ; }
  .a-fzb-nano\@s   { .a-fzb-nano  ; }
}
@media print {
  .a-fzb-zetta\@p  { .a-fzb-zetta ; }
  .a-fzb-exa\@p    { .a-fzb-exa   ; }
  .a-fzb-peta\@p   { .a-fzb-peta  ; }
  .a-fzb-tera\@p   { .a-fzb-tera  ; }
  .a-fzb-giga\@p   { .a-fzb-giga  ; }
  .a-fzb-mega\@p   { .a-fzb-mega  ; }
  .a-fzb-kilo\@p   { .a-fzb-kilo  ; }
  .a-fzb-normal\@p { .a-fzb-normal; }
  .a-fzb-milli\@p  { .a-fzb-milli ; }
  .a-fzb-micro\@p  { .a-fzb-micro ; }
  .a-fzb-nano\@p   { .a-fzb-nano  ; }
}
