extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Unit 5 Overview'
    var classes_body = ''
    var description = 'A unit overview of the Geometry unit in the Grade 7 Mathematics curriculum.'

block append mainHeader
  div.
    <h1>Unit 5: Geometry</h1>
    <dl class="docmeta">
      <dt>Author</dt>
      <dd>Chris Harvey</dd>
      <dt>Description</dt>
      <dd>A unit overview of the Geometry unit in the Grade 7 Mathematics curriculum.</dd>
      <dt>Version History</dt>
      <dd class="update">
        <time datetime="2014-01-31 23:55">Jan 31, 2014 <span class="tod">11:55 PM</span></time>
      </dd>
      <dd class="update">
        <time datetime="2014-03-23 23:46">Mar 23, 2014 <span class="tod">11:46 PM</span></time>
      </dd>
      <dd class="update">
        <time datetime="2014-03-26 22:09">Mar 26, 2014 <span class="tod">10:09 PM</span></time>
      </dd>
      <dd class="update">
        <time datetime="2014-04-29 05:42">Apr 29, 2014 <span class="tod">5:42 AM</span></time>
      </dd>
      <dd class="update">
        <time datetime="2014-05-02 02:26" itemprop="dateModified">May 2, 2014 <span class="tod">2:26 AM</span></time>
      </dd>
    </dl>

block append main
  div.
    <p>This unit explores patterns of integers and rational numbers and relationships
      between two variables. Students will analyze and generalize sequences of integers and
      rational numbers. They will also explore different forms of relations using a variety
      of representations, and will identify and derive rules for functions.</p>
    <section id="unitobjectives">
      <h2>Learning Objectives</h2>
      <section id="perfectsquares">
        <h3>Perfect Squares <span class="caution">No Calculator</span></h3>
        <ul>
          <li>Represent perfect squares and square roots geometrically.
            <ul>
              <li>Select or write an appropriate equation represented by a given
                diagram. Equations will be of the form
                <span class="js-mt">a^2=A</span> or
                <span class="js-mt">\sqrt{A}=a</span> (where
                <span class="js-mt">a</span> is an integer between
                <span class="js-mt">0</span> and <span class="js-mt">20</span>).</li>
              <li>Find the side length of a square with a given area.</li>
              <li>Find the area of a square with a given side length.</li>
            </ul>
          </li>
          <li class="ov-insertional">Determine the square of an integer
            <span class="js-mt">a</span> between <span class="js-mt">0</span> and
            <span class="js-mt">20</span>.
            <ul>
              <li>Expand <span class="js-mt">a^2</span> into factors.</li>
              <li>Evaluate <span class="js-mt">a^2</span>.</li>
            </ul>
          </li>
          <li>Determine the positive square root of a perfect square
            <span class="js-mt">A</span> between <span class="js-mt">0</span> and
            <span class="js-mt">400</span> <span class="ov-teachernote">(that is,
              <span class="js-mt">A=a^2</span> for some integer
              <span class="js-mt">a</span> between <span class="js-mt">0</span> and
              <span class="js-mt">20</span>)</span>.
            <ul>
              <li>Evaluate <span class="js-mt">\sqrt{A}</span>.</li>
              <li class="ov-optional">Evaluate <span class="js-mt">\sqrt{\left(a^2\right)}</span>.</li>
              <li class="ov-optional">Evaluate <span class="js-mt">\left(\sqrt{A}\right)^2</span>.</li>
            </ul>
          </li>
        </ul>
      </section>
      <section id="volumesurfacearea">
        <h3>Volume and Surface Area</h3>
        <ul>
          <li>Given rectangular prisms and cylinders may be represented as diagrams (a 3D
            projection onto a 2D surface) or as nets that are comprised of the faces of
            the solids.</li>
        </ul>
        <ul>
          <li>Calculate the volume and surface area of a rectangular prism, given
            its length, width, and height. <span class="ov-insertional">If the prism is a cube,
              only one measured attribute will be given.</span></li>
          <li class="ov-optional">Calculate the volume of a rectangular prism, given
            the area of its base and its height.</li>
          <li class="ov-insertional">Find one measured attribute (either length, width, or
            height) of a rectangular prism given its volume and the other two attributes. If
            the prism is a cube, only the volume will be given.</li>
          <li>Describe how the volume and surface area of a rectangular prism are
            affected by a change in one measured attribute (either length, width, or height).
            The attribute will be changed by a scale factor only.</li>
        </ul>
        <ul>
          <li>Calculate the volume and surface area of a cylinder, given its
            radius and height.</li>
          <li class="ov-optional">Calculate the volume of a cylinder, given the area of its
            base and its height.</li>
        </ul>
        <ul>
          <li>Determine whether a word problem calls for the application of volume or
            surface area.</li>
          <li>Solve practical problems involving the volume and surface area of
            rectangular prisms and cylinders.</li>
        </ul>
      </section>
      <section id="quadrilaterals">
        <h3>Quadrilaterals</h3>
        <ul>
          <li>Identify and use geometric markings to represent congruent segments,
            parallel segments, congruent angles, and right angles in figures.</li>
          <li>Identify properties of quadrilaterals, parallelograms, rectangles,
            rhombi, squares, trapezoids, and isosceles trapezoids. Properties will involve
            congruent/parallel (opposite) sides, congruent/right (opposite) angles, and
            bisecting/congruent/perpendicular diagonals.</li>
          <li>Identify the most specific name of a given quadrilateral based on a
            description of its properties or a figure with geometric markings.</li>
          <li>Identify categories to which a given quadrilateral belongs based on a
            description of its properties or a figure with geometric markings.</li>
        </ul>
      </section>
      <section id="transformations">
        <h3>Transformations</h3>
        <ul>
          <li>Given a figure (triangle or quadrilateral) in the coordinate plane, find the
            coordinates of the figure after performing either of the following transformations:
            <ul>
              <li>a translation involving at most two steps (one horizontal
                and/or one vertical)</li>
              <li>a reflection over exactly one of the
                <span class="js-mt">x</span>- or <span class="js-mt">y</span>-axis</li>
              <li>a dilation of
                <span class="js-mt">2</span>,
                <span class="js-mt">3</span>,
                <span class="js-mt">4</span>,
                <span class="js-mt">\frac{1}{2}</span>&frac12;, or
                <span class="js-mt">\frac{1}{4}</span>&frac14; from the origin</li>
              <li>a rotation of <span class="js-mt">90\deg</span>90&deg; or
                <span class="js-mt">180\deg</span>180&deg; clockwise or counter-clockwise
                about the origin</li>
            </ul>
          </li>
        </ul>
      </section>
    </section>
    <section id="vocab">
      <h2>Vocabulary</h2>
      <dl class="list-vocab">
        <dt><dfn id="d-perfect-square">perfect square</dfn></dt>
        <dd></dd>
        <dt><dfn id="d-square-root">square root</dfn></dt>
        <dd></dd>
        <dt><dfn id="d-length">length</dfn></dt>
        <dd></dd>
        <dt><dfn id="d-width">width</dfn></dt>
        <dd></dd>
        <dt><dfn id="d-height">height</dfn></dt>
        <dd></dd>
        <dt><dfn id="d-radius">radius</dfn></dt>
        <dd></dd>
        <dt><dfn id="d-volume">volume</dfn></dt>
        <dd>how much space fills the inside of a solid</dd>
        <dt><dfn id="d-surface-area">surface area</dfn></dt>
        <dd>how much area covers the outside of a solid</dd>
        <dt><dfn id="d-diagonal">diagonal</dfn></dt>
        <dd>a line segment that connects non-adjacent angles in a figure</dd>
        <dt><dfn id="d-congruent-segment">congruent segments</dfn></dt>
        <dd>line segments that have the same length</dd>
        <dt><dfn id="d-congruent-segment">bisecting segments</dfn></dt>
        <dd>line segments that cut each other in half</dd>
        <dt><dfn id="d-congruent-segment">perpendicular segments</dfn></dt>
        <dd>line segments that intersect at a right angle</dd>
        <dt><dfn id="d-quadrilateral">quadrilateral</dfn></dt>
        <dd>a figure with four sides</dd>
        <dt><dfn id="d-parallelogram">parallelogram</dfn></dt>
        <dd>a quadrilateral with two sets of parallel sides</dd>
        <dd>a quadrilateral with two sets of congruent opposite sides</dd>
        <dd>a quadrilateral with two sets of congruent opposite angles</dd>
        <dd>a quadrilateral with bisecting diagonals</dd>
        <dt><dfn id="d-rectangle">rectangle</dfn></dt>
        <dd>a quadrilateral with four right angles</dd>
        <dd>a quadrilateral with congruent bisecting diagonals</dd>
        <dt><dfn id="d-rhombus">rhombus</dfn></dt>
        <dd>a quadrilateral with four congruent sides</dd>
        <dd>a quadrilateral with perpendicular bisecting diagonals</dd>
        <dt><dfn id="d-square">square</dfn></dt>
        <dd>a quadrilateral with four right angles and four congruent sides</dd>
        <dd>a quadrilateral with congruent, perpendicular diagonals that bisect</dd>
        <dt><dfn id="d-trapezoid">trapezoid</dfn></dt>
        <dd>a quadrilateral with one set of parallel sides</dd>
        <dt><dfn id="d-isosceles-trapezoid">isosceles trapezoid</dfn></dt>
        <dd>a trapezoid whose non-parallel sides are congruent</dd>
        <dd>a trapezoid with congruent diagonals</dd>
        <dt><dfn id="d-transformation">transformation</dfn></dt>
        <dd>a change in position of a point or figure in the coordinate plane</dd>
        <dt><dfn id="d-translation">translation</dfn></dt>
        <dd>a transformation in which every point in a figure moves the same distance in the
          same direction within a plane (also called a &ldquo;slide&rdquo;)</dd>
        <dt><dfn id="d-reflection">reflection</dfn></dt>
        <dd>a transformation that produces a mirror image of a figure by flipping it over a line
          (also called a &ldquo;flip&rdquo;)</dd>
        <dt><dfn id="d-dilation">dilation</dfn></dt>
        <dd>a transformation that changes the size of a figure, but not its shape
          (also called an &ldquo;enlargement&rdquo; or &ldquo;reduction&rdquo;)</dd>
        <dt><dfn id="d-rotation">rotation</dfn></dt>
        <dd>a transformation that turns a figure around a point
          (also called a &ldquo;turn&rdquo;)</dd>
        <dt><dfn id="d-clockwise">clockwise</dfn></dt>
        <dd>&ldquo;righty-tighty&rdquo;</dd>
        <dt><dfn id="d-counter-clockwise">counter-clockwise</dfn></dt>
        <dd>&ldquo;lefty-loosy&rdquo;</dd>
      </dl>
    </section>
    <section id="lessons">
      <h2>Lessons</h2>
      <ol class="c-ListAction">
        <li class="c-ListAction__Item cat-hw">
          <a rel="external"
          href="https://docs.google.com/document/d/10lHc5-giZPICa74oDeUwnyPsXgxFTJXy_UHSMeD9JG4/edit?usp=sharing">
          Unit 5 Homework Log</a></li>
        <li class="c-ListAction__Item">Lesson 5.1: Perfect Squares</li>
        <li class="c-ListAction__Item">Lesson 5.2: Rectangular Prisms</li>
        <li class="c-ListAction__Item">Lesson 5.3: Cylinders</li>
        <li class="c-ListAction__Item">Lesson 5.4: Volume and Surface Area Word Problems</li>
        <li class="c-ListAction__Item">Lesson 5.5: Quadrilaterals</li>
        <li class="c-ListAction__Item">Lesson 5.6: Transformations</li>
      </ol>
    </section>

block append body
  div.
    <nav class="Bc">
      <ol class="Anc">
        <li><a class="Crumb" rel="top"      href="../../../index.html">Home</a></li>
        <li><a class="Crumb" rel="ancestor" href="../../../home/math.html">Math</a></li>
        <li><a class="Crumb" rel="ancestor" href="../../index.html">Secondary Ed</a></li>
        <li><a class="Crumb" rel="parent"   href="../index.html">Grade 7</a></li>
        <li><a class="Crumb" rel="this"     href="#">Geometry</a>
          <ul class="Sib">
            <li><a class="Crumb" rel="sibling" href="../integers/index.html">Operations on Integers</a></li>
            <li><a class="Crumb" rel="sibling" href="../equations/index.html">Equations &amp; Inequalities</a></li>
            <li><a class="Crumb" rel="sibling" href="../proportions/index.html">Rational Numbers &amp; Proportions</a></li>
            <li><a class="Crumb" rel="sibling" href="../patterns/index.html">Patterns &amp; Relations</a></li>
            <li><a class="Crumb" rel="sibling" href="../prob-stats/index.html">Probability &amp; Statistics</a></li>
          </ul>
        </li>
      </ol>
    </nav>
