/* fileA.less */
.box-inline {
	display: inline;
	border: 1px solid black;
}
.box-inline-block {
	&:extend(.box-inline);
	display: inline-block;
	font-style: italic;
}
.box-block {
	&:extend(.box-inline-block);
	display: block;
	font-weight: bold;
}
