/* fileA.less */
.box-inline,
.box-inline-block,
.box-block {
  display: inline;
  border: 1px solid black;
}
.box-inline-block,
.box-block {
  display: inline-block;
  font-style: italic;
}
.box-block {
  display: block;
  font-weight: bold;
}
/* fileB.less */
.box-inline-block,
.box-block {
  display: inline;
  border: 1px solid black;
}
.box-block {
  display: inline-block;
  font-style: italic;
}
/* nothing here */
