/**** ==== CSS for -SKIN- ==== ****/

/* @group font */
	/* @group font style */
/*	.h,
	.code,
	.masthead {font-style: normal;}*/
	.h {font-style: normal;}
	.h-delta,
	.h-epsilon,
	.h-zeta {font-style: italic;}
	/* @end */
	
	/* @group font variant */
	.h {font-variant: normal;}
	.h-alpha,
	.h-gamma,
	.h-zeta {font-variant: small-caps;}
	/* @end */
	
	/* @group font weight */
	.h {font-weight: normal;}
	.h-alpha,
	.h-beta,
	.h-gamma,
	.h-delta,
	.lede,
	.table .header,
	.masthead,
	.nav-hub .box-block {font-weight: bold;}
	.scare {font-weight: inherit; font-style: inherit;}
	/* @end */
	
	/* @group font size */
	body,
	.h {font-size: 12pt;}
	.h-alpha   {font-size: 2.000em;} /* 24 */
	.h-beta    {font-size: 1.500em;} /* 18 */
	.h-gamma   {font-size: 1.167em;} /* 14 */
	.h-delta   {font-size: 1.000em;} /* 12 */
	.h-epsilon,
	.h-zeta,
	.cap {font-size: 0.833em;} /* 10 */
	.phone,
	.email,
	.code,
	.superscript,
	.subscript {font-size: smaller;}
	.key {font-size: 1.167em;} /* 14 */
	.tex {font-size: 0.833em;} /* 10 */
	.masthead {font-size: 72pt;} /* 1in */
/*	.hub-footer {font-size: 8pt;}*/
	/* @end */
	
	/* @group font family */
	body,
	.lede {font-family: 'Optima','Century Gothic',sans-serif;}
	.h {font-family: 'Arial Narrow','Arial',sans-serif;}
	.prose {font-family: 'Palatino','Book Antiqua',serif;}
	.phone,
	.email,
	.tex,
	kbd kbd {font-family: 'Lucida Sans Typewriter','Monaco','Courier New','Courier',monospace;} /* sans-serif monospaced */
	.code {font-family: 'Courier New','Courier','Lucida Sans Typewriter','Monaco',monospace;} /* serif monospaced */
	.masthead {font-family: 'Times','Times New Roman',serif;}
	/* @end */
/* @end */

/* @group text */
	/* @group text indent */
	.h-epsilon,
	.h-zeta {text-indent: 0.5in;}
	/* @end */
	
	/* @group text align */
	.nav-hub .box-block {text-align: right;}
	.title,
	.title .h,
	.h-alpha,
	.table,
	.masthead,
	.hub-footer,
	figure {text-align: center;}
	.lede,
	.prose {text-align: justify;}
	/* @end */
	
	/* @group horizontal spacing */
	.hindent-5      {text-indent: -0.5in;  padding-left: 0.5in;}
	.hindent-25     {text-indent: -0.25in; padding-left: 0.25in;}
	.hindent-em,
	.list-action li {text-indent: -1em;    padding-left: 1em;}
	.h {letter-spacing: 2px;}
	/* @end */
	
	/* @group vertical spacing */
	.prose {line-height: 1.4em;}
	.lede {line-height: 1.5em;}
	.superscript {vertical-align: super;}
	.subscript   {vertical-align: sub;}
	.nav-hub .box-block {vertical-align: middle;}
	.nowrap {white-space: nowrap;}
	.tex {white-space: pre;}
	/* @end */
	
/* @end */

/* @group decoration */
a {border-bottom: 1px dotted;}/* this border counts as decoration, not structure */
.mylogo {border-bottom: none;}
a,
.box-block-a {text-decoration: none;}

/* scare quotes */
.scare:before {content: '\2018';} /*left single quote*/
.scare:after  {content: '\2019';} /*right single quote*/

.list-action li:before {content: '\2713\00A0';} /* check mark, space */
.list-action li .a {border-bottom: none; text-decoration: underline;}

.list-basic,
.list-action,
.list-action li {list-style-type: none;}
.list-action {list-style-position: inside;}

.list-omega   {list-style-type: decimal-leading-zero;}
.list-alpha   {list-style-type: upper-roman;}
.list-beta    {list-style-type: upper-alpha;}
.prose,	/* for prose lists (ol) */
.list-gamma   {list-style-type: decimal;}
.list-delta   {list-style-type: lower-alpha;}
.list-epsilon {list-style-type: lower-roman;}
.list-zeta    {list-style-type: lower-greek;}
/* @end */

/* @group colors */
	/* @group visibility, opacity */
	.icon-special {opacity: 1;}
/*	.hub-footer {opacity: 0.8;}*/
	.icon-special-clear {opacity: 0.6;}
	/* @end */
	
	/* @group foreground color */
	body,
	.h,
	.prose {color: #050200;} /* Aperture Black */
	.lede,
	.help,
	.code,
	.tex,
	kbd kbd {color: #000000;} /* Black */
	
	.h-alpha   {color: #0013c0;} /* Lake Superior */
	.h-beta,
	.h-epsilon {color: #004d80;} /* Facility Abyss */
	.box-block-a-inv .h-beta,
	.box-block-a-inv .h-epsilon {color: #803300;} /* (sub headings in box link hovers) */
	
	.a-reg,
	.box-block-a-reg,
	.list-action        {color: #009aff;} /* Atlas Blue */
	.a-inv,
	.box-block-a-inv    {color: #ff6600;} /* P-body Orange */
	.a-sp-reg           {color: #73c000;} /* Neurotoxin */
	.a-sp-inv           {color: #4d00c0;} /* Neurotoxin Inverse */
	.a-active,
	.box-block-a-active {color: #ff001a;} /* Are You Still There? */	
	/* @end */
	
	/* @group background color / images */
	.hub-body {
		background-image: url('/core/img/phi-stripes-trans.png');
		background-repeat: repeat-y;
		background-size: contain;
	}
	.help,
	.code,
	kbd kbd {background-color: #ffc0e6;} /* Heart of a Companion */
	
	.box-block-a-reg    {background-color: #c0f6ff;} /* Bridges of Light */
	.box-block-a-inv    {background-color: #ffebc0;} /* Asbestos */
	.box-block-a-active {background-color: #050200;} /* Aperture Black */
	
	/* Maximum Lightness */
	.table-grid .header					{background-color: #ffffff;} /* White */
	/* Extreme Light */
	body                                {background-color: #fafdff;} /* Aperture White */
	/* Super Light */
	.table-list .header,
	.table-bars .header,
	.table-grid .row-odd .column-odd	{background-color: #ecf8ff;} /* Vilify (8% sat) */
	/* Comparably Light */
	.table-list .row-even,
	.table-bars .column-even,
	.table-grid .row-odd .column-even,
	.table-grid .row-even .column-odd	{background-color: #d7f0ff;} /* Vilify (16% sat) */
	/* Adequately Light */
	.table-list .row-odd,
	.table-bars .column-odd,
	.table-grid .row-even .column-even	{background-color: #c0e6ff;} /* Vilify (original - 25% sat) */
	/* @end */
	
	/* @group border color */
	.help,
	code,
	kbd kbd {
		border-color: #ffc0e6; /* Heart of a Companion */
		border-color: #ff80cd; /* Heart of a Companion (50% sat) */
	} 
	.box-block-a-reg    {border-color: #009aff;} /* Atlas Blue */
	.box-block-a-inv    {border-color: #ff6600;} /* Peabody Orange */
	.box-block-a-active {border-color: #ffed40;} /* HER Eye */
	
	.cap,
	.examp,
	.q-block {
		border-color: #ff001a;/* Are You Still There? */
		border-color: #050200;/* Aperture Black */
	}
	
	table,
	table th,
	table td {border-color: #808080;}
	.table-list .header,
	.table-list .body,
	.table-bars,
	.table-bars .header,
	.table-bars .body,
	.table-grid,
	.table-grid td {border-color: #ff001a;} /* Are You Still There? */
	/* @end */
	
	/* @group outline color */
	/* @end */
	
/* @end */

/* @group miscellaneous styles */
/*.a,
.box-block-a {cursor: pointer;}*/
.help {cursor: help;} /* for abbr and dfn elements */
i:lang(la),
i:lang(it),
i:lang(fr) { 
	font-family: 'Times New Roman',serif;
	font-style: italic;
}
/* @end */

/* @group CSS ANIMATIONS */
.mylogo {
	transition:         all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition:    all 150ms ease-in-out;
	-o-transition:      all 150ms ease-in-out;
	-ms-transition:     all 150ms ease-in-out;
}
.mylogo-hover-in {
	transform:         translate(0,-5px) rotate(-180deg);
	-webkit-transform: translate(0,-5px) rotate(-180deg);
	-moz-transform:    translate(0,-5px) rotate(-180deg);
	-o-transform:      translate(0,-5px) rotate(-180deg);
	-ms-transform:     translate(0,-5px) rotate(-180deg);
}

.mylogo-hover-out {
	transform:         rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform:    rotate(-180deg);
	-o-transform:      rotate(-180deg);
	-ms-transform:     rotate(-180deg);
}
/* @end */