/**** ==== CSS for -STRUCTURE- (content structure) ==== ****/

/* @group display, width, height */

.cap     {width: 66.667%;} /* arithmetic */
.examp   {width: 75%;}     /* geometric  */
.q-block {width: 90%;}     /* nothing    */

.list-basic-inline li {display: inline;}
.box-block,
.mylogo {display: block;}
.icon-special {
	width: 64px;
	height: 64px;
}
/* @end */

/* @group padding */
.lede           {padding-right: 1em;}
.list-text li   {padding-bottom: 0.2em;}
.list-basic,
.list-action    {padding: 0;}
.box-block      {padding: 5px 10px;}
.table .header  {padding: 5px;}
.table td       {padding: 5px 10px;}

.cap,
.examp,
.q-block {padding-left: 20px;}
.courseinfo div {padding: 0 10px;}
.box.key {padding: 2px;}
/* @end */

/* @group border (width, style, radius, collapse) */
.box,
.table-list .header,
.table-list .body,
.table-bars,
.table-bars .header,
.table-bars .body,
.table-grid,
.table-grid td {border: 1px solid;}

.box {border-radius: 3px;}
.box-block {border-radius: 6px;}
.nav-hub .box-block {border-radius: 15px;}
.cap,
.examp,
.q-block {border-left: 3px double;}

	/* @group special tables */
	table,
	.table {border-collapse: collapse;}
	.table-list .header,
	.table-list .body {border-left: none; border-right: none;}
	.table-bars .header,
	.table-bars .body {border-top: none; border-bottom: none;}
	/* @end */
/* @end */

/* @group outline */
/* @end */

/* @group margin */
/*.nav-hub .primary {margin-top: 32px;}*/

.main {margin-bottom: 162px;}

.list-basic,
.list-basic dd {margin: 0;}

.h,
.prose,
.lede     {margin: 0.75em auto;}


.box-block {margin: 5px 10px;}
.table {margin: auto; margin-bottom: 2em;}
.cap,
.examp,
.q-block {margin: 1em auto;}

.icon-special {margin: 24px;}
/* @end */

/* @group positioning, float, z-index */
.masthead  {
	position: fixed;
	top: 0;
}
.nav-hub .list-nav-hub,
.courseinfo {position: fixed;}
.nav-hub .primary,
.courseinfo {top: 20px;}
.nav-hub .secondary {bottom: 20px;}
/* @end */

/* @group miscellaneous styles */
/* hub footer */
/*.footer-hub-collapse .ft-content {display: none;}
.hub-footer {
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
}
.footer-hub-collapse {height: 20px;}*/
/* @end */



