doctype html
html
  head
    title Reset Ke&uuml;rig
    meta(charset="utf-8")
    link(rel="stylesheet", href="node_modules/xmeter/xmeter.css")
    style.
      h1, p {
        margin-bottom: 3rem;
      }
      body {
        font-weight: 100;
        font-family: 'Gill Sans',sans-serif;
        text-align: center;
        font-size: 2rem;
        line-height: 0.75;
        text-rendering: optimizeLegibility;
      }
      h1 {
        font-weight: 900;
        font-size: 4rem;
        line-height: 1.125;
        text-rendering: geometricPrecision;
      }
  body
    main
      h1 Please Reset the Coffeemaker!
      p After your beverage is done brewing, please discard your used K-cup.
      p Thank you &#x263a;
