doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Chris Harvey
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Home page of Christopher H. Harvey of Fairfax, VA.")
    link(rel="icon" href="core/images/favicon.ico")
    link(rel="stylesheet" href="bower_components/octicons/octicons/octicons.css")
    link(rel="stylesheet" href="styles/chharvey.css")
    //- link(rel="stylesheet" href="home/styles/landing.css")
    link(rel="stylesheet" href="home/styles/landing2.css")
  body.o-GoldenContainer
    main
      h1 Chris Harvey
      nav
        ul.o-ListBare.o-FlexContainer.c-LandingLinkList.c-LandingLinkList--folio
          li: a.c-LandingLink.c-LandingLink--web(      rel="child" href="home/web.html"       title="Web"         ) #[span.c-LandingLink__Icon.octicon.octicon-file-code]    #[span.c-LandingLink__Text.c-LandingLink__Text--web Web]
          li: a.c-LandingLink.c-LandingLink--math(     rel="child" href="home/math.html"      title="Math"        ) #[span.c-LandingLink__Icon.octicon.octicon-graph]        #[span.c-LandingLink__Text.c-LandingLink__Text--math Math]
          li: a.c-LandingLink.c-LandingLink--music(    rel="child" href="home/music.html"     title="Music"       ) #[span.c-LandingLink__Icon.octicon.octicon-settings]     #[span.c-LandingLink__Text.c-LandingLink__Text--music Music]
          li: a.c-LandingLink.c-LandingLink--edu(      rel="child" href="home/edu.html"       title="Edu"         ) #[span.c-LandingLink__Icon.octicon.octicon-mortar-board] #[span.c-LandingLink__Text.c-LandingLink__Text--edu Edu]
          li: a.c-LandingLink.c-LandingLink--swim(     rel="child" href="home/swim.html"      title="Swim"        ) #[span.c-LandingLink__Icon.octicon.octicon-jersey]       #[span.c-LandingLink__Text.c-LandingLink__Text--swim Swim]
        ul.o-ListBare.o-FlexContainer.c-LandingLinkList.c-LandingLinkList--bio
          li: a.c-LandingLink.c-LandingLink--about(    rel="child" href="home/about.html"     title="Chris Harvey") #[span.c-LandingLink__Icon.octicon.octicon-home]         #[span.c-LandingLink__Text.c-LandingLink__Text--about About Me]
          li: a.c-LandingLink.c-LandingLink--resume(   rel="child" href="resume/resume.html"  title="Résumé"      ) #[span.c-LandingLink__Icon.octicon.octicon-briefcase]    #[span.c-LandingLink__Text.c-LandingLink__Text--resume R&eacute;sum&eacute;]
          li: a.c-LandingLink.c-LandingLink--copyright(rel="child" href="home/copyright.html" title="©"           ) #[span.c-LandingLink__Icon.octicon.octicon-law]          #[span.c-LandingLink__Text.c-LandingLink__Text--copyright &copy;]
        ul.o-FlexContainer.c-LandingLinkList.c-LandingLinkList--dev
          li: a.c-LandingLink.c-LandingLink--dev(href="https://dev-chharvey.github.io/"       title="dev site"    ) #[span.c-LandingLink__Icon.octicon.octicon-beaker]       #[span.c-LandingLink__Text.c-LandingLink__Text--dev dev site]
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="core/scripts/Util.js")
    script(src="core/scripts/global.js")
    //- script(src="home/fibonaccispiral.js")
