doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Chris Harvey
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Home page of Christopher H. Harvey of Fairfax, VA.")
    //- link(rel="icon" href="core/img/favicon.ico")
    link(rel="stylesheet" href="styles/chharvey.css")
    link(rel="stylesheet" href="home/styles/landing.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content(class="!mb:0")
      nav
        ul.c-Spiral
          li: a.c-Square(rel="child" href="home/about.html"): h1.c-Square__Text Chris Harvey
          li: a.c-Square(rel="child" href="resume/resume.html"): span.c-Square__Text R&eacute;sum&eacute;
          li: a.c-Square(rel="child" href="home/web.html"): span.c-Square__Text Web
          li: a.c-Square(rel="child" href="home/math.html"): span.c-Square__Text Math
          li: a.c-Square(rel="child" href="home/edu.html"): span.c-Square__Text Edu
          li: a.c-Square(rel="child" href="home/music.html"): span.c-Square__Text Music
          li: a.c-Square(rel="child" href="home/swim.html"): span.c-Square__Text Swim
          li: a.c-Square(rel="child" href="home/copyright.html"): span.c-Square__Text &copy;
          li: a.c-Square
          li: a.c-Square
          li: a.c-Square
          li: a.c-Square
        a.c-Square.c-Square--dev(href="https://dev-chharvey.github.io/"): span.c-Square__Text dev site
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="core/scripts/Util.js")
    script(src="core/scripts/global.js")
    script(src="home/fibonaccispiral.js")
