doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Chris Harvey
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Home page of Christopher H. Harvey of Fairfax, VA.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="core/images/favicon.ico")
    link(rel="stylesheet" href="bower_components/octicons/octicons/octicons.css")
    link(rel="stylesheet" href="styles/chharvey.css")
    link(rel="stylesheet" href="home/styles/landing.css")
  body.o-GoldenContainer
    main
      h1 Chris Harvey
      nav
        ul.o-ListBare.o-FlexContainer.o-LandingLinkList.o-LandingLinkList--folio
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--web
            a.c-LandingLink.c-LandingLink--web(rel="child" href="home/web.html" title="Web")
              span.c-LandingLink__Icon.octicon.octicon-file-code
              span.c-LandingLink__Text Web
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--math
            a.c-LandingLink.c-LandingLink--math(rel="child" href="home/math.html" title="Math")
              span.c-LandingLink__Icon.octicon.octicon-graph
              span.c-LandingLink__Text Math
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--music
            a.c-LandingLink.c-LandingLink--music(rel="child" href="home/music.html" title="Music")
              span.c-LandingLink__Icon.octicon.octicon-settings
              span.c-LandingLink__Text Music
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--edu
            a.c-LandingLink.c-LandingLink--edu(rel="child" href="home/edu.html" title="Edu")
              span.c-LandingLink__Icon.octicon.octicon-mortar-board
              span.c-LandingLink__Text Edu
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--swim
            a.c-LandingLink.c-LandingLink--swim(rel="child" href="home/swim.html" title="Swim")
              span.c-LandingLink__Icon.octicon.octicon-jersey
              span.c-LandingLink__Text Swim
        ul.o-ListBare.o-FlexContainer.o-LandingLinkList.o-LandingLinkList--bio
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--about
            a.c-LandingLink.c-LandingLink--about(rel="child" href="home/about.html" title="About Me")
              span.c-LandingLink__Icon.octicon.octicon-home
              span.c-LandingLink__Text About
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--resume
            a.c-LandingLink.c-LandingLink--resume(rel="child" href="resume/resume.html" title="Résumé")
              span.c-LandingLink__Icon.octicon.octicon-briefcase
              span.c-LandingLink__Text R&eacute;sum&eacute;
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--copyright
            a.c-LandingLink.c-LandingLink--copyright(rel="child" href="home/copyright.html" title="©")
              span.c-LandingLink__Icon.octicon.octicon-law
              span.c-LandingLink__Text &copy;
        ul.o-FlexContainer.o-LandingLinkList.o-LandingLinkList--dev
          li.o-LandingLinkList__Item.o-LandingLinkList__Item--dev
            a.c-LandingLink.c-LandingLink--dev(href="https://dev-chharvey.github.io/" title="dev site")
              span.c-LandingLink__Icon.octicon.octicon-beaker
              span.c-LandingLink__Text dev site
