doctype html
html
  head
    title Rainbow Bridge
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,400italic,700")
    link(rel="stylesheet" href="/node_modules/xmeter/xmeter.css")
    style.
      body {
        margin: 1.5rem 2rem;
        padding: 1.5rem 2rem;
        border: 4px double;
        border-radius: 4px;
        font-family: 'Cardo',serif;
        text-align: center;
      }
      h1 {
        font-weight: 900;
      }
      footer {
        text-align: right;
      }
      @media screen {
        body {
          background-color: #eee8d5; /* solarized base 3 */
          color: #360b00; /* lunarized base 03 */
          text-shadow: 1px 1px 2px #a19393; /* lunarized base 1 */
        }
        h1 {
          text-shadow: 2px 2px 4px #968583; /* lunarized base 01 */
        }
        :root {
          font-size: 2rem;
          line-height: 1.75;
        }
        :root h1,
        :root p,
        :root blockquote {
          margin-bottom: 1.75rem;
        }
        :root h1 {
          line-height: 0.875;
          padding-top: 1.75rem;
        }
      }
  body
    main
      h1 Rainbow Bridge
      blockquote
        p.
          Just this side of Heaven is a land of meadows with lush green grass,
          and a Rainbow&nbsp;Bridge of many colors.
        p.
          When our beloved pets pass, they go to Rainbow&nbsp;Bridge to
          run and play together.
          There is always food, water, and warm spring sunshine.
        p.
          All the animals who had been ill and old are restored to health and vigor.
          Those who were hurt or maimed are made whole and strong again, just as we
          remember them in our dreams of days and times gone by. The animals are happy
          and content, except for one small thing: they each miss someone very special
          to them, who had to be left behind.
        p.
          The day comes when one stops
          and looks into the distance. Her bright eyes are intent; her eager body
          quivers. Suddenly she begins to run from the group, flying over the
          field, her legs carrying her faster and faster.
        p.
          You have been spotted, and when you and your special friend finally meet,
          you cling together in joyous reunion. The happy
          kisses rain upon your face, your hands again caress her beloved head, and
          you look once more into the trusting eyes of your pet, so long gone from
          your life but never absent from your heart.
        p.
          Then you cross Rainbow&nbsp;Bridge together, never to be parted again.
        footer: cite &mdash; author unknown
