<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<title>Unit ? Overview &in; Algebra II</title>
<link rel="stylesheet" href="unitoverviews.css"/>
{% include all-js.html %}
<style>
</style>
</head>
<body>
{% include masthead.html %}
<div class="main P1 P1-midright">
<header>
  <h1>Sequences &amp; Series Unit Overview</h1>
  <p class="timestamp">Updated <time datetime="2012-12-16T17:07">December 16, 2012</time>.</p>
</header>
<section id="introduction">
  <p class="c-Lede">The sequences and series unit ...</p>
</section>
<section id="objectives">
  <h2>Learning Objectives</h2>
  <section id="sequences">
    <h3>Sequences</h3>
    <ul>
      <li>Given a recursive or explicit formula for a sequence, write the first few terms of the sequence or find a specific term.</li>
      <li>Given a sequence of terms, write a rule that describes the sequence.</li>
      <li>Calculate arithmetic and geometric means between two numbers.</li>
    </ul>
  </section>
  <section id="series">
    <h3>Series</h3>
    <ul>
      <li>Find the sum of the first few terms in a series.</li>
      <li>Determine whether an infinite series converges or diverges.</li>
      <li>Find the infinite sum of a convergent series.</li>
    </ul>
  </section>
</section>
</div>
</body>
</html>
