/* CSS document for all lesson plans and pages */
@import url('../images/TechPort.css');

body,td,th {
  color: #7F0033;
  font-family: 'Comic Sans MS', sans-serif;
}
body {
  background: #FFC768;
}

a:link {
  color: #157000;
}
a:visited {
  color: #5B0065;
}
.spaced {
  letter-spacing: 5px;
}
.example {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
def {
  font: bold large Arial, Helvetica, sans-serif;
}

h1,h2 {
  text-align: center;
}
.SOLborder {
  border-color: #157000;
}