// main: ../core/styles/all.less

/** --HIGHER-ED.LESS-- **/

.courseinfo {
  // .p3-left;
  position: fixed;
  top:  20px;
}
@media print{
  .courseinfo {display: none;}
}
.courseinfo div {padding: 0 10px;}
.courseinfo-name {.H; .H.Del);}
.courseinfo-term {.H; .H.Eps);}
.courseinfo-prof {.H; .H.Zet);}
