extends layout.tpl.jade

block append vars
  - var main_heading = 'Base Typography'

block main
  include ../node_modules/xmeter/doc/include/_main-content.jade
  +main-content({
    page_title: main_heading
  , appendages: [
      'headings-paragraphs'
    , 'tables'
    , 'links__list'
    , 'stress__list'
    ]
  })
    mixin headings-paragraphs()
      ins.-d-bk
        table.c-TableBorderedRows.-w-1o1.-ta-c.-bc-w(style="margin-top: -8px;")
          caption.c-Caption A summary of the six heading levels&rsquo; styles.
          thead
            tr
              th Heading Level
              th: code font-style
              th: code font-variant
              th: code font-weight
              th: code color
            tr
              th: code h1, h2, h3,#[br]h4, h5, h6
              td: code normal
              td: code normal
              td: code 800
              td: code @chh_color_body_txt
          tbody
            tr
              th: code h1
              td(data-bool="0") default
              td(data-bool="0") default
              td(data-bool="1"): code 100
              td(data-bool="1"): code @color_h_major
            tr
              th: code h2
              td(data-bool="0") default
              td(data-bool="0") default
              td(data-bool="0") default
              td(data-bool="1"): code @color_h_minor
            tr
              th: code h3
              td(data-bool="0") default
              td(data-bool="1"): code small-caps
              td(data-bool="0") default
              td(data-bool="0") default
            tr
              th: code h4
              td(data-bool="1"): code italic
              td(data-bool="0") default
              td(data-bool="0") default
              td(data-bool="0") default
            tr
              th: code h5
              td(data-bool="1"): code italic
              td(data-bool="0") default
              td(data-bool="1"): code 400
              td(data-bool="1"): code @color_h_minor
            tr
              th: code h6
              td(data-bool="1"): code italic
              td(data-bool="1"): code small-caps
              td(data-bool="1"): code 400
              td(data-bool="0") default
        p.
          A #[code figure &gt; figcaption] prepended with #[code strong]
          usually contains the figure&rsquo;s title
          (#[i(lang="la"): abbr(title="exampli gratia") e.g.], #[i Figure&nbsp;1]).
        figure
          blockquote
            p.
              This is a generic #[code blockquote]. Use this for material that is more than 40 words
              and/or contains paragraph breaks.
            p.
              Nest #[code p] Elements inside the block quotation that correspond directly
              to the paragraphs of the quoted material. If there are no paragraphs in the quoted material,
              do not use #[code p] Elements&mdash;just simply contain the text inside the
              #[code blockquote].
            p.
              To cite the source of the quoted material in this block quote,
              include a #[code footer &gt; cite] Element.
            footer: cite Source, #[time 2000]
        p
          | The Elements
          |  #[code pre &gt; small] and
          |  #[code pre &gt; strong]
          |  denote code comments and importance, respectively. 
          small Importance isn&rsquo;t an actual thing in code, since all code is important.
        figure
          pre.
            function fibonacci(n) {
              if (n === 0 || n === 1) return 1 #[small &#x002f;&#x002f; these are the base cases]
              else if (n &gt; 1)         return fibonacci(n-1) + fibonacci(n-2)
              #[strong else                    return NaN] #[small &#x002f;&#x002f; a #[code strong] denotes importance here,]
                                                 #[small &#x002f;&#x002f; which highlights the case of inputting]
                                                 #[small &#x002f;&#x002f; a negative number]
            }
            #[small /* #[strong This is an IMPORTANT comment!!!] It is #[code small &gt; strong], not the other way around &hellip; */]
            #[strong: small /* &hellip; otherwise, it would look like this, which, ick. */]
    mixin tables()
      ins.-d-bk
        p.
          A #[code table &gt; caption] prepended with #[code strong]
          usually contains the table&rsquo;s title
          (#[i(lang="la"): abbr(title="exampli gratia") e.g.], #[i Table&nbsp;1]).
    mixin links__list()
      li: ins: a(rel="external") a[rel=&quot;external&quot;]
      li: ins: a(href="" rel="external") a[href][rel=&quot;external&quot;]
    mixin stress__list()
      li: ins: i(lang="en") common expression or term in a foreign language #[code i[lang]]
