doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Base Typography &in; Site Design
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/styleguide.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      h1 Base Typography
      section
        h2 Sections
        section#headings
          h3 Headings
          p Headings are represented by #[code h1]&ndash;#[code h6] Elements.
          figure
            h1 Heading 1
            h2 Heading 2
            h3 Heading 3
            h4 Heading 4
            h5 Heading 5
            h6 Heading 6
            h1 Heading 1 spans multiple lines so here is more text and it will have a line break and then you get more lines and even more lines.
            h2 Heading 2 spans multiple lines so here is more text and it will have a line break and then you get more lines and even more lines.
            h3 Heading 3 spans multiple lines so here is more text and it will have a line break and then you get more lines and even more lines.
            h4 Heading 4 spans multiple lines so here is more text and it will have a line break and then you get more lines and even more lines.
            h5 Heading 5 spans multiple lines so here is more text and it will have a line break and then you get more lines and even more lines.
            h6 Heading 6 spans multiple lines so here is more text and it will have a line break and then you get more lines and even more lines.
          table.c-TableBorderedRows(class="!w:1o1 !ta:c !bc:w" style="margin-top: -8px;")
            caption.c-Caption A summary of the six heading levels&rsquo; styles.
            thead
              tr
                th Heading Level
                th: code font-style
                th: code font-variant
                th: code font-weight
                th: code color
              tr
                th: code h1, h2, h3,#[br]h4, h5, h6
                td: code normal
                td: code normal
                td: code 800
                td: code @chh_color_body_txt
            tbody
              tr
                th: code h1
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="1"): code 100
                td(data-bool="1"): code @color_h_major
              tr
                th: code h2
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="1"): code @color_h_minor
              tr
                th: code h3
                td(data-bool="0") default
                td(data-bool="1"): code small-caps
                td(data-bool="0") default
                td(data-bool="0") default
              tr
                th: code h4
                td(data-bool="1"): code italic
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="0") default
              tr
                th: code h5
                td(data-bool="1"): code italic
                td(data-bool="0") default
                td(data-bool="1"): code 400
                td(data-bool="1"): code @color_h_minor
              tr
                th: code h6
                td(data-bool="1"): code italic
                td(data-bool="1"): code small-caps
                td(data-bool="1"): code 400
                td(data-bool="0") default
      section
        h2 Grouping Content
        section#paragraphs
          h3 Paragraphs
          figure
            p.
              A #[code p] Element represents a generic paragraph.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam sagittis suscipit nunc, a cursus libero euismod at.
              Nulla placerat neque massa, quis interdum leo efficitur vel.
              Donec feugiat varius arcu non volutpat.
              Mauris eget mauris ut mauris auctor mattis id vel justo.
              Nulla dictum arcu nec suscipit mollis.
              Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
            figure This is a #[code figure]. An image, diagram, or table might appear here.
              figcaption.
                #[strong This is a #[code figcaption &gt; strong].]
                It usually contains the #[code figure]&rsquo;s title
                (#[i(lang="la"): abbr(title="exampli gratia") e.g.], #[i Figure&nbsp;1]).
                This is the rest of the #[code figure &gt; figcaption:last-child].
            blockquote
              p.
                This is a generic #[code blockquote]. Use this for material that is more than 40 words
                and/or contains paragraph breaks.
              p.
                Nest #[code p] Elements inside the block quotation that correspond directly
                to the paragraphs of the quoted material. If there are no paragraphs in the quoted material,
                do not use #[code p] Elements&mdash;just simply contain the text inside the
                #[code blockquote].
              p.
                To cite the source of the quoted material in this block quote,
                include a #[code footer &gt; cite] Element.
              footer: cite Source, #[time 2000]
            pre.
              The #[code pre] Element, by itself (#[em without] a child #[code code] Element),
              are used for blocks of computer code on this site.
            pre.
              function fibonacci(n) {
                if (n === 0 || n === 1) return 1;
                else if (n > 1)         return fibonacci(n-1) + fibonacci(n-2);
                else                    return NaN;
              }
            pre: code.
              If you use a
              `pre > code`
                           to mark up
                                      a block of code,
              you will get this result.
          p.o-Box.o-Box--island.c-Alert.c-Alert--cshn
            strong.c-Alert__Title Warning:
            | As of #[time 2015-05-11] there is no longer a mechanism available for automated
            |  syntax highlighting in code blocks. Manual highlighting is described below.
            |  See the #[a.c-Alert__Link(rel="sibling" href="colors.html") color styleguide] for info on usage.
            |  Check back later for updates.
          p.
            The Elements
            #[code pre &gt; small] and
            #[code pre &gt; strong]
            respectively denote code comments (an actual thing), and importance.
            (Importance isn&rsquo;t an actual thing in code, since all code is important.)
          figure
            pre.
              function fibonacci(n) {
                if (n === 0 || n === 1) return 1; <small>// these are the base cases</small>
                else if (n > 1)         return fibonacci(n-1) + fibonacci(n-2);
                #[strong else                    return NaN;] <small>// a #[code strong] denotes importance here,
                                                    // which highlights the case of inputting
                                                    // a negative number</small>
              }
              <small>/* Comment punctuation (<code>/*</code>, <code>*/</code>, and <code>//</code>) is not included; must type manually. */</small>
              <small>/* #[strong This is an IMPORTANT comment!!!] It is #[code small &gt; strong], not the other way around &hellip; */</small>
              <strong><small>/* &hellip; otherwise, it would look like this, which, ick. */</small></strong>
            pre.
              &lt;tag atr=&quot;val val&quot;&gt;contents&lt;tag&gt;
              #[small &lt;!-- this is an HTML comment --&gt;]
            pre.
              sel {
                prp: val;
                .cmd(arg, 'string');
                &amp;:sel {prp: val;}
                <small>// This is an inline comment</small>
              }
              #[small /* This is a block comment */]
        section#lists
          h3 Lists
          p The following is an #[code ol].
          figure
            ol
              li ol &gt; li
              li ol &gt; li
              li ol &gt; li
          p The following is a #[code ul].
          figure
            ul
              li ul &gt; li
              li ul &gt; li
              li ul &gt; li
          p The #[code dl] below has five groups:
          ol
            li The first  group has one #[code dt] and one #[code dd].
            li The second group has two #[code dt]s and one #[code dd].
            li The third  group has one #[code dt] and two #[code dd]s.
            li The fourth group has one #[code dt] and one #[code dd], with its #[code dt] containing a #[code ul] with two #[code li]s.
            li The fifth  group has one #[code dt] and one #[code dd], with its #[code dd] containing a #[code ul] with two #[code li]s.
          figure
            dl
              dt dl &gt; dt
              dd dl &gt; dd
              dt dl &gt; dt
              dt dl &gt; dt
              dd dl &gt; dd
              dt dl &gt; dt
              dd dl &gt; dd
              dd dl &gt; dd
              dt: ul
                li dl &gt; dt &gt;&gt; li
                li dl &gt; dt &gt;&gt; li
              dd dl &gt; dd
              dt dl &gt; dt
              dd: ul
                li dl &gt; dd &gt;&gt; li
                li dl &gt; dd &gt;&gt; li
        section#tables
          h3 Tables
          p An unclassed table is shown below.
          figure
            table
              caption.
                #[strong This is a #[code caption &gt; strong].]
                It usually contains the table&rsquo;s title
                (#[i(lang="la"): abbr(title="exampli gratia") e.g.], #[i Table&nbsp;1]).
                This is the rest of the #[code table &gt; caption].
              thead
                tr
                  th Header Row 1 Heading 1
                  th Header Row 1 Heading 2
                  th Header Row 1 Heading 3
                tr
                  td Header Row 2 Cell 1
                  td Header Row 2 Cell 2
                  td Header Row 2 Cell 3
              tfoot
                tr
                  th Footer Row 1 Heading 1
                  th Footer Row 1 Heading 2
                  th Footer Row 1 Heading 3
                tr
                  td Footer Row 2 Cell 1
                  td Footer Row 2 Cell 2
                  td Footer Row 2 Cell 3
              tbody
                tr
                  td Body Row 1 Cell 1
                  td Body Row 1 Cell 2
                  td Body Row 1 Cell 3
                tr
                  td Body Row 2 Cell 1
                  td Body Row 2 Cell 2
                  td Body Row 2 Cell 3
                tr
                  td Body Row 3 Cell 1
                  td Body Row 3 Cell 2
                  td Body Row 3 Cell 3
                tr
                  td Body Row 4 Cell 1
                  td Body Row 4 Cell 2
                  td Body Row 4 Cell 3
                tr
                  td Body Row 5 Cell 1
                  td Body Row 5 Cell 2
                  td Body Row 5 Cell 3
      section#text-level
        h2 Text-Level Semantics
        p.
          The primary method of marking up text-level semantics should be
          traditional punctuation. After that, use HTML Elements.
          #[a(href="../blog/semantic-punctuation.html") Read more on using traditional punctuation to indicate text-level semantics.]
        section#links
          h3 Hyperlinks
          ul
            li: a a
            li: a(href="#links") a[href]
            li: a(rel="external") a[rel=&quot;external&quot;]
            li: a(href="http://www.example.com/" rel="external") a[href][rel=&quot;external&quot;]
        section#stress
          h3 Stressed Text
          dl.o-FlexContainer.
            #[dt.a-w-p3: code em]      #[dd.a-w-p3c: em emphasized text]
            #[dt.a-w-p3: code strong]  #[dd.a-w-p3c: strong important text]
            #[dt.a-w-p3: code i]       #[dd.a-w-p3c: i alternate voice (scare quotes, mentions, #[i(lang="la"): abbr(title="et cetera") etc.])]
            #[dt.a-w-p3: code i[lang]] #[dd.a-w-p3c: i(lang="en") common expression or term in a foreign language]
            #[dt.a-w-p3: code mark]    #[dd.a-w-p3c: mark relevant in a certain context]
            #[dt.a-w-p3: code u]       #[dd.a-w-p3c: u in an example, text to which attention should be brought]
            #[dt.a-w-p3: code small]   #[dd.a-w-p3c: small side comments]
            #[dt.a-w-p3: code s]       #[dd.a-w-p3c: s text shown to be no longer relevant]
        section#documentation
          h3 Documentation
          dl.o-FlexContainer.
            #[dt.a-w-p3: code ins]  #[dd.a-w-p3c: ins text inserted into a document]
            #[dt.a-w-p3: code del]  #[dd.a-w-p3c: del text deleted from a document]
            #[dt.a-w-p3: code dfn]  #[dd.a-w-p3c: dfn definining instance of a term]
            #[dt.a-w-p3: code b]    #[dd.a-w-p3c: b keyword or technical term]
            #[dt.a-w-p3: code var]  #[dd.a-w-p3c: var variable]
            #[dt.a-w-p3: code q]    #[dd.a-w-p3c: q quoted material (fictional or non-fictional)]
            #[dt.a-w-p3: code cite] #[dd.a-w-p3c: cite reference to a work or part of a work]
            #[dt.a-w-p3: code sup]  #[dd.a-w-p3c: sup superscript]
            #[dt.a-w-p3: code sub]  #[dd.a-w-p3c: sub subscript]
        section#data
          h3 Data
          dl.o-FlexContainer.
            #[dt.a-w-p3: code abbr[title]]  #[dd.a-w-p3c: abbr(title="") abbreviation]
            #[dt.a-w-p3: code data]         #[dd.a-w-p3c: data machine-readable data]
            #[dt.a-w-p3: code time]         #[dd.a-w-p3c: time a date or time]
            #[dt.a-w-p3: code code]         #[dd.a-w-p3c: code a fragment of code]
            #[dt.a-w-p3: code kbd]          #[dd.a-w-p3c: kbd user input]
            #[dt.a-w-p3: code kbd &gt; kbd] #[dd.a-w-p3c: kbd a #[kbd button] or #[kbd key] on a physical device]
            #[dt.a-w-p3: code samp]         #[dd.a-w-p3c: samp sample computer output]
    nav.Bc
      ol.Anc
        li: a.Crumb(rel="top   " href="../index.html   ") Home
        li: a.Crumb(rel="parent" href="../home/web.html") Web
      ul.Sib
        li: a.Crumb(rel="this   " href="base.html     ") Base Typography
        li: a.Crumb(rel="sibling" href="objects.html  ") Objects
        li: a.Crumb(rel="sibling" href="comp-typo.html") Typo Components
        li: a.Crumb(rel="sibling" href="comp-ui.html  ") UI Components
        li: a.Crumb(rel="sibling" href="schemes.html  ") Site Schemes
      ul.Child
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
