extends layout.tpl.jade

block append vars
  - var main_heading = 'Base Typography'

block main
      header
        h1= main_heading
        nav#table-contents
          h2 Table of Contents
          ol
            li: a(href="#table-contents") Table of Contents
            li: a(href="#headings-paragraphs") Headings &amp; Paragraphs
            li: a(href="#lists") Lists
            li: a(href="#tables") Tables
            li
              a(href="#text-level-elements") Text-Level Elements
              ol
                li: a(href="#links") Links
                li: a(href="#stress") Stress
                li: a(href="#documentation") Documentation
                li: a(href="#data") Data
            li: a(href="#embedded-elements") Embedded Elements
            li: a(href="#interactive-elements") Interactive Elements
      section#headings-paragraphs
        h2 Headings &amp; Paragraphs
        figure
          h1 Heading 1 #[code h1]
          p.
            Paragraph #[code p]
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam sagittis suscipit nunc, a cursus libero euismod at.
            Nulla placerat neque massa, quis interdum leo efficitur vel.
            Donec feugiat varius arcu non volutpat.
            Mauris eget mauris ut mauris auctor mattis id vel justo.
            Nulla dictum arcu nec suscipit mollis.
            Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
          h2 Heading 2 #[code h2]
          p.
            Paragraph #[code p]
            Suspendisse ut auctor enim.
            Aliquam viverra enim vitae ante aliquet venenatis.
            Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
            Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
            Aenean tincidunt ante risus, semper malesuada libero consectetur id.
            Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
            Integer blandit est quam, eget mattis urna scelerisque quis.
            Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
            Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
            Integer varius egestas risus, volutpat sagittis turpis convallis eget.
            Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
            In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
            Sed luctus congue tortor a scelerisque.
          h3 Heading 3 #[code h3]
          p.
            Paragraph #[code p]
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Nunc sit amet scelerisque lectus. Cras cursus sed dui quis convallis.
            Quisque id justo elit.
            Fusce ut quam non sem efficitur accumsan sed id neque.
            Mauris finibus dignissim gravida.
            In dignissim mauris ac odio molestie volutpat.
            Nulla tellus justo, finibus sed volutpat sed, tristique ac lacus.
            Suspendisse sit amet fermentum sapien.
            Aliquam luctus laoreet iaculis.
            Proin lacinia orci vitae tellus pellentesque porttitor.
          h4 Heading 4 #[code h4]
          p.
            Paragraph #[code p]
            Aenean consectetur suscipit urna, non vehicula lacus blandit et.
            Integer at lacus et diam tristique suscipit.
            Ut cursus massa sit amet nisl convallis, elementum accumsan sapien mattis.
            Vestibulum vitae magna ac tellus accumsan pharetra vulputate vitae erat.
            Vestibulum est dui, elementum non sagittis ac, sagittis accumsan justo.
            Donec at vestibulum diam. Nam et volutpat dolor, at pulvinar nisi.
            Curabitur aliquam maximus nulla eu venenatis.
            Nam aliquam lorem non felis dignissim dictum.
            Pellentesque sagittis vehicula nisl non luctus.
            Pellentesque eget ligula hendrerit, blandit enim consequat, dictum sem.
            In quis lectus in lectus interdum laoreet eu quis quam.
            Fusce auctor posuere purus, quis semper libero dignissim euismod.
            Curabitur commodo mauris a sapien vulputate, eget pharetra urna facilisis.
          h5 Heading 5 #[code h5]
          p.
            Paragraph #[code p]
            Donec finibus ut lectus finibus pellentesque.
            Nulla euismod feugiat nulla nec posuere.
            Sed ac est id sem sagittis rhoncus eu ac neque.
            Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
            Nulla venenatis elementum est, semper viverra felis tristique sit amet.
            Mauris nec ipsum id orci porttitor auctor sed sit amet sem.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam tellus leo, venenatis sit amet ipsum non, sagittis feugiat ante.
          h6 Heading 6 #[code h6]
          p.
            Paragraph #[code p]
            Donec vel dolor ut felis dapibus ultricies vitae a nibh.
            Ut semper odio est, sed lacinia ligula gravida ut.
            Vestibulum facilisis viverra pulvinar.
            Suspendisse maximus nisl sit amet augue vulputate, vel porta nunc molestie.
            Aliquam mauris diam, pharetra vel consectetur quis, rhoncus in risus.
            Donec ut quam massa.
            Vestibulum sapien justo, commodo a eros in, rhoncus interdum nisl.
            Etiam a porta lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        figure
          h1 Lorem Ipsum #[code h1]
          h2 Lorem Ipsum #[code h2]
          h3 Lorem Ipsum #[code h3]
          h4 Lorem Ipsum #[code h4]
          h5 Lorem Ipsum #[code h5]
          h6 Lorem Ipsum #[code h6]
        ins.-d-bk
          table.c-TableBorderedRows.-w-1o1.-ta-c.-bc-w(style="margin-top: -8px;")
            caption.c-Caption A summary of the six heading levels&rsquo; styles.
            thead
              tr
                th Heading Level
                th: code font-style
                th: code font-variant
                th: code font-weight
                th: code color
              tr
                th: code h1, h2, h3,#[br]h4, h5, h6
                td: code normal
                td: code normal
                td: code 800
                td: code @chh_color_body_txt
            tbody
              tr
                th: code h1
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="1"): code 100
                td(data-bool="1"): code @color_h_major
              tr
                th: code h2
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="1"): code @color_h_minor
              tr
                th: code h3
                td(data-bool="0") default
                td(data-bool="1"): code small-caps
                td(data-bool="0") default
                td(data-bool="0") default
              tr
                th: code h4
                td(data-bool="1"): code italic
                td(data-bool="0") default
                td(data-bool="0") default
                td(data-bool="0") default
              tr
                th: code h5
                td(data-bool="1"): code italic
                td(data-bool="0") default
                td(data-bool="1"): code 400
                td(data-bool="1"): code @color_h_minor
              tr
                th: code h6
                td(data-bool="1"): code italic
                td(data-bool="1"): code small-caps
                td(data-bool="1"): code 400
                td(data-bool="0") default
        figure
          address.
            12345 #[code address] Ave #[code br]#[br]
            Washington, DC 00000 #[code br]#[br]
            United States of America
        figure
          figure Aenean consectetur #[code figure] suscipit urna, non vehicula lacus blandit et.
            figcaption Integer at lacus et diam tristique #[code figure] #[code figcaption] suscipit.
          ins.-d-bk
            figure This is a #[code figure]. An image, diagram, or table might appear here.
              figcaption.
                #[strong This is a #[code figcaption &gt; strong].]
                It usually contains the figure&rsquo;s title
                (#[i(lang="la"): abbr(title="exampli gratia") e.g.], #[i Figure&nbsp;1]).
        figure
          blockquote Donec #[code blockquote] vel dolor ut felis dapibus ultricies vitae a nibh.
          ins.-d-bk
            blockquote
              p.
                This is a generic #[code blockquote]. Use this for material that is more than 40 words
                and/or contains paragraph breaks.
              p.
                Nest #[code p] Elements inside the block quotation that correspond directly
                to the paragraphs of the quoted material. If there are no paragraphs in the quoted material,
                do not use #[code p] Elements&mdash;just simply contain the text inside the
                #[code blockquote].
              p.
                To cite the source of the quoted material in this block quote,
                include a #[code footer &gt; cite] Element.
              footer: cite Source, #[time 2000]
        figure
          pre.
            Pellentesque #[code pre] habitant() {
              morbi.tristique = senectus;
              et (netus = malesuada; fames &lt; ac; turpis.egestas++) {
                Nunc.sit += [amet, scelerisque][et];
                Cras = {
                  lectus: cursus
                , sed: dui
                , quis: convallis(id () { justo Quisque.elit; })
                };
              }
            }
          ins.-d-bk
            pre.
              The #[code pre] Element, by itself (#[em without] a child #[code code] Element),
              are used for blocks of computer code on this site.
            pre.
              function fibonacci(n) {
                if (n === 0 || n === 1) return 1;
                else if (n &gt; 1)         return fibonacci(n-1) + fibonacci(n-2);
                else                    return NaN;
              }
            pre: code.
              If you use a
              `pre &gt; code`
                           to mark up
                                      a block of code,
              you will get this result.
        ins.-d-bk
          p.o-Box.o-Box--island.c-Alert.c-Alert--cshn
            strong.c-Alert__Title Warning:
            | As of #[time 2015-05-11] there is no longer a mechanism available for automated
            |  syntax highlighting in code blocks. Manual highlighting is described below.
            |  See the #[a.c-Alert__Link(rel="sibling" href="schemes.html") color styleguide] for info on usage.
            |  Check back later for updates.
          p
            | The Elements
            |  #[code pre &gt; small] and
            |  #[code pre &gt; strong]
            |  denote code comments and importance, respectively. 
            small Importance isn&rsquo;t an actual thing in code, since all code is important.
          figure
            pre.
              function fibonacci(n) {
                if (n === 0 || n === 1) return 1; <small>// these are the base cases</small>
                else if (n &gt; 1)         return fibonacci(n-1) + fibonacci(n-2);
                #[strong else                    return NaN;] <small>// a #[code strong] denotes importance here,
                                                    // which highlights the case of inputting
                                                    // a negative number</small>
              }
              <small>/* #[strong This is an IMPORTANT comment!!!] It is #[code small &gt; strong], not the other way around &hellip; */</small>
              <strong><small>/* &hellip; otherwise, it would look like this, which, ick. */</small></strong>
            pre.
              &lt;tag atr=&quot;val val&quot;&gt;contents&lt;tag&gt;
              #[small &lt;!-- this is an HTML comment --&gt;]
              &lt;style&gt;
                sel {
                  prp: val;
                  .cmd(arg, 'string');
                  &amp;:sel {prp: val;}
                  <small>// This is an inline comment</small>
                }
                #[small /* This is a block comment */]
              &lt;/style&gt;
        //- figure
          figcaption.
            A horizontal rule #[code hr] is shown below. I&rsquo;m honestly not sure when
            you would ever use this instead of a CSS border.
          hr
      section#lists
        h2 Lists
        figure.sg-fig
          figcaption Ordered List #[code.sg-code ol]
          ol
            li List item #[code.sg-code li]
            li List item #[code.sg-code li]
              ol
                li Nested list item
                li Nested list item
                  ol
                    li Another nested list item
                    li Another nested list item
        figure.sg-fig
          figcaption Unrdered List #[code.sg-code ul]
          ul
            li List item #[code.sg-code li]
            li List item #[code.sg-code li]
              ul
                li Nested list item
                li Nested list item
                  ul
                    li Another nested list item
                    li Another nested list item
        figure.sg-fig
          figcaption Dictionary List #[code.sg-code dl]
          dl
            dt key #[code.sg-code dt]
            dd value #[code.sg-code dd]
            dt
              ul
                li 1st key
                li 2nd key
            dd value
            dt key
            dd
              ul
                li 1st value
                li 2nd value
      section#tables
        h2 Tables
        figure.sg-fig
          table
            caption #[code table] #[code caption]
              ins.
                #[strong This is a #[code caption &gt; strong].]
                It usually contains the table&rsquo;s title
                (#[i(lang="la"): abbr(title="exampli gratia") e.g.], #[i Table&nbsp;1]).
            thead
              tr
                th(scope="col") #[code thead]er #[code tr]ow 1 #[code th]eading 1
                th(scope="col") #[code thead]er #[code tr]ow 1 #[code th]eading 2
                th(scope="col") #[code thead]er #[code tr]ow 1 #[code th]eading 3
            tfoot
              tr
                td #[code tfoot]er #[code tr]ow 1 #[code td]ata 1
                td #[code tfoot]er #[code tr]ow 1 #[code td]ata 2
                td #[code tfoot]er #[code tr]ow 1 #[code td]ata 3
              tr
                td #[code tfoot]er #[code tr]ow 2 #[code td]ata 1
                td #[code tfoot]er #[code tr]ow 2 #[code td]ata 2
                td #[code tfoot]er #[code tr]ow 2 #[code td]ata 3
            tbody
              tr
                td #[code tbody] #[code tr]ow 1 #[code td]ata 1
                td #[code tbody] #[code tr]ow 1 #[code td]ata 2
                td #[code tbody] #[code tr]ow 1 #[code td]ata 3
              tr
                td #[code tbody] #[code tr]ow 2 #[code td]ata 1
                td #[code tbody] #[code tr]ow 2 #[code td]ata 2
                td #[code tbody] #[code tr]ow 2 #[code td]ata 3
              tr
                td #[code tbody] #[code tr]ow 3 #[code td]ata 1
                td #[code tbody] #[code tr]ow 3 #[code td]ata 2
                td #[code tbody] #[code tr]ow 3 #[code td]ata 3
      section#text-level-elements
        h2 Text-Level Elements
        ins.c-Document__Draft.-d-bk: p.
          The primary method of marking up text-level semantics should be
          traditional punctuation. After that, use HTML Elements.
          #[a(href="../blog/semantic-punctuation.html") Read more on using traditional punctuation to indicate text-level semantics.]
        section#links
          h3 Links
          figure.sg-fig: ul
            li: a a
            li: a(href) a[href]
            li: ins: a(rel="external") a[rel=&quot;external&quot;]
            li: ins: a(href="" rel="external") a[href][rel=&quot;external&quot;]
        section#stress
          h3 Stress
          figure.sg-fig: ul
            li: em     emphasized text #[code.sg-code em]
            li: strong important text #[code.sg-code strong]
            li: i      alternate voice/mood (scare quotes, mentioning words, foreign expressions) #[code.sg-code i]
            li: ins: i(lang="en") common expression or term in a foreign language #[code i[lang]]
            li: mark   relevant in some context #[code.sg-code mark]
            li: u      unarticulated annotation #[code.sg-code u] #[ins (in an example, text to which attention should be brought)]
            li: small  side comment #[code.sg-code small]
            li: s      text shown to be no longer relevant #[code.sg-code s]
        section#documentation
          h3 Documentation
          figure.sg-fig: ul
            li: ins    content shown to be inserted into a document #[code.sg-code ins]
            li: del    content shown to be deleted from a document #[code.sg-code del]
            li: dfn    definining instance of a term  #[code.sg-code dfn]
            li: b      keyword or technical term #[code.sg-code b]
            li: var    variable  #[code.sg-code var]
            li: q      quoted material #[code.sg-code q]
            li: cite   reference to a work, some part of a work, or the creator of a work #[code.sg-code cite]
            li: sup    superscript #[code.sg-code sup]
            li: sub    subscript #[code.sg-code sub]
        section#data
          h3 Data
          figure.sg-fig: ul
            li: abbr(title) abbreviation or acronym #[code.sg-code abbr[title]]
            li: time        a specific date or time #[code.sg-code time]
            li: data        generic machine-readable data #[code.sg-code data]
            li: code        a fragment of code #[code.sg-code code]
            li: kbd         user input #[code kbd]
            li: kbd: kbd    a button or key on a physical device #[code kbd &gt; kbd]
            li: samp        sample computer output #[code samp]
      section#embedded-elements
        h2 Embedded Elements
      section#interactive-elements
        h2 Interactive Elements
