extends _styleguide.tpl.jade

block append vars
  - var page = Styleguide.PAGES.find('comp-typo.html')

block append mainHeader
  p These are components of a typographical, static nature.
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#subhead-component") The Subhead Component
      li: a(href="#folio-title-component") The Folio Title Component
      li: a(href="#lede-drop-cap-components") The Lede and Drop Cap Components
      li: a(href="#caption-component") The Caption Component
      li: a(href="#pull-quote-component") The Pull Quote Component
      li: a(href="#action-list-component") The Action List Component
      li: a(href="#footnotes-list-component") The Footnotes List Component
      li: a(href="#components-for-tables") Components for Tables
      li
        a(href="#document-component") The Document Component
        ol: li: a(href="#document-meta") Document Meta
      li
        a(href="#text-level-components") Text-Level Components
        ol
          li: a(href="#acronyms") Acronyms
          li: a(href="#camo-links") Camo Links
      li: a(href="#breadcrumbs") Breadcrumbs

block append main
  section#subhead-component
    h2 The Subhead Component
    p.
      Put a #[code .c-Subhead] sibling adjacent to a heading to create
      a subheading for a page. This can be thought of as a
      #[i tagline] or #[i subtitle] for the top-level heading.
    figure
      h1: span.-fw-9(style="font-size: 1.5em;") Work&nbsp;Hard
      p.c-Subhead there are no shortcuts
      pre.
        &lt;h1&gt;Work Hard&lt;/h1&gt;
        &lt;p class="#[u c-Subhead]"&gt;there are no shortcuts&lt;/p&gt;
  section#folio-title-component
    h2 The Folio Title Component
    p.
      On special pages, the top-level header may be a #[code .c-FolioTitle]. To add a little spice,
      use #[code .c-FolioTitle__Cap] on capital letters. The size will make them stand out.
    figure
      h1.c-FolioTitle Detox&nbsp;your&nbsp;Body
      h1.c-FolioTitle #[span.c-FolioTitle__Cap D]etox&nbsp;your&nbsp;#[span.c-FolioTitle__Cap B]ody
      pre.
        &lt;h1 class="#[u c-FolioTitle]"&gt;Detox your Body&lt;/h1&gt;
        &lt;h1 class="#[u c-FolioTitle]"&gt;
          &lt;span class="#[u c-FolioTitle__Cap]"&gt;D&lt;/span&gt;etox
          your
          &lt;span class="#[u c-FolioTitle__Cap]"&gt;B&lt;/span&gt;ody
        &lt;/h1&gt;
  section#lede-drop-cap-components
    h2 The Lede and Drop&nbsp;Cap Components
    figure
      p.c-Lede.
        A #[i lede] paragraph (also referred to as a #[i standfirst] in the
        #[abbr.c-Acro(title="United Kingdom") UK]) serves as the introduction
        of an article or blog post. Use #[code .c-Lede] to achieve this style.
        It stands out from the article text in many ways. First, it uses a sans-serif
        typeface, as opposed to the normal serif typeface of the article. Second, it
        uses the main heading color. Lastly, it may use an optional dropcap.
      p.c-Lede.c-Lede--dropcap.
        Dropped capitals (#[i drop caps]) can be used for pure aesthetics
        in the lede paragraph. Add subclass #[code .c-Lede--dropcap] to the entire paragraph;
        it automatically styles the #[code ::first-letter].
        Notice how the drop cap typeface complements the lede paragraph typeface.
      p.
        #[span.c-Dropcap You can also]
        manually use #[code .c-Dropcap] on
        the first few characters of an element to provide the drop cap effect.
        It need not be related to the Lede Component.
      pre.
        &lt;p class="#[u c-Lede]"&gt;A lede paragraph ...&lt;/p&gt;
        &lt;p class="#[u c-Lede]  #[u c-Lede--dropcap]"&gt;Dropped capitals ...&lt;/p&gt;
        &lt;p&gt;&lt;span class="#[u c-Dropcap]"&gt;You can also&lt;/span&gt; manually ...&lt;/p&gt;
  section#caption-component
    h2 The Caption Component
    p.
      The Caption Component may be used on a table caption, a figure caption,
      a details summary element, a fieldset legend element,
      or simply just a paragraph describing an arbitrary element.
    p.
      Subclasses #[code .c-Caption--before] and #[code .c-Caption--after] add a separating border.
      They&rsquo;re really only good for when the figure contains text (as opposed to a table or image)
      and the caption text needs to be separated.
      The subcomponent #[code .c-Caption__Title] serves as a label.
    figure
      figure
        img(style="display: block; width: 50%; min-height: 48px; margin: auto;" src="" alt="wedding invitation — concord")
        figcaption.c-Caption
          strong.c-Caption__Title Figure 1.
          | Lots of folks play it safe with their wedding invitations by using the principle of concord.
      pre.
        &lt;figure&gt;
          &lt;img alt="wedding invitation — concord"/&gt;
          &lt;figcaption class="#[u c-Caption]"&gt;
            &lt;strong class="#[u c-Caption__Title]"&gt;Figure 1.&lt;/strong&gt;
            Lots of folks ...
          &lt;/figcaption&gt;
        &lt;/figure&gt;
      figure
        figcaption.c-Caption.c-Caption--before
          strong.c-Caption__Title Figure 2.
          | The image below shows how similar (but not the same) elements create conflict.
        img(style="display: block; width: 50%; min-height: 48px; margin: auto;" src="" alt="wedding invitation — conflict")
      pre.
        &lt;figure&gt;
          &lt;figcaption class="#[u c-Caption]  #[u c-Caption--before]"&gt;
            &lt;strong class="c-Caption__Title"&gt;Figure 2.&lt;/strong&gt;
            The image below ...
          &lt;/figcaption&gt;
          &lt;img alt="wedding invitation — conflict"/&gt;
        &lt;/figure&gt;
      figure
        img(style="display: block; width: 50%; min-height: 48px; margin: auto;" src="" alt="wedding invitation — contrast")
        figcaption.c-Caption.c-Caption--after
          strong.c-Caption__Title Figure 3.
          | This invitation uses very different elements to create a healthy contrast.
      pre.
        &lt;figure&gt;
          &lt;img alt="wedding invitation — contrast"/&gt;
          &lt;figcaption class="#[u c-Caption]  #[u c-Caption--after]"&gt;
            &lt;strong class="c-Caption__Title"&gt;Figure 3.&lt;/strong&gt;
            This invitation ...
          &lt;/figcaption&gt;
        &lt;/figure&gt;
  section#pull-quote-component
    h2 The Pull&nbsp;Quote Component
    p.
      A pull quote has a stronger effect than unstyled text, even if it does belong
      in a #[code blockquote] element.
      To cite the source, add a child #[code .c-Pullquote__Src] Component.
    p.
      Use this Component when the original source text is less than 40 words and contains
      no paragraph breaks. Do not include child #[code p] elements.
      If the original source is long enough and/or has paragraph breaks, you shouldn&rsquo;t be
      using this large component.
    figure
      blockquote.c-Pullquote(cite="http://www.imdb.com/title/tt1648163/quotes").
        Look at you, soaring through the air like an eagle&hellip; piloting a blimp.
        #[cite.c-Pullquote__Src: abbr(title="Genetic Lifeform and Disk Operating System") GLaDOS]
      pre.
        &lt;blockquote class="#[u c-Pullquote]" cite="..."&gt;
          Look at you, soaring through the air ...
          &lt;cite class="#[u c-Pullquote__Src]"&gt;GLaDOS&lt;/cite&gt;
        &lt;/blockquote&gt;
  section#action-list-component
    h2 The Action&nbsp;List Component
    p Action lists are used specifically for short, one-line, textual hyperlinks.
    figure
      ul.c-ListAction
        li.c-ListAction__Item a normal action list item
        li.c-ListAction__Item: a an anchored action list item
        li.c-ListAction__Item: a(href="") a linked action list item
      pre.
        &lt;ul class="#[u c-ListAction]"&gt;
          &lt;li class="#[u c-ListAction__Item]"&gt; normal &lt;/li&gt;
          &lt;li class="#[u c-ListAction__Item]"&gt;&lt;a&gt; anchored &lt;/a&gt;&lt;/li&gt;
          &lt;li class="#[u c-ListAction__Item]"&gt;&lt;a href=""&gt; linked &lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
  section#footnotes-list-component
    h2 The Footnotes&nbsp;List Component
    p.
      If you have footnotes
      in the #[code footer] of a document or section, use a Footnotes List Component.
      Read
      #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Footnotes") my technical report on footnotes]
      for more information.
    figure
      p.
        Conversion gel is made with moon rocks.#[sup: a.Rf#rf-rocks(rel="this" href="#fn-rocks") 1]
        Some panels are coated with conversion gel.#[sup: a.Rf#rf-panels(rel="this" href="#fn-panels") 2]
      footer
        ul.c-ListFootnotes
          li.
            #[sup: a.Fn#fn-rocks(rel="this" href="#rf-rocks") 1]
            #[sup: a.Fn#fn-panels(rel="this" href="#rf-panels") 2]
            Don&rsquo;t breathe in moon rocks; they will give you lung cancer.
            However this may be unavoidable, given the amount of conversion gel on these panels.
          li.
            #[sup: a.Fn(href="#") 3]
            An empty footnote. A footnote may include a citation, work cited, or simply a
            parenthetical remark.
      pre.
        ... moon rocks.&lt;sup&gt;&lt;a&gt;1&lt;/a&gt;&lt;/sup&gt;
        ... conversion gel.&lt;sup&gt;&lt;a&gt;2&lt;/a&gt;&lt;/sup&gt;
        &lt;footer&gt;
          &lt;ul class="#[u c-ListFootnotes]"&gt;
            &lt;li&gt;
              &lt;sup&gt;&lt;a&gt;1&lt;/a&gt;&lt;/sup&gt;
              &lt;sup&gt;&lt;a&gt;2&lt;/a&gt;&lt;/sup&gt;
              Don&rsquo;t breathe in moon rocks ...
            &lt;/li&gt;
            &lt;li&gt;&lt;sup&gt;&lt;a&gt;3&lt;/a&gt;&lt;/sup&gt;An empty footnote ...&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/footer&gt;
  section.a-bc-aperturewhite#components-for-tables
    h2 Components for Tables
    p Use the following classes for extra styles on #[code table] and #[code dl] elements.
    form
      fieldset(style="margin-bottom:1.5rem;")
        dl.o-Grid.-mb-0
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="tb" value="c-TableBordered")#check-tb
              code .c-TableBordered
          dd.o-Grid__Item.a-w-p2c border around the entire table
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="tbr" value="c-TableBorderedRows")#check-tbr
              code .c-TableBorderedRows
          dd.o-Grid__Item.a-w-p2c borders in between rows
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="tbc" value="c-TableBorderedCols")#check-tbc
              code .c-TableBorderedCols
          dd.o-Grid__Item.a-w-p2c borders in between cells in rows
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="ts" value="c-TableShaded")#check-ts
              code .c-TableShaded
          dd.o-Grid__Item.a-w-p2c background shading to the entire table
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="tsr" value="c-TableShadedRows")#check-tsr
              code .c-TableShadedRows
          dd.o-Grid__Item.a-w-p2c background shading to alternating rows
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="tsc" value="c-TableShadedCols")#check-tsc
              code .c-TableShadedCols
          dd.o-Grid__Item.a-w-p2c background shading to alternating cells in rows
          dt.o-Grid__Item.a-w-p2
            label
              input(type="checkbox" name="th" value="c-TableHover")#check-th
              code .c-TableHover
          dd.o-Grid__Item.a-w-p2c background shading to a row on hover
      input#reset-tables(type="reset")
    p.o-Box.c-Alert.c-Alert--info.
      #[strong.c-Alert__Title Notice:]
      These Components are all independent of each other, that is, the use of one does not require
      another. For example, a table may be classed #[code .c-TableBorderedRows] but may not
      necessarily be classed #[code .c-TableBordered].
    figure
      table#tabledemo1
        thead
          tr #[th thead tr 1 th 1] #[th thead tr 1 th 2] #[th thead tr 1 th 3] #[th thead tr 1 th 4] #[th thead tr 1 th 5]
          tr #[td thead tr 2 td 1] #[td thead tr 2 td 2] #[td thead tr 2 td 3] #[td thead tr 2 td 4] #[td thead tr 2 td 5]
          tr #[td thead tr 3 td 1] #[td thead tr 3 td 2] #[td thead tr 3 td 3] #[td thead tr 3 td 4] #[td thead tr 3 td 5]
          tr #[td thead tr 4 td 1] #[td thead tr 4 td 2] #[td thead tr 4 td 3] #[td thead tr 4 td 4] #[td thead tr 4 td 5]
          tr #[td thead tr 5 td 1] #[td thead tr 5 td 2] #[td thead tr 5 td 3] #[td thead tr 5 td 4] #[td thead tr 5 td 5]
        tfoot
          tr #[th tfoot tr 1 th 1] #[th tfoot tr 1 th 2] #[th tfoot tr 1 th 3] #[th tfoot tr 1 th 4] #[th tfoot tr 1 th 5]
          tr #[td tfoot tr 2 td 1] #[td tfoot tr 2 td 2] #[td tfoot tr 2 td 3] #[td tfoot tr 2 td 4] #[td tfoot tr 2 td 5]
          tr #[td tbody tr 3 td 1] #[td tbody tr 3 td 2] #[td tfoot tr 3 td 3] #[td tfoot tr 3 td 4] #[td tfoot tr 3 td 5]
          tr #[td tbody tr 4 td 1] #[td tbody tr 4 td 2] #[td tfoot tr 4 td 3] #[td tfoot tr 4 td 4] #[td tfoot tr 4 td 5]
          tr #[td tbody tr 5 td 1] #[td tbody tr 5 td 2] #[td tfoot tr 5 td 3] #[td tfoot tr 5 td 4] #[td tfoot tr 5 td 5]
        tbody
          tr #[td tbody tr 1 td 1] #[td tbody tr 1 td 2] #[td tbody tr 1 td 3] #[td tbody tr 1 td 4] #[td tbody tr 1 td 5]
          tr #[td tbody tr 2 td 1] #[td tbody tr 2 td 2] #[td tbody tr 2 td 3] #[td tbody tr 2 td 4] #[td tbody tr 2 td 5]
          tr #[td tfoot tr 3 td 1] #[td tfoot tr 3 td 2] #[td tbody tr 3 td 3] #[td tbody tr 3 td 4] #[td tbody tr 3 td 5]
          tr #[td tfoot tr 4 td 1] #[td tfoot tr 4 td 2] #[td tbody tr 4 td 3] #[td tbody tr 4 td 4] #[td tbody tr 4 td 5]
          tr #[td tfoot tr 5 td 1] #[td tfoot tr 5 td 2] #[td tbody tr 5 td 3] #[td tbody tr 5 td 4] #[td tbody tr 5 td 5]
      dl.o-Grid#tabledemo2
        dt.o-Grid__Item.o-Box.a-w-p4  .a-w-p4  (&asymp; 14.590%)
        dd.o-Grid__Item.o-Box.a-w-p4c .a-w-p4c (&asymp; 85.410%)
        dt.o-Grid__Item.o-Box.a-w-p3  .a-w-p3  (&asymp; 23.607%)
        dd.o-Grid__Item.o-Box.a-w-p3c .a-w-p3c (&asymp; 76.393%)
        dt.o-Grid__Item.o-Box.a-w-p1c .a-w-p1c (&asymp; 38.197%)
        dd.o-Grid__Item.o-Box.a-w-p1  .a-w-p1  (&asymp; 61.803%)
        dt.o-Grid__Item.o-Box.a-w-p1  .a-w-p1  (&asymp; 61.803%)
        dd.o-Grid__Item.o-Box.a-w-p1c .a-w-p1c (&asymp; 38.197%)
        dt.o-Grid__Item.o-Box.a-w-p3c .a-w-p3c (&asymp; 76.393%)
        dd.o-Grid__Item.o-Box.a-w-p3  .a-w-p3  (&asymp; 23.607%)
        dt.o-Grid__Item.o-Box.a-w-p4c .a-w-p4c (&asymp; 85.410%)
        dd.o-Grid__Item.o-Box.a-w-p4  .a-w-p4  (&asymp; 14.590%)
  section#document-component
    h2 The Document Component
    p.
      Use #[code .c-Document] to mark up a document such as an article or blog post.
      A #[dfn#dfn-document document] may take the form of a #[code body &gt; main] or
      #[code body #[abbr(title="descendant") &gt;&gt;] article].
      It should have a #[b status] and be marked up
      with metadata. Read
      #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Document-Status") my technical report on document status]
      for more information.
      Any element inside a #[code .c-Document] may be marked with subcomponent classes indicating their status.
    p.
      A Document is normative by default, but may also have informative (non-essential) elements,
      which typically have the boolean #[code [data-informative]] attribute.
    figure
      article.c-Document
        p Lorem ipsum dolor sit amet.
        p.c-Document__Draft Suspendisse ut auctor enim.
        p.c-Document__Complete Pellentesque habitant morbi tristique senectus.
        p.c-Document__Released Aenean consectetur suscipit urna.
        p.c-Document__Informative Donec finibus ut lectus finibus pellentesque.
      pre.
        &lt;article class="#[u c-Document]"&gt;
          &lt;p&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
          &lt;p class="#[u c-Document__Draft]"&gt;Suspendisse ut auctor enim.&lt;/p&gt;
          &lt;p class="#[u c-Document__Complete]"&gt;Pellentesque habitant morbi tristique senectus.&lt;/p&gt;
          &lt;p class="#[u c-Document__Released]"&gt;Aenean consectetur suscipit urna.&lt;/p&gt;
          &lt;p class="#[u c-Document__Informative]"&gt;Donec finibus ut lectus finibus pellentesque.&lt;/p&gt;
        &lt;/article&gt;
    section#document-meta(style="opacity: 0.3;")
      h3 Document Meta
      p #[code .c-Document__Meta] marks up meta-information about a document.
      p.
        Read
        #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Document-Header") my technical report on document headers]
        for more information.
      figure: article.c-Document: dl.c-Document__Meta
        dt Author
        dd Chris Harvey
        dt Description
        dd A summary of ordered and unordered lists.
        dt Keywords
        dd HTML
        dd semantic
        dd lists
        dt Version History
        dd.update
          time(datetime="2013-07-16 15:18") Jul 16, 2013 #[span.tod 3:18 PM]
          span.o-Textbox.c-Label.c-Label--cshn.-ml-1 Completed
        dd.update
          time(datetime="2013-08-01") Aug 1, 2013
        dd.update
          time(datetime="2014-03-08 01:47") Mar 8, 2013 #[span.tod 1:47 AM]
        dd.update
          time(datetime="2014-04-10 11:36") Apr 10, 2014 #[span.tod 11:36 AM]
          span.o-Textbox.c-Label.c-Label--skss.-ml-1 Released
        dd.update
          time(datetime="2014-05-08 14:53") May 8, 2013 #[span.tod 2:53 PM]
          span.o-Textbox.c-Label.c-Label--dang.-ml-1 Latest
  section#text-level-components
    h2 Text-Level Components
    section#acronyms
      h3 Acronyms
      p.
        When an #[code abbr] element contains an acronym, with all caps,
        use class #[code .c-Acro] for a friendlier style.
        It lessens the harshness of sequential capital letters.
      figure
        p.
          The National Aeronautics and Space Administration, more commonly known as
          #[abbr.c-Acro(title="National Aeronautics and Space Administration") NASA],
          advocates a mission to Mars.
        pre.
          &lt;p&gt;... known as &lt;abbr class="#[u c-Acro]" title="National Aeronautics and Space Administration"&gt;NASA&lt;/abbr&gt;, advocates ...&lt;/p&gt;
      p.
        Use #[code .c-Acro__First] on the first letter of an #[code .c-Acro] that begins a paragraph,
        sentence, or list item. It simply reverts the font size.
      figure
        p.
          #[abbr.c-Acro(title="National Aeronautics and Space Administration") #[span.c-Acro__First N]ASA]
          strongly advocates a mission to Mars.
        pre.
          &lt;p&gt;&lt;abbr class="#[u c-Acro]" title="National Aeronautics and Space Administration"&gt;&lt;span class="#[u c-Acro__First]"&gt;N&lt;/span&gt;ASA&lt;/abbr&gt; strongly ...&lt;/p&gt;
    section#camo-links
      h3 Camo Links
      figure
        p.
          A #[code .c-Camo] is a #[a.c-Camo(href="") camouflaged hyperlink].
          Even though it&rsquo;s a link, it looks like normal text (until&nbsp;hover).
          It even works on #[a.c-Camo anchors without hrefs].
          Best used for printing.
        pre.
          &lt;p&gt;
            ... is a &lt;a class="#[u c-Camo]" href=""&gt;camouflaged hyperlink&lt;/a&gt;. ...
            ... works on &lt;a class="#[u c-Camo]"&gt;anchors without hrefs&lt;/a&gt;. ...
          &lt;/p&gt;
  section#breadcrumbs(style="opacity: 0.3;")
    h2 Breadcrumbs
    p.
      Read
      #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Breadcrumbs") my technical report on breadcrumbs]
      for more information.
    ol.Anc
      li: a.Crumb(rel="top     ") .Anc .Crumb[rel="top"]
      li: a.Crumb(rel="ancestor") .Anc .Crumb[rel="ancestor"]
      li: a.Crumb(rel="parent  ") .Anc .Crumb[rel="parent"]
    ol.Sib
      li: a.Crumb(rel="sibling") .Sib .Crumb[rel="sibling"]
      li: a.Crumb(rel="this   ") .Sib .Crumb[rel="this"]
      li: a.Crumb(rel="sibling") .Sib .Crumb[rel="sibling"]
    ol.Child
      li: a.Crumb(rel="child") .Child .Crumb[rel="child"]
      li: a.Crumb(rel="child") .Child .Crumb[rel="child"]
      li: a.Crumb(rel="child") .Child .Crumb[rel="child"]

block append scripts
  script.
    var tables = $('#tabledemo1, #tabledemo2')
    $('#c-Table form input').change(function () {
      if (this.checked) { tables.addClass($(this).val()) }
      else              { tables.removeClass($(this).val()) }
    })
    $('#reset-tables').click(function () {
      $('#c-Table form input').each(function () {
        tables.removeClass($(this).val())
      })
    })
