extends layout.tpl.jade

block append vars
  - titles.push('Helpers')

block append main__header
  p.o-Box.c-Alert.c-Alert--help.
    #[strong.c-Alert__Title Note:]
    Backgrounds have been added to all Helpers on this page to show structure.
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#after-helpers") The After* Helpers

block append main
  section#after-helpers
    h2 The After#[span.-va-st &lowast;] Helpers
    p.
      The following helper classes add content to the #[code ::after] pseudo-element of an element.
      #[code .h-After] adds the empty string as content, so it is mostly useless, save for some
      rare cases.
    p.
      The following elements act like comma-separated list items.
      Use this for a list of keywords, for example. These might take the form of
      #[code li]s inside a #[code ol],
      or they may be simply a list of #[code span]s.
    p.
      The following list has comma-separated items.
      Use this for a list of keywords, for example.
    figure
      ol
        li.h-AfterComma.h-demo  ol &gt; li.h-AfterComma
        li.h-AfterComma.h-demo  ol &gt; li.h-AfterComma
        li.h-demo               ol &gt; li
    p.
      This list has semicolon-separated list items. This can be used to avoid confusion
      if the list items themselves contain commas.
    figure
      ol
        li.h-AfterSem.h-demo    ol &gt; li.h-AfterSem
        li.h-AfterSem.h-demo    ol &gt; li.h-AfterSem
        li.h-demo               ol &gt; li
    p.
      This list has em-dash-separated list items. This could be used
      in a table of contents to list topic names that don&rsquo;t have section numbers.
    figure
      ol
        li.h-AfterMdash.h-demo  ol &gt; li.h-AfterMdash
        li.h-AfterMdash.h-demo  ol &gt; li.h-AfterMdash
        li.h-demo               ol &gt; li
    p.
      This list has en-dash-separated list items. This is a variant
      of the em-dash list above.
    figure
      ol
        li.h-AfterNdash.h-demo  ol &gt; li.h-AfterNdash
        li.h-AfterNdash.h-demo  ol &gt; li.h-AfterNdash
        li.h-demo               ol &gt; li
    p This list has list items separated by circular bullets.
    figure
      ol
        li.h-AfterDisc.h-demo   ol &gt; li.h-AfterDisc
        li.h-AfterDisc.h-demo   ol &gt; li.h-AfterDisc
        li.h-demo               ol &gt; li
    p This list has list items separated by square bullets.
    figure
      ol
        li.h-AfterSquare.h-demo ol &gt; li.h-AfterSquare
        li.h-AfterSquare.h-demo ol &gt; li.h-AfterSquare
        li.h-demo               ol &gt; li
    p.
      Use the #[code .h-AfterNewline] class to create a line break between items.
      Use #[code .h-AfterNewline-p] to do the same for #[code @media print] only.
    figure
      ol
        li.h-AfterNewline.h-demo   ol &gt; li.h-AfterNewline
        li.h-demo.h-AfterNewline-p ol &gt; li.h-AfterNewline-p
        li.h-demo                  ol &gt; li
