extends layout.tpl.jade

block append vars
  - titles.push('Helpers')

block append main__header
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#after-helpers") The After* Helpers
      li: a(href="#clearfix-helper") The Clearfix Helper

block append main
  section#after-helpers
    h2 The After#[span.-va-st &lowast;] Helpers
    p.o-Box.c-Alert.c-Alert--help.
      #[strong.c-Alert__Title Note:]
      Backgrounds have been added to all Helpers in this section to show structure.
    p.
      The following helper classes add content to the #[code ::after] pseudo-element of an element.
      Items might take the form of #[code li]s inside an #[code ol]/#[code ul],
      or they may simply be subsequent #[code span]s in a row.
      In the former case, you may want to add class #[code .o-Inline].
    p.
      The following list has comma-separated items.
      Use this for a list of keywords, for example.
    figure
      ol.o-ListBare
        li.o-Inline.h-AfterComma.h-demo spacetime
        li.o-Inline.h-AfterComma.h-demo black hole
        li.o-Inline.h-demo singularity
      pre.
        &lt;ol&gt;
          &lt;li class="o-Inline  #[u h-AfterComma]"&gt;spacetime&lt;/li&gt;
          &lt;li class="o-Inline  #[u h-AfterComma]"&gt;black hole&lt;/li&gt;
          &lt;li class="o-Inline"&gt;singularity&lt;/li&gt;
        &lt;/ol&gt;
    p.
      This list has semicolon-separated list items. This can be used to avoid confusion
      if the list items themselves contain commas.
    figure
      ol.o-ListBare
        li.o-Inline.h-AfterSem.h-demo spacetime
        li.o-Inline.h-AfterSem.h-demo black hole
        li.o-Inline.h-demo singularity
      pre &lt;li class="o-Inline  #[u h-AfterSem]"&gt;spacetime&lt;/li&gt;
    p.
      This list has em-dash-separated list items. This could be used
      in a table of contents to list topic names that don&rsquo;t have section numbers.
    figure
      ol.o-ListBare
        li.o-Inline.h-AfterMdash.h-demo spacetime
        li.o-Inline.h-AfterMdash.h-demo black hole
        li.o-Inline.h-demo singularity
      pre &lt;li class="o-Inline  #[u h-AfterMdash]"&gt;spacetime&lt;/li&gt;
    p.
      This list has en-dash-separated list items. This is a variant
      of the em-dash list above.
    figure
      ol.o-ListBare
        li.o-Inline.h-AfterNdash.h-demo spacetime
        li.o-Inline.h-AfterNdash.h-demo black hole
        li.o-Inline.h-demo singularity
      pre &lt;li class="o-Inline  #[u h-AfterNdash]"&gt;spacetime&lt;/li&gt;
    p These list items are separated by circular bullets.
    figure
      ol.o-ListBare
        li.o-Inline.h-AfterDisc.h-demo spacetime
        li.o-Inline.h-AfterDisc.h-demo black hole
        li.o-Inline.h-demo singularity
      pre &lt;li class="o-Inline  #[u h-AfterDisc]"&gt;spacetime&lt;/li&gt;
    p These list items are separated by square bullets.
    figure
      ol.o-ListBare
        li.o-Inline.h-AfterSquare.h-demo spacetime
        li.o-Inline.h-AfterSquare.h-demo black hole
        li.o-Inline.h-demo singularity
      pre &lt;li class="o-Inline  #[u h-AfterSquare]"&gt;spacetime&lt;/li&gt;
  section#clearfix-helper
    h2 The Clearfix Helper
    p.
      Use the #[code .h-Clearfix] class to create a line break after an item.
      This could be used for an item in the middle of an inline list,
      or simply as a true #[i clearfix], on a block containing floating items.
    figure
      p.h-Clearfix
        b(style="display: inline-block; line-height: inherit; float: left;") gravity
        b(style="display: inline-block; line-height: inherit; float: right;") supernova
      p spacetime black hole singularity
      pre.
        &lt;p class="#[u h-Clearfix]"&gt;
          &lt;b style="float:  left;"&gt;gravity&lt;/b&gt;
          &lt;b style="float: right;"&gt;supernova&lt;/b&gt;
        &lt;/p&gt;
        &lt;p&gt;spacetime black hole singularity&lt;/p&gt;
