extends _styleguide.tpl.jade

block append vars
  - var page = Styleguide.PAGES.find('help.html')

block append mainHeader
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#after-helpers") The After* Helpers
      li: a(href="#crossgrid-lined") crossgrid-lined

block append main
  section#after-helpers
    h2 The After#[span.-va-st &lowast;] Helpers
    p.o-Box.c-Alert.c-Alert--help.
      #[strong.c-Alert__Title Note:]
      Backgrounds have been added to all Helpers in this section to show structure.
    p.
      The following helper classes add content to the #[code ::after] pseudo-element of an element.
      Items might take the form of #[code li]s inside an #[code ol]/#[code ul],
      or they may simply be subsequent #[code span]s in a row.
    p.
      The following list has comma-separated items.
      Use this for a list of keywords, for example.
    figure
      ol.o-List
        li.o-List__Item.h-Inline.h-AfterComma.h-demo spacetime
        li.o-List__Item.h-Inline.h-AfterComma.h-demo black hole
        li.o-List__Item.h-Inline.h-demo singularity
      pre.
        &lt;ol&gt;
          &lt;li class="h-Inline  #[u h-AfterComma]"&gt;spacetime&lt;/li&gt;
          &lt;li class="h-Inline  #[u h-AfterComma]"&gt;black hole&lt;/li&gt;
          &lt;li class="h-Inline"&gt;singularity&lt;/li&gt;
        &lt;/ol&gt;
    p.
      This list has semicolon-separated list items. This can be used to avoid confusion
      if the list items themselves contain commas.
    figure
      ol.o-List
        li.o-List__Item.h-Inline.h-AfterSem.h-demo spacetime
        li.o-List__Item.h-Inline.h-AfterSem.h-demo black hole
        li.o-List__Item.h-Inline.h-demo singularity
      pre &lt;li class="h-Inline  #[u h-AfterSem]"&gt;spacetime&lt;/li&gt;
    p.
      This list has em-dash-separated list items. This could be used
      in a table of contents to list topic names that don&rsquo;t have section numbers.
    figure
      ol.o-List
        li.o-List__Item.h-Inline.h-AfterMdash.h-demo spacetime
        li.o-List__Item.h-Inline.h-AfterMdash.h-demo black hole
        li.o-List__Item.h-Inline.h-demo singularity
      pre &lt;li class="h-Inline  #[u h-AfterMdash]"&gt;spacetime&lt;/li&gt;
    p.
      This list has en-dash-separated list items. This is a variant
      of the em-dash list above.
    figure
      ol.o-List
        li.o-List__Item.h-Inline.h-AfterNdash.h-demo spacetime
        li.o-List__Item.h-Inline.h-AfterNdash.h-demo black hole
        li.o-List__Item.h-Inline.h-demo singularity
      pre &lt;li class="h-Inline  #[u h-AfterNdash]"&gt;spacetime&lt;/li&gt;
    p These list items are separated by circular bullets.
    figure
      ol.o-List
        li.o-List__Item.h-Inline.h-AfterDisc.h-demo spacetime
        li.o-List__Item.h-Inline.h-AfterDisc.h-demo black hole
        li.o-List__Item.h-Inline.h-demo singularity
      pre &lt;li class="h-Inline  #[u h-AfterDisc]"&gt;spacetime&lt;/li&gt;
    p These list items are separated by square bullets.
    figure
      ol.o-List
        li.o-List__Item.h-Inline.h-AfterSquare.h-demo spacetime
        li.o-List__Item.h-Inline.h-AfterSquare.h-demo black hole
        li.o-List__Item.h-Inline.h-demo singularity
      pre &lt;li class="h-Inline  #[u h-AfterSquare]"&gt;spacetime&lt;/li&gt;
  section.o-Box.o-Box--kilo.c-Document__Draft#crossgrid-lined(style="background-color: #f5d5d6;")
    h2 crossgrid-lined
    figure.crossgrid-lined
      p Some figures contain text and/or paragraphs. The optional class #[code .crossgrid-lined] is added.
      p This #[code figure.crossgrid-lined] contains optional #[code p] elements.
      p This is another #[code figure.crossgrid-lined &gt; p].
    blockquote.crossgrid-lined
      p.
        Use #[code blockquote.crossgrid-lined] for an added background image.
        This is the rest of the text.
      p.
        This is the rest of the text.
        This is the rest of the text.
        This is the rest of the text.
        This is the rest of the text.
