extends _styleguide.tpl.jade

block append vars
  - var page = Styleguide.PAGES.find('obj.html')

block append mainHeader
  p.o-Box.c-Alert.c-Alert--help.
    #[strong.c-Alert__Title Note:]
    Backgrounds have been added to all Objects on this page to show structure.
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#box-object") The Box Object
      li: a(href="#textbox-object") The Textbox Object
      li
        a(href="#golden-container") The Golden Container
        ol
          li: a(href="#flipped-golden-container") The Flipped Golden Container

block append main
  section#box-object
    h2 The Box Object
    p.
      Use the Box object for stand-alone, highlighted blocks.
      They are useful for things like alerts, pop-ups, and asides.
      Since they have a border radius, they don&rsquo;t look good in tables or table-like structures.
    figure
      ul.o-List
        li.o-List__Item.a-bc-shadelight.o-Box             Box
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--micr Microbox
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--mill Millibox
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--norm Normal-sized Box (same as Box)
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--kilo Kilobox
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--mega Megabox
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--giga Gigabox
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--tera Terabox
        li.o-List__Item.a-bc-shadelight.o-Box.o-Box--peta Petabox
      pre.
        &lt;div class="#[u o-Box]"&gt;Box&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--micr]"&gt;Microbox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--mill]"&gt;Millibox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--norm]"&gt;Normal-sized Box&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--kilo]"&gt;Kilobox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--mega]"&gt;Megabox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--giga]"&gt;Gigabox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--tera]"&gt;Terabox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--peta]"&gt;Petabox&lt;/div&gt;
    //- figure
      ul.o-List
        li.o-List__Item.h-demo.h-p-micr(style="margin-top: -0.375rem; margin-bottom:1.5rem") .h-p-micr
        li.o-List__Item.h-demo.h-p-mill(style="margin-top: -0.75rem;") .h-p-mill
        li.o-List__Item.h-demo.h-p-norm .h-p-norm
        li.o-List__Item.h-demo.h-p-kilo .h-p-kilo
        li.o-List__Item.h-demo.h-p-mega .h-p-mega
        li.o-List__Item.h-demo.h-p-giga .h-p-giga
        li.o-List__Item.h-demo.h-p-tera .h-p-tera
        li.o-List__Item.h-demo.h-p-peta .h-p-peta
  section#textbox-object
    h2 The Textbox Object
    p.
      The Textbox Object is similar to the Box object except that it is used for
      #[em inline text only],
      such as labels or badges.
      It is usually instantiated by a #[code small] element, but that depends on context.
    figure
      h1 Example h1 #[small.o-Textbox.a-bc-shadelight Textbox]
      h2 Example h2 #[small.o-Textbox.a-bc-shadelight Textbox]
      h3 Example h3 #[small.o-Textbox.a-bc-shadelight Textbox]
      h4 Example h4 #[small.o-Textbox.a-bc-shadelight Textbox]
      h5 Example h5 #[small.o-Textbox.a-bc-shadelight Textbox]
      h6 Example h6 #[small.o-Textbox.a-bc-shadelight Textbox]
      p Example paragraph #[small.o-Textbox.a-bc-shadelight Textbox]
      pre.
        &lt;h1&gt;Example h1 &lt;small class="#[u o-Textbox]"&gt;Textbox&lt;/small&gt;&lt;/h1&gt;
  section#golden-container
    h2 The Golden Container
    p.
      See my article #[a(href="../blog/griddemo.html") griddemo.html] for docs on
      the GoldenContainer object.
    p The following is a #[code .o-GoldenContainer] Object, containing 3 children:
    ol
      li a #[code .o-GoldenContainer__Content] Object
      li a #[code .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--major] Object
      li a #[code .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--minor] Object
    figure
      .o-GoldenContainer.h-demo(style="margin-bottom:18rem;")
        .o-GoldenContainer__Content.h-demo.
          #[h1.normh1 Content]
          Suspendisse ut auctor enim.
          Aliquam viverra enim vitae ante aliquet venenatis.
          Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
          Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
          Aenean tincidunt ante risus, semper malesuada libero consectetur id.
          Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
          Integer blandit est quam, eget mattis urna scelerisque quis.
          Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
          Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
          Integer varius egestas risus, volutpat sagittis turpis convallis eget.
          Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
          In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
          Sed luctus congue tortor a scelerisque.
        .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--major.h-demo(style="color: #1560AB;").
          #[h1.normh1 Major Sidebar]
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam sagittis suscipit nunc, a cursus libero euismod at.
          Nulla placerat neque massa, quis interdum leo efficitur vel.
          Donec feugiat varius arcu non volutpat.
          Mauris eget mauris ut mauris auctor mattis id vel justo.
          Nulla dictum arcu nec suscipit mollis.
          Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
        .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--minor.h-demo(style="color: #902929;").
          #[h1.normh1 Minor Sidebar]
          Donec finibus ut lectus finibus pellentesque.
          Nulla euismod feugiat nulla nec posuere.
          Sed ac est id sem sagittis rhoncus eu ac neque.
          Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
    p.
      Sometimes you may have objects #[em inside] the Content that you wish to make
      appear as a sidebar or as if it weren&rsquo;t in the Content.
    p.
      The following #[code .o-GoldenContainer] Object contains only a
      #[code .o-GoldenContainer__Content] Object, which contains 3 children:
    ol
      li a #[code .o-GoldenContainer__Content__Page] Object
      li a #[code .o-GoldenContainer__Content__SideMajor] Object
      li a #[code .o-GoldenContainer__Content__SideMinor] Object
    p.
      Even though these are children of #[code .o-GoldenContainer__Content], they appear
      as if they are outside (for example, inside a #[code __Sidebar--major] or
      #[code __Sidebar--minor]).
    figure
      .o-GoldenContainer.h-demo(style="margin-bottom:18rem;")
        .o-GoldenContainer__Content.h-demo
          h1.normh1 Content
          | Suspendisse ut auctor enim.
          | Aliquam viverra enim vitae ante aliquet venenatis.
          .o-GoldenContainer__Content__Page.
            #[h1.normh1 Page]
            Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
            Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
            Aenean tincidunt ante risus, semper malesuada libero consectetur id.
          .o-GoldenContainer__Content__SideMajor(style="color: #1560AB;").
            #[h1.normh1 Major Side]
            Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
            Integer blandit est quam, eget mattis urna scelerisque quis.
          .o-GoldenContainer__Content__SideMinor(style="color: #902929;").
            #[h1.normh1 Minor Side]
            Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
    section#flipped-golden-container
      h3 The Flipped Golden Container
      p The following is a #[code .o-GoldenContainerFlip] Object, containing 3 children:
      ul
        li a #[code .o-GoldenContainerFlip__Content] Object
        li a #[code .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--major] Object
        li a #[code .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--minor] Object
      figure
        .o-GoldenContainerFlip.h-demo(style="margin-bottom:18rem;")
          .o-GoldenContainerFlip__Content.h-demo.
            #[h1.normh1 Content]
            Suspendisse ut auctor enim.
            Aliquam viverra enim vitae ante aliquet venenatis.
            Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
            Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
            Aenean tincidunt ante risus, semper malesuada libero consectetur id.
            Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
            Integer blandit est quam, eget mattis urna scelerisque quis.
            Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
            Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
            Integer varius egestas risus, volutpat sagittis turpis convallis eget.
            Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
            In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
            Sed luctus congue tortor a scelerisque.
          .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--major.h-demo(style="color: #1560AB;").
            #[h1.normh1 Major Sidebar]
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam sagittis suscipit nunc, a cursus libero euismod at.
            Nulla placerat neque massa, quis interdum leo efficitur vel.
            Donec feugiat varius arcu non volutpat.
            Mauris eget mauris ut mauris auctor mattis id vel justo.
            Nulla dictum arcu nec suscipit mollis.
            Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
          .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--minor.h-demo(style="color: #902929;").
            #[h1.normh1 Minor Sidebar]
            Donec finibus ut lectus finibus pellentesque.
            Nulla euismod feugiat nulla nec posuere.
            Sed ac est id sem sagittis rhoncus eu ac neque.
            Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
      p.
        Sometimes you may have objects #[em inside] the Content that you wish to make
        appear as a sidebar or as if it weren&rsquo;t in the Content.
      p.
        The following #[code .o-GoldenContainerFlip] Object contains only a
        #[code .o-GoldenContainerFlip__Content] Object, which contains 3 children:
      ol
        li a #[code .o-GoldenContainerFlip__Content__Page] Object
        li a #[code .o-GoldenContainerFlip__Content__SideMajor] Object
        li a #[code .o-GoldenContainerFlip__Content__SideMinor] Object
      p.
        Even though these are children of #[code .o-GoldenContainerFlip__Content], they appear
        as if they are outside (for example, inside a #[code __Sidebar--major] or
        #[code __Sidebar--minor]).
      figure
        .o-GoldenContainerFlip.h-demo(style="margin-bottom:18rem;")
          .o-GoldenContainerFlip__Content.h-demo
            h1.normh1 Content
            | Suspendisse ut auctor enim.
            | Aliquam viverra enim vitae ante aliquet venenatis.
            .o-GoldenContainerFlip__Content__Page.
              #[h1.normh1 Page]
              Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
              Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
              Aenean tincidunt ante risus, semper malesuada libero consectetur id.
            .o-GoldenContainerFlip__Content__SideMajor(style="color: #1560AB;").
              #[h1.normh1 Major Side]
              Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
              Integer blandit est quam, eget mattis urna scelerisque quis.
            .o-GoldenContainerFlip__Content__SideMinor(style="color: #902929;").
              #[h1.normh1 Minor Side]
              Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
