extends layout.tpl.jade

block append vars
  - titles.push('Objects')

block append main__header
  p.o-Box.c-Alert.c-Alert--help.
    #[strong.c-Alert__Title Note:]
    Backgrounds have been added to all Objects on this page to show structure.
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#box-object") The Box Object
      li: a(href="#textbox-object") The Textbox Object
      li: a(href="#bare-list") The Bare List
      li: a(href="#inline-list") The Inline List
      li: a(href="#flex-container-object") The Flex Container Object
      li
        a(href="#golden-container") The Golden Container
        ol
          li: a(href="#flipped-golden-container") The Flipped Golden Container

block append main
  section#box-object
    h2 The Box Object
    p.
      Use the Box object for stand-alone, highlighted blocks or models.
      They are useful for things like alerts or pop-ups.
    figure
      ul.o-ListBare
        li.a-bc-shadelight.o-Box             Box
        li.a-bc-shadelight.o-Box.o-Box--micr Microbox
        li.a-bc-shadelight.o-Box.o-Box--mill Millibox
        li.a-bc-shadelight.o-Box.o-Box--norm Normal-sized Box (same as Box)
        li.a-bc-shadelight.o-Box.o-Box--kilo Kilobox
        li.a-bc-shadelight.o-Box.o-Box--mega Megabox
        li.a-bc-shadelight.o-Box.o-Box--giga Gigabox
        li.a-bc-shadelight.o-Box.o-Box--tera Terabox
        li.a-bc-shadelight.o-Box.o-Box--peta Petabox
      pre.
        &lt;div class="#[u o-Box]"&gt;Box&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--micr]"&gt;Microbox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--mill]"&gt;Millibox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--norm]"&gt;Normal-sized Box&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--kilo]"&gt;Kilobox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--mega]"&gt;Megabox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--giga]"&gt;Gigabox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--tera]"&gt;Terabox&lt;/div&gt;
        &lt;div class="#[u o-Box]  #[u o-Box--peta]"&gt;Petabox&lt;/div&gt;
    //- figure
      ul.o-ListBare
        li.h-demo.h-p-micr(style="margin-top: -0.375rem; margin-bottom:1.5rem") .h-p-micr
        li.h-demo.h-p-mill(style="margin-top: -0.75rem;") .h-p-mill
        li.h-demo.h-p-norm .h-p-norm
        li.h-demo.h-p-kilo .h-p-kilo
        li.h-demo.h-p-mega .h-p-mega
        li.h-demo.h-p-giga .h-p-giga
        li.h-demo.h-p-tera .h-p-tera
        li.h-demo.h-p-peta .h-p-peta
  section#textbox-object
    h2 The Textbox Object
    p.
      The Textbox Object is similar to the Box object except that it is used for inline text only,
      such as labels or badges.
      It is usually instantiated by a #[code small] element, but that depends on context.
    figure
      p
        | The following is a Textbox: 
        span.a-bc-shadelight.o-Textbox here I am!
        |  Textboxes are inline text only.
      h3 Example h3 #[small.a-bc-shadelight.o-Textbox Textbox]
      pre.
        &lt;p&gt;... Textbox: &lt;small class="#[u o-Textbox]"&gt;here I am!&lt;/small&gt; ... &lt;/p&gt;
        &lt;h3&gt;Example h3 &lt;small class="#[u o-Textbox]"&gt;Textbox&lt;/small&gt;&lt;/h3&gt;
  section#bare-list
    h2 The Bare List
    p.
      Use the Bare List object to remove the usual padding and list item markers accompanied by
      (un)ordered lists. The result is a list of items, each on its own line.
      Combine this class with other classes to create a variety of styles.
    figure
      ul.o-ListBare
        li.a-bc-shadelight Burns &amp; McDonnell Engineering
        li.a-bc-shadelight DIS-TRAN Steel, LLC
        li.a-bc-shadelight EDM International
        li.a-bc-shadelight Electrical Consultants, Inc.
        li.a-bc-shadelight Fabrimet Inc.
        li.a-bc-shadelight Falcon Steel Company
      pre.
        &lt;ul class="#[u o-ListBare]"&gt;
          &lt;li&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section#inline-list
    h2 The Inline List
    p.o-Box.c-Alert.c-Alert--help.
      #[strong.c-Alert__Title Note:]
      On all lists below, outlines have been added to each line item to show structure.
    p.
      Inline list Objects are semantically no different from normal Lists.
      Stylistically, though, they are displayed inline and have inline line items. Essentially,
      they can be used for listing words, spans, labels, badges, and other inline content.
      Wrap this Object in a block if necessary.
    p Every item in the list should be a #[code .o-ListInline__Item] Object.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-demo .o-ListInline &gt; .o-ListInline__Item
        li.o-ListInline__Item.h-demo .o-ListInline &gt; .o-ListInline__Item
        li.o-ListInline__Item.h-demo .o-ListInline &gt; .o-ListInline__Item
  section#flex-container
    h2 The Flex Container
    .o-FlexContainer
      p.
        You are reading inside a FlexContainer right now.
        See my article #[a(href="../blog/layout.html") The FlexContainer Object].
  section#golden-container
    h2 The Golden Container
    p.
      See my article #[a(href="../blog/griddemo.html") griddemo.html] for docs on
      the GoldenContainer object.
    p The following is a #[code .o-GoldenContainer] Object, containing 3 children:
    ul
      li a #[code .o-GoldenContainer__Content] Object
      li a #[code .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--major] Object
      li a #[code .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--minor] Object
    figure
      .o-GoldenContainer.h-demo(style="margin-bottom:18rem;")
        .o-GoldenContainer__Content.h-demo.
          #[h1.normh1 Content]
          Suspendisse ut auctor enim.
          Aliquam viverra enim vitae ante aliquet venenatis.
          Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
          Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
          Aenean tincidunt ante risus, semper malesuada libero consectetur id.
          Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
          Integer blandit est quam, eget mattis urna scelerisque quis.
          Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
          Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
          Integer varius egestas risus, volutpat sagittis turpis convallis eget.
          Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
          In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
          Sed luctus congue tortor a scelerisque.
        .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--major.h-demo(style="color: #1560AB;").
          #[h1.normh1 Major Sidebar]
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam sagittis suscipit nunc, a cursus libero euismod at.
          Nulla placerat neque massa, quis interdum leo efficitur vel.
          Donec feugiat varius arcu non volutpat.
          Mauris eget mauris ut mauris auctor mattis id vel justo.
          Nulla dictum arcu nec suscipit mollis.
          Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
        .o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--minor.h-demo(style="color: #902929;").
          #[h1.normh1 Minor Sidebar]
          Donec finibus ut lectus finibus pellentesque.
          Nulla euismod feugiat nulla nec posuere.
          Sed ac est id sem sagittis rhoncus eu ac neque.
          Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
      .o-GoldenContainer.h-demo(style="margin-bottom:18rem;")
        .o-GoldenContainer__Content.h-demo
          h1.normh1 Content
          p.
            Sometimes you may have objects #[em inside] the Content that you wish to make
            appear as a sidebar or as if it weren&rsquo;t in the Content.
          .o-GoldenContainer__Content__Page.
            This is a .o- GoldenContainer __Content __Page.
            Even though it is a child of __Content, it appears like material
            elsewhere on the page (not in __Content).
          .o-GoldenContainer__Content__SideMajor.
            This is a .o- GoldenContainer __Content __SideMajor.
            Even though it is a child of __Content, it appears like material
            in a __Sidebar--major.
          .o-GoldenContainer__Content__SideMinor.
            This is a .o- GoldenContainer __Content __SideMinor.
            Even though it is a child of __Content, it appears like material
            in a __Sidebar--minor.
    section#flipped-golden-container
      h3 The Flipped Golden Container
      p The following is a #[code .o-GoldenContainerFlip] Object, containing 3 children:
      ul
        li a #[code .o-GoldenContainerFlip__Content] Object
        li a #[code .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--major] Object
        li a #[code .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--minor] Object
      figure
        .o-GoldenContainerFlip.h-demo(style="margin-bottom:18rem;")
          .o-GoldenContainerFlip__Content.h-demo.
            #[h1.normh1 Content]
            Suspendisse ut auctor enim.
            Aliquam viverra enim vitae ante aliquet venenatis.
            Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
            Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
            Aenean tincidunt ante risus, semper malesuada libero consectetur id.
            Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
            Integer blandit est quam, eget mattis urna scelerisque quis.
            Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
            Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
            Integer varius egestas risus, volutpat sagittis turpis convallis eget.
            Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
            In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
            Sed luctus congue tortor a scelerisque.
          .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--major.h-demo(style="color: #1560AB;").
            #[h1.normh1 Major Sidebar]
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam sagittis suscipit nunc, a cursus libero euismod at.
            Nulla placerat neque massa, quis interdum leo efficitur vel.
            Donec feugiat varius arcu non volutpat.
            Mauris eget mauris ut mauris auctor mattis id vel justo.
            Nulla dictum arcu nec suscipit mollis.
            Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
          .o-GoldenContainerFlip__Sidebar.o-GoldenContainerFlip__Sidebar--minor.h-demo(style="color: #902929;").
            #[h1.normh1 Minor Sidebar]
            Donec finibus ut lectus finibus pellentesque.
            Nulla euismod feugiat nulla nec posuere.
            Sed ac est id sem sagittis rhoncus eu ac neque.
            Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
        .o-GoldenContainerFlip.h-demo(style="margin-bottom:18rem;")
          .o-GoldenContainerFlip__Content.h-demo
            h1.normh1 Content
            p.
              Sometimes you may have objects #[em inside] the Content that you wish to make
              appear as a sidebar or as if it weren&rsquo;t in the Content.
            .o-GoldenContainerFlip__Content__Page.
              This is a .o- GoldenContainerFlip __Content __Page.
              Even though it is a child of __Content, it appears like material
              elsewhere on the page (not in __Content).
            .o-GoldenContainerFlip__Content__SideMajor.
              This is a .o- GoldenContainerFlip __Content __SideMajor.
              Even though it is a child of __Content, it appears like material
              in a __Sidebar--major.
            .o-GoldenContainerFlip__Content__SideMinor.
              This is a .o- GoldenContainerFlip __Content __SideMinor.
              Even though it is a child of __Content, it appears like material
              in a __Sidebar--minor.
  section#h-After
    h2 The #[code .h-After#[span.-va-st &lowast;]] Helpers
    p.
      The following helper classes add content to the #[code ::after] pseudo-element of an element.
      #[code .h-After] adds the empty string as content, so it is mostly useless, save for some
      rare cases.
    p.
      The following elements act like comma-separated list items.
      Use this for a list of keywords, for example. These might take the form of
      #[code li]s inside a #[code ol],
      or they may be simply a list of #[code span]s.
    p.
      The following #[code .o-ListInline] has comma-separated list items.
      Use this for a list of keywords, for example.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterComma.h-demo  .o-ListInline &gt; .o-ListInline__Item.h-AfterComma
        li.o-ListInline__Item.h-AfterComma.h-demo  .o-ListInline &gt; .o-ListInline__Item.h-AfterComma
        li.o-ListInline__Item.h-demo               .o-ListInline &gt; .o-ListInline__Item
    p.
      This list has semicolon-separated list items. This can be used to avoid confusion
      if the list items themselves contain commas.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterSem.h-demo    .o-ListInline &gt; .o-ListInline__Item.h-AfterSem
        li.o-ListInline__Item.h-AfterSem.h-demo    .o-ListInline &gt; .o-ListInline__Item.h-AfterSem
        li.o-ListInline__Item.h-demo               .o-ListInline &gt; .o-ListInline__Item
    p.
      This list has em-dash-separated list items. This could be used
      in a table of contents to list topic names that don&rsquo;t have section numbers.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterMdash.h-demo  .o-ListInline &gt; .o-ListInline__Item.h-AfterMdash
        li.o-ListInline__Item.h-AfterMdash.h-demo  .o-ListInline &gt; .o-ListInline__Item.h-AfterMdash
        li.o-ListInline__Item.h-demo               .o-ListInline &gt; .o-ListInline__Item
    p.
      This list has en-dash-separated list items. This is a variant
      of the em-dash list above.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterNdash.h-demo  .o-ListInline &gt; .o-ListInline__Item.h-AfterNdash
        li.o-ListInline__Item.h-AfterNdash.h-demo  .o-ListInline &gt; .o-ListInline__Item.h-AfterNdash
        li.o-ListInline__Item.h-demo               .o-ListInline &gt; .o-ListInline__Item
    p This list has list items separated by circular bullets.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterDisc.h-demo   .o-ListInline &gt; .o-ListInline__Item.h-AfterDisc
        li.o-ListInline__Item.h-AfterDisc.h-demo   .o-ListInline &gt; .o-ListInline__Item.h-AfterDisc
        li.o-ListInline__Item.h-demo               .o-ListInline &gt; .o-ListInline__Item
    p This list has list items separated by square bullets.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterSquare.h-demo .o-ListInline &gt; .o-ListInline__Item.h-AfterSquare
        li.o-ListInline__Item.h-AfterSquare.h-demo .o-ListInline &gt; .o-ListInline__Item.h-AfterSquare
        li.o-ListInline__Item.h-demo               .o-ListInline &gt; .o-ListInline__Item
    p.
      Use the #[code .h-AfterNewline] class to create a line break between items.
      Use #[code .h-AfterNewline-p] to do the same for #[code @media print] only.
    figure
      ol.o-ListInline
        li.o-ListInline__Item.h-AfterNewline.h-demo   .o-ListInline &gt; .o-ListInline__Item.h-AfterNewline
        li.o-ListInline__Item.h-demo.h-AfterNewline-p .o-ListInline &gt; .o-ListInline__Item.h-AfterNewline-p
        li.o-ListInline__Item.h-demo                  .o-ListInline &gt; .o-ListInline__Item
