doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Mathematical Background &in; Site Design
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/styleguide.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      h1 Mathematical Background
      section#definitions
        h2 Definition of #[span.js-mt \phi] and #[span.js-mt \Phi]
        p.
          Suppose we have a line segment #[span.js-mt \overline{PR}]
          with a point #[span.js-mt Q] on it. Let #[span.js-mt a=m\,\overline{PQ}] and
          #[span.js-mt b=m\,\overline{QR}], and let #[span.js-mt Q] be in a position
          such that:
          #[span.js-mb \frac{a+b}{a} = \frac{a}{b}]
        figure(class="!ta:c"): img.a-bc-aperturewhite(class="!pa:h" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Golden_ratio_line.svg/220px-Golden_ratio_line.svg.png" alt="A line segment divided into two shorter segments, whose proportions form the Golden Ratio.")
        p
          | Set #[span.js-mt \phi] to this value, that is,
          |  #[span.js-mt \phi = \frac{a}{b}]. We call this ratio the
          |  #[dfn#golden-ratio Golden Ratio].
          |  Then we have
          span.js-mb.
            \begin{align}
              \frac{a+b}{a} &= \frac{a}{b}\\
              1 + \frac{b}{a} &= \frac{a}{b}\\
              1 + \frac{1}{\phi} &= \phi\\
              \phi + 1 &= \phi^{2}
            \end{align}
        p To find the value of #[span.js-mt \phi], we use the quadratic formula.
        p.js-mb.
          \phi^{2} - \phi - 1 = 0\\
          \phi = \frac{1 \pm \sqrt{5}}{2}
        p.
          Since we are dealing with a ratio of two #[em lengths], we are concerned
          only with the positive root. Thus we define
          #[span.js-mb \mathbf{\phi = \frac{1+\sqrt{5}}{2}} \approx 1.61803]
        small.Note.Info.
          Let it be noted that sometimes mathematicians have a use for the
          negative root #[span.js-mt \psi = \frac{1-\sqrt{5}}{2}], however we do not
          use the value of #[span.js-mt \psi] on this site.
        p.
          Define #[span.js-mt \Phi] as the multiplicative inverse (the reciprocal)
          of #[span.js-mt \phi].
        p.js-mb.
            \mathbf{\Phi = \frac{1}{\phi} = \frac{\sqrt{5}-1}{2}}\\
            = \frac{\sqrt{5}+1}{2}-1 = \phi - 1 \approx 0.61803
      section
        h2 Properties of #[span.js-mt \phi] and #[span.js-mt \Phi]
        p.
          There is an aesthetic symmetry between #[span.js-mt \phi] and #[span.js-mt \Phi].
          Look at some of their algebraic representations.
        section
          h3 Squares
          p.js-mb.
            \begin{align}
              \phi^2 &= 1 + \phi\\
              \Phi^2 &= 1 - \Phi
            \end{align}
        section
          h3 Doubles
          p.js-mb.
            \begin{align}
              2\phi &= \sqrt{5}+1\\
              2\Phi &= \sqrt{5}-1
            \end{align}
        section
          h3 In Terms of Themselves
          p.js-mb.
            \begin{align}
              \phi &= \frac{1}{\phi} + 1\\
              \Phi &= \frac{1}{\Phi} - 1
            \end{align}
        section
          h3 In Terms of Each Other
          p.js-mb.
            \begin{align}
              \phi &= \Phi + 1 = \frac{1}{\Phi}\\
              \Phi &= \phi - 1 = \frac{1}{\phi}
            \end{align}
        section
          h3 Continued Fractions
          div.Flex-Container
            p.js-mb(class="!w:1o2").
              \begin{align}
                \phi &= 1 + \frac{1}{\phi}\\
                &= 1 + \frac{1}{1 + \frac{1}{\phi}}\\
                &= 1 + \frac{1}{1 + \frac{1}{1 + \frac{1}{\phi}}}\\
                &= 1 + \frac{1}{1 + \frac{1}{1 + \frac{1}{1 + \frac{1}{\dots}}}}\\
                \phi &=[1;1,1,1,\dots]
              \end{align}
            p.js-mb(class="!w:1o2").
              \begin{align}
                \Phi = \frac{1}{\phi} &= \frac{1}{1+\Phi}\\
                &= \frac{1}{1+\frac{1}{1+\Phi}}\\
                &= \frac{1}{1+\frac{1}{1+\frac{1}{1+\Phi}}}\\
                &= 0+\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{\dots}}}}}\\
                \Phi &= [0;1,1,1,\dots]
              \end{align}
      section
        h2 Theorems involving #[span.js-mt \phi] and #[span.js-mt \Phi]
        dl.Theorem
          dt: p
            | For Natural powers of #[span.js-mt \phi],
            span.js-mb \phi^{n+1} = \phi^{n+1} + \phi^n
          dd
            p: strong Proof (informal).
            p.
              Starting with #[span.js-mt \phi]
              in quadratic form, #[span.js-mt \phi^2 = \phi + 1], we multiply
              both sides by #[span.js-mt \phi^n] and we get our result.
            p For a formal proof, use Mathematical Induction on #[span.js-mt n].
        dl.examp
          dt: p
            | For Natural powers of #[span.js-mt \Phi],
            span.js-mb \Phi^n = \Phi^{n+1} + \Phi^{n+2}
          dd
            p: strong Proof (informal).
            p.
              Start with
              #[span.js-mt \Phi^2 = 1 - \Phi] then multiply both sides by
              #[span.js-mt \Phi^n] to get
              #[span.js-mt \Phi^{n+2} = \Phi^n - \Phi^{n+1}], which yields
              #[span.js-mt \Phi^{n+2} + \Phi^{n+1} = \Phi^n].
              #[i.qed(lang="la"): abbr(title="quod erat demonstrandum") q.e.d.]
            p For a formal proof, use Mathematical Induction on #[span.js-mt n].
        p
          | Thus we have the following quite symmetrical equations:
          span.js-mb \phi^n = \phi^{n+2} - \phi^{n+1}
          span.js-mb \Phi^n = \Phi^{n+2} + \Phi^{n+1}
        dl.examp
          dt: p #[span.js-mt \phi] is Irrational.
          dt: p.js-mb \phi \in \mathbb{I}
          dd
            p: strong Proof.
            p.
              Assume to the contrary that #[span.js-mt \phi] is rational. Let
              #[span.js-mt \exists q \in \mathbb{Q} : q = \phi = \frac{1+\sqrt{5}}{2}].
              Then #[span.js-mb 2q-1 = \sqrt{5}]
            p.
              We know that the field #[span.js-mt \mathbb{Q}]
              is closed under multiplication and  subtraction, so the left side of the equation
              is rational. However, the right side is irrational. We have a contradiction,
              so #[span.js-mt \phi] is not rational. What remains to show is that
              #[span.js-mt \phi\in\mathbb{R}]
              #[del(datetime="2014-08-24") , which is obvious. #[i.qed(lang="la"): abbr(title="quod erat demonstrandum") q.e.d.]]
        dl.examp
          dt: p #[span.js-mt \phi] is Algebraic.
          dt: p.js-mb \phi \in \mathbb{A}
          dd
            p: strong Proof.
            p.
              By definition, an Algebraic number is a solution to a polynomial
              equation #[span.js-mt 0=\sum_{k=0}^{n}a_kx^k] with integer
              coefficients #[span.js-mt a_k]. Let this polynomial be
              #[span.js-mt x^2-x-1].#[i.qed(lang="la"): abbr(title="quod erat demonstrandum") q.e.d.]
        dl.examp
          dt: p #[span.js-mt \phi] is Constructible.
          dd
            p: strong Proof.
      section
        section
          h3 Connections to the Fibonacci Sequence
          dl.examp
            dt: p.
              A Natural power of #[span.js-mt \phi] can be expressed as a linear
              function of #[span.js-mt \phi] with integer coefficients.
            dt: p.js-mb \forall n \in\mathbb{N} : \exists a,b \in\mathbb{Z} : \phi^n = a\phi + b
            dd
              p: strong Proof.
              p.
                We use proof by induction. For
                #[span.js-mt n=0], we have #[span.js-mt a=0]
                and #[span.js-mt b=1], so the base case is shown.
                (Though #[span.js-mt n=1] need not be a base case, it is
                easy to see that #[span.js-mt a=1] and
                #[span.js-mt b=0].)
              p
                | Now let #[span.js-mt n=k] and assume
                | #[span.js-mt \phi^k = a\phi + b] for some integers
                | #[span.js-mt a] and #[span.js-mt b]. Then
                span.js-mb.
                  \begin{align}
                    \phi^{k+1} &= \phi^k\phi\\
                    &= (a\phi + b)\phi\\
                    &= a\phi^2 + b\phi\\
                    &= a(\phi+1) + b\phi\\
                    &= a\phi + a + b\phi\\
                    &= (a+b)\phi + a
                  \end{align}
              p.
                Since #[span.js-mt (a+b) \in \mathbb{Z}], the
                property holds for #[span.js-mt k+1].
              p.
                Since the property holds for the base case, and the fact that it
                holds for some natural number implies that it holds for the next natural number,
                the property must hold for all natural numbers.
                #[i.qed(lang="la"): abbr(title="quod erat demonstrandum") q.e.d.]
          p.
            The consequence of this theorem is that we need not deal with any powers
            of #[span.js-mt \phi], because we can always express it in the first degree.
            #[mark.site This property will be useful when I talk about the layout structure of this Website.]
          p Let #[span.js-mt \phi^k = a_k\phi + b_k], and consider a few examples.
          p.js-mb.
            \begin{align}
              \phi^0 &= 0\phi + 1\\
              \phi^1 &= 1\phi + 0\\
              \phi^2 &= 1\phi + 1\\
              \phi^3 &= 2\phi + 1\\
              \phi^4 &= 3\phi + 2\\
              \phi^5 &= 5\phi + 3
            \end{align}
          p
            | We know from the proof above,
            span.js-mb.
              \begin{align}
                \phi^{k+1} &= a_{k+1}\phi + b_{k+1}\\
                &= (a_k+b_k)\phi + a_k
              \end{align}
          p.
            By corresponding parts of these congruent equations&mdash;and by looking at
            the coefficients in the examples above&mdash;we can see that
            #[span.js-mt a_{k+1}=a_k+b_k], and #[span.js-mt b_{k+1}=a_k],
            or rather, subtracting 1 from each index, #[span.js-mt b_k=a_{k-1}].
            Therefore, #[span.js-mt a_{k+1}=a_k+a_{k-1}], in other words,
            #[span.js-mt a_k=a_{k-1}+a_{k-2}].
          p.
            The coefficients of #[span.js-mt \phi] as its power increases form a
            #[em sequence], defined recursively. We use the symbol #[var f] for this
            special sequence.
          p.js-mb.
            f_n = f_{n-1} + f_{n-2} :\\
            f_0 = 0 \text{ and } f_1 = 1
          p.
            This sequence is called the #[dfn#fibonacci-sequence Fibonacci Sequence].
            In layman's terms,
            each term in the Fibonacci Sequence is the sum of the previous two terms. The first
            few terms are listed here:
            #[span.js-mb \bigl(0,1,1,2,3,5,8,13,21,34,55,89,144\dots\bigr)]
          p Let's do a little algebraic expansion to see something pretty cool.
          p.js-mb.
            \begin{align}
              f_n &= f_{n-1} + f_{n-2}\\
              &= \left(f_{n-2}+f_{n-3}\right) + f_{n-2} = 2f_{n-2} + f_{n-3}\\
              &= 2\left(f_{n-3}+f_{n-4}\right) + f_{n-3} = 3f_{n-3} + 2f_{n-4}\\
              &= 5f_{n-4} + 3f_{n-5}\\
              &= 8f_{n-5} + 5f_{n-6}\\
              &= 13f_{n-6} + 8f_{n-7}\\
              &= 21f_{n-7} + 13f_{n-8}\\
              & \dots\\
              &= f_{n-1}(f_2)                    + f_{n-2}(f_1)\\
              &= f_{n-1}\left(f_1 + f_0\right)   + f_{n-2}(f_1)\\
              &= f_{n}(f_1) + f_{n-1}(f_0)\\
              &= f_{n}(1) + f_{n-1}(0)\\
              &= f_{n}\\
            \end{align}
          p.
            Here's an example: Take #[span.js-mt f_{10}], which
            is 55. 55 is made of one 34 and one 21. Now since a 34 is made of one 21 and one 13,
            55 is made of a 21, a 13, and another 21, which, more simply put, is the same as two 21s
            and one 13.
          p.
            Since a 21 is made of one 13 and one 8, 55 is made of two 13s, two 8s, and another 13,
            which again is three 13s and two 8s.
            Since a 13 is made of one 8 and one 5, 55 is made of three 8s, three 5s, and two more 8s,
            which is five 8s and three 5s.
          p.
            We can keep breaking down Fibonacci numbers into more Fibonacci numbers, and we obtain
            eight 5s and five 3s, or thirteen 3s and eight 2s, or twenty-one 2s and thirteen 1s,
            or thirty-four 1s and twenty-one 1s, or fifty-five 1s. In conclusion, one 55 is
            the same as fifty-five 1s.
          pre(class="!ff:ms").
            55=
              = 1*( 34  ) + 1*21
              = 1*(21+13) + 1*21 = 1*21 + 1*13 + 1*21 = 2*( 21 ) + 1*13
                                                      = 2*(13+8) + 1*13 = 2*13 + 2*8 + 1*13 = 3*(13 ) + 2*8
                                                                                            = 3*(8+5) + 2*8 = 3*8 + 3*5 + 2*8 = 5*( 8 ) + 3*5
                                                                                                                              = 5*(5+3) + 3*5 = 5*5 + 5*3 + 3*5 = 8*( 5 ) + 5*3
                                                                                                                                                                = 8*(3+2) + 5*3 = 8*3 + 8*2 + 5*3 = 13*( 3 ) + 8*2
                                                                                                                                                                                                  = 13*(2+1) + 8*2 = 13*2 + 13*1 + 8*2 = 21*( 2 ) + 13*1
                                                                                                                                                                                                                                       = 21*(1+1) + 13*1 = 21*1 + 21*1 + 13*1 = 34*1 + 21*1
                                                                                                                                                                                                                                                                              = 55*1
          p.
            Notice the similarities between the sequence
            #[span.js-mt f_n = f_{n-1} + f_{n-2}] and the property
            #[span.js-mt \phi^n=\phi^{n-1}+\phi^{n-2}].
          dl.examp
            dt: p.
              Corollary: A natural power of #[span.js-mt \phi] can be expressed as
              a linear function of #[span.js-mt \phi] with coefficients corresponding to the
              Fibonacci Sequence.
            dt: p.js-mb \phi^n = f_n\phi + f_{n-1}
            dd
              p: strong Proof.
              p.
                This proof is a specification of the
                previous. It says that not only are the coefficients of #[span.js-mt \phi] integers,
                but they are terms of the Fibonacci Sequence in sequential order. The proof
                follows directly from the previous, with but a few changes.
              p
                | Again, we use induction. For #[span.js-mt n=0],
                | #[span.js-mt f_n = 0] and #[span.js-mt f_{n-1}]
                | does not exist. Set it to 1, and
                | #[span.js-mt \phi^1 = f_1\phi + f_0 = 1\phi+0 = \phi]. For the
                | inductive hypothesis, suppose
                | #[span.js-mt \phi^k = f_k\phi + f_{k-1}]. Then,
                span.js-mb.
                  \begin{align}
                    \phi^{k+1} &= \phi^k\phi\\
                    &= \left(f_k\phi + f_{k-1}\right)\phi\\
                    &= f_k\phi^2 + f_{k-1}\phi\\
                    &= f_k\left(\phi+1\right) + f_{k-1}\phi\\
                    &= f_k\phi + f_k + f_{k-1}\phi\\
                    &= \left(f_k+f_{k-1}\right)\phi + f_k\\
                    &= \left(f_{k+1}\right)\phi + f_k
                  \end{align}
              p #[i.qed(lang="la"): abbr(title="quod erat demonstrandum") q.e.d.]
          p.
            You might suspect that
            #[span.js-mt \lim \frac{f_{n+1}}{f_n} = \phi]. Equivalently,
          dl.examp
            dt: p.js-mb \lim \frac{f_n}{f_{n+1}} = \Phi
            dd
              p: strong Proof (informal).
              p.js-mb.
                \begin{align}
                  \left(\frac{f_n}{f_{n+1}}\right) &= \left(\frac{0}{1},\frac{1}{1},\frac{1}{2},\frac{2}{3},\frac{3}{5},\frac{5}{8},\frac{8}{13},\frac{13}{21},\frac{21}{34},\frac{34}{55},\frac{55}{89},\frac{89}{144},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{2},\frac{1}{\frac{3}{2}},\frac{1}{\frac{5}{3}},\frac{1}{\frac{8}{5}},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{1+1},\frac{1}{1+\frac{1}{2}},\frac{1}{1+\frac{2}{3}},\frac{1}{1+\frac{3}{5}},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{1+\frac{1}{1}},\frac{1}{1+\frac{1}{2}},\frac{1}{1+\frac{1}{\frac{3}{2}}},\frac{1}{1+\frac{1}{\frac{5}{3}}},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{1+\frac{1}{1}},\frac{1}{1+\frac{1}{1+1}},\frac{1}{1+\frac{1}{1+\frac{1}{2}}},\frac{1}{1+\frac{1}{1+\frac{2}{3}}},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{1+\frac{1}{1}},\frac{1}{1+\frac{1}{1+\frac{1}{1}}},\frac{1}{1+\frac{1}{1+\frac{1}{2}}},\frac{1}{1+\frac{1}{1+\frac{1}{\frac{3}{2}}}},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{1+\frac{1}{1}},\frac{1}{1+\frac{1}{1+\frac{1}{1}}},\frac{1}{1+\frac{1}{1+\frac{1}{1+1}}},\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{2}}}},\dots\right)\\
                  &=\left(0,\frac{1}{1},\frac{1}{1+\frac{1}{1}},\frac{1}{1+\frac{1}{1+\frac{1}{1}}},\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{1}}}},\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{1+1}}}},\dots\right)\\
                  &=\left(0,0+\frac{1}{1},0+\frac{1}{1+\frac{1}{1}},0+\frac{1}{1+\frac{1}{1+\frac{1}{1}}},0+\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{1}}}},0+\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{1+\frac{1}{1}}}}},\dots\right)\\
                  \left(\frac{f_n}{f_{n+1}}\right) &=\bigl([0],[0;1],[0;1,1],[0;1,1,1],[0;1,1,1,1],[0;1,1,1,1,1],\dots\bigr)\\
                  &\to[0;1,1,1,1,1,\dots]=\Phi\\
                \end{align}
              p &nbsp;#[i.qed(lang="la"): abbr(title="quod erat demonstrandum") q.e.d.]
              p.
                Of course for a formal proof, we would need to show that given any
                positive #[span.js-mt \varepsilon], we can find at least one #[span.js-mt N] such that
                whenever #[span.js-mt n > N], it is the case that
                #[span.js-mt \left| \frac{f_n}{f_{n+1}} - \Phi \right| \lt \varepsilon].
          p.
            Interestingly,
            #[span.js-mt \left(\frac{f_n}{f_{n+1}}\right) \to \Phi] in an
            alternating manner: the sequence's odd terms underestimate the limit, and the even terms
            overestimate it. A decimal representation makes this easier to visualize.
          p.js-mb.
              \left(\frac{0}{1},\frac{1}{1},\frac{1}{2},\frac{2}{3},\frac{3}{5},\frac{5}{8},\frac{8}{13},\frac{13}{21},\frac{21}{34},\frac{34}{55},\dots,\frac{f_n}{f_{n+1}}\right)\\
              =\left(0,1,0.5,0.\overline{6},0.6,0.625,0.\overline{615384},
                0.\overline{619047},0.6\overline{1764705882352941},0.6\overline{18},
                %0.\overline{61797752808988764044943820224719101123595505},0.6180\overline{5},
                \dots\right)\\
              \to 0.61803\ldots = \Phi
      footer
        h2 Further Reading
        p.
          Read about how #[span.js-mt \phi] is the
          #[a(rel="external" href="http://www.ams.org/samplings/feature-column/fcarc-irrational1") most irrational number]!
          If that's true, what do you think about #[span.js-mt \Phi]?
    nav.Bc
      ol.Anc
        li: a.Crumb(rel="top"    href="../index.html   ") Home
        li: a.Crumb(rel="parent" href="../home/web.html") Web
      ul.Sib
        li: a.Crumb(rel="this" href="phi.html") Mathematical Background
      ul.Child
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
