doctype html
html(lang="en")
  - function title(arr) { return arr.reduceRight(function (a, b) { return a + ' | ' + b }) }
  - function mainH1(arr) { return arr.reduce(function (a, b) { return a + ' — ' + b }) }
  - var titles = ['Site Design']
  block vars
  head
    title= title(titles)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/styleguide.css")
  body.o-GoldenContainer
    block body
      main.o-GoldenContainer__Content
        block main
          header
            block main__header
              h1= titles[titles.length-1]
      nav.Bc
        ol.Anc
          li: a.Crumb(href="../index.html") Home
          li: a.Crumb(href="../home/web.html") Web
        ul.Sib
          li: a.Crumb(href="base.html") Base Typography
          li: a.Crumb(href="obj.html") Objects
          li: a.Crumb(href="comp-typo.html") Typo Components
          li: a.Crumb(href="comp-ui.html") UI Components
          li: a.Crumb(href="helpers.html") Helpers
          li: a.Crumb(href="schemes.html") Site Schemes
          li: a.Crumb(href="atoms.html") Atoms
        ul.Child
      script(src="../bower_components/jquery/dist/jquery.js")
      script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
      script(src="../core/scripts/global.js")
