doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title About &in; Chris Harvey
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="About Chris Harvey of Fairfax, VA.")
    meta(charset="utf-8")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/home.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      h1.c-FolioTitle #[span.c-FolioTitle__Cap A]bout #[span.c-FolioTitle__Cap M]e
      p.c-Lede.c-Lede--dropcap.
        Hey there! I&rsquo;m Chris Harvey, and I love math, music,
        working out, coding, and hanging out with my dog, Axel.
        I graduated from
        <span itemscope="" itemtype="https://schema.org/HighSchool">
          #[a(rel="external" href="http://www.fcps.edu/FairfaxHS/" itemprop="name") Fairfax High School] in
          <span itemprop="location" itemscope="" itemtype="https://schema.org/Place">
            #[span(itemprop="name") Fairfax, VA],
            <span itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates">
              #[meta(itemprop="latitude" content="38.864158")]
              #[meta(itemprop="longitude" content="-77.2888239")]
            </span>
          </span>
        </span>
        and earned degrees in
        #[a(rel="external" href="http://www.math.vt.edu/") Mathematics] and
        #[a(rel="external" href="http://www.mathed.soe.vt.edu/") Education] from
        #[a(rel="external" href="http://www.vt.edu/" itemscope="" itemtype="https://schema.org/CollegeOrUniversity"): span(itemprop="alternateName") Virginia Tech].
        Someday, I plan to go back and finish my
        #[a(rel="external" href="http://www.music.vt.edu/") Music] degree.
        Right now I live in
        <span itemscope="" itemtype="https://schema.org/Place">
          #[span(itemprop="name") Falls Church, VA],
          <span itemprop="geo" itemscope="" itmetype="http://schema.org/GeoCoordinates">
            #[meta(itemprop="latitude" content="38.8860528")]
            #[meta(itemprop="longitude" content="-77.1898726")]
          </span>
        </span>
        working for a non-profit organization.
      figure(class="!ta:c")
        img.u-w_p1(src="images/axel_and_me.jpg")
        figcaption.c-Caption a picture of my dog #[a(rel="external" href="http://theweek.com/article/index/253544/you-and-i-vs-you-and-me") and me]
      //- div
      //-   a(rel="external" href="http://www.fcps.edu/FairfaxVillaES/") Fairfax Villa Elementary School
      //-   a(rel="external" href="http://www.fcps.edu/GreenbriarWestES/") Greenbriar West Elementary School
      //-   a(rel="external" href="http://www.fcps.edu/LanierMS/") Sidney Lanier Middle School
      p.c-Document.
        I have two years of experience
        teaching math
        (#[a Algebra II] and then #[a(href="../secondary-ed/math7/index.html") 7th Grade Math]).
        While those experiences were valuable and educational, I&rsquo;ve decided to take a break
        from my teaching career. I&rsquo;m getting paid doing something that has always been just a
        hobby&mdash;developing for the Web.
      p.o-Box.o-Box--island.c-Alert.c-Alert--info
        strong.c-Alert__Title Employers:
        | #[a.c-Alert__Link(href="../resume/resume.html") Check out my r&eacute;sum&eacute;].
        |  I did a pretty good job describing my skill set and experience, but I feel the
        |  #[a.c-Alert__Link(rel="external" href="https://github.com/dev-chharvey/dev-chharvey.github.io/blob/master/resume/resume.html") source code]
        |  speaks for itself.
      section#contact
        h2 Contact
        address
          ul.o-FlexContainer(class="!xj:sa")
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--mapss(rel="author external"                                                             title="Find Me") Find Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--phone(rel="author"          href="tel:+17035072467"                                     title="Call Me") Call Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--email(rel="author"          href="mailto:chrisharvey2pi@gmail.com"                      title="Mail Me") Mail Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--linkd(rel="author external" href="https://www.linkedin.com/pub/chris-harvey/96/6a5/8a7" title="Connect Me") Connect Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--stack(rel="author external" href="https://careers.stackoverflow.com/chharvey"           title="Upvote Me") Upvote Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--githb(rel="author external" href="https://github.com/chharvey"                          title="Fork Me") Fork Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--npmjs(rel="author external" href="https://www.npmjs.com/~chharvey"                      title="npm install Me") npm install Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--googl(rel="author external" href="https://google.com/+chrisharvey2pi"                   title="+1 Me") +1 Me
            li: a.c-IconButton.c-IconButton--home.c-IconButton--home--twitr(rel="author external" href="https://www.twitter.com/"                             title="Follow Me") Follow Me
        footer: small.
          Images above courtesy of iconarchive.com, cirrusinsight.com, nuget.org,
          dopelists.com, idiap.github.io, gplusinfo.com, cloudinary.com, and paymentmagnates.com.
      aside#credits
        h2 Acknowledgements
        ul.AcknowledgementsList
          li.
            This site&rsquo;s source code is written with
            #[a(rel="extenral" href="http://jade-lang.com/") Jade], a sort-of HTML preprocessor
            with added JavaScript functionality. Credits to
            #[a(rel="external" href="http://www.forbeslindesay.co.uk/") Forbes Lindesay].
          li.
            #[a(rel="external" href="http://lesscss.org/"): cite Less], a CSS preprocessor,
            makes writing CSS easier than &hellip; well, writing CSS.
            Credits to #[a(rel="external" href="https://github.com/cloudhead") Alexis Sellier].
          li.
            This site&rsquo;s styles are built off of
            #[a(rel="external" href="http://necolas.github.io/normalize.css/"): cite normalize.css],
            a base stylesheet written by
            #[a(rel="external" href="http://nicolasgallagher.com/") Nicholas Gallagher].
          li.
            #[a(rel="external" href="http://jquery.com/"): cite jQuery] is a
            JavaScript library that helps with DOM
            manipulation, events, and dynamic CSS animations.
            Credits to the #[a(rel="external" href="http://jquery.org/") jQuery Foundation].
          li.
            #[a(rel="external" href="http://www.mathjax.org/"): cite MathJax]
            uses JavaScript to display beautiful Math in your browser. Credits to the
            #[a(rel="external" href="http://www.ams.org/") American Mathematical Society]
            and the
            #[a(rel="external" href="http://www.siam.org/") Society for Industrial and Applied Mathematics].
          li.
            #[a(rel="external" href="http://d3js.org"): cite D3.js] is a
            JavaScript library that binds data to Web page elements and displays it in readable charts
            and graphs. Credits to #[a(rel="external" href="http://bost.ocks.org/mike/") Mike Bostock].
          li.
            Also,
            #[a(rel="external" href="http://www.dynamicgeometry.com/JavaSketchpad.html"): cite JavaSketchpad]
            by McGraw-Hill Education.
          li All photos, logos, banners, and other images that are not mine have been given credit.
          li Read my full #[a(href="copyright.html") copyright policy].
    nav.Bc
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li
          a.Crumb(rel="this" href="#") About Me
          ul.Sib
            li: a.Crumb(rel="sibling" href="math.html") Mathematics
            li: a.Crumb(rel="sibling" href="edu.html") Education
            li: a.Crumb(rel="sibling" href="music.html") Music
            li: a.Crumb(rel="sibling" href="swim.html") Swimming
            li: a.Crumb(rel="sibling" href="web.html") Web
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
