---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Education &in; Chris Harvey</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../core/styles/all.css"/>
<style>
.homewordle {width: 100%;}
</style>
{% include all-js.html %}
</head>
<body>
{% include banner.html %}
<nav class="Bc">
	<ol class="Anc">
		<li class="Item"><a class="Button Crumb" rel="top" href="../index.html">Home</a></li>
	</ol>
	<ol class="Sib">
		<li class="Item"><a class="Button Crumb" rel="sibling" href="math.html">Mathematics</a></li>
		<li class="Item"><a class="Button Crumb" rel="this"    href="edu.html">Education</a></li>
		<li class="Item"><a class="Button Crumb" rel="sibling" href="music.html">Music</a></li>
		<li class="Item"><a class="Button Crumb" rel="sibling" href="swim.html">Swimming</a></li>
		<li class="Item"><a class="Button Crumb" rel="sibling" href="web.html">Web</a></li>
	</ol>
</nav>
<main>
<h1 class="H Alpha Folio">Teaching is my journey.</h1>
<div class="Article">
	<p class="P Dropcap">I did not realize I wanted to teach secondary school math until about halfway through college. Leadership skills are qualities that I never knew I had until I started examining my academic career, and I am constantly preparing myself for becoming a better teacher. I love the feeling of insight (the sudden realization of a solution) and I&rsquo;ve discovered that I get a satisfaction from seeing others gain insight too. I want to make a huge difference in this world&mdash;and I believe I can&mdash;by educating the leaders of our future.</p>
	<p class="P">My educational interests include reading and learning about how learners solve problems and make decisions, think analytically and rigorously, construct their own mathematical understanding, and truly appreciate the value of mathematics. I&rsquo;m great with kids and I enjoy watching the learning process unfold. My biggest goal as a math teacher is to motivate students to develop their mathematical abilities and to see the relevance of mathematics in a society with ever-increasing emphases on science, technology, and engineering.</p>
	<p class="P">I believe that meaningful learning requires an engaging and interactive environment. Cooperation, collaboration, conversation, and competition are key to effective student learning. In the classroom, information and knowledge will flow in many directions around the room among teacher, student, and environment. Students are encouraged to offer their background knowledge, experiences, cultures, beliefs, values, and opinions to a mathematical learning community.</p>
</div>
<img class="homewordle" src="../higher-ed/MATH-4664/wordle-epist-trans.png" title="A few important words from my mathematics teaching philosophy." alt="A wordle of part of my mathematics teaching philosophy. Prominent words include: students, mathematics, processes, reasoning, problem-solving, classroom, knowledge, and goals."/>
<section>
	<h1 class="H Beta">Philosophies</h1>
	<ul class="List A">
		<li class="Item"><a>Epistemology of Mathematics</a></li>
		<li class="Item"><a class="Link" href="../higher-ed/MATH-4644/philosophy.html">Philosophy of Technology</a></li>
		<li class="Item"><a>Philosophy of Equity</a></li>
	</ul>
	<!--<p>something about teaching philosophy. may include mathematics philosophy but not focus on that. talk about general education. ideas include: cooperation enhances learning while competition enhances performance.</p>-->
</section>
<section>
	<h1 class="H Beta">Education Courses</h1>
	<section>
		<h1 class="H Gamma">Teaching in Secondary Schools</h1>
		<ul class="List A">
			<li class="Item"><a class="Link" href="https://docs.google.com/presentation/pub?id=1KdXeV3Qpt4gT39bg_A5GG2BW32Ui2QEZ-hjWMBnu8iU&start=false&loop=false&delayms=3000">Cultural Perceptions and Expectations</a> [<time datetime="2011-11-22">Sep 22, 2011</time>]</li>
			<li class="Item"><a class="Link" href="https://docs.google.com/presentation/pub?id=1qnDLi7nvZPeT5lfk_FbcHXKzTueGsPHOz6mgzvIP3ag&start=false&loop=false&delayms=3000"><abbr title="English Language Learners">ELL</abbr> Cohort Presentation</a> [<time datetime="2011-11-15">Nov 15, 2011</time>]</li>
			<li class="Item"><a class="Link" href="http://mathclassobservations.blogspot.com/2011/11/teaching-english-language-learners.html">Teaching English Language Learners</a> [A reflection on the ELL lesson. <time datetime="2011-11-15">Nov 15, 2011</time>]</li>
			<li class="Item"><a class="Link" href="https://docs.google.com/presentation/pub?id=18b3TUbQ3QcRuFNqIlARqmo36qagbP7SxzLKAaYRqXBo&start=false&loop=false&delayms=3000">Probeware with Math and Science Lesson Presentation</a> [<time datetime="2012-02-02">Feb 2, 2012</time>]</li>
		</ul>
	</section>
	<section>
		<h1 class="H Gamma">Advanced Curriculum &amp; Instruction</h1>
		<ul class="List A">
			<li class="Item"><a class="Link" href="http://math-ed-research.blogspot.com/2011/10/mathematical-miseducation.html">Mathematical Miseducation</a> [Review of <cite class="src">Battista, 1999</cite>. <time datetime="2011-10-18">Oct 18, 2011</time>]</li>
			<li class="Item"><a class="Link" href="http://math-ed-research.blogspot.com/2011/10/teachers-support.html" title="">Teachers' Support</a> [Review of <cite class="src">Jacobs &amp; Phillipp, 2010</cite>. <time datetime="2011-10-18">Oct 18, 2011</time>]</li>
		</ul>
	</section>
	<section id="EDCI-5264">
		<h1 class="H Gamma">Content Area Reading</h1>
		<ul class="List A">
			<li class="Item"><a class="Link" href="../higher-ed/EDCI-5264/Harvey_Comprehension.pdf">Comprehension Inquiry And Reaction</a> [<time datetime="2010-02-11">Feb 11, 2010</time>]</li>
			<li class="Item"><a class="Link" href="../secondary-ed/3-Prob-Stats/webquest.html">Statistics WebQuest</a> [<time datetime="2010-03-27">Mar 27, 2010</time>]</li>
			<li class="Item"><a class="Link" href="../higher-ed/EDCI-5264/exploration.html">Web Site Exploration</a> [<time datetime="2010-04-01">Apr 1, 2010</time>]</li>
			<li class="Item"><a class="Link" href="../higher-ed/EDCI-5264/responsejournal.html">Response Journal</a> [<time datetime="2010-04-22">Apr 22, 2010</time>]</li>
		</ul>
	</section>
	<section id="EDEP-5194">
		<h1 class="H Gamma">Research in Assessment</h1>
		<ul class="List A">
			<li class="Item"><a class="Link" href="../higher-ed/EDEP-5194/summary-chart.html">Assessment Tools Summary Chart</a></li>
		</ul>
	</section>
	<section id="EDCI-5784">
		<h1 class="H Gamma">Diversity &amp; Equity in Mathematics Education</h1>
		<ul class="List A">
			<li class="Item"><a class="Link" href="/higher-ed/EDCI-5784/Students.pdf">Society, Regarding Students</a> [<time datetime="2011-09-28">Sep 28, 2011</time>]</li>
			<li class="Item"><a class="Link" href="/higher-ed/EDCI-5784/Teachers.pdf">Regarding Mathematics Teachers</a> [<time datetime="2011-11-02">Nov 2, 2011</time>]</li>
			<li class="Item"><a class="Link" href="https://docs.google.com/presentation/pub?id=1Ux01pJkwWwa1sf0_Grfj-zXU1j0OKOvyPOXFf-Hhz5c&start=false&loop=false&delayms=3000">Culturally Relevant Pedagogy</a> [<time datetime="2011-11-09">Nov 9, 2011</time>]</li>
			<li class="Item"><a>Modeling Sequences</a> [&ldquo;Culturally Relevant&rdquo; lesson. <time datetime="2011-12-07">Dec 7, 2011</time>]</li>
		</ul>
	</section>
	<section>
		<h1 class="H Gamma">Schooling in American Society</h1>
		<ul class="List A">
			<li class="Item"><a>First Individual Learning Journal</a></li>
			<li class="Item"><a>Second Individual Learning Journal</a></li>
			<li class="Item"><a>Third Individual Learning Journal</a></li>
			<li class="Item"><a>Cohort Group Presentation</a></li>
			<li class="Item"><a>Cohort Group Research Report</a></li>
			<li class="Item"><a>Dialogue Papers</a></li>
			<li class="Item"><a>Philosophy of Teaching</a></li>
		</ul>
	</section>
	<section>
		<h1 class="H Gamma">Educating Exceptional Learners</h1>
		<ul class="List A">
			<li class="Item"><a class="Link" href="https://docs.google.com/presentation/pub?id=1ecY1VYlZk_bFtXQ3-T6yF9rwFuKQGE5dm5ORsC0mwhU&start=false&loop=false&delayms=3000">Inclusion Presentation</a> [<time datetime="2009-06-25">Jun 25, 2009</time>]</li>
		</ul>
	</section>
</section>
</main>
</body>
</html>
