// main: ../core/stylesheets/all.less

/*--------------*\
	folio.less
\*--------------*/

//.img-folio {
//	width: 100%;
//	height: auto;
//	padding: 5px;
//	border-radius: 15px;
//	
//	position: relative;
//	left: -5px;compensate for padding-left
//	
//	background-color: #fafcff;
//	box-shadow: 0 0 10px 10px #fafcff;
//}
.h-folio {
	&:extend(.h-alpha all);
	margin-top: 4 * @olh;
	font-weight: normal;
	font-variant: normal;
	font-size: 3 * @font-size-base;
	font-family: 'Zapfino',script;
	line-height: 0.5;
	white-space: nowrap;
	.cap,
	&::first-letter {
		font-size: 6 * @font-size-base;
		font-family: 'Snell Roundhand','Zapfino',script;
		line-height: 0.25;
	}
}
.homewordle {width: 100%;}
.mediagallery {
	margin-top: 2 * @olh;
}

@media print {
	.bc {display: none;}
}
