@import url('../core/stylesheets/all.less');
@import url('../core/stylesheets/all.css');

/* @group site navigation */
.hub-nav {
	font-size: 13pt;
	.navlist() {
		.P3-left();
		.list-basic;
		position: fixed;
	}
	@move: 20px;
	.primary {
		.navlist();
		top: @move;
	}
	.secondary {
		.navlist();
		bottom: @move;
	}
	li {
		.P1-midright();
		&:hover {.P1-right();}
	}
	.a-block {
		@space: 10px;
		padding-left: @space;
		padding-right: @space;
		border-radius: 15px;
		margin-left: @space;
		margin-right: @space;
		font-weight: bold;
		text-align: right;
		vertical-align: middle;
	}
}
.icon-special {
	width: 64px;
	height: 64px;
	opacity: 0.6;
	&:hover {opacity: 1;}
}
/* @end */

/* @group index */
#index {
	main, .main {
		margin-bottom: 0;
	}
	.buttons {
		position: relative;
		font-variant: small-caps;
		a {
			height: 3em;
			padding: 0;
			border-width: 0;
			border-radius: 0;
			margin: 0;
			position: static /* will be changed to 'absolute' in javascript */;
			font-size: 2em;
			&.a1 {width: @width-Golden1;}
			&.b1 {width: @width-Golden2;}
			&.c1 {width: @width-Golden3;}
			&.d1 {width: @width-Golden4;}
			&.e1 {width: @width-Golden5;}
			&.f1 {width: @width-Golden6;}
			&.g1 {width: @width-Golden7;}
			&.h1 {width: @width-Golden8;}
			&.i1 {width: @width-Golden9;}
			&.j1 {width: @width-Golden10;}
			&.k1 {width: @width-Golden11;}
			&.l1 {width: @width-Golden12;}
			&:hover {
				.buttontext {visibility: visible;}
			}
			.buttontext {
				position: relative;
				top: 1em;
				visibility: hidden;
			}
		}
	}
}
/* @end */

/* @group homepage */
#homepage {
	.initial        {font-size: 4em; font-family: serif;}
	.homewordle     {width: 100%; height: auto;}
	.shortresume    {line-height: 2em;}
	.shortresume li {display: list-item;}
	.degree         {font-style: italic;}
	.a-resume       {font-style: italic; font-size: 10pt; margin-left: 10px;}
	footer {
		margin: 100px 0;
		font-size: 8pt;
		text-align: right;
		color: #999;
	}
}
/* @end */

/* @group linksdothtml */
#linksdothtml {
	.list-edu {
		.list-basic;
		.linebreadth-large();
	}
	.list-orgs() {
		.list-basic;
		.unit-P1();
	}
	.list-vt() {
		.list-basic;
		.unit-P2();
	}
	.bin-list-math {
		.line();
		.list-math-orgs {
			.list-orgs();
		}
		.list-math-vt {
			.list-vt();
		}
	}
	.bin-list-music {
		.line();
		.list-music-orgs {
			.list-orgs();
		}
		.list-music-vt {
			.list-vt();
		}
	}
	.list-swimming {
		.list-basic;
		.line();
		li {.unit-1to3();}
	}
	.list-blogs {
		.list-basic;
		.line();
		li {.unit-1to2();}
	}
	.list-apps {
		.list-basic;
	}
}
/* @end */

/* @group contactdothtml */
#contactdothtml {
	.contacticons {
		.list-basic;
		.line();
		li {.unit();}
		margin: 2em auto;
		text-align: center;
	}
	.contactme {
		margin-top: 5px;
		font-size: 10pt;
	}
}
/* @end */
