doctype html
html(lang="en")
  //- - function title(arr) { return arr.reduceRight(function (a, b) { return a + ' | ' + b }) }
  //- - function mainH1(arr) { return arr.reduce(function (a, b) { return a + ' — ' + b }) }
  //- - var titles = ['Site Design']
  block vars
  head
    title!= title + ' &in; Chris Harvey'
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Christopher H. Harvey")
    block metas
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v5.6.0/xmeter.min.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.10.0/bangs.min.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.2.0/still-alive.min.css")
      link(rel="stylesheet" href="styles/home.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      block main
        h1.c-FolioTitle
          block heading
    nav.Bc
      ol.Anc
        li: a.Crumb(href="../index.html") Home
      ul.Sib
        li: a.Crumb(href="about.html") About Me
        li: a.Crumb(href="math.html") Mathematics
        li: a.Crumb(href="edu.html") Education
        li: a.Crumb(href="music.html") Music
        li: a.Crumb(href="swim.html") Swimming
        li: a.Crumb(href="web.html") Web
      ul.Child
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.rawgit.com/chharvey/continuum/v0.4.1/site/scripts/mathjax-localconfig.js")
    script(src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=default")
