/*#############*\
    home.less
\*#############*/
/*@INDEX PAGE*/
nav {
  position: relative;
}
.Spiral {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a.Square {
  -webkit-transition-property: background-color, opacity;
  -moz-transition-property: background-color, opacity;
  -ms-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  box-sizing: content-box;
  height: 3em;
  padding: 1px;
  overflow: hidden;
  color: transparent;
  background-color: #c3daff;
}
a.Square:hover {
  text-decoration: none;
  color: #ff9d00;
  background-color: #ffe8c3;
}
.Square__Text {
  -webkit-transition-property: box-shadow, text-shadow, color, background-color;
  -moz-transition-property: box-shadow, text-shadow, color, background-color;
  -ms-transition-property: box-shadow, text-shadow, color, background-color;
  -o-transition-property: box-shadow, text-shadow, color, background-color;
  transition-property: box-shadow, text-shadow, color, background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  position: relative;
  top: 0.5em;
  border-radius: 0;
  font-family: 'Avenir', 'Seravek', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 10px;
}
.Square:hover > .Square__Text {
  box-shadow: 0px 0px 20px 20px rgba(242, 247, 255, 0.4);
  background-color: rgba(242, 247, 255, 0.4);
}
.js-Square--right::before,
.js-Square--top::before,
.js-Square--left::before,
.js-Square--bottom::before {
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('images/circle.svg');
  background-size: 200%;
}
.js-Square--right::before {
  background-position: 100%   0%;
}
.js-Square--top::before {
  background-position: 0%   0%;
}
.js-Square--left::before {
  background-position: 0% 100%;
}
.js-Square--bottom::before {
  background-position: 100% 100%;
}
.js-Square--funnel::before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#devlink {
  width: 100%;
  opacity: 0;
}
#devlink:hover {
  opacity: 1;
}
#devlink > .Square__Text {
  line-height: 1;
  font-family: 'Courier', 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
@media print {
  .Spiral {
    width: 100%;
    position: static;
  }
  .Square {
    height: 4em;
    position: static;
    background-image: none;
    color: #0062ff;
  }
}
.js-bubbles circle {
  stroke-width: 2px;
}
.js-bubbles text {
  text-anchor: middle;
  font-family: 'Avenir', 'Seravek', sans-serif;
}
.js-bubbles.dark {
  background-color: #002b36;
}
.js-bubbles.dark circle {
  stroke: #93a1a1;
}
.js-bubbles.dark text {
  fill: #eee8d5;
}
.js-bubbles.lite {
  background-color: #fdf6e3;
}
.js-bubbles.lite circle {
  stroke: #586e75;
}
.js-bubbles.lite text {
  fill: #073642;
}
.js-main-links text {
  font-size: 30px;
}
.js-side-links text {
  font-size: 20px;
}
.js-mth circle {
  fill: #cb4b16;
}
.js-web circle {
  fill: #859900;
}
.js-edu circle {
  fill: #d33682;
}
.js-mus circle {
  fill: #b58900;
}
.js-swm circle {
  fill: #268bd2;
}
.js-abt circle {
  fill: #2aa198;
}
.js-res circle {
  fill: #6c71c4;
}
.js-cpr circle {
  fill: #dc322f;
}
.center circle {
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 1,4;
}
/*@OTHER PAGES*/
/**
  * This interface represents a regular icon.
@params
: @iconsize : the width and height of the icon
: @bgurl    : the url for the background image
@tags
: #background-image
: #sprite
@author
: Chris Harvey
@updated
: 2014-10-11
  */
/**
  * This Object represents a list of icons.
@implements
: .margin-even
: .spacing-top()
@tags
: #typography
: #list
@author
: Chris Harvey
@updated
: 2014-07-18
  */
.Iconlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-left: 0;
  list-style-type: none;
}
/**
  * A contact icon.
@tags
: #sprite
@author
: Chris Harvey
@updated
: 2014-09-25
  */
a.Icon--Ct {
  display: inline-block;
  width: 64px;
  height: 64px;
  color: transparent;
  background-image: url('images/contact-sprite.png');
  background-repeat: no-repeat;
  opacity: 0.5;
  overflow: hidden;
}
a.Icon--Ct:hover {
  opacity: 1;
}
a.Icon--Ct:hover {
  color: transparent;
}
.Icon--Ct.Mapss {
  background-position: 0px 0;
}
.Icon--Ct.Phone {
  background-position: -74px 0;
}
.Icon--Ct.Email {
  background-position: -148px 0;
}
.Icon--Ct.Linkd {
  background-position: -222px 0;
}
.Icon--Ct.Stack {
  background-position: -296px 0;
}
.Icon--Ct.Githb {
  background-position: -370px 0;
}
.Icon--Ct.Googl {
  background-position: -444px 0;
}
.Icon--Ct.Twitr {
  background-position: -518px 0;
}
/**
  * An application icon.
@tags
: #sprite
@author
: Chris Harvey
@updated
: 2014-09-25
  */
a.Icon--Ap {
  display: inline-block;
  width: 72px;
  height: 72px;
  color: transparent;
  background-image: url();
  background-repeat: no-repeat;
  opacity: 0.5;
  overflow: hidden;
  background-size: contain;
  background-position: center center;
}
a.Icon--Ap:hover {
  opacity: 1;
}
a.Icon--Ap:hover {
  color: transparent;
}
.Icon--Ap.Apple {
  background-image: url('images/logos-banners/logo-Apple-gray.jpg');
}
.Icon--Ap.Chrom {
  background-image: url('images/logos-banners/logo-Chrome.png');
}
.Icon--Ap.Atomm {
  background-image: url('images/logos-banners/logo-Atom.ico');
}
.Icon--Ap.Latex {
  background-image: url('images/logos-banners/logo-TeXShop.png');
}
.Icon--Ap.Gittt {
  background-image: url('images/logos-banners/logo-Git.png');
}
/**
  * List of acknowledgements on about page.
@implements
: .fontsize-block-sml()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.Ulist.Ack {
  font-size: 0.75rem;
  line-height: 2;
  padding-left: 2rem;
}
/**
  * A logo for an organization.
@author
: Chris Harvey
@updated
: 2014-06-16
  */
.Capt-logo {
  padding-right: 96px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 72px auto;
}
.Capt-logo.Nctm {
  background-image: url('images/logos-banners/logo-NCTM.png');
}
.Capt-logo.Vctm {
  background-image: url('images/logos-banners/logo-VCTM.png');
}
.Capt-logo.Txin {
  background-image: url('images/logos-banners/logo-TI.png');
}
.Capt-logo.Vdoe {
  background-image: url('images/logos-banners/logo-VA-DOE.png');
}
.Capt-logo.Amsy {
  background-image: url('images/logos-banners/logo-AMS.png');
}
.Capt-logo.Vmta {
  background-image: url('images/logos-banners/logo-VMTA.png');
}
