@import url('../core/stylesheets/all.less');

/* @group site navigation */
.hub-nav {
	.primary {
		.list-basic;
		position: fixed;
		top: 20px;
	}
	.secondary {
		.list-basic;
		position: fixed;
		bottom: 20px;
	}
	.block-up, .block-dn {
		@space: 10px;
		padding-left: @space;
		padding-right: @space;
		border-radius: 15px;
		margin-left: @space;
		margin-right: @space;
		font-weight: bold;
		text-align: right;
		vertical-align: middle;
	}
}
.icon-special {
	width: 64px;
	height: 64px;
	opacity: 1;
}
.icon-special-clear {
	.icon-special;
	opacity: 0.6;
}
/* @end */