/*#############*\
    home.less
\*#############*/
/*+++++++++++++++*\
    #INDEX PAGE
\*+++++++++++++++*/
nav {
  position: relative;
}
.Spiral {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a.Square {
  -webkit-transition-property: background-color, opacity;
  -moz-transition-property: background-color, opacity;
  -ms-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  box-sizing: content-box;
  height: 3em;
  padding: 1px;
  overflow: hidden;
  color: transparent;
  background-color: #c3daff;
}
a.Square:hover {
  text-decoration: none;
  color: #ff9d00;
  background-color: #ffe8c3;
}
.Square__Text {
  -webkit-transition-property: box-shadow, text-shadow, color, background-color;
  -moz-transition-property: box-shadow, text-shadow, color, background-color;
  -ms-transition-property: box-shadow, text-shadow, color, background-color;
  -o-transition-property: box-shadow, text-shadow, color, background-color;
  transition-property: box-shadow, text-shadow, color, background-color;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  position: relative;
  top: 0.5em;
  border-radius: 0;
  font-family: 'Avenir', 'Seravek', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 10px;
}
.Square:hover > .Square__Text {
  box-shadow: 0px 0px 20px 20px rgba(242, 247, 255, 0.4);
  background-color: rgba(242, 247, 255, 0.4);
}
.js-Square--right::before,
.js-Square--top::before,
.js-Square--left::before,
.js-Square--bottom::before {
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('images/circle.svg');
  background-size: 200%;
}
.js-Square--right::before {
  background-position: 100%   0%;
}
.js-Square--top::before {
  background-position: 0%   0%;
}
.js-Square--left::before {
  background-position: 0% 100%;
}
.js-Square--bottom::before {
  background-position: 100% 100%;
}
.js-Square--funnel::before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#devlink {
  width: 100%;
  opacity: 0;
}
#devlink:hover {
  opacity: 1;
}
#devlink > .Square__Text {
  line-height: 1;
  font-family: 'Courier', 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
@media print {
  .Spiral {
    width: 100%;
    position: static;
  }
  .Square {
    height: 4em;
    position: static;
    background-image: none;
    color: #0062ff;
  }
}
.js-bubbles circle {
  stroke-width: 2px;
}
.js-bubbles text {
  text-anchor: middle;
  font-family: 'Avenir', 'Seravek', sans-serif;
}
.js-bubbles.dark {
  background-color: #002b36;
}
.js-bubbles.dark circle {
  stroke: #93a1a1;
}
.js-bubbles.dark text {
  fill: #eee8d5;
}
.js-bubbles.lite {
  background-color: #fdf6e3;
}
.js-bubbles.lite circle {
  stroke: #586e75;
}
.js-bubbles.lite text {
  fill: #073642;
}
.js-main-links text {
  font-size: 30px;
}
.js-side-links text {
  font-size: 20px;
}
.js-mth circle {
  fill: #cb4b16;
}
.js-web circle {
  fill: #859900;
}
.js-edu circle {
  fill: #d33682;
}
.js-mus circle {
  fill: #b58900;
}
.js-swm circle {
  fill: #268bd2;
}
.js-abt circle {
  fill: #2aa198;
}
.js-res circle {
  fill: #6c71c4;
}
.js-cpr circle {
  fill: #dc322f;
}
.center circle {
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 1,4;
}
/*++++++++++++++++*\
    #OTHER PAGES
\*++++++++++++++++*/
.c-IconButton {
  border-width: 0;
  margin-top: 0;
  border-style: solid;
  border-color: currentColor;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: block;
  color: transparent !important;
  background-repeat: no-repeat;
}
.c-IconButton--Ct,
.c-IconButton--Ap {
  width: 64px;
  height: 64px;
  background-image: url('images/icon-sprite-bw.png');
}
.c-IconButton--Ct:hover,
.c-IconButton--Ap:hover {
  background-image: url('images/icon-sprite.png');
}
.c-IconButton--Ct--Mapss {
  background-position: 0px 0;
}
.c-IconButton--Ct--Phone {
  background-position: -74px 0;
}
.c-IconButton--Ct--Email {
  background-position: -148px 0;
}
.c-IconButton--Ct--Linkd {
  background-position: -222px 0;
}
.c-IconButton--Ct--Stack {
  background-position: -296px 0;
}
.c-IconButton--Ct--Githb {
  background-position: -370px 0;
}
.c-IconButton--Ct--Googl {
  background-position: -444px 0;
}
.c-IconButton--Ct--Twitr {
  background-position: -518px 0;
}
.c-IconButton--Ct--Npmjs {
  background-position: -592px 0;
}
.c-IconButton--Ap {
  border-radius: 16px;
}
.c-IconButton--Ap--Apple {
  background-position: -666px 0;
}
.c-IconButton--Ap--Chrom {
  background-position: -740px 0;
}
.c-IconButton--Ap--Atomm {
  background-position: -814px 0;
}
.c-IconButton--Ap--Gittt {
  background-position: -888px 0;
}
.c-IconButton--Ap--Lessc {
  background-position: -962px 0;
}
.c-IconButton--Ap--Jadee {
  background-position: -1036px 0;
}
.c-IconButton--Ap--Npmjs {
  background-position: -1110px 0;
}
.c-IconButton--Ap--Bower {
  background-position: -1184px 0;
}
.AcknowledgementsList {
  font-size: 0.75rem;
  line-height: 2;
  padding-left: 2rem;
}
.Capt-logo {
  padding-right: 96px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 72px auto;
}
.Capt-logo.Nctm {
  background-image: url('images/logos-banners/logo-NCTM.png');
}
.Capt-logo.Vctm {
  background-image: url('images/logos-banners/logo-VCTM.png');
}
.Capt-logo.Txin {
  background-image: url('images/logos-banners/logo-TI.png');
}
.Capt-logo.Vdoe {
  background-image: url('images/logos-banners/logo-VA-DOE.png');
}
.Capt-logo.Amsy {
  background-image: url('images/logos-banners/logo-AMS.png');
}
.Capt-logo.Vmta {
  background-image: url('images/logos-banners/logo-VMTA.png');
}
