---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chris Harvey</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Chris Harvey's online portfolio."/>
<link rel="stylesheet" href="images/home.css"/>
{% include all-js.html %}
<style>
</style>
</head>
<body id="homepage" class="hub-body">
{% include banner.html %}
<div class="main">
	<h1 class="h-alpha">Chris Harvey</h1>
	<section>
		<h1 class="h-beta seo-only">Interests</h1>
		<p class="prose"><span class="lede"><span class="initial">W</span>elcome to my home page!</span> This section of my site includes projects, presentations, and papers I&rsquo;ve completed throughout my undergraduate and graduate career. My educational interests include reading and learning about how learners solve problems and make decisions, think analytically and rigorously, construct their own mathematical understanding, and truly appreciate the value of mathematics. I&rsquo;m great with kids and I enjoy watching the learning process unfold. My biggest goal as a math teacher is to motivate students to develop their mathematical abilities and to see the relevance of mathematics in a society with ever-increasing emphases on science, technology, and engineering.</p>
		<p class="prose">I believe that meaningful learning requires an engaging and interactive environment. Cooperation, collaboration, conversation, and competition are key to effective student learning. In the classroom, information and knowledge will flow in many directions around the room among teacher, student, and environment. Students are encouraged to offer their background knowledge, experiences, cultures, beliefs, values, and opinions to a mathematical learning community.</p>
		<img class="homewordle" src="../higher-ed/MATH-4664/wordle-epist-trans.png" title="A few important words from my mathematics teaching philosophy." width="1358" height="448" alt="A wordle of part of my mathematics teaching philosophy. Prominent words include: students, mathematics, processes, reasoning, problem-solving, classroom, knowledge, and goals."/>
	</section>
	<section class="shortresume">
		<h1 class="h-beta title">Degrees</h1>
		<ul class="list-basic">
			<li><span class="degree">Master of Arts in Education</span>, Curriculum and Instruction, <time datetime="2012">2012</time></li>
			<li><span class="degree">Bachelor of Science</span>, Mathematics (Education Option), <time datetime="2011">2011</time></li>
			<li><span class="degree">Bachelor of Arts</span>, Music (Technology Option, Piano Specialty), in progress</li>
		</ul>
		<p class="h-delta">Virginia Polytechnic Institute and State University</p>
		<p class="h-delta">Commonwealth of Virginia Postgraduate Professional License in Mathematics</p>
		<div>
			<span class="h-gamma">Full R&eacute;sum&eacute;:</span>
			<a class="a-resume" href="../resume/" title="download as Web page">[html]</a>
			<a class="a-resume" href="../resume/resume.pdf" title="download as PDF">[pdf]</a>
		</div>
	</section>
	<section>
		<h1 class="h-beta title">Philosophies</h1>
		<ul class="list-action">
			<li>Epistemology of Mathematics</li>
			<li><a href="/higher-ed/MATH-4644/philosophy.html">Philosophy of <b>Technology</b></a></li>
			<li>Philosophy of <b>Equity</b></li>
		</ul>
	</section>
	<footer>
		<p>This site&rsquo;s <a href="../site-design/phi.html">design.</a></p>
		<p>This site hosted at <a href="http://github.io/">http://github.io/</a>.</p>
	</footer>
</div>
</body>
</html>
