// out: index.css
@import (reference) url('../core/styles/all.less');

/*--------------*\
	index.less
\*--------------*/

main {margin-bottom: 0;}

.Spiral {
	position: relative;
}
.Square {
	display: block;
	height: 3em; // will be changed proportionally in JS
	padding: 0;
	border-width: 0;
	border-radius: 0;
	margin: 0;
	position: static; // will be changed to `absolute` in JS
	font-family: @fontfam_heading;
	text-align: center;
	color: @color_btn_up_txt;
	background-color: @color_btn_up_bg;
}
.Square:hover {
	color: @color_btn_dn_txt;
	background-color: @color_btn_dn_bg;
	.Text {visibility: visible;}
}

// .a1 {width: @golden1;}
// .b1 {width: @golden2;}
// .c1 {width: @golden3;}
// .d1 {width: @golden4;}
// .e1 {width: @golden5;}
// .f1 {width: @golden6;}
// .g1 {width: @golden7;}
// .h1 {width: @golden8;}
// .i1 {width: @golden9;}
// .j1 {width: @golden10;}
// .k1 {width: @golden11;}
// .l1 {width: @golden12;}

.Spiral > li:nth-child( 1) > .Square {width: @golden1;}
.Spiral > li:nth-child( 2) > .Square {width: @golden2;}
.Spiral > li:nth-child( 3) > .Square {width: @golden3;}
.Spiral > li:nth-child( 4) > .Square {width: @golden4;}
.Spiral > li:nth-child( 5) > .Square {width: @golden5;}
.Spiral > li:nth-child( 6) > .Square {width: @golden6;}
.Spiral > li:nth-child( 7) > .Square {width: @golden7;}
.Spiral > li:nth-child( 8) > .Square {width: @golden8;}
.Spiral > li:nth-child( 9) > .Square {width: @golden9;}
.Spiral > li:nth-child(10) > .Square {width: @golden10;}
.Spiral > li:nth-child(11) > .Square {width: @golden11;}
.Spiral > li:nth-child(12) > .Square {width: @golden12;}

.Text {
	&:extend(.h-alpha);
	padding: 0;
	margin: 0;
	position: relative;
	top: 0.5em; // will be changed proportionally in JS
	visibility: hidden;
}
