// out: index.css
@import (reference) url('../core/styles/all.less');

/*--------------*\
	index.less
\*--------------*/

main {margin-bottom: 0;}

.Spiral {
	position: relative;
}
.Square {
	.transition(background-color; @t_ani);
	display: block;
	height: 3em; // will be changed proportionally in JS
	padding: 0;
	border-width: 0;
	border-radius: 0;
	margin: 0;
	position: static; // will be changed to `absolute` in JS
	font-family: @fontfam_heading;
	text-align: center;
	background-color: @color_btn_up_bg;
}
.Text {
	&:extend(.h-alpha);
	.transition(color; @t_ani);
	padding: 0;
	margin: 0;
	position: relative;
	top: 0.5em; // will be changed proportionally in JS
	color: transparent;
}
.Square:hover {
	background-color: @color_btn_dn_bg;
	.Text {color: @color_btn_dn_txt;}
}

.Spiral > li:nth-child( 1) > .Square {width: @golden1;}
.Spiral > li:nth-child( 2) > .Square {width: @golden2;}
.Spiral > li:nth-child( 3) > .Square {width: @golden3;}
.Spiral > li:nth-child( 4) > .Square {width: @golden4;}
.Spiral > li:nth-child( 5) > .Square {width: @golden5;}
.Spiral > li:nth-child( 6) > .Square {width: @golden6;}
.Spiral > li:nth-child( 7) > .Square {width: @golden7;}
.Spiral > li:nth-child( 8) > .Square {width: @golden8;}
.Spiral > li:nth-child( 9) > .Square {width: @golden9;}
.Spiral > li:nth-child(10) > .Square {width: @golden10;}
.Spiral > li:nth-child(11) > .Square {width: @golden11;}
.Spiral > li:nth-child(12) > .Square {width: @golden12;}
