---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chris Harvey &ni; Links</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Useful links."/>
<link rel="stylesheet" href="home.css"/>
{% include all-js.html %}
<style>
.h-beta {text-align: center;}
img.org {
	display: block;
	width: auto;
	height: 64px;
	margin: auto;
	margin-bottom: 8px;
}
.productlogos {text-align: center;}
</style>
</head>
<body id="linksdothtml" class="hub-body">
{% include banner.html %}
<div class="main">
<h1 class="h-alpha">External Links and Resources</h1>
<section id="edu">
	<h1 class="h-beta">Education</h1>
	<ul class="list-edu">
		<li>
			<a class="a-block" href="http://www.teachforamerica.org/what-we-do/">Teach For America | What We Do</a>
			<p class="caption">Teach For America is building the movement to eliminate educational inequality by enlisting our nation's most promising future leaders in the effort.</p>
		</li>
		<li>
			<a class="a-block" href="http://www.readwritethink.org/classroom-resources/printouts/">ReadWriteThink | Printouts</a>
			<p class="caption">ReadWriteThink, produced by the <a href="http://www.ncte.org/">National Council of Teachers of English</a> and the <a href="http://www.reading.org/">International Reading Association</a>, offers a collection of its best printable sheets from assessments to organizers&mdash;all of them classroom-tested and easy to use.</p>
		</li>
	</ul>
</section>
<section id="math">
	<h1 class="h-beta">Mathematics</h1>
	<div class="bin-list-math">
		<ul class="list-math-orgs">
			<li>
				<a class="a-block" href="http://www.nctm.org/publications/default.aspx?id=218"><img class="org" src="images/logo-NCTM.png" alt="The National Council of Teachers of Mathematics logo"/>Journals and Books</a>
				<p class="caption">The National Council of Teachers of Mathematics is a public voice of mathematics education supporting teachers to ensure equitable mathematics learning of the highest quality for all students through vision, leadership, professional development and research.</p>
			</li>
			<li>
				<a class="a-block" href="http://vctm.org/Default.aspx?pageId=768320"><img class="org" src="images/logo-VCTM.png" alt="The Virginia Council of Teachers of Mathematics logo"/>Contests, Scholarships, and Grants</a>
				<p class="caption">The Virginia Council of Teachers of Mathematics strives to provide mathematics educators and students with a variety of opportunities.</p>
			</li>
			<li>
				<a class="a-block" href="http://www.wolframalpha.com/">WolframAlpha</a>
				<p class="caption"><b class="lede">Computational knowledge engine.</b> WolframAlpha is a calculator and encyclopedia mashed into one.</p>
			</li>
			<li>
				<a class="a-block" href="http://www.education.ti.com/"><img class="org" src="images/logo-TI.png" alt="Texas Instruments logo"/>TI Education</a>
				<p class="caption">This site is useful for getting information on <abbr class="help" title="Texas Instruments">TI</abbr>'s latest products and technologies. You can also find information on classroom activities and download special tools and software for technology use in the math classroom. Lesson files for the <a href="/higher-ed/MATH-4644/technology/handhelds/TI-Nspire.html">Nspire</a> can be found <a href="http://education.ti.com/calculators/timathnspired/US/New/">here</a>.</p>
			</li>
			<li>
				<a class="a-block" href="http://www.doe.virginia.gov/testing/sol/standards_docs/mathematics/index.shtml"><img class="org" src="images/logo-VA-DOE.png" alt="Virginia Department of Education logo"/>State of VA | Department of Education | Standards of Learning</a>
				<p class="caption"></p>
			</li>
			<li>
				<a class="a-block" href="http://www.ams.org/profession/student"><img class="org" src="images/logo-AMS.png" alt="American Mathematical Society logo"/>Information for Students</a>
				<p class="caption">Students at all levels can benefit from AMS programs and services. In addition to offering an array of programs and opportunities for students, the AMS also collects information about opportunities of interest to students in the mathematical sciences.</p>
			</li>
		</ul>
		<ul class="list-math-vt">
			<li><img class="org" src="/core/img/VT-shield-logo.jpg" alt="Virginia Tech shield logo"/></li>
			<li>
				<a class="a-block" href="http://mathed.soe.vt.edu/Math_Ed_Links/math_ed_links-home.html">Virginia Tech | Helpful Resources in Math Education</a>
				<p class="caption">The Mathematics Education program at Virginia Tech unites faculty and students from both the Mathematics Department and School of Education.</p>
			</li>
			<li>
				<a class="a-block" href="http://www.mathed.soe.vt.edu/Virginia_Teach/Noyce_Scholarship/noyce_scholarship-home.html">Virginia Tech | <i>Virginia Teach</i> Robert Noyce Scholarship Program</a>
				<p class="caption">Virginia Teach represents a partnership between the <a href="http://www.math.vt.edu/">Department of Mathematics</a>, the <a href="http://www.soe.vt.edu/">School of Education</a>, and <a href="http://www.mcps.org/">Montgomery County Public Schools</a> to increase the number and quality of new secondary school mathematics teachers.</p>
			</li>
			<li>
				<a class="a-block" href="http://www.math.vt.edu/">Virginia Tech | Department of Mathematics</a>
				<p class="caption"></p>
			</li>
			<li>
				<a class="a-block" href="http://www.emporium.vt.edu/">Virginia Tech | Math Emporium</a>
				<p class="caption">The Math Emporium is a learning center for the study of mathematics.</p>
			</li>
		</ul>
	</div>
</section>
<section id="music">
	<h1 class="h-beta">Music</h1>
	<div class="bin-list-music">
		<ul class="list-music-orgs">
			<li>
				<a class="a-block" href="http://www.music-usa.org/vmta/"><img class="org" src="images/logo-VMTA.png" alt="Virginia Music Teachers Association logo"/>Virginia Music Teachers Association</a>
				<p class="caption">The Virginia Music Teachers Association is an organization of teachers throughout the state who are united in promoting music and musicianship through mutual cooperation.</p>
				<!--a class="block" href="http://www.sheetmusicplus.com/" title="World's Largest Sheet Music Selection">Sheet Music Plus</a-->
			</li>
		</ul>
		<ul class="list-music-vt">
			<li>
				<img class="org" src="/core/img/VT-shield-logo.jpg" alt="Virginia Tech shield logo"/>
				<a class="a-block" href="http://www.music.vt.edu/technology/">Music Technology at Virginia Tech</a>
				<p class="caption">Details of the Music Technology program at Virginia Tech.</p>
			</li>
		</ul>
	</div>
</section>
<section id="swim">
	<h1 class="h-beta">Swimming</h1>
	<ul class="list-swimming">
		<li>
			<a class="a-block" href="http://villaaquatic.com/Villaaquatic.com/Home_Page.html">Villa Aquatic</a>
			<p class="caption">My hometown swim team</p>
		</li>
		<li>
			<a class="a-block" href="http://www.swim.org.vt.edu/">Virginia Tech Swim Club</a>
			<p class="caption">My collegiate club sport</p>
		</li>
		<li>
			<a class="a-block" href="http://www.lakevale.org/dolphins/">Lakevale Estates</a>
			<p class="caption">My summer job</p>
		</li>
	</ul>
</section>
<section id="blogs">
	<h1 class="h-beta">My Blogs</h1>
	<ul class="list-blogs">
		<li>
			<a class="a-block" href="http://math-ed-research.blogspot.com/" title="Reactions to articles and other research.">Research in Mathematics Education</a>
			<p class="caption">This blog contains my summaries of and reactions to published research pertaining to mathematics education.</p>
		</li>
		<li>
			<a class="a-block" href="http://mathclassobservations.blogspot.com/" title="Math classroom observations, tutoring, and student teaching.">Field Studies in Mathematics Education</a>
			<div class="caption">
				<p>This blog contains my accounts and experiences of tutoring college students and observing high school math classrooms as a pre-service teacher.</p>
				<p>Due to privacy issues, this blog is restricted from the public. To view, please <a href="mailto:chrisharvey2pi@gmail.com?subject=Field%20Studies%20Blog%20request">email me</a> and request to be added to the access list. You must have a Google account. <a href="https://www.google.com/accounts/NewAccount">Don't have one? Sign up for free!</a></p>
			</div>
		</li>
	</ul>
</section>
<section id="apps">
	<h1 class="h-beta">Apps I Use</h1>
	<ul class="list-apps">
		<li>
			<a href="http://www.apple.com/macbook-pro/">
				<img class="icon-special" src="images/logos-banners/logo-Apple-gray.jpg" alt="Apple Mac logo"/>
			</a>
			<p class="lede">MacBook Pro: The world&apos;s highest resolution notebook</p>
		</li>
		<li>
			<a href="http://www.google.com/chrome">
				<img class="icon-special" src="images/logos-banners/logo-Chrome.png" alt="Google Chrome logo"/>
			</a>
			<p class="lede">Chrome: Get a fast, free web browser</p>
		</li>
		<li>
			<a href="http://macrabbit.com/espresso/" title="">
				<img class="icon-special" src="images/logos-banners/logo-Espresso.png" alt="Espresso logo"/>
			</a>
			<p class="lede">Espresso: <em>The</em> web editor</p>
		</li>
		<li>
			<a href="http://netbeans.org/">
				<img class="icon-special" src="images/logos-banners/logo-Netbeans.png" alt="NetBeans logo"/>
			</a>
			<p class="lede">Netbeans <abbr title="integrated developing environment">IDE</abbr>: The smarter and faster way to code</p>
		</li>
		<li>
			<a href="http://www.latex-project.org/">
				<img class="icon-special" src="images/logos-banners/logo-TeXShop.png" alt="TeXShop logo"/>
			</a>
			<p class="lede">LaTeX: A document preparation system</p>
		</li>
		<li>
			<a href="http://mac.github.com/">
				<img class="icon-special" src="images/logos-banners/logo-GitHubforMac.jpg" alt="GitHub for Mac logo"/>
			</a>
			<p class="lede">Github: Sharing code should be as simple as possible</p>
		</li>
<!--		<li>
			<a href="http://www.wolfram.com/mathematica/">
				<img class="icon-special" src="images/logos-banners/logo-Mathematica8.png" alt="Mathematica logo"/>
			</a>
			<p class="lede">Mathematica: Seamlessly flow ideas to results</p>
		</li>-->
	</ul>
</section>
</div>
</body>
</html>