---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mathematics &in; Chris Harvey</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../core/styles/all.css"/>
{% include all-js.html %}
</head>
<body class="hub-body">
{% include banner.html %}
<nav class="bc">
	<ol class="bc-anc">
		<li><a href="../index.html" rel="top">Home</a></li>
	</ol>
	<ol class="bc-sib">
		<li><a href="math.html" rel="this">Mathematics</a></li>
		<li><a href="edu.html" rel="sibling">Education</a></li>
		<li><a href="music.html" rel="sibling">Music</a></li>
		<li><a href="swim.html" rel="sibling">Swimming</a></li>
		<li><a href="web.html" rel="sibling">Web</a></li>
	</ol>
	<ol class="bc-child"></ol>
</nav>
<main>
<h1 class="h-alpha h-folio">Math is my strength.</h1>
<p class="prose dropcap">Math is just something that comes to me easily, and if I&rsquo;m having trouble, it usually won&rsquo;t take long for me to learn. I find myself always thinking about math in everyday situations. Right now I'm a math teacher. I try my best to use my advanced mathematical knowledge to my advantage when teaching secondary-education level material. But not only do I teach students; sometimes they teach me too. I&rsquo;ve learned so much, both educationally and mathematically, as a teacher. Apart from math I also have interests in computer science and Web development, science fiction, physics, and astronomy.</p>
<section>
	<h1 class="h-beta">Mathematics Education Courses</h1>
	<section id="MATH-4044">
		<h1 class="h-gamma">History of Mathematics</h1>
		<ul class="list-action">
			<li><a href="../higher-ed/MATH-4044/Mersenne.pdf">The Life and Works of Marin Mersenne (1588&ndash;1648)</a> [2009-11-20]</li>
		</ul>
	</section>
	<section id="MATH-4625-4626">
		<h1 class="h-gamma">Mathematics for Secondary Teachers</h1>
		<ul class="list-action">
			<li><a href="../higher-ed/MATH-4625/index.html">Letter-Writing Project</a> [<time datetime="2009-12">Dec, 2009</time>]</li>
			<li><a href="../higher-ed/MATH-4626/index.html">Introduction to Limits</a> [Lesson plan on basic limits. <time datetime="2009-04-23">Apr 23, 2009</time>]</li>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Secondary School Mathematics with Technology</h1>
		<ul class="list-action">
			<li><a href="/core/JavaSketchpad/Pythag_Harvey.html">Two Geometric Proofs of the Pythagorean Theorem</a> [2009-03-03]</li>
			<li><a href="/core/JavaSketchpad/Kaleidoscope.html">Kaleidoscope</a> [A Kaleidoscope made from geometric transformations. <time>2009</time>]</li>
		</ul>
		<section id="MATH-4644">
			<h1 class="h-delta">ePortfolio <span class="hsub">An electronic portfolio of technology applications in math education. <time datetime="2010-12-13">Dec 13, 2010</time></span></h1>
			<ul class="list-action">
				<li><a href="../higher-ed/MATH-4644/technology/index.html">Technology Tools</a></li>
				<li><a href="../higher-ed/MATH-4644/technology/handhelds/index.html">Handhelds</a></li>
				<li><a href="../higher-ed/MATH-4644/lessons/index.html">Lesson Plans</a></li>
				<li><a href="../higher-ed/MATH-4644/resources.html">Resources for Students</a></li>
				<li><a href="../higher-ed/MATH-4644/philosophy.html">Philosophy and Advice</a></li>
			</ul>
		</section>
	</section>
	<section id="MATH-4654-4664">
		<h1 class="h-gamma">Capstone Thesis and Senior Seminar</h1>
		<ul class="list-action">
			<li><a href="../higher-ed/MATH-4654/index.html">Reasoning And Proof In High School Mathematics</a> [Undergraduate thesis. <time datetime="2010-05-03">May 3, 2010</time>]</li>
			<li><a href="../higher-ed/MATH-4664/Philosophy.pdf" title="Teaching Philosophy. 16-DEC-2010">Philosophy of Teaching Mathematics</a></li>
		</ul>
	</section>
</section>
<section>
	<h1 class="h-beta">Preservice Teaching Experience</h1>
	<section id="MATH-2644">
		<h1 class="h-gamma">Mathematics Tutoring</h1>
		<ul class="list-action">
			<li><a href="../higher-ed/MATH-2644/HarveyFinal.pdf">Final Reflection</a> [A reflection of my entire experience of tutoring college freshmen and sophomores in math courses. <time datetime="2010-12-08">Dec 8, 2010</time>]</li>
		</ul>
	</section>
	<section id="MATH-4984">
		<h1 class="h-gamma">Early Field Experience</h1>
		<section>
			<h1 class="h-delta"><abbr title="National Council of Teachers of Mathematics">NCTM</abbr> Principle Projects</h1>
			<ul class="list-action">
				<li><a href="../higher-ed/MATH-4984/TechnologyPrincipleProject.pdf">Technology Principle Project</a> [A study of NCTM's Technology Principle. <time datetime="2011-02-24">Feb 24, 2011</time>]</li>
				<li><a href="../higher-ed/MATH-4984/EquityPrincipleProject.pdf">Equity Principle Project</a> [A study of NCTM's Equity Principle. <time datetime="2011-03-17">Mar 17, 2011</time>]</li>
				<li><a href="../higher-ed/MATH-4984/CurriculumPrincipleProject.pdf">Curriculum Principle Project</a> [A study of NCTM's Curriculum Principle. <time datetime="2011-03-24">Mar 24, 2011</time>]</li>
				<li><a href="../higher-ed/MATH-4984/TeachingPrincipleProject.pdf">Teaching Principle Project</a> [A study of NCTM's Teaching Principle. <time datetime="2011-04-07">Apr 7, 2011</time>]</li>
				<li><a href="../higher-ed/MATH-4984/AssessmentPrincipleProject.pdf">Assessment Principle Project</a> [A study of NCTM's Assessment Principle. <time datetime="2011-04-14">Apr 14, 2011</time>]</li>
				<li><a>Learning Principle Project</a> [A study of NCTM's Learning Principle. <time datetime="2011-04-28">Apr 28, 2011</time>]</li>
			</ul>
		</section>
		<section>
			<h1 class="h-delta">Presentations and Final Project</h1>
			<ul class="list-action">
				<li><a href="../higher-ed/MATH-4984/CurriculumPrinciplePresentation.pdf">Curriculum Principle Presentation</a> [A presentation on NCTM's Curriculum Principle. <time datetime="2011-03-24">Mar 24, 2011</time>]</li>
				<li><a href="../higher-ed/MATH-4984/LearningPrinciplePresentation.pdf">Learning Principle Presentation</a> [A presentation on NCTM's Learning Principle. <time datetime="2011-04-28">Apr 28, 2011</time>]</li>
				<li><a href="../higher-ed/MATH-4984/FinalProject.pdf">Final Synthesis</a> [A final paper on my early field experience. <time datetime="2011-05-11">May 11, 2011</time>]</li>
			</ul>
		</section>
	</section>
	<section id="EDCI-5964">
		<h1 class="h-gamma">Intership</h1>
		<ul class="list-action">
			<li><a href="../higher-ed/EDCI-5964/ModifiedLessonWriteup.pdf">Modified Lesson</a> [A modified lesson on graphing inequalities. <time datetime="2011-11-02">Nov 2, 2011</time>]</li>
			<li><a href="../higher-ed/EDCI-5964/StudentInterviewReflection.pdf">Student Interview</a> [A student interview on scientific notation. <time datetime="2011-11-09">Nov 9, 2011</time>]</li>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Student Teaching</h1>
		<ul class="list-action">
		</ul>
	</section>
</section>
</main>
<!--
<script>
resizefont = function(scale) {
	$('.folio .h-folio').css('font-size', function () {
		return $(this).parent().width() / scale + 'px';
	});
}
$(document).ready(function() {
	resizefont(16);
});
$(window).resize(function() {
	resizefont(16);
});
</script>
-->
</body>
</html>