extends _home.tpl.jade

block append vars
  - var page = Home.HOME.find('math.html')

block mainHeader
  h1.c-FolioTitle #[span.c-FolioTitle__Cap M]ath is my strength.

block append main
      p.c-Lede.c-Lede--dropcap.
        Math is something that comes to me easily, and if I&rsquo;m having
        trouble, it usually won&rsquo;t take long for me to learn. I find myself always thinking
        about math in everyday situations. I used to be a math teacher. I enjoyed using my
        mathematical knowledge to my advantage when teaching secondary-education level
        material. But not only did I teach students; they taught me too. I&rsquo;ve learned
        so much, both educationally and mathematically, as a teacher. Apart from math I also have
        interests in computer science and Web development, science fiction, physics, and astronomy.
      p.c-Document.
        I&rsquo;ve liked math for as long as I can remember. Throughout my
        childhood, I developed an
        interest in math at an exponential rate. In early elementary school, the
        #[abbr(title="Gifted and Talented") GT] program introduced mathematical concepts
        that weren&rsquo;t seen until later years, and in Sixth Grade I started learning
        pre-algebra. Mrs. Whitechurch was my Geometry and Algebra II teacher in high school. She
        and my other high school math teachers had further increased
        my likeness and fluency in the subject. I felt very close with Ms. Robbins. She
        made Trig and Precalc really fun for me and was the first teacher to introduce limits.
        That sparked my greatest interest in Calculus. I remember having such a difficult time
        with chain rule. Ms. Varanavage, my Calculus teacher, and Mr. Petersen, my Physics
        teacher, were like rivals trying to be the first ones to
        teach us the same content. I actually learned anti-derivatives in Physics before I
        learned it in Calculus!
      p.c-Document.
        As a mathematician, the subjects I am most interested in are calculus and
        analysis. I passed the AP Calculus BC exam with a 5, so I didn&rsquo;t need to take
        Freshman Calculus in college. But Multi-Var with
        #[a(rel="external" href="http://www.math.vt.edu/people/rosnide3/") Dr. Snider],
        Vector Calc with
        #[a(rel="external" href="http://www.math.vt.edu/people/jthomson/") Dr. Thompson],
        and Advanced Calc with
        #[a(rel="external" href="http://www.math.vt.edu/people/parrycj/") Dr. Parry]
        were difficult feats.
      section
        h2 Mathematics Education Courses
        section#MATH-4044
          h3 History of Mathematics
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MATH-4044/Mersenne.pdf").
              The Life and Works of Marin Mersenne (#[time 1588]&ndash;#[time 1648]) &mdash; #[time(datetime="2009-11-20") Nov 20, 2009]
        section#MATH-4625-4626
          h3 Mathematics for Secondary Teachers
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MATH-4625/index.html").
              Letter-Writing Project &mdash; #[time(datetime="2009-12") Dec, 2009]
            li.c-ListAction__Item: a(href="../higher-ed/MATH-4626/index.html" title="lesson plan on basic limits").
              Introduction to Limits &mdash; #[time(datetime="2009-04-23") Apr 23, 2009]
        section
          h3 Secondary School Mathematics with Technology
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../core/JavaSketchpad/Pythag_Harvey.html").
              Two Geometric Proofs of the Pythagorean Theorem &mdash; #[time(datetime="2009-03-03") Mar 3, 2009]
            li.c-ListAction__Item: a(href="../core/JavaSketchpad/Kaleidoscope.html" title="a Kaleidoscope made from geometric transformations").
              Kaleidoscope &mdash; #[time 2009]
          section#MATH-4644
            h4 ePortfolio
            p An electronic portfolio of technology applications in math education &mdash; #[time(datetime="2010-12-13") Dec 13, 2010]
            ul.c-ListAction
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4644/technology/index.html") Technology Tools
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4644/technology/handhelds/index.html") Handhelds
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4644/lessons/index.html") Lesson Plans
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4644/resources.html") Resources for Students
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4644/philosophy.html") Philosophy and Advice
        section#MATH-4654-4664
          h3 Capstone Thesis and Senior Seminar
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MATH-4654/index.html" title="undergraduate thesis").
              Reasoning And Proof In High School Mathematics &mdash; #[time(datetime="2010-05-03") May  3, 2010]
            li.c-ListAction__Item: a(href="../higher-ed/MATH-4664/Philosophy.pdf").
              Philosophy of Teaching Mathematics &mdash; #[time(datetime="2010-12-16") Dec 16, 2010]
      section
        h2 Preservice Teaching Experience
        section#MATH-2644
          h3 Mathematics Tutoring
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MATH-2644/HarveyFinal.pdf" title="a reflection of my entire experience of tutoring college freshmen and sophomores in math courses").
              Final Reflection &mdash; #[time(datetime="2010-12-08") Dec 8, 2010]
        section#MATH-4984
          h3 Early Field Experience
          section
            h4 #[abbr(title="National Council of Teachers of Mathematics") NCTM] Principle Projects
            ul.c-ListAction
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/TechnologyPrincipleProject.pdf" title="a study of NCTM&rsquo;s Technology Principle").
                Technology Principle Project &mdash; #[time(datetime="2011-02-24") Feb 24, 2011]
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/EquityPrincipleProject.pdf" title="a study of NCTM&rsquo;s Equity Principle").
                Equity Principle Project &mdash; #[time(datetime="2011-03-17") Mar 17, 2011]
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/CurriculumPrincipleProject.pdf" title="a study of NCTM&rsquo;s Curriculum Principle").
                Curriculum Principle Project &mdash; #[time(datetime="2011-03-24") Mar 24, 2011]
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/TeachingPrincipleProject.pdf" title="a study of NCTM&rsquo;s Teaching Principle").
                Teaching Principle Project &mdash; #[time(datetime="2011-04-07") Apr 7, 2011]
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/AssessmentPrincipleProject.pdf" title="a study of NCTM&rsquo;s Assessment Principle").
                Assessment Principle Project &mdash; #[time(datetime="2011-04-14") Apr 14, 2011]
              li.c-ListAction__Item: a(title="a study of NCTM&rsquo;s Learning Principle").
                Learning Principle Project &mdash; #[time(datetime="2011-04-28") Apr 28, 2011]
          section
            h4 Presentations and Final Project
            ul.c-ListAction
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/CurriculumPrinciplePresentation.pdf" title="a presentation on NCTM&rsquo;s Curriculum Principle").
                Curriculum Principle Presentation &mdash; #[time(datetime="2011-03-24") Mar 24, 2011]
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/LearningPrinciplePresentation.pdf" title="a presentation on NCTM&rsquo;s Learning Principle").
                Learning Principle Presentation &mdash; #[time(datetime="2011-04-28") Apr 28, 2011]
              li.c-ListAction__Item: a(href="../higher-ed/MATH-4984/FinalProject.pdf" title="a final paper on my early field experience").
                Final Synthesis &mdash; #[time(datetime="2011-05-11") May 11, 2011]
        section#EDCI-5964
          h3 Intership
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/EDCI-5964/ModifiedLessonWriteup.pdf" title="a modified lesson on graphing inequalities").
              Modified Lesson &mdash; #[time(datetime="2011-11-02") Nov 2, 2011]
            li.c-ListAction__Item: a(href="../higher-ed/EDCI-5964/StudentInterviewReflection.pdf" title="a student interview on scientific notation").
              Student Interview &mdash; #[time(datetime="2011-11-09") Nov 9, 2011]
        section#EDCI-5754
          h3 Student Teaching
          ul.c-ListAction
      section
        h2 External Links
        ul
          li
            a(rel="external" href="http://www.nctm.org/publications/default.aspx?id=218") Journals and Books
            p.Capt-logo.Nctm.
              The National Council of Teachers of Mathematics is a public voice
              of mathematics education supporting teachers to ensure equitable mathematics
              learning of the highest quality for all students through vision, leadership,
              professional development and research.
          li
            a(rel="external" href="http://vctm.org/Default.aspx?pageId=768320") Contests, Scholarships, and Grants
            p.Capt-logo.Vctm.
              The Virginia Council of Teachers of Mathematics strives to provide
              mathematics educators and students with a variety of opportunities.
          li
            a(rel="external" href="http://www.wolframalpha.com/") WolframAlpha
            p.
              WolframAlpha is a computational knowledge engine: a calculator
              and encyclopedia mashed into one.
          li
            a(rel="external" href="http://www.education.ti.com/") TI Education
            p.Capt-logo.Txin.
              This site is useful for getting information on
              #[abbr(title="Texas Instruments") TI]&rsquo;s latest products and
              technologies. You can also find information on classroom activities and
              download special tools and software for technology use in the math classroom.
              Lesson files for the #[a(href="../../higher-ed/MATH-4644/technology/handhelds/TI-Nspire.html") Nspire]
              can be found #[a(rel="external" href="http://education.ti.com/calculators/timathnspired/US/New/") here].
          li
            a(rel="external" href="http://www.doe.virginia.gov/testing/sol/standards_docs/mathematics/index.shtml").
              State of VA | Department of Education | Standards of Learning
            p.Capt-logo.Vdoe
          li
            a(rel="external" href="http://www.ams.org/profession/student") Information for Students
            p.Capt-logo.Amsy.
              Students at all levels can benefit from AMS programs and services.
              In addition to offering an array of programs and opportunities for students,
              the AMS also collects information about opportunities of interest to students
              in the mathematical sciences.
        ul#links-vt
          li
            img.icon-org(src="images/logos-banners/logo-VTshield.jpg" alt="Virginia Tech shield logo")
          li
            a(rel="external" href="http://mathed.soe.vt.edu/Math_Ed_Links/math_ed_links-home.html").
              Virginia Tech | Helpful Resources in Math Education
            p.
              The Mathematics Education program at Virginia Tech unites faculty
              and students from both the Mathematics Department and School of Education.
          li
            a(rel="external" href="http://www.mathed.soe.vt.edu/Virginia_Teach/Noyce_Scholarship/noyce_scholarship-home.html").
              Virginia Tech | Robert Noyce Scholarship Program
            p.
              #[i Virginia Teach] represents a partnership between the
              #[a(rel="external" href="http://www.math.vt.edu/") Department of Mathematics], the
              #[a(rel="external" href="http://www.soe.vt.edu/") School of Education], and
              #[a(rel="external" href="http://www.mcps.org/") Montgomery County Public Schools]
              to increase the number and quality of new secondary school mathematics teachers.
          li
            a(rel="external" href="http://www.math.vt.edu/").
              Virginia Tech | Department of Mathematics
            p
          li
            a(rel="external" href="http://www.emporium.vt.edu/").
              Virginia Tech | Math Emporium
            p The Math Emporium is a learning center for the study of mathematics.
