extends _home.tpl.jade

block append vars
  - var page = Home.HOME.find('music.html')

block append styles
  style.
    #mediagallery a {
      border: 1px solid transparent;
      border-radius: 2rem;
    }

block mainHeader
  h1.c-FolioTitle #[span.c-FolioTitle__Cap M]usic is my passion.

block append main
      p.c-Lede.c-Lede--dropcap.
        Music always surrounds me. I love listening to music, doodling around on
        piano and guitar, and singing in the car or in the shower. Unless you&rsquo;re a
        music major, I can probably tell you anything you want to know about music, from technical
        ornaments, to expressive passages, to recording procedures in the studio. Aside from music
        I also have interests in religion and politics, sociology art, and philosophy.
      p.c-Document.
        I&rsquo;ve been playing the piano since I was seven years old. Throughout
        my childhood I had been taking lessons from one piano teacher, Mrs. Ball. In Fourth Grade,
        I picked up the viola, and then switched to the trombone in Sixth Grade. I played
        trombone in the Lanier Middle School band, and in the Fairfax High School marching,
        symphonic, and jazz bands for all four years. I continued with the trombone in the
        #[a(rel="external" href="http://marchingvirginians.music.vt.edu/") Virginia Tech Marching Virginians]
        for three years. I also picked up the alto saxophone and participated in the
        University Campus Band during the spring semester of my sophomore year at VT.
      section
        h2 Music Courses
        //- section
        //-   h3 History and Analysis of Musical Styles
        section#MUS-3154
          h3 Piano Literature
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MUS-3154/Beethoven.pdf").
              Beethoven&rsquo;s Hearing Loss and His Late Sonatas &mdash; #[time(datetime="2009-09-28") Sep 28, 2009]
            li.c-ListAction__Item: a(href="../higher-ed/MUS-3154/Chopin.pdf").
              An Analysis of Chopin&rsquo;s #[cite Scherzo No. 1 in B Minor, Opus 20] &mdash; #[time(datetime="2009-11-09") Nov 9, 2011]
            li.c-ListAction__Item: a(rel="external" href="https://docs.google.com/presentation/pub?id=1Pvos8kJMGTTaz8-Q5XEwSRbK-POepauiFceE55PEWwA&start=false&loop=false&delayms=3000").
              Ragtime Presentation &mdash; #[time(datetime="2009-10-14") Oct 14, 2011]
            li.c-ListAction__Item: a(href="../higher-ed/MUS-3154/final.html" title="an outline of my final presentation").
              Tuning and Temperaments Outline &mdash; #[time(datetime="2009-12-07") Dec 7, 2009]
            li.c-ListAction__Item: a(href="../higher-ed/MUS-3154/TuningTemperaments.pdf").
              Tuning and Temperaments Final Presentation &mdash; #[time(datetime="2009-12-07") Dec 7, 2009]
        section#MUS-4524
          h3 Advanced Individual Applied Keyboard
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MUS-4524/").
              Listening reports on recorded and live piano performances
            li.c-ListAction__Item: a(href="../higher-ed/MUS-4524/cadenza.html").
              The #[i(lang="it") Cadenza]: a short report &mdash; #[time(datetime="2010-04-13") Apr 4, 2010]
        section#MUS-3055-3056
          h3 Music and Media Production
          ul.c-ListAction
            li.c-ListAction__Item: a(href="../higher-ed/MUS-3055/index.html" title="required for continuation into the upper course levels").
              Continuation Project &mdash; #[time(datetime="2008-10-15") Oct 15, 2008]
            li.c-ListAction__Item: a(href="../higher-ed/MUS-3056/Harvey_MicProj.pdf" title="a presentation on different methods of studio microphone use").
              Microphone Experimentation Presentation &mdash; #[time(datetime="2009-05-04") May 4, 2009]
            li.c-ListAction__Item: a(title="a write-up of my evaluation of different methods of studio microphone use").
              Microphone Evaluation Documentation &mdash; #[time(datetime="2011-04-08") Apr 8, 2011]
            li.c-ListAction__Item: a(tile="a final product of my undergraduate career").
              Senior Project
      section#mediagallery
        a.Crumb(rel="external" href="http://eportfolio.music.vt.edu/chharvey/"): h1.c-FolioTitle.
          #[span.c-FolioTitle__Cap M]edia #[span.c-FolioTitle__Cap G]allery
      //- div#iframe_container
      //-   iframe(align="center" name="VT_Music_Eportfolio" src="http://eportfolio.music.vt.edu/chharvey/").
      //-     [Your browser does not support frames or is currently configured not to display frames.
      //-     However, you may visit #[a(href="http://eportfolio.music.vt.edu/chharvey/") the related document].]
      section
        h2 External Links
        ul
          li
            a(rel="external" href="http://www.music-usa.org/vmta/") Virginia Music Teachers Association
            p.Capt-logo.Vmta.
              The Virginia Music Teachers Association is an organization of
              teachers throughout the state who are united in promoting music and
              musicianship through mutual cooperation.
        ul.links-vt
          li
            img.icon-org(src="images/logos-banners/logo-VTshield.jpg" alt="Virginia Tech shield logo")
          li
            a(rel="external" href="http://www.music.vt.edu/technology/") Music Technology at Virginia Tech
            p Details of the Music Technology program at Virginia Tech.
