---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Music &in; Chris Harvey</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../core/stylesheets/all.css"/>
{% include all-js.html %}
</head>
<body class="hub-body">
{% include banner.html %}
<nav class="bc">
	<ol class="bc-anc">
		<li><a href="../index.html">Home</a></li>
	</ol>
	<ol class="bc-sib">
		<li><a href="math.html">Mathematics</a></li>
		<li><a href="edu.html">Education</a></li>
		<li><a href="music.html" class="this">Music</a></li>
		<li><a href="swim.html">Swimming</a></li>
		<li><a href="web.html">Web</a></li>
	</ol>
</nav>
<main>
<h1 class="h-alpha h-folio">Music is my passion.</h1>
<p class="prose dropcap">Music always surrounds me. I love listening to music, doodling around on piano and guitar, and sometimes singing in the car or in the shower. Unless you&rsquo;re a music major, I can probably tell you anything you want to know about music, from technical ornaments, to expressive passages, to recording procedures in the studio. Aside from music I also have interests in religion and politics, sociology art, and philosophy.</p>
<section>
	<h1 class="h-beta">Music Courses</h1>
	<section>
		<h1 class="h-gamma">History and Analysis of Musical Styles</h1>
		<ul class="list-action">
		</ul>
	</section>
	<section id="MUS-3154">
		<h1 class="h-gamma">Piano Literature</h1>
		<ul class="list-action">
		</ul>
		<ul class="list-action">
			<li><a href="../higher-ed/MUS-3154/Beethoven.pdf">Beethoven&rsquo;s Hearing Loss and His Late Sonatas</a> [<time datetime="2009-09-28">Sep 28, 2009</time>]</li>
			<li><a href="../higher-ed/MUS-3154/Chopin.pdf">An Analysis of Chopin&rsquo;s <cite>Scherzo No. 1 in B Minor, Opus 20</cite></a> [<time datetime="2009-11-09">Nov 9, 2011</time>]</li>
			<li><a href="https://docs.google.com/presentation/pub?id=1Pvos8kJMGTTaz8-Q5XEwSRbK-POepauiFceE55PEWwA&start=false&loop=false&delayms=3000">Ragtime Presentation</a> [<time datetime="2009-10-14">Oct 14, 2011</time>]</li>
			<li><a href="../higher-ed/MUS-3154/final.html">Tuning and Temperaments Outline</a> [An outline of my final presentation. <time datetime="2009-12-07">Dec 7, 2009</time>]</li>
			<li><a href="../higher-ed/MUS-3154/TuningTemperaments.pdf">Tuning and Temperaments Final Presentation</a> [<time datetime="2009-12-07">Dec 7, 2009</time>]</li>
<!--
		</ul>
	</section>
	<section id="MUS-4524">
		<h1 class="h-gamma">Advanced Individual Applied Keyboard</h1>
		<ul class="list-action">
-->
			<li><a href="../higher-ed/MUS-4524/">Listening reports on recorded and live piano performances</a></li>
			<li><a href="../higher-ed/MUS-4524/cadenza.html">The <i lang="it">Cadenza</i></a> [A short report. <time datetime="2010-04-13">Apr 4, 2010</time>]</li>
		</ul>
	</section>
	<section id="MUS-3055-3056">
		<h1 class="h-gamma">Music and Media Production</h1>
		<ul class="list-action">
			<li><a href="../higher-ed/MUS-3055/index.html">Continuation Project</a> [Required for continuation into the upper course levels. <time datetime="2008-10-15">Oct 15, 2008</time>]</li>
			<li><a href="../higher-ed/MUS-3056/Harvey_MicProj.pdf">Microphone Experimentation Presentation</a> [A presentation on different methods of studio microphone use. <time datetime="2009-05-04">May 4, 2009</time>]</li>
			<li><a>Microphone Evaluation Documentation</a> [A write-up of my evaluation of different methods of studio microphone use. <time datetime="2011-04-08">Apr 8, 2011</time>]</li>
			<li><a>Senior Project</a> [A final product of my undergraduate career.]</li>
		</ul>
	</section>
</section>
<section class="mediagallery">
	<a class="a-block" href="http://eportfolio.music.vt.edu/chharvey/">
		<h1 class="h-folio">Media <span class="cap">G</span>allery</h1>
	</a>
</section>
<!--
<div id="iframe_container">
	<iframe align="center" name="VT_Music_Eportfolio" src="http://eportfolio.music.vt.edu/chharvey/">
		[Your browser does not support frames or is currently configured not to display frames. However, you may visit <a href="http://eportfolio.music.vt.edu/chharvey/">the related document</a>.]
	</iframe>
</div>
-->
</main>
</body>
</html>
