---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Music &in; Chris Harvey</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="folio.css"/>
{% include all-js.html %}
<style>
.mediagallery {margin-top: 60px;}
.mediagallery .h-folio {
	margin: 0 auto;
	font-size: 2em;
	font-variant: small-caps;
}
</style>
</head>
<body class="hub-body">
{% include banner.html %}
<div class="main P1 P1-midright">
<header class="folio">
	<h1 class="h h-alpha h-folio"><span class="cap">M</span>usic is my passion.</h1>
	<p class="prose prose-folio">I'm always surrounded by music. I love listening to music, doodling around on piano and guitar, and sometimes singing in the car or in the shower. Unless you're a music major, I can probably tell you anything you want to know about music, from technical ornaments, to expressive passages, to recording procedures in the studio. Aside from music I also have interests in religion and politics, sociology art, and philosophy.</p>
</header>
<div class="line solo linebreadth-large">
	<div class="unit">
		<details class="box box-block box-block-a box-block-a-reg">
			<summary class="h h-beta">History and Analysis of Musical Styles</summary>
			<ul class="list-action">
				<li>no content yet</li>
			</ul>
		</details>
		<details class="box box-block box-block-a box-block-a-reg">
			<summary class="h h-beta">Piano Literature</summary>
			<ul class="list-action">
				<li><a href="/higher-ed/MUS-3154/Beethoven.pdf" title="Beethoven Paper. 28-SEP-2009">Beethoven's Hearing Loss and His Late Sonatas</a></li>
				<li><a href="/higher-ed/MUS-3154/Chopin.pdf" title="Chopin Paper. 09-NOV-2009">An Analysis of Chopin's <i>Scherzo No. 1 in B Minor, Opus 20</i></a></li>
				<li><a href="https://docs.google.com/presentation/pub?id=1Pvos8kJMGTTaz8-Q5XEwSRbK-POepauiFceE55PEWwA&start=false&loop=false&delayms=3000" title="A short report on ragtime music. 14-OCT-2009">Ragtime Presentation</a></li>
				<li><a href="/higher-ed/MUS-3154/final.html" title="An outline of my final presentation. 07-DEC-2009">Tuning and Temperaments (Outline)</a></li>
				<li><a href="/higher-ed/MUS-3154/TuningTemperaments.pdf" title="My final presentation. 07-DEC-2009">Tuning and Temperaments Presentation</a></li>
				<li><a href="/higher-ed/MUS-4524/" title="Listening reports on recorded and live piano performances.">Advanced Individual Applied Keyboard | Listening Reports</a></li>
				<li><a href="/higher-ed/MUS-4524/cadenza.html" title="A short report on the cadenza. 13-APR-2010">The <i lang="it">Cadenza</i></a></li>
			</ul>
		</details>
		<details class="box box-block box-block-a box-block-a-reg">
			<summary class="h h-beta">Music and Media Production</summary>
			<ul class="list-action">
				<li><a href="/higher-ed/MUS-3055/" title="A project required for continuation into the upper course levels. 15-OCT-2008">Continuation Project</a></li>
				<li><a href="/higher-ed/MUS-3056/Harvey_MicProj.pdf" title="A presentation on different methods of studio microphone use. 04-MAY-2009">Microphone Experimentation Presentation</a></li>
				<li><a class="a-broken" title="A write-up of my evaluation of different methods of studio microphone use. 08-APR-2011">Microphone Evaluation Documentation</a></li>
				<li><a class="a-broken" title="A final product of my undergraduate career.">Independent Study | Senior Project</a></li>
			</ul>
		</details>
	</div>
</div>
<div class="mediagallery">
	<a class="box box-block box-block-a box-block-a-reg" href="http://eportfolio.music.vt.edu/chharvey/">
		<h1 class="h h-alpha h-folio"><span class="cap">M</span>edia <span class="cap">G</span>allery</h1>
	</a>
	<!--div id="iframe_container">
		<iframe align="center" name="VT_Music_Eportfolio" src="http://eportfolio.music.vt.edu/chharvey/">
			[Your browser does not support frames or is currently configured not to display frames. However, you may visit <a href="http://eportfolio.music.vt.edu/chharvey/">the related document</a>.]
  	</iframe>
	</div-->
</div>
</div>
<script>
resizefont = function(scale) {
	$('.folio .h-folio').css('font-size', function () {
		return $(this).parent().width() / scale + 'px';
	});
}
$(document).ready(function() {
	resizefont(14);
});
$(window).resize(function() {
	resizefont(14);
});
</script>
</body>
</html>
