.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
/*###############*\
    resume.less
\*###############*/
.Ulist {
  padding-left: 0.25in;
}
/*@SECTIONS*/
/**
  * The Header contains my name and contact information.
  */
.res-Header .res-Postal br {
  display: none;
}
.res-Skill,
.res-Job {
  margin-top: 24px;
  margin-top: 1.5rem;
}
/**
  * A Skill is a top-level section, e.g. Teaching Experience.
  * The name of the Skill is a `.res-SkillTitle`.
  */
/**
  * A Job is an item in a Skill. It has an organization name and location.
  * The name of the Job is a `.res-JobTitle`.
  */
/**
  * A Pos(ition) is an item in a Job. Usually, each Job will only have one position, but there
  * could be multiple positions.
  * The name of the Position is a `.res-PosTitle`.
  * There may be a list of descriptors, which is called a `.res-PosDetail`.
  */
/*@HEADINGS*/
/**
  * My name at the top of the resume.
@extends
: .H.Alp
@tags
: #heading
@author
: Chris Harvey
@updated
: 2014-10-19
*/
.res-Name {
  min-height: 24px;
  min-height: 1.5rem;
  display: block;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  margin-top: 29.66563146px;
  margin-top: 1.85410197rem;
  padding-bottom: 18.33436854px;
  padding-bottom: 1.14589803rem;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  color: #120099;
}
/**
  * The title of each skillgroup, e.g. "Teaching Experience"
@extends
: .H.Bet
@implements
: .fontsize-block()
: .border-vert-undo()
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-10-19
  */
.res-SkillTitle {
  min-height: 24px;
  min-height: 1.5rem;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 1.37142857;
  margin-top: 34.728px;
  margin-top: 2.1705rem;
  padding-bottom: 13.272px;
  padding-bottom: 0.8295rem;
  display: block;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3d6166;
  font-weight: bold;
  color: #3d6166;
  position: static;
  top: auto;
  margin-bottom: 0;
  border: 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}
.res-JobTitle {
  min-height: 24px;
  min-height: 1.5rem;
  display: block;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 0.92307692;
  margin-top: 14.83281573px;
  margin-top: 0.92705098rem;
  padding-bottom: 9.16718427px;
  padding-bottom: 0.57294902rem;
  font-variant: small-caps;
  font-weight: bold;
}
.res-PosTitle {
  min-height: 24px;
  min-height: 1.5rem;
  display: block;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.14285714;
  margin-top: 17.376px;
  margin-top: 1.086rem;
  padding-bottom: 6.624px;
  padding-bottom: 0.414rem;
  font-style: italic;
  font-weight: bold;
}
.res-Deg {
  min-height: 24px;
  min-height: 1.5rem;
  display: block;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333333;
  font-style: italic;
  color: #3d6166;
}
.res-Inst {
  min-height: 24px;
  min-height: 1.5rem;
  display: block;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
  font-variant: small-caps;
}
/*@Overriding*/
.res-Name,
.res-SkillTitle,
.res-JobTitle,
.res-PosTitle,
.res-Deg,
.res-Inst {
  letter-spacing: normal;
}
.res-SkillTitle,
.res-JobTitle,
.res-PosTitle,
.res-Deg,
.res-Inst {
  margin-top: 0px;
  margin-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
}
.res-JobTitle,
.res-PosTitle,
.res-Deg,
.res-Inst {
  font-size: inherit;
  line-height: inherit;
}
#tech-skills .Gcol:first-child {
  padding-right: 5px;
}
#tech-skills .Gcol:last-child {
  padding-left: 5px;
}
.tech-skills-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#tech-gen {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
#tech-html {
  -webkit-box-ordinal-group: 10;
  -moz-box-ordinal-group: 10;
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
#tech-css {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
#tech-git {
  -webkit-box-ordinal-group: 30;
  -moz-box-ordinal-group: 30;
  -ms-flex-order: 30;
  -webkit-order: 30;
  order: 30;
}
#tech-misc {
  -webkit-box-ordinal-group: 40;
  -moz-box-ordinal-group: 40;
  -ms-flex-order: 40;
  -webkit-order: 40;
  order: 40;
}
#tech-apps {
  -webkit-box-ordinal-group: 50;
  -moz-box-ordinal-group: 50;
  -ms-flex-order: 50;
  -webkit-order: 50;
  order: 50;
}
/**
  * A bullet list of job descriptions for each Position.
@extends
: .Ulist
@tags
: #typography
: #list
: #indent
: #padding
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.res-PosDetail {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
  padding-left: 0.5in;
  list-style-type: square;
  padding-left: 0.25in;
}
:not(h1):not(.H) + .res-PosDetail {
  margin-top: 24px;
  margin-top: 1.5rem;
}
/**
  * date & location of job
@author
: Chris Harvey
@updated
: 2014-07-26
  */
.res-Spacetime {
  float: right;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: #0e0900;
}
.res-Skill:first-of-type,
.res-Footer {
  padding-top: 8.78521826px;
  margin-top: 14.21478174px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3d6166;
}
.js-res-Footer > .Pagecount {
  text-align: right;
}
a {
  font-style: inherit !important;
}
@media screen {
  .res-Header {
    text-align: center;
  }
  .res-Postal {
    font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  }
  .res-SkillTitle {
    width: 14.58980338%;
    margin-left: 3.44418537%;
    margin-right: 5.572809%;
    text-align: right;
    position: absolute;
    left: 0;
  }
  .res-Spacetime {
    font-family: 'Optima', 'Candara', 'Helvetica', sans-serif;
  }
  .js-res-Footer {
    display: none;
  }
}
@media print {
  body {
    width: 768px;
    font-size: inherit;
    font-family: 'Times', 'Times New Roman', serif;
    line-height: inherit;
  }
  main {
    margin-bottom: 0;
  }
  .res-Name,
  .res-SkillTitle,
  .res-JobTitle,
  .res-PosTitle,
  .res-Deg,
  .res-Inst {
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-align: inherit;
    color: inherit;
  }
  .res-Name,
  .res-SkillTitle,
  .res-JobTitle {
    font-weight: bold;
  }
  .res-Name,
  .res-SkillTitle {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .res-SkillTitle {
    font-variant: small-caps;
  }
  .res-PosTitle {
    font-style: italic;
  }
  .res-Inst {
    font-style: italic;
  }
  #tech-skills .res-PosDetail {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
  }
  #prof-dev {
    margin-top: 48px;
  }
}
