// out: resume.css
@import (reference) url('../core/styles/all.less');

/*---------------*\
    resume.less
\*---------------*/

//Table of Contents
//- SECTIONS
//- HEADINGS


.Ulist {padding-left: (@listindent / 2);}


//+++++++++//
/*@SECTIONS*/
//+++++++++//
/**
  * The Header contains my name and contact information.
  */
.res-Header {
	.res-Postal {
		br {display: none;}
	}
}
.res-Skill,
.res-Job {
	.vru-top(1);
}
/**
  * A Skill is a top-level section, e.g. Teaching Experience.
  * The name of the Skill is a `.res-SkillTitle`.
  */
.res-Skill {}
/**
  * A Job is an item in a Skill. It has an organization name and location.
  * The name of the Job is a `.res-JobTitle`.
  */
.res-Job {}
/**
  * A Pos(ition) is an item in a Job. Usually, each Job will only have one position, but there
  * could be multiple positions.
  * The name of the Position is a `.res-PosTitle`.
  * There may be a list of descriptors, which is called a `.res-PosDetail`.
  */
.res-Pos {}
//++++ @end SECTIONS ++++//


//+++++++++//
/*@HEADINGS*/
//+++++++++//
.res-Name,
.res-SkillTitle,
.res-JobTitle,
.res-PosTitle,
.res-Deg,
.res-Inst {
	.H;
	letter-spacing: normal;
}
/**
  * My name at the top of the resume.
@extends
: .H.Alp
@tags
: #heading
@author
: Chris Harvey
@updated
: 2014-07-26
*/
.res-Name {
	.H.Alp;
}
/**
  * The title of each skillgroup, e.g. "Teaching Experience"
@extends
: .H.Bet
@mixesin
: .fontsize-scale()
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-07-26
  */
.res-SkillTitle {
	.H.Bet;
	.fontsize-block(1.5);
	.border-vert-undo(); // undo .border-vert-one() in .H.Bet
}
.res-JobTitle {
	.H.Gam;
}
.res-PosTitle {
	.H.Del;
}
.res-Deg {
	.H.Eps;
}
.res-Inst {
	.H.Zet;
}
.res-SkillTitle,
.res-JobTitle,
.res-PosTitle,
.res-Deg,
.res-Inst {
	.vru-top(   0);
	.vru-bottom(0);
}
.res-JobTitle,
.res-PosTitle,
.res-Deg,
.res-Inst {
	font-size: inherit;
	line-height: inherit;
}
//++++ @end HEADINGS ++++//

#tech-skills {
	.res-Job {
		box-sizing: border-box;
		// width: 50%;
		padding: 0 5px;
	}
}
.tech-skills-body { // element created in JS
	.flexbox();
	.flex-direction(column);
	.flex-wrap(wrap);
}
#tech-gen  {.flex-order(00);}
#tech-html {.flex-order(10);}
#tech-css  {.flex-order(01);}
#tech-git  {.flex-order(30);}
#tech-misc {.flex-order(40);}
#tech-apps {.flex-order(50);}


/**
  * A bullet list of job descriptions for each Position.
@extends
: .Ulist
@tags
: #typography
: #list
: #indent
: #padding
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.res-PosDetail {
	.Ulist;
}

/**
  * date & location of job
@author
: Chris Harvey
@updated
: 2014-07-26
  */
.res-Spacetime {
	float: right;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	color: @color_base_txt;
}

.res-Skill:first-of-type,
.res-Footer {
	.vru-top-phi(1px; solid; @color_h_minor);
}

.js-res-Footer > .Pagecount {text-align: right;}

a {font-style: inherit !important;}

@media screen {
	.res-Header {
		text-align: center;
	}
	.res-Postal {
		font-family: @fontfam_intro;
	}
	.res-SkillTitle {
		width: @golden4;
		margin-left: @golden7;
		margin-right: @golden6;
		text-align: right;
		position: absolute;
		left: 0;
	}
	.res-Spacetime {
		font-family: @fontfam_base;
	}
	.js-res-Footer {
		display: none;
	}
	#tech-gen,
	#tech-html {margin-top: 0;}
}
@media print {
	body {
		width: 768px; // 8in
		font-size: inherit;
		font-family: @fontfam_math;
		line-height: inherit;
	}
	main {
		// .flexbox();
		// .flex-direction(column);
		margin-bottom: 0;
	}
	// .res-Job {
	// 	.vru-top(0.5);
	// }

	.res-Name,
	.res-SkillTitle,
	.res-JobTitle,
	.res-PosTitle,
	.res-Deg,
	.res-Inst {
		font-weight: inherit;
		font-style: inherit;
		font-variant: inherit;
		font-family: inherit;
		text-align: inherit;
		color: inherit;
	}
	.res-Name,
	.res-SkillTitle,
	.res-JobTitle {
		font-weight: bold;
	}
	.res-Name,
	.res-SkillTitle {
		.fontsize-block-lrg;
	}
	.res-Name {}
	.res-SkillTitle {
		font-variant: small-caps;
	}
	.res-JobTitle {}
	.res-PosTitle {
		font-style: italic;
	}
	.res-Deg {}
	.res-Inst {
		font-style: italic;
	}

	// .res-Header  {.flex-order(00);}
	// #objective   {.flex-order(10);}
	// #tech-skills {.flex-order(20);}
	// #teach-exp   {.flex-order(30);}
	// #work-exp    {.flex-order(40);}
	// #edu         {.flex-order(50);}
	// #prof-dev    {.flex-order(60);}
	// #awards      {.flex-order(70);}
	// #athletic    {.flex-order(80);}
	// .res-Footer  {.flex-order(90);}

	#tech-skills .res-PosDetail {
		.fontsize-block-sml();
	}
	#prof-dev {margin-top: 48px;}
}
