// out: resume.css
@import (reference) url('../core/styles/all.less');

/*###############*\
    resume.less
\*###############*/

//Table of Contents
//- SECTIONS
//- HEADINGS
//  - Overriding
//- OBJECTS



//+++++++++//
/*@SECTIONS*/
//+++++++++//
/**
  * The Header contains my name and contact information.
  */
.res-Header {
}
/**
  * My name at the top of the resume.
@implements
: .H--Alp
@tags
: #heading
@author
: Chris Harvey
@updated
: 2014-10-19
*/
.res-Name {
  .H--Alp;
  letter-spacing: inherit;
}
/**
  * My address at the top of the resume.
@implements
: .Ilist.Square
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-Postal {
  .Ilist;
  .Ilist.Square;
  br {display: none;}
}

/**
  * A Skill is a top-level section, e.g. Teaching Experience.
@implements
: .vru-top()
: .vru-top-phi()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-Skill {
  .vru-top(1);
  &:first-of-type {
    .vru-top-phi(1px; solid; @color_h_minor);
  }
}
/**
  * The title of each skillgroup, e.g. "Teaching Experience"
@implements
: .H--Bet
: .vru-top()
: .vru-bottom()
: .fontsize-block()
: .border-vert-undo()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-SkillTitle {
  .H--Bet;
  .vru-top(   0);
  .vru-bottom(0);
  .border-vert-undo();
  .fontsize-block(1.5);
  letter-spacing: inherit;
}

/**
  * A Org is an item in a Skill. It has an organization name and location.
  * The name of the Org is a `.res-OrgTitle`.
@implements
: .vru-top()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-Org {
  .vru-top(1);
  /**
    * Similar to an Org, an Institution (`Inst`) is an educational organization (college/university)
    * with a name and location. It is also in a Skill, namely, the one corresponding to Education.
    * The name of the Inst is a `.res-InstTitle`.
    @extends
    : .res-Org
    @author
    : Chris Harvey
    @updated
    : 2015-01-08
    */
  &.Inst {
    display: flex;
    flex-direction: column;
  }
}
/**
  * The title of an organization
@implements
: .H--Gam
: .vru-top()
: .vru-bottom()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-OrgTitle {
  .H--Gam;
  .vru-top(   0);
  .vru-bottom(0);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /**
    * The title of an institution
  @extends
  : .res-OrgTitle
  @implements
  : .H--Zet
  @author
  : Chris Harvey
  @updated
  : 2015-01-08
    */
  &.InstTitle {
    .res-JobTitle;
    order: 1;
    font-variant: inherit;
  }
}

/**
  * A Job is an item in a Org. Usually, each Org will only have one Job, but there
  * could be multiple Job.
  * The name of the Job is a `.res-JobTitle`.
  * There may be a list of descriptors, which is called a `.res-JobDetail`.
@author
: Chris Harvey
@updated
: 2015-01-08
  */
// .res-Job {
// }
/**
  * The title of a job, e.g. a position held at an organization
@implements
: .H--Del
: .vru-top()
: .vru-bottom()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-JobTitle {
  .H--Del;
  .vru-top(   0);
  .vru-bottom(0);
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
/**
  * A bullet list of job descriptions for each Job.
@implements
: .Ulist
@tags
: #typography
: #list
: #indent
: #padding
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.res-JobDetail {
  .Ulist;
  padding-left: (@listindent / 2);
}

.res-Footer {
  .vru-top-phi(1px; solid; @color_h_minor);
  .fontsize-block-sml();
}
//++++ @end SECTIONS ++++//


//++++++++//
/*@OBJECTS*/
//++++++++//
/**
  * date & location of job
@author
: Chris Harvey
@updated
: 2014-07-26
  */
.res-Spacetime {
  // float: right;
  // font-weight: normal;
  // font-variant: normal;
  // font-style: normal;
  // color: @color_base_txt;
}

a[rel~="external"] {font-style: inherit;}
i[lang] {font-family: inherit;}
//++++ @end OBJECTS ++++//


@media screen {
  @font_text: @fontfam_prose;
  html {
    font-family: @font_text;
  }
  .res-Header {
    text-align: center;
  }
  .res-Postal {
    font-family: @fontfam_heading;
  }
  .res-SkillTitle {
    width: @golden4;
    margin-left: @golden7;
    margin-right: @golden6;
    text-align: right;
    position: absolute;
    left: 0;
  }
  .res-Spacetime {
    // font-family: @font_text;
  }
}
@media print {
  body {
    width: 768px; // 8in
    font-size: inherit;
    font-family: 'Times','Times New Roman',serif;
    line-height: inherit;
  }

  .res-Name,
  .res-SkillTitle,
  .res-OrgTitle,
  .res-OrgTitle.InstTitle,
  .res-JobTitle {
    // reset headings for print
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    color: inherit;
  }
  .res-Name {
    .fontsize-block-lrg;
    font-weight: bold;
  }
  .res-SkillTitle {
    .fontsize-block-lrg;
    font-weight: bold;
    font-variant: small-caps;
  }
  .res-OrgTitle {
    font-weight: bold;
    &.InstTitle {
      font-style: italic;
    }
  }
  .res-JobTitle {
    font-style: italic;
  }

  .pagebreak {margin-top: 120px;}
}
