/*###############*\
    resume.less
\*###############*/
/*++++++++++++++*\
    #VARIABLES
\*++++++++++++++*/
/*+++++++++++++++*\
    #BASE/RESET
\*+++++++++++++++*/
@media screen {
  body {
    position: relative;
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  }
}
@media print {
  body {
    width: 768px;
    font-family: 'Marion', 'Times', 'Times New Roman', serif;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
ul {
  padding-left: 0.25in;
}
@media print {
  a {
    text-decoration: none;
  }
}
i[lang] {
  font-family: inherit;
}
cite {
  font-style: inherit;
}
/*+++++++++++++++++++++++*\
    #STRUCTURAL OBJECTS
\*+++++++++++++++++++++++*/
.res-Header {
  margin-bottom: 1.5rem;
}
@media screen {
  .res-Header {
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;
  }
  .res-Header::after {
    content: '';
    display: block;
    border-bottom-width: 1px;
    margin-top: -1px;
    border-bottom-style: solid;
    border-bottom-color: #120099;
    position: relative;
    top: 0.75rem;
  }
}
.res-Header__Name {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen {
  .res-Skill {
    border-left: 1px dotted rgba(61, 97, 102, 0.5);
    padding-left: 0.5rem;
    margin-left: -0.5rem;
  }
}
@media screen {
  .res-Skill__Title {
    padding-right: 1rem;
    text-align: right;
  }
}
@media print {
  .res-Skill__Title {
    margin-bottom: 1.5rem;
  }
}
.res-Org {
  margin-bottom: 1.5rem;
}
@media print {
  .res-Org--Obj {
    margin-top: -3rem;
  }
}
.res-Org--Inst {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.res-Org--Inst__Name {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;
  margin-top: -1.5rem;
}
@media print {
  .res-Org__Header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}
.res-Org__Header__Titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
@media print {
  .res-Org__Header__Titles {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1;
  }
}
.res-Org__Header__Titles__Name {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;
}
.res-Org__Header__Titles__JobTitle {
  padding-right: 1rem;
}
@media screen {
  .res-Org__Header__Spacetime {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}
@media print {
  .res-Org__Header__Spacetime {
    width: 23.60679775%;
  }
}
@media screen {
  .res-Org__Header__Spacetime__Dates {
    padding-right: 0.5rem;
  }
}
@media screen {
  .res-Org__Header__Spacetime__Place {
    quotes: '(' ')';
  }
  .res-Org__Header__Spacetime__Place::before {
    content: open-quote;
  }
  .res-Org__Header__Spacetime__Place::after {
    content: close-quote;
  }
}
@media print {
  .res-Org__Detail {
    margin-top: -1.5rem;
  }
}
@media print {
  .res-HasNoDate {
    margin-left: 23.60679775%;
  }
}
@media print {
  .res-ListAchv {
    margin-top: -1.5rem;
  }
}
.res-ListAchv__Award {
  margin-top: 0;
  font-weight: inherit;
}
@media screen {
  .res-ListAchv__Award {
    display: inline;
  }
  .res-ListAchv__Award::before {
    content: '';
    display: block;
  }
}
@media print {
  .res-ListAchv__Award {
    margin-left: 23.60679775%;
  }
}
@media screen {
  .res-ListAchv__Date {
    display: inline;
    quotes: '(' ')';
  }
  .res-ListAchv__Date::before {
    content: open-quote;
  }
  .res-ListAchv__Date::after {
    content: close-quote;
  }
}
@media print {
  .res-ListAchv__Date {
    width: 23.60679775%;
    margin-top: -1.5rem;
  }
}
.res-Footer {
  font-size: 0.75rem;
  line-height: 2;
}
.res-Footer::before {
  content: '';
  display: block;
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: solid;
  border-top-color: #3d6166;
  position: relative;
  bottom: 0.75rem;
}
/*++++++++++++++++++++++++*\
    #COSMETIC COMPONENTS
\*++++++++++++++++++++++++*/
.res-H1,
.res-H2,
.res-H3,
.res-H4,
.res-H5,
.res-H6 {
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
}
@media screen {
  .res-H1,
  .res-H2,
  .res-H3,
  .res-H4,
  .res-H5,
  .res-H6 {
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;
  }
}
@media print {
  .res-H1,
  .res-H2,
  .res-H3,
  .res-H4,
  .res-H5,
  .res-H6 {
    font-family: inherit;
    color: inherit;
  }
}
.res-H1,
.res-H2 {
  font-weight: bold;
}
@media print {
  .res-H1,
  .res-H2 {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
.res-H3,
.res-H4 {
  font-size: inherit;
  line-height: inherit;
}
.res-H1 {
  text-align: inherit;
}
@media screen {
  .res-H1 {
    font-variant: small-caps;
  }
}
@media print {
  .res-H1 {
    text-transform: uppercase;
  }
}
@media screen {
  .res-H2 {
    font-size: 1.5rem;
    line-height: 1;
    border-bottom-width: 0;
    margin-top: 0;
  }
}
@media print {
  .res-H2 {
    font-variant: small-caps;
  }
}
.res-H3 {
  font-weight: bold;
}
@media screen {
  .res-H3 {
    font-variant: small-caps;
  }
}
.res-H4 {
  font-style: italic;
}
a.res-Camo {
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
@media screen {
  .c-Label--resTech {
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
@media print {
  .c-Label--resTech:not(:last-child)::after {
    content: ',\0020';
  }
}
/*+++++++++++*\
    #TRUMPS
\*+++++++++++*/
