// out: resume.css
@import (reference) url('../core/styles/all.less');

/*###############*\
    resume.less
\*###############*/

//Table of Contents
//- SECTIONS
//- HEADINGS
//  - Overriding
//- OBJECTS



@datewidth: (768px * @phi3); // 8in * phi3
//+++++++++//
/*@SECTIONS*/
//+++++++++//
/**
  * The Header contains my name and contact information.
  */
.res-Header {
}

/**
  * My name at the top of the resume.
@implements
: .H--Alp
@tags
: #heading
@author
: Chris Harvey
@updated
: 2014-10-19
*/
.res-Name {
  .H--Alp;
  letter-spacing: inherit;
}

/**
  * My address at the top of the resume.
@implements
: .Ilist.Square
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-Postal {
  .Ilist;
  .Ilist.Square;
  br {display: none;}
}

/**
  * A Skill is a top-level section, e.g. Teaching Experience.
@implements
: .vru-top()
: .vru-top-phi()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-Skill {
  .vru-top(1);
}

/**
  * The title of each skillgroup, e.g. "Teaching Experience"
@implements
: .H--Bet
: .vru-top()
: .vru-bottom()
: .fontsize-block()
: .border-vert-undo()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-SkillTitle {
  .H--Bet;
  .vru-top(   0);
  .vru-bottom(0);
  letter-spacing: inherit;
}

/**
  * A Org is an item in a Skill. It has an organization name and location.
  * The name of the Org is a `.res-OrgTitle`.
@implements
: .vru-top()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-Org {
  .vru-top(1);
  /**
    * Similar to an Org, an Institution (`Inst`) is an educational organization (college/university)
    * with a name and location. It is also in a Skill, namely, the one corresponding to Education.
    * The name of the Inst is a `.res-InstTitle`.
    @extends
    : .res-Org
    @author
    : Chris Harvey
    @updated
    : 2015-01-08
    */
  &.Inst {
    display: flex;
    flex-direction: column;
  }
}

/**
  * contains `.res-Titles` and `.res-Spacetime`
@author
: Chris Harvey
@updated
: 2015-01-15
  */
.res-Org header {
}

/**
  * contains .res-OrgTitle and .res-JobTitle
@author
: Chris Harvey
@updated
: 2015-01-15
  */
.res-Titles {
  display: flex;
}

/**
  * contains .res-Dates and .res-Place
@author
: Chris Harvey
@updated
: 2015-01-15
  */
.res-Spacetime {
}

/**
  * The title of an organization
@implements
: .H--Gam
: .vru-top()
: .vru-bottom()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-OrgTitle {
  .H--Del;
  .vru-top(   0);
  .vru-bottom(0);
  order: 1;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /**
    * The title of an institution
  @extends
  : .res-OrgTitle
  @implements
  : .H--Zet
  @author
  : Chris Harvey
  @updated
  : 2015-01-08
    */
  &.InstTitle {
    margin-left: @datewidth;
    float: none;
  }
}

/**
  * The title of a job, e.g. a position held at an organization
@implements
: .H--Del
: .vru-top()
: .vru-bottom()
@author
: Chris Harvey
@updated
: 2015-01-08
  */
.res-JobTitle {
  .H--Gam;
  .vru-top(   0);
  .vru-bottom(0);
  padding-right: @spacer;
  // float: left;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

/**
  * dates worked at each organization
@author
: Chris Harvey
@updated
: 2015-01-15
  */
.res-Dates {
}

/**
  * the city or location of an organization
@author
: Chris Harvey
@updated
: 2015-01-15
  */
.res-Place {
}


/**
  * A bullet list of job descriptions for each job.
@implements
: .Ulist
@tags
: #typography
: #list
: #indent
: #padding
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.res-JobDetail {
  .Ulist;
  padding-left: (@listindent / 2);
}

.res-InlineDate {
  width: @datewidth;
  float: left;
}

.res-Footer {
  .vru-top-phi(1px; solid; @color_h_minor);
  .fontsize-block-sml();
}
//++++ @end SECTIONS ++++//


//++++++++//
/*@OBJECTS*/
//++++++++//
a[rel~="external"] {font-style: inherit;}
i[lang] {font-family: inherit;}
//++++ @end OBJECTS ++++//


//+++++++//
/*@TRUMPS*/
//+++++++//
//++++ @end TRUMPS ++++//


@media screen {
  @font_text: @fontfam_prose;
  html {
    font-family: @font_text;
  }
  .res-Header {
    text-align: center;
  }
  .res-Postal {
    font-family: @fontfam_heading;
  }
  .res-Skill:first-of-type {
    .vru-top-phi(1px; solid; @color_h_minor);
  }

  .res-Org header {
  }
  .res-JobDetail {
  }
  .res-Titles {

  }
  .res-Spacetime {
    display: flex;
  }
  .res-OrgTitle {
  }
  .res-JobTitle {
  }
  .res-Dates {
    padding-right: @en;
  }
  .res-Place {
    [itemprop="name"] {.parens();}
  }

  .res-SkillTitle {
    .border-vert-undo();
    .fontsize-block(1.5);
    width: @golden4;
    margin-left: @golden7;
    margin-right: @golden6;
    text-align: right;
    position: absolute;
    left: 0;
  }
  // SCREEN STYLE TRUMPS
}
@media print {
  body {
    width: 768px; // 8in
    font-size: inherit;
    font-family: 'Marion','Times','Times New Roman',serif;
    line-height: inherit;
  }

  .res-Org header {
    display: flex;
  }
  .res-JobDetail {
    margin-left: @datewidth;
  }
  .res-Titles {
    order: 1;
  }
  .res-Spacetime {
    width: @datewidth;
  }
  .res-OrgTitle {
  }
  .res-JobTitle {
  }
  .res-Dates {
  }
  .res-Place {
  }

  .res-JobDetail {
    margin-top: -@vru_px; // fallback
    margin-top: -@vru_rem;
  }

  .res-Name,
  .res-SkillTitle,
  .res-OrgTitle,
  .res-OrgTitle.InstTitle,
  .res-JobTitle {
    // reset headings for print
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    color: inherit;
  }
  .res-Name {
    .fontsize-block-lrg;
    font-weight: bold;
    text-align: inherit;
    text-transform: uppercase;
  }
  .res-SkillTitle {
    .fontsize-block-lrg;
    .border-vert-one(bottom; 1px; solid; #000);
    font-weight: bold;
    font-variant: small-caps;
  }
  .res-OrgTitle {
    font-style: italic;
    &.InstTitle {
      font-style: italic;
    }
  }
  .res-JobTitle {
    font-weight: bold;
  }

  .pagebreak {margin-top: 144px;}

  // PRINT STYLE TRUMPS
  #tech-misc {
    margin-left: @datewidth;
    margin-right: @spacer;
  }
  #VT {
    margin-top: 0;
  }
}
