doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Swimming &in; Chris Harvey
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/home.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      h1.c-FolioTitle #[span.c-FolioTitle__Cap S]wimming is my talent.
      p.c-Document.
        Since the age of seven, I&rsquo;ve began swimming and fell in love with the
        sport. I even started coaching when I was eighteen. Throughout my swimming career I&rsquo;ve
        attended many swim camps and regional and state competitions. I love coaching and making
        connections between coaching, psychology, and teaching.
      p.c-Document.
        My coaching philosophy highlights four priorities: Safety, Sportsmanship, Spread, and
        Success. Aside from swimmers&rsquo; safety, I support friendly competition within my team and
        among other teams. Development is also important during a single season, and I am proud of
        the many swimmers who have dropped time and gotten personal bests under my tutelage.
      //- p.c-Document.
      //-   One of the most frequent duties as a coach is to construct effective
      //-   workouts. A workout is an agenda of things to complete during one practice. My workouts always
      //-   include a warmup, a main set, and a warmdown. The main set of a workout can take many forms, but
      //-   I usually like to have an #[i entr&eacute;e] and then a few #[i side dishes]
      //-   to accompany it. Another form is to have a theme for the overall main set, broken up into
      //-   sections. For example, we may do the same type of thing for different strokes.
      section
        h2 External Links
        ul
          li
            a(rel="external" href="http://villaaquatic.com/Villaaquatic.com/Home_Page.html") Villa Aquatic
            p My hometown swim team
          li
            a(rel="external" href="http://www.swim.org.vt.edu/") Virginia Tech Swim Club
            p My collegiate club sport
          li
            a(rel="external" href="http://www.lakevale.org/dolphins/") Lakevale Estates
            p My old summer job
    nav.Bc
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li
          a.Crumb(rel="this" href="#") Swimming
          ul.Sib
            li: a.Crumb(rel="sibling" href="about.html") About Me
            li: a.Crumb(rel="sibling" href="math.html") Mathematics
            li: a.Crumb(rel="sibling" href="edu.html") Education
            li: a.Crumb(rel="sibling" href="music.html") Music
            li: a.Crumb(rel="sibling" href="web.html") Web
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
