
/*##################*\
    _grouping.less
\*##################*/


// TABLE OF CONTENTS
//
// # Grouping Content (Flow Content Model)
//
// - `hr` (self-closing tag)
// - `div`
//
// ## Paragraph-Like Content
//
// - `p`
// - `figure` (sectioning root)
// - `figcaption`
// - `blockquote` (sectioning root)
// - `pre`
//
// ## Lists
//
// - `ol`
// - `ul`
// - `li`
// - `dl`
// - `dt`
// - `dd`
//
// ## Tables
//
// - `table`
// - `caption`
// - `colgroup`
// - `col` (self-closing tag)
// - `tbody`
// - `thead`
// - `tfoot`
// - `tr`
// - `td`
// - `th`


//+++++++++++++++++//
/*@GROUPING CONTENT*/
//+++++++++++++++++//
hr {
  display: none;
}
p, ol, ul, dl, table {
  margin: 0 0 @default_vru;
}
//-----------------------//
/*@Paragraph-Like Content*/
//-----------------------//
figure, blockquote, pre {
  margin: 0 1rem @default_vru;
}
p {
}
figure {
}
figcaption {
}
blockquote {
}
pre {
}
//---- @end Paragraphic-Like Content ----//

//------//
/*@Lists*/
//------//
ol, ul {
  padding: 0 0 0 4rem;
}
ol {
}
ul {
}
dl {
}
li {
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
// dd! + dt { // uncomment this when `!` selector is supported in CSS4
//   margin-bottom: @devault_vru;
// }
dd + dt {
  padding-top: @default_vru; // only because can’t add margin-bottom to last `dd` in a group
}
//---- @end Lists ----//

//-------//
/*@Tables*/
//-------//
table {
}
caption {
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
th {
  text-align: center; // not explicitly defined by browser default
}
td {
}
//---- @end Tables ----//
//++++ @end GROUPING CONTENT ++++//
