
/*##################*\
    _settings.less
\*##################*/


// Settings for the "Default" stylesheet located at `./default.less`.


// # Setting up vertical rhythm

@default_font_size: 100%; // defined by user agent
@default_line_height: 1.5;
@default_vru: (@default_line_height * 1rem);
