
/*##################*\
    _settings.less
\*##################*/


// Settings for the "Default" stylesheet located at `./default.less`.


// TABLE OF CONTENTS
//
// - Setting up vertical rhythm
// - `html`


@default_font_size: 100%; // defined by user agent
@default_line_height: 1.5;
@default_vru: (@default_line_height * 1rem);

html {
  font-size: @default_font_size;
  line-height: @default_line_height;
}
