
/*##################*\
    _sections.less
\*##################*/


//+++++++++//
/*@SETTINGS*/
//+++++++++//
// vertical rhythm
@default_font_size: 100%; // defined by user agent
@default_line_height: 1.5;
@default_vru: (@default_line_height * 1rem);
//++++ @end SETTINGS ++++//


//+++++++++//
/*@SECTIONS*/
//+++++++++//
html {
  font-size: @default_font_size;
  line-height: @default_line_height;
}
body {
  margin: 0 0 @default_vru;
}
section {
}
article {
}
aside {
}
nav {
}
main {
  margin: 0 1rem @default_vru;
}
header {
}
footer {
}

@font_size_h1: 32/16; // 2.000
@font_size_h2: 24/16; // 1.500
@font_size_h3: 20/16; // 1.250
@font_size_h4: 16/16; // 1.000
@font_size_h5: 12/16; // 0.750
@font_size_h6: 10/16; // 0.625

@line_height_h1: @default_line_height / @font_size_h1; // 0.75
@line_height_h2: @default_line_height / @font_size_h2; // 1.00
@line_height_h3: @default_line_height / @font_size_h3; // 1.20
@line_height_h4: @default_line_height / @font_size_h4; // 1.50
@line_height_h5: @default_line_height / @font_size_h5; // 2.00
@line_height_h6: @default_line_height / @font_size_h6; // 2.40

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 @default_vru;
}
h1 {
  font-size: (@font_size_h1 * 1rem);
  line-height: @line_height_h1;
  padding-top: @default_vru;
}
h2 {
  font-size: (@font_size_h2 * 1rem);
  line-height: @line_height_h2;
}
h3 {
  font-size: (@font_size_h3 * 1rem);
  line-height: @line_height_h3;
}
h4 {
  font-size: (@font_size_h4 * 1rem);
  line-height: @line_height_h4;
}
h5 {
  font-size: (@font_size_h5 * 1rem);
  line-height: @line_height_h5;
}
h6 {
  font-size: (@font_size_h6 * 1rem);
  line-height: @line_height_h6;
}

address {
  font-style: inherit;
}
//++++ @end SECTIONS ++++//
