---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Web Site Exploration</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A short summary of three instructional tools to be used in the classroom."/>
<link rel="stylesheet" href="../higher-ed.css"/>
<style>
#VD,
#PM,
#KWL {
  background-color: transparent;
  background-repeat: no-repeat;
  background-attahchment: scroll;
  background-position: center center;
}
#VD  {background-image: url('images/VennD.png');}
#PM  {background-image: url('images/PersuasionM.png');}
#KWL {background-image: url('images/KWLchart.png');}

#PM img {float: right; width: 60%;}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">EDCI 5264</div>
  <div class="courseinfo-name">Content Area Reading</div>
  <div class="courseinfo-term">Spring, 2010</div>
  <div class="courseinfo-prof">Instructor: Rhonda Phillips</div>
</header>
<main>
<header>
  <h1>Web Site Exploration</h1>
  <p class="timestamp">Submitted <time datetime="2010-04-01">April 1, 2010</time>.</p>
  <p>The <a href="http://www.readwritethink.org"><i>Read Write Think</i></a> Web site is sponsored by the <a href="http://www.ncte.org/">National Council of Teachers of English</a> and the <a href="http://www.reading.org/">International Reading Association</a>. The <a href="http://www.teachersfirst.com"><i>TeachersFirst</i></a> Web site is sponsored by <a href="http://www.sourceforlearning.org/">The Source for Learning</a>. On these two Web sites is a wealth of information related to content area literacy. There are student interactivities, lesson plans, professional development, units, and links to other Web sites and resources.</p>
  <p>The assignment was to pick three resources (<i>Gems</i>) that I would like to carry into my own classroom. For each Gem, I provide the Web address from which I retrieved it, a brief description, which grade level and content area it is most applicable too, and any adjustments, if any, I would envision. For my Gems, I chose the <a class="sp" href="#VD">Venn Diagram</a>, <a class="sp" href="#PM">Persuasion Map</a>, and <a class="sp" href="#KWL">KWL Chart</a>.</p>
</header>
<section id="VD">
  <h2>Venn Diagram</h2>
  <ol>
    <li>My first gem is a combination of the <a href="http://www.readwritethink.org/classroom-resources/printouts/venn-diagram-30196.html">Venn diagram</a> and the <a href="http://www.readwritethink.org/classroom-resources/printouts/venn-diagram-rubric-30202.html">corresponding rubric</a> for a comparison.</li>
    <li>The Venn diagram is a typical two-circle diagram that compares two items or concepts. Each circle corresponds to a concept and statements within the circles describe attributes of those concepts. The section where the circles overlap contains attributes that both concepts have in common. The rubric is an assessment tool that provides feedback to the student on their Venn diagram. The rubric grades on three dimensions: <b>text support</b>, <b>placement of statements</b>, and <b>number of statements</b>. Each dimension is graded on a scale from <b>not in evidence</b> to <b>progressing</b> to <b>strong grasp</b>.</li>
    <li>These tools in tandem should be used for secondary school learners. Younger children's analytical thinking skills aren't developed strongly enough to make accurate comparisons among abstract concepts. There is no limit to the content in which these tools can be used. All content areas should engage students in analytical and critical thinking, and students should be able to compare and contrast ideas in any content area.</li>
    <li>Depending on the mathematical content I teach, I could use this tool for specific examples of objects, such as types of geometrical shapes or graphs. However, this tool could also be useful for methods of approaching a problem. For example, if there are two different ways to solve a problem, I might have my students solve it both ways and then create a Venn diagram to compare/contrast the methods. After completing the diagram, I would use the rubric to grade the students' work. Comparing and contrasting ideas is an important process for students to learn. This is because it is the connections between ideas, not the ideas themselves, that define knowledge. In addition, making connections and organizing concepts better helps students comprehend and remember a topic more easily.</li>
    <li>There are a few small changes I would make to the Venn diagram and its rubric. In some cases, it is important to compare three or more objects. In that event, I would have the students create a Venn diagram with more than two circles. As for the rubric, I do not think it is as important to grade the quantity of statements on a student's diagram. I believe that quantity is not necessarily directly related to the level of comprehension. I would change the third dimension of the rubric in such a way that if the student provides adequate statements, he/she has obtained a <b>strong grasp</b> rating.</li>
  </ol>
</section>
<section id="PM">
  <h2>Persuasion Map</h2>
  <img src="images/PersuasionM.png" alt="Persuasion Map"/>
  <ol>
    <li>The <a href="http://www.readwritethink.org/classroom-resources/printouts/persuasion-a-30310.html">persuasion map and handout</a> are my second Gem.</li>
    <li>The persuasion map is a graphic organizer that helps students briefly organize and summarize their thoughts for writing a persuasive essay. There are four sections to the persuasion map: the <b>goal/thesis</b>, <b>main reasons</b>, <b>facts/examples</b>, and <b>conclusion</b>. Each section contains a number of boxes in which students will write their corresponding statements. The graphic organizer makes it easy for students to arrange their thoughts in a logical manner. The flow of the chart goes from left to right: starting with the main thesis of the essay, then general statements about why the thesis is true, then specific evidence supporting those reasons, and then summing up for a conclusion at the end.</li>
    <li>This graphic organizer would be appropriate for high school students only. The organizer is advanced enough that it will elicit logical and abstract thinking in students. It is not specific in any content area, but would be most suitable in a writing class. In addition, it would fit well in literature and the social sciences.</li>
    <li>I believe I could use this tool as a math teacher to get students to analyze different approaches to a problem. Building off of a Venn diagram, students would pick a preferred approach and write a short essay persuading the class why the approach they picked would be <i>better</i>. Then, using their essays, the students would form a two-sided debate. A writing assignment in a math class provides for variety and versatility from traditional lecture-based activities.</li>
    <li>I would not make any adjustments to the Persuasion Map.</li>
  </ol>
</section>
<section id="KWL">
  <h2>KWL Chart</h2>
  <ol>
    <li>The <a href="http://www.readwritethink.org/classroom-resources/printouts/chart-a-30226.html"><abbr title="Know-Want-Learn">KWL</abbr> chart</a> is my final Gem.</li>
    <li>The KWL chart helps students organize their knowledge into three columns: <b>what they know</b>, <b>what the want to know</b>, and <b>what they have learned</b>. It can also be a useful assessment tool for teachers who plan their lessons around content that students have yet to or want to learn.</li>
    <li>This chart can be used in any secondary school grade level. It is simple enough that there is not a minimum level required. It should not be used in elementary school grades because students at that age have a harder time identifying what they have learned and what they wish to learn. There is literally no specific content area that this chart belongs to.</li>
    <li>This chart is beneficial in two ways: it connects previous knowledge with newly-obtained knowledge (an important process in learning), and it can be used by teachers to construct lesson plans and assessments. It can also be a fun activity for students to write about what they want to know about a topic. In my personal experience, I have been in situations in which I find myself interested in topics that are not part of the standard curriculum. Teachers who have free time will be able to cover these optional topics, and students who are interested will benefit. In the content of mathematics, there is no limit to how this chart can be used. Potential topics range from general courses such as geometry, algebra, trigonometry, and calculus, to specific lessons including angle measurements, triangle congruencies, quadratic equations, and limit theorems.</li>
    <li>I would make two adjustments to this chart. First, I would switch columns #2 and #3, so that students will be able to write questions they have after writing what they know and have learned. The timeline makes more sense this way, so that the <b>want</b> column is added as an afterthought. Second, I would change <b>know</b> to <b>knew</b> so that the chart will be more self-explanatory. This way, students will be able to make a clearer distinction between what they knew and what they have learned. In summary, my tweaked version of this tool would be called a <b>Knew-Learn-Want chart</b> (KLW chart).</li>
  </ol>
</section>
</main>
</body>
</html>
