---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Response Journal</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A list of responses to ten selected questions from a literacy education textbook."/>
<link rel="stylesheet" href="../higher-ed.css"/>
<style>
.toc {
  line-height: 1.5em;
  list-style-type: decimal;
}
.toc li:before {content: none;}
/*.question {
  font-family: 'Century Gothic',sans-serif;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-top: 12pt;
}
.response {
  font-family: 'Century',serif;
  text-align: justify;
  display: block;
  margin: auto;
  margin-top: 6pt;
}*/
</style>
{% include all-js.html %}
<script>
$(document).ready(function() {
  for (i=0; i<10; i++) {
    /* Writes the nth question, according to the id numbers in the question list */
    $('#a'+i).prepend(newElemFilled('p','c-Lede',$('#q'+i+' a').html()));
  }
});
</script>
</head>

<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">EDCI 5264</div>
  <div class="courseinfo-name">Content Area Reading</div>
  <div class="courseinfo-term">Spring, 2010</div>
  <div class="courseinfo-prof">Instructor: Rhonda Phillips</div>
</header>
<main>
<header>
  <h1>Response Journal</h1>
  <p class="timestamp">Submitted <time datetime="2010-04-22">April 22, 2010</time>.</p>
  <nav>
    <h2>Table of Contents</h2>
    <ol class="c-ListAction toc">
      <!--
        This TOC is the list of questions I've answered. Each question is contained in an anchor (an <a> element) that directs the browser to the designated location on this page (via ID method). On that location, JavaScript gets the HTML code inside the anchor element in this list. Thus if I need to change the question, I can change it in this TOC and it will automatically change below.
      -->
      <li class="c-ListAction__Item" id="q0"><a href="#a0"><q>What do you as a reader do to make meaning and construct knowledge as you interact with a text?</q> (<cite class="APA-intext">p. 8</cite>)</a></li>
      <li class="c-ListAction__Item" id="q1"><a href="#a1"><q>Think-alouds, QARs, and reciprocal teaching are research-based instructional practices. Educators often describe a research-based instructional practice as a <i>best practice</i>. What does the term best practice mean to you?</q> (<cite class="APA-intext">p. 47</cite>)</a></li>
      <li class="c-ListAction__Item" id="q2"><a href="#a2"><q>Do you feel competent in making assessment part of teaching? What do you think is the best preparation you could receive?</q> (<cite class="APA-intext">p. 108</cite>)</a></li>
      <li class="c-ListAction__Item" id="q3"><a href="#a3"><q>How useful do you find the chapter overviews at the beginning of each chapter in preparing to study a chapter? Why? Why not?</q> (<cite class="APA-intext">p. 150</cite>)</a></li>
      <li class="c-ListAction__Item" id="q4"><a href="#a4"><q>Select a concept from your content area and develop a CD word map for it.</q> (<cite class="APA-intext">p. 163</cite>)</a></li>
      <li class="c-ListAction__Item" id="q5"><a href="#a5"><q>What kinds of note-taking procedures do you use?</q> (<cite class="APA-intext">p. 318</cite>)</a></li>
      <li class="c-ListAction__Item" id="q6"><a href="#a6"><q>What do you think is the difference between responding to statements at different levels of comprehension versus responding to questions?</q> (<cite class="APA-intext">p. 322</cite>)</a></li>
      <li class="c-ListAction__Item" id="q7"><a href="#a7"><q>Describe how you would use the jigsaw strategy in your content area.</q> (<cite class="APA-intext">p. 366</cite>)</a></li>
      <li class="c-ListAction__Item" id="q8"><a href="#a8"><q>In what ways, and for what purposes, do you use computers?</q> <cite class="APA-intext">(p. 419</cite>)</a></li>
      <li class="c-ListAction__Item" id="q9"><a href="#a9"><q>To what extent has a hypertext environment made a difference in your ability to read for information? On a personal level, do you prefer linear reading experiences or nonlinear? Elaborate.</q> (<cite class="APA-intext">p. 422</cite>)</a></li>
    </ol>
  </nav>
</header>
<ol class="answers">
  <li id="a0">
    <p>Most of the text that I read is non-fiction and/or textbooks. Textbooks composed in an article-like format that include many visual aids are useful because they give hints about what the text is saying. The easiest strategy I use is reading around the page. I look for main ideas in titles, subtitles, pictures, diagrams, and captions. Font changes such as typeface changes, changes in bold or italics, color changes, and changes in font size are also big clues about what's important. These visual aids help me gather a sense of the text before I <i>go in cold</i>.</p>
    <p>Another strategy I use is asking myself questions before starting reading. After I read around the page, interesting questions might pop up in my head, and these questions give me a direction and a purpose while reading.</p>
  </li>
  <li id="a1">
    <p>I think <i>best practice</i> means a strategy or technique known to increase effectiveness of teaching based on scholarly studies. Within the past 30 or so years, new ideas about education have risen, and this is due in part to the fact that students themselves are changing, and that society and culture are changing. Without delving too far, I can summarize that more and more studies are proving that traditional styles of teaching aren't as effective as, for example, discussion-based practices are. Best practices are centered on the students rather than the teachers, and they imply that learning is a two-way discussion and that information passes back and fourth between students and teachers rather than in one direction.</p>
  </li>
  <li id="a2">
    <p>As a math teacher, I think assessment in my classroom will be fairly more objective than that in an English or social studies classroom. Assessment is an important part of teaching in that it gives feedback to students. Even without the grading factor, students will find feedback helpful when trying to learn the material. It explicitly shows them in which areas they are having trouble, and in which areas they are excelling. Feedback shows students what their strengths and weaknesses are, especially for young students because they have a hard time identifying these aspects by themselves.</p>
    <p>Not only is feedback to students useful for them, but the assessments themselves serve as feedback for teachers. If the majority of the class fails a certain topic, the teacher knows that this is a topic that needs to be covered more strongly. Assessments are a reflection of the effectiveness of a teacher's teaching as well as a learner's learning.</p>
  </li>
  <li id="a3">
    <p>Analyzing the outline before a chapter really helps me understand the chapter outline and gives a great introduction on what material will be presented. It helps me organize into discrete categories what I will learn before reading, and what I have learned while studying. I like examining a chapter outline or table of contents because it gives me a sense of <i>getting my feet wet</i> before diving right into a text.</p>
    <p>It seems that many students need help finding a direction when they're reading and studying. Organization is an extremely useful skill when reviewing a lot of material. A large number of students may wonder how a given concept fits into the <i>bigger picture</i>. A table of contents or outline greatly helps students understand a text, in terms of both semantics and syntax (both meaning and technical language).</p>
  </li>
  <li id="a4">
    <figure><img src="images/CDwordmap.png" alt="CD word map"/></figure>
  </li>
  <li id="a5">
    <p>I take notes on stickies while reading because it helps me remember main ideas, major trends, and overall themes in a text (usually nonfiction). The stickies also serve as tabs that I can use to quickly find the page in a book. However, they are temporary for when I'm currently using the book. When I'm done with the class or project, I'll dispose of the stickies because I will have already written my notes in my notebook.</p>
    <p>If the book is mine to keep, I'll usually have a highlighter on hand to emphasize the main themes in the book. I don't like to highlight a lot because it loses its significance if there is too much. Imagine reading a page in a book where almost every other sentence is highlighted. I believe the purpose of a highlighted phrase or word is to stick out at the reader, and that ceases to happen if overused. I save the highlighter for important, higher-level ideas and connections.</p>
    <p>I use other note-taking procedures when taking notes in a spiral-bound notebook. While reading, I'll organize the text into an outline, similar to a detailed table of contents, and record that outline in my notebook. The outline contains not only titles, headings, and concept names, but also properties and details of the text. When I go back to study, I won't have to search through tons of text to find the ideas because they'll be in plain sight in my notes. Even in my notes I'll use emphasizing characteristics such as cursive for italics, asterisks for bold, underlined text, and uppercase text. These points are even more accessible and can be caught at first glance. When taking notes, I don't use complete sentences or proper punctuation. I keep my notes brief and limited to one concept per bullet point.</p>
    <p>A strategy I don't necessarily find useful is writing in the margins of a book. Personally, my writing in the margins is sloppy, inefficient, and possibly illegible. Any additional notes I need to make will go in my notebook for the class.</p>
  </li>
  <li id="a6">
    <p>Statements don't require students to produce answers to questions. In the three-level guides, they have to make decisions among alternatives. This is somewhat of a multiple-choice approach rather than a short answer approach. The guide only requires that students recognize the correct answer rather than retreive it. Statements rather than questions also invoke discussion and debate. Students are less likely to do this if they have to answer questions themselves.</p>
  </li>
  <li id="a7">
    <p>The Jigsaw Groups strategy would be useful in a math class because the hierarchy of topics is complex enough that there are plenty of ways to implement the strategy. Teachers could use the jigsaw groups for a diverse selection of subtopics encompassed by the entire course, or they could use a narrow selection of subtopics that pertain to one chapter. This strategy would be practical when covering different methods of carrying out a process, such as integration or differentiation techniques. It might also be handy for reviewing different theorems on a subject like number theory. I would use this strategy as a review or summary near the end of a unit, so that the students will have had sufficient background knowledge on their subtopics. This would be an excellent activity to implement on the day before a major test.</p>
    <p>This is one of my favorite strategies and I have many ideas on how to modify it for different conditions. Using the resources available, the expert teams could devise a set of questions and answers for their jigsaw groups, rather than completing a set of assigned tasks. When they return to their groups, they would quiz their group mates based on the information they learned. It might be useful to coordinate subtopics with different colors. Post signs or posters in different areas of the classroom, each with a different color and subtopic. When organizing jigsaw groups and choosing experts, students could make name tags or note cards that are color-coded to their subtopic. Have the students color-code their notes after returning to their jigsaw groups. Another idea is to have an end-of-unit game show, such as <i>Jeopardy</i>, to recapitulate what the students have learned. The teacher can even use some of the students' own questions on the game, and color-code the categories.</p>
  </li>
  <li id="a8">
    <p>I live in an age where computers are virtually essential for success. In fact, most courses in higher education require the use of a computer. Furthermore, many higher education institutions require every student to own a computer. I use my computer to write classwork and complete assignments, study for exams, compose music, do research, look up information when I'm curious, and even use it as a calculator. Aside from schoolwork, I use my computer in tandem with the Internet to communicate with friends and peers, update myself on current events, develop web pages, edit photos, watch television programs, and listen to music, and, rarely, shop online. My friends have even used personal computers rather than boomboxes to provide musical entertainment at parties.</p>
    <p>Computers also serve as a means of storage. I have documents, pictures, music, videos, contact information, calendar information, and all of my schoolwork since 9th grade stored on my computer. I also have significant software on my computer that has been extremely useful throughout the years. Computers are extremely important in the personal lives of their users, both in terms of function and storage. Even one day without my computer would seem like a lifetime.</p>
  </li>
  <li id="a9">
    <p>Reading on a computer is very different from reading from a book, in many different ways. Not only is the physical object completely different, but the text is structured differently on the Internet than in a novel. In fact, I was reading <a href="http://www.useit.com/papers/webwriting/">a series of online articles</a> a few months ago about this very topic. The main thesis of this Web site was how readers look at a Web page, and based on this research, how authors can improve their own sites to increase popularity.</p>
    <p>Online readers tend to first glance at a Web page for a few seconds. In this short amount of time, they make crucial decisions on what they think the topic is about, whether they decide the information is useful, and whether to continue reading or find another page. Readers literally do <q>read around the page</q>. They tend to read the first few words or phrases in a paragraph before deciding whether to continue reading or move on to the next paragraph. Thus it has become so that there cannot be more than one idea per paragraph, and paragraphs can be as little as one to two sentences long on a Web page. This contrasts greatly to novels in which paragraphs are five to six sentences long. These are just a few aspects between the differences between Websites and books.</p>
    <p>Due to the fast retrieval of information and vast number of sources per topic on the Internet, readers tend to skim more than actually read. Rather than spending more time on one page, Web users know exactly what they are looking for and will move from page to page, trying to find the best source. In contrast, book readers read thoroughly, in a more linear fashion, whether the book is a novel, encyclopedia, or textbook. There is significantly fewer resources at hand, so book readers have to make do with the ones they have. To make an analogy, Web readers eat a small bite of hundreds of cakes while book readers have large pieces of only a few cakes.</p>
    <p>Personally, I like the former experience of reading. Finding exactly what I want is important, and I don't want to waste time reading a text that turns out to be something I wasn't expecting. This is why I find it difficult to find library books for sources of research. Since the textbooks are to be read in a linear manner, it's hard for me to locate the main ideas and theses in a section of text. While searching for the best resources in the stacks, I find myself sitting down for ten minutes at a time, analyzing a book and deciding whether I should use it. If upper-level books were written with more colors, font changes, layout variations, pictures and diagrams, <i lang="la"><abbr title="et cetera">etc.</abbr></i>, I would be a much faster researcher.</p>
  </li>
</ol>
<footer class="APA-referencelist">
  <h2 class="APA-heading-title">References</h2>
  <ul>
    <li itemprop="citation">Vacca, R. T. &amp; Vacca, J. A. L. (<time>2008</time>). <cite>Content area reading: Literacy and learning across the curriculum</cite> (9th ed.). Boston, MA: Pearson Education, Inc.</li>
  </ul>
</footer>
</main>
</body>
</html>
