---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 3 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Equations and Inequalities unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 3: Functions</h1>
	<p class="timestamp">Updated <time datetime="2013-11-24T23:18">Nov 24, 2013</time>.</p>
	<p class="prose">This unit explores relations between two variables and patterns of integers and rational numbers. Students will identify and derive functions of rational numbers using a variety of representations. They will also analyze and generalize sequences of integers and rational numbers.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="relations">
		<h1 class="h-gamma">Relations</h1>
		<ul>
			<li>Graph individual points in the Cartesian plane.
				<ul>
					<li>given an ordered pair, plot the point in the plane</li>
					<li>given a point in the plane, determine its <var>x</var>- and <var>y</var>-coordinates</li>
					<li>identify Quadrants in the Cartesian plane</li>
				</ul>
			</li>
			<li><span id="7.12" class="standard-id">7.12</span> Represent relations with tables, graphs, rules, and words.
				<ol>
					<li>Represent finite relations in set form (as a set of points), table form, and graph form.
						<ol>
							<li>convert between a set of points and a table</li>
							<li>convert between a set of points and a graph</li>
							<li>convert between a table and a graph</li>
						</ol>
					</li>
					<li>Distinguish whether a relation is a function, given in set form, table form, or graph form. Relations given in graph form may be infinite.</li>
					<li>Given a linear function in equation form (<span class="latex">\(y=\frac{p}{q}x+b\)</span> where <span class="latex">\(p\)</span>, <span class="latex">\(q\)</span>, and <span class="latex">\(b\)</span> are integers):
						<ol>
							<li>create a table of representative x-and-y pairs</li>
							<li>create a set of representative points</li>
							<li>sketch the graph on a point-by-point basis</li>
						</ol>
					</li>
					<li>Given a linear function in representative set form, representative table form, or graph form, write an equation that describes the function.</li>
					<li>Describe linear functions using verbal statements.</li>
				</ol>
			</li>
		</ul>
	</section>
	<section id="sequences">
		<h1 class="h-gamma">Sequences</h1>
		<ul>
			<li><span id="7.2" class="standard-id">7.2</span> Determine patterns in sequences of objects (numbers, shapes, etc.).
				<ul>
					<li>Patterns will be recursive, that is, the next term in the sequence will be determined by its predecessor. Recursive patterns will be represented by variable expressions.</li>
					<li>Given an arithmetic sequence, find the common difference.</li>
					<li>Given a geometric sequence, find the common ratio.</li>
					<li>Create a sequence given a variable expression describing the pattern.</li>
				</ul>
			</li>
		</ul>
	</section>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="vocablist">
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons &amp; Assessments</h1>
	<ol class="list-action">
		<li><a class="sp" href="https://docs.google.com/document/d/1atxKRD-pYUM3BTeqoDLiKW_Z2b_uBYawGO3AVjT4O40/edit?usp=sharing">Unit 3 Homework Log</a></li>
		<li><a>Lesson 3.1: The Coordinate Plane</a></li>
		<li><a>Lesson 3.2: Relations &amp; Functions</a></li>
		<li class="cat-quiz"><a>Quiz 3.2: Relations &amp; Functions</a></li>
		<li><a>Lesson 3.3: Graphing Linear Functions with Points</a></li>
		<li><a>Lesson 3.4: Writing Function Rules</a></li>
		<li class="cat-sbg">SBG 7.12 (Linear Functions)
			<ul>
				<li><a>Version 1</a></li>
			</ul>
		</li>
		<li><a>Lesson 3.5: Sequences</a></li>
		<li class="cat-sbg">SBG 7.2 (Sequences)
			<ul>
				<li><a>Version 1</a></li>
			</ul>
		</li>
		<li class="cat-test"><a href="test.html">Test 3</a></li>
	</ol>
</section>
</div>
</body>
</html>
