---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Activity 3.7 &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Activity 3.7: Modeling Sequences</h1>
	<dl>
		<dt>SOL</dt>
		<dd><span class="standard-id">7.2</span> The student will describe and represent arithmetic and geometric sequences, using variable expressions.</dd>
		<dt>Timeframe</dt>
		<dd>Week </dd>
		<dt>Time required</dt>
		<dd>1 day</dd>
		<dt>Lesson created</dt>
		<dd><time datetime="2011-12-01T18:05">Dec 1, 2011</time></dd>
		<dt>Lesson updated</dt>
		<dd><time datetime="2011-12-07T11:49">Dec 7, 2011</time></dd>
	</dl>
</header>
<section id="prep">
	<h1 class="h-beta">Preparation</h1>
	<section>
		<h1 class="h-gamma">Objectives</h1>
		<ul>
			<li>The student will be able to construct an sequence and generalize the sequence. They will be able to find the nth term as well.</li>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Essential Questions</h1>
		<ul>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Vocabulary</h1>
		<dl class="vocablist">
			<dt>sequence</dt>
			<dt>geometric sequence</dt>
			<dt>arithmetic sequence</dt>
		</dl>
	</section>
	<section>
		<h1 class="h-gamma">Key Manipulatives and Technology</h1>
		<ul>
			<li>objects of the students' choice</li>
		</ul>
	</section>
</section>
<section id="implement">
	<h1 class="h-beta">Lesson Sequence Components</h1>
	<section>
		<h1 class="h-gamma">Before Phase</h1>
		<p>Brief overview of what it means to be a sequence, basic examples of sequences, "Can you guess what the next number/shape/picture would be?"</p>
	</section>
	<section>
		<h1 class="h-gamma">During Phase</h1>
		<p>Pose a sequence and ask students to find the 100th number/shape/picture in the sequence.</p>
		<p>(at this point the lesson can go in a few directions...hence diversity shit)</p>
		<p>Work with finding the 100th term, pose less challenging sequence-index, or move on...</p>
		<p>Sequences in Nature/other cool real world shit</p>
	</section>
	<section>
		<h1 class="h-gamma">After Phase</h1>
		<section>
			<h1 class="h-delta">Project Description</h1>
		</section>
		<section>
			<h1 class="h-delta">Grading Rubric</h1>
			<section>
				<h1 class="h-epsilon">Construction</h1>
				<p>Creativity (20 pts.), Neatness (10 pts.), Appropriate use of a sequence (20 pts.)</p>
				<p>sub-total = (50 pts.)</p>
			</section>
			<section>
				<h1 class="h-epsilon">Presentation</h1>
				<p>Description of construction(5 pts.), why the construction follows the sequence given (10 pts.) , both students speak/share (5 pts.)</p>
				<p>sub-total = (20 pts.)</p>
			</section>
			<section>
				<h1 class="h-epsilon">Write-Up</h1>
				<p>Reflection (20 pts.) on Project Progression, Individual explanation of the sequence (10 pts.)</p>
				<p>sub-total =  (30 pts.)</p>
			</section>
			<p>Total = 100 pts = 1 Test grade</p>
		</section>
	</section>
</section>
<section>
	<h1 class="h-beta">Lesson Analysis Components</h1>
	<h2 class="h-gamma">Justification</h2>
	<p>This project allows students to take everyday objects and relate them to mathematics. They would have to be creative and would be able to incorporate their cultures and personal experiences to the project. Additionally, this project is equitable because students can use anything, instead of having to rely on technology that they might not have access to.</p>
</section>
</div>
</body>
</html>
