.Cell,
.Code.Block {
  padding: 12px 7.41640786px;
  padding: 0.75rem 7.41640786px;
}
.Map.Vert::after,
.CSS .Ruleset::after {
  content: ' ';
  clear: both;
  display: table;
}
.parens::before,
.quotes-double::before,
.quotes-single::before,
.guillemets::before,
.Qblock.Long .Src::before,
q::before,
.Th::before {
  content: open-quote;
}
.parens::after,
.quotes-double::after,
.quotes-single::after,
.guillemets::after,
.Qblock.Long .Src::after,
q::after,
.Th::after {
  content: close-quote;
}
.Qblock.Long .Src {
  quotes: '(' ')';
}
q {
  quotes: '\201c' '\201d';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.Gcol.P0 {
  width: 100%;
}
.Gcol.P1,
.Block.P1,
.Block.Sml {
  width: 61.80339887%;
}
.Gcol.P2,
.Block.P2 {
  width: 38.19660113%;
}
.Gcol.P3,
.Block.P3 {
  width: 23.60679775%;
}
.Gcol.P4,
.Block.P4 {
  width: 14.58980338%;
}
.Gcol.P3c,
.Block.P3c {
  width: 76.39320225%;
}
.Gcol.P4c,
.Block.P4c {
  width: 85.41019662%;
}
.width-f2o2,
.width-f3o3,
.width-f4o4,
.width-f5o5,
.Gcol.F1o1,
.Block.Ful,
.Table.Ful,
.Gcol.F2o2,
.Gcol.F3o3,
.Gcol.F4o4,
.Gcol.F5o5 {
  width: 100%;
}
.width-f2o4,
.Gcol.F1o2,
.Gcol.F2o4 {
  width: 50%;
}
.Gcol.F1o3 {
  width: 33.33333333%;
}
.Gcol.F2o3,
.Block.Med {
  width: 66.66666667%;
}
.Gcol.F1o4 {
  width: 25%;
}
.Gcol.F3o4,
.Block.Lrg {
  width: 75%;
}
.Gcol.F1o5 {
  width: 20%;
}
.Gcol.F2o5 {
  width: 40%;
}
.Gcol.F3o5 {
  width: 60%;
}
.Gcol.F4o5 {
  width: 80%;
}
.fontsize-lrg-inline,
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.Qblock.Long,
.Qblock.Long .Src,
.H.Gamma,
.H.Delta,
.H.Epsilon,
.H.Zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.fontsize-sml-inline,
.Capt,
.Qblock .Src,
.Table,
.Code.Block,
.Code,
.Dir,
sup,
sub,
code {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.fontsize-lrg-inline,
.fontsize-sml-inline,
.Code,
.Dir,
sup,
sub,
code {
  display: inline;
  line-height: 1.5;
}
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.List > .Item,
.Map > .Term,
.Map > .Desc,
.Cell,
.Code.Block {
  min-height: 24px;
  min-height: 1.5rem;
}
.Fig > :first-child,
.Qblock > :first-child,
.List > .Item > .List,
.Map > .Term > .Map,
.Map > .Desc > .Map,
.res-postal .List,
.res-job:first-of-type {
  margin-top: 0;
}
.P,
.Qblock.Long .Src,
.List,
.Map,
.Table,
.res-skillgroup,
.res-job {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.P.Intro {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  border-top: 0 solid #000000;
  margin-top: 14.83281573px;
}
.List > .Item > .List,
.List.O,
.List.U {
  padding-left: 48px;
}
code {
  display: inline;
  padding: 1px 2px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: nowrap;
}
/*---------------*\
    resume.less
\*---------------*/
/*@HEADINGS*/
.H.Beta,
.H.Gamma,
.H.Delta,
.H.Epsilon,
.H.Zeta {
  margin-top: 0;
  padding-bottom: 0;
}
.H.Alpha {
  font-size: 48px;
  font-size: 3rem;
  line-height: 0.5;
  line-height: 1;
}
.H.Beta {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}
.H.Beta {
  position: absolute;
  left: 0;
  width: 14.58980338%;
  margin-left: 3.44418537%;
  margin-right: 5.572809%;
  text-align: right;
}
.res-postal {
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  text-align: center;
}
/*@SKILLGROUPS*/
.res-skillgroup:first-of-type {
  padding-top: 8.78521826px;
  border-top: 1px solid #ff1500;
  margin-top: 14.21478174px;
}
.res-jobdetail {
  padding-left: 24px;
  list-style: square outside none;
}
.res-spacetime {
  float: right;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-size: inherit !important;
  font-family: 'Optima', 'Candara', 'Helvetica', sans-serif;
  letter-spacing: normal;
  color: #050300 !important;
}
.res-Footer {
  margin-top: 48px;
  margin-top: 3rem;
}
.res-Footer > .Pagecount {
  text-align: right;
}
@media screen {
  .res-footer {
    display: none;
  }
}
@media print {
  .res-body,
  .H.Gamma,
  .H.Delta,
  .H.Epsilon,
  .H.Zeta,
  .res-spacetime,
  .res-postal {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Times', 'Times New Roman', serif;
  }
  main {
    margin-bottom: 0;
  }
  .H.Alpha,
  .H.Beta,
  .H.Gamma,
  .H.Delta,
  .H.Epsilon,
  .H.Zeta {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-family: inherit;
    letter-spacing: normal;
    color: inherit;
  }
  .H.Alpha,
  .H.Beta {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.125;
  }
  .H.Beta {
    width: 100%;
    padding: 0;
    margin: 0;
    font-variant: small-caps;
    text-align: left;
    position: static;
  }
  .H.Gamma {
    font-weight: bold;
  }
  .H.Delta,
  .H.Epsilon {
    font-style: italic;
  }
}
