// main: ../../core/styles/all.less

/*---------------*\
	resume.less
\*---------------*/

//Table of Contents
//- HEADINGS
//- SKILLGROUPS


//+++++++++
//@HEADINGS
//+++++++++
.res-h-name,
.res-h-skilltitle,
.res-h-org,
.res-h-occup,
.res-degree,
.res-institution {
	// * undoes the margin and padding for headings
	margin-top: 0;
	padding-bottom: 0;
}
.res-h-name:extend(.h-alpha all) {}
.res-h-skilltitle:extend(.h-beta all) {}
.res-h-org:extend(.h-gamma all) {}
.res-h-occup:extend(.h-delta all) {}
.res-degree:extend(.h-epsilon all) {}
.res-institution:extend(.h-zeta all) {}	

.res-h-name {.vru--top();}
.res-degree,
.res-institution {text-indent: 0;}

.res-postal {
	&:extend(div.postal all);
	.spacing-right-phi();
}
//++++ @end HEADINGS ++++


//++++++++++++
//@SKILLGROUPS
//++++++++++++
.res-skillgroup,
.res-job {
	.vru--top();
}
.res-skillgroup:first-of-type {.vru-phi--top(1px; solid; @color-accent);}
.res-job:first-of-type {margin-top: 0;}
.res-h-skilltitle {
	&:extend(.gutter-major);
	text-align: right;
}
/* @end */

/* @group jobs (level 2 sections) */
.res-job:first-child {margin-top: 0;}

.res-h-org,
.res-h-occup,
.res-degree,
.res-institution {
	.fontsize(medium);
}
.res-spacetime {
	//* date & location of job
//	&:extend(span.hsub all); // does not extend span.hsub because that is a quasi-element
	// IS an hsub but I don't want it to LOOK like an hsub
	float: right;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: inherit !important; // change this later!
	font-family: @fontfam--base;
	letter-spacing: normal;
	color: @color-base-txt !important; // change this later!
}
.res-jobdetail {
	//* bullet list of job descriptions and awards
	padding: 0;
	margin: 0;
	list-style: square inside none;
}
//++++ @end SKILLGROUPS ++++



.res-tech-apps,
.res-tech-langs {
	&:extend(.res-jobdetail);
}
.res-tech-apps {
	&:extend(.list-float-2 all);
}
.res-tech-langs {
	&:extend(.list-line all);
//	li {width: 12.5%;}
}

.res-footer {
	&:extend(.line);
	margin-top: 48px; // 0.5in
}
.res-footer-name,
.res-footer-pagecount {&:extend(.cell-1o2);}
.res-footer-pagecount {text-align: right;}

@media screen {
	.res-footer {display: none;}
}

@media print {
	.res-body,
	.res-h-org,
	.res-h-occup,
	.res-degree,
	.res-institution,
	.res-spacetime,
	.res-postal {
		font-size: 12px;
		line-height: 1.5;
		font-family: @fontfam--math;
	}
	.res-main {margin-bottom: 0;}
	.res-h-name,
	.res-h-skilltitle,
	.res-h-org,
	.res-h-occup,
	.res-degree,
	.res-institution {
		font-style: inherit;
		font-variant: inherit;
		font-weight: inherit;
		font-family: inherit;
		letter-spacing: normal;
		color: inherit;
	}
	.res-h-name,
	.res-h-skilltitle {
		font-weight: bold;
		font-size: 16px;
		line-height: 1.125;
	}
	.res-h-skilltitle {
		font-variant: small-caps;
		text-align: left;
	}
	.res-h-org {
		font-weight: bold;
	}
	.res-h-occup,
	.res-institution {
		font-style: italic;
	}
}
