.Cell,
.Code.Block {
  padding: 12px 7.41640786px;
  padding: 0.75rem 7.41640786px;
}
.Map.Vert::after,
.CSS .Ruleset::after {
  content: ' ';
  clear: both;
  display: table;
}
.parens::before,
.quotes-double::before,
.quotes-single::before,
.guillemets::before,
.Qblock.Long .Src::before,
q::before,
.Th::before {
  content: open-quote;
}
.parens::after,
.quotes-double::after,
.quotes-single::after,
.guillemets::after,
.Qblock.Long .Src::after,
q::after,
.Th::after {
  content: close-quote;
}
.Qblock.Long .Src {
  quotes: '(' ')';
}
q {
  quotes: '\201c' '\201d';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.width-f1o1,
.Gcol.P0,
.width-f2o2,
.width-f3o3,
.width-f4o4,
.width-f5o5,
.width-f6o6,
.Gcol.F1o1,
.Block.Ful,
.Table.Ful,
.Gcol.F2o2,
.Gcol.F3o3,
.Gcol.F4o4,
.Gcol.F5o5,
.Gcol.F6o6 {
  width: 100%;
}
.Gcol.P1,
.Block.P1,
.Block.Sml {
  width: 61.80339887%;
}
.Gcol.P2,
.Block.P2 {
  width: 38.19660113%;
}
.Gcol.P3,
.Block.P3 {
  width: 23.60679775%;
}
.Gcol.P4,
.Block.P4 {
  width: 14.58980338%;
}
.Gcol.P3c,
.Block.P3c {
  width: 76.39320225%;
}
.Gcol.P4c,
.Block.P4c {
  width: 85.41019662%;
}
.width-f2o4,
.width-f3o6,
.Gcol.F1o2,
.Gcol.F2o4,
.Gcol.F3o6 {
  width: 50%;
}
.width-f2o6,
.Gcol.F1o3,
.Gcol.F2o6 {
  width: 33.33333333%;
}
.width-f4o6,
.Gcol.F2o3,
.Block.Med,
.Gcol.F4o6 {
  width: 66.66666667%;
}
.Gcol.F1o4 {
  width: 25%;
}
.Gcol.F3o4,
.Block.Lrg {
  width: 75%;
}
.Gcol.F1o5 {
  width: 20%;
}
.Gcol.F2o5 {
  width: 40%;
}
.Gcol.F3o5 {
  width: 60%;
}
.Gcol.F4o5 {
  width: 80%;
}
.Gcol.F1o6 {
  width: 16.66666667%;
}
.Gcol.F5o6 {
  width: 83.33333333%;
}
.fontsize-lrg-inline,
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.Qblock.Long,
.Qblock.Long .Src,
.H.Gamma.res-Jobtitle,
.H.Delta.res-Postitle,
.H.Epsilon.res-Deg,
.H.Zeta.res-Inst {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.fontsize-sml-inline,
.Capt,
.Qblock .Src,
.Table,
.Code.Block,
.Code,
.Dir,
sup,
sub,
code {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.fontsize-lrg-inline,
.fontsize-sml-inline,
.Code,
.Dir,
sup,
sub,
code {
  display: inline;
  line-height: 1.5;
}
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.List > .Item,
.Map > .Term,
.Map > .Desc,
.Cell,
.Code.Block {
  min-height: 24px;
  min-height: 1.5rem;
}
.Fig > :first-child,
.Qblock > :first-child,
.List > .Item > .List,
.Map > .Term > .Map,
.Map > .Desc > .Map,
.H.Beta.res-Skilltitle,
.H.Gamma.res-Jobtitle,
.H.Delta.res-Postitle,
.H.Epsilon.res-Deg,
.H.Zeta.res-Inst,
.res-Postal .List,
.List.U.res-Jobdetail {
  margin-top: 0;
}
.H.Beta.res-Skilltitle,
.H.Gamma.res-Jobtitle,
.H.Delta.res-Postitle,
.H.Epsilon.res-Deg,
.H.Zeta.res-Inst {
  padding-bottom: 0;
}
.P,
.Qblock.Long .Src,
.List,
.Map,
.Table,
.res-Skillgroup,
.res-Job {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.P.Intro {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  border-top: 0 solid #000000;
  margin-top: 14.83281573px;
}
.List > .Item > .List,
.List.O,
.List.U {
  padding-left: 48px;
}
code {
  display: inline;
  padding: 1px 2px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: nowrap;
}
/*---------------*\
    resume.less
\*---------------*/
/*@HEADINGS*/
/**
  * The title of each skillgroup, e.g. "Teaching Experience"
@extends
: .H.Beta
@mixesin
: .fontsize-scale()
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-06-01
*/
.H.Beta.res-Skilltitle {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  position: absolute;
  left: 0;
  width: 14.58980338%;
  margin-left: 3.44418537%;
  margin-right: 5.572809%;
  text-align: right;
}
.res-Postal {
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  text-align: center;
}
/*@SKILLGROUPS*/
.res-Skillgroup:first-of-type {
  padding-top: 8.78521826px;
  border-top: 1px solid #ff1500;
  margin-top: 14.21478174px;
}
/**
  * A bullet list of job descriptions for each job.
@extends
: .List.U
@implements
: .vru-top-0
@tags
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-06-01
*/
.List.U.res-Jobdetail {
  padding-left: 24px;
}
.res-Spacetime {
  float: right;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: 'Optima', 'Candara', 'Helvetica', sans-serif;
  letter-spacing: normal;
  color: #050300;
}
.res-Footer {
  margin-top: 48px;
  margin-top: 3rem;
}
.res-Footer > .Pagecount {
  text-align: right;
}
@media screen {
  .res-Footer {
    display: none;
  }
}
@media print {
  .res-Body {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Times', 'Times New Roman', serif;
  }
  .res-Main {
    margin-bottom: 0;
  }
  .res-Job {
    margin-top: 0;
    padding-bottom: 24px;
    padding-bottom: 1.5rem;
  }
  .H.Alpha.res-Name,
  .H.Beta.res-Skilltitle,
  .H.Gamma.res-Jobtitle,
  .H.Delta.res-Postitle,
  .H.Epsilon.res-Deg,
  .H.Zeta.res-Inst {
    font-family: inherit;
    letter-spacing: normal;
    color: inherit;
  }
  .H.Alpha.res-Name,
  .H.Beta.res-Skilltitle {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .H.Alpha.res-Name {
    font-variant: inherit;
  }
  .H.Beta.res-Skilltitle {
    width: 100%;
    padding: 0;
    margin: 0;
    font-variant: small-caps;
    text-align: left;
    position: static;
  }
  .H.Gamma.res-Jobtitle {
    font-variant: inherit;
    font-weight: bold;
  }
  .H.Delta.res-Postitle {
    font-weight: inherit;
  }
  .H.Epsilon.res-Deg {
    font-style: inherit;
  }
  .H.Zeta.res-Inst {
    font-variant: inherit;
  }
  .res-Spacetime,
  .res-Postal {
    font-family: inherit;
  }
  .List {
    margin-top: 0;
  }
}
