
@import (reference) url('../../core/styles/all.less');

/*---------------*\
    resume.less
\*---------------*/

//Table of Contents
//- HEADINGS
//- SKILLGROUPS


//+++++++++//
/*@HEADINGS*/
//+++++++++//
.H.Beta,
.H.Gamma,
.H.Delta,
.H.Epsilon,
.H.Zeta {
	.vru-top-0;
	.vru-bottom-0;
}
.H.Alpha {.fontsize-scale-double(3.0);}
.H.Beta  {.fontsize-scale(1.5);}
.H.Gamma,
.H.Delta,
.H.Epsilon,
.H.Zeta {
	&:extend(.fontsize-med);
}

.H.Beta {
	position: absolute;
	left: 0;
	width: @golden4;
	margin-left: @golden7;
	margin-right: @golden6;
	text-align: right;
}

.res-postal {
	// font-family: @fontfam_accent;
	text-align: center;
	.List {&:extend(.vru-top-0);}
}
//++++ @end HEADINGS ++++//


//++++++++++++//
/*@SKILLGROUPS*/
//++++++++++++//

.res-skillgroup {
	&:extend(.vru-top-1);
}
.res-skillgroup:first-of-type {.vru-top-phi(1px; solid; @color_accent);}


.res-job {
	&:extend(.vru-top-1);
	// &:first-child   {&:extend(.vru-top-0);}
	&:first-of-type {&:extend(.vru-top-0);}
}
.res-jobdetail {
	//* bullet list of job descriptions and awards
	padding-left: (@tab / 2);
	list-style: square outside none;
}





.res-spacetime {
	//* date & location of job
	float: right;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: inherit !important; // change this later!
	font-family: @fontfam_base;
	letter-spacing: normal;
	color: @color_base_txt !important; // change this later!
}
//++++ @end SKILLGROUPS ++++//




.res-Footer {
	.vru-top(2);
}
.res-Footer > .Pagecount {text-align: right;}

@media screen {
	.res-footer {display: none;}
}

@media print {
	.res-body,
	.H.Gamma,
	.H.Delta,
	.H.Epsilon,
	.H.Zeta,
	.res-spacetime,
	.res-postal {
		font-size: 12px;
		line-height: 1.5;
		font-family: @fontfam_math;
	}
	main {margin-bottom: 0;}
	.H.Alpha,
	.H.Beta,
	.H.Gamma,
	.H.Delta,
	.H.Epsilon,
	.H.Zeta {
		font-style: inherit;
		font-variant: inherit;
		font-weight: inherit;
		font-family: inherit;
		letter-spacing: normal;
		color: inherit;
	}
	.H.Alpha,
	.H.Beta {
		font-weight: bold;
		font-size: 16px;
		line-height: 1.125;
	}
	.H.Beta {
		width: 100%;
		padding: 0;
		margin: 0;
		font-variant: small-caps;
		text-align: left;
		position: static;
	}
	.H.Gamma {
		font-weight: bold;
	}
	.H.Delta,
	.H.Epsilon {
		font-style: italic;
	}
}
