/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    chharvey  |  home sub-project stylesheet
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*\
    home.less
\*================================*/
.c-IconButton--home {
  width: 64px;
  height: 64px;
  background-image: url('../images/icon-sprite-bw.png');
}
.c-IconButton--home:hover {
  background-image: url('../images/icon-sprite.png');
}
.c-IconButton--home--mapss {
  background-position: 0 0;
}
.c-IconButton--home--phone {
  background-position: -74px 0;
}
.c-IconButton--home--email {
  background-position: -148px 0;
}
.c-IconButton--home--linkd {
  background-position: -222px 0;
}
.c-IconButton--home--stack {
  background-position: -296px 0;
}
.c-IconButton--home--githb {
  background-position: -370px 0;
}
.c-IconButton--home--googl {
  background-position: -444px 0;
}
.c-IconButton--home--twitr {
  background-position: -518px 0;
}
.c-IconButton--home--npmjs {
  background-position: -592px 0;
}
.c-IconButton--home--apple {
  background-position: -666px 0;
}
.c-IconButton--home--chrom {
  background-position: -740px 0;
}
.c-IconButton--home--atomm {
  background-position: -814px 0;
}
.c-IconButton--home--gittt {
  background-position: -888px 0;
}
.c-IconButton--home--lessc {
  background-position: -962px 0;
}
.c-IconButton--home--jadee {
  background-position: -1036px 0;
}
.c-IconButton--home--npmjs {
  background-position: -1110px 0;
}
.c-IconButton--home--bower {
  background-position: -1184px 0;
}
.c-IconButton--rounded {
  border-radius: 16px;
}
.AcknowledgementsList {
  font-size: 0.75em;
  line-height: calc(var(--line-height) /  0.75);
  padding-left: 2rem;
}
.Capt-logo {
  padding-right: 96px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 72px auto;
}
.Capt-logo.Nctm {
  background-image: url('../images/logos-banners/logo-NCTM.png');
}
.Capt-logo.Vctm {
  background-image: url('../images/logos-banners/logo-VCTM.png');
}
.Capt-logo.Txin {
  background-image: url('../images/logos-banners/logo-TI.png');
}
.Capt-logo.Vdoe {
  background-image: url('../images/logos-banners/logo-VA-DOE.png');
}
.Capt-logo.Amsy {
  background-image: url('../images/logos-banners/logo-AMS.png');
}
.Capt-logo.Vmta {
  background-image: url('../images/logos-banners/logo-VMTA.png');
}
