/* CSS Document for all hand-held technology pages */
@import url('../../images/TechPort.css');
body,td,th {
  color: #DBDBDB;
  font-family: 'Times';
}
body {
  background-color: #353535;
}
a:link {
  color: #F3FFCC;
}
a:visited {
  color: #CCFFCC;
}
.big {
  font-size: 18px;
}
.calcbutton {
  border: thick outset #F3FFCC;
}
.calcbutton:active {
  border-style: inset;
}
.featureimg {
  text-align: center;
  margin-top: 20px;
}
figcaption {
  display: block;
}