---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A course overview of the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
#summary .list-inline li:not(:last-child):after {content: ',';}
#standards dt {font-weight: bold;}
#standards dd blockquote {margin-left: 0; font-size: inherit;}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Grade Seven Mathematics Curriculum</h1>
	<p class="timestamp">Updated <time datetime="2013-12-19T21:15">Dec 19, 2013</time>.</p>
	<p class="prose">Grade Seven Mathematics is the standard mathematics course taken by students in their second year of secondary education. Students who successfully complete the <a class="sp" href="http://doe.virginia.gov/testing/sol/standards_docs/mathematics/index.shtml">Grade Seven Standards of Learning</a> should prepare to study <a>Algebra I</a> in eighth grade. Students who need reinforcing of mathematical abilities before Algebra I should prepare to enroll in <a>Grade Eight Mathematics</a>.</p>
</header>
<section id="summary">
	<header>
		<h1 class="h-beta">Unit Summaries</h1>
		<p>This section describes the units in general and lists standards associated with each.</p>
	</header>
	<dl class="list-basic">
		<dt><h2 class="h-gamma"><a href="integers/index.html">Unit 1: Whole Numbers &amp; Integers</a></h2></dt>
		<dd><p class="prose">This unit focuses on performing, and identifying properties of, operations on whole numbers and integers. Students will simplify expressions involving the four basic operations on integers, and will identify the properties that define a mathematical field, and apply those properties in the context of the field of Real Numbers.</p></dd>
		<dd>
			<ul class="list-inline">
				<li class="standard-id">7.3</li>
				<li class="standard-id">7.13b</li>
				<li class="standard-id">7.16</li>
			</ul>
		</dd>
		<dt><h2 class="h-gamma"><a href="equations-inequalities/index.html">Unit 2: Equations &amp; Inequalities</a></h2></dt>
		<dd><p class="prose">This unit focuses on finding the solutions of linear equations and inequalities with one variable. Students will translate and distinguish between verbal and mathematical equations. Equations will be solved in at most two steps, and inequalities will be solved in at most one step. Students will set up and solve equations to determine the solutions of real-world problems given in verbal form. Students will also graph solution sets to one-variable inequalities on a number line.</p></dd>
		<dd>
			<ul class="list-inline">
				<li class="standard-id">7.13a</li>
				<li class="standard-id">7.14</li>
				<li class="standard-id">7.16</li>
				<li class="standard-id">7.15</li>
			</ul>
		</dd>
		<dt><h2 class="h-gamma"><a href="functions/index.html">Unit 3: Functions</a></h2></dt>
		<dd><p class="prose">This unit explores relationships between two variables and patterns of integers and rational numbers. Students will explore different forms of relations using a variety of representations, and will identify and derive rules for functions. They will also analyze and generalize sequences of integers and rational numbers.</p></dd>
		<dd>
			<ul class="list-inline">
				<li class="standard-id">7.12</li>
				<li class="standard-id">7.2</li>
			</ul>
		</dd>
		<dt><h2 class="h-gamma"><a href="proportions/index.html">Unit 4: Rational Numbers &amp; Proportions</a></h2></dt>
		<dd>
			<ul class="list-inline">
				<li class="standard-id">7.1abc</li>
				<li class="standard-id">7.1de</li>
				<li class="standard-id">7.4</li>
				<li class="standard-id">7.6</li>
				<li class="standard-id">7.5</li>
			</ul>
		</dd>
		<dt><h2 class="h-gamma"><a href="geometry/index.html">Unit 5: Geometry</a></h2></dt>
		<dd>
			<ul class="list-inline">
				<li class="standard-id">7.7</li>
				<li class="standard-id">7.8</li>
			</ul>
		</dd>
		<dt><h2 class="h-gamma"><a href="prob-stats/index.html">Unit 6: Probability &amp; Statistics</a></h2></dt>
		<dd>
			<ul class="list-inline">
				<li class="standard-id">7.9</li>
				<li class="standard-id">7.10</li>
				<li class="standard-id">7.11</li>
			</ul>
		</dd>
	</dl>
</section>
<section id="standards">
	<header>
		<h1 class="h-beta">State of Virginia Standards of Learning</h1>
		<p>This section lists the Math 7 VA SOLs and includes links to standards-based quizzes for each.</p>
	</header>
	<dl>
		<dt><span id="7.1abc" class="standard-id">7.1abc</span> Scientific Notation</dt>
		<dd>
			<blockquote>
				The student will
				<ol>
					<li>investigate and describe the concept of negative exponents for powers of ten;</li>
					<li>determine scientific notation for numbers greater than zero; and</li>
					<li>compare and order fractions, decimals, percents, and numbers written in scientific notation.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.1de" class="standard-id">7.1de</span> Distance</dt>
		<dd>
			<blockquote>
				The student will
				<ol>
					<li>determine square roots; and</li>
					<li>identify and describe absolute value for rational numbers.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.2" class="standard-id">7.2</span> Sequences</dt>
		<dd>
			<blockquote>The student will describe and represent arithmetic and geometric sequences, using variable expressions.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.3" class="standard-id">7.3</span> Integer Operations</dt>
		<dd>
			<blockquote>
				The student will
				<ol>
					<li>model addition, subtraction, multiplication, and division of integers; and</li>
					<li>add, subtract, multiply, and divide integers.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.4" class="standard-id">7.4</span> Proportional Reasoning</dt>
		<dd>
			<blockquote>
				The student will solve single-step and multistep practical problems, using proportional reasoning.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.5" class="standard-id">7.5</span> Surface Area &amp; Volume</dt>
		<dd>
			<blockquote>
				The student will
				<ol>
					<li>describe volume and surface area of cylinders;</li>
					<li>solve practical problems involving the volume and surface area of rectangular prisms and cylinders; and</li>
					<li>describe how changing one measured attribute of a rectangular prism affects its volume and surface area.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.6" class="standard-id">7.6</span> Similar Polygons</dt>
		<dd>
			<blockquote>
				The student will determine whether plane figures&mdash;quadrilaterals and triangles&mdash;are similar and write proportions to express the relationships between corresponding sides of similar figures.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.7" class="standard-id">7.7</span> Quadrilaterals</dt>
		<dd>
			<blockquote>
				The student will compare and contrast the following quadrilaterals based on properties: parallelogram, rectangle, square, rhombus, and trapezoid.</dd>
			</blockquote>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.8" class="standard-id">7.8</span> Transformations</dt>
		<dd>
			<blockquote>
				The student, given a polygon in the coordinate plane, will represent transformations (reflections, dilations, rotations, and translations) by graphing in the coordinate plane.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.9" class="standard-id">7.9</span> Probability</dt>
		<dd>
			<blockquote>
				The student will investigate and describe the difference between the experimental probability and theoretical probability of an event.
			</blockquote>
			</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.10" class="standard-id">7.10</span> Counting</dt>
		<dd>
			<blockquote>
				The student will determine the probability of compound events, using the Fundamental (Basic) Counting Principle.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.11" class="standard-id">7.11</span> Histograms</dt>
		<dd>
			<blockquote>
				The student will, given data for a practical situation, will
				<ol>
					<li>construct and analyze histograms; and</li>
					<li>compare and contrast histograms with other types of graphs presenting information from the same data set.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.12" class="standard-id">7.12</span> Relations</dt>
		<dd>
			<blockquote>
				The student will represent relationships with tables, graphs, rules, and words.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li><!-- version is on I.A. -->
			</ul>
		</dd>
		<dt><span id="7.13a" class="standard-id">7.13a</span> Verbal Mathematics</dt>
		<dd>
			<blockquote>
				The student will write verbal expressions as algebraic expressions and sentences as equations and vice versa.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a>Version 1</a></li>
			</ul>
		</dd>
		<dt><span id="7.13b" class="standard-id">7.13b</span> Substitution</dt>
		<dd>
			<blockquote>
				The student will evaluate algebraic expressions for given replacement values of the variables.
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a href="standards-based-grading/sbg-713b-v1.html">Version 1</a></li>
				<li><a href="standards-based-grading/sbg-713b-v2.html">Version 2</a></li>
				<li><a href="standards-based-grading/sbg-713b-v3.html">Version 3</a></li>
			</ul>
		</dd>
		<dt><span id="7.14" class="standard-id">7.14</span> Linear Equations</dt>
		<dd>
			<blockquote>
				The student will
				<ol>
					<li>solve one- and two-step linear equations in one variable; and</li>
					<li>solve practical problems requiring the solution of one- and two-step linear equations.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li class="cat-hwcw"><a href="standards-based-grading/sbg-714-pre.html">Pre-Quiz</a></li>
				<li><a href="standards-based-grading/sbg-714-v1.html">Version 1</a></li>
				<li><a href="standards-based-grading/sbg-714-v2.html">Version 2</a></li>
			</ul>
		</dd>
		<dt><span id="7.15" class="standard-id">7.15</span> Linear Inequalities</dt>
		<dd>
			<blockquote>
				The student will
				<ol>
					<li>solve one-step inequalities in one variable; and</li>
					<li>graph solutions to inequalities on the number line.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a href="standards-based-grading/sbg-715-v1.html">Version 1</a></li>
				<li><a href="standards-based-grading/sbg-715-v2.html">Version 2</a></li>
			</ul>
		</dd>
		<dt><span id="7.16" class="standard-id">7.16</span> Field Properties</dt>
		<dd>
			<blockquote>
				The student will apply the following properties of operations with real numbers:
				<ol>
					<li>the commutative and associative properties for addition and multiplication;</li>
					<li>the distributive property</li>
					<li>the additive and multiplicative identity properties;</li>
					<li>the additive and multiplicative inverse properties; and </li>
					<li>the multiplicative property of zero.</li>
				</ol>
			</blockquote>
		</dd>
		<dd>
			<ul class="list-action cat-sbg">
				<li><a href="standards-based-grading/sbg-716-v1.html">Version 1</a></li>
				<li><a href="standards-based-grading/sbg-716-v2.html">Version 2</a></li>
			</ul>
		</dd>
	</dl>
</section>
</div>
</body>
</html>
