---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Pacing Guide &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Grade 7 Mathematics Pacing Guide."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Math 7 Pacing Guide &mdash; Mr. Harvey</h1>
	<p class="timestamp">Updated <time datetime="2014-02-25T23:50">Feb 25, 2014</time>.</p>
</header>
<table class="pacing-guide">
	<thead>
		<tr>
			<th></th>
			<th scope="col">Standard</th>
			<th scope="col">Approximate Time</th>
			<th scope="col">Textbook Sections*</th>
	</thead>
	<tbody id="Q1">
		<tr>
			<th rowspan="4" scope="rowgroup"><div class="qnum">1<sup>st</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.3">7.3 Integer Operations</a> <span class="caution">No Calculator</span></td>
			<td>2.5 weeks</td>
			<td>1-7, 1-8</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.13b">7.13b Substitution</a></td>
			<td>1 week</td>
			<td>1-9, 3-1, 2-1</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.16">7.16 Field Properties</a></td>
			<td>1 week</td>
			<td>1-2, 1-3, 1-9</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.14">7.14 Linear Equations</a> &mdash; one-step equations</td>
			<td>1 week</td>
			<td>2-2, 2-3, 2-4</td>
		</tr>
	</tbody>
	<tbody id="Q2">
		<tr>
			<th rowspan="6" scope="rowgroup"><div class="qnum">2<sup>nd</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.14">7.14 Linear Equations</a> &mdash; two-step equations</td>
			<td>2.5 weeks</td>
			<td>2-5, 2-6, 2-7, 4-6</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.15">7.15 Linear Inequalities</a></td>
			<td>1 week</td>
			<td>2-8, 2-9, 2-10</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.13a">7.13a Verbal Mathematics</a></td>
			<td>1 week</td>
			<td>2-1, 2-7</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.1abc">7.1abc Rational Numbers</a> <span class="caution">No Calculator</span></td>
			<td>2 weeks</td>
			<td>3-2, 6-2, 6-3, 3-9, 3-6, 3-10</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.1e">7.1e Absolute Value</a></td>
			<td>0.5 weeks</td>
			<td>1-6</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.4">7.4 Proportional Reasoning</a></td>
			<td>1 week</td>
			<td>6-7, 5-1, 5-2, 5-4, 5-5, 5-7</td>
		</tr>
	</tbody>
	<tbody id="Q3">
		<tr>
			<th rowspan="6" scope="rowgroup"><div class="qnum">3<sup>rd</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.6">7.6 Similar Polygons</a></td>
			<td>1 week</td>
			<td>5-6</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.2">7.2 Sequences</a></td>
			<td>1 week</td>
			<td>9-2</td>
		</tr>		
		<tr>
			<td><a href="standards/index.html#7.12">7.12 Relations</a></td>
			<td>2 weeks</td>
			<td>9-4, 9-5, 9-8</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.1d">7.1d Perfect Squares</a> <span class="caution">No Calculator</span></td>
			<td>0.5 weeks</td>
			<td>8-5</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.5">7.5 Volume and Surface Area</a></td>
			<td>1.5 weeks</td>
			<td>8-8, 8-9</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.7">7.7 Quadrilaterals</a></td>
			<td>1 week</td>
			<td>7-5</td>
		</tr>
	</tbody>
	<tbody id="Q4">
		<tr>
			<th rowspan="5" scope="rowgroup"><div class="qnum">4<sup>th</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.8">7.8 Transformations</a></td>
			<td>1 week</td>
			<td>10-6, 10-7, 10-8</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.9">7.9 Probability</a></td>
			<td>1 week</td>
			<td>12-1, 12-2</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.10">7.10 Counting</a></td>
			<td>1 week</td>
			<td>12-5</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.11">7.11 Histograms</a></td>
			<td>1 week</td>
			<td>11-1</td>
		</tr>
		<tr>
			<td>SOL Review</td>
			<td>3 weeks</td>
			<td></td>
		</tr>
	</tbody>
</table>
<p><cite>*Charles, R. I. (2006). <b class="ref">Mathematics: Course 2</b>. Needham, MA: Prentice Hall.</cite></p>
</div>
</body>
</html>
