---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Pacing Guide &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Grade 7 Mathematics Pacing Guide."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body id="pacingguidedothtml">
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Math 7 Pacing Guide &mdash; Mr. Harvey</h1>
	<p class="timestamp">Updated <time datetime="2014-01-12T18:02">Jan 12, 2014</time>.</p>
</header>
<table class="table-list">
	<thead>
		<tr>
			<th>Topic</th>
			<th>Approximate Time</th>
			<th><abbr title="Standards of Learning">SOLs</abbr></th>
			<th>Textbook Sections</th>
	</thead>
	<tbody>
		<tr id="Q1" class="quarter">
			<td>1<span class="superscript">st</span> Quarter</td>
			<td>9 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr id="U1" class="unit">
			<td><a href="integers/index.html">Whole Numbers &amp; Integers</a></td>
			<td>4.5 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Integer Operations</td>
			<td>2.5 weeks</td>
			<td><a href="index.html#7.3">7.3</a></td>
			<td>1-7, 1-8</td>
		</tr>
		<tr class="topic">
			<td>Substitution</td>
			<td>1 week</td>
			<td><a href="index.html#7.13b">7.13b</a></td>
			<td>1-9, 3-1</td>
		</tr>
		<tr class="topic">
			<td>Field Properties</td>
			<td>1 week</td>
			<td><a href="index.html#7.16">7.16</a></td>
			<td></td>
		</tr>
	</tbody>
	<tbody>
		<tr id="U2" class="unit">
			<td><a href="equations-inequalities/index.html">Equations &amp; Inequalities</a></td>
			<td>5.5 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Verbal Mathematics</td>
			<td>1 week</td>
			<td><a href="index.html#7.13a">7.13a</a></td>
			<td></td>
		</tr>
		<tr id="Q2" class="quarter">
			<td>2<span class="superscript">nd</span> Quarter</td>
			<td>9 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Linear Equations</td>
			<td>3.5 weeks</td>
			<td><a href="index.html#7.14">7.14</a></td>
			<td>2-3, 2-4, 2-5, 2-6</td>
		</tr>
		<tr class="topic">
			<td>Linear Inequalities</td>
			<td>1 week</td>
			<td><a href="index.html#7.15">7.15</a></td>
			<td>2-8, 2-9, 2-10</td>
		</tr>
	</tbody>
	<tbody>
		<tr id="U3" class="unit">
			<td><a href="functions/index.html">Functions</a></td>
			<td>3 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Relations</td>
			<td>2 weeks</td>
			<td><a href="index.html#7.12">7.12</a></td>
			<td>9-4, 9-5, (9-6)</td>
		</tr>
		<tr class="topic">
			<td>Sequences</td>
			<td>1 week</td>
			<td><a href="index.html#7.2">7.2</a></td>
			<td>9-1, 9-2</td>
		</tr>
	</tbody>
	<tbody>
		<tr id="Q3" class="quarter">
			<td>3<span class="superscript">rd</span> Quarter</td>
			<td>9 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr id="U4" class="unit">
			<td><a href="proportions/index.html">Rational Numbers &amp; Proportions</a></td>
			<td>7 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Distance</td>
			<td>1 week</td>
			<td><a href="index.html#7.1de">7.1de</a></td>
			<td>8-5</td>
		</tr>
		<tr class="topic">
			<td>Scientific Notation</td>
			<td>2 weeks</td>
			<td><a href="index.html#7.1abc">7.1abc</a></td>
			<td>3-2, 3-6, 3-9, 6-2</td>
		</tr>
		<tr class="topic">
			<td>Proportional Reasoning</td>
			<td>1 week</td>
			<td><a href="index.html#7.4">7.4</a></td>
			<td>5-2, 5-4, 6-5, 6-6</td>
		</tr>
		<tr class="topic">
			<td>Similar Polygons</td>
			<td>1 week</td>
			<td><a href="index.html#7.6">7.6</a></td>
			<td>5-6, 5-7</td>
		</tr>
		<tr class="topic">
			<td>Volume &amp; Surface Area</td>
			<td>2 weeks</td>
			<td><a href="index.html#7.5">7.5</a></td>
			<td>8-8, 8-9</td>
		</tr>
	</tbody>
	<tbody>
		<tr id="U5" class="unit">
			<td><a href="geometry/index.html">Geometry</a></td>
			<td>2 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Quadrilaterals</td>
			<td>1 week</td>
			<td><a href="index.html#7.7">7.7</a></td>
			<td>7-5</td>
		</tr>
		<tr class="topic">
			<td>Transformations</td>
			<td>1 week</td>
			<td><a href="index.html#7.8">7.8</a></td>
			<td>10-6, 10-7, 10-8</td>
		</tr>
	</tbody>
	<tbody>
		<tr id="Q4" class="quarter">
			<td>4<span class="superscript">th</span> Quarter</td>
			<td>9 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr id="U6" class="unit">
			<td><a href="prob-stats/index.html">Probability &amp; Statistics</a></td>
			<td>3 weeks</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="topic">
			<td>Probability</td>
			<td>1 week</td>
			<td><a href="index.html#7.9">7.9</a></td>
			<td>12-1, 12-2</td>
		</tr>
		<tr class="topic">
			<td>Counting</td>
			<td>1 week</td>
			<td><a href="index.html#7.10">7.10</a></td>
			<td>12-5</td>
		</tr>
		<tr class="topic">
			<td>Histograms</td>
			<td>1 week</td>
			<td><a href="index.html#7.11">7.11</a></td>
			<td></td>
		</tr>
	</tbody>
	<tbody>
		<tr class="unit">
			<td>SOL Review</td>
			<td>3 weeks</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>
