---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Pacing Guide &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Grade 7 Mathematics Pacing Guide."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<nav class="bc">
	<ol class="bc-anc">
		<li><a href="../../home/math.html" rel="ancestor">Math</a></li>
		<li><a href="../index.html" rel="ancestor">Secondary Ed</a></li>
		<li><a href="index.html" rel="this">Grade 7</a></li>
	</ol>
	<ul class="bc-sib">
		<li><a href="syllabus-2014.html" rel="sibling">Syllabus</a></li>
		<li><a href="pacingguide.html" rel="this">Pacing Guide</a></li>
		<li><a href="standards/index.html" rel="sibling">Standards</a></li>
		<li><a href="warmups.html" rel="sibling">Daily Warmups</a></li>
	</ul>
	<ul class="bc-child"></ul>
</nav>
<main>
<header>
	<h1 class="h-alpha">Math 7 Pacing Guide &mdash; Mr. Harvey</h1>
	<p class="timestamp">Updated <time datetime="2014-02-25T23:50">Feb 25, 2014</time>.</p>
</header>
<table class="pacing-table">
	<thead>
		<tr>
			<th scope="col" colspan="2" style="padding-left: 64px;">Standard</th>
			<th scope="col">Approximate Time</th>
			<th scope="col">Textbook Sections<sup class="fn"><a id="r1" href="#fn1">1</a></sup></th>
	</thead>
	<tbody id="Q1">
		<tr>
			<th rowspan="4" scope="rowgroup"><div class="pacing-qnum">1<sup>st</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.3">7.3 Integer Operations</a> <span class="caution">No Calculator</span></td>
			<td>2.5 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>1-7</li>
					<li>1-8</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.13b">7.13b Substitution</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>1-9</li>
					<li>3-1</li>
					<li>2-1</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.16">7.16 Field Properties</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>1-2</li>
					<li>1-3</li>
					<li>1-9</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.14">7.14 Linear Equations</a> &mdash; one-step equations</td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>2-2</li>
					<li>2-3</li>
					<li>2-4</li>
				</ol>
			</td>
		</tr>
	</tbody>
	<tbody id="Q2">
		<tr>
			<th rowspan="6" scope="rowgroup"><div class="pacing-qnum">2<sup>nd</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.14">7.14 Linear Equations</a> &mdash; two-step equations</td>
			<td>2.5 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>2-5</li>
					<li>2-6</li>
					<li>2-7</li>
					<li>4-6</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.15">7.15 Linear Inequalities</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>2-8</li>
					<li>2-9</li>
					<li>2-10</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.13a">7.13a Verbal Mathematics</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>2-1</li>
					<li>2-7</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.1abc">7.1abc Rational Numbers</a> <span class="caution">No Calculator</span></td>
			<td>2 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>3-2</li>
					<li>6-2</li>
					<li>6-3</li>
					<li>3-9</li>
					<li>3-6</li>
					<li>3-10</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.1e">7.1e Absolute Value</a></td>
			<td>0.5 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>1-6</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.4">7.4 Proportional Reasoning</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>6-7</li>
					<li>5-1</li>
					<li>5-2</li>
					<li>5-4</li>
					<li>5-5</li>
					<li>5-7</li>
				</ol>
			</td>
		</tr>
	</tbody>
	<tbody id="Q3">
		<tr>
			<th rowspan="6" scope="rowgroup"><div class="pacing-qnum">3<sup>rd</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.6">7.6 Similar Polygons</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>5-6</li>
					<li>7-7</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.2">7.2 Sequences</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>9-2</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.12">7.12 Relations</a></td>
			<td>2 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>9-4</li>
					<li>9-5</li>
					<li>9-8</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.1d">7.1d Perfect Squares</a> <span class="caution">No Calculator</span></td>
			<td>0.5 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>8-5</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.5">7.5 Volume and Surface Area</a></td>
			<td>1.5 weeks</td>
			<td>
				<ol class="list-inline-c">
					<li>8-9</li>
					<li>8-8</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td><a href="standards/index.html#7.7">7.7 Quadrilaterals</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>7-5</li>
				</ol>
			</td>
		</tr>
	</tbody>
	<tbody id="Q4">
		<tr>
			<th rowspan="5" scope="rowgroup"><div class="pacing-qnum">4<sup>th</sup> Quarter</div></th>
			<td><a href="standards/index.html#7.8">7.8 Transformations</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>10-6</li>
					<li>10-7</li>
					<li>10-8</li>
				</ol>
			</td>
		</tr>
		<tr class="draft">
			<td><a href="standards/index.html#7.9">7.9 Probability</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>12-1</li>
					<li>12-2</li>
				</ol>
			</td>
		</tr>
		<tr class="draft">
			<td><a href="standards/index.html#7.10">7.10 Counting</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>12-5</li>
				</ol>
			</td>
		</tr>
		<tr class="draft">
			<td><a href="standards/index.html#7.11">7.11 Histograms</a></td>
			<td>1 week</td>
			<td>
				<ol class="list-inline-c">
					<li>11-1</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td>SOL Review</td>
			<td>3 weeks</td>
			<td>
				<ol class="list-inline-c">
				</ol>
			</td>
		</tr>
	</tbody>
</table>
<header>
	<ul class="footnotes">
		<li><sup class="fn"><a id="fn1" href="#r1">1</a></sup> <cite>Charles, R. I. (2006). <b class="ref">Mathematics: Course 2</b>. Needham, MA: Prentice Hall.</cite></li>
	</ul>
</header>
</main>
</body>
</html>
