extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Pacing Guide'
    var description = 'Grade 7 Mathematics Pacing Guide.'

block append mainHeader
  div.
    <h1>Math 7 Pacing Guide</h1>
    <dl class="c-Document__Meta">
      <dt>Author</dt>
      <dd>Chris Harvey</dd>
      <dt>Description</dt>
      <dd>Grade 7 Mathematics Pacing Guide.</dd>
      <dt>Version History</dt>
      <dd class="update">
        <time datetime="2014-02-25 23:50" itemprop="dateModified">Feb 25, 2014 <span class="tod">11:50 PM</span></time>
        <span class="o-Textbox  c-Label  c-Label--dang  -ml-1">Latest</span>
      </dd>
    </dl>

block append main
  div.
    <table>
      <thead>
        <tr>
          <th scope="col" class="-pl-4" colspan="2">Standard</th>
          <th scope="col">Approximate Time</th>
          <th scope="col">Textbook Sections<sup><a class="Rf" id="rf-textbook" href="#fn-textbook">1</a></sup></th>
      </thead>
      <tbody id="Q1">
        <tr>
          <th class="pacing-qhead" rowspan="4" scope="rowgroup">
            <div class="pacing-qnum">1st Quarter</div>
          </th>
          <td>
            <a href="standards/index.html#7.3">7.3 Integer Operations</a>
            <small class="o-Textbox  c-Label  c-Label--cshn  -ml-1">No Calculator</small>
          </td>
          <td>2.5 weeks</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">1-7</li>
              <li class="h-Inline">1-8</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.13b">7.13b Substitution</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">1-9</li>
              <li class="h-Inline h-AfterComma">3-1</li>
              <li class="h-Inline">2-1</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.16">7.16 Field Properties</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">1-2</li>
              <li class="h-Inline h-AfterComma">1-3</li>
              <li class="h-Inline">1-9</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.14">7.14 Linear Equations</a>:
            one-step equations</td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">2-2</li>
              <li class="h-Inline h-AfterComma">2-3</li>
              <li class="h-Inline">2-4</li>
            </ol>
          </td>
        </tr>
      </tbody>
      <tbody id="Q2">
        <tr>
          <th class="pacing-qhead" rowspan="6" scope="rowgroup">
            <div class="pacing-qnum">2<sup>nd</sup> Quarter</div>
          </th>
          <td><a href="standards/index.html#7.14">7.14 Linear Equations</a>:
            two-step equations</td>
          <td>2.5 weeks</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">2-5</li>
              <li class="h-Inline h-AfterComma">2-6</li>
              <li class="h-Inline h-AfterComma">2-7</li>
              <li class="h-Inline">4-6</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.15">7.15 Linear Inequalities</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">2-8</li>
              <li class="h-Inline h-AfterComma">2-9</li>
              <li class="h-Inline">2-10</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.13a">7.13a Verbal Mathematics</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">2-1</li>
              <li class="h-Inline">2-7</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
            <a href="standards/index.html#7.1abc">7.1abc Rational Numbers</a>
            <small class="o-Textbox  c-Label  c-Label--cshn  -ml-1">No Calculator</small>
          </td>
          <td>2 weeks</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">3-2</li>
              <li class="h-Inline h-AfterComma">6-2</li>
              <li class="h-Inline h-AfterComma">6-3</li>
              <li class="h-Inline h-AfterComma">3-9</li>
              <li class="h-Inline h-AfterComma">3-6</li>
              <li class="h-Inline">3-10</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.1e">7.1e Absolute Value</a></td>
          <td>0.5 weeks</td>
          <td>
            <ol>
              <li class="h-Inline">1-6</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.4">7.4 Proportional Reasoning</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">6-7</li>
              <li class="h-Inline h-AfterComma">5-1</li>
              <li class="h-Inline h-AfterComma">5-2</li>
              <li class="h-Inline h-AfterComma">5-4</li>
              <li class="h-Inline h-AfterComma">5-5</li>
              <li class="h-Inline">5-7</li>
            </ol>
          </td>
        </tr>
      </tbody>
      <tbody id="Q3">
        <tr>
          <th class="pacing-qhead" rowspan="6" scope="rowgroup">
            <div class="pacing-qnum">3<sup>rd</sup> Quarter</div>
          </th>
          <td><a href="standards/index.html#7.6">7.6 Similar Polygons</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">5-6</li>
              <li class="h-Inline">7-7</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.2">7.2 Sequences</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline">9-2</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.12">7.12 Relations</a></td>
          <td>2 weeks</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">9-4</li>
              <li class="h-Inline h-AfterComma">9-5</li>
              <li class="h-Inline">9-8</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
            <a href="standards/index.html#7.1d">7.1d Perfect Squares</a>
            <small class="o-Textbox  c-Label  c-Label--cshn  -ml-1">No Calculator</small>
          </td>
          <td>0.5 weeks</td>
          <td>
            <ol>
              <li class="h-Inline">8-5</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.5">7.5 Volume and Surface Area</a></td>
          <td>1.5 weeks</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">8-9</li>
              <li class="h-Inline">8-8</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.7">7.7 Quadrilaterals</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline">7-5</li>
            </ol>
          </td>
        </tr>
      </tbody>
      <tbody id="Q4">
        <tr>
          <th class="pacing-qhead" rowspan="4" scope="rowgroup">
            <div class="pacing-qnum">4<sup>th</sup> Quarter</div>
          </th>
          <td><a href="standards/index.html#7.8">7.8 Transformations</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">10-6</li>
              <li class="h-Inline h-AfterComma">10-7</li>
              <li class="h-Inline">10-8</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.9-7.10">7.9&ndash;7.10 Probability</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline h-AfterComma">12-1</li>
              <li class="h-Inline">12-2</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td><a href="standards/index.html#7.11">7.11 Histograms</a></td>
          <td>1 week</td>
          <td>
            <ol>
              <li class="h-Inline">11-1</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>SOL Review</td>
          <td>3 weeks</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <header>
      <ul class="c-ListFootnotes">
        <li>
          <sup><a class="Fn" id="fn-textbook" href="#rf-textbook">1</a></sup>
          <cite itemscope="" itemtype="http://schema.org/Book" id="Charles2006">
            <span itemprop="author">
              <span itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">Charles, R. I.</span>
              </span>
            </span>
            <time itemprop="datePublished" datetime="2006">(2006).</time>
            <span itemprop="name">Mathematics: Course 2.</span>
            <span itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
              <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                  <span itemprop="addressLocality">Needham,</span>
                  <span itemprop="addressRegion">MA:</span>
                </span>
                <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                  <meta itemprop="latitude" content="42.285464"/>
                  <meta itemprop="longitude" content="-71.2445964"/>
                </span>
              </span>
              <span itemprop="name">Prentice Hall</span>.
            </span>
          </cite>
        </li>
      </ul>
    </header>

block append body
  div.
    <nav class="Bc">
      <ol class="Anc">
        <li><a class="Crumb" rel="top"      href="../../index.html">Home</a></li>
        <li><a class="Crumb" rel="ancestor" href="../../home/math.html">Math</a></li>
        <li><a class="Crumb" rel="ancestor" href="../index.html">Secondary Ed</a></li>
        <li><a class="Crumb" rel="parent"   href="index.html">Grade 7</a></li>
        <li><a class="Crumb" rel="this"     href="#">Pacing Guide</a>
          <ul class="Sib">
            <li><a class="Crumb" rel="sibling" href="syllabus.html">Syllabus</a></li>
            <li><a class="Crumb" rel="sibling" href="standards/index.html">Standards</a></li>
            <li><a class="Crumb" rel="sibling" href="warmups.html">Daily Warmups</a></li>
          </ul>
        </li>
      </ol>
    </nav>
