---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Daily Warmups &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Daily warmups for Grade 7 math students."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body id="warmupsdothtml">
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Math 7 Daily Warmups</h1>
	<p class="timestamp">Updated <time datetime="2014-01-05T15:14">Jan 5, 2014</time>.</p>
</header>
<div class="undoP1-midright">
	<table class="table-list">
		<thead>
			<tr>
				<th style="width: 10%;">Week</th>
				<th style="width: 18%;">Monday</th>
				<th style="width: 18%;">Tuesday</th>
				<th style="width: 18%;">Wednesday</th>
				<th style="width: 18%;">Thursday</th>
				<th style="width: 18%;">Friday</th>
		</thead>
		<tbody id="QI">
			<tr id="I.3">
				<td>
					<span class="weekno">I.3</span>
					<span class="standard-id">6.18</span>
				</td>
				<td>
					Solve: <span class="latex">\(x+13=22\)</span>
					<div class="answer"><span class="latex">\(x=9\)</span></div>
				</td>
				<td>
					Solve: <span class="latex">\(5x=75\)</span>
					<div class="answer"><span class="latex">\(x=15\)</span></div>
				</td>
				<td>
					Solve: <span class="latex">\(2x+1=11\)</span>
					<div class="answer"><span class="latex">\(x=5\)</span></div>
				</td>
				<td>
					Charlie spent $27 on three movie tickets. On average, how much did each ticket cost?
					<div class="answer">$9</div>
				</td>
				<td>
					If <span class="latex">\(x\)</span> is between <span class="latex">\(3\)</span> and <span class="latex">\(4\)</span>, what two numbers is <span class="latex">\(x^2\)</span> between?
					<div class="answer">between <span class="latex">\(9\)</span> and <span class="latex">\(16\)</span></div>
				</td>
			</tr>
			<tr id="I.4">
				<td>
					<span class="weekno">I.4</span>
					<span class="standard-id">6.17</span>
				</td>
				<td></td>
				<td>
					Find the next term in the sequence: <span class="latex">\(\left\{2,5,8,11,\dots\right\}\)</span>
					<div class="answer"><span class="latex">\(14\)</span></div>
				</td>
				<td>
					Find the fifth term in the sequence: <span class="latex">\(\left\{3,6,12,\dots\right\}\)</span>
					<div class="answer"><span class="latex">\(48\)</span></div>
				</td>
				<td>
					In the sequence <span class="latex">\(\left\{2,4,6,8,\dots\right\}\)</span>, which term is the number <span class="latex">\(20\)</span>?
					<div class="answer">the tenth term</div>
				</td>
				<td>
					In a geometric sequence, the first term is <span class="latex">\(2\)</span> and the second term is <span class="latex">\(6\)</span>. What is the third term?
					<div class="answer"><span class="latex">\(18\)</span></div>
				</td>
			</tr>
			<tr id="I.5">
				<td>
					<span class="weekno">I.5</span>
					<span class="standard-id">6.13</span>
				</td>
				<td>
					Select all true statements about any parallelogram:
					<ol class="answerchoices" style="background-color: #cff;">
						<li>the opposite sides are parallel</li>
						<li>the opposite sides are congruent</li>
						<li>the opposite angles are congruent</li>
						<li>the diagonals are congruent</li>
						<li>the diagonals are perpendicular</li>
						<li>the diagonals bisect each other</li>
					</ol>
					<div class="answer">ABCF</div>
				</td>
				<td>
					Select all true statements about any trapezoid:
					<div class="answer">none</div>
				</td>
				<td>
					Select all true statements about any rectangle:
					<div class="answer">ABCDF</div>
				</td>
				<td>
					Select all true statements about any rhombus:
					<div class="answer">ABCEF</div>
				</td>
				<td>
					Select all true statements about any square:
					<div class="answer">all</div>
				</td>
			</tr>
			<tr id="I.6">
				<td>
					<span class="weekno">I.6</span>
					<span class="standard-id">6.15</span>
				</td>
				<td>
					Find the mean of the following data set:
					<div class="latex">\[490, 500, 495, 510, 505, 490, 510\]</div>
					<div class="answer"><span class="latex">\(500\)</span></div>
				</td>
				<td>
					Use the plot below to find the mean of the data set.
					<img alt="plot with six x's on 3 and four x's on 8"/>
					<div class="answer"><span class="latex">\(5\)</span></div>
				</td>
				<td>
					Order the mean, median, and mode of the data set from least to greatest.
					<div class="latex">\[18, 20, 21, 15, 16, 20, 17\]</div>
					<div class="answer">median = 18, mean = 18.14, mode = 20</div>
				</td>
				<td>
					What missing data value will make the mean of the data set <span class="latex">\(40\)</span>?
					<div class="latex">\[35, 36, 39, 40, \dots, 44, 45\]</div>
					<div class="answer"><span class="latex">\(41\)</span></div>
				</td>
				<td>
					A diver receives five scores from the judges:
					<div class="latex">\[4.5, 7.0, 7.5, 8.0, 8.5\]</div>
					Which measure of central tendency is the best choice for the diver's final score: mean, median, or mode?
					<div class="answer">median = 7.5</div>
				</td>
			</tr>
			<tr id="I.7">
				<td>
					<span class="weekno">I.7</span>
					<span class="standard-id">6.20</span>
				</td>
				<td>
					On a number line, graph the inequality: <span class="latex">\(x \le 5\)</span>
					<div class="answer"></div>
				</td>
				<td>
					On a number line, graph the inequality: <span class="latex">\(x \gt 3\)</span>
					<div class="answer"></div>
				</td>
				<td>
					On a number line, graph the inequality: <span class="latex">\(-3 \lt x \le 5\)</span>
					<div class="answer"></div>
				</td>
				<td>
					Write an inequality for the following graph:
					<img alt="graph showing \(x \lt -3\)"/>
					<div class="answer"><span class="latex">\(x \lt -3\)</span></div>
				</td>
				<td>
					Write an inequality for the following graph:
					<img alt="graph showing \(-4 \le x \lt 6\)"/>
					<div class="answer"><span class="latex">\(-4 \le x \lt 6\)</span></div>
				</td>
			</tr>
			<tr id="I.8">
				<td>
					<span class="weekno">I.8</span>
					<span class="standard-id">6.19</span>
				</td>
				<td>
					Use the Inverse Properties of Addition and Multiplication to complete the following equations:
					<div class="latex">\[
						4 + \dots = 0\\
						5 \times \dots = 1
					\]</div>
					<div class="answer"><span class="latex">\(-4\)</span>, <span class="latex">\(\frac{1}{5}\)</span></div>
				</td>
				<td>
					Write two equations: showing the Identity Property of Addition, and the Identity Property of Multiplication.
					<div class="answer"></div>
				</td>
				<td>
					Which statement is true?
					<ol class="answerchoices">
						<li><span class="latex">\(7+0=0\)</span>
						<li><span class="latex">\(7-0=0\)</span>
						<li><span class="latex">\(7\times 0=0\)</span>
						<li><span class="latex">\(7\div 0=0\)</span>
					</ol>
					<div class="answer">C</div>
				</td>
				<td>
					Use the Associative Property of Addition to complete the equation:
					<div class="latex">\[a+\left(b+c\right)=\]</div>
					<div class="answer"><span class="latex">\(\left(a+b\right)+c\)</span></div>
				</td>
				<td>
					Use the Commutative Property of Addition to complete the equation:
					<div class="latex">\[a+\left(b+c\right)=\]</div>
					<div class="answer">
						<span class="latex">\(a+\left(c+b\right)\)</span>
						or
						<span class="latex">\(\left(b+c\right)+a\)</span>
						or
						<span class="latex">\(\left(c+b\right)+a\)</span>
					</div>
				</td>
			</tr>
		</tbody>
		<tbody id="QII">
			<tr id="II.1">
				<td>
					<span class="weekno">II.1</span>
					<span class="standard-id">6.16</span>
				</td>
				<td>
					If you roll a die and flip a coin, are these events dependent or independent?
					<div class="answer">independent</div>
				</td>
				<td>
					If you roll a die and flip a coin, what is the chance of rolling an even number and flipping tails?
					<div class="answer">25%</div>
				</td>
				<td>
					If you select two cards from a deck, are these events dependent or independent?
					<div class="answer">dependent</div>
				</td>
				<td>
					If you select two cards from a deck, what is the chance of picking two red cards?
					<div class="answer">24.5%</div>
				</td>
				<td>
					What is the probability of getting dealt five cards with the same suit?
					<div class="answer">0.05%</div>
				</td>
			</tr>
			<tr id="II.2">
				<td>
					<span class="weekno">II.2</span>
					<span class="standard-id">6.15</span>
				</td>
				<td>
					Look at the circle graph.
					<img alt="53% beach, 31% mountains, 11% family home, 5% city; no percents shown."/>
					Which vacation spot is preferred by about 31% of the students?
					<div class="answer">Mountains</div>
				</td>
				<td>
					Look at the circle graph.
					<img alt="50% chocolate, 11% peanut butter, 11% strawberry, 28% vanilla; no percents shown."/>
					About what percentage of students like chocolate ice cream?
					<div class="answer">50%</div>
				</td>
				<td>
					Look at the circle graph.
					<img alt="40% strawberries, 20% oranges, 30% bananas, 10% apples; percents are shown."/>
					In a group of 300 fruits, how many were bananas?
					<div class="answer">90</div>
				</td>
				<td>
					50% of truck drivers like Coke, 20% like Sprite, and 30% like Root Beer. Construct a circle graph displaying this information.
					<div class="answer"></div>
				</td>
				<td>
					In a school of 500 students, 110 like red, 100 like orange, 95 like yellow, 120 like green, and 75 like blue. Draw a circle graph displaying this information.
					<div class="answer"></div>
				</td>
			</tr>
			<tr id="II.3">
				<td>
					<span class="weekno">II.3</span>
					<span class="standard-id">6.9</span>
				</td>
				<td>
					If 1 in = 2.54 cm and 12 in = 1 ft, how many centimeters are in one foot?
					<div class="answer">30.48 cm</div>
				</td>
				<td>
					If 1 fl oz = 29.57 mL and 128 fl oz = 1 gal, how many millilitres are in one gallon?
					<div class="answer"></div>
				</td>
				<td>
					If 1 oz = 28.35 g and 16 oz = 1 lb, how many grams are in one pound?
					<div class="answer"></div>
				</td>
				<td>
					If 1 mi = 1.61 km, how many miles are in one kilometer?
					<div class="answer">0.62 mi</div>
				</td>
				<td>
					If 1 sq mi = 2.59 sq km, how many square miles are in one square kilometer?
					<div class="answer"></div>
				</td>
			</tr>
			<tr id="II.4">
				<td>
					<span class="weekno">II.4</span>
					<span class="standard-id">6.10d</span>
				</td>
				<td>
					What is the volume of a cube with side length 3?
					<div class="answer">27</div>
				</td>
				<td>
					What is the surface area of a cube with side length 3?
					<div class="answer">54</div>
				</td>
				<td>
					What is the volume of a rectangular prism with length 3, width 5, and height 8?
					<div class="answer">120</div>
				</td>
				<td>
					What is the surface area of a rectangular prism with length 3, width 5, and height 8?
					<div class="answer">158</div>
				</td>
				<td>
					If the volume of a cube is 125, what is its side length?
					<div class="answer">5</div>
				</td>
			</tr>
			<tr id="II.5">
				<td>
					<span class="weekno">II.5</span>
					<span class="standard-id">6.10b</span>
				</td>
				<td>
					If the diameter of a circle is 2 cm, what is its circumference?
					<div class="answer">2π cm</div>
				</td>
				<td>
					If the radius of a circle is 3 cm, what is its area?
					<div class="answer">9π sq cm</div>
				</td>
				<td>
					If the radius of a circle is 5 cm, what is its circumference?
					<div class="answer">10π cm</div>
				</td>
				<td>
					If the diameter of a circle is 8 cm, what is its area?
					<div class="answer">16π sq cm</div>
				</td>
				<td>
					If the circumference of a circle is 34π cm, what is its diameter?
					<div class="answer">34 cm</div>
				</td>
			</tr>
			<tr id="II.6"></tr>
			<tr id="II.7">
				<td>
					<span class="weekno">II.7</span>
					<span class="standard-id">7.3a</span>
				</td>
				<td>
					Write as an addition problem and evaluate:
					<img alt="5 + -3 shown in counters"/>
					<div class="answer"><span class="latex">\(5+-3=2\)</span></div>
				</td>
				<td>
					Write as a subtraction problem and evaluate:
					<img alt="3 - 6 shown in counters"/>
					<div class="answer"><span class="latex">\(3-6=-3\)</span></div>
				</td>
				<td>
					Write as an addition problem and evaluate:
					<img alt="a number line showing –5+8"/>
					<div class="answer"><span class="latex">\(-5+8=3\)</span></div>
				</td>
				<td>
					Draw a number line showing <span class="latex">\(-7+4\)</span> and evaluate.
					<div class="answer">3</div>
				</td>
				<td>
					Draw a number line showing <span class="latex">\(6-4\)</span> and evaluate.
					<div class="answer">2</div>
				</td>
			</tr>
			<tr id="II.8">
				<td>
					<span class="weekno">II.8</span>
					<span class="standard-id">7.13b</span>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[3+6\cdot-4\]</div>
					<div class="answer"><span class="latex">\(-21\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[2\cdot8-\left(-3+9\right)\]</div>
					<div class="answer"><span class="latex">\(10\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[10+\left(-5\right)^2\]</div>
					<div class="answer"><span class="latex">\(35\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[-3\left(2\right)^3\]</div>
					<div class="answer"><span class="latex">\(-24\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[-\left[9+\left(1-5\right)^2\right]\]</div>
					<div class="answer"><span class="latex">\(-25\)</span></div>
				</td>
			</tr>
			<tr id="II.9">
				<td>
					<span class="weekno">II.9</span>
					<span class="standard-id">7.13b</span>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[-5a\div 2; \quad a=6\]</div>
					<div class="answer"><span class="latex">\(-15\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[5r-2d; \quad r=-2, d=5\]</div>
					<div class="answer"><span class="latex">\(-20\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[6+5\left(y+g\right); \quad y=-12, g=5\]</div>
					<div class="answer"><span class="latex">\(-29\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[-3b^3; \quad b=2\]</div>
					<div class="answer"><span class="latex">\(-24\)</span></div>
				</td>
				<td>
					Evaluate:
					<div class="latex">\[-\left[9+\left(1-4d\right)^2\right]; \quad d=1\]</div>
					<div class="answer"><span class="latex">\(-18\)</span></div>
				</td>
			</tr>
		</tbody>
		<tbody id="QIII"></tbody>
			<tr id="III.1" class="star">
				<td>
					<span class="weekno">III.1</span>
					<span class="standard-id">7.14</span>
				</td>
				<td>
					Solve:
					<div class="latex">\[1-3x=19\]</div>
					<div class="answer"><span class="latex">\(x=-6\)</span></div>
				</td>
				<td>
					Solve:
					<div class="latex">\[\frac{x}{2}-12=-7\]</div>
					<div class="answer"><span class="latex">\(x=10\)</span></div>
				</td>
				<td>
					Solve:
					<div class="latex">\[\frac{-1}{4}x+15=13\]</div>
					<div class="answer"><span class="latex">\(x=8\)</span></div>
				</td>
				<td>
					Solve:
					<div class="latex">\[4\left(x+21\right)=48\]</div>
					<div class="answer"><span class="latex">\(x=-9\)</span></div>
				</td>
				<td>
					Solve:
					<div class="latex">\[\frac{x+42}{6}=-13\]</div>
					<div class="answer"><span class="latex">\(x=-120\)</span></div>
				</td>
			</tr>
		<tbody id="QIV"></tbody>
	</table>
</div>
</div>
</body>
</html>
