---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Daily Warmups &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Daily warmups for Grade 7 math students."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
	<script src="http://chharvey.github.io/core/scripts/all.js"></script>
</head>
<body id="warmupsdothtml">
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Math 7 Daily Warmups</h1>
	<p class="timestamp">Updated <time datetime="2014-02-18T06:05">Feb 18, 2014</time>.</p>
</header>
<section id="QI">
	<h1 class="h-beta">Quarter I</h1>
	<section id="I.3">
		<h1 class="h-gamma">Week I.3 <span class="hsub standard-id">6.18</span></h1>
		<ol>
			<li>
				<p>Solve: <span class="latex">\(x+13=22\)</span></p>
				<div class="answer"><span class="latex">\(x=9\)</span></div>
			</li>
			<li>
				<p>Solve: <span class="latex">\(5x=75\)</span></p>
				<div class="answer"><span class="latex">\(x=15\)</span></div>
			</li>
			<li>
				<p>Solve: <span class="latex">\(2x+1=11\)</span></p>
				<div class="answer"><span class="latex">\(x=5\)</span></div>
			</li>
			<li>
				<p>Charlie spent $27 on three movie tickets. On average, how much did each ticket cost?</p>
				<div class="answer">$9</div>
			</li>
			<li>
				<p>If <span class="latex">\(x\)</span> is between 3 and 4, what two numbers is <span class="latex">\(x^2\)</span> between?</p>
				<div class="answer">between 9 and 16</div>
			</li>
		</ol>
	</section>
	<section id="I.4">
		<h1 class="h-gamma">Week I.4 <span class="hsub standard-id">6.17</span></h1>
		<ol>
			<li></li>
			<li>
				<p>Find the next term in the sequence: <span class="latex">\(\left\{2,5,8,11,\dots\right\}\)</span></p>
				<div class="answer">14</div>
			</li>
			<li>
				<p>Find the fifth term in the sequence: <span class="latex">\(\left\{3,6,12,\dots\right\}\)</span></p>
				<div class="answer">48</div>
			</li>
			<li>
				<p>In the sequence <span class="latex">\(\left\{2,4,6,8,\dots\right\}\)</span>, which term is the number <span class="latex">\(20\)</span>?</p>
				<div class="answer">the tenth term</div>
			</li>
			<li>
				<p>In a geometric sequence, the first term is <span class="latex">\(2\)</span> and the second term is <span class="latex">\(6\)</span>. What is the third term?</p>
				<div class="answer">18</div>
			</li>
		</ol>
	</section>
	<section id="I.5">
		<h1 class="h-gamma">Week I.5 <span class="hsub standard-id">6.13</span></h1>
		<ol>
			<li>
				<p>Select all true statements about any parallelogram:</p>
				<ol class="answerchoices" style="background-color: #cff;">
					<li>the opposite sides are parallel</li>
					<li>the opposite sides are congruent</li>
					<li>the opposite angles are congruent</li>
					<li>the diagonals are congruent</li>
					<li>the diagonals are perpendicular</li>
					<li>the diagonals bisect each other</li>
				</ol>
				<div class="answer">ABCF</div>
			</li>
			<li>
				<p>Select all true statements about any trapezoid:</p>
				<div class="answer">none</div>
			</li>
			<li>
				<p>Select all true statements about any rectangle:</p>
				<div class="answer">ABCDF</div>
			</li>
			<li>
				<p>Select all true statements about any rhombus:</p>
				<div class="answer">ABCEF</div>
			</li>
			<li>
				<p>Select all true statements about any square:</p>
				<div class="answer">all</div>
			</li>
		</ol>
	</section>
	<section id="I.6">
		<h1 class="h-gamma">Week I.6 <span class="hsub standard-id">6.15</span></h1>
		<ol>
			<li>
				<p>Find the mean of the following data set:</p>
				<div class="latex">\[490, 500, 495, 510, 505, 490, 510\]</div>
				<div class="answer">500</div>
			</li>
			<li>
				<p>Use the plot below to find the mean of the data set.</p>
				<img alt="plot with six x's on 3 and four x's on 8"/>
				<div class="answer">5</div>
			</li>
			<li>
				<p>Order the mean, median, and mode of the data set from least to greatest.</p>
				<div class="latex">\[18, 20, 21, 15, 16, 20, 17\]</div>
				<div class="answer">median = 18, mean = 18.14, mode = 20</div>
			</li>
			<li>
				<p>What missing data value will make the mean of the data set <span class="latex">\(40\)</span>?</p>
				<div class="latex">\[35, 36, 39, 40, \dots, 44, 45\]</div>
				<div class="answer">41</div>
			</li>
			<li>
				<p>A diver receives five scores from the judges:</p>
				<div class="latex">\[4.5, 7.0, 7.5, 8.0, 8.5\]</div>
				<p>Which measure of central tendency is the best choice for the diver's final score: mean, median, or mode?</p>
				<div class="answer">median = 7.5</div>
			</li>
		</ol>
	</section>
	<section id="I.7">
		<h1 class="h-gamma">Week I.7 <span class="hsub standard-id">6.20</span></h1>
		<ol>
			<li>
				<p>On a number line, graph the inequality: <span class="latex">\(x \le 5\)</span></p>
				<div class="answer"></div>
			</li>
			<li>
				<p>On a number line, graph the inequality: <span class="latex">\(x \gt 3\)</span></p>
				<div class="answer"></div>
			</li>
			<li>
				<p>On a number line, graph the inequality: <span class="latex">\(-3 \lt x \le 5\)</span></p>
				<div class="answer"></div>
			</li>
			<li>
				<p>Write an inequality for the following graph:</p>
				<img alt="graph showing \(x \lt -3\)"/>
				<div class="answer"><span class="latex">\(x \lt -3\)</span></div>
			</li>
			<li>
				<p>Write an inequality for the following graph:</p>
				<img alt="graph showing \(-4 \le x \lt 6\)"/>
				<div class="answer"><span class="latex">\(-4 \le x \lt 6\)</span></div>
			</li>
		</ol>
	</section>
	<section id="I.8">
		<h1 class="h-gamma">Week I.8 <span class="hsub standard-id">6.19</span></h1>
		<ol>
			<li>
				<p>Use the Inverse Properties of Addition and Multiplication to complete the following equations:</p>
				<div class="latex">\[
					4 + \dots = 0\\
					5 \times \dots = 1
				\]</div>
				<div class="answer latex">\[
					-4\\
					\frac{1}{5}
				\]</div>
			</li>
			<li>
				<p>Write two equations: showing the Identity Property of Addition, and the Identity Property of Multiplication.</p>
				<div class="answer"></div>
			</li>
			<li>
				<p>Which statement is true?</p>
				<ol class="answerchoices">
					<li><span class="latex">\(7+0=0\)</span>
					<li><span class="latex">\(7-0=0\)</span>
					<li><span class="latex">\(7\times 0=0\)</span>
					<li><span class="latex">\(7\div 0=0\)</span>
				</ol>
				<div class="answer">C</div>
			</li>
			<li>
				<p>Use the Associative Property of Addition to complete the equation:</p>
				<div class="latex">\[a+\left(b+c\right)=\]</div>
				<div class="answer"><span class="latex">\(\left(a+b\right)+c\)</span></div>
			</li>
			<li>
				<p>Use the Commutative Property of Addition to complete the equation:</p>
				<div class="latex">\[a+\left(b+c\right)=\]</div>
				<div class="answer">
					<span class="latex">\(a+\left(c+b\right)\)</span>
					or
					<span class="latex">\(\left(b+c\right)+a\)</span>
					or
					<span class="latex">\(\left(c+b\right)+a\)</span>
				</div>
			</li>
		</ol>
	</section>
	<section id="I.9">
		<h1 class="h-gamma">Week I.9 <span class="hsub standard-id">6.??</span></h1>
		<ol>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
		</ol>
	</section>
</section>
<section id="QII">
	<h1 class="h-beta">Quarter II</h1>
	<section id="II.1">
		<h1 class="h-gamma">Week II.1 <span class="hsub standard-id">6.16</span></h1>
		<ol>
			<li>
				<p>If you roll a die and flip a coin, are these events dependent or independent?</p>
				<div class="answer">independent</div>
			</li>
			<li>
				<p>If you roll a die and flip a coin, what is the chance of rolling an even number and flipping tails?</p>
				<div class="answer">25%</div>
			</li>
			<li>
				<p>If you select two cards from a deck, are these events dependent or independent?</p>
				<div class="answer">dependent</div>
			</li>
			<li>
				<p>If you select two cards from a deck, what is the chance of picking two red cards?</p>
				<div class="answer">24.5%</div>
			</li>
			<li>
				<p>What is the probability of getting dealt five cards with the same suit?</p>
				<div class="answer">0.05%</div>
			</li>
		</ol>
	</section>
	<section id="II.2">
		<h1 class="h-gamma">Week II.2 <span class="hsub standard-id">6.15</span></h1>
		<ol>
			<li>
				<p>Look at the circle graph.</p>
				<img alt="53% beach, 31% mountains, 11% family home, 5% city; no percents shown."/>
				<p>Which vacation spot is preferred by about 31% of the students?</p>
				<div class="answer">Mountains</div>
			</li>
			<li>
				<p>Look at the circle graph.</p>
				<img alt="50% chocolate, 11% peanut butter, 11% strawberry, 28% vanilla; no percents shown."/>
				<p>About what percentage of students like chocolate ice cream?</p>
				<div class="answer">about 50%</div>
			</li>
			<li>
				<p>Look at the circle graph.</p>
				<img alt="40% strawberries, 20% oranges, 30% bananas, 10% apples; percents are shown."/>
				<p>In a group of 300 fruits, how many were bananas?</p>
				<div class="answer">90 bananas</div>
			</li>
			<li>
				<p>50% of truck drivers like Coke, 20% like Sprite, and 30% like Root Beer. Construct a circle graph displaying this information.</p>
				<div class="answer"></div>
			</li>
			<li>
				<p>In a school of 500 students, 110 like red, 100 like orange, 95 like yellow, 120 like green, and 75 like blue. Draw a circle graph displaying this information.</p>
				<div class="answer"></div>
			</li>
		</ol>
	</section>
	<section id="II.3">
		<h1 class="h-gamma">Week II.3 <span class="hsub standard-id">6.9</span></h1>
		<ol>
			<li>
				<p>If 1 in = 2.54 cm and 12 in = 1 ft, how many centimeters are in one foot?</p>
				<div class="answer">30.48 cm</div>
			</li>
			<li>
				<p>If 1 fl oz = 29.57 mL and 128 fl oz = 1 gal, how many millilitres are in one gallon?</p>
				<div class="answer"></div>
			</li>
			<li>
				<p>If 1 oz = 28.35 g and 16 oz = 1 lb, how many grams are in one pound?</p>
				<div class="answer"></div>
			</li>
			<li>
				<p><del>If 1 mi = 1.61 km, how many miles are in one kilometer?</del></p>
				<div class="answer">0.62 mi</div>
			</li>
			<li>
				<p><del>If 1 sq mi = 2.59 sq km, how many square miles are in one square kilometer?</del></p>
				<div class="answer"></div>
			</li>
		</ol>
	</section>
	<section id="II.4">
		<h1 class="h-gamma">Week II.4 <span class="hsub standard-id">6.10d</span></h1>
		<ol>
			<li>
				<p>What is the volume of a cube with side length 3?</p>
				<div class="answer">27</div>
			</li>
			<li>
				<p>What is the surface area of a cube with side length 3?</p>
				<div class="answer">54</div>
			</li>
			<li>
				<p>What is the volume of a rectangular prism with length 3, width 5, and height 8?</p>
				<div class="answer">120</div>
			</li>
			<li>
				<p>What is the surface area of a rectangular prism with length 3, width 5, and height 8?</p>
				<div class="answer">158</div>
			</li>
			<li>
				<p>If the volume of a cube is 125, what is its side length?</p>
				<div class="answer">5</div>
			</li>
		</ol>
	</section>
	<section id="II.5">
		<h1 class="h-gamma">Week II.5 <span class="hsub standard-id">6.10b</span></h1>
		<ol>
			<li>
				<p>If the diameter of a circle is 2 cm, what is its circumference?</p>
				<div class="answer">2&pi; cm</div>
			</li>
			<li>
				<p>If the radius of a circle is 3 cm, what is its area?</p>
				<div class="answer">9&pi; sq cm</div>
			</li>
			<li>
				<p>If the radius of a circle is 5 cm, what is its circumference?</p>
				<div class="answer">10&pi; cm</div>
			</li>
			<li>
				<p>If the diameter of a circle is 8 cm, what is its area?</p>
				<div class="answer">16&pi; sq cm</div>
			</li>
			<li>
				<p>If the circumference of a circle is 34&pi; cm, what is its diameter?</p>
				<div class="answer">34 cm</div>
			</li>
		</ol>
	</section>
	<section id="II.6">
		<h1 class="h-gamma">Week II.6 <span class="hsub standard-id">6.??</span></h1>
		<ol>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
		</ol>
	</section>
	<section id="II.7">
		<h1 class="h-gamma">Week II.7 <span class="hsub standard-id">7.3a</span></h1>
		<ol>
			<li>
				<p>Write as an addition problem and evaluate:</p>
				<img alt="5 + -3 shown in counters"/>
				<div class="answer"><span class="latex">\(5+-3=2\)</span></div>
			</li>
			<li>
				<p>Write as a subtraction problem and evaluate:</p>
				<img alt="3 - 6 shown in counters"/>
				<div class="answer"><span class="latex">\(3-6=-3\)</span></div>
			</li>
			<li>
				<p>Write as an addition problem and evaluate:</p>
				<img alt="a number line showing –5+8"/>
				<div class="answer"><span class="latex">\(-5+8=3\)</span></div>
			</li>
			<li>
				<p>Draw a number line showing <span class="latex">\(-7+4\)</span> and evaluate.</p>
				<div class="answer">3</div>
			</li>
			<li>
				<p>Draw a number line showing <span class="latex">\(6-4\)</span> and evaluate.</p>
				<div class="answer">2</div>
			</li>
		</ol>
	</section>
	<section id="II.8">
		<h1 class="h-gamma">Week II.8 <span class="hsub standard-id">7.13b</span></h1>
		<ol>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[3+6\cdot-4\]</div>
				<div class="answer">-21</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[2\cdot8-\left(-3+9\right)\]</div>
				<div class="answer">10</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[10+\left(-5\right)^2\]</div>
				<div class="answer">35</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[-3\left(2\right)^3\]</div>
				<div class="answer">-24</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[-\left[9+\left(1-5\right)^2\right]\]</div>
				<div class="answer">-25</div>
			</li>
		</ol>
	</section>
	<section id="II.9">
		<h1 class="h-gamma">Week II.9 <span class="hsub standard-id">7.13b</span></h1>
		<ol>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[-5a\div 2; \quad a=6\]</div>
				<div class="answer">-15</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[5r-2d; \quad r=-2, d=5\]</div>
				<div class="answer">-20</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[6+5\left(y+g\right); \quad y=-12, g=5\]</div>
				<div class="answer">-29</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[-3b^3; \quad b=2\]</div>
				<div class="answer">-24</div>
			</li>
			<li>
				<p>Evaluate:</p>
				<div class="latex">\[-\left[9+\left(1-4d\right)^2\right]; \quad d=1\]</div>
				<div class="answer">-18</div>
			</li>
		</ol>
	</section>
</section>
<section id="QIII">
	<h1 class="h-beta">Quarter III</h1>
	<section id="III.2">
		<h1 class="h-gamma">Week III.2 <span class="hsub standard-id">7.14</span></h1>
		<ol>
			<li>
				<p>Solve:</p>
				<div class="latex">\[1-3x=19\]</div>
				<div class="answer"><span class="latex">\(x=-6\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[\frac{x}{2}-12=-7\]</div>
				<div class="answer"><span class="latex">\(x=10\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[\frac{-1}{4}x+15=13\]</div>
				<div class="answer"><span class="latex">\(x=8\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[4\left(x+21\right)=48\]</div>
				<div class="answer"><span class="latex">\(x=-9\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[\frac{x+42}{6}=-13\]</div>
				<div class="answer"><span class="latex">\(x=-120\)</span></div>
			</li>
		</ol>
	</section>
	<section id="III.3">
		<h1 class="h-gamma">Week III.3 <span class="hsub standard-id">7.15</span></h1>
		<ol>
			<li>
				<p>Solve:</p>
				<div class="latex">\[15+x\lt9\]</div>
				<div class="answer"><span class="latex">\(x\lt-6\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[x-4.5\ge-18\]</div>
				<div class="answer"><span class="latex">\(x\ge-13.5\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[3x\gt-81\]</div>
				<div class="answer"><span class="latex">\(x\gt-27\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[\frac{5}{2}x\le\frac{25}{2}\]</div>
				<div class="answer"><span class="latex">\(x\le5\)</span></div>
			</li>
			<li>
				<p>Solve:</p>
				<div class="latex">\[-2x\lt28\]</div>
				<div class="answer"><span class="latex">\(x\gt-14\)</span></div>
			</li>
		</ol>
	</section>
	<section id="III.4">
		<h1 class="h-gamma">Week III.4 <span class="hsub standard-id">7.??</span></h1>
		<ol>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
		</ol>
	</section>
	<section id="III.5">
		<h1 class="h-gamma">Week III.5 <span class="hsub standard-id">7.12</span></h1>
		<ol>
			<li>
				<p>Using the rule <span class="latex">\(y=x+4\)</span>, fill in the table:</p>
				<table>
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-2</td><td>  </td></tr>
					<tr><td> 0</td><td>  </td></tr>
					<tr><td> 1</td><td>  </td></tr>
					<tr><td>  </td><td> 7</td></tr>
				</table>
				<table class="answer">
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-2</td><td> 2</td></tr>
					<tr><td> 0</td><td> 4</td></tr>
					<tr><td> 1</td><td> 5</td></tr>
					<tr><td> 3</td><td> 7</td></tr>
				</table>
			</li>
			<li>
				<p>Using the rule <span class="latex">\(y=-x+7\)</span>, fill in the table:</p>
				<table>
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-5</td><td>  </td></tr>
					<tr><td> 1</td><td>  </td></tr>
					<tr><td> 3</td><td>  </td></tr>
					<tr><td>  </td><td> 3</td></tr>
				</table>
				<table class="answer">
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-5</td><td>12</td></tr>
					<tr><td> 1</td><td> 6</td></tr>
					<tr><td> 3</td><td> 4</td></tr>
					<tr><td> 4</td><td> 3</td></tr>
				</table>
			</li>
			<li>
				<p>Use the table below to determine the rule that relates <span class="latex">\(x\)</span> and <span class="latex">\(y\)</span>.</p>
				<table>
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-1</td><td>-4</td></tr>
					<tr><td> 0</td><td>-1</td></tr>
					<tr><td> 2</td><td> 5</td></tr>
					<tr><td> 5</td><td>14</td></tr>
				</table>
				<div class="answer"><span class="latex">\(y=3x-1\)</span></div>
			</li>
			<li>
				<p>Use the table below to determine the rule that relates <span class="latex">\(x\)</span> and <span class="latex">\(y\)</span>.</p>
				<table>
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-4</td><td> 0</td></tr>
					<tr><td> 0</td><td> 2</td></tr>
					<tr><td> 2</td><td> 3</td></tr>
					<tr><td> 6</td><td> 5</td></tr>
				</table>
				<div class="answer"><span class="latex">\(y=\frac{1}{2}x+2\)</span></div>
			</li>
			<li>
				<p>Use the table below to determine the rule that relates <span class="latex">\(x\)</span> and <span class="latex">\(y\)</span>.</p>
				<table>
					<tr>
						<th><span class="latex">\(x\)</span></th>
						<th><span class="latex">\(y\)</span></th>
					</tr>
					<tr><td>-3</td><td>11</td></tr>
					<tr><td>-2</td><td> 9</td></tr>
					<tr><td> 0</td><td> 5</td></tr>
					<tr><td> 1</td><td> 3</td></tr>
				</table>
				<div class="answer"><span class="latex">\(y=-2x+5\)</span></div>
			</li>
		</ol>
	</section>
	<section id="III.6" class="star">
		<h1 class="h-gamma">Week III.6 <span class="hsub standard-id">7.16</span></h1>
		<ol>
			<li>
				<p>Identify the property illustrated below.</p>
				<div class="latex">\[\left(37+14\right)+25=25+\left(14+37\right)\]</div>
				<div class="answer">Commutative Property of Addition</div>
			</li>
			<li>
				<p>Identify the property used below.</p>
				<div class="latex">\[52+7=50+9\]</div>
				<div class="answer">Associative Property of Addition</div>
			</li>
			<li>
				<p>Identify the property used below.</p>
				<div class="latex">\[32 \cdot 4 = 120+8\]</div>
				<div class="answer">Distributive Property</div>
			</li>
			<li>
				<p>Identify the property used below.</p>
				<div class="latex">\[324+\left(361 \cdot 0\right)=324+0\]</div>
				<div class="answer">Commutative Property of Addition</div>
			</li>
			<li>
				<p>Use the Associative Property of Multiplication to complete the equation.</p>
				<div class="latex">\[2 \cdot 12 = \square \cdot 4\]</div>
				<div class="answer"><span class="latex">\(2 \cdot 12 = 6 \cdot 4\)</span></div>
			</li>
		</ol>
	</section>
	<section id="III.7">
		<h1 class="h-gamma">Week III.7 <span class="hsub standard-id">7.16</span></h1>
		<ol>
			<li>
				<p>Use the Associative Property of Addition to complete the equation.</p>
				<div class="latex">\[52+7=\square+9\]</div>
				<div class="answer"><span class="latex">\(52+7=50+9\)</span></div>
			</li>
			<li>
				<p>Complete the equation.</p>
				<div class="latex">\[53-48=50-\square\]</div>
				<div class="answer"><span class="latex">\(53-48=50-45\)</span></div>
			</li>
			<li>
				<p>Use the Associative Property of Multiplication to complete the equation.</p>
				<div class="latex">\[2 \cdot 12 = \square \cdot 4\]</div>
				<div class="answer"><span class="latex">\(2 \cdot 12 = 6 \cdot 4\)</span></div>
			</li>
			<li>
				<p>Complete the equation.</p>
				<div class="latex">\[48 \div 6 = \square \div 2\]</div>
				<div class="answer"><span class="latex">\(48 \div 6 = 16 \div 2\)</span></div>
			</li>
			<li>
				<p>Complete the equation.</p>
				<div class="latex">\[\frac{15}{20} = \frac{3}{\square}\]</div>
				<div class="answer"><span class="latex">\(\frac{15}{20} = \frac{3}{4}\)</span></div>
			</li>
		</ol>
	</section>
</section>
<section id="QIV">
	<h1 class="h-beta">Quarter IV</h1>
</section>
</div>
</body>
</html>
