---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Daily Warmups &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="Daily warmups for Grade 7 math students."/>
<link rel="stylesheet" href="../secondary-ed.css"/>
<style>
.standard-id:before {content: '(';}
.standard-id:after {content: ')';}
ol.answerchoices {list-style-type: upper-alpha;}
.answer {font-style: italic; font-weight: bold; font-size: smaller;}
.answer:before {content: 'answer: ';}
</style>
{% include all-js.html %}
</head>
<body id="warmupsdothtml">
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Math 7 Daily Warmups</h1>
	<p class="timestamp">Updated <time datetime="2014-01-05T11:06">Jan 5, 2014</time>.</p>
</header>
<div class="undoP1-midright">
	<table class="table-list">
		<thead>
			<tr>
				<th>Week</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
		</thead>
		<tbody>
			<tr id="I.3">
				<td>
					<span class="weekno">I.3</span>
					<span class="standard-id">6.18</span>
				</td>
				<td>
					Solve: <span class="latex">\(x+13=22\)</span>
					<div class="answer"><span class="latex">\(x=9\)</span></div>
				</td>
				<td>
					Solve: <span class="latex">\(5x=75\)</span>
					<div class="answer"><span class="latex">\(x=15\)</span></div>
				</td>
				<td>
					Solve: <span class="latex">\(2x+1=11\)</span>
					<div class="answer"><span class="latex">\(x=5\)</span></div>
				</td>
				<td>
					Charlie spent $27 on three movie tickets. On average, how much did each ticket cost?
					<div class="answer">$9</div>
				</td>
				<td>
					If <span class="latex">\(x\)</span> is between <span class="latex">\(3\)</span> and <span class="latex">\(4\)</span>, what two numbers is <span class="latex">\(x^2\)</span> between?
					<div class="answer">between <span class="latex">\(9\)</span> and <span class="latex">\(16\)</span></div>
				</td>
			</tr>
			<tr id="I.4">
				<td>
					<span class="weekno">I.4</span>
					<span class="standard-id">6.17</span>
				</td>
				<td></td>
				<td>
					Find the next term in the sequence: <span class="latex">\(\left\{2,5,8,11,\dots\right\}\)</span>
					<div class="answer"><span class="latex">\(14\)</span></div>
				</td>
				<td>
					Find the fifth term in the sequence: <span class="latex">\(\left\{3,6,12,\dots\right\}\)</span>
					<div class="answer"><span class="latex">\(48\)</span></div>
				</td>
				<td>
					In the sequence <span class="latex">\(\left\{2,4,6,8,\dots\right\}\)</span>, which term is the number <span class="latex">\(20\)</span>?
					<div class="answer">the tenth term</div>
				</td>
				<td>
					In a geometric sequence, the first term is <span class="latex">\(2\)</span> and the second term is <span class="latex">\(6\)</span>. What is the third term?
					<div class="answer"><span class="latex">\(18\)</span></div>
				</td>
			</tr>
			<tr id="I.5">
				<td>
					<span class="weekno">I.5</span>
					<span class="standard-id">6.13</span>
				</td>
				<td>
					Select all <em>true</em> statements about any parallelogram:
					<ol class="answerchoices" style="background-color: #ff0;">
						<li>the opposite sides are parallel</li>
						<li>the opposite sides are congruent</li>
						<li>the opposite angles are congruent</li>
						<li>the diagonals are congruent</li>
						<li>the diagonals are perpendicular</li>
						<li>the diagonals bisect each other</li>
					</ol>
					<div class="answer">ABCF</div>
				</td>
				<td>
					Select all <em>true</em> statements about any trapezoid:
					<div class="answer">none</div>
				</td>
				<td>
					Select all <em>true</em> statements about any rectangle:
					<div class="answer">ABCDF</div>
				</td>
				<td>
					Select all <em>true</em> statements about any rhombus:
					<div class="answer">ABCEF</div>
				</td>
				<td>
					Select all <em>true</em> statements about any square:
					<div class="answer">all</div>
				</td>
			</tr>
			<tr id="I.6">
				<td>
					<span class="weekno">I.6</span>
					<span class="standard-id">6.15</span>
				</td>
				<td>
					Find the mean of the following data set:
					<div class="latex">\[490, 500, 495, 510, 505, 490, 510\]</div>
					<div class="answer"><span class="latex">\(500\)</span></div>
				</td>
				<td>
					Use the plot below to find the mean of the data set.
					<img alt="plot with six x's on 3 and four x's on 8"/>
					<div class="answer"><span class="latex">\(5\)</span></div>
				</td>
				<td>
					Order the mean, median, and mode of the data set from least to greatest.
					<div class="latex">\[18, 20, 21, 15, 16, 20, 17\]</div>
					<div class="answer">median = 18, mean = 18.14, mode = 20</div>
				</td>
				<td>
					What missing data value will make the mean of the data set <span class="latex">\(40\)</span>?
					<div class="latex">\[35, 36, 39, 40, \dots, 44, 45\]</div>
					<div class="answer"><span class="latex">\(41\)</span></div>
				</td>
				<td>
					A diver receives five scores from the judges:
					<div class="latex">\[4.5, 7.0, 7.5, 8.0, 8.5\]</div>
					Which measure of central tendency is the best choice for the diver's final score: mean, median, or mode?
					<div class="answer">median = 7.5</div>
				</td>
			</tr>
			<tr id="I.7">
				<td>
					<span class="weekno">I.7</span>
					<span class="standard-id">6.20</span>
				</td>
				<td>
					On a number line, graph the inequality: <span class="latex">\(x \le 5\)</span>
					<div class="answer"></div>
				</td>
				<td>
					On a number line, graph the inequality: <span class="latex">\(x \gt 3\)</span>
					<div class="answer"></div>
				</td>
				<td>
					On a number line, graph the inequality: <span class="latex">\(-3 \lt x \le 5\)</span>
					<div class="answer"></div>
				</td>
				<td>
					Write an inequality for the following graph:
					<img alt="graph showing \(x \lt -3\)"/>
					<div class="answer"><span class="latex">\(x \lt -3\)</span></div>
				</td>
				<td>
					Write an inequality for the following graph:
					<img alt="graph showing \(-4 \le x \lt 6\)"/>
					<div class="answer"><span class="latex">\(-4 \le x \lt 6\)</span></div>
				</td>
			</tr>
			<tr id="I.8">
				<td>
					<span class="weekno">I.8</span>
					<span class="standard-id">6.19</span>
				</td>
				<td>
					Use the Inverse Properties of Addition and Multiplication to complete the following equations:
					<div class="latex">\[
						4 + \dots = 0\\
						5 \times \dots = 1
					\]</div>
					<div class="answer"><span class="latex">\(-4\)</span>, <span class="latex">\(\frac{1}{5}\)</span></div>
				</td>
				<td>
					Write two equations: showing the Identity Property of Addition, and the Identity Property of Multiplication.
					<div class="answer"></div>
				</td>
				<td>
					Which statement is true?
					<ol class="answerchoices">
						<li><span class="latex">\(7+0=0\)</span>
						<li><span class="latex">\(7-0=0\)</span>
						<li><span class="latex">\(7\times 0=0\)</span>
						<li><span class="latex">\(7\div 0=0\)</span>
					</ol>
					<div class="answer">C</div>
				</td>
				<td>
					Use the Associative Property of Addition to complete the equation:
					<div class="latex">\[a+\left(b+c\right)=\]</div>
					<div class="answer"><span class="latex">\(\left(a+b\right)+c\)</span></div>
				</td>
				<td>
					Use the Commutative Property of Addition to complete the equation:
					<div class="latex">\[a+\left(b+c\right)=\]</div>
					<div class="answer">
						<span class="latex">\(a+\left(c+b\right)\)</span>
						or
						<span class="latex">\(\left(b+c\right)+a\)</span>
						or
						<span class="latex">\(\left(c+b\right)+a\)</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</body>
</html>
