-
  var Styleguide = (function () {
    function Styleguide() {}
    Styleguide.PAGES = [
      { name: 'Mathematical Background', url: 'phi.html'}
    , { name: 'Coding Style'           , url: 'code.html' }
    , { name: 'Site Schemes'           , url: 'visual.html' }
    , { name: 'Base Typography'        , url: 'base.html' }
    , { name: 'Objects'                , url: 'obj.html' }
    , { name: 'Typo Components'        , url: 'comp-typo.html' }
    , { name: 'UI Components'          , url: 'comp-ui.html' }
    , { name: 'Helpers'                , url: 'help.html' }
    , { name: 'Atoms'                  , url: 'atom.html' }
    ]
    Styleguide.getPage = function getPage(url) {
      return Styleguide.PAGES.find(function (item) { return item.url === url })
    }
    return Styleguide
  })()
