---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 4 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Rational Numbers and Proportions unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 4: Rational Numbers &amp; Proportions</h1>
	<p class="timestamp">Updated <time datetime="2014-01-09T22:28">Jan 9, 2014</time>.</p>
	<p class="prose">In this unit, students' learning will center on proportional reasoning. Students will explore different representations of positive rational numbers, familiarize their placement with respect to each other in a total order, and make connections between magnitude and order. They will also investigate the concepts of ratio and proportion, and use these to solve practical problems involving real-world scenarios, including two- and three-dimensional geometric figures.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="squares">
		<h1 class="h-gamma">Perfect Squares</h1>
		<ul>
			<li>Represent perfect squares and square roots geometrically.
				<ul>
					<li>Select or write an appropriate equation represented by a given diagram. Equations will be of the form <span class="latex">\(a^2=A\)</span> or <span class="latex">\(\sqrt{A}=a\)</span> (where <span class="latex">\(a\)</span> is an integer between 0 and 20).</li>
					<li>Find the side length of a square with a given area.</li>
					<li>Find the area of a square with a given side length.</li>
				</ul>
			</li>
			<li>Determine the square of an integer <span class="latex">\(a\)</span> between 0 and 20.
				<ul>
					<li>Expand <span class="latex">\(a^2\)</span> into factors.</li>
					<li>Evaluate <span class="latex">\(a^2\)</span>.</li>
				</ul>
			</li>
			<li>Determine the positive square root of a perfect square <span class="latex">\(A\)</span> between 0 and 400 (that is, <span class="latex">\(A=a^2\)</span> for some integer <span class="latex">\(a\)</span> between 0 and 20).
				<ul>
					<li>Evaluate <span class="latex">\(\sqrt{A}\)</span>.</li>
					<li class="optional">Evaluate <span class="latex">\(\sqrt{\left(a^2\right)}\)</span>.</li>
					<li class="optional">Evaluate <span class="latex">\(\left(\sqrt{A}\right)^2\)</span>.</li>
				</ul>
			</li>
		</ul>			
	</section>
	<section id="abs-val">
		<h1 class="h-gamma">Absolute Value</h1>
		<ul>
			<li>Describe the absolute value of a rational number as the distance between that number and zero on the number line.</li>
			<li>Evaluate the absolute value of a rational number.</li>
			<li>Identify true and false equations containing absolute values. Equations will be of the form <span class="latex">\(\left|p\right|=q\)</span> or <span class="latex">\(p=\left|q\right|\)</span>, where <span class="latex">\(p\)</span> and <span class="latex">\(q\)</span> are (positive or negative) rational numbers.</li>
			<li>Represent the distance between two rational numbers using absolute value. <span class="teachernote">If <span class="latex">\(p\)</span> and <span class="latex">\(q\)</span> are rational numbers, then the distance between <span class="latex">\(p\)</span> and <span class="latex">\(q\)</span> is calculated by <span class="latex">\(\left|p-q\right|\)</span>. Note that <span class="latex">\(\left|p-q\right|=\left|q-p\right|\)</span>.</span></li>
		</ul>
	</section>
	<section id="scientificnotation">
		<h1 class="h-gamma">Scientific Notation</h1>
		<ul class="draft">
			<li>Convert among decimals, percents, fractions, and scientific notation.</li>
			<li>Compare decimals, percents, fractions, and scientific notation.</li>
			<li>Order decimals, percents, fractions, and scientific notation.</li>
		</ul>
		<ol class="draft">
			<li>Compare (determine which is greater) decimals to decimals; percents to percents; and decimals to percents.</li>
			<li>Compare fractions to fractions.</li>
			<li>Represent powers of ten as fractions and decimals.
				<ul>
					<li>Exponents will be integers between -12 and 12.</li>
					<li>Fractions will be in simplest form, or in the form of <span class="latex">\(\frac{1}{10^a}\)</span>, where <span class="latex">\(a\)</span> is an integer.</li>
					<li>Decimals will be limited to the thousandths place.</li>
				</ul>
			</li>
			<li>Convert between scientific notation and decimals.</li>
			<li>Convert between scientific notation and fractions.</li>
			<li>Convert between fractions and decimals.</li>
			<li>Order decimals, percents, fractions, and scientific notation.</li>
		</ol>
	</section>
	<section id="proportions">
		<h1 class="h-gamma">Proportions</h1>
		<ul class="draft">
			<li>Solve practical problems using proportional reasoning.</li>
			<li>Determine whether two polygons are similar.</li>
			<li>Write proportions to express relationships between corresponding sides of similar polygons.</li>
			<li>Polygons will be limited to triangles and quadrilaterals.</li>
			<li>Calculate the volume and surface area of a given rectangular prism and cylinder. A rectangular prism and a cylinder may be represented as a diagram (a 3D projection onto a 2D surface) or as a net that is comprised of the faces of the solid.</li>
			<li>Solve practical problems involving the volume and surface area of rectangular prisms and cylinders.</li>
			<li>Determine whether a problem calls for the application of volume or surface area.</li>
			<li>Describe how the volume and surface area of a rectangular prism are affected by a change in one measured attribute (either length, width, or height). The attribute will be changed by a scale factor only.
		</ul>
	</section>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="vocablist">
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li class="cat-hwcw"><a class="sp" href="https://docs.google.com/document/d/1wllt4GnxBVOh1pfX8e3Gq_ftIvBvzYANDCNFqCyH5Ow/edit?usp=sharing">Unit 4 Homework Log</a></li>
		<li><a>Lesson 4.1: Perfect Squares</a></li>
		<li><a>Lesson 4.2: Absolute Value</a></li>
		<li><a>Lesson 4.3: Decimals, Percents, and Fractions</a></li>
		<li><a>Lesson 4.4: Powers of Ten</a></li>
		<li><a>Lesson 4.5: Scientific Notation</a></li>
		<li><a>Lesson 4.6: Ordering Rational Numbers</a></li>
		<li><a>Lesson 4.7: Ratios and Proportions</a></li>
		<li><a>Lesson 4.8: Similar Polygons</a></li>
		<li><a>Lesson 4.9: Rectangular Prisms</a></li>
		<li><a>Lesson 4.10: Cylinders</a></li>
		<li class="cat-test"><a href="test-v1.html">Test 4 v1</a></li>
		<li class="cat-test"><a href="test-v2.html">Test 4 v2</a></li>
	</ol>
</section>
</div>
</body>
</html>
