---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 3 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Rational Numbers and Proportions unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 3: Rational Numbers &amp; Proportions</h1>
	<p class="timestamp">Updated <time datetime="2014-02-26T04:57">Feb 26, 2014</time>.</p>
	<p class="prose">In this unit, students' learning will center on proportional reasoning. Students will explore different representations of positive rational numbers, familiarize their placement with respect to each other in a total order, and make connections between magnitude and order. They will also investigate the concepts of ratio and proportion, and use these to solve practical problems involving real-world scenarios.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="rationals">
		<h1 class="h-gamma">Rational Numbers <span class="caution">No Calculator</span></h1>
		<ol>
			<li>Convert integral powers of ten among multiple forms of representation. Exponents will be integers between -12 and 12.
				<ul>
					<li>Convert a positive power of ten (<span class="latex">\(10^n\)</span>, where <span class="latex">\(n\)</span> is an integer between 1 and 12) among the following:
						<dl class="dltable60 u3-powerforms">
							<dt>exponent form</dt>
							<dd><div class="latex informal">\[10^3\]</div></dd>
							<dt>expanded form (repeated multiplication)</dt>
							<dd><div class="latex informal">\[10 \cdot 10 \cdot 10\]</div></dd>
							<dt>standard form</dt>
							<dd><div class="latex informal">\[1000\]</div></dd>
						</dl>
					</li>
					<li>Convert a negative power of ten (<span class="latex">\(10^n\)</span>, where <span class="latex">\(n\)</span> is an integer between -1 and -12) among the following:
						<dl class="dltable60 u3-powerforms">
							<dt>exponent form</dt>
							<dd><div class="latex informal">\[10^{-3}\]</div></dd>
							<dt>standard form</dt>
							<dd><div class="latex informal">\[0.001\]</div></dd>
							<dt>simplest fraction form</dt>
							<dd><div class="latex informal">\[\frac{1}{1000}\]</div></dd>
							<dt hidden="">expanded fraction form</dt>
							<dd hidden=""><div class="latex informal">\[\frac{1}{10 \cdot 10 \cdot 10}\]</div></dd>
							<dt>exponential fraction form</dt>
							<dd><div class="latex informal">\[\frac{1}{10^3}\]</div></dd>
							<dt class="ov-deletional">expansion of fraction form (repeated multiplication)</dt>
							<dd class="ov-deletional"><div class="latex informal">\[\frac{1}{10} \cdot \frac{1}{10} \cdot \frac{1}{10}\]</div></dd>
							<dt hidden="">exponent of a fraction form</dt>
							<dd hidden=""><div class="latex informal">\[\left(\frac{1}{10}\right)^3\]</div></dd>
						</dl>
					</li>
					<li>Investigate the identity <span class="latex">\(10^0=1\)</span> through the use of patterns.</li>
				</ul>
			</li>
			<li>Convert between scientific notation and decimals. Scientific notation will be in the form <span class="latex">\(c \times 10^n\)</span>, where <span class="latex">\(c\)</span> is a rational number <span class="latex">\(1 \le c \lt 10\)</span>, whose decimal is limited to the thousandths place, and <span class="latex">\(n\)</span> is an integer <span class="latex">\(-12 \le n \le 12\)</span>.</li>
			<li>Convert between decimals, percents, and fractions.</li>
			<li>Compare decimals, percents, and scientific notation (among all three forms).</li>
			<li class="ov-optional">Compare fractions to fractions, without converting to decimals. Denominators will be integers between 2 and 12.
				<ul>
					<li>Compare fractions with the same numerator.</li>
					<li>Compare fractions with the same denominator.</li>
					<li>Compare fractions with different numerators and denominators.</li>
				</ul>
			</li>
			<li>Compare fractions to fractions by converting to decimals. Denominators will be integers between 2 and 12.</li>
			<li>Order decimals, percents, fractions, and scientific notation, given four rational numbers in any form.</li>
		</ol>
	</section>
	<section id="abs-val" class="ov-deletional">
		<h1 class="h-gamma">Absolute Value</h1>
		<ul>
			<li>Describe the absolute value of a rational number as the distance between that number and zero on the number line.</li>
			<li>Evaluate the absolute value of a rational number.</li>
			<li>Identify true and false equations containing absolute values. Equations will be of the form <span class="latex">\(\left|p\right|=q\)</span>, <span class="latex">\(p=\left|q\right|\)</span>, or <span class="latex">\(\left|p\right|=\left|q\right|\)</span>, where <span class="latex">\(p\)</span> and <span class="latex">\(q\)</span> are (positive or negative) rational numbers.</li>
			<li>Represent the distance between two rational numbers using absolute value. <span class="ov-teachernote">If <span class="latex">\(p\)</span> and <span class="latex">\(q\)</span> are rational numbers, then the distance between <span class="latex">\(p\)</span> and <span class="latex">\(q\)</span> is calculated by <span class="latex">\(\left|p-q\right|\)</span>. Note that <span class="latex">\(\left|p-q\right|=\left|q-p\right|\)</span>.</span></li>
		</ul>
	</section>
	<section id="money">
		<h1 class="h-gamma">Tax, Tips, and Discounts</h1>
		<ul>
			<li>Given the original price of a purchase and the tax, tip, or discount rate, find
				<ul>
					<li>either the amount paid for tax or tip, or the amount saved from the discount, and</li>
					<li>the total cost of the purchase.</li>
				</ul>
			</li>
			<li class="ov-optional">Given an original price and the total cost, find the tax/tip/discount rate for the sale.</li>
			<li class="ov-optional">Given the tax/tip/discount rate of a purchase and the total cost, find the original price. <span class="ov-teachernote">If <span class="latex">\(t\)</span> represents the total cost and <span class="latex">\(r\)</span> represents the rate, then the original price is given by <span class="latex">\(t/\left(1+r\right)\)</span> if <span class="latex">\(r\)</span> is tax/tip, but <span class="latex">\(t/\left(1-r\right)\)</span> if <span class="latex">\(r\)</span> is a discount.</span></li>
			<li class="ov-optional">Solve a multistep problem in which a discount, a tax rate, and a tip rate are applied, in that order.</li>
		</ul>
	</section>
	<section id="proportions">
		<h1 class="h-gamma">Ratios, Rates, and Proportions</h1>
		<ul>
			<li>Distinguish between ratios, rates, and proportions.</li>
			<li>Determine the unit rate of a given rate.</li>
			<li>Compare (decide which is greater) two ratios or rates, and determine if they are equivalent. <span class="ov-teachernote">Two ratios/rates are equivalent (equal) if and only if they form a proportion.</span></li>
			<li>Solve a proportion of the form <span class="latex">\(\frac{a}{b}=\frac{x}{c}\)</span> or <span class="latex">\(\frac{a}{b}=\frac{c}{x}\)</span>, where <span class="latex">\(x\)</span> is unknown.</li>
			<li>Write and solve a proportion that corresponds to a given word problem.</li>
			<li>Use proportional reasoning to solve practical problems involving converting units betewen the U.S. Customary and Metric systems.</li>
		</ul>
	</section>
	<section id="scales">
		<h1 class="h-gamma">Scale Drawings</h1>
		<ul>
			<li>Use proportional reasoning to solve practical problems involving scale drawings (of maps, floorplans, <i lang="la"><abbr title="et cetera">etc.</abbr></i>).</li>
			<li class="draft">Determine whether two polygons are similar. Polygons will be limited to triangles and quadrilaterals.</li>
			<li class="draft">Write proportions to express relationships between corresponding sides of similar polygons.</li>
		</ul>
	</section>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="vocablist">
		<dt>power</dt>
		<dt>exponent</dt>
		<dt>base</dt>
		<dt>coefficient</dt>
		<dt>scientific notation</dt>
		<dt>numerator</dt>
		<dt>denominator</dt>
		<dt>perentage</dt>
		<dt>less than</dt>
		<dt>greater than</dt>
		<dt><i class="scare">small</i> number</dt>
		<dd>a number between 0 and 1</dd>
		<dt><i class="scare">medium</i> number</dt>
		<dd>a number between 1 and 10</dd>
		<dt><i class="scare">large</i> number</dt>
		<dd>a number greater than 10</dd>
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li class="cat-hw"><a class="sp" href="https://docs.google.com/document/d/1wllt4GnxBVOh1pfX8e3Gq_ftIvBvzYANDCNFqCyH5Ow/edit?usp=sharing">Unit 3 Homework Log</a></li>
		<li><a>Lesson 3.1: Powers of Ten</a></li>
		<li><a>Lesson 3.2: Converting Scientific Notation</a></li>
		<li><a>Lesson 3.3: Converting Decimals, Percents, and Fractions</a></li>
		<li><a>Lesson 3.4: Ordering Rational Numbers</a></li>
		<li><a>Lesson 3.5: Absolute Value</a></li>
		<li><a>Lesson 3.6: Tax, Tips, and Discounts</a></li>
		<li><a>Lesson 3.7: Ratios and Rates</a></li>
		<li><a>Lesson 3.8: Solving Proportions</a></li>
		<li class="draft"><a>Lesson 3.9: Similar Polygons</a></li>
		<li class="cat-proj"><a href="test-v1.html">Test 3 v1</a></li>
		<li class="cat-proj"><a href="test-v2.html">Test 3 v2</a></li>
	</ol>	
</section>
</div>
</body>
</html>
