/* CSS Document for all technology tool pages */
@import url('../images/TechPort.css');
body,td,th {
	font-family: 'Futura';
	color: #FFF5C8;
}
body {
	background-color: #802E50;
}
a:link {
	color: #66FFFF;
}
a:visited {
	color: #33CC00;
}
h1 {
	text-align: center;
}
.techbutton {
	border: thick outset #66FFFF;
}
.techbutton:active {
	border-style: inset;
}