@import url('../../node_modules/normalize.css/normalize.css');
/*################*\
    default.less
\*################*/
/*##################*\
    _settings.less
\*##################*/
html {
  font-size: 100%;
  line-height: 1.5;
}
/*##################*\
    _sections.less
\*##################*/
/*@SECTIONS*/
body {
  margin: 0 0 1.5rem;
}
main {
  margin: 0 1rem 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
}
h1 {
  font-size: 2rem;
  line-height: 0.75;
  padding-top: 1.5rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.2;
}
h4 {
  font-size: 1rem;
  line-height: 1.5;
}
h5 {
  font-size: 0.75rem;
  line-height: 2;
}
h6 {
  font-size: 0.625rem;
  line-height: 2.4;
}
address {
  font-style: inherit;
}
/*##################*\
    _grouping.less
\*##################*/
/*@GROUPING CONTENT*/
hr {
  display: none;
}
p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem;
}
/*@Paragraph-Like Content*/
figure,
blockquote,
pre {
  margin: 0 1rem 1.5rem;
}
/*@Lists*/
ol,
ul {
  padding: 0 0 0 4rem;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
dd + dt {
  padding-top: 1.5rem;
}
/*@Tables*/
th {
  text-align: center;
}
/*####################*\
    _text-level.less
\*####################*/
/*@TEXT-LEVEL SEMANTICS*/
a,
br,
em,
strong,
i,
mark,
u,
small,
s,
dfn,
b,
var,
q,
cite,
sup,
sub,
data,
abbr,
time,
code,
kbd,
samp {
  line-height: 0;
}
a:not([href]) {
  opacity: 0.5;
}
br {
  display: none;
}
address > br {
  display: inline;
}
/*@Stressed Text*/
i:not([lang]) {
  quotes: '\201c' '\201d';
}
i:not([lang])::before {
  content: open-quote;
}
i:not([lang])::after {
  content: close-quote;
}
u {
  text-decoration: none;
  color: #080;
}
small {
  font-size: 0.75em;
}
s {
  color: #e00;
}
/*@Documentation and Edits*/
ins {
  background: #a6f3a6;
}
del {
  background: #f8cbcb;
}
dfn {
  font-style: inherit;
  font-weight: bold;
}
sup,
sub {
  font-size: 0.75em;
}
/*@Machine-Readable Text*/
abbr[title] {
  cursor: help;
}
code,
kbd,
samp {
  font-size: 0.75em;
  white-space: nowrap;
}
/*##################*\
    _embedded.less
\*##################*/
/*@EMBEDDED CONTENT*/
/*###############*\
    _forms.less
\*###############*/
/*@FORMS*/
