---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Standards-Based Quizzes &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A list of the State of Virginia Standards of Learning for Grade 7 and corresponding assessments.."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
li ol {list-style-type: lower-alpha;}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Standards-Based Quizzes</h1>
	<p class="timestamp">Updated <time datetime="2013-11-19T00:10">Nov 19, 2013</time>.</p>
	<p class="prose">This page includes links to standards-based quizzes for each Math 7 VA SOL.</p>
</header>
<ol class="list-basic">
	<li><span id="7.2" class="standard-id">7.2</span> The student will describe and represent arithmetic and geometric sequences, using variable expressions.
		<ul class="list-action cat-sbg">
		</ul>
	</li>
	<li><span id="7.3" class="standard-id">7.3</span> The student will
		<ol>
			<li>model addition, subtraction, multiplication, and division of integers; and</li>
			<li>add, subtract, multiply, and divide integers.</li>
		</ol>
		<ul class="list-action cat-sbg">
		</ul>
	</li>
	<li><span id="7.12" class="standard-id">7.12</span> The student will represent relationships with tables, graphs, rules, and words.
		<ul class="list-action cat-sbg">
		</ul>
	</li>
	<li><span id="7.13a" class="standard-id">7.13a</span> The student will write verbal expressions as algebraic expressions and sentences as equations and vice versa.
		<ul class="list-action cat-sbg">
		</ul>
	</li>
	<li><span id="7.13b" class="standard-id">7.13b</span> The student will evaluate algebraic expressions for given replacement values of the variables.
		<ul class="list-action cat-sbg">
			<li><a href="../standards-based-grading/sbg-713b-v1.html">Version 1</a></li>
			<li><a href="../standards-based-grading/sbg-713b-v2.html">Version 2</a></li>
			<li><a href="../standards-based-grading/sbg-713b-v3.html">Version 3</a></li>
		</ul>
	</li>
	<li><span id="7.14" class="standard-id">7.14</span> The student will
		<ol>
			<li>solve one- and two-step linear equations in one variable; and</li>
			<li>solve practical problems requiring the solution of one- and two-step linear equations.</li>
		</ol>
		<ul class="list-action cat-sbg">
			<li><a href="../standards-based-grading/sbg-714-v1.html">Version 1</a></li>
		</ul>
	</li>
	<li><span id="7.15" class="standard-id">7.15</span> The student will
		<ol>
			<li>solve one-step inequalities in one variable; and</li>
			<li>graph solutions to inequalities on the number line.</li>
		</ol>
		<ul class="list-action cat-sbg">
		</ul>
	</li>
	<li><span id="7.16" class="standard-id">7.16</span> The student will apply the following properties of operations with real numbers:
		<ol>
			<li>the commutative and associative properties for addition and multiplication;</li>
			<li>the distributive property</li>
			<li>the additive and multiplicative identity properties;</li>
			<li>the additive and multiplicative inverse properties; and </li>
			<li>the multiplicative property of zero.</li>
		</ol>
		<ul class="list-action cat-sbg">
			<li><a href="../standards-based-grading/sbg-716-v1.html">Version 1</a></li>
			<li><a href="../standards-based-grading/sbg-716-v2.html">Version 2</a></li>
		</ul>
	</li>
</ol>
</div>
</body>
</html>
