---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SBG 7.15 v2 &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
.numberline {
	width: 100%;
}
</style>
{% include all-js.html %}
</head>
<body class="assessment cat-sbg">
{% include masthead.html %}
<div class="main">
<header>
	<div class="quizheading">
		<p>Math 7 &mdash; Mr. Harvey</p>
		<h1 class="h-alpha">Standard 7.15 v2</h1>
	</div>
	<form class="studentheading">
		<label>
			<span>Name:</span>
			<input id="name" type="text" required=""/>
		</label>
		<label>
			<span>Date:</span>
			<input id="date" type="date" required=""/>
		</label>
		<label>
			<span>Period:</span>
			<input id="period" type="number" required=""/>
		</label>
	</form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work.</p>
<form autocomplete="off">
	<p class="directions">#1&ndash;3: <span class="verb">Select</span> <em><em>all</em></em> answer choices that apply to each question.</p>
	<ol class="problemset">
		<li class="select-multiple">
			<p>Which of the following values are solutions to the inequality below?</p>
			<p><small>Select all that apply.</small></p>
			<div class="latex">\[x\lt-3\]</div>
			<fieldset>
				<ol class="answerchoices">
					<li>
						<label>
							<input id="q1a1" type="checkbox"/>
							<span class="latex">\(-6\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q1a2" type="checkbox"/>
							<span class="latex">\(-3\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q1a3" type="checkbox"/>
							<span class="latex">\(1\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id=">q1a4" type="checkbox"/>
							<span class="latex">\(0\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q1a5" type="checkbox"/>
							<span class="latex">\(3\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q1a6" type="checkbox"/>
							<span class="latex">\(6\)</span>
						</label>
					</li>
				</ol>
			</fieldset>
		</li>
		<li class="select-multiple">
			<p>Which of the following values are solutions to the inequality graphed below?</p>
			<p><small>Select all that apply.</small></p>
			<img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with a closed circle on 3 and an arrow pointing to the right"/>
			<fieldset>
				<ol class="answerchoices">
					<li>
						<label>
							<input id="q2a1" type="checkbox"/>
							<span class="latex">\(0\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q2a2" type="checkbox"/>
							<span class="latex">\(1\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q2a3" type="checkbox"/>
							<span class="latex">\(2\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id=">q2a4" type="checkbox"/>
							<span class="latex">\(3\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q2a5" type="checkbox"/>
							<span class="latex">\(4\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q2a6" type="checkbox"/>
							<span class="latex">\(5\)</span>
						</label>
					</li>
				</ol>
			</fieldset>
		</li>
		<li class="select-multiple">
			<p>Which of the following values are solutions to the inequality below?</p>
			<p><small>Select all that apply.</small></p>
			<div class="latex">\[x+\left(-7\right)\ge10\]</div>
			<fieldset>
				<ol class="answerchoices">
					<li>
						<label>
							<input id="q3a1" type="checkbox"/>
							<span class="latex">\(-20\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q3a2" type="checkbox"/>
							<span class="latex">\(-10\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q3a3" type="checkbox"/>
							<span class="latex">\(0\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id=">q3a4" type="checkbox"/>
							<span class="latex">\(10\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q3a5" type="checkbox"/>
							<span class="latex">\(20\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="q3a6" type="checkbox"/>
							<span class="latex">\(30\)</span>
						</label>
					</li>
				</ol>
			</fieldset>
		</li>
	</ol>
	<div class="line">
		<div class="unit-1to2">
			<p class="directions">#4&ndash;5: <span class="verb">Select</span> the best answer for each problem.</p>
			<ol class="problemset" start="4">
				<li class="multiple-choice">
					<p>Which graph represents the inequality below?</p>
					<div class="latex">\[x\gt-3\]</div>
					<fieldset>
						<ol class="answerchoices">
							<li>
								<label>
									<input id="q4a1" type="radio" name="q4"/>
									<img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on -3 and an arrow pointing to the left"/>
								</label>
							</li>
							<li>
								<label>
									<input id="q4a2" type="radio" name="q4"/>
									<img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with a closed circle on -3 and an arrow pointing to the right"/>
								</label>
							</li>
							<li>
								<label>
									<input id="q4a3" type="radio" name="q4"/>
									<img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on -3 and an arrow pointing to the right"/>
								</label>
							</li>
							<li>
								<label>
									<input id=">q4a4" type="radio" name="q4"/>
									<img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on 3 and an arrow pointing to the left"/>
								</label>
							</li>
						</ol>
					</fieldset>
				</li>
				<li class="multiple-choice">
					<p>Which inequality is graphed below?</p>
					<img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with a closed circle on 5 and an arrow pointing to the left"/>
					<fieldset>
						<ol class="answerchoices">
							<li>
								<label>
									<input id="q5a1" type="radio" name="q5"/>
									<span class="latex">\(5\gt{x}\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q5a2" type="radio" name="q5"/>
									<span class="latex">\(5\ge{x}\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q5a3" type="radio" name="q5"/>
									<span class="latex">\(5\le{x}\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id=">q5a4" type="radio" name="q5"/>
									<span class="latex">\(5\lt{x}\)</span>
								</label>
							</li>
						</ol>
					</fieldset>
				</li>
			</ol>
		</div>
		<div class="unit-1to2" style="border-left: 1px solid #000;">
			<p class="directions">#6&ndash;8: <span class="verb">Solve</span> the following inequalities.</p>
			<ol class="problemset" start="6">
				<li class="multiple-choice">
					<br/>
					<div class="latex">\[x-6\ge-4\]</div>
					<fieldset>
						<ol class="answerchoices">
							<li>
								<label>
									<input id="q6a1" type="radio" name="q6"/>
									<span class="latex">\(x\le-10\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q6a2" type="radio" name="q6"/>
									<span class="latex">\(x\ge-10\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q6a3" type="radio" name="q6"/>
									<span class="latex">\(x\le2\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id=">q6a4" type="radio" name="q6"/>
									<span class="latex">\(x\ge2\)</span>
								</label>
							</li>
						</ol>
					</fieldset>
				</li>
				<li class="multiple-choice">
					<br/>
					<div class="latex">\[14\lt2x\]</div>
					<fieldset>
						<ol class="answerchoices">
							<li>
								<label>
									<input id="q7a1" type="radio" name="q7"/>
									<span class="latex">\(x\lt7\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q7a2" type="radio" name="q7"/>
									<span class="latex">\(x\gt7\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q7a3" type="radio" name="q7"/>
									<span class="latex">\(x\lt12\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id=">q7a4" type="radio" name="q7"/>
									<span class="latex">\(x\gt12\)</span>
								</label>
							</li>
						</ol>
					</fieldset>
				</li>
				<li class="multiple-choice">
					<br/>
					<div class="latex">\[-3x\ge18\]</div>
					<fieldset>
						<ol class="answerchoices">
							<li>
								<label>
									<input id="q8a1" type="radio" name="q8"/>
									<span class="latex">\(x\le-6\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q8a2" type="radio" name="q8"/>
									<span class="latex">\(x\ge-6\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id="q8a3" type="radio" name="q8"/>
									<span class="latex">\(x\le6\)</span>
								</label>
							</li>
							<li>
								<label>
									<input id=">q8a4" type="radio" name="q8"/>
									<span class="latex">\(x\ge6\)</span>
								</label>
							</li>
						</ol>
					</fieldset>
				</li>
			</ol>
		</div>
	</div>
	<p class="directions pagebreak">#9&ndash;10: For each inequality, <span class="verb">solve</span> and then <span class="verb">graph</span> on the number line provided.</p>
	<ol class="problemset" start="9">
		<li class="free-response-image">
			<span class="latex">\(13+x\lt21\)</span>
			<div><img class="numberline" src="../../images/numberline-10_1.png"/></div>
		</li>
		<li class="free-response-image">
			<span class="latex">\(-9\le-3x\)</span>
			<div><img class="numberline" src="../../images/numberline-10_1.png"/></div>
		</li>
	</ol>
	<input type="submit"/>
</form>
</div>
</body>
</html>
