{% include masthead.html %}
<nav class="hub-nav">
	<ul class="primary">
		<li><a class="a-block" href="/home/">Home</a></li>
		<li><a class="a-block" href="/resume/">R&eacute;sum&eacute;</a></li>
		<li><a class="a-block" href="/home/bio.html">Biography</a></li>
		<li><a class="a-block" href="/home/links.html">Links</a></li>
		<li><a class="a-block" href="/home/contact.html">Contact</a></li>
	</ul>
	<ul class="secondary">
		<li><a class="a-block" href="/home/folio/edu.html">Education</a></li>
		<li><a class="a-block" href="/home/folio/math.html">Mathematics</a></li>
		<li><a class="a-block" href="/home/folio/music.html">Music</a></li>
		<li><a class="a-block" href="/home/folio/swim.html">Swimming</a></li>
		<li><a class="a-block" href="/home/folio/web.html">Web</a></li>
	</ul>
</nav>
