// main: ../../core/styles/all.less

/*----------------*\
	contact.less
\*----------------*/

.contacticons {
	&:extend(.list-line all);
	&:extend(.list-action all);
	text-align: center;
	li::before {content: '';}
	a {
		display: block;
		border: 0;
		&:hover .icon-special {opacity: 1;}
	}
}
.icon-special {
	width: 3 * @olh;
	height: 3 * @olh;
	opacity: @phi1;
}
.contactme {
	.font-size(small);
}

@media print {
	.bc {display: none;}
}
