.Cell,
.Code.Block,
.Msg {
  padding: 12px 7.41640786px;
  padding: 0.75rem 7.41640786px;
}
.Map.Vert::after,
.CSS .Ruleset::after {
  content: ' ';
  clear: both;
  display: table;
}
.Icon-ct,
.Icon-app {
  opacity: 0.61803399;
}
.Icon-ct:hover,
.Icon-app:hover {
  opacity: 1;
}
.parens::before,
.quotes-double::before,
.quotes-single::before,
.guillemets::before,
.Qblock.Long .Src::before,
q::before,
.Th::before {
  content: open-quote;
}
.parens::after,
.quotes-double::after,
.quotes-single::after,
.guillemets::after,
.Qblock.Long .Src::after,
q::after,
.Th::after {
  content: close-quote;
}
.Qblock.Long .Src {
  quotes: '(' ')';
}
q {
  quotes: '\201c' '\201d';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
.List.I.Iconlist {
  margin-left: auto;
  margin-right: auto;
}
.fontsize-lrg-inline,
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.Qblock.Long,
.Qblock.Long .Src,
.Button.Crumb {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.fontsize-sml-inline,
.Capt,
.Qblock .Src,
.Table,
.Code.Block,
.Msg,
.Code,
.Dir,
.Key,
sup,
sub,
.Button,
code {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.fontsize-lrg-inline,
.fontsize-sml-inline,
.Code,
.Dir,
.Key,
sup,
sub,
.Button,
code {
  display: inline;
  line-height: inherit;
}
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.List > .Item,
.Enum > .Item,
.Map > .Term,
.Map > .Desc,
.Cell,
.Code.Block,
.Msg {
  min-height: 24px;
  min-height: 1.5rem;
}
.Fig > :first-child,
.Qblock > :first-child,
.List > .Item > .List,
.Map > .Term > .Map,
.Map > .Desc > .Map,
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  margin-top: 0;
}
.P,
.Qblock.Long .Src,
.List,
.Map,
.Table {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.P.Intro,
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  border-top: 0 solid #000000;
  margin-top: 14.83281573px;
}
.List > .Item > .List,
.List.O,
.List.U {
  padding-left: 48px;
}
.Code,
.Code.Block.CSS.Invert,
code {
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
}
.Code .Comm,
.Code.Block.CSS.Invert .Comm,
code .Comm {
  color: #93a1a1;
}
.Code.Block,
.Key {
  border-color: #073642;
  color: #839496;
  background-color: #002b36;
}
.Code.Block .Comm,
.Key .Comm {
  color: #586e75;
}
code {
  display: inline;
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: nowrap;
}
/*------------------*\
	home-more.less
\*------------------*/
/**
  * A contact icon.
@author
: Chris Harvey
@updated
: 2014-06-16
  */
.Icon-ct {
  display: inline-block;
  width: 72px;
  height: 72px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.Icon-ct.Mapss {
  background-image: url('../images/logos-banners/logo-maps.png');
}
.Icon-ct.Phone {
  background-image: url('../images/logos-banners/logo-phone.png');
}
.Icon-ct.Email {
  background-image: url('../images/logos-banners/logo-Gmail.png');
}
.Icon-ct.Githb {
  background-image: url('../images/logos-banners/logo-GitHub.png');
}
.Icon-ct.Stack {
  background-image: url('../images/logos-banners/logo-StackExchange.png');
}
.Icon-ct.Googl {
  background-image: url('../images/logos-banners/logo-Google+.png');
}
.Icon-ct.Fbook {
  background-image: url('../images/logos-banners/logo-Facebook.png');
}
.Icon-ct.Twitr {
  background-image: url('../images/logos-banners/logo-Twitter.png');
}
.Icon-ct.Blogs {
  background-image: url('../images/logos-banners/logo-Blogger.png');
}
.Icon-ct.Steam {
  background-image: url('../images/logos-banners/logo-Steam.png');
}
.Icon-ct.Stackexchange {
  width: auto;
  height: 64px;
  background-image: url('http://stackexchange.com/users/flair/470475.png');
}
.Capt.Capt-logo {
  padding-right: 96px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 72px auto;
}
.Capt.Capt-logo.Nctm {
  background-image: url(../images/logos-banners/logo-NCTM.png);
}
.Capt.Capt-logo.Vctm {
  background-image: url(../images/logos-banners/logo-VCTM.png);
}
.Capt.Capt-logo.Txin {
  background-image: url(../images/logos-banners/logo-TI.png);
}
.Capt.Capt-logo.Vdoe {
  background-image: url(../images/logos-banners/logo-VA-DOE.png);
}
.Capt.Capt-logo.Amsy {
  background-image: url(../images/logos-banners/logo-AMS.png);
}
.Capt.Capt-logo.Vmta {
  background-image: url(../images/logos-banners/logo-VMTA.png);
}
/**
  * An application icon.
@author
: Chris Harvey
@updated
: 2014-06-16
  */
.Icon-app {
  display: inline-block;
  width: 72px;
  height: 72px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.Icon-app.Apple {
  background-image: url('../images/logos-banners/logo-Apple-gray.jpg');
}
.Icon-app.Chrom {
  background-image: url('../images/logos-banners/logo-Chrome.png');
}
.Icon-app.Atomm {
  background-image: url('../images/logos-banners/logo-Atom.ico');
}
.Icon-app.Latex {
  background-image: url('../images/logos-banners/logo-TeXShop.png');
}
.Icon-app.Githb {
  background-image: url('../images/logos-banners/logo-GitHubforMac.jpg');
}
