// out: links.css
@import (reference) url('../../core/styles/all.less');

/*--------------*\
	links.less
\*--------------*/

.Capt.Capt-logo {
	padding-right: 96px;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 72px auto;
}
.Capt.Capt-logo.Nctm {background-image: url(../images/logos-banners/logo-NCTM.png);}
.Capt.Capt-logo.Vctm {background-image: url(../images/logos-banners/logo-VCTM.png);}
.Capt.Capt-logo.Txin {background-image: url(../images/logos-banners/logo-TI.png);}
.Capt.Capt-logo.Vdoe {background-image: url(../images/logos-banners/logo-VA-DOE.png);}
.Capt.Capt-logo.Amsy {background-image: url(../images/logos-banners/logo-AMS.png);}
.Capt.Capt-logo.Vmta {background-image: url(../images/logos-banners/logo-VMTA.png);}

/**
  * An application icon.
@author
: Chris Harvey
@updated
: 2014-06-16
  */
.Icon-app {
	&:extend(.transp all);
	display: inline-block;
	width: 72px;
	height: 72px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.Icon-app.Apple {background-image: url('../images/logos-banners/logo-Apple-gray.jpg');}
.Icon-app.Chrom {background-image: url('../images/logos-banners/logo-Chrome.png');}
.Icon-app.Atomm {background-image: url('../images/logos-banners/logo-Atom.ico');}
.Icon-app.Latex {background-image: url('../images/logos-banners/logo-TeXShop.png');}
.Icon-app.Githb {background-image: url('../images/logos-banners/logo-GitHubforMac.jpg');}

@media print {
	.bc {display: none;}
}
