// main: ../all.less

/*#################*\
    _flexbox.less
\*#################*/


.flexbox() {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-direction(@direction) {
  -webkit-flex-direction: @direction;
          flex-direction: @direction;
}
.flex-wrap(@wrap) {
  -webkit-flex-wrap: @wrap;
          flex-wrap: @wrap;
}
.flex(@values) {
  -webkit-box-flex: @values;
      -webkit-flex: @values;
              flex: @values;
}
.flex-order(@number) {
  -webkit-box-ordinal-group: @number;
  -webkit-order: @number;
  order: @number;
}
