// main: ../core.less

/*#################*\
    _spacing.less
\*#################*/


/**
  * This Interface provides a minimum height of one vertical rhythm unit.
  * It is Meant for text-containing block Elements, such as p, blockquote, li, dt, dd, th, td.
  * If these Elements have shorter contents, the vertical rhythm won't break.
  * Do not include `display: block;` in the case of list-item, table-caption, or other exceptions.
@params
: @n : (an integer) the number of vertical rhythm units specified for the height
@tags
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2015-01-28
  */
// .vru-content(@ratio) {
//   min-height: (@ratio * @vru_core);
// }
// .vru-content() {
//   .vru-content(1);
//   // min-height: @vru_core;
// }
/**
  * These Interfaces provide [top|bottom] spacing of a multiple of a vertical rhythm unit.
@params
: @ratio : the multliplier, i.e. how many `rem`s
@author
: Chris Harvey
@updated
: 2015-01-28
@tags
: #verticalrhythm
  */
.vru-top(@ratio) {
  padding-top: (@ratio * @vru_core);
}
.vru-bottom(@ratio) {
  margin-bottom: (@ratio * @vru_core);
}

/**
  * This Interface adds a vru-top to an element if it is an
  * immediate sibling after an Element that is not some type of heading.
@params
: @n : the number of vrus for the top spacing
@author
: Chris Harvey
@updated
: 2015-01-15
@tags
: #verticalrhythm
  */
// .follows-heading(@ratio) {
//   :not(h1):not(.H):not(header) + & {.vru-top(@ratio);}
//   // same as :not(h1, .H) + & {.vru-top(@ratio);}
//   // NOT the same as :not(h1.H) + & {.vru-top(@ratio);}
// }
