mixin docmeta(blogpost)
  dl.c-Document__Meta
    dt Author
    dd(itemprop="author" itemscope="" itemtype="http://schema.org/Person")
      a(href="//chharvey.github.io/" rel="author" itemprop="url")
        span(itemprop="name")
          span(itemprop="givenName") Christopher
          = ' '
          span(itemprop="additionalName") H.
          = ' '
          span(itemprop="familyName") Harvey
    dt Description
    dd(itemprop="description")= blogpost.description()
    dt Keywords
    each word in blogpost.keywords()
      dd(itemprop="keywords")= word
    dt Version History
    block
