
/*################################*\
    _res-o-ListAchv.less
\*################################*/


// A list of achievements such as awards or memberships.
.res-ListAchv {
  @media print {
    margin-top: -@project_vru;
  }
}

  // An award in a list of achievements.
  .res-ListAchv__Award {
    margin-top: 0; // override dd + dt in xmeter
    font-weight: inherit;
    @media screen {
      display: inline;
      &::before { // creates line breaks
        content: '';
        display: block;
      }
    }
    @media print {
      margin-left: @datewidth;
    }
  }

  // A date for an award/achievement.
  .res-ListAchv__Date {
    @media screen {
      display: inline;
      .parens();
    }
    @media print {
      width: @datewidth;
      .pull-this(@project_vru);
    }
  }
