
/*################################*\
    _res-c-headings.less
\*################################*/


.res-H1,
.res-H2,
.res-H3,
.res-H4,
.res-H5,
.res-H6 {
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  @media screen {
    font-family: @project_font_family_base;
  }
  @media print {
    font-family: inherit;
    color: inherit;
  }
}

.res-H1,
.res-H2 {
  font-weight: bold;
  @media print {
    .font-size-block(@project_font_size_lrg; @project_line_height);
  }
}

.res-H3,
.res-H4 {
  font-size: inherit;
  line-height: inherit;
}


.res-H1 {
  text-align: inherit;
  @media screen {
    font-variant: small-caps;
  }
  @media print {
    text-transform: uppercase;
  }
}

.res-H2 {
  @media screen {
    .font-size-block(1.5; @project_line_height);
    .border-vert(bottom); // undo h2 default
  }
  @media print {
    font-variant: small-caps;
  }
}

.res-H3 {
  font-weight: bold;
  @media screen {
    font-variant: small-caps;
  }
}

.res-H4 {
  font-style: italic;
}
