---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mathematics for Secondary Teachers</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
    meta(name="viewport" content="width=device-width, initial-scale=1")
<link rel="stylesheet" href="../higher-ed.css"/>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MATH 4625</div>
  <div class="courseinfo-name">Mathematics for Secondary Teachers</div>
  <div class="courseinfo-term">Fall, 2012</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.math.vt.edu/people/norton3/">Anderson Norton, Ph.D.</a></div>
</header>
<main>
<header>
  <h1>Letter-Writing Project</h1>
  <p class="timestamp">Submitted <time datetime="2009-12">December __, 2009</time>.</p>
</header>
</main>
</body>
</html>
