// main: ../all.less

/*#################*\
    _borders.less
\*#################*/


/**
  * Below are helper mixins only (private to this file).
  * Do not mix these into other Objects or Interfaces.
  * They may only be used for mixins in this file.
@params
: @width : value of `border-width`
@tags
: #verticalrhythm
: #border
@author
: Chris Harvey
@updated
: 2014-11-24
  */
.border-vert(@width) {
  display: block;
  position: relative;
  top: (-1 * @width);
}
.border-vert-one(@width) {
  .border-vert(@width);
  margin-bottom: (-1 * @width);
}
.border-vert-both(@width) {
  .border-vert(@width);
  margin-bottom: (-2 * @width);
}
/**
  * The following Interfaces adjust borders for **BLOCK** Objects only! They will keep the
  * vertical rhythm intact when adding borders (by slightly adjusting position and margins).
  * Do *not* use these mixins on INLINE Objects!
  *
  * Methods with same # of params cannot be overloaded; thus mixin names have modifiers.
  * Use the `.border-vert-one(@side; ...)`   set of Mixins to adjust either the top or bottom border.
  * Use the `.border-vert-both(topbot; ...)` set of Mixins to adjust both the top and bottom borders.
  * Use the `.border-vert-both(all; ...)`    set of Mixins to adjust all four borders.
  *
  * Use the `.border-vert-undo()` Interface to negate all the effects of the below Mixins.
  *
  * Note: `.border-vert-***(@side; @width)` is not defined because the default `style` is set to
  * `none`. Thus `@width` and `@style` must be defined, but `@color` is optional.
@params
: @side  : either `top` or `bottom`
: @width : value of `border-width`
: @style : value of `border-style`
: @color : value of `border-color`
@tags
: #verticalrhythm
: #border
@author
: Chris Harvey
@updated
: 2014-10-07
  */
.border-vert-one(@side; @width; @style) {
  .border-vert-one(@width);
  border-@{side}-width: @width;
  border-@{side}-style: @style;
}
.border-vert-one(@side; @width; @style; @color) {
  .border-vert-one(@side; @width; @style);
  border-@{side}-color: @color;
}

.border-vert-both(topbot; @width; @style) {
  .border-vert-both(@width);
  border-top-width:    @width;
  border-bottom-width: @width;
  border-top-style:    @style;
  border-bottom-style: @style;
}
.border-vert-both(topbot; @width; @style; @color) {
  .border-vert-both(topbot; @width; @style);
  border-top-color:    @color;
  border-bottom-color: @color;
}

.border-vert-both(all; @width; @style) {
  .border-vert-both(@width);
  border-width: @width;
  border-style: @style;
}
.border-vert-both(all; @width; @style; @color) {
  .border-vert-both(all; @width; @style);
  border-color: @color;
}
.border-vert-undo() {
  position: static;
  top: auto;
  margin-bottom: 0;
  border: 0;
}

/**
  * These Mixins set the padding, border, and margin on the left or right side of an Object,
  * such that the border:padding ratio and the (border+padding):margin ratio are Golden.
@params
: @side  : either `left` or `right`
: @width : value of `border-[left|right]-width`
: @style : value of `border-[left|right]-style`
: @color : value of `border-[left|right]-color`
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-10-03
  */
.sidebrdr-phi(@side; @width; @style) {
   border-@{side}-width: @width;
   border-@{side}-style: @style;
  padding-@{side}: (@width * @inv_phi1);
   margin-@{side}: (@width * @inv_phi3);
}
.sidebrdr-phi(@side; @width; @style; @color) {
  .sidebrdr-phi(@side; @width; @style);
  border-@{side}-color: @color;
}
