---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Quiz 2.2 &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="assessment cat-quiz">
{% include masthead.html %}
<main>
<header>
  <div class="quizheading">
    <p>Math 7 &mdash; Mr. Harvey</p>
    <h1>Quiz 2.2: One-Step Equations</h1>
  </div>
  <form class="studentheading">
    <label>
      <span>Name:</span>
      <input id="name" type="text" required=""/>
    </label>
    <label>
      <span>Date:</span>
      <input id="date" type="date" required=""/>
    </label>
    <label>
      <span>Period:</span>
      <input id="period" type="number" required=""/>
    </label>
  </form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work.</p>
<form autocomplete="off">
  <p class="directions">#1&ndash;5: <span class="verb">Solve</span> each equation.</p>
  <ol class="problemset">
    <li class="free-response-number">
      <span class="M">x+4=-8</span>
      <input id="q1" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">3x=-81</span>
      <input id="q2" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">\frac{x}{11}=-16</span>
      <input id="q3" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">\frac{2}{3}x=-12</span>
      <input id="q4" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <strong>Extra credit:</strong> <span class="M">x^3=64</span>
      <input id="q5" type="number" step="0.1"/>
    </li>
  </ol>
  <p class="directions">#6&ndash;8: <span class="verb">Set up</span> an equation, with a variable, for each word problem below. Then <span class="verb">solve</span> the problem and <span class="verb">answer</span> in complete sentences.</p>
  <ol class="problemset" start="6">
    <li class="free-response-text">
      <p>Gina owed her mom $30 on Monday. On Tuesday, she paid some money back and now she only owes $18. How much money did she pay her mom?</p>
      <input id="q6" type="text"/>
    </li>
    <li class="free-response-text">
      <p>Gus went to the store and bought 5 sweatshirts. He spent a total of $45. What was the price of each shirt?</p>
      <input id="q7" type="text"/>
    </li>
    <li class="free-response-text">
      <p><strong>Extra credit:</strong> A square playground has an area of 400 square meters. How many meters long is each side of the playground?</p>
      <input id="q8a" type="text"/>
      <p><strong>More extra credit:</strong> Say you want to buy a chain-link fence to surround the playground on all four sides. What is the perimeter of the playground?</p>
      <input id="q8b" type="text"/>
    </li>
  </ol>
  <input type="submit"/>
</form>
</main>
</body>
</html>
