---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 2 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Equations and Inequalities unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 2: Equations &amp; Inequalities</h1>
	<p class="timestamp">Updated <time datetime="2014-01-09T22:39">Jan 9, 2014</time>.</p>
	<p class="prose">This unit focuses on finding the solutions of linear equations and inequalities with one variable. Students will translate and distinguish between verbal and mathematical equations. Equations will be solved in at most two steps, and inequalities will be solved in at most one step. Students will set up and solve equations to determine the solutions of real-world problems given in verbal form. Students will also graph solution sets to one-variable inequalities on a number line.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="verbal-math">
		<h1 class="h-gamma">Verbal Mathematics</h1>
		<ul>
			<li>Translate between verbals and mathematics.
				<ul>
					<li>Translate verbal phrases to and from mathematical expressions, containing at most two operations.</li>
					<li>Translate verbal sentences to and from mathematical equations, containing at most two operations.</li>
					<li class="optional">Translate verbal sentences to and from mathematical inequalities, containing at most one operation.</li>
				</ul>
			</li>
			<li class="insertional">Identify differences between mathematical expressions and mathematical statements.</li>
		</ul>
	</section>
	<section id="equations">
		<h1 class="h-gamma">Equations</h1>
		<ul>
			<li>Equations will be linear and in one variable.</li>
			<li>Model equations with blocks or pictorial diagrams.</li>
			<li>Solve one-variable linear equations of the following forms, where <span class="latex">\(a\)</span>, <span class="latex">\(b\)</span>, <span class="latex">\(c\)</span>, <span class="latex">\(p\)</span>, and <span class="latex">\(q\)</span> are integers or terminating decimals:
				<ol>
					<li>in one step:
						<ul>
							<li><span class="latex">\(x+b=c\)</span></li>
							<li><span class="latex">\(ax=c\)</span></li>
							<li><span class="latex">\(\frac{x}{q}=c\)</span></li>
							<li><span class="latex">\(\frac{p}{q}x=c\)</span></li>
						</ul>
					</li>
					<li>in two steps:
						<ul>
							<li><span class="latex">\(ax+b=c\)</span></li>
							<li><span class="latex">\(\frac{x}{q}+b=c\)</span></li>
							<li><span class="latex">\(\frac{p}{q}x+b=c\)</span></li>
							<li><span class="latex">\(p\left(x+b\right)=c\)</span></li>
							<li><span class="latex">\(\frac{x+b}{q}=c\)</span></li>
						</ul>
					</li>
					<li class="insertional">in at most two steps by combining like terms:
						<ul>
							<li><span class="latex">\(ax+b=cx+d\)</span></li>
						</ul>
					</li>
				</ol>
			</li>
			<li>Identify <a href="../integers/index.html#field-properties">properties</a> used to justify steps in solving an equation.</li>
			<li>Solve verbal sentences in at most two steps, using mathematical equations.</li>
			<li>Solve practical problems that involving equations.
				<ul>
					<li>Given a word problem, select or construct an appropriate equation that models the real-world situation.</li>
					<li>Given a word problem, find the solution in at most two steps.</li>
					<li>Equations to word problems will involve only the following forms, where <span class="latex">\(a\)</span>, <span class="latex">\(b\)</span>, <span class="latex">\(c\)</span>, <span class="latex">\(p\)</span>, and <span class="latex">\(q\)</span> are integers or terminating decimals:
						<ul>
							<li><span class="latex">\(ax+b=c\)</span></li>
							<li><span class="latex">\(\frac{x+b}{q}=c\)</span></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<section id="inequalities">
		<h1 class="h-gamma">Inequalities</h1>
		<ul>
			<li>Inequalities will be linear and in one variable.</li>
			<li>Identify possible solutions to:
				<ul>
					<li>a given inequality with the variable isolated</li>
					<li>a given inequality with the variable not isolated</li>
					<li>the graph of an inequality</li>
				</ul>
			</li>
			<li>Graph the solution set of an inequality on a number line.</li>
			<li>Model inequalities with blocks or pictorial diagrams.</li>
			<li>Solve inequalities in one step.
				<ol>
					<li>Solve an inequality using addition, subtraction, multiplication, or division.</li>
					<li>Solve an inequality involving a variable with a negative coefficient.</li>
				</ol>
			</li>
			<li class="optional">Solve verbal sentences in at most one step, using mathematical inequalities.</li>
		</ul>
	</section>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="vocablist">
		<dt>equation</dt>
		<dd>a statement that compares two expressions, indicating that they have the same value</dd>
		<dt>inequality</dt>
		<dd>a statement that compares two expressions, indicating that one has a greater or lesser value than the other</dd>
		<dt>solution</dt>
		<dd>a value, that when substituted in for the variable, makes a statement true</dd>
		<dt>solution set</dt>
		<dd>the set of all solutions for a statement</dd>
		<dt>solve</dt>
		<dd>to find the solution of a statement</dd>
		<dt>isolate the variable</dt>
		<dd>to get the variable by itself on one side of the equals symbol or inequality symbol</dd>
		<dt>inverse operation</dt>
		<dd>an operation, that when performed, <i class="scare">un-does</i> another operation</dd>
		<dd>addition and subtraction are inverse operations, and multiplication and division are inverse operations</dd>
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li class="cat-hw"><a class="sp" href="https://docs.google.com/document/d/1STHJQ-FIZ8aCus3hL9q8toyz4JdAVN5nMj2kTW_nTgU/edit?usp=sharing">Unit 2 Homework Log</a></li>
		<li><a>Lesson 2.1: Verbal Mathematics</a></li>
		<li><a>Lesson 2.2: One-Step Equations</a></li>
		<li><a href="eqns-twostep-lesson.html">Lesson 2.3: Two-Step Equations</a></li>
		<li><a href="eqns-word-lesson.html">Lesson 2.4: Word Problems</a></li>
		<li><a href="ineq-writegraph-lesson.html">Lesson 2.5: Writing and Graphing Inequalities</a></li>
		<li><a href="ineq-solve-lesson.html">Lesson 2.6: Solving Inequalities</a></li>
		<li class="cat-proj"><a href="test-v1.html">Test 2 v1</a></li>
		<li class="cat-proj"><a href="test-v2.html">Test 2 v2</a></li>
	</ol>
</section>
</div>
</body>
</html>
