---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lesson 2.6 &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="lesson">
{% include masthead.html %}
<main>
<header>
  <h1>Lesson 2.6: Solving Inequalities</h1>
  <dl>
    <dt>SOL</dt>
    <dd><span id="7.15b" class="standard-id">7.15a</span> The student will solve one-step inequalities in one variable.</dd>
    <dt>Timeframe</dt>
    <dd>Week II.4</dd>
    <dt>Time required</dt>
    <dd>2 days</dd>
    <dt>Lesson created</dt>
    <dd><time datetime="2013-11-19T13:35">Nov 20, 2013</time></dd>
    <dt>Lesson updated</dt>
    <dd><time datetime="2013-11-19T13:35">Nov 20, 2013</time></dd>
  </dl>
</header>
<section id="prep">
  <h2>Preparation</h2>
  <section>
    <h3>Objectives</h3>
    <ul>
      <li>Solve an inequality in one step</li>
    </ul>
  </section>
  <section>
    <h3>Essential Questions</h3>
    <ul>
    </ul>
  </section>
  <section>
    <h3>Vocabulary</h3>
    <dl class="vocablist">
      <dt>solve</dt>
      <dt>isolate the variable</dt>
      <dt>inverse operation</dt>
    </dl>
  </section>
</section>
<section id="implement">
  <h2>Lesson Implementation</h2>
  <section>
    <h3>Warm-up</h3>
  </section>
  <section>
    <h3>Instruction</h3>
  </section>
  <section>
    <h3>Guided Practice</h3>
  </section>
  <section>
    <h3>Assessment</h3>
    <ul class="c-ListAction">
    </ul>
  </section>
</section>
<section id="reflect">
  <h2>Reflection</h2>
</section>
</main>
</body>
</html>
