extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Lesson 2.5'
    var classes_body = 'lesson'

block append mainHeader
  div.
    <h1>Lesson 2.5: Writing &amp; Graphing Inequalities</h1>
    <dl>
      <dt>SOL</dt>
      <dd><span id="7.15b" class="standard-id">7.15b</span> The student will graph solutions to inequalities on the number line.</dd>
      <dt>Timeframe</dt>
      <dd>Week II.4</dd>
      <dt>Time required</dt>
      <dd>1 day</dd>
      <dt>Lesson created</dt>
      <dd><time datetime="2013-11-19T01:23">Nov 19, 2013</time></dd>
      <dt>Lesson updated</dt>
      <dd><time datetime="2013-11-19T01:44">Nov 19, 2013</time></dd>
    </dl>

block append main
  div.
    <section id="prep">
      <h2>Preparation</h2>
      <section>
        <h3>Objectives</h3>
        <ul>
          <li>Compare two numbers</li>
          <li>Graph inequalities on a number line</li>
        </ul>
      </section>
      <section>
        <h3>Essential Questions</h3>
        <ul>
          <li>What is an inequality?</li>
          <li>How can I remember the symbols for <b class="keyword">less than</b> and <b class="keyword">greater than</b>?</li>
          <li>What does a solution set look like when graphed?</li>
        </ul>
      </section>
      <section>
        <h3>Vocabulary</h3>
        <dl class="vocablist">
          <dt>inequality</dt>
          <dd>a statement that compares two expressions, indicating that one has a greater or lesser value than the other</dd>
          <dt>isolate</dt>
          <dd>to get the variable by itself on one side of the <b>inequality symbol</b> (<span class="js-mt">\lt</span> or <span class="js-mt">\gt</span>)</dd>
          <dt>solution</dt>
          <dd>a value, that when substituted in for the variable, makes a statement true</dd>
          <dt>solution set</dt>
          <dd>the set of all solutions for a statement</dd>
          <dt>greater than</dt>
          <dd>to the right on the number line</dd>
          <dt>less than</dt>
          <dd>to the left on the number line</dd>
        </dl>
      </section>
    </section>
    <section id="implement">
      <h2>Lesson Implementation</h2>
      <section>
        <h3>Warm-up</h3>
      </section>
      <section>
        <h3>Instruction</h3>
      </section>
      <section>
        <h3>Guided Practice</h3>
      </section>
      <section>
        <h3>Assessment</h3>
        <ul class="c-ListAction">
          <li class="c-ListAction__Item"><a>Exit Slip 2.5, day 2</a></li>
        </ul>
      </section>
    </section>
    <section id="reflect">
      <h2>Reflection</h2>
    </section>
