---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lesson 2.6 &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="lesson">
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Lesson 2.6: Solving Inequalities</h1>
	<dl>
		<dt>SOL</dt>
		<dd><span id="7.15b" class="standard-id">7.15a</span> The student will solve one-step inequalities in one variable.</dd>
		<dt>Timeframe</dt>
		<dd>Week II.4</dd>
		<dt>Time required</dt>
		<dd>2 days</dd>
		<dt>Lesson created</dt>
		<dd><time datetime="2013-11-19T13:35">Nov 20, 2013</time></dd>
		<dt>Lesson updated</dt>
		<dd><time datetime="2013-11-19T13:35">Nov 20, 2013</time></dd>
	</dl>
</header>
<section id="prep">
	<h1 class="h-beta">Preparation</h1>
	<section>
		<h1 class="h-gamma">Objectives</h1>
		<ul>
			<li>Solve an inequality in one step</li>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Essential Questions</h1>
		<ul>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Vocabulary</h1>
		<dl class="vocablist">
			<dt>solve</dt>
			<dd>to find the solution of a statement</dd>
			<dt>isolate the variable</dt>
			<dd>to get the variable by itself on one side of the equals symbol or inequality symbol</dd>
			<dt>inverse operation</dt>
			<dd>an operation, that when performed, <i class="scare">un-does</i> another operation</dd>
			<dd>addition and subtraction are inverse operations, and multiplication and division are inverse operations</dd>
		</dl>
	</section>
</section>
<section id="implement">
	<h1 class="h-beta">Lesson Implementation</h1>
	<section>
		<h1 class="h-gamma">Warm-up</h1>
	</section>
	<section>
		<h1 class="h-gamma">Instruction</h1>
	</section>
	<section>
		<h1 class="h-gamma">Guided Practice</h1>
	</section>
	<section>
		<h1 class="h-gamma">Assessment</h1>
		<ul class="list-action">
		</ul>
	</section>
</section>
<section id="reflect">
	<h1 class="h-beta">Reflection</h1>
</section>
</div>
</body>
</html>
