extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Test 2 v1'
    var classes_body = 'assessment cat-proj'

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Test 2: Equations &amp; Inequalities v1</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Part 1: No calculator. Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;5: <span class="verb">Evaluate</span> each expression.</p>
      <ol class="problemset">
        <li class="free-response-number">
          <span class="js-mt">-14+6</span>
          <input id="q1" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">25-(-17)</span>
          <input id="q2" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-3\cdot8</span>
          <input id="q3" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-13+4\cdot6-9</span>
          <input id="q4" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-12-6\div2</span>
          <input id="q5" type="number" step="0.1"/>
        </li>
      </ol>
      <p class="directions">#6&ndash;9: <span class="verb">Solve</span> each word problem. <span class="verb">Answer</span> in complete sentences.</p>
      <ol class="problemset" start="6">
        <li class="free-response-number">
          <p>Spongebob was floating 45 feet below the surface of the water. Patrick was floating 10 feet below Spongebob. What was Patrick's location in the water?</p>
          <input id="q6" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <p>Throughout the day, the temperature rose 2 degrees, then dropped 3 degrees, then rose 3 degrees, then dropped 4 degrees. Overall, what was the total change in temperature for that day?</p>
          <input id="q7" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <p>Hector weighed 190 pounds at the beginning of January. He lost 5 pounds every month for 4 months. How much did he weigh after 4 months?</p>
          <input id="q8" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <p>A plane took 8 minutes to gain 4000 feet in altitude. On average, how many feet of altitude did it gain each minute?</p>
          <input id="q9" type="number" step="0.1"/>
        </li>
      </ol>
      <input type="submit"/>
    </form>
    <p class="directions pagebreak">Part 2: Calculator Allowed. Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#10&ndash;12: <span class="verb">Read</span> and <span class="verb">follow</span> all directions carefully.</p>
      <ol class="problemset" start="10">
        <li class="free-response-text">
          <p><span class="verb">Write</span> a subtraction problem for the given diagram.</p>
          <img/>
          <input id="q10" type="text"/>
        </li>
        <li class="free-response-text">
          <p><span class="verb">Write</span> an addition problem for the given diagram.</p>
          <img/>
          <input id="q11" type="text"/>
        </li>
        <li class="free-response-text">
          <p><span class="verb">Write</span> a multiplication problem for the given diagram.</p>
          <img/>
          <input id="q11" type="text"/>
        </li>
      </ol>
      <p class="directions">#13&ndash;16: <span class="verb">Evaluate</span> each expression, using the following substitutions:</p>
      <ul class="list-basic">
        <li><span class="js-mt">x=3</span></li>
        <li><span class="js-mt">y=-4</span></li>
        <li><span class="js-mt">z=5</span></li>
      </ul>
      <ol class="problemset" start="13">
        <li class="free-response-number">
          <span class="js-mt">x+2y</span>
          <input id="q13" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{yz}{10}+x</span>
          <input id="q14" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">y-x^2+3z</span>
          <input id="q15" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-1\cdot\left(y+3\right)</span>
          <input id="q16" type="number" step="0.1"/>
        </li>
      </ol>
      <p class="directions">#17&ndash;20: <span class="verb">Identify</span> the property illustrated by each equation.</p>
      <ol class="problemset" start="17">
        <li class="free-response-text">
          <span class="js-mt">5+\left(x+3\right)=5+\left(3+x\right)</span>
          <input id="q17" type="text"/>
        </li>
        <li class="free-response-text">
          <span class="js-mt">5+\left(3+x\right)=\left(5+3\right)+x</span>
          <input id="q18" type="text"/>
        </li>
        <li class="free-response-text">
          <span class="js-mt">8+(-8)+x=0+x</span>
          <input id="q19" type="text"/>
        </li>
        <li class="free-response-text">
          <span class="js-mt">0+x=x</span>
          <input id="q20" type="text"/>
        </li>
      </ol>
      <p class="directions">#21&ndash;22: <span class="verb">Create</span> an example equation illustrating each of the following properties.</p>
      <ol class="problemset" start="21">
        <li class="free-response-text">
          <span>The Zero Property of Multiplication</span>
          <input id="q21" type="text"/>
        </li>
        <li class="free-response-text">
          <span>The Distributive Property of Multiplication</span>
          <input id="q22" type="text"/>
        </li>
      </ol>
      <p class="directions">#23&ndash;24: <span class="verb">Write</span> a verbal translation for each.</p>
      <ol class="problemset" start="23">
        <li class="free-response-text">
          <span class="js-mt">\frac{19}{13}+\left(7-n\right)+5</span>
          <input id="q23" type="text"/>
        </li>
        <li class="free-response-text">
          <span class="js-mt">3\left(37-17\right)=n</span>
          <input id="q24" type="text"/>
        </li>
      </ol>
      <p class="directions">#25: <span class="verb">Write</span> a verbal translation for each.</p>
      <ol class="problemset" start="25">
        <li class="free-response-text">
          <q>The sum of ten and twice a number is thirty-two.</q>
          <input id="q25" type="text"/>
        </li>
      </ol>
      <input type="submit"/>
    </form>
