include class/_Styleguide.class.jade

-
  /*function title(arr) { return arr.reduceRight(function (a, b) { return a + ' | ' + b }) }*/
  /*function mainH1(arr) { return arr.reduce(function (a, b) { return a + ' — ' + b }) }*/
