- var font_scheme = {}
- font_scheme.base            = {}
- font_scheme.base.name       = 'Avenir Next'
- font_scheme.base.class      = 'a-ff-base'
- font_scheme.base.sample     = 'The quick brown fox jumps over the lazy dog.'
- font_scheme.base.similar    = [ 'Helvetica Neue' ]
- font_scheme.heading         = {}
- font_scheme.heading.name    = 'Optima'
- font_scheme.heading.class   = 'a-ff-heading'
- font_scheme.heading.sample  = 'Oh, sphinx of black quartz, judge my vow.'
- font_scheme.heading.similar = [ 'Seravek' , 'Tahoma' ]
- font_scheme.prose           = {}
- font_scheme.prose.name      = 'Baskerville'
- font_scheme.prose.class     = 'a-ff-prose'
- font_scheme.prose.sample    = 'The five boxing wizards jump quickly.'
- font_scheme.prose.similar   = [ 'Palatino' , 'Cochin' ]
- font_scheme.accent          = {}
- font_scheme.accent.name     = 'Helvetica Neue'
- font_scheme.accent.class    = 'a-ff-accent'
- font_scheme.accent.sample   = 'Heavy boxes perform quick waltzes and jigs.'
- font_scheme.accent.similar  = [ 'Helvetica' ]
- font_scheme.code            = {}
- font_scheme.code.name       = 'Menlo'
- font_scheme.code.class      = 'a-ff-code'
- font_scheme.code.sample     = 'The quick brown fox jumps over the lazy dog.'
- font_scheme.code.similar    = [ 'Monaco' , 'Andale Mono' ]
- font_scheme.math            = {}
- font_scheme.math.name       = 'Didot'
- font_scheme.math.class      = 'a-ff-math'
- font_scheme.math.sample     = 'Sixty zippers were quickly picked from the woven jute bag.'
- font_scheme.math.similar    = [ 'Bodoni 72' , 'Times' ]
- font_scheme.script          = {}
- font_scheme.script.name     = 'Zapfino'
- font_scheme.script.class    = 'a-ff-script'
- font_scheme.script.sample   = 'The quick brown fox jumps over the lazy dog.'

- var color_scheme = {}
- color_scheme.aperturewhite          = {}
- color_scheme.aperturewhite.name     = 'Aperture White'
- color_scheme.aperturewhite.code_dfn = 'hsv(217,   5%, 100%)'
- color_scheme.aperturewhite.code_hex = '#f2f7ff'
- color_scheme.aperturewhite.bg_class = 'a-bc-aperturewhite'
- color_scheme.aperturewhite.uses     = [ 'body background' ]
- color_scheme.apertureblack          = {is_dark: true}
- color_scheme.apertureblack.name     = 'Aperture Black'
- color_scheme.apertureblack.code_dfn = 'hsv( 37, 100%,   5%)'
- color_scheme.apertureblack.code_hex = '#0d0800'
- color_scheme.apertureblack.bg_class = 'a-bc-apertureblack'
- color_scheme.apertureblack.uses     = [ 'body text' ]
- color_scheme.lakesuperior           = {is_dark: true}
- color_scheme.lakesuperior.name      = 'Lake Superior'
- color_scheme.lakesuperior.code_dfn  = 'hsv(247, 100%,  60%)'
- color_scheme.lakesuperior.code_hex  = '#120099'
- color_scheme.lakesuperior.bg_class  = 'a-bc-lakesuperior'
- color_scheme.lakesuperior.uses      = [ 'major heading text' , 'ledes and drop caps' ]
- color_scheme.facilityabyss          = {is_dark: true}
- color_scheme.facilityabyss.name     = 'Facility Abyss'
- color_scheme.facilityabyss.code_dfn = 'hsv(187,  40%,  40%)'
- color_scheme.facilityabyss.code_hex = '#3d6166'
- color_scheme.facilityabyss.bg_class = 'a-bc-facilityabyss'
- color_scheme.facilityabyss.uses     = [ 'minor heading text' ]
- color_scheme.atlas                  = {is_dark: true}
- color_scheme.atlas.name             = 'Atlas'
- color_scheme.atlas.code_dfn         = 'hsv(217, 100%, 100%)'
- color_scheme.atlas.code_hex         = '#0062ff'
- color_scheme.atlas.bg_class         = 'a-bc-atlas'
- color_scheme.atlas.uses             = [ 'link text' ]
- color_scheme.pbody                  = {}
- color_scheme.pbody.name             = 'P-Body'
- color_scheme.pbody.code_dfn         = 'hsv( 37, 100%, 100%)'
- color_scheme.pbody.code_hex         = '#ff9d00'
- color_scheme.pbody.bg_class         = 'a-bc-pbody'
- color_scheme.pbody.uses             = [ 'hover link text' ]
- color_scheme.cavescaves             = {is_dark: true}
- color_scheme.cavescaves.name        = 'Cave’s Caves'
- color_scheme.cavescaves.code_dfn    = 'hsv( 28,  66.6%,  50%)'
- color_scheme.cavescaves.code_hex    = '#80522b'
- color_scheme.cavescaves.bg_class    = 'a-bc-cavescaves'
- color_scheme.cavescaves.uses        = []
- color_scheme.asbestos               = {}
- color_scheme.asbestos.name          = 'Asbestos'
- color_scheme.asbestos.code_dfn      = 'hsv( 46, 100.0%,  75%)'
- color_scheme.asbestos.code_hex      = '#bf9300'
- color_scheme.asbestos.bg_class      = 'a-bc-asbestos'
- color_scheme.asbestos.uses          = []
- color_scheme.repulsion              = {}
- color_scheme.repulsion.name         = 'Repulsion Gel'
- color_scheme.repulsion.code_dfn     = 'hsv(202,  80.0%, 100%)'
- color_scheme.repulsion.code_hex     = '#33b4ff'
- color_scheme.repulsion.bg_class     = 'a-bc-repulsion'
- color_scheme.repulsion.uses         = [ 'code/kbd/samp on print' ]
- color_scheme.propulsion             = {}
- color_scheme.propulsion.name        = 'Propulsion Gel'
- color_scheme.propulsion.code_dfn    = 'hsv( 22,  80.0%, 100%)'
- color_scheme.propulsion.code_hex    = '#ff7e33'
- color_scheme.propulsion.bg_class    = 'a-bc-propulsion'
- color_scheme.propulsion.uses        = [ 'subheading text' ]
- color_scheme.deploying              = {}
- color_scheme.deploying.name         = 'Deploying'
- color_scheme.deploying.code_dfn     = 'hsv(  7,  80%, 100%)'
- color_scheme.deploying.code_hex     = '#ff4b33'
- color_scheme.deploying.bg_class     = 'a-bc-deploying'
- color_scheme.deploying.uses         = [ 'Danger components' ]
- color_scheme.hereye                 = {}
- color_scheme.hereye.name            = 'HER Eye'
- color_scheme.hereye.code_dfn        = 'hsv( 52,  80%, 100%)'
- color_scheme.hereye.code_hex        = '#ffe433'
- color_scheme.hereye.bg_class        = 'a-bc-hereye'
- color_scheme.hereye.uses            = [ 'Caution components' ]
- color_scheme.neurotoxin             = {}
- color_scheme.neurotoxin.name        = 'Neurotoxin'
- color_scheme.neurotoxin.code_dfn    = 'hsv( 97,  40%,  80%)'
- color_scheme.neurotoxin.code_hex    = '#9acc7a'
- color_scheme.neurotoxin.bg_class    = 'a-bc-neurotoxin'
- color_scheme.neurotoxin.uses        = [ 'Success components' ]
- color_scheme.bridges                = {}
- color_scheme.bridges.name           = 'Bridges of Light'
- color_scheme.bridges.code_dfn       = 'hsv(202,  40%, 100%)'
- color_scheme.bridges.code_hex       = '#99daff'
- color_scheme.bridges.bg_class       = 'a-bc-bridges'
- color_scheme.bridges.uses           = [ 'Info components' ]
- color_scheme.companion              = {}
- color_scheme.companion.name         = 'Heart of a Companion'
- color_scheme.companion.code_dfn     = 'hsv(337,  40%, 100%)'
- color_scheme.companion.code_hex     = '#ff99c0'
- color_scheme.companion.bg_class     = 'a-bc-companion'
- color_scheme.companion.uses         = [ 'Help components' ]
- color_scheme.vilify                 = {}
- color_scheme.vilify.name            = 'Vilify'
- color_scheme.vilify.code_dfn        = 'hsv(277, 100%, 100%)'
- color_scheme.vilify.code_hex        = '#9d00ff'
- color_scheme.vilify.bg_class        = 'a-bc-vilify'
- color_scheme.vilify.uses            = [ 'alert links' ]
- color_scheme.graylite               = {}
- color_scheme.graylite.name          = 'Aperture Gray Lite'
- color_scheme.graylite.code_dfn      = 'mix(mix(@aperturewhite, @apertureblack, 80%), @pbody, 95%)'
- color_scheme.graylite.code_hex      = '#c7c5c2'
- color_scheme.graylite.bg_class      = 'a-bc-graylite'
- color_scheme.graylite.uses          = [ 'light component default' ]
- color_scheme.graydark               = {is_dark: true}
- color_scheme.graydark.name          = 'Aperture Gray Dark'
- color_scheme.graydark.code_dfn      = 'mix(mix(@apertureblack, @aperturewhite, 80%), @atlas, 95%)'
- color_scheme.graydark.code_hex      = '#383a3d'
- color_scheme.graydark.bg_class      = 'a-bc-graydark'
- color_scheme.graydark.uses          = [ 'dark component default' ]

- var trans = {}
- trans.shadelight           = {}
- trans.shadelight.name      = 'Shade Light'
- trans.shadelight.code_dfn  = 'fadeout(@apertureblack, 80%)'
- trans.shadelight.code_hexa = 'rgba(#0d0800, 0.2)'
- trans.shadelight.bg_class  = 'a-bc-shadelight'
- trans.shadelight.box_color = color_scheme.aperturewhite
- trans.tintlight            = {}
- trans.tintlight.name       = 'Tint Light'
- trans.tintlight.code_dfn   = 'fadeout(@aperturewhite, 80%)'
- trans.tintlight.code_hexa  = 'rgba(#f2f7ff, 0.2)'
- trans.tintlight.bg_class   = 'a-bc-tintlight'
- trans.tintlight.box_color  = color_scheme.apertureblack
- trans.shadeheavy           = {}
- trans.shadeheavy.name      = 'Shade Heavy'
- trans.shadeheavy.code_dfn  = 'fadeout(@apertureblack, 20%)'
- trans.shadeheavy.code_hexa = 'rgba(#0d0800, 0.8)'
- trans.shadeheavy.bg_class  = 'a-bc-shadeheavy'
- trans.shadeheavy.box_color = color_scheme.aperturewhite
- trans.tintheavy            = {}
- trans.tintheavy.name       = 'Tint Heavy'
- trans.tintheavy.code_dfn   = 'fadeout(@aperturewhite, 20%)'
- trans.tintheavy.code_hexa  = 'rgba(#f2f7ff, 0.8)'
- trans.tintheavy.bg_class   = 'a-bc-tintheavy'
- trans.tintheavy.box_color  = color_scheme.apertureblack
