---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Human Ear &in; Continuation Project</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../higher-ed.css"/>
<style type="text/css">
.maintable {
  width: 100%;
  border: 1px outset #999;
  border-collapse: separate;
  text-align: center;
}
.maintable td {
  border: 1px inset #999;
  padding: 2px;
}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 3055</div>
  <div class="courseinfo-name">Music &amp; Multimedia Production</div>
  <div class="courseinfo-term">Fall, 2008</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.music.vt.edu/faculty/dunston/">Michael Dunston</a></div>
</header>
<nav class="breadcrumbs">
  <ol>
    <li><a href="index.html">Prompt</a></li>
    <li><a href="continuation.html">Detailed Outline</a></li>
    <li><a href="ear.html">The Human Ear</a></li>
    <li><a href="files.html">Media Files</a></li>
  </ol>
</nav>
<main>
<h1>The Human Ear</h1>
<section>
  <h2>Outline</h2>
  <ol>
    <li>Outer Ear
      <ol>
        <li>Pinna</li>
        <li>Ear Canal</li>
        <li>Timpanic Membrane (ear drum)</li>
      </ol>
    </li>
    <li>Middle Ear
      <ol>
        <li>Ossicles
          <ol>
            <li>Malleus (hammer)</li>
            <li>Incus (anvil)</li>
            <li>Stapes (stirrup)</li>
          </ol>
        </li>
        <li>Eustachian Tube</li>
      </ol>
    </li>
    <li>Inner Ear
      <ol>
        <li>Oval Window</li>
        <li>Cochlea
          <ol>
            <li>Perilymph (fluid)</li>
            <li>Basilar Membrane</li>
            <li>Organ of Corti
              <ol>
                <li>Cilia</li>
                <li>Nerve Endings</li>
              </ol>
            </li>
            <li>Auditory Nerve</li>
          </ol>
        </li>
        <li>Semi-Circular Canals
          <ol>
            <li>Vestibular Nerve</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</section>
<section>
  <h2>Table</h2>
  <table class="maintable">
    <tbody>
      <tr>
        <td colspan="3">Outer Ear</td>
        <td colspan="4">Middle Ear</td>
        <td colspan="7">Inner Ear</td>
      </tr>
      <tr>
        <td>Pinna</td>
        <td>Ear Canal</td>
        <td>Timpanic Membrane</td>
        <td colspan="3">Ossicles</td>
        <td>Eustachian Tube</td>
        <td>Oval Window</td>
        <td colspan="5">Cochlea</td>
        <td>Semi-Circular Canals</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Malleus</td>
        <td>Incus</td>
        <td>Stapes</td>
        <td></td>
        <td></td>
        <td>Perilymph</td>
        <td>Basilar Membrane</td>
        <td colspan="2">Organ of Corti</td>
        <td>Auditory Nerve</td>
        <td>Vestibular Nerve</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Cilia</td>
        <td>Nerve Endings</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <h2>Diagrams and Descriptions</h2>
  <section>
    <h3>The Outer Ear</h3>
    <figure>
      <img src="images/outer_ear.gif" alt="outer ear"/>
      <figcaption class="c-Caption"><a href="http://www.osha.gov/dts/osta/otm/noise/images/outer_ear.gif">http://www.osha.gov/dts/osta/otm/noise/images/outer_ear.gif</a></figcaption>
    </figure>
    <p>The <dfn id="d-pinna">pinna</dfn> is the visible part of the outer ear. It directs sound toward the ear canal and also provides some coloration. It helps us locate the direction of a sound.</p>
    <p>The sound is focused through the <dfn id="d-ear-canal">ear canal</dfn> to the <dfn id="d-ear-drum">ear drum</dfn>. The ear drum is a membrane that acts like a microphone diaphragm. It vibrates at the frequencies of the pressure waves that approach it.</p>
  </section>
  <section>
    <h3>The Middle Ear</h3>
    <figure>
      <img src="images/middle_ear.gif" alt="middle ear"/>
      <figcaption class="c-Caption"><a href="http://www.osha.gov/dts/osta/otm/noise/images/middle_ear.gif">http://www.osha.gov/dts/osta/otm/noise/images/middle_ear.gif</a></figcaption>
    </figure>
    <p>The <dfn id="d-ossicles">ossicles</dfn> are three tiny bones (the tiniest in your body), shaped like a hammer, anvil and stirrup. They amplify the sound from your ear drum by almost 25 dB. The ossicles then transfer the sound energy to the oval window, the threshold to the Inner Ear. (The ossicles also help ease the transfer of pressure waves from gas into liquid.)</p>
    <p>The <dfn id="d-eustachian-tube">eustachian tube</dfn> is a small canal that leads from the middle ear to the oral cavity. It serves as a valve that equalizes air pressure between the middle ear and the outside world. When the valve opens (usually when swallowing), you will feel a slight <i>popping</i> sensation, especially when at extremely high or low altitudes. For auditory purposes, the eustachian tube helps the ossicles operate at equalized air pressure.</p>
  </section>
  <section>
    <h3>The Inner Ear</h3>
    <figure>
      <img src="images/inner_ear.gif" alt="inner ear"/>
      <figcaption class="c-Caption"><a href="http://www.osha.gov/dts/osta/otm/noise/images/inner_ear.gif">http://www.osha.gov/dts/osta/otm/noise/images/inner_ear.gif</a></figcaption>
    </figure>
    <p>The <dfn id="d-oval-window">oval window</dfn> is a membrane between the inner ear and the middle ear. It is similar to the ear drum, passing acoustical information inward, specifically to the cochlea.</p>
    <section>
      <h4>Cochlea</h4>
      <figure>
        <img src="images/cross_cochlea.gif" alt="cross section of the cochlea"/>
        <figcaption class="c-Caption"><a href="http://www.osha.gov/dts/osta/otm/noise/images/inner_ear_cochlea.gif">http://www.osha.gov/dts/osta/otm/noise/images/inner_ear_cochlea.gif</a></figcaption>
      </figure>
      <p>The <dfn id="d-cochlea">cochlea</dfn> is filled with a watery-like fluid called perilymph. Because of the oval window, the fluid vibrates at the frequencies passed through the ear. These frequencies move tiny hairs called cilia on the Organ of Corti. The cilia are attached to hair cells which stimulate nerve fibers. It is at this point that mechanical energy is transformed into chemical energy. The nerve endings that are stimulated will send signals to the brain, indicating the sound that we hear.</p>
    </section>
    <p>The <dfn id="d-semi-circular-canals">semi-circular canals</dfn>, attached to the cochlea, serve no known auditory purpose. They are three U-shaped tubes arramged in perpendicular planes, necessary for determining balance. They operate in almost the exact manner as the cochlea does. The perilymph in these canals move with respect to the force of gravity, and stimulate tiny cilia attached to nerve fibers. These Vestibular Nerve fibers send information to the brain telling us our orientation.</p>
  </section>
</section>
</main>
</body>
</html>
