---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Continuation Prompt &in; Continuation Project</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A continuation project for music technology."/>
<link rel="stylesheet" href="../higher-ed.css"/>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 3055</div>
  <div class="courseinfo-name">Music &amp; Multimedia Production</div>
  <div class="courseinfo-term">Fall, 2008</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.music.vt.edu/faculty/dunston/">Michael Dunston</a></div>
</header>
<nav class="breadcrumbs">
  <ol>
    <li><a href="index.html">Prompt</a></li>
    <li><a href="continuation.html">Detailed Outline</a></li>
    <li><a href="ear.html">The Human Ear</a></li>
    <li><a href="files.html">Media Files</a></li>
  </ol>
</nav>
<main>
<header>
  <h1>Continuation Web Project</h1>
  <p class="timestamp">Submitted <time datetime="2008-10-15">October 15, 2008</time>.</p>
  <img src="images/sub_header_small.jpg" alt="Department of Music banner"/>
</header>
<h2>Project Prompt</h2>
<p>Produce a multi-page, inter-linked website incorporating text,
graphics, media files that employs at least one cascading style sheet
for site-wide formatting. (We will finish covering the inclusion of
media files on Friday.)</p>
<p>The site should contain a complete, detailed and properly formatted
outline listing all the elements necessary to be addressed when
thoroughly answering the continuation exam question discussed in class:</p>
<blockquote>The dampers are lifted on a piano and a single key is struck. The resulting sound is recorded as a digital audio sound file; describe all of the events and processes that occur.</blockquote>
<p>This outline should be a minimum of four-levels deep (where
appropriate) and use a combination or ordered lists and CSS for proper
formatting as discussed in class.</p>
<p>In addition to the outline, there should be a (linked) page explaining
one of the major elements in detail. (for example, <b>Microphones</b> or
<b>Analog Electrical Audio</b>, <i lang="la"><abbr title="et cetera">etc.</abbr></i>)</p>
</main>
</body>
</html>
