
/*################################*\
    __tool.module.ui.less
\*################################*/
@import (reference) url('__settings.less');


#CHH {
// Use this mixin on most (if not all) UI components to give the font a consistent look-and-feel
.ui-font() {
  #CHH .VARS();
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: @chh_font_family_accent;
  text-rendering: optimizeLegibility;
}

// Use this mixin on UI components that are lighter-colored by default
.ui-lite() {
  #CHH .CONSTS();
  #CHH .VARS();
  color: @chh_color_portal_apertureblack;
  text-shadow: @ui_ts_x @ui_ts_y @ui_ts_blur @ui_ts_color_lite;
  background: @chh_color_portal_aperturegrey_5o6;
}

// Use this mixin on UI components that are darker-colored by default
.ui-dark() {
  #CHH .CONSTS();
  #CHH .VARS();
  color: @chh_color_portal_aperturewhite;
  text-shadow: @ui_ts_x @ui_ts_y @ui_ts_blur @ui_ts_color_dark;
  background: @chh_color_portal_aperturegrey_1o6;
}
}
