---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Math 7 Unit 1 Overview</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Integers unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 1: Whole Numbers and Integers</h1>
	<p class="timestamp">Updated <time datetime="2013-09-04T22:07">September 04, 2013</time>.</p>
	<p class="prose">This unit focuses on performing, and identifying properties of, operations on whole numbers and integers. Students will simplify expressions involving the four basic operations on integers, and will translate, and distinguish, between verbal and mathematical expressions and statements. Students will also identify and use the field properties of addition and multiplication.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="ooo">
		<h1 class="h-gamma">Order of Operations</h1>
		<ul>
			<li>Compute the value of a numeric expression (one without variables) involving
				<ol>
					<li>the four basic operations on whole numbers, and</li>
					<li>the same with parenthesis and exponents included (the exponent may be applied to a monomial or polynomial).</li>
				</ol>
			</li>
			<li class="optional">Identify the terms in a given numeric expression or an expression with variables, and classify such an expression as a monomial, binomial, trinomial, or polynomial.</li>
			<li class="optional">Create a numeric expression equal to a target value.</li>
			<li><span class="standard-id">7.13b</span> Evaluate an expression with at most three variables, given the replacement values of those variables.
				<ul>
					<li>Given an expression and the variables' replacement values, find the value of the expression.</li>
					<li>Given the variables' replacement values and a target value, choose an expression, that when evaluated, is equal to the target value.</li>
					<li>Given an expression and a target value, choose a set of variables' replacement vales that would make the expression equal to the target value. (This is identical to choosing values that satisfy an equation.)</li>
				</ul>
			</li>
			<li><span class="standard-id">7.13a</span> Translating between verbals and mathematics
				<ul>
					<li>Translate verbal phrases to and from mathematical expressions, containing at most two operations.</li>
					<li>Translate verbal sentences to and from mathematical statements (including equations and inequalities).</li>
					<li>Identify differences between mathematical expressions and mathematical statements.</li>
				</ul>
			</li>
		</ul>
	</section>
	<section id="integer-operations">
		<h1 class="h-gamma">Operations on Integers</h1>
		<ul>
			<li><span class="standard-id">7.3a</span> Model multiplication, division, addition, and subtraction of integers using manipulatives and pictorial representations (<a href="modeling-integer-operations.html">representations will include two-colored counters, blocks, and number lines</a>).</li>
			<li><span class="standard-id">7.3b</span> Evaluate an expression involving addition, subtraction, multiplication, or division of integers.</li>
		</ul>
	</section>
	<section id="field-properties">
		<h1 class="h-gamma">Field Properties</h1>
		<ul>
			<li>Identify the following properties used in simplifying an expression:
				<ol>
					<li>commutative property of addition (CA)</li>
					<li>commutative property of multiplication (CM)</li>
					<li>associative property of addition (AA)</li>
					<li>associative property of multiplication (AM)</li>
					<li>identity property of addition (IA)</li>
					<li>identity property of multiplication (IM)</li>
					<li>inverse property of addition (NA)</li>
					<li>inverse property of multiplication (NM)</li>
					<li>zero property of multiplication (ZM)</li>
					<li>distributive property of multiplication over addition (DM)</li>
					<li class="optional">distributive property of exponents over multiplication (DE)</li>
				</ol>
			</li>
			<li><span class="standard-id">7.16</span> Apply the field properties when simplifying an expression.</li>
		</ul>
	</section>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li><a href="orderofoperations.html">Lesson 1.1<del>&ndash;1.2</del>: Order of Operations</a></li>
		<li><a href="substitutions.html">Lesson 1.3: Substitutions</a></li>
		<li><a href="addingintegers.html">Lesson 1.4: Adding Integers</a></li>
		<li><a>Lesson 1.5: Subtracting Integers</a></li>
		<li><a>Lesson 1.6: Multiplying Integers</a></li>
		<li><a>Lesson 1.7: Dividing Integers</a></li>
		<li><a>Lesson 1.8: Field Properties of Real Numbers</a></li>
		<li><a>Lesson 1.9: Verbal Mathematics</a></li>
	</ol>
</section>
<section id="assessments">
	<h1 class="h-beta">Assessments</h1>
	<ol class="list-action">
		<li><a href="u1-prequiz1.html">Unit 1 Pre-Quiz 1</a> (Lesson 1.1<del>&ndash;1.2</del>)</li>
		<li><a>Unit 1 Quiz 1</a> (Lesson 1.1<del>&ndash;1.2</del>)</li>
		<li><a>Standard 7.13b</a> (Lesson 1.3)</li>
		<li><a>Unit 1 Pre-Quiz 2</a> (Lesson )</li>
		<li><a>Unit 1 Quiz 2</a> (Lessons 1.4&ndash;1.5)</li>
		<li><a>Standard 7.3</a> (Lessons 1.4&ndash;1.7)</li>
		<li><a>Standard 7.16</a> (Lesson 1.8)</li>
		<li><a>Standard 7.13a</a> (Lesson 1.9)</li>
	</ol>
</section>
</div>
</body>
</html>
