---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Quiz 1.1 &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
<script src="http://chharvey.github.io/core/scripts/all.js"></script>

</head>
<body class="assessment">
{% include masthead.html %}
<div class="main">
<header>
	<div class="quizheading">
		<p>Math 7 &mdash; Mr. Harvey</p>
		<h1 class="h-alpha">Unit 1 Quiz 1</h1>
	</div>
	<form class="studentheading">
		<div>
			<label>Name:
			<input id="name" type="text" required=""/></label>
		</div>
		<div>
			<label>Date:
			<input id="date" type="date" required=""/></label>
		</div>
		<div>
			<label>Period:
			<input id="period" type="number" required=""/></label>
		</div>
	</form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work.</p>
<form autocomplete="off">
	<p class="directions">#1&ndash;3: <span class="verb">Evaluate</span> the following expressions.</p>
	<ol class="problemset">
		<li class="free-response-number">
			<span class="latex">\(100-40\times2\)</span>
			<label class="right">
				<input id="\(100-40\times2\)" type="number"/>
			</label>
		</li>
		<li class="free-response-number">
			<span class="latex">\(\left(2+10\right)\div\left(5-1\right)+2\)</span>
			<label class="right">
				<input id="\(\left(2+10\right)\div\left(5-1\right)+2\)" type="number"/>
			</label>
		</li>
		<li class="free-response-number">
			<span class="latex">\(\frac{136+8^2}{2^2}+40\)</span>
			<label class="right">
				<input id="\(\frac{136+8^2}{2^2}+40\)" type="number"/>
			</label>
		</li>
	</ol>
	<ol class="problemset" start="4">
		<li class="free-response-text">
			<p class="directions">Betty's work is shown below. If she made a mistake, <span class="verb">explain</span> what she did wrong and <span class="verb">correct</span> her work. If there are no mistakes, <span class="verb">write</span> <kbd class="write">no errors</kbd>.</p>
			<div class="latex">\[
				\left(3+4\right)^2\\
				3^2+4^2\\
				9+16\\
				25
			\]</div>
			<label>
				<textarea id="\[\left(3+4\right)^2\\3^2+4^2\\9+16\\25\]" cols="50" rows="5"></textarea>
			</label>
		</li>
		<li class="free-response-text">
			<p class="directions"><span class="verb">Create</span> an expression using only the numbers 1, 2, 3, and 4; three operations (addition, subtraction, multiplication, division, or exponents); and one set of meaningful parentheses. Then, <span class="verb">evaluate</span> your expression. (Extra credit if you can make your expression equal 40.)</p>
			<label class="right">
				<input id="create" type="text"/>
			</label>
		</li>
	</ol>
	<input class="right" type="submit"/>
</form>
</div>
</body>
</html>
