---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Math 7 Lesson 1.2</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Lesson 1.2: Order of Operations, part 2</h1>
	<dl>
		<dt>SOL</dt>
		<dd>none</dd>
		<dt>Timeframe</dt>
		<dd>Week I.1</dd>
		<dt>Time required</dt>
		<dd>1 day</dd>
		<dt>Lesson created</dt>
		<dd><time datetime="2013-08-26T12:59">Aug 26, 2013</time></dd>
		<dt>Lesson updated</dt>
		<dd><time datetime="2013-08-26T12:59">Aug 26, 2013</time></dd>
	</dl>
</header>
<section class="prep">
	<h1 class="h-beta">Preparation</h1>
	<section>
		<h1 class="h-gamma">Objectives</h1>
		<ul>
			<li>The student will compute the value of a numeric expression involving the four basic operations, parentheses, and exponents of whole numbers.</li>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Essential Questions</h1>
		<ul>
			<li>What is an exponent?</li>
			<li>How do I know which operations to perform first?</li>
		</ul>
	</section>
	<section>
		<h1 class="h-gamma">Vocabulary</h1>
		<dl class="vocablist">
		</dl>
	</section>
</section>
<section class="implement">
	<h1 class="h-beta">Lesson Implementation</h1>
	<section>
		<h1 class="h-gamma">Warm-up</h1>
		<p>Give students the following problems to complete and turn in. Check for understanding.</p>
		<blockquote>
			<ol>
				<li><span class="latex">\(15\div 5+1\times 18\)</span></li>
				<li><span class="latex">\((20-2)\times(8+2)+10\)</span></li>
			</ol>
		</blockquote>
	</section>
	<section>
		<h1 class="h-gamma">Instruction</h1>
		<p>Hand students the <a title="a worksheet including a short page of notes and a short practice worksheet involving exponents">Exponents</a> mini-lesson. Quickly review what an exponent really is (repeated multiplication) and how to calculate it on the calculator. Have them do some example problems. This whole process should take about 15 to 20 minutes.</p>
		<blockquote>
			<p>Exponents practice problems.</p>
			<p>Expand the following:</p>
			<ol class="practiceproblems">
				<li><span class="latex">\(3^8\)</span></li>
				<li><span class="latex">\(n^7\)</span></li>
				<li><span class="latex">\(a^2 b^4\)</span></li>
			</ol>
			<p>Write each as an exponent:</p>
			<ol class="practiceproblems">
				<li><span class="latex">\(2\cdot 2\cdot 2\)</span></li>
				<li><span class="latex">\(4\cdot 4\cdot 5\cdot 5\cdot 5\)</span></li>
				<li><span class="latex">\(aaabbc\)</span></li>
			</ol>
		</blockquote>
	</section>
	<section>
		<h1 class="h-gamma">Guided Practice</h1>
		<p>Introduce problems involving expressions where the exponent is applied to monomials only (below). After grouping symbols, they should compute the exponents, and then use the process learned from <a href="orderofopertaions-part1.html">Lesson 1.1</a>.</p>
		<blockquote>
			<ol class="practiceproblems">
				<li><span class="latex">\(5+8^2+6\)</span></li>
				<li><span class="latex">\(4+\left(9+2^2\div 2\right)\)</span></li>
				<li><span class="latex">\(3\times\left(2\times 4^3\right)\div 4\)</span></li>
			</ol>
		</blockquote>
		<p>After practicing with monomials, introduce problems with exponents applied to binomials. Stress the importance of evaluating the parentheses before computing the exponent.</p> 
		<blockquote>
			<ol class="practiceproblems">
				<li><span class="latex">\(8+\left(5+2\right)^2\)</span></li>
				<li><span class="latex">\(3^2+\left(24\div 3+3^2\right)\)</span></li>
				<li><span class="latex">\(\left[\left(10-3\right)^2\times 2\right]+7^2\)</span></li>
			</ol>
		</blockquote>
	</section>
	<section>
		<h1 class="h-gamma">Assessment</h1>
		<p>Formative: Check the practice problems for correctness.</p>
		<p><a>Unit 1 Mini-Quiz 1</a></p>
	</section>
</section>
<section class="reflect">
	<h1 class="h-beta">Reflection</h1>
</section>
</div>
</body>
</html>
