---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Math 7 Unit 1 Pre-Quiz 1</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
<script src="http://chharvey.github.io/core/scripts/all.js"></script>

</head>
<body class="assessment">
{% include masthead.html %}
<div class="main">
<header>
	<div class="quizheading">
		<p>Math 7 &mdash; Mr. Harvey</p>
		<h1 class="h-alpha">Unit 1 Pre-Quiz 1</h1>
	</div>
	<form class="studentheading">
		<div>
			<label>Name:
			<input id="name" type="text" required=""/></label>
		</div>
		<div>
			<label>Date:
			<input id="date" type="date" required=""/></label>
		</div>
		<div>
			<label>Period:
			<input id="period" type="number" required=""/></label>
		</div>
	</form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work.</p>
<form autocomplete="off">
	<p class="directions">#1&ndash;4: <span class="verb">Evaluate</span> the following expressions.</p>
	<ol class="problemset">
		<li class="free-response-number">
			<span class="latex">\(18 + 12 \div 6\)</span>
			<label class="right">
				<input id="\(18+12\div6\)" type="number"/>
			</label>
		</li>
		<li class="free-response-number">
			<span class="latex">\(\left(21-8\right)\times\left(14-6\right)-4\)</span>
			<label class="right">
				<input id="\(\left(21-8\right)\times\left(14-6\right)-4\)" type="number"/>
			</label>
		</li>
		<li class="free-response-number">
			<span class="latex">\(100-13\times2+7^2\)</span>
			<label class="right">
				<input id="\(100-13\times2+7^2\)" type="number"/>
			</label>
		</li>
		<li class="free-response-number">
			<span class="latex">\(\frac{\left(8+1\right)^2-1}{8}\)</span>
			<label class="right">
				<input id="\(\frac{\left(8+1\right)^2-1}{8}\)" type="number"/>
			</label>
		</li>
	</ol>
	<ol class="problemset" start="5">
		<li class="select-multiple">
			<p class="directions"><span class="verb">Select</span> the terms in the expression below.</p>
			<div class="latex">\[3\times 5+4\div 2\]</div>
			<fieldset class="right">
				<ol class="answerchoices">
					<li>
						<label>
							<input id="\(3\)" class="latex" type="checkbox"/>
							<span class="latex">\(3\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="\(5\)" class="latex" type="checkbox"/>
							<span class="latex">\(5\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="\(4\)" class="latex" type="checkbox"/>
							<span class="latex">\(4\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id=">\(2\)" class="latex" type="checkbox"/>
							<span class="latex">\(2\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="\(3\times5\)" class="latex" type="checkbox"/>
							<span class="latex">\(3\times5\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="\(5+4\)" class="latex" type="checkbox"/>
							<span class="latex">\(5+4\)</span>
						</label>
					</li>
					<li>
						<label>
							<input id="\(4\div2\)" class="latex" type="checkbox"/>
							<span class="latex">\(4\div2\)</span>
						</label>
					</li>
				</ol>
			</fieldset>
		</li>
		<li class="free-response-text">
			<p class="directions"><span class="verb">Expand</span> the expression below.</p>
			<div class="latex">\[a^2b^3c\]</div>
			<label class="right">
				<input id="\[a^2b^3c\]" type="text"/>
			</label>
		</li>
		<li class="free-response-text">
			<p class="directions">Alan's work is shown below. If he made a mistake, <span class="verb">explain</span> what he did wrong and <span class="verb">correct</span> his work. If there are no mistakes, <span class="verb">write</span> <kbd class="write">no errors</kbd>.</p>
			<div class="latex">\[
				24\div 3\times 4\\
				24\div 12\\
				2
			\]</div>
			<label>
				<textarea id="\[24\div3\times4\\24\div12\\2\]" cols="50" rows="5"></textarea>
			</label>
		</li>
	</ol>
	<input class="right" type="submit"/>
</form>
</div>
</body>
</html>
