// out: home.css

/*################################*\
    home.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.module.sprite.less');
@import (reference) url('../../core/styles/project.less');


// A button with an icon as its background image.
// It should have text for when CSS is disabled, but this text has a transparent color.
// Typically, this button will take the form of an `a[href]` Element.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-04-26
.c-IconButton {
  display: block;
  color: transparent !important; // HACK FIXME due to specificity of `a[href]`
  background-repeat: no-repeat;
}

// A contact icon on the "About" page.
// An application icon on the "Web" page.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-04-11
.HOMEICONS() {
  @homeiconsize: 64px;
  @homeiconpadd: 10px;
}
.c-IconButton--ct,
.c-IconButton--ap {
  .HOMEICONS();
  width:  @homeiconsize;
  height: @homeiconsize;
  background-image: url('../images/icon-sprite-bw.png');
  &:hover {
    background-image: url('../images/icon-sprite.png');
  }
}
.c-IconButton--ct {
}
.c-IconButton--ct--mapss {.HOMEICONS(); #XMETER .sprite(horizontal; 1; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--phone {.HOMEICONS(); #XMETER .sprite(horizontal; 2; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--email {.HOMEICONS(); #XMETER .sprite(horizontal; 3; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--linkd {.HOMEICONS(); #XMETER .sprite(horizontal; 4; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--stack {.HOMEICONS(); #XMETER .sprite(horizontal; 5; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--githb {.HOMEICONS(); #XMETER .sprite(horizontal; 6; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--googl {.HOMEICONS(); #XMETER .sprite(horizontal; 7; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--twitr {.HOMEICONS(); #XMETER .sprite(horizontal; 8; @homeiconsize; @homeiconpadd);}
.c-IconButton--ct--npmjs {.HOMEICONS(); #XMETER .sprite(horizontal; 9; @homeiconsize; @homeiconpadd);}

.c-IconButton--ap {
  .HOMEICONS();
  border-radius: (@homeiconsize / 4);
}
.c-IconButton--ap--apple {.HOMEICONS(); #XMETER .sprite(horizontal; 10; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--chrom {.HOMEICONS(); #XMETER .sprite(horizontal; 11; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--atomm {.HOMEICONS(); #XMETER .sprite(horizontal; 12; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--gittt {.HOMEICONS(); #XMETER .sprite(horizontal; 13; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--lessc {.HOMEICONS(); #XMETER .sprite(horizontal; 14; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--jadee {.HOMEICONS(); #XMETER .sprite(horizontal; 15; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--npmjs {.HOMEICONS(); #XMETER .sprite(horizontal; 16; @homeiconsize; @homeiconpadd);}
.c-IconButton--ap--bower {.HOMEICONS(); #XMETER .sprite(horizontal; 17; @homeiconsize; @homeiconpadd);}

// List of acknowledgements on about page.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-03-24
.AcknowledgementsList {
  #XMETER .font-size-block(@chh_font_size_sml; @chh_line_height);
  padding-left: 2rem;
}

// A logo for an organization.
//
// ^author
// : Chris Harvey
// ^updated
// : 2014-06-16
.Capt-logo {
  padding-right: 96px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 72px auto;
}
.Capt-logo.Nctm {background-image: url('../images/logos-banners/logo-NCTM.png');}
.Capt-logo.Vctm {background-image: url('../images/logos-banners/logo-VCTM.png');}
.Capt-logo.Txin {background-image: url('../images/logos-banners/logo-TI.png');}
.Capt-logo.Vdoe {background-image: url('../images/logos-banners/logo-VA-DOE.png');}
.Capt-logo.Amsy {background-image: url('../images/logos-banners/logo-AMS.png');}
.Capt-logo.Vmta {background-image: url('../images/logos-banners/logo-VMTA.png');}
