@import (reference) url('../../node_modules/octicons/octicons/octicons.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../../styles/src/__settings.less');

/*################################*\
    landing2.less
\*################################*/

// h1 {
//   display: inline;
//   font: inherit;
//   line-height: 0;
//   text-align: inherit;
//   color: inherit;
// }

.c-Spiral {
  #XMETER .flex-justify-content(space-around);
  text-align: center;
}
.c-Square {
  display: block;
  line-height: inherit;
  border: 1px solid black;
  // body x-margins are 0.5rem
  @boxwidth: (15 - 2*0.5)/5 * 16px;
  width:  @boxwidth;
  height: @boxwidth;
  padding: 0.25rem;
  @media screen and (min-width: 30em) {
    // body x-margins are 0.5rem
    @boxwidth: (30 - 2*0.5)/5 * 16px;
    width:  @boxwidth;
    height: @boxwidth;
  }
  @media screen and (min-width: 45em) {
    // body x-margins are 1rem and container is @phi1 with left-padding of 1rem
    #CHH .CONSTS();
    @boxwidth: ((45 - 2*1)*@phi1 - 1*1)/5 * 16px;
    width:  @boxwidth;
    height: @boxwidth;
    padding: 0.5rem;
  }
  @media screen and (min-width: 60em) {
    // body x-margins are 1rem and container is @phi1 with x-padding of 1rem
    #CHH .CONSTS();
    @boxwidth: ((60 - 2*1)*@phi1 - 2*1)/5 * 16px;
    width:  @boxwidth;
    height: @boxwidth;
  }
  @media screen and (min-width: 75em) {
    // body x-margins are 2rem and container is @phi1 with x-padding of 2rem
    #CHH .CONSTS();
    @boxwidth: ((75 - 2*2)*@phi1 - 2*2)/5 * 16px;
    width:  @boxwidth;
    height: @boxwidth;
    padding: 1rem;
  }
}
.c-Square--dev {
  width: 100%;
}

// .c-Spiral > li {
//   &::before {
//     .octicon;
//     z-index: 10;
//   }
//   &:nth-child(1) { .octicon-home; }
//   &:nth-child(2) { .octicon-briefcase; }
//   &:nth-child(3) { .octicon-file-code; }
//   &:nth-child(4) { .octicon-graph; }
//   &:nth-child(5) { .octicon-mortar-board; }
//   &:nth-child(6) { .octicon-settings; }
//   &:nth-child(7) { .octicon-jersey; }
//   &:nth-child(8) { .octicon-law; }
//    .octicon-beaker;
// }


// .c-Square__Text {
//   // color: transparent;
//   &::before {
//
//     font-size: inherit;
//     line-height: inherit;
//     // color: black;
//   }
// }

// .c-Square__Text {
//   display: none;
// }
