@import (reference) url('../../node_modules/octicons/octicons/octicons.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../../styles/src/__settings.less');

/*################################*\
    landing2.less
\*################################*/

@mainwidth_sK: 1;
@mainwidth_sM: 4/5;
@mainwidth_sG: 3/4;
@mainwidth_sT: 2/3;
main {
  margin: auto;
  @media screen and (min-width: 30em) { // @sK
    width: @mainwidth_sK * 100%;
  }
  @media screen and (min-width: 45em) { // @sM
    width: @mainwidth_sM * 100%;
  }
  @media screen and (min-width: 60em) { // @sG
    width: @mainwidth_sG * 100%;
  }
  @media screen and (min-width: 75em) { // @sT
    width: @mainwidth_sT * 100%;
  }
}
// h1 {
//   display: inline;
//   font: inherit;
//   line-height: 0;
//   text-align: inherit;
//   color: inherit;
// }

.c-LandingLinkList {
  #XMETER .flex-justify-content(space-around);
  text-align: center;
  & > li {
    @media screen and (max-width: 29.999em) {
      #CHH .VARS();
      width: 100%;
      line-height: (@chh_line_height * 2);
      margin-bottom: (@chh_vru / 2);
    }
  }
}

@media screen and (min-width: 30em) { // @sK
  .c-LandingLinkList--folio > li {
    &:nth-child(1) { // web
      #XMETER .flex-order(0);
    }
    &:nth-child(2) { // math
      #XMETER .flex-order(-1);
    }
    &:nth-child(3) { // music
      #XMETER .flex-order(0);
    }
    &:nth-child(4) { // edu
      #XMETER .flex-order(0);
    }
    &:nth-child(5) { // swim
      #XMETER .flex-order(-2);
    }
  }
  .c-LandingLinkList--bio > li {
    &:nth-child(1) { // about
      #XMETER .flex-order(0);
    }
    &:nth-child(2) { // resume
      #XMETER .flex-order(-1);
    }
    &:nth-child(3) { // copyright
      #XMETER .flex-order(0);
    }
  }
}

.c-LandingLink {
  display: block;
  line-height: inherit;
  border: 1px solid black;
  width: 100%;
  height: auto;
  &:hover {
    text-decoration: none;
  }
  @media screen and (min-width: 30em) { // @sK
    // body x-margins are 0.5rem
    @body_margin_x: 0.5;
    @boxwidth: ((30 - 2*@body_margin_x)*@mainwidth_sK)/5;
    width:  @boxwidth * 16px;
    height: @boxwidth * 16px;
    font-size: (@boxwidth/2 * 1rem);
  }
  @media screen and (min-width: 45em) { // @sM
    // body x-margins are 1rem and container is @mainwidth_sM
    @body_margin_x: 1;
    @boxwidth: ((45 - 2*@body_margin_x)*@mainwidth_sM)/5;
    width:  @boxwidth * 16px;
    height: @boxwidth * 16px;
    padding: @body_margin_x/2 * 1rem;
    font-size: (@boxwidth/2 * 1rem);
  }
  @media screen and (min-width: 60em) { // @sG
    // body x-margins are 1rem and container is @mainwidth_sG
    @body_margin_x: 1;
    @boxwidth: ((60 - 2*@body_margin_x)*@mainwidth_sG)/5;
    width:  @boxwidth * 16px;
    height: @boxwidth * 16px;
    font-size: (@boxwidth/2 * 1rem);
  }
  @media screen and (min-width: 75em) { // @sT
    // body x-margins are 2rem and container is @mainwidth_sT
    @body_margin_x: 2;
    @boxwidth: ((75 - 2*@body_margin_x)*@mainwidth_sT)/5;
    width:  @boxwidth * 16px;
    height: @boxwidth * 16px;
    padding: @body_margin_x/2 * 1rem;
    font-size: (@boxwidth/2 * 1rem);
  }
}
.c-LandingLink--dev {
  width: 100%;
}

.c-LandingLink__Text {
  display: none;
}

.c-LandingLink__Icon {
  &::before {
    .octicon;
    font-size: inherit;
  }
}
.c-LandingLink__Icon--web       { .octicon-file-code; }
.c-LandingLink__Icon--math      { .octicon-graph; }
.c-LandingLink__Icon--music     { .octicon-settings; }
.c-LandingLink__Icon--edu       { .octicon-mortar-board; }
.c-LandingLink__Icon--swim      { .octicon-jersey; }
.c-LandingLink__Icon--about     { .octicon-home; }
.c-LandingLink__Icon--resume    { .octicon-briefcase; }
.c-LandingLink__Icon--copyright { .octicon-law; }
.c-LandingLink__Icon--dev       { .octicon-beaker; }
