
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    landing sub-project stylesheet
    Version: 4.0.0
    Licence: MIT
    Repo   : https://github.com/chharvey/chharvey.github.io.git
    Home   : https://chharvey.github.io/chharvey.github.io/
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@import (reference) url('../../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../../styles/src/__settings.less');


/*================================*\
    landing.less
\*================================*/


main {
  margin: auto;
}

.o-LandingLinkList {
  #XMETER .flex-justify-content(space-around);
  text-align: center;
  & > li {
    @media screen and (max-width: 29.999em) {
      width: 100%;
      #CHH .VARS();
      margin-bottom: (@chh_vru / 2);
    }
  }
}

@media screen and (min-width: 30em) { // @sK
  // .o-LandingLinkList__Item--web       { #XMETER .flex-order(0); }
  .o-LandingLinkList__Item--math      { #XMETER .flex-order(-1); }
  // .o-LandingLinkList__Item--music     { #XMETER .flex-order(0); }
  // .o-LandingLinkList__Item--edu       { #XMETER .flex-order(0); }
  .o-LandingLinkList__Item--swim      { #XMETER .flex-order(-2); }
  // .o-LandingLinkList__Item--about     { #XMETER .flex-order(0); }
  .o-LandingLinkList__Item--resume    { #XMETER .flex-order(-1); }
  // .o-LandingLinkList__Item--copyright { #XMETER .flex-order(0); }
  .o-LandingLinkList__Item--dev {
    width: 100%;
  }
}

.c-LandingLink {
  display: block;
  line-height: inherit;
  width: 100%;
  height: 100%;
  #CHH .VARS();
  padding: @chh_vru/2 0;
  border-radius: 0.25rem;
  font-weight: 700;
  #CHH .CONSTS();
  text-shadow: 0 0 0.5em @chh_color_portal_aperturewhite;
  &,
  &:hover {
    #CHH .CONSTS();
    color: @chh_color_portal_apertureblack;
  }
  &:hover {
    #CHH .CONSTS();
    text-decoration: none;
    text-shadow: 0 0 0.25em @chh_color_portal_aperturewhite;
  }
  @media screen and (min-width: 30em) { // @sK
    border-radius: 0.5rem;
  }
  @media screen and (min-width: 45em) { // @sM
    border-radius: 1rem;
  }
  @media screen and (min-width: 60em) { // @sG
    border-radius: 2rem;
  }
}

.mx-bcbs(@color) {
  background-color: @color;
  box-shadow: 0 0 1em 0 fadeout(@color, 20%);
  &:hover {
    background-color: fadeout(@color , 20%);
    box-shadow: 0 0 1em 0.5em fadeout(fadeout(@color , 20%), 20%);
  }
}
.c-LandingLink--web       { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_neurotoxin ); }
.c-LandingLink--math      { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_propulsion); }
.c-LandingLink--music     { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_hereye); }
.c-LandingLink--edu       { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_companion); }
.c-LandingLink--swim      { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_repulsion); }
.c-LandingLink--about     { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_bridges); }
.c-LandingLink--resume    { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_vilify); }
.c-LandingLink--copyright { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_deploying); }
.c-LandingLink--dev       { #CHH .CONSTS(); .mx-bcbs(@chh_color_portal_facilityabyss); }
.c-LandingLink--dev {
  #CHH .VARS();
  font-family: 'Courier',@chh_font_family_code;
  &,
  &:hover {
    #CHH .CONSTS();
    color: @chh_color_portal_aperturewhite;
  }
}

.c-LandingLink__Icon,
.c-LandingLink__Text {
  line-height: inherit;
}

.c-LandingLink__Icon {
  display: none;
  @media screen and (min-width: 45em) {
    :not(:hover) > & { display: block; }
  }
}

.c-LandingLink__Text {
  display: block;
  @media screen and (min-width: 45em) {
    :not(:hover) > & { display: none; }
  }
}


@media screen and (min-width: 30em) { // @sK
  // body x-margins are 0.5rem and container is 100%
  @body_margin_x: 0.5;
  @mainwidth: 1;
  @containerwidth: (30 - 2*@body_margin_x)*@mainwidth;
  @boxheight: @containerwidth/5;
  main {
    width: @mainwidth * 100%;
  }
  .o-LandingLinkList__Item {
    height: @boxheight * 16px;
    .o-LandingLinkList--folio > & { width:  @containerwidth/5 * 16px; }
    .o-LandingLinkList--bio   > & { width:  @containerwidth/3 * 16px; }
    .o-LandingLinkList--dev   > & { width:  @containerwidth/1 * 16px; }
  }
  .c-LandingLink {
    padding: @body_margin_x/2 * 1rem;
  }
  .c-LandingLink__Icon {
    font-size: (@boxheight/2 * 1rem);
  }
  .c-LandingLink__Text {
    font-size: (@boxheight/4 * 1rem);
    padding-top: (@boxheight/8 * 1rem);
  }
}
@media screen and (min-width: 45em) { // @sM
  // body x-margins are 1rem and container is 80%
  @body_margin_x: 1;
  @mainwidth: 4/5;
  @containerwidth: (45 - 2*@body_margin_x)*@mainwidth;
  @boxheight: @containerwidth/5;
  main {
    width: @mainwidth * 100%;
  }
  .o-LandingLinkList__Item {
    height: @boxheight * 16px;
    .o-LandingLinkList--folio > & { width:  @containerwidth/5 * 16px; }
    .o-LandingLinkList--bio   > & { width:  @containerwidth/3 * 16px; }
    .o-LandingLinkList--dev   > & { width:  @containerwidth/1 * 16px; }
  }
  .c-LandingLink {
    padding: @body_margin_x/2 * 1rem;
  }
  .c-LandingLink__Icon {
    font-size: (@boxheight/2 * 1rem);
  }
  .c-LandingLink__Text {
    font-size: (@boxheight/4 * 1rem);
    padding-top: (@boxheight/8 * 1rem);
  }
}
@media screen and (min-width: 60em) { // @sG
  // body x-margins are 1rem and container is 75%
  @body_margin_x: 1;
  @mainwidth: 3/4;
  @containerwidth: (60 - 2*@body_margin_x)*@mainwidth;
  @boxheight: @containerwidth/5;
  main {
    width: @mainwidth * 100%;
  }
  .o-LandingLinkList__Item {
    height: @boxheight * 16px;
    .o-LandingLinkList--folio > & { width:  @containerwidth/5 * 16px; }
    .o-LandingLinkList--bio   > & { width:  @containerwidth/3 * 16px; }
    .o-LandingLinkList--dev   > & { width:  @containerwidth/1 * 16px; }
  }
  .c-LandingLink {
  }
  .c-LandingLink__Icon {
    font-size: (@boxheight/2 * 1rem);
  }
  .c-LandingLink__Text {
    font-size: (@boxheight/4 * 1rem);
    padding-top: (@boxheight/8 * 1rem);
  }
}
@media screen and (min-width: 75em) { // @sT
  // body x-margins are 2rem and container is 66.666%
  @body_margin_x: 2;
  @mainwidth: 2/3;
  @containerwidth: (75 - 2*@body_margin_x)*@mainwidth;
  @boxheight: @containerwidth/5;
  main {
    width: @mainwidth * 100%;
  }
  .o-LandingLinkList__Item {
    height: @boxheight * 16px;
    .o-LandingLinkList--folio > & { width:  @containerwidth/5 * 16px; }
    .o-LandingLinkList--bio   > & { width:  @containerwidth/3 * 16px; }
    .o-LandingLinkList--dev   > & { width:  @containerwidth/1 * 16px; }
  }
  .c-LandingLink {
    padding: @body_margin_x/2 * 1rem;
  }
  .c-LandingLink__Icon {
    font-size: (@boxheight/2 * 1rem);
  }
  .c-LandingLink__Text {
    font-size: (@boxheight/4 * 1rem);
    padding-top: (@boxheight/8 * 1rem);
  }
}
