/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    landing sub-project stylesheet
    Version: 4.0.0
    Licence: MIT
    Repo   : https://github.com/chharvey/chharvey.github.io.git
    Home   : https://chharvey.github.io/chharvey.github.io/
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*\
    landing.less
\*================================*/
main {
  margin: auto;
}
.o-LandingLinkList {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 29.999em) {
  .o-LandingLinkList > li {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
@media screen and (min-width: 30em) {
  .o-LandingLinkList__Item--math {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .o-LandingLinkList__Item--swim {
    -webkit-box-ordinal-group: -2;
    -moz-box-ordinal-group: -2;
    -ms-flex-order: -2;
    -webkit-order: -2;
    order: -2;
  }
  .o-LandingLinkList__Item--resume {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .o-LandingLinkList__Item--dev {
    width: 100%;
  }
}
.c-LandingLink {
  display: block;
  line-height: inherit;
  width: 100%;
  height: 100%;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  font-weight: 700;
  text-shadow: 0 0 0.5em #f2f7ff;
}
.c-LandingLink,
.c-LandingLink:hover {
  color: #0d0800;
}
.c-LandingLink:hover {
  text-decoration: none;
  text-shadow: 0 0 0.25em #f2f7ff;
}
@media screen and (min-width: 30em) {
  .c-LandingLink {
    border-radius: 0.5rem;
  }
}
@media screen and (min-width: 45em) {
  .c-LandingLink {
    border-radius: 1rem;
  }
}
@media screen and (min-width: 60em) {
  .c-LandingLink {
    border-radius: 2rem;
  }
}
.c-LandingLink--web {
  background-color: #9acc7a;
  box-shadow: 0 0 1em 0 rgba(154, 204, 122, 0.8);
}
.c-LandingLink--web:hover {
  background-color: rgba(154, 204, 122, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(154, 204, 122, 0.6);
}
.c-LandingLink--math {
  background-color: #ff7e33;
  box-shadow: 0 0 1em 0 rgba(255, 126, 51, 0.8);
}
.c-LandingLink--math:hover {
  background-color: rgba(255, 126, 51, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(255, 126, 51, 0.6);
}
.c-LandingLink--music {
  background-color: #ffe433;
  box-shadow: 0 0 1em 0 rgba(255, 228, 51, 0.8);
}
.c-LandingLink--music:hover {
  background-color: rgba(255, 228, 51, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(255, 228, 51, 0.6);
}
.c-LandingLink--edu {
  background-color: #ff99c0;
  box-shadow: 0 0 1em 0 rgba(255, 153, 192, 0.8);
}
.c-LandingLink--edu:hover {
  background-color: rgba(255, 153, 192, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(255, 153, 192, 0.6);
}
.c-LandingLink--swim {
  background-color: #33b4ff;
  box-shadow: 0 0 1em 0 rgba(51, 180, 255, 0.8);
}
.c-LandingLink--swim:hover {
  background-color: rgba(51, 180, 255, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(51, 180, 255, 0.6);
}
.c-LandingLink--about {
  background-color: #99daff;
  box-shadow: 0 0 1em 0 rgba(153, 218, 255, 0.8);
}
.c-LandingLink--about:hover {
  background-color: rgba(153, 218, 255, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(153, 218, 255, 0.6);
}
.c-LandingLink--resume {
  background-color: #9d00ff;
  box-shadow: 0 0 1em 0 rgba(157, 0, 255, 0.8);
}
.c-LandingLink--resume:hover {
  background-color: rgba(157, 0, 255, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(157, 0, 255, 0.6);
}
.c-LandingLink--copyright {
  background-color: #ff4b33;
  box-shadow: 0 0 1em 0 rgba(255, 75, 51, 0.8);
}
.c-LandingLink--copyright:hover {
  background-color: rgba(255, 75, 51, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(255, 75, 51, 0.6);
}
.c-LandingLink--dev {
  background-color: #3d6166;
  box-shadow: 0 0 1em 0 rgba(61, 97, 102, 0.8);
}
.c-LandingLink--dev:hover {
  background-color: rgba(61, 97, 102, 0.8);
  box-shadow: 0 0 1em 0.5em rgba(61, 97, 102, 0.6);
}
.c-LandingLink--dev {
  font-family: 'Courier', 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
.c-LandingLink--dev,
.c-LandingLink--dev:hover {
  color: #f2f7ff;
}
.c-LandingLink__Icon,
.c-LandingLink__Text {
  line-height: inherit;
}
.c-LandingLink__Icon {
  display: none;
}
@media screen and (min-width: 45em) {
  :not(:hover) > .c-LandingLink__Icon {
    display: block;
  }
}
.c-LandingLink__Text {
  display: block;
}
@media screen and (min-width: 45em) {
  :not(:hover) > .c-LandingLink__Text {
    display: none;
  }
}
@media screen and (min-width: 30em) {
  main {
    width: 100%;
  }
  .o-LandingLinkList__Item {
    height: 92.8px;
  }
  .o-LandingLinkList--folio > .o-LandingLinkList__Item {
    width: 92.8px;
  }
  .o-LandingLinkList--bio > .o-LandingLinkList__Item {
    width: 154.66666667px;
  }
  .o-LandingLinkList--dev > .o-LandingLinkList__Item {
    width: 464px;
  }
  .c-LandingLink {
    padding: 0.25rem;
  }
  .c-LandingLink__Icon {
    font-size: 2.9rem;
  }
  .c-LandingLink__Text {
    font-size: 1.45rem;
    padding-top: 0.725rem;
  }
}
@media screen and (min-width: 45em) {
  main {
    width: 80%;
  }
  .o-LandingLinkList__Item {
    height: 110.08px;
  }
  .o-LandingLinkList--folio > .o-LandingLinkList__Item {
    width: 110.08px;
  }
  .o-LandingLinkList--bio > .o-LandingLinkList__Item {
    width: 183.46666667px;
  }
  .o-LandingLinkList--dev > .o-LandingLinkList__Item {
    width: 550.4px;
  }
  .c-LandingLink {
    padding: 0.5rem;
  }
  .c-LandingLink__Icon {
    font-size: 3.44rem;
  }
  .c-LandingLink__Text {
    font-size: 1.72rem;
    padding-top: 0.86rem;
  }
}
@media screen and (min-width: 60em) {
  main {
    width: 75%;
  }
  .o-LandingLinkList__Item {
    height: 139.2px;
  }
  .o-LandingLinkList--folio > .o-LandingLinkList__Item {
    width: 139.2px;
  }
  .o-LandingLinkList--bio > .o-LandingLinkList__Item {
    width: 232px;
  }
  .o-LandingLinkList--dev > .o-LandingLinkList__Item {
    width: 696px;
  }
  .c-LandingLink__Icon {
    font-size: 4.35rem;
  }
  .c-LandingLink__Text {
    font-size: 2.175rem;
    padding-top: 1.0875rem;
  }
}
@media screen and (min-width: 75em) {
  main {
    width: 66.66666667%;
  }
  .o-LandingLinkList__Item {
    height: 151.46666667px;
  }
  .o-LandingLinkList--folio > .o-LandingLinkList__Item {
    width: 151.46666667px;
  }
  .o-LandingLinkList--bio > .o-LandingLinkList__Item {
    width: 252.44444444px;
  }
  .o-LandingLinkList--dev > .o-LandingLinkList__Item {
    width: 757.33333333px;
  }
  .c-LandingLink {
    padding: 1rem;
  }
  .c-LandingLink__Icon {
    font-size: 4.73333333rem;
  }
  .c-LandingLink__Text {
    font-size: 2.36666667rem;
    padding-top: 1.18333333rem;
  }
}
