---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tuning Systems on the Modern Piano</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="An outline of the history of different tuning systems used on the piano and its ancestors."/>
<link rel="stylesheet" href="../higher-ed.css"/>
<style type="text/css">
.big    {
  font-size: large;
  line-height: 1.5em;
}
.freq {
  font-weight: 700;
  background-color: #999999;
}
.red    {color: red;}
.orange {color: orange;}
.yellow {color: yellow;}
.lime   {color: lime;}
.green  {color: green;}
.blue   {color: blue;}
.purple {color: purple;}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 3154</div>
  <div class="courseinfo-name">Piano Literature</div>
  <div class="courseinfo-term">Fall, 2009</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.music.vt.edu/faculty/cowden/">Tracy Cowden, D.M.A.</a></div>
</header>
<main>
<header>
  <div class="title">
    <h1>Final Presentation Outline</h1>
    <p>A comparison of different tuning systems of the modern piano</p>
  </div>
  <p class="timestamp"><a href="TuningTemperaments.pdf">Presentation</a> on <time datetime="2009-12-07">December 7, 2009</time>.</p>
</header>
<ul>
  <li>frequency and pitch
    <ul>
      <li>logarithmic relation between frequency and pitch
        <ul>
          <li>show graphs on slideshow / whiteboard
            <ul>
              <li>pitch <abbr title="versus">vs.</abbr> frequency</li>
              <li>frequency <abbr title="versus">vs.</abbr> pitch</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>as pitch constantly increases, frequency will increase exponentially
        <ul>
          <li>play chromatic scale on piano</li>
        </ul>
      </li>
      <li>as frequency constantly increases, pitch will increase logarithmically
        <ul>
          <li>play soundfile</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>consonance <abbr title="versus">vs.</abbr> dissonance
    <ul>
      <li>harmonics
        <ul>
          <li>fundamental frequency</li>
          <li>harmonics: integer multiples of fundamental</li>
          <li>timbre or <i>color</i>: different instruments have different balances of overtones
            <ul>
              <li>the term <i>color</i> can more analogously be applied to pitch, however
                <ul>
                  <li>frequency of light &rarr; hue (color)</li>
                  <li>frequency of sound &rarr; pitch</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>consonance
        <ul>
          <li>subjective term / varies by opinion / no measurable unit</li>
          <li>two sounds are <b>dissonant</b> if they have a <i>rough sensation</i> to the ear</li>
          <li>smaller integer ratios = more consonant
            <ul>
              <li><i lang="la"><abbr title="exampli gratia">e.g.</abbr></i>, 2:1 is more consonant than 199:100 even though they have approximately the same value</li>
            </ul>
          </li>
          <li>corresponding multiples
            <ul>
              <li>two different fundamentals share overtones</li>
              <li>example: perfect octave
                <ul>
                  <li class="big">A<sub>3</sub>: 220, <span class="freq red">440</span>, 660, <span class="freq yellow">880</span>, 1100, <span class="freq green">1320</span>, 1540, <span class="freq blue">1760</span>, &hellip;</li>
                  <li class="big">A<sub>4</sub>: <span class="freq red">440</span>, <span class="freq yellow">880</span>, <span class="freq green">1320</span>, <span class="freq blue">1760</span>, 2200, 2640, 3080, 3520, &hellip;</li>
                </ul>
              </li>
              <li>example: perfect fifth
                <ul>
                  <li class="big">A<sub>3</sub>: 220, 440, <span class="orange freq">660</span>, 880, 1100, <span class="purple freq">1320</span>, 1540, 1760, <span class="lime freq">1980</span>, &hellip;</li>
                  <li class="big">E<sub>4</sub>: 330, <span class="orange freq">660</span>, 990, <span class="purple freq">1320</span>, 1650, <span class="lime freq">1980</span>, 2310, 2640, 2970, &hellip;</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Pythagorean Scale
    <ul>
      <li>Pythagoras found that P8 and P5 were <b>consonant</b></li>
      <li>created a scale derived from only octaves and fifths</li>
      <li>each scale degree was found by adding a fifth to the previous, then subtracting the appropriate number of octaves
        <ul>
          <li>rule &mdash; 2:1 for octaves, 3:2 for fifths (taken from the first 3 harmonics)</li>
          <li>multiply to increase frequency (pitch), divide to decrease</li>
        </ul>
      </li>
      <li>'spiral of fifths'
        <ul>
          <li>If we add 12 fifths to our fundamental and subtract 7 octaves, we should end up where we started (in the modern system), but we actually end up a bit sharp. This is because our system does not use a perfect 3:2 ratio for the P5 interval, contrary to Pythagoras and the harmonic series.</li>
          <li>Ditto if we subtract 12 fifths and add 7 octaves, we end up just flat of our original note.</li>
          <li>the farther we deviate from the fundamental, the more out of tune we become
            <ul>
              <li>this creates a <i>spiral</i> of fifths because we will never end up back where we started</li>
              <li>it does not overlap itself</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Just Intonation
    <ul>
      <li>based on smaller-integer ratios for a more consonant sound</li>
      <li>uses the harmonic series for deriving the scale degrees</li>
      <li>
        <i class="solfege">do</i>: fundamental (1st harmonic)<br/>
        <i class="solfege">so</i>: 3rd harmonic dropped down 1 octave<br/>
        <i class="solfege">mi</i>: 5th harmonic dropped down 2 octaves<br/>
        <i class="solfege">re</i>: 9th harmonic dropped down 3 octaves<br/>
        <i class="solfege">ti</i>: 15th harmonic dropped down 3 octaves<br/>
        <i class="solfege">do</i>: 2nd harmonic
      </li>
      <li>what happened to <i class="solfege">fa</i> and <i class="solfege">la</i>?
        <ul>
          <li><i class="solfege">fa</i> &mdash; taken from Pythagoras's system, the ratio of 4:3
            <ul>
              <li>subtract a fifth from fundamental, then add one octave</li>
            </ul>
          </li>
          <li><i class="solfege">la</i> &mdash; obtained by subtracting a fifth and an octave from the 5th harmonic</li>
        </ul>
      </li>
      <li>non-diatonic pitches are out of tune as they do not exist in the harmonic series, or they exist but are out of tune or too high
        <ul>
          <li><i lang="la"><abbr title="exampli gratia">e.g.</abbr></i>, minor seventh or augmented fourth</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Meantone Scale
    <ul>
      <li>adjustments made to the Pythagorean or Just Scales</li>
      <li>uses a system of thirds based on the 5th harmonic minus 2 octaves, a ratio of 5:4</li>
      <li>remaining notes interpolated as evenly as possible
        <ul>
          <li>uses square roots for midpoints, <i lang="la"><abbr title="exampli gratia">e.g.</abbr></i>, <i class="solfege">re</i> is the midpoint of <i class="solfege">do</i> and <i class="solfege">mi</i></li>
          <li><q>fill in the spaces</q></li>
        </ul>
      </li>
      <li>the P5s are no longer perfect</li>
    </ul>
  </li>
  <li>Equal Temperament
    <ul>
      <li>our modern system</li>
      <li>treats each key equally, as demonstrated by J.S. Bach's WTC</li>
      <li>one can play more in tune in key signatures that have many sharps or flats</li>
      <li>semitones are equidistant from one another in terms of ratios of frequency
        <ul>
          <li>multiply the frequency of any semitone by the twelfth-root of two (<span class="M">\sqrt[12]{2}</span>) to obtain the succeeding semitone's frequency
            <ul>
              <li>suggested by Marin Mersenne (<time>1588</time>&ndash;<time>1648</time>)</li>
            </ul>
          </li>
          <li>the fundamental frequency plus 12 semitones will end up being multiplied by 2, resulting in a perfect octave (Pythagorean/harmonic octave)</li>
          <li>100 <b>cents</b> per semitone
            <ul>
              <li>cents are logarithmic, like pitch</li>
              <li>the higher the frequency, the wider the frequency range of one cent</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>equal-tempered thirds are 14 cents sharper than perfect thirds (Pythagorean/harmonic thirds)</li>
      <li>nervous and agitated mood compared to just or meantone scales</li>
      <li>motivation for twelve-tone, serial, chromatic, <i lang="la"><abbr title="et cetera">etc.</abbr></i> music in the 20th Century</li>
    </ul>
  </li>
</ul>
<footer>
  <h2>Suggested Readings</h2>
  <ul class="c-ListAction">
    <li class="c-ListAction__Item"><a href="http://www.musanim.com/mam/equal5th.html">The Family of Equal-Interval Tunings</a></li>
    <li class="c-ListAction__Item"><a href="http://www.musanim.com/mam/tantrum.html">Tantrum: A Tool for the Study of Temperament Anomalies</a></li>
    <li class="c-ListAction__Item"><a href="http://www.physlink.com/Education/AskExperts/ae165.cfm">What are the frequencies of musical notes &hellip; in kHz?</a></li>
  </ul>
</footer>
</main>
</body>
</html>
