// main: ../../all.less

/*#################*\
    _article.less
\*#################*/


/**
  * This Object represents a generic article, technical document, blog post, etc. This Object may
  * or may not take the form of a literal `article` Element or `main` Element of a page. This
  * Object is designed to contain other block-level Objects such as `.H`s and `.P`s.
@implements
: .follows-heading()
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-10-19
  */
.Article {
  .follows-heading(1);
  font-family: @fontfam_prose;
  text-align: justify;
}
/**
  * This Object represents text in an article that is not to displayed like `.Article` text.
  * Essentially it reverts back to the body copy styles.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.undo-Article() {
  font-family: @fontfam_base;
  text-align: left;
}

/**
  * This Object represents a section of text that represents "fine print": disclaimers, etc.
  * It should be instantiated by an entire `section`, `aside`, `div`, or `p` Element, which
  * may or may not contain `small` Element children.
@implements
: .fontsize-block-sml()
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.Fineprint {
  .fontsize-block-sml();
}
