// main: ../../all.less

/*##############*\
    _body.less
\*##############*/


@fontfam_base:    'Optima','Lucida Grande','Tahoma',sans-serif;
@fontfam_prose:   'Baskerville','Palatino','Cochin',serif;
@fontfam_heading: 'Avenir','Seravek',sans-serif;
@fontfam_accent:  'Geneva','Tahoma',sans-serif;
@fontfam_code:    'Menlo','Monaco','Andale Mono',monospace;
@fontfam_math:    'Didot','Bodoni 72','Times',serif;
@fontfam_script:  'Zapfino','Savoye LET',script,@fontfam_heading;

.fontfam_base    {font-family: @fontfam_base;}
.fontfam_prose   {font-family: @fontfam_prose;}
.fontfam_heading {font-family: @fontfam_heading;}
// .fontfam_intro   {font-family: @fontfam_intro;}
.fontfam_accent  {font-family: @fontfam_accent;}
.fontfam_code    {font-family: @fontfam_code;}
.fontfam_math    {font-family: @fontfam_math;}
.fontfam_script  {font-family: @fontfam_script;}

// colors for body copy
@color_base_bg:    @aperture_white;
@color_base_txt:   @aperture_black;
@color_base_light: lighten(@color_base_txt, (@golden2 / 2)); // fallback for @color_base_faded
@color_base_faded: fadeout(@color_base_txt, @golden2);

// accent colors
@color_border: @neurotoxin;
@color_accent: @deploying;

html {
  font-size: @fontsize_base;
  font-family: @fontfam_base;
  line-height: @lineheight_base;
}
body {
  color: @color_base_txt;
  background-color: @color_base_bg;
}
main {
  width: auto;
  margin-left:   @vru_rem;
  margin-right:  @vru_rem;
  margin-bottom: @vru_rem;
}
/**
  * This Object represents the standard `main` Element on the main site.
  * The following ratios are Golden (0.618):
  * - main width to window width
  * - main margin right to main margin left
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-11-29
  */
.MainGolden {
  .w-p1;
  .w-p1.mr;
  margin-bottom: 192px; // 2in
}
/**
  * This Interface undoes the effects of the `main.Main-Golden` Element to a component inside.
  * Essentially, it treats the component as if it were not inside the `main` Element.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-10-07
  */
.undo-MainGolden() {
  width: @inv_golden1;
  position: relative;
  left: -@golden2;
}
