// main: ../../all.less

/*##############*\
    _body.less
\*##############*/


/**
  * The following font families are used site-wide.
  * - The 'base' font-family is used for the main body copy. It is a sans-serif type with a
  * 	moderate thick-thin transition.
  * - The 'heading' font-family is used only for headings of body copy (not table headings, etc.).
  * 	It is a sans-serif geometric type. It should not be used for extensive amounts of text.
  * - The 'intro' font-family is used for other headings, such as table headings or intro (Lede)
  * 	paragraphs. Like the 'heading' font-family, it is a geometric sans-serif. However it is
  *  	more acceptable for extensive amounts of text.
  * - The 'prose' font-family is used for formal documents or sections. It is a serif oldstyle type
  * 	easy on the eyes that can be read at extensive length.
  * - The 'code' font-family is a monospace type used for... well, code.
  * - The 'math' font-family is another serif oldstyle type use for mathematical spans.
  * - The 'accent' font-family is used for labels, block quotes, buttons/keys,
  * 	and other special elements.
  * - The 'script' font-family is used for even more fancy elements such as
  * 	drop-caps and subheadings.
  */
@fontfam_base:    'Optima','Candara','Helvetica',sans-serif;
@fontfam_heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@fontfam_intro:   'Avenir','Calibri','Century Gothic',sans-serif;
@fontfam_prose:   'Baskerville','Palatino','Book Antiqua',serif;
@fontfam_code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@fontfam_math:    'Times','Times New Roman',serif;
@fontfam_accent:  'Century Gothic','Gill Sans','Avenir',sans-serif;
@fontfam_script:  'Zapfino',script;

// colors for body copy
@color_base_bg:    @aperture_white;
@color_base_txt:   @aperture_black;
@color_base_light: lighten(@color_base_txt, (@golden2 / 2)); // fallback for @color_base_faded
@color_base_faded: fadeout(@color_base_txt, @golden2);

// accent colors
@color_border: @neurotoxin;
@color_accent: @deploying;

html {
	font-size: @fontsize_base;
	font-family: @fontfam_base;
	line-height: @lineheight_base;
}
body {
	color: @color_base_txt;
	background-color: @color_base_bg;
}
main {
	.w-p1.mr;
	margin-bottom: 192px; // 2in
}
/**
  * This Interface is to be used only on the `main` Element. It undoes the default style of `main`.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-06-17
  */
.normal-main {
	.center-ful;
	.margin-even;
}
/**
  * This Interface undoes the effects of the `main` Element to a component inside.
  * Essentially, it treats the component as if it were not inside the `main` Element.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-06-17
  */
.undo-main {
	width: @inv_golden1;
	position: relative;
	left: -@golden2;
	background-color: #fffcfa;
}
/**
  * The following Interfaces add background images to an Element, typically the `body` Element.
@tags
: #schematic
: #golden
@author
: Chris Harvey
@updated
: 2014-06-08
  */
.crossgrid-lined {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-lined_1x24.svg');
	background-size: 1px 24px;
	background-repeat: repeat;
	background-position: left bottom; // fallback
	// background-position-y: bottom;
}
.crossgrid-phi {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-phi_1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
.crossgrid-even {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-even_1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
.crossgrid-even-lcm {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-even-lcm_288x24.svg');
	background-size: 20% 24px;
	background-repeat: repeat;
}
