// main: ../../core.less

/*#####################*\
    _breadcrumbs.less
\*#####################*/


/**
  * A Breadcrumb module.
@tags
: #breadcrumbs
: #golden
@author
: Chris Harvey
@updated
: 2014-06-18
  */
.Bc {
  .gutter--major;
  top: @vru_px; // fallback
  top: @vru_rem;
  z-index: 1;
}
/**
  * A list of breadcrumbs inside the module.
  * The list either contains ancestor pages (including parent),
  * sibling pages (including the same page), or children pages.
@implements
: .vru-top()
@tags
: #breadcrumbs
@author
: Chris Harvey
@updated
: 2014-08-17
  */
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  .vru-top(1);
}
// .Bc > .Anc {
//   a::before {content: '\22a5';} // `\bot` or 'up tack'
//   a::before {content: '\22b7';} // 'image of'
//   a::before {content: '<';}
// }
// .Bc > .Sib {
//   a::before {content: '\22a2';} // `\vdash` or 'turnstile'
//   a::before {content: '\29df';} // 'double-ended multimap'
//   a::before {content: '+';}
// }
// .Bc > .Child {
//   a::before {content: '\22a4';} // `\top` or 'down tack'
//   a::before {content: '\22b6';} // 'original of'
//   a::before {content: '>';}
// }

/**
  * An actual breadcrumb link.
@implements
: .transition()
@params
: @bc_brdrr : the border-radius of the `.Crumb` Object.
@tags
: #breadcrumbs
: #link
: #button
@author
: Chris Harvey
@updated
: 2014-09-21
  */
@color_crumb_up_txt:  @color_link_up;
@color_crumb_dn_txt:  @color_link_dn;
@color_crumb_up_bg:   lighten(@color_link_up, @golden2); // #c3daff
@color_crumb_dn_bg:   lighten(@color_link_dn, @golden2); // #ffe8c3
.Crumb {
  @bc_brdrr: @vru_px / 2;
  .transition(background-color, color; @trans_link);
  display: block;
  padding-left: @bc_brdrr;
  border-radius: @bc_brdrr;
  color:            @color_crumb_up_txt;
  background-color: @color_crumb_up_bg;
  cursor: pointer;
  &:not([rel~="this"]):hover {
    color:            @color_crumb_dn_txt;
    background-color: @color_crumb_dn_bg;
  }
  &[rel~="this"] {
    position: relative;
    left: @bc_brdrr;
    font-weight: bold;
    color: @color_base_bg;
    background-color: @color_crumb_up_txt;
  }
}

@media print {
  .Bc {display: none;}
}
