// main: ../../core.less

/*#################*\
    _docmeta.less
\*#################*/


/**
  * An association list describing the author, update timestamps, and tags/keywords for an `.Article`.
@tags
: #article
@author
: Chris Harvey
@updated
: 2014-10-26
*/
.Docmeta {
  > dt {
    font-weight: bold;
    &::after {content: ':';}
  }
  > dd.complete::after,
  > dd.release::after,
  > dd.latest::after {
    display: inline;
    margin-left: 1rem;
    font-weight: bold;
    font-size: (@font_size_sml * 1rem);
    font-family: @fontfam_accent;
  }
  > dd.complete::after {color: @color_cshn_txt; background: @color_cshn_bg; content: 'Completed';}
  > dd.release::after  {color: @color_skss_txt; background: @color_skss_bg; content: 'Released';}
  > dd.latest::after   {color: @color_warn_txt; background: @color_warn_bg; content: 'Latest';}
  .hm::before {content: '@\0020';}
}
