@import url('../stylesheets/grid.less');
@import url('../stylesheets/typo.less');
@import url('../stylesheets/mods.less');

.line {
	&.br {
		margin-bottom: 1em;
	}
}

.sample() {
	.unit {
		padding: 3px 0;
		outline: 1px solid #999;
	}
}