/* ContStyles.css */

@import url('../../images/Home.css');

body {
color: #003300;
font-family: serif;
background-color: #ccffcc;
}

a:link {
color: #00cccc;
}
a:visited {
color: #00cccc;
}
a:hover {
color:#0000ff;
}
a:active {
color: #ffffff
}
h1 {
	text-align: center;
}