---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Typsetting Math in Moodle</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="How to put mathematical expressions and equations into the Moodle system."/>
<link rel="stylesheet" href=""/>
<style>
.lang-latex {
	border: 0;
	background-color: #ffebc0;
}
.latex.demo {
	background-color: #c0f6ff;
}
table .lang-latex,
table .latex.demo {
	background-color: transparent;
	border-color: transparent;
}
figure img {
	/*width: 70%; height: auto;*/
	border: 1px solid #000;
}
</style>
{% include all-js.html %}
</head>
<body>
{% include banner.html %}
<main>
<header>
	<h1 class="h-alpha">Typesetting Math in Moodle</h1>
	<p class="timestamp">Created by Chris Harvey on <time datetime="2013-02-18">Feb 18, 2013</time>. Last updated on <time datetime="2013-08-25T21:56">Aug 25, 2013</time>.</p>
	<p class="lede">You may already know how to use <b>MathType</b> (or <b>Equation Editor</b>) to put equations in Moodle. But if you don't have those programs installed on your personal computer, or if you don't feel like switching applications often, this short tutorial is just for you. You will learn the basics of entering Math into test questions on Moodle&mdash;by hand!</p>
	<p class="prose">This tutorial will teach you the basics of <span class="latex">\(\LaTeX\)</span> (pronounced <i>LAH-tech</i>), which is sort of like a programming language. Learning <span class="latex">\(\LaTeX\)</span> may take some time, but it will save you much more time in the long run. Once you are fluent with it, you'll be able to enter math equations without ever having to leave the Moodle page.</p>
</header>
<nav>
	<h1 class="h-beta">Table of Contents</h1>
	<ol class="list-action">
		<li><a href="#intro">Introduction: Your First Equation by Hand</a></li>
		<li><a href="#modes">Equation Modes</a></li>
		<li><a href="#placement">Placement of Symbols</a>
			<ol>
				<li><a href="#supsub">Superscripts and Subscripts</a></li>
				<li><a href="#frac">Fraction Bars</a></li>
				<li><a href="#sqrt">Square Roots</a></li>
				<li><a href="#delimeters">Parentheses and other Delimiters</a>
					<ol>
						<li><a href="#parens">Parentheses</a></li>
						<li><a href="#brackets">Absolute Value, Square Brackets</a></li>
						<li><a href="#braces">Curly Braces</a></li>
					</ol>
				</li>
			</ol>
		</li>
		<li><a href="#special-chars">Special Characters</a>
			<ol>
				<li><a href="#vars">Values and Variables</a></li>
				<li><a href="#operations">Binary Operations</a></li>
				<li><a href="#relations">Binary Relations</a></li>
			</ol>
		</li>
		<li><a href="#more-oper">More Operators</a></li>
		<li><a href="#conclusion">Conclusion</a>
			<ol>
				<li><a href="#more-info">More Information</a></li>
			</ol>
		</li>
	</ol>
</nav>
<section id="intro">
	<h1 class="h-beta">Introduction: Your First Equation by Hand</h1>
	<p class="prose">To enter a math equation into Moodle, you need to surround the math with double dollar signs on each side. For example, to display <span class="latex demo">\(2x+3=7\)</span>, you would need to type <code class="lang-latex">$$2x+3=7$$</code> anywhere in the text box on Moodle. Try it for yourself:</p>
	<figure><img src="img1.png" alt=""/></figure>
	<p class="cap">The reason you need to surround the <span class="latex">\(\LaTeX\)</span> code with double dollar signs is that there is a JavaScript program installed on the Moodle server that searches for these signs. When it finds <code class="lang-latex">$$</code>, it knows to convert the code inside into mathematical characters. In fact, the same program is installed on this web page you're reading right now. In order for <span class="latex">\(\LaTeX\)</span> to properly typeset, you and your students need to have JavaScript enabled in your browsers.</p>
	<p class="prose">Notice how <span class="latex">\(\LaTeX\)</span> is <em>space-insensitive</em>. This means you could enter <code class="lang-latex">$$2x+3=7$$</code>, or <code class="lang-latex">$$2x + 3 = 7$$</code>, or any variation, and it would still be displayed exactly the same. The spaces aren't counted. To deliberately enter a space, you need to put a <em>backslash</em> (not a forward slash) before the space character. For example: <code class="lang-latex">$$2\ x$$</code> is displayed as <span class="latex demo">\(2\ x\)</span>. The <kbd><kbd>backslash</kbd></kbd> key is right above the <kbd><kbd>enter</kbd></kbd> key on your keyboard.</p>
		<p class="prose">All <span class="latex">\(\LaTeX\)</span> commands begin with a backslash, and may contain arguments, which are contained in curly braces. We'll see some more commands in the next sections.</p>
</section>
<section id="modes">
	<h1 class="h-beta">Equation Modes</h1>
	<p class="prose">There are two main modes of showing an equation: Inline Mode and Display Mode. Inline Mode displays an equation inline with text, like this: <span class="latex demo">\(2x+3=7\)</span>. In Display Mode, the equation is displayed on its own line and centered. You might want to use this mode to isolate an equation to show that it's important:</p>
	<div class="latex demo">\[2x+3=7\]</div>
	<p class="prose">In normal typesetting systems that use <span class="latex">\(\LaTeX\)</span>, these modes are activated differently, however in Moodle they are both activated the same. This means you don't have to memorize any special codes to activate Inline versus Display mode. In order to show an equation in Display Mode, you'll have to put the equation on its own line and center it yourself (like how you would do in <b>Word</b>).</p>
	<figure><img src="img2.png" width="549" height="291" alt="A screenshot of a dialog box in Moodle with LaTeX input."/></figure>
</section>
<section id="placement">
	<h1 class="h-beta">Placement of Symbols</h1>
	<p class="prose">This short section covers how to place mathematical symbols in semantic ways.</p>
	<section id="supsub">
		<h1 class="h-gamma">Superscripts and Subscripts</h1>
		<p class="prose">To enter a superscript for powers or exponents, simply place the exponent in curly braces following a caret symbol:<br/><code class="lang-latex">$$a^{2} + b^{2} = c^{2}$$</code> is displayed as <span class="latex demo">\(a^{2} + b^{2} = c^{2}\)</span>.</p>
		<p class="prose">To enter a subscript, place the subscript in curly braces following an underscore:<br/><code class="lang-latex">$$a_{n} = a_{n-1} + d$$</code> is displayed as <span class="latex demo">\(a_{n} = a_{n-1} + d\)</span>.</p>
	</section>
	<section id="frac">
		<h1 class="h-gamma">Fraction Bars</h1>
		<p class="prose">This one is a little more complicated. To enter a fraction, you need to start with the command <code class="lang-latex">\frac</code> (notice the backslash), and then enter the arguments in curly braces. There are two arguments: the numerator and the denominator.<br ><code class="lang-latex">$$\frac{-b}{2a}$$</code> is displayed as <span class="latex demo">\(\dfrac{-b}{2a}\)</span>.</p>
	</section>
	<section id="sqrt">
		<h1 class="h-gamma">Square Roots</h1>
		<p class="prose">The square root command is almost like the fraction command, but it has one argument instead of two. The command is <code class="lang-latex">\sqrt</code>, and your argument should go in curly braces. Example:<br/><code class="lang-latex">$$\sqrt{2}$$</code> is displayed as <span class="latex demo">\(\sqrt{2}\)</span>.</p>
	</section>
	<section id="delimeters">
		<h1 class="h-gamma">Parentheses and other Delimiters</h1>
		<p class="prose">Sometimes, you may want to put parentheses and other delimiters (absolute value, square brackets, curly braces, <i lang="la"><abbr title="et cetera">etc.</abbr></i>) around an expression or equation. There are many ways to do this, but we'll just cover the basics.</p>
		<section id="parens">
			<h1 class="h-delta">Parentheses</h1>
			<p class="prose">To enter parentheses the easy way, just type them in on your keyboard:<br/><code class="lang-latex">$$f(y) = 2(y^{2}+1)$$</code> would show up as <span class="latex demo">\(f(y) = 2(y^{2}+1)\)</span>.</p>
			<p class="prose">The parentheses aren't terrible, but since the <var>y</var> hangs down a little bit, and we have a superscript, we might want to make our parentheses a little bit taller so that they'll fit their contents. To do this, we have to use the commands <code class="lang-latex">\left</code> and <code class="lang-latex">\right</code> before each parenthesis:<br/><code class="lang-latex">$$f \left( y \right) = 2 \left( y^{2}+1 \right) $$</code> is displayed as <span class="latex demo">\(f\left(y\right) = 2\left(y^{2}+1\right)\)</span>.</p>
			<p class="prose">It's a little more typing to do, but it makes all the difference. And you will want to use these commands to go from this: <span class="latex demo">\((\dfrac{-b}{2a})^{2}\)</span> to this: <span class="latex demo">\(\left(\dfrac{-b}{2a}\right)^{2}\)</span>.</p>
		</section>
		<section id="brackets">
			<h1 class="h-delta">Absolute Value, Square Brackets</h1>
			<p class="prose">Other delimiting symbols work just the same way. You can enter them in on your keyboard directly, or you can precede them with the <code class="lang-latex">\left</code> and <code class="lang-latex">\right</code> commands.</p>
			<p class="prose">For the absolute value symbol, use the <kbd><kbd>bar</kbd></kbd> key above the <kbd><kbd>enter</kbd></kbd> key on your keyboard. (It's <kbd><kbd>shift</kbd>-<kbd>backslash</kbd></kbd>.)</p>
			<table class="table-list">
				<thead><tr><th><span class="latex">\(\LaTeX\)</span> Code</th><th>Math</th></tr></thead>
				<tbody>
					<tr><td><code class="lang-latex">$$ |x+2|^{2}+3 $$</code></td><td><span class="latex demo">\[|x+2|^{2}+3\]</span></td></tr>
					<tr><td><code class="lang-latex">$$ \left|x+2\right|^{2}+3 $$</code></td><td><span class="latex demo">\[\left|x+2\right|^{2}+3\]</span></td></tr>
					<tr><td><code class="lang-latex">$$ [x^{2}+6x+9]-9 $$</code></td><td><span class="latex demo">\[[x^{2}+6x+9]-9\]</span></td></tr>
					<tr><td><code class="lang-latex">$$ \left[x^{2}+6x+9\right]-9 $$</code></td><td><span class="latex demo">\[\left[x^{2}+6x+9\right]-9\]</span></td></tr>
				</tbody>
			</table>
		</section>
		<section id="braces">
			<h1 class="h-delta">Curly Braces</h1>
			<p class="prose">Now, curly braces are a different situation. Since the <span class="latex">\(\LaTeX\)</span> language uses these symbols for its command arguments, we can't just type them in like we would normal parentheses. We have to <em>escape</em> them with a backslash. To get <span class="latex demo">\(\{4,2,1,\dfrac{1}{2},\dots\}\)</span>, for example, we would have to type <code class="lang-latex">$$ \{ 4,2,1,\frac{1}{2},\dots \} $$</code>. Notice the backslash before each brace.</p>
			<p class="prose">Again, if we want to stretch the braces to fit their contents, we have to add the <code class="lang-latex">\left</code> and <code class="lang-latex">\right</code> commands:<br/><code class="lang-latex">$$ \left\{ 4,2,1,\frac{1}{2},\dots \right\} $$</code> is displayed as <span class="latex demo">\(\left\{4,2,1,\dfrac{1}{2},\dots\right\}\)</span>.</p>
		</section>
	</section>
</section>
<section id="special-chars">
	<h1 class="h-beta">Special Characters</h1>
	<p class="prose">This section covers the common characters we use in everyday high school math. Since they won't always be found on your keyboard, there are <span class="latex">\(\LaTeX\)</span> commands for each of them.</p>
	<section id="vars">
		<h1 class="h-gamma">Values and Variables</h1>
		<table class="table-list">
			<thead><tr><th>Symbol Name</th><th><span class="latex">\(\LaTeX\)</span> Code</th><th>Symbol</th></tr></thead>
			<tbody>
				<tr>
					<td>pi</td>
					<td><code class="lang-latex">$$ \pi $$</code></td>
					<td><span class="latex demo">\[\pi\]</span></td>
				</tr>
				<tr>
					<td>Delta</td>
					<td><code class="lang-latex">$$ \Delta $$</code></td>
					<td><span class="latex demo">\[\Delta\]</span></td>
				</tr>
				<tr>
					<td>ellipsis</td>
					<td><code class="lang-latex">$$ \dots $$</code></td>
					<td><span class="latex demo">\[\dots\]</span></td>
				</tr>
				<tr>
					<td>imaginary unit</td>
					<td><code class="lang-latex">$$ \imath $$</code></td>
					<td><span class="latex demo">\[\imath\]</span></td>
				</tr>
				<tr>
					<td>infinity</td>
					<td><code class="lang-latex">$$ \infty $$</code></td>
					<td><span class="latex demo">\[\infty\]</span></td>
				</tr>
			</tbody>
		</table>
	</section>
	<section id="operations">
		<h1 class="h-gamma">Binary Operations</h1>
		<table class="table-list">
			<thead><tr><th>Symbol Name</th><th><span class="latex">\(\LaTeX\)</span> Code</th><th>Symbol</th></tr>
			<tbody>
				<tr>
					<td>plus or minus</td>
					<td><code class="lang-latex">$$ \pm $$</code></td>
					<td><span class="latex demo">\[\pm\]</span></td>
				</tr>
				<tr>
					<td>times (dot)</td>
					<td><code class="lang-latex">$$ \cdot $$</code></td>
					<td><span class="latex demo">\[\cdot\]</span></td>
				</tr>
				<tr>
					<td>times (cross)</td>
					<td><code class="lang-latex">$$ \times $$</code></td>
					<td><span class="latex demo">\[\times\]</span></td>
				</tr>
				<tr>
					<td>divide symbol</td>
					<td><code class="lang-latex">$$ \div $$</code></td>
					<td><span class="latex demo">\[\div\]</span></td>
				</tr>
			</tbody>
		</table>
	</section>
	<section id="relations">
		<h1 class="h-gamma">Binary Relations</h1>
		<table class="table-list">
			<thead><tr><th>Symbol Name</th><th><span class="latex">\(\LaTeX\)</span> Code</th><th>Symbol</th></tr></thead>
			<tbody>
				<tr>
					<td>less than (strictly)</td>
					<td><code class="lang-latex">$$ \lt $$</code></td>
					<td><span class="latex demo">\[\lt\]</span></td>
				</tr>
				<tr>
					<td>greater than (strictly)</td>
					<td><code class="lang-latex">$$ \gt $$</code></td>
					<td><span class="latex demo">\[\gt\]</span></td>
				</tr>
				<tr>
					<td>less than or equal to</td>
					<td><code class="lang-latex">$$ \le $$</code></td>
					<td><span class="latex demo">\[\le\]</span></td>
				</tr>
				<tr>
					<td>greater than or equal to</td>
					<td><code class="lang-latex">$$ \ge $$</code></td>
					<td><span class="latex demo">\[\ge\]</span></td>
				</tr>
				<tr>
					<td>not less than</td>
					<td><code class="lang-latex">$$ \not\lt $$</code></td>
					<td><span class="latex demo">\[\not\lt\]</span></td>
				</tr>
				<tr>
					<td>not greater than</td>
					<td><code class="lang-latex">$$ \not\gt $$</code></td>
					<td><span class="latex demo">\[\not\gt\]</span></td>
				</tr>
				<tr>
					<td>not equal to</td>
					<td><code class="lang-latex">$$ \ne $$</code></td>
					<td><span class="latex demo">\[\ne\]</span></td>
				</tr>
				<tr>
					<td>similar</td>
					<td><code class="lang-latex">$$ \sim $$</code></td>
					<td><span class="latex demo">\[\sim\]</span></td>
				</tr>
				<tr>
					<td>congruent</td>
					<td><code class="lang-latex">$$ \cong $$</code></td>
					<td><span class="latex demo">\[\cong\]</span></td>
				</tr>
				<tr>
					<td>approaches</td>
					<td><code class="lang-latex">$$ \to $$</code></td>
					<td><span class="latex demo">\[\to\]</span></td>
				</tr>
				<tr>
					<td>material implication</td>
					<td><code class="lang-latex">$$ \implies $$</code></td>
					<td><span class="latex demo">\[\implies\]</span></td>
				</tr>
				<tr>
					<td>logical implication</td>
					<td><code class="lang-latex">$$ \therefore $$</code></td>
					<td><span class="latex demo">\[\therefore\]</span></td>
				</tr>
			</tbody>
		</table>
	</section>
	<p>For a complete list of Greek letters and variants, <a href="http://chharvey.github.io/secondary-ed/math-Moodle/LaTeX_Greek_letters.pdf">download this PDF</a>.</p>
</section>
<section id="more-oper">
	<h1 class="h-beta">More Operators</h1>
	<table class="table-list">
		<thead><tr><th>Symbol Name</th><th><span class="latex">\(\LaTeX\)</span> Code</th><th>Symbol</th></tr></thead>
		<tbody>
			<tr>
				<td>sine</td>
				<td><code class="lang-latex">$$ \sin{x} $$</code></td>
				<td><span class="latex demo">\[\sin{x}\]</span></td>
			</tr>
			<tr>
				<td>cosine</td>
				<td><code class="lang-latex">$$ \cos{x} $$</code></td>
				<td><span class="latex demo">\[\cos{x}\]</span></td>
			</tr>
			<tr>
				<td>tangent</td>
				<td><code class="lang-latex">$$ \tan{x} $$</code></td>
				<td><span class="latex demo">\[\tan{x}\]</span></td>
			</tr>
			<tr>
				<td>natural log</td>
				<td><code class="lang-latex">$$ \ln{x} $$</code></td>
				<td><span class="latex demo">\[\ln{x}\]</span></td>
			</tr>
			<tr>
				<td>common log</td>
				<td><code class="lang-latex">$$ \log{x} $$</code></td>
				<td><span class="latex demo">\[\log{x}\]</span></td>
			</tr>
			<tr>
				<td>log base <span class="latex">\(b\)</span></td>
				<td><code class="lang-latex">$$ \log_{b} {x} $$</code></td>
				<td><span class="latex demo">\[\log_{b} {x}\]</span></td>
			</tr>
			<tr>
				<td>derivative</td>
				<td><code class="lang-latex">$$ \frac{d}{dx} $$</code></td>
				<td><span class="latex demo">\[\frac{d}{dx}\]</span></td>
			</tr>
		</tbody>
	</table>
	<p class="prose">Below are the three most common <i>large operators</i> used in high school math: the limit, the integral, and the summation. The best explanation is by example.</p>
	<table class="table-list">
		<thead><tr><th><span class="latex">\(\LaTeX\)</span> Code</th><th>Math</th></tr></thead>
		<tbody>
			<tr>
				<td><code class="lang-latex">$$ \lim_{x \to -\infty} e^{x} $$</code></td>
				<td><span class="latex demo">\[\lim_{x \to -\infty} e^{x}\]</span></td>
			</tr>
			<tr>
				<td><code class="lang-latex">$$ \int_{1}^{e} \frac{1}{x}\ dx $$</code></td>
				<td><span class="latex demo">\[\int_{1}^{e} \dfrac{1}{x}\ dx\]</span></td>
			</tr>
			<tr>
				<td><code class="lang-latex">$$ \sum_{n=1}^{\infty} \frac{1}{ n^{2} } $$</code></td>
				<td><span class="latex demo">\[\sum_{n=1}^{\infty}\frac{1}{n^{2}}\]</span></td>
			</tr>
		</tbody>
	</table>
</section>
<section id="conclusion">
	<h1 class="h-beta">Conclusion</h1>
	<p class="prose">That's it for now! <a href="mailto:chrisharvey2pi@gmail.com">Email me</a> if you have any questions or if you want me to add anything you think needs to be here.</p>
	<section id="more-info">
		<h1 class="h-gamma">More Information</h1>
		<p>The program that typesets your <span class="latex">\(\LaTeX\)</span> into Math is called <a href="http://www.mathjax.org/">MathJax</a>, a third party company that uses JavaScript to communicate between the languages of <span class="latex">\(\LaTeX\)</span> and HTML-CSS. Basically, MathJax provides technology that allows you to display math on the web in an accessible, user-friendly way.</p>
		<p>What is <span class="latex">\(\LaTeX\)</span>? <a href="http://latex-project.org/intro.html">LaTeX</a> is a language, originally developed by Leslie Lamport, used to typeset and mark up documents. It is a very common (perhaps the most common) system used by authors of professional math journals.</p>
	</section>
</section>
</main>
</body>
</html>
