---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 6 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Probability and Statistics unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<nav class="bc">
	<ol class="bc-anc">
		<li><a href="../../../home/math.html" rel="ancestor">Math</a></li>
		<li><a href="../../index.html" rel="ancestor">Secondary Ed</a></li>
		<li><a href="../index.html" rel="this">Grade 7</a></li>
	</ol>
	<ul class="bc-sib">
		<li><a href="../integers/index.html" rel="sibling">Operations on Integers</a></li>
		<li><a href="../equations/index.html" rel="sibling">Equations &amp; Inequalities</a></li>
		<li><a href="../proportions/index.html" rel="sibling">Rational Numbers &amp; Proportions</a></li>
		<li><a href="../patterns/index.html" rel="sibling">Patterns &amp; Relations</a></li>
		<li><a href="../geometry/index.html" rel="sibling">Geometry</a></li>
		<li><a href="../prob-stats/index.html" rel="this">Probability &amp; Statistics</a></li>
	</ul>
	<ul class="bc-child"></ul>
</nav>
<main>
<header>
	<h1 class="h-alpha">Unit 6: Probability &amp; Statistics</h1>
	<p class="timestamp">Updated <time datetime="2013-12-14T13:51">Dec 14, 2013</time>.</p>
</header>
<p class="prose">This unit explores relations between two variables and patterns of integers and rational numbers. Students will explore different forms of relations using a variety of representations, and will identify and derive rules for functions. They will also analyze and generalize sequences of integers and rational numbers.</p>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="list-vocab">
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li class="cat-hw"><a class="sp" href="">Unit 6 Homework Log</a></li>
	</ol>
</section>
</main>
</body>
</html>
