---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 6 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Probability and Statistics unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 6: Probability &amp; Statistics</h1>
	<p class="timestamp">Updated <time datetime="2013-12-14T13:51">Dec 14, 2013</time>.</p>
	<p class="prose">This unit explores relations between two variables and patterns of integers and rational numbers. Students will explore different forms of relations using a variety of representations, and will identify and derive rules for functions. They will also analyze and generalize sequences of integers and rational numbers.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="relations">
		<h1 class="h-gamma">Relations</h1>
		<ul>
			<li>Graph individual points in the Cartesian plane.
				<ul>
					<li>given an ordered pair, plot the point in the plane</li>
					<li>given a point in the plane, determine its <var>x</var>- and <var>y</var>-coordinates</li>
					<li>identify Quadrants in the Cartesian plane</li>
				</ul>
			</li>
			<li><span id="7.12" class="standard-id">7.12</span> Represent relations with tables, graphs, rules, and words.
				<ol>
					<li>Represent and convert finite relations among a set of ordered pairs, a table, a graph, and an oval diagram. Finite relations may or may not be linear.</li>
					<li>Represent and convert infinite, linear relations among a representative table (comprising of sample values), a graph, or an equation (of the form <span class="latex">\(y=\frac{p}{q}x+b\)</span>, or <span class="latex">\(x=b\)</span>, where <span class="latex">\(p\)</span>, <span class="latex">\(q\)</span>, and <span class="latex">\(b\)</span> are integers).
						<ol>
							<li>Match a relation's graph and a representative table.</li>
							<li>Construct a representative table of a relation given as an equation.</li>
							<li>Graph a relation given as an equation. Students will graph relations on a point-by-point basis, using sample points. Students will calculate the outputs of sample points given the inputs, and will also choose their own inputs.</li>
							<li>Write an equation that describes a relation given as a representative table or as a graph.</li>
						</ol>
					</li>
					<li>Determine whether a relation, given as a set, table, graph, or oval diagram, is a function. Sets, tables, and oval diagrams will represent finite relations, but graphs may represent infinite relations.</li>
					<li>Describe functions using verbal statements and <i class="scare">function machines</i>.</li>
				</ol>
			</li>
		</ul>
	</section>
	<section id="sequences">
		<h1 class="h-gamma">Sequences</h1>
		<ul>
			<li><span id="7.2" class="standard-id">7.2</span> Describe and represent arithmetic and geometric sequences, using variable expressions.
				<ul>
					<li>Investigate patterns of sequences of rational numbers. Patterns will be recursive, that is, the next term in the sequence will be determined by its predecessor. Recursive patterns will be represented by variable expressions of the following forms:
						<ul>
							<li><span class="latex">\(a_{n-1} + d\)</span></li>
							<li><span class="latex">\(a_{n-1} \cdot r\)</span></li>
						</ul>
					</li>
					<li>Given an arithmetic sequence, find the common difference (<span class="latex">\(d\)</span>).</li>
					<li>Given a geometric sequence, find the common ratio (<span class="latex">\(r\)</span>).</li>
					<li>Create a sequence given a variable expression that describes the pattern.</li>
				</ul>
			</li>
		</ul>
	</section>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="vocablist">
		<dt>plane</dt>
		<dt>axis</dt>
		<dt>line</dt>
		<dt>vertical</dt>
		<dt>horizontal</dt>
		<dt>point</dt>
		<dt>coordinate</dt>
		<dt>ordered pair</dt>
		<dt>quadrant</dt>
		<dt>relation</dt>
		<dt>function</dt>
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li class="cat-hw"><a class="sp" href="https://docs.google.com/document/d/1atxKRD-pYUM3BTeqoDLiKW_Z2b_uBYawGO3AVjT4O40/edit?usp=sharing">Unit 3 Homework Log</a></li>
		<li><a>Lesson 3.1: The Coordinate Plane</a></li>
		<li><a>Lesson 3.2: Finite Relations</a></li>
		<li><a>Lesson 3.3: Graphing Lines</a></li>
		<li><a>Lesson 3.4: Writing Rules</a></li>
		<li><a>Lesson 3.5: Distinguishing Functions</a></li>
		<li><a>Lesson 3.6: Sequences</a></li>
		<li class="cat-proj"><a href="test.html">Test 6</a></li>
	</ol>
</section>
</div>
</body>
</html>
