---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 6 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Probability and Statistics unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<main>
<header>
	<h1 class="h-alpha">Unit 6: Probability &amp; Statistics</h1>
	<p class="timestamp">Updated <time datetime="2013-12-14T13:51">Dec 14, 2013</time>.</p>
</header>
<p class="prose">This unit explores relations between two variables and patterns of integers and rational numbers. Students will explore different forms of relations using a variety of representations, and will identify and derive rules for functions. They will also analyze and generalize sequences of integers and rational numbers.</p>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="list-vocab">
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li class="cat-hw"><a class="sp" href="">Unit 6 Homework Log</a></li>
	</ol>
</section>
</main>
</body>
</html>
