---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Senior Project</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A senior project for music technology."/>
<link rel="stylesheet" href="seniorproj.css"/>
{% include all-js.html %}
<script src="images/seniorproj.js"></script>
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 4974</div>
  <div class="courseinfo-name">Independent Study</div>
  <div class="courseinfo-term">Spring, 2011</div>
  <div class="courseinfo-prof">Advisor: <a href="http://www.music.vt.edu/faculty/dunston/">Michael Dunston</a></div>
</header>
<nav class="breadcrumbs">
  <ol>
    <li><a href="index.html">Home</a></li>
    <li><a href="intro.html">Introduction</a></li>
    <li><a href="proposal.html">Project Proposal</a></li>
    <li><a href="outline.html">Project Outline</a></li>
  </ol>
</nav>
<main>
<header>
  <div class="title">
    <h1><cite>Ambisonics Research and Applications</cite></h1>
    <p>A senior project by Christopher H. Harvey</p>
  </div>
  <p class="timestamp">Last updated <time datetime="2011-05-04">May 4, 2011</time>.</p>
</header>
</main>
</body>
</html>
