---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Introduction &in; Senior Project</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="seniorproj.css"/>
{% include all-js.html %}
<script src="images/seniorproj.js"></script>
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 4974</div>
  <div class="courseinfo-name">Independent Study</div>
  <div class="courseinfo-term">Spring, 2011</div>
  <div class="courseinfo-prof">Advisor: <a href="http://www.music.vt.edu/faculty/dunston/">Michael Dunston</a></div>
</header>
<nav class="breadcrumbs">
  <ol>
    <li><a href="index.html">Home</a></li>
    <li><a href="intro.html">Introduction</a></li>
    <li><a href="proposal.html">Project Proposal</a></li>
    <li><a href="outline.html">Project Outline</a></li>
  </ol>
</nav>
<main>
<h1>Introduction to Ambisonics</h1>
<section>
  <h2>What is Ambisonics?</h2>
  <p>A <a href="http://dictionary.reference.com/browse/ambisonics">formal definition</a> of Ambisonics is <q cite="http://dictionary.reference.com/browse/ambisonics">a system of sound reproduction that uses a combination of channels and speakers to produce an effect of surrounding the listener with the sound.</q></p>
  <p>Simply put, Ambisonics is immersive sound. An Ambisonic system is capable of recording and playing back sound that varies in all three spatial dimensions. What separates Ambisonics from other surround sound systems is that there is no limit to the number of output channels in an Ambisonic system.</p>
</section>
<section>
  <h2>The Origin of Ambisonics</h2>
  <p>How did Ambisonics come to be?</p>
</section>
<section>
  <h2>The General Nature of Ambisonics</h2>
  <section>
    <h3>Differences From Non-Ambisonic Systems</h3>
    <p>In a normal multi-channel system, each channel is mapped to one speaker, and each speaker is assigned to one channel. This describes <mark class="math">a bijection between channels and speakers</mark>.</p>
  </section>
</section>
</main>
</body>
</html>
