---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Project Outline &in; Senior Project</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="seniorproj.css"/>
{% include all-js.html %}
<script src="images/seniorproj.js"></script>
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 4974</div>
  <div class="courseinfo-name">Independent Study</div>
  <div class="courseinfo-term">Spring, 2011</div>
  <div class="courseinfo-prof">Advisor: <a href="http://www.music.vt.edu/faculty/dunston/">Michael Dunston</a></div>
</header>
<nav class="breadcrumbs">
  <ol>
    <li><a href="index.html">Home</a></li>
    <li><a href="intro.html">Introduction</a></li>
    <li><a href="proposal.html">Project Proposal</a></li>
    <li><a href="outline.html">Project Outline</a></li>
  </ol>
</nav>
<main>
<h1>Project Outline</h1>
<ul>
  <li>theory and background research
    <ul>
      <li>origin of Ambisonics</li>
      <li>nature of Ambisonics</li>
      <li>formats
        <ul>
          <li><i>raw</i> A-Format</li>
          <li><i>virtual</i> B-Format</li>
        </ul>
      </li>
      <li>order encodings
        <ul>
          <li>zero order</li>
          <li>first order</li>
          <li>second order</li>
          <li>higher orders and connections to spherical harmonics</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>practical applications
    <ul>
      <li>advantages
        <ul>
          <li>sonic manipulation
            <ul>
              <li>virtual rotation about any axis</li>
              <li>virtual zoom in on a smaller space of the <i>stage</i></li>
              <li>virtual scale of any axis to control length, width, or height</li>
            </ul>
          </li>
          <li>forward-compatible</li>
        </ul>
      </li>
      <li>disadvantages
        <ul>
          <li></li>
        </ul>
      </li>
      <li>perceptive manipulation
        <ul>
          <li>soundfield controls
            <ul>
              <li>azimuth</li>
              <li>elevation</li>
              <li>dominance</li>
            </ul>
          </li>
          <li>stereo output
            <ul>
              <li>coincident pair
                <ul>
                  <li>pattern</li>
                  <li>angle</li>
                </ul>
              </li>
              <li>mid-side pair</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>decoding
        <ul>
          <li><abbr>UHJ</abbr> format</li>
          <li>stereo</li>
          <li>5.1 surround</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>real-world example (demonstration)
    <ul>
      <li>solo pianist recorded with <i>Soundfield MkV</i></li>
      <li>physical setup
        <ul>
          <li>instrument placement</li>
          <li>microphone placement</li>
          <li>patches</li>
        </ul>
      </li>
      <li>eletronic setup
        <ul>
          <li>Logic template</li>
          <li>mixer configuration</li>
        </ul>
      </li>
      <li>step-by-step analysis</li>
    </ul>
  </li>
</ul>
</main>
</body>
</html>
