@import url('../higher-ed.css');

mark.math {
  /* styles 'mark' elements that are relavent to mathematics */
  /* temporary style; will pick a better one later */
  background-color: #FFFF00;
  color: #191919;
  font-weight: 700;
}
