.noLESS {
  display: none !important;
}
/* @group font definitions */
/* @end */
/* @group color definitions */
/* @end */
/* @group body */
body {
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  color: #050200;
  background-color: #fafdff;
}
.hub-body {
  background-image: url('/core/img/phi-stripes-trans.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.main {
  margin-bottom: 162px;
}
/* @end */
/* @group headings */
.title {
  text-align: center;
}
.h {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
}
h1,
.h-alpha {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #0013c0;
}
h2,
.h-beta {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-weight: bold;
  font-size: 1.500em;
  color: #004c7f;
}
h3,
.h-gamma {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
}
h4,
.h-delta {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
}
h5,
.h-epsilon {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-style: italic;
  font-size: 0.833em;
  text-indent: 0.5in;
  color: #004c7f;
}
h6,
.h-zeta {
  margin: 0.5em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-style: italic;
  font-variant: small-caps;
  font-size: 0.833em;
  text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
/* @end */
/* @group paragraphs and block text */
p,
.p {
  margin: 0 0 0.5em;
  line-height: 1.4em;
}
.prose {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
}
.lede {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
blockquote,
.q-block {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding: 5px 0;
  border-color: #ff001a;
  text-align: left;
  padding-left: 8px;
  border-left-width: 5px;
  border-left-style: solid;
  margin-left: 21px;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
}
blockquote .source,
.q-block .source {
  font-family: 'Optima', 'Century Gothic', sans-serif;
}
figcaption,
caption,
.caption {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding: 5px 0;
  border-color: #ff001a;
  text-align: right;
  padding-right: 5px;
  border-right-width: 3px;
  border-right-style: double;
  margin-right: 13px;
}
.timestamp {
  font-size: smaller;
  text-align: left;
}
.timestamp time[datetime] {
  border-bottom: 2px solid #ffbfe5;
  cursor: help;
  cursor: inherit;
}
.nowrap {
  white-space: nowrap;
}
/* @end */
/* @group hyperlinks */
a {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
}
.up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #0098ff;
}
.dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff6600;
}
.sp-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #73c000;
}
.sp-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #4d00c0;
}
.active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff001a;
}
/* @end */
/* @group special boxes */
.box {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.box-block {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}
.box-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #0098ff;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  background-color: #c0f6ff;
}
.box-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff6600;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  background-color: #ffebc0;
}
.box-dn .h-beta,
.box-dn .h-epsilon {
  color: #803300;
}
.box-active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff001a;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  color: #ffed40;
  background-color: #050200;
}
.example {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #bfe5ff;
  background-color: #eaf6ff;
}
.example:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  font-size: smaller;
  border-color: #bfe5ff;
  color: #0098ff;
  background-color: #d6eeff;
  content: 'example';
}
.demo {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #ffd8bf;
  background-color: #fff2ea;
}
.demo:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  font-size: smaller;
  border-color: #ffd8bf;
  color: #ff6600;
  background-color: #ffe6d6;
  content: 'demo';
}
code,
.code {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ffbfe5;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
}
pre,
.code-block {
  border-color: #ffbfe5;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
pre:before,
.code-block:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
  content: 'code';
}
kbd kbd,
.kbd {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ffbfe5;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  padding: 2px;
  font-size: larger;
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
  color: #000000;
}
/* @end */
/* @group inline text */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-weight: italic;
}
mark {
  background-color: yellow;
}
.tex {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: pre;
  color: #000000;
}
.phone,
.email {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
abbr,
.help {
  border-bottom: 2px solid #ffbfe5;
  cursor: help;
}
.scare {
  font-weight: inherit;
  font-style: inherit;
}
.scare:before {
  content: '\2018';
}
.scare:after {
  content: '\2019';
}
i:lang(la),
i:lang(it),
i:lang(fr) {
  font-family: 'Times New Roman', serif;
  font-style: italic;
}
.superscript {
  font-size: smaller;
  vertical-align: super;
}
.subscript {
  font-size: smaller;
  vertical-align: sub;
}
.hindent-5 {
  text-indent: -0.5in;
  padding-left: 0.5in;
}
.hindent-25 {
  text-indent: -0.25in;
  padding-left: 0.25in;
}
.hindent-em {
  text-indent: -1em;
  padding-left: 1em;
}
/* @end */
/* @group lists */
.list-basic {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.list-basic dd {
  margin: 0;
}
.list-basic-inline {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}
.list-basic-inline dd {
  margin: 0;
}
.list-basic-inline li {
  display: inline;
}
.list-action {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #0098ff;
  list-style-position: inside;
}
.list-action dd {
  margin: 0;
}
.list-action li:before {
  content: '\2713\00A0';
}
.list-action a {
  border-bottom: 0;
  text-decoration: underline;
}
.list-text li {
  padding-bottom: 0.2em;
}
.list-omega {
  list-style-type: decimal-leading-zero;
}
.list-alpha {
  list-style-type: upper-roman;
}
.list-beta {
  list-style-type: upper-alpha;
}
.list-gamma {
  list-style-type: decimal;
}
.list-delta {
  list-style-type: lower-alpha;
}
.list-epsilon {
  list-style-type: lower-roman;
}
.list-zeta {
  list-style-type: lower-greek;
}
.prose {
  list-style-type: decimal;
}
/* @end */
/* @group tables */
table,
.table {
  border-color: #808080;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}
table .header,
.table .header {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
table th,
.table th,
table td,
.table td {
  border-color: #808080;
}
table th,
.table th,
table td,
.table td {
  padding: 5px;
}
.table-list {
  border-color: #808080;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}
.table-list .header {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-list th,
.table-list td {
  border-color: #808080;
}
.table-list th,
.table-list td {
  padding: 5px;
}
.table-list > .header,
.table-list > .body {
  border: 1px solid #ff001a;
  border-left: 0;
  border-right: 0;
}
.table-list .header {
  background-color: #eaf6ff;
}
.table-list .row-odd {
  background-color: #bfe5ff;
}
.table-list .row-even {
  background-color: #d6eeff;
}
.table-bars {
  border-color: #808080;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
  border: 1px solid #ff001a;
}
.table-bars .header {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-bars th,
.table-bars td {
  border-color: #808080;
}
.table-bars th,
.table-bars td {
  padding: 5px;
}
.table-bars .header,
.table-bars .body {
  border: 1px solid #ff001a;
  border-top: 0;
  border-bottom: 0;
}
.table-bars .header {
  background-color: #eaf6ff;
}
.table-bars .column-odd {
  background-color: #bfe5ff;
}
.table-bars .column-even {
  background-color: #d6eeff;
}
.table-grid {
  border-color: #808080;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
  border: 1px solid #ff001a;
}
.table-grid .header {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-grid th,
.table-grid td {
  border-color: #808080;
}
.table-grid th,
.table-grid td {
  padding: 5px;
}
.table-grid td {
  border: 1px solid #ff001a;
}
.table-grid .header {
  background-color: #ffffff;
}
.table-grid .row-odd .column-odd {
  background-color: #eaf6ff;
}
.table-grid .row-odd .column-even {
  background-color: #d6eeff;
}
.table-grid .row-even .column-odd {
  background-color: #d6eeff;
}
.table-grid .row-even .column-even {
  background-color: #bfe5ff;
}
/* @end */
/* @group site navigation */
.hub-nav .primary {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: fixed;
  top: 20px;
}
.hub-nav .primary dd {
  margin: 0;
}
.hub-nav .secondary {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: fixed;
  bottom: 20px;
}
.hub-nav .secondary dd {
  margin: 0;
}
.hub-nav .box-block-up {
  border-radius: 15px;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
}
.icon-special {
  width: 64px;
  height: 64px;
  opacity: 1;
}
.icon-special-clear {
  width: 64px;
  height: 64px;
  opacity: 1;
  opacity: 0.6;
}
/* @end */
@media print {
  body {
    color: #000000;
  }
  body {
    background-image: none;
  }
  .nav-hub,
  .courseinfo,
  .masthead {
    display: none;
  }
  .main {
    width: auto;
    margin: auto;
  }
  /* a hack for elements needed to display but not to print */
  .noprint {
    display: none !important;
  }
}
