
/*###############*\
    _links.less
\*###############*/


/**
  * Inline "active" hyperlinks. Not placeholder links, nor box links.
@tags
: #hyperlink
: #span
@author
: Chris Harvey
@updated
: 2014-09-23
  */
a[href] {
  .transition(color; @project_ani_short);
  text-decoration: none;
  color: @project_color_a_up;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: @project_color_a_dn;
  }
  &:active {color: @project_color_a_act;}
}
a[rel~="external"] {font-style: italic;}
