---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Math 7 Lesson 1.1</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Integers unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
<!--<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>-->
<script src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
<!--<script src="http://chharvey.github.io/core/scripts/all.js"></script>-->
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Lesson 1.1 Order of Operations, part 1</h1>
	<dl>
		<dt>SOL</dt>
		<dd>none</dd>
		<!--dd>
		The student will
		<ul>
			<li>write verbal expressions as algebraic expressions and sentences as equations and vice versa; and</li>
			<li>evaluate algebraic expressions for given replacement values of the variables</li>
		</ul>
		</dd-->
		<dt>Timeframe</dt>
		<dd>Week I.1</dd>
		<dt>Time required</dt>
		<dd>1 day</dd>
	</dl>
</header>
<section class="prep">
	<h1 class="h-beta">Preparation</h1>
	<h1 class="h-gamma">Objectives</h1>
	<ul>
		<li>The student will compute the value of a numeric expression involving the four basic operations on whole numbers.</li>
		<li>The student will do the same with parentheses included in the expression.</li>
	</ul>
	<h1 class="h-gamma">Essential Questions</h1>
	<ul>
		<li>What can multiplication and division look like?</li>
		<li>How do we define multiplication of whole numbers?</li>
		<li>How do I know which operations to perform first?</li>
	</ul>
	<h1 class="h-gamma">Materials</h1>
</section>
<section class="implement">
	<h1 class="h-beta">Instruction</h1>
	<h1 class="h-gamma">Warm-up</h1>
	<p>Hand students the <a title="a worksheet with many single-operation problems">Math Facts</a> worksheet. Tell them that they have 5 minutes to complete as many problems as possible. This will get the wheels turning and get them ready for the lesson.</p>
	<h1 class="h-gamma">Main Lesson</h1>
	<h1 class="h-delta">Introduction: notation</h1>
	<p>Discuss the different ways multiplication can appear:</p>
	<ul>
		<li>cross: <span class="latex">\(3\times 5\)</span></li>
		<li>dot: <span class="latex">\(3\cdot 5\)</span></li>
		<li>parentheses: <span class="latex">\(3(5)\)</span>, <span class="latex">\((3)5\)</span>, or <span class="latex">\((3)(5)\)</span></li>
		<li>juxtaposition (for variables): <span class="latex">\(3x\)</span></li>
	</ul>
	<p>Ways division can appear:</p>
	<ul>
		<li>division sign: <span class="latex">\(15\div 3\)</span></li>
		<li>fraction: <span class="latex">\(\frac{15}{3}\)</span></li>
	</ul>
	<p>Students should practice turning multiplication signs into juxtaposition or parentheses before performing any operations. Likewise, turn addition signs into fractions. This will help students see the <b class="keyword">terms</b> in an expression, so they need not worry about memorizing the order of operations.</p>
	<figure>
		<p>Example: <span class="latex">\(2+3\times 5\)</span> is rewritten as <span class="latex">\(2+(3)(5)\)</span>. Now we have two terms: one is the <span class="latex">\(2\)</span> and one is the <span class="latex">\((3)(5)\)</span>. The first one can't be simplified, and the second one must be simplified to <span class="latex">\(15\)</span>. Now the students just compute <span class="latex">\(2+15\)</span>.</p>
	</figure>
	<aside class="informal">
		<h4>Optional Discussion</h4>
		<p>Multiplication of whole numbers is defined as repeated addition. For example, <span class="latex">\(3\times 5 = 3+3+3+3+3\)</span> and <span class="latex">\(5\times 3 = 5+5+5\)</span>. Students do not yet need to be aware that multiplication is commutative, however they will most likely derive this fact anyway.</p>
		<p><q>Since multiplication can be changed into addition, we can change all multiplication problems into addition problems.</q> Use a multiplication problem from the warm-up as an example; give 1 to 2 practice problems.</p>
		<p>Now give a multiplication problem such as <span class="latex">\(2+3\times 5\)</span>. Ask, <q>What should I do first? Well, we know what multiplication is: it's really addition!</q> Then change the problem to <span class="latex">\(2+3+3+3+3+3\)</span> and ask them to compute.</p>
		<p class="main-idea">That's why we always do multiplication before addition.</p>
	</aside>
	<h3>Practice</h3>
	<h3>Assessment</h3>
	<p>Formative: The student will be given two problems to complete (below). Their answers will be collected and immediate feedback will be given.</p>
	<ol>
	<li class="latex">\(\)</li>
	<li class="latex">\(\)</li>
	</ol>
</section>
</div>
</body>
</html>