---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Unit 2 Overview &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Equations and Inequalities unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 2: Equations &amp; Inequalities</h1>
	<p class="timestamp">Updated <time datetime="2013-11-18T23:46">Nov 18, 2013</time>.</p>
	<p class="prose">This unit focuses on finding the solutions of linear equations and inequalities with one variable. Students will translate, and distinguish, between verbal and mathematical equations. Equations will be solved in at most two steps, and inequalities will be solved in at most one step. Students will set up and solve such equations to determine the solutions of real-world problems given in verbal form. Students will also graph solution sets to one-variable inequalities on a number line.</p>
</header>
<section id="unitobjectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="verbal-math">
		<h1 class="h-gamma">Verbal Mathematics</h1>
		<ul>
			<li><span id="7.13a" class="standard-id">7.13a</span> Translate between verbals and mathematics
				<ul>
					<li>Translate verbal phrases to and from mathematical expressions, containing at most two operations.</li>
					<li>Translate verbal sentences to and from mathematical equations.</li>
					<li class="optional">Translate verbal sentences to and from mathematical inequalities.</li>
					<li>Identify differences between mathematical expressions and mathematical statements.</li>
				</ul>
			</li>
		</ul>
	</section>
	<section id="equations">
		<h1 class="h-gamma">Equations</h1>
		<ul>
			<li><span id="7.14a" class="standard-id">7.14a</span>
				<ol>
					<li>Solve one-variable linear equations in one step. Where <span class="latex">\(a\)</span>, <span class="latex">\(b\)</span>, <span class="latex">\(c\)</span>, <span class="latex">\(p\)</span>, and <span class="latex">\(q\)</span> are integers, equations of the following forms will be given:
						<ul>
							<li><span class="latex">\(x+b=c\)</span></li>
							<li><span class="latex">\(ax=c\)</span></li>
							<li><span class="latex">\(\frac{x}{q}=c\)</span></li>
							<li><span class="latex">\(\frac{p}{q}x=c\)</span></li>
						</ul>
					</li>
					<li>Solve one-variable linear equations in two steps. Where <span class="latex">\(a\)</span>, <span class="latex">\(b\)</span>, <span class="latex">\(c\)</span>, <span class="latex">\(p\)</span>, and <span class="latex">\(q\)</span> are integers, equations of the following forms will be given:
						<ul>
							<li><span class="latex">\(ax+b=c\)</span></li>
							<li><span class="latex">\(\frac{x}{q}+b=c\)</span></li>
							<li><span class="latex">\(\frac{p}{q}x+b=c\)</span></li>
							<li><span class="latex">\(p\left(x+b\right)=c\)</span></li>
							<li><span class="latex">\(\frac{x+b}{q}=c\)</span></li>
						</ul>
					</li>
				</ol>
			</li>
			<li><span id="7.14b" class="standard-id">7.14b</span> Solve practical problems requiring the solution of one-variable linear equations.
				<ul>
					<li>Given a word problem, students will select or construct an appropriate equation that models the real-world situation.</li>
					<li>Given a word problem, students will find the solution in at most two steps.</li>
				</ul>
			</li>
		</ul>
	</section>
	<section id="inequalities">
		<h1 class="h-gamma">Inequalities</h1>
		<ul>
			<li><span id="7.15b" class="standard-id">7.15b</span> Graph solutions to one-variable linear inequalities on a number line.</li>
			<li><span id="7.15a" class="standard-id">7.15a</span> Solve one-variable linear inequalities in one step.
				<ol>
					<li>Solve an inequality using addition or subtraction</li>
					<li>Solve an inequality using multiplication or division</li>
				</ol>
			</li>
		</ul>
	</section>
</section>
<section id="vocab">
	<h1 class="h-beta">Vocabulary</h1>
	<dl class="vocablist">
		<dt>equation</dt>
		<dd>a statement that compares two expressions, indicating that they have the same value</dd>
		<dt>inequality</dt>
		<dd>a statement that compares two expressions, indicating that one has a greater or lesser value than the other</dd>
		<dt>isolate the variable</dt>
		<dd>to get the variable by itself on one side of the equals symbol or inequality symbol</dd>
		<dt>inverse operation</dt>
		<dd>an operation, that when performed, <i class="scare">un-does</i> another operation</dd>
		<dd>addition and subtraction are inverse operations, and multiplication and division are inverse operations</dd>
		<dt>solution</dt>
		<dd>a value, that when substituted in for the variable, makes a statement true</dd>
		<dt>solve</dt>
		<dd>to find the value of the variable</dd>
	</dl>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-action">
		<li><a>Lesson 2.1: Verbal Mathematics</a></li>
		<li><a>Lesson 2.2: One-Step Equations and Word Problems</a></li>
		<li><a href="eqns-twostep-lesson.html">Lesson 2.3A: Two-Step Equations</a></li>
		<li><a href="eqns-twostep-lesson.html#partB">Lesson 2.3B: Two-Step Word Problems</a></li>
		<li><a>Lesson 2.5: Inequalities with Addition and Subtraction</a></li>
		<li><a>Lesson 2.6: Inequalities with Multiplication and Division</a></li>
	</ol>
</section>
<section id="practice">
	<h1 class="h-beta">Practice</h1>
	<p><a href="https://docs.google.com/document/d/1STHJQ-FIZ8aCus3hL9q8toyz4JdAVN5nMj2kTW_nTgU/edit?usp=sharing">Unit 2 Homework Log</a></p>
	<ol class="list-action">
		<li><a>Exit Slip 2.2, day 1</a></li>
	</ol>
</section>
<section id="assessments">
	<h1 class="h-beta">Assessments</h1>
	<ol class="list-action">
		<li class="cat-sbg">SBG 7.13a (Verbal Mathematics)</li>
		<li class="cat-hwcw"><a href="eqns-onestep-prequiz.html">Pre-Quiz 2.2: One-Step Equations</a></li>
		<li class="cat-quiz"><a href="eqns-onestep-quiz.html">Quiz 2.2: One-Step Equations</a></li>
		<li class="cat-hwcw"><a href="eqns-twostep-prequiz.html">Pre-Quiz 2.3: Two-Step Equations</a></li>
		<li class="cat-quiz"><a href="eqns-twostep-quiz.html">Quiz 2.3: Two-Step Equations</a></li>
		<li class="cat-sbg">SBG 7.14 (Two-Step Equations)
			<ul>
				<li><a href="../standards-based-grading/sbg-714-v1.html">Version 1</a></li>
			</ul>
		</li>
		<li class="cat-sbg">SBG 7.15 (Inequalities)</li>
		<li class="cat-test"><a>Unit 2 Test</a></li>
	</ol>
</section>
</div>
</body>
</html>
