@import url('../core/stylesheets/all.css');
@import (reference) url('../core/stylesheets/all.less');

/** --RESUME.LESS-- **/

.main, main {&:extend(.linebreadth-full);}
header {
	&:extend(.P1-midright);
//	padding-bottom: .5em;
//	border-bottom: 2px solid @color-accent;
//	margin-bottom: 1em;
	.postal {margin-right: 0;}
}

//.res-h-skilltitle,
//.res-h-org,
//.res-h-occup {
//	margin: 0;
//}
.res-h-name:extend(.h-alpha all) {}
.res-h-skilltitle:extend(.h-beta all) {}
.res-h-org:extend(.h-gamma all) {}
.res-h-occup:extend(.h-delta all) {}

.res-h-skilltitle,
.res-h-org,
.res-h-occup {
	padding: 0;
	margin: 0;
}
.res-skillgroup,
.res-job {
	margin: 0;
	.margin-top-lh(1);
}
.res-skilldetail > .res-job:first-child {margin-top: 0;}

/* @group skillgroups (top sections) */
.res-skillgroup {
	&:extend(.line);
}
.res-h-skilltitle {
	&:extend(.unit-P3);
	padding-left:  (100% * @Phi3 * @Phi3); // P6 or (P3 to P3)
	padding-right: (100% * @Phi3 * @Phi4); // P7 or (P4 to P3)
	text-align: right;
	position: relative;
	right: 10px;
}
.res-skilldetail {
	&:extend(.unit-U-P3);
	padding-left: 0;
	padding-right: @width-Golden4;
}
/* @end */

/* @group jobs (level 2 sections) */
.res-h-org,
.res-h-occup {
	&:extend(.line);
	font-size: @font-size-base;
	/* date & location of job */
	.res-spacetime {
		&:extend(.unit-P3);
		padding-left: 0;
		font-weight: normal;
		font-variant: normal;
		font-style: normal;
		font-size: inherit;
		font-family: @font-fam-base;
		color: @color-base-txt;
		text-align: right;
		letter-spacing: normal;
	}
}
/* bullet list of job descriptions and awards */
ul.res-jobdetail {
	padding: 0;
	margin: 0;
	list-style: square inside none;
}
/* @end */

.res-edu {
	.res-h-org,
	.res-h-occup {text-indent: 0;}
	.res-h-org:extend(.h-epsilon all) {}
	.res-h-occup:extend(.h-zeta all) {}
}
.res-tech-apps {
	&:extend(.list-basic all);
	display: table;
	li {
		width: 50%;
		float: left;
	}
}
.res-tech-langs {
	&:extend(.list-line all);
	li {width: auto;}
}









@media screen {
	footer {display: none;}
//	.res-skillgroup.res-edu {
//		.res-org {.h-epsilon; }
//		.res-occup {.h-zeta; text-indent: 0;}
//	}
}






















@media print {
	.leftcell() {
		padding-left: 1em;
		padding-right: 0.5em;
	}
	.rightcell() {
		padding-left: 0.5em;
		padding-right: 1em;
	}
	.res-h-print() {
		font-style: inherit;
		font-variant: inherit;
		font-weight: inherit;
		font-size: 10pt;
		font-family: inherit;
		letter-spacing: normal;
		color: #000000;
		background-color: #ffffff;
	}
	body {
		width: 8.5in;
		margin: auto;
		font-size: 10pt;
		font-family: 'Arial','Helvetica',sans-serif;
		color: #000000;
		background-color: #ffffff;
		background-image: none !important;
	}
	.main, main {
		width: 8.0in;
		margin: auto;
		margin-bottom: 10px;
	}
	header {
		border-bottom-color: #808080;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		.res-name {
			.res-h-print();
			font-size: 14pt;
			font-family: 'Times','Times New Roman',serif;
			letter-spacing: 1px;
		}
		address {padding: 0 1em;}
	}
	footer {
		.line;
		margin: 0.5in 0 1em;
		> .res-footer-name,
		> .res-footer-pagecount {
			.unit-1to2;
		}
		> .res-footer-name {
			.leftcell();
			text-align: left;
		}
		> .res-footer-pagecount {
			.rightcell();
			text-align: right;
		}
	}
	.res-skillgroup {
		margin-bottom: 2em;
		&.res-edu .res-occup {font-style: italic !important;}
	}
	.res-skilltitle {
		.res-h-print();
		.leftcell();
		width: 1in;
		position: static;
		font-variant: small-caps;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.res-skilldetail {
		.rightcell();
		width: auto;
	}
		.res-job {
			margin-bottom: 2em;
		}
			.res-org, .res-occup {width: auto;}
			.res-org {
				.res-h-print();
				font-weight: bold;
			}
			.res-occup {
				.res-h-print();
			}
	.res-spacetime {width: 2in;}
	a {
		border: 0 !important;
		text-decoration: none !important;
		color: inherit !important;
	}
	i:lang(la) {font-family: inherit;}
}
