@media print {
	body {
		width: 8.5in;
		margin-left: auto;
		margin-right: auto;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		font-size: 10pt;
		font-family: 'Arial','Helvetica',sans-serif;
		vertical-align: text-top;	
	}
	body,
	.res-h {
		color: #000000;
		background-color: #ffffff;
	}
	.res-main {
		width: 8.0in;
		margin: auto;
		margin-bottom: 10px;
	}
	header {
		padding-bottom: .25em;
		border-bottom: 1px solid #808080;
		width: 100% !important;
		margin: auto !important;
	}
	/* @group cells */
	.res-skillgroup,
	.res-item {margin-top: 2em;}
	.res-skillgroup-last {margin-bottom: .5em;}
	.line .res-skill {width: 1.25in;}
	.line .res-detail {width: auto;}
		/* @group left and right cells */
		.res-skill, .res-footer-name,
		.res-detail, .res-address, .res-footer-pagecount {padding-left: .5em; padding-right: .5em;}
		.res-skill, .res-footer-name {padding-left: 1em;}
		.res-detail, .res-address, .res-footer-pagecount {padding-right: 1em;}
		/* @end */
	/* @end */
	
	/* @group headings and other important spans */
	.res-h {
		margin: 0;
		font-weight: inherit;
		font-variant: inherit;
		font-style: inherit;
		font-size: 10pt;
		font-family: inherit;
		letter-spacing: normal;
	}
	.res-name,
	.res-skill {
		font-variant: small-caps;
		letter-spacing: 1px;
	}
	.res-skill,
	.res-accomp {font-weight: bold;}
	.res-accomp,
	.res-institution,
	.res-occup {clear: both;}
	.res-name {
		font-size: 14pt;
		font-family: 'Times','Times New Roman',serif;
		text-align: center;
		margin: .25em 0;
	}
	.res-institution {font-style: italic;}
	/* @end */
	
	/* @group hyperlinks */
	a {
		border: none !important;
		text-decoration: none !important;
		color: inherit !important;
	}
	/* @end */
	
	/* @group multiple pages */
	.newpage {padding-top: 20px;}
	.pagebreak {page-break-before: always;}
	.res-footer {margin-top: 0.5in;}
	.res-footer-name {text-align: left;}
	.res-footer-pagecount {text-align: right;}
	/* @end */
	
	/* @group miscellaneous */
	.noprint {display: none !important;}
	i:lang(la) {font-family: inherit;}
	/* @end */
}