// out: resume.css
@import (reference) url('../core/styles/all.less');

/*---------------*\
    resume.less
\*---------------*/

//Table of Contents
//- HEADINGS
//- SKILLGROUPS


//+++++++++//
/*@HEADINGS*/
//+++++++++//
.H.Beta.res-Skilltitle,
.H.Gamma.res-Jobtitle,
.H.Delta.res-Postitle,
.H.Epsilon.res-Deg,
.H.Zeta.res-Inst {
	&:extend(.vru-top-0);
	&:extend(.vru-bottom-0);
}
.H.Gamma.res-Jobtitle,
.H.Delta.res-Postitle,
.H.Epsilon.res-Deg,
.H.Zeta.res-Inst {
	&:extend(.fontsize-med);
}
/**
  * The title of each skillgroup, e.g. "Teaching Experience"
@extends
: .H.Beta
@mixesin
: .fontsize-scale()
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-06-01
*/
.H.Beta.res-Skilltitle {
	.fontsize-scale(1.5);
	position: absolute;
	left: 0;
	top: auto;
	width: @golden4;
	margin-left: @golden7;
	margin-right: @golden6;
	border: 0;
	text-align: right;
}

.res-Postal {
	font-family: @fontfam_heading;
	text-align: center;
	.List {&:extend(.vru-top-0);}
}
//++++ @end HEADINGS ++++//


//++++++++++++//
/*@SKILLGROUPS*/
//++++++++++++//

.res-Skillgroup,
.res-Job {
	&:extend(.vru-top-1 all);
}

/**
  * A bullet list of job descriptions for each job.
@extends
: .List.U
@tags
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-06-01
*/
.List.res-Jobdetail {
	padding-left: (@tab / 2);
}





.res-Spacetime {
	//* date & location of job
	float: right;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-family: @fontfam_base;
	letter-spacing: normal;
	color: @color_base_txt;
}
//++++ @end SKILLGROUPS ++++//


.res-Skillgroup:first-of-type,
.res-Footer {
	.vru-top-phi(1px; solid; @color_h_major);
}

.js-res-Footer > .Pagecount {text-align: right;}

@media screen {
	.js-res-Footer {display: none;}
}


@media print {
	.res-Body {
		.fontsize-med;
		font-family: @fontfam_math;
	}
	.res-Main {margin-bottom: 0;}
	.res-Job {
		.vru-top-0;
		.vru-bottom-1;
	}
	.H.Alpha.res-Name,
	.H.Beta.res-Skilltitle,
	.H.Gamma.res-Jobtitle,
	.H.Delta.res-Postitle,
	.H.Epsilon.res-Deg,
	.H.Zeta.res-Inst {
		font-family: inherit;
		letter-spacing: normal;
		color: inherit;
	}
	.H.Alpha.res-Name,
	.H.Beta.res-Skilltitle {
		.fontsize-lrg;
	}
	.H.Alpha.res-Name {
		font-variant: inherit;
	}
	.H.Beta.res-Skilltitle {
		width: 100%;
		padding: 0;
		margin: 0;
		font-variant: small-caps;
		text-align: left;
		position: static;
	}
	.H.Gamma.res-Jobtitle {
		font-variant: inherit;
		font-weight: bold;
	}
	.H.Delta.res-Postitle {
		font-weight: inherit;
	}
	.H.Epsilon.res-Deg {
		font-style: inherit;
	}
	.H.Zeta.res-Inst {
		font-variant: inherit;
	}

	.res-Spacetime,
	.res-Postal {
		font-family: inherit;
	}
	.List {
		.vru-top-0;
	}
}
