doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title resume
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Resume of Christopher H. Harvey of Fairfax, VA.")
    link(rel="icon" href="../core/images/favicon.ico")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/resume.css")
    style.
      @media print {
        #obj2 {
          margin-top: -3rem;
        }
      }
      #obj2,
      #obj3 {display: none;}
      #obj3 {
        width: 100%;
        border: 0; /* reset */
        font-size: inherit; /* reset */
        background: transparent; /* reset */
      }
  body.o-GoldenContainer
    main.o-GoldenContainer__Content(itemscope="" itemtype="https://schema.org/Person")
      header.o-HeaderRes
        h1.o-HeaderRes__Name.c-H1(itemprop="name")
          span(itemprop="givenName") Christopher 
          abbr(title="Hewitt") H. 
          span(itemprop="familyName") Harvey
        section
          h2(hidden="") Contact
          address.u-s-ff_base(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress"): ol.o-ListInline
            li.o-ListInline__Item.o-ListInline__Item--square(itemprop="streetAddress") 11156 Byrd Drive
            li.o-ListInline__Item.o-ListInline__Item--square
              span(itemprop="addressLocality") Fairfax, 
              span(itemprop="addressRegion") VA 
              span(itemprop="postalCode") 22030
              span(itemscope="" itemtype="https://schema.org/GeoCoordinates")
                meta(itemprop="latitude"  content="38.864158")
                meta(itemprop="longitude" content="-77.2888239")
            li.o-ListInline__Item:                                      a(class="c-Camo" href="tel:+17035072467" itemprop="telephone") (703) 507-2467
            li.o-ListInline__Item.o-ListInline__Item--square.h-newline: a(rel="author" itemprop="email" href="mailto:chrisharvey2pi@gmail.com") chrisharvey2pi@gmail.com
            li.o-ListInline__Item:                                      a(rel="author" href="https://chharvey.github.io/") https://chharvey.github.io/
      section.o-Skill#objective
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Objective
        p.o-Objective#obj1(itemprop="seeks") To obtain an entry-level position as a front-end web developer.
        p.o-Objective#obj2(itemprop="seeks") To obtain an entry-level position in the Intelligence Community that would utilize my mathematical and technological skills.
        input.o-Objective#obj3(itemprop="seeks" type="text" value="Type a custom objective here. Reload to reset.")
      section.o-Skill#tech-skills
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Technical Experience
        section.o-Org#tech-misc
          h3.c-H3 Languages &amp; Systems
          ul.o-ListInline
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: abbr.c-Acro(title="HyperText Markup Language") HTML
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="http://jade-lang.com") Jade
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: abbr.c-Acro(title="Cascading Stylesheets") CSS
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="http://lesscss.org") Less
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize JavaScript
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="http://jquery.com/") jQuery
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="http://d3js.org/") #[abbr(title="Data-Driven Documents") D3].js
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize Microdata
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="https://nodejs.org/") node.js
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="https://www.npmjs.com/"): abbr(title="node package manager") npm
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="http://mathjax.org/") MathJax
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo.M(rel="external" href="http://www.latex-project.org/") \LaTeX
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: abbr.c-Acro(title="Scalable Vector Graphics") SVG
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: abbr.c-Acro(title="eXtendable Markup Language") XML
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: abbr.c-Acro(title="XML Stylesheet Language: Transformation") XSLT
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: abbr.c-Acro(title="XML Schema Definition") XSD
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize Java
            li.o-ListInline__Item.o-Textbox.c-Label.c-Label--skss.c-Label--resTech.h-p-normalize: a.c-Camo(rel="external" href="http://git-scm.com/") Git
        section.o-Org#tech-apps(hidden="")
          h3.c-H3 Desktop Applications
          ul.o-Org__Detail
            li Key Curriculum Press #[cite Geometer&rsquo;s Sketchpad]
            li Key Curriculum Press #[cite TinkerPlots]
            li #[cite Calculator-Based Ranger 2]; #[cite TI-Navigator]
            li SMART Technologies
            li #[cite Logic Studio 9]
            li Sonic Studio #[cite Soundblade]
        section.o-Org#asce(itemprop="worksFor" itemscope="" itemtype="https://schema.org/LocalBusiness")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Front-end Developer
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.asce.org/" itemprop="url")
                  span(itemprop="name") American Society of Civil Engineers
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2014-10") Jul 2015]&ndash;present
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Reston, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude"  content="38.9555819")
                  meta(itemprop="longitude" content="-77.3490615")
          ul.o-Org__Detail
        section.o-Org#osmosis(itemscope="" itemtype="https://schema.org/LocalBusiness")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Front-end Developer
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.osmosis.org/" itemprop="url")
                  span(itemprop="name") Knowledge Diffusion, #[abbr(title="Incorporated") Inc.]
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2014-10") Oct 2014]&ndash;#[time(datetime="2015-03") Mar 2015]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Charlottesville, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude"  content="38.035974")
                  meta(itemprop="longitude" content="-78.500286")
          ul.o-Org__Detail
            li Implemented a feature that presented students their usage analytics using D3.js.
            li.
              Automated construction of a dynamic, interactive graphical user interface with
              #[abbr.c-Acro(title="Scalable Vector Graphics") SVG] and Less.
            li.
              Generated an interactive visualization for an Item Response Theory function and
              its parameters.
            li.
              Corresponded with team members and endorsers on an
              #[a.c-Camo(rel="external" href="https://www.sbir.gov/"): abbr.c-Acro(title="Small Business Innovation Research") SBIR] grant proposal
              for extending #[cite Osmosis] to an undergraduate biology platform.
        section.o-Org#VTSC-web(itemscope="" itemtype="https://schema.org/SportsTeam")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Webmaster
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.swim.org.vt.edu/" itemprop="url")
                  span(itemprop="name") Virginia Tech #[span(itemprop="sport") Swim] Club
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time 2009]&ndash;#[time 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Blacksburg, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.22667")
                  meta(itemprop="longitude" content="-80.42157")
          ul.o-Org__Detail
            li.
              Authored, administered, updated club&rsquo;s Web site in
              #[abbr.c-Acro(title="PHP: Hypertext Preprocessor") PHP].
            li Created, sent surveys and election polls to members.
      section.o-Skill#teach-exp
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Teaching Experience
        section.o-Org#WMMS(itemscope="" itemtype="https://schema.org/MiddleSchool")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Teacher, Math 7
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" itemprop="url" href="http://greenecounty.va.schoolwebpages.com/education/school/school.php?sectionid=6&linkid=nav-menu-container-1-32138")
                  span(itemprop="name") William Monroe Middle School
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2013-08") Aug 2013]&ndash;#[time(datetime="2014-06") Jun 2014]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Stanardsville, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude"  content="38.294019")
                  meta(itemprop="longitude" content="-78.443066")
          ul.o-Org__Detail
            li.
              Organized learning objectives from the
              #[abbr.c-Acro(title="Virginia Standards of Learning") VA SOLs] into
              subject-area-based curriculum.
            li.
              Identified similarities/differences between state standards and
              #[a.c-Camo(rel="external" href="http://www.corestandards.org/") Common Core]
              standards.
        section.o-Org#CHS(itemscope="" itemtype="https://schema.org/HighSchool")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Teacher, Algebra II and Algebra II Honors
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://ccs.k12.va.us/schools/chs/index.aspx" itemprop="url")
                  span(itemprop="name") Charlottesville High School
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2012-08") Aug 2012]&ndash;#[time(datetime="2013-06") Jun 2013]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Charlottesville, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="38.052427")
                  meta(itemprop="longitude" content="-78.476109")
          ul.o-Org__Detail
            li Differentiated academic/honors pacing guides, curriculum, instruction.
            li Assistant coached
              span(itemscope="" itemtype="https://schema.org/SportsTeam").
                #[span(itemprop="name") Charlottesville High School #[span(itemprop="sport") Swimming]],
                #[time(datetime="2012-11") Nov]&ndash;#[time(datetime="2013-02") Feb], for
                #[span(itemprop="coach" itemscope="" itemtype="https://schema.org/Person"): span(itemprop="name") Ron Price].
        section.o-Org#PHHS(itemscope="" itemtype="https://schema.org/HighSchool")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Student Teaching, Geometry and Algebra II
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://ph.rcps.info/" itemprop="url")
                  span(itemprop="name") Patrick Henry High School
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2012-02") Feb 2012]&ndash;#[time(datetime="2012-04") Apr 2012]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Roanoke, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.2559901")
                  meta(itemprop="longitude" content="-79.9836085")
          ul.o-Org__Detail
            li(hidden="") Cooperating Teacher:
              span(itemscope="" itemtype="https://schema.org/Person"): span(itemprop="name") Ben Bazak
            li(hidden="") Constructed, delivered own lesson plans, assessment tools.
            li Periodically video recorded myself teaching lessons for self-evaluation.
            li.
              Synthesized cumulative electronic portfolio featuring evidence of the 10
              #[a.c-Camo(rel="external" href="http://www.ccsso.org/Resources/Programs/Interstate_Teacher_Assessment_Consortium_(InTASC).html"): abbr.c-Acro(title="Interstate Teacher Assessment and Support Consortium") InTASC]
              standards.
        section.o-Org#AMS(itemscope="" itemtype="https://schema.org/MiddleSchool")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Internship, Math 7 and Pre-Algebra
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.mcps.org/AMS/" itemprop="url")
                  span(itemprop="name") Auburn Middle School
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2011-09") Sep 2011]&ndash;#[time(datetime="2011-12") Dec 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Riner, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.061729")
                  meta(itemprop="longitude" content="-80.442635")
          ul.o-Org__Detail
            li(hidden="") Cooperating Teacher:
              span(itemscope="" itemtype="https://schema.org/Person"): span(itemprop="name") Eric Altizer
            li Assisted cooperating teacher with grading, attendance, classroom management.
            li(hidden="") Mirror-taught lessons, modified/constructed and taught lesson plans for entire class periods.
            li Conducted intensive student interview to assess understanding of a specific topic.
            li(hidden="") Attended after-school programs, clubs, parent-teacher conferences, team meetings.
        section.o-Org#SJMS(itemscope="" itemtype="https://schema.org/MiddleSchool")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") #[abbr.c-Acro(title="English Language Learner") #[span.c-Acro__First E]LL] Teaching Project
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://jackson.sjms.rcps.info/" itemprop="url")
                  span(itemprop="name") Stonewall Jackson Middle School
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2011") Fall 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Roanoke, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.265693")
                  meta(itemprop="longitude" content="-79.926149")
          ul.o-Org__Detail
            li(hidden="") Supervisor:
              span(itemscope="" itemtype="https://schema.org/Person")
                span(itemprop="name") Betti Kreye,
                span(itemprop="affiliation" itemscope="" itemtype="https://schema.org/EducationalOrganization")
                  span(itemprop="name") Virginia Tech
            li.
              Diagnosed, analyzed gaps between Math
              #[abbr.c-Acro(title="Virginia Standards of Learning") VA SOLs] and
              #[abbr.c-Acro(title="World-Class Instructional Design and Assessment") WIDA]
              Can Do Standards.
            li(hidden="").
              Conducted observations in math classes,
              #[abbr.c-Acro(title="English Language Learner") ELL] classes following observation
              protocol.
            li(hidden="").
              Designed lesson plans that provide access to content concepts for
              #[abbr.c-Acro(title="English Language Learners") ELLs], based on both sets
              of standards.
            li Worked with colleagues to construct and peer-teach a lesson using manipulatives.
        section.o-Org#BHS(itemscope="" itemtype="https://schema.org/HighSchool" hidden="")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Early Field Experience, Geometry and Algebra II
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.mcps.org/bhs/" itemprop="url")
                  span(itemprop="name") Blacksburg High School
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2011-02") Feb 2011]&ndash;#[time(datetime="2011-04") Apr 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Blacksburg, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.210454")
                  meta(itemprop="longitude" content="-80.460639")
          ul.o-Org__Detail
            li(hidden="") Cooperating Teacher:
              span(itemscope="" itemtype="https://schema.org/Person"): span(itemprop="name") Bill Noble
            li Assisted cooperating teacher with a variety of classroom duties.
            li Tutored students in small groups, one-on-one.
            li.
              Conducted classroom observations, compared findings with professional research on the 6
              #[abbr.c-Acro(title="National Council of Teachers of Mathematics") NCTM] principles.
        section.o-Org#VTME(itemscope="" itemtype="https://schema.org/EducationalOrganization" hidden="")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Mathematics Tutor
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="https://www.emporium.vt.edu/" itemprop="url")
                  span(itemprop="name") Virginia Tech Math Emporium
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time(datetime="2010-08") Aug 2010]&ndash;#[time(datetime="2011-12") Dec 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Blacksburg, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.2337")
                  meta(itemprop="longitude" content="-80.4342")
          ul.o-Org__Detail
            li Assisted students in first- and second-year collegiate mathematics courses.
            li(hidden="") Helped with practice quizzes, homework problems.
            li(hidden="") Reviewed lessons, clarified content material.
      section.o-Skill#work-exp
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Other Work Experience
        section.o-Org#LE(itemscope="" itemtype="https://schema.org/SportsTeam")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Head #[span(itemprop="sport") Swim] Coach
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.lakevale.org/dolphins/" itemprop="url")
                  span(itemprop="name") Lakevale Estates
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time 2010]&ndash;#[time 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Vienna, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="38.8989018")
                  meta(itemprop="longitude" content="-77.2951528")
          ul.o-Org__Detail
            li.
              Instructed children ages 4&ndash;18 in water training basics, stroke technique, drill,
              sprint, endurance training.
            li Coached swim meets, help organize, attend team activities, fundraisers.
            li Constructed swimmer lineups for dual, individual, relay meets.
            li(hidden="") Created positive learning environment for all swimmers.
            li(hidden="") 4-1 record (#[time 2010]); 5-0 record, Division Champions (#[time 2011])
        section.o-Org#VTSC-treas(itemscope="" itemtype="https://schema.org/SportsTeam")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Treasurer
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://www.swim.org.vt.edu/" itemprop="url")
                  span(itemprop="name") Virginia Tech #[span(itemprop="sport") Swim] Club
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time 2009]&ndash;#[time 2011]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Blacksburg, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="37.22667")
                  meta(itemprop="longitude" content="-80.42157")
          ul.o-Org__Detail
            li.
              Validated organization&rsquo;s identity with
              #[abbr.c-Acro(title="Internal Revenue Service") IRS].
            li Set up and administered bank account.
            li Managed club&rsquo;s income and expense funds.
            li Created projections and summaries of club&rsquo;s financial activity.
        section.o-Org#VA(itemscope="" itemtype="https://schema.org/SportsTeam" hidden="")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Assistant Swim Coach
              p.o-Org__Header__Titles__Name.c-H4
                a.c-Camo(rel="external" href="http://villaaquatic.com/" itemprop="url")
                  span(itemprop="name") Villa Aquatic #[span(itemprop="sport") Swim and Dive]
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time 2006]&ndash;#[time 2009]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Fairfax, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="38.846711")
                  meta(itemprop="longitude" content="-77.330665")
          ul.o-Org__Detail
            li Head Coach:
              span(itemscope="" itemtype="https://schema.org/Person"): span(itemprop="name") Matt Salerno
        section.o-Org#beanco(itemscope="" itemtype="https://schema.org/LocalBusiness")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Assistant Manager
              p.o-Org__Header__Titles__Name.c-H4(itemprop="name") Beanco Aquatics
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time 2006]&ndash;#[time 2009]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Fairfax, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="38.846711")
                  meta(itemprop="longitude" content="-77.330665")
          ul.o-Org__Detail
            li(hidden="") Head Manager:
              span(itemscope="" itemtype="https://schema.org/Person"): span(itemprop="name") Kevin Adams
            li(hidden="") Supervised other assistant managers and lifeguards.
            li Designed scheduling systems and employee procedures.
            li.
              Administered pool operations; safety, first-aid, response,
              cleanliness, chemicals,
              other equipment.
        section.o-Org(itemscope="" itemtype="https://schema.org/LocalBusiness" hidden="")
          header.o-Org__Header
            div.o-Org__Header__Titles
              h3.o-Org__Header__Titles__JobTitle.c-H3(itemprop="jobTitle") Lifeguard
              p.o-Org__Header__Titles__Name.c-H4(itemprop="name") Beanco Aquatics
            div.o-Org__Header__Spacetime
              p.o-Org__Header__Spacetime__Dates #[time 2003]&ndash;#[time 2009]
              p.o-Org__Header__Spacetime__Place(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
                span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                  span(itemprop="addressLocality") Fairfax, 
                  span(itemprop="addressRegion") VA
                span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                  meta(itemprop="latitude" content="38.846711")
                  meta(itemprop="longitude" content="-77.330665")
          ul.o-Org__Detail
            li Tended to customers&rsquo; and patrons&rsquo; needs in a timely manner.
            li.
              Obtained certification in
              #[abbr.c-Acro(title="cardiopulmonary resuscitation") CPR],
              first aid, lifeguarding, pool operations.
      section.o-Skill#edu
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Education
        section.o-Org.o-Org--inst#VT
          h3.o-Org--inst__Name.c-H4(itemprop="alumniOf" itemscope="" itemtype="https://schema.org/CollegeOrUniversity")
            a.c-Camo(rel="external" href="https://www.vt.edu/" itemprop="url")
              span(itemprop="name") Virginia Polytechnic Institute and State University
          dl.o-ListAchv
            dt.o-ListAchv__Award(itemprop="award")
              abbr(title="Master of Arts in Education") M.A. Ed. 
              | Curriculum and Instruction, 
              span(itemscope="" itemtype="https://schema.org/Rating")
                span(itemprop="ratingValue") 3.950 / 
                span(itemprop="bestRating") 4.0
                abbr.c-Acro(title="Grade Point Average" itemprop="name") GPA 
            dd.o-ListAchv__Date: time 2012
            dt.o-ListAchv__Award(itemprop="award")
              abbr(title="Bachelor of Science") B.S.
              | Mathematics, Education Option, #[i(lang="la") Cum Laude,] 
              span(itemscope="" itemtype="https://schema.org/Rating")
                span(itemprop="ratingValue") 3.539 / 
                span(itemprop="bestRating") 4.0
                abbr.c-Acro(title="Grade Point Average" itemprop="name") GPA 
            dd.o-ListAchv__Date: time 2011
            dt.o-ListAchv__Award(itemprop="award" hidden="")
              abbr(title="Bachelor of Arts") B.A.
              | Music, Technology Option, Piano Specialty 
              span(itemscope="" itemtype="https://schema.org/Rating")
                span(itemprop="ratingValue") 3.248 / 
                span(itemprop="bestRating") 4.0
                abbr.c-Acro(title="Grade Point Average" itemprop="name") GPA 
            dd.o-ListAchv__Date(hidden="") in progress
      section.o-Skill#prof-dev
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Profes&shy;sional Dev&shy;elopment
        dl.o-ListAchv
          dt.o-ListAchv__Award
            span(itemscope="" itemtype="https://schema.org/EducationalOrganization")
              abbr.c-Acro(title="Virginia Council of Teachers of Mathematics" itemprop="name") #[span.c-Acro__First V]CTM
            | Conferences, annually statewide (#[time(datetime="PT40H") 10 hr each]) 
          dd.o-ListAchv__Date #[time 2011]&ndash;#[time 2014]
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/EducationEvent" hidden="")
            span(itemprop="name")
              span(itemprop="organizer" itemscope="" itemtype="https://schema.org/EducationalOrganization")
                abbr.c-Acro(title="Virginia Council of Teachers of Mathematics" itemprop="name") #[span.c-Acro__First V]CTM
              | Conference,
            span(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
              span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                span(itemprop="addressLocality") Harrisonburg, 
                span(itemprop="addressRegion") VA 
              span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                meta(itemprop="latitude" content="38.4393105")
                meta(itemprop="longitude" content="-78.8711824")
            time(datetime="PT10H" itemprop="duration") (10 hr) 
          dd.o-ListAchv__Date(hidden="").
            Mar #[time(datetime="2014-03-14" itemprop="startDate") 14]&ndash;#[time(datetime="2014-03-15" itemprop="endDate") 15], 2014
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/EducationEvent" hidden="")
            span(itemprop="name")
              span(itemprop="organizer" itemscope="" itemtype="https://schema.org/EducationalOrganization")
                abbr.c-Acro(title="Virginia Council of Teachers of Mathematics" itemprop="name") #[span.c-Acro__First V]CTM
              | Conference,
            span(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
              span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                span(itemprop="addressLocality") Virginia Beach, 
                span(itemprop="addressRegion") VA 
              span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                metax(itemprop="latitude" content="36.7674971")
                metax(itemprop="longitude" content="-76.0476647")
            time(datetime="PT10H" itemprop="duration") (10 hr) 
          dd.o-ListAchv__Date(hidden="").
            Mar #[time(datetime="2013-03-08" itemprop="startDate") 8]&ndash;#[time(datetime="2013-03-09" itemprop="endDate") 9], 2013
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/EducationEvent" hidden="")
            span(itemprop="name")
              span(itemprop="organizer" itemscope="" itemtype="https://schema.org/EducationalOrganization")
                abbr.c-Acro(title="Virginia Council of Teachers of Mathematics" itemprop="name") #[span.c-Acro__First V]CTM
              | Conference,
            span(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
              span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                span(itemprop="addressLocality") Roanoke, 
                span(itemprop="addressRegion") VA 
              span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                meta(itemprop="latitude" content="37.2743219")
                meta(itemprop="longitude" content="-79.9575425")
            time(datetime="PT10H" itemprop="duration") (10 hr) 
          dd.o-ListAchv__Date(hidden="").
            Mar #[time(datetime="2012-03-09" itemprop="startDate") 9]&ndash;#[time(datetime="2012-03-10" itemprop="endDate") 10], 2012
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/EducationEvent" hidden="")
            span(itemprop="name")
              span(itemprop="organizer" itemscope="" itemtype="https://schema.org/EducationalOrganization")
                abbr.c-Acro(title="Virginia Council of Teachers of Mathematics" itemprop="name") #[span.c-Acro__First V]CTM
              | Conference,
            span(itemprop="location" itemscope="" itemtype="https://schema.org/Place")
              span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                span(itemprop="addressLocality") Richmond, 
                span(itemprop="addressRegion") VA 
              span(itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates")
                meta(itemprop="latitude" content="37.5246609")
                meta(itemprop="longitude" content="-77.4932615")
            time(datetime="PT10H" itemprop="duration") (10 hr) 
          dd.o-ListAchv__Date(hidden="").
            Mar #[time(datetime="2011-03-11" itemprop="startDate") 11]&ndash;#[time(datetime="2011-03-12" itemprop="endDate") 12], 2011
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/Event")
            span(itemprop="name") Secondary Mathematics Instruction in an Inclusive Classroom 
            time(datetime="PT3H" itemprop="duration") (3 hr) 
          dd.o-ListAchv__Date #[time(datetime="2011-08-12" itemprop="startDate endDate") Oct 12, 2011]
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/Event")
            span(itemprop="name") Preservice Teacher Education with TI-Nspire Technology 
            time(datetime="PT9H" itemprop="duration") (9 hr) 
          dd.o-ListAchv__Date #[time(datetime="2009-03-28" itemprop="startDate endDate") Mar 28, 2009]
      section.o-Skill#awards
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Awards &amp; Member&shy;ships
        dl.o-ListAchv
          dt.o-ListAchv__Award(itemprop="award") Virginia Postgraduate Professional Licence, Secondary Mathematics 
          dd.o-ListAchv__Date valid #[time 2012]&ndash;#[time 2017]
          dt.o-ListAchv__Award(itemprop="award") Robert Noyce Scholarship 
          dd.o-ListAchv__Date #[abbr(title="Fall") Fa] #[time 2011]&ndash;#[abbr(title="Spring") Sp] #[time 2012]
          dt.o-ListAchv__Award(itemprop="award") Educational Testing Service Recognition of Excellence 
          dd.o-ListAchv__Date: time(datetime="2010-11-13") Nov 13, 2010
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/EducationalOrganization" hidden="")
            span(itemprop="name") National Society of Collegiate Scholars
          dd.o-ListAchv__Date(hidden="") #[time 2007]&ndash;#[time 2011]
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/Organization").
            #[span(itemprop="name") Virginia Tech Marching Virginians], Trombone II 
          dd.o-ListAchv__Date #[time 2007]&ndash;#[time 2009]
          dt.o-ListAchv__Award(itemprop="award" hidden="") Dean&rsquo;s List
          dd.o-ListAchv__Date(hidden="") Fa #[time 2006], Fa #[time 2007], Sp #[time 2008]
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/EducationalOrganization" hidden="")
            span(itemprop="name") National Honor Society
          dd.o-ListAchv__Date(hidden="") #[time 2006]
          dt.o-ListAchv__Award(hidden="") Fairfax High School Marching, Symphonic, Jazz Bands
            dl.o-ListAchv(hidden="")
              dt.o-ListAchv__Award Trombone I and Field Captain
              dd.o-ListAchv__Date #[time 2005]&ndash;#[time 2006]
              dt.o-ListAchv__Award Trombone II
              dd.o-ListAchv__Date #[time 2003]&ndash;#[time 2004]
          dd.o-ListAchv__Date(hidden="") #[time 2003]&ndash;#[time 2006]
      section.o-Skill#athletic(hidden="")
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Team Athletic Experience
        dl.o-ListAchv
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/SportsTeam")
            a.c-Camo(rel="external" href="http://www.swim.org.vt.edu/" itemprop="url")
              span(itemprop="name") Virginia Tech #[span(itemprop="sport") Swim] Club
          dd.o-ListAchv__Date #[time 2007]&ndash;#[time 2012]
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/SportsTeam")
            a.c-Camo(rel="external" href="http://www.fairfaxhighsports.org/index.cfm?action=main.team&ID=2329" itemprop="url")
              span(itemprop="name") Fairfax High School Varsity 
                span(itemprop="sport") Swim and Dive, 
            span(itemscope="" itemtype="https://schema.org/EducationalOrganization")
              a.c-Camo(rel="external" href="http://www.vhsl.org/" itemprop="url")
                abbr.c-Acro(title="Virginia High School League" itemprop="name") VHSL
            dl.o-ListAchv(hidden="")
              dt.o-ListAchv__Award Four-year letter achiever
              dd.o-ListAchv__Date #[time 2003]&ndash;#[time 2006]
              dt.o-ListAchv__Award VA State qualifier for 200 Free Relay
              dd.o-ListAchv__Date #[time 2004], #[time 2006]
          dd.o-ListAchv__Date #[time 2003]&ndash;#[time 2006]
          dt.o-ListAchv__Award(itemscope="" itemtype="https://schema.org/SportsTeam")
            a.c-Camo(rel="external" href="http://villaaquatic.com/" itemprop="url")
              span(itemprop="name") Villa Aquatic 
                span(itemprop="sport") Swim and Dive, 
            span(itemscope="" itemtype="https://schema.org/Organization")
              a.c-Camo(rel="external" href="http://nvsl.nvblu.com/" itemprop="url")
                abbr.c-Acro(title="Northern Virginia Swim League" itemprop="name") NVSL
            dl.o-ListAchv(hidden="")
              dt.o-ListAchv__Award Team record breaker in 200 Free Relay
              dd.o-ListAchv__Date: time 2005
              dt.o-ListAchv__Award All-Star competitor in 50 Free
              dd.o-ListAchv__Date #[time 2000], #[time 2002]
          dd.o-ListAchv__Date #[time 1994]&ndash;#[time 2006]
      footer.o-FooterRes(class="!d:n@p"): p.
        This r&eacute;sum&eacute; is 100% hand-written, by me! Check out the
        #[a(rel="external" href="https://github.com/dev-chharvey/dev-chharvey.github.io/blob/master/home/resume.html") source code]
        at GitHub.
    nav.Bc(class="!d:n")
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li: a.Crumb(rel="this"       href="#") Resume
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
    script.
      $('#obj1').click(function () {
        $(this).hide();
        $('#obj2').show();
      });
      $('#obj2').click(function () {
        $(this).hide();
        $('#obj3').show();
      });
