/* @group GRID.LESS */
/* @group Golden widths and margins */
/* @end */
/* @group lines and units */
/* @group rational-sized units */
/* @end */
/* @group Golden-sized units */
/* @end */
/* @end */
/* @group on-screen only */
.undoP1-midleft {
  position: relative;
  left: 0;
  width: 161.80339887498945%;
  left: -23.606797749978973%;
}
.undoP1-midright {
  position: relative;
  left: 0;
  width: 161.80339887498945%;
  left: -38.196601125010524%;
}
.undoP1-left {
  position: relative;
  left: 0;
  width: 161.80339887498945%;
}
.undoP1-right {
  position: relative;
  left: 0;
  width: 161.80339887498945%;
  left: -61.80339887498949%;
}
.undoP2-left {
  position: relative;
  left: 0;
  width: 261.80339887498945%;
}
.undoP2-right {
  position: relative;
  left: 0;
  width: 261.80339887498945%;
  left: -100%;
}
.undoP3-left {
  position: relative;
  left: 0;
  width: 423.6067977499789%;
}
.undoP3-right {
  position: relative;
  left: 0;
  width: 423.6067977499789%;
  left: -323.60679774997897%;
}
.undoP4-left {
  position: relative;
  left: 0;
  width: 685.4101966249682%;
}
.undoP4-right {
  position: relative;
  left: 0;
  width: 685.4101966249682%;
  left: -585.4101966249684%;
}
.undoU-P3-left {
  position: relative;
  left: 0;
  width: 130.90169943749476%;
}
.undoU-P3-right {
  position: relative;
  left: 0;
  width: 130.90169943749476%;
  left: -30.90169943749474%;
}
.undoU-P3-right {
  position: relative;
  left: 0;
  width: 117.0820393249937%;
}
.undoU-P4-right {
  position: relative;
  left: 0;
  width: 117.0820393249937%;
  left: -17.08203932499369%;
}
@media screen {
  
}
/* @end */
/* @end GRID */
/* @group TYPO.LESS */
/* @group headings */
.heading,
h1,
.h-alpha,
h2,
.h-beta,
h3,
.h-gamma,
h4,
.h-delta,
h5,
.h-epsilon,
h6,
.h-zeta {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  text-align: left;
  letter-spacing: 1px;
  color: #000000;
}
.heading .latex,
h1 .latex,
.h-alpha .latex,
h2 .latex,
.h-beta .latex,
h3 .latex,
.h-gamma .latex,
h4 .latex,
.h-delta .latex,
h5 .latex,
.h-epsilon .latex,
h6 .latex,
.h-zeta .latex {
  color: inherit;
}
h1,
.h-alpha {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #000000;
}
h2,
.h-beta {
  font-weight: bold;
  font-size: 1.500em;
  color: #000000;
}
h3,
.h-gamma {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
}
h4,
.h-delta {
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
}
h5,
.h-epsilon {
  font-style: italic;
  font-size: 0.833em;
  text-indent: 0.5in;
  color: #000000;
}
h6,
.h-zeta {
  font-style: italic;
  font-variant: small-caps;
  font-size: 0.833em;
  text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
.title,
.title p {
  text-align: center;
}
/* @end */
/* @group paragraphs */
.p,
p {
  margin: 0 0 0.5em;
  text-align: left;
}
/* typography for prose elements */
.prose {
  font-family: 'Baskerville', 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
}
p.prose {
  margin-bottom: 0.75em;
}
ol.prose {
  list-style-type: decimal;
}
/* typography for lede elements */
.lede {
  font-weight: bold;
  font-family: 'Optima', 'Candara', 'Lucida Sans', sans-serif;
  text-align: justify;
  color: #000000;
}
p.lede {
  margin-bottom: 1em;
  line-height: 1.5em;
}
span.lede {
  padding-right: 1em;
}
/* captions of figures, tables, or anything */
/* a container containing paragraphs, etc. that are not officially part of an official document, but are still a major part of the normal flow of the document. The 'aside' and 'figure' elements are not suitable for this object. */
.informal {
  margin: 0 0 0.5em;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #ff0000;
  margin-left: 13px;
  background-color: #f4f4f4;
}
/* example figures (text, images, etc.) */
figure {
  margin: 0 0 0.5em;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #ff0000;
  margin-left: 21px;
}
figure > figcaption {
  margin: 0 0 0.5em;
  margin-top: 0.5em;
  font-style: normal;
  font-size: 10pt;
  text-align: right;
  border-top: 1px dashed;
  border-bottom: 0;
}
/* blocks of short or long quoted material */
blockquote {
  margin: 0 0 0.5em;
  padding-left: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left-width: 8px;
  border-left-style: double;
  border-left-color: #ff0000;
  margin-left: 34px;
  font-size: 14pt;
  font-family: 'Gill Sans', 'Century Gothic', sans-serif;
}
blockquote.prose {
  font-size: 13pt;
}
blockquote.prose .source {
  padding-left: 0;
}
blockquote.prose .source:before {
  content: '(';
}
blockquote.prose .source:after {
  content: ')';
}
blockquote .source {
  padding-left: 1em;
  font-family: 'Optima', 'Candara', 'Lucida Sans', sans-serif;
}
blockquote .source:before {
  content: '~';
}
/* a paragraph element that indicates the most recent edit of a webpage or document. includes a <time datetime=""> element. */
p.timestamp {
  font-size: smaller;
  text-align: left;
}
/* @end */
/* @group lists */
ul,
ol,
dl {
  margin: 0 0 0.5em;
  padding-left: 0.5in;
  line-height: 1.3em;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-bottom: auto;
}
dd {
  margin: 0;
  padding-left: 0.5in;
}
dd + dt {
  margin-top: 0.5em;
}
.list-basic {
  padding: 0;
  list-style-type: none;
}
.list-inline {
  padding: 0;
  list-style-type: none;
  display: block;
}
.list-inline li,
.list-inline dd {
  display: inline;
}
dl.list-inline {
  padding-left: 0.5in;
}
dl.list-inline dt {
  text-indent: -0.5in;
}
dl.list-inline dd {
  padding-left: 0;
}
.list-line {
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}
.list-line li {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
}
.list-action {
  padding: 0;
  list-style-type: none;
  color: #0000ff;
}
.list-action ul,
.list-action ol,
.list-action dl {
  list-style-type: none;
}
.list-action li:before {
  content: '\2713\0020';
}
.list-action a {
  border-bottom: 0;
}
.list-action a[href] {
  text-decoration: underline;
}
.list-omega {
  list-style-type: decimal-leading-zero;
}
.list-alpha {
  list-style-type: upper-roman;
}
.list-beta {
  list-style-type: upper-alpha;
}
.list-gamma {
  list-style-type: decimal;
}
.list-delta {
  list-style-type: lower-alpha;
}
.list-epsilon {
  list-style-type: lower-roman;
}
.list-zeta {
  list-style-type: lower-greek;
}
/* @end */
/* @group tables */
table {
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
table > caption {
  margin: 0 0 0.5em;
  margin-top: 0.5em;
  font-style: normal;
  font-size: 10pt;
  text-align: right;
}
table thead,
table tfoot {
  font-weight: bold;
}
table tbody .code,
table tbody code {
  background-color: transparent;
}
table th,
table td {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
}
table th {
  font-weight: bold;
}
table.table-list thead tr,
table.table-list tfoot tr {
  border: 1px solid #ff0000;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-left: 0;
  border-right: 0;
}
table.table-list tbody th {
  background-color: #eeeeee;
}
table.table-list tbody .row-odd {
  background-color: #dddddd;
}
table.table-list tbody .row-even {
  background-color: #cccccc;
}
table.table-list th,
table.table-list td {
  border-width: 0;
}
table.table-bars thead tr,
table.table-bars tfoot tr {
  border: 1px solid #ff0000;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-top: 0;
  border-bottom: 0;
}
table.table-bars tbody th {
  background-color: #eeeeee;
}
table.table-bars tbody .column-odd {
  background-color: #cccccc;
}
table.table-bars tbody .column-even {
  background-color: #dddddd;
}
table.table-bars th,
table.table-bars td {
  border-width: 0;
}
/* @end */
/* @group inline text */
/* @group highlighted text */
em {
  font-style: italic;
}
em > em {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
mark {
  background-color: transparent;
}
/* non-semantic elements reset */
i,
b {
  font-style: inherit;
  font-weight: inherit;
}
/* scare quotes contain abuse of vocabulary or language */
i.scare:before {
  content: open-quote;
}
i.scare:after {
  content: close-quote;
}
/* mentions refer to phrases without referring to their meaning */
i.mention:before {
  content: open-quote;
}
i.mention:after {
  content: close-quote;
}
/* phrases in foreign languages */
i:lang(la),
i:lang(it),
i:lang(fr) {
  font-style: italic;
  font-family: 'Times', 'Times New Roman', serif;
}
.solfege {
  font-style: italic;
  font-family: 'Times', 'Times New Roman', serif;
}
/* phrases representing silent thoughts */
i.thought:before {
  content: '\00ab';
}
i.thought:after {
  content: '\00bb';
}
/* reference to a section heading, figure, or table */
b.ref {
  font-weight: bold;
}
/* keywords or technical terms */
b.keyword {
  font-weight: bold;
}
/* @end */
.new,
ins {
  text-decoration: underline;
  color: #008000;
}
.old,
del {
  text-decoration: line-through;
  color: #800080;
}
cite {
  font-style: normal;
}
.superscript {
  font-size: smaller;
  vertical-align: super;
}
.subscript {
  font-size: smaller;
  vertical-align: sub;
}
var {
  font-style: italic;
}
abbr[title],
ins[datetime],
del[datetime],
time[datetime] {
  border-bottom: 2px solid #ffeeff;
  cursor: help;
}
[datetime]:hover:after {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  background-color: #ffeeff;
  cursor: help;
  position: relative;
  left: 5px;
  top: 5px;
  content: attr(datetime);
}
[datetime]:hover:after:before {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 1em;
  border: 0;
  content: '\2665';
  font-size: 10pt;
  color: #550055;
  background-color: #ffbbff;
}
.phone,
.email {
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
/* @end */
/* @end TYPO */
/* @group MODS.LESS */
/* @group main stuff */
.body,
body {
  font-size: 12pt;
  font-family: 'Optima', 'Candara', 'Lucida Sans', sans-serif;
  text-align: left;
  line-height: 1.4em;
  color: #000000;
  background-color: #ffffff;
}
.hub-body {
  font-size: 12pt;
  font-family: 'Optima', 'Candara', 'Lucida Sans', sans-serif;
  text-align: left;
  line-height: 1.4em;
  color: #000000;
  background-color: #ffffff;
  background-image: url('/home/images/phi-stripes-trans.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.main,
main {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
  margin-bottom: 162px;
}
.masthead {
  width: 14.58980337503155%;
  margin-left: 85.41019662496845%;
  margin-right: 0;
  position: fixed;
  top: 36pt;
}
.masthead nav {
  width: 61.80339887498949%;
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
.masthead nav .mylogo {
  display: block;
  border-bottom: 0;
  font-weight: bold;
  font-size: 72pt;
  font-family: 'Times', 'Times New Roman', serif;
}
nav.breadcrumbs {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
}
nav.breadcrumbs ol {
  color: #0000ff;
  padding: 0;
  list-style-type: none;
  display: block;
}
nav.breadcrumbs ol ul,
nav.breadcrumbs ol ol,
nav.breadcrumbs ol dl {
  list-style-type: none;
}
nav.breadcrumbs ol li:before {
  content: '\2713\0020';
}
nav.breadcrumbs ol a {
  border-bottom: 0;
}
nav.breadcrumbs ol a[href] {
  text-decoration: underline;
}
nav.breadcrumbs ol li,
nav.breadcrumbs ol dd {
  display: inline;
}
/* @group hacks */
/* Selects elements not yet ready for publishing. Elements with the 'hidden' boolean attribute are not to be processed by browsers and are to be ignored by SEO patterns. Sometimes, the browser-default css-style is overridden, hence this selector exists. */
[hidden] {
  display: none !important;
}
/* Selects elements still in testing mode but still not yet ready for implementation. */
.draft,
.draft * {
  color: #999;
}
/* Selects elements to hide ONLY in browsers with JS ENabled (i.e. it represents a fall-back feature for non-JS users). In '/core/scripts/all.js', see method for adding style 'visibility: hidden;' to this class. */
/* Selects elements to hide ONLY in browsers with JS DISabled (i.e. it represents a special feature for JS users). In '/core/scripts/all.js', see method for adding style 'display: inline-block;' to this class. */
/* Selects elements needed for SEO *only* (e.g. extraneous titles, etc). Try to only use this selector as a last resort. */
.seo-only {
  display: none !important;
}
/* @end */
@media print {
  body {
    color: #000000;
  }
  body {
    background-image: none;
  }
  body,
  a,
  .code,
  code {
    background-color: #ffffff;
  }
  .hub-nav,
  .courseinfo,
  .masthead {
    display: none;
  }
  .main,
  main {
    width: auto;
    margin: auto;
  }
  .noprint {
    display: none !important;
  }
  /* add this class to elements to start on a new page */
  .pagebreak {
    page-break-before: always;
    padding-top: 0.5in;
  }
}
/* @end */
/* @group special boxes */
.box {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.box-inline-block {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
}
.box-block {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  display: block;
  padding: 2px 4px;
  border-radius: 10px;
  margin: 4px;
}
/* @end */
/* @group hyperlinks */
/* @group inline links */
a {
  text-decoration: none;
  color: inherit;
  border-width: 0 0 1px;
  border-style: dotted;
}
a .latex {
  color: inherit;
}
a[href] {
  color: #0000ff;
}
a[href]:hover {
  color: #ff9900;
}
a[href].sp {
  color: #008000;
}
a[href].sp:hover {
  color: #800080;
}
a[href]:active {
  color: #ff0000;
}
/* @end */
/* @group block links */
a.a-block {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  display: block;
  padding: 2px 4px;
  border-radius: 10px;
  margin: 4px;
  border-color: inherit;
  border-radius: 6px;
  text-align: center;
  background-color: inherit;
}
a.a-block[href],
#index a.a-block {
  border-color: #000066;
  background-color: #eeeeff;
}
a.a-block[href]:hover,
#index a.a-block:hover {
  border-color: #663300;
  background-color: #ffffee;
}
a.a-block[href]:active,
#index a.a-block:active {
  border-color: #ffff00;
  background-color: #000000;
}
/* @end */
/* @end */
/* @group modules containing sample things */
/* @end */
/* @group coding */
/* CODE represents EXAMPLE code, typically something a user would input. do NOT use the 'example' class, though it would be semantically correct, because this 'code' class this is more specific. */
code {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #000000;
  font-size: 10pt;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  color: #000000;
  background-color: #ffffff;
}
code.lang-html .tag {
  color: #800000;
}
code.lang-html .attribute {
  color: #000080;
}
code.lang-html .value {
  color: #008000;
}
code.lang-css .selector,
code.lang-less .selector {
  color: #800000;
}
code.lang-css .property,
code.lang-less .property {
  color: #000080;
}
code.lang-css .value,
code.lang-less .value {
  color: #008000;
}
code.lang-latex .cmd {
  color: #800000;
}
code.lang-latex .arg {
  color: #000080;
}
code .comment {
  color: #999999;
}
/* user input, in the form of a string, menu item, etc. */
.userinput,
kbd {
  white-space: nowrap;
}
.userinput.write,
kbd.write {
  font-family: inherit;
}
.userinput.write:before,
kbd.write:before {
  content: open-quote;
}
.userinput.write:after,
kbd.write:after {
  content: close-quote;
}
/* an individual key on a keyboard, calculator, or other device */
.key,
kbd kbd {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #000000;
  font-size: 10pt;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  color: #000000;
  background-color: #ffffff;
  padding: 2px;
  font-family: 'Optima', 'Candara', 'Lucida Sans', sans-serif;
}
pre {
  margin: 0;
  white-space: pre-wrap;
}
pre > code {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  display: block;
  padding: 2px 4px;
  border-radius: 10px;
  margin: 4px;
  line-height: 1.4em;
}
figure pre > code {
  border: 0;
}
samp {
  font-family: inherit;
}
/* demos are blocks or figures that demonstrate output of an example code block */
/* @end */
/* @group math */
.latex {
  font-size: 10pt;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: pre-line;
  color: #000000;
}
div.latex,
p.latex {
  overflow: auto;
}
.tex {
  color: #f00;
}
.tex * {
  color: #f00;
}
/* @end */
/* @group messages */
/* Messages are little warnings/tips/etc. for the user. More elegant than tooltips. */
.warning {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  background-color: #ffeeee;
}
.warning:before {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 1em;
  border: 0;
  content: '!';
  font-size: 10pt;
  color: #550000;
  background-color: #ffbbbb;
}
.caution {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  background-color: #ffffee;
}
.caution:before {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 1em;
  border: 0;
  content: '\2026';
  font-size: 10pt;
  color: #555500;
  background-color: #ffffbb;
}
.success {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  background-color: #eeffee;
}
.success:before {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 1em;
  border: 0;
  content: '=)';
  font-size: 10pt;
  color: #005500;
  background-color: #bbffbb;
}
.info {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  background-color: #eeeeff;
}
.info:before {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 1em;
  border: 0;
  content: '?';
  font-size: 10pt;
  color: #000055;
  background-color: #bbbbff;
}
.help {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  background-color: #ffeeff;
  cursor: help;
}
.help:before {
  display: inline;
  padding: 0 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 1em;
  border: 0;
  content: '\2665';
  font-size: 10pt;
  color: #550055;
  background-color: #ffbbff;
}
/* @end */
/* @group forms */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
/* @end */
/* @end MODS */
.main,
main {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
ul {
  padding: 0;
  margin: 0;
}
abbr,
time {
  border: 0 !important;
}
/* @group block elements */
header {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
  padding-bottom: .5em;
  border-bottom: 2px solid #ff0000;
  margin-bottom: 1em;
}
header .res-name {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  text-align: left;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #000000;
}
header .res-name .latex {
  color: inherit;
}
header address {
  font-style: inherit;
  text-align: right;
}
header address .phone,
header address .email {
  font-family: inherit;
  font-size: inherit;
}
.res-skillgroup {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
.res-skilltitle {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 23.606797749978973%;
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.500em;
  color: #000000;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
  padding-left: 5.572809000084123%;
  padding-right: 3.4441853748633044%;
  text-align: right;
  position: relative;
  right: 10px;
}
.res-skilltitle .latex {
  color: inherit;
}
.res-skilldetail {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 76.39320225002102%;
  padding-left: 0;
  padding-right: 14.58980337503155%;
}
.res-job {
  margin-bottom: 1em;
}
.res-jobtitle {
  display: table;
  width: 100%;
}
.res-org,
.res-occup {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 76.39320225002102%;
}
.res-org {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  color: #000000;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
}
.res-org .latex {
  color: inherit;
}
.res-occup {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  color: #000000;
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
}
.res-occup .latex {
  color: inherit;
}
.res-jobdetail {
  list-style: square inside none;
}
.res-spacetime {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 23.606797749978973%;
  text-align: right;
}
.res-tech-apps {
  padding: 0;
  list-style-type: none;
}
.res-tech-apps li {
  width: 50%;
  float: left;
}
.res-tech-langs {
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}
.res-tech-langs li {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
}
.res-tech-langs li {
  width: 15%;
  padding-right: 50px;
}
/* @end */
@media screen {
  footer {
    display: none;
  }
  .res-skillgroup.res-edu .res-org {
    margin: 1em 0 0.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 0.833em;
    text-indent: 0.5in;
    color: #000000;
    text-indent: 0;
  }
  .res-skillgroup.res-edu .res-org .latex {
    color: inherit;
  }
  .res-skillgroup.res-edu .res-occup {
    margin: 1em 0 0.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    color: #000000;
    font-style: italic;
    font-variant: small-caps;
    font-size: 0.833em;
    text-indent: 0.5in;
    text-indent: 0;
  }
  .res-skillgroup.res-edu .res-occup .latex {
    color: inherit;
  }
}
@media print {
  body {
    width: 8.5in;
    margin: auto;
    font-size: 10pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #000000;
    background-color: #ffffff;
    background-image: none !important;
  }
  .main,
  main {
    width: 8.0in;
    margin: auto;
    margin-bottom: 10px;
  }
  header {
    border-bottom-color: #808080;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  header .res-name {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
    font-size: 14pt;
    font-family: 'Times', 'Times New Roman', serif;
    letter-spacing: 1px;
  }
  header address {
    padding: 0 1em;
  }
  footer {
    display: table;
    width: 100%;
    margin: 0.5in 0 1em;
  }
  footer > .res-footer-name {
    display: table-cell;
    vertical-align: top;
    overflow: visible;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
    padding-left: 1em;
    padding-right: 0.5em;
    text-align: left;
  }
  footer > .res-footer-pagecount {
    display: table-cell;
    vertical-align: top;
    overflow: visible;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 1em;
    text-align: right;
  }
  .res-skillgroup {
    margin-bottom: 2em;
  }
  .res-skillgroup.res-edu .res-occup {
    font-style: italic !important;
  }
  .res-skilltitle {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
    padding-left: 1em;
    padding-right: 0.5em;
    width: 1in;
    position: static;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .res-skilldetail {
    padding-left: 0.5em;
    padding-right: 1em;
    width: auto;
  }
  .res-job {
    margin-bottom: 2em;
  }
  .res-org,
  .res-occup {
    width: auto;
  }
  .res-org {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
  }
  .res-occup {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
  }
  .res-spacetime {
    width: 2in;
  }
  a {
    border: 0 !important;
    text-decoration: none !important;
    color: inherit !important;
  }
  i:lang(la) {
    font-family: inherit;
  }
}
