/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url('../core/stylesheets/all.css');
.main,
main {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
ul {
  padding: 0;
  margin: 0;
}
abbr,
time {
  border: 0 !important;
}
/* @group block elements */
header {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
  padding-bottom: .5em;
  border-bottom: 2px solid #ff0000;
  margin-bottom: 1em;
}
header .res-name {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  text-align: left;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #000000;
}
header .res-name .latex {
  color: inherit;
}
header .res-name small.h-sub {
  padding-left: 1em;
  font-size: 70%;
  color: #808080;
}
header address {
  font-style: inherit;
  text-align: right;
}
header address .phone,
header address .email {
  font-family: inherit;
  font-size: inherit;
}
.res-skillgroup {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
.res-skilltitle {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 23.606797749978973%;
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.500em;
  color: #000000;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
  padding-left: 5.572809000084123%;
  padding-right: 3.4441853748633044%;
  text-align: right;
  position: relative;
  right: 10px;
}
.res-skilltitle .latex {
  color: inherit;
}
.res-skilltitle small.h-sub {
  padding-left: 1em;
  font-size: 70%;
  color: #808080;
}
.res-skilldetail {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 76.39320225002102%;
  padding-left: 0;
  padding-right: 14.58980337503155%;
}
.res-job {
  margin-bottom: 1em;
}
.res-jobtitle {
  display: table;
  width: 100%;
}
.res-org,
.res-occup {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 76.39320225002102%;
}
.res-org {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  color: #000000;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
}
.res-org .latex {
  color: inherit;
}
.res-org small.h-sub {
  padding-left: 1em;
  font-size: 70%;
  color: #808080;
}
.res-occup {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  color: #000000;
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
}
.res-occup .latex {
  color: inherit;
}
.res-occup small.h-sub {
  padding-left: 1em;
  font-size: 70%;
  color: #808080;
}
.res-jobdetail {
  list-style: square inside none;
}
.res-spacetime {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 23.606797749978973%;
  text-align: right;
}
.res-tech-apps {
  padding: 0;
  list-style-type: none;
}
.res-tech-apps li,
.res-tech-apps dt,
.res-tech-apps dd {
  margin: 0;
  padding: 0;
}
.res-tech-apps li {
  width: 50%;
  float: left;
}
.res-tech-langs {
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}
.res-tech-langs li,
.res-tech-langs dt,
.res-tech-langs dd {
  margin: 0;
  padding: 0;
}
.res-tech-langs li {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
}
.res-tech-langs li {
  width: 15%;
  padding-right: 50px;
}
/* @end */
@media screen {
  footer {
    display: none;
  }
  .res-skillgroup.res-edu .res-org {
    margin: 1em 0 0.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 0.833em;
    text-indent: 0.5in;
    color: #000000;
    text-indent: 0;
  }
  .res-skillgroup.res-edu .res-org .latex {
    color: inherit;
  }
  .res-skillgroup.res-edu .res-org small.h-sub {
    padding-left: 1em;
    font-size: 70%;
    color: #808080;
  }
  .res-skillgroup.res-edu .res-occup {
    margin: 1em 0 0.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    color: #000000;
    font-style: italic;
    font-variant: small-caps;
    font-size: 0.833em;
    text-indent: 0.5in;
    text-indent: 0;
  }
  .res-skillgroup.res-edu .res-occup .latex {
    color: inherit;
  }
  .res-skillgroup.res-edu .res-occup small.h-sub {
    padding-left: 1em;
    font-size: 70%;
    color: #808080;
  }
}
@media print {
  body {
    width: 8.5in;
    margin: auto;
    font-size: 10pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #000000;
    background-color: #ffffff;
    background-image: none !important;
  }
  .main,
  main {
    width: 8.0in;
    margin: auto;
    margin-bottom: 10px;
  }
  header {
    border-bottom-color: #808080;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  header .res-name {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
    font-size: 14pt;
    font-family: 'Times', 'Times New Roman', serif;
    letter-spacing: 1px;
  }
  header address {
    padding: 0 1em;
  }
  footer {
    display: table;
    width: 100%;
    margin: 0.5in 0 1em;
  }
  footer > .res-footer-name {
    display: table-cell;
    vertical-align: top;
    overflow: visible;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
    padding-left: 1em;
    padding-right: 0.5em;
    text-align: left;
  }
  footer > .res-footer-pagecount {
    display: table-cell;
    vertical-align: top;
    overflow: visible;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 1em;
    text-align: right;
  }
  .res-skillgroup {
    margin-bottom: 2em;
  }
  .res-skillgroup.res-edu .res-occup {
    font-style: italic !important;
  }
  .res-skilltitle {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
    padding-left: 1em;
    padding-right: 0.5em;
    width: 1in;
    position: static;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .res-skilldetail {
    padding-left: 0.5em;
    padding-right: 1em;
    width: auto;
  }
  .res-job {
    margin-bottom: 2em;
  }
  .res-org,
  .res-occup {
    width: auto;
  }
  .res-org {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
  }
  .res-occup {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: 10pt;
    font-family: inherit;
    letter-spacing: normal;
    color: #000000;
    background-color: #ffffff;
  }
  .res-spacetime {
    width: 2in;
  }
  a {
    border: 0 !important;
    text-decoration: none !important;
    color: inherit !important;
  }
  i:lang(la) {
    font-family: inherit;
  }
}
