doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title resume
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Resume of Christopher H. Harvey of Fairfax, VA.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="../core/images/favicon.ico")
    link(rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css")
    //- link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v5.3.0/xmeter.min.css") TODO: uncomment once Xmeter is out of still-alive.less
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.0.0/still-alive.css")
    link(rel="stylesheet" href="css/resume.css")
    style.
      @media print {
        #obj2 {
          margin-top: -3rem;
        }
      }
      #obj2,
      #obj3 {display: none;}
      #obj3 {
        width: 100%;
        border: 0; /* reset */
        font-size: inherit; /* reset */
        background: transparent; /* reset */
      }
  body.o-GoldenContainer
    main.o-GoldenContainer__Content(itemscope="" itemtype="http://schema.org/Person")
      header.o-HeaderRes
        h1.o-HeaderRes__Name.c-H1(itemprop="name")
          span(itemprop="givenName") Christopher
          = ' '
          abbr(title="Hewitt" itemprop="additionalName") H.
          = ' '
          span(itemprop="familyName") Harvey
        section
          h2.-d-n Contact
          address.a-ff-base-s(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"): ol.o-List.o-ListContact
            li.o-List__Item.o-ListContact__Item.-d-n(itemprop="streetAddress") 11156 Byrd Drive
            li.o-List__Item.o-ListContact__Item.-d-n
              span(itemprop="addressLocality") Fairfax
              = ', '
              abbr(title="Virginia" itemprop="addressRegion") VA
              = ' '
              span(itemprop="postalCode") 22030
              span(itemscope="" itemtype="http://schema.org/GeoCoordinates")
                meta(itemprop="latitude"  content="38.864158")
                meta(itemprop="longitude" content="-77.2888239")
            li.o-List__Item.o-ListContact__Item.o-ListContact__Item--phone.h-AfterSquare-p.-mr-1-s
              a(href="tel:+17035072467" itemprop="telephone")
                span.o-ListContact__Item__Icon.octicon.octicon-device-mobile
                | (703) 507-2467
            li.o-List__Item.o-ListContact__Item.o-ListContact__Item--email.h-AfterSquare-p.-mr-1-s
              a(rel="author" href="mailto:chrisharvey2pi@gmail.com" itemprop="email")
                span.o-ListContact__Item__Icon.octicon.octicon-mail
                | chrisharvey2pi@gmail.com
            li.o-List__Item.o-ListContact__Item.o-ListContact__Item--folio
              a(rel="author" href="https://chharvey.github.io/" itemprop="url")
                span.o-ListContact__Item__Icon.octicon.octicon-home
                | chharvey.github.io
      section.o-GoldenContainer__Content__LeftBar.o-Skill#objective
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Objective
        p.o-Objective#obj1(itemprop="seeks") To obtain an entry-level position as a front-end web developer.
        //- p.o-Objective#obj2 To obtain an entry-level position in the Intelligence Community that would utilize my mathematical and technological skills.
        //- input.o-Objective#obj3(type="text" value="Type a custom objective here. Reload to reset.")
      section.o-GoldenContainer__Content__LeftBar.o-Skill#tech-exp
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Technical Experience
        section.o-Grid-s.o-Org.-mb-1vru#lang-sys
          h3.o-Grid__Item-s.c-H3 Languages &amp; Systems
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs!=      Resume.SKILLS.lang_sys1.map((el) => el.render('c-LangViz__Marker--pos')).join('')
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs!=      Resume.SKILLS.lang_sys2.map((el) => el.render('c-LangViz__Marker--pos')).join('')
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs.-d-n!= Resume.SKILLS.lang_sys3.map((el) => el.render('c-LangViz__Marker--pos')).join('')
        section.o-Grid-s.o-Org.-mb-1vru#skills
          h3.o-Grid__Item-s.c-H3 Technical Skills
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs.-x-1o1!= Resume.SKILLS.technical.map((el) => el.render('c-LangViz__Marker--pos2', {dt: '-x-1o2', dd: '-x-1o2'})).join('')
        section.o-Org.-d-n#apps
          h3.c-H3 Software Applications
          ul.o-Org__Detail
            each item in Resume.APPS
              li!= item
        != Resume.POSITIONS.technical.map((el) => el.html()).join('')
      section.o-GoldenContainer__Content__LeftBar.o-Skill#teach-exp
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Teaching Experience
        != Resume.POSITIONS.teaching.map((el) => el.html()).join('')
      section.o-GoldenContainer__Content__LeftBar.o-Skill#work-exp
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Other Work Experience
        != Resume.POSITIONS.other.map((el) => el.html()).join('')
      section.o-GoldenContainer__Content__LeftBar.o-Skill#edu
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Education
        section.o-Org.o-Org--inst#VT
          h3.o-Org--inst__Name.c-H4(itemprop="alumniOf" itemscope="" itemtype="http://schema.org/CollegeOrUniversity")
            a.c-Camo(rel="external" href="https://www.vt.edu/" itemprop="url")
              span(itemprop="name") Virginia Polytechnic Institute and State University
          dl.o-ListAchv
            != Resume.DEGREES.map((el) => el.html()).join('')
      section.o-GoldenContainer__Content__LeftBar.o-Skill#prof-dev
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Profes&shy;sional Dev&shy;elopment
        dl.o-ListAchv
          != Resume.PRODEVS.map((el) => el.html()).join('')
      section.o-GoldenContainer__Content__LeftBar.o-Skill#awards
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Awards &amp; Member&shy;ships
        dl.o-ListAchv
          != Resume.AWARDS.map((el) => el.html()).join('')
      section.o-GoldenContainer__Content__LeftBar.o-Skill.-d-n-p#athletic
        h2.o-GoldenContainer__Content__SideMajor.o-Skill__Title.c-H2 Team Athletic Experience
        dl.o-ListAchv
          != Resume.TEAMS.map((el) => el.html()).join('')
      footer.o-FooterRes.-d-n-p: p.
        This r&eacute;sum&eacute; is 100% hand-written, by me! Check out the
        #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/blob/master/resume/resume.jade") source code]
        at GitHub.
    nav.Bc.-d-n
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li: a.Crumb(rel="this"       href="#") Resume
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    //- script.
      $('#obj1').click(function () {
        $(this).hide();
        $('#obj2').show();
      });
      $('#obj2').click(function () {
        $(this).hide();
        $('#obj3').show();
      });
