@import (reference) url('../../../node_modules/xmeter/src/__tool.module.sprite.less');
@import (reference) url('../../../styles/src/__settings.less');

/*################################*\
    _comp.typo.ListContact.less
\*################################*/


#CHH .VARS();
@contacticonsize: @chh_vru;

// The contact list in the resume header.
// Each item represents a piece of information (address, email, etc.)
//
// Subcomponents:
// `__Item` - Each contact info piece
//
// [1] include ListBare
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-12-11
.o-ListContact {
  padding-left: 0;  // [1]
  margin-bottom: 0;
  list-style: none; // [1]
}

.o-ListContact__Item {
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: @contacticonsize;
    height: @contacticonsize;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border: 1px solid;
    border-radius: 1rem;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    @media print {
      display: none;
    }
  }
  @media screen and (min-width: 588px) and (max-width: 44.999em), screen and (min-width: 1008px), print {
    // these numbers are subject to change, depending on `@contacticonsize`
    display: inline;
    line-height: 0;
  }
}

.o-ListContact__Item--phone::before { background-image: url('../../../node_modules/octicons/svg/device-mobile.svg'); }
.o-ListContact__Item--email::before { background-image: url('../../../node_modules/octicons/svg/mail.svg'); }
.o-ListContact__Item--folio::before { background-image: url('../../../node_modules/octicons/svg/home.svg'); }
