@import (reference) url('../../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('../../../node_modules/octicons/octicons/octicons.less');
@import (reference) url('../../../styles/src/__settings.less');

/*################################*\
    resume  |  _comp.typo.ListContact.less
\*################################*/


// The contact list in the resume header.
// Each item represents a piece of information (address, email, etc.)
//
// Subcomponents:
// `__Item` - Each contact info piece
//
// [1] include ListBare
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-12-11
.o-ListContact {
  padding-left: 0;  // [1]
  margin-bottom: 0;
  list-style: none; // [1]
}

.o-ListContact__Item {
  @media screen and (min-width: 632px) and (max-width: 44.999em), screen and (min-width: 1079px), print {
    display: inline;
    line-height: 0;
  }
}

// This is a glyph icon inside `.o-ListContact__Item`
// It builds off the GitHub `.octicon` class, so include it in markup.
// NOTE: we are going to sacrifice vertical rhythm here, due to the
// inline-block nature of octicons.
//
// ```html
// ul.o-ListContact
//   li.o-ListContact__Item
//     span.o-ListContact__Item__Icon.octicon
// ```
//
// Extends:
// `.octicon` (see node_modules/octicons)
//
// ^author
// : Chris Harvey
// ^updated
// : 2016-01-23
.o-ListContact__Item__Icon {
  #CHH .VARS();
  @fontsizeratio: @chh_font_size_sesqui;
  vertical-align: middle;
  width:  @fontsizeratio*@chh_vru;
  height: @fontsizeratio*@chh_vru;
  padding-top: 0.25rem;
  margin-right: 0.5rem;
  #XMETER .font-size-block(@fontsizeratio; @chh_line_height);
  border: 1px solid; // otherwise use `#XMETER .border-vert(all; 1px); border-style: solid;`
  border-radius: 1.5rem;
  text-align: center;
  opacity: 0.8;
  // color: fadeout(@chh_color_link_up, 20%);
  @media print {
    display: none;
  }
}
