@import (reference) url('../../../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('../../../core/styles/src/__settings.less');

/*################################*\
    _comp.typo.H.less
\*################################*/


.c-H1,
.c-H2,
.c-H3,
.c-H4,
.c-H5,
.c-H6 {
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  font-family: inherit;
  @media print {
    color: inherit;
  }
}

.c-H1,
.c-H2 {
  font-weight: bold;
  @media print {
    #CHH .VARS();
    #XMETER .font-size-block(@chh_font_size_lrg; @chh_line_height);
  }
}

.c-H3,
.c-H4 {
  font-size: inherit;
  line-height: inherit;
}


.c-H1 {
  text-align: inherit;
  @media screen {
    font-variant: small-caps;
  }
  @media print {
    text-transform: uppercase;
  }
}

.c-H2 {
  @media screen {
    #CHH .VARS();
    #XMETER .font-size-block(1.5; @chh_line_height);
    &::after { content: none; } // alternative to `.hr-bottom();` // undo h2 default
  }
  @media print {
    font-variant: small-caps;
  }
}

.c-H3 {
  font-weight: bold;
  @media screen {
    font-variant: small-caps;
  }
}

.c-H4 {
  font-style: italic;
}
