
/*################################*\
    resume  |  _obj.ListAchv.less
\*################################*/
@import (reference) url('../../../node_modules/xmeter/src/__tool.delims.less');
@import (reference) url('../../../node_modules/still-alive/styles/__settings.less');
@import (reference) url('__settings.less');


// A list of achievements such as awards or memberships.
.o-ListAchv {
  & & {
    display: inline;
  }
  @media print {
    margin-top: -@g-vru;
  }
}

// An award in a list of achievements.
.o-ListAchv__Award {
  @media screen {
    display: inline;
    &::before { // create line breaks (doesn’t work with Flexbox)
      content: '';
      display: block;
    }
  }
  @media print {
    margin-left: @l-datewidth;
  }
}

// A date for an award/achievement.
.o-ListAchv__Date {
  @media screen {
    display: inline;
    margin-left: 0.5rem;
    .parens();
  }
  @media print {
    width: @l-datewidth;
    margin-top: -@g-vru;
  }
}
