@import (reference) url('../../../node_modules/xmeter/src/__tool.module.spacing.less');
@import (reference) url('../../../core/styles/src/__settings.less');
@import (reference) url('__settings.less');

/*################################*\
    _trumps.less
\*################################*/


#tech-misc {
  #CHH .VARS();
  #XMETER .spacing-bottom(@chh_vru);
}

#tech-misc,
#tech-apps {
  @media print {
    #RES .VARS();
    margin-left: @res_datewidth;
  }
}



// these styles exists to fix the modified GoldenBody object on 2015-11-03

main.o-GoldenBody__Content {
  margin-left: @golden2 !important;
  margin-right: 0 !important;
}

.o-SkillTitle {
  #CHH .CONSTS();
  width: @golden3 !important;
  margin-left: @golden4 !important;
  margin-right: @golden1 !important;
  left: 0 !important;
}
