---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Cadenza</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A short report on the uses and the history of the cadenza in classical music."/>
<link rel="stylesheet" href="../higher-ed.css"/>
<style type="text/css">
.bullets {
  list-style-image: url('images/Scrapbook_bullet_black_SMALL.png');
  line-height: 1.3em;
}
.bullets li {padding-bottom: 5px;}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 4524</div>
  <div class="courseinfo-name">Advanced Individual Applied Keyboard</div>
  <div class="courseinfo-term">Fall, 2008 &ndash; Spring, 2010</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.music.vt.edu/faculty/cowden/">Tracy Cowden, D.M.A.</a></div>
</header>
<main>
<header>
  <h1>The <i lang="it">Cadenza</i></h1>
  <p class="timestamp">Presented on <time datetime="2010-04-13">April 13, 2010</time>.</p>
</header>
<ol class="bullets">
  <li>Italian for <i>cadence</i>.</li>
  <li>An ornamental passage for solo instrument usually placed right before the coda in the first movement of a concerto, although it can be placed anywhere in the piece. Cadenzas are also popular in arias. The cadenza gives the featured performer an opportunity to show off the instrument.</li>
  <li>Cadenzas are a flourish of music, extravagant and elaborate. There is not necessarily a tempo or meter marked, but if there is, the use of <i lang="it">rubato</i> creates a sense of timelessness. This is the case of Classical cadenzas, but Romantic cadenzas start to take on more form and structure.</li>
  <li>In the Classical period, cadenzas were usually improvised by the performer. The composer left the music blank, or included a sustained note marked <q><i lang="it">cadenza</i></q>, and the performer would demonstrate his virtuosity on the instrument. The improvised cadenza allowed for the performer to include his own styles and techniques and add a sense of individualism to the piece.</li>
  <li>Since then, cadenzas were written out, note-for-note. The Romanticists believed that nothing should be open to interpretation, including dynamics, tempo, articulation, ornamentation, and of course, the cadenza. Either the cadenza was written as part of the music itself, or the pitches were written in small notation without value. Modern performers will commonly write and perform their own cadenzas in the case that the composer did not.</li>
  <li>In major keys, the preceding chord is usually a sustained <i class="harmony">I<sup>6<sub>4</sub></sup></i>, with <i class="solfege">sol</i> in the bass. However, in Schumann's <cite>Piano Concerto in A Minor</cite>, the preceding chord is <i class="harmony">VI</i> in root position.</li>
  <li>Traditionally, cadenzas will end with a suspended trill on <i class="solfege">re</i>, leading to the major tonic. This was a clear sign that the performer was ready to resume the piece. The orchestra will generally return in full tutti, with or without the soloist. In the case of Schumann's concerto, the trill is on <i class="solfege">sol</i>, leading to the tonic in A Minor.</li>
  <li>The cadenza was an opportunity to push the limits of the instrument and the performer, but was also used as a chance to feature a solo instrument in the orchestra. Ergo, it is likely that cadenzas were not commonly used in chamber music (<i lang="la"><abbr title="exampli gratia">e.g.</abbr></i> sonatas) and solo works because the soloist is already featured. If the composer wanted to show off the instrument's virtuosity, he would have written it directly into the piece.</li>
</ol>
</main>
</body>
</html>
