---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Advanced Individual Applied Keyboard Reports</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A compilation of reactions to digital recordings and live performances of piano music."/>
    meta(name="viewport" content="width=device-width, initial-scale=1")
<link rel="stylesheet" href="../higher-ed.css"/>
<style>
.concert {font-style: normal;}
.concert:before {content: '\2018';}
.concert:after {content: '\2019';}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MUS 4524</div>
  <div class="courseinfo-name">Advanced Individual Applied Keyboard</div>
  <div class="courseinfo-term">Fall, 2008 &ndash; Spring, 2010</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.music.vt.edu/faculty/cowden/">Tracy Cowden, D.M.A.</a></div>
</header>
<main>
<header>
  <h1>Listening and Concert Reports</h1>
  <p>This page features all of my written work required for the piano lessons I have taken at Virginia Tech. The Recording Reports section contains analysis and reactions of recorded pieces on audio CD, and the Concert Reports section contains notes taken during live performances, hosted by the <a href="http://www.music.vt.edu/">Music Department at Virginia Tech</a>.</p>
</header>
<section>
  <header>
    <h2>Listening Reports</h2>
    <p>These reports are my reactions to digital recordings of classical music. They are listed by composers' time period.</p>
  </header>
  <section id="Bach">
    <h3>Bach, Johann Sebastian (<time>1685</time>&ndash;<time>1750</time>)</h3>
    <section id="BWV779">
      <header>
        <h4><cite>Invention No. 8 in F Major</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>BWV 779</dd>
          <dt>recorded</dt>
          <dd>Christopher Taylor, <time>2006</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2008-12-17">December 17, 2008</time></dd>
        </dl>
      </header>
      <p>Bach Inventions are short counterpoint pieces with two voices, and <cite>No. 8</cite> is an excellent example. The subject, answer, and counter-subject interact in such a way that they fit together to sound like melody and harmony. Taylor makes the entrances of each subject plainly obvious to the listener so he/she can identify it at once. He swiftly moves through this upbeat invention, only pausing slightly at cadence points.</p>
    </section>
    <section id="BWV866">
      <header>
        <h4><cite>Prelude &amp; Fugue No. 21 in B-Flat Major (from <cite>WTC Book I</cite>)</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>BWV 866</dd>
          <dt>recorded</dt>
          <dd>Angela Hewitt, <time>2007</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2008-12-17">December 17, 2008</time></dd>
        </dl>
      </header>
      <p>Hewitt does a great job emphasizing the outer voices in the homophonic sixteenth-note passages in the <cite>Prelude</cite>. Her dynamic contrast adds excitement to the piece, even when marked <i lang="it">piano</i>. She also has excellent contrast in articulation in the <cite>Fugue</cite>. Like Taylor, she makes the entrances of subject and answer obvious. Her performance is always moving in some direction, never stationary, even during <i lang="it">strettos</i> and episodes.</p>
    </section>
    <section id="BWV876">
      <header>
        <h4><cite>Prelude &amp; Fugue No. 7 in E-Flat Major (from <cite>WTC Book II</cite>)</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>BWV 876</dd>
          <dt>recorded</dt>
          <dd>Angela Hewitt, <time>2007</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2008-12-17">December 17, 2008</time></dd>
        </dl>
      </header>
      <p>Although the <cite>Prelude</cite> is a quick-moving piece, Hewitt remains calm and composed, and keeps a consistent tempo. She adds variety to articulation patterns throughout the <cite>Prelude</cite>. She announces the return of the piece's theme in a blissful manner and with a change in articulation. Again, Hewitt makes this difficult four-voice <cite>Fugue</cite> seem easy to play. The <b>Subject</b> appears in all four voices multiple times, and can be easily identified. Her tempo is slightly faster than marked, but she pulls it off very well.</p>
    </section>
  </section>
  <section id="Haydn">
    <h3>Haydn, Joseph (<time>1732</time>&ndash;<time>1809</time>)</h3>
    <section id="XVI23">
      <header>
        <h4><cite>Sonata No. 38 in F Major</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>H. XVI/23</dd>
          <dt>composed</dt>
          <dd><time>1773</time></dd>
          <dt>recorded</dt>
          <dd>Marc-Andr&eacute; Hamelin, <time>2007</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2008-12-17">December 17, 2008</time></dd>
        </dl>
      </header>
      <p>Haydn wrote his music in a way that is open to interpretation. In this sonata, he leaves out almost all dynamics and articulation. Haydn has a talent for surprising the listener with <i lang="it">subito</i> dynamics and other musical formatting. Hamelin plays with a great contrast in articulation, ranging from spiky <i lang="it">staccati</i> to fluid <i  lang="it">legati</i>. At times, he may hold some notes longer than expected. He seldom uses the pedal, which is accurate for the Classical time period. While there is no correct answer, Hamelin's dynamic markings differ from mine. He plays the third movement impressively fast.</p>
    </section>
    <section id="XVI28">
      <header>
        <h4><cite>Sonata No. 43 in E-flat Major</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>H. XVI/28</dd>
          <dt>composed</dt>
          <dd><time>1776</time></dd>
          <dt>recorded</dt>
          <dd>Lola Odiaga, <time>1995</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2010-03-12">March 12, 2010</time></dd>
        </dl>

      </header>
      <p>Odiaga performs this sonata on the fortepiano, an instrument suitable for the context in which the piece was written. For some reason, the fortepiano is tuned one semitone flat, so the piece sounds as if in D Major.</p>
      <p>Her choice of articulation contradicts my own, but is acceptable for a Haydn sonata. Ornaments, trills, and turns are taken faster than normal, and in addition, placed before the beat rather than on the beat. Her choice of dynamics is conventional and expected by the listener.</p>
      <p>The second movement is played in a hasty manner. Odiaga sees not to pay much attention to phrasing or articulation, and every turn is played too fast and before the beat, as grace notes. The melody in the Trio section is <i lang="it">legato</i> and slurred throughout. She ends every movement with a <i lang="it">molto ritardando</i>, which would be appropriate for maybe a Baroque-era piece, but I personally choose not to alter the tempo when closing the movements.</p>
      <p>The third movement, marked <i lang="it">Finale: Presto</i>, is played carefully and almost tentatively. The performer did an excellent job with articulation and liveliness in this movement, although lacking in dynamic variation. The entire third movement builds speed progressively throughout the movement, which may or may not be intentional.</p>
    </section>
  </section>
  <section id="Beethoven">
    <h3>Beethoven, Ludwig van (<time>1770</time>&ndash;<time>1827</time>)</h3>
    <section id="Op31No2">
      <header>
        <h4><cite>Sonata in d minor, &ldquo;<i class="it">Tempest</i>&rdquo;</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>Op. 31 No. 2</dd>
          <dt>recorded</dt>
          <dd>Vladimir Ashkenazy, <time>2006</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2008-12-17">December 17, 2008</time></dd>
        </dl>
      </header>
      <p>Written near the end of Beethoven's first of three periods, this sonata leans more toward the Classical era. The forms of each movement in this sonata follow those of traditional classical sonata structure. Ashkenazy shows excellent dynamic contrast and does a good job bringing out the melody where needed. However, he uses much more pedal than necessary.</p>
    </section>
  </section>
  <section id="Chopin">
    <h3>Chopin, Fr&eacute;d&eacute;ric Fran&ccedil;ois (<time>1810</time>&ndash;<time>1849</time>)</h3>
    <section id="Op20">
      <header>
        <h4><cite>Scherzo No. 1 in B minor</cite></h4>
        <dl>
          <dt>index</dt>
          <dd>Op. 20</dd>
          <dt>composed</dt>
          <dd><time>1832</time></dd>
          <dt>recorded</dt>
          <dd>Emanuel Ax, <time>1988</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2010-03-12">March 12, 2010</time></dd>
        </dl>
      </header>
      <p>The <cite>Scherzo in B minor</cite> is divided into three main sections set in <b>ABA</b> form, with the <b>A</b> sections as scherzos and the middle section as a Trio. The Scherzo sections are furious ad rapid, and the performer brings out the violence in Chopin's music. His emotion is apparent through his playing. He demonstrates great contrast in dynamics and articulation, making the music dance as lively as possible. However, due to the extreme number of repetitions written in the piece, the performer does not provide noticeable variation across repeated sections.</p>
      <p>Ax brings out the emotional changes via dynamics and tempo changes. He prolongs the Trio for as long as possible, creating a sense of anxiety in the listener, who longs for the expressive and delicate tonic chord that releases the built-up tension.</p>
      <p>The Trio section is the polar opposite of the scherzo sections. Ax brings out as much, if not more, emotion to this section, but an emotion of tenderness and love rather than ferocity and angst. The sections also differ via thematic material: while the Scherzo is more motivic, the Trio contains a sweet lyrical melody in the middle voice that depicts mother and child.</p>
      <p>The performer builds tension towards the end of the Trio, bringing out dissonances and non-chord tones. He prepares us for the return of the Scherzo with a <i lang="it">molto ritardando</i> and the reappearance of the introduction.</p>
      <p>The return of the scherzo section is no different than the exposition, except that it is shorthand and with a Coda added. Ax again anticipates the Coda, building up speed. The Coda is like a warped waltz with dissonant tones and a humorous feel. The performer executes the trills, arpeggios, and scales with extreme precision.</p>
      <footer>
        <p>This short report discusses the aspects of Emmanuel Ax's performance. For a detailed analysis of this very composition by Chopin, read my <a href="../MUS-3154/Chopin.pdf">in-depth paper</a> written on <time datetime="2009-11-09">November 9, 2009</time>.</p>
      </footer>
    </section>
  </section>
  <section id="Debussy">
    <h3>Debussy, Claude (<time>1862</time>&ndash;<time>1918</time>)</h3>
    <section id="L100">
      <header>
        <h4><cite><i lang="fr">Estampes, 3. Jardins Sous La Pluie</i></cite></h4>
        <dl>
          <dt>index</dt>
          <dd>L 100</dd>
          <dt>composed</dt>
          <dd><time>1903</time></dd>
          <dt>recorded</dt>
          <dd>Alexis Weissenberg, <time>1985</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2010-03-12">March 12, 2010</time></dd>
        </dl>
      </header>
      <p>This movement is an overflow of notes and chords. Rather than focusing on individual aspects of the music, the performer aims for the overall atmosphere. Polyrhythms and other fast runs don't have to be played exactly correctly, and the bigger picture is what's important. The piece has many different sections that seem to be put together in an arbitrary manner, much like an unpredictable rainstorm. The transitions between the segments do flow smoothly, however. There is no defined form, but the melodic theme recurs throughout the movement. Most of the texture of the piece consists of simple homophonic melody and accompaniment, although the melody often switches between hands. The movement moves in and out of different modes, usually among major, minor, and augmented. There doesn't seem to be a predictable change in tonal center, but the harmonic structure is always present, even with a lot of chromaticism in a few places.</p>
      <p>The performer exhibits great control and clarity, even at a fast pace. His choice of dynamics contradicts the text at some points, but otherwise he does a good job showing contrast between loud and soft. Weissenberg ends the piece in a huge wash of sound, making it almost impossible to interpret the small details of the music.</p>
    </section>
  </section>
  <section id="Gershwin">
    <h3>Gershwin, George (<time>1898</time>&ndash;<time>1937</time>)</h3>
    <section id="3Preludes">
      <header>
        <h4><cite>Three Preludes for Piano</cite></h4>
        <dl>
          <dt>recorded</dt>
          <dd>Doug Montgomery, <time>2008</time></dd>
          <dt>report submitted</dt>
          <dd>Chris Harvey, <time datetime="2008-12-17">December 17, 2008</time></dd>
        </dl>
      </header>
      <p>Gershwin's music was more similar to jazz than it was to impressionist music written in the early 20<span class="superscript">th</span> Century. Both technically and musically challenging, <cite>Three Preludes for Piano</cite> demonstrates various styles and capabilities of the instrument and musician. Montgomery seems to hold back emotion when performing, although correctly expresses rhythm and note patterns. He hardly uses any pedal, which could be useful in some sections.</p>
    </section>
  </section>
</section>
<section>
  <header>
    <h2>Concert Reports</h2>
    <p>These reports are my reactions to live performances of classical music. They are listed chronologically.</p>
  </header>
  <ul class="c-ListAction">
    <li class="c-ListAction__Item"><a href="romanticism-revisited.html"><cite class="concert">Romanticism Revisited</cite></a> (<time datetime="2010-04-11">April 11, 2010</time>)</li>
    <li class="c-ListAction__Item"><a class="sp" href="../MUS-3154/VMTA-reaction.html"><cite><abbr title="Virginia Music Teachers Association">VMTA</abbr> Conference 2009</cite></a> (<time datetime="2009-11-06">November 6, 2009</time>)</li>
    <li class="c-ListAction__Item"><a href="kandinsky-trio.html"><cite class="concert">Kandinsky Trio</cite></a> (<time datetime="2009-01-31">January 31, 2009</time>)</li>
    <li class="c-ListAction__Item"><a href="musical-odyssey.html"><cite class="concert">A Musical Odyssey</cite></a> (<time datetime="2008-12-06">December 6, 2008</time>)</li>
  </ul>
</section>
<section>
  <h2>Other Reports</h2>
  <ul class="c-ListAction">
    <li class="c-ListAction__Item">A short report on <a href="cadenza.html">the <i lang="it">Cadenza</i></a>. (Written <time datetime="2010-04-13">April 13, 2010</time>)</li>
  </ul>
</section>
</main>
</body>
</html>
