// main: ../all.less

/*---------------------*\
	_breadcrumbs.less
\*---------------------*/


@bc_brdr_radius: 15px;
/**
  * A Breadcrumb module.
@tags
: #breadcrumbs
: #golden
@author
: Chris Harvey
@updated
: 2014-06-18
  */
.Bc {
	width: @golden4;
	margin-left: @golden7;
	margin-right: @golden6;
	position: fixed;
	left: 0;
	top: 2 * @vru_px; // fallback
	top: 2 * @vru_rem;
	z-index: 1;
}
/**
  * A list of breadcrumbs inside the module.
  * The list either contains ancestor pages (including parent),
  * sibling pages (including the same page), or children pages.
@implements
: .vru-bottom-1;
@tags
: #breadcrumbs
@author
: Chris Harvey
@updated
: 2014-06-18
  */
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
	&:extend(.vru-bottom-1);
}
.Bc > .Anc {
//	a::before {content: '\22a5';} // `\bot` or 'up tack'
//	a::before {content: '\22b7';} // 'image of'
//	a::before {content: '<';}
}
.Bc > .Sib {
//	a::before {content: '\22a2';} // `\vdash` or 'turnstile'
//	a::before {content: '\29df';} // 'double-ended multimap'
//	a::before {content: '+';}
}
.Bc > .Child {
//	a::before {content: '\22a4';} // `\top` or 'down tack'
//	a::before {content: '\22b6';} // 'original of'
//	a::before {content: '>';}
}
/**
  * An actual breadcrumb link.
@implements
: .fontsize-med;
@mixesin
: .vru-top()
@tags
: #breadcrumbs
@author
: Chris Harvey
@updated
: 2014-06-18
  */
.Button.Crumb {
	@topspace: 0.75;
	&:extend(.fontsize-block-med);
	.vru-top(@topspace);
	display: block;
	padding: ((1 - @topspace) / 2 * @vru_px)  @bc_brdr_radius; // fallback
	padding: ((1 - @topspace) / 2 * @vru_rem) @bc_brdr_radius;
	border-radius: @bc_brdr_radius;
	white-space: normal;
}
.Bc a[rel~="this"] {font-weight: bold;}

@media print {
	.Bc {display: none;}
}
