// main: ../all.less

/*#####################*\
	_breadcrumbs.less
\*#####################*/


/**
  * A Breadcrumb module.
@tags
: #breadcrumbs
: #golden
@author
: Chris Harvey
@updated
: 2014-06-18
  */
.Bc {
	.gutter--major;
	top: @vru_px; // fallback
	top: @vru_rem;
	z-index: 1;
}
/**
  * A list of breadcrumbs inside the module.
  * The list either contains ancestor pages (including parent),
  * sibling pages (including the same page), or children pages.
@implements
: .vru-bottom-1;
@tags
: #breadcrumbs
@author
: Chris Harvey
@updated
: 2014-08-17
  */
.Anc,
.Sib,
.Child {
	.vru-top-1;
}
// .Anc {
// 	a::before {content: '\22a5';} // `\bot` or 'up tack'
// 	a::before {content: '\22b7';} // 'image of'
// 	a::before {content: '<';}
// }
// .Sib {
// 	a::before {content: '\22a2';} // `\vdash` or 'turnstile'
// 	a::before {content: '\29df';} // 'double-ended multimap'
// 	a::before {content: '+';}
// }
// .Child {
// 	a::before {content: '\22a4';} // `\top` or 'down tack'
// 	a::before {content: '\22b6';} // 'original of'
// 	a::before {content: '>';}
// }
/**
  * An actual breadcrumb link.
@implements
@mixesin
@tags
: #breadcrumbs
@author
: Chris Harvey
@updated
: 2014-09-11
  */
.Crumb {
	@bc_brdrr: 15px;
	display: block;
	padding-left: @bc_brdrr;
	border-radius: @bc_brdrr;
	color: @color_link_up;
	.transition(background-color; @t_ani * 0.5);
	@bgcolor:       lighten(@color_link_up, 40%);
	@bgcolor_this:  lighten(@color_link_up, 35%);
	@bgcolor_hover: lighten(@color_link_up, 30%);
	background-color: @bgcolor;
	&:hover {background-color: @bgcolor_hover !important;}
	&[rel~="this"] {
		position: relative;
		left: @bc_brdrr;
		font-weight: bold;
		background-color: @bgcolor_this;
	}
}

@media print {
	.Bc {display: none;}
}
