// main: ../all.less

/*###################*\
	_footnotes.less
\*###################*/


/**
  * This Object represents a list whose items each contain a footnote. Typically, the order of
  * footnotes is irrelevant, so this Object should be instantiated by a `ul` Element.
@extends
: .List
@implements
: .hr-brdr
@tags
: #footnotes
: #lists
@author
: Chris Harvey
@updated
: 2014-07-22
  */
.List.Footnotes {
	&:extend(.fontsize-block-sml);
	&:extend(.hr-brdr);
	> .Item {
		padding-left: @spacer;
		text-indent: -@spacer;
	}
}
/**
  * The `.Rf` Object represents a reference to a footnote. The reference exists in the document prose,
  * and it links to a footnote, which is contained in the `.List.U.Footnotes`.
  * The `.Fn` Object represents the footnote that is referenced.
  * Each Object contains an `a` Element.
@implements
: .brackets
@tags
: #footnotes
: #lists
@author
: Chris Harvey
@updated
: 2014-07-22
  */
.Rf,
.Fn {
	width: @spacer;
	> .Link {
		&:extend(.brackets all);
	}
}
