doctype html
html(lang="en")
  include ../core/include/_snippets.jade
  block vars
  head
    title!= page.title() || (page.name() + ' &in; ' + Home.BLOG.name())
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content=page.description())
    meta(name="keywords" content=page.keywords().join())
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v6.1.1/css/xmeter.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.15.0/bangs.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.4.0/css/still-alive.css")
  body.o-GoldenContainer
    a.h-Hidden(href="#main") skip to main content
    main.o-GoldenContainer__Content.c-Document(itemscope="" itemtype="http://schema.org/Article")
      block main
        header
          include /node_modules/still-alive/_views/_BlogPost.view.pug
          h1(itemprop="name headline")= page.name()
          block subhead
          +statusAlert(page)
          +docmeta(page)
            block docmeta
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
      //- script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
