---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Classical Music Catalog</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A proposed cataloging system for classical music in iTunes."/>
<link rel="stylesheet" href=""/>
<style>
.field {}
.format {
	font-style: italic;
	font-family: 'Courier New','Courier','Lucida Sans Typewriter','Monaco',monospace; /* serif monospaced */
	font-size: 1em;
	text-align: center;
}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<main>
<header>
	<div class="title">
		<h1 class="h-alpha">Classical Music Cataloging System</h1>
		<p class="h-beta">A Proposed Cataloging System for Historical Art Music (&ldquo;Classical Music&rdquo;)</p>
	</div>
	<p class="timestamp">Updated <time datetime="2012-02-03T19:09">February 3, 2012</time>.</p>
	<p class="prose">The application <a class="sp" href="http://www.apple.com/iTunes/"><b>iTunes</b>&trade; by Apple</a> is a great system for storing your music. For classical music aficionados, however, there is little to no support for &ldquo;classical music&rdquo;, more accurately known as historical art music. <small>The term <i>Classical Music</i> technically applies to historical art music composed in the Classical period: 1750&ndash;1825.</small></p>
    <p class="prose">This proposed system works cleanly with iTunes&trade; and requires no updates or third-party support. With this system, you will be able to store, browse, and find your music efficiently and quickly. Even on your iPod&trade; you'll be able to know what piece is playing at a glance.</p>
</header>
<section>
	<h1 class="h-beta">Fields</h1>
	<p class="prose">The following fields of the track will be necessarily used:</p>
	<ol class="list-action">
		<li><a href="#title">Title</a></li>
		<li><a href="#artist">Artist</a></li>
		<li><a href="#album-artist">Album Artist</a></li>
		<li><a href="#composer">Composer</a></li>
		<li><a href="#genre">Genre</a></li>
		<li><a href="#grouping">Grouping</a></li>
	</ol>
	<p class="prose">If the contents of a field are unavailable, leave the field blank.</p>
	<p class="prose">I will discuss each field in the preceding order, except Title will be lastly outlined as it is the most complex.</p>
	<section id="artist">
		<h1 class="h-gamma">Artist</h1>
		<p class="prose">The <b class="field">Artist</b> field shall contain the solo performer of the work, or the concertmaster, or the conductor of the orchestra. The format of the <b class="field">Artist</b> field shall take the following form.</p>
		<figure class="format">First Middle Last</figure>
	</section>
	<section id="album-artist">
		<h1 class="h-gamma">Album Artist</h1>
		<p class="prose">The <b class="field">Album Artist</b> field shall contain the proper name of the performing orchestra or ensemble. If the <b>Album Artist</b> is an individual, it shall be equal to the <b class="field">Artist</b>.</p>
	</section>
	<section id="composer">
		<h1 class="h-gamma">Composer</h1>
		<p class="prose">The <b class="field">Composer</b> field shall contain the first and last names (and optionally, the middle name) and life dates of the writer of the work.</p>
		<figure class="format">Last, First Middle (YOB-YOD)</figure>
		<p class="prose">YOB = Year Of Birth; YOD = Year Of Death</p>
	</section>
	<section id="genre">
		<h1 class="h-gamma">Genre</h1>
		<p class="prose">The <b class="field">Genre</b> field shall contain the instrumentation for which the piece was composed. Some examples include symphony, concerto, and sonata. The feature instrument shall not be included. The format of the <b class="field">Genre</b> shall be the genre as a proper noun.</p>
		<p class="format">Genre</p>
	</section>
	<section id="grouping">
		<h1 class="h-gamma">Grouping</h1>
		<p class="prose">The <b class="field">Grouping</b> field shall contain the era to which the composer belonged, or during which the piece was written. It shall be one of the following:</p>
		<ul>
			<li>Ancient</li>
			<li>Early</li>
			<li>Renaissance</li>
			<li>Classical</li>
			<li>Romantic</li>
			<li>Modern</li>
		</ul>
	</section>
	<section id="title">
		<h1 class="h-gamma">Title</h1>
		<p class="prose">The form of the <b class="field">Title</b> field is described in this section. The labels shall be recorded in the order in which they are listed below, without any characters between them. If information is unavailable, the label shall be left blank.</p>
		<ol class="list-action">
			<li><a href="#title-composer">Composer</a></li>
			<li><a href="#title-supergenre">Supergenre</a></li>
			<li><a href="#title-genre">Genre</a></li>
			<li><a href="#title-subgenre">Subgenre</a></li>
			<li><a href="#title-instrument">Instrument</a></li>
			<li><a href="#title-worknumber">Work Number</a></li>
			<li><a href="#title-movementnumber">Movement Number</a></li>
			<li><a href="#title-key">Key</a></li>
			<li><a href="#title-mode">Mode</a></li>
			<li><a href="#title-index">Index</a></li>
			<li><a href="#title-year">Year of Composition</a></li>
			<li><a href="#title-worktitle">Title of Work</a></li>
			<li><a href="#title-movementtitle">Title of Movement</a></li>
			<li><a href="#title-tempo">Tempo Marking(s)</a></li>
		</ol>
		<p class="prose">When put together, a track title with all of the above components might look like the following.</p>
		<figure>
			<dl>
				<dt>Original name:</dt>
				<dd><cite>Variations on Piano Concerto No. 2 in C-Sharp Minor, Op. 17a No. 1 &ldquo;Apollo&rdquo; III. Scherzo: Largo; Presto</cite><br/>by Harvey, Christopher Hewitt (1987&ndash;) in 2009</dd>
				<dt>New name:</dt>
				<dd><cite><abbr title="Variations on Piano Concerto No. 2 in C-Sharp Minor, Op. 17a No. 1 “Apollo” III. Scherzo: Largo; Presto; by Harvey, Christopher Hewitt (1987–) in 2009">Har.CH&amp;CTO$VAR.PO.2.III@C#-m,Op17aNo1_2009 &ldquo;Apollo&rdquo; Scherzo: Largo; Presto</abbr></cite></dd>
				<dt>A working example:</dt>
				<dd><cite><abbr title="Symphony No. 5 in C Minor, Op. 67 I. Allegro con brio; by Beethoven, Ludwig van in 1808">Bee.LV&amp;SFY.5.I@C-m, Op67_1808 Allegro con brio</abbr></cite></dd>
			</dl>
		</figure>
		<section id="title-composer">
			<h1 class="h-delta">Composer</h1>
			<p class="prose">The first three letters of the composer’s last name, with the first letter majuscule and the last two miniscule, shall be recorded, followed by a period mark, and then the majuscule initial letter of the composer’s first name (and that of the middle name if this is by which the composer is known better).</p>
			<pre class="format">
Bac.JS
Moz.WA
Bee.LV
Cho.F
Deb.C
Sho.D</pre>
		</section>
		<section id="title-supergenre">
			<h1 class="h-delta">Supergenre</h1>
			<p class="prose">If a supergenre exists, the label shall be recorded exactly like the <a href="#title-genre">genre label</a> except followed by a percent sign (<kbd class="box code">%</kbd>) rather than an ampersand mark (<kbd class="box code">&amp;</kbd>).</p>
		</section>
		<section id="title-genre">
			<h1 class="h-delta">Genre</h1>
			<p class="prose">The genre label shall succeed an ampersand mark and shall be equivalent to the <b class="field">Genre</b> field in the song info, represented with three majuscule characters. If the code is not listed, the genre shall be written out with the first letter majuscule and the others miniscule.</p>
			<dl class="format">
				<dt>symphony</dt>                      <dd>&amp;SFY</dd>
				<dt>concerto</dt>                      <dd>&amp;CTO</dd>
				<dt>sonata</dt>                        <dd>&amp;STA</dd>
				<dt>duet, trio, quartet, quintet</dt>  <dd>&amp;D2T, &amp;T3O, &amp;Q4T, &amp; Q5T</dd>
				<dt>character piece</dt>               <dd>&amp;CPC</dd>
				<dt>suite</dt>                         <dd>&amp;SWT</dd>
				<dt>prelude and fugue</dt>             <dd>&amp;PNF</dd>
				<dt>invention, sinfonia</dt>           <dd>&amp;IVN, &amp;SFA</dd>
				<dt>opera or oratorio</dt>             <dd>&amp;ORA</dd>
				<dt>fantasy, fantasia, or caprice</dt> <dd>&amp;FSE</dd>
			</dl>
		</section>
		<section id="title-subgenre">
			<h1 class="h-delta">Subgenre</h1>
			<p class="prose">The subgenre label shall be recorded exactly like the genre label except followed by a dollar sign (<kbd class="box code">$</kbd>) rather than an ampersand mark (<kbd class="box code">&amp;</kbd>). If the code is not listed, the subgenre shall be written out with the first letter majuscule and the others miniscule.</p>
			<dl class="format">
				<dt>prelude, intermezzo, postlude</dt> <dd>$PRE, $INT, $PST</dd>
				<dt>nocturne, scherzo</dt>             <dd>$NCT, $SZO</dd>
				<dt>etude, impromptu</dt>              <dd>$ETD, $IPT</dd>
				<dt>ballad, waltz</dt>                 <dd>$BLD, $WLZ</dd>
				<dt>polonaise, mazurka</dt>            <dd>$POL, $MZA</dd>
				<dt>song without words</dt>            <dd>$SWW</dd>
				<dt>variations</dt>                    <dd>$VAR</dd>
			</dl>
		</section>
		<section id="title-instrument">
			<h1 class="h-delta">Instrument</h1>
			<p class="prose">The instrument label shall represent the solo for which the work was originally written by two majuscule characters, and shall succeed a period mark. If no instrument is featured, leave blank.</p>
			<dl class="format">
				<dt>flute, oboe, clarinet, bassoon, saxophone</dt> <dd>.FL .OB .CL .BN .SX</dd>
				<dt>horn, trumpet, trombone, tuba</dt>             <dd>.HN .TP .TB .TA</dd>
				<dt>violin, viola, cello, bass</dt>                <dd>.VN .VA .CO .CB</dd>
				<dt>woodwinds, brass, strings, choir/chorus</dt>   <dd>.WW .BR .ST .CH</dd>
				<dt>piano, voice</dt>                              <dd>.PO .VO</dd>
			</dl>
		</section>
		<section id="title-worknumber">
			<h1 class="h-delta">Work number</h1>
			<p class="prose">The work number label shall represent the original &ldquo;No.&rdquo; dubbed to the work. It shall be recorded as an Arabic numeral succeeding a period mark.</p>
			<pre class="format">
.2
.9
			</pre>
		</section>
		<section id="title-movementnumber">
			<h1 class="h-delta">Movement number</h1>
			<p class="prose">The movement number shall be recorded as either an Arabic or Roman numeral; whichever is traditionally indexed. The numeral shall succeed a period mark.</p>
			<pre class="format">
.3
.II
			</pre>
		</section>
		<section id="title-key">
			<h1 class="h-delta">Key</h1>
			<p class="prose">The key of the track shall be recorded as the <i>at</i> symbol (<kbd class="box code">@</kbd>) preceding a single majuscule letter, succeeded by a pound symbol (<kbd class="box code">#</kbd>) (for <b>sharp</b>) or miniscule letter <kbd class="box code">b</kbd> (for <b>flat</b>) if necessary.</p>
			<pre class="format">
@C
@F#
@Eb
			</pre>
		</section>
		<section id="title-mode">
			<h1 class="h-delta">Mode</h1>
			<p class="prose">The mode of the track (major or minor) shall be recorded as a hyphen succeeded by a majuscule or miniscule letter m; whichever is necessary.</p>
			<pre class="format">
-M
-m
			</pre>
		</section>
		<section id="title-index">
			<h1 class="h-delta">Index</h1>
			<p class="prose">The index number of the piece shall be recorded as traditionally, except without punctuation. The number is preceded with a comma mark.</p>
			<pre class="format">
,BWV850
,HobXVI23
,K332
,Op101
,Op28No9
			</pre>
		</section>
		<section id="title-year">
			<h1 class="h-delta">Year of composition</h1>
			<p class="prose">The year of completion of composition shall be recorded succeeding an underscore. If composition year is unknown, use publication year or any other approximation. Otherwise leave blank.</p>
			<pre class="format">
_1776
_1802
			</pre>
		</section>
		<section id="title-worktitle">
			<h1 class="h-delta">Title of work</h1>
			<p class="prose">Some works are dubbed a title. This shall be recorded exactly as traditionally indexed, surrounded with double-quotation marks (not left- or right- quotes). The title in quotes shall be both preceded and succeeded by a non-breaking space.</p>
			<pre class="format">
&quot;Emperor&quot;
&quot;Eroica&quot;
&quot;Nutcracker&quot;
			</pre>
		</section>
		<section id="title-movementtitle">
			<h1 class="h-delta">Title of movement</h1>
			<p class="prose">The title of the movement, if it exists, shall be recorded exactly as traditionally indexed, succeeded by a colon mark and a non-breaking space, only if <a href="#title-tempo">tempo markings</a> are available. Otherwise the colon mark and space shall be omitted.</p>
			<pre class="format">
Intermezzo:
Finale:
Rondo
			</pre>
		</section>
		<section id="title-tempo">
			<h1 class="h-delta">Tempo marking(s)</h1>
			<p class="prose">Tempo markings, if available, shall be recorded exactly as traditionally indexed, with only the first letter of the marking majuscule and separate tempo markings separated with a semicolon and non-breaking space.</p>
			<pre class="format">
Allegro con brio
Allegro moderato; Prestissimo
			</pre>
		</section>
	</section>
</section>
<section>
	<h2 class="h-beta">Conclusions About Functionality</h2>
	<p class="prose">With this new system, the Name field in iTunes (or other music library programs) is shortened greatly, thus making it easier for the listener to see what s/he is listening to when checking the mp3 player. The codes are set logically and systematically, avoiding any ambiguity to the listener, while shortening the length of the track name. Yet the system retains the titles of the work and movements in their original form so the listener can instantly recognize the composer and piece. In addition, the important aspects of the piece such as opus number and movement number are moved toward the front of the text field so that it will show on mp3 players that do not scroll text.</p>
</section>
<header class="Label Msg Skss">&copy; 2009 Chris Harvey</header>
</main>
</body>
</html>
