extends _blog.tpl.jade

block append vars
  - var page = Home.BLOG.find('classical-music.html').status(BlogPost.Status.RELEASED)

block append styles
    style.
      .format {
        font-family: 'Menlo','Lucida Sans Typewriter','Monaco',monospace;
        text-align: center;
      }

block subhead
        p.c-Subhead A Proposed Cataloging System for Historical Art Music

block docmeta
          dd.update
            time(itemprop="dateCreated") 2009
            span.o-Textbox.c-Label.c-Label--cshn.-ml-1 Completed
          dd.update: time(datetime="2012-02-03 19:09") Feb 3, 2012 #[span.tod 7:09 PM]
          dd.update: time(datetime="2014-08-01 21:40") Aug 1, 2014 #[span.tod 9:40 PM]
          dd.update
            time(datetime="2014-09-07 22:45" itemprop="datePublished dateModified") Sep 7, 2014 #[span.tod 10:45 PM]
            span.o-Textbox.c-Label.c-Label--skss.-ml-1 Released
            span.o-Textbox.c-Label.c-Label--dang.-ml-1 Latest

block append main
      p.c-Lede.c-Lede--dropcap.
        The application
        #[a(rel="external" href="http://www.apple.com/iTunes/") #[cite iTunes&trade; by Apple]]
        is a great system for
        storing your music. For classical music aficionados, however, there is little to no support
        for #[i classical music], more accurately known as historical art music.
        (The term #[i classical music] technically applies to historical art music composed in
        the Classical period: #[time 1750]&ndash;#[time 1825].)
      p.c-Lede.
        This proposed system works cleanly with #[cite iTunes&trade;] and requires no
        updates or third-party support. With this system, you will be able to store, browse, and
        find your music efficiently and quickly. Even on your #[cite iPod&trade;] you&rsquo;ll
        be able to know what piece is playing at a glance.
      section
        h2 Fields
        p The following fields of the track will be necessarily used:
        ol.c-ListAction
          li.c-ListAction__Item #[a(href="#title")        Title]
          li.c-ListAction__Item #[a(href="#artist")       Artist]
          li.c-ListAction__Item #[a(href="#album-artist") Album Artist]
          li.c-ListAction__Item #[a(href="#composer")     Composer]
          li.c-ListAction__Item #[a(href="#genre")        Genre]
          li.c-ListAction__Item #[a(href="#grouping")     Grouping]
        p If the contents of a field are unavailable, leave the field blank.
        p.
          Each field will be discussed in the order above, except #[b Title]: it will be lastly
          outlined as it is the most complex.
        section#artist
          h3 Artist
          p.
            The #[b Artist] field shall contain the solo performer of the
            work, or the concertmaster, or the conductor of the orchestra. The format of the
            #[b Artist] field shall take the following form.
          figure.format #[var First] #[var Middle] #[var Last]
        section#album-artist
          h3 Album Artist
          p.
            The #[b Album Artist] field shall contain the proper name of
            the performing orchestra or ensemble. If the #[b Album Artist] is an individual, it
            shall be equal to the #[b Artist].
        section#composer
          h3 Composer
          p.
            The #[b Composer] field shall contain the first and last names
            (and optionally, the middle name) and life dates of the writer of the work.
          figure.format
            | #[var Last], #[var First] #[var Middle] (#[var YOB]-#[var YOD])
            figcaption.c-Caption.c-Caption--after.
              #[var YOB] = Year Of Birth; #[var YOD] = Year Of Death.
              Use a normal hyphen between these, rather than a proper en dash.
        section#genre
          h3 Genre
          p.
            The #[b Genre] field shall contain the instrumentation for
            which the piece was composed. Some examples include symphony, concerto, and sonata. The
            feature instrument shall not be included. The format of the #[b Genre]
            shall be the genre as a proper noun.
          figure.format #[var Genre]
        section#grouping
          h3 Grouping
          p.
            The #[b Grouping] field shall contain the era to which the
            composer belonged, or during which the piece was written. It shall be one of the
            following strings:
          figure.format.
            ul
              li Ancient
              li Early
              li Renaissance
              li Classical
              li Romantic
              li Modern
        section#title
          h3 Title
          p.
            The form of the #[b Title] field is described in this section.
            The labels shall be recorded in the order in which they are listed below, without any
            characters between them. If information is unavailable, the label shall be left blank.
          ol.c-ListAction
            li.c-ListAction__Item #[a(href="#title-composer")       Composer]
            li.c-ListAction__Item #[a(href="#title-supergenre")     Supergenre]
            li.c-ListAction__Item #[a(href="#title-genre")          Genre]
            li.c-ListAction__Item #[a(href="#title-subgenre")       Subgenre]
            li.c-ListAction__Item #[a(href="#title-instrument")     Instrument]
            li.c-ListAction__Item #[a(href="#title-worknumber")     Work Number]
            li.c-ListAction__Item #[a(href="#title-movementnumber") Movement Number]
            li.c-ListAction__Item #[a(href="#title-key")            Key]
            li.c-ListAction__Item #[a(href="#title-mode")           Mode]
            li.c-ListAction__Item #[a(href="#title-index")          Index]
            li.c-ListAction__Item #[a(href="#title-year")           Year of Composition]
            li.c-ListAction__Item #[a(href="#title-worktitle")      Title of Work]
            li.c-ListAction__Item #[a(href="#title-movementtitle")  Title of Movement]
            li.c-ListAction__Item #[a(href="#title-tempo")          Tempo Marking(s)]
          div(data-informative="")
            p When put together, a track title with all of the above components might look like the following.
            figure
              dl
                dt Original name:
                dd.
                  #[cite Variations on Piano Concerto No. 2 in C-Sharp Minor, Op. 17a No. 1 &quot;Apollo&quot; III. Scherzo: Largo; Presto]
                  #[br] by Harvey, Christopher Hewitt (1987&ndash;) in 2009
                dt New name:
                dd: cite: abbr(title="Variations on Piano Concerto No. 2 in C-Sharp Minor, Op. 17a No. 1 “Apollo” III. Scherzo: Largo; Presto; by Harvey, Christopher Hewitt (1987–) in 2009").
                  Har.CH&amp;CTO$VAR.PO.2.III@C#-m,Op17aNo1_2009 &quot;Apollo&quot; Scherzo: Largo; Presto
                dt A working example:
                dd: cite: abbr(title="Symphony No. 5 in C Minor, Op. 67 I. Allegro con brio; by Beethoven, Ludwig van in 1808").
                  Bee.LV&amp;SFY.5.I@C-m, Op67_1808 Allegro con brio
          section#title-composer
            h4 Composer
            p.
              The first three letters of the composer&rsquo;s last name, with the first
              letter majuscule and the last two miniscule, shall be recorded, followed by a period
              mark, and then the majuscule initial letter of the composer&rsquo;s first name
              (and that of the middle name if this is by which the composer is known better).
            figure.format(data-informative="")
              ul
                li Bac.JS
                li Moz.WA
                li Bee.LV
                li Cho.F
                li Deb.C
                li Sho.D
          section#title-supergenre
            h4 Supergenre
            p.
              If a supergenre exists, the label shall be recorded exactly like the
              #[a(href="#title-genre") genre label] except followed by a percent sign
              (#[kbd %]) rather than an ampersand mark (#[kbd &amp;]).
          section#title-genre
            h4 Genre
            p.
              The genre label shall succeed an ampersand mark and shall be equivalent to
              the #[b Genre] field in the song info, represented with three
              majuscule characters. If the code is not listed, the genre shall be written out
              in full with the first letter majuscule and the others miniscule.
            figure
              dl.
                #[dt symphony]                      #[dd.format &amp;SFY]
                #[dt concerto]                      #[dd.format &amp;CTO]
                #[dt sonata]                        #[dd.format &amp;STA]
                #[dt duet, trio, quartet, quintet]  #[dd.format &amp;D2T, &amp;T3O, &amp;Q4T, &amp; Q5T]
                #[dt character piece]               #[dd.format &amp;CPC]
                #[dt suite]                         #[dd.format &amp;SWT]
                #[dt prelude and fugue]             #[dd.format &amp;PNF]
                #[dt invention, sinfonia]           #[dd.format &amp;IVN, &amp;SFA]
                #[dt opera or oratorio]             #[dd.format &amp;ORA]
                #[dt fantasy, fantasia, or caprice] #[dd.format &amp;FSE]
          section#title-subgenre
            h4 Subgenre
            p.
              The subgenre label shall be recorded exactly like the genre label except
              followed by a dollar sign (#[kbd $]) rather than an ampersand
              mark (#[kbd &amp;]). If the code is not listed, the subgenre
              shall be written out in full with the first letter majuscule and the others miniscule.
            figure
              dl.
                #[dt prelude, intermezzo, postlude] #[dd.format $PRE, $INT, $PST]
                #[dt nocturne, scherzo]             #[dd.format $NCT, $SZO]
                #[dt etude, impromptu]              #[dd.format $ETD, $IPT]
                #[dt ballad, waltz]                 #[dd.format $BLD, $WLZ]
                #[dt polonaise, mazurka]            #[dd.format $POL, $MZA]
                #[dt song without words]            #[dd.format $SWW]
                #[dt variations]                    #[dd.format $VAR]
          section#title-instrument
            h4 Instrument
            p.
              The instrument label shall represent the solo for which the work was
              originally written by two majuscule characters, and shall succeed a period mark.
              If no instrument is featured, leave blank.
            figure
              dl.
                #[dt flute, oboe, clarinet, bassoon, saxophone] #[dd.format .FL .OB .CL .BN .SX]
                #[dt horn, trumpet, trombone, tuba]             #[dd.format .HN .TP .TB .TA]
                #[dt violin, viola, cello, bass]                #[dd.format .VN .VA .CO .CB]
                #[dt woodwinds, brass, strings, choir/chorus]   #[dd.format .WW .BR .ST .CH]
                #[dt piano, voice]                              #[dd.format .PO .VO]
          section#title-worknumber
            h4 Work number
            p.
              The work number label shall represent the original #[i No.]
              dubbed to the work. It shall be recorded as an Arabic numeral succeeding a
              period mark.
            figure.format(data-informative="")
              ul
                li .2
                li .9
          section#title-movementnumber
            h4 Movement number
            p.
              The movement number shall be recorded as either an Arabic or Roman
              numeral; whichever is traditionally indexed. The numeral shall succeed a period
              mark.
            figure.format(data-informative="")
              ul
                li .3
                li .II
          section#title-key
            h4 Key
            p.
              The key of the track shall be recorded as the #[i at] symbol
              (#[kbd @]) preceding a single majuscule letter, succeeded by
              a pound symbol (#[kbd #]) (for #[i sharp]) or minuscule
              letter #[kbd b] (for #[i flat]) if necessary.
            figure.format(data-informative="")
              ul
                li @C
                li @F#
                li @Eb
          section#title-mode
            h4 Mode
            p.
              The mode of the track (#[b major] or #[b minor]) shall
              be recorded as a hyphen
              succeeded by a majuscule or minuscule letter #[kbd m]; whichever is necessary.
            figure.format(data-informative="")
              ul
                li -M
                li -m
          section#title-index
            h4 Index
            p.
              The index number of the piece shall be recorded as traditionally, except
              without punctuation. The number is preceded with a comma mark.
            figure.format(data-informative="")
              ul
                li ,BWV850
                li ,HobXVI23
                li ,K332
                li ,Op101
                li ,Op28No9
          section#title-year
            h4 Year of composition
            p.
              The year of completion of composition shall be recorded succeeding an
              underscore. If composition year is unknown, use publication year or any other
              approximation. Otherwise leave blank.
            figure.format(data-informative="")
              ul
                li _1776
                li _1802
          section#title-worktitle
            h4 Title of work
            p.
              Some works are dubbed a title. This shall be recorded exactly as
              traditionally indexed, surrounded with double-quotation marks (not left- or
              right- quotes). The title in quotes shall be both preceded and succeeded by a space.
            figure.format(data-informative="")
              ul
                li &quot;Emperor&quot;
                li &quot;Eroica&quot;
                li &quot;Nutcracker&quot;
          section#title-movementtitle
            h4 Title of movement
            p.
              The title of the movement, if it exists, shall be recorded exactly as
              traditionally indexed, succeeded by a colon mark and a non-breaking space, only
              if #[a(href="#title-tempo") tempo markings] are available. Otherwise
              the colon mark and space shall be omitted.
            figure.format(data-informative="")
              ul
                li Intermezzo:&nbsp;
                li Finale:&nbsp;
                li Rondo
          section#title-tempo
            h4 Tempo marking(s)
            p.
              Tempo markings, if available, shall be recorded exactly as traditionally
              indexed, with only the first letter of the marking majuscule and separate tempo
              markings separated with a semicolon and non-breaking space.
            figure.format(data-informative="")
              ul
                li Allegro con brio
                li Allegro moderato; Prestissimo
      section
        h2 Conclusions About Functionality
        p.
          With this new system, the #[b Name] field in #[cite iTunes] (or other music library programs)
          is shortened greatly, thus making it easier for the listener to see what he or she is listening
          to when checking the digital music player. The codes are set logically and systematically, avoiding
          any ambiguity to the listener, while shortening the length of the track name. Yet the system
          retains the titles of the work and movements in their original form so the listener can
          instantly recognize the composer and piece. In addition, the important aspects of the piece
          such as opus number and movement number are moved toward the front of the text field so
          that it will show on digital music players that do not scroll or marquee text.
