doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Grid Demo &in; Site Design
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v5.6.0/xmeter.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.10.0/bangs.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.2.0/still-alive.min.css")
    style.
      .gridtest {
        text-align: center;
        margin-top: 1in;
      }
      .gridtest--phi {
        /* background-image: url('https://chharvey.github.io/core/images/crossgrid-phi.svg'); */
        background-image: url('/core/images/crossgrid-phi.svg');
        background-size: 100% 24px;
        background-repeat: repeat-y;
      }
      .gridtest--even {
        /* background-image: url('https://chharvey.github.io/core/images/crossgrid-even.svg'); */
        background-image: url('/core/images/crossgrid-even.svg');
        background-size: 100% 24px;
        background-repeat: repeat-y;
      }
      .solo    { background-color: rgba(255, 128, 128, .25); }
      .duet    { background-color: rgba(128, 255, 128, .25); }
      .trio    { background-color: rgba(128, 128, 255, .25); }
      .quartet { background-color: rgba(255, 255, 128, .25); }
      .quintet { background-color: rgba(128, 255, 255, .25); }
      .sextet  { background-color: rgba(255, 128, 255, .25); }
      .-bc-red     { background-color: #f00; }
      .-bc-yellow  { background-color: #ff0; }
      .-bc-lime    { background-color: #0f0; }
      .-bc-aqua    { background-color: #0ff; }
      .-bc-blue    { background-color: #00f; }
      .-bc-fuchsia { background-color: #f0f; }
      .lv1 { height: 6rem; }
      .lv2 { height: 4.5rem; }
      .lv3 { height: 3rem; }
      .lv4 { height: 1.5rem; }
      div.o-Grid__Item {
        height: 24px;
        outline: 1px solid #ff99c0;
      }
      div.o-Grid__Item:hover {
        background-color: rgba(64, 64, 64, .25);
      }
      .gridtest--phi .o-Grid__Item {
        flex: initial; /* HACK so width can work */
      }
  body
    h1 Grid Demo
    main
      div.gridtest.gridtest--phi
        h2 Grid Test Phi
        div.o-Grid.Growgroup.solo
          div.o-Grid__Item.a-w-p0: code -p0
        div.o-Grid.Growgroup.duet
          div.o-Grid__Item.a-w-p1:  code -p1
          div.o-Grid__Item.a-w-p2:  code -p2
          <!---->
          div.o-Grid__Item.a-w-p2:  code -p2
          div.o-Grid__Item.a-w-p1:  code -p1
          <!---->
          div.o-Grid__Item.a-w-p3:  code -p3
          div.o-Grid__Item.a-w-p3c: code -p3c
          <!---->
          div.o-Grid__Item.a-w-p3c: code -p3c
          div.o-Grid__Item.a-w-p3:  code -p3
          <!---->
          div.o-Grid__Item.a-w-p4:  code -p4
          div.o-Grid__Item.a-w-p4c: code -p4c
          <!---->
          div.o-Grid__Item.a-w-p4c: code -p4c
          div.o-Grid__Item.a-w-p4:  code -p4
        div.o-Grid.Growgroup.trio
          div.o-Grid__Item.a-w-p1: code -p1
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p1: code -p1
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p1: code -p1
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p2: code -p2
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p1: code -p1
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p1: code -p1
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p1: code -p1
        div.o-Grid.Growgroup.quartet
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p2: code -p2
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p2: code -p2
        div.o-Grid.Growgroup.quintet
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          <!---->
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p4: code -p4
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
          div.o-Grid__Item.a-w-p3: code -p3
      div.phidemo
          div.phidemo.-ta-c.-ff-sf(style="padding-top: 24px;")
            div.o-Flex
              div.o-Flex__Item.a-w-p3.-bc-aqua.lv1 &Phi;<sup>3</sup>
                div.o-Flex
                  div.o-Flex__Item.a-w-p4.-bc-fuchsia.lv2 &Phi;<sup>4</sup>
                    div.o-Flex
                      div.o-Flex__Item.a-w-p4.-bc-yellow.lv3 &Phi;<sup>4</sup>
                      div.o-Flex__Item.a-w-p1.-bc-blue.lv3 &Phi;<sup>1</sup>
                      div.o-Flex__Item.a-w-p3.-bc-yellow.lv3 &Phi;<sup>3</sup>
                  div.o-Flex__Item.a-w-p1.-bc-lime.lv2 &Phi;<sup>1</sup>
                  div.o-Flex__Item.a-w-p3.-bc-fuchsia.lv2 &Phi;<sup>3</sup>
                    div.o-Flex
                      div.o-Flex__Item.a-w-p4.-bc-yellow.lv3 &Phi;<sup>4</sup>
                      div.o-Flex__Item.a-w-p1.-bc-blue.lv3 &Phi;<sup>1</sup>
                      div.o-Flex__Item.a-w-p3.-bc-yellow.lv3 &Phi;<sup>3</sup>
              div.o-Flex__Item.a-w-p1.-bc-red.lv1 &Phi;<sup>1</sup>
              div.o-Flex__Item.a-w-p4.-bc-aqua.lv1 &Phi;<sup>4</sup>
                div.o-Flex
                  div.o-Flex__Item.a-w-p3.-bc-fuchsia.lv2 &Phi;<sup>3</sup>
                    div.o-Flex
                      div.o-Flex__Item.a-w-p3.-bc-yellow.lv3 &Phi;<sup>3</sup>
                      div.o-Flex__Item.a-w-p1.-bc-blue.lv3 &Phi;<sup>1</sup>
                      div.o-Flex__Item.a-w-p4.-bc-yellow.lv3 &Phi;<sup>4</sup>
                  div.o-Flex__Item.a-w-p1.-bc-lime.lv2 &Phi;<sup>1</sup>
                  div.o-Flex__Item.a-w-p4.-bc-fuchsia.lv2 &Phi;<sup>4</sup>
                    div.o-Flex
                      div.o-Flex__Item.a-w-p3.-bc-yellow.lv3 &Phi;<sup>3</sup>
                      div.o-Flex__Item.a-w-p1.-bc-blue.lv3 &Phi;<sup>1</sup>
                      div.o-Flex__Item.a-w-p4.-bc-yellow.lv3 &Phi;<sup>4</sup>
      div.gridtest.gridtest--even
        h2 Grid Test Even
        div.o-Grid.Growgroup.solo
          div.o-Grid__Item.-x-1o1: code -1o1
        div.o-Grid.Growgroup.duet
          div.o-Grid__Item.-x-1o2: code -1o2
          div.o-Grid__Item.-x-1o2: code -1o2
          <!---->
          div.o-Grid__Item.-x-2o3: code -2o3
          div.o-Grid__Item.-x-1o3: code -1o3
          <!---->
          div.o-Grid__Item.-x-1o3: code -1o3
          div.o-Grid__Item.-x-2o3: code -2o3
          <!---->
          div.o-Grid__Item.-x-3o4: code -3o4
          div.o-Grid__Item.-x-1o4: code -1o4
          <!---->
          div.o-Grid__Item.-x-2o4: code -2o4
          div.o-Grid__Item.-x-2o4: code -2o4
          <!---->
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-3o4: code -3o4
          <!---->
          div.o-Grid__Item.-x-4o5: code -4o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-3o5: code -3o5
          div.o-Grid__Item.-x-2o5: code -2o5
          <!---->
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-3o5: code -3o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-4o5: code -4o5
          <!---->
          div.o-Grid__Item.-x-5o6: code -5o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-4o6: code -4o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-3o6: code -3o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-4o6: code -4o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-5o6: code -5o6
        div.o-Grid.Growgroup.trio
          div.o-Grid__Item.-x-1o3: code -1o3
          div.o-Grid__Item.-x-1o3: code -1o3
          div.o-Grid__Item.-x-1o3: code -1o3
          <!---->
          div.o-Grid__Item.-x-2o4: code -2o4
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-1o4: code -1o4
          <!---->
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-2o4: code -2o4
          div.o-Grid__Item.-x-1o4: code -1o4
          <!---->
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-2o4: code -2o4
          <!---->
          div.o-Grid__Item.-x-3o5: code -3o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-2o5: code -2o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-3o5: code -3o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-2o5: code -2o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-3o5: code -3o5
          <!---->
          div.o-Grid__Item.-x-4o6: code -4o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-3o6: code -3o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-4o6: code -4o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-3o6: code -3o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-4o6: code -4o6
        div.o-Grid.Growgroup.quartet
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-1o4: code -1o4
          div.o-Grid__Item.-x-1o4: code -1o4
          <!---->
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-2o5: code -2o5
          div.o-Grid__Item.-x-1o5: code -1o5
          <!---->
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-2o5: code -2o5
          <!---->
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-3o6: code -3o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-2o6: code -2o6
          div.o-Grid__Item.-x-2o6: code -2o6
          <!---->
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-3o6: code -3o6
        div.o-Grid.Growgroup.quintet
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
          div.o-Grid__Item.-x-1o5: code -1o5
        div.o-Grid.Growgroup.sextet
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
          div.o-Grid__Item.-x-1o6: code -1o6
