/*#################*\
    griddemo.less
\*#################*/
.Growgroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}
.Growgroup.solo {
  background-color: rgba(255, 128, 128, 0.25);
}
.Growgroup.duet {
  background-color: rgba(128, 255, 128, 0.25);
}
.Growgroup.trio {
  background-color: rgba(128, 128, 255, 0.25);
}
.Growgroup.quartet {
  background-color: rgba(255, 255, 128, 0.25);
}
.Growgroup.quintet {
  background-color: rgba(128, 255, 255, 0.25);
}
.Growgroup.sextet {
  background-color: rgba(255, 128, 255, 0.25);
}
.Growgroup > div {
  outline: 1px solid #cc004e;
  height: 24px;
}
.Growgroup > div:hover {
  background-color: rgba(64, 64, 64, 0.25);
}
.gridtest {
  text-align: center;
  margin-top: 1in;
}
.gridtest.phi {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-phi.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.gridtest.even {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-even.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.red {
  background-color: #f00;
}
.yellow {
  background-color: #ff0;
}
.green {
  background-color: #0f0;
}
.cyan {
  background-color: #0ff;
}
.blue {
  background-color: #00f;
}
.pink {
  background-color: #f0f;
}
.lv1 {
  height: 6rem;
}
.lv2 {
  height: 4.5rem;
}
.lv3 {
  height: 3rem;
}
.lv4 {
  height: 1.5rem;
}
