doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Grid Demo &in; Site Design
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
    link(rel="stylesheet" href="styles/griddemo.css")
  body
    h1 Grid Demo
    main
      div.gridtest.phi
        h2 Grid Test Phi
        div.Growgroup.solo
          div.a-w-p0 #[code .a-w-p0]
        div.Growgroup.duet
          div.a-w-p1 #[code  .a-w-p1]
          div.a-w-p2 #[code  .a-w-p2]
          <!---->
          div.a-w-p2 #[code  .a-w-p2]
          div.a-w-p1 #[code  .a-w-p1]
          <!---->
          div.a-w-p3  #[code .a-w-p3]
          div.a-w-p3c #[code .a-w-p3c]
          <!---->
          div.a-w-p3c #[code .a-w-p3c]
          div.a-w-p3  #[code .a-w-p3]
          <!---->
          div.a-w-p4  #[code .a-w-p4]
          div.a-w-p4c #[code .a-w-p4c]
          <!---->
          div.a-w-p4c #[code .a-w-p4c]
          div.a-w-p4  #[code .a-w-p4]
        div.Growgroup.trio
          div.a-w-p1 #[code .a-w-p1]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p1 #[code .a-w-p1]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p1 #[code .a-w-p1]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p2 #[code .a-w-p2]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p1 #[code .a-w-p1]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p1 #[code .a-w-p1]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p1 #[code .a-w-p1]
        div.Growgroup.quartet
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p2 #[code .a-w-p2]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p2 #[code .a-w-p2]
        div.Growgroup.quintet
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          <!---->
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p4 #[code .a-w-p4]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
          div.a-w-p3 #[code .a-w-p3]
      //- div.phidemo
      //-   p Hover over each cell below.
      //-   div.undo--p1--midright
      //-     div.gridtest.phi(style="height: 24px;")
      //-     div.phidemo
      //-       div.Grow
      //-         div.Gcol.a-w-p3.cyan.lv1(title="&Phi;3")
      //-           div.Grow
      //-             div.Gcol.a-w-p4.pink.lv2(title="&Phi;4")
      //-               div.Grow
      //-                 div.Gcol.a-w-p4.yellow.lv3(title="&Phi;4")
      //-                 div.Gcol.a-w-p1.blue.lv3(title="&Phi;1")
      //-                 div.Gcol.a-w-p3.yellow.lv3(title="&Phi;3")
      //-             div.Gcol.a-w-p1.green.lv2(title="&Phi;1")
      //-             div.Gcol.a-w-p3.pink.lv2(title="&Phi;3")
      //-               div.Grow
      //-                 div.Gcol.a-w-p4.yellow.lv3(title="&Phi;4")
      //-                 div.Gcol.a-w-p1.blue.lv3(title="&Phi;1")
      //-                 div.Gcol.a-w-p3.yellow.lv3(title="&Phi;3")
      //-         div.Gcol.a-w-p1.red.lv1(title="&Phi;1")
      //-         div.Gcol.a-w-p4.cyan.lv1(title="&Phi;4")
      //-           div.Grow
      //-             div.Gcol.a-w-p3.pink.lv2(title="&Phi;3")
      //-               div.Grow
      //-                 div.Gcol.a-w-p3.yellow.lv3(title="&Phi;3")
      //-                 div.Gcol.a-w-p1.blue.lv3(title="&Phi;1")
      //-                 div.Gcol.a-w-p4.yellow.lv3(title="&Phi;4")
      //-             div.Gcol.a-w-p1.green.lv2(title="&Phi;1")
      //-             div.Gcol.a-w-p4.pink.lv2(title="&Phi;4")
      //-               div.Grow
      //-                 div.Gcol.a-w-p3.yellow.lv3(title="&Phi;3")
      //-                 div.Gcol.a-w-p1.blue.lv3(title="&Phi;1")
      //-                 div.Gcol.a-w-p4.yellow.lv3(title="&Phi;4")
      div.gridtest.even
        h2 Grid Test Even
        div.Growgroup.solo
          div(class="!w:1o1") #[code .!w:1o1]
        div.Growgroup.duet
          div(class="!w:1o2") #[code .!w:1o2]
          div(class="!w:1o2") #[code .!w:1o2]
          <!---->
          div(class="!w:2o3") #[code .!w:2o3]
          div(class="!w:1o3") #[code .!w:1o3]
          <!---->
          div(class="!w:1o3") #[code .!w:1o3]
          div(class="!w:2o3") #[code .!w:2o3]
          <!---->
          div(class="!w:3o4") #[code .!w:3o4]
          div(class="!w:1o4") #[code .!w:1o4]
          <!---->
          div(class="!w:2o4") #[code .!w:2o4]
          div(class="!w:2o4") #[code .!w:2o4]
          <!---->
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:3o4") #[code .!w:3o4]
          <!---->
          div(class="!w:4o5") #[code .!w:4o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:3o5") #[code .!w:3o5]
          div(class="!w:2o5") #[code .!w:2o5]
          <!---->
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:3o5") #[code .!w:3o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:4o5") #[code .!w:4o5]
          <!---->
          div(class="!w:5o6") #[code .!w:5o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:4o6") #[code .!w:4o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:3o6") #[code .!w:3o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:4o6") #[code .!w:4o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:5o6") #[code .!w:5o6]
        div.Growgroup.trio
          div(class="!w:1o3") #[code .!w:1o3]
          div(class="!w:1o3") #[code .!w:1o3]
          div(class="!w:1o3") #[code .!w:1o3]
          <!---->
          div(class="!w:2o4") #[code .!w:2o4]
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:1o4") #[code .!w:1o4]
          <!---->
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:2o4") #[code .!w:2o4]
          div(class="!w:1o4") #[code .!w:1o4]
          <!---->
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:2o4") #[code .!w:2o4]
          <!---->
          div(class="!w:3o5") #[code .!w:3o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:2o5") #[code .!w:2o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:3o5") #[code .!w:3o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:2o5") #[code .!w:2o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:3o5") #[code .!w:3o5]
          <!---->
          div(class="!w:4o6") #[code .!w:4o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:3o6") #[code .!w:3o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:4o6") #[code .!w:4o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:3o6") #[code .!w:3o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:4o6") #[code .!w:4o6]
        div.Growgroup.quartet
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:1o4") #[code .!w:1o4]
          div(class="!w:1o4") #[code .!w:1o4]
          <!---->
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:2o5") #[code .!w:2o5]
          div(class="!w:1o5") #[code .!w:1o5]
          <!---->
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:2o5") #[code .!w:2o5]
          <!---->
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:3o6") #[code .!w:3o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:2o6") #[code .!w:2o6]
          div(class="!w:2o6") #[code .!w:2o6]
          <!---->
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:3o6") #[code .!w:3o6]
        div.Growgroup.quintet
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
          div(class="!w:1o5") #[code .!w:1o5]
        div.Growgroup.sextet
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
          div(class="!w:1o6") #[code .!w:1o6]
