doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Special Characters
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="A table of special characters.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
    style.
      tbody tr:nth-child(n+2) th:nth-child(1) {
        text-transform: uppercase;
      }
      tbody td:nth-child(2) {
        font-size: 1.25rem;
        line-height: 1.2;
      }
      tbody td:nth-child(4),
      tbody td:nth-child(5) {
        font-family: monospace;
      }
      #greek td:nth-child(2) {
        font-family: 'Times',serif;
      }
  body
    main
      h1 Special Characters
      table.c-TableShaded.c-TableShadedRows.c-TableHover(class="!w:1o1 !ta:c")
        thead
          tr
            th.o-Box(scope="col") Character Name
            th.o-Box(scope="col") Symbol
            th.o-Box(scope="col") Unicode (hex)
            th.o-Box(scope="col") HTML
            th.o-Box(scope="col") #[span.js-mt \LaTeX]
            th.o-Box(scope="col") Macintosh
            th.o-Box(scope="col" style="width:200px;") Comments
        tbody#text-delims
          tr: th.o-Box(scope="rowgroup" colspan="7") Text Delimiters
          tr
            th(scope="row") apostrophe
            td &#x0027;
            td 0027
            td &amp;apos;
            td
            td '
            td #[code &amp;apos;] only in XML
          tr
            th(scope="row") quotation mark
            td &#x0022;
            td 0022
            td &amp;quot;
            td
            td shift '
            td
          tr
            th(scope="row") left parenthesis
            td &#x0028;
            td 0028
            td
            td
            td shift 9
            td
          tr
            th(scope="row") right parenthesis
            td &#x0029;
            td 0029
            td
            td
            td shift 0
            td
          tr
            th(scope="row") left square bracket
            td &#x005b;
            td 005b
            td
            td
            td [
            td
          tr
            th(scope="row") right square bracket
            td &#x005d;
            td 005d
            td
            td
            td ]
            td
          tr
            th(scope="row") left curly bracket
            td &#x007b;
            td 007b
            td
            td
            td shift [
            td
          tr
            th(scope="row") right curly bracket
            td &#x007d;
            td 007d
            td
            td
            td shift ]
            td
          tr
            th(scope="row") left-pointing angle bracket
            td &#x2329;
            td 2329
            td &amp;lang;
            td
            td
            td see U+003c for HTML delimiter
          tr
            th(scope="row") right-pointing angle bracket
            td &#x232a;
            td 232a
            td &amp;rang;
            td
            td
            td see U+003e for HTML delimiter
        tbody#quotes
          tr: th.o-Box(scope="rowgroup" colspan="7") Quotation Marks
          tr
            th(scope="row") left single quotation mark
            td &#x2018;
            td 2018
            td &amp;lsquo;
            td
            td option ]
            td
          tr
            th(scope="row") right single quotation mark
            td &#x2019;
            td 2019
            td &amp;rsquo;
            td
            td option shift ]
            td
          tr
            th(scope="row") left double quotation mark
            td &#x201c;
            td 201c
            td &amp;ldquo;
            td
            td option [
            td
          tr
            th(scope="row") right double quotation mark
            td &#x201d;
            td 201d
            td &amp;rdquo;
            td
            td option shift [
            td
          tr
            th(scope="row") single left-pointing angle quotation mark
            td &#x2039;
            td 2039
            td &amp;lsaquo;
            td
            td option shift 3
            td single guillemet
          tr
            th(scope="row") single right-pointing angle quotation mark
            td &#x203a;
            td 203a
            td &amp;rsaquo;
            td
            td option shift 4
            td single guillemet
          tr
            th(scope="row") left-pointing double angle quotation mark
            td &#x00ab;
            td 00ab
            td &amp;laquo;
            td
            td option \
            td guillemet
          tr
            th(scope="row") right-pointing double angle quotation mark
            td &#x00bb;
            td 00bb
            td &amp;raquo;
            td
            td option shift \
            td guillemet
        tbody#slashes
          tr: th.o-Box(scope="rowgroup" colspan="7") Slashes
          tr
            th(scope="row") solidus
            td &#x002f;
            td 002f
            td
            td
            td /
            td
          tr
            th(scope="row") reverse solidus
            td &#x005c;
            td 005c
            td
            td
            td \
            td
          tr
            th(scope="row") fraction slash
            td &#x2044;
            td 2044
            td &amp;frasl;
            td
            td option shift 1
            td
          tr
            th(scope="row") division slash
            td &#x2215;
            td 2215
            td
            td
            td
            td
        tbody#accents
          tr: th.o-Box(scope="rowgroup" colspan="7") Accents
          tr
            th(scope="row") cirumflex accent
            td &#x005e;
            td 005e
            td
            td
            td shift 6
            td
          tr
            th(scope="row") grave accent
            td &#x0060;
            td 0060
            td
            td
            td ` (or option `)
            td
          tr
            th(scope="row") acute accent
            td &#x00b4;
            td 00b4
            td
            td
            td option e
            td
        tbody#misc-text
          tr: th.o-Box(scope="rowgroup" colspan="7") Miscellaneous Text Symbols
          tr
            th(scope="row") space
            td(class="!td:u") &#x0020;
            td 0020
            td
            td
            td spacebar
            td character not shown (not parsed in HTML)
          tr
            th(scope="row") no-break space
            td(class="!td:u") &#x00a0;
            td 00a0
            td &amp;nbsp;
            td
            td option spacebar
            td character underlined to show width
          tr
            th(scope="row") en space
            td(class="!td:u") &#x2002;
            td 2002
            td &amp;ensp;
            td
            td
            td character underlined to show width
          tr
            th(scope="row") em space
            td(class="!td:u") &#x2003;
            td 2003
            td &amp;emsp;
            td
            td
            td character underlined to show width
          tr
            th(scope="row") en dash
            td &#x2013;
            td 2013
            td &amp;ndash;
            td
            td option -
            td
          tr
            th(scope="row") em dash
            td &#x2014;
            td 2014
            td &amp;mdash;
            td
            td option shift -
            td
          tr
            th(scope="row") modifier letter apostrophe
            td &#x02bc;
            td 02bc
            td
            td
            td
            td it has been suggested this replace 2019 for apostrophes
          tr
            th(scope="row") asterisk
            td &#x002a;
            td 002a
            td
            td
            td shift 8
            td
          tr
            th(scope="row") ampersand
            td &#x0026;
            td 0026
            td &amp;amp;
            td \And
            td shift 7
            td
          tr
            th(scope="row") horizontal ellipsis
            td &#x2026;
            td 2026
            td &amp;hellip;
            td \dots
            td option ;
            td
          tr
            th(scope="row") bullet
            td &#x2022;
            td 2022
            td &amp;bull;
            td
            td option 8
            td
          tr
            th(scope="row") black small square
            td &#x25aa;
            td 25aa
            td
            td
            td
            td
          tr
            th(scope="row") section sign
            td &#x00a7;
            td 00a7
            td &amp;sect;
            td
            td option 6
            td
          tr
            th(scope="row") pillcrow sign
            td &#x00b6;
            td 00b6
            td &amp;para;
            td
            td option 7
            td paragraph
          tr
            th(scope="row") copyright sign
            td &#x00a9;
            td 00a9
            td &amp;copy;
            td
            td option g
            td
          tr
            th(scope="row") registered sign
            td &#x00ae;
            td 00ae
            td &amp;reg;
            td
            td option r
            td
          tr
            th(scope="row") trade mark sign
            td &#x2122;
            td 2122
            td &amp;trade;
            td
            td option 2
            td
          tr
            th(scope="row") ditto mark
            td &#x3003;
            td 3003
            td
            td
            td
            td
        tbody#arrows
          tr: th.o-Box(scope="rowgroup" colspan="7") Arrows
          tr
            th(scope="row") leftwards arrow
            td &#x2190;
            td 2190
            td &amp;larr;
            td \leftarrow
            td
            td
          tr
            th(scope="row") rightwards arrow
            td &#x2192;
            td 2192
            td &amp;rarr;
            td \rightarrow or \to
            td
            td approaches
          tr
            th(scope="row") left right arrow
            td &#x2194;
            td 2194
            td &amp;harr;
            td \leftrightarrow
            td
            td
          tr
            th(scope="row") upwards arrow
            td &#x2191;
            td 2191
            td &amp;uarr;
            td \uparrow
            td
            td
          tr
            th(scope="row") downwards arrow
            td &#x2193;
            td 2193
            td &amp;darr;
            td \downarrow
            td
            td
          tr
            th(scope="row") up down arrow
            td &#x2195;
            td 2195
            td
            td \updownarrow
            td
            td
          tr
            th(scope="row") leftwards double arrow
            td &#x21d0;
            td 21d0
            td &amp;lArr;
            td \Leftarrow or \impliedby
            td
            td
          tr
            th(scope="row") rightwards double arrow
            td &#x21d2;
            td 21d2
            td &amp;rArr;
            td \Rightarrow or \implies
            td
            td material implication
          tr
            th(scope="row") left right double arrow
            td &#x21d4;
            td 21d4
            td &amp;hArr;
            td \Leftrightarrow or \iff
            td
            td material equivalence
          tr
            th(scope="row") upwards double arrow
            td &#x21d1;
            td 21d1
            td &amp;uArr;
            td \Uparrow
            td
            td alternative denial
          tr
            th(scope="row") downwards double arrow
            td &#x21d3;
            td 21d3
            td &amp;dArr;
            td \Downarrow
            td
            td joint denial
          tr
            th(scope="row") up down double arrow
            td &#x21d5;
            td 21d5
            td
            td \Updownarrow
            td
            td
          tr
            th(scope="row") rightwards arrow from bar
            td &#x21a6;
            td 21a6
            td
            td \mapsto
            td
            td function
          tr
            th(scope="row") rightwards two headed arrow
            td &#x21a0;
            td 21a0
            td
            td
            td
            td injection
          tr
            th(scope="row") rightwards arrow with tail
            td &#x21a3;
            td 21a3
            td
            td
            td
            td surjection
          tr
            th(scope="row") left right arrow with vertical stroke
            td &#x21f9;
            td 21f9
            td
            td
            td
            td bijection
        tbody#misc-tech
          tr: th.o-Box(scope="rowgroup" colspan="7") Miscellaneous Technical Symbols
          tr
            th(scope="row") place of interest sign
            td &#x2318;
            td 2318
            td
            td
            td command
            td
          tr
            th(scope="row") option key
            td &#x2325;
            td 2325
            td
            td
            td option
            td
          tr
            th(scope="row") up arrowhead
            td &#x2303;
            td 2303
            td
            td
            td control
            td control key (Mac)
        tbody#math-delims
          tr: th.o-Box(scope="rowgroup" colspan="7") Mathematical Delimiters
          tr
            th(scope="row") mathematical left angle bracket
            td &#x27e8;
            td 27e8
            td
            td \langle
            td
            td bra
          tr
            th(scope="row") mathematical right angle bracket
            td &#x27e9;
            td 27e9
            td
            td \rangle
            td
            td ket
          tr
            th(scope="row") mathematical left double angle bracket
            td &#x27ea;
            td 27ea
            td
            td
            td
            td
          tr
            th(scope="row") mathematical right double angle bracket
            td &#x27eb;
            td 27eb
            td
            td
            td
            td
          tr
            th(scope="row") left ceiling
            td &#x2308;
            td 2308
            td &amp;lceil;
            td \lceil
            td
            td
          tr
            th(scope="row") right ceiling
            td &#x2309;
            td 2309
            td &amp;rceil;
            td \rceil
            td
            td
          tr
            th(scope="row") left floor
            td &#x230a;
            td 230a
            td &amp;lfloor;
            td \lfloor
            td
            td
          tr
            th(scope="row") right floor
            td &#x230b;
            td 230b
            td &amp;rfloor;
            td \rfloor
            td
            td
        tbody#relation-logic
          tr: th.o-Box(scope="rowgroup" colspan="7") Binary Relations &mdash; Logic
          tr
            th(scope="row") logical or
            td &#x2228;
            td 2228
            td &amp;or;
            td \lor
            td
            td disjunction
          tr
            th(scope="row") logical and
            td &#x2227;
            td 2227
            td &amp;and;
            td \land
            td
            td conjunction
          tr
            th(scope="row") right tack
            td &#x22a2;
            td 22a2
            td
            td \vdash
            td
            td forward syntactic consequence
          tr
            th(scope="row") left tack
            td &#x22a3;
            td 22a3
            td
            td \dashv
            td
            td backward syntactic consequence
          tr
            th(scope="row") left and right tack
            td &#x27db;
            td 27db
            td
            td
            td
            td logical equivalence, #[code \dashv\vdash]
          tr
            th(scope="row") models
            td &#x22a7;
            td 22a7
            td
            td
            td
            td forward semantic consequence (1)
          tr
            th(scope="row") true
            td &#x22a8;
            td 22a8
            td
            td \models or \vDash
            td
            td forward semantic consequence (2)
        tbody#relation-set
          tr: th.o-Box(scope="rowgroup" colspan="7") Binary Relations &mdash; Set Theory
          tr
            th(scope="row") element of
            td &#x2208;
            td 2208
            td &amp;isin;
            td \in
            td
            td
          tr
            th(scope="row") not element of
            td &#x2209;
            td 2209
            td &amp;notin;
            td \notin or \not\in
            td
            td
          tr
            th(scope="row") has element
            td &#x220b;
            td 220b
            td &amp;ni;
            td \owns
            td
            td
          tr
            th(scope="row") proper subset
            td &#x2282;
            td 2282
            td &amp;sub;
            td \subset
            td
            td
          tr
            th(scope="row") proper superset
            td &#x2283;
            td 2283
            td &amp;sup;
            td \superset
            td
            td
          tr
            th(scope="row") subset
            td &#x2286;
            td 2286
            td &amp;sube;
            td \subseteq
            td
            td
          tr
            th(scope="row") superset
            td &#x2287;
            td 2287
            td &amp;supe;
            td \superseteq
            td
            td
          tr
            th(scope="row") not proper subset
            td &#x2284;
            td 2284
            td &amp;nsub;
            td \notsubset
            td
            td
          tr
            th(scope="row") not proper superset
            td &#x2285;
            td 2285
            td &amp;nsup;
            td \notsuperset
            td
            td
          tr
            th(scope="row") union
            td &#x222a;
            td 222a
            td &amp;cup;
            td \cup
            td
            td
          tr
            th(scope="row") intersection
            td &#x2229;
            td 2229
            td &amp;cap;
            td \cap
            td
            td
        tbody#relation-arithmetic
          tr: th.o-Box(scope="rowgroup" colspan="7") Binary Relations &mdash; Arithmetic
          tr
            th(scope="row") not equal to
            td &#x2260;
            td 2260
            td &amp;ne;
            td \ne
            td option =
            td
          tr
            th(scope="row") approximate
            td &#x2248;
            td 2248
            td &amp;asymp;
            td \approx
            td option x
            td
          tr
            th(scope="row") less-than sign
            td &#x003c;
            td 003c
            td &amp;lt;
            td \lt
            td shift ,
            td also used in HTML source
          tr
            th(scope="row") greater-than sign
            td &#x003e;
            td 003e
            td &amp;gt;
            td \gt
            td shift .
            td also used in HTML source
          tr
            th(scope="row") less than or equal to
            td &#x2264;
            td 2264
            td &amp;le;
            td \le
            td option ,
            td
          tr
            th(scope="row") greater than or equal to
            td &#x2265;
            td 2265
            td &amp;ge;
            td \ge
            td option .
            td
          tr
            th(scope="row") precedes
            td &#x227a;
            td 227a
            td
            td \prec
            td
            td injection into
          tr
            th(scope="row") succeeds
            td &#x227b;
            td 227b
            td
            td \succ
            td
            td surjection onto
          tr
            th(scope="row") precedes above single-line equals sign
            td &#x2aaf;
            td 2aaf
            td
            td \preceq
            td
            td
          tr
            th(scope="row") succedes above single-line equals sign
            td &#x2ab0;
            td 2ab0
            td
            td \succeq
            td
            td
          tr
            th(scope="row") precedes or equal to
            td &#x227c;
            td 227c
            td
            td \preccurlyeq
            td
            td
          tr
            th(scope="row") succeeds or equal to
            td &#x227d;
            td 227d
            td
            td \succcurlyeq
            td
            td
          tr
            th(scope="row") minus sign
            td &#x2212;
            td 2212
            td &amp;minus;
            td - (hyphen)
            td
            td same width as en dash
          tr
            th(scope="row") plus-minus sign
            td &#x00b1;
            td 00b1
            td &amp;plusmn;
            td \pm
            td option shift =
            td
          tr
            th(scope="row") minus-or-plus sign
            td &#x2213;
            td 2213
            td
            td \mp
            td
            td
          tr
            th(scope="row") dot operator
            td &#x22c5;
            td 22c5
            td &amp;sdot;
            td \cdot
            td
            td dot product
          tr
            th(scope="row") cross product
            td &#x00d7;
            td 00d7
            td &amp;times;
            td \times
            td
            td
          tr
            th(scope="row") divide
            td &#x00f7;
            td 00f7
            td &amp;divide;
            td \div
            td option /
            td
          tr
            th(scope="row") low asterisk
            td &#x2217;
            td 2217
            td &amp;lowast;
            td \ast
            td
            td
          tr
            th(scope="row") pound
            td &#x0023;
            td 0023
            td #
            td \#
            td shift 3
            td
          tr
            th(scope="row") circled plus
            td &#x2295;
            td 2295
            td &amp;oplus;
            td \oplus
            td
            td
          tr
            th(scope="row") circled times
            td &#x2297;
            td 2297
            td &amp;otimes;
            td \otimes
            td
            td
        tbody#relation-geometry
          tr: th.o-Box(scope="rowgroup" colspan="7") Binary Relations &mdash; Geometry
          tr
            th(scope="row") identical to
            td &#x2261;
            td 2261
            td &amp;equiv;
            td \equiv
            td
            td general equivalnce
          tr
            th(scope="row") approximately equal to
            td &#x2245;
            td 2245
            td &amp;cong;
            td \cong
            td
            td congruent
          tr
            th(scope="row") tilde operator
            td &#x223c;
            td 223c
            td &amp;sim;
            td \sim
            td
            td similar
          tr
            th(scope="row") proportional to
            td &#x221d;
            td 221d
            td &amp;prop;
            td \varpropto
            td
            td
          tr
            th(scope="row") parallel to
            td &#x2225;
            td 2225
            td
            td
            td
            td
          tr
            th(scope="row") perpendicular
            td &#x27c2;
            td 27c2
            td
            td \perp
            td
            td see U+22a5 for #[code &amp;perp;]
        tbody#functions
          tr: th.o-Box(scope="rowgroup" colspan="7") Functions
          tr
            th(scope="row") not sign
            td &#x00ac;
            td 00ac
            td &amp;not;
            td \lnot
            td option 1
            td logical not
          tr
            th(scope="row") there exists
            td &#x2203;
            td 2203
            td &amp;exist;
            td \exists
            td
            td
          tr
            th(scope="row") for all
            td &#x2200;
            td 2200
            td &amp;forall;
            td \forall
            td
            td
          tr
            th(scope="row") complement
            td &#x2201;
            td 2201
            td
            td \complement
            td
            td
          tr
            th(scope="row") no break here
            td &#x0083;
            td 0083
            td &amp;fnof;
            td
            td option f
            td function of
          tr
            th(scope="row") square root
            td &#x221a;
            td 221a
            td &amp;radic;
            td \sqrt
            td option v
            td
          tr
            th(scope="row") summation
            td &#x2211;
            td 2211
            td &amp;sum;
            td \sum
            td option w
            td
          tr
            th(scope="row") product
            td &#x220f;
            td 220f
            td &amp;prod;
            td \prod
            td option shift p
            td
          tr
            th(scope="row") partial
            td &#x2202;
            td 2202
            td &amp;part;
            td \partial
            td option d
            td
          tr
            th(scope="row") integral
            td &#x222b;
            td 222b
            td &amp;int;
            td \int
            td option b
            td
          tr
            th(scope="row") nabla
            td &#x2207;
            td 2207
            td &amp;nabla;
            td
            td
            td
        tbody#misc-math
          tr: th.o-Box(scope="rowgroup" colspan="7") Miscellaneous Mathematical Symbols
          tr
            th(scope="row") down tack
            td &#x22a4;
            td 22a4
            td
            td \top
            td
            td tautology
          tr
            th(scope="row") up tack
            td &#x22a5;
            td 22a5
            td &amp;perp;
            td \bot
            td
            td contradiction; see U+27c2 for perpendicular
          tr
            th(scope="row") therefore
            td &#x2234;
            td 2234
            td &amp;there4;
            td \therefore
            td
            td punctuation (not relation)
          tr
            th(scope="row") because
            td &#x2235;
            td 2235
            td
            td \because
            td
            td punctuation (not relation)
          tr
            th(scope="row") empty set
            td &#x2205;
            td 2205
            td &amp;empty;
            td \varnothing
            td
            td
          tr
            th(scope="row") infinity
            td &#x221e;
            td 221e
            td &amp;infin;
            td \infty
            td option 5
            td
          tr
            th(scope="row") angle
            td &#x2220;
            td 2220
            td &amp;ang;
            td \angle
            td
            td
          tr
            th(scope="row") degree
            td &#x00b0;
            td 00b0
            td &amp;deg;
            td
            td option k
            td
          tr
            th(scope="row") prime
            td &#x2032;
            td 2032
            td &amp;prime;
            td \prime
            td
            td
          tr
            th(scope="row") double prime
            td &#x2033;
            td 2033
            td &amp;Prime;
            td \Prime
            td
            td
          tr
            th(scope="row") triple prime
            td &#x2034;
            td 2034
            td
            td
            td
            td
          tr
            th(scope="row") script capital p
            td &#x2118;
            td 2118
            td &amp;weierp;
            td \wp
            td
            td Weierstrass p
        //tbody#letter-like
        // tr: th.o-Box(scope="rowgroup" colspan="7") Letter-Like Symbols
        //  tr
        //    th(scope="row") double-struck capital n
        //    td &#x2115;
        //    td 2115
        //    td
        //    td
        //    td
        //    td
        //  tr
        //    th(scope="row") double-struck capital p
        //    td &#x2119;
        //    td 2119
        //    td
        //    td
        //    td
        //    td
        //  tr
        //    th(scope="row") double-struck capital q
        //    td &#x211a;
        //    td 211a
        //    td
        //    td
        //    td
        //    td
        //  tr
        //    th(scope="row") double-struck capital r
        //    td &#x211d;
        //    td 211d
        //    td
        //    td
        //    td
        //    td
        //  tr
        //    th(scope="row") double-struck capital z
        //    td &#x2124;
        //    td 2124
        //    td
        //    td
        //    td
        //    td
        tbody#greek
          tr: th.o-Box(scope="rowgroup" colspan="7") Greek Letters
          tr
            th(scope="row") Greek capital letter Alpha
            td &#x0391;
            td 0391
            td &amp;Alpha;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Beta
            td &#x0392;
            td 0392
            td &amp;Beta;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Gamma
            td &#x0393;
            td 0393
            td &amp;Gamma;
            td \Gamma
            td
            td
          tr
            th(scope="row") Greek capital letter Delta
            td &#x0394;
            td 0394
            td &amp;Delta;
            td \Delta
            td
            td
          tr
            th(scope="row") Greek capital letter Epsilon
            td &#x0395;
            td 0395
            td &amp;Epsilon;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Zeta
            td &#x0396;
            td 0396
            td &amp;Zeta;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Eta
            td &#x0397;
            td 0397
            td &amp;Eta;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Theta
            td &#x0398;
            td 0398
            td &amp;Theta;
            td \Theta
            td
            td
          tr
            th(scope="row") Greek capital letter Iota
            td &#x0399;
            td 0399
            td &amp;Iota;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Kappa
            td &#x039a;
            td 039a
            td &amp;Kappa;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Lambda
            td &#x039b;
            td 039b
            td &amp;Lambda;
            td \Lambda
            td
            td
          tr
            th(scope="row") Greek capital letter Mu
            td &#x039c;
            td 039c
            td &amp;Mu;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Nu
            td &#x039d;
            td 039d
            td &amp;Nu;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Xi
            td &#x039e;
            td 039e
            td &amp;Xi;
            td \Xi
            td
            td
          tr
            th(scope="row") Greek capital letter Omicron
            td &#x039f;
            td 039f
            td &amp;Omicron;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Pi
            td &#x03a0;
            td 03a0
            td &amp;Pi;
            td \Pi
            td
            td
          tr
            th(scope="row") Greek capital letter Rho
            td &#x03a1;
            td 03a1
            td &amp;Rho;
            td
            td
            td
          tr
            th(scope="row") 
            td &#x03a2;
            td 03a2
            td
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Sigma
            td &#x03a3;
            td 03a3
            td &amp;Sigma;
            td \Sigma
            td
            td
          tr
            th(scope="row") Greek capital letter Tau
            td &#x03a4;
            td 03a4
            td &amp;Tau;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Upsilon
            td &#x03a5;
            td 03a5
            td &amp;Upsilon;
            td \Upsilon
            td
            td
          tr
            th(scope="row") Greek capital letter Phi
            td &#x03a6;
            td 03a6
            td &amp;Phi;
            td \Phi
            td
            td
          tr
            th(scope="row") Greek capital letter Chi
            td &#x03a7;
            td 03a7
            td &amp;Chi;
            td
            td
            td
          tr
            th(scope="row") Greek capital letter Psi
            td &#x03a8;
            td 03a8
            td &amp;Psi;
            td \Psi
            td
            td
          tr
            th(scope="row") Greek capital letter Omega
            td &#x03a9;
            td 03a9
            td &amp;Omega;
            td \Omega
            td
            td
          tr
            th(scope="row") Greek small letter alpha
            td &#x03b1;
            td 03b1
            td &amp;alpha;
            td \alpha
            td
            td
          tr
            th(scope="row") Greek small letter beta
            td &#x03b2;
            td 03b2
            td &amp;beta;
            td \beta
            td
            td
          tr
            th(scope="row") Greek small letter gamma
            td &#x03b3;
            td 03b3
            td &amp;gamma;
            td \gamma
            td
            td
          tr
            th(scope="row") Greek small letter delta
            td &#x03b4;
            td 03b4
            td &amp;delta;
            td \delta
            td
            td
          tr
            th(scope="row") Greek small letter epsilon
            td &#x03b5;
            td 03b5
            td &amp;epsilon;
            td \epsilon
            td
            td
          tr
            th(scope="row") Greek small letter zeta
            td &#x03b6;
            td 03b6
            td &amp;zeta;
            td \zeta
            td
            td
          tr
            th(scope="row") Greek small letter eta
            td &#x03b7;
            td 03b7
            td &amp;eta;
            td \eta
            td
            td
          tr
            th(scope="row") Greek small letter theta
            td &#x03b8;
            td 03b8
            td &amp;theta;
            td \theta
            td
            td
          tr
            th(scope="row") Greek small letter iota
            td &#x03b9;
            td 03b9
            td &amp;iota;
            td \iota
            td
            td
          tr
            th(scope="row") Greek small letter kappa
            td &#x03ba;
            td 03ba
            td &amp;kappa;
            td \kappa
            td
            td
          tr
            th(scope="row") Greek small letter lambda
            td &#x03bb;
            td 03bb
            td &amp;lambda;
            td \lambda
            td
            td
          tr
            th(scope="row") Greek small letter mu
            td &#x03bc;
            td 03bc
            td &amp;mu;
            td \mu
            td
            td
          tr
            th(scope="row") Greek small letter nu
            td &#x03bd;
            td 03bd
            td &amp;nu;
            td \nu
            td
            td
          tr
            th(scope="row") Greek small letter xi
            td &#x03be;
            td 03be
            td &amp;xi;
            td \xi
            td
            td
          tr
            th(scope="row") Greek small letter omicron
            td &#x03bf;
            td 03bf
            td &amp;omicron;
            td
            td
            td
          tr
            th(scope="row") Greek small letter pi
            td &#x03c0;
            td 03c0
            td &amp;pi;
            td \pi
            td
            td
          tr
            th(scope="row") Greek small letter rho
            td &#x03c1;
            td 03c1
            td &amp;rho;
            td \rho
            td
            td
          tr
            th(scope="row") Greek small letter final sigma
            td &#x03c2;
            td 03c2
            td
            td \varsigma
            td
            td
          tr
            th(scope="row") Greek small letter sigma
            td &#x03c3;
            td 03c3
            td &amp;sigma;
            td \sigma
            td
            td
          tr
            th(scope="row") Greek small letter tau
            td &#x03c4;
            td 03c4
            td &amp;tau;
            td \tau
            td
            td
          tr
            th(scope="row") Greek small letter upsilon
            td &#x03c5;
            td 03c5
            td &amp;upsilon;
            td \upsilon
            td
            td
          tr
            th(scope="row") Greek small letter phi
            td &#x03c6;
            td 03c6
            td &amp;phi;
            td \phi
            td
            td
          tr
            th(scope="row") Greek small letter chi
            td &#x03c7;
            td 03c7
            td &amp;chi;
            td \chi
            td
            td
          tr
            th(scope="row") Greek small letter psi
            td &#x03c8;
            td 03c8
            td &amp;psi;
            td \psi
            td
            td
          tr
            th(scope="row") Greek small letter omega
            td &#x03c9;
            td 03c9
            td &amp;omega;
            td \omega
            td
            td
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
