doctype html
html
  head
    title Internet Explorer is Terrible.
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      body {
        font-family: 'Cambria',serif;
        font-size: 3rem;
        line-height: 2;
        text-align: center;
        text-rendering: optimizeLegibility;
        color: #454545;
        background-color: #00ccff;
        text-shadow: 2px 2px 10px #545454;
        margin-top: 6rem;
      }
      h1 {
        font-size: 6rem;
        line-height: 1;
        text-rendering: geometricPrecision;
      }
      a {
        font-size: 2rem;
        line-height: 3;
        text-decoration: none;
        color: #fff;
        opacity: 0.1;
        -ms-transition-property: opacity;
            transition-property: opacity;
        -ms-transition-duration: 250ms;
            transition-duration: 250ms;
      }
      a:hover {
        opacity: 1;
      }
  body
    main
      h1 Error.
      p(title="Do your PC a favor and install a respectable browser such as Google Chrome, Mozilla Firefox, Apple Safari, or Opera maybe.").
        Please uninstall Internet Explorer and try again.
      p(style="display:none;")
        a(href="#") Or, proceed at your own risk.
    script(src="https://code.jquery.com/jquery-2.0.3.min.js")
    script.
      $('p').css('display','')
      $('a').click(function () {
        if (window.confirm('Are you sure you want to continue, knowing that you have a terrible browser installed?')) {
          $(this).attr('href','index.html')
          window.alert('Click OK to proceed and acknowledge that you are willfully declining to install a newer, faster, better web browser, and by doing so, you are supporting an evil corporation that shamelessly makes the lives of all developers and users, like you, a living hell.')
        } else {
          $(this).attr('href','https://www.google.com/chrome/browser/desktop/')
        }
      })
