doctype html
html
  head
    title Blog Posts
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    link(rel="stylesheet" href="../styles/chharvey.css")
    style.
      dt {
        //- display: list-item;
        //- list-style-type: disc;
      }
      dd {
        display: none;
      }
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      header
        h1 Blog Posts
      dl
        dt: a(href="Classes-of-Classes.html") Classes of Classes (draft)
        dd: p.
          description
        dt: a(href="classical-music.html") Classical Music Cataloging System (released)
        dd: p.
          description
        dt: a(href="CSS-Architecture.html") CSS Architecture (draft)
        dd: p.
          description
        dt: a(href="css-guidelines.html") CSS guidelines (draft)
        dd: p.
          description
        dt: a(href="CSS-Naming-Convention.html") CSS-Naming-Convention (draft)
        dd: p.
          description
        dt: a(href="griddemo.html") grid demo (deprecated)
        dd: p.
          description
        dt: a(href="headings.html") The Semantics and Style of Nested Headings in Webkit (released)
        dd: p.
          description
        dt: a(href="html-entities.html") Chart of Commonly Used Unicode Characters
        dd: p.
          description
        dt: a(href="html-notes.html") html-notes.html
        dd: p.
          description
        dt: a(href="layout.html") layout.html
        dd: p.
          description
        dt: a(href="Lists.html") Lists.html
        dd: p.
          description
        dt: a(href="math-changing-world.html") math-changing-world.html
        dd: p.
          description
        dt: a(href="math-moodle.html") math-moodle.html
        dd: p.
          description
        dt: a(href="Object-Oriented-CSS.html") Object-Oriented-CSS.html
        dd: p.
          description
        dt: a(href="Page-Relationships.html") Page-Relationships.html
        dd: p.
          description
        dt: a(href="references-edu.html") references-edu.html
        dd: p.
          description
        dt: a(href="references-mathed.html") references-mathed.html
        dd: p.
          description
        dt: a(href="semantic-punctuation.html") semantic-punctuation.html
        dd: p.
          description
        dt: a(href="sort.html") sort.html
        dd: p.
          description
        dt: a(href="unicode.html") unicode.html
        dd: p.
          description
        dt: a(href="workflow-git.html") workflow-git.html
        dd: p.
          description
    script(src="/bower_components/jquery/dist/jquery.js")
