extends _blog.tpl.jade

block append vars
  - var page = Home.BLOG.find('lists.html').status(BlogPost.Status.DRAFT)

block docmeta
          dd.update
            time(datetime="2015-03-14 21:26" itemprop="dateModified") Mar 14, 2015 #[span.tod 9:26 PM]
            span.o-Textbox.c-Label.c-Label--dang.-ml-1 Latest

block append main
    div
      section
        h2 Vocabulary
        dl
          dt relevant order
          dd changing the order of the objects would change the outcome or semantics of the containing object
          dt irrelevant order
          dd changing the order of the objects would #[em not] change the outcome or semantics of the containing object
      section
        h2 Ordered and Unordered Lists
        p.
          If the order matters (#[+ie()], changing the order changes the meaning of the list or changes the result),
          then it should be an ordered list. If not, it should be unordered.
        p.
          A grocery list should be unordered, #[em unless] it is written in order of priority.
          A recipe is my favorite example of an ordered list because changing the order of steps could
          result in one effed up cake.
        section
          h3 Named List Items
          p.
            The order of the list may be irrelevant, yet one may want to refer to a particular list item.
          p.
            For example, on a grocery list, #[i see the third bullet] sounds less elegant than #[i see number 3]
            (Eggs). Ideally, the items&rsquo; names should #[em not] be connected to the order in which they
            appear, because changing the order of the items changes the name of the third item, for example.
            So #[i Eggs] is not necessarily always number 3.
          p.
            Clearly, in an ordered list, we already have a solution. The order of the items is relevant,
            and we still have a robust naming system. Yes, changing the order changes the name of number 3,
            but now we have a #[i different] list so it&rsquo;s okay. Step 3 is now different, but
            it&rsquo;s okay since the steps are rearranged.
          p: strong.
            But with unordered lists whose items need to be named, we need to come up with a new
            naming convention&hellip;
          p.o-Box.c-Alert.c-Alert--info
            strong.c-Alert__Title Note:
            | Any list #[em can] be made into an ordered list, as long as a (maybe arbitrary)
            |  specification is given. Whether it #[em should] is a different story.
            |  (Read #[a.c-Alert__Link(href="http://www.cut-the-knot.org/do_you_know/complex_compare.shtml") the lexicographical ordering of the complex numbers].)
      section
        h2 Association Lists
        p.
          An association list (#[code dl]) contains at least 0 term-description groups. A single
          #[dfn term-description group] consists of at least 1 term (#[code dt]) followed by at least
          1 description (#[code dd]).
        p.
          The order of the term-description groups is #[b irrelevant] by default. There is no
          standardized way to make them ordered, but authors may specify that
          #[strong the order of term-description groups is #[b relevant]] by using the #[code dl[data-*]] attribute.
          This does not, however, change the order of terms or descriptions within a particular
          term-description group. Those are #[b order-irrelevant] by default.
        section
          h3 Terms
          p.
            If there are multiple #[code dt] Elements in a particular term-description group, the order
            of terms is #[b irrelevant], and these terms are #[em alternative] such that either term or
            multiple terms, #[em but possibly not all] terms, are related to the description(s) in the same group.
          p.
            If authors want #[em all] terms to apply to a value in one term-description group, they must use
            a single #[code dt] Element containing only and exactly 1 #[code ul] or #[code ol] Element,
            whose #[code li] children correspond to the terms. A #[code dt &gt; ul:only-child] indicates
            that the terms in the term-description group are #[b unordered] (the default behavior, except
            that #[em all] terms are applicable). A #[code dt &gt; ol:only-child] indicates that the terms are
            #[b ordered].
          p.
            There are two term-description groups in the association list below. In the first, there are
            two alternative terms and one description. It is not necessary to use both terms. In the
            second group, there is one #[code dt] with two terms listed, and one description. Both of these
            terms apply to the description.
          pre.
            &lt;dl&gt;
              &lt;dt&gt;color&lt;/dt&gt;
              &lt;dt&gt;colour&lt;/dt&gt;
              &lt;dd&gt;the property of producing a sensation on the eye as a result of reflecting or emitting light&lt;/dd&gt;
              &lt;dt&gt;
                &lt;ul&gt;
                  &lt;li&gt;elephant&lt;/li&gt;
                  &lt;li&gt;hippopotamus&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/dt&gt;
              &lt;dd&gt;gray animals&lt;/dd&gt;
            &lt;/dl&gt;
        section
          h3 Descriptions
          p.
            If there are multiple #[code dd] Elements in a particular group, the order of descriptions is
            also #[b irrelevant], and the descriptions are #[em alternative] such that either or multiple, but
            #[em possibly not all], descriptions are related to the term(s) in the same group.
          p.
            If authors want #[em all] values to apply to a name in one term-description group, they must use
            a single #[code dd] Element containing only and exactly 1 #[code ul] or #[code ol] Element,
            whose #[code li] children correspond to the descriptions.
          pre.
            &lt;dl&gt;
                &lt;dt&gt;lead&lt;/dt&gt;
                &lt;dd&gt;the chemical element with atomic number 82&lt;/dd&gt;
                &lt;dd&gt;a blank space between lines of print&lt;/dd&gt;
                &lt;dt&gt;elephants&lt;/dt&gt;
                &lt;dd&gt;
                    &lt;ul&gt;
                        &lt;li&gt;are gray&lt;/li&gt;
                        &lt;li&gt;have long trunks&lt;/li&gt;
                        &lt;li&gt;never forget&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/dd&gt;
            &lt;/dl&gt;
