doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title General Education References
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="A list of useful resources in general education.")
    link(rel="stylesheet" href="/APA/APAstyle.css")
  body
    section.APA-referencelist
      h1.APA-heading-title References
      ul.
        <li itemprop="citation" class="gened" id="LadsonBillings1995a">Ladson-Billings, G. (<time>1995</time>). <cite>But that's just good teaching! The case for culturally relevant pedagogy</cite>. <i>Theory Into Practice, 34</i>(3), 159&ndash;165.</li>
        <li itemprop="citation" class="gened" id="LadsonBillings1995b">Ladson-Billings, G. (<time>1995</time>). <cite>Toward a theory of culturally relevant pedagogy</cite>. <i>American Educational Research Journal, 32</i>(3), 465&ndash;491.</li>
        <li itemprop="citation" class="gened" id="Ormrod2009">Ormrod, J. (<time>2009</time>). <i><cite>Essentials of educational psychology</cite></i> (2nd ed.). Upper Saddle River, NJ: Pearson Education, Inc.</li>
        <li itemprop="citation" class="gened" id="Rosenberg2008">Rosenberg, M. S., Westling, D. L., &amp; McLeskey, J. (<time>2008</time>). <i><cite>Special education for today's teachers: An introduction</cite></i>. Upper Saddle River, NJ: Pearson Education, Inc.</li>
        <li itemprop="citation" class="gened" id="College2009"><cite>College Facebook users have lower GPA's, more neurotic behavior</cite>. (<time>2009, September 29</time>). <i>News Channel 9</i>. Retrieved from <a href="http://www.newschannel9.com/news/facebook-985115-college-students.html">http://www.newschannel9.com/news/facebook-985115-college-students.html</a>.</li>
