doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Punctuation &in; Typography &in; Site Design
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="A brief overview of traditional convention regarding punctuation.")
    meta(name="keywords" content="HTML, language, punctuation")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/chharvey.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content.c-Document(data-status="draft" itemscope="" itemtype="https://schema.org/Article")
      header
        h1(itemprop="name headline") Punctuation
        p.o-GoldenContainer__Content__SideMinor.o-Box.o-Box--island.c-Alert.c-Alert--dang.
          This document is a work in progress.
        dl.c-Document__Meta
          dt Author
          dd(itemprop="author") Christopher H. Harvey
          dt Description
          dd(itemprop="description") A brief overview of traditional convention regarding punctuation.
          dt Keywords
          dd(itemprop="keywords") HTML
          dd(itemprop="keywords") punctuation
          dt Version History
          dd.update
            time(datetime="2014-06-20 11:44") Jun  6, 2014 #[span.tod 11:44 AM]
          dd.update
            time(datetime="2014-10-17 10:58") Oct 17, 2014 #[span.tod 10:58 AM]
          dd.update
            time(datetime="2014-10-23 20:38") Oct 23, 2014 #[span.tod  8:38 PM]
          dd.update
            time(datetime="2014-10-29 16:47") Oct 29, 2014 #[span.tod  4:47 PM]
          dd.update
            time(datetime="2014-12-04 19:43") Dec  4, 2014 #[span.tod  7:43 PM]
          dd.update
            time(datetime="2015-02-04 11:27") Feb  4, 2015 #[span.tod 11:27 AM]
          dd.update
            time(datetime="2015-04-30 15:25") Apr 30, 2015 #[span.tod  3:25 PM]
          dd.update
            time(datetime="2015-04-30 22:52") Apr 30, 2015 #[span.tod 10:52 PM]
          dd.update
            time(datetime="2015-06-15 21:40") Jun 15, 2015 #[span.tod  9:40 PM]
          dd.update(itemprop="dateModified")
            time(datetime="2015-07-30 16:26") Jul 30, 2015 #[span.tod  4:26 PM]
            span.o-Textbox.c-Label.c-Label--dang(class="!ml:1") Latest
      p.c-Lede.c-Lede--dropcap.
        This document provides suggested use for punctuation symbols when writing for
        the Web. First and foremost, #[strong punctuation should be used to mark up text]. The
        meaning we give to textual elements in the written language is primarily conveyed through
        punctuation, and if that fails, we turn to HTML. This isn&rsquo;t to say HTML is bad and that
        we shouldn&rsquo;t use it, but there is a line between not enough markup and too much markup.
      p(data-informative="").
        Let me ask you this: do you find yourself trying to decide whether to wrap a question
        with something like #[code &lt;i class=&quot;question&quot;&gt;]? After all, a question
        does indicate a change of tone (the #[code i] Element). Imagine having to type the code
        for each and every question, and don&rsquo;t forget about adding
        #[code .question::after {content: '?';}] to the CSS. No, we would rather simply type a
        question mark in the document. Now imagine having to mark up every sentence with
        #[code &lt;sntc&gt;] tag, or even worse, every word with #[code &lt;word&gt;].
      p(data-informative="").
        Truth be told, question marks, periods, and spaces give meaning to the sentences and
        words we write. Likewise, we should make the best use we can of spaces, commas, apostrophes,
        stops (including periods, question marks, and exclamation marks) hyphens, colons, dashes,
        ellipses, semicolons, quotation marks, and any other punctuation characters at our disposal,
        as we normally would on a typewriter.
      p(data-informative="").
        Without further ado, the number-one rule is this:
        #[strong if you can use punctuation to mark up text-level content, #[em do it]].
        Save yourself the time and effort on
        trying to decide on an HTML Element and just write naturally (as long as you consistently
        adhere to some prescribed manual of style&mdash;another post for another day). After that is
        all said and done, then it would be time to turn to the HTML Elements we know and love.
      p.
        This document is not meant to be a comprehensive manual for the written English
        language, so it is left to the discrection of the author (and/or his employer) to decide how to
        use punctuation.
      section#punct-common.c-Document__Released(data-status="released")
        h2 Common Punctuation
        del(class="!d:bk" datetime="2015-06-15 21:40")
          section#apostrophe.c-Document__Released(data-status="released")
            h3 The Apostrophe
            p.
              Normal and efficient typing would dictate that apostrophes, in both possessive
              nouns and contractions, use the apostrophe key on the keyboard (next to the
              #[kbd: kbd.o-Textbox.c-Key return] key). However, in very formal documents, such as those
              presented to peers or those soon to be published (in a blog, for example), authors are
              encouraged to use the #[b right single-quote] entity
              (#[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key shift] + #[kbd.o-Textbox.c-Key &#x005d;]]
              or #[code &amp;rsquo;]) as it is more typographically appropriate. See the
              examples below for differences in rendering.
            figure.crossgrid-lined.
              The word #[i(class="!fs:i") I&apos;m] is a contraction with a regular apostrophe,
              while the word #[i(class="!fs:i") Cody&rsquo;s] is a possessive noun that uses the right
              single-quote character. Notice the difference in characters.
            p.
              Use the regular apostrophe character (#[kbd: kbd.o-Textbox.c-Key &apos;]) in
              non-normative documents, drafts, #[i(lang="la"): abbr(title="et cetera") etc.]
              Also use it in code as another type of string
              delimiter. The #[code &amp;apos;] entity in HTML should only be used to escape
              the apostrophe character in an example of code.
            figure
              figcaption.c-Caption.
                The following snippet of HTML instructs authors how to
                use apostrophes in JavaScript code.
              pre.
                &lt;p&gt; To get a pop-up, call
                &lt;code&gt; alert( #[u &amp;apos;] Hello, world. #[u &amp;apos;] ); &lt;/code&gt;
                in the event. &lt;/p&gt;
        ins(class="!d:bk !pl:0" datetime="2015-07-30 16:26")
          section#apostrphe.c-Document__Draft(data-status="draft")
            h3 The Apostrophe
            section
              h4 Usage
              p.
                There is much debate on the correct use of the apostrophe. For brevity in this post,
                let it be a blanket rule that apostrophes shall be used only for contractions and
                possessive nouns, and they shall not be used for plurals.
                The following examples demonstrate correct usage according to these specifications.
              dl
                dt they&rsquo;re
                dd contraction of &ldquo;they&rdquo; and &ldquo;are&rdquo;
                dt the robot&rsquo;s room
                dd the room that belongs to the robot
                dt the robots&rsquo; room
                dd.
                  the room that belongs to all the robots
                  (there is no #[i s] after the apostrophe because there is already an added #[i s] in the plural of #[i robot])
                dt the child&rsquo;s room
                dd the room that belongs to the child
                dt the children&rsquo;s room
                dd.
                  the room that belongs to all the children
                  (there #[em is] an #[i s] after the apostrophe because there is no #[i s] in the plural of #[i child])
                dt Glados&rsquo;s voice
                dd.
                  the voice belongs to Glados
                  (there #[em is] an #[i s] after the apostrophe because the #[i s] in #[i Glados] is not added: it&rsquo;s part of the name)
                dt the #[abbr(title="Aperture Science Enrichment Center") ASEC]&rsquo;s testing facility
                dd the testing facility that belongs to the #[abbr(title="Aperture Science Enrichment Center") ASEC]
                dt the #[abbr(title="Aperture Science Enrichment Center") ASEC]s
                dd plural of the abbreviation #[i: abbr(title="Aperture Science Enrichment Center") ASEC]
                dt born in the &rsquo;80s
                dd contraction of #[i 1980s] (plural)
              p.o-Box.o-Box--island.c-Alert.c-Alert--info.
                #[strong.c-Alert__Title Note:]
                There is one case in which apostrophes may be used to indicate plurals:
                when the author is referring to the plural of a single, lower-case letter.
                However there are alternatives to this exception, which are preferable.
              figure
                p Dot your i&rsquo;s, cross your t&rsquo;s, and mind your p&rsquo;s and q&rsquo;s.
                p Dot your Is, cross your Ts, and mind your Ps and Qs.
                p Dot your #[i i]s, cross your #[i t]s, and mind your #[i p]s and #[i q]s.
                figcaption.
                  The last paragraph is the best alternative as it
                  #[a(rel="this" href="#scare-mention") uses the #[code i] Element to mention] the letters.
            section
              h4 Encoding
              p.
                Normal and efficient typing would dictate that apostrophes be encoded with
                #[b U+0027 Apostrophe (&apos;)], accessed by the #[b.o-Textbox.c-Key &apos;] key
                on the keyboard (next to the #[b.o-Textbox.c-Key return] key). Use this character in
                non-normative documents, drafts, emails, texts, #[i(lang="la"): abbr(title="et cetera") etc.]
                Also use it in code as another type of string delimiter, for example, to mark up a string
                within another string already delimited by #[a(rel="this" href="#quotes") quotation marks]. The
                #[code &amp;apos;] entity in HTML should only be used to escape
                the apostrophe character in an example of code.
              figure
                figcaption.c-Caption.c-Caption--before.
                  The following is a snippet showing a string inside an HTML attribute.
                pre &lt;button onclick=&quot;alert(#[u &apos;]Hello, world.#[u &apos;])&quot;&gt; click me &lt;/button&gt;
              figure
                figcaption.c-Caption.c-Caption--before.
                  The following is a snippet of HTML instructing how to use apostrophes in JavaScript code.
                pre.
                  &lt;p&gt; To get a pop-up, put
                    &lt;code&gt; alert(#[u &amp;apos;]Hello, world.#[u &amp;apos;]); &lt;/code&gt;
                    in the &lt;code&gt; onclick &lt;/code&gt; attribute. &lt;/p&gt;
              p.
                In very formal documents, such as those presented to peers or those soon to be published
                (in a blog, for example), authors are encouraged to use
                #[b U+2019 Right Single Quotation Mark (&rsquo;)]
                (#[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key shift] + #[kbd.o-Textbox.c-Key &#x005d;]]
                or #[code &amp;rsquo;]) as it is more typographically appropriate.
                This has been the consensus of the Unicode committee, but
                #[a(href="https://tedclancy.wordpress.com/2015/06/03/which-unicode-character-should-represent-the-english-apostrophe-and-why-the-unicode-committee-is-very-wrong/") opponents have been slowly gaining support].
              p.
                The prevailing argument is that since #[b U+2019] is technically a punctuation mark, which
                separates words, contractions and possessions are incorrectly interpreted as two separate
                words. This is simply not the case: the word #[i doesn&rsquo;t] is not two words
                #[i doesn] and #[i t], it&rsquo;s one single word
                (albeit a contraction of the two words #[i does] and #[i not]).
                Instead of using a punctuation mark, we should be using
                a letter-like symbol because it becomes part of the word.
              p.
                Perhaps a more convincing argument is that a right single quotation mark used as an
                apostrophe #[em does not have an opening quotation mark]. This causes problems in many
                text editors that pair delimiters, and word processors that have the ability to select text
                word-by-word. In the latter case, for example, double-clicking the #[i o] in
                #[i doesn&rsquo;t] would select #[i doesn], not the entire word. This is because the word
                treats the right single quotation mark as the end of a quoted phrase.
              p.
                Opponents submit that the correct encoding should be #[b U+02BC Modifier Letter Apostrophe (&#x02bc;)],
                which appears identical to the right single quotation mark.
              p.
                It is difficult to gain support, though.
                The Unicode committee says this character should be reserved for apostrophes representing
                modifier letters,
                #[a(cite="http://www.unicode.org/versions/Unicode7.0.0/ch06.pdf") for example, in transliterations to indicate a glottal stop].
                Furthermore, there is simply no
                easy keyboard shortcut for this character, and no HTML entity shorthand name. To mark it up,
                one must type #[code &amp;#x02bc;].
              figure.crossgrid-lined.
                The word #[i I&apos;m] is a contraction with a regular Apostrophe,
                while the word #[i Cody&rsquo;s] is a possessive noun that uses the
                Right Single Quotation Mark. The Modifier Letter Apostrophe, which does not break words
                but rather is treated as part of a word, is shown in the possessive plural
                #[i children&#x02bc;s].
              p.
                It is this author&rsquo;s opinion that there must be some middle ground. The
                #[b U+2019] is too far to the left, as the apostrophe is not used for
                quoting material, but the #[b U+02BC] is too far to the right, as the
                apostrophe is not used as a letter of the alphabet or to indicate pronounciation.
                I think there should be a third option&mdash;dare I suggest it be named the
                #[i Punctuation Apostrophe]&mdash;but perhaps it will be a very long time until the Unicode
                committee decides on a solution.
              p.
                For the time being, we must stick to the convention they have prescribed.
                #[strong Use #[b U+2019 Right Single Quotation Mark] for apostrophes in contractions and possessions.]
        section#quotes.c-Document__Released(data-status="released")
          h3 The Quotation Mark
          p.
            The #[b quotation mark] has many uses.
            Most people use it in plain text (think email, #[i(lang="la") circa] #[time 1996]) to
            show emphasis or importance,
            indicate a change in tone or voice,
            mark up an idiomatic expression or phrase, or
            highlight key words.
            When text formatting isn&rsquo;t available, people have to revert to
            punctuation to semantically mark up elements&mdash;the whole point of this article.
          p.
            In a quick-and-dirty setting such as one listed above, use the
            normal quotation mark character by typing
            #[kbd #[kbd.o-Textbox.c-Key shift] + #[kbd.o-Textbox.c-Key &apos;]].
            This produces an #[i ambidexterous] quotation mark and doesn&rsquo;t look too pretty
            from a typographical point of view.
          p.
            In formal documents such as technical reports and blog posts,
            use proper #[b left and right double-quote] entities
            (#[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key &#x005b;]] and
            #[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key shift] + #[kbd.o-Textbox.c-Key &#x005b;]],
            or #[code &amp;ldquo;] and #[code &amp;rdquo;])
            when you need to surround a phrase with quotation marks, for whatever reason.
          figure.crossgrid-lined
            p &quot;This sentence is surrounded with ambidexterous quotation mark characters.&quot;
            p &ldquo;This sentence is surrounded with the left double and right double quotation mark characters.&rdquo;
          p.
            In most cases though, these entities will not be needed. In the case of an
            actual quotation (spoken by a person, fictional or not), use the #[code q] Element,
            possibly with the #[code [cite]] attribute. In the case of
            #[a(rel="this" href="#scare-mention") scare quotes and mentions],
            use the #[code i] Element with appropriate CSS.
          p.
            There is one more thing worth mentioning: if you must #[b escape] the
            quotation mark character, the HTML entity is #[code &amp;quot;]. Use this only
            when demonstrating code in an example or figure. Otherwise, just use the
            normal quotation mark character.
      section#punct-pauses
        h2 Pauses and Interruptions
        section#comma.c-Document__Draft(data-status="draft")
          h3 The Comma
        section#colon.c-Document__Complete(data-status="complete")
          h3 The Colon
          p A colon separates a complete sentence and a list or example. See the figure below.
          figure.crossgrid-lined
            p The following sentence is correct: #[q I have two favorite hobbies: reading and writing.]
            p An incorrect usage would be: #[q My two favorite hobbies are: reading and writing.]
          p In general, a colon can almost always be replaced with the word #[i namely].
          p.
            A colon usually precedes a list or some sort of enumeration, either
            implicitly (in prose) or explicitly (via an actual bulleted or numbered list). Colons
            can also precede an example or illustration. See the introduction of each example above.
          p.
            The first letter of the first word following a colon is usually not capitalized.
            There are two exceptions: if the list items in a bulleted list that follow are capitalized,
            and if the colon separates a title and subtitle of, for example, a book.
        section#emdash.c-Document__Complete(data-status="complete")
          h3 The Dash
          p.
            When unspecified, the word #[i dash] almost always refers to the
            #[b em dash]
            (#[kbd #[kbd.o-Textbox.c-Key shift] + #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key -]] or #[code &amp;mdash;] in HTML).
          p.
            The single dash, like the colon, can be used to indicate a pause or
            interruption in prose. However, dashes are stronger and more informal than colons.
          figure.crossgrid-lined I have two hobbies: cooking and cleaning.
            figcaption.c-Caption.c-Caption--after This example could be read,  #[q I have two hobbies, and I&rsquo;m going to tell you what they are. Cooking and cleaning.]
          figure.crossgrid-lined I have two hobbies&mdash;cooking and cleaning.
            figcaption.c-Caption.c-Caption--after This one could be read, #[q I have two hobbies. Wait for it, wait for it. Cooking and cleaning!] This is not a good use of the em dash.
          figure.crossgrid-lined When we boarded the plane, we realized we only forgot one thing&mdash;the baby.
            figcaption.c-Caption.c-Caption--after This is a more appropriate use of the em dash.
          p.
            Don&rsquo;t use dashes for the boring or mundane. Dashes are dramatic. Also,
            notice the lack of spaces surrounding the dash. This is the common practice.
          p.
            Dashes are not hyphens. Hyphens (found next to the #[kbd: kbd.o-Textbox.c-Key 0])
            are used for compound words and a bunch of other stuff that I&rsquo;m not really sure
            about. But they don&rsquo;t indicate pauses. The same goes for #[b en dashes]
            (#[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key -]] or #[code &amp;ndash;]).
            En dashes indicate an inclusive range of numbers and could be replaced by the
            word #[i to].
        section#semicolon.c-Document__Complete(data-status="complete")
          h3 The Semicolon
          p.
            Use a semicolon to combine two closely related clauses: clauses that are too
            close to be separate sentences. There should be a complete clause on each side of the
            semicolon, and there should not be a conjunction immediately following the semicolon.
            A correct usage followed by an incorrect usage is shown below.
          figure.crossgrid-lined Nationally, the ratio is about 800 students per administrator; Maine is about 400 to 1, suggesting a waste of funds.
            figcaption.c-Caption.c-Caption--after.
              The first and second clauses are sufficiently closely related that they
              should be in the same sentence.
          figure.crossgrid-lined The national ratio of students to administrators is about 800 to 1; however in Maine the ratio is lower, suggesting a waste of funds.
            figcaption.c-Caption.c-Caption--after.
              In this example, the semicolon should be replaced with a comma or a period.
          p.
            Semicolons are also sometimes used to separate phrases that may contain smaller
            phrases with commas. In this case, using commas to separate big list items as well as
            smaller list items is too confusing, so the semicolon makes a distinction.
          figure.crossgrid-lined Your essay should contain five paragraphs: an introduction, which contains a thesis statement and establishes three points; three body paragraphs, one for each point; and a conclusion, or summary.
            figcaption.c-Caption.c-Caption--after.
              The directions contain three list items, but each list item contains
              non-restrictive clauses, which use commas. Thus semicolons are used to separate
              the list items.
        section#ellipsis.c-Document__Complete(data-status="complete")
          h3 The Ellipsis
          p.
            Contrary to its appearance, the ellipsis is one character. It is not three periods
            in a row, nor is it three periods separated by spaces. The
            ellipsis#[sup: a#rf-ellipses.Rf(rel="this" href="#fn-ellipses") 1]
            can be accessed
            via #[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key ;]], or the character
            entity #[code &amp;hellip;] in HTML. It is convention to insert a single space before and
            after each ellipsis, therefore treating it as a normal word or group of words.
          p.
            There are two main uses of the ellipsis. The first, which
            may be used in formal writing, is within quoted material. (In HTML, direct quotes should be
            contained in a #[code q] Element or #[code blockquote] Element, depending on a number
            of variables.) Within a directly-quoted passage, an ellipsis indicates an omission of material
            that was present in the original quotation, but removed in the written reproduction for various
            purposes. These reasons might include making the reproduction more consise or more understandable.
            In any case, the quote must maintain grammatical sense and it must maintain its original semantics.
          p.
            The second use of the ellipsis is more informal than the first, and as such, the
            rules for using it are much less strict. In informal writing (such as emails or text messages),
            the ellipsis may be used to indicate a pause or break in the writer&rsquo;s train of
            thought&mdash;much like a dash. In contrast with the dash, though, the ellipsis indicates a stronger
            or longer pause, which might be
            #[q(cite="http://grammar.quickanddirtytips.com/chicago-style.aspx") accompanied by confusion, insecurity, distress, or uncertainty.]
            #[q(cite="http://www.quickanddirtytips.com/education/grammar/ellipses?page=1") Dashes &hellip; should be reserved for more &hellip; decisive pauses.]
            One final contrast is that the dash
            should not be surrounded by spaces, while the ellipsis should.
          footer
            ul.c-ListFootnotes
              li.
                #[sup: a#fn-ellipses.Fn(rel="this" href="#rf-ellipses") 1]
                The plural form of a singular ellipsis is #[i ellipses], not to be confused with the homonyn
                #[a(rel="external" href="https://en.wikipedia.org/wiki/Ellipse") #[i ellipses], a set of closed conic sections].
      section#punct-phrases.c-Document__Complete(data-status="complete")
        h2 Separated Phrases
        section#parens
          h3 Parentheses
          p.
            A single open parenthesis begins an aside and is always paired with a closing
            parenthesis. Together, these two parentheses separate the aside from the surrounding prose.
          p.
            The phrase inside the parentheses is extraneous information (which means it
            could be removed without disrupting the flow of prose or changing its meaning). The
            sentence you just read was a bad example of using parentheses because the remark inside
            was integral to the sentence (it explained what #[i extraneous information]
            meant). That last one was okay, though. When deciding whether to use parentheses,
            #[q Is this information a necessary part of the sentence?]
            If not, it&rsquo;s okay to place it in parentheses.
          figure.crossgrid-lined.
            They fled through the woods, and then found George (dear, sweet George
            the accountant) lying dead in the creek.
        section#emdash-phrase
          h3 Dashes: Part Two
          p.
            The em dash&mdash;apart from indicating a pause&mdash;can also be used with
            a twin to indicate asides. In contrast to parentheses, dashes are used to highlight
            a phrase and bring it to the reader&rsquo;s attention. Remember, dashes are dramatic.
            If the aside were removed, the sentence would convey a different mood because that
            information removed would no longer be worth any attention.
          p.
            The first sentence in the preceeding paragraph uses a pair of em dashes to
            highlight the fact that em dashes have another function: they may indicate a pause.
            Re-read the sentence without the aside
            (#[q(cite="#emdash-phrase") The em dash can also be used with a twin&hellip;])
            and see how the meaning changes.
          p.
            Again, the dashes should be adjacent to the words inside and out. There
            should be no immediate spaces or punctuation next to the dash.
          figure.crossgrid-lined.
            They fled through the woods, and then George&mdash;dear, sweet George
            the accountant&mdash;jumped out and stabbed them.
        section#comma2
          h3 Commas: Part Two
          p.
            There are just too many rules about commas, so I won&rsquo;t talk about
            them all. But below are a few examples of when commas can be used to separate a clause
            from a sentence.
          section
            h4 Appositives
            figure.crossgrid-lined.
              My first dog, Axel, was found astray.
            p.
              Axel&rsquo;s name is unnecessarily included because I can only have one
              first dog. Thus we surround his name with commas.
              His name and the commas may be removed without changing the
              sentence&rsquo;s semantics. A counterexample would be, #[q My dog Axel was found astray.]
              If I have more than one dog, I need to clarify which one was found astray
              in this case. I can&rsquo;t surround his name with commas.
          section
            h4 Nonrestrictive Clauses
            figure.crossgrid-lined.
              Diamonds, which are expensive, aren&rsquo;t something I buy often.
            p.
              All diamonds are expensive, so there&rsquo;s no need to indicate this in
              the sentence. The commas indicate the clause is unnecessary.
              Remove the phrase and commas and the meaning stays the same. On the
              other hand, #[i Diamonds that are found in the ocean are very rare] is not
              a nonrestrictive clause (it&rsquo;s a restrictive clause) because it distinguishes
              diamonds that are found in the ocean from other diamonds. We can&rsquo;t surround
              the clause #[q(cite="#comma2") that are found in the ocean] with commas.
            ins(class="!d:bk" datetime="2015-04-30 15:25")
              p.
                One general rule of thumb is that nonrestrictive causes (with commas) contain the word
                #[i which], and restrictive clauses (without commas) contain the word #[i that].
                Of course, this rule is very lax and there are many exceptions.
      section#punct-expressions.c-Document__Released(data-status="released")
        h2 Other Expressions
        section#scare-mention
          h3 Scare Quotes and Mentions
          ins(class="!d:bk" datetime="2014-08-06 00:18")
            p.
              This section describes the use of an HTML Element, in particular,
              the #[code i] Element. As such, it no longer belongs in this document. It
              is here only for historical purposes.
          p.
            Mark up scare quotes and mentions with the
            #[del(datetime="2014-08-06 00:18") #[b left and right double-quote] entities (#[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key &#x005b;]] and #[kbd #[kbd.o-Textbox.c-Key option] + #[kbd.o-Textbox.c-Key shift] + #[kbd.o-Textbox.c-Key &#x005b;]], or #[code &amp;ldquo;] and #[code &amp;rdquo;])]
            #[ins(datetime="2014-08-06 00:18") #[code i] Element].
            Do not use the #[code q] Element.
            #[ins(datetime="2014-08-06 00:18") Continue reading for more information about scare quotes and mentions.]
          p.
            #[a(rel="external" href="https://en.wikipedia.org/wiki/Scare_quotes"): dfn#d-scare-quote Scare quotes]
            are expressions that abuse
            vocabulary or language, sarcastic expressions, double entendres, metaphors or analogies,
            onomatopoeias, and other idioms of the like. In spoken language, people typically
            indicate scare quotes by making
            #[del(datetime="2015-02-04 11:27") the quote signs]
            #[ins(datetime="2015-02-04 11:27"): a(rel="external" href="https://en.wikipedia.org/wiki/Air_quotes") air quotes]:
            by holding their hands up and bending
            the first two fingers on each hand. If you would do this while speaking a word or phrase,
            it&rsquo;s most likely a scare quote.
          figure.crossgrid-lined.
            My hair is not #[i black;] it&rsquo;s just very dark brown.
          figure.crossgrid-lined.
            Yeah, I&rsquo;m #[i sorry] your cat found his way into my yard when the dog was hungry.
          p.
            A #[dfn#d-mention mention] refers to an explicit word or phrase
            without conveying meaning to the sentence. If the word or phrase could be replaced with
            nonsense and the sentence would still be syntactically correct, then it is a mention.
            However, if the word or phrase is integral to the meaning of the sentence, then
            #[a(rel="external" href="http://en.wikipedia.org/wiki/Use%E2%80%93mention_distinction") it is not being #[em mentioned], but rather #[em used]].
          figure.crossgrid-lined Don&rsquo;t use #[i equals] when you mean #[i implies].
            figcaption.c-Caption.c-Caption--after.
              In this example, the words #[i equals] and
              #[i implies] are #[em mentioned] because the author is referring to
              the actual words. They can be replaced with nonsense words and the sentence would
              still be syntactically correct.
          figure.crossgrid-lined
            p #[q Infection equals fever,] said Foreman.
            p Cameron corrected him.
              q.
                No, infection #[em implies] fever. She could still have a fever and not have an
                infection. It could be autoimmune.
            figcaption.c-Caption.c-Caption--after.
              The words #[i equals] and #[i implies] are #[em used] in this example.
          p.
            There is no specific markup for indicating used phrases since their semantics are
            already integral to the Element they are in.
            #[ins(datetime="2015-04-30 22:52") In the example above, the word #[i implies] is marked up with #[code &lt;em&gt;] only because Cameron used stress emphasis to correct Foreman.]
      footer.c-Document__Draft(data-status="draft")
        h1 References
        ul
          li(itemprop="citation") http://www.quickanddirtytips.com/education/grammar/colons
          li(itemprop="citation") http://www.quickanddirtytips.com/education/grammar/dashes-colons-and-commas
          li(itemprop="citation") http://www.quickanddirtytips.com/education/grammar/dashes-parentheses-and-commas
          li(itemprop="citation") http://www.quickanddirtytips.com/education/grammar/ellipses
          li(itemprop="citation") http://conventionallanguage.blogspot.com/2008/07/4-semicolon-colon-dash-hyphen-and.html
          li(itemprop="citation") https://owl.english.purdue.edu/owl/resource/566/01/
          li(itemprop="citation") https://owl.english.purdue.edu/owl/resource/604/01/
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
