// main: ../../core.less

/*##################*\
    _headings.less
\*##################*/


// colors for headings
@color_h_major: @lakesuperior;
@color_h_minor: @facilityabyss;

/**
  * This Interface represents a generic textual heading of a section, post, article, or document.
  * It does not represent a heading in a table. See the `.Cell.Hc` Object.
@implements
: .vru-content()
@tags
: #typography
: #heading
: #section
@author
: Chris Harvey
@updated
: 2014-10-21
  */
.heading(@font_size, @line_height, @spacing_top, @spacing_bottom) {
  // .vru-content();
  // display: block;
  .vru-top(@spacing_top);
  .vru-bottom(@spacing_bottom);
  font-size: @font_size;
  line-height: @line_height;
  font-family: @fontfam_heading;
  letter-spacing: 1px;
  // text-align: left; // why is this here?
}
// @fontsize_ratio_alpha:   (48/16); // 3.0000rem
// @fontsize_ratio_beta:    (35/16); // 2.1875rem
// @fontsize_ratio_gamma:   (26/16); // 1.6250rem
// @fontsize_ratio_delta:   (21/16); // 1.3125rem
// @fontsize_ratio_epsilon: (18/16); // 1.1250rem
// @fontsize_ratio_zeta:    (16/16); // 1.0000rem

@font_size_alpha:   ((48/16) * 1rem); // 3.0000rem
@font_size_beta:    ((35/16) * 1rem); // 2.1875rem
@font_size_gamma:   ((26/16) * 1rem); // 1.6250rem
@font_size_delta:   ((21/16) * 1rem); // 1.3125rem
@font_size_epsilon: ((18/16) * 1rem); // 1.1250rem
@font_size_zeta:    ((16/16) * 1rem); // 1.0000rem
@line_height_alpha:   (@lineheight_base / @font_size_alpha);
@line_height_beta:    (@lineheight_base / @font_size_beta);
@line_height_gamma:   (@lineheight_base / @font_size_gamma);
@line_height_delta:   (@lineheight_base / @font_size_delta);
@line_height_epsilon: (@lineheight_base / @font_size_epsilon);
@line_height_zeta:    (@lineheight_base / @font_size_zeta);
/**
  * The six Objects below represent different levels of headings, starting from top-level to level 6.
@implements
: .heading()
@tags
: #typography
: #heading
: #section
: #golden
@author
: Chris Harvey
@updated
: 2014-10-21
  */
.H--Alp {
  .heading(@font_size_alpha, 2 * @line_height_alpha, 2 * @phi1, 2 * @phi2);
  // 2 * @phi1 + 2 * @phi2 == 2
  // 2 * @phi1 / 2 * @phi2 == 1.618
  font-variant: small-caps;
  text-align: center;
  color: @color_h_major;
}
.H--Bet {
  .heading(@font_size_beta, 2 * @line_height_beta, 1.447, 0.553);
  // find formulas to express these numbers
  // 1.447 + 0.553 == 2
  // 1.447 / 0.553 == 2.618 == (1.618)^2
  .border-vert-one(bottom; 1px; solid; @color_h_minor);
  color: @color_h_minor;
}
.H--Gam {
  .heading(@font_size_gamma, @line_height_gamma, 1 * @phi1, 1 * @phi2);
  // 1 * @phi1 + 1 * @phi2 == 1
  // 1 * @phi1 / 1 * @phi2 == 1.618
  font-variant: small-caps;
}
.H--Del {
  .heading(@font_size_delta, @line_height_delta, 0.724, 0.276);
  // find formulas to express these numbers
  // 0.724 + 0.276 == 1
  // 0.724 / 0.276 == 2.618 == (1.618)^2
  font-style: italic;
}
.H--Eps {
  .heading(@font_size_epsilon, @line_height_epsilon, 0, 0);
  font-style: italic;
  font-weight: normal;
  color: @color_h_minor;
}
.H--Zet {
  .heading(@font_size_zeta, @line_height_zeta, 0, 0);
  font-style: italic;
  font-weight: normal;
  font-variant: small-caps;
}
/**
  * This Object represents a generic tagline for a top-level heading, called a 'subheading'.
  * Do not include this object as a component of an `.H--Alp` Object. (It will become part of the
  * document outline if you do.) Instead, this tagline should be the adjacent sibling to the
  * corresponding `.H--Alp`.
  * Use this Object to represent subtitles for top-level headings only (`.H--Alp`). There is no need
  * to use it for minor headings (`.H--Bet`, `.H--Gam`, etc.).
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2014-10-21
  */
.H--Sub {
  @this_fontsize: 2rem;
  font-size: @this_fontsize;
  line-height: (2 * @lineheight_base / @this_fontsize);
  font-style: italic;
  font-weight: normal;
  font-family: @fontfam_script;
  text-align: center;
  color: @color_accent;
}

/**
  * A fancy heading for the portfolio pages.
  * The `.Normal` subclass adds a hidden
  * U+0001 = "start of heading" character
  * so that the `::first-letter` selector does not apply to any visual characters
@extends
: .H--Alp
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2015-02-08
  */
// .H--Alp.Folio {
//   @this_fontsize: @font_size_alpha;
//   font-size: @this_fontsize;
//   line-height: (2 * @lineheight_base / @this_fontsize);
//   .vru-top(4);
//   .vru-bottom(2);
//   font-weight: normal;
//   font-variant: normal;
//   font-family: @fontfam_script;
//   letter-spacing: normal;
//   white-space: nowrap;
//   .Cap { // ::first-letter is buggy, manually add `span.Cap`
//     font-size: 2 * @this_fontsize;
//     line-height: (@lineheight_base / (2 * @this_fontsize));
//     font-family: 'Snell Roundhand',@fontfam_script;
//   }
// }
.H--Folio {
  @this_fontsize: @font_size_alpha;
  font-size: @this_fontsize;
  line-height: (2 * @lineheight_base / @this_fontsize);
  .vru-top(4);
  .vru-bottom(2);
  font-weight: normal;
  font-family: @fontfam_script;
  text-align: center;
  white-space: nowrap;
  color: @color_h_major;
  .Cap { // ::first-letter is buggy, manually add `span.Cap`
    font-size: 2 * @this_fontsize;
    line-height: (@lineheight_base / (2 * @this_fontsize));
    font-family: 'Snell Roundhand',@fontfam_script;
  }
}
