// main: ../../core.less

/*##################*\
    _headings.less
\*##################*/


// colors for headings
@color_h_major: @lakesuperior;
@color_h_minor: @facilityabyss;

/**
  * The six levels of headings.
@implements
: .heading()
: .font-size-block()
@tags
: #typography
: #heading
: #section
: #golden
@author
: Chris Harvey
@updated
: 2015-02-11
  */
@font_size_h1: (48/16); // 3.0000
@font_size_h2: (35/16); // 2.1875
@font_size_h3: (26/16); // 1.6250
@font_size_h4: (21/16); // 1.3125
@font_size_h5: (18/16); // 1.1250
@font_size_h6: (16/16); // 1.0000
/**
  * This Interface represents a generic textual heading of a section, post, article, or document.
  * It does not represent a heading in a table. See the `.Cell.Hc` Object.
@params
: @font_size      : value of the font-size property. Must be in rems.
: @line_height    : value of the parent line-height property. Must be unitless.
: @spacing_top    : unitless number for the `.vru-top(@ratio)` mixin.
: @spacing_bottom : unitless number for the `.vru-bottom(@ratio)` mixin.
@implements
: .vru-content()
@tags
: #typography
: #heading
: #section
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2015-02-11
  */
.heading(@font_size, @line_height, @spacing_top, @spacing_bottom) {
  .vru-top(@spacing_top);
  .vru-bottom(@spacing_bottom);
  .font-size-block(@font_size, @line_height);
}
h1, h2, h3, h4, h5, h6 {
  font-family: @fontfam_heading;
  // letter-spacing: 1px;
}
h1 {
  .heading(@font_size_h1, (@line_height_base * 2), (2 * @phi1), (2 * @phi2));
  // 2 * @phi1 + 2 * @phi2 == 2
  // 2 * @phi1 / 2 * @phi2 == @phi_inv1
  font-variant: small-caps;
  text-align: center;
  color: @color_h_major;
}
h2 {
  .heading(@font_size_h2, (@line_height_base * 2), 1.447, 0.553);
  // find formulas to express these numbers
  // 1.447 + 0.553 == 2
  // 1.447 / 0.553 == 2.618 == (@phi_inv1)^2
  .border-vert-one(bottom; 1px; solid; @color_h_minor);
  color: @color_h_minor;
}
h3 {
  .heading(@font_size_h3, @line_height_base, (1 * @phi1), (1 * @phi2));
  // 1 * @phi1 + 1 * @phi2 == 1
  // 1 * @phi1 / 1 * @phi2 == @phi_inv1
  font-variant: small-caps;
}
h4 {
  .heading(@font_size_h4, @line_height_base, 0.724, 0.276);
  // find formulas to express these numbers
  // 0.724 + 0.276 == 1
  // 0.724 / 0.276 == 2.618 == (@phi_inv1)^2
  font-style: italic;
}
h5 {
  .heading(@font_size_h5, (@line_height_base / 2), (0.5 * @phi1), (0.5 * @phi2));
  // 0.5 * @phi1 + 0.5 * @phi2 == 0.5
  // 0.5 * @phi1 / 0.5 * @phi2 == @phi_inv1
  font-style: italic;
  font-weight: normal;
  color: @color_h_minor;
}
h6 {
  .heading(@font_size_h6, (@line_height_base / 2), 0.362, 0.138);
  // find formulas to express these numbers
  // 0.362 + 0.138 == 0.5
  // 0.362 / 0.138 == (@phi_inv1)^2
  font-style: italic;
  font-weight: normal;
  font-variant: small-caps;
}
/**
  * This Object represents a generic tagline for a top-level heading, called a 'subheading'.
  * Do not include this object as a component of a heading Element. (It will become part of the
  * document outline if you do.) Instead, this tagline should be the adjacent sibling to the
  * corresponding heading.
  * Use this Object to represent subtitles for top-level headings only (`h1`). There is no need
  * to use it for minor headings (`h2`–`h6`).
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2015-02-11
  */
.H--Sub {
  .font-size-block(2, 2 * @line_height_base);
  font-style: italic;
  font-weight: normal;
  font-family: @fontfam_script;
  text-align: center;
  color: @color_accent;
}

/**
  * A fancy heading for the portfolio pages.
  * The `.Normal` subclass adds a hidden
  * U+0001 = "start of heading" character
  * so that the `::first-letter` selector does not apply to any visual characters
@implements
: .font-size-block()
: .vru-top()
: .vru-bottom()
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2015-02-11
  */
.H--Folio {
  @this_fontsize: @font_size_h1;
  .font-size-block(@this_fontsize, 2 * @line_height_base);
  .vru-top(4);
  .vru-bottom(2);
  font-variant: normal;
  font-weight: normal;
  font-family: @fontfam_script;
  text-align: center;
  white-space: nowrap;
  color: @color_h_major;
  .Cap { // ::first-letter is buggy, manually add `span.Cap`
    .font-size-block(2 * @this_fontsize, @line_height_base);
    font-family: 'Snell Roundhand',@fontfam_script;
  }
}
