// main: ../../core.less

/*##################*\
    _headings.less
\*##################*/


// colors for headings
@color_h_major: @lakesuperior;
@color_h_minor: @facilityabyss;

/**
  * This Interface represents a generic textual heading of a section, post, article, or document.
  * It does not represent a heading in a table. See the `.Cell.Hc` Object.
@params
: @font_size      : value of the font-size property. Must be in rems.
: @line_height    : value of the line-height property. Must be unitless.
: @spacing_top    : unitless number for the `.vru-top(@ratio)` mixin.
: @spacing_bottom : unitless number for the `.vru-bottom(@ratio)` mixin.
@implements
: .vru-content()
@tags
: #typography
: #heading
: #section
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-10-21
  */
.heading(@font_size, @line_height, @spacing_top, @spacing_bottom) {
  // .vru-content();
  // display: block;
  .vru-top(@spacing_top);
  .vru-bottom(@spacing_bottom);
  font-size: @font_size;
  line-height: @line_height;
  font-family: @fontfam_heading;
  letter-spacing: 1px;
}
@font_size_alpha:   ((48/16) * 1rem); // 3.0000rem
@font_size_beta:    ((35/16) * 1rem); // 2.1875rem
@font_size_gamma:   ((26/16) * 1rem); // 1.6250rem
@font_size_delta:   ((21/16) * 1rem); // 1.3125rem
@font_size_epsilon: ((18/16) * 1rem); // 1.1250rem
@font_size_zeta:    ((16/16) * 1rem); // 1.0000rem
@line_height_alpha:   (@line_height_base / @font_size_alpha);
@line_height_beta:    (@line_height_base / @font_size_beta);
@line_height_gamma:   (@line_height_base / @font_size_gamma);
@line_height_delta:   (@line_height_base / @font_size_delta);
@line_height_epsilon: (@line_height_base / @font_size_epsilon);
@line_height_zeta:    (@line_height_base / @font_size_zeta);
/**
  * The six Objects below represent different levels of headings, starting from top-level to level 6.
@implements
: .heading()
@tags
: #typography
: #heading
: #section
: #golden
@author
: Chris Harvey
@updated
: 2014-10-21
  */
.H--Alp {
  .heading(@font_size_alpha, (@line_height_alpha * 2), (2 * @phi1), (2 * @phi2));
  // 2 * @phi1 + 2 * @phi2 == 2
  // 2 * @phi1 / 2 * @phi2 == @phi_inv1
  font-variant: small-caps;
  text-align: center;
  color: @color_h_major;
}
.H--Bet {
  .heading(@font_size_beta, (@line_height_beta * 2), 1.447, 0.553);
  // find formulas to express these numbers
  // 1.447 + 0.553 == 2
  // 1.447 / 0.553 == 2.618 == (@phi_inv1)^2
  .border-vert-one(bottom; 1px; solid; @color_h_minor);
  color: @color_h_minor;
}
.H--Gam {
  .heading(@font_size_gamma, @line_height_gamma, (1 * @phi1), (1 * @phi2));
  // 1 * @phi1 + 1 * @phi2 == 1
  // 1 * @phi1 / 1 * @phi2 == @phi_inv1
  font-variant: small-caps;
}
.H--Del {
  .heading(@font_size_delta, @line_height_delta, 0.724, 0.276);
  // find formulas to express these numbers
  // 0.724 + 0.276 == 1
  // 0.724 / 0.276 == 2.618 == (@phi_inv1)^2
  font-style: italic;
}
.H--Eps {
  .heading(@font_size_epsilon, (@line_height_epsilon / 2), (0.5 * @phi1), (0.5 * @phi2));
  // 0.5 * @phi1 + 0.5 * @phi2 == 0.5
  // 0.5 * @phi1 / 0.5 * @phi2 == @phi_inv1
  font-style: italic;
  font-weight: normal;
  color: @color_h_minor;
}
.H--Zet {
  .heading(@font_size_zeta, (@line_height_zeta / 2), 0.362, 0.138);
  // find formulas to express these numbers
  // 0.362 + 0.138 == 0.5
  // 0.362 / 0.138 == (@phi_inv1)^2
  font-style: italic;
  font-weight: normal;
  font-variant: small-caps;
}
/**
  * This Object represents a generic tagline for a top-level heading, called a 'subheading'.
  * Do not include this object as a component of an `.H--Alp` Object. (It will become part of the
  * document outline if you do.) Instead, this tagline should be the adjacent sibling to the
  * corresponding `.H--Alp`.
  * Use this Object to represent subtitles for top-level headings only (`.H--Alp`). There is no need
  * to use it for minor headings (`.H--Bet`, `.H--Gam`, etc.).
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2015-02-11
  */
.H--Sub {
  .font-size-block(2, 2 * @line_height_base);
  font-style: italic;
  font-weight: normal;
  font-family: @fontfam_script;
  text-align: center;
  color: @color_accent;
}

/**
  * A fancy heading for the portfolio pages.
  * The `.Normal` subclass adds a hidden
  * U+0001 = "start of heading" character
  * so that the `::first-letter` selector does not apply to any visual characters
@extends
: .H--Alp
@implements
: .font-size-block()
: .vru-top()
: .vru-bottom()
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2015-02-11
  */
.H--Folio {
  @this_fontsize: @font_size_alpha;
  .font-size-block(@this_fontsize, 2 * @line_height_base);
  .vru-top(4);
  .vru-bottom(2);
  font-weight: normal;
  font-family: @fontfam_script;
  text-align: center;
  white-space: nowrap;
  color: @color_h_major;
  .Cap { // ::first-letter is buggy, manually add `span.Cap`
    .font-size-block(2 * @this_fontsize, @line_height_base);
    font-family: 'Snell Roundhand',@fontfam_script;
  }
}
