// main: ../../all.less

/*##############*\
    _maps.less
\*##############*/


/**
  * This Object represents an association list, which contains term-description pairs. Each pair
  * consists of exactly one `.Term` and exactly one `.Desc`.
@implements
: .vru-content
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-08-07
  */
.Map {
	&:extend(.vru-content);
	display: block;
}
/**
  * This Object represent the term in a term-description pair of a `.Map`.
@belongsto
: .Map
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-10-05
  */
.Map > .Term {
	font-weight: bold;
}
/**
  * This Object represent the description in a term-description pair of a `.Map`.
@belongsto
: .Map
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-10-05
  */
.Map > .Desc {}
.Map {
	> .Desc + .Term {.vru-top(1);}
}
/**
  * This Object represents an association list in which corresponding terms and descriptions are
  * grouped together in rows.
  * This map acts like a table, with each row containing a single term-description group.
  * Multiple terms and multiple descriptions in the same group are in the same row.
@extends
: .Map
@implements
: .clearfix
@tags
: #typography
: #map
: #golden
@author
: Chris Harvey
@updated
: 2014-10-05
  */
@descpadding: @golden8;
.Map.Horiz {
	&:extend(.clearfix all);
	> .Term {
		width: @golden2;
		margin-top: 0; // undo .vru-top(1); from .Map > .Term
		float: left;
		clear: both;
		overflow: auto;
		white-space: nowrap;
	}
	> .Desc {
		width: (@golden1 - @descpadding);
		padding-left: @descpadding;
		float: left;
	}
	> .Desc + .Desc {margin-left: @golden2;}
}
.map-horiz-mx(@namewidth) {
	> .Term {width: @namewidth;}
	> .Desc {width: ((100% - @namewidth) - @descpadding);}
}
.Map.Horiz.Sml {.map-horiz-mx(@golden3);}   // 23.6067977499789696%
.Map.Horiz.Msm {.map-horiz-mx(@golden2);}   // 38.1966011250105152% // default
.Map.Horiz.Med {.map-horiz-mx(@1o2);}       // 50%
.Map.Horiz.Mlg {.map-horiz-mx(@golden1);}   // 61.8033988749894848%
.Map.Horiz.Lrg {.map-horiz-mx(@golden3c);}  // 76.3932022500210304%

// /*dl*/.dl--ordered {
// 	> dt:first-child,
// 	> dd + dt {
// 		display: list-item;
// 		list-style-type: decimal;
// 		list-style-position: outside;
// 	}
// }
