// main: ../../core.less

/*##############*\
    _maps.less
\*##############*/


/**
  * This Object represents an association list, which contains term-description pairs. Each pair
  * consists of exactly one `.Term` and exactly one `.Desc`.
@implements
: .vru-content()
: .follows-heading()
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-10-19
  */
dl {
  // .vru-content();
  // .follows-heading(1);
  // display: block;
  > dt,
  > dd {
    > ol,
    > ul {
      .vru-bottom(0);
      padding-left: 2rem;
    }
  }
  /**
    * This Object represent the term in a term-description pair of a `.Map`.
  @implements
  : .vru-top() only when following a `.Desc`
  @tags
  : #typography
  : #map
  @author
  : Chris Harvey
  @updated
  : 2015-01-22
    */
  > dt {
    // .vru-content();
    // display: block;
    // font-weight: bold;
  }
  /**
    * This Object represent the description in a term-description pair of a `.Map`.
  @belongsto
  : .Map
  @tags
  : #typography
  : #map
  @author
  : Chris Harvey
  @updated
  : 2015-01-22
    */
  > dd {
    // .vru-content();
    // display: block;
  }
  // > .Desc + .Term {.vru-top(1);}
}

/**
  * This Object represents an association list in which corresponding terms and descriptions are
  * grouped together in rows.
  * This map acts like a table, with each row containing a single term-description group.
  * Multiple terms and multiple descriptions in the same group are in the same row.
@extends
: .Map
@implements
: .clearfix()
@tags
: #typography
: #map
: #golden
@author
: Chris Harvey
@updated
: 2014-11-23
  */
dl.Horiz {
  .clearfix();
  > dt,
  > dd {box-sizing: border-box;}
  > dt {
    padding-right: 1rem;
    float: left;
    clear: both;
    overflow: auto;
    white-space: nowrap;
  }
  > dd {
    float: left;
  }
  > dd + dt {padding-top: 0;} // undo padding from reset
}
.map-horiz-mx(@termwidth) {
  > dt {width: @termwidth;}
  > dd {width: (100% - @termwidth);}
}
dl.Horiz.Sml {.map-horiz-mx(@golden3);}  // 23.6067977499789696%
dl.Horiz.Msm {.map-horiz-mx(@golden2);}  // 38.1966011250105152%
dl.Horiz.Med {.map-horiz-mx(@1o2);}      // 50%
dl.Horiz.Mlg {.map-horiz-mx(@golden1);}  // 61.8033988749894848%
dl.Horiz.Lrg {.map-horiz-mx(@golden3c);} // 76.3932022500210304%

/**
  * This Object represents a Horizontal Map that appears as a Table Object.
@extends
: .Map.Horiz
@implements
: .cellpaddingdefault()
@tags
: #typography
: #map
: #table
@author
: Chris Harvey
@updated
: 2014-11-23
  */
dl.Horiz.Tbl {
  > dt,
  > dd {
    .cellpaddingdefault();
  }
  > dt:nth-child(4n+1),
  > dd:nth-child(4n+2) {background-color: @color_table_bg_md;}
  > dt:nth-child(4n+3),
  > dd:nth-child(4n)   {background-color: @color_table_bg_lo;}
}

// /*dl*/.dl--ordered {
//   > dt:first-child,
//   > dd + dt {
//     display: list-item;
//     list-style-type: decimal;
//     list-style-position: outside;
//   }
// }
