// main: ../../all.less

/*####################*\
    _paragraphs.less
\*####################*/

// Table of Contents
// - PARAGRAPHS
// - QUASI-PARAGRAPHS


//+++++++++++//
/*@PARAGRAPHS*/
//+++++++++++//
/**
  * This Object represents a generic paragraph in a section, article, or document. A paragraph
  * Object is a small grouping of textual ideas. In the written media, paragraphs can span
  * anywhere from 3 to 8 sentences. However on the Web, they can be much, much shorter.
@implements
: .vru-content
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-07-10
  */
.P {
	&:extend(.vru-content);
	display: block;
	p {display: inline;} // lists in prose ("LIP"), for example
}
:not(.H) + .Article,
:not(.H) + .P,
:not(.H) + .List,
:not(.H) + .Map,
:not(.H) + .Table,
:not(.H) + .Codeblock,
:not(.H) + .Alert {
	.vru-top-1;
}

/**
  * This Object refers to the first ("lede"/"lead") sentence in a paragraph or caption, which may
  * act as a "heading" for that paragraph or caption.
  * It may also contain the title of a `table` or `figure` inside the `table > caption` or
  * `figure > figcaption`, respectively.
  * This Object is typically a child of a `.P` Object, or any paragraph-like Objects such as `.Capt`.
  * This can also be useful in a list of prose ("LOP"), whose list items consist of long prose text.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.Lede {
	padding-right: @spacer;
	font-weight: bold;
	font-family: @fontfam_intro;
}
/**
  * This Object represents an introduction paragraph, typically referred to as a "standfirst"
  * (in the U.K.). It may also serve as an abstract of a scholarly article. This Object almost
  * always follows a `.H` Object (a heading).
@extends
: .P
@implements
: .vru-bottom-1
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-07-10
  */
.P.Intro {
	&:extend(.vru-bottom-1);
	font-weight: bold;
	font-family: @fontfam_intro;
	text-align: justify;
}
/**
  * This Object represents a paragraph whose first letter is a dropped capital ("drop cap").
@extends
: .P
@mixesin
: .fontsize-block()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.P.Dropcap {
	&::first-letter {
		.fontsize-block(2);
		float: left;
		padding-top:   (@spacer / 1);
		padding-right: (@spacer / 2);
		font-style:  normal;
		font-weight: normal;
		font-family: @fontfam_script;
		color: @color_h_major;
	}
}
//++++ @end PARAGRAPHS ++++//


//+++++++++++++++++//
/*@QUASI-PARAGRAPHS*/
//+++++++++++++++++//
@capt_brdr_width: 1px;
@capt_brdr_style: dotted;
@capt_brdr_color: @color_border;
@addy_brdr_width: 3px;
@addy_brdr_style: solid;
@addy_brdr_color: @color_border;
@fig_brdr_width: 4px;
@fig_brdr_style: solid;
@fig_brdr_color: @color_border;
@qblock_brdr_width: 7px;
@qblock_brdr_style: double;
@qblock_brdr_color: @color_border;
/**
  * This Object represents a generic caption of any sort. A caption is usually a short summary or
  * description of some content ("the described content"). The described content may be in a
  * literal `figure` Element, `table` Element, or it may be any generic content. Since captions are
  * usually too short to be a paragraph, it may *not* contain `.P` Objects. If the described content
  * is text only, the caption should be shorter and more concise than the content's text.
  * If this `.Capt` is a child of a `figure` Element, it should be a `figcaption` Element.
  * If this `.Capt` is a child of a `table` Element, it should be a `caption` Element.
@implements
: .vru-content
: .fontsize-block-small
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.Capt {
	&:extend(.vru-content);
	&:extend(.fontsize-block-sml);
	text-align: right;
}
/**
  * A caption may appear before or after the described content, even if it and the content are
  * children of the same Object (e.g., a `figure`). A `.P.Capt.Before` appears before the content;
  * a `.P.Capt.After` appears after.
  * Note: According to the HTML5 specs, a `table > caption`, if it exists, may *only* be the
  * first child. However, applying `.Capt.Before` to the `table > caption:first-child` will make it
  * look ugly, because the borders conflict and it will have `display: block;` rather than
  * `display: table-caption;`. Just don't apply `.Capt.Before` or `.Capt.After` to `table > caption`s.
@extends
: .Capt
@mixesin
: .border-vert-one()
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Capt.Before {.border-vert-one(bottom; @capt_brdr_width; @capt_brdr_style);}
.Capt.After  {.border-vert-one(top;    @capt_brdr_width; @capt_brdr_style);}
/**
  * This Object represents a generic postal address. It may be the contact address of the document
  * author(s) (contained in an `address` Element), or it may be any arbitrary postal mailing address.
@extends
: .P
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #paragraph
: #geolocation
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.Addy {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	.spacing-phi(right; @addy_brdr_width; @addy_brdr_style);
	display: block;
	border-radius: 6px;
	text-align: right;
}
/**
  * This Object represents a generic figure in a document. A figure contains excerpts of text,
  * examples, or images that are used to illustrate a concept. This may or may not be a
  * literal `figure` Element.
  * Inside this `.Fig` there may exist a `.Capt` (a generic caption), either at the beginning or at
  * the end. The `.Capt` may or may not be a `figcaption` or `caption` Element.
  * Content in this `.Fig`---including its caption---is permissible to be extracted from the
  * document and presented on its own.
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2014-08-11
  */
.Fig {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	&:extend(.crossgrid-lined);
	.spacing-phi(left;  @fig_brdr_width; @fig_brdr_style);
	.spacing-phi(right; @fig_brdr_width; @fig_brdr_style);
	display: block;
}
/**
  * This Object represents any Block Quotation, representing material taken directly from another
  * source. It may or may not take the form of a literal `blockquote` Element.
  *
  * If the original source has paragraph breaks, regardless of word count, use `.Qblock`.
  * It should have paragraph breaks that correspond to the source.
  *
  * If the original source is more than 40 words and does not have paragraph breaks, use
  * `.Qblock.Long`. It should not contain paragraphs (either `.P` Objects or `p` Elements);
  * it should directly contain the source's text.
  *
  * If the original source is less than 40 words and does not have paragraph breaks (for example,
  * extracted inline text from an article), use the `.Qblock.Short` subclass. It should also not
  * contain paragraphs.
@implements
: .vru-content
: .vru-top-phi
: .fontsize-block-lrg
: .crossgrid-lined
@mixesin
: .spacing-phi()
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-08-11
  */
.Qblock {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	&:extend(.crossgrid-lined);
	.spacing-phi(left; @qblock_brdr_width; @qblock_brdr_style);
	display: block;
	font-family: @fontfam_accent;
}
/**
  * The `.Src` Object represents the citation of a source inside a `.Qblock` Object. It is
  * recommended to apply this class to a `cite` Element, possibly within a `footer` Element.
@belongsto
: .Qblock
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-08-11
  */
.Qblock .Src {
	display: block;
	text-align: right;
	&::before {content: '~\0020';}
	&.Formal {
		&:extend(.parens all);
	}
	&:not(.Formal) {
		.spacing-phi(right; 3px; @qblock_brdr_style);
	}
}

.Qblock.Short {
	&:extend(.fontsize-block-lrg);
	line-height: 1.5 * (@lineheight_base / @fontsize_ratio_lrg); // 1.8
	background-image: none;
	.Src {
		&:extend(.fontsize-block-sml);
		line-height: 1.5 * (@lineheight_base / @fontsize_ratio_sml); // 3
	}
}

.Capt,
.Addy,
.Fig,
.Qblock,
.Qblock .Src {border-color: @color_border;}
//++++ @end QUASI-PARAGRAPHS ++++//
