// main: ../../core.less

/*####################*\
    _paragraphs.less
\*####################*/

// Table of Contents
// - PARAGRAPHS
// - QUASI-PARAGRAPHS


//+++++++++++//
/*@PARAGRAPHS*/
//+++++++++++//
/**
  * This Object represents a generic paragraph in a section, article, or document. A paragraph
  * Object is a small grouping of textual ideas. In the written media, paragraphs can span
  * anywhere from 3 to 8 sentences. However on the Web, they can be much, much shorter.
@implements
: .vru-content()
: .follows-heading()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-10-19
  */
// .P {
//   .vru-content();
//   .follows-heading(1);
//   display: block;
//   p {display: inline;} // lists in prose ("LIP"), for example
// }

/**
  * This Object refers to the first ("lede"/"lead") sentence in a paragraph or caption, which may
  * act as a "heading" for that paragraph or caption.
  * It may also contain the title of a `table` or `figure` inside the `table > caption` or
  * `figure > figcaption`, respectively.
  * This Object is typically a child of a paragraph.
  * This can also be useful in a list of prose ("LOP"), whose list items consist of long prose text.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.Lede {
  padding-right: 1rem;
  font-weight: bold;
}
/**
  * This Object represents an introduction paragraph, typically referred to as a "standfirst"
  * (in the U.K.). It may also serve as an abstract of a scholarly article. This Object almost
  * always follows a heading.
@implements
: .vru-bottom()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-07-10
  */
p.Intro {
  // .vru-bottom(1);
  font-weight: bold;
}
/**
  * This Object represents a paragraph whose first letter is a dropped capital ("drop cap").
@implements
: .fontsize-block()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-30
  */
p.Dropcap {
  &::first-letter {
    .fontsize-block(2);
    float: left;
    padding-top: @vru_core;
    padding-right: 0.5rem;
    font-style:  normal;
    font-weight: normal;
    font-family: @fontfam_script;
    color: @color_h_major;
  }
}
//++++ @end PARAGRAPHS ++++//


//+++++++++++++++++//
/*@QUASI-PARAGRAPHS*/
//+++++++++++++++++//
// @addy_brdr_width: 3px;
// @addy_brdr_style: solid;
// @addy_brdr_color: @color_border;
@fig_brdr_width: 4px;
@fig_brdr_style: solid;
@fig_brdr_color: @color_border;
@qblock_brdr_width: 7px;
@qblock_brdr_style: double;
@qblock_brdr_color: @color_border;
@pre_brdr_width: 3px;
@pre_brdr_style: solid;
@pre_brdr_color: @color_border;
@capt_brdr_width: 1px;
@capt_brdr_style: dotted;
@capt_brdr_color: @color_border;
/**
  * This interface is used on some quasi-paragraphs (paragraph-looking Objects).
  * It is not used on `.Capt` because they can't always have `display: block;`
@implements
: .vru-content()
: .vru-top-phi()
@tags
: #typography
: #address
: #figure
: #quote
@author
: Chris Harvey
@updated
: 2014-10-10
  */
// .quasi-p() {
//   .vru-content();
//   .vru-top-phi();
//   padding-top: (@vru_core * @phi2);
//   margin-top:  (@vru_core * @phi1);
// }

/**
  * This Object represents a generic postal address. It may be the contact address of the document
  * author(s) (contained in an `address` Element), or it may be any arbitrary postal mailing address.
@extends
: .quasi-p
@implements
: .sidebrdr-phi()
@tags
: #typography
: #paragraph
: #geolocation
@author
: Chris Harvey
@updated
: 2014-10-03
  */
// .Addy {
//   .quasi-p();
//   .sidebrdr-phi(right; @addy_brdr_width; @addy_brdr_style; @addy_brdr_color);
//   border-radius: 6px;
//   text-align: right;
// }

/**
  * This Object represents a generic figure-looking thing in a document. A figure contains excerpts of text,
  * examples, or images that are used to illustrate a concept. This may or may not be a
  * literal `figure` Element.
  * Inside this `.Fig` there may exist a `.Capt` (a generic caption), either at the beginning or at
  * the end. The `.Capt` may or may not be a `figcaption` or `caption` Element.
  * If and only if the content in this `.Fig`---including its caption---is permissible to be extracted from the
  * document and presented on its own, the `.Fig` Object should be wrapped with an `aside` Element.
  * The `.Fig.Text` subclass is a figure whose contents are only text.
@implements
: .sidebrdr-phi(left)
: .sidebrdr-phi(right)
: .crossgrid-lined()
@tags
: #typography
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2014-10-03
  */
figure {
  // .quasi-p();
  // .vru-top-phi();
  .sidebrdr-phi(left;  @fig_brdr_width; @fig_brdr_style; @fig_brdr_color);
  .sidebrdr-phi(right; @fig_brdr_width; @fig_brdr_style; @fig_brdr_color);
  text-align: center;
}
figure.Text {
  .crossgrid-lined();
}

/**
  * A `blockquote` represents material taken directly from another source. Typically,
  * block quotations are used when the original source has more than 40 words and/or contains
  * paragraph breaks. In either of these cases, the `blockquote` should contain child `p` Elements
  * that correspond to the source (or not have any children `p` Elements if the source does not).
  *
  * Sometimes authors may use a block quotation to highlight extracted inline text from an article,
  * for example. These are so-called "short" block quotations.
  * If the original source is less than 40 words and does not have paragraph breaks,
  * use the `blockquote.Short` class. It should *not* contain `p` Elements.
  *
  * In a normal block quote, the quoted work should be indicated by the `blockquote > footer > cite`.
  * For `blockquote.Short`, do not use a `footer` (just use `blockquote > cite`).
@implements
: .crossgrid-lined()
: .sidebrdr-phi()
: .fontsize-block-lrg()
: .fontsize-block-sml()
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2015-02-09
  */
blockquote {
  // .quasi-p();
  // .vru-top-phi();
  .crossgrid-lined();
  .sidebrdr-phi(left; @qblock_brdr_width; @qblock_brdr_style; @qblock_brdr_color);
  font-family: @fontfam_accent;
  > footer {
    text-align: right;
    > cite {
      .parens();
    }
  }
}
blockquote.Short {
  .fontsize-block-lrg();
  line-height: 1.5 * (@lineheight_base / @fontsize_ratio_lrg); // 1.8
  background-image: none;
  > cite {
    display: block;
    // .sidebrdr-phi(left; 3px; @qblock_brdr_style; @qblock_brdr_color);
    .fontsize-block-sml();
    line-height: 1.5 * (@lineheight_base / @fontsize_ratio_sml); // 3
    text-align: right;
    &::before {content: '~\0020';}
  }
}
/**
  * `pre` Element
@author
: Chris Harvey
@updated
: 2015-02-09
  */
pre {
  // .vru-top-phi();
  .sidebrdr-phi(left;  @pre_brdr_width; @pre_brdr_style; @pre_brdr_color);
  .sidebrdr-phi(right; @pre_brdr_width; @pre_brdr_style; @pre_brdr_color);
  border-radius: 6px;
}
/**
  * Table captions and figure captions.
@implements
: .fontsize-block-small()
: .border-vert-one(bottom)
: .border-vert-one(top)
@tags
: #typography
: #table
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2015-02-09
  */
caption,
figcaption {
  .fontsize-block-sml();
}
caption:first-child,
figcaption:first-child {.border-vert-one(bottom; @capt_brdr_width; @capt_brdr_style; @capt_brdr_color);}
figcaption:last-child  {.border-vert-one(top;    @capt_brdr_width; @capt_brdr_style; @capt_brdr_color);}
//++++ @end QUASI-PARAGRAPHS ++++//
