// main: ../all.less

/*-----------------*\
    _borders.less
\*-----------------*/


// Table of Contents


// Below are helper mixins only (private). Do not mix these into other Objects or Interfaces.
#_ {
	.border-vert(@width) {
		display: block;
		position: relative;
		top: (-1 * @width);
	}
	.border-vert-one(@width) {
		.border-vert(@width);
		margin-bottom: (-1 * @width);
	}
	.border-vert-both(@width) {
		.border-vert(@width);
		margin-bottom: (-2 * @width);
	}
}
/**
  * The following Mixins adjust borders for **BLOCK** Objects only! They will keep the
  * vertical rhythm intact when adding borders (by slightly adjusting position and margins).
  * Do *not* use these mixins on INLINE Objects!
  * Note: Methods with same # of params cannot be overloaded; thus mixin names have modifiers.
  * Use the `.border-vert-one(@side; ...)`   set of Mixins to adjust either the top or bottom border.
  * Use the `.border-vert-both(topbot; ...)` set of Mixins to adjust both the top and bottom borders.
  * Use the `.border-vert-both(all; ...)`    set of Mixins to adjust all four borders.
  * Use the `.border-vert-clear()` Mixin to negate all the effects of the above Mixins.
@params
: @width: the width of the top or bottom border
: @side:  either `top` or `bottom`
: @style: a `border-style` value
: @color: a `border-color` value
@tags
: #verticalrhythm
: #border
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.border-vert-one(@side; @width) {
	#_ .border-vert-one(@width);
	border-@{side}-width: @width;
}
.border-vert-one(@side; @width; @style) {
	.border-vert-one(@side; @width);
	border-@{side}-style: @style;
}
.border-vert-one(@side; @width; @style; @color) {
	.border-vert-one(@side; @width; @style);
	border-color: @color;
}

.border-vert-both(topbot; @width) {
	#_ .border-vert-both(@width);
	border-width: @width;
	border-left: 0;
	border-right: 0;
}
.border-vert-both(topbot; @width; @style) {
	.border-vert-both(topbot; @width);
	border-style: @style;
}
.border-vert-both(topbot; @width; @style; @color) {
	.border-vert-both(topbot; @width; @style);
	border-color: @color;
}

.border-vert-both(all; @width) {
	#_ .border-vert-both(@width);
	border-width: @width;
}
.border-vert-both(all; @width; @style) {
	.border-vert-both(all; @width);
	border-style: @style;
}
.border-vert-both(all; @width; @style; @color) {
	.border-vert-both(all; @width; @style);
	border-color: @color;
}

// .border-vert-clear() {
// 	display: block;
// 	position: static;
// 	top: auto;
// 	border: 0;
// }
