// main: ../all.less

/*###############*\
    _boxes.less
\*###############*/


/**
  * This Interface creates default padding for cell-like structures (table cells, grid cells,
  * boxes, etc.).
  * The padding is based on the Vertical Rhythm Unit. The vertical padding is in rems, and
  * the horizontal padding is in pixels.
@tags
: #verticalrhythm
: #padding
: #fallback
@author
: Chris Harvey
@updated
: 2014-10-07
  */
.cellpaddingdefault() {
	padding: (@vru_px  / 2) (@vru_px  / 2 * @phi1); // fallback
	padding: (@vru_rem / 2) (@vru_rem / 2 * @phi1);
}

/**
  * These Mixins create abstract inline structures, boxed with a solid border.
  * `.box-inline(@brdrw; @brdrc; @brdrr)` is an extension of `.box-inline(@brdrw; @brdrr)`
  * 	(it's not the case that `.box-inline(@brdrw; @brdrr)` is a restriction of
  * 	`.box-inline(@brdrw; @brdrc; @brdrr)`) because the border color, if not specified,
  * 	should not be a preset color; rather, it should be the value of the `color` property.
@params
: @brdrw : the value of `border-width` property (if not specified, default to 1px)
: @brdrc : the value of `border-color` property (if not specified, default to value of `color` property)
: @brdrr : the value of `border-radius` property
@tags
: #box
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-07-07
  */
.box-inline(@brdrw; @brdrr) {
	display: inline;
	padding: 1px 2px; // why these numbers?
	border-width: @brdrw;
	border-style: solid;
	border-radius: @brdrr;
	white-space: nowrap;
}
.box-inline(@brdrw; @brdrc; @brdrr) {
	.box-inline(@brdrw; @brdrr);
	border-color: @brdrc;
}
.box-inline(@brdrr) {
	.box-inline(1px; @brdrr);
}
/**
  * These Mixins create abstract block structures, boxed with a solid border.
  * `.box-block(@brdrw; @brdrc; @brdrr)` is an extension of `.box-block(@brdrw; @brdrr)`
  * 	(it's not the case that `.box-block(@brdrw; @brdrr)` is a restriction of
  * 	`.box-block(@brdrw; @brdrc; @brdrr)`) because the border color, if not specified,
  * 	should not be a preset color; rather, it should be the value of the `color` property.
@params
: @brdrw : the value of `border-width` property (if not specified, default to 1px)
: @brdrc : the value of `border-color` property (if not specified, default to value of `color` property)
: @brdrr : the value of `border-radius` property
@implements
: .vru-content()
: .border-vert-both(all)
: .cellpaddingdefault()
@tags
: #box
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-07-07
  */
.box-block(@brdrw; @brdrr) {
	.vru-content();
	.border-vert-both(all; @brdrw; solid);
	.cellpaddingdefault();
	box-sizing: border-box;
	border-radius: @brdrr;
}
.box-block(@brdrw; @brdrc; @brdrr) {
	.box-block(@brdrw; @brdrr);
	border-color: @brdrc;
}
.box-block(@brdrr) {
	.box-block(1px; @brdrr);
}
