// main: ../all.less

/*----------------*\
    _delims.less
\*----------------*/


// Table of Contents


/**
  * This Interface adds opening and closing punctuation marks surrounding an Object. The
  * punctuation marks are given by the `quotes` property.
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-26
  */
.delimiters {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.parens        {&:extend(.delimiters all); quotes: '('     ')';}
.quotes-double {&:extend(.delimiters all); quotes: '\201c' '\201d';} // '“' '”'
.quotes-single {&:extend(.delimiters all); quotes: '\2018' '\2019';} // '‘' '’'
.guillemets    {&:extend(.delimiters all); quotes: '\00ab' '\00bb';} // '«' '»'
