// main: ../all.less

/*#################*\
    _flexbox.less
\*#################*/


// Table of Contents
// - HELPER MIXINS
//   - Containers
//   - Items
// - CLASSES


//++++++++++++++//
/*@HELPER MIXINS*/
//++++++++++++++//

//-----------//
/*@Containers*/
//-----------//
.flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/**
  * Determines the direction of the flow.
@params
: @direction :
             : `row` (default)  : left to right in `ltr`; right to left in `rtl`
             : `row-reverse`    : right to left in `ltr`; left to right in `rtl`
             : `column`         : same as `row` but top to bottom
             : `column-reverse` : same as `row-reverse` but bottom to top
@tags
: #flex
: #grid
@author
: Chris Harvey
@updated
: 2015-02-12
  */
.flex-direction(@direction) {
  -webkit-flex-direction: @direction;
          flex-direction: @direction;
}
/**
  * Determines whether boxes wrap to the next row or column.
@params
: @wrap :
        : `nowrap` (default) : single-line / left to right in `ltr`; right to left in `rtl`
        : `wrap`             : multi-line  / left to right in `ltr`; right to left in `rtl`
        : `wrap-reverse`     : multi-line  / right to left in `ltr`; left to right in `rtl`
@tags
: #flex
: #grid
@author
: Chris Harvey
@updated
: 2015-02-12
  */
.flex-wrap(@wrap) {
  -webkit-flex-wrap: @wrap;
          flex-wrap: @wrap;
}
//---- @end Containers ----//

//-----------//
/*@Items*/
//-----------//
/**
  * What does this do again?
@params
: @values : ?????
@tags
: #flex
: #grid
@author
: Chris Harvey
@updated
: 2015-02-12
  */
.flex(@values) {
  -webkit-box-flex: @values;
     -moz-box-flex: @values;
      -webkit-flex: @values;
          -ms-flex: @values;
              flex: @values;
}
/**
  * Determines the order in which items appear in the flex container.
@params
: @number : (integer, 0 default) the order in which the item appears in the flex container.
@tags
: #flex
: #grid
@author
: Chris Harvey
@updated
: 2015-02-12
  */
.flex-order(@number) {
  -webkit-box-ordinal-group: @number;
  -moz-box-ordinal-group: @number;
  -ms-flex-order: @number;
  -webkit-order: @number;
  order: @number;
}
//---- @end Items ----//
//++++ @end HELPER MIXINS ++++//


//++++++++//
/*@CLASSES*/
//++++++++//
/**
  * A container containing flex items.
  * By default, the direction is `row` and items are `wrap`ped.
  * Item widths are not determined. They should be elsewhere specified.
@tags
: #flex
: #grid
@author
: Chris Harvey
@updated
: 2015-02-12
  */
.Flex-Container {
  .flexbox();
  .flex-direction(row);
  .flex-wrap(wrap);
}
//++++ @end CLASSES ++++//
