// main: ../all.less

/*------------------*\
    _fontsize.less
\*------------------*/


// Table of Contents


/** One vertical rhythm unit. This is the so-called "magic number." */
@vru_px:  (@fontsize_base * @lineheight_base); // 16px * 1.5 = 24px
@vru_rem: (1rem           * @lineheight_base); // 1rem * 1.5 = 1.5rem

/**
  * This Mixin sets the `font-size` of an Object to a given scale.
  * For example, to set the font size scale to 3, instead of using `font-size: 3rem;` (which may  be
  * unsupported in some browsers), use this Mixin, which includes a fallback.
@params
: @ratio : the ratio of the new font size to `@fontsize_base`, in other words, the number of `rem`s
@tags
: #fontsize
: #fallback
@author
: Chris Harvey
@updated
: 2014-07-08
  */
.fontsize(@ratio) {
	font-size: (@fontsize_base * @ratio); // in px  // fallback
	font-size: (1rem           * @ratio); // in rem
}

/**
  * These Interfaces set a [large|medium|small] preset font size.
@implements
: .fontsize()
@tags
: #fontsize
@author
: Chris Harvey
@updated
: 2014-07-08
  */
.fontsize-lrg {.fontsize(@fontsize_ratio_lrg);}
.fontsize-med {.fontsize(@fontsize_ratio_med);}
.fontsize-sml {.fontsize(@fontsize_ratio_sml);}

/**
  * These Mixins adjust `line-height` such that
  * `font-size` * `line-height` = one vertical rhythm unit.
  * The `.fontsize-block-double()` Mixin adjusts `line-height` such that
  * `font-size` * `line-height` = two vertical rhythm units.
@params
: @ratio : the ratio of the new font size to `@fontsize_base`
@implements
: .fontsize()
@tags
: #verticalrhythm
: #fontsize
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.fontsize-block(@ratio) {
	.fontsize(@ratio);
	line-height: (@lineheight_base / @ratio);
}
.fontsize-doubleblock(@ratio) {
	.fontsize(@ratio);
	line-height: (2 * (@lineheight_base / @ratio));
}
/**
  * This Interface sets a [large|medium|small] preset font size and adjusts corresponding line height.
@implements
: .fontsize-block()
@tags
: #verticalrhythm
: #fontsize
@author
: Chris Harvey
@updated
: 2014-07-08
  */
.fontsize-block-lrg {.fontsize-block(@fontsize_ratio_lrg);}
.fontsize-block-med {.fontsize-block(@fontsize_ratio_med);}
.fontsize-block-sml {.fontsize-block(@fontsize_ratio_sml);}
