// main: ../all.less

/*#################*\
    _gutters.less
\*#################*/


/**
  * This Interface allows for the appearance of Elements in the left and right "gutters":
  * The margins of the `main` Element.
  * Depending on the layout, the `--major` gutter falls in the "wider" margin, and
  * the `--minor` gutter falls in the "narrower" margin.
  * Currently, the winder margin is on the left while the narrower margin is on the right.
  *
  * `.gutter--major` acts like a `.w-p1.ml` within a `.w-p3.left`
  * `.gutter--minor` acts like a `.w-p1.mr` within a `.w-p4.right`
@tags
: #golden
: #margin
: #positioning
@author
: Chris Harvey
@updated
: 2014-08-11
  */
.gutter {
	box-sizing: border-box;
	position: fixed;
}
.gutter--major {
	.gutter;
	width:        @golden4; // @golden1 within a @golden3
	margin-left:  @golden7; // @golden4 within a @golden3
	margin-right: @golden6; // @golden3 within a @golden3
	left: 0;
}
.gutter--minor {
	.gutter;
	width:        @golden5; // @golden1 within a @golden4
	margin-left:  @golden7; // @golden3 within a @golden4
	margin-right: @golden8; // @golden4 within a @golden4
	right: 0;
}
//@media print {
//	.gutter {
//		width: auto;
//		margin-left: auto;
//		margin-right: auto;
//		position: static;
//	}
//}
