// main: ../all.less

/*##############*\
    _grad.less
\*##############*/


/**
  * This Interface makes an object slightly transparent, but it becomes opaque upon `:hover`.
@tags
: #schematic
: #golden
@author
: Chris Harvey
@updated
: 2014-10-07
  */
.transp() {
  opacity: @phi1;
  &:hover {opacity: 1;}
}
