<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<title>Unit ? Overview &in; Algebra II</title>
<link rel="stylesheet" href="../unitoverviews.css"/>
{% include all-js.html %}
<style>
</style>
</head>
<body>
{% include masthead.html %}
<div class="main P1 P1-midright">
<header>
  <h1>Quadratics Unit Overview</h1>
  <p class="timestamp">Updated <time datetime="2012-12-16T17:07">December 16, 2012</time>.</p>
</header>
<section id="introduction">
  <p class="p--Lede">The quadratics unit focuses on the manipulation of second-degree polynomials, quadratic equations and their real and complex solutions, and characteristics of quadratic functions. Also covered lightly is the Complex number system.</p>
</section>
<section id="objectives">
  <h2>Learning Objectives</h2>
  <section id="complex">
    <h3>Complex Numbers</h3>
    <ul>
      <li>Simplify a square root of a negative number in the domain of complex numbers.</li>
      <li>Simplify a power of <span class="M">\imath</span> greater than 1.</li>
      <li>Perform operations (addition, subtraction, multiplication) on complex numbers.</li>
      <li class="honors">Divide complex numbers, and conjugate and simplify a complex fraction.</li>
      <li class="optional">Identify field properties of the complex number system.</li>
    </ul>
  </section>
  <section id="expressions-equations">
    <h3>Quadratic Expressions and Equations</h3>
    <ul>
      <li>Factor a quadratic trinomial with a leading coefficient equal to, or not equal to, one; and with a positive or negative constant term. Special cases will include perfect squares and differences of squares.</li>
      <li class="honors">Algebraically convert between a quadratic expression's factored form, vertex form, and standard form by expanding, factoring, and completing the square.</li>
      <li>Find the real solution(s) of a quadratic equation in factored form.</li>
      <li class="honors">Find the real or complex solution(s) of a quadratic equation in vertex form.</li>
      <li>Find the real or complex solution(s) of a quadratic equation in standard form using the Quadratic Formula.</li>
      <li>Determine the number, type, <span class="optional">and multiplicity</span> of solutions of a quadratic equations using the Discriminant.</li>
    </ul>
  </section>
  <section id="functions">
    <h3>Quadratic Functions</h3>
    <ul>
      <li>Given a quadratic function in factored form, vertex form, or standard form: by graphing and algebraically, find the:
        <ul>
          <li>Roots</li>
          <li>Vertex</li>
          <li><span class="M">y</span>-Intercept</li>
          <li class="optional">Line of Symmetry and Range</li>
        </ul>
      </li>
      <li>Describe and apply transformations of quadratic functions in vertex form.</li>
    </ul>
  </section>
</section>
</div>
</body>
</html>
