<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<title>Unit ? Overview &in; Algebra II</title>
<link rel="stylesheet" href="../unitoverviews.css"/>
{% include all-js.html %}
<style>
</style>
</head>

<body>
{% include masthead.html %}
<div class="main P1 P1-midright">
<header>
  <h1>Probability &amp; Statistics Unit Overview</h1>
  <p class="timestamp">Updated <time datetime="2012-12-16T17:29">December 16, 2012</time>.</p>
</header>
<section id="introduction">
  <p class="p--Lede">The probability and statistics unit ...</p>
</section>
<section id="objectives">
  <h2>Learning Objectives</h2>
  <section id="combinatorics">
    <h3>Combinatorics</h3>
    <ul>
      <li>Given a situation with multiple outcomes, count the number of possible outcomes using the Fundamental Counting Principle.</li>
      <li>Decide whether to use permutations or combinations to calculate a number of possible outcomes.</li>
      <li>Calculate permutations and combinations using a formula.</li>
    </ul>
  </section>
  <section id="binomial-dist" class="optional">
    <h3>Binomial Distribution</h3>
  </section>
  <section id="normal-dist">
    <h3>Normal Distribution</h3>
    <ul>
      <li>Given the mean and standard deviation of a normally distributed data set, determine
        <ul>
          <li>the z-score of a sample observation, and</li>
          <li>the data value of a given z-score.</li>
        </ul>
      </li>
      <li>Given a normal distribution, determine
        <ul>
          <li>the proportion of observations that fell between two given values, and</li>
          <li>probability that a random observation would fall between two given values.</li>
        </ul>
      </li>
      <li>Given a normal distribution and sample size, determine the number of observations that fell between two given values.</li>
      <li class="optional">Given a normal distribution, sample size, and number of observations, determine the proportion of the sample set and possible values between which the observations lie.</li>
      <li>Interpret and apply the total area under a normal curve using the Unitarity Rule and the Empirical Rule.</li>
    </ul>
  </section>
  <section id="regression">
    <h3>Regression</h3>
    <ul>
      <li>Determine the regression model (linear, quadratic, exponential, or logarithmic) of a bivariate data set.</li>
      <li>Use regression to calculate the equation of the best-fit curve.</li>
      <li>Use regression to interpolate and extrapolate data given an input or an output.</li>
    </ul>
  </section>
</section>
</div>
</body>
</html>
