
/*################################*\
    __settings.less
\*################################*/

// Settings for the "Project" stylesheet located at `./project.less`.
///////////////////////////////////////////////////////////////////////////////


// Table of Contents
//
// - PROJECT MAIN SETTINGS
// - PROJECT BOX SETTINGS
// - PROJECT TYPOGRAPHICAL SETTINGS
// - PROJECT COLOR SETTINGS
//   - Portal Theme
//   - Solarized / Lunarized Themes
// - PROJECT MISCELLANEOUS SETTINGS


/*++++++++++++++++++++++++++*\
    #PROJECT MAIN SETTINGS
\*++++++++++++++++++++++++++*/
// vertical rhythm
@project_font_size: 100%;
@project_line_height: 1.5;
@project_vru: (@project_line_height * 1rem);
//++++ @end PROJECT MAIN SETTINGS ++++//


/*+++++++++++++++++++++++++*\
    #PROJECT BOX SETTINGS
\*+++++++++++++++++++++++++*/
// Variable padding for box-like structures (dl cells, table cells, grid cells, etc.).
// `@project_boxpadding_sml` - for regular cells, boxes, alerts, etc
// `@project_boxpadding_med` - for special boxes like pop-up dialogs
// `@project_boxpadding_lrg` - for huge things like hero sections or big buttons
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-04-22
// @project_boxpadding_sml: (0.5 * @project_vru) (1 * 1rem);
// @project_boxpadding_med: (1.0 * @project_vru) (2 * 1rem);
// @project_boxpadding_lrg: (2.0 * @project_vru) (4 * 1rem);
//
// @project_border_radius_sml: 0.50rem;
// @project_border_radius_med: 1.00rem;
// @project_border_radius_lrg: 2.00rem;
//++++ @end PROJECT BOX SETTINGS ++++//


/*+++++++++++++++++++++++++++++++++++*\
    #PROJECT TYPOGRAPHICAL SETTINGS
\*+++++++++++++++++++++++++++++++++++*/
// font sizes
@project_font_size_lrg: (20/16); // 1.2500
@project_font_size_med: (16/16); // 1.0000
@project_font_size_sml: (12/16); // 0.7500

// font families
@project_font_family_base:    'Avenir','Helvetica Neue','Helvetica',sans-serif;
@project_font_family_heading: 'Optima','Seravek','Tahoma',sans-serif;
@project_font_family_prose:   'Baskerville','Palatino','Cochin',serif;
@project_font_family_accent:  'Helvetica Neue','Helvetica',sans-serif;
@project_font_family_code:    'Menlo','Monaco','Andale Mono',monospace;
@project_font_family_math:    'Didot','Bodoni 72','Times',serif;
@project_font_family_script:  'Zapfino','Savoye LET',script;

// These variables would be uesful for outlined lists such that you
// don’t have to remember the hierarchy of list-style-types.
// @project_list_type_Ome: decimal-leading-zero; //  01.  02.  03.
// @project_list_type_Alp: upper-roman;          //   I.  II. III.
// @project_list_type_Bet: upper-alpha;          //   A.   B.   C.
// @project_list_type_Gam: decimal;              //   1.   2.   3.
// @project_list_type_Del: lower-alpha;          //   a.   b.   c.
// @project_list_type_Eps: lower-roman;          //   i.  ii. iii.
// @project_list_type_Zet: lower-greek;          //   α.   β.   γ.
//++++ #end PROJECT TYPOGRAPHICAL SETTINGS ++++//


/*+++++++++++++++++++++++++++*\
    #PROJECT COLOR SETTINGS
\*++++++++++++++++++++++++++++++++*/
/*--------------------------------*\
    #Portal Theme
\*--------------------------------*/
@chh_color_portal_aperturewhite: hsv(217,   5%, 100%); // #f2f7ff
@chh_color_portal_apertureblack: hsv( 37, 100%,   5%); // #0d0800
@chh_color_portal_lakesuperior:  hsv(247, 100%,  60%); // #120099
@chh_color_portal_facilityabyss: hsv(187,  40%,  40%); // #3d6166
@chh_color_portal_atlas:         hsv(217, 100%, 100%); // #0062ff
@chh_color_portal_pbody:         hsv( 37, 100%, 100%); // #ff9d00

@chh_color_portal_deploying:  hsv(  7,  80%, 100%); // #cc1800
@chh_color_portal_hereye:     hsv( 52,  80%, 100%); // #ffe433
@chh_color_portal_neurotoxin: hsv( 97,  40%,  80%); // #9acc7a
@chh_color_portal_bridges:    hsv(202,  40%, 100%); // #99daff
@chh_color_portal_companion:  hsv(337,  40%, 100%); // #ff99c0
@chh_color_portal_vilify:     hsv(277, 100%, 100%); // #6300bf

@chh_color_portal_cavescaves: hsv( 28,  66.6%,  50%); // #80522b
@chh_color_portal_asbestos:   hsv( 46, 100.0%,  75%); // #bf9300
@chh_color_portal_repulsion:  hsv(202,  80%, 100%);   // #33b4ff
@chh_color_portal_propulsion: hsv( 22,  80%, 100%);   // #ff7e33

@chh_color_portal_aperturegrey_0o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (0/6)); // #0d0800
@chh_color_portal_aperturegrey_1o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (1/6)); // #33302a
@chh_color_portal_aperturegrey_2o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (2/6)); // #595855
@chh_color_portal_aperturegrey_3o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (3/6)); // #808080
@chh_color_portal_aperturegrey_4o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (4/6)); // #a6a7aa
@chh_color_portal_aperturegrey_5o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (5/6)); // #cccfd5
@chh_color_portal_aperturegrey_6o6: mix(@chh_color_portal_aperturewhite, @chh_color_portal_apertureblack, 100% * (6/6)); // #f2f7ff
//---- #end Portal Theme ----//

/*--------------------------------*\
    #Solarized / Lunarized Themes
\*--------------------------------*/
@chh_color_solarized_base03:  #002b36;
@chh_color_solarized_base02:  #073642;
@chh_color_solarized_base01:  #586e75;
@chh_color_solarized_base00:  #657b83;
@chh_color_solarized_base0:   #839496;
@chh_color_solarized_base1:   #93a1a1;
@chh_color_solarized_base2:   #eee8d5;
@chh_color_solarized_base3:   #fdf6e3;

@chh_color_solarized_red:     #dc322f;
@chh_color_solarized_orange:  #cb4b16;
@chh_color_solarized_yellow:  #b58900;
@chh_color_solarized_green:   #859900;
@chh_color_solarized_cyan:    #2aa198;
@chh_color_solarized_blue:    #268bd2;
@chh_color_solarized_violet:  #6c71c4;
@chh_color_solarized_magenta: #d33682;

// Lunarized Bases are Inverses of Solarized Bases
@chh_color_lunarized_base03: spin(@chh_color_solarized_base03, 180); // #360b00
@chh_color_lunarized_base02: spin(@chh_color_solarized_base02, 180); // #421307
@chh_color_lunarized_base01: spin(@chh_color_solarized_base01, 180); // #755f58
@chh_color_lunarized_base00: spin(@chh_color_solarized_base00, 180); // #836d65
@chh_color_lunarized_base0:  spin(@chh_color_solarized_base0,  180); // #968583
@chh_color_lunarized_base1:  spin(@chh_color_solarized_base1,  180); // #a19393
@chh_color_lunarized_base2:  spin(@chh_color_solarized_base2,  180); // #d5dbee
@chh_color_lunarized_base3:  spin(@chh_color_solarized_base3,  180); // #e3eafd
// Lunarized Accents are Complements of Solarized Accents
@chh_color_lunarized_cyan:   rgb(255-red(@chh_color_solarized_red    ), 255-green(@chh_color_solarized_red    ), 255-blue(@chh_color_solarized_red    )); // #23cdd0
@chh_color_lunarized_blue:   rgb(255-red(@chh_color_solarized_orange ), 255-green(@chh_color_solarized_orange ), 255-blue(@chh_color_solarized_orange )); // #34b4e9
@chh_color_lunarized_indigo: rgb(255-red(@chh_color_solarized_yellow ), 255-green(@chh_color_solarized_yellow ), 255-blue(@chh_color_solarized_yellow )); // #4a76ff
@chh_color_lunarized_violet: rgb(255-red(@chh_color_solarized_green  ), 255-green(@chh_color_solarized_green  ), 255-blue(@chh_color_solarized_green  )); // #7a66ff
@chh_color_lunarized_red:    rgb(255-red(@chh_color_solarized_cyan   ), 255-green(@chh_color_solarized_cyan   ), 255-blue(@chh_color_solarized_cyan   )); // #d55e67
@chh_color_lunarized_orange: rgb(255-red(@chh_color_solarized_blue   ), 255-green(@chh_color_solarized_blue   ), 255-blue(@chh_color_solarized_blue   )); // #d9742d
@chh_color_lunarized_yellow: rgb(255-red(@chh_color_solarized_violet ), 255-green(@chh_color_solarized_violet ), 255-blue(@chh_color_solarized_violet )); // #938e3b
@chh_color_lunarized_green:  rgb(255-red(@chh_color_solarized_magenta), 255-green(@chh_color_solarized_magenta), 255-blue(@chh_color_solarized_magenta)); // #2cc97d

// colors for Solarized Light Theme
@chh_color_solarized_lite_bg:   @chh_color_solarized_base3;
@chh_color_solarized_lite_brdr: @chh_color_solarized_base2;
@chh_color_solarized_lite_txt:  @chh_color_solarized_base00;
@chh_color_solarized_lite_comm: @chh_color_solarized_base1;
@chh_color_solarized_lite_emph: @chh_color_solarized_base01;
// colors for Solarized Dark Theme
@chh_color_solarized_dark_bg:   @chh_color_solarized_base03;
@chh_color_solarized_dark_brdr: @chh_color_solarized_base02;
@chh_color_solarized_dark_txt:  @chh_color_solarized_base0;
@chh_color_solarized_dark_comm: @chh_color_solarized_base01;
@chh_color_solarized_dark_emph: @chh_color_solarized_base1;
// colors for Lunarized Light Theme
@chh_color_lunarized_lite_bg:   @chh_color_lunarized_base3;
@chh_color_lunarized_lite_brdr: @chh_color_lunarized_base2;
@chh_color_lunarized_lite_txt:  @chh_color_lunarized_base00;
@chh_color_lunarized_lite_comm: @chh_color_lunarized_base1;
@chh_color_lunarized_lite_emph: @chh_color_lunarized_base01;
// colors for Lunarized Dark Theme
@chh_color_lunarized_dark_bg:   @chh_color_lunarized_base03;
@chh_color_lunarized_dark_brdr: @chh_color_lunarized_base02;
@chh_color_lunarized_dark_txt:  @chh_color_lunarized_base0;
@chh_color_lunarized_dark_comm: @chh_color_lunarized_base01;
@chh_color_lunarized_dark_emph: @chh_color_lunarized_base1;
//---- #end Solarized / Lunarized Themes ----//

// project variables
@chh_color_bg:  @chh_color_portal_aperturewhite;
@chh_color_txt: @chh_color_portal_apertureblack;
//++++ #end PROJECT COLOR SETTINGS ++++//


/*+++++++++++++++++++++++++++++++++++*\
    #PROJECT MISCELLANEOUS SETTINGS
\*+++++++++++++++++++++++++++++++++++*/
// animation timing
// 'short'  - to shave off the edge of instanteaneous transitions
// 'medium' - for fast but smooth transitions
// 'long'   - for beautiful, elegant transitions
@project_ani_short:  125ms;
@project_ani_medium: 250ms;
@project_ani_long:   500ms;
//++++ #end PROJECT MISCELLANEOUS SETTINGS ++++//
