
/*###################*\
    _paragraph.less
\*###################*/

// Table of Contents
// - PARAGRAPHS
// - QUASI-PARAGRAPHS


/*+++++++++++++++*\
    #PARAGRAPHS
\*+++++++++++++++*/

// A paragraph (or other grouping content) designed to look as if it is inside a
// `.c-Document` component.
// No need to use this class if the Element is already a descendant of `.c-Document`, however
// this class may be used to simulate the typographical appearance of a `.c-Document`.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-02-19
.p--Prose {
  font-family: @project_font_family_prose;
  text-align: justify;
}
//++++ #end PARAGRAPHS ++++//


/*+++++++++++++++++++++*\
    #QUASI-PARAGRAPHS
\*+++++++++++++++++++++*/
figure {
  text-align: center;
}
@media screen {
  figure {
    border-left:  0.25rem solid @project_color_border;
    border-right: 0.25rem solid @project_color_border;
    padding-left:  0.75rem;
    padding-right: 0.75rem;
  }
}

// A `blockquote` represents material taken directly from another source. Typically,
// block quotations are used when the original source has more than 40 words and/or contains
// paragraph breaks. In either of these cases, the `blockquote` should contain child `p` Elements
// that correspond to the source (or not have any children `p` Elements if the source does not).
//
// Sometimes authors may use a block quotation to highlight extracted inline text from an article,
// for example. These are so-called "short" block quotations.
// If the original source is less than 40 words and does not have paragraph breaks,
// use the `blockquote.bq--Short` class. It should *not* contain `p` Elements.
//
// In a normal block quote, the quoted work should be indicated by the `blockquote > footer > cite`.
// For `blockquote.bq--Short`, do not use a `footer` (just use `blockquote > cite`).
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-02-17
blockquote {
  .crossgrid-lined;
  font-family: @project_font_family_accent;
  > footer {
    text-align: right;
    > cite {
      .parens();
    }
  }
}
.bq--Short {
  .font-size-block(@project_font_size_lrg; 1.5 * @project_line_height);
  background-image: none;
  > cite {
    display: block;
    .font-size-block(@project_font_size_sml; 1.5 * @project_line_height);
    text-align: right;
    &::before {content: '~\0020';}
  }
}
@media screen {
  blockquote {
    border-left: 0.75rem double @project_color_border;
    padding-left: 0.25rem;
  }
}

// `pre` Element.
// CHANGED: Will only use `pre` for blocks of code. No longer using child `code` Element.
// - To denote comments, use the HTML `small` Element. Yes, this means code comments.
// - To denote importance, use the HTML `strong` Element.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-02-26
pre {
  .font-size-block(@project_font_size_sml; @project_line_height);
  font-family: @project_font_family_code;
  text-align: left;
  text-indent: 0;
  code {
    .delimiters('\`';'\`');
    padding: 0;
    border: 0;
    font-size: inherit;
    color: inherit;
    background: transparent;
  }
  > small {
    font-style: italic;
    font-size: inherit;
  }
}
@media screen {
  pre {
    .box-block(2px);
    .bg-lite-lun();
    .fg-lite-sol(small, strong);
    .ac-sol();
  }
}

caption,
figcaption {
  .font-size-block(@project_font_size_sml; @project_line_height);
  font-family: @project_font_family_accent;
}
caption:first-child,
figcaption:first-child {.border-vert-one(bottom; 1px; dotted; @project_color_border);}
figcaption:last-child  {.border-vert-one(top;    1px; dotted; @project_color_border);}
//++++ #end QUASI-PARAGRAPHS ++++//
