
/*###############*\
    _table.less
\*###############*/


@color_table_bg_hi: fadeout(@aperture_grey_6o6, 50%);
@color_table_bg_md: fadeout(@aperture_grey_5o6, 50%);
@color_table_bg_lo: fadeout(@aperture_grey_4o6, 50%);
@color_table_bg_hv: fadeout(@aperture_grey_3o6, 25%);

table {
  @media screen {
    .font-size-block(@project_font_size_sml; @project_line_height);
  }
}

// .Table.Grid {
//   > thead,
//   > tfoot,
//   > tbody th { background-color: @color_table_bg_hi; }
//
//   tr:nth-child(odd) {
//     > th,
//     > td {
//       &:nth-child(odd)  { background-color: @color_table_bg_lo; }
//       &:nth-child(even) { background-color: @color_table_bg_md; }
//     }
//   }
//   tr:nth-child(even) {
//     > th,
//     > td {
//       &:nth-child(odd)  { background-color: @color_table_bg_md; }
//       &:nth-child(even) { background-color: @color_table_bg_hi; }
//     }
//   }
// }

@media screen {
  tr {
    tbody &:nth-child(odd)  { background-color: @color_table_bg_md; }
    tbody &:nth-child(even) { background-color: @color_table_bg_lo; }
    thead &,
    tfoot & { background-color: @color_table_bg_hi; }
  }
  tr:hover { background-color: @color_table_bg_hv !important; }

  .Table.Vert td,
  .Table.Vert th {
    &:nth-child(odd)  {background-color: @color_table_bg_md;}
    &:nth-child(even) {background-color: @color_table_bg_lo;}
  }
}
@media screen {
  .c-Table {
    > dt:nth-child(4n+1),
    > dd:nth-child(4n+2) {background-color: @color_table_bg_md;}
    > dt:nth-child(4n+3),
    > dd:nth-child(4n)   {background-color: @color_table_bg_lo;}
  }
}
