
/*################################*\
    _data.less
\*################################*/


// The `.c-Acro` Component represents an acronym.
// `.c-Acro__First` should be used on the first letter in an acronym at the beginning
// of a sentence or heading. E.g.:
// ```
// <p><abbr class="c-Acro"><span class="c-Acro__First"">D</span>IY</abbr>
//   stands for Do It Yourself.</p>
// ```
// Reminder: text-level uses 'em' instead of 'rem'.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-05-26
.c-Acro {
  font-size: (@project_font_size_sml * 1em);
}
  .c-Acro__First {
    font-size: (1/@project_font_size_sml * 1em);
  }


// My Locations:
// Fairfax, VA
// : longitude="-77.2888239" latitude="38.864158"
// Vienna, VA
// : longitude="-77.263014"  latitude="38.900159"
// Blacksburg, VA
// : longitude="-80.4294548" latitude="37.2304516"
// Riner, VA
// : longitude="-80.4406068" latitude="37.0665176"
// Roanoke, VA
// : longitude="-79.9575425" latitude="37.2743219"
// Charlottesville, VA
// : longitude="-78.4849739" latitude="38.0400874"
// Stanardsville, VA
// : longitude="-78.4368073" latitude="38.2982581"
// Harrisonburg, VA
// : longitude="-78.8711824" latitude="38.4393105"
// Virginia Beach, VA
// : longitude="-76.0476647" latitude="36.7674971"
// Richmond, VA
// : longitude="-77.4932615" latitude="37.5246609"

code, kbd, samp {
  @media print {
    color: darken(@repulsion, 20%);
  }
}

code {
  font-family: @project_font_family_code;
  @media screen {
    .SOLLUN();
    .UI-BOX();
    padding: @padding_inl;
    padding-bottom: (2em/12); // override `@padding_inl`
    border-radius: @border_radius_inl;
    border: 1px solid @solarized_lite_brdr;
    color: @lunarized_lite_txt;
    background: @solarized_lite_bg;
  }
}


// A mathematical expression or statement.
// Its input is the LaTeX syntax.
// May be applied to any Element.
// Subclasses:
// `.M--B` - block math
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-03-04
.M {
  font-family: @project_font_family_math;
  white-space: pre;
  overflow: auto;
}
.M--B {
  display: block;
  min-height: (3 * @project_vru);
}
