
/*###############*\
    _table.less
\*###############*/


@color_table_bg_hi: fadeout(@aperture_black, 96%);
@color_table_bg_md: fadeout(@aperture_black, 92%);
@color_table_bg_lo: fadeout(@aperture_black, 88%);
@color_table_bg_hv: fadeout(@aperture_black, 80%);
@color_table_brdr:  fadeout(@aperture_black, 80%);

.u-bgc_table_hi { background-color: @color_table_bg_hi; }
.u-bgc_table_md { background-color: @color_table_bg_md; }
.u-bgc_table_lo { background-color: @color_table_bg_lo; }
.u-bgc_table_hv { background-color: @color_table_bg_hv; }

table {
  @media screen {
    .font-size-block(@project_font_size_sml; @project_line_height);
  }
}

// .Table.Grid {
//   > thead,
//   > tfoot,
//   > tbody th { background-color: @color_table_bg_hi; }
//
//   tr:nth-child(odd) {
//     > th,
//     > td {
//       &:nth-child(odd)  { background-color: @color_table_bg_lo; }
//       &:nth-child(even) { background-color: @color_table_bg_md; }
//     }
//   }
//   tr:nth-child(even) {
//     > th,
//     > td {
//       &:nth-child(odd)  { background-color: @color_table_bg_md; }
//       &:nth-child(even) { background-color: @color_table_bg_hi; }
//     }
//   }
// }

table {
}
thead {
}
tbody,
tfoot {
}
tr {
  .border-vert(top; 1px);
  border-color: @color_table_brdr;
  thead > &:first-child { .border-vert(top); }
  tfoot > &:first-child,
  tbody > &:first-child { .border-vert(top; 2px); }
}
th, td {
  padding: (0.25 * @project_vru) (0.5 * 1rem);
}

.c-TableStriped {
  .mx() { background-color: fadeout(@aperture_black, 92%); }
  .mx();
  tbody { .mx(); }
  &--Rows {
    tbody > tr:nth-child(even) { .mx(); }
  }
  &--Cols {
    tbody th:nth-child(even),
    tbody td:nth-child(even) { .mx(); }
  }
}

@media screen {
  // table,
  // tbody,
  // tbody > tr:nth-child(even),
  // tbody th:nth-child(even),
  // tbody td:nth-child(even) { background: fadeout(@aperture_black, 96%); }
  // tr {
  //   tbody &:nth-child(odd)  { background-color: @color_table_bg_md; }
  //   tbody &:nth-child(even) { background-color: @color_table_bg_lo; }
  //   thead &,
  //   tfoot & { background-color: @color_table_bg_hi; }
  // }
  // tr:hover { background-color: @color_table_bg_hv !important; }
  //
  // td,
  // th {
  //   &:nth-child(odd)  {background-color: @color_table_bg_md;}
  //   &:nth-child(even) {background-color: @color_table_bg_lo;}
  // }
}
@media screen {
  .c-Table {
    > dt:nth-child(4n+1),
    > dd:nth-child(4n+2) {background-color: @color_table_bg_md;}
    > dt:nth-child(4n+3),
    > dd:nth-child(4n)   {background-color: @color_table_bg_lo;}
  }
}
