
/*################################*\
    _links.less
\*################################*/


.LINKS() {
  @color_link_up: @atlas;
  @color_link_dn: @pbody;
}
a[href] {
  .LINKS();
  color: @color_link_up;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: @color_link_dn;
  }
  &:active {
    color: inherit;
  }
  @media screen {
    .transition(color; @project_ani_short);
    text-decoration: none;
  }
}
a[rel~="external"] { font-style: italic; }

// mobile device styles:
// @updated
// : 2015-02-17
// a[href] {
//   border-radius: 3px;
//   &:active {
//     background-color: @color_crumb_dn_bg;
//   }
// }
