
/*####################*\
    _c-Document.less
\*####################*/


// Represents a generic article, technical document, blog post, etc.
// This class may be added to a literal `article` Element or `main` Element of a page.
// Designed to contain other block-level Elements such as headings and paragraphs.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-03-09
.c-Document {
  font-family: @project_font_family_prose;
  text-align: justify;
}

// Use class `.c-Document--*` to style the document based on its status, or
// `.c-Document__*` to style an element based on its status inside a `.c-Document`.
//
// These classes are stylistic only. They do not provide semantics.
// The `[data-status]` attribute semantically indicates the status of a document or Element.
//
// `draft`    : a work in progress
// `complete` : finished but still needs edits before releasing
// `released` : ready for implementation
//
// Use class `.c-Document__Informative` to style nonessential elements.
//
// The `[data-informative]` attribute on an Element in a `.Document` indicates that
// the content is nonessential to the document.
//
// ^url
// : https://github.com/chharvey/chharvey.github.io/wiki/Document-Status/
// ^author
// : Chris Harvey
// ^updated
// : 2015-03-14
@content_draft:    'This document is a work in progress.';
@content_complete: 'This document is mostly complete.';
@content_released: 'This document is ready for implemen' '\00ad' 'tation.'; // &shy;


@media screen {
  .c-Document--Draft,
  .c-Document--Complete,
  .c-Document--Released {
    &::before {
      display: block;
      .o-Box;
      .o-Box--Island;
      // FIXME cannot mixin `.o-Sidebar` or `.o-Sidebar--Minor` because cannot include classes from inside media queries
      position: absolute; // duplicated from `.o-Sidebar`
      width:        @golden5; // duplicated from `.t-GoldenBody--Right .o-Sidebar--Minor`
      margin-left:  @golden8; // duplicated from `.t-GoldenBody--Right .o-Sidebar--Minor`
      margin-right: @golden7; // duplicated from `.t-GoldenBody--Right .o-Sidebar--Minor`
      right: 0;               // duplicated from `.t-GoldenBody--Right .o-Sidebar--Minor`
      .font-size-block(@project_font_size_sml; @project_line_height);
      font-weight: bold;
      font-family: @project_font_family_accent;
      text-align: left;
    }
  }
}

.c-Document--Draft {
  &::before {
    content: @content_draft;
    color: #610000;
  }
}
@media screen {
  .c-Document--Draft {
    &::before {
      background: #ff9e9e;
    }
  }
}

.c-Document--Complete {
  &::before {
    content: @content_complete;
    color: #4e6100;
  }
}
@media screen {
  .c-Document--Complete {
    &::before {
      background: #ecff9e;
    }
  }
}

.c-Document--Released {
  &::before {
    content: @content_released;
    color: #006127;
  }
}
@media screen {
  .c-Document--Released {
    &::before {
      background: #9effc5;
    }
  }
}


  .elem-status-screen(@brdrc; @bgc) {
    border-left:  0.25rem solid @brdrc;
    border-right: 0.25rem solid @brdrc;
    background: fadeout(@bgc, 80%);
  }
@media screen {
  .c-Document__Draft,
  .c-Document__Complete,
  .c-Document__Released {
    padding-left:  0.75rem;
    padding-right: 0.75rem;
    margin-left:  1rem;
    margin-right: 1rem;
    box-shadow: 4px 4px 8px #808080;
  }
  .c-Document__Informative {
    padding-left:  0.375rem;
    padding-right: 0.375rem;
    margin-left:  0.5rem;
    margin-right: 0.5rem;
    box-shadow: 2px 2px 4px #c0c0c0;
  }
}

.c-Document__Draft    {
  color: #610000;
}
@media screen {
  .c-Document__Draft {
    .elem-status-screen(#f00; #ff9e9e);
  }
}

.c-Document__Complete {
  color: #4e6100;
}
@media screen {
  .c-Document__Complete {
    .elem-status-screen(#cf0; #ecff9e);
  }
}

.c-Document__Released {
  color: #006127;
}
@media screen {
  .c-Document__Released {
    .elem-status-screen(#0f6; #9effc5);
  }
}

.c-Document__Informative {
  color: #002761;
}
@media screen {
  .c-Document__Informative {
    border-left:  0.125rem solid #06f;
    border-right: 0.125rem solid #06f;
    font-family: @project_font_family_base;
    background: fadeout(#9ec5ff, 80%);
  }
}
@media print {
  .c-Document__Informative {
    .parens();
  }
}
