/*#################*\
    _c-Label.less
\*#################*/


@color_dang_base: #f00; @color_dang_base: hsv(  0, 100%, 100%);
@color_cshn_base: #cf0; @color_cshn_base: hsv( 72, 100%, 100%);
@color_skss_base: #0f6; @color_skss_base: hsv(144, 100%, 100%);
@color_info_base: #06f; @color_info_base: hsv(216, 100%, 100%);
@color_help_base: #c0f; @color_help_base: hsv(288, 100%, 100%);

@color_dang_bg: #990000; @color_dang_bg: darken(@color_dang_base, 20%);
@color_cshn_bg: #7a9900; @color_cshn_bg: darken(@color_cshn_base, 20%);
@color_skss_bg: #00993d; @color_skss_bg: darken(@color_skss_base, 20%);
@color_info_bg: #003d99; @color_info_bg: darken(@color_info_base, 20%);
@color_help_bg: #7a0099; @color_help_bg: darken(@color_help_base, 20%);

.color_dang_base {background-color: @color_dang_base;}
.color_cshn_base {background-color: @color_cshn_base;}
.color_skss_base {background-color: @color_skss_base;}
.color_info_base {background-color: @color_info_base;}
.color_help_base {background-color: @color_help_base;}

.color_dang_bg {background-color: @color_dang_bg;}
.color_cshn_bg {background-color: @color_cshn_bg;}
.color_skss_bg {background-color: @color_skss_bg;}
.color_info_bg {background-color: @color_info_bg;}
.color_help_bg {background-color: @color_help_bg;}

// A Label Component adds a small inline-level tag to a span or block of text.
// There are 5 subclasses of Label:
//
// Danger  - a negative consequence, such as an action that cannot be
//           undone or that will cause something to break.
// Caution - the user must proceed with care.
// Success - something was done right.
// Info    - extra information about something.
// Help    - tips and hints for the user.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-04-22
.c-Label {
  .o-Textbox;
  margin-left: 1rem;
  font-weight: bold;
  font-family: @project_font_family_accent;
  border-color: transparent;
  color: @aperture_white;
  background: @aperture_grey_2o6;
}
.c-Label--Dang {background: @color_dang_bg;}
.c-Label--Cshn {background: @color_cshn_bg;}
.c-Label--Skss {background: @color_skss_bg;}
.c-Label--Info {background: @color_info_bg;}
.c-Label--Help {background: @color_help_bg;}

// A Tag is a subclass of Label that looks like a physical "tag".
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-04-22
// .c-Label--Tag {
//   position: relative; // only because `::before` has `position: absolute;`
//   &::before {
//     @x: 0.5em;
//     @y: 0.75em;
//     content: '';
//     display: block;
//     width: 0;
//     border-width: @y @x @y 0;
//     border-style: solid;
//     border-color: transparent;
//     border-right-color: @aperture_grey_5o6;
//     position: absolute;
//     left: -@x;
//     top: 0;
//     z-index: 1;
//   }
// }
// .c-Label--Tag--Dang {.c-Label--Dang; @c: @color_dang_bg; .gradient(to right, @c, darken(@c, 15%);); &::before {border-right-color: @c;}}
// .c-Label--Tag--Cshn {.c-Label--Cshn; @c: @color_cshn_bg; .gradient(to right, @c, darken(@c, 15%);); &::before {border-right-color: @c;}}
// .c-Label--Tag--Skss {.c-Label--Skss; @c: @color_skss_bg; .gradient(to right, @c, darken(@c, 15%);); &::before {border-right-color: @c;}}
// .c-Label--Tag--Info {.c-Label--Info; @c: @color_info_bg; .gradient(to right, @c, darken(@c, 15%);); &::before {border-right-color: @c;}}
// .c-Label--Tag--Help {.c-Label--Help; @c: @color_help_bg; .gradient(to right, @c, darken(@c, 15%);); &::before {border-right-color: @c;}}
