
/*################################*\
    _c-Label.less
\*################################*/


// A Label Component adds a small inline-level tag to a span or block of text.
// Labels automatically implement `.o-Textbox`.
// There are 5 subclasses of Label:
//
// - Danger  - a negative consequence, such as an action that cannot be
//             undone or that will cause something to break.
// - Caution - the user must proceed with care.
// - Success - something was done right.
// - Info    - extra information about something.
// - Help    - tips and hints for the user.
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-05-25
.c-Label {
  .ui-font();
  .ui-lite();
  margin-left: 1rem; // IDEA: may remove this later, and add util class `.u-ml_1` to markup where needed
  box-shadow: 0 1px 2px 1px @color_table_hv; // FIXME variable
}

.c-Label--dang { .ui-dark(); background: @deploying; }
.c-Label--cshn { background: @hereye; }
.c-Label--skss { background: @neurotoxin; }
.c-Label--info { background: @bridges; }
.c-Label--help { background: @companion; }

// A Tag is a subclass of Label that looks like a physical "tag".
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-04-22
// .c-Label--Tag {
//   position: relative; // only because `::before` has `position: absolute;`
//   &::before {
//     @x: 0.5em;
//     @y: 0.75em;
//     content: '';
//     display: block;
//     width: 0;
//     border-width: @y @x @y 0;
//     border-style: solid;
//     border-color: transparent;
//     border-right-color: @aperture_grey_5o6;
//     position: absolute;
//     left: -@x;
//     top: 0;
//     z-index: 1;
//   }
// }
// .c-Label--Tag--dang { .c-Label--dang; @c: @color_dang_bg; .gradient(to right, @c, darken(@c, 15%);); &::before { border-right-color: @c; } }
// .c-Label--Tag--cshn { .c-Label--cshn; @c: @color_cshn_bg; .gradient(to right, @c, darken(@c, 15%);); &::before { border-right-color: @c; } }
// .c-Label--Tag--skss { .c-Label--skss; @c: @color_skss_bg; .gradient(to right, @c, darken(@c, 15%);); &::before { border-right-color: @c; } }
// .c-Label--Tag--info { .c-Label--info; @c: @color_info_bg; .gradient(to right, @c, darken(@c, 15%);); &::before { border-right-color: @c; } }
// .c-Label--Tag--help { .c-Label--help; @c: @color_help_bg; .gradient(to right, @c, darken(@c, 15%);); &::before { border-right-color: @c; } }
