// remove these once xmeter@v1.1.0 is released
.push-this(@space) {
  padding-top: @space;
}
.push-next(@space) {
  margin-bottom: @space;
}
.pull-this(@space) {
  margin-top: -@space;
}
.spacing-top(@space) {
  .push-this(@space);
}
.spacing-bottom(@space) {
  .push-next(@space);
}
