// remove these once xmeter@v1.1.0 is released
.push-this(@space) {
  padding-top: @space;
}
.push-next(@space) {
  margin-bottom: @space;
}
.pull-this(@space) {
  margin-top: -@space;
}
.spacing-top(@space) {
  .push-this(@space);
}
.spacing-bottom(@space) {
  .push-next(@space);
}
.sprite(horizontal; @position; @iconsize; @iconpadd) {
  background-position: ((@position - 1) * -(@iconsize + @iconpadd)) 0;
}
.sprite(vertical; @position; @iconsize; @iconpadd) {
  background-position: 0 ((@position - 1) * -(@iconsize + @iconpadd));
}
