/*################################*\
    _dev.less
\*################################*/
// Fix for import bug in xmeter@2.0.0
@import (reference) url('../../node_modules/xmeter/src/_tool.module.spacing.less');
#XMETER {
  .border-vert(top; @width: 0) {
    border-top-width: @width;
    #XMETER .pull-this(@width);
  }
  .border-vert(bottom; @width: 0) {
    border-bottom-width: @width;
    #XMETER .pull-this(@width);
  }
  .border-vert(topbot; @width: 0) {
    border-top-width:    @width;
    border-bottom-width: @width;
    #XMETER .pull-this(2 * @width);
  }
  .border-vert(all; @width: 0) {
    border-width: @width;
    #XMETER .pull-this(2 * @width);
  }
}
