
/*--------------*\
    _grid.less
\*--------------*/

//Table of Contents
//- WIDTHS
//- TABLE SYSTEM
//- BLOCKS WITH MARGINS
//	- Undo Golden Blocks
//- GUTTERS

//+++++++//
/*@WIDTHS*/
//+++++++//
#_ {
	.width-p0  {width: @golden0;}
	.width-p1  {width: @golden1;}
	.width-p2  {width: @golden2;}
	.width-p3  {width: @golden3;}
	.width-p4  {width: @golden4;}
	.width-p3c {width: @golden3c;}
	.width-p4c {width: @golden4c;}

	.width-f1o1 {width: @1o1;}
	.width-f1o2 {width: @1o2;}
	.width-f2o2:extend(#_ .width-f1o1) {}
	.width-f1o3 {width: @1o3;}
	.width-f2o3 {width: @2o3;}
	.width-f3o3:extend(#_ .width-f1o1) {}
	.width-f1o4 {width: @1o4;}
	.width-f2o4:extend(#_ .width-f1o2) {}
	.width-f3o4 {width: @3o4;}
	.width-f4o4:extend(#_ .width-f1o1) {}
	.width-f1o5 {width: @1o5;}
	.width-f2o5 {width: @2o5;}
	.width-f3o5 {width: @3o5;}
	.width-f4o5 {width: @4o5;}
	.width-f5o5:extend(#_ .width-f1o1) {}
//	.width-f1o6 {width: @1o6;}
//	.width-f2o6:extend(#_ .width-f1o3) {}
//	.width-f3o6:extend(#_ .width-f1o2) {}
//	.width-f4o6:extend(#_ .width-f2o3) {}
//	.width-f5o6 {width: @5o6;}
//	.width-f6o6:extend(#_ .width-f1o1) {}
}
//++++ @end WIDTHS ++++//


//+++++++++++++//
/*@TABLE SYSTEM*/
//+++++++++++++//
.Row {
	display: table;
	width: 100%;
	> .Cell {
		display: table-cell;
		vertical-align: top;
		overflow: visible;
	}
	> .Cell.P0:extend( #_ .width-p0)  {}
	> .Cell.P1:extend( #_ .width-p1)  {}
	> .Cell.P2:extend( #_ .width-p2)  {}
	> .Cell.P3:extend( #_ .width-p3)  {}
	> .Cell.P4:extend( #_ .width-p4)  {}
	> .Cell.P3c:extend(#_ .width-p3c) {}
	> .Cell.P4c:extend(#_ .width-p4c) {}

	> .Cell.F1o1:extend(#_ .width-f1o1) {}
	> .Cell.F1o2:extend(#_ .width-f1o2) {}
	> .Cell.F2o2:extend(#_ .width-f2o2) {}
	> .Cell.F1o3:extend(#_ .width-f1o3) {}
	> .Cell.F2o3:extend(#_ .width-f2o3) {}
	> .Cell.F3o3:extend(#_ .width-f3o3) {}
	> .Cell.F1o4:extend(#_ .width-f1o4) {}
	> .Cell.F2o4:extend(#_ .width-f2o4) {}
	> .Cell.F3o4:extend(#_ .width-f3o4) {}
	> .Cell.F4o4:extend(#_ .width-f4o4) {}
	> .Cell.F1o5:extend(#_ .width-f1o5) {}
	> .Cell.F2o5:extend(#_ .width-f2o5) {}
	> .Cell.F3o5:extend(#_ .width-f3o5) {}
	> .Cell.F4o5:extend(#_ .width-f4o5) {}
	> .Cell.F5o5:extend(#_ .width-f5o5) {}
	> .Cell.F1o6:extend(#_ .width-f1o6) {}
	> .Cell.F2o6:extend(#_ .width-f2o6) {}
	> .Cell.F3o6:extend(#_ .width-f3o6) {}
	> .Cell.F4o6:extend(#_ .width-f4o6) {}
	> .Cell.F5o6:extend(#_ .width-f5o6) {}
	> .Cell.F6o6:extend(#_ .width-f6o6) {}
}
//++++ @end TABLE SYSTEM ++++//


//++++++++++++++++++++//
/*@BLOCKS WITH MARGINS*/
//++++++++++++++++++++//
.margin--phi--left(@width) {
	margin-left:  ((100% - @width) * @phi1);
	margin-right: ((100% - @width) * @phi2);
}
.margin--phi--right(@width) {
	margin-left:  ((100% - @width) * @phi2);
	margin-right: ((100% - @width) * @phi1);
}
.margin--even(@width) {
	margin-left:  ((100% - @width) * 0.5);
	margin-right: ((100% - @width) * 0.5);
}
.margin--all--left(@width) {
	margin-left: (100% - @width);
	margin-right: 0;
}
.margin--all--right(@width) {
	margin-left: 0;
	margin-right: (100% - @width);
}

.Block {
	display: block;
}
.Block.P1:extend( #_ .width-p1)  {}
.Block.P2:extend( #_ .width-p2)  {}
.Block.P3:extend( #_ .width-p3)  {}
.Block.P4:extend( #_ .width-p4)  {}
.Block.P3c:extend(#_ .width-p3c) {}
.Block.P4c:extend(#_ .width-p4c) {}

.Block.P1.Ml {.margin--phi--right(@golden1);}
.Block.P1.Mr {.margin--phi--left(@golden1);}

.Block.P1.Left  {.margin--all--right(@golden1);}
.Block.P2.Left  {.margin--all--right(@golden2);}
.Block.P3.Left  {.margin--all--right(@golden3);}
.Block.P4.Left  {.margin--all--right(@golden4);}
.Block.P3c.Left {.margin--all--right(@golden3c);}
.Block.P4c.Left {.margin--all--right(@golden4c);}

.Block.P1.Right  {.margin--all--left(@golden1);}
.Block.P2.Right  {.margin--all--left(@golden2);}
.Block.P3.Right  {.margin--all--left(@golden3);}
.Block.P4.Right  {.margin--all--left(@golden4);}
.Block.P3c.Right {.margin--all--left(@golden3c);}
.Block.P4c.Right {.margin--all--left(@golden4c);}

.Block.Sml:extend(#_ .width-p1)   {.margin--even(@golden1);} // Golden:     61.80%
.Block.Med:extend(#_ .width-f2o3) {.margin--even(@2o3);}     // arithmetic: 66.66%
.Block.Lrg:extend(#_ .width-f3o4) {.margin--even(@3o4);}     // geometric:  75.00%
.Block.Ful:extend(#_ .width-f1o1) {.margin--even(@1o1);}     // harmonic:  100.00%

//-------------------//
/*@Undo Golden Blocks*/
//-------------------//
//.UndoGolden {
//	position: relative;
//	left: 0;
//}
//.UndoGolden.P1  {width: @inv-golden1;}
//.UndoGolden.P2  {width: @inv-golden2;}
//.UndoGolden.P3  {width: @inv-golden3;}
//.UndoGolden.P4  {width: @inv-golden4;}
//.UndoGolden.P3c {width: @inv-golden3c;}
//.UndoGolden.P4c {width: @inv-golden4c;}
//
//.UndoGolden.P1.Ml {left: -@golden3;}
//.UndoGolden.P1.Mr {left: -@golden2;}
//
//.UndoGolden.P1.Left  {}
//.UndoGolden.P2.Left  {}
//.UndoGolden.P3.Left  {}
//.UndoGolden.P4.Left  {}
//.UndoGolden.P3c.Left {}
//.UndoGolden.P4c.Left {}
//
//.UndoGolden.P1.Right  {left: -@golden1;}
//.UndoGolden.P2.Right  {left: -100%;}
//.UndoGolden.P3.Right  {left: -323.6067977499789696%;} // -323.6067977499789696%
//.UndoGolden.P4.Right  {left: -585.4101966249684545%;} // -585.4101966249684545%
//.UndoGolden.P3c.Right {left:  -30.9016994374947424%;} //  -30.9016994374947424%
//.UndoGolden.P4c.Right {left:  -17.0820393249936909%;} //  -17.0820393249936909%
//---- @end Undo Golden Blocks ----//
//++++ @end BLOCKS WITH MARGINS ++++//


//++++++++//
/*@GUTTERS*/
//++++++++//
//.gutter {
//	position: absolute;
//	.h {
//		text-align: center;
//		text-indent: 0;
//	}
//}
//.gutter--left {
//	&:extend(.gutter);
//	left: 0;
//}
//
//.gutter--major {
//	// * .p1--midleft within a .p3--left
//	&:extend(.gutter--left all);
//	width: @golden4;
//	margin-left: @golden7;
//	margin-right: @golden6;
//}
//.gutter--minor {
//	// * .p1--midright within a .p4--right
//	&:extend(.gutter all);
//	width: @golden5;
//	margin-left: @golden7;
//	margin-right: @golden8;
//	right: 0;
//}
//@media print {
//	.gutter {
//		width: auto;
//		margin-left: auto;
//		margin-right: auto;
//		position: static;
//	}
//}
//++++ @end GUTTERS ++++//
