// main: all.less

/*--------------*\
    _grid.less
\*--------------*/

// Table of Contents
// - WIDTHS
// - MARGINS
// 	- Undo Golden Blocks
// - TABLE SYSTEM
// - GUTTERS


//+++++++//
/*@WIDTHS*/
//+++++++//
/**
  * The following Interfaces change the width of the Objects that implement them. The Interface names describe the widths.
@tags
: #grid
: #golden
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.w-p0  {width: @golden0;}
.w-p1  {width: @golden1;}
.w-p2  {width: @golden2;}
.w-p3  {width: @golden3;}
.w-p4  {width: @golden4;}
.w-p3c {width: @golden3c;}
.w-p4c {width: @golden4c;}

.w-f1o1 {&:extend(.w-p0);}
.w-f1o2 {width: @1o2;}
.w-f2o2 {&:extend(.w-f1o1);}
.w-f1o3 {width: @1o3;}
.w-f2o3 {width: @2o3;}
.w-f3o3 {&:extend(.w-f1o1);}
.w-f1o4 {width: @1o4;}
.w-f2o4 {&:extend(.w-f1o2);}
.w-f3o4 {width: @3o4;}
.w-f4o4 {&:extend(.w-f1o1);}
.w-f1o5 {width: @1o5;}
.w-f2o5 {width: @2o5;}
.w-f3o5 {width: @3o5;}
.w-f4o5 {width: @4o5;}
.w-f5o5 {&:extend(.w-f1o1);}
.w-f1o6 {width: @1o6;}
.w-f2o6 {&:extend(.w-f1o3);}
.w-f3o6 {&:extend(.w-f1o2);}
.w-f4o6 {&:extend(.w-f2o3);}
.w-f5o6 {width: @5o6;}
.w-f6o6 {&:extend(.w-f1o1);}
//++++ @end WIDTHS ++++//


//++++++++//
/*@MARGINS*/
//++++++++//
/**
  * The following Mixins define horizontal margins on `.Block`s of content.
  * `.margin-phi-[left|right]()` splits the margins so that the ratio of [left|right] margin to [right|left] margin is Golden.
  * `.margin-even()` splits the margins equally.
  * `.margin-all-[left|right]()` moves all horizontal margins to the [left|right] side.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.margin-phi-left(@width) {
	margin-left:  ((100% - @width) * @phi1);
	margin-right: ((100% - @width) * @phi2);
}
.margin-phi-right(@width) {
	margin-left:  ((100% - @width) * @phi2);
	margin-right: ((100% - @width) * @phi1);
}
.margin-even(@width) {
	margin-left:  ((100% - @width) * 0.5);
	margin-right: ((100% - @width) * 0.5);
}
.margin-all-left(@width) {
	margin-left: (100% - @width);
	// margin-right: 0;
}
.margin-all-right(@width) {
	// margin-left: 0;
	margin-right: (100% - @width);
}

/**
  * This Object represents a block of content that has horizontal margins. It's not technically part of the "grid" system, but it's here because it's used for layout.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-18
  */
// .Block {
// 	display: block;
// }

.w-p1.ml {.margin-phi-right(@golden1);}
.w-p1.mr {.margin-phi-left(@golden1);}

.w-p1.left  {.margin-all-right(@golden1);}
.w-p2.left  {.margin-all-right(@golden2);}
.w-p3.left  {.margin-all-right(@golden3);}
.w-p4.left  {.margin-all-right(@golden4);}
.w-p3c.left {.margin-all-right(@golden3c);}
.w-p4c.left {.margin-all-right(@golden4c);}

.w-p1.right  {.margin-all-left(@golden1);}
.w-p2.right  {.margin-all-left(@golden2);}
.w-p3.right  {.margin-all-left(@golden3);}
.w-p4.right  {.margin-all-left(@golden4);}
.w-p3c.right {.margin-all-left(@golden3c);}
.w-p4c.right {.margin-all-left(@golden4c);}

.center-sml {
	&:extend(.w-p1); // Golden: 61.80%
	.margin-even(@golden1);
}
.center-med {
	&:extend(.w-f2o3); // arithmetic: 66.66%
	.margin-even(@2o3);
}
.center-lrg {
	&:extend(.w-f3o4); // geometric: 75.00%
	.margin-even(@3o4);
}
.center-ful {
	&:extend(.w-f1o1); // harmonic: 100.00%
	// margin-left: 0;
	// margin-right: 0;
}

//-------------------//
/*@Undo Golden Blocks*/
//-------------------//
.undo-main {
	width: @inv_golden1;
	position: relative;
	left: -@golden2;
}
//.UndoGolden {
//	position: relative;
//	left: 0;
//}
//.UndoGolden.P1  {width: @inv_golden1;}
//.UndoGolden.P2  {width: @inv_golden2;}
//.UndoGolden.P3  {width: @inv_golden3;}
//.UndoGolden.P4  {width: @inv_golden4;}
//.UndoGolden.P3c {width: @inv_golden3c;}
//.UndoGolden.P4c {width: @inv_golden4c;}
//
//.UndoGolden.P1.Ml {left: -@golden3;}
//.UndoGolden.P1.Mr {left: -@golden2;}
//
//.UndoGolden.P1.Left  {}
//.UndoGolden.P2.Left  {}
//.UndoGolden.P3.Left  {}
//.UndoGolden.P4.Left  {}
//.UndoGolden.P3c.Left {}
//.UndoGolden.P4c.Left {}
//
//.UndoGolden.P1.Right  {left: (-@golden1);}
//.UndoGolden.P2.Right  {left: (-100%);}
//.UndoGolden.P3.Right  {left: (-323.6067977499789696%);} // -323.6067977499789696%
//.UndoGolden.P4.Right  {left: (-585.4101966249684545%);} // -585.4101966249684545%
//.UndoGolden.P3c.Right {left:  (-30.9016994374947424%);} //  -30.9016994374947424%
//.UndoGolden.P4c.Right {left:  (-17.0820393249936909%);} //  -17.0820393249936909%
//---- @end Undo Golden Blocks ----//
//++++ @end MARGINS ++++//


//+++++++++++++//
/*@TABLE SYSTEM*/
//+++++++++++++//
/**
  * This Object represents a container of blocks of content. The inner blocks are alinged horizontally, as if all in the same row.
  * `.Grow` = "grid row"
@tags
: #grid
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Grow {
	display: table;
	width: 100%;
}
/**
  * This Object represents a block of content within a `.Grow`. These blocks are alinged horizontally.
  * `.Gcol` = "grid col"
@implements
: .P0   and similar
: .F1o1 and similar
@tags
: #grid
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Grow > .Gcol {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
}
//++++ @end TABLE SYSTEM ++++//


//++++++++//
/*@GUTTERS*/
//++++++++//
//.gutter {
//	position: absolute;
//	.h {
//		text-align: center;
//		text-indent: 0;
//	}
//}
//.gutter--left {
//	&:extend(.gutter);
//	left: 0;
//}
//
//.gutter--major {
//	// * .p1--midleft within a .p3--left
//	&:extend(.gutter--left all);
//	width: @golden4;
//	margin-left: @golden7;
//	margin-right: @golden6;
//}
//.gutter--minor {
//	// * .p1--midright within a .p4--right
//	&:extend(.gutter all);
//	width: @golden5;
//	margin-left: @golden7;
//	margin-right: @golden8;
//	right: 0;
//}
//@media print {
//	.gutter {
//		width: auto;
//		margin-left: auto;
//		margin-right: auto;
//		position: static;
//	}
//}
//++++ @end GUTTERS ++++//
