// main: all.less

/*--------------------*\
    _interfaces.less
\*--------------------*/

//Table of Contents
// - MIXINS
// 	- Abstract Boxes
// - INTERFACES
// 	- Delimiters


//+++++++//
/*@MIXINS*/
//+++++++//
/**
  * These Mixins set the padding, border, and margin on the left or right side, such that the border:padding ratio and the (border+padding):margin ratio are Golden.
@params
: @side:  either "left" or "right"
: @brdrw : value of the `border-[left|right]-width` property
: @brdrs : value of the `border-[left|right]-style` property
: @brdrc : value of the `border-[left|right]-color` property
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.spacing-phi(@side; @brdrw; @brdrs; @brdrc) {
	 border-@{side}: @brdrw @brdrs @brdrc;
	padding-@{side}: (@brdrw * @inv_phi1);
	 margin-@{side}: (@brdrw * @inv_phi3);
}
/** negate the effects of `.spacing-phi(@side; @brdrw; @brdrs; @brdrc)`  on the [left|right] side */
// .spacing-phi(@side) {
// 	.spacing-phi(@side; 0; solid; #000);
// }
// .spacing-phi-left  {.spacing-phi(left);}
// .spacing-phi-right {.spacing-phi(right);}

//---------------//
/*@Abstract Boxes*/
//---------------//
/**
  * This Mixin creates an abstract inline structure, boxed with a border.
@params
: @border_radius : the value of `border-radius` property
@implements
: .cellpaddingdefault
@mixesin
@tags
: #box
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.box-inline(@border_radius) {
	display: inline;
	padding: 1px 2px; // why these numbers?
	border-width: 1px;
	border-style: solid;
	border-radius: @border_radius;
	white-space: nowrap;
}
/**
  * This Mixin creates an abstract block structure, boxed with a border.
@params
: @border_radius : the value of `border-radius` property
@implements
: .cellpaddingdefault
: .vru-content
@mixesin
: .border-vert-both()
@tags
: #box
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.box-block(@border_radius) {
	&:extend(.cellpaddingdefault);
	&:extend(.vru-content);
	.border-vert-both(all; 1px; solid);
	border-radius: @border_radius;
}
//---- @end Abstract Boxes ----//
//++++ @end MIXINS ++++//


//+++++++++++//
/*@INTERFACES*/
//+++++++++++//
/**
  * This Interface creates default padding for cell-like structures (table cells, grid cells, boxes, etc.).
  * The padding is based on the Vertical Rhythm Unit. The vertical padding is in rems, and the horizontal padding is in pixels.
@tags
: #verticalrhythm
: #padding
@author
: Chris Harvey
@updated
: 2014-05-20
  */
.cellpaddingdefault {
	padding: (@vru_px  / 2) (@vru_px / 2 * @phi1); // fallback
	padding: (@vru_rem / 2) (@vru_px / 2 * @phi1);
}
/**
  * This Interface is used on containers of floats. It pushes subsequent content to the bottom of the container.
@tags
: #float
@author
: Chris Harevy
@updated
: 2014-05-12
  */
.clearfix {
	&::after {
		content:' ';
		clear: both;
		display: table;
	}
}
/**
  * This Interface makes an object slightly transparent, but it becomes opaque upon `:hover`.
@tags
: #schematic
: #golden
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.transp {
	opacity: @golden1;
	&:hover {opacity: 1;}
}
/**
  * This Interface represents a lede, an introductory/summary sentence or paragraph which catches the reader's attention.
@tags
: #typography
: #paragraph
: #span
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.lede {
}

//-----------//
/*@Delimiters*/
//-----------//
/**
  * This Interface adds opening and closing punctuation marks surrounding an element. The punctuation marks are given by the `quotes` property.
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-26
  */
.delimiters {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.parens        {&:extend(.delimiters all); quotes: '('     ')';}
.quotes-double {&:extend(.delimiters all); quotes: '\201c' '\201d';} // '“' '”'
.quotes-single {&:extend(.delimiters all); quotes: '\2018' '\2019';} // '‘' '’'
.guillemets    {&:extend(.delimiters all); quotes: '\00ab' '\00bb';} // '«' '»'
//---- @end Delimiters ----//
@media print {
	/**
	  * This Interface displays an Object on screen but does not print it.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
	.noprint {
		display: none;
	}
	/**
	  * This Interface starts a new page in the print media.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
	.pagebreak {
		page-break-before: always;
		padding-top: 0.25in;
	}
}

//++++ @end INTERFACES ++++//
