// main: all.less

/*--------------*\
	_mods.less
\*--------------*/

//Table of Contents
//- ABSTRACT BOXES
//- MESSAGES
//- MASTHEAD
//- BREADCRUMBS
//- FOOTNOTES




















//+++++++++//
/*@MASTHEAD*/
//+++++++++//
//.masthead {
//	@iconsize: 96px; // 1in
//	.p4--right;
//	position: fixed;
//	top: (@iconsize / 2);
//	nav {
//		.p1--midleft;
//		.mylogo {
//			display: block;
//			.border-vert--one(bottom; 0);
//			font-weight: bold;
//			font-size: @iconsize;
//			font-family: @fontfam--math;
//		}
//	}
//}
//++++ @end MASTHEAD ++++//




//++++++++++++++++++//
/*@DOCUMENT METADATA*/
//++++++++++++++++++//
.docmeta {
	&:extend(.dl--table--sml all);
//	&::before {
//		&:extend(.h-zeta all);
//		content: 'Document Information';
//		display: block;
//		text-indent: 0;
//	}
	> dt {
		font-weight: bold;
		&::after {content: ':';}
	}
	time:not(.submit):not(.recent) {
		.hm {display: none;}
	}
	.hm::before {content: '@\0020';}
}
//++++ @end DOCUMENT METADATA ++++//


//++++++++++//
/*@FOOTNOTES*/
//++++++++++//
@fn-width: 1.5em;
.footnotes {
	// * an unordered list containing footnotes
	&:extend(.list--bare);
	.vru-phi--top(1px; solid; @color_accent);
	.fontsize(small);
	> li {
		padding-left: @fn-width;
		text-indent: -@fn-width;
	}
}
/*sup*/.fn {
	// * the superscript containing a link
	&:extend(sup all);
	width: @fn-width;
	> a {
		&::before {content: '[';}
		&::after {content: ']';}
	}
}
//++++ @end FOOTNOTES ++++//

@media print {
	.masthead {display: none;}
	.warning,
	.caution,
	.success,
	.info,
	.help,
	.special {
		&::before {display: none;}
	}
}
