// main: all.less

/*--------------*\
	_mods.less
\*--------------*/

// Table of Contents
// - BUTTONS
// - MESSAGES


//++++++++//
/*@BUTTONS*/
//++++++++//
/** The default border for button-like Objects. */
@btn_brdr_width: 2px;
@btn_brdr_radius: 6px;

/**
  * A general Button Object.
@implements
: .fontsize-sml-inline
@mixesin
: .box-inline()
@tags
: #button
@author
: Chris Harvey
@updated
: 2014-06-06
  */
.Button {
	&:extend(.fontsize-sml-inline);
	.box-inline(@btn_brdr_radius);
	border-width: @btn_brdr_width;
	border-style: outset;
	border-color: @color_btn_up_brdr;
	margin-bottom: (-2 * @btn_brdr_width);
	font-family: @fontfam_accent;
	color: @color_btn_up_txt;
	background-color: @color_btn_up_bg;
	cursor: pointer;
	&:active {
		border-style: inset;
		border-color: @color_btn_dn_brdr;
		color: @color_btn_dn_txt;
		background-color: @color_btn_dn_bg;
	}
}
//++++ @end BUTTONS ++++//


//+++++++++//
/*@MESSAGES*/
//+++++++++//
/**
  * A general Message Object.
@implements
: .fontsize-sml
// : .vru-top-1
@mixesin
: .box-block()
@tags
: #message
@author
: Chris Harvey
@updated
: 2014-06-06
  */
.Msg {
	&:extend(.fontsize-sml);
	// &:extend(.vru-top-1);
	.box-block(@btn_brdr_radius);
	font-style: normal;
	font-weight: normal;
	font-family: @fontfam_accent;
	&::before {
		// display: block;
		font-weight: bold;
		// font-family: @fontfam_code;
		// text-align: center;
	}
}
.message-mx(@color_txt; @color_bg; @color_brdr; @content) {
	border-color: @color_brdr;
	color: @color_txt;
	background-color: @color_bg;
	&::before {
		content: @content;
	}
}
.Msg.Warn {
	.message-mx(
		@color_msg_warn_txt;
		@color_msg_warn_bg;
		@color_msg_warn_brdr;
		'Warning ! '
	);
}
.Msg.Cshn {
	.message-mx(
		@color_msg_cshn_txt;
		@color_msg_cshn_bg;
		@color_msg_cshn_brdr;
		'Caution \2026\ ' // &hellip;
	);
}
.Msg.Skss {
	.message-mx(
		@color_msg_skss_txt;
		@color_msg_skss_bg;
		@color_msg_skss_brdr;
		'Success \263A\ ' // smiley
	);
}
.Msg.Info {
	.message-mx(
		@color_msg_info_txt;
		@color_msg_info_bg;
		@color_msg_info_brdr;
		'Info ? '
		);
}
.Msg.Help {
	.message-mx(
		@color_msg_help_txt;
		@color_msg_help_bg;
		@color_msg_help_brdr;
		'Help \2665\ ' // &hearts;
	);
}
.Msg.Spsl {
	.message-mx(
		@color_msg_spsl_txt;
		@color_msg_spsl_bg;
		@color_msg_spsl_brdr;
		'Special \2605\ ' // star
	);
}
//++++ @end MESSAGES ++++//
