// main: all.less

/*--------------*\
	_mods.less
\*--------------*/

//Table of Contents
//- ABSTRACT BOXES
//- MESSAGES
//- MASTHEAD
//- BREADCRUMBS
//- FOOTNOTES




















//+++++++++//
/*@MASTHEAD*/
//+++++++++//
//.masthead {
//	@iconsize: 96px; // 1in
//	.p4--right;
//	position: fixed;
//	top: (@iconsize / 2);
//	nav {
//		.p1--midleft;
//		.mylogo {
//			display: block;
//			.border-vert--one(bottom; 0);
//			font-weight: bold;
//			font-size: @iconsize;
//			font-family: @fontfam--math;
//		}
//	}
//}
//++++ @end MASTHEAD ++++//


//++++++++++++//
/*@BREADCRUMBS*/
//++++++++++++//
.bc {
	.gutter--major;
	position: fixed;
	top: 2 * @vru;
	z-index: 1;
}
.bc__anc,
.bc__sib,
.bc__child {
	&:extend(.list--bare all);
	margin-top: 0;
	padding-bottom: @vru;
	li {
	}
}
.bc__link {
	&:extend(.button all);
	.box-block();
	padding: (0.125 * @vru) 15px;
	border-radius: 15px;
	margin-top: 0.75 * @vru;
	text-align: left;
	&[rel~="this"] {
		font-weight: bold;
	}
}
.bc__anc {
//	a::before {content: '\22a5';} // `\bot` or 'up tack'
//	a::before {content: '\22b7';} // 'image of'
//	a::before {content: '<';}
}
.bc__sib {
//	a::before {content: '\22a2';} // `\vdash` or 'turnstile'
//	a::before {content: '\29df';} // 'double-ended multimap'
//	a::before {content: '+';}
}
.bc__child {
//	a::before {content: '\22a4';} // `\top` or 'down tack'
//	a::before {content: '\22b6';} // 'original of'
//	a::before {content: '>';}
}
//++++ @end BREADCRUMBS ++++//


//++++++++++++++++++//
/*@DOCUMENT METADATA*/
//++++++++++++++++++//
.docmeta {
	&:extend(.dl--table--sml all);
//	&::before {
//		&:extend(.h-zeta all);
//		content: 'Document Information';
//		display: block;
//		text-indent: 0;
//	}
	> dt {
		font-weight: bold;
		&::after {content: ':';}
	}
	time:not(.submit):not(.recent) {
		.hm {display: none;}
	}
	.hm::before {content: '@\0020';}
}
//++++ @end DOCUMENT METADATA ++++//


//++++++++++//
/*@FOOTNOTES*/
//++++++++++//
@fn-width: 1.5em;
.footnotes {
	// * an unordered list containing footnotes
	&:extend(.list--bare);
	.vru-phi--top(1px; solid; @color_accent);
	.fontsize(small);
	> li {
		padding-left: @fn-width;
		text-indent: -@fn-width;
	}
}
/*sup*/.fn {
	// * the superscript containing a link
	&:extend(sup all);
	width: @fn-width;
	> a {
		&::before {content: '[';}
		&::after {content: ']';}
	}
}
//++++ @end FOOTNOTES ++++//

@media print {
	.masthead {display: none;}
	.warning,
	.caution,
	.success,
	.info,
	.help,
	.special {
		&::before {display: none;}
	}
}
