// main: all.less

/*--------------*\
	_mods.less
\*--------------*/

// Table of Contents


/** The default border for button-like Objects. */
@btn_brdr_width: 2px;
@btn_brdr_radius: 6px;

/**
  * A general Button Object.
@extends
: .fontsize-sml-inline
@mixesin
: .box-inline()
@tags
: #button
@author
: Chris Harvey
@updated
: 2014-06-06
  */
.Button {
	&:extend(.fontsize-sml-inline);
	.box-inline(@btn_brdr_radius);
	border-width: @btn_brdr_width;
	border-style: outset;
	border-color: @color_btn_up_brdr;
	margin-bottom: (-2 * @btn_brdr_width);
	color: @color_btn_up_txt;
	background-color: @color_btn_up_bg;
	cursor: pointer;
	&:active {
		border-style: inset;
		border-color: @color_btn_dn_brdr;
		color: @color_btn_dn_txt;
		background-color: @color_btn_dn_bg;
	}
}
