
/*---------------*\
    _reset.less
\*---------------*/

body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul,
dl, dt, dd,
pre {
	display: block;
}
li {
	display: list-item;
}

table   {display: table; border-collapse: collapse;}
caption {display: table-caption;}
thead   {display: table-header-group;}
tbody   {display: table-row-group;}
tfoot   {display: table-footer-group;}
tr      {display: table-row;}
th, td  {display: table-cell;}

em, strong, mark, i, b,
q, cite, time, dfn, abbr, del, ins, sup, sub,
code, kbd, samp, var {
	display: inline;
}
hr {display: none;} // DO NOT USE THIS ELEMENT! Use `</section><section>` instead.
q {
	&::before,
	&::after {content: none;}
}
body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul, li,
dl, dt, dd,
table, th, td,
pre {
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;
	position: static;
}
html {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Helvetica','Arial',sans-serif;
	text-align: left;
	line-height: 1.25;
	vertical-align: baseline;
}
body {
	color: #000;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6,
p, figure, blockquote, address,
th,
ol, ul, li,
em, strong, mark, i, b,
q, cite, dfn, abbr, del, ins, small, sup, sub,
pre, code, kbd, samp, var,
a {
	font-style:     inherit;
	font-variant:   inherit;
	font-weight:    inherit;
	font-size:      inherit;
	font-family:    inherit;
	text-align:     inherit;
	line-height:    inherit;
	vertical-align: inherit;
	color:          inherit;
	background-color: transparent;
}
ol, ul {
	list-style-type: none;
}
del, ins, a {
	text-decoration: none;
}
