// main: core.less

/*###############*\
    _reset.less
\*###############*/


// This stylesheet rides on top of `normalize.css` developed by _____________.
//
// While `normalize.css` addresses discrepancies between different browsers’ rendering of
// HTML elements, providing only the very basic and necessary styles, this stylesheet adds
// additional styles for a more streamlined look and a vertical rhythm system.
// (For more information on vertical rhythm, see []().)
//
// Features of this stylesheet include:
//
// - Vertical rhythm --- every line on the page is exactly the same height
//   (dubbed a “vertical rhythm unit” or vru) regardless of font size, and typographical elements
//   (headings, paragraphs, figures, blockquotes, lists, tables, etc.) are separated by
//   integer multiples of that height.
// - Units for font-size, margin, and padding are in `rem`s rather than `em`s, thus
//   the size of an element’s font remains the same regardless of where that element is placed
//   (style does not depend on structure).
// - Minor, nevertheless prettier, style changes to some text-level semantic elements
//   (a.k.a. “phrasing content”).


// # HTML Elements
// (in a friendly order)
//
// - `html`
//
// ## Sections (Flow Content Model)
//
// - `body` (sectioning root)
// - `section` (sectioning content)
// - `article` (sectioning content)
// - `aside` (sectioning content)
// - `nav` (sectioning content)
// - `main`
// - `header`
// - `footer`
// - `h1`, `h2`, `h3`, `h4`, `h5`, `h6`
// - `address`
//
// ## Grouping Content (Flow Content Model)
//
// - `hr` (self-closing tag)
// - `div`
//
// ### Paragraph-Like Content
//
// - `p`
// - `figure` (sectioning root)
// - `figcaption`
// - `blockquote` (sectioning root)
// - `pre`
//
// ### Lists
//
// - `ol`
// - `ul`
// - `li`
// - `dl`
// - `dt`
// - `dd`
//
// ### Tables
//
// - `table`
// - `caption`
// - `colgroup`
// - `col` (self-closing tag)
// - `tbody`
// - `thead`
// - `tfoot`
// - `tr`
// - `td`
// - `th`
//
// ## Text-Level Semantics (Phrasing Content Model)
//
// - `a` and `a[href]` (transparent content model)
// - `span`
// - `br` (self-closing tag)
// - `wbr` (self-closing tag)
//
// ### Stressed Text
//
// - `em`,     emphasis
// - `strong`, importance
// - `i`,      alternate voice/mood
// - `mark`,   relevance in a certain context
// - `u`,      annotations
// - `small`,  side comments
// - `s`,      inaccurate text
//
// ### Documentation and Edits
//
// - `ins` (transparent content model)
// - `del` (transparent content model)
// - `dfn`
// - `b`, keyword
// - `var`
// - `q`
// - `cite`
// - `sup `
// - `sub`
//
// ### Machine-Readable Text
//
// - `data`
// - `abbr`
// - `time`
// - `code`
// - `kbd`
// - `samp`
//
// ## Embedded Content
// TODO
//
// ## Forms
// TODO


// sets up vertical rhythm units
@fontsize_reset: 16px;
@lineheight_reset: 1.5;
@vru_reset: (@lineheight_reset * 1rem); // 1.5rem
html {
  // font-style: normal;
  // font-variant: normal;
  // font-weight: normal;
  font-size: @fontsize_reset;
  // font-family: 'Helvetica','Arial',sans-serif;
  // text-align: left;
  line-height: @lineheight_reset;
  // vertical-align: baseline;
}
body {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
  // color: #000;
  // background-color: #fff;
}
section {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
article {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
aside {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
nav {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
main {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
header {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
footer {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
@font_size_h1: ((12/6) * 1rem); // 2.00rem;
@font_size_h2: (( 9/6) * 1rem); // 1.50rem;
@font_size_h3: (( 7/6) * 1rem); // 1.17rem;
@font_size_h4: (( 6/6) * 1rem); // 1.00rem;
@font_size_h5: (( 5/6) * 1rem); // 0.83rem;
@font_size_h6: (( 4/6) * 1rem); // 0.67rem;
@line_height_h1: @lineheight_reset / @font_size_h1;
@line_height_h2: @lineheight_reset / @font_size_h2;
@line_height_h3: @lineheight_reset / @font_size_h3;
@line_height_h4: @lineheight_reset / @font_size_h4;
@line_height_h5: @lineheight_reset / @font_size_h5;
@line_height_h6: @lineheight_reset / @font_size_h6;
h1, h2, h3, h4, h5, h6 {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: @vru_reset 0;
  // position: static;
  // font-weight: inherit;
  // font-size: inherit;

  // font-weight: inherit;
  // font-size: inherit;
}
h1 {
  font-size: @font_size_h1;
  line-height: (@line_height_h1 * 2);
  margin: @vru_reset 0 0;
  padding: 0 0 @vru_reset;
}
h2 {
  font-size: @font_size_h2;
  line-height: (@line_height_h2 * 2);
  margin: @vru_reset 0 0;
  padding: 0 0 @vru_reset;
}
h3 {
  font-size: @font_size_h3;
  line-height: @line_height_h3;
  margin: @vru_reset 0 0;
  padding: 0 0 @vru_reset;
}
h4 {
  font-size: @font_size_h4;
  line-height: @line_height_h4;
  margin: @vru_reset 0 0;
  padding: 0 0 @vru_reset;
}
h5 {
  font-size: @font_size_h5;
  line-height: @line_height_h5;
  margin: (@vru_reset / 2) 0 0;
  padding: 0 0 (@vru_reset / 2);
}
h6 {
  font-size: @font_size_h6;
  line-height: @line_height_h6;
  margin: (@vru_reset / 2) 0 0;
  padding: 0 0 (@vru_reset / 2);
}
address {
  // display: block;
  // padding: 0 0 @vru_reset;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
  font-style: inherit;
}
hr {
  display: none;
}
p, figure, blockquote, pre {
  padding: 0 0 @vru_reset;
}
p {
  // display: block;
  // padding: 0 0 @vru_reset;
  // border: 0;
  // outline: 0;
  margin: 0;
  // position: static;
}
figure, blockquote, pre {
  margin: 0 1rem;
}
figure {
  // display: block;
  // padding: 0 0 @vru_reset;
  // border: 0;
  // outline: 0;
  // margin: 0 1rem;
  // position: static;
}
figcaption {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
blockquote {
  // display: block;
  // padding: 0 0 @vru_reset;
  // border: 0;
  // outline: 0;
  // margin: 0 1rem;
  // position: static;
}
pre {
  // display: block;
  // padding: 0 0 @vru_reset;
  // border: 0;
  // outline: 0;
  // margin: 0 1rem;
  // position: static;
  // font-family: inherit;
}
ol, ul, dl {
  padding: 0 0 @vru_reset 4em;
  margin: 0;
}
ol {
  // display: block;
  // padding: 0 0 @vru_reset 4em;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
  // list-style-type: none;
  // list-style-position: outside;
}
ul {
  // display: block;
  // padding: 0 0 @vru_reset 4em;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
  // list-style-type: none;
  // list-style-position: outside;
}
dl {
  // display: block;
  // padding: 0 0 @vru_reset 4em;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
}
li {
  // display: list-item;
}
dt {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // margin: 0;
  // position: static;
  font-weight: bold;
}
dd {
  // display: block;
  // padding: 0;
  // border: 0;
  // outline: 0;
  margin: 0;
  // position: static;
}
dd + dt {
  margin: @vru_reset 0 0;
}
table {
  // display: table;
  // border-collapse: collapse;
}
caption {
  // display: table-caption;
  // text-align: inherit;
}
thead {
  // display: table-header-group;
}
tbody {
  // display: table-row-group;
}
tfoot {
  // display: table-footer-group;
}
tr {
  // display: table-row;
}
th {
  // display: table-cell;
  // font-weight: inherit;
  text-align: center; // not explicitly defined by browser default
}
td {
  // display: table-cell;
}
a, br,
em, strong, i, mark, u, small, s,
ins, del, dfn, b, var, q, cite, sup, sub,
data, abbr, time, code, kbd, samp {
  // inline element line-height not to affect vertical rhythm
  line-height: 0;
}
a {
  // text-decoration: none;
  // color: inherit;
}
a[href] {
  // color: #00e;    // default link
  // color: #551a8b; // default visited
  // color: #f00;    // default active
}
br {
  display: none;
}
em {
  // display: inline;
  // font-style: inherit;
}
strong {
  // display: inline;
  // font-weight: inherit;
}
i {
  // display: inline;
  // font-style: inherit;
  quotes: '\201c' '\201d'; // '“' '”' // &ldquo;  &rdquo;
  &::before {content: open-quote;}
  &::after  {content: close-quote;}
}
i[lang] {
  quotes: '' '';
}
mark {
  // display: inline;
  // color: inherit;
  // background-color: transparent;
}
u {
  // display: inline;
  text-decoration: none;
  color: #080;
}
small {
  // display: inline;
  font-size: 0.75rem;
}
s {
  // display: inline;
  // text-decoration: none;
  color: #e00;
}
ins {
  text-decoration: none;
  background-color: #a6f3a6;
}
del {
  text-decoration: none;
  background-color: #f8cbcb;
}
dfn {
  // display: inline;
  font-style: inherit;
  font-weight: bold;
}
b {
  // display: inline;
  // font-weight: inherit;
}
var {
  // display: inline;
  // font-style: inherit;
}
q {
  // display: inline;
  // &::before,
  // &::after {content: none;}
}
cite {
  // display: inline;
  // font-style: inherit;
}
sup, sub {
  font-size: 0.75rem;
}
sup {
  // display: inline;
  // font-size: inherit;
  // vertical-align: inherit;
}
sub {
  // display: inline;
  // font-size: inherit;
  // vertical-align: inherit;
}
data {
  // display: inline;
}
abbr {
  // display: inline;
}
time {
  // display: inline;
}
code, kbd, samp {
  font-size: 0.75rem;
}
code {
  // display: inline;
  // font-family: inherit;
}
kbd {
  // display: inline;
  // font-family: inherit;
}
samp {
  // display: inline;
  // font-family: inherit;
}
