// main: all.less

/*===============*\
    _reset.less
\*===============*/

// ORDER OF THINGS
// body,
// sectioning roots (section, article, aside, nav),
// main, header, footer,
// headings (h1-h6),
// paragraphs (p, address, figure, blockquote),
// lists (ol, ul, li, dl, dt, dd),
// tables,
// pre,
// links,
// codes,
// highlights (em, strong, mark, i, b),
// documentation (q, cite, time, dfn, abbr, del, ins, small, sup, sub)

body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p, address, figure, blockquote,
ol, ul,
dl, dt, dd,
pre {display: block;}

li {display: list-item;}

table   {display: table; border-collapse: collapse;}
caption {display: table-caption;}
thead   {display: table-header-group;}
tbody   {display: table-row-group;}
tfoot   {display: table-footer-group;}
tr      {display: table-row;}
th, td  {display: table-cell;}

code, kbd, samp, var,
em, strong, mark, i, b,
q, cite, time, dfn, abbr, small, sup, sub,
button {display: inline;}

hr {display: none;}

q {
	&::before,
	&::after {content: none;}
}

body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p, address, figure, blockquote,
ol, ul, li,
dl, dt, dd,
table, th, td,
pre,
button {
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;
	position: static;
}

html {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Helvetica','Arial',sans-serif;
	text-align: left;
	line-height: 1.25;
	vertical-align: baseline;
}

body {
	color: #000;
	background-color: #fff;
}

address,
em, i,
cite, dfn,
var {font-style: inherit;}

h1, h2, h3, h4, h5, h6,
th,
strong, b {font-weight: inherit;}

h1, h2, h3, h4, h5, h6,
small, sup, sub,
button {font-size: inherit;}

pre, code, kbd, samp,
button {font-family: inherit;}

caption {text-align: inherit;}

button {line-height: inherit;}

sup, sub {vertical-align: inherit;}

ol, ul {list-style-type: none;}

u, del, ins, a {text-decoration: none;}

mark, a {color: inherit;}

mark,
button {background-color: transparent;}
