/*#################*\
    _s-ff_UI.less
\*#################*/


.s-ff_UI {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: @project_font_family_accent;
  text-align: left;
}
