
/*##################*\
    _settings.less
\*##################*/


// Settings for the "Project" stylesheet located at `../project.less`.


@t_ani_short:  0.125s;
@t_ani_medium: 0.25s;
@t_ani_long:   0.5s;


// DEPRECATED:
// vertical rhythm
@font_size_base: 100%;
@line_height_base: 1.5;
@vru_core: (1rem * @line_height_base);
// colors for body copy
@color_base_bg:  @aperture_white;
@color_base_txt: @aperture_black;
// accent colors
@color_border: @neurotoxin;
@color_accent: @deploying;


// NEW:
// vertical rhythm
@project_font_size: 100%;
@project_line_height: 1.5;
@project_vru: (@project_line_height * 1rem);
// colors for body copy
@project_color_bg:  @aperture_white;
@project_color_txt: @aperture_black;
// accent colors
@project_color_border: @neurotoxin;
@project_color_accent: @deploying;
