
/*------------------*\
    _settings.less
\*------------------*/

//Table of Contents
//- GLOBAL VARIABLES
//	- General Variables
//	- Fonts
//	- Colors
//- FUNCTIONS
//- CONSTANTS
//	- Golden Values
//	- Even Values


//+++++++++++++++++//
/*@GLOBAL VARIABLES*/
//+++++++++++++++++//

//------------------//
/*@General Variables*/
//------------------//
/** Determines the amount to fade out. Change this if you wish. */
@fade: @golden2;
/** Used for horizontal spacing, e.g., inserting a space between a heading and subheading. */
@spacer: 24px; // 0.25in
//---- @end General Variables ----//

//------//
/*@Fonts*/
//------//
/** These determine 1rem and the 'magic number'. Change these if you wish. */
@fontsize_base:  16px;
@lineheight_base:  1.5;

@fontfam_base:    'Optima','Candara','Helvetica',sans-serif;
@fontfam_heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@fontfam_prose:   'Baskerville','Palatino','Book Antiqua',serif;
@fontfam_code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@fontfam_math:    'Times','Times New Roman',serif;
//@fontfam_accent:  'Gill Sans','Century Gothic',sans-serif;
@fontfam_accent: @fontfam_heading;
//---- @end Fonts ----//

//-------//
/*@Colors*/
//-------//
@aperture_white: hsv(217,   2.1%, 100%); // #fafcff
@aperture_black: hsv( 37, 100.0%, 2.1%); // #050300
@atlas:          hsv(217, 100.0%, 100%); // #0062ff
@pbody:          hsv( 37, 100.0%, 100%); // #ff9d00
@repulsion:      hsv(208,  83.3%, 100%); // #2b9cff
@propulsion:     hsv( 28,  83.3%, 100%); // #ff8e2b
@deploying:      hsv(  5, 100.0%, 100%); // #ff1500
@hereye:         hsv( 55,  66.6%, 100%); // #fff155
@lakesuperior:   hsv(226, 100.0%,  50%); // #001e80
@cavescaves:     hsv( 28,  66.6%,  50%); // #80522b
@facilityabyss:  hsv(199,  50.0%,  50%); // #406b80
@asbestos:       hsv( 46, 100.0%,  75%); // #bf9300
@vilify:         hsv(271, 100.0%,  75%); // #6300bf
@neurotoxin:     hsv( 69,  83.3%,  75%); // #a7bf20
@bridges:        hsv(185,  16.6%, 100%); // #d5fbff
@companion:      hsv(343,  33.3%, 100%); // #ffaac2

#aperture_white {background-color: @aperture_white;}
#aperture_black {background-color: @aperture_black;}
#atlas          {background-color: @atlas;}
#pbody          {background-color: @pbody;}
#repulsion      {background-color: @repulsion;}
#propulsion     {background-color: @propulsion;}
#deploying      {background-color: @deploying;}
#hereye         {background-color: @hereye;}
#lakesuperior   {background-color: @lakesuperior;}
#cavescaves     {background-color: @cavescaves;}
#facilityabyss  {background-color: @facilityabyss;}
#asbestos       {background-color: @asbestos;}
#vilify         {background-color: @vilify;}
#neurotoxin     {background-color: @neurotoxin;}
#bridges        {background-color: @bridges;}
#companion      {background-color: @companion;}

@color_base_txt:   @aperture_black;
@color_base_bg:    @aperture_white;
@color_base_faded: fadeout(@color_base_txt, @fade);
@color_accent:     @deploying;

@color_h_major:    @lakesuperior;
@color_h_minor:    @cavescaves;
@color_hsub_major: @facilityabyss;
@color_hsub_minor: @asbestos;

@color_table_brdr:  @color_accent;
@color_table_bg_hi: hsv(185, 16.6%, 100%); // #d4fbff
@color_table_bg_md: hsv(185, 11.1%, 100%); // #e2fcff
@color_table_bg_lo: hsv(185,  5.5%, 100%); // #f0fdff

@color_linka_up_txt:     @atlas;
@color_linka_up_bg:      lighten(@color_linka_up_txt, @fade);
@color_linka_dn_txt:     @pbody;
@color_linka_dn_bg:      lighten(@color_linka_dn_txt, @fade);
@color_linkb_up_txt:     @neurotoxin;
@color_linkb_up_bg:      lighten(@color_linkb_up_txt, @fade);
@color_linkb_dn_txt:     @vilify;
@color_linkb_dn_bg:      lighten(@color_linkb_dn_txt, @fade);
@color_link_active_txt:  @hereye;
@color_link_active_bg:   @aperture_black;
//---- @end Colors ----//
//++++ @end GLOBAL VARIABLES ++++//


//++++++++++//
/*@FUNCTIONS*/
//++++++++++//
//++++ @end FUNCTIONS ++++//


//++++++++++//
/*@CONSTANTS*/
//++++++++++//

//--------------//
/*@Golden Values*/
//--------------//
@phi0: 1;
@phi1: ((-1 + sqrt(5)) / 2); // 0.618033988749894848
@phi2: (@phi1 * @phi1);
@phi3: (@phi2 * @phi1);
@phi4: (@phi3 * @phi1);
@phi3c: (1 - @phi3);
@phi4c: (1 - @phi4);
@golden0: (100% * @phi0);    // 100%
@golden1: (100% * @phi1);    // 61.8033988749894848%
@golden2: (100% * @phi2);    // 38.1966011250105152%
@golden3: (100% * @phi3);    // 23.6067977499789696%
@golden4: (100% * @phi4);    // 14.5898033750315455%
@golden3c: (100% * @phi3c);  // 76.3932022500210304%
@golden4c: (100% * @phi4c);  // 85.4101966249684545%

@phi5:  (@phi4  * @phi1);
@phi6:  (@phi5  * @phi1);
@phi7:  (@phi6  * @phi1);
@phi8:  (@phi7  * @phi1);
@phi9:  (@phi8  * @phi1);
@phi10: (@phi9  * @phi1);
@phi11: (@phi10 * @phi1);
@phi12: (@phi11 * @phi1);
@golden5:  (100% * @phi5);
@golden6:  (100% * @phi6);
@golden7:  (100% * @phi7);
@golden8:  (100% * @phi8);
@golden9:  (100% * @phi9);
@golden10: (100% * @phi10);
@golden11: (100% * @phi11);
@golden12: (100% * @phi12);

@inv-phi1: (1 / @phi1);
@inv-phi2: (1 / @phi2);
@inv-phi3: (1 / @phi3);
@inv-phi4: (1 / @phi4);
@inv-phi3c: (1 - (@inv-phi3));
@inv-phi4c: (1 - (@inv-phi4));
@inv-golden1: (100% * @inv-phi1);   // 161.8033988749894848%
@inv-golden2: (100% * @inv-phi2);   // 261.8033988749894848%
@inv-golden3: (100% * @inv-phi3);   // 423.6067977499789696%
@inv-golden4: (100% * @inv-phi4);   // 685.4101966249684545%
@inv-golden3c: (100% * @inv-phi3c); // 130.9016994374947424%
@inv-golden4c: (100% * @inv-phi4c); // 117.0820393249936909%
//---- @end Golden Values ----//

//------------//
/*@Even Values*/
//------------//
@1o1: (100% * (1/1)); // 100%
@1o2: (100% * (1/2)); //  50%
@2o2: @1o1;
@1o3: (100% * (1/3)); //  33.333%
@2o3: (100% * (2/3)); //  66.666%
@3o3: @1o1;
@1o4: (100% * (1/4)); //  25%
@2o4: @1o2;
@3o4: (100% * (3/4)); //  75%
@4o4: @1o1;
@1o5: (100% * (1/5)); //  20%
@2o5: (100% * (2/5)); //  40%
@3o5: (100% * (3/5)); //  60%
@4o5: (100% * (4/5)); //  80%
@5o5: @1o1;
//@1o6: (100% * (1/6)); //  16.666%
//@2o6: @1o3;
//@3o6: @1o2;
//@4o6: @2o3;
//@5o6: (100% * (5/6)); //  83.333%
//@6o6: @1o1;

//@1o60:  (100% * ( 1/60)); //  1.666%
//@2o60:  (100% * ( 2/60)); //  3.333%
//@3o60:  (100% * ( 3/60)); //  5%
//@4o60:  (100% * ( 4/60)); //  6.666%
//@5o60:  (100% * ( 5/60)); //  8.333%
//@6o60:  (100% * ( 6/60)); // 10%
//@7o60:  (100% * ( 7/60)); // 11.666%
//@8o60:  (100% * ( 8/60)); // 13.333%
//@9o60:  (100% * ( 9/60)); // 15%
//@10o60: @1o6;
//@11o60: (100% * (11/60)); // 18.333%
//@12o60: @1o5;
//@13o60: (100% * (13/60)); // 21.666%
//@14o60: (100% * (14/60)); // 23.333%
//@15o60: @1o4;
//@16o60: (100% * (16/60)); // 26.666%
//@17o60: (100% * (17/60)); // 28.333%
//@18o60: (100% * (18/60)); // 30%
//@19o60: (100% * (19/60)); // 31.666%
//@20o60: @1o3;
//@21o60: (100% * (21/60)); // 35%
//@22o60: (100% * (22/60)); // 36.666%
//@23o60: (100% * (23/60)); // 38.333%
//@24o60: @2o5;
//@25o60: (100% * (25/60)); // 41.666%
//@26o60: (100% * (26/60)); // 43.333%
//@27o60: (100% * (27/60)); // 45%
//@28o60: (100% * (28/60)); // 46.666%
//@29o60: (100% * (29/60)); // 48.333%
//@30o60: @1o2;
//@31o60: (100% * (31/60)); // 51.666%
//@32o60: (100% * (32/60)); // 53.333%
//@33o60: (100% * (33/60)); // 55%
//@34o60: (100% * (34/60)); // 56.666%
//@35o60: (100% * (35/60)); // 58.333%
//@36o60: @3o5;
//@37o60: (100% * (37/60)); // 61.666%
//@38o60: (100% * (38/60)); // 3.333%
//@39o60: (100% * (39/60)); // 65%
//@40o60: @2o3;
//@41o60: (100% * (41/60)); // 68.333%
//@42o60: (100% * (42/60)); // 70%
//@43o60: (100% * (43/60)); // 71.666%
//@44o60: (100% * (44/60)); // 73.333%
//@45o60: @3o4;
//@46o60: (100% * (46/60)); // 76.666%
//@47o60: (100% * (47/60)); // 78.333%
//@48o60: @4o5;
//@49o60: (100% * (49/60)); // 81.666%
//@50o60: @5o6;
//@51o60: (100% * (51/60)); // 85%
//@52o60: (100% * (52/60)); // 86.666%
//@53o60: (100% * (53/60)); // 88.333%
//@54o60: (100% * (54/60)); // 90%
//@55o60: (100% * (55/60)); // 91.666%
//@56o60: (100% * (56/60)); // 93.333%
//@57o60: (100% * (57/60)); // 95%
//@58o60: (100% * (58/60)); // 96.666%
//@59o60: (100% * (59/60)); // 98.333%
//@60o60: @1o1;
//---- @end Even Values ----//
//++++ @end CONSTANTS ++++//
