
/*################*\
    _colors.less
\*################*/

// Use these helper classes to add a background to an element.
// Some background colors are dark, so a light translucent foreground color has been added.

// Table of Contents
// - PORTAL THEME
//   - Main Portal Colors
//   - Grey Tones
//   - More Portal Colors
// - SOLARIZED / LUNARIZED THEMES
// - LABEL THEME
// - DARK COLORS


/*+++++++++++++++++*\
    #PORTAL THEME
\*+++++++++++++++++*/

/*-----------------------*\
    #Main Portal Colors
\*-----------------------*/
@aperture_white: #f2f7ff; @aperture_white: hsv(217,   5%, 100%);
@aperture_black: #0d0800; @aperture_black: hsv( 37, 100%,   5%);
@lakesuperior:   #120099; @lakesuperior:   hsv(247, 100%,  60%);
@facilityabyss:  #3d6166; @facilityabyss:  hsv(187,  40%,  40%);
@atlas:          #0062ff; @atlas:          hsv(217, 100%, 100%);
@pbody:          #ff9d00; @pbody:          hsv( 37, 100%, 100%);
@neurotoxin:     #9acc7a; @neurotoxin:     hsv( 97,  40%,  80%);
@deploying:      #cc004e; @deploying:      hsv(337, 100%,  80%);
//---- #end Main Portal Colors ----//

/*---------------*\
    #Grey Tones
\*---------------*/
@aperture_grey_0o6: @aperture_black; @aperture_grey_0o6: mix(@aperture_white, @aperture_black,  00.000%);
@aperture_grey_1o6: #34302a;         @aperture_grey_1o6: mix(@aperture_white, @aperture_black,  16.666%);
@aperture_grey_2o6: #5a5855;         @aperture_grey_2o6: mix(@aperture_white, @aperture_black,  33.333%);
@aperture_grey_3o6: #808080;         @aperture_grey_3o6: mix(@aperture_white, @aperture_black,  50.000%);
@aperture_grey_4o6: #a5a7aa;         @aperture_grey_4o6: mix(@aperture_white, @aperture_black,  66.666%);
@aperture_grey_5o6: #cbcfd4;         @aperture_grey_5o6: mix(@aperture_white, @aperture_black,  83.333%);
@aperture_grey_6o6: @aperture_white; @aperture_grey_6o6: mix(@aperture_white, @aperture_black, 100.000%);
//---- #end Grey Tones ----//

/*-----------------------*\
    #More Portal Colors
\*-----------------------*/
@cavescaves: #80522b; @cavescaves: hsv( 28,  66.6%,  50%);
@asbestos:   #bf9300; @asbestos:   hsv( 46, 100.0%,  75%);
@hereye:     #fff155; @hereye:     hsv( 55,  66.6%, 100%);
@repulsion:  #2b9cff; @repulsion:  hsv(208,  83.3%, 100%);
@propulsion: #ff8e2b; @propulsion: hsv( 28,  83.3%, 100%);
@companion:  #ffaac2; @companion:  hsv(343,  33.3%, 100%);
@bridges:    #d4fbff; @bridges:    hsv(185,  16.6%, 100%);
@vilify:     #6300bf; @vilify:     hsv(271, 100.0%,  75%);
//---- #end More Portal Colors ----//
//++++ #end PORTAL THEME ++++//


/*+++++++++++++++++++++++++++++++++*\
    #SOLARIZED / LUNARIZED THEMES
\*+++++++++++++++++++++++++++++++++*/
.SOLLUN() {
@solarized_base03:  #002b36;
@solarized_base02:  #073642;
@solarized_base01:  #586e75;
@solarized_base00:  #657b83;
@solarized_base0:   #839496;
@solarized_base1:   #93a1a1;
@solarized_base2:   #eee8d5;
@solarized_base3:   #fdf6e3;

@solarized_red:     #dc322f;
@solarized_orange:  #cb4b16;
@solarized_yellow:  #b58900;
@solarized_green:   #859900;
@solarized_cyan:    #2aa198;
@solarized_blue:    #268bd2;
@solarized_violet:  #6c71c4;
@solarized_magenta: #d33682;

// Lunarized Bases are Inverses of Solarized Bases
@lunarized_base03: #360b00; @lunarized_base03: spin(@solarized_base03, 180);
@lunarized_base02: #421307; @lunarized_base02: spin(@solarized_base02, 180);
@lunarized_base01: #755f58; @lunarized_base01: spin(@solarized_base01, 180);
@lunarized_base00: #836d65; @lunarized_base00: spin(@solarized_base00, 180);
@lunarized_base0:  #968583; @lunarized_base0:  spin(@solarized_base0,  180);
@lunarized_base1:  #a19393; @lunarized_base1:  spin(@solarized_base1,  180);
@lunarized_base2:  #d5dbee; @lunarized_base2:  spin(@solarized_base2,  180);
@lunarized_base3:  #e3eafd; @lunarized_base3:  spin(@solarized_base3,  180);
// Lunarized Accents are Complements of Solarized Accents
@lunarized_cyan:   #23cdd0; @lunarized_cyan:   rgb(255-red(@solarized_red    ), 255-green(@solarized_red    ), 255-blue(@solarized_red    ));
@lunarized_blue:   #34b4e9; @lunarized_blue:   rgb(255-red(@solarized_orange ), 255-green(@solarized_orange ), 255-blue(@solarized_orange ));
@lunarized_indigo: #4a76ff; @lunarized_indigo: rgb(255-red(@solarized_yellow ), 255-green(@solarized_yellow ), 255-blue(@solarized_yellow ));
@lunarized_violet: #7a66ff; @lunarized_violet: rgb(255-red(@solarized_green  ), 255-green(@solarized_green  ), 255-blue(@solarized_green  ));
@lunarized_red:    #d55e67; @lunarized_red:    rgb(255-red(@solarized_cyan   ), 255-green(@solarized_cyan   ), 255-blue(@solarized_cyan   ));
@lunarized_orange: #d9742d; @lunarized_orange: rgb(255-red(@solarized_blue   ), 255-green(@solarized_blue   ), 255-blue(@solarized_blue   ));
@lunarized_yellow: #938e3b; @lunarized_yellow: rgb(255-red(@solarized_violet ), 255-green(@solarized_violet ), 255-blue(@solarized_violet ));
@lunarized_green:  #2cc97d; @lunarized_green:  rgb(255-red(@solarized_magenta), 255-green(@solarized_magenta), 255-blue(@solarized_magenta));

// colors for Solarized Light Theme
@solarized_lite_bg:   @solarized_base3;
@solarized_lite_brdr: @solarized_base2;
@solarized_lite_txt:  @solarized_base00;
@solarized_lite_comm: @solarized_base1;
@solarized_lite_emph: @solarized_base01;
// colors for Solarized Dark Theme
@solarized_dark_bg:   @solarized_base03;
@solarized_dark_brdr: @solarized_base02;
@solarized_dark_txt:  @solarized_base0;
@solarized_dark_comm: @solarized_base01;
@solarized_dark_emph: @solarized_base1;
// colors for Lunarized Light Theme
@lunarized_lite_bg:   @lunarized_base3;
@lunarized_lite_brdr: @lunarized_base2;
@lunarized_lite_txt:  @lunarized_base00;
@lunarized_lite_comm: @lunarized_base1;
@lunarized_lite_emph: @lunarized_base01;
// colors for Lunarized Dark Theme
@lunarized_dark_bg:   @lunarized_base03;
@lunarized_dark_brdr: @lunarized_base02;
@lunarized_dark_txt:  @lunarized_base0;
@lunarized_dark_comm: @lunarized_base01;
@lunarized_dark_emph: @lunarized_base1;
}
//++++ #end SOLARIZED / LUNARIZED THEMES ++++//


/*++++++++++++++++*\
    #LABEL THEME
\*++++++++++++++++*/
// @warn_glyph: '\0021';             // !
// @cshn_glyph: '\2026'; // &hellip; // …
// @skss_glyph: '\263a';             // ☺
// @info_glyph: '\003f';             // ?
// @help_glyph: '\2665'; // &hearts; // ♥

// @color_warn_brdr: #f00; @color_warn_brdr: hsv(  0, 100%, 100%);
// @color_cshn_brdr: #cf0; @color_cshn_brdr: hsv( 72, 100%, 100%);
// @color_skss_brdr: #0f6; @color_skss_brdr: hsv(144, 100%, 100%);
// @color_info_brdr: #06f; @color_info_brdr: hsv(216, 100%, 100%);
// @color_help_brdr: #c0f; @color_help_brdr: hsv(288, 100%, 100%);

// .color_warn_brdr {background-color: @color_warn_brdr;}
// .color_cshn_brdr {background-color: @color_cshn_brdr;}
// .color_skss_brdr {background-color: @color_skss_brdr;}
// .color_info_brdr {background-color: @color_info_brdr;}
// .color_help_brdr {background-color: @color_help_brdr;}

// @color_warn_txt: #610000; @color_warn_txt: darken(@color_warn_brdr, (@golden1 / 2));
// @color_cshn_txt: #4e6100; @color_cshn_txt: darken(@color_cshn_brdr, (@golden1 / 2));
// @color_skss_txt: #006127; @color_skss_txt: darken(@color_skss_brdr, (@golden1 / 2));
// @color_info_txt: #002761; @color_info_txt: darken(@color_info_brdr, (@golden1 / 2));
// @color_help_txt: #4e0061; @color_help_txt: darken(@color_help_brdr, (@golden1 / 2));

// .color_warn_txt {background-color: @color_warn_txt;}
// .color_cshn_txt {background-color: @color_cshn_txt;}
// .color_skss_txt {background-color: @color_skss_txt;}
// .color_info_txt {background-color: @color_info_txt;}
// .color_help_txt {background-color: @color_help_txt;}

// @color_warn_bg: #ff9e9e; @color_warn_bg: lighten(@color_warn_brdr, (@golden1 / 2));
// @color_cshn_bg: #ecff9e; @color_cshn_bg: lighten(@color_cshn_brdr, (@golden1 / 2));
// @color_skss_bg: #9effc5; @color_skss_bg: lighten(@color_skss_brdr, (@golden1 / 2));
// @color_info_bg: #9ec5ff; @color_info_bg: lighten(@color_info_brdr, (@golden1 / 2));
// @color_help_bg: #ec9eff; @color_help_bg: lighten(@color_help_brdr, (@golden1 / 2));

// .color_warn_bg {background-color: @color_warn_bg;}
// .color_cshn_bg {background-color: @color_cshn_bg;}
// .color_skss_bg {background-color: @color_skss_bg;}
// .color_info_bg {background-color: @color_info_bg;}
// .color_help_bg {background-color: @color_help_bg;}
//++++ #end LABEL THEME ++++//
