// main: core.less

/*##################*\
    _settings.less
\*##################*/

// Table of Contents
// - GLOBAL VARIABLES
//   - General Variables
//   - Fonts
// - FUNCTIONS
// - CONSTANTS
//   - Color Values


//+++++++++++++++++//
/*@GLOBAL VARIABLES*/
//+++++++++++++++++//

//------------------//
/*@General Variables*/
//------------------//
/** Used for horizontal spacing, e.g., inserting a space between a heading and subheading. */
// @spacer: 24px;  // 0.2500in  // 1.500rem
// @tab: 48px;     // 0.5000in  // 3.000rem
// @en: 6px;       // 0.0625in  // 0.375rem
// @em: 8px;       // 0.0833in  // 0.500rem
/** Determines the duration for transition animation effects. */
@t_ani_short:  0.125s;
@t_ani_medium: 0.25s;
@t_ani_long:   0.5s;
//---- @end General Variables ----//

//------//
/*@Fonts*/
//------//
/** These determine 1rem and the 'magic number'. Change these if you wish. */
// @fontsize_base: 16px;
// @lineheight_base: 1.5;
/** One vertical rhythm unit. This is the so-called "magic number." Do not change these calculations. */
// @vru_core: (1rem * @lineheight_base); // 1rem * 1.5 = 1.5rem
//---- @end Fonts ----//
//++++ @end GLOBAL VARIABLES ++++//


//++++++++++//
/*@FUNCTIONS*/
//++++++++++//
//++++ @end FUNCTIONS ++++//


//++++++++++//
/*@CONSTANTS*/
//++++++++++//

//-------------//
/*@Color Values*/
//-------------//
// Portal Theme
@aperture_white: #f1f6ff; @aperture_white: hsv(217, @golden6, 100%);
@aperture_black: #0e0900; @aperture_black: hsv( 37, 100%, @golden6);
@lakesuperior:   #120099; @lakesuperior:   hsv(247, 100%,  60%);
@facilityabyss:  #3d6166; @facilityabyss:  hsv(187,  40%,  40%);
@atlas:          #0062ff; @atlas:          hsv(217, 100%, 100%);
@pbody:          #ff9d00; @pbody:          hsv( 37, 100%, 100%);
@neurotoxin:     #9acc7a; @neurotoxin:     hsv( 97,  40%,  80%);
@deploying:      #cc004e; @deploying:      hsv(337, 100%,  80%);

@aperture_grey_0o6: @aperture_black; @aperture_grey_0o6: mix(@aperture_white, @aperture_black,  00.000%);
@aperture_grey_1o6: #34302a;         @aperture_grey_1o6: mix(@aperture_white, @aperture_black,  16.666%);
@aperture_grey_2o6: #5a5855;         @aperture_grey_2o6: mix(@aperture_white, @aperture_black,  33.333%);
@aperture_grey_3o6: #808080;         @aperture_grey_3o6: mix(@aperture_white, @aperture_black,  50.000%);
@aperture_grey_4o6: #a5a7aa;         @aperture_grey_4o6: mix(@aperture_white, @aperture_black,  66.666%);
@aperture_grey_5o6: #cbcfd4;         @aperture_grey_5o6: mix(@aperture_white, @aperture_black,  83.333%);
@aperture_grey_6o6: @aperture_white; @aperture_grey_6o6: mix(@aperture_white, @aperture_black, 100.000%);

// Solarized Theme
@solarized_base03:  #002b36;
@solarized_base02:  #073642;
@solarized_base01:  #586e75;
@solarized_base00:  #657b83;
@solarized_base0:   #839496;
@solarized_base1:   #93a1a1;
@solarized_base2:   #eee8d5;
@solarized_base3:   #fdf6e3;
@solarized_yellow:  #b58900;
@solarized_orange:  #cb4b16;
@solarized_red:     #dc322f;
@solarized_magenta: #d33682;
@solarized_violet:  #6c71c4;
@solarized_blue:    #268bd2;
@solarized_cyan:    #2aa198;
@solarized_green:   #859900;
//---- @end Color Values ----//
//++++ @end CONSTANTS ++++//
