/*################################*\
    _ui.less
\*################################*/


.UI-VARS() {
  @ui_ts_x: 0;
  @ui_ts_y: 1px;
  @ui_ts_blur: 4px;
  @ui_ts_color_lite: fadeout(@aperture_white, 40%);
  @ui_ts_color_dark: fadeout(@aperture_black, 40%);
}

.ui-font() {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: @project_font_family_accent;
  text-align: left;
}

.ui-lite() {
  .UI-VARS();
  color: @aperture_black;
  text-shadow: @ui_ts_x @ui_ts_y @ui_ts_blur @ui_ts_color_lite;
  background: @aperture_grey_5o6;
}

.ui-dark() {
  .UI-VARS();
  color: @aperture_white;
  text-shadow: @ui_ts_x @ui_ts_y @ui_ts_blur @ui_ts_color_dark;
  background: @aperture_grey_1o6;
}
