// main: all.less

/*################*\
    _trumps.less
\*################*/


/**
===== DRAFT =====

All informative content, including `p`s, `img`s, and `figure`s should be designated with
an `informative` status. All non-normative text should be contained in flow, non-phrasing
content, which will separate it from the normative document.
If there is a non-normative span of text present in a normative paragraph, move the span to
its own separate, non-normative division.

non-normative text in a normative document or article.
This text is informative or "unofficial," for example, supplemental remarks
or a summary of normative information provided for the reader's convenience.
Another common example of non-normative text is duplicating normative text on another
part of the page.


Non-normative text is still part of the normal flow of the document, so it
would not makes sense out of context as a `figure` or `aside`
would, however it is presented differently than formal text
to indicate that it is not official.

...At the same time, the `i` Element is not appropriate either, because the non-normative
span of text does not represent a change of voice or mood. Could it be considered a
change in mood, though?...

`[data-status="nonnormative"]` text
should be a single paragraph, a container such as a `div` or `figure`,
but should not be a span of text

The author may also indicate verbally (in writing preceding the text) that
the text is non-normative. If the non-normative text is one paragraph, the author may
simply place the indication in the previous paragraph. If the text is large enough for
its own figure or section, though, the indication should be in that Element's
`header`.
  */
[data-status="normative"] {}
[data-status="informative"] {}
[data-status="nonnormative"] {
	font-style: italic;
	font-family: @fontfam_base;
}
[hidden] {
	display: none !important;
}
[data-bool="0"] {
	color: @color_base_bg;
	background-color: lighten(@color_link_up, 15%);
}
[data-bool="1"] {
	color: @color_base_txt;
	background-color: lighten(@color_link_dn, 15%);
}

@media print {
	body,
	.H,
	.Fig, .Addy, .Qblock,
	.Table {.fontsize-block-med;}
	body,
	code {color: #000;}
	body,
	code {background-color: #fff;}
	body {
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.Fig, .Addy, .Qblock {
		// .spacing-phi-left;
		// .spacing-phi-right;
		.spacing-phi(left;  0; solid; #000);
		.spacing-phi(right; 0; solid; #000);
	}

	/**
	  * This Interface displays an Object on screen but does not print it.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
	.noprint {
		display: none;
	}
	/**
	  * This Interface starts a new page in the print media.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
	.pagebreak {
		page-break-before: always;
		padding-top: 0.25in;
	}
}
