// main: core.less

/*################*\
    _trumps.less
\*################*/

/** This stylesheet contains classes that are used in HTML. Not Objects per se, but helper classes. **/


/**
  * The `[data-status]` attribute indicates the status of a document or Element.
  * "draft"    : a work in progress
  * "complete" : finished but still needs edits before releasing
  * "released" : ready for implementation
  * See https://github.com/chharvey/chharvey.github.io/wiki/Document-Status/ for more info.
@tags
: #status
: #golden
: #border
: #background
@author
: Chris Harvey
@updated
: 2014-10-26
  */
.article-before-mx(@content) {
  .gutter--minor;
  .border-vert-undo();
  .fontsize-block-sml();
  position: absolute;
  content: @content;
  font-weight: bold;
  text-align: left;
}
.status(@brdrc; @bgc) {
  .sidebrdr-phi(left; 4px; solid; @brdrc);
  padding-right: 4px;
  box-shadow: 4px 4px 8px #808080;
  background-color: fadeout(@bgc, @golden4c);
}
.Article {
  &[data-status="draft"]::before    {.Alert--Warn; .article-before-mx('This article is a work in progress.');}
  &[data-status="complete"]::before {.Alert--Cshn; .article-before-mx('This article is mostly complete.');}
  &[data-status="released"]::before {.Alert--Skss; .article-before-mx('This article is ready for implemen' '\00ad' 'tation.');}

  [data-status="draft"]    {.status(@color_warn_brdr; @color_warn_bg);}
  [data-status="complete"] {.status(@color_cshn_brdr; @color_cshn_bg);}
  [data-status="released"] {.status(@color_skss_brdr; @color_skss_bg);}
}

/**
  * The `[data-informative]` attribute on an Element in an `.Article` indicates that
  * the content is nonessential to the article.
  * See https://github.com/chharvey/chharvey.github.io/wiki/Document-Status/ for more info.
@tags
: #status
@author
: Chris Harvey
@updated
: 2014-08-12
  */
.Article [data-informative] {
  .sidebrdr-phi(left;  2px; solid; @color_info_brdr);
  .sidebrdr-phi(right; 2px; solid; @color_info_brdr);
  box-shadow: 2px 2px 4px #c0c0c0;
  background-color: fadeout(@color_info_bg, @golden4c);
}

/**
  * This Interface puts an outline around an Object to show its structure. It is used for
  * deomonstration purposes.
@tags
: #structural
: #demo
@author
: Chris Harvey
@updated
: 2014-06-07
  */
.help-otln {
  outline: 1px solid @color_accent;
}

[hidden] {
  display: none !important;
}
[data-bool="0"] {
  color: @color_base_bg;
  background-color: lighten(@color_link_up, 15%);
}
[data-bool="1"] {
  color: @color_base_txt;
  background-color: lighten(@color_link_dn, 15%);
}


@media print {
  body,
  .H,
  .Fig, .Addy, .Qblock,
  .Table {
    .fontsize-block-med();
  }
  body,
  code {color: #000;}
  body,
  code {background-color: #fff;}
  body {
    background-image: none !important;
  }
  main,
  .MainGolden {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .Fig, .Addy, .Qblock {
    .sidebrdr-phi(left;  0; solid; #000);
    .sidebrdr-phi(right; 0; solid; #000);
  }


  br.print {display: inline;} // default display for br elements; should show on print
  /**
    * This Interface displays an Object on screen but does not print it.
  @tags
  : #schematic
  @author
  : Chris Harvey
  @updated
  : 2014-04-30
    */
  .noprint {
    display: none;
  }
}
// /**
//   * This Interface starts a new page in the print media.
// @tags
// : #schematic
// @author
// : Chris Harvey
// @updated
// : 2014-04-30
//   */
// .pagebreak {
//   page-break-before: always;
//   padding-top: 0.25in;
// }
