
















//+++++++++++++++++//
/*@HIGHLIGHTED TEXT*/
//+++++++++++++++++//
/*
- `i.thought`: a span representing a silent thought, like a quote but for thinking
- `b.keyword`: keyword or technical term
- `b.proper`: a proper noun traditionally italicized, e.g. periodical name or ship name
- `b.ref`: reference to a title, section heading, figure, table, or creative work. use only when the `a` element or the `cite` element would not be appropriate
*/.emph {
	font-style: italic;
}
.nonnormative,
em,
.foreignlang {
	//* em within italics
	> em {font-weight: bold;}
}
strong {
	// *****************
	// element selector!
	// *****************
	font-weight: bold;
}
mark {
	// *****************
	// element selector!
	// *****************
	background-color: transparent;
}
i {
	// *****************
	// element selector!
	// *****************
	font-style: inherit;
	font-weight: inherit;
}
//i.scare {
//	// * scare quotes contain abuse of vocabulary or language
//	&:extend(.quotes all);
//}
//i.mention {
//	// * mentions refer to phrases without referring to their meaning
//	&:extend(.quotes all);
//}
i.thought {
	// *********************
	// semantic class alert!
	// *********************
	.guillemets();
}
.foreignlang {
	// * phrases in foreign languages
	font-style: italic;
	font-family: @fontfam--math;
}
i[lang],
i:lang(la),
i:lang(it),
i:lang(fr) {
	&:extend(.foreignlang);
}
.solfege {
	&:extend(.foreignlang);
}
b {
	// *****************
	// element selector!
	// *****************
	font-style: inherit;
	font-weight: inherit;
}
b.keyword {
	// *********************
	// semantic class alert!
	// *********************
	font-weight: bold;
}
b.proper {
	// *********************
	// semantic class alert!
	// *********************
	font-style: italic;
	text-transform: capitalize;
}
b.ref {
	// *********************
	// semantic class alert!
	// *********************
	font-weight: bold;
}
//++++ @end HIGHLIGHTED TEXT ++++//


//++++++++++++++//
/*@DOCUMENTATION*/
//++++++++++++++//
.docmeta {
	// *********************
	// semantic class alert!
	// *********************
	&:extend(.dl--table--sml all);
//	&::before {
//		&:extend(.h-zeta all);
//		content: 'Document Information';
//		display: block;
//		text-indent: 0;
//	}
	> dt {
		font-weight: bold;
		&::after {content: ':';}
	}
	time:not(.submit):not(.recent) {
		.hm {display: none;}
	}
	.hm::before {content: '@\0020';}
}
//p.timestamp {
//	// * a paragraph element that indicates the most recent edit of a webpage or document. includes a <time datetime=""> element
//	font-size: smaller;
//	text-align: left;
//}
.nonnormative {
	// *********************
	// semantic class alert!
	// *********************
	font-style: italic;
	font-family: @fontfam--base;
}
//dfn,
//abbr,
//del,
//ins {color: @color_info--txt;}
dfn {
	// *****************
	// element selector!
	// *****************
	font-weight: bold;
	font-style: inherit;
	font-family: @fontfam--prose;
}
abbr[title],
del[datetime],
ins[datetime] {
	// *****************
	// element selector!
	// *****************
	cursor: help;
	&::after {
		display: none;
		position: relative;
		left: 5px;
		top: 5px;
		color: @color_info--txt;
		background-color: @color_info--bg;
		text-decoration: none;
	}
//	&:hover::after {display: inline;}
}
abbr {
	// *****************
	// element selector!
	// *****************
	&[title]::after {content: attr(title);}
}
del {
	// *****************
	// element selector!
	// *****************
	text-decoration: line-through;
	&[datetime]::after {content: 'deleted on ' attr(datetime);}
}
ins {
	// *****************
	// element selector!
	// *****************
	text-decoration: underline;
	&[datetime]::after {content: 'inserted on ' attr(datetime);}
}
del + ins {
	// *****************
	// element selector!
	// *****************
	padding-left: 0.5em;
}
//small,
sup, sub {
	// *****************
	// element selector!
	// *****************
	.fontsize(small; inline);
	vertical-align: baseline;
}
@supsub-move: @vru / 4;
sup {
	// *****************
	// element selector!
	// *****************
	position: relative;
	bottom: @supsub-move;
}
sub {
	// *****************
	// element selector!
	// *****************
	position: relative;
	top: @supsub-move;
}
//++++ @end DOCUMENTATION ++++//


//++++++++++++++++//
/*@CODING AND MATH*/
//++++++++++++++++//
@color_code--txt:  #000;
@color_code--bg:   #ced;
@color_code__comm: #999;
@color_code__tag:  #009;
@color_code__attr: #900;
@color_code__val:  #090;
@color_code__sel:  #099;
@color_code__prop: #909;
@color_code__cmd: #990;
@color_code__arg: #000;
.code {
	// * a piece of text that a computer program would recognize
	.box-inline();
	.fontsize(small; inline);
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-family: @fontfam--code;
	color: @color_code--txt;
	background-color: @color_code--bg;
}
.code--block {
	&:extend(.code all);
	.box-block();
	.border-vert--both(all; 0);
	.fontsize(small);
	white-space: pre-wrap;
	background-color: transparent;
}
.code__comm {color: @color_code__comm;}
.code__tag       {color: @color_code__tag;}
.code__attr {color: @color_code__attr;}
.code__val     {color: @color_code__val;}
.code__sel {color: @color_code__sel;}
.code__prop {color: @color_code__prop;}
.code__cmd {color: @color_code__cmd;}
.code__arg {color: @color_code__arg;}
.dir {
	// * directory system (folders and files)
	border: 0;
	font-style: italic;
	font-family: @fontfam--base;
}
.key {
	// * an individual key on a keyboard, calculator, or other device
	&:extend(.code all);
	padding: 0 6px; // why this number?
	border-style: outset;
	font-family: @fontfam--base;
	color: @aperture-white;
	background-color: @aperture-black;
}
.latex {
	overflow: auto;
	font-family: @fontfam--math;
	white-space: pre-wrap;
}
//++++ @end CODING AND MATH ++++//

//++++++//
/*@FORMS*/
//++++++//
fieldset {
	// *****************
	// element selector!
	// *****************
	padding: 0;
	.border-vert--both(all; 0);
	margin: 0;
}
//++++ @end FORMS ++++//


@media print {
	figure,
	blockquote {
		margin-left:  0.5in;
		margin-right: 0.5in;
	}
	code {
		color: #000;
		background-color: #fff;
	}
}
