/*------------------*\
    _settings.less
\*------------------*/
/*@GLOBAL VARIABLES*/
/*@General Variables*/
/** Determines the amount to fade out. Change this if you wish. */
/** Used for horizontal spacing, e.g., inserting a space between a heading and subheading. */
/*@Fonts*/
/** These determine 1rem and the 'magic number'. Change these if you wish. */
/*@Color Scheme*/
/*@FUNCTIONS*/
/*@CONSTANTS*/
/*@Golden Values*/
/*@Even Values*/
/*@Color Values*/
#aperture_white {
  background-color: #fafcff;
}
#aperture_black {
  background-color: #050300;
}
#atlas {
  background-color: #0062ff;
}
#pbody {
  background-color: #ff9d00;
}
#repulsion {
  background-color: #2b9cff;
}
#propulsion {
  background-color: #ff8e2b;
}
#deploying {
  background-color: #ff1500;
}
#hereye {
  background-color: #fff155;
}
#lakesuperior {
  background-color: #001e80;
}
#cavescaves {
  background-color: #80522b;
}
#facilityabyss {
  background-color: #406b80;
}
#asbestos {
  background-color: #bf9300;
}
#vilify {
  background-color: #6300bf;
}
#neurotoxin {
  background-color: #a7bf20;
}
#bridges {
  background-color: #d5fbff;
}
#companion {
  background-color: #ffaac2;
}
/*---------------*\
    _reset.less
\*---------------*/
body,
section,
article,
aside,
nav,
main,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
address,
ol,
ul,
dl,
dt,
dd,
pre {
  display: block;
}
li {
  display: list-item;
}
table {
  display: table;
  border-collapse: collapse;
}
caption {
  display: table-caption;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
tr {
  display: table-row;
}
th,
td {
  display: table-cell;
}
em,
strong,
mark,
i,
b,
q,
cite,
time,
dfn,
abbr,
del,
ins,
sup,
sub,
code,
kbd,
samp,
var {
  display: inline;
}
hr {
  display: none;
}
body,
section,
article,
aside,
nav,
main,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
address,
ol,
ul,
li,
dl,
dt,
dd,
table,
th,
td,
pre {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  position: static;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
address,
th,
em,
strong,
mark,
i,
b,
q,
cite,
dfn,
abbr,
del,
ins,
sup,
sub,
pre,
code,
kbd,
samp,
var {
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
}
small {
  font-size: inherit;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: underline;
  color: inherit;
}
/*--------------------*\
    _interfaces.less
\*--------------------*/
/*@MIXINS*/
/**
  * These Mixins set the padding, border, and margin on the left or right side, such that the border:padding ratio and the (border+padding):margin ratio are Golden.
@params
: @side:  either "left" or "right"
: @brdrw : value of the `border-[left|right]-width` property
: @brdrs : value of the `border-[left|right]-style` property
: @brdrc : value of the `border-[left|right]-color` property
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-10
  */
/** negate the effects of `.spacing-phi(@side; @brdrw; @brdrs; @brdrc)`  on the [left|right] side */
.spacing-phi-left {
  border-left: 0 solid #000000;
  padding-left: 0;
  margin-left: 0;
}
.spacing-phi-right {
  border-right: 0 solid #000000;
  padding-right: 0;
  margin-right: 0;
}
/*@INTERFACES*/
/**
  * This Interface adds a left padding to any Object. The padding-left is set to 48px, which is equal to 0.5in, the standard indent for APA style.
@tags
: #indent
: #padding
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.indent,
.List > .Item > .List,
.List.O,
.List.U,
.Map > .Val {
  padding-left: 48px;
}
/**
  * This Interface creates default padding for cell-like structures (table cells, grid cells, boxes, etc.). The padding is based on the Vertical Rhythm Unit.
@tags
: #verticalrhythm
: #padding
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.cellpaddingdefault {
  padding: 12px 7.41640786px;
  padding: 0.75rem 0.46352549rem;
}
/**
  * This Interface is used on containers of floats. It pushes subsequent content to the bottom of the container.
@tags
: #float
@author
: Chris Harevy
@updated
: 2014-05-12
  */
.clearfix::after,
.Map.Vert::after {
  content: ' ';
  clear: both;
  display: table;
}
/**
  * This Interface makes an object slightly transparent, but it becomes opaque upon `:hover`.
@tags
: #schematic
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.transp {
  opacity: 0.618033988749894848;
}
.transp:hover {
  opacity: 1;
}
/**
  * This Interface represents a lede, an introductory/summary sentence or paragraph which catches the reader's attention.
@tags
: #typography
: #paragraph
: #span
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.lede,
.P.Lede,
.S.Lede {
  font-weight: bold;
  font-family: 'Optima', 'Candara', 'Helvetica', sans-serif;
}
/*@Delimiters*/
/**
  * This Interface adds opening and closing parentheses surrounding an element.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.parens::before,
.Qblock.Long .Src::before {
  content: '(';
}
.parens::after,
.Qblock.Long .Src::after {
  content: ')';
}
/**
  * This Interface adds opening and closing quotation marks surrounding an element.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.quotes::before {
  content: open-quote;
}
.quotes::after {
  content: close-quote;
}
/**
  * This Interface adds opening and closing guillemets (double angle quotes) surrounding an element.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.guillemets::before {
  content: '\00ab';
}
.guillemets::after {
  content: '\00bb';
}
@media print {
  /**
	  * This Interface displays an Object on screen but does not print it.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
  .noprint {
    display: none;
  }
  /**
	  * This Interface starts a new page in the print media.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
  .pagebreak {
    page-break-before: always;
    padding-top: 0.25in;
  }
}
/*--------------*\
    _grid.less
\*--------------*/
/*@WIDTHS*/
/**
  * The following Interfaces change the width of the Objects that implement them. The Interface names describe the widths.
@tags
: #grid
: #golden
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.width-p0,
.Gcol.P0 {
  width: 100%;
}
.width-p1,
.Gcol.P1,
.Block.P1,
.Block.Sml {
  width: 61.80339887%;
}
.width-p2,
.Gcol.P2,
.Block.P2 {
  width: 38.19660113%;
}
.width-p3,
.Gcol.P3,
.Block.P3 {
  width: 23.60679775%;
}
.width-p4,
.Gcol.P4,
.Block.P4 {
  width: 14.58980338%;
}
.width-p3c,
.Gcol.P3c,
.Block.P3c {
  width: 76.39320225%;
}
.width-p4c,
.Gcol.P4c,
.Block.P4c {
  width: 85.41019662%;
}
.width-f1o1,
.width-f2o2,
.width-f3o3,
.width-f4o4,
.width-f5o5,
.Gcol.F1o1,
.Block.Ful,
.Gcol.F2o2,
.Gcol.F3o3,
.Gcol.F4o4,
.Gcol.F5o5 {
  width: 100%;
}
.width-f1o2,
.width-f2o4,
.Gcol.F1o2,
.Gcol.F2o4 {
  width: 50%;
}
.width-f1o3,
.Gcol.F1o3 {
  width: 33.33333333%;
}
.width-f2o3,
.Gcol.F2o3,
.Block.Med {
  width: 66.66666667%;
}
.width-f1o4,
.Gcol.F1o4 {
  width: 25%;
}
.width-f3o4,
.Gcol.F3o4,
.Block.Lrg {
  width: 75%;
}
.width-f1o5,
.Gcol.F1o5 {
  width: 20%;
}
.width-f2o5,
.Gcol.F2o5 {
  width: 40%;
}
.width-f3o5,
.Gcol.F3o5 {
  width: 60%;
}
.width-f4o5,
.Gcol.F4o5 {
  width: 80%;
}
/*@TABLE SYSTEM*/
/**
  * This Object represents a container of blocks of content. The inner blocks are alinged horizontally, as if all in the same row.
  * `.Grow` = "grid row"
@tags
: #grid
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Grow {
  display: table;
  width: 100%;
}
/**
  * This Object represents a block of content within a `.Grow`. These blocks are alinged horizontally.
  * `.Gcol` = "grid col"
@implements
: .P0   and similar
: .F1o1 and similar
@tags
: #grid
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Grow > .Gcol {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
}
/*@BLOCKS WITH MARGINS*/
/**
  * The following Mixins define horizontal margins on `.Block`s of content.
  * `.margin-phi-[left|right]()` splits the margins so that the ratio of [left|right] margin to [right|left] margin is Golden.
  * `.margin-even()` splits the margins equally.
  * `.margin-all-[left|right]()` moves all horizontal margins to the [left|right] side.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-18
  */
/**
  * This Object represents a block of content that has horizontal margins. It's not technically part of the "grid" system, but it's here because it's used for layout.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Block {
  display: block;
}
.Block.P1.Ml {
  margin-left: 14.58980338%;
  margin-right: 23.60679775%;
}
.Block.P1.Mr {
  margin-left: 23.60679775%;
  margin-right: 14.58980338%;
}
.Block.P1.Left {
  margin-left: 0;
  margin-right: 38.19660113%;
}
.Block.P2.Left {
  margin-left: 0;
  margin-right: 61.80339887%;
}
.Block.P3.Left {
  margin-left: 0;
  margin-right: 76.39320225%;
}
.Block.P4.Left {
  margin-left: 0;
  margin-right: 85.41019662%;
}
.Block.P3c.Left {
  margin-left: 0;
  margin-right: 23.60679775%;
}
.Block.P4c.Left {
  margin-left: 0;
  margin-right: 14.58980338%;
}
.Block.P1.Right {
  margin-left: 38.19660113%;
  margin-right: 0;
}
.Block.P2.Right {
  margin-left: 61.80339887%;
  margin-right: 0;
}
.Block.P3.Right {
  margin-left: 76.39320225%;
  margin-right: 0;
}
.Block.P4.Right {
  margin-left: 85.41019662%;
  margin-right: 0;
}
.Block.P3c.Right {
  margin-left: 23.60679775%;
  margin-right: 0;
}
.Block.P4c.Right {
  margin-left: 14.58980338%;
  margin-right: 0;
}
.Block.Sml {
  margin-left: 19.09830056%;
  margin-right: 19.09830056%;
}
.Block.Med {
  margin-left: 16.66666667%;
  margin-right: 16.66666667%;
}
.Block.Lrg {
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.Block.Ful {
  margin-left: 0%;
  margin-right: 0%;
}
/*@Undo Golden Blocks*/
/*@GUTTERS*/
/*--------------*\
    _vert.less
\*--------------*/
/*@FONT SIZES*/
/** One vertical rhythm unit. This is the 'magic number'. */
/**
  * These Mixins multiply `font-size` by `@ratio` and adjusts `line-height` such that
  * 	`font-size` * `line-height` = one vertical rhythm unit.
  * The `.fontsize-scale-double()` Mixin adjusts `line-height` such that `font-size` * `line-height` = two vertical rhythm units
@params
: @ratio : the ratio of the new font size to `fontsize_base`
@tags
: #verticalrhythm
: #fontsize
@author
: Chris Harvey
@updated
: 2014-04-26
  */
/**
  * Same as `.fontsize-scale()` Mixins except adjusts `line-height` such that
  * 	`font-size` * `line-height` = two vertical rhythm units.
@params
: @ratio : the ratio of the new font size to `fontsize_base`
@tags
: #verticalrhythm
: #fontsize
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.fontsize-lrg,
.fontsize-lrg-inline,
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.fontsize-med,
.Qblock.Long,
.Qblock.Long .Src {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.fontsize-sml,
.fontsize-sml-inline,
.Capt,
.Qblock .Src {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.fontsize-inline,
.fontsize-lrg-inline,
.fontsize-sml-inline {
  display: inline;
  line-height: 1.5;
}
/**
  * This Interface sets [large/small] font-size and adjusts line-height.
@implements
: .fontsize-[large/small]
: .fontsize-inline
@tags
: #verticalrhythm
: #fontsize
@author
: Chris Harvey
@updated
: 2014-05-03
  */
/*@VERTICAL SPACING*/
/**
  * This Interface provides a minimum height of one vertical rhythm unit.
  * It is Meant for text-containing block elements, such as p, blockquote, li, dt, dd, th, td.
  * If these elements have shorter contents, the vertical rhythm won't break.
@tags
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.vru-content,
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.List > .Item {
  min-height: 24px;
  min-height: 1.5rem;
}
/**
  * These Mixins provide [top|bottom] spacing of a multiple of a vertical rhythm unit.
@params
: @ratio : the multliplier, i.e. how many `rem`s
@tags
: #verticalrhythm
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.vru-top-0,
.Fig > :first-child,
.Qblock > :first-child,
.List > .Item > .List,
.Map > .Nam > .Map,
.Map > .Val > .Map {
  margin-top: 0;
}
.vru-bottom-0 {
  padding-bottom: 0;
}
.vru-top-1,
.P,
.Qblock.Long .Src,
.List,
.Map {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.vru-bottom-1,
.P.Lede {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
/**
  * This Mixin sets the padding-top, border-top, and margin-top such that the padding:margin ratio is Golden, while keeping the border-top-width. The sum of the padding, border, and margin is one vertical rhythm unit.
@params
: @brdrw : value of the border-top-width property. Must be less than `@vru_px`.
: @brdrs : value of the border-top-style property
: @brdrc : value of the border-top-color property
@tags
: #verticalrhythm
: #golden
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.vru-top-phi,
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  border-top: 0 solid #000000;
  margin-top: 14.83281573px;
}
/*@VERTICAL BORDERS*/
/**
  * The following Mixins adjust borders for **BLOCK** elements only! They will keep the vertical rhythm intact when adding borders (by slightly adjusting position and margins). *Do *not** use these mixins on INLINE elements!
  * Note: Methods with same # of params cannot be overloaded; thus mixin names have modifiers.
@params
: @width: the width of the top or bottom border
: @side:  either `top` or `bottom`
: @style: a `border-style` value
: @color: a `border-color` value
@tags
: #verticalrhythm
: #border
@author
: Chris Harvey
@updated
: 2014-04-26
  */
/** Adjust only the top or bottom border. */
/** Adjust both the top and bottom borders. */
/** Adjust all four borders. */
/*--------------*\
    _body.less
\*--------------*/
html {
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-size: 16px;
  font-family: 'Optima', 'Candara', 'Helvetica', sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
  text-align: left;
  vertical-align: baseline;
  color: #050300;
  background-color: #fafcff;
}
main {
  margin-left: 23.60679775%;
  margin-right: 14.58980338%;
  margin-bottom: 192px;
}
/**
  * This Object represents a generic article, technical document, blog post, etc. This Object may or may not take the form of a literal `article` element or `main` element of a page. This Object is designed to contain other block-level Objects such as Headings and Paragraphs.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.Article {
  font-family: 'Baskerville', 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
}
/**
  * This Object represents text in an article that is not to displayed like .Article text. Essentially it reverts back to the body copy styles.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.UndoArticle {
  font-family: 'Optima', 'Candara', 'Helvetica', sans-serif;
  text-align: left;
}
@media print {
  body {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-image: none;
  }
  main {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
/*------------------*\
    _headings.less
\*------------------*/
/**
  * This Object represents a generic textual heading of a section, post, article, or document. It does not represent a heading in a table.
@tags
: #typography
: #heading
: #section
@author
: Chris Harvey
@updated
: 2014-04-14
  */
.H {
  display: block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  letter-spacing: 1px;
  color: #050300;
}
/**
  * This Object represents a generic tagline inside a heading, called a 'subheading'.
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.H > .Hsub {
  font-size: 80%;
  padding-left: 24px;
  font-weight: normal;
  color: rgba(5, 3, 0, 0.61803399);
}
/**
  * The six Objects below represent different levels of headings, starting from top-level to level 6.
@extends
: .H
@tags
: #typography
: #heading
: #section
@author
: Chris Harvey
@updated
: 2014-04-14
  */
.H.Alpha {
  font-size: 48px;
  font-size: 3rem;
  line-height: 0.5;
  line-height: 2 * (1.5 / 3);
  margin-top: 29.66563146px;
  margin-top: 1.85410197rem;
  padding-bottom: 18.33436854px;
  padding-bottom: 1.14589803rem;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  color: #001e80;
}
.H.Alpha > .Hsub {
  color: #406b80;
}
.H.Beta {
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 0.68571429;
  margin-top: 24px;
  margin-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  font-weight: bold;
  color: #80522b;
}
.H.Beta > .Hsub {
  color: #bf9300;
}
.H.Gamma {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 0.92307692;
  margin-top: 31.992px;
  margin-top: 1.9995rem;
  padding-bottom: 16.008px;
  padding-bottom: 1.0005rem;
  font-variant: small-caps;
  font-weight: bold;
}
.H.Delta {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.14285714;
  margin-top: 18px;
  margin-top: 1.125rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  font-style: italic;
  font-weight: bold;
}
.H.Epsilon {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333333;
  margin-top: 0px;
  margin-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  font-style: italic;
  color: #80522b;
}
.H.Epsilon > .Hsub {
  color: #bf9300;
}
.H.Zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0px;
  margin-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  font-style: italic;
  font-variant: small-caps;
}
@media print {
  .H {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
/*--------------------*\
    _paragraphs.less
\*--------------------*/
/**
  * This Object represents a generic paragraph in a section, article, or document. A paragraph Object is a small grouping of textual ideas. In the written media, paragraphs can span anywhere from 3 to 8 sentences. However on the Web, they can be much, much shorter.
@implements
: .vru-content
: .vru-top-1
//: .fontsize-med
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.P {
  display: block;
}
/**
  * This Object represents a lede paragraph, which may be an introduction or abstract to an article.
@extends
: .P
@implements
: .lede
: .vru-bottom-1
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.P.Lede {
  text-align: justify;
}
/**
  * This Object represents a paragraph whose first letter is a dropped capital ("drop cap").
@extends
: .P
@mixesin
: .fontsize-scale()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.P.Dropcap::first-letter {
  font-size: 48px;
  font-size: 3rem;
  line-height: 0.5;
  float: left;
  padding-top: 12px;
  padding-right: 4px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Times', 'Times New Roman', serif;
  color: #001e80;
}
/*@QUASI-PARAGRAPHS*/
/**
  * This Object represents a generic caption of any sort. A caption is usually a short summary or description of some content ("the described content"). The described content may be in a literal `figure` element, `table` element, or it may be any generic content. Since captions are usually too short to be a paragraph, it may *not* contain `.P` Objects. If the described content is text only, the caption should be shorter and more concise than the content's text.
  * If this `.Capt` is a child of a `figure` element, it should be a `figcaption` element. If this `.Capt` is a child of a `table` element, it should be a `caption` element.
@implements
: .vru-content
: .fontsize-small
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.Capt {
  text-align: right;
}
/**
  * A caption may appear before or after the described content, even if it and the content are children of the same Object (e.g., a `figure`). A `.P.Capt.Before` appears before the content; a `.P.Capt.After` appears after.
  * Note: According to the HTML5 specs, a `table > caption`, if it exists, may *only* be the first child. However, applying `.Capt.Before` to the `table > caption:first-child` will make it look ugly, because the borders conflict and it will have `display: block;` rather than `display: table-caption;`. Just don't apply `.Capt.Before` or `.Capt.After` to `table > caption`s.
@extends
: .Capt
@mixesin
: .border-vert-one()
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Capt.Before {
  display: block;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-color: #ff1500;
}
.Capt.After {
  display: block;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-color: #ff1500;
}
/**
  * This Object represents a generic postal address. It may be the contact address of the document author(s) (contained in an `address` element), or it may be any arbitrary postal mailing address.
@extends
: .P
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #paragraph
: #geolocation
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.Addy {
  border-right: 3px solid #ff1500;
  padding-right: 4.85410197px;
  margin-right: 12.70820393px;
  border-radius: 6px;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
  text-align: right;
}
/**
  * This Object represents a generic figure in a document. A figure contains excerpts of text, examples, or images that are used to illustrate a concept. This may or may not be a literal `figure` element.
  * Inside this `.Fig` there may exist a `.Capt` (a generic caption), either at the beginning or at the end. The `.Capt` may or may not be a `figcaption` or `caption` element.
  * Content in this `.Fig`---including its caption---is permissible to be extracted from the document and presented on its own.
@implements
: .vru-content
: .vru-top-phi
@tags
: #typography
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Fig {
  border-left: 4px solid #ff1500;
  padding-left: 6.47213595px;
  margin-left: 16.94427191px;
  border-right: 4px solid #ff1500;
  padding-right: 6.47213595px;
  margin-right: 16.94427191px;
}
/**
  * This Object represents any Block Quotation, representing material taken directly from another source. It may or may not take the form of a literal `blockquote` element.
  * If the original source is less than 40 words and does not have paragraph breaks (for example, extracted inline text from an article), this `.Qblock` should not contain Paragraphs; it should directly contain the source's text.
@implements
: .vru-content
: .vru-top-phi
: .fontsize-lrg
@mixesin
: .spacing-phi()
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock {
  border-left: 7px double #ff1500;
  padding-left: 11.32623792px;
  margin-left: 29.65247584px;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
}
/**
  * The `.Src` Object represents the citation of a source inside a `.Qblock` element. It is recommended to apply this Class to a `cite` element.
@belongsto
: .Qblock
@implements
: .fontsize-sml
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock .Src {
  display: block;
  padding-right: 24px;
  text-align: right;
}
.Qblock .Src::before {
  content: '~\0020';
}
/**
  * This Object represents a "long" block quotation.
  * If the original source is more than 40 words and does not have paragraph breaks, this `.Qblock.Long` should have exactly one `.P` object, which contains the text from the source.
  * If the original source has paragraph breaks, regardless of word count, this `.Qblock.Long` should have paragraph breaks that correspond to the source.
@extends
: .Qblock
@implements
: .fontsize-med
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock.Long .Src {
  padding-right: 0;
}
@media print {
  .Fig,
  .Addy,
  .Qblock {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    border-left: 0 solid #000000;
    padding-left: 0;
    margin-left: 0;
    border-right: 0 solid #000000;
    padding-right: 0;
    margin-right: 0;
  }
}
/*---------------*\
    _lists.less
\*---------------*/
/**
  * This Object represents a generic list. It may be a literal `ol` or `ul` element containing `li` elements, or it may be the abstract notion of a list of other Objects. The order of list items may be releveant or irrelevant.
@implements
: .vru-top-1
@tags
: #typography
: #list
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.List {
  display: block;
  list-style-type: none;
}
/**
  * This Object represents a generic list item. It may be a literal `li` element inside an `ol` or `ul` element, or it may be any Object in a List Object.
@implements
: .vru-content
@tags
: #typography
: #list
@author
: Chris Harvey
@updated
: 2014-05-08
  */
.List > .Item {
  display: list-item;
}
/**
  * This Object represents a List Object within a List Item Object.
@implements
: .vru-top-0
: .indent
@tags
: #typography
: #list
@author
: Chris Harvey
@updated
: 2014-05-10
  */
/**
  * This Object represents an ordered list, or a list used for an outline. This does *not* correspond directly to a literal `ol` element; this Object is simply to be displayed with block list items, with markers that indicate order. Typical uses include table of contents, etc. Outlines are by definition, ordered.
@extends
: .List
@implements
: .indent
@tags
: #typography
: #list
: #ordered
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.List.O {
  list-style-type: decimal-leading-zero;
  list-style-type: decimal;
}
/**
  * These Objects represent outlined lists with different enumeration types.
@extends
: .List.O
@tags
: #typography
: #list
: #ordered
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.List.O.Omega {
  list-style-type: decimal-leading-zero;
}
.List.O.Alpha {
  list-style-type: upper-roman;
}
.List.O.Beta {
  list-style-type: upper-alpha;
}
.List.O.Gamma {
  list-style-type: decimal;
}
.List.O.Delta {
  list-style-type: lower-alpha;
}
.List.O.Epsilon {
  list-style-type: lower-roman;
}
.List.O.Zeta {
  list-style-type: lower-greek;
}
/**
  * This Object represents a generic list whose items are to be displayed as blocks with the same markers. It does *not* necessarily correspond directly to a literal `ul` element.
@extends
: .List
@implements
: .indent
@tags
: #typography
: #list
: #unordered
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.List.U {
  list-style-type: square;
}
/**
  * This Object represents a generic list whose items are to be displayed inline.
@extends
: .List
@tags
: #typography
: #list
: #inline
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.List.I > .Item {
  display: inline;
}
.List.I > .Item.Comma::after {
  content: ',\0020';
}
.List.I > .Item.Ndash::after {
  content: '\0020\2013\0020';
}
.List.I > .Item.Mdash::after {
  content: '\0020\2014\0020';
}
/**
  * This Object represents a generic list whose items are to be displayed as blocks that have `float: left;`.
@implements
: .clearfix
@tags
: #typography
: #list
: #float
@author
: Chris Harvey
@updated
: 2014-05-11
  */
/**
  * This Object represents an action list, which typically contains hyperlinks.
@extends
: .List
@tags
: #typography
: #list
: #link
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.List.A > .Item {
  color: #0062ff;
}
.List.A > .Item:hover {
  color: #ff9d00;
}
.List.A > .Item::before {
  content: '\2713\0020';
}
/*--------------*\
    _maps.less
\*--------------*/
/**
  * This Object represents an association list, which contains name-value pairs. Each pair consists of exactly one `.Nam` and exactly one `.Val`.
@implements
: .vru-top-1
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-12
  */
.Map {
  display: block;
}
/**
  * This Object represent the name in a name-value pair of a `.Map`.
@belongsto
: .Map
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-12
  */
/**
  * This Object represent the value in a name-value pair of a `.Map`.
@belongsto
: .Map
@implements
: .indent
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-12
  */
/**
  * This Object represents a Map Object within a Name Object or Val Object.
@implements
: .vru-top-0
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-12
  */
/**
  * This Object represents an association list in which names are grouped together in one column and values are grouped together in one column.
  * This map acts like a table, with each row containing a single name-value group.
@extends
: .Map
@implements
: .clearfix
@tags
: #typography
: #map
: #golden
@author
: Chris Harvey
@updated
: 2014-05-12
  */
.Map.Vert > .Nam,
.Map.Vert > .Val {
  padding: 0;
  float: left;
}
.Map.Vert > .Nam {
  width: 38.19660113%;
}
.Map.Vert > .Val {
  width: 61.80339887%;
}
.Map.Vert > .Val + .Nam {
  clear: both;
}
/**
  * This Object represents an association list in which names are grouped together in one column and values are grouped together in one column. The column widths are specified by this subclass.
  * This map acts like a table, with each row containing a single name-value group.
@extends
: .Map.Vert
@params
: @namewidth : a percentage, which specifies the width of `.Nam`
@tags
: #typography
: #map
: #golden
@author
: Chris Harvey
@updated
: 2014-05-17
  */
.Map.Vert.Sml > .Nam {
  width: 23.60679775%;
}
.Map.Vert.Sml > .Val {
  width: 76.39320225%;
}
.Map.Vert.Msm > .Nam {
  width: 38.19660113%;
}
.Map.Vert.Msm > .Val {
  width: 61.80339887%;
}
.Map.Vert.Med > .Nam {
  width: 50%;
}
.Map.Vert.Med > .Val {
  width: 50%;
}
.Map.Vert.Mlg > .Nam {
  width: 61.80339887%;
}
.Map.Vert.Mlg > .Val {
  width: 38.19660113%;
}
.Map.Vert.Lrg > .Nam {
  width: 76.39320225%;
}
.Map.Vert.Lrg > .Val {
  width: 23.60679775%;
}
/*--------------*\
    _text.less
\*--------------*/
/**
  * This Object represents a generic span of text in a paragraph, figure, caption, quote, list item, table cell, or any container of text. It may or may not be a literal `span` element.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.S {
  display: inline;
}
/**
  * This Object represents a lede sentence, which may act as a "heading" for the paragraph it's in. If a lede sentence is part of a paragraph, it acts like a mini-heading for that paragraph. This can be especially useful in a prose list.
@extends
: .S
@implements
: .lede
@tags
: #typography
: #span
: #list
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.S.Lede {
  padding-right: 24px;
}
/**
  * This Object represents an inline quotation: a span of text that is taken directly from another source.
@extends
: .S
@implements
: .quotes
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-03
  */
/*----------------*\
    _tables.less
\*----------------*/
/**
  * This Object represents a table-like structure. It may or may not be a literal `table` element.
  * A .Table is defined as an collection of data in two or more dimensions. A common example would be a multivariable map: given multiple (e.g., two) independent inputs there exists one dependent output.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Table {
  display: table;
}
/**
  * This Object represents a group of rows in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Rowgroup {
  border-width: 1px 0;
  border-style: solid;
  border-color: #ff1500;
}
.Rowgroup.Head {
  display: table-header-group;
}
.Rowgroup.Body {
  display: table-row-group;
}
.Rowgroup.Foot {
  display: table-footer-group;
}
/**
  * This Object represents a single row in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Row {
  display: table-row;
}
/**
  * This Object represents a single data entry in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Cell {
  display: table-cell;
}
/**
  * This Object represents a heading in a `.Table`. A table heading may apply to a single row, a single column, a group of rows, or a group of columns.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Cell.Hc {
  font-weight: bold;
  background-color: #d5fbff;
}
.Table.Horz {
  width: 100%;
}
.Table.Horz > .Rowgroup > .Row:nth-child(odd) {
  background-color: #e3fdff;
}
.Table.Horz > .Rowgroup > .Row:nth-child(even) {
  background-color: #f1feff;
}
.Table.Vert > .Rowgroup.Head > .Row > .Cell.Hc:nth-child(odd) {
  background-color: #f4fcfc;
}
.Table.Vert > .Rowgroup.Head > .Row > .Cell.Hc:nth-child(even) {
  background-color: #e8f8fa;
}
.Table.Vert > .Rowgroup.Head > .Row > .Cell.Hc:first-child {
  background-color: #ddf5f7;
}
.Table.Vert > .Rowgroup > .Row > .Cell:nth-child(odd) {
  background-color: #f1feff;
}
.Table.Vert > .Rowgroup > .Row > .Cell:nth-child(even) {
  background-color: #e3fdff;
}
table {
  counter-reset: nrows;
  counter-increment: nrows;
}
table tr {
  counter-increment: nrows;
}
@media print {
  .Table {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
/*---------------*\
    _links.less
\*---------------*/
/**
  * The abstract concept of a span of text that hyperlinks to another file.
  * It does not represent an inactive placeholder (equivalent to an empty `a` element). It also does not represent a block-level hyperlink, e.g. a box that would contain an image.
@tags
: #hyperlink
@author
: Chris Harvey
@updated
: 2014-05-17
*/
.Link {
  text-decoration: none;
  color: #0062ff;
}
.Link:hover {
  text-decoration: underline;
  color: #ff9d00;
}
.Link:active {
  color: #fff155;
}
/**
  * A special link. May refer to an external link, or some other type.
@extend
: .link
@tags
: #hyperlink
@author
: Chris Harvey
@updated
: 2014-04-21
*/
.Link.Sp {
  color: #a7bf20;
}
.Link.Sp:hover {
  color: #6300bf;
}
/*@QUASI-ELEMENTS*/
[data-status="draft"] {
  opacity: .5;
  background-color: #fffcfa;
  opacity: 0.618;
}
[hidden] {
  display: none !important;
}
/*dl*/
.dl--ordered {
  padding-left: 48px;
}
.dl--ordered > dt:first-child,
.dl--ordered > dd + dt {
  display: list-item;
  list-style-type: decimal;
  list-style-position: outside;
}
