
/*-------------*\
    base.less
\*-------------*/

//Table of Contents
//- GLOBAL VARIABLES
//	- General Values
//	- Fonts
//	- Colors
//- RESET


//+++++++++++++++++//
/*@GLOBAL VARIABLES*/
//+++++++++++++++++//

//---------------
//@General Values
//---------------
@headlt: 38.1966011250105152%; // @golden2;
//++++ @end General Values ++++//

//------
//@Fonts
//------
@fontsize_base:  16px;
@lineheight_base:  1.5;

@fontfam_base:    'Optima','Candara','Helvetica',sans-serif;
@fontfam_heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@fontfam_prose:   'Baskerville','Palatino','Book Antiqua',serif;
@fontfam_code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@fontfam_math:    'Times','Times New Roman',serif;
//@fontfam_accent:  'Gill Sans','Century Gothic',sans-serif;
@fontfam_accent: @fontfam_heading;
//++++ @end Fonts ++++//

//-------
//@Colors
//-------
@aperture-white: hsv(217, @golden8,           100%);
@aperture-black: hsv( 37,           100%, @golden8);
@atlas: hsv(217,   100%, 100%);
@pbody: hsv( 37,   100%, 100%);
@repulsion:  hsv(208, 83.3%, 100%);
@propulsion: hsv( 28, 83.3%, 100%);
@deploying: hsv( 5,  100%, 100%);
@her-eye:   hsv(55, 66.6%, 100%);
@lake-superior: hsv(226,  100%, 50%);
@caves-caves:   hsv( 28, 66.6%, 50%);
@facility-abyss: hsv(199,  50%, 50%);
@asbestos:       hsv( 46, 100%, 75%);
@vilify:     hsv(271,  100%,  75%);
@neurotoxin: hsv( 69, 83.3%,  75%);
@bridges:   hsv(185, 16.6%, 100%);
@companion: hsv(343, 33.3%, 100%);

@color_base--txt: @aperture-black;
@color_base--bg:  @aperture-white;
@color_base--faded: fadeout(@color_base--txt, @headlt);
@color_accent: @deploying;

@color_h--major: @lake-superior;
@color_h--minor: @caves-caves;
@color_hsub--major: @facility-abyss;
@color_hsub--minor: @asbestos;
//++++ @end Colors ++++//
//++++ @end GLOBAL VARIABLES ++++//


//++++++//
/*@RESET*/
//++++++//
body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul,
dl, dt, dd,
table,
pre {
	display: block;
}
li {
	display: list-item;
}
em, strong, mark, i, b,
q, cite, time, dfn, abbr, del, ins, sup, sub,
code, kbd, samp, var {
	display: inline;
}
hr {display: none;} // DO NOT USE THIS ELEMENT! Use `</section><section>` instead.
body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul, li,
dl, dt, dd,
table,
pre {
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;
	position: static;
}
body {
	font: normal normal normal 12pt serif;
	text-align: left;
	line-height: 1;
}
h1, h2, h3, h4, h5, h6,
figure, blockquote, address,
em, strong, mark, i, b,
q, cite, dfn, abbr, del, ins, sup, sub,
pre, code, kbd, samp, var {
	font-style: inherit;
	font-weight: inherit;
	font-family: inherit;
}
//++++ @end RESET ++++//