// main: all.less

/*-------------*\
	base.less
\*-------------*/

//Table of Contents
//- GLOBAL VARIABLES
//- GENERAL MIXINS


//+++++++++++++++++
//@GLOBAL VARIABLES
//+++++++++++++++++
@fontsize--base:  16px;
@lineheight--base:  1.5;

@fontfam--base:    'Optima','Candara','Helvetica',sans-serif;
@fontfam--heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@fontfam--prose:   'Baskerville','Palatino','Book Antiqua',serif;
@fontfam--code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@fontfam--math:    'Times','Times New Roman',serif;
//@fontfam--accent:  'Gill Sans','Century Gothic',sans-serif;
@fontfam--accent: @fontfam--heading;

@aperture-white: hsv(217, @golden8,           100%);
@aperture-black: hsv( 37,           100%, @golden8);
@atlas: hsv(217,   100%, 100%);
@pbody: hsv( 37,   100%, 100%);
@repulsion:  hsv(208, 83.3%, 100%);
@propulsion: hsv( 28, 83.3%, 100%);
@deploying: hsv( 5,  100%, 100%);
@her-eye:   hsv(55, 66.6%, 100%);
@lake-superior: hsv(226,  100%, 50%);
@caves-caves:   hsv( 28, 66.6%, 50%);
@facility-abyss: hsv(199,  50%, 50%);
@asbestos:       hsv( 46, 100%, 75%);
@vilify:     hsv(271,  100%,  75%);
@neurotoxin: hsv( 69, 83.3%,  75%);
@bridges:   hsv(185, 16.6%, 100%);
@companion: hsv(343, 33.3%, 100%);

@color_base--txt: @aperture-black;
@color_base--bg:  @aperture-white;
@color_base--faded: fadeout(@color_base--txt, @headlt);
@color_accent: @deploying;
@headlt: @golden2;
//++++ @end GLOBAL VARIABLES ++++


//+++++++++++++++
//@GENERAL MIXINS
//+++++++++++++++
.parens() {
	&::before {content: '(';}
	&::after  {content: ')';}	
}
.quotes() {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.guillemets() {
	&::before {content: '\00ab';} // &laquo;
	&::after  {content: '\00bb';} // &raquo;
}
.transp() {
	opacity: @phi1;
	&:hover {opacity: 1;}
}
//++++ @end GENERAL MIXINS ++++


