// out: default.css

/*################*\
    default.less
\*################*/


// This stylesheet rides on top of `normalize.css` developed by [necolas](http://necolas.github.io/normalize.css/).
//
// While `normalize.css` addresses discrepancies between different browsers’ rendering of
// HTML elements, providing only the very basic and necessary styles, `default.css` adds
// additional styles for a more streamlined look and a vertical rhythm system.
// (For more information on vertical rhythm, see:
//   http://24ways.org/2006/compose-to-a-vertical-rhythm/ and
//   http://www.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/#tt-rhythm
//
// Features of this stylesheet include:
//
// - Vertical rhythm --- every line on the page is exactly the same height
//   (dubbed a “vertical rhythm unit” or vru) regardless of font size, and typographical elements
//   (headings, paragraphs, figures, blockquotes, lists, tables, etc.) are separated by
//   integer multiples of that height.
// - Units for font-size, margin, and padding on block elements are in `rem`s rather than `em`s, thus
//   the size of an element’s font remains the same regardless of where that element is placed
//   (style does not depend on structure). **However**: `em`s are used on text-level elements, so that
//   if such an element is nested in an element with a larger font size, it would scale accordingly.
// - Minor, nevertheless prettier, style changes to some text-level semantic elements
//   (a.k.a. “phrasing content”).


// # TABLE OF CONTENTS
//
// - `html`
//
// ## Sections (Flow Content Model)
//
// - `body` (sectioning root)
// - `section` (sectioning content)
// - `article` (sectioning content)
// - `aside` (sectioning content)
// - `nav` (sectioning content)
// - `main`
// - `header`
// - `footer`
// - `h1`, `h2`, `h3`, `h4`, `h5`, `h6`
// - `address`
//
// ## Grouping Content (Flow Content Model)
//
// - `hr` (self-closing tag)
// - `div`
//
// ### Paragraph-Like Content
//
// - `p`
// - `figure` (sectioning root)
// - `figcaption`
// - `blockquote` (sectioning root)
// - `pre`
//
// ### Lists
//
// - `ol`
// - `ul`
// - `li`
// - `dl`
// - `dt`
// - `dd`
//
// ### Tables
//
// - `table`
// - `caption`
// - `colgroup`
// - `col` (self-closing tag)
// - `tbody`
// - `thead`
// - `tfoot`
// - `tr`
// - `td`
// - `th`
//
// ## Text-Level Semantics (Phrasing Content Model)
//
// - `a` and `a[href]` (transparent content model)
// - `span`
// - `br` (self-closing tag)
// - `wbr` (self-closing tag)
//
// ### Stressed Text
//
// - `em`,     emphasis
// - `strong`, importance
// - `i`,      alternate voice/mood
// - `mark`,   relevance in a certain context
// - `u`,      annotations
// - `small`,  side comments
// - `s`,      inaccurate text
//
// ### Documentation and Edits
//
// - `ins` (transparent content model)
// - `del` (transparent content model)
// - `dfn`
// - `b`, keyword
// - `var`
// - `q`
// - `cite`
// - `sup `
// - `sub`
//
// ### Machine-Readable Text
//
// - `data`
// - `abbr`
// - `time`
// - `code`
// - `kbd`
// - `samp`
//
// ## Embedded Content
// TODO
//
// ## Forms
// TODO


// sets up vertical rhythm units
@font_size_reset: 100%; // defined by user agent
@line_height_reset: 1.5;
@vru_reset: (@line_height_reset * 1rem);
html {
  font-size: @font_size_reset;
  line-height: @line_height_reset;
}
//+++++++++//
/*@SECTIONS*/
//+++++++++//
body {
  margin: 0 0 @vru_reset;
}
section {
}
article {
}
aside {
}
nav {
}
main {
  margin: 0 1rem @vru_reset;
}
header {
}
footer {
}

@font_size_h1: 32/16; // 2.000
@font_size_h2: 24/16; // 1.500
@font_size_h3: 20/16; // 1.250
@font_size_h4: 16/16; // 1.000
@font_size_h5: 12/16; // 0.750
@font_size_h6: 10/16; // 0.625

@line_height_h1: @line_height_reset/@font_size_h1; // 0.75
@line_height_h2: @line_height_reset/@font_size_h2; // 1.00
@line_height_h3: @line_height_reset/@font_size_h3; // 1.20
@line_height_h4: @line_height_reset/@font_size_h4; // 1.50
@line_height_h5: @line_height_reset/@font_size_h5; // 2.00
@line_height_h6: @line_height_reset/@font_size_h6; // 2.40

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 @vru_reset;
}
h1 {
  font-size: (@font_size_h1 * 1rem);
  line-height: @line_height_h1;
  padding-top: @vru_reset;
}
h2 {
  font-size: (@font_size_h2 * 1rem);
  line-height: @line_height_h2;
}
h3 {
  font-size: (@font_size_h3 * 1rem);
  line-height: @line_height_h3;
}
h4 {
  font-size: (@font_size_h4 * 1rem);
  line-height: @line_height_h4;
}
h5 {
  font-size: (@font_size_h5 * 1rem);
  line-height: @line_height_h5;
}
h6 {
  font-size: (@font_size_h6 * 1rem);
  line-height: @line_height_h6;
}
address {
  font-style: inherit;
}
//++++ @end SECTIONS ++++//


//+++++++++++++++++//
/*@GROUPING CONTENT*/
//+++++++++++++++++//
hr {
  display: none;
}
p, ol, ul, dl, table {
  margin: 0 0 @vru_reset;
}
//-----------------------//
/*@Paragraph-Like Content*/
//-----------------------//
figure, blockquote, pre {
  margin: 0 1rem @vru_reset;
}
p {
}
figure {
}
figcaption {
}
blockquote {
}
pre {
}
//---- @end Paragraphic-Like Content ----//

//------//
/*@Lists*/
//------//
ol, ul {
  padding: 0 0 0 4rem;
}
ol {
}
ul {
}
dl {
}
li {
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
dd + dt {
  padding: @vru_reset 0 0; // only because can’t add margin-bottom to last `dd` in a group
}
//---- @end Lists ----//

//-------//
/*@Tables*/
//-------//
table {
}
caption {
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
th {
  text-align: center; // not explicitly defined by browser default
}
td {
}
//---- @end Tables ----//
//++++ @end GROUPING CONTENT ++++//


//+++++++++++++++++++++//
/*@TEXT-LEVEL SEMANTICS*/
//+++++++++++++++++++++//
/* In this section, font sizes should be in units of `em` instead of `rem` because
text-level elements should scale with their parents. */
a, br,
em, strong, i, mark, u, small, s,
ins, del, dfn, b, var, q, cite, sup, sub,
data, abbr, time, code, kbd, samp {
  // inline element line-height not to affect vertical rhythm
  line-height: 0;
}
a {
}
a:not([href]) {
  opacity: 0.5;
}
a[href] {
  // color: #00e;    // default link
  // color: #551a8b; // default visited
  // color: #f00;    // default active
}
br {
  display: none;
}
address > br {
  // convention dictates that line breaks in `address` be marked up with `br`
  display: inline;
}

//--------------//
/*@Stressed Text*/
//--------------//
em {
}
strong {
}
i:not([lang]) {
  quotes: '\201c' '\201d'; // '“' '”' // &ldquo;  &rdquo;
  &::before {content: open-quote;}
  &::after  {content: close-quote;}
}
mark {
}
u {
  text-decoration: none;
  color: #080;
}
small {
  font-size: 0.75em;
}
s {
  color: #e00;
}
//---- @end Stressed Text ----//

//------------------------//
/*@Documentation and Edits*/
//------------------------//
ins {
  text-decoration: none;
  background: #a6f3a6; // GitHub-flavored
  // background: #d1e1ad; // StackOverflow-flavored
}
del {
  text-decoration: none;
  background: #f8cbcb; // GitHub-flavored
  // background: #e5bdb2; // StackOverflow-flavored
}
dfn {
  font-style: inherit;
  font-weight: bold;
}
b {
}
var {
}
q {
}
cite {
}
sup, sub {
  font-size: 0.75em;
}
sup {
}
sub {
}
//---- @end Documentation and Edits ----//

//------------------------//
/*@Machine-Readable Text*/
//------------------------//
data {
}
abbr {
}
time {
}
code, kbd, samp {
  font-size: 0.75em;
  white-space: nowrap;
}
code {
}
kbd {
}
samp {
}
//---- @end Machine-Readable Text ----//
//++++ @end TEXT-LEVEL SEMANTICS ++++//


//+++++++++++++++++//
/*@EMBEDDED CONTENT*/
//+++++++++++++++++//
//++++ @end EMBEDDED CONTENT ++++//


//++++++//
/*@FORMS*/
//++++++//
//++++ @end FORMS ++++//
