
/*-------------*\
	elem.less
\*-------------*/

//Table of Contents
//- ELEMENTS
//- QUASI-ELEMENTS





//+++++++++//
/*@ELEMENTS*/
//+++++++++//
p, blockquote,
li,
dt, dd, th, td {
	.vru--content();
}
p,
ol, ul,
dl,
table {
	.vru--top();
}

h1, h2, h3, h4, h5, h6 {
	&:extend(.h);
}
figure {
	.vru--content();
	.vru-phi--top();
	.spacing-left-phi(4px; solid; @color_accent);
	.spacing-right-phi(4px; solid; @color_accent);
}
figcaption {
	&:extend(.caption all);
	.border-vert--one(top; 1px; dashed);
}
blockquote {
	.vru-phi--top();
	.spacing-left-phi(7px; double; @color_accent);
	.fontsize(large);
	font-family: @fontfam--accent;
}
ol, ul {
	&:extend(.list all);
}
dt, dd {
	> ol:only-child {
		padding-left: 0;
		list-style-position: inside;
	}
	> ul:only-child {&:extend(.list--bare all);}
}
dd {
	padding-left: @listindent;
}
table {
	.fontsize(small);
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
caption {
	&:extend(.caption);
}
thead, tfoot {
	font-weight: bold;
	vertical-align: bottom;
}
tbody {
	vertical-align: top;
}
th, td {
	.cellpaddingdefault();
	border: 1px solid #808080;
}
th {
	font-weight: bold;
}


a:extend(.link all) {}
a {color: @color_base--faded;}


em:extend(.emph all) {}

code:extend(.code all) {}
kbd {font-weight: bold;}
kbd > kbd:extend(.key all) {}
var {font-style: italic;}
//++++ @end ELEMENTS ++++//


//+++++++++++++++//
/*@QUASI-ELEMENTS*/
//+++++++++++++++//
[data-e="postal"] {
	.vru-phi--top();
	.spacing-right-phi(3px; solid; @color_accent);
	.fontsize(large);
	border-radius: 3px;
	font-family: @fontfam--accent;
	text-align: right;
}
[data-code-lang="html"].precode,
[data-code-lang="css"].precode,
[data-code-lang="latex"].precode {
	// * Denote the language of a block of code.
}
	[data-status="draft"] {
		background-color: #fffcfa;
		opacity: 0.618;
	}
//.phone, // use microformats
//.tel,
//.email {
//	font-family: @fontfam--code;
//}
//++++ @end QUASI-ELEMENTS ++++//
