// main: all.less

/*-------------*\
	grid.less
\*-------------*/

//Table of Contents
//- WIDTHS
//- GOLDEN WIDTHS, MARGINS
//- ROWS, CELLS
//- GUTTERS

//+++++++
//@WIDTHS
//+++++++
@1o1: (100% * (1/1)); // 100%
@1o2: (100% * (1/2)); //  50%
@2o2: @1o1;
@1o3: (100% * (1/3)); //  33.333%
@2o3: (100% * (2/3)); //  66.666%
@3o3: @1o1;
@1o4: (100% * (1/4)); //  25%
@2o4: @1o2;
@3o4: (100% * (3/4)); //  75%
@4o4: @1o1;
@1o5: (100% * (1/5)); //  20%
@2o5: (100% * (2/5)); //  40%
@3o5: (100% * (3/5)); //  60%
@4o5: (100% * (4/5)); //  80%
@5o5: @1o1;
@1o6: (100% * (1/6)); //  16.666%
@2o6: @1o3;
@3o6: @1o2;
@4o6: @2o3;
@5o6: (100% * (5/6)); //  83.333%
@6o6: @1o1;

@phi1: ((-1 + sqrt(5)) / 2); // 0.618033988749894848
@phi2: (@phi1 * @phi1);
@phi3: (@phi2 * @phi1);
@phi4: (@phi3 * @phi1);
@phi3-c: (1 - @phi3);
@phi4-c: (1 - @phi4);
@golden1: (100% * @phi1);    // 61.8033988749894848%
@golden2: (100% * @phi2);    // 38.1966011250105152%
@golden3: (100% * @phi3);    // 23.6067977499789696%
@golden4: (100% * @phi4);    // 14.5898033750315455%
@golden3-c: (100% * @phi3-c);  // 76.3932022500210304%
@golden4-c: (100% * @phi4-c);  // 85.4101966249684545%

@phi5:  (@phi4  * @phi1);
@phi6:  (@phi5  * @phi1);
@phi7:  (@phi6  * @phi1);
@phi8:  (@phi7  * @phi1);
@phi9:  (@phi8  * @phi1);
@phi10: (@phi9  * @phi1);
@phi11: (@phi10 * @phi1);
@phi12: (@phi11 * @phi1);
@golden5:  (100% * @phi5);
@golden6:  (100% * @phi6); 
@golden7:  (100% * @phi7);
@golden8:  (100% * @phi8);
@golden9:  (100% * @phi9);
@golden10: (100% * @phi10);
@golden11: (100% * @phi11);
@golden12: (100% * @phi12);

@inv-phi1: (1 / @phi1);
@inv-phi2: (1 / @phi2);
@inv-phi3: (1 / @phi3);
@inv-phi4: (1 / @phi4);
@inv-phi3-c: (1 - (@inv-phi3));
@inv-phi4-c: (1 - (@inv-phi4));
@inv-golden1: (100% * @inv-phi1);   // 161.8033988749894848%
@inv-golden2: (100% * @inv-phi2);   // 261.8033988749894848%
@inv-golden3: (100% * @inv-phi3);   // 423.6067977499789696%
@inv-golden4: (100% * @inv-phi4);   // 685.4101966249684545%
@inv-golden3-c: (100% * @inv-phi3-c); // 130.9016994374947424%
@inv-golden4-c: (100% * @inv-phi4-c); // 117.0820393249936909%
//++++ @end WIDTHS ++++

//+++++++++++++++++++++++
//@GOLDEN WIDTHS, MARGINS
//+++++++++++++++++++++++
.p1 {width: @golden1;}
.p2 {width: @golden2;}
.p3 {width: @golden3;}
.p4 {width: @golden4;}
.p3-c {width: @golden3-c;}
.p4-c {width: @golden4-c;}

.left {margin-left: 0;}
.right {margin-right: 0;}
.automargin(left; @othermargin) {
	&:extend(.left);
	margin-right: @othermargin;
}
.automargin(right; @othermargin) {
	&:extend(.right);
	margin-left: @othermargin;
}
.p1--midleft:extend(.p1)  {margin-left: @golden4; margin-right: @golden3;}
.p1--midright:extend(.p1) {margin-left: @golden3; margin-right: @golden4;}
.p1--left:extend(.p1)  {.automargin(left;  (100% - @golden1));}
.p1--right:extend(.p1) {.automargin(right; (100% - @golden1));}
.p2--left:extend(.p2)  {.automargin(left;  (100% - @golden2));}
.p2--right:extend(.p2) {.automargin(right; (100% - @golden2));}
.p3--left:extend(.p3)  {.automargin(left;  (100% - @golden3));}
.p3--right:extend(.p3) {.automargin(right; (100% - @golden3));}
.p4--left:extend(.p4)  {.automargin(left;  (100% - @golden4));}
.p4--right:extend(.p4) {.automargin(right; (100% - @golden4));}
.p3-c--left:extend(.p3-c)  {.automargin(left;  @golden3);}
.p3-c--right:extend(.p3-c) {.automargin(right; @golden3);}
.p4-c--left:extend(.p4-c)  {.automargin(left;  @golden4);}
.p4-c--right:extend(.p4-c) {.automargin(right; @golden4);}

.undoGolden {
	position: relative;
	left: 0;
}
.undo--p1:extend(.undoGolden) {width: @inv-golden1;}
.undo--p2:extend(.undoGolden) {width: @inv-golden2;}
.undo--p3:extend(.undoGolden) {width: @inv-golden3;}
.undo--p4:extend(.undoGolden) {width: @inv-golden4;}
.undo--p3-c:extend(.undoGolden) {width: @inv-golden3-c;}
.undo--p4-c:extend(.undoGolden) {width: @inv-golden4-c;}

.undo--p1--midleft:extend(.undo--p1)  {left: -@golden3;}
.undo--p1--midright:extend(.undo--p1) {left: -@golden2;}
.undo--p1--left:extend(.undo--p1)  {}
.undo--p1--right:extend(.undo--p1) {left: -@golden1;}
.undo--p2--left:extend(.undo--p2)  {}
.undo--p2--right:extend(.undo--p2) {left: -100%;}
.undo--p3--left:extend(.undo--p3)  {}
.undo--p3--right:extend(.undo--p3) {left: -323.6067977499789696%;}  // -323.6067977499789696%
.undo--p4--left:extend(.undo--p4)  {}
.undo--p4--right:extend(.undo--p4) {left: -585.4101966249684545%;}  // -585.4101966249684545%
.undo--p3-c--left:extend(.undo--p3-c)  {}
.undo--p3-c--right:extend(.undo--p3-c) {left: -30.9016994374947424%;} // -30.9016994374947424%
.undo--p3-c--right:extend(.undo--p4-c) {}
.undo--p4-c--right:extend(.undo--p4-c) {left: -17.0820393249936909%;} // -17.0820393249936909%
//++++ @end  GOLDEN WIDTHS, MARGINS ++++


//++++++++++++
//@ROWS, CELLS
//++++++++++++
.row {
	display: table;
	width: 100%;
}
.cell {
	display: table-cell;
	vertical-align: top;
	overflow: visible;
}

.cell--1o1:extend(.cell) {width: @1o1;}
.cell--1o2:extend(.cell) {width: @1o2;}
.cell--2o2:extend(.cell--1o1) {}
.cell--1o3:extend(.cell) {width: @1o3;}
.cell--2o3:extend(.cell) {width: @2o3;}
.cell--3o3:extend(.cell--1o1) {}
.cell--1o4:extend(.cell) {width: @1o4;}
.cell--2o4:extend(.cell--1o2) {}
.cell--3o4:extend(.cell) {width: @3o4;}
.cell--4o4:extend(.cell--1o1) {}
.cell--1o5:extend(.cell) {width: @1o5;}
.cell--2o5:extend(.cell) {width: @2o5;}
.cell--3o5:extend(.cell) {width: @3o5;}
.cell--4o5:extend(.cell) {width: @4o5;}
.cell--5o5:extend(.cell--1o1) {}
.cell--1o6:extend(.cell) {width: @1o6;}
.cell--2o6:extend(.cell--1o3) {}
.cell--3o6:extend(.cell--1o2) {}
.cell--4o6:extend(.cell--2o3) {}
.cell--5o6:extend(.cell) {width: @5o6;}
.cell--6o6:extend(.cell--1o1) {}

.cell--p1:extend(.cell, .p1) {}
.cell--p2:extend(.cell, .p2) {}
.cell--p3:extend(.cell, .p3) {}
.cell--p4:extend(.cell, .p4) {}
.cell--p3-c:extend(.cell, .p3-c) {}
.cell--p4-c:extend(.cell, .p4-c) {}

.row--solo,
.row--duet,
.row--trio,
.row--quartet,
.row--quintet,
.row--sextet {&:extend(.row);}

.row--solo    > .cell:extend(.cell--1o1) {}
.row--duet    > .cell:extend(.cell--1o2) {}
.row--trio    > .cell:extend(.cell--1o3) {}
.row--quartet > .cell:extend(.cell--1o4) {}
.row--quintet > .cell:extend(.cell--1o5) {}
.row--sextet  > .cell:extend(.cell--1o6) {}
//++++ @end ROWS, CELLS ++++

//++++++++
//@GUTTERS
//++++++++
.gutter {
	position: absolute;
}
@media print {
	.gutter {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		position: static;
	}
}
.gutter--major {
	// * .p1--midleft within a .p3--left
	&:extend(.gutter all);
	width: @golden4;
	margin-left: @golden7;
	margin-right: @golden6;
	left: 0;		
}
.gutter--minor {
	// * .p1--midright within a .p4--right
	&:extend(.gutter all);
	width: @golden5;
	margin-left: @golden7;
	margin-right: @golden8;
	right: 0;
}
//++++ @end GUTTERS ++++
