
/*-------------------*\
    interfaces.less
\*-------------------*/

//Table of Contents
//- MIXINS
//- INTERFACES
//	- Delimiters


//+++++++//
/*@MIXINS*/
//+++++++//
/**
  * These Mixins set the padding, border, and margin on the left or right side, such that the border:padding ratio and the (border+padding):margin ratio are Golden.
@params
: @side:  either "left" or "right"
: @brdrw : value of the `border-[left|right]-width` property
: @brdrs : value of the `border-[left|right]-style` property
: @brdrc : value of the `border-[left|right]-color` property
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.spacing-phi(@side; @brdrw; @brdrs; @brdrc) {
	 border-@{side}: @brdrw @brdrs @brdrc;
	padding-@{side}: (@brdrw * @inv-phi1);
	 margin-@{side}: (@brdrw * @inv-phi3);
}
/** negate the effects of `.spacing-phi(@side; @brdrw; @brdrs; @brdrc)`  on the [left|right] side */
.spacing-phi(@side) {
	.spacing-phi(@side; 0; solid; #000);
}
.spacing-phi-left  {.spacing-phi(left);}
.spacing-phi-right {.spacing-phi(right);}
//++++ @end MIXINS ++++//


//+++++++++++//
/*@INTERFACES*/
//+++++++++++//
/**
  * This Interface creates default padding for cell-like structures (table cells, grid cells, boxes, etc.). The padding is based on the Vertical Rhythm Unit.
@tags
: #verticalrhythm
: #padding
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.cellpaddingdefault {
	padding: (@vru_px  / 2) (@vru_px  / 2 * @phi1);
	padding: (@vru_rem / 2) (@vru_rem / 2 * @phi1);
}
/**
  * This Interface makes an object slightly transparent, but it becomes opaque upon `:hover`.
@tags
: #schematic
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.transp {
	opacity: 0.618033988749894848;
	&:hover {opacity: 1;}
}
/**
  * This Interface represents a lede, an introductory/summary sentence or paragraph which catches the reader's attention.
@tags
: #typography
: #paragraph
: #span
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.lede {
	font-weight: bold;
	font-family: @fontfam_base;
}

//-----------//
/*@Delimiters*/
//-----------//
/**
  * This Interface adds opening and closing parentheses surrounding an element.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.parens {
	&::before {content: '(';}
	&::after  {content: ')';}	
}
/**
  * This Interface adds opening and closing quotation marks surrounding an element.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.quotes {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
/**
  * This Interface adds opening and closing guillemets (double angle quotes) surrounding an element.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.guillemets {
	&::before {content: '\00ab';} // &laquo;
	&::after  {content: '\00bb';} // &raquo;
}
//---- @end Delimiters ----//
@media print {
	/**
	  * This Interface displays an Object on screen but does not print it.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
	.noprint {
		display: none;
	}
	/**
	  * This Interface starts a new page in the print media.
	@tags
	: #schematic
	@author
	: Chris Harvey
	@updated
	: 2014-04-30
	  */
	.pagebreak {
		page-break-before: always;
		padding-top: 0.25in;
	}
}
//++++ @end INTERFACES ++++//
