// main: all.less

/*-------------*\
	mods.less
\*-------------*/

//Table of Contents
//- ABSTRACT BOXES
//- CODING AND MATH
//- MESSAGES
//- FORMS
//- MISC
//- MASTHEAD
//- BREADCRUMBS
//- FOOTNOTES

//+++++++++++++++
//@ABSTRACT BOXES
//+++++++++++++++
.cellpaddingdefault() {
	// * default padding for cell-like structures (table cells, units, boxes, etc.)
	padding: (@vru / 2) (@vru / 2 * @phi1);
}
@box-radius-small:  3px; // 1 + 2
@box-radius-medium: 6px; // 1 + 2 + 3
@box-radius-large: 10px; // 1 + 2 + 3 + 4
.box-inline() {
	// * inline content, boxed
	display: inline;
	padding: 0 2px;
	border: 1px solid;
	border-radius: @box-radius-small;
	white-space: nowrap;
}
.box-block() {
	// * a block structure, boxed
	.cellpaddingdefault();
	.border-vert--both(all; 1px; solid);
	display: block;
	border-radius: @box-radius-large;
	white-space: normal;
}
.spacing-left-phi(@brdr-width; @brdr-style; @brdr-color) {
	// CHANGE THIS CLASSNAME
	padding-left: @brdr-width * @inv-phi1;
	border-left: @brdr-width @brdr-style @brdr-color;
	margin-left: @brdr-width * @inv-phi3;
}
.spacing-left-phi() {
	// CHANGE THIS CLASSNAME
	.spacing-left-phi(0; solid; #000);
}
.spacing-right-phi(@brdr-width; @brdr-style; @brdr-color) {
	// CHANGE THIS CLASSNAME
	padding-right: @brdr-width * @inv-phi1;
	border-right: @brdr-width @brdr-style @brdr-color;
	margin-right: @brdr-width * @inv-phi3;
}
.spacing-right-phi() {
	// CHANGE THIS CLASSNAME
	.spacing-right-phi(0; solid; #000);
}
//++++ @end ABSTRACT BOXES ++++


//++++++++++++++++
//@CODING AND MATH
//++++++++++++++++
@color_code--txt:  #000;
@color_code--bg:   #ced;
@color_code--comment: #999;
@color_code--html--tag:  #009;
@color_code--html--attr: #900;
@color_code--html--val:  #090;
@color_code--css--sel:   @color_code--html--tag;
@color_code--css--prop:  @color_code--html--attr;
@color_code--css--val:   @color_code--html--val;
@color_code--latex--cmd: @color_code--html--tag;
@color_code--latex--arg: @color_code--html--attr;
pre {white-space: pre-wrap;}
code,
.code {
	.box-inline();
	.fontsize(small; inline);
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-family: @fontfam--code;
	color: @color_code--txt;
	background-color: @color_code--bg;
}
.link__code {
	color: inherit;
	background-color: transparent;
}
.comment {
	// *********************
	// semantic class alert!
	// *********************
	color: @color_code--comment;
}
.lang-html {
	// *********************
	// semantic class alert!
	// *********************
	.tag       {color: @color_code--html--tag;}
	.attribute {color: @color_code--html--attr;}
	.value     {color: @color_code--html--val;}
}
.lang-css {
	// *********************
	// semantic class alert!
	// *********************
	.selector {color: @color_code--css--sel;}
	.property {color: @color_code--css--prop;}
	.value    {color: @color_code--css--val;}
}
.lang-latex {
	// *********************
	// semantic class alert!
	// *********************
	.cmd {color: @color_code--latex--cmd;}
	.arg {color: @color_code--latex--arg;}
}
.dir {
	// * directory system (folders and files)
	border: 0;
	font-style: italic;
	font-family: @fontfam--base;
}
pre > code,
.precode {
	&:extend(.code all);
	.box-block();
	.border-vert--both(all; 0);
	.fontsize(small);
	white-space: pre-wrap;
	background-color: transparent;
}
.precode:extend(pre > code all) {}
samp {font-family: inherit;}
kbd { 
	// * user input, in the form of a string, menu item, etc.
	font-style: inherit;
	font-weight: bold;
	font-family: inherit;
//	&.write { // what is this?
//		font-family: inherit;
//		&::before {content: open-quote;}
//		&::after  {content: close-quote;}
//	}
	> kbd {
		// * an individual key on a keyboard, calculator, or other device
		&:extend(code all);
		padding: 0 6px;
		border-style: outset;
		font-family: @fontfam--base;
		color: @aperture-white;
		background-color: @aperture-black;
	}
}
.latex {
//	.fontsize(small);
	font-family: @fontfam--math;
	white-space: pre-wrap;
	div&, p& {
		// * block-level containers
		overflow: auto;
	}
}
.h__latex {color: inherit;}
var {font-style: italic;}
.tex {
	//a reminder to change all `<... class="tex">` to `<... class="latex">`
	//a reminder to change all `.tex` to `.latex`
	color: #f00;
	* {color: #f00;}
}
//++++ @end CODING AND MATH ++++


//+++++++++
//@MESSAGES
//+++++++++
@color_warning--txt: #600;
@color_caution--txt: #660;
@color_success--txt: #060;
@color_info--txt:    #006;
@color_help--txt:    #606;
@color_special--txt:    #066;

@color_warning--brdr: #fcc;
@color_caution--brdr: #ffc;
@color_success--brdr: #cfc;
@color_info--brdr:    #ccf;
@color_help--brdr:    #fcf;
@color_special--brdr:    #cff;

@color_warning--bg: #fee;
@color_caution--bg: #ffe;
@color_success--bg: #efe;
@color_info--bg:    #eef;
@color_help--bg:    #fef;
@color_special--bg:    #eff;

@color_warning--brdr: lighten(@color_warning--txt, @headlt);
@color_caution--brdr: lighten(@color_caution--txt, @headlt);
@color_success--brdr: lighten(@color_success--txt, @headlt);
@color_info--brdr: lighten(@color_info--txt, @headlt);
@color_help--brdr: lighten(@color_help--txt, @headlt);
@color_special--brdr: lighten(@color_special--txt, @headlt);
@color_warning--bg: lighten(@color_warning--brdr, @headlt);
@color_caution--bg: lighten(@color_caution--brdr, @headlt);
@color_success--bg: lighten(@color_success--brdr, @headlt);
@color_info--bg: lighten(@color_info--brdr, @headlt);
@color_help--bg: lighten(@color_help--brdr, @headlt);
@color_special--bg: lighten(@color_special--brdr, @headlt);

.message {
	&:extend(.row all);
	.width--sml();
	.box-block();
	.fontsize(small);
	margin-top: @vru;
	font-style: normal;
	font-weight: normal;
	font-family: @fontfam--accent;
	line-height: 1;
	&::before {
		font-family: @fontfam--code;
//		&:extend(.cell all);
//		&:extend(.dropcap::first-letter all);
//		padding-top: 0;
//		margin-top: -12px;
//		float: left;
	}
}
.message-mx(@color_txt; @color_bg; @color_brdr; @content) {
	color: @color_txt;
	background-color: @color_bg;
	border-color: @color_brdr;
	&::before {
		color: @color_txt;
		content: @content;
	}
}
.warning {
	&:extend(.message all);
	.message-mx(@color_warning--txt; @color_warning--bg; @color_warning--brdr; '!');
}
.caution {
	&:extend(.message all);
	.message-mx(@color_caution--txt; @color_caution--bg; @color_caution--brdr; '\2026'); // &hellip;
}
.success {
	&:extend(.message all);
	.message-mx(@color_success--txt; @color_success--bg; @color_success--brdr; '\263A'); // smiley
}
.info {
	&:extend(.message all);
	.message-mx(@color_info--txt; @color_info--bg; @color_info--brdr; '?');
}
.help {
	&:extend(.message all);
	.message-mx(@color_help--txt; @color_help--bg; @color_help--brdr; '\2665'); // &hearts;
}
.special {
	&:extend(.message all);
	.message-mx(@color_special--txt; @color_special--bg; @color_special--brdr; '\2605'); // star
}
//++++ @end MESSAGES ++++


//+++++++++
//@MASTHEAD
//+++++++++
.masthead {
	@iconsize: 96px; // 1in
	.p4--right;
	position: fixed;
	top: (@iconsize / 2);
	nav {
		.p1--midleft;
		.mylogo {
			display: block;
			.border-vert--one(bottom; 0);
			font-weight: bold;
			font-size: @iconsize;
			font-family: @fontfam--math;
		}
	}
}
//++++ @end MASTHEAD ++++


//++++++++++++
//@BREADCRUMBS
//++++++++++++
.bc {
	.gutter--major;
	position: fixed;
	top: 2 * @vru;
	z-index: 1;
}
.bc__anc,
.bc__sib,
.bc__child {
	&:extend(.list--bare all);
	margin-top: 0;
	padding-bottom: @vru;
	li {
		margin-top: 0.75 * @vru;
		margin-bottom: -2px;
	}
}
.bc__link {
	&:extend(.link all);
	.box-block();
	padding: (0.125 * @vru) 15px;
	border-radius: 15px;
	text-align: left;
	background-color: @color_link--up--bg;
	&:hover {background-color: @color_link--dn--bg;}
	&:active {background-color: @color_link--active-bg;}
	&[rel~="this"] {
		font-weight: bold;
	}
}
.bc__anc {
//	a::before {content: '\22a5';} // `\bot` or 'up tack'
//	a::before {content: '\22b7';} // 'image of'
//	a::before {content: '<';}
}
.bc__sib {
//	a::before {content: '\22a2';} // `\vdash` or 'turnstile'
//	a::before {content: '\29df';} // 'double-ended multimap'
//	a::before {content: '+';}
}
.bc__child {
//	a::before {content: '\22a4';} // `\top` or 'down tack'
//	a::before {content: '\22b6';} // 'original of'
//	a::before {content: '>';}
}
//++++ @end BREADCRUMBS ++++


//++++++++++
//@FOOTNOTES
//++++++++++
@fn-width: 1.5em;
.footnotes {
	// * an unordered list containing footnotes
	&:extend(.list--bare);
	.spacing-top-phi(1px; solid; @color_accent);
	.fontsize(small);
	> li {
		padding-left: @fn-width;
		text-indent: -@fn-width;
	}
}
/*sup*/.fn {
	// * the superscript containing a link
	&:extend(sup all);
	width: @fn-width;
	> a {
		&::before {content: '[';}
		&::after {content: ']';}
	}
}
//++++ @end FOOTNOTES ++++

@media print {
	.masthead {display: none;}
	.warning,
	.caution,
	.success,
	.info,
	.help,
	.special {
		&::before {display: none;}
	}
	code {
		color: #000000;
		background-color: #fff;
	}
}