@media print {
  body,
  main {
    margin: 0;
  }
}
li > ol,
dt > ol,
dd > ol,
li > ul,
dt > ul,
dd > ul,
li > dl,
dt > dl,
dd > dl {
  margin-bottom: 0;
}
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}
table {
  max-width: 100%;
}
/*################*\
    _colors.less
\*################*/
/*+++++++++++++++++*\
    #PORTAL THEME
\*+++++++++++++++++*/
/*-----------------------*\
    #Main Portal Colors
\*-----------------------*/
/*---------------*\
    #Grey Tones
\*---------------*/
/*-----------------------*\
    #More Portal Colors
\*-----------------------*/
/*+++++++++++++++++++++++++++++++++*\
    #SOLARIZED / LUNARIZED THEMES
\*+++++++++++++++++++++++++++++++++*/
/*++++++++++++++++*\
    #LABEL THEME
\*++++++++++++++++*/
/*################*\
    _sizing.less
\*################*/
/*+++++++++++\/
    #SIZING
\*+++++++++++*/
/*----------------\/
    #Even Values
\*----------------*/
/*------------------*\
    #Golden Values
\*------------------*/
/*##################*\
    _settings.less
\*##################*/
/*+++++++++++++++++++++++++*\
    #PROJECT BOX SETTINGS
\*+++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++*\
    #PROJECT TYPOGRAPHICAL SETTINGS
\*+++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++*\
    #PROJECT COLOR SETTINGS
\*+++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++*\
    #PROJECT MISCELLANEOUS SETTINGS
\*+++++++++++++++++++++++++++++++++++*/
/*############*\
    _hr.less
\*############*/
/*#############*\
    _box.less
\*#############*/
/*##############*\
    _body.less
\*##############*/
html {
  font-size: 100%;
  line-height: 1.5;
}
body {
  font-family: 'Optima', 'Lucida Grande', 'Tahoma', sans-serif;
}
@media screen {
  body {
    color: #0d0800;
    background-color: #f2f7ff;
  }
}
/*######################*\
    _base.heading.less
\*######################*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir', 'Seravek', sans-serif;
}
h1 {
  font-variant: small-caps;
  text-align: center;
  color: #120099;
}
h2 {
  border-bottom-width: 1px;
  margin-top: -1px;
  border-bottom-style: solid;
  color: #3d6166;
}
h3 {
  font-variant: small-caps;
}
h4 {
  font-style: italic;
}
h5 {
  font-style: italic;
  font-weight: normal;
  color: #3d6166;
}
h6 {
  font-style: italic;
  font-weight: normal;
  font-variant: small-caps;
}
@media screen {
  h1 {
    padding-top: 1.85410197rem;
    margin-bottom: 1.14589803rem;
    font-size: 3rem;
    line-height: 1;
  }
  h2 {
    padding-top: 1.39057647rem;
    margin-bottom: 0.85942353rem;
    font-size: 2.1875rem;
    line-height: 1.02857143;
  }
  h3 {
    padding-top: 1.62233922rem;
    margin-bottom: 1.00266078rem;
    font-size: 1.625rem;
    line-height: 1.15384615;
  }
  h4 {
    padding-top: 0.92705098rem;
    margin-bottom: 0.57294902rem;
    font-size: 1.3125rem;
    line-height: 1.14285714;
  }
  h5 {
    padding-top: 1.15881373rem;
    margin-bottom: 0.71618627rem;
    font-size: 1.125rem;
    line-height: 1;
  }
  h6 {
    padding-top: 1.2746951rem;
    margin-bottom: 0.7878049rem;
    font-size: 1rem;
    line-height: 0.9375;
  }
}
/*###################*\
    _paragraph.less
\*###################*/
/*+++++++++++++++++++++*\
    #QUASI-PARAGRAPHS
\*+++++++++++++++++++++*/
figure {
  box-sizing: border-box;
  text-align: center;
}
@media screen {
  figure {
    border-left: 0.25rem solid #9acc7a;
    border-right: 0.25rem solid #9acc7a;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
blockquote {
  box-sizing: border-box;
  font-family: 'Geneva', 'Tahoma', sans-serif;
}
blockquote > footer {
  text-align: right;
}
blockquote > footer > cite {
  quotes: '(' ')';
}
blockquote > footer > cite::before {
  content: open-quote;
}
blockquote > footer > cite::after {
  content: close-quote;
}
@media screen {
  blockquote {
    border-left: 0.75rem double #9acc7a;
    padding-left: 0.25rem;
  }
}
pre {
  font-size: 0.75rem;
  line-height: 2;
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
  text-align: left;
  text-indent: 0;
}
pre code {
  quotes: '\`' '\`';
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;
  font-size: inherit;
}
pre code::before {
  content: open-quote;
}
pre code::after {
  content: close-quote;
}
pre > small {
  font-style: italic;
  font-size: inherit;
}
@media screen {
  pre {
    border-width: 2px;
    margin-top: -4px;
    border-style: solid;
    border-color: transparent;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border-color: #d5dbee;
    color: #657b83;
    background: #e3eafd;
  }
  pre > small {
    color: #93a1a1;
  }
  pre > strong {
    color: #586e75;
  }
}
caption,
figcaption {
  font-size: 0.75rem;
  line-height: 2;
  font-family: 'Geneva', 'Tahoma', sans-serif;
}
caption:first-child,
figcaption:first-child {
  border-bottom-width: 1px;
  margin-top: -1px;
  border-bottom-style: dotted;
  border-bottom-color: #9acc7a;
}
figcaption:last-child {
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: dotted;
  border-top-color: #9acc7a;
}
/*##############*\
    _list.less
\*##############*/
ul {
  list-style-type: square;
}
li > ol,
dt > ol,
dd > ol,
li > ul,
dt > ul,
dd > ul {
  padding-left: 2rem;
}
/*#############*\
    _map.less
\*#############*/
.dl--Horiz::after {
  display: table;
  content: ' ';
  clear: both;
}
.dl--Horiz > dt,
.dl--Horiz > dd {
  box-sizing: border-box;
  overflow: auto;
}
.dl--Horiz > dt {
  padding-right: 1rem;
  float: left;
  clear: both;
  white-space: nowrap;
}
.dl--Horiz > dd {
  float: left;
}
.dl--Horiz > dd + dt {
  margin-top: 0;
}
.dl--Horiz--Sml > dt {
  width: 23.60679775%;
}
.dl--Horiz--Sml > dd {
  width: 76.39320225%;
}
.dl--Horiz--Msm > dt {
  width: 38.19660113%;
}
.dl--Horiz--Msm > dd {
  width: 61.80339887%;
}
.dl--Horiz--Med > dt {
  width: 50%;
}
.dl--Horiz--Med > dd {
  width: 50%;
}
.dl--Horiz--Mlg > dt {
  width: 61.80339887%;
}
.dl--Horiz--Mlg > dd {
  width: 38.19660113%;
}
.dl--Horiz--Lrg > dt {
  width: 76.39320225%;
}
.dl--Horiz--Lrg > dd {
  width: 23.60679775%;
}
.dl--Horiz--Tbl > dt,
.dl--Horiz--Tbl > dd {
  padding: 0.75rem 1rem;
}
@media screen {
  .dl--Horiz--Tbl > dt:nth-child(4n+1),
  .dl--Horiz--Tbl > dd:nth-child(4n+2) {
    background-color: #cfe0e2;
  }
  .dl--Horiz--Tbl > dt:nth-child(4n+3),
  .dl--Horiz--Tbl > dd:nth-child(4n) {
    background-color: #b6d0d3;
  }
}
/*###############*\
    _table.less
\*###############*/
/**
  * This Object represents a table-like structure. It may or may not be a literal `table` Element.
  * A `.Table` is defined as an collection of data in two or more dimensions. A common example
  * would be a multivariable map: given multiple (e.g., two) independent inputs there exists one
  * dependent output.
@implements
: .font-size-block()
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2015-02-17
  */
.Table {
  display: table;
  width: 100%;
  text-align: center;
}
.Table > caption {
  border-top: 1px solid #9acc7a;
}
/**
  * This Object represents a group of rows in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2015-02-17
  */
.Rowgroup {
  border-width: 1px 0;
  border-style: solid;
  border-color: #9acc7a;
}
.Rowgroup.Head,
.Rowgroup.Foot {
  vertical-align: bottom;
}
.Rowgroup.Head .Row,
.Rowgroup.Foot .Row {
  background-color: transparent;
}
.Rowgroup.Head {
  display: table-header-group;
}
.Rowgroup.Body {
  display: table-row-group;
  vertical-align: top;
}
.Rowgroup.Foot {
  display: table-footer-group;
}
/**
  * This Object represents a single row in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2015-02-17
  */
.Row {
  display: table-row;
}
/**
  * This Object represents a single data entry in a `.Table`.
@implements
: .cellpaddingdefault()
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Cell {
  padding: 0.75rem 1rem;
  display: table-cell;
}
/**
  * This Object represents a heading in a `.Table`. A table heading may apply to a single row,
  * a single column, a group of rows, or a group of columns.
@tags
: #typography
: #table
: #heading
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Cell.Hc {
  font-weight: bold;
}
table {
  counter-reset: nrows;
  counter-increment: nrows;
}
table tr {
  counter-increment: nrows;
}
@media screen {
  .Table {
    font-size: 0.75rem;
    line-height: 2;
  }
  .Rowgroup.Head,
  .Rowgroup.Foot {
    background-color: #ebf2f3;
  }
  .Row:nth-child(odd) {
    background-color: #cfe0e2;
  }
  .Row:nth-child(even) {
    background-color: #b6d0d3;
  }
  .Row:hover {
    background-color: #a1c2c7;
  }
  .Table.Vert .Cell:nth-child(odd) {
    background-color: #cfe0e2;
  }
  .Table.Vert .Cell:nth-child(even) {
    background-color: #b6d0d3;
  }
}
/*###############*\
    _links.less
\*###############*/
a[href] {
  cursor: pointer;
}
a[href]:hover {
  text-decoration: underline;
  color: #ff9d00;
}
a[href]:active {
  color: #cc004e;
}
a[rel~="external"] {
  font-style: italic;
}
@media screen {
  a[href] {
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 125ms;
    -moz-transition-duration: 125ms;
    -ms-transition-duration: 125ms;
    -o-transition-duration: 125ms;
    transition-duration: 125ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    text-decoration: none;
    color: #0062ff;
  }
}
@media print {
  a[href] {
    color: inherit;
  }
}
/*################*\
    _stress.less
\*################*/
i[lang] {
  font-family: 'Didot', 'Bodoni 72', 'Times', serif;
}
mark {
  background-color: rgba(204, 0, 78, 0.5);
}
u {
  color: #cc004e;
}
s {
  color: #cc004e;
}
/*#################*\
    _doctext.less
\*#################*/
dfn {
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
}
.Title {
  padding-right: 1rem;
  font-weight: bold;
}
var {
  quotes: '\2039' '\203a';
}
var::before {
  content: open-quote;
}
var::after {
  content: close-quote;
}
.q--Th {
  quotes: '\00ab' '\00bb';
}
.q--Th::before {
  content: open-quote;
}
.q--Th::after {
  content: close-quote;
}
/*##############*\
    _data.less
\*##############*/
.abbr--Acro {
  font-size: 0.75em;
}
.abbr__First {
  font-size: 1.33333333em;
}
code {
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
@media screen {
  code {
    padding: 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.25rem;
    white-space: nowrap;
    border-color: #eee8d5;
    color: #836d65;
    background: #fdf6e3;
  }
}
kbd > kbd {
  font-size: inherit;
  font-family: 'Geneva', 'Tahoma', sans-serif;
}
@media screen {
  kbd > kbd {
    padding: 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.25rem;
    white-space: nowrap;
    border-color: #073642;
    color: #93a1a1;
    background: #002b36;
  }
}
.M {
  font-family: 'Didot', 'Bodoni 72', 'Times', serif;
  white-space: pre;
  overflow: auto;
}
.M--B {
  display: block;
  min-height: 4.5rem;
}
/*######################*\
    _o-GoldenBody.less
\*######################*/
@media screen {
  .t-GoldenBody {
    position: relative;
  }
  .t-GoldenBody--LeftAll {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .t-GoldenBody--RightAll {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .o-Content {
    box-sizing: border-box;
    width: 61.80339887%;
    margin-bottom: 12rem;
  }
  .t-GoldenBody--Left .o-Content {
    margin-left: 14.58980338%;
    margin-right: 23.60679775%;
  }
  .t-GoldenBody--Right .o-Content {
    margin-left: 23.60679775%;
    margin-right: 14.58980338%;
  }
  .t-GoldenBody--LeftAll .o-Content {
    margin-left: 0;
    margin-right: 38.19660113%;
  }
  .t-GoldenBody--RightAll .o-Content {
    margin-left: 38.19660113%;
    margin-right: 0;
  }
  .o-Sidebar {
    box-sizing: border-box;
    position: absolute;
  }
  .t-GoldenBody--Left .o-Sidebar--Major {
    width: 14.58980338%;
    margin-left: 3.44418537%;
    margin-right: 5.572809%;
    right: 0;
  }
  .t-GoldenBody--Right .o-Sidebar--Major {
    width: 14.58980338%;
    margin-left: 5.572809%;
    margin-right: 3.44418537%;
    left: 0;
  }
  .t-GoldenBody--LeftAll .o-Sidebar--Major {
    width: 23.60679775%;
    margin-left: 61.80339887%;
    margin-right: 14.58980338%;
    right: 0;
  }
  .t-GoldenBody--RightAll .o-Sidebar--Major {
    width: 23.60679775%;
    margin-left: 14.58980338%;
    margin-right: 61.80339887%;
    left: 0;
  }
  .t-GoldenBody--Left .o-Sidebar--Minor {
    width: 9.01699437%;
    margin-left: 3.44418537%;
    margin-right: 2.12862363%;
    left: 0;
  }
  .t-GoldenBody--Right .o-Sidebar--Minor {
    width: 9.01699437%;
    margin-left: 2.12862363%;
    margin-right: 3.44418537%;
    right: 0;
  }
  .t-GoldenBody--LeftAll .o-Sidebar--Minor {
    width: 14.58980338%;
    margin-left: 85.41019662%;
    margin-right: 0;
    left: 0;
  }
  .t-GoldenBody--RightAll .o-Sidebar--Minor {
    width: 14.58980338%;
    margin-left: 0;
    margin-right: 85.41019662%;
    right: 0;
  }
}
/*########################*\
    _o-FlexContainer.less
\*########################*/
.o-FlexContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}
/*######################*\
    _o-ListInline.less
\*######################*/
.o-ListInline {
  display: inline;
  padding-left: 0;
}
.o-ListInline__Item {
  display: inline;
}
.o-ListInline--Comma > .o-ListInline__Item:not(:last-child)::after {
  content: ',\0020';
}
.o-ListInline--Mdash > .o-ListInline__Item:not(:last-child)::after {
  content: '\0020\2014\0020';
}
.o-ListInline--Ndash > .o-ListInline__Item:not(:last-child)::after {
  content: '\0020\2013\0020';
}
.o-ListInline--Bull > .o-ListInline__Item:not(:last-child)::after {
  content: '\0020\2022\0020';
}
.o-ListInline--Square > .o-ListInline__Item:not(:last-child)::after {
  content: '\0020\25aa\0020';
}
.o-ListInline__Item--Comma::after {
  content: ',\0020' !important;
}
.o-ListInline__Item--Mdash::after {
  content: '\0020\2014\0020' !important;
}
.o-ListInline__Item--Ndash::after {
  content: '\0020\2013\0020' !important;
}
.o-ListInline__Item--Bull::after {
  content: '\0020\2022\0020' !important;
}
.o-ListInline__Item--Square::after {
  content: '\0020\25aa\0020' !important;
}
.o-ListInline__Item--Break::after {
  display: block;
  content: '' !important;
}
/*####################*\
    _c-Document.less
\*####################*/
.c-Document {
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  text-align: justify;
}
.c-Document--draft::before {
  color: #610000;
  content: 'This document is a work in progress.';
}
.c-Document--complete::before {
  color: #4e6100;
  content: 'This document is mostly complete.';
}
.c-Document--released::before {
  color: #006127;
  content: 'This document is ready for implemen' '\00ad' 'tation.';
}
.c-Document__draft {
  color: #610000;
}
.c-Document__complete {
  color: #4e6100;
}
.c-Document__released {
  color: #006127;
}
.c-Document__informative {
  color: #002761;
}
@media screen {
  .c-Document--draft::before,
  .c-Document--complete::before,
  .c-Document--released::before {
    border-width: 0;
    margin-top: 0;
    border-style: solid;
    border-color: currentColor;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 2;
    display: block;
    box-sizing: border-box;
    width: 9.01699437%;
    margin-left: 3.44418537%;
    margin-right: 2.12862363%;
    position: absolute;
    right: 0;
    font-weight: bold;
    font-family: 'Geneva', 'Tahoma', sans-serif;
    text-align: left;
  }
  .c-Document--draft::before {
    background: #ff9e9e;
  }
  .c-Document--complete::before {
    background: #ecff9e;
  }
  .c-Document--released::before {
    background: #9effc5;
  }
  .c-Document__draft,
  .c-Document__complete,
  .c-Document__released {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 4px 4px 8px #808080;
  }
  .c-Document__draft {
    border-left: 0.25rem solid #ff0000;
    border-right: 0.25rem solid #ff0000;
    background: rgba(255, 158, 158, 0.2);
  }
  .c-Document__complete {
    border-left: 0.25rem solid #ccff00;
    border-right: 0.25rem solid #ccff00;
    background: rgba(236, 255, 158, 0.2);
  }
  .c-Document__released {
    border-left: 0.25rem solid #00ff66;
    border-right: 0.25rem solid #00ff66;
    background: rgba(158, 255, 197, 0.2);
  }
  .c-Document__informative {
    border-left: 0.125rem solid #06f;
    border-right: 0.125rem solid #06f;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 2px 2px 4px #c0c0c0;
    font-family: 'Optima', 'Lucida Grande', 'Tahoma', sans-serif;
    background: rgba(158, 197, 255, 0.2);
  }
}
@media print {
  .c-Document__informative {
    quotes: '(' ')';
  }
  .c-Document__informative::before {
    content: open-quote;
  }
  .c-Document__informative::after {
    content: close-quote;
  }
}
/*###################*\
    _c-Subhead.less
\*###################*/
@media screen {
  .c-Subhead {
    font-size: 2rem;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'Zapfino', 'Savoye LET', script;
    text-align: center;
    color: #cc004e;
  }
}
/*######################*\
    _c-FolioTitle.less
\*######################*/
@media screen {
  .c-FolioTitle {
    font-size: 2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'Zapfino', 'Savoye LET', script;
    text-align: center;
    color: #cc004e;
    font-size: 3rem;
    line-height: 1.5;
    padding-top: 6rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    color: #120099;
  }
  /**
    * A subcomponent inside a folio heading, representing a capital leter to be styled
    * slightly differently. As an inline element, its font-size is in 'em's and its line-height is 0.
    *
    * Usage HACK: If `::first-letter` is buggy (as it is in Chrome), manually add this
    * in the form of `span.c-FolioTitle__Cap`.
    *
    * Usage HACK: If you *do* use `::first-letter` but want to prevent styles from
    * applying to the first visual character, prepend the unicode `U+0001` = "start of heading"
    * character to the heading via `&#x1;` entity. `::first-letter` will apply to this character
    * (which is not rendered) instead of the first visual character.
  @tags
  : #typography
  : #heading
  @author
  : Chris Harvey
  @updated
  : 2015-02-27
    */
  .c-FolioTitle__Cap {
    font-size: 1.5em;
    text-transform: uppercase;
  }
}
/*###################*\
    _paragraph.less
\*###################*/
.c-Lede {
  font-family: 'Geneva', 'Tahoma', sans-serif;
  text-align: justify;
  color: #120099;
}
.c-Lede--Dropcap::first-letter {
  float: left;
  padding-top: 2.25rem;
  padding-right: 0.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 0;
  font-family: 'Zapfino', 'Savoye LET', script;
}
/*#####################*\
    _c-PullQuote.less
\*#####################*/
.c-PullQuote {
  font-size: 1.25rem;
  line-height: 1.8;
}
.c-PullQuote__Src {
  font-size: 0.75rem;
  line-height: 3;
  display: block;
  text-align: right;
}
.c-PullQuote__Src::before {
  content: '~\0020';
}
/*######################*\
    _c-ListAction.less
\*######################*/
.c-ListAction {
  padding-left: 0;
  list-style-type: none;
  color: #0062ff;
}
.c-ListAction__Item::before {
  content: '\2713\0020';
}
/*#####################*\
    _breadcrumbs.less
\*#####################*/
.Bc {
  box-sizing: border-box;
  width: 14.58980338%;
  margin-left: 3.44418537%;
  margin-right: 5.572809%;
  position: fixed;
  left: 0;
  top: 1.5rem;
  z-index: 1;
}
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  padding: 0;
  list-style-type: none;
}
.Crumb {
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  padding-left: 0.75rem;
  border-radius: 0.75rem;
  line-height: inherit;
  color: #0062ff;
  background-color: #c3daff;
  cursor: pointer;
}
.Crumb:hover {
  text-decoration: none !important;
}
.Crumb:not([rel~="this"]):hover {
  background-color: #ffe8c3;
}
.Crumb[rel~="this"] {
  position: relative;
  left: 0.75rem;
  font-weight: bold;
  color: #f2f7ff !important;
  background-color: #0062ff;
}
@media print {
  .Bc {
    display: none;
  }
}
/*#################*\
    _c-Docmeta.less
\*#################*/
.Docmeta > dt {
  font-weight: bold;
}
.Docmeta > dt::after {
  content: ':';
}
.Docmeta > dd[itemprop~="dateModified"] > time::after,
.Docmeta > dd[itemprop~="dateCreated"]::after,
.Docmeta > dd[itemprop~="datePublished"]::after {
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.25rem;
  white-space: nowrap;
  display: inline;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0;
  font-family: 'Geneva', 'Tahoma', sans-serif;
}
.Docmeta > dd[itemprop~="dateModified"] > time::after {
  color: #610000;
  background: #ff9e9e;
  content: 'Latest';
}
.Docmeta > dd[itemprop~="dateCreated"]::after {
  color: #4e6100;
  background: #ecff9e;
  content: 'Completed';
}
.Docmeta > dd[itemprop~="datePublished"]::after {
  color: #006127;
  background: #9effc5;
  content: 'Released';
}
.Docmeta .tod::before {
  content: '@\0020';
}
/*###################*\
    _footnotes.less
\*###################*/
.Footnotes {
  font-size: 0.75rem;
  line-height: 2;
}
.Footnotes::before {
  content: '';
  display: block;
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: solid;
  border-top-color: #9acc7a;
  position: relative;
  bottom: 0.75rem;
}
.Footnotes > ul {
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
}
.Rf,
.Fn {
  quotes: '[' ']';
}
.Rf::before,
.Fn::before {
  content: open-quote;
}
.Rf::after,
.Fn::after {
  content: close-quote;
}
/*####################*\
    _colortheme.less
\*####################*/
.t-bg-sol-lite {
  background: #fdf6e3;
  border-color: #eee8d5;
}
.t-bg-sol-dark {
  background: #002b36;
  border-color: #073642;
}
.t-bg-lun-lite {
  background: #e3eafd;
  border-color: #d5dbee;
}
.t-bg-lun-dark {
  background: #360b00;
  border-color: #421307;
}
.t-fg-sol-lite {
  color: #657b83;
}
.t-fg-sol-dark {
  color: #839496;
}
.t-fg-lun-lite {
  color: #836d65;
}
.t-fg-lun-dark {
  color: #968583;
}
.t-fg-sol-lite > .c__Comm {
  color: #93a1a1;
}
.t-fg-sol-dark > .c__Comm {
  color: #586e75;
}
.t-fg-lun-lite > .c__Comm {
  color: #a19393;
}
.t-fg-lun-dark > .c__Comm {
  color: #755f58;
}
.t-fg-sol-lite > .c__Emph {
  color: #586e75;
}
.t-fg-sol-dark > .c__Emph {
  color: #93a1a1;
}
.t-fg-lun-lite > .c__Emph {
  color: #755f58;
}
.t-fg-lun-dark > .c__Emph {
  color: #a19393;
}
.t-ac-sol .c__Ctl {
  color: #dc322f;
}
.t-ac-lun .c__Ctl {
  color: #d55e67;
}
.t-ac-sol .c__Opr {
  color: #cb4b16;
}
.t-ac-lun .c__Opr {
  color: #d9742d;
}
.t-ac-sol .c__Kwd {
  color: #b58900;
}
.t-ac-lun .c__Kwd {
  color: #938e3b;
}
.t-ac-sol .c__Cst {
  color: #859900;
}
.t-ac-lun .c__Cst {
  color: #2cc97d;
}
.t-ac-sol .c__Str {
  color: #2aa198;
}
.t-ac-lun .c__Str {
  color: #23cdd0;
}
.t-ac-sol .c__Cmd {
  color: #268bd2;
}
.t-ac-lun .c__Cmd {
  color: #34b4e9;
}
.t-ac-sol .c__Arg {
  color: #6c71c4;
}
.t-ac-lun .c__Arg {
  color: #4a76ff;
}
.t-ac-sol .c__Obj {
  color: #d33682;
}
.t-ac-lun .c__Obj {
  color: #7a66ff;
}
.t-ac-sol .c__Tag {
  color: #268bd2;
}
.t-ac-lun .c__Tag {
  color: #34b4e9;
}
.t-ac-sol .c__Atr {
  color: #b58900;
}
.t-ac-lun .c__Atr {
  color: #938e3b;
}
.t-ac-sol .c__Val {
  color: #2aa198;
}
.t-ac-lun .c__Val {
  color: #23cdd0;
}
.t-ac-sol .c__Sel {
  color: #268bd2;
}
.t-ac-lun .c__Sel {
  color: #34b4e9;
}
.t-ac-sol .c__Prp {
  color: #b58900;
}
.t-ac-lun .c__Prp {
  color: #938e3b;
}
/*################*\
    _trumps.less
\*################*/
.help-otln {
  outline: 1px solid #cc004e;
}
[data-bool="0"] {
  color: #f2f7ff;
  background-color: rgba(43, 156, 255, 0.8);
}
[data-bool="1"] {
  color: #0d0800;
  background-color: rgba(255, 142, 43, 0.8);
}
@media print {
  .noprint {
    display: none;
  }
}
/*+++++++++++++++++++*\
    #HELPER CLASSES
\*+++++++++++++++++++*/
/*#################*\
    _helpers.less
\*#################*/
/*+++++++++++*\
    #WIDTHS
\*+++++++++++*/
.w-p0 {
  width: 100%;
}
.w-p1 {
  width: 61.80339887%;
}
.w-p2 {
  width: 38.19660113%;
}
.w-p3 {
  width: 23.60679775%;
}
.w-p4 {
  width: 14.58980338%;
}
.w-p3c {
  width: 76.39320225%;
}
.w-p4c {
  width: 85.41019662%;
}
.w-1o1 {
  width: 100%;
}
.w-1o2 {
  width: 50%;
}
.w-2o2 {
  width: 100%;
}
.w-1o3 {
  width: 33.33333333%;
}
.w-2o3 {
  width: 66.66666667%;
}
.w-3o3 {
  width: 100%;
}
.w-1o4 {
  width: 25%;
}
.w-2o4 {
  width: 50%;
}
.w-3o4 {
  width: 75%;
}
.w-4o4 {
  width: 100%;
}
.w-1o5 {
  width: 20%;
}
.w-2o5 {
  width: 40%;
}
.w-3o5 {
  width: 60%;
}
.w-4o5 {
  width: 80%;
}
.w-5o5 {
  width: 100%;
}
.w-1o6 {
  width: 16.66666667%;
}
.w-2o6 {
  width: 33.33333333%;
}
.w-3o6 {
  width: 50%;
}
.w-4o6 {
  width: 66.66666667%;
}
.w-5o6 {
  width: 83.33333333%;
}
.w-6o6 {
  width: 100%;
}
/*++++++++++++*\
    #SPACING
\*++++++++++++*/
.boxpadding--sml {
  padding: 0.75rem 1rem;
}
.boxpadding--med {
  padding: 1.5rem 2rem;
}
.boxpadding--lrg {
  padding: 3rem 4rem;
}
.margin-even {
  margin-left: auto;
  margin-right: auto;
}
.u-jc--between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.u-jc--around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.u-jc--center {
  -webkit-justify-content: center;
  justify-content: center;
}
/*+++++++++++++++++*\
    #FONTS & TEXT
\*+++++++++++++++++*/
.u-ff--base {
  font-family: 'Optima', 'Lucida Grande', 'Tahoma', sans-serif;
}
.u-ff--prose {
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
}
.u-ff--heading {
  font-family: 'Avenir', 'Seravek', sans-serif;
}
.u-ff--accent {
  font-family: 'Geneva', 'Tahoma', sans-serif;
}
.u-ff--code {
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
.u-ff--math {
  font-family: 'Didot', 'Bodoni 72', 'Times', serif;
}
.u-ff--script {
  font-family: 'Zapfino', 'Savoye LET', script;
}
.u-ta--l {
  text-align: left;
}
.u-ta--r {
  text-align: right;
}
.u-ta--c {
  text-align: center;
}
.u-ta--j {
  text-align: justify;
}
.l--Ome {
  list-style-type: decimal-leading-zero;
}
.l--Alp {
  list-style-type: upper-roman;
}
.l--Bet {
  list-style-type: upper-alpha;
}
.l--Gam {
  list-style-type: decimal;
}
.l--Del {
  list-style-type: lower-alpha;
}
.l--Eps {
  list-style-type: lower-roman;
}
.l--Zet {
  list-style-type: lower-greek;
}
/*+++++++++++*\
    #COLORS
\*+++++++++++*/
.aperture_white {
  background-color: #f2f7ff;
}
.aperture_black {
  background-color: #0d0800;
}
.lakesuperior {
  background-color: #120099;
}
.facilityabyss {
  background-color: #3d6166;
}
.atlas {
  background-color: #0062ff;
}
.pbody {
  background-color: #ff9d00;
}
.neurotoxin {
  background-color: #9acc7a;
}
.deploying {
  background-color: #cc004e;
}
.aperture_grey_0o6 {
  background-color: #0d0800;
}
.aperture_grey_1o6 {
  background-color: #33302a;
}
.aperture_grey_2o6 {
  background-color: #595855;
}
.aperture_grey_3o6 {
  background-color: #808080;
}
.aperture_grey_4o6 {
  background-color: #a6a7aa;
}
.aperture_grey_5o6 {
  background-color: #cccfd4;
}
.aperture_grey_6o6 {
  background-color: #f2f7ff;
}
.cavescaves {
  background-color: #80522b;
}
.asbestos {
  background-color: #bf9300;
}
.hereye {
  background-color: #fff155;
}
.repulsion {
  background-color: #2b9cff;
}
.propulsion {
  background-color: #ff8e2b;
}
.companion {
  background-color: #ffaac2;
}
.bridges {
  background-color: #d5fbff;
}
.vilify {
  background-color: #6300bf;
}
.solarized_base03 {
  background-color: #002b36;
}
.solarized_base02 {
  background-color: #073642;
}
.solarized_base01 {
  background-color: #586e75;
}
.solarized_base00 {
  background-color: #657b83;
}
.solarized_base0 {
  background-color: #839496;
}
.solarized_base1 {
  background-color: #93a1a1;
}
.solarized_base2 {
  background-color: #eee8d5;
}
.solarized_base3 {
  background-color: #fdf6e3;
}
.solarized_red {
  background-color: #dc322f;
}
.solarized_orange {
  background-color: #cb4b16;
}
.solarized_yellow {
  background-color: #b58900;
}
.solarized_green {
  background-color: #859900;
}
.solarized_cyan {
  background-color: #2aa198;
}
.solarized_blue {
  background-color: #268bd2;
}
.solarized_violet {
  background-color: #6c71c4;
}
.solarized_magenta {
  background-color: #d33682;
}
.lunarized_base03 {
  background-color: #360b00;
}
.lunarized_base02 {
  background-color: #421307;
}
.lunarized_base01 {
  background-color: #755f58;
}
.lunarized_base00 {
  background-color: #836d65;
}
.lunarized_base0 {
  background-color: #968583;
}
.lunarized_base1 {
  background-color: #a19393;
}
.lunarized_base2 {
  background-color: #d5dbee;
}
.lunarized_base3 {
  background-color: #e3eafd;
}
.lunarized_cyan {
  background-color: #23cdd0;
}
.lunarized_blue {
  background-color: #34b4e9;
}
.lunarized_indigo {
  background-color: #4a76ff;
}
.lunarized_violet {
  background-color: #7a66ff;
}
.lunarized_red {
  background-color: #d55e67;
}
.lunarized_orange {
  background-color: #d9742d;
}
.lunarized_yellow {
  background-color: #938e3b;
}
.lunarized_green {
  background-color: #2cc97d;
}
/*----------------*\
    #Dark Colors
\*----------------*/
.aperture_black,
.lakesuperior,
.facilityabyss,
.atlas,
.deploying,
.aperture_grey_0o6,
.aperture_grey_1o6,
.aperture_grey_2o6,
.solarized_base03,
.solarized_base02,
.lunarized_base03,
.lunarized_base02,
.cavescaves,
.vilify {
  color: rgba(255, 255, 255, 0.75);
}
/*+++++++++++++++*\
    #BACKGROUND
\*+++++++++++++++*/
.crossgrid-lined {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left bottom;
}
.crossgrid-phi {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-phi.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.crossgrid-even {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-even.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.crossgrid-lcm {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lcm.svg');
  background-size: 100% 24px;
  background-repeat: repeat;
}
