
/*--------------*\
    reset.less
\*--------------*/

body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul,
dl, dt, dd,
pre {
	display: block;
}
li {
	display: list-item;
}

table   {display: table; border-collapse: collapse;}
caption {display: table-caption;}
thead   {display: table-header-group;}
tbody   {display: table-row-group;}
tfoot   {display: table-footer-group;}
tr      {display: table-row;}
th, td  {display: table-cell;}

em, strong, mark, i, b,
q, cite, time, dfn, abbr, del, ins, sup, sub,
code, kbd, samp, var {
	display: inline;
}
hr {display: none;} // DO NOT USE THIS ELEMENT! Use `</section><section>` instead.
body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul, li,
dl, dt, dd,
table, th, td,
pre {
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;
	position: static;
}
h1, h2, h3, h4, h5, h6,
figure, blockquote, address,
th,
em, strong, mark, i, b,
q, cite, dfn, abbr, del, ins, sup, sub,
pre, code, kbd, samp, var {
	font-style: inherit;
	font-weight: inherit;
	font-family: inherit;
}
