/*###############*\
    _reset.less
\*###############*/
/*
# HTML Elements

HTML elements in a friendly order.
Note that only elements that can be styled are listed.

- `html`

## Sections (Flow Content Model)

- `body` (sectioning root)
- `section` (sectioning content)
- `article` (sectioning content)
- `aside` (sectioning content)
- `nav` (sectioning content)
- `main`
- `header`
- `footer`
- `h1`, `h2`, `h3`, `h4`, `h5`, `h6`
- `address`

## Grouping Content (Flow Content Model)

- `hr` (self-closing tag)
- `div`

### Paragraph-Like Content

- `p`
- `figure` (sectioning root)
- `figcaption`
- `blockquote` (sectioning root)
- `pre`

### Lists

- `ol`
- `ul`
- `li`
- `dl`
- `dt`
- `dd`

### Tables

- `table`
- `caption`
- `colgroup`
- `col` (self-closing tag)
- `tbody`
- `thead`
- `tfoot`
- `tr`
- `td`
- `th`

## Text-Level Semantics (Phrasing Content Model)

- `a` and `a[href]` (transparent content model)
- `span`
- `br` (self-closing tag)
- `wbr` (self-closing tag)

### Stressed Text

- `em`,     emphasis
- `strong`, importance
- `i`,      alternate voice/mood
- `mark`,   relevance in a certain context
- `u`,      annotations
- `small`,  side comments
- `s`,      inaccurate text

### Documentation and Edits

- `ins` (transparent content model)
- `del` (transparent content model)
- `dfn`
- `b`, keyword
- `var`
- `q`
- `cite`
- `sup `
- `sub`

### Machine-Readable Text

- `data`
- `abbr`
- `time`
- `code`
- `kbd`
- `samp`

## Embedded Content
TODO

## Forms
TODO
*/
html {
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 1.5rem 0 0;
  padding: 0 0 1.5rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 1.5rem 0 0;
  padding: 0 0 1.5rem;
}
h3 {
  font-size: 1.16666667rem;
  line-height: 1.28571429;
  margin: 1.5rem 0 0;
  padding: 0 0 1.5rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1.5rem 0 0;
  padding: 0 0 1.5rem;
}
h5 {
  font-size: 0.83333333rem;
  line-height: 1.8;
  margin: 0.75rem 0 0;
  padding: 0 0 0.75rem;
}
h6 {
  font-size: 0.66666667rem;
  line-height: 2.25;
  margin: 0.75rem 0 0;
  padding: 0 0 0.75rem;
}
address {
  font-style: inherit;
}
hr {
  display: none;
}
p,
figure,
blockquote,
pre {
  padding: 0 0 1.5rem;
}
p {
  margin: 0;
}
figure,
blockquote,
pre {
  margin: 0 1rem;
}
ol,
ul,
dl {
  padding: 0 0 1.5rem 4em;
  margin: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
dd + dt {
  margin: 1.5rem 0 0;
}
th {
  text-align: center;
}
a,
br,
em,
strong,
i,
mark,
u,
small,
s,
ins,
del,
dfn,
b,
var,
q,
cite,
sup,
sub,
data,
abbr,
time,
code,
kbd,
samp {
  line-height: 0;
}
br {
  display: none;
}
i {
  quotes: '\201c' '\201d';
}
i::before {
  content: open-quote;
}
i::after {
  content: close-quote;
}
i[lang] {
  quotes: '' '';
}
u {
  text-decoration: none;
  color: #080;
}
small {
  font-size: 0.75rem;
}
s {
  color: #e00;
}
ins {
  text-decoration: none;
  background-color: #a6f3a6;
}
del {
  text-decoration: none;
  background-color: #f8cbcb;
}
dfn {
  font-style: inherit;
  font-weight: bold;
}
sup,
sub {
  font-size: 0.75rem;
}
code,
kbd,
samp {
  font-size: 0.75rem;
}
