/*###############*\
    _reset.less
\*###############*/
html {
  font-size: 16px;
  line-height: 1.5;
}
/*@SECTIONS*/
body {
  margin: 0 0 1.5rem;
}
main {
  margin: 0 1rem 1.5rem;
}
h1 {
  font-size: 2rem;
  line-height: 0.75;
  margin: 0 0 1.5rem;
  padding-top: 1.5rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1.5rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem;
}
h5 {
  font-size: 0.75rem;
  line-height: 2;
  margin: 0 0 1.5rem;
}
h6 {
  font-size: 0.625rem;
  line-height: 2.4;
  margin: 0 0 1.5rem;
}
address {
  font-style: inherit;
}
/*@GROUPING CONTENT*/
hr {
  display: none;
}
p,
ol,
ul,
dl {
  margin: 0 0 1.5rem;
}
/*@Paragraphic-Like Content*/
figure,
blockquote,
pre {
  margin: 0 1rem 1.5rem;
}
/*@Lists*/
ol,
ul {
  padding: 0 0 0 4rem;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
dd + dt {
  padding: 1.5rem 0 0;
}
/*@Tables*/
th {
  text-align: center;
}
/*@TEXT-LEVEL SEMANTICS*/
a,
br,
em,
strong,
i,
mark,
u,
small,
s,
ins,
del,
dfn,
b,
var,
q,
cite,
sup,
sub,
data,
abbr,
time,
code,
kbd,
samp {
  line-height: 0;
}
a:not([href]) {
  color: #999;
}
br {
  display: none;
}
address > br {
  display: inline;
}
/*@Stressed Text*/
i {
  quotes: '\201c' '\201d';
}
i::before {
  content: open-quote;
}
i::after {
  content: close-quote;
}
i[lang] {
  quotes: '' '';
}
u {
  text-decoration: none;
  color: #080;
}
small {
  font-size: 0.75rem;
}
s {
  color: #e00;
}
/*@Documentation and Edits*/
ins {
  text-decoration: none;
  background-color: #a6f3a6;
}
del {
  text-decoration: none;
  background-color: #f8cbcb;
}
dfn {
  font-style: inherit;
  font-weight: bold;
}
sup,
sub {
  font-size: 0.75rem;
}
/*@Machine-Readable Text*/
code,
kbd,
samp {
  font-size: 0.75rem;
  white-space: nowrap;
}
/*@EMBEDDED CONTENT*/
/*@FORMS*/
