
/*-------------*\
    typo.less
\*-------------*/

//Table of Contents
//- MAIN ELEMENTS
//- HEADINGS
//- PARAGRAPHS
//- LISTS
//- ASSOCIATION LISTS
//- TABLES
//- HYPERLINKS
//- HIGHLIGHTED TEXT
//- DOCUMENTATION
//- CODING AND MATH
//- FORMS

//++++++++++++++//
/*@MAIN ELEMENTS*/
//++++++++++++++//
body {
	.fontsize(medium);
	font-family: @fontfam_base;
	text-align: left;
	vertical-align: baseline;
	color: @color_base--txt;
	background-color: @color_base--bg;
}
main {
	.block--p1--mr;
	margin-bottom: 192px; // 2in
}
@media print {
	body {
		color: #000;
		background-color: #fff;
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
//++++ @end MAIN ELEMENTS ++++//


//+++++++++//
/*@HEADINGS*/
//+++++++++//
/**
  * This Class represents a generic heading of a section, article, or document.
@author
: Chris Harvey
@tags
: #typography
: #heading
: #section
@updated
: 2014-04-14
  */
.h {
	display: block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: @fontfam_heading;
	letter-spacing: 1px;
}
/**
  * The six Classes below represent different levels of headings, starting from top-level to level 6.
@author
: Chris Harvey
@extend
: .h
@tags
: #typography
: #heading
: #section
@updated
: 2014-04-14
  */
.h--alpha {
	&:extend(.h all);
	.fontsize--scale(@fontsize_ratio--alpha);
	padding-bottom: @vru;
	margin-top: 2 * @vru;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	color: @color_h--major;
	> span.hsub {color: @color_hsub--major;}
}
.h--beta {
	&:extend(.h all);
	.fontsize--scale(@fontsize_ratio--beta);
	padding-bottom: 0.5 * @vru;
	margin-top: 1.5 * @vru;
	font-weight: bold;
	color: @color_h--minor;
	> span.hsub {color: @color_hsub--minor;}
}
.h--gamma {
	&:extend(.h all);
	.fontsize--scale(@fontsize_ratio--gamma);
	padding-bottom: 0.25 * @vru;
	margin-top: 0.75 * @vru;
	font-variant: small-caps;
	font-weight: bold;
}
.h--delta {
	&:extend(.h all);
	.fontsize--scale(@fontsize_ratio--delta);
	margin-top: @vru;
	font-style: italic;
	font-weight: bold;
}
.h--epsilon {
	&:extend(.h all);
	.fontsize--scale(@fontsize_ratio--epsilon);
	font-style: italic;
	text-indent: 0.5in;
	color: @color_h--minor;
	> span.hsub {color: @color_hsub--minor;}
}
.h--zeta {
	&:extend(.h all);
	.fontsize--scale(@fontsize_ratio--zeta);
	font-style: italic;
	font-variant: small-caps;
	text-indent: 0.5in;
}
//++++ @end HEADINGS ++++//


//+++++++++++//
/*@PARAGRAPHS*/
//+++++++++++//
/**
  * This Class represents a generic paragraph in a section, article, or document.
@author
: Chris Harvey
@tags
: #typography
: #paragraph
@updated
: 2014-04-26
  */
.p {
	.vru--content();
	.vru--top();
}
/**
  * This Class represents a lede, which serves as an introductory paragraph or sentence.
@author
: Chris Harvey
@tags
: #typography
: #paragraph
@updated
: 2014-04-26
  */
.lede {
	font-weight: bold;
	font-family: @fontfam_base;
	color: #000;
}
/**
  * A lede paragraph may be an introduction or abstract to an article
@author
: Chris Harvey
@tags
: #typography
: #paragraph
@updated
: 2014-04-26
  */
.lede--para {
	&:extend(.p, .lede);
	padding-bottom: @vru;
	text-align: justify;
}
/**
  * A lede sentence may act as a "heading" for the paragraph it's in.
@author
: Chris Harvey
@tags
: #typography
: #paragraph
@updated
: 2014-04-26
  */
.lede--sent {
	&:extend(.lede);
	padding-right: @vru;
}
