// main: all.less

/*-------------*\
	util.less
\*-------------*/

//Table of Contents
//- GENERAL MIXINS
//	- Delimiters
//	- Automated Widths
//- TRUMPS


//+++++++++++++++//
/*@GENERAL MIXINS*/
//+++++++++++++++//

//-----------//
/*@Delimiters*/
//-----------//
.parens() {
	&::before {content: '(';}
	&::after  {content: ')';}	
}
.quotes() {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.guillemets() {
	&::before {content: '\00ab';} // &laquo;
	&::after  {content: '\00bb';} // &raquo;
}
.transp() {
	opacity: @phi1;
	&:hover {opacity: 1;}
}
//---- @end Delimiters ----//

.cellpaddingdefault() {
	// * default padding for cell-like structures (table cells, grid cells, boxes, etc.)
	padding: (@vru / 2) (@vru / 2 * @phi1);
}
//++++ @end GENERAL MIXINS ++++//


//+++++++//
/*@TRUMPS*/
//+++++++//
.seo-only {
	// *********************
	// semantic class alert!
	// *********************
	// * Elements needed for SEO *only* (e.g. extraneous titles, etc). Try to only use this selector as a last resort.
	display: none;
}
.draft {
	// *********************
	// semantic class alert!
	// *********************
	// * Elements still in testing mode but still not yet ready for implementation.
//	color: fadeout(#000, 50%);
//	background-color: fadeout(#fff, 50%);
	opacity: .5;
}
@media print {
	.noprint {
		// * To display on screen but not to print.
		display: none !important;
	}
	.pagebreak {
		// * Starts a new page
		page-break-before: always; padding-top: 0.25in;
	}
}
//++++ @end TRUMPS ++++//
