@import url('/core/CSS/Home.css');
/**** ======== CSS for -LESSON PLANS- ======== ****/
body {font-size: 14pt; color: #000;}
.lesson-box {
	padding: 2px 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}
.main {
	padding: 0;
	background-color: #fff;
}
.student .lesson-box {
	height: 3em;
	font-weight: bold;
}

.lesson-note-content .lesson-box {
	border-width: 0 1px;
}
h1, h2, h3, h4, h5, h6 {font-size: 1.167em;}
.lesson-note-heading {
	background-color: #000;
	color: #fff;
}

.lesson-masthead {
	/* picture */
}

.topicname {
	font-weight: normal;
	text-decoration: underline;
}

@media screen {
	.noprint * {color: #999999;}
}
@media print{
	.noprint {visibility: hidden;}
}




.list-standards {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-standards li {
	text-indent: -.5in; padding-left: .5in;
	margin-bottom: 1em;
}

.reflection .prose {font-family: 'Comic Sans MS';}