@import url('../core/stylesheets/grid.less');
@import url('../core/stylesheets/typo.less');
@import url('../core/stylesheets/mods.less');

/* @group unit overviews */
.optional, .optional * {font-family: 'Times New Roman',serif; color: #004d80;}
.honors, .honors *     {font-family: 'Times New Roman',serif; color: #803300;}
/* @end group */

/* @group lesson plans */
.list-standards {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-standards li {
	text-indent: -.5in; padding-left: .5in;
	margin-bottom: 1em;
}
.main-idea {background-color: #ff0;}
.vocab {background-color: #f9c;}


.lesson-box {
	padding: 2px 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}
.student .lesson-box {
	height: 3em;
	font-weight: bold;
}

.lesson-note-content .lesson-box {
	border-width: 0 1px;
}
.lesson-note-heading {
	background-color: #000;
	color: #fff;
}

.lesson-masthead {
	/* picture */
}

.topicname {
	font-weight: normal;
	text-decoration: underline;
}


.reflection .prose {font-family: 'Comic Sans MS';}
/* @end group */

