.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
.parens::before,
.brackets::before,
.braces::before,
.angles::before,
.angles::before,
.apos::before,
.quot::before,
.quotes-single::before,
.quotes-double::before,
.guillemets-single::before,
.guillemets-double::before,
.Rf > .Link::before,
.Fn > .Link::before,
.Qblock .Src.Formal::before,
.Codeblock .Tag::before,
.Codeblock .Tag::before,
.Codeblock .Tag .Val::before,
i::before,
var::before,
q::before,
.Th::before,
.ov-optional::before {
  content: open-quote;
}
.parens::after,
.brackets::after,
.braces::after,
.angles::after,
.angles::after,
.apos::after,
.quot::after,
.quotes-single::after,
.quotes-double::after,
.guillemets-single::after,
.guillemets-double::after,
.Rf > .Link::after,
.Fn > .Link::after,
.Qblock .Src.Formal::after,
.Codeblock .Tag::after,
.Codeblock .Tag::after,
.Codeblock .Tag .Val::after,
i::after,
var::after,
q::after,
.Th::after,
.ov-optional::after {
  content: close-quote;
}
.Qblock .Src.Formal,
.ov-optional {
  quotes: '(' ')';
}
.Rf > .Link,
.Fn > .Link {
  quotes: '[' ']';
}
.Codeblock .Tag {
  quotes: '<' '>';
}
.Codeblock .Tag {
  quotes: '\003c' '\003e';
}
.Codeblock .Tag .Val {
  quotes: '\0022' '\0022';
}
i,
q {
  quotes: '\201c' '\201d';
}
var {
  quotes: '\2039' '\203a';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.Addy,
.Fig,
.Qblock,
.Standard-txt {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
  padding-top: 9.16718427px;
  margin-top: 14.83281573px;
  border-top-width: 0;
}
.Footnotes,
.Olist,
.Ulist,
.Alist {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
}
/*--------------------*\
    secondaryed.less
\*--------------------*/
.cat-exam {
  background-color: #ecff9e;
}
.cat-proj {
  background-color: #ff9e9e;
}
.cat-test {
  background-color: #9effc5;
}
.cat-quiz {
  background-color: #9ec5ff;
}
.cat-hw {
  background-color: #ec9eff;
}
/*@INDEX*/
/*@STATE STANDARDS*/
.standard-id {
  padding-right: 24px;
  font-weight: bold;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
}
.Standard-txt {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-lined_1x24.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left bottom;
  border-left-width: 7px;
  border-left-style: double;
  padding-left: 11.32623792px;
  margin-left: 29.65247584px;
  border-left-color: #9acc7a;
  font-family: 'Century Gothic', 'Gill Sans', 'Avenir', sans-serif;
  font-size: inherit;
  line-height: inherit;
}
.Standard-txt .Olist {
  list-style-type: lower-alpha;
}
.standard-pa2012 {
  color: #6c12f6;
}
.standard-pa2012:hover::after {
  content: '(' '2012' ')';
  display: inline;
  position: absolute;
  background-color: #f5effe;
}
.standard-pa2013 {
  color: #1972bb;
}
.standard-pa2013:hover::after {
  content: '(' '2013' ')';
  display: inline;
  position: absolute;
  background-color: #c3dff7;
}
/*@SYLLABUS*/
.syll-cats .Term,
.syll-tsts .Term {
  direction: rtl;
  font-weight: bold;
  font-family: 'Times', 'Times New Roman', serif;
  text-align: right;
  text-indent: 24px;
}
#signature {
  display: block;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #000000;
}
/*@PACING*/
.pacing-table {
  text-align: left;
}
.pacing-qnum {
  width: 100px;
  position: relative;
  left: -1.5em;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pacing-qhead {
  max-width: 3em;
  text-align: center;
  vertical-align: middle;
}
/*@WARM-UPS*/
.wu-answer {
  font-size: 12px;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: bold;
}
.wu-answer::before {
  content: 'answer: ';
}
/*@UNIT OVERVIEWS*/
.ov-deletional {
  color: #610000;
  background-color: #ff9e9e;
  text-decoration: line-through;
}
.ov-insertional {
  color: #006127;
  background-color: #9effc5;
  text-decoration: underline;
}
.ov-optional {
  color: rgba(14, 9, 0, 0.61803399);
}
.ov-teachernote {
  background-color: #9ec5ff;
}
/*@LESSON PLANS*/
/*@ASSESSMENTS*/
/*@MISC*/
@media print {
  .cat-exam,
  .cat-proj,
  .cat-test,
  .cat-quiz,
  .cat-hw,
  .ov-deletional,
  .ov-insertional,
  .ov-optional,
  .ov-teachernote {
    background-color: transparent;
  }
  .ov-teachernote {
    display: none;
  }
}
