.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6 {
  width: 100%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6 {
  width: 66.66666667%;
}
/*--------------------*\
    secondaryed.less
\*--------------------*/
.cat-exam {
  background-color: #ecff9e;
}
.cat-proj {
  background-color: #ff9e9e;
}
.cat-test {
  background-color: #9effc5;
}
.cat-quiz {
  background-color: #9ec5ff;
}
.cat-hw {
  background-color: #ec9eff;
}
/*@INDEX*/
/*@STATE STANDARDS*/
.standard-id {
  padding-right: 24px;
  font-weight: bold;
  font-family: 'Avenir', 'Calibri', 'Century Gothic', sans-serif;
}
.Standard-txt {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
  padding-top: 9.16718427px;
  margin-top: 14.83281573px;
  border-top-width: 0;
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined_1x24.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left bottom;
  border-left-width: 7px;
  border-left-style: double;
  padding-left: 11.32623792px;
  margin-left: 29.65247584px;
  border-left-color: #9acc7a;
  font-family: 'Century Gothic', 'Gill Sans', 'Avenir', sans-serif;
  font-size: inherit;
  line-height: inherit;
}
.standard-pa2012 {
  color: #6c12f6;
}
.standard-pa2012:hover::after {
  content: '(' '2012' ')';
  display: inline;
  position: absolute;
  background-color: #f5effe;
}
.standard-pa2013 {
  color: #1972bb;
}
.standard-pa2013:hover::after {
  content: '(' '2013' ')';
  display: inline;
  position: absolute;
  background-color: #c3dff7;
}
/*@SYLLABUS*/
.syll-cats dt,
.syll-tsts dt {
  direction: rtl;
  font-weight: bold;
  font-family: 'Times', 'Times New Roman', serif;
  text-align: right;
  text-indent: 24px;
}
#signature {
  display: block;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #000000;
}
/*@PACING*/
.pacing-qnum {
  width: 100px;
  position: relative;
  left: -1.5em;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pacing-qhead {
  max-width: 3em;
  text-align: center;
  vertical-align: middle;
}
/*@WARM-UPS*/
.wu-answer {
  font-size: 12px;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: bold;
}
.wu-answer::before {
  content: 'answer: ';
}
/*@UNIT OVERVIEWS*/
.ov-deletional {
  color: #610000;
  background-color: #ff9e9e;
  text-decoration: line-through;
}
.ov-insertional {
  color: #006127;
  background-color: #9effc5;
  text-decoration: underline;
}
.ov-optional {
  quotes: '(' ')';
  color: rgba(14, 9, 0, 0.61803399);
}
.ov-optional::before {
  content: open-quote;
}
.ov-optional::after {
  content: close-quote;
}
.ov-teachernote {
  background-color: #9ec5ff;
}
/*@LESSON PLANS*/
/*@ASSESSMENTS*/
/*@MISC*/
@media print {
  .cat-exam,
  .cat-proj,
  .cat-test,
  .cat-quiz,
  .cat-hw,
  .ov-deletional,
  .ov-insertional,
  .ov-optional,
  .ov-teachernote {
    background-color: transparent;
  }
  .ov-teachernote {
    display: none;
  }
}
