@import url('../core/stylesheets/all.css');
@import (reference) url('../core/stylesheets/all.less');

/** --SECONDARY-ED.LESS-- **/
.standard-id {
	&:extend(.lede);
	padding-right: 1em;
}
@media print {
	.timestamp {display: none;}
}
.main-idea {background-color: #fdf7ae;}
.vocab, .vocablist dt {background-color: #ffb6e9;}

.cat-exam {
	background-color: @color-caution-bg;
}
.cat-test {
	background-color: @color-warning-bg;
}
.cat-std {
	background-color: @color-success-bg;
}
.cat-quiz {
	background-color: @color-info-bg;
}
.cat-hw {
	background-color: @color-help-bg;
}

/* @group top folder stuff */
#syllabusdothtml {
//	#geninfo {
//		&:extend(.line);
//		#teacherinfo,
//		#overview {&:extend(.unit-1to2);}
//	}
//	#pacing table { // automatic numbering only needed if table is being changed frequently
//		counter-reset: unitcount;
//		td:nth-child(1):before {
//			counter-increment: unitcount;
//			content: counter(unitcount, upper-roman) '. ';
//		}
//	}
	dl.testgrades {
		.linebreadth-small;
		.dltable(2em);
		dt {font-family: 'Times New Roman','Times',serif;}
	}
}
#pacingdothtml {
	table {
		width: 100%;
		counter-reset: unitcount;
		* {text-align: left;}
		a {border-bottom: 0;}
	}
	tbody tr:nth-child(1) {
		&:extend(.h-beta all);
	}
	tr:nth-child(n+2) td:nth-child(1) {
		padding-left: 2em;
	}
	ol.list-alpha {
		li ol {&:extend(.list-gamma);}
	}
}
#warmupsdothtml {
	.star {background-color: #ff6;}
	td .standard-id:before {content: '(';}
	td .standard-id:after {content: ')';}
	ol.answerchoices {list-style-type: upper-alpha;}
	.answer {font-style: italic; font-weight: bold; font-size: smaller;}
	.answer:before {content: 'answer: ';}
}
/* @end */

/* @group unit overviews */
#unitobjectives {
	/* content that is not technically in the standards but is necessary for full mastery */
	.additional {
		background-color: @color-ins-bg;
	}
	/* content that is in the standards but is permitted to be left out of the curriculum because it is low-priority (if time is an issue) */
	.deletional {
		background-color: @color-del-bg;
	}
	/* content that is not in the standards but serves as unnecessary additional study */
	.optional {
		&:extend(.parens all);
		@acolor: lighten(@color-base-txt, 50%);
		color: @acolor;
		.latex {color: @acolor;}
	}
	.teachernote {
		background-color: @color-info-bg;
		font-size: @font-size-small;
	}
	@media print {
		.teachernote {display: none;}
	}
}
/* @end */

/* @group lesson plans */
body.lesson {
	/* for strictly quoted material to present to students */
	blockquote {
		font-size: inherit;
		font-family: inherit;
	}
	ol.practiceproblems {
		line-height: 3em;
	}
}
@media print {
	ol.practiceproblems {
		line-height: inherit;
	}
}
/* @end */


/* @group assessments */
body.assessment {
	.main {
		margin-top: 0.25in;
	}
	.main > header {
		&:extend(.line);
		.quizheading {
			&:extend(.unit-1to2);
			.h-alpha {
				margin: @defaultmargins;
				font-style: italic;
				font-weight: inherit;
				font-variant: inherit;
				font-size: inherit;
				font-family: inherit;
				text-align: inherit;
				letter-spacing: inherit;
				color: inherit;
			}
		}
		.studentheading {
			&:extend(.unit-1to2);
			text-align: right;
			label {display: block;}
		}
	}
	.directions {font-weight: bold;}
	.verb {text-decoration: underline;}
	form {
		ol.problemset {
			list-style-type: decimal;
			.problem() {
				margin-bottom: 5em;
				clear: both;
				p span.latex {
					padding-left: 1em;
					padding-right: 1em;
				}
			}
			.choose() {
				.problem();
				margin-bottom: 2em;
				ol.answerchoices {
					line-height: 2em;
					//li.correct {background-color: #cfc;}
				}
			}
			/* A multiple-choice problem contains possible answer choices that the user must select (only one selection allowed). */
			li.multiple-choice {
				.choose();
				ol.answerchoices {list-style-type: upper-alpha;}
			}
			/* A select-multiple problem is like multiple choice, except multiple selections are allowed. */
			li.select-multiple {
				.choose();
				ol.answerchoices {
					list-style-type: none;
					&.short li {
						width: 16%;
						float: left;
					}
				}
			}
			/* A free-response problem requires the user to construct the response. */
			.free-response() {
				.problem();
			}
			/* A free-response-number problem requires a numerical input */
			li.free-response-number {
				.free-response();
			}
			/* A free-response-text problem requires a textual input */
			li.free-response-text {
				.free-response();
			}
			/* A free-response-image problem requires drawing on a given image */
			li.free-response-image {
				.free-response();
				margin-bottom: 1em;
			}
		}
	}
}
@media print {
	body.assessment {background-color: #fff !important;}
	form {
		font-family: 'Helvetica','Arial',sans-serif;
		input[type='text'],
		input[type='number'],
		input[type='date'],
		input[type='submit'],
		textarea {
			display: none;
		}
		input#name,
		input#date,
		input#period {
			display: inline-block;
			visibility: hidden;
		}
	}
}
/* @end */

/* @group misc */
.column-left, .column-right {&:extend(.unit-1to2);}
.column-left {}
.column-right {
	border-left: 1px solid #000;
}
.model-chip,
.model-block {
	width: 250px;
	height: 150px;
}
.model-numberline {
	width: 500px;
	height: 150px;
}
/* @end */

/* @group old shit */
.list-standards {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-standards li {
	text-indent: -.5in; padding-left: .5in;
	margin-bottom: 1em;
}
.lesson-box {
	padding: 2px 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}
.student .lesson-box {
	height: 3em;
	font-weight: bold;
}
.lesson-note-content .lesson-box {
	border-width: 0 1px;
}
.lesson-note-heading {
	background-color: #000;
	color: #fff;
}
.lesson-masthead {
	// picture?
}
.topicname {
	font-weight: normal;
	text-decoration: underline;
}
.reflection .prose {font-family: 'Comic Sans MS';}
/* @end */
