.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful,
.normal-main {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
code,
.Key,
.Dir,
sup,
sub,
.Button {
  font-size: 12px;
  font-size: 0.75rem;
}
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.Qblock.Long,
.Qblock.Long .Src,
.Button.Crumb {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.Fineprint,
.Capt,
.Qblock .Src,
.Table,
.Codeblock,
.List.Footnotes,
.Label {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.Map.Vert::after,
.CSS .Ruleset::after {
  display: table;
  content: ' ';
  clear: both;
}
.H,
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.Item,
.Map,
.Cell,
.Codeblock,
.Label.Msg,
.Label.Tag {
  min-height: 24px;
  min-height: 1.5rem;
}
:not(.H) + .P,
.P + .List,
.P + .Map,
.P + .Table,
.Codeblock,
.Label.Msg {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.P + .List,
.P + .Map,
.P + .Table,
.P.Intro,
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  margin-top: 14.83281573px;
  border-top-width: 0;
  border-top-style: none;
  border-top-color: #000000;
}
.hr-head,
.hr-brdr,
.hr-acnt,
.List.Footnotes {
  padding-top: 8.78521826px;
  margin-top: 14.21478174px;
  border-top-width: 1px;
  border-top-style: solid;
}
.hr-head {
  border-top-color: #120099;
}
.hr-brdr,
.List.Footnotes {
  border-top-color: #9acc7a;
}
.hr-acnt {
  border-top-color: #cc004e;
}
.Cell,
.Codeblock,
.Label.Msg,
.Gcol {
  padding: 12px 7.41640786px;
  padding: 0.75rem 7.41640786px;
}
.parens::before,
.brackets::before,
.braces::before,
.angles::before,
.angles::before,
.quotes-single::before,
.quotes-double::before,
.guillemets-single::before,
.guillemets-double::before,
.Qblock.Long .Src::before,
i::before,
var::before,
q::before,
.Th::before,
.Rf > .Link::before,
.Fn > .Link::before {
  content: open-quote;
}
.parens::after,
.brackets::after,
.braces::after,
.angles::after,
.angles::after,
.quotes-single::after,
.quotes-double::after,
.guillemets-single::after,
.guillemets-double::after,
.Qblock.Long .Src::after,
i::after,
var::after,
q::after,
.Th::after,
.Rf > .Link::after,
.Fn > .Link::after {
  content: close-quote;
}
.Qblock.Long .Src {
  quotes: '(' ')';
}
.Rf > .Link,
.Fn > .Link {
  quotes: '[' ']';
}
i,
q {
  quotes: '\201c' '\201d';
}
var {
  quotes: '\2039' '\203a';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.Qblock {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-lined_1x24.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left bottom;
}
.Article [data-status="draft"],
.Article [data-status="complete"],
.Article [data-status="released"] {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 6.47213595px;
  margin-left: 16.94427191px;
}
.List .List,
.List.O,
.List.U {
  padding-left: 48px;
}
code,
.Codeblock.CSS.Invert {
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
}
code .Comm,
.Codeblock.CSS.Invert .Comm {
  color: #93a1a1;
}
.Codeblock,
.Key {
  border-color: #073642;
  color: #839496;
  background-color: #002b36;
}
.Codeblock .Comm,
.Key .Comm {
  color: #586e75;
}
.Label.Msg.Warn,
.Label.Tag.Warn {
  border-color: #ff0000;
  color: #610000;
  background-color: #ff9e9e;
}
.Label.Msg.Cshn,
.Label.Tag.Cshn {
  border-color: #ccff00;
  color: #4e6100;
  background-color: #ecff9e;
}
.Label.Msg.Skss,
.Label.Tag.Skss {
  border-color: #00ff66;
  color: #006127;
  background-color: #9effc5;
}
.Label.Msg.Info,
.Label.Tag.Info {
  border-color: #0066ff;
  color: #002761;
  background-color: #9ec5ff;
}
.Label.Msg.Help,
.Label.Tag.Help {
  border-color: #cc00ff;
  color: #4e0061;
  background-color: #ec9eff;
}
/*---------------*\
    colors.less
\*---------------*/
body {
  color: #000;
  background-color: #fff;
}
.dark,
#aperture_black,
#lakesuperior,
#facilityabyss,
#atlas,
#deploying,
#solarized_base03,
#solarized_base02,
#color_msg_warn_txt,
#color_msg_cshn_txt,
#color_msg_skss_txt,
#color_msg_info_txt,
#color_msg_help_txt {
  color: rgba(255, 255, 255, 0.76393202);
}
/*@COLOR PALETTES*/
/*@COLOR SCHEMES*/
#aperture_white {
  background-color: #f1f6ff;
}
#aperture_black {
  background-color: #0e0900;
}
#lakesuperior {
  background-color: #120099;
}
#facilityabyss {
  background-color: #3d6166;
}
#atlas {
  background-color: #0062ff;
}
#pbody {
  background-color: #ff9d00;
}
#neurotoxin {
  background-color: #9acc7a;
}
#deploying {
  background-color: #cc004e;
}
#solarized_base03 {
  background-color: #002b36;
}
#solarized_base02 {
  background-color: #073642;
}
#solarized_base01 {
  background-color: #586e75;
}
#solarized_base00 {
  background-color: #657b83;
}
#solarized_base0 {
  background-color: #839496;
}
#solarized_base1 {
  background-color: #93a1a1;
}
#solarized_base2 {
  background-color: #eee8d5;
}
#solarized_base3 {
  background-color: #fdf6e3;
}
#solarized_yellow {
  background-color: #b58900;
}
#solarized_orange {
  background-color: #cb4b16;
}
#solarized_red {
  background-color: #dc322f;
}
#solarized_magenta {
  background-color: #d33682;
}
#solarized_violet {
  background-color: #6c71c4;
}
#solarized_blue {
  background-color: #268bd2;
}
#solarized_cyan {
  background-color: #2aa198;
}
#solarized_green {
  background-color: #859900;
}
#color_lbl_warn_brdr {
  background-color: #ff0000;
}
#color_lbl_cshn_brdr {
  background-color: #ccff00;
}
#color_lbl_skss_brdr {
  background-color: #00ff66;
}
#color_lbl_info_brdr {
  background-color: #0066ff;
}
#color_lbl_help_brdr {
  background-color: #cc00ff;
}
#color_lbl_warn_txt {
  background-color: #610000;
}
#color_lbl_cshn_txt {
  background-color: #4e6100;
}
#color_lbl_skss_txt {
  background-color: #006127;
}
#color_lbl_info_txt {
  background-color: #002761;
}
#color_lbl_help_txt {
  background-color: #4e0061;
}
#color_lbl_warn_bg {
  background-color: #ff9e9e;
}
#color_lbl_cshn_bg {
  background-color: #ecff9e;
}
#color_lbl_skss_bg {
  background-color: #9effc5;
}
#color_lbl_info_bg {
  background-color: #9ec5ff;
}
#color_lbl_help_bg {
  background-color: #ec9eff;
}
