// out: colorsdothtml.css
@import (reference) url('../styles/all.less');

/*---------------*\
    colors.less
\*---------------*/

// Table of Contents
// - COLOR PALETTES
// - COLOR SCHEMES

main {
	color: #000;
	background-color: #fff;
}
.dark {color: fadeout(#fff, @golden3);}


//+++++++++++++++//
/*@COLOR PALETTES*/
//+++++++++++++++//
#palettes,
#palettes2 {
	.undo-main;
}

@hue_base:      217; // ±0
@hue_comp:       37; // ±180
@hue_tria_warm: 337; // +120
@hue_tria_cool:  97; // -120
@hue_tetr_warm: 307; // +90
@hue_tetr_cool: 127; // -90
@hue_anal_warm: 247; // +30
@hue_anal_cool: 187; // -30
@sat_alph: 100.000%;
@sat_beta:  83.333%;
@sat_gamm:  66.666%;
@sat_delt:  50.000%;
@sat_epsi:  33.333%;
@sat_zeta:  16.666%;
@val_full: 100%;
@val_lite:  75%;
@val_medi:  50%;
@val_dark:  25%;

.Table.colortable {
	width: 100%;
	white-space: nowrap;
	th, td {border: 1px solid #808080;}
	thead {
		.huetitle {width: 11.11%;}
		th {width: 22.22%;}
	}
}

th.val-full::after  {content: '@{val_full} val';}
th.val-lite::after  {content: '@{val_lite} val';}
th.val-medi::after  {content: '@{val_medi} val';}
th.val-dark::after  {content: '@{val_dark} val';}
.sat-alph th::after {content: '@{sat_alph} sat';}
.sat-beta th::after {content: '@{sat_beta} sat';}
.sat-gamm th::after {content: '@{sat_gamm} sat';}
.sat-delt th::after {content: '@{sat_delt} sat';}
.sat-epsi th::after {content: '@{sat_epsi} sat';}
.sat-zeta th::after {content: '@{sat_zeta} sat';}

tbody {
	.val-lite,
	.val-medi,
	.val-dark {&:extend(.dark);}
}
.Link.colorname {
	display: block;
	font-weight: bold;
	color: inherit;
}
.colorcode {
	display: block;
	border: 0;
	color: inherit;
	background-color: transparent;
}

.hue-generator(@degree) {
	.hue-@{degree} {
		.huetitle::after {content: '@{degree}\00b0\ hue';} // `\00b0` = `&deg;`
		.saturations(@degree);
	}
}

.hue-generator(127);
.hue-generator(163);
.hue-generator(185);
.hue-generator(199);
.hue-generator(208);
.hue-generator(213);

.hue-generator(217);
.hue-generator(221);
.hue-generator(226);
.hue-generator(235);
.hue-generator(249);
.hue-generator(271);

.hue-generator(307);
.hue-generator(343);
.hue-generator(5);
.hue-generator(19);
.hue-generator(28);
.hue-generator(33);

.hue-generator(37);
.hue-generator(41);
.hue-generator(46);
.hue-generator(55);
.hue-generator(69);
.hue-generator(91);

.hue-generator-new(@degree; @name) {
	.hue-@{name} {
		.huetitle::after {content: '@{degree}\00b0\ hue';} // `\00b0` = `&deg;`
		.saturations(@degree);
	}
}

.hue-generator-new(@hue_base; base);
.hue-generator-new(@hue_comp; comp);
.hue-generator-new(@hue_tria_warm; tria-warm);
.hue-generator-new(@hue_tria_cool; tria-cool);
.hue-generator-new(@hue_tetr_warm; tetr-warm);
.hue-generator-new(@hue_tetr_cool; tetr-cool);
.hue-generator-new(@hue_anal_warm; anal-warm);
.hue-generator-new(@hue_anal_cool; anal-cool);

.saturations(@hue) {
	.sat-alph {.values(@hue; @sat_alph);}
	.sat-beta {.values(@hue; @sat_beta);}
	.sat-gamm {.values(@hue; @sat_gamm);}
	.sat-delt {.values(@hue; @sat_delt);}
	.sat-epsi {.values(@hue; @sat_epsi);}
	.sat-zeta {.values(@hue; @sat_zeta);}
}

.values(@hue; @sat) {
	.val-full {background-color: hsv(@hue, @sat, @val_full);}
	.val-lite {background-color: hsv(@hue, @sat, @val_lite);}
	.val-medi {background-color: hsv(@hue, @sat, @val_medi);}
	.val-dark {background-color: hsv(@hue, @sat, @val_dark);}
}
//++++ @end COLOR PALETTES ++++//

//++++++++++++++//
/*@COLOR SCHEMES*/
//++++++++++++++//
#colors-portal,
#colors-code {
	.Gcol {&:extend(.cellpaddingdefault);}
}
#aperture_white {background-color: @aperture_white;}
#aperture_black {background-color: @aperture_black;}
#atlas          {background-color: @atlas;}
#pbody          {background-color: @pbody;}
#repulsion      {background-color: @repulsion;}
#propulsion     {background-color: @propulsion;}
#deploying      {background-color: @deploying;}
#hereye         {background-color: @hereye;}
#lakesuperior   {background-color: @lakesuperior;}
#cavescaves     {background-color: @cavescaves;}
#facilityabyss  {background-color: @facilityabyss;}
#asbestos       {background-color: @asbestos;}
#vilify         {background-color: @vilify;}
#neurotoxin     {background-color: @neurotoxin;}
#bridges        {background-color: @bridges;}
#companion      {background-color: @companion;}

#solarized_base03  {background-color: @solarized_base03;}
#solarized_base02  {background-color: @solarized_base02;}
#solarized_base01  {background-color: @solarized_base01;}
#solarized_base00  {background-color: @solarized_base00;}
#solarized_base0   {background-color: @solarized_base0;}
#solarized_base1   {background-color: @solarized_base1;}
#solarized_base2   {background-color: @solarized_base2;}
#solarized_base3   {background-color: @solarized_base3;}
#solarized_yellow  {background-color: @solarized_yellow;}
#solarized_orange  {background-color: @solarized_orange;}
#solarized_red     {background-color: @solarized_red;}
#solarized_magenta {background-color: @solarized_magenta;}
#solarized_violet  {background-color: @solarized_violet;}
#solarized_blue    {background-color: @solarized_blue;}
#solarized_cyan    {background-color: @solarized_cyan;}
#solarized_green   {background-color: @solarized_green;}

#color_msg_warn_brdr {background-color: @color_msg_warn_brdr;}
#color_msg_cshn_brdr {background-color: @color_msg_cshn_brdr;}
#color_msg_skss_brdr {background-color: @color_msg_skss_brdr;}
#color_msg_info_brdr {background-color: @color_msg_info_brdr;}
#color_msg_help_brdr {background-color: @color_msg_help_brdr;}
#color_msg_warn_txt  {background-color: @color_msg_warn_txt;}
#color_msg_cshn_txt  {background-color: @color_msg_cshn_txt;}
#color_msg_skss_txt  {background-color: @color_msg_skss_txt;}
#color_msg_info_txt  {background-color: @color_msg_info_txt;}
#color_msg_help_txt  {background-color: @color_msg_help_txt;}
#color_msg_warn_bg   {background-color: @color_msg_warn_bg;}
#color_msg_cshn_bg   {background-color: @color_msg_cshn_bg;}
#color_msg_skss_bg   {background-color: @color_msg_skss_bg;}
#color_msg_info_bg   {background-color: @color_msg_info_bg;}
#color_msg_help_bg   {background-color: @color_msg_help_bg;}
//++++ @end COLOR SCHEMES ++++//
