/*###############*\
    colors.less
\*###############*/
body {
  color: #000;
  background-color: #fff;
}
.ColorBlockGroup {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Colorblock {
  padding: 0.75rem 0.46352549rem;
  box-sizing: border-box;
  width: 50%;
}
.ColorHeading {
  min-height: 1.5rem;
  display: block;
  font-family: 'Avenir', 'Seravek', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  color: inherit;
}
.aperture_white {
  background-color: #f1f6ff;
}
.aperture_black {
  background-color: #0e0900;
  color: rgba(255, 255, 255, 0.76393202);
}
.lakesuperior {
  background-color: #120099;
  color: rgba(255, 255, 255, 0.76393202);
}
.facilityabyss {
  background-color: #3d6166;
  color: rgba(255, 255, 255, 0.76393202);
}
.atlas {
  background-color: #0062ff;
  color: rgba(255, 255, 255, 0.76393202);
}
.pbody {
  background-color: #ff9d00;
}
.neurotoxin {
  background-color: #9acc7a;
}
.deploying {
  background-color: #cc004e;
  color: rgba(255, 255, 255, 0.76393202);
}
.aperture_grey_0o6 {
  background-color: #0e0900;
  color: rgba(255, 255, 255, 0.76393202);
}
.aperture_grey_1o6 {
  background-color: #34302a;
  color: rgba(255, 255, 255, 0.76393202);
}
.aperture_grey_2o6 {
  background-color: #5a5855;
  color: rgba(255, 255, 255, 0.76393202);
}
.aperture_grey_3o6 {
  background-color: #808080;
}
.aperture_grey_4o6 {
  background-color: #a5a7aa;
}
.aperture_grey_5o6 {
  background-color: #cbcfd4;
}
.aperture_grey_6o6 {
  background-color: #f1f6ff;
}
.solarized_base03 {
  background-color: #002b36;
  color: rgba(255, 255, 255, 0.76393202);
}
.solarized_base02 {
  background-color: #073642;
  color: rgba(255, 255, 255, 0.76393202);
}
.solarized_base01 {
  background-color: #586e75;
}
.solarized_base00 {
  background-color: #657b83;
}
.solarized_base0 {
  background-color: #839496;
}
.solarized_base1 {
  background-color: #93a1a1;
}
.solarized_base2 {
  background-color: #eee8d5;
}
.solarized_base3 {
  background-color: #fdf6e3;
}
.solarized_yellow {
  background-color: #b58900;
}
.solarized_orange {
  background-color: #cb4b16;
}
.solarized_red {
  background-color: #dc322f;
}
.solarized_magenta {
  background-color: #d33682;
}
.solarized_violet {
  background-color: #6c71c4;
}
.solarized_blue {
  background-color: #268bd2;
}
.solarized_cyan {
  background-color: #2aa198;
}
.solarized_green {
  background-color: #859900;
}
.color_table_bg_hi {
  background-color: #ebf2f3;
}
.color_table_bg_md {
  background-color: #cfe0e2;
}
.color_table_bg_lo {
  background-color: #b6d0d3;
}
.color_table_bg_hv {
  background-color: #a1c2c7;
}
.color_warn_brdr {
  background-color: #ff0000;
}
.color_cshn_brdr {
  background-color: #ccff00;
}
.color_skss_brdr {
  background-color: #00ff66;
}
.color_info_brdr {
  background-color: #0066ff;
}
.color_help_brdr {
  background-color: #cc00ff;
}
.color_warn_txt {
  background-color: #610000;
  color: rgba(255, 255, 255, 0.76393202);
}
.color_cshn_txt {
  background-color: #4e6100;
  color: rgba(255, 255, 255, 0.76393202);
}
.color_skss_txt {
  background-color: #006127;
  color: rgba(255, 255, 255, 0.76393202);
}
.color_info_txt {
  background-color: #002761;
  color: rgba(255, 255, 255, 0.76393202);
}
.color_help_txt {
  background-color: #4e0061;
  color: rgba(255, 255, 255, 0.76393202);
}
.color_warn_bg {
  background-color: #ff9e9e;
}
.color_cshn_bg {
  background-color: #ecff9e;
}
.color_skss_bg {
  background-color: #9effc5;
}
.color_info_bg {
  background-color: #9ec5ff;
}
.color_help_bg {
  background-color: #ec9eff;
}
