.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
.parens::before,
.brackets::before,
.braces::before,
.angles::before,
.angles::before,
.apos::before,
.quot::before,
.quotes-single::before,
.quotes-double::before,
.guillemets-single::before,
.guillemets-double::before,
.Rf > .Link::before,
.Fn > .Link::before,
.Qblock .Src.Formal::before,
.Codeblock .Tag::before,
.Codeblock .Tag::before,
.Codeblock .Tag .Val::before,
i::before,
var::before,
q::before,
.Th::before {
  content: open-quote;
}
.parens::after,
.brackets::after,
.braces::after,
.angles::after,
.angles::after,
.apos::after,
.quot::after,
.quotes-single::after,
.quotes-double::after,
.guillemets-single::after,
.guillemets-double::after,
.Rf > .Link::after,
.Fn > .Link::after,
.Qblock .Src.Formal::after,
.Codeblock .Tag::after,
.Codeblock .Tag::after,
.Codeblock .Tag .Val::after,
i::after,
var::after,
q::after,
.Th::after {
  content: close-quote;
}
.Qblock .Src.Formal {
  quotes: '(' ')';
}
.Rf > .Link,
.Fn > .Link {
  quotes: '[' ']';
}
.Codeblock .Tag {
  quotes: '<' '>';
}
.Codeblock .Tag {
  quotes: '\003c' '\003e';
}
.Codeblock .Tag .Val {
  quotes: '\0022' '\0022';
}
i,
q {
  quotes: '\201c' '\201d';
}
var {
  quotes: '\2039' '\203a';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.Fig.Text,
.Qblock {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-lined_1x24.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left bottom;
}
.Addy,
.Fig,
.Qblock {
  min-height: 24px;
  min-height: 1.5rem;
  padding-top: 9.16718427px;
  margin-top: 14.83281573px;
  border-top-width: 0;
  display: block;
}
code,
.Codeblock.CSS.Invert {
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
}
code .Comm,
.Codeblock.CSS.Invert .Comm {
  color: #93a1a1;
}
.Codeblock,
.Key {
  border-color: #073642;
  color: #839496;
  background-color: #002b36;
}
.Codeblock .Comm,
.Key .Comm {
  color: #586e75;
}
/*---------------*\
    colors.less
\*---------------*/
body {
  color: #000;
  background-color: #fff;
}
.dark,
#aperture_black,
#lakesuperior,
#facilityabyss,
#atlas,
#deploying,
#solarized_base03,
#solarized_base02,
#color_warn_txt,
#color_cshn_txt,
#color_skss_txt,
#color_info_txt,
#color_help_txt {
  color: rgba(255, 255, 255, 0.76393202);
}
/*@COLOR PALETTES*/
/*@COLOR SCHEMES*/
.Gcol {
  padding: 12px 7.41640786px;
  padding: 0.75rem 0.46352549rem;
}
#aperture_white {
  background-color: #f1f6ff;
}
#aperture_black {
  background-color: #0e0900;
}
#lakesuperior {
  background-color: #120099;
}
#facilityabyss {
  background-color: #3d6166;
}
#atlas {
  background-color: #0062ff;
}
#pbody {
  background-color: #ff9d00;
}
#neurotoxin {
  background-color: #9acc7a;
}
#deploying {
  background-color: #cc004e;
}
.aperture_grey_0o6 {
  background-color: #0e0900;
}
.aperture_grey_1o6 {
  background-color: #34302a;
}
.aperture_grey_2o6 {
  background-color: #5a5855;
}
.aperture_grey_3o6 {
  background-color: #808080;
}
.aperture_grey_4o6 {
  background-color: #a5a7aa;
}
.aperture_grey_5o6 {
  background-color: #cbcfd4;
}
.aperture_grey_6o6 {
  background-color: #f1f6ff;
}
#solarized_base03 {
  background-color: #002b36;
}
#solarized_base02 {
  background-color: #073642;
}
#solarized_base01 {
  background-color: #586e75;
}
#solarized_base00 {
  background-color: #657b83;
}
#solarized_base0 {
  background-color: #839496;
}
#solarized_base1 {
  background-color: #93a1a1;
}
#solarized_base2 {
  background-color: #eee8d5;
}
#solarized_base3 {
  background-color: #fdf6e3;
}
#solarized_yellow {
  background-color: #b58900;
}
#solarized_orange {
  background-color: #cb4b16;
}
#solarized_red {
  background-color: #dc322f;
}
#solarized_magenta {
  background-color: #d33682;
}
#solarized_violet {
  background-color: #6c71c4;
}
#solarized_blue {
  background-color: #268bd2;
}
#solarized_cyan {
  background-color: #2aa198;
}
#solarized_green {
  background-color: #859900;
}
#color_warn_brdr {
  background-color: #ff0000;
}
#color_cshn_brdr {
  background-color: #ccff00;
}
#color_skss_brdr {
  background-color: #00ff66;
}
#color_info_brdr {
  background-color: #0066ff;
}
#color_help_brdr {
  background-color: #cc00ff;
}
#color_warn_txt {
  background-color: #610000;
}
#color_cshn_txt {
  background-color: #4e6100;
}
#color_skss_txt {
  background-color: #006127;
}
#color_info_txt {
  background-color: #002761;
}
#color_help_txt {
  background-color: #4e0061;
}
#color_warn_bg {
  background-color: #ff9e9e;
}
#color_cshn_bg {
  background-color: #ecff9e;
}
#color_skss_bg {
  background-color: #9effc5;
}
#color_info_bg {
  background-color: #9ec5ff;
}
#color_help_bg {
  background-color: #ec9eff;
}
