// out: colors.css
@import (reference) url('../styles/core.less');

/*###############*\
    colors.less
\*###############*/


body {
  color: #000;
  background-color: #fff;
}
.dark() {color: fadeout(#fff, @golden3);}


.ColorBlockGroup {
  .flex-container;
}
.Colorblock {
  .cellpaddingdefault();
  box-sizing: border-box;
  width: 50%;
}
.ColorHeading {
  // .H--Zet;
  font-weight: bold;
  color: inherit;
}

.aperture_white {background-color: @aperture_white;}
.aperture_black {background-color: @aperture_black; .dark();}
.lakesuperior   {background-color: @lakesuperior; .dark();}
.facilityabyss  {background-color: @facilityabyss; .dark();}
.atlas          {background-color: @atlas; .dark();}
.pbody          {background-color: @pbody;}
.neurotoxin     {background-color: @neurotoxin;}
.deploying      {background-color: @deploying; .dark();}

.aperture_grey_0o6 {background-color: @aperture_grey_0o6; .dark();}
.aperture_grey_1o6 {background-color: @aperture_grey_1o6; .dark();}
.aperture_grey_2o6 {background-color: @aperture_grey_2o6; .dark();}
.aperture_grey_3o6 {background-color: @aperture_grey_3o6;}
.aperture_grey_4o6 {background-color: @aperture_grey_4o6;}
.aperture_grey_5o6 {background-color: @aperture_grey_5o6;}
.aperture_grey_6o6 {background-color: @aperture_grey_6o6;}

.solarized_base03  {background-color: @solarized_base03; .dark();}
.solarized_base02  {background-color: @solarized_base02; .dark();}
.solarized_base01  {background-color: @solarized_base01;}
.solarized_base00  {background-color: @solarized_base00;}
.solarized_base0   {background-color: @solarized_base0;}
.solarized_base1   {background-color: @solarized_base1;}
.solarized_base2   {background-color: @solarized_base2;}
.solarized_base3   {background-color: @solarized_base3;}
.solarized_yellow  {background-color: @solarized_yellow;}
.solarized_orange  {background-color: @solarized_orange;}
.solarized_red     {background-color: @solarized_red;}
.solarized_magenta {background-color: @solarized_magenta;}
.solarized_violet  {background-color: @solarized_violet;}
.solarized_blue    {background-color: @solarized_blue;}
.solarized_cyan    {background-color: @solarized_cyan;}
.solarized_green   {background-color: @solarized_green;}

.color_table_bg_hi {background-color: @color_table_bg_hi;}
.color_table_bg_md {background-color: @color_table_bg_md;}
.color_table_bg_lo {background-color: @color_table_bg_lo;}
.color_table_bg_hv {background-color: @color_table_bg_hv;}

.color_warn_brdr {background-color: @color_warn_brdr;}
.color_cshn_brdr {background-color: @color_cshn_brdr;}
.color_skss_brdr {background-color: @color_skss_brdr;}
.color_info_brdr {background-color: @color_info_brdr;}
.color_help_brdr {background-color: @color_help_brdr;}
.color_warn_txt  {background-color: @color_warn_txt; .dark();}
.color_cshn_txt  {background-color: @color_cshn_txt; .dark();}
.color_skss_txt  {background-color: @color_skss_txt; .dark();}
.color_info_txt  {background-color: @color_info_txt; .dark();}
.color_help_txt  {background-color: @color_help_txt; .dark();}
.color_warn_bg   {background-color: @color_warn_bg;}
.color_cshn_bg   {background-color: @color_cshn_bg;}
.color_skss_bg   {background-color: @color_skss_bg;}
.color_info_bg   {background-color: @color_info_bg;}
.color_help_bg   {background-color: @color_help_bg;}
