doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title UI Components &in; Site Design
    meta(charset="utf-8")
    link(rel="stylesheet" href="../../styles/chharvey.css")
    style.
      body {
        /* copied from _bground.less:.crossgrid-lined() */
        background-image: url('../images/crossgrid-lined.svg');
        background-size: 1px 24px;
        background-repeat: repeat;
        background-position: left bottom;
      }
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      h1 UI Components
      p These are components of a user-interactive nature.
      section#c-Alert
        h2 The #[code .c-Alert] Component
        p.
          The Alert Component builds off the Box Object, so you must include #[code o-Box] in the class attribute.
          The Alerts shown below all implement the subclass #[code .o-Box--island], but it may be replaced with
          #[code .o-Box--dialog] or #[code .o-Box--hero].
          Subclasses of the Alert Component determine specific types of Alerts.
          The Alert may contain an optional #[code .c-Alert__Title] Subcomponent at the beginning.
        figure
          p.c-Alert                                   #[strong.c-Alert__Title Alert   :       ] This is a generic Alert (no Box Object).                    (.c-Alert                                  ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.c-Alert                             #[strong.c-Alert__Title Alert   :       ] This is an Alert using a generic Box Object.                (.o-Box.c-Alert                            ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--island.c-Alert               #[strong.c-Alert__Title Alert   :       ] This is an Alert using an Island Box Object.                (.o-Box.o-Box--island.c-Alert              ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--island.c-Alert.c-Alert--dang #[strong.c-Alert__Title Danger  &#x0021;] An error has occurred or will occur. This cannot be undone. (.o-Box.o-Box--island.c-Alert.c-Alert--dang) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--island.c-Alert.c-Alert--cshn #[strong.c-Alert__Title Caution &#x2026;] Proceed with care. Are you sure you want to continue?       (.o-Box.o-Box--island.c-Alert.c-Alert--cshn) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--island.c-Alert.c-Alert--skss #[strong.c-Alert__Title Success &#x263a;] You have successfully completed the task as intended.       (.o-Box.o-Box--island.c-Alert.c-Alert--skss) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--island.c-Alert.c-Alert--info #[strong.c-Alert__Title Info    &#x003f;] This is some more information about a thing.                (.o-Box.o-Box--island.c-Alert.c-Alert--info) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--island.c-Alert.c-Alert--help #[strong.c-Alert__Title Help    &#x2665;] Here are some hints and tips for you. You&rsquo;re welcome. (.o-Box.o-Box--island.c-Alert.c-Alert--help) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--dialog.c-Alert               #[strong.c-Alert__Title Alert   :       ] This is an Alert using a Dialog Box Object.                 (.o-Box.o-Box--dialog.c-Alert              ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
          p.o-Box.o-Box--hero.c-Alert                 #[strong.c-Alert__Title Alert   :       ] This is an Alert using a Hero   Box Object.                 (.o-Box.o-Box--hero.c-Alert                ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
      section#c-Label
        h2 The #[code .c-Label] Component
        p.
          The Label Component builds off the Textbox Object, so include the #[code .o-Textbox] class.
          Subclasses add skins.
        figure
          h3 Example h3 #[small.o-Textbox.c-Label .o-Textbox.c-Label]
          p Example paragraph. #[small.c-Label                                   .c-Label              ]
          p Example paragraph. #[small.o-Textbox.c-Label               .o-Textbox.c-Label              ]
          p Example paragraph. #[small.o-Textbox.c-Label.c-Label--dang .o-Textbox.c-Label.c-Label--dang]
          p Example paragraph. #[small.o-Textbox.c-Label.c-Label--cshn .o-Textbox.c-Label.c-Label--cshn]
          p Example paragraph. #[small.o-Textbox.c-Label.c-Label--skss .o-Textbox.c-Label.c-Label--skss]
          p Example paragraph. #[small.o-Textbox.c-Label.c-Label--info .o-Textbox.c-Label.c-Label--info]
          p Example paragraph. #[small.o-Textbox.c-Label.c-Label--help .o-Textbox.c-Label.c-Label--help]
      section#c-Badge
        h2 The #[code .c-Badge] Component
        p.
          The Badge Component builds off the Textbox Object, so include the #[code .o-Textbox] class.
          Subclasses add skins.
        figure
          h3 Example h3 #[small.o-Textbox.c-Badge .o-Textbox.c-Badge]
          p Example p with a           .c-Badge              . #[small.c-Badge                         0]
          p Example p with a .o-Textbox.c-Badge              . #[small.o-Textbox.c-Badge               0]
          p Example p with a .o-Textbox.c-Badge.c-Badge--dang. #[small.o-Textbox.c-Badge.c-Badge--dang 2]
          p Example p with a .o-Textbox.c-Badge.c-Badge--cshn. #[small.o-Textbox.c-Badge.c-Badge--cshn 4]
          p Example p with a .o-Textbox.c-Badge.c-Badge--skss. #[small.o-Textbox.c-Badge.c-Badge--skss 16]
          p Example p with a .o-Textbox.c-Badge.c-Badge--info. #[small.o-Textbox.c-Badge.c-Badge--info 256]
          p Example p with a .o-Textbox.c-Badge.c-Badge--help. #[small.o-Textbox.c-Badge.c-Badge--help 65,536]
      section#text-level
        h2 Text-Level Components
        section#c-Key
          h3 The #[code .c-Key] Component
          p.
            Use #[code .o-Textbox.c-Key] to represent
            a #[span.o-Textbox.c-Key button] or #[span.o-Textbox.c-Key key]
            on a physical device. May be instantiated by the #[code kbd &gt; kbd] Element.
            Contrary to #[a Button Components],
            these Key Components are not meant to be interactive.
    nav.Bc
      ol.Anc
        li: a.Crumb(rel="top   " href="../../index.html   ") Home
        li: a.Crumb(rel="parent" href="../../home/web.html") Web
      ul.Sib
        li: a.Crumb(rel="sibling" href="base.html     ") Base Typography
        li: a.Crumb(rel="sibling" href="objects.html  ") Objects
        li: a.Crumb(rel="sibling" href="comp-typo.html") Typo Components
        li: a.Crumb(rel="this   " href="comp-ui.html  ") UI Components
        li: a.Crumb(rel="sibling" href="schemes.html  ") Site Schemes
      ul.Child
    script(src="../../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../scripts/global.js")
