/*--------------------*\
    griddothtml.less
\*--------------------*/
.outline {
  outline: thin solid black;
}
.rowgroup.solo {
  background-color: rgba(255, 128, 128, 0.25);
}
.rowgroup.duet {
  background-color: rgba(128, 255, 128, 0.25);
}
.rowgroup.trio {
  background-color: rgba(128, 128, 255, 0.25);
}
.rowgroup.quartet {
  background-color: rgba(255, 255, 128, 0.25);
}
.rowgroup.quintet {
  background-color: rgba(128, 255, 255, 0.25);
}
.rowgroup-sextet {
  background-color: rgba(255, 128, 255, 0.25);
}
.gridtest {
  text-align: center;
}
.gridtest .Gcol {
  outline: thin solid black;
  height: 24px;
}
.gridtest .Grow:hover {
  background-color: rgba(128, 128, 128, 0.25);
}
.gridtest .Gcol:hover {
  background-color: rgba(64, 64, 64, 0.25);
}
.gridtest.phi {
  background-image: url('../images/crossgrid-phi-1440x24.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.gridtest.even {
  background-image: url('../images/crossgrid-even-lcm-288x24.svg');
  background-size: 20% 24px;
  background-repeat: repeat;
  background-image: url('../images/crossgrid-even-1440x24.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.phidemo {
  text-align: center;
}
.red {
  background-color: #f00;
}
.yellow {
  background-color: #ff0;
}
.green {
  background-color: #0f0;
}
.cyan {
  background-color: #0ff;
}
.blue {
  background-color: #00f;
}
.pink {
  background-color: #f0f;
}
.lv1 {
  height: 96px;
  height: 6rem;
}
.lv2 {
  height: 72px;
  height: 4.5rem;
}
.lv3 {
  height: 48px;
  height: 3rem;
}
.lv4 {
  height: 24px;
  height: 1.5rem;
}
