.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
.I .Sel {
  float: left;
  clear: both;
}
.I .Ruleset > .Prp {
  display: inline;
  padding-left: 6px;
  float: none;
}
.I .Ruleset > .Val {
  display: inline;
}
/*#################*\
    griddemo.less
\*#################*/
.Growgroup.solo {
  background-color: rgba(255, 128, 128, 0.25);
}
.Growgroup.duet {
  background-color: rgba(128, 255, 128, 0.25);
}
.Growgroup.trio {
  background-color: rgba(128, 128, 255, 0.25);
}
.Growgroup.quartet {
  background-color: rgba(255, 255, 128, 0.25);
}
.Growgroup.quintet {
  background-color: rgba(128, 255, 255, 0.25);
}
.Growgroup.sextet {
  background-color: rgba(255, 128, 255, 0.25);
}
.gridtest {
  text-align: center;
}
.gridtest .Gcol {
  outline: 1px solid #cc004e;
  height: 24px;
}
.gridtest .Grow:hover {
  background-color: rgba(128, 128, 128, 0.25);
}
.gridtest .Gcol:hover {
  background-color: rgba(64, 64, 64, 0.25);
}
.gridtest.phi {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-phi_1440x24.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.gridtest.even {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-even_1440x24.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.red {
  background-color: #f00;
}
.yellow {
  background-color: #ff0;
}
.green {
  background-color: #0f0;
}
.cyan {
  background-color: #0ff;
}
.blue {
  background-color: #00f;
}
.pink {
  background-color: #f0f;
}
.lv1 {
  height: 96px;
  height: 6rem;
}
.lv2 {
  height: 72px;
  height: 4.5rem;
}
.lv3 {
  height: 48px;
  height: 3rem;
}
.lv4 {
  height: 24px;
  height: 1.5rem;
}
