.Cell,
.Code.Block,
.Msg {
  padding: 12px 7.41640786px;
  padding: 0.75rem 7.41640786px;
}
.Map.Vert::after,
.CSS .Ruleset::after {
  content: ' ';
  clear: both;
  display: table;
}
.gridtest .Gcol {
  outline: 1px solid #ffaac2;
}
.parens::before,
.quotes-double::before,
.quotes-single::before,
.guillemets::before,
.Qblock.Long .Src::before,
q::before,
.Th::before {
  content: open-quote;
}
.parens::after,
.quotes-double::after,
.quotes-single::after,
.guillemets::after,
.Qblock.Long .Src::after,
q::after,
.Th::after {
  content: close-quote;
}
.Qblock.Long .Src {
  quotes: '(' ')';
}
q {
  quotes: '\201c' '\201d';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
.fontsize-lrg-inline,
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.Qblock.Long,
.Qblock.Long .Src,
.Button.Crumb {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.fontsize-sml-inline,
.Capt,
.Qblock .Src,
.Table,
.Code.Block,
.Msg,
.Code,
.Dir,
.Key,
sup,
sub,
.Button,
code {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.fontsize-lrg-inline,
.fontsize-sml-inline,
.Code,
.Dir,
.Key,
sup,
sub,
.Button,
code {
  display: inline;
  line-height: inherit;
}
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.List > .Item,
.Enum > .Item,
.Map > .Term,
.Map > .Desc,
.Cell,
.Code.Block,
.Msg {
  min-height: 24px;
  min-height: 1.5rem;
}
.Fig > :first-child,
.Qblock > :first-child,
.List > .Item > .List,
.Map > .Term > .Map,
.Map > .Desc > .Map,
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  margin-top: 0;
}
.P,
.Qblock.Long .Src,
.List,
.Map,
.Table {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.P.Intro,
.Bc > .Anc,
.Bc > .Sib,
.Bc > .Child {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  border-top: 0 solid #000000;
  margin-top: 14.83281573px;
}
.List > .Item > .List,
.List.O,
.List.U {
  padding-left: 48px;
}
.Code,
.Code.Block.CSS.Invert,
code {
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
}
.Code .Comm,
.Code.Block.CSS.Invert .Comm,
code .Comm {
  color: #93a1a1;
}
.Code.Block,
.Key {
  border-color: #073642;
  color: #839496;
  background-color: #002b36;
}
.Code.Block .Comm,
.Key .Comm {
  color: #586e75;
}
code {
  display: inline;
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: nowrap;
}
/*--------------------*\
    griddothtml.less
\*--------------------*/
.Growgroup.solo {
  background-color: rgba(255, 128, 128, 0.25);
}
.Growgroup.duet {
  background-color: rgba(128, 255, 128, 0.25);
}
.Growgroup.trio {
  background-color: rgba(128, 128, 255, 0.25);
}
.Growgroup.quartet {
  background-color: rgba(255, 255, 128, 0.25);
}
.Growgroup.quintet {
  background-color: rgba(128, 255, 255, 0.25);
}
.Growgroup.sextet {
  background-color: rgba(255, 128, 255, 0.25);
}
.gridtest {
  text-align: center;
}
.gridtest .Gcol {
  height: 24px;
}
.gridtest .Grow:hover {
  background-color: rgba(128, 128, 128, 0.25);
}
.gridtest .Gcol:hover {
  background-color: rgba(64, 64, 64, 0.25);
}
.gridtest.phi {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-phi-1440x24.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.gridtest.even {
  background-image: url('http://chharvey.github.io/core/images/crossgrid-even-1440x24.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.phidemo {
  text-align: center;
}
.red {
  background-color: #f00;
}
.yellow {
  background-color: #ff0;
}
.green {
  background-color: #0f0;
}
.cyan {
  background-color: #0ff;
}
.blue {
  background-color: #00f;
}
.pink {
  background-color: #f0f;
}
.lv1 {
  height: 96px;
  height: 6rem;
}
.lv2 {
  height: 72px;
  height: 4.5rem;
}
.lv3 {
  height: 48px;
  height: 3rem;
}
.lv4 {
  height: 24px;
  height: 1.5rem;
}
