---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Quiz 1.2 &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="assessment cat-quiz">
{% include masthead.html %}
<main>
<header>
  <div class="quizheading">
    <p>Math 7 &mdash; Mr. Harvey</p>
    <h1>Quiz 1.2: Integer Subtraction</h1>
  </div>
  <form class="studentheading">
    <label>
      <span>Name:</span>
      <input id="name" type="text" required=""/>
    </label>
    <label>
      <span>Date:</span>
      <input id="date" type="date" required=""/>
    </label>
    <label>
      <span>Period:</span>
      <input id="period" type="number" required=""/>
    </label>
  </form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work. No calculator!</p>
<form autocomplete="off">
  <p class="directions">#1&ndash;4: <span class="verb">Draw</span> a representation of each difference, using the specified model.</p>
  <ol class="problemset">
    <li class="free-response-text">
      <p>Show that <span class="M">6-{^-}8=14</span>, using a Chip Model.</p>
      <textarea id="q1" cols="50" rows="5"></textarea>
    </li>
    <li class="free-response-text">
      <p>Show the difference of <span class="M">{^-}9-{^-}6</span>, using a Chip Model.</p>
      <textarea id="q2" cols="50" rows="5"></textarea>
    </li>
    <li class="free-response-text">
      <p>Show that <span class="M">{^-}5-3=-8</span>, using a Block Model.</p>
      <textarea id="q3" cols="50" rows="5"></textarea>
    </li>
    <li class="free-response-text">
      <p>Show the difference of <span class="M">10-15</span>, using a Block Model.</p>
      <textarea id="q4" cols="50" rows="5"></textarea>
    </li>
  </ol>
  <p class="directions">#5&ndash;6: <span class="verb">Write</span> a difference that is represented by each of the following diagrams. Then <span class="verb">evaluate</span> the difference.</p>
  <ol class="problemset" start="5">
    <li class="free-response-text">
      <img class="model-chip" src="images/chip2.png" alt="a Chip Model diagram representing a difference. There are 10 light chips on the mat, and 3 of those chips are crossed out."/>
      <input id="q5" type="text"/>
    </li>
    <li class="free-response-text">
      <img class="model-chip" src="images/block2.png" alt="a Block Model diagram representing a difference. On the dark side of the mat, there are 2 blocks. There are also two pairs of blocks, each containing 1 block on the dark side and 1 block on the light side. Each pair is circled. Then, all 5 blocks on the dark side are crossed out."/>
      <input id="q6" type="text"/>
    </li>
  </ol>
  <p class="directions">#7&ndash;10: <span class="verb">Evaluate</span> the following differences. Show all work.</p>
  <ol class="problemset" start="7">
    <li class="free-response-number">
      <span class="M">{^-}9-{^-}1</span>
      <input id="q7" type="number"/>
    </li>
    <li class="free-response-number">
      <span class="M">{^-}4-{^-}5</span>
      <input id="q8" type="number"/>
    </li>
    <li class="free-response-number">
      <span class="M">{^-}9-5</span>
      <input id="q9" type="number"/>
    </li>
    <li class="free-response-number">
      <span class="M">{^-}4-9</span>
      <input id="q10" type="number"/>
    </li>
  </ol>
  <input type="submit"/>
</form>
</main>
</body>
</html>
