extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Quiz 1.3'
    var classes_body = 'assessment cat-quiz'

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Quiz 1.3: Integer Multiplication/Division</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Use a No. 2 Pencil. Show all work. No calculator!</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;4: <span class="verb">Answer</span> each question as indicated.</p>
      <ol class="problemset">
        <li class="free-response-text">
          <p>Show the product of <span class="js-mt">2\cdot6</span>, using a Chip Model. Then, evaluate the product.</p>
          <textarea id="q1" cols="50" rows="5"></textarea>
          <input id="q4" type="number" step="0.1"/>
        </li>
        <li class="free-response-text">
          <p>Faith drew the Chip Model shown below. Write a multiplication problem that can be represented by her model.</p>
          <img class="model-chip" src="images/chip3.png" alt="a Chip Model diagram representing a product. There are 4 groups of chips, and each group contains 3 dark chips."/>
          <input id="q2" type="text"/>
        </li>
        <li class="free-response-text">
          <p>Show the product of <span class="js-mt">-4\cdot2</span>, using a Number Line Model. Then, evaluate the product.</p>
          <textarea id="q3" cols="50" rows="5"></textarea>
          <input id="q4" type="number" step="0.1"/>
        </li>
        <li class="free-response-text">
          <p>Fabian drew the Number Line below. Write a multiplication problem that can be represented by his model.</p>
          <img class="model-numberline" src="images/line2.png" alt="a Number Line representing a product. There are 4 arrows starting at zero and pointing to the left. Each arrow is 5 units long."/>
          <input id="q4" type="text"/>
        </li>
      </ol>
      <p class="directions pagebreak">#5&ndash;12: <span class="verb">Evaluate</span> each expression.</p>
      <ol class="problemset" start="5" style="-webkit-column-count: 2;">
        <li class="free-response-number">
          <span class="js-mt">3\cdot(-9)</span>
          <input id="q5" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-8\cdot8</span>
          <input id="q6" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-48\cdot(-17)</span>
          <input id="q7" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-5\cdot(-6)\cdot3</span>
          <input id="q8" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">-24\div4</span>
          <input id="q9" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">100\div(-2)</span>
          <input id="q10" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{-56}{-7}</span>
          <input id="q11" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{54}{9}</span>
          <input id="q12" type="number" step="0.1"/>
        </li>
      </ol>
      <ol class="problemset" start="13">
        <li class="multiple-choice">
          <p>Use the number line below to choose the best statement about the expression <span class="js-mt">a\div{b}</span>.</p>
          <img/>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q13a1" type="radio" name="q13"/>
                  <span><span class="js-mt">a\div{b}</span> is negative because a positive number divided by a positive number is negative.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q13a2" type="radio" name="q13"/>
                  <span><span class="js-mt">a\div{b}</span> is positive because a positive number divided by a positive number is positive.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q13a3" type="radio" name="q13"/>
                  <span><span class="js-mt">a\div{b}</span> is positive because a positive number divided by a negative number is positive.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q13a4" type="radio" name="q13"/>
                  <span><span class="js-mt">a\div{b}</span> is negative because a negative number divided by a negative number is negative.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q13a5" type="radio" name="q13"/>
                  <span>We cannot determine anything about the quotient of <span class="js-mt">a</span> and <span class="js-mt">b</span> based on the information given.</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>The value of <span class="js-mt">-2\cdot{k}</span> is positive. Choose the best statement that best describes the value of <span class="js-mt">k</span>.</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q14a1" type="radio" name="q14"/>
                  <span>The value of <span class="js-mt">k</span> is positive because a negative number times a positive number is positive.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q14a2" type="radio" name="q14"/>
                  <span>The value of <span class="js-mt">k</span> is positive because a negative number times a positive number is negative.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q14a3" type="radio" name="q14"/>
                  <span>The value of <span class="js-mt">k</span> is negative because a negative number times a negative number is positive.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q14a4" type="radio" name="q14"/>
                  <span>The value of <span class="js-mt">k</span> is negative because a positive number times a positive number is positive.</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q14a5" type="radio" name="q14"/>
                  <span>We cannot determine anything about the value of <span class="js-mt">k</span> based on the information given.</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
      <input type="submit"/>
    </form>
