---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lesson 1.1 &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
    meta(name="viewport" content="width=device-width, initial-scale=1")
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="lesson">
{% include masthead.html %}
<main>
<header>
  <h1>Lesson 1.1: Integer Addition</h1>
  <dl>
    <dt>SOL</dt>
    <dd><span class="standard-id">7.3a</span> The student will model addition, subtraction, multiplication, and division of integers.</dd>
    <dd><span class="standard-id">7.3b</span> The student will add, subtract, multiply, and divide integers.</dd>
    <dt>Timeframe</dt>
    <dd>Week I.3</dd>
    <dt>Time required</dt>
    <dd>3 days</dd>
    <dt>Lesson created</dt>
    <dd><time datetime="2013-09-06T16:02">Sep 6, 2013</time></dd>
    <dt>Lesson updated</dt>
    <dd><time datetime="2013-09-06T16:02">Sep 6, 2013</time></dd>
  </dl>
</header>
<section id="prep">
  <h2>Preparation</h2>
  <section>
    <h3>Objectives</h3>
    <ul>
      <li>The student will model addition of integers (with the same sign and different signs) using two-colored counters, a two-sided mat, and a number line.</li>
      <li>The student will evaluate the sum of two integers, with the same sign or different signs.</li>
    </ul>
  </section>
  <section>
    <h3>Essential Questions</h3>
    <ul>
      <li>What is an integer?</li>
      <li>How do I add integers when they have the same sign?</li>
      <li>How do I add integers when they have different signs?</li>
    </ul>
  </section>
  <section>
    <h3>Vocabulary</h3>
    <dl class="vocablist">
      <dt>zero pair</dt>
      <dd>a pair of units that, when added, make 0</dd>
      <dt>sum</dt>
      <dd>the answer to an addition problem</dd>
    </dl>
  </section>
</section>
<section id="implement">
  <h2>Lesson Implementation</h2>
  <section>
    <h3>Warm-up</h3>
  </section>
  <section>
    <h3>Instruction</h3>
    <blockquote>
<pre>
# Adding Integers (Page 15) #

## Chips / Blocks ##
1. Put on 1st number
2. Put on 2nd number
3. Cancel zero pairs

## Number Line ##
1. Start at zero
2. Walk forward to 1st number
3. Face direction of 2nd number
4. Walk forward that many steps

<del># Subtracting Integers (Page 17) (Lesson 1.4) #

## Chips / Blocks ##
1. Put on 1st number
2. Add the necessary number of zero pairs
3. Take away 2nd number

## Number Line ##
1. Start at zero
2. Walk forward to 1st number
3. Face direction of 2nd number
4. Walk backward that many steps</del>
</pre>
    </blockquote>
  </section>
  <section>
    <h3>Guided Practice</h3>
  </section>
  <section>
    <h3>Assessment</h3>
    <p><a>Exit Slip 1.1, day 1</a></p>
    <p><a>Exit Slip 1.1, day 2</a></p>
    <p><a>Homework 1.1</a></p>
    <li class="cat-quiz"><a href="ints-add-quiz.html">Quiz 1.1: Integer Addition</a></li>
    <s><li class="cat-quiz"><a href="ints-sub-quiz.html">Quiz 1.2: Integer Subtraction</a></li></s>
  </section>
</section>
<section id="reflect">
  <h2>Reflection</h2>
</section>
</main>
</body>
</html>
