---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lesson 1.3 &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="lesson">
{% include masthead.html %}
<main>
<header>
  <h1>Lesson 1.3: Integer Multiplication and Division</h1>
  <dl>
    <dt>SOL</dt>
    <dd><span class="standard-id">7.3a</span> The student will model addition, subtraction, multiplication, and division of integers.</dd>
    <dd><span class="standard-id">7.3b</span> The student will add, subtract, multiply, and divide integers.</dd>
    <dt>Timeframe</dt>
    <dd>Week I.5</dd>
    <dt>Time required</dt>
    <dd>3 days</dd>
    <dt>Lesson created</dt>
    <dd><time datetime="2013-09-24T00:03">Sep 24, 2013</time></dd>
    <dt>Lesson updated</dt>
    <dd><time datetime="2013-09-24T00:03">Sep 24, 2013</time></dd>
  </dl>
</header>
<section id="prep">
  <h2>Preparation</h2>
  <section>
    <h3>Objectives</h3>
    <ul>
      <li>The student will model multiplication and division of integers (with the same sign and different signs) using two-colored counters, a two-sided mat, and a number line.</li>
      <li>The student will evaluate the product and quotient of two integers, with the same sign or different signs.</li>
    </ul>
  </section>
  <section>
    <h3>Essential Questions</h3>
    <ul>
      <li>How do I multiply integers?</li>
      <li>Why does <span class="M">(-1)(-1)=1</span>?</li>
    </ul>
  </section>
  <section>
    <h3>Vocabulary</h3>
    <dl class="vocablist">
      <dt>product</dt>
      <dd>the answer to a multiplication problem</dd>
      <dt>quotient</dt>
      <dd>the answer to a division problem</dd>
    </dl>
  </section>
</section>
<section id="implement">
  <h2>Lesson Implementation</h2>
  <section>
    <h3>Warm-up</h3>
  </section>
  <section>
    <h3>Instruction</h3>
    <p><a>Integer division activity (with the number line)</a></p>
  </section>
  <section>
    <h3>Guided Practice</h3>
  </section>
  <section>
    <h3>Assessment</h3>
    <p><a>Exit Slip 1.3, day 1</a></p>
    <li class="cat-quiz"><a href="ints-multdiv-quiz.html">Quiz 1.3: Integer Multiplication and Division</a></li>
  </section>
</section>
<section id="reflect">
  <h2>Reflection</h2>
</section>
</main>
</body>
</html>
