---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Modeling Integer Operations</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A summary of the manipulatives used in the Integer Operations section."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<nav class="breadcrumbs">
  <ol>
    <li><a href="index.html">Unit 1 Overview</a></li>
    <li><a href="addintegers-lesson.html">Lesson 1.4</a></li>
  </ol>
</nav>
<main>
<header>
  <h1>Modeling Integer Operations</h1>
  <p class="timestamp">Updated <time datetime="2013-09-04T22:07">September 04, 2013</time>.</p>
  <p>This table describes <b class="ref">Standard 7.3a</b> in further detail.</p>
</header>
<table>
  <thead>
    <tr>
      <th scope="col">Operation</th>
      <th scope="col">Two-Colored Counters</th>
      <th scope="col">Algeblocks</th>
      <th scope="col">Number Line</th>
    </tr>
    <tr>
      <th scope="row">Description of Manipulative</th>
      <td><p>Yellow/white counters represent positive integers; red/black counters represent negative integers. A <b>zero pair</b> consists of one yellow and one red. When put together, they cancel out. The linear ordering on <span class="M">\ZZ</span> is represented by quantity.</p></td>
      <td><p>The area on the face of a green cube represents an integer. Each cube is one unit. Units placed on the dark side of the mat represent negative integers; units placed on the light side represent positive integers. A zero pair consists of one cube on the dark and one cube on the light. When put together, they cancel out. The linear ordering on <span class="M">\ZZ</span> is represented by quantity.</p></td>
      <td><p>A number line is a geometric representation of <span class="M">\ZZ</span>. Along the line, the integers are spaced evenly in increasing order. The linear ordering on <span class="M">\ZZ</span> is represented by direction.</p></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Addition</th>
      <td><p><span class="M">a+b</span> is modeled by adding <span class="M">b</span> chips to the <span class="M">a</span> chips already present on the mat. After cancellation, the remaining chips is the sum.</p></td>
      <td><p><span class="M">a+b</span> is modeled by adding <span class="M">b</span> blocks to the <span class="M">a</span> blocks already present on the mat. After cancellation, the remaining blocks is the sum.</p></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Subtraction</th>
      <td><p><span class="M">a-b</span> is modeled by taking away <span class="M">b</span> chips from the <span class="M">a</span> chips already present on the mat. (If not enough are available, add sufficient zero pairs.) After cancellation, the remaining chips is the difference.</td>
      <td><p><span class="M">a-b</span> is modeled by taking away <span class="M">b</span> blocks from the <span class="M">a</span> blocks already present on the mat. (If not enough are available, add sufficient zero pairs.) After cancellation, the remaining blocks is the difference.</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Multiplication</th>
      <td><p><span class="M">a\cdot b</span> is modeled by <span class="M">b</span> groups of <span class="M">a</span> chips. The total number of chips is the product. (A negative group is represented by flipping all chips in the group.)</p></td>
      <td><p><span class="M">a\cdot b</span> is modeled by a rectangle with width <span class="M">a</span> and height <span class="M">b</span> columns. The area of the rectangle is the product.</p></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Division</th>
      <td>
        <p><span class="p__Title">Repeated subtraction:</span> <span class="M">a\div b</span> is modeled by <span class="M">a</span> chips separated out into groups containing <span class="M">b</span> chips each. The number of groups is the quotient.</p>
        <p><span class="p__Title">Divvy up:</span> <span class="M">a\div b</span> is modeled by <span class="M">a</span> chips separated out into <span class="M">b</span> groups. The number of chips contained in each group is the quotient.</p>
      </td>
      <td><p><span class="M">a\div b</span> is modeled by a rectangle with area <span class="M">a</span> and width <span class="M">b</span>. The height of the rectangle is the quotient.</p></td>
      <td></td>
    </tr>
  </tbody>
</table>
</main>
</body>
</html>
