---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lesson 1.4 &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
    meta(name="viewport" content="width=device-width, initial-scale=1")
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="lesson">
{% include masthead.html %}
<main>
<header>
  <h1>Lesson 1.4: Order of Operations</h1>
  <dl>
    <dt>SOL</dt>
    <dd>none</dd>
    <dt>Timeframe</dt>
    <dd>Week I.1</dd>
    <dt>Time required</dt>
    <dd>2 days</dd>
    <dt>Lesson created</dt>
    <dd><time datetime="2013-08-23T15:39">Aug 23, 2013</time></dd>
    <dt>Lesson updated</dt>
    <dd><time datetime="2013-09-22T20:14">Sep 22, 2013</time></dd>
  </dl>
</header>
<section id="prep">
  <h2>Preparation</h2>
  <section>
    <h3>Objectives</h3>
    <ul>
      <li>The student will compute the value of a numeric expression involving the four basic operations on whole numbers.</li>
      <li>The student will do the same with parentheses and exponents included in the expression.</li>
    </ul>
  </section>
  <section>
    <h3>Essential Questions</h3>
    <ul>
      <li>What can multiplication and division look like?</li>
      <li>How do I know which operations to perform first?</li>
      <li>What kinds of grouping symbols can we use?</li>
      <li>What is an exponent?</li>
    </ul>
  </section>
  <section>
    <h3>Vocabulary</h3>
    <dl class="vocablist">
      <dt>term</dt>
      <dd>a number that is part of a sum or difference</dd>
      <dt>evaluate</dt>
      <dd>to figure out the value of an expression</dd>
    </dl>
  </section>
</section>
<section id="implement">
  <h2>Lesson Implementation</h2>
  <section>
    <h3>Warm-up</h3>
    <p>Hand students the <a title="a worksheet with many single-operation problems">Math Facts</a> worksheet. Tell them that they have 5 minutes to complete as many problems as possible. This will get the wheels turning and get them ready for the lesson. It can also serve as a game or contest.</p>
    <p>Give students the following problems to complete and turn in. Check for understanding.</p>
    <blockquote>
      <ol>
        <li><span class="js-mt">15\div 5+1\times 18</span></li>
        <li><span class="js-mt">(20-2)\times(8+2)+10</span></li>
      </ol>
    </blockquote>
  </section>
  <section>
    <h3>Instruction</h3>
    <p>First introduce notation for multiplication and division.</p>
    <blockquote>
      <p>Different ways multiplication can appear:</p>
      <ul>
        <li>cross: <span class="js-mt">3\times 5</span></li>
        <li>dot: <span class="js-mt">3\cdot 5</span></li>
        <li><span class="vocab">juxtaposition</span> of constants: <span class="js-mt">3(5)</span>, <span class="js-mt">(3)5</span>, or <span class="js-mt">(3)(5)</span></li>
        <li><span class="vocab">juxtaposition</span> of variables: <span class="js-mt">3x</span></li>
      </ul>
      <p>Different ways division can appear:</p>
      <ul>
        <li>division sign: <span class="js-mt">15\div 3</span></li>
        <li>fraction: <span class="js-mt">\frac{15}{3}</span></li>
      </ul>
    </blockquote>
    <p>Students should practice turning multiplication signs into juxtaposition before performing any operations. Likewise, turn division signs into fractions. This will help students see the <b class="keyword">terms</b> in an expression, so they need not worry about memorizing the order of operations.</p>
    <blockquote>
      <p>Steps to perform to evaluate an expression:</p>
      <ol class="main-idea">
        <li>Turn all multiplication into <span class="vocab">juxtaposition</span> and division into fractions.</li>
        <li>Count and simplify each <span class="vocab">term</span>.</li>
        <li>Add or subtract the terms from left to right.</li>
      </ol>
      <figure>
        <p>Example: <span class="js-mt">2+3\times 5</span></p>
        <p>Rewrite as <span class="js-mt">2+(3)(5)</span>. Now we have two <span class="vocab">terms</span>: the fist term is the <span class="js-mt">2</span> and the second term is the <span class="js-mt">(3)(5)</span>. The first one can't be simplified, and the second one must be simplified to <span class="js-mt">15</span>. Now just compute <span class="js-mt">2+15</span>.</p>
      </figure>
    </blockquote>
    <aside>
      <h4>Optional Discussion</h4>
      <p><strong>Why does multiplication come before addition?</strong></p>
      <p>Multiplication of whole numbers is defined as repeated addition. For example, <span class="js-mt">3\times 5 = 3+3+3+3+3</span> and <span class="js-mt">5\times 3 = 5+5+5</span>. Students do not yet need to be aware that multiplication is commutative, however they will most likely derive this fact anyway.</p>
      <blockquote>Since multiplication can be changed into addition, we can change all multiplication problems into addition problems.</blockquote>
      <p>Use a multiplication problem from the warm-up as an example; give 1 to 2 practice problems.</p>
      <p>Now give a multiplication problem such as <span class="js-mt">2+3\times 5</span>. Ask, <q>What should I do first? Well, we know what multiplication is: it's really addition!</q> Then change the problem to <span class="js-mt">2+3+3+3+3+3</span> and ask them to compute.</p>
    </aside>
    <p>Introduce the idea of grouping symbols. List the types of grouping symbols students might see.</p>
    <blockquote>
      <p>Types of grouping symbols:</p>
      <ul>
        <li>parentheses: <span class="js-mt">\left(3+5\right)</span></li>
        <li>brackets: <span class="js-mt">\left[3+5\right]</span></li>
        <li>fraction bar: <span class="js-mt">\frac{11+5}{3+5}</span></li>
      </ul>
      <p>How do grouping symbols work? Everything in parentheses and brackets are grouped. In a fraction, everything in the numerator is grouped, and everything in the denominator is grouped.</p>
      <p><strong class="main-idea">We must simplify the expression in the grouping symbols first, before doing anything outside the grouping symbols.</strong></p>
    </blockquote>
    <p>Hand students the <a title="a worksheet including a short page of notes and a short practice worksheet involving exponents">Exponents</a> mini-lesson. Quickly review what an exponent really is (repeated multiplication) and how to calculate it on the calculator. Have them do some example problems. This whole process should take about 15 to 20 minutes.</p>
    <blockquote>
      <p>Exponents practice problems.</p>
      <p>Expand the following:</p>
      <ol class="practiceproblems">
        <li><span class="js-mt">3^8</span></li>
        <li><span class="js-mt">n^7</span></li>
        <li><span class="js-mt">a^2 b^4</span></li>
      </ol>
      <p>Write each as an exponent:</p>
      <ol class="practiceproblems">
        <li><span class="js-mt">2\cdot 2\cdot 2</span></li>
        <li><span class="js-mt">4\cdot 4\cdot 5\cdot 5\cdot 5</span></li>
        <li><span class="js-mt">aaabbc</span></li>
      </ol>
    </blockquote>
  </section>
  <section>
    <h3>Guided Practice</h3>
    <p>Have students work on these problems independently or in groups.</p>
    <blockquote>
      <p>Practice problems:</p>
      <ol class="practiceproblems">
        <li><span class="js-mt">5+10\times 10</span></li>
        <li><span class="js-mt">6\times 7 + 1</span></li>
        <li><span class="js-mt">5\times 1+9+5\div 1</span></li>
        <li><span class="js-mt">10\times 4+12+5-2</span></li>
        <li><span class="js-mt">6+11\times 4+12\div 12</span></li>
        <li><span class="js-mt">12\times 10+5\times 5+8</span></li>
        <li><span class="js-mt">14\div 2\times 8+3</span></li>
        <li><span class="js-mt">(20-2)\times(8+2)+10</span></li>
        <li><span class="js-mt">(10+52-2)\div(9-4)</span></li>
        <li><span class="js-mt">6+\frac{3\times 8+8}{4}</span></li>
      </ol>
    </blockquote>
    <p>Introduce problems involving expressions where the exponent is applied to monomials only (below). After grouping symbols, they should compute the exponents, and then use the process learned from yesterday.</p>
    <blockquote>
      <ol class="practiceproblems">
        <li><span class="js-mt">5+8^2+6</span></li>
        <li><span class="js-mt">4+\left(9+2^2\div 2\right)</span></li>
        <li><span class="js-mt">3\times\left(2\times 4^3\right)\div 4</span></li>
      </ol>
    </blockquote>
    <p>After practicing with monomials, introduce problems with exponents applied to binomials. Stress the importance of evaluating the parentheses before computing the exponent.</p>
    <blockquote>
      <ol class="practiceproblems">
        <li><span class="js-mt">8+\left(5+2\right)^2</span></li>
        <li><span class="js-mt">3^2+\left(24\div 3+3^2\right)</span></li>
        <li><span class="js-mt">\left[\left(10-3\right)^2\times 2\right]+7^2</span></li>
      </ol>
    </blockquote>
  </section>
  <section>
    <h3>Assessment</h3>
    <li class="cat-hwcw"><a href="ooo-prequiz.html">Pre-Quiz 1.4: Order of Operations</a></li>
    <p><del>Formative: The student will be given the problems below to complete without aid. Their answers will be collected and immediate feedback will be given.</del><ins> move the following problems to the pre-quiz:</p>
    <ol>
      <li><span class="js-mt">8-1\times 5 + 7</span> (answer: 10)</li>
      <li><span class="js-mt">30\div(6-1)</span> (answer: 6)</li>
      <li><span class="js-mt">30\div 2\times 4</span> (answer: 60)</li>
    </ol>
    <p>Give students the <a>crossword puzzle</a> to complete for homework.</p>
    <p>Formative: Check the practice problems for correctness.</p>
    <li class="cat-quiz"><a href="ooo-quiz.html">Quiz 1.4: Order of Operations</a></li>
  </section>
</section>
<section id="reflect">
  <h2>Reflection</h2>
</section>
</main>
</body>
</html>
