extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Pre-Quiz 1.4'
    var classes_body = 'assessment cat-hwcw'

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Pre-Quiz 1.4: Order of Operations</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;4: <span class="verb">Evaluate</span> the following expressions.</p>
      <ol class="problemset">
        <li class="free-response-number">
          <span class="js-mt">18+12\div6</span>
          <input id="q1" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\left(21-8\right)\times\left(14-6\right)-4</span>
          <input id="q2" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">100-13\times2+7^2</span>
          <input id="q3" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{\left(8+1\right)^2-1}{8}</span>
          <input id="q4" type="number" step="0.1"/>
        </li>
      </ol>
      <ol class="problemset" start="5">
        <li class="select-multiple">
          <p><span class="verb">Select</span> the terms in the expression below.</p>
          <div class="js-mt">3\times 5+4\div 2</div>
          <fieldset class="right">
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q5a1" type="checkbox"/>
                  <span class="js-mt">3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a2" type="checkbox"/>
                  <span class="js-mt">5</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a3" type="checkbox"/>
                  <span class="js-mt">4</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q5a4" type="checkbox"/>
                  <span class="js-mt">2</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a5" type="checkbox"/>
                  <span class="js-mt">3\times5</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a6" type="checkbox"/>
                  <span class="js-mt">5+4</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a7" type="checkbox"/>
                  <span class="js-mt">4\div2</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="free-response-text">
          <p><span class="verb">Expand</span> the expression below.</p>
          <div class="js-mt">a^2b^3c</div>
          <input id="q6" type="text"/>
        </li>
        <li class="free-response-text">
          <p>Alan's work is shown below. If he made a mistake, <span class="verb">explain</span> what he did wrong and <span class="verb">correct</span> his work. If there are no mistakes, <span class="verb">write</span> <kbd class="write">no errors</kbd>.</p>
          <div class="js-mt">
            24\div 3\times 4\\
            24\div 12\\
            2
          </div>
          <textarea id="q7" cols="50" rows="5"></textarea>
        </li>
      </ol>
      <input type="submit"/>
    </form>
