extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Lesson 1.5'
    var classes_body = 'lesson'

block append mainHeader
  div.
    <h1>Lesson 1.5: Substitution</h1>
    <dl>
      <dt>SOL</dt>
      <dd><span class="standard-id">7.13b</span> The student will evaluate algebraic expressions for given replacement values of the variables</dd>
      <dt>Timeframe</dt>
      <dd>Week I.2</dd>
      <dt>Time required</dt>
      <dd>4 days</dd>
      <dt>Lesson created</dt>
      <dd><time datetime="2013-09-04T22:20">Sep 04, 2013</time></dd>
      <dt>Lesson updated</dt>
      <dd><time datetime="2013-09-04T22:20">Sep 04, 2013</time></dd>
    </dl>

block append main
  div.
    <section id="prep">
      <h2>Preparation</h2>
      <section>
        <h3>Objectives</h3>
        <ul>
          <li>The student will evaluate an expression with variables.</li>
        </ul>
      </section>
      <section>
        <h3>Essential Questions</h3>
        <ul>
        </ul>
      </section>
      <section>
        <h3>Vocabulary</h3>
        <dl class="vocablist">
          <dt>substitute</dt>
          <dd>to replace a variable with a value</dd>
          <dt>evaluate</dt>
          <dd>to figure out the value of an expression</dd>
        </dl>
      </section>
    </section>
    <section id="implement">
      <h2>Lesson Implementation</h2>
      <section>
        <h3>Warm-up</h3>
        <p>Hand students the <a>Algebra Code</a> worksheet. Let them work on it independently. They should be done very quickly.</p>
      </section>
      <section>
        <h3>Instruction</h3>
        <p>Worksheets</p>
        <p><a>Whole Number &ndash; One Variable</a></p>
        <p><a>Whole Number &ndash; Two Variables</a></p>
        <blockquote>
          <p>Practice Problems</p>
          <ol class="practiceproblems">
            <li class="multiple-choice">Evaluate <span class="js-mt">ab-c</span> when <span class="js-mt">a=2</span>, <span class="js-mt">b=3</span>, and <span class="js-mt">c=4</span>.
              <ol class="answerchoices">
                <li class="correct"><span class="js-mt">2</span></li>
                <li><span class="js-mt">3</span></li>
                <li><span class="js-mt">4</span></li>
                <li><span class="js-mt">5</span></li>
              </ol>
            </li>
            <li class="multiple-choice">When <span class="js-mt">a=2</span>, <span class="js-mt">b=3</span>, and <span class="js-mt">c=4</span>, choose the expression with a value of <span class="js-mt">25</span>.
              <ol class="answerchoices">
                <li><span class="js-mt">a+b-c+5</span></li>
                <li><span class="js-mt">7c-2a</span></li>
                <li class="correct"><span class="js-mt">2bc+1</span></li>
                <li><span class="js-mt">2b-4</span></li>
              </ol>
            </li>
            <li class="multiple-choice">Look at the expression below:
              <div class="js-mt">2b+3a</div>
              Which set of variables will make the expression equal to <span class="js-mt">12</span>?
              <ol class="answerchoices">
                <li><span class="js-mt">a=1</span>, <span class="js-mt">b=2</span></li>
                <li class="correct"><span class="js-mt">a=2</span>, <span class="js-mt">b=3</span></li>
                <li><span class="js-mt">a=3</span>, <span class="js-mt">b=4</span></li>
                <li><span class="js-mt">a=3</span>, <span class="js-mt">b=2</span></li>
              </ol>
            </li>
          </ol>
        </blockquote>
        <p>After reviewing the problems, have students summarize.</p>
        <blockquote>
          <p>Summary</p>
          <dl>
            <dt>Type 1</dt>
            <dd><b>Figure It Out</b></dd>
            <dd>given: expression, variables</dd>
            <dd>find: value</dd>
            <dt>Type 2</dt>
            <dd><b>Jeopardy</b></dd>
            <dd>given: variables, value</dd>
            <dd>find: expression</dd>
            <dt>Type 3</dt>
            <dd><b>Solve</b></dd>
            <dd>given: expression, value</dd>
            <dd>find: variables</dd>
          </dl>
        </blockquote>
      </section>
      <section>
        <h3>Guided Practice</h3>
        <p><a>Food Stand</a></p>
      </section>
      <section>
        <h3>Assessment</h3>
        <p><a>Homework 1.2</a></p>
      </section>
    </section>
    <section id="reflect">
      <h2>Reflection</h2>
    </section>
