---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Resources for Math Students</title>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="External links containing resources for secondary and higher-ed mathematics students."/>
<link rel="stylesheet" href="../higher-ed.css"/>
{% include all-js.html %}
<style>
</style>
</head>
<body>
{% include masthead.html %}
<main>
<header>
  <h1>Resources for Students</h1>
  <p class="timestamp">Original document submitted <time datetime="2010-12-13">December 13, 2010</time>.</p>
</header>
<p><span class="warning">Warning.</span><br/>This page has been moved.<br/>It is now located at <code class="dir"><a href="../../secondary-ed/resources.html">http://chharvey.github.io/secondary-ed/resources.html</a></code>.</p>
</main>
</body>
</html>
