@import url('../core/stylesheets/grid.less');
@import url('../core/stylesheets/typo.less');
@import url('../core/stylesheets/mods.less');

.main, main {
	.linebreadth-full();
	background-color: #fff;
}

.colorcode {font-size: 8pt; font-family: @font-fam-code;}
.colorname {font-variant: small-caps; font-weight: bold;}
.elemprop {font-size: 10pt;}
.dark {color: #eee;}

.palettes {
	.line();
	.cool,
	.warm {.unit-1to2();}
}

.hue210,
.hue240,
.hue270,
.hue300,
.hue330,
.hue0,
.hue30,
.hue60,
.hue90,
.hue120,
.hue150,
.hue180 {
	.linebreadth-full();
	border: 1px solid #999;
	color: #111;
	tbody {
		th {width: 11.11%;}
		td {width: 22.22%;}
	}
	th {border: 1px solid #999;}
}
.saturations(@hue) {
	.sat100 {
		@sat: 100%;
		.values(@hue; @sat);
	}
	.sat83 {
		@sat: 83.33%;
		.values(@hue; @sat);
	}
	.sat66 {
		@sat: 66.66%;
		.values(@hue; @sat);
	}
	.sat50 {
		@sat: 50%;
		.values(@hue; @sat);
	}
	.sat33 {
		@sat: 33.33%;
		.values(@hue; @sat);
	}
	.sat16 {
		@sat: 16.66%;
		.values(@hue; @sat);
	}
}
.values(@hue; @sat) {
	.val100 {
		@val: 100%;
		background-color: hsv(@hue, @sat, @val);
	}
	.val75 {
		@val: 75%;
		background-color: hsv(@hue, @sat, @val);
	}
	.val50 {
		&:extend(.dark);
		@val: 50%;
		background-color: hsv(@hue, @sat, @val);
	}
	.val25 {
		&:extend(.dark);
		@val: 25%;
		background-color: hsv(@hue, @sat, @val);
	}
}

.hue210 {
	.saturations(210);
}
.hue240 {
	.saturations(240);
}
.hue270 {
	.saturations(270);
}
.hue300 {
	.saturations(300);
}
.hue330 {
	.saturations(330);
}
.hue0 {
	.saturations(0);
}
.hue30 {
	.saturations(30);
}
.hue60 {
	.saturations(60);
}
.hue90 {
	.saturations(90);
}
.hue120 {
	.saturations(120);
}
.hue150 {
	.saturations(150);
}
.hue180 {
	.saturations(180);
}

