// out: colors.css
@import (reference) url('../core/styles/all.less');

/*---------------*\
    colors.less
\*---------------*/

// Table of Contents
// - COLOR PALETTES
// - COLOR SCHEMES

//+++++++++++++++//
/*@COLOR PALETTES*/
//+++++++++++++++//
.palettes {
	// * the container of hue tables
	&:extend(.line);
	&:extend(.undoP1-midright);
	.group-cold,
	.group-warm {&:extend(.unit-1to2);}
}
.colortable {
	width: 100%;
	white-space: nowrap;
	tbody {
		th {width: 11.11%;}
		td {width: 22.22%;}
	}
}
.colorname,
.colorcode {
	display: block;
}
.colorname {
	font-weight: bold;
	color: inherit !important;
	&:hover {text-decoration: underline;}
}
.colorcode {
	border: 0;
	font-family: @fontfam_code;
	color: inherit;
	background-color: transparent;
}

.hue-generator(@degree) {
	.hue-@{degree} {
		.saturations(@degree);
	}
}

.hue-generator(127);
.hue-generator(163);
.hue-generator(185);
.hue-generator(199);
.hue-generator(208);
.hue-generator(213);

.hue-generator(217);
.hue-generator(221);
.hue-generator(226);
.hue-generator(235);
.hue-generator(249);
.hue-generator(271);

.hue-generator(307);
.hue-generator(343);
.hue-generator(5);
.hue-generator(19);
.hue-generator(28);
.hue-generator(33);

.hue-generator(37);
.hue-generator(41);
.hue-generator(46);
.hue-generator(55);
.hue-generator(69);
.hue-generator(91);

.saturations(@hue) {
	.sat-alph {@sat: 100.000%; .values(@hue; @sat);}
	.sat-beta {@sat:  83.333%; .values(@hue; @sat);}
	.sat-gamm {@sat:  66.666%; .values(@hue; @sat);}
	.sat-delt {@sat:  50.000%; .values(@hue; @sat);}
	.sat-epsi {@sat:  33.333%; .values(@hue; @sat);}
	.sat-zeta {@sat:  16.666%; .values(@hue; @sat);}
}

.values(@hue; @sat) {
	.val-full {@val: 100%; background-color: hsv(@hue, @sat, @val);}
	.val-lite {@val:  75%; background-color: hsv(@hue, @sat, @val);}
	.val-medi {@val:  50%; background-color: hsv(@hue, @sat, @val);}
	.val-dark {@val:  25%; background-color: hsv(@hue, @sat, @val);}
}

.val-full {color: #000;}
.val-lite,
.val-medi,
.val-dark {color: #fff;}
//++++ @end COLOR PALETTES ++++//

//++++++++++++++//
/*@COLOR SCHEMES*/
//++++++++++++++//
//++++ @end COLOR SCHEMES ++++//
#colors-portal,
#colors-code {
	.Gcol {&:extend(.cellpaddingdefault);}
}
#aperture_white {background-color: @aperture_white;}
#aperture_black {background-color: @aperture_black;}
#atlas          {background-color: @atlas;}
#pbody          {background-color: @pbody;}
#repulsion      {background-color: @repulsion;}
#propulsion     {background-color: @propulsion;}
#deploying      {background-color: @deploying;}
#hereye         {background-color: @hereye;}
#lakesuperior   {background-color: @lakesuperior;}
#cavescaves     {background-color: @cavescaves;}
#facilityabyss  {background-color: @facilityabyss;}
#asbestos       {background-color: @asbestos;}
#vilify         {background-color: @vilify;}
#neurotoxin     {background-color: @neurotoxin;}
#bridges        {background-color: @bridges;}
#companion      {background-color: @companion;}

#solarized_base03  {background-color: @solarized_base03;}
#solarized_base02  {background-color: @solarized_base02;}
#solarized_base01  {background-color: @solarized_base01;}
#solarized_base00  {background-color: @solarized_base00;}
#solarized_base0   {background-color: @solarized_base0;}
#solarized_base1   {background-color: @solarized_base1;}
#solarized_base2   {background-color: @solarized_base2;}
#solarized_base3   {background-color: @solarized_base3;}
#solarized_yellow  {background-color: @solarized_yellow;}
#solarized_orange  {background-color: @solarized_orange;}
#solarized_red     {background-color: @solarized_red;}
#solarized_magenta {background-color: @solarized_magenta;}
#solarized_violet  {background-color: @solarized_violet;}
#solarized_blue    {background-color: @solarized_blue;}
#solarized_cyan    {background-color: @solarized_cyan;}
#solarized_green   {background-color: @solarized_green;}

#color_msg_warn_brdr {background-color: @color_msg_warn_brdr;}
#color_msg_cshn_brdr {background-color: @color_msg_cshn_brdr;}
#color_msg_skss_brdr {background-color: @color_msg_skss_brdr;}
#color_msg_info_brdr {background-color: @color_msg_info_brdr;}
#color_msg_help_brdr {background-color: @color_msg_help_brdr;}
#color_msg_warn_txt {background-color: @color_msg_warn_txt;}
#color_msg_cshn_txt {background-color: @color_msg_cshn_txt;}
#color_msg_skss_txt {background-color: @color_msg_skss_txt;}
#color_msg_info_txt {background-color: @color_msg_info_txt;}
#color_msg_help_txt {background-color: @color_msg_help_txt;}
#color_msg_warn_bg {background-color: @color_msg_warn_bg;}
#color_msg_cshn_bg {background-color: @color_msg_cshn_bg;}
#color_msg_skss_bg {background-color: @color_msg_skss_bg;}
#color_msg_info_bg {background-color: @color_msg_info_bg;}
#color_msg_help_bg {background-color: @color_msg_help_bg;}

#aperture_black,
#lakesuperior,
#cavescaves,
#facilityabyss,
#asbestos,
#vilify,
#solarized_base03,
#solarized_base02,
#color_msg_warn_txt,
#color_msg_cshn_txt,
#color_msg_skss_txt,
#color_msg_info_txt,
#color_msg_help_txt {
	    color: fadeout(@aperture_white, @golden3);
	h1 {color: fadeout(@aperture_white, @golden3);}
}
