.Cell,
.Code.Block,
.Msg,
#colors-portal .Gcol,
#colors-code .Gcol {
  padding: 12px 7.41640786px;
  padding: 0.75rem 7.41640786px;
}
.Map.Vert::after,
.CSS .Ruleset::after {
  content: ' ';
  clear: both;
  display: table;
}
.parens::before,
.quotes-double::before,
.quotes-single::before,
.guillemets::before,
.Qblock.Long .Src::before,
q::before,
.Th::before {
  content: open-quote;
}
.parens::after,
.quotes-double::after,
.quotes-single::after,
.guillemets::after,
.Qblock.Long .Src::after,
q::after,
.Th::after {
  content: close-quote;
}
.Qblock.Long .Src {
  quotes: '(' ')';
}
q {
  quotes: '\201c' '\201d';
}
.Th {
  quotes: '\00ab' '\00bb';
}
.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
.fontsize-lrg-inline,
.Qblock {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.Qblock.Long,
.Qblock.Long .Src {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.fontsize-sml-inline,
.Capt,
.Qblock .Src,
.Table,
.Code.Block,
.Msg,
.Code,
.Dir,
.Key,
sup,
sub,
.Button,
code {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.fontsize-lrg-inline,
.fontsize-sml-inline,
.Code,
.Dir,
.Key,
sup,
sub,
.Button,
code {
  display: inline;
  line-height: inherit;
}
.P,
.Capt,
.Addy,
.Fig,
.Qblock,
.List > .Item,
.Map > .Term,
.Map > .Desc,
.Cell,
.Code.Block,
.Msg {
  min-height: 24px;
  min-height: 1.5rem;
}
.Fig > :first-child,
.Qblock > :first-child,
.List > .Item > .List,
.Map > .Term > .Map,
.Map > .Desc > .Map {
  margin-top: 0;
}
.P,
.Qblock.Long .Src,
.List,
.Map,
.Table {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.P.Intro {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.Addy,
.Fig,
.Qblock {
  padding-top: 9.16718427px;
  border-top: 0 solid #000000;
  margin-top: 14.83281573px;
}
.List > .Item > .List,
.List.O,
.List.U {
  padding-left: 48px;
}
.Code,
.Code.Block.CSS.Invert,
code {
  border-color: #eee8d5;
  color: #657b83;
  background-color: #fdf6e3;
}
.Code .Comm,
.Code.Block.CSS.Invert .Comm,
code .Comm {
  color: #93a1a1;
}
.Code.Block,
.Key {
  border-color: #073642;
  color: #839496;
  background-color: #002b36;
}
.Code.Block .Comm,
.Key .Comm {
  color: #586e75;
}
code {
  display: inline;
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-family: 'Menlo', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: nowrap;
}
/*---------------*\
    colors.less
\*---------------*/
/*@COLOR PALETTES*/
#palettes {
  width: 161.80339887%;
  position: relative;
  left: -38.19660113%;
}
.colortable {
  width: 100%;
  white-space: nowrap;
}
.colortable th,
.colortable td {
  border: 1px solid #808080;
}
.colortable tbody th {
  width: 11.11%;
}
.colortable tbody td {
  width: 22.22%;
}
.colorname,
.colorcode {
  display: block;
}
.colorname {
  font-weight: bold;
  color: inherit !important;
}
.colorname:hover {
  text-decoration: underline;
}
.colorcode {
  border: 0;
  color: inherit;
  background-color: transparent;
}
.hue-127 .sat-alph .val-full {
  background-color: #00ff1e;
}
.hue-127 .sat-alph .val-lite {
  background-color: #00bf16;
}
.hue-127 .sat-alph .val-medi {
  background-color: #00800f;
}
.hue-127 .sat-alph .val-dark {
  background-color: #004007;
}
.hue-127 .sat-beta .val-full {
  background-color: #2bff43;
}
.hue-127 .sat-beta .val-lite {
  background-color: #20bf32;
}
.hue-127 .sat-beta .val-medi {
  background-color: #158022;
}
.hue-127 .sat-beta .val-dark {
  background-color: #0b4011;
}
.hue-127 .sat-gamm .val-full {
  background-color: #55ff69;
}
.hue-127 .sat-gamm .val-lite {
  background-color: #40bf4f;
}
.hue-127 .sat-gamm .val-medi {
  background-color: #2b8034;
}
.hue-127 .sat-gamm .val-dark {
  background-color: #15401a;
}
.hue-127 .sat-delt .val-full {
  background-color: #80ff8e;
}
.hue-127 .sat-delt .val-lite {
  background-color: #60bf6b;
}
.hue-127 .sat-delt .val-medi {
  background-color: #408047;
}
.hue-127 .sat-delt .val-dark {
  background-color: #204024;
}
.hue-127 .sat-epsi .val-full {
  background-color: #aaffb4;
}
.hue-127 .sat-epsi .val-lite {
  background-color: #80bf87;
}
.hue-127 .sat-epsi .val-medi {
  background-color: #55805a;
}
.hue-127 .sat-epsi .val-dark {
  background-color: #2b402d;
}
.hue-127 .sat-zeta .val-full {
  background-color: #d5ffd9;
}
.hue-127 .sat-zeta .val-lite {
  background-color: #9fbfa3;
}
.hue-127 .sat-zeta .val-medi {
  background-color: #6a806d;
}
.hue-127 .sat-zeta .val-dark {
  background-color: #354036;
}
.hue-163 .sat-alph .val-full {
  background-color: #00ffb7;
}
.hue-163 .sat-alph .val-lite {
  background-color: #00bf89;
}
.hue-163 .sat-alph .val-medi {
  background-color: #00805b;
}
.hue-163 .sat-alph .val-dark {
  background-color: #00402e;
}
.hue-163 .sat-beta .val-full {
  background-color: #2bffc3;
}
.hue-163 .sat-beta .val-lite {
  background-color: #20bf92;
}
.hue-163 .sat-beta .val-medi {
  background-color: #158061;
}
.hue-163 .sat-beta .val-dark {
  background-color: #0b4031;
}
.hue-163 .sat-gamm .val-full {
  background-color: #55ffcf;
}
.hue-163 .sat-gamm .val-lite {
  background-color: #40bf9b;
}
.hue-163 .sat-gamm .val-medi {
  background-color: #2b8067;
}
.hue-163 .sat-gamm .val-dark {
  background-color: #154034;
}
.hue-163 .sat-delt .val-full {
  background-color: #80ffdb;
}
.hue-163 .sat-delt .val-lite {
  background-color: #60bfa4;
}
.hue-163 .sat-delt .val-medi {
  background-color: #40806d;
}
.hue-163 .sat-delt .val-dark {
  background-color: #204037;
}
.hue-163 .sat-epsi .val-full {
  background-color: #aaffe7;
}
.hue-163 .sat-epsi .val-lite {
  background-color: #80bfad;
}
.hue-163 .sat-epsi .val-medi {
  background-color: #558073;
}
.hue-163 .sat-epsi .val-dark {
  background-color: #2b403a;
}
.hue-163 .sat-zeta .val-full {
  background-color: #d5fff3;
}
.hue-163 .sat-zeta .val-lite {
  background-color: #9fbfb6;
}
.hue-163 .sat-zeta .val-medi {
  background-color: #6a8079;
}
.hue-163 .sat-zeta .val-dark {
  background-color: #35403d;
}
.hue-185 .sat-alph .val-full {
  background-color: #00eaff;
}
.hue-185 .sat-alph .val-lite {
  background-color: #00afbf;
}
.hue-185 .sat-alph .val-medi {
  background-color: #007580;
}
.hue-185 .sat-alph .val-dark {
  background-color: #003a40;
}
.hue-185 .sat-beta .val-full {
  background-color: #2bedff;
}
.hue-185 .sat-beta .val-lite {
  background-color: #20b2bf;
}
.hue-185 .sat-beta .val-medi {
  background-color: #157780;
}
.hue-185 .sat-beta .val-dark {
  background-color: #0b3b40;
}
.hue-185 .sat-gamm .val-full {
  background-color: #55f1ff;
}
.hue-185 .sat-gamm .val-lite {
  background-color: #40b5bf;
}
.hue-185 .sat-gamm .val-medi {
  background-color: #2b7880;
}
.hue-185 .sat-gamm .val-dark {
  background-color: #153c40;
}
.hue-185 .sat-delt .val-full {
  background-color: #80f4ff;
}
.hue-185 .sat-delt .val-lite {
  background-color: #60b7bf;
}
.hue-185 .sat-delt .val-medi {
  background-color: #407a80;
}
.hue-185 .sat-delt .val-dark {
  background-color: #203d40;
}
.hue-185 .sat-epsi .val-full {
  background-color: #aaf8ff;
}
.hue-185 .sat-epsi .val-lite {
  background-color: #80babf;
}
.hue-185 .sat-epsi .val-medi {
  background-color: #557c80;
}
.hue-185 .sat-epsi .val-dark {
  background-color: #2b3e40;
}
.hue-185 .sat-zeta .val-full {
  background-color: #d5fbff;
}
.hue-185 .sat-zeta .val-lite {
  background-color: #9fbdbf;
}
.hue-185 .sat-zeta .val-medi {
  background-color: #6a7e80;
}
.hue-185 .sat-zeta .val-dark {
  background-color: #353f40;
}
.hue-199 .sat-alph .val-full {
  background-color: #00aeff;
}
.hue-199 .sat-alph .val-lite {
  background-color: #0083bf;
}
.hue-199 .sat-alph .val-medi {
  background-color: #005780;
}
.hue-199 .sat-alph .val-dark {
  background-color: #002c40;
}
.hue-199 .sat-beta .val-full {
  background-color: #2bbcff;
}
.hue-199 .sat-beta .val-lite {
  background-color: #208dbf;
}
.hue-199 .sat-beta .val-medi {
  background-color: #155e80;
}
.hue-199 .sat-beta .val-dark {
  background-color: #0b2f40;
}
.hue-199 .sat-gamm .val-full {
  background-color: #55c9ff;
}
.hue-199 .sat-gamm .val-lite {
  background-color: #4097bf;
}
.hue-199 .sat-gamm .val-medi {
  background-color: #2b6580;
}
.hue-199 .sat-gamm .val-dark {
  background-color: #153240;
}
.hue-199 .sat-delt .val-full {
  background-color: #80d7ff;
}
.hue-199 .sat-delt .val-lite {
  background-color: #60a1bf;
}
.hue-199 .sat-delt .val-medi {
  background-color: #406b80;
}
.hue-199 .sat-delt .val-dark {
  background-color: #203640;
}
.hue-199 .sat-epsi .val-full {
  background-color: #aae4ff;
}
.hue-199 .sat-epsi .val-lite {
  background-color: #80abbf;
}
.hue-199 .sat-epsi .val-medi {
  background-color: #557280;
}
.hue-199 .sat-epsi .val-dark {
  background-color: #2b3940;
}
.hue-199 .sat-zeta .val-full {
  background-color: #d5f2ff;
}
.hue-199 .sat-zeta .val-lite {
  background-color: #9fb5bf;
}
.hue-199 .sat-zeta .val-medi {
  background-color: #6a7980;
}
.hue-199 .sat-zeta .val-dark {
  background-color: #353c40;
}
.hue-208 .sat-alph .val-full {
  background-color: #0088ff;
}
.hue-208 .sat-alph .val-lite {
  background-color: #0066bf;
}
.hue-208 .sat-alph .val-medi {
  background-color: #004480;
}
.hue-208 .sat-alph .val-dark {
  background-color: #002240;
}
.hue-208 .sat-beta .val-full {
  background-color: #2b9cff;
}
.hue-208 .sat-beta .val-lite {
  background-color: #2075bf;
}
.hue-208 .sat-beta .val-medi {
  background-color: #154e80;
}
.hue-208 .sat-beta .val-dark {
  background-color: #0b2740;
}
.hue-208 .sat-gamm .val-full {
  background-color: #55b0ff;
}
.hue-208 .sat-gamm .val-lite {
  background-color: #4084bf;
}
.hue-208 .sat-gamm .val-medi {
  background-color: #2b5880;
}
.hue-208 .sat-gamm .val-dark {
  background-color: #152c40;
}
.hue-208 .sat-delt .val-full {
  background-color: #80c4ff;
}
.hue-208 .sat-delt .val-lite {
  background-color: #6093bf;
}
.hue-208 .sat-delt .val-medi {
  background-color: #406280;
}
.hue-208 .sat-delt .val-dark {
  background-color: #203140;
}
.hue-208 .sat-epsi .val-full {
  background-color: #aad7ff;
}
.hue-208 .sat-epsi .val-lite {
  background-color: #80a2bf;
}
.hue-208 .sat-epsi .val-medi {
  background-color: #556c80;
}
.hue-208 .sat-epsi .val-dark {
  background-color: #2b3640;
}
.hue-208 .sat-zeta .val-full {
  background-color: #d5ebff;
}
.hue-208 .sat-zeta .val-lite {
  background-color: #9fb0bf;
}
.hue-208 .sat-zeta .val-medi {
  background-color: #6a7680;
}
.hue-208 .sat-zeta .val-dark {
  background-color: #353b40;
}
.hue-213 .sat-alph .val-full {
  background-color: #0073ff;
}
.hue-213 .sat-alph .val-lite {
  background-color: #0056bf;
}
.hue-213 .sat-alph .val-medi {
  background-color: #003980;
}
.hue-213 .sat-alph .val-dark {
  background-color: #001d40;
}
.hue-213 .sat-beta .val-full {
  background-color: #2b8aff;
}
.hue-213 .sat-beta .val-lite {
  background-color: #2068bf;
}
.hue-213 .sat-beta .val-medi {
  background-color: #154580;
}
.hue-213 .sat-beta .val-dark {
  background-color: #0b2340;
}
.hue-213 .sat-gamm .val-full {
  background-color: #55a2ff;
}
.hue-213 .sat-gamm .val-lite {
  background-color: #4079bf;
}
.hue-213 .sat-gamm .val-medi {
  background-color: #2b5180;
}
.hue-213 .sat-gamm .val-dark {
  background-color: #152840;
}
.hue-213 .sat-delt .val-full {
  background-color: #80b9ff;
}
.hue-213 .sat-delt .val-lite {
  background-color: #608bbf;
}
.hue-213 .sat-delt .val-medi {
  background-color: #405c80;
}
.hue-213 .sat-delt .val-dark {
  background-color: #202e40;
}
.hue-213 .sat-epsi .val-full {
  background-color: #aad0ff;
}
.hue-213 .sat-epsi .val-lite {
  background-color: #809cbf;
}
.hue-213 .sat-epsi .val-medi {
  background-color: #556880;
}
.hue-213 .sat-epsi .val-dark {
  background-color: #2b3440;
}
.hue-213 .sat-zeta .val-full {
  background-color: #d5e8ff;
}
.hue-213 .sat-zeta .val-lite {
  background-color: #9faebf;
}
.hue-213 .sat-zeta .val-medi {
  background-color: #6a7480;
}
.hue-213 .sat-zeta .val-dark {
  background-color: #353a40;
}
.hue-217 .sat-alph .val-full {
  background-color: #0062ff;
}
.hue-217 .sat-alph .val-lite {
  background-color: #0049bf;
}
.hue-217 .sat-alph .val-medi {
  background-color: #003180;
}
.hue-217 .sat-alph .val-dark {
  background-color: #001840;
}
.hue-217 .sat-beta .val-full {
  background-color: #2b7cff;
}
.hue-217 .sat-beta .val-lite {
  background-color: #205dbf;
}
.hue-217 .sat-beta .val-medi {
  background-color: #153e80;
}
.hue-217 .sat-beta .val-dark {
  background-color: #0b1f40;
}
.hue-217 .sat-gamm .val-full {
  background-color: #5596ff;
}
.hue-217 .sat-gamm .val-lite {
  background-color: #4071bf;
}
.hue-217 .sat-gamm .val-medi {
  background-color: #2b4b80;
}
.hue-217 .sat-gamm .val-dark {
  background-color: #152640;
}
.hue-217 .sat-delt .val-full {
  background-color: #80b0ff;
}
.hue-217 .sat-delt .val-lite {
  background-color: #6084bf;
}
.hue-217 .sat-delt .val-medi {
  background-color: #405880;
}
.hue-217 .sat-delt .val-dark {
  background-color: #202c40;
}
.hue-217 .sat-epsi .val-full {
  background-color: #aacbff;
}
.hue-217 .sat-epsi .val-lite {
  background-color: #8098bf;
}
.hue-217 .sat-epsi .val-medi {
  background-color: #556580;
}
.hue-217 .sat-epsi .val-dark {
  background-color: #2b3340;
}
.hue-217 .sat-zeta .val-full {
  background-color: #d5e5ff;
}
.hue-217 .sat-zeta .val-lite {
  background-color: #9facbf;
}
.hue-217 .sat-zeta .val-medi {
  background-color: #6a7280;
}
.hue-217 .sat-zeta .val-dark {
  background-color: #353940;
}
.hue-221 .sat-alph .val-full {
  background-color: #0051ff;
}
.hue-221 .sat-alph .val-lite {
  background-color: #003dbf;
}
.hue-221 .sat-alph .val-medi {
  background-color: #002880;
}
.hue-221 .sat-alph .val-dark {
  background-color: #001440;
}
.hue-221 .sat-beta .val-full {
  background-color: #2b6eff;
}
.hue-221 .sat-beta .val-lite {
  background-color: #2052bf;
}
.hue-221 .sat-beta .val-medi {
  background-color: #153780;
}
.hue-221 .sat-beta .val-dark {
  background-color: #0b1b40;
}
.hue-221 .sat-gamm .val-full {
  background-color: #558bff;
}
.hue-221 .sat-gamm .val-lite {
  background-color: #4068bf;
}
.hue-221 .sat-gamm .val-medi {
  background-color: #2b4580;
}
.hue-221 .sat-gamm .val-dark {
  background-color: #152340;
}
.hue-221 .sat-delt .val-full {
  background-color: #80a8ff;
}
.hue-221 .sat-delt .val-lite {
  background-color: #607ebf;
}
.hue-221 .sat-delt .val-medi {
  background-color: #405480;
}
.hue-221 .sat-delt .val-dark {
  background-color: #202a40;
}
.hue-221 .sat-epsi .val-full {
  background-color: #aac5ff;
}
.hue-221 .sat-epsi .val-lite {
  background-color: #8094bf;
}
.hue-221 .sat-epsi .val-medi {
  background-color: #556280;
}
.hue-221 .sat-epsi .val-dark {
  background-color: #2b3140;
}
.hue-221 .sat-zeta .val-full {
  background-color: #d5e2ff;
}
.hue-221 .sat-zeta .val-lite {
  background-color: #9fa9bf;
}
.hue-221 .sat-zeta .val-medi {
  background-color: #6a7180;
}
.hue-221 .sat-zeta .val-dark {
  background-color: #353840;
}
.hue-226 .sat-alph .val-full {
  background-color: #003cff;
}
.hue-226 .sat-alph .val-lite {
  background-color: #002dbf;
}
.hue-226 .sat-alph .val-medi {
  background-color: #001e80;
}
.hue-226 .sat-alph .val-dark {
  background-color: #000f40;
}
.hue-226 .sat-beta .val-full {
  background-color: #2b5cff;
}
.hue-226 .sat-beta .val-lite {
  background-color: #2045bf;
}
.hue-226 .sat-beta .val-medi {
  background-color: #152e80;
}
.hue-226 .sat-beta .val-dark {
  background-color: #0b1740;
}
.hue-226 .sat-gamm .val-full {
  background-color: #557dff;
}
.hue-226 .sat-gamm .val-lite {
  background-color: #405ebf;
}
.hue-226 .sat-gamm .val-medi {
  background-color: #2b3e80;
}
.hue-226 .sat-gamm .val-dark {
  background-color: #151f40;
}
.hue-226 .sat-delt .val-full {
  background-color: #809dff;
}
.hue-226 .sat-delt .val-lite {
  background-color: #6076bf;
}
.hue-226 .sat-delt .val-medi {
  background-color: #404f80;
}
.hue-226 .sat-delt .val-dark {
  background-color: #202740;
}
.hue-226 .sat-epsi .val-full {
  background-color: #aabeff;
}
.hue-226 .sat-epsi .val-lite {
  background-color: #808ebf;
}
.hue-226 .sat-epsi .val-medi {
  background-color: #555f80;
}
.hue-226 .sat-epsi .val-dark {
  background-color: #2b2f40;
}
.hue-226 .sat-zeta .val-full {
  background-color: #d5deff;
}
.hue-226 .sat-zeta .val-lite {
  background-color: #9fa7bf;
}
.hue-226 .sat-zeta .val-medi {
  background-color: #6a6f80;
}
.hue-226 .sat-zeta .val-dark {
  background-color: #353840;
}
.hue-235 .sat-alph .val-full {
  background-color: #0015ff;
}
.hue-235 .sat-alph .val-lite {
  background-color: #0010bf;
}
.hue-235 .sat-alph .val-medi {
  background-color: #000b80;
}
.hue-235 .sat-alph .val-dark {
  background-color: #000540;
}
.hue-235 .sat-beta .val-full {
  background-color: #2b3cff;
}
.hue-235 .sat-beta .val-lite {
  background-color: #202dbf;
}
.hue-235 .sat-beta .val-medi {
  background-color: #151e80;
}
.hue-235 .sat-beta .val-dark {
  background-color: #0b0f40;
}
.hue-235 .sat-gamm .val-full {
  background-color: #5563ff;
}
.hue-235 .sat-gamm .val-lite {
  background-color: #404abf;
}
.hue-235 .sat-gamm .val-medi {
  background-color: #2b3280;
}
.hue-235 .sat-gamm .val-dark {
  background-color: #151940;
}
.hue-235 .sat-delt .val-full {
  background-color: #808aff;
}
.hue-235 .sat-delt .val-lite {
  background-color: #6068bf;
}
.hue-235 .sat-delt .val-medi {
  background-color: #404580;
}
.hue-235 .sat-delt .val-dark {
  background-color: #202340;
}
.hue-235 .sat-epsi .val-full {
  background-color: #aab1ff;
}
.hue-235 .sat-epsi .val-lite {
  background-color: #8085bf;
}
.hue-235 .sat-epsi .val-medi {
  background-color: #555980;
}
.hue-235 .sat-epsi .val-dark {
  background-color: #2b2c40;
}
.hue-235 .sat-zeta .val-full {
  background-color: #d5d8ff;
}
.hue-235 .sat-zeta .val-lite {
  background-color: #9fa2bf;
}
.hue-235 .sat-zeta .val-medi {
  background-color: #6a6c80;
}
.hue-235 .sat-zeta .val-dark {
  background-color: #353640;
}
.hue-249 .sat-alph .val-full {
  background-color: #2600ff;
}
.hue-249 .sat-alph .val-lite {
  background-color: #1d00bf;
}
.hue-249 .sat-alph .val-medi {
  background-color: #130080;
}
.hue-249 .sat-alph .val-dark {
  background-color: #0a0040;
}
.hue-249 .sat-beta .val-full {
  background-color: #4a2bff;
}
.hue-249 .sat-beta .val-lite {
  background-color: #3820bf;
}
.hue-249 .sat-beta .val-medi {
  background-color: #251580;
}
.hue-249 .sat-beta .val-dark {
  background-color: #130b40;
}
.hue-249 .sat-gamm .val-full {
  background-color: #6f55ff;
}
.hue-249 .sat-gamm .val-lite {
  background-color: #5340bf;
}
.hue-249 .sat-gamm .val-medi {
  background-color: #372b80;
}
.hue-249 .sat-gamm .val-dark {
  background-color: #1c1540;
}
.hue-249 .sat-delt .val-full {
  background-color: #9380ff;
}
.hue-249 .sat-delt .val-lite {
  background-color: #6e60bf;
}
.hue-249 .sat-delt .val-medi {
  background-color: #494080;
}
.hue-249 .sat-delt .val-dark {
  background-color: #252040;
}
.hue-249 .sat-epsi .val-full {
  background-color: #b7aaff;
}
.hue-249 .sat-epsi .val-lite {
  background-color: #8980bf;
}
.hue-249 .sat-epsi .val-medi {
  background-color: #5b5580;
}
.hue-249 .sat-epsi .val-dark {
  background-color: #2e2b40;
}
.hue-249 .sat-zeta .val-full {
  background-color: #dbd5ff;
}
.hue-249 .sat-zeta .val-lite {
  background-color: #a49fbf;
}
.hue-249 .sat-zeta .val-medi {
  background-color: #6d6a80;
}
.hue-249 .sat-zeta .val-dark {
  background-color: #373540;
}
.hue-271 .sat-alph .val-full {
  background-color: #8400ff;
}
.hue-271 .sat-alph .val-lite {
  background-color: #6300bf;
}
.hue-271 .sat-alph .val-medi {
  background-color: #420080;
}
.hue-271 .sat-alph .val-dark {
  background-color: #210040;
}
.hue-271 .sat-beta .val-full {
  background-color: #982bff;
}
.hue-271 .sat-beta .val-lite {
  background-color: #7220bf;
}
.hue-271 .sat-beta .val-medi {
  background-color: #4c1580;
}
.hue-271 .sat-beta .val-dark {
  background-color: #260b40;
}
.hue-271 .sat-gamm .val-full {
  background-color: #ad55ff;
}
.hue-271 .sat-gamm .val-lite {
  background-color: #8240bf;
}
.hue-271 .sat-gamm .val-medi {
  background-color: #562b80;
}
.hue-271 .sat-gamm .val-dark {
  background-color: #2b1540;
}
.hue-271 .sat-delt .val-full {
  background-color: #c180ff;
}
.hue-271 .sat-delt .val-lite {
  background-color: #9160bf;
}
.hue-271 .sat-delt .val-medi {
  background-color: #614080;
}
.hue-271 .sat-delt .val-dark {
  background-color: #302040;
}
.hue-271 .sat-epsi .val-full {
  background-color: #d6aaff;
}
.hue-271 .sat-epsi .val-lite {
  background-color: #a080bf;
}
.hue-271 .sat-epsi .val-medi {
  background-color: #6b5580;
}
.hue-271 .sat-epsi .val-dark {
  background-color: #352b40;
}
.hue-271 .sat-zeta .val-full {
  background-color: #ead5ff;
}
.hue-271 .sat-zeta .val-lite {
  background-color: #b09fbf;
}
.hue-271 .sat-zeta .val-medi {
  background-color: #756a80;
}
.hue-271 .sat-zeta .val-dark {
  background-color: #3b3540;
}
.hue-307 .sat-alph .val-full {
  background-color: #ff00e1;
}
.hue-307 .sat-alph .val-lite {
  background-color: #bf00a9;
}
.hue-307 .sat-alph .val-medi {
  background-color: #800071;
}
.hue-307 .sat-alph .val-dark {
  background-color: #400038;
}
.hue-307 .sat-beta .val-full {
  background-color: #ff2be6;
}
.hue-307 .sat-beta .val-lite {
  background-color: #bf20ad;
}
.hue-307 .sat-beta .val-medi {
  background-color: #801573;
}
.hue-307 .sat-beta .val-dark {
  background-color: #400b3a;
}
.hue-307 .sat-gamm .val-full {
  background-color: #ff55eb;
}
.hue-307 .sat-gamm .val-lite {
  background-color: #bf40b0;
}
.hue-307 .sat-gamm .val-medi {
  background-color: #802b76;
}
.hue-307 .sat-gamm .val-dark {
  background-color: #40153b;
}
.hue-307 .sat-delt .val-full {
  background-color: #ff80f0;
}
.hue-307 .sat-delt .val-lite {
  background-color: #bf60b4;
}
.hue-307 .sat-delt .val-medi {
  background-color: #804078;
}
.hue-307 .sat-delt .val-dark {
  background-color: #40203c;
}
.hue-307 .sat-epsi .val-full {
  background-color: #ffaaf5;
}
.hue-307 .sat-epsi .val-lite {
  background-color: #bf80b8;
}
.hue-307 .sat-epsi .val-medi {
  background-color: #80557b;
}
.hue-307 .sat-epsi .val-dark {
  background-color: #402b3d;
}
.hue-307 .sat-zeta .val-full {
  background-color: #ffd5fa;
}
.hue-307 .sat-zeta .val-lite {
  background-color: #bf9fbc;
}
.hue-307 .sat-zeta .val-medi {
  background-color: #806a7d;
}
.hue-307 .sat-zeta .val-dark {
  background-color: #40353f;
}
.hue-343 .sat-alph .val-full {
  background-color: #ff0048;
}
.hue-343 .sat-alph .val-lite {
  background-color: #bf0036;
}
.hue-343 .sat-alph .val-medi {
  background-color: #800024;
}
.hue-343 .sat-alph .val-dark {
  background-color: #400012;
}
.hue-343 .sat-beta .val-full {
  background-color: #ff2b67;
}
.hue-343 .sat-beta .val-lite {
  background-color: #bf204d;
}
.hue-343 .sat-beta .val-medi {
  background-color: #801533;
}
.hue-343 .sat-beta .val-dark {
  background-color: #400b1a;
}
.hue-343 .sat-gamm .val-full {
  background-color: #ff5585;
}
.hue-343 .sat-gamm .val-lite {
  background-color: #bf4064;
}
.hue-343 .sat-gamm .val-medi {
  background-color: #802b43;
}
.hue-343 .sat-gamm .val-dark {
  background-color: #401521;
}
.hue-343 .sat-delt .val-full {
  background-color: #ff80a4;
}
.hue-343 .sat-delt .val-lite {
  background-color: #bf607b;
}
.hue-343 .sat-delt .val-medi {
  background-color: #804052;
}
.hue-343 .sat-delt .val-dark {
  background-color: #402029;
}
.hue-343 .sat-epsi .val-full {
  background-color: #ffaac2;
}
.hue-343 .sat-epsi .val-lite {
  background-color: #bf8092;
}
.hue-343 .sat-epsi .val-medi {
  background-color: #805561;
}
.hue-343 .sat-epsi .val-dark {
  background-color: #402b31;
}
.hue-343 .sat-zeta .val-full {
  background-color: #ffd5e1;
}
.hue-343 .sat-zeta .val-lite {
  background-color: #bf9fa8;
}
.hue-343 .sat-zeta .val-medi {
  background-color: #806a70;
}
.hue-343 .sat-zeta .val-dark {
  background-color: #403538;
}
.hue-5 .sat-alph .val-full {
  background-color: #ff1500;
}
.hue-5 .sat-alph .val-lite {
  background-color: #bf1000;
}
.hue-5 .sat-alph .val-medi {
  background-color: #800b00;
}
.hue-5 .sat-alph .val-dark {
  background-color: #400500;
}
.hue-5 .sat-beta .val-full {
  background-color: #ff3c2b;
}
.hue-5 .sat-beta .val-lite {
  background-color: #bf2d20;
}
.hue-5 .sat-beta .val-medi {
  background-color: #801e15;
}
.hue-5 .sat-beta .val-dark {
  background-color: #400f0b;
}
.hue-5 .sat-gamm .val-full {
  background-color: #ff6355;
}
.hue-5 .sat-gamm .val-lite {
  background-color: #bf4a40;
}
.hue-5 .sat-gamm .val-medi {
  background-color: #80322b;
}
.hue-5 .sat-gamm .val-dark {
  background-color: #401915;
}
.hue-5 .sat-delt .val-full {
  background-color: #ff8a80;
}
.hue-5 .sat-delt .val-lite {
  background-color: #bf6860;
}
.hue-5 .sat-delt .val-medi {
  background-color: #804540;
}
.hue-5 .sat-delt .val-dark {
  background-color: #402320;
}
.hue-5 .sat-epsi .val-full {
  background-color: #ffb1aa;
}
.hue-5 .sat-epsi .val-lite {
  background-color: #bf8580;
}
.hue-5 .sat-epsi .val-medi {
  background-color: #805955;
}
.hue-5 .sat-epsi .val-dark {
  background-color: #402c2b;
}
.hue-5 .sat-zeta .val-full {
  background-color: #ffd8d5;
}
.hue-5 .sat-zeta .val-lite {
  background-color: #bfa29f;
}
.hue-5 .sat-zeta .val-medi {
  background-color: #806c6a;
}
.hue-5 .sat-zeta .val-dark {
  background-color: #403635;
}
.hue-19 .sat-alph .val-full {
  background-color: #ff5100;
}
.hue-19 .sat-alph .val-lite {
  background-color: #bf3d00;
}
.hue-19 .sat-alph .val-medi {
  background-color: #802800;
}
.hue-19 .sat-alph .val-dark {
  background-color: #401400;
}
.hue-19 .sat-beta .val-full {
  background-color: #ff6e2b;
}
.hue-19 .sat-beta .val-lite {
  background-color: #bf5220;
}
.hue-19 .sat-beta .val-medi {
  background-color: #803715;
}
.hue-19 .sat-beta .val-dark {
  background-color: #401b0b;
}
.hue-19 .sat-gamm .val-full {
  background-color: #ff8b55;
}
.hue-19 .sat-gamm .val-lite {
  background-color: #bf6840;
}
.hue-19 .sat-gamm .val-medi {
  background-color: #80452b;
}
.hue-19 .sat-gamm .val-dark {
  background-color: #402315;
}
.hue-19 .sat-delt .val-full {
  background-color: #ffa880;
}
.hue-19 .sat-delt .val-lite {
  background-color: #bf7e60;
}
.hue-19 .sat-delt .val-medi {
  background-color: #805440;
}
.hue-19 .sat-delt .val-dark {
  background-color: #402a20;
}
.hue-19 .sat-epsi .val-full {
  background-color: #ffc5aa;
}
.hue-19 .sat-epsi .val-lite {
  background-color: #bf9480;
}
.hue-19 .sat-epsi .val-medi {
  background-color: #806255;
}
.hue-19 .sat-epsi .val-dark {
  background-color: #40312b;
}
.hue-19 .sat-zeta .val-full {
  background-color: #ffe2d5;
}
.hue-19 .sat-zeta .val-lite {
  background-color: #bfa99f;
}
.hue-19 .sat-zeta .val-medi {
  background-color: #80716a;
}
.hue-19 .sat-zeta .val-dark {
  background-color: #403835;
}
.hue-28 .sat-alph .val-full {
  background-color: #ff7700;
}
.hue-28 .sat-alph .val-lite {
  background-color: #bf5900;
}
.hue-28 .sat-alph .val-medi {
  background-color: #803c00;
}
.hue-28 .sat-alph .val-dark {
  background-color: #401e00;
}
.hue-28 .sat-beta .val-full {
  background-color: #ff8e2b;
}
.hue-28 .sat-beta .val-lite {
  background-color: #bf6a20;
}
.hue-28 .sat-beta .val-medi {
  background-color: #804715;
}
.hue-28 .sat-beta .val-dark {
  background-color: #40230b;
}
.hue-28 .sat-gamm .val-full {
  background-color: #ffa455;
}
.hue-28 .sat-gamm .val-lite {
  background-color: #bf7b40;
}
.hue-28 .sat-gamm .val-medi {
  background-color: #80522b;
}
.hue-28 .sat-gamm .val-dark {
  background-color: #402915;
}
.hue-28 .sat-delt .val-full {
  background-color: #ffbb80;
}
.hue-28 .sat-delt .val-lite {
  background-color: #bf8c60;
}
.hue-28 .sat-delt .val-medi {
  background-color: #805e40;
}
.hue-28 .sat-delt .val-dark {
  background-color: #402f20;
}
.hue-28 .sat-epsi .val-full {
  background-color: #ffd2aa;
}
.hue-28 .sat-epsi .val-lite {
  background-color: #bf9d80;
}
.hue-28 .sat-epsi .val-medi {
  background-color: #806955;
}
.hue-28 .sat-epsi .val-dark {
  background-color: #40342b;
}
.hue-28 .sat-zeta .val-full {
  background-color: #ffe8d5;
}
.hue-28 .sat-zeta .val-lite {
  background-color: #bfae9f;
}
.hue-28 .sat-zeta .val-medi {
  background-color: #80746a;
}
.hue-28 .sat-zeta .val-dark {
  background-color: #403a35;
}
.hue-33 .sat-alph .val-full {
  background-color: #ff8c00;
}
.hue-33 .sat-alph .val-lite {
  background-color: #bf6900;
}
.hue-33 .sat-alph .val-medi {
  background-color: #804600;
}
.hue-33 .sat-alph .val-dark {
  background-color: #402300;
}
.hue-33 .sat-beta .val-full {
  background-color: #ff9f2b;
}
.hue-33 .sat-beta .val-lite {
  background-color: #bf7820;
}
.hue-33 .sat-beta .val-medi {
  background-color: #805015;
}
.hue-33 .sat-beta .val-dark {
  background-color: #40280b;
}
.hue-33 .sat-gamm .val-full {
  background-color: #ffb355;
}
.hue-33 .sat-gamm .val-lite {
  background-color: #bf8640;
}
.hue-33 .sat-gamm .val-medi {
  background-color: #80592b;
}
.hue-33 .sat-gamm .val-dark {
  background-color: #402d15;
}
.hue-33 .sat-delt .val-full {
  background-color: #ffc680;
}
.hue-33 .sat-delt .val-lite {
  background-color: #bf9460;
}
.hue-33 .sat-delt .val-medi {
  background-color: #806340;
}
.hue-33 .sat-delt .val-dark {
  background-color: #403120;
}
.hue-33 .sat-epsi .val-full {
  background-color: #ffd9aa;
}
.hue-33 .sat-epsi .val-lite {
  background-color: #bfa380;
}
.hue-33 .sat-epsi .val-medi {
  background-color: #806c55;
}
.hue-33 .sat-epsi .val-dark {
  background-color: #40362b;
}
.hue-33 .sat-zeta .val-full {
  background-color: #ffecd5;
}
.hue-33 .sat-zeta .val-lite {
  background-color: #bfb19f;
}
.hue-33 .sat-zeta .val-medi {
  background-color: #80766a;
}
.hue-33 .sat-zeta .val-dark {
  background-color: #403b35;
}
.hue-37 .sat-alph .val-full {
  background-color: #ff9d00;
}
.hue-37 .sat-alph .val-lite {
  background-color: #bf7600;
}
.hue-37 .sat-alph .val-medi {
  background-color: #804f00;
}
.hue-37 .sat-alph .val-dark {
  background-color: #402700;
}
.hue-37 .sat-beta .val-full {
  background-color: #ffae2b;
}
.hue-37 .sat-beta .val-lite {
  background-color: #bf8220;
}
.hue-37 .sat-beta .val-medi {
  background-color: #805715;
}
.hue-37 .sat-beta .val-dark {
  background-color: #402b0b;
}
.hue-37 .sat-gamm .val-full {
  background-color: #ffbe55;
}
.hue-37 .sat-gamm .val-lite {
  background-color: #bf8e40;
}
.hue-37 .sat-gamm .val-medi {
  background-color: #805f2b;
}
.hue-37 .sat-gamm .val-dark {
  background-color: #402f15;
}
.hue-37 .sat-delt .val-full {
  background-color: #ffce80;
}
.hue-37 .sat-delt .val-lite {
  background-color: #bf9b60;
}
.hue-37 .sat-delt .val-medi {
  background-color: #806740;
}
.hue-37 .sat-delt .val-dark {
  background-color: #403420;
}
.hue-37 .sat-epsi .val-full {
  background-color: #ffdeaa;
}
.hue-37 .sat-epsi .val-lite {
  background-color: #bfa780;
}
.hue-37 .sat-epsi .val-medi {
  background-color: #806f55;
}
.hue-37 .sat-epsi .val-dark {
  background-color: #40382b;
}
.hue-37 .sat-zeta .val-full {
  background-color: #ffefd5;
}
.hue-37 .sat-zeta .val-lite {
  background-color: #bfb39f;
}
.hue-37 .sat-zeta .val-medi {
  background-color: #80776a;
}
.hue-37 .sat-zeta .val-dark {
  background-color: #403c35;
}
.hue-41 .sat-alph .val-full {
  background-color: #ffae00;
}
.hue-41 .sat-alph .val-lite {
  background-color: #bf8300;
}
.hue-41 .sat-alph .val-medi {
  background-color: #805700;
}
.hue-41 .sat-alph .val-dark {
  background-color: #402c00;
}
.hue-41 .sat-beta .val-full {
  background-color: #ffbc2b;
}
.hue-41 .sat-beta .val-lite {
  background-color: #bf8d20;
}
.hue-41 .sat-beta .val-medi {
  background-color: #805e15;
}
.hue-41 .sat-beta .val-dark {
  background-color: #402f0b;
}
.hue-41 .sat-gamm .val-full {
  background-color: #ffc955;
}
.hue-41 .sat-gamm .val-lite {
  background-color: #bf9740;
}
.hue-41 .sat-gamm .val-medi {
  background-color: #80652b;
}
.hue-41 .sat-gamm .val-dark {
  background-color: #403215;
}
.hue-41 .sat-delt .val-full {
  background-color: #ffd780;
}
.hue-41 .sat-delt .val-lite {
  background-color: #bfa160;
}
.hue-41 .sat-delt .val-medi {
  background-color: #806b40;
}
.hue-41 .sat-delt .val-dark {
  background-color: #403620;
}
.hue-41 .sat-epsi .val-full {
  background-color: #ffe4aa;
}
.hue-41 .sat-epsi .val-lite {
  background-color: #bfab80;
}
.hue-41 .sat-epsi .val-medi {
  background-color: #807255;
}
.hue-41 .sat-epsi .val-dark {
  background-color: #40392b;
}
.hue-41 .sat-zeta .val-full {
  background-color: #fff2d5;
}
.hue-41 .sat-zeta .val-lite {
  background-color: #bfb59f;
}
.hue-41 .sat-zeta .val-medi {
  background-color: #80796a;
}
.hue-41 .sat-zeta .val-dark {
  background-color: #403c35;
}
.hue-46 .sat-alph .val-full {
  background-color: #ffc400;
}
.hue-46 .sat-alph .val-lite {
  background-color: #bf9300;
}
.hue-46 .sat-alph .val-medi {
  background-color: #806200;
}
.hue-46 .sat-alph .val-dark {
  background-color: #403100;
}
.hue-46 .sat-beta .val-full {
  background-color: #ffcd2b;
}
.hue-46 .sat-beta .val-lite {
  background-color: #bf9a20;
}
.hue-46 .sat-beta .val-medi {
  background-color: #806715;
}
.hue-46 .sat-beta .val-dark {
  background-color: #40330b;
}
.hue-46 .sat-gamm .val-full {
  background-color: #ffd755;
}
.hue-46 .sat-gamm .val-lite {
  background-color: #bfa240;
}
.hue-46 .sat-gamm .val-medi {
  background-color: #806c2b;
}
.hue-46 .sat-gamm .val-dark {
  background-color: #403615;
}
.hue-46 .sat-delt .val-full {
  background-color: #ffe180;
}
.hue-46 .sat-delt .val-lite {
  background-color: #bfa960;
}
.hue-46 .sat-delt .val-medi {
  background-color: #807140;
}
.hue-46 .sat-delt .val-dark {
  background-color: #403820;
}
.hue-46 .sat-epsi .val-full {
  background-color: #ffebaa;
}
.hue-46 .sat-epsi .val-lite {
  background-color: #bfb080;
}
.hue-46 .sat-epsi .val-medi {
  background-color: #807655;
}
.hue-46 .sat-epsi .val-dark {
  background-color: #403b2b;
}
.hue-46 .sat-zeta .val-full {
  background-color: #fff5d5;
}
.hue-46 .sat-zeta .val-lite {
  background-color: #bfb89f;
}
.hue-46 .sat-zeta .val-medi {
  background-color: #807b6a;
}
.hue-46 .sat-zeta .val-dark {
  background-color: #403d35;
}
.hue-55 .sat-alph .val-full {
  background-color: #ffea00;
}
.hue-55 .sat-alph .val-lite {
  background-color: #bfaf00;
}
.hue-55 .sat-alph .val-medi {
  background-color: #807500;
}
.hue-55 .sat-alph .val-dark {
  background-color: #403a00;
}
.hue-55 .sat-beta .val-full {
  background-color: #ffed2b;
}
.hue-55 .sat-beta .val-lite {
  background-color: #bfb220;
}
.hue-55 .sat-beta .val-medi {
  background-color: #807715;
}
.hue-55 .sat-beta .val-dark {
  background-color: #403b0b;
}
.hue-55 .sat-gamm .val-full {
  background-color: #fff155;
}
.hue-55 .sat-gamm .val-lite {
  background-color: #bfb540;
}
.hue-55 .sat-gamm .val-medi {
  background-color: #80782b;
}
.hue-55 .sat-gamm .val-dark {
  background-color: #403c15;
}
.hue-55 .sat-delt .val-full {
  background-color: #fff480;
}
.hue-55 .sat-delt .val-lite {
  background-color: #bfb760;
}
.hue-55 .sat-delt .val-medi {
  background-color: #807a40;
}
.hue-55 .sat-delt .val-dark {
  background-color: #403d20;
}
.hue-55 .sat-epsi .val-full {
  background-color: #fff8aa;
}
.hue-55 .sat-epsi .val-lite {
  background-color: #bfba80;
}
.hue-55 .sat-epsi .val-medi {
  background-color: #807c55;
}
.hue-55 .sat-epsi .val-dark {
  background-color: #403e2b;
}
.hue-55 .sat-zeta .val-full {
  background-color: #fffbd5;
}
.hue-55 .sat-zeta .val-lite {
  background-color: #bfbd9f;
}
.hue-55 .sat-zeta .val-medi {
  background-color: #807e6a;
}
.hue-55 .sat-zeta .val-dark {
  background-color: #403f35;
}
.hue-69 .sat-alph .val-full {
  background-color: #d9ff00;
}
.hue-69 .sat-alph .val-lite {
  background-color: #a3bf00;
}
.hue-69 .sat-alph .val-medi {
  background-color: #6c8000;
}
.hue-69 .sat-alph .val-dark {
  background-color: #364000;
}
.hue-69 .sat-beta .val-full {
  background-color: #dfff2b;
}
.hue-69 .sat-beta .val-lite {
  background-color: #a7bf20;
}
.hue-69 .sat-beta .val-medi {
  background-color: #708015;
}
.hue-69 .sat-beta .val-dark {
  background-color: #38400b;
}
.hue-69 .sat-gamm .val-full {
  background-color: #e6ff55;
}
.hue-69 .sat-gamm .val-lite {
  background-color: #acbf40;
}
.hue-69 .sat-gamm .val-medi {
  background-color: #73802b;
}
.hue-69 .sat-gamm .val-dark {
  background-color: #394015;
}
.hue-69 .sat-delt .val-full {
  background-color: #ecff80;
}
.hue-69 .sat-delt .val-lite {
  background-color: #b1bf60;
}
.hue-69 .sat-delt .val-medi {
  background-color: #768040;
}
.hue-69 .sat-delt .val-dark {
  background-color: #3b4020;
}
.hue-69 .sat-epsi .val-full {
  background-color: #f2ffaa;
}
.hue-69 .sat-epsi .val-lite {
  background-color: #b6bf80;
}
.hue-69 .sat-epsi .val-medi {
  background-color: #798055;
}
.hue-69 .sat-epsi .val-dark {
  background-color: #3d402b;
}
.hue-69 .sat-zeta .val-full {
  background-color: #f9ffd5;
}
.hue-69 .sat-zeta .val-lite {
  background-color: #babf9f;
}
.hue-69 .sat-zeta .val-medi {
  background-color: #7c806a;
}
.hue-69 .sat-zeta .val-dark {
  background-color: #3e4035;
}
.hue-91 .sat-alph .val-full {
  background-color: #7bff00;
}
.hue-91 .sat-alph .val-lite {
  background-color: #5cbf00;
}
.hue-91 .sat-alph .val-medi {
  background-color: #3e8000;
}
.hue-91 .sat-alph .val-dark {
  background-color: #1f4000;
}
.hue-91 .sat-beta .val-full {
  background-color: #91ff2b;
}
.hue-91 .sat-beta .val-lite {
  background-color: #6dbf20;
}
.hue-91 .sat-beta .val-medi {
  background-color: #498015;
}
.hue-91 .sat-beta .val-dark {
  background-color: #24400b;
}
.hue-91 .sat-gamm .val-full {
  background-color: #a7ff55;
}
.hue-91 .sat-gamm .val-lite {
  background-color: #7dbf40;
}
.hue-91 .sat-gamm .val-medi {
  background-color: #54802b;
}
.hue-91 .sat-gamm .val-dark {
  background-color: #2a4015;
}
.hue-91 .sat-delt .val-full {
  background-color: #bdff80;
}
.hue-91 .sat-delt .val-lite {
  background-color: #8ebf60;
}
.hue-91 .sat-delt .val-medi {
  background-color: #5f8040;
}
.hue-91 .sat-delt .val-dark {
  background-color: #2f4020;
}
.hue-91 .sat-epsi .val-full {
  background-color: #d3ffaa;
}
.hue-91 .sat-epsi .val-lite {
  background-color: #9ebf80;
}
.hue-91 .sat-epsi .val-medi {
  background-color: #6a8055;
}
.hue-91 .sat-epsi .val-dark {
  background-color: #35402b;
}
.hue-91 .sat-zeta .val-full {
  background-color: #e9ffd5;
}
.hue-91 .sat-zeta .val-lite {
  background-color: #afbf9f;
}
.hue-91 .sat-zeta .val-medi {
  background-color: #75806a;
}
.hue-91 .sat-zeta .val-dark {
  background-color: #3a4035;
}
.val-full {
  color: #000;
}
.val-lite,
.val-medi,
.val-dark {
  color: #fff;
}
/*@COLOR SCHEMES*/
#aperture_white {
  background-color: #fafcff;
}
#aperture_black {
  background-color: #050300;
}
#atlas {
  background-color: #0062ff;
}
#pbody {
  background-color: #ff9d00;
}
#repulsion {
  background-color: #2b9cff;
}
#propulsion {
  background-color: #ff8e2b;
}
#deploying {
  background-color: #ff1500;
}
#hereye {
  background-color: #fff155;
}
#lakesuperior {
  background-color: #001e80;
}
#cavescaves {
  background-color: #80522b;
}
#facilityabyss {
  background-color: #406b80;
}
#asbestos {
  background-color: #bf9300;
}
#vilify {
  background-color: #6300bf;
}
#neurotoxin {
  background-color: #a7bf20;
}
#bridges {
  background-color: #d5fbff;
}
#companion {
  background-color: #ffaac2;
}
#solarized_base03 {
  background-color: #002b36;
}
#solarized_base02 {
  background-color: #073642;
}
#solarized_base01 {
  background-color: #586e75;
}
#solarized_base00 {
  background-color: #657b83;
}
#solarized_base0 {
  background-color: #839496;
}
#solarized_base1 {
  background-color: #93a1a1;
}
#solarized_base2 {
  background-color: #eee8d5;
}
#solarized_base3 {
  background-color: #fdf6e3;
}
#solarized_yellow {
  background-color: #b58900;
}
#solarized_orange {
  background-color: #cb4b16;
}
#solarized_red {
  background-color: #dc322f;
}
#solarized_magenta {
  background-color: #d33682;
}
#solarized_violet {
  background-color: #6c71c4;
}
#solarized_blue {
  background-color: #268bd2;
}
#solarized_cyan {
  background-color: #2aa198;
}
#solarized_green {
  background-color: #859900;
}
#color_msg_warn_brdr {
  background-color: #ff0000;
}
#color_msg_cshn_brdr {
  background-color: #ccff00;
}
#color_msg_skss_brdr {
  background-color: #00ff66;
}
#color_msg_info_brdr {
  background-color: #0066ff;
}
#color_msg_help_brdr {
  background-color: #cc00ff;
}
#color_msg_warn_txt {
  background-color: #610000;
}
#color_msg_cshn_txt {
  background-color: #4e6100;
}
#color_msg_skss_txt {
  background-color: #006127;
}
#color_msg_info_txt {
  background-color: #002761;
}
#color_msg_help_txt {
  background-color: #4e0061;
}
#color_msg_warn_bg {
  background-color: #ff9e9e;
}
#color_msg_cshn_bg {
  background-color: #ecff9e;
}
#color_msg_skss_bg {
  background-color: #9effc5;
}
#color_msg_info_bg {
  background-color: #9ec5ff;
}
#color_msg_help_bg {
  background-color: #ec9eff;
}
#aperture_black,
#lakesuperior,
#cavescaves,
#facilityabyss,
#asbestos,
#vilify,
#solarized_base03,
#solarized_base02,
#color_msg_warn_txt,
#color_msg_cshn_txt,
#color_msg_skss_txt,
#color_msg_info_txt,
#color_msg_help_txt {
  color: rgba(250, 252, 255, 0.76393202);
}
#aperture_black h1,
#lakesuperior h1,
#cavescaves h1,
#facilityabyss h1,
#asbestos h1,
#vilify h1,
#solarized_base03 h1,
#solarized_base02 h1,
#color_msg_warn_txt h1,
#color_msg_cshn_txt h1,
#color_msg_skss_txt h1,
#color_msg_info_txt h1,
#color_msg_help_txt h1 {
  color: rgba(250, 252, 255, 0.76393202);
}
