// main: ../core/styles/all.less

/*---------------*\
	colors.less
\*---------------*/

.palettes {
	// * the container of hue tables
	&:extend(.line);
	&:extend(.undoP1-midright);
	.group-cold,
	.group-warm {&:extend(.unit-1to2);}
}
.colortable {
	.font-size(small);
	width: 100%;
	white-space: nowrap;
	tbody {
		th {width: 11.11%;}
		td {width: 22.22%;}
	}
}
.colorname,
.colorcode {
	display: block;
}
.colorname {
	font-weight: bold;
	color: inherit !important;
	&:hover {text-decoration: underline;}
}
.colorcode {
	border: 0;
	font-family: @fontfam--code;
	color: inherit;
	background-color: transparent;
}
.colorpair {
	&:extend(.line);
	&:extend(.undoP1-midright);
	> section {
		&:extend(.unit-1to2);
		padding: 0 6px;
	}
}

#aperture-white {background-color: @aperture-white;}
#aperture-black {background-color: @aperture-black;}
#atlas {background-color: @atlas;}
#pbody {background-color: @pbody;}
#repulsion  {background-color: @repulsion;}
#propulsion {background-color: @propulsion;}
#deploying {background-color: @deploying;}
#her-eye   {background-color: @her-eye;}
#lake-superior {background-color: @lake-superior;}
#caves-caves   {background-color: @caves-caves;}
#facility-abyss {background-color: @facility-abyss;}
#asbestos       {background-color: @asbestos;}
#vilify     {background-color: @vilify;}
#neurotoxin {background-color: @neurotoxin;}
#bridges   {background-color: @bridges;}
#companion {background-color: @companion;}
#aperture-black,
#atlas,
#deploying,
#lake-superior,
#caves-caves,
#facility-abyss,
#asbestos,
#vilify {color: @aperture-white;}


.hue-generator(@degree) {
	.hue-@{degree} {
		.saturations(@degree);
	}
}

.hue-generator(127);
.hue-generator(163);
.hue-generator(185);
.hue-generator(199);
.hue-generator(208);
.hue-generator(213);

.hue-generator(217);
.hue-generator(221);
.hue-generator(226);
.hue-generator(235);
.hue-generator(249);
.hue-generator(271);

.hue-generator(307);
.hue-generator(343);
.hue-generator(5);
.hue-generator(19);
.hue-generator(28);
.hue-generator(33);

.hue-generator(37);
.hue-generator(41);
.hue-generator(46);
.hue-generator(55);
.hue-generator(69);
.hue-generator(91);

.saturations(@hue) {
	.sat-alph {@sat: 100.000%; .values(@hue; @sat);}
	.sat-beta {@sat:  83.333%; .values(@hue; @sat);}
	.sat-gamm {@sat:  66.666%; .values(@hue; @sat);}
	.sat-delt {@sat:  50.000%; .values(@hue; @sat);}
	.sat-epsi {@sat:  33.333%; .values(@hue; @sat);}
	.sat-zeta {@sat:  16.666%; .values(@hue; @sat);}
}

.values(@hue; @sat) {
	.val-full {@val: 100%; background-color: hsv(@hue, @sat, @val);}
	.val-lite {@val:  75%; background-color: hsv(@hue, @sat, @val);}
	.val-medi {@val:  50%; background-color: hsv(@hue, @sat, @val);}
	.val-dark {@val:  25%; background-color: hsv(@hue, @sat, @val);}
}

.val-full {color: #000;}
.val-lite,
.val-medi,
.val-dark {color: #fff;}

// * background colors for id's (already done in javascript)
//.bgcolor-generator(@colorid) {
//	#@{colorid} {
//		background-color: @@colorid;
//	}
//}
//.bgcolor-generator(aperture-white);
//.bgcolor-generator(aperture-black);
//.bgcolor-generator(atlas);
//.bgcolor-generator(pbody);
//.bgcolor-generator(deploying);
//.bgcolor-generator(her-eye);
//.bgcolor-generator(lake-superior);
//.bgcolor-generator(caves-caves);
//.bgcolor-generator(facility-abyss);
//.bgcolor-generator(asbestos);
