<!--
---
---
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Grid &in; Site Design</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../core/styles/all.css"/>
<link rel="stylesheet" href="griddothtml.css"/>
<style>
</style>
<!--{% include all-js.html %}-->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
<script src="../core/scripts/global.js"></script>
</head>
<body>
<!--{% include masthead.html %}-->
<!--
<nav class="bc">
	<ol class="bc-anc">
		<li><a href="../index.html" rel="top">Home</a></li>
		<li><a href="../home/web.html" rel="parent">Web</a></li>
	</ol>
	<ol class="bc-sib">
		<li><a href="semantics.html" rel="sibling">Semantics</a>
		<li><a href="grid.html" rel="this">The Grid</a></li>
		<li><a href="typo.html" rel="sibling">Typography</a></li>
		<li><a href="colors.html" rel="sibling">Colors</a></li>
	</ol>
	<ol class="bc-child">
		<li><a href="phi.html" rel="child">Mathematical Background</a></li>
	</ol>
</nav>
-->
<div class="gridtest phi">
	<div class="rowgroup solo">
		<div class="Grow">
			<div class="Gcol P0"><code>.Gcol.P0</code></div>
		</div>
	</div>
	<div class="rowgroup duet">
		<div class="Grow">
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3c"><code>.Gcol.P3c</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3c"><code>.Gcol.P3c</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P4c"><code>.Gcol.P4c</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4c"><code>.Gcol.P4c</code></div>
			<div class="Gcol-p4-"><code>.Gcol.P4</code></div>
		</div>
	</div>
	<div class="rowgroup trio">
		<div class="Grow">
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P1"><code>.Gcol.P1</code></div>
		</div>
	</div>
	<div class="rowgroup quartet">
		<div class="Grow">
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P2"><code>.Gcol.P2</code></div>
		</div>
	</div>
	<div class="rowgroup quintet">
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P4"><code>.Gcol.P4</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
			<div class="Gcol P3"><code>.Gcol.P3</code></div>
		</div>
	</div>
</div>
<div class="gridtest even">
	<div class="rowgroup solo">
		<div class="Grow">
			<div class="Gcol F1o1"><code>.Gcol.F1o1</code></div>
		</div>
	</div>
	<div class="rowgroup duet">
		<div class="Grow">
			<div class="Gcol F1o2"><code>.Gcol.F1o2</code></div>
			<div class="Gcol F1o2"><code>.Gcol.F1o2</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o3"><code>.Gcol.F2o3</code></div>
			<div class="Gcol F1o3"><code>.Gcol.F1o3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o3"><code>.Gcol.F1o3</code></div>
			<div class="Gcol F2o3"><code>.Gcol.F2o3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F3o4"><code>.Gcol.F3o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o4"><code>.Gcol.F2o4</code></div>
			<div class="Gcol F2o4"><code>.Gcol.F2o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F3o4"><code>.Gcol.F3o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F4o5"><code>.Gcol.F4o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F3o5"><code>.Gcol.F3o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F3o5"><code>.Gcol.F3o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F4o5"><code>.Gcol.F4o5</code></div>
		</div>
<!--
		<div class="Grow">
			<div class="Gcol F5o6"><code>.Gcol.F5o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F4o6"><code>.Gcol.F4o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F4o6"><code>.Gcol.F4o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F5o6"><code>.Gcol.F5o6</code></div>
		</div>
-->
	</div>
	<div class="rowgroup trio">
		<div class="Grow">
			<div class="Gcol F1o3"><code>.Gcol.F1o3</code></div>
			<div class="Gcol F1o3"><code>.Gcol.F1o3</code></div>
			<div class="Gcol F1o3"><code>.Gcol.F1o3</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o4"><code>.Gcol.F2o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F2o4"><code>.Gcol.F2o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F2o4"><code>.Gcol.F2o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F3o5"><code>.Gcol.F3o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F3o5"><code>.Gcol.F3o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F3o5"><code>.Gcol.F3o5</code></div>
		</div>
<!--
		<div class="Grow">
			<div class="Gcol F4o6"><code>.Gcol.F4o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F4o6"><code>.Gcol.F4o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F4o6"><code>.Gcol.F4o6</code></div>
		</div>
-->
	</div>
	<div class="rowgroup quartet">
		<div class="Grow">
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
			<div class="Gcol F1o4"><code>.Gcol.F1o4</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F2o5"><code>.Gcol.F2o5</code></div>
		</div>
<!--
		<div class="Grow">
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
			<div class="Gcol F2o6"><code>.Gcol.F2o6</code></div>
		</div>
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F3o6"><code>.Gcol.F3o6</code></div>
		</div>
-->
	</div>
	<div class="rowgroup quintet">
		<div class="Grow">
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
			<div class="Gcol F1o5"><code>.Gcol.F1o5</code></div>
		</div>
	</div>
<!--
	<div class="rowgroup sextet">
		<div class="Grow">
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
			<div class="Gcol F1o6"><code>.Gcol.F1o6</code></div>
		</div>
	</div>
-->
</div>
<main>
<header>
	<h1 class="H Alpha">The Grid</h1>
<!--	<p class="timestamp">Updated <time datetime="2014-01-23T21:42">Jan 23, 2014</time>.</p> updated 2014-04-14T01:20-->
<!--updated 2014-04-26T22:08-->
<!--updated 2014-05-18T20:05-->
</header>
<p class="P">This page describes the grid system of the site. <a href="../core/styles/grid.less">The grid</a> implements the structure and layout of any page. It consists of rows and cells, treated as table rows and table cells respectively.</p>
<p class="P">The classes used in this grid system determine where elements of a page are positioned. Therefore, the classnames are <a>abstract</a>. Since the grid consists of <em>containers</em>, and not actual content, the classnames are acceptable. See Nicole Sullivan's view on <a>separation of container with content</a>.</p>
<p class="P">Seeing as the grid is presentational, it should <a>degrade gracefully</a>. This means that if someone were to &ldquo;turn off&rdquo; the grid, you would still be able to read and interact with the website without any problems. It might not look pretty, but the content should be intact.</p>
<section id="setup">
	<h1 class="H Beta">Setting It Up</h1>
	<p class="prose">To set up a grid, you'll need to create a row with cells inside. The effect will be a table-like structure.</p>
	<figure class="Fig">
		<code class="code--block">
<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span> <span class="code__comm">&lt;!--this is a row!--&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol</span>&quot;</span>&gt;</span>this is col 1!<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol</span>&quot;</span>&gt;</span>this is col 2!<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol</span>&quot;</span>&gt;</span>this is col 3!<span class="code__tag">&lt;/div&gt;</span>
<span class="code__tag">&lt;/div&gt;</span>
		</code>
		<div class="Grow">
			<div class="Gcol outline" style="width: 20%;">this is col 1!</div>
			<div class="Gcol outline" style="width: 60%;">this is col 2!</div>
			<div class="Gcol outline" style="width: 20%;">this is col 3!</div>
		</div>
		<figcaption>Outlines are added to show structure, and widths are not equal to show they are not fixed.</figcaption>
	</figure>
</section>
<section id="custom-cells">
	<h1 class="H Beta">Custom Cells</h1>
	<p class="P">Each row is 100% the width of its container, <a>unless otherwise specified</a>. Each row can have any number of cells. Notice that in the example above, that the cells were not evenly distributed: the middle cell will likely be significantly wider than the other two cells, assuming there will be more text in that element. If you want the row to <em>force</em> the cells to have equal widths, use cell subclasses to specify their widths.</p>
	<p class="P">The tables below lists custom subclasses of <code>.Gcol</code>. Though the tables appear in CSS syntax, this is not the true content of <a href="../core/styles/grid.less">grid.less</a>. The syntax merely serves as an illustration.</p>
	<code class="code--block" data-status="draft">
		<dl class="Map">
			<dt class="Nam">.Gcol.F1o1</dt><dd class="Val">width: 100%;   </dd>
			<dt class="Nam">.Gcol.F1o2</dt><dd class="Val">width: 50%;    </dd>
			<dt class="Nam">.Gcol.F2o2</dt><dd class="Val">width: 100%;   </dd>
			<dt class="Nam">.Gcol.F1o3</dt><dd class="Val">width: 33.333%;</dd>
			<dt class="Nam">.Gcol.F2o3</dt><dd class="Val">width: 66.666%;</dd>
			<dt class="Nam">.Gcol.F3o3</dt><dd class="Val">width: 100%;   </dd>
			<dt class="Nam">.Gcol.F1o4</dt><dd class="Val">width: 25%;    </dd>
			<dt class="Nam">.Gcol.F2o4</dt><dd class="Val">width: 50%;    </dd>
			<dt class="Nam">.Gcol.F3o4</dt><dd class="Val">width: 75%;    </dd>
			<dt class="Nam">.Gcol.F4o4</dt><dd class="Val">width: 100%;   </dd>
			<dt class="Nam">.Gcol.F1o5</dt><dd class="Val">width: 20%;    </dd>
			<dt class="Nam">.Gcol.F2o5</dt><dd class="Val">width: 40%;    </dd>
			<dt class="Nam">.Gcol.F3o5</dt><dd class="Val">width: 60%;    </dd>
			<dt class="Nam">.Gcol.F4o5</dt><dd class="Val">width: 80%;    </dd>
			<dt class="Nam">.Gcol.F5o5</dt><dd class="Val">width: 100%;   </dd>
<!--
			<dt class="Nam">.Gcol.F1o6</dt><dd class="Val">width: 16.666%;</dd>
			<dt class="Nam">.Gcol.F2o6</dt><dd class="Val">width: 33.333%;</dd>
			<dt class="Nam">.Gcol.F3o6</dt><dd class="Val">width: 50%;    </dd>
			<dt class="Nam">.Gcol.F4o6</dt><dd class="Val">width: 66.666%;</dd>
			<dt class="Nam">.Gcol.F5o6</dt><dd class="Val">width: 83.333%;</dd>
			<dt class="Nam">.Gcol.F6o6</dt><dd class="Val">width: 100%;   </dd>
-->
		</dl>
		<dl class="Map">
			<dt class="Nam">.Gcol.P1 </dt><dd class="Val">width: 61.803%</dd>
			<dt class="Nam">.Gcol.P2 </dt><dd class="Val">width: 38.197%</dd>
			<dt class="Nam">.Gcol.P3 </dt><dd class="Val">width: 23.607%</dd>
			<dt class="Nam">.Gcol.P4 </dt><dd class="Val">width: 14.590%</dd>
			<dt class="Nam">.Gcol.P3c</dt><dd class="Val">width: 76.393%</dd>
			<dt class="Nam">.Gcol.P4c</dt><dd class="Val">width: 85.410%</dd>
		</dl>
	</code>
	<figure class="Fig">
		<figcaption class="Capt Before">Let's make sure our cells are equal width. Remember that all of the cells must add up to 100%.</figcaption>
		<code class="code--block">
<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol<mark> F1o3</mark></span>&quot;</span>&gt;</span>this is col 1!<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol<mark> F1o3</mark></span>&quot;</span>&gt;</span>this is col 2!<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol<mark> F1o3</mark></span>&quot;</span>&gt;</span>this is col 3!<span class="code__tag">&lt;/div&gt;</span>
<span class="code__tag">&lt;/div&gt;</span>
		</code>
		<div class="Grow">
			<div class="Gcol F1o3 outline">this is col 1!</div>
			<div class="Gcol F1o3 outline">this is col 2!</div>
			<div class="Gcol F1o3 outline">this is col 3!</div>
		</div>
	</figure>
	<section id="golden-cell-widths">
		<header>
			<h1 class="H Gamma">Golden Cell Widths</h1>
			<p class="P">Please read up on some <a href="phi.html">background information</a> for a more enriching understanding of this section.</p>
			<p class="P">See the <a href="#">grid demo</a> for a full list of options.</p>
		</header>
<!--
		<section>
			<h1 class="h-delta">Rows with Two Cells</h1>
			<figure>
				<figcaption>100% can be broken up into P1 + P2.</figcaption>
				<div class="Grow">
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
				</div>
			</figure>
			<figure>
				<figcaption>100% can be broken up into P3 + (U-P3).</figcaption>
				<div class="Grow">
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol-U-P3"><code class="lang-less">.Gcol.P3-c</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol-U-P3"><code class="lang-less">.Gcol.P3-c</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
				</div>
			</figure>
			<figure>
				<figcaption>100% can be broken up into P4 + (U-P4).</figcaption>
				<div class="Grow">
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
					<div class="Gcol-U-P4"><code class="lang-less">.Gcol.P4-c</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol-U-P4"><code class="lang-less">.Gcol.P4-c</code></div>
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
				</div>
			</figure>
		</section>
		<section>
			<h1 class="h-delta">Rows with Three Cells</h1>
			<figure>
				<figcaption>100% can be broken up into any combination of P2 + P2 + P3. This is because P1 = P2 + P3.</figcaption>
				<div class="Grow">
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
					<div class="Gcol P2"><code class="lang-less">.Gcol.P2</code></div>
				</div>
			</figure>
			<figure>
				<figcaption>100% can be broken up into any combination of P1 + P3 + P4. This is because P2 = P3 + P4.<br/>One of these patterns is the structure for my site. Can you see which one it is?</figcaption>
				<div class="Grow">
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code>
						<span class="help">This is it!</span></div>
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
				</div>
				<div class="Grow">
					<div class="Gcol P4"><code class="lang-less">.Gcol.P4</code></div>
					<div class="Gcol P3"><code class="lang-less">.Gcol.P3</code></div>
					<div class="Gcol P1"><code class="lang-less">.Gcol.P1</code></div>
				</div>
			</figure>
		</section>
-->
	</section>
</section>
<section id="custom-block-widths">
	<header>
		<h1 class="H Beta">Custom Block Widths</h1>
		<p class="P">Sometimes you may want to change the widths of a block or a <code>.Grow</code>. For this, use classes for custom widths. The following mixins change the appearance of general block elements. They can be included in the class of any block element, or to any extension of <code>.Grow</code>s, which contain <code>.Gcol</code>s.</p>
		<p class="P"><span class="caution">Caution:</span> For the sake of simplicity, I'll be using the Less mixin names for the HTML elements' class attributes; I am merely saving time and space. As the developer, you are encouraged to give the elements semantic classnames and include the Less mixins.</p>
	</header>
	<section>
		<h1 class="H Gamma">Full Width</h1>
		<p class="P">A normal block element defaults to 100% width and no left/right margins. This is equivalent to the <code>.Block.Ful</code> class, which you can use to override another class if need be.</p>
		<figure class="Fig">
			<div class="Block Ful outline">
				<p class="P">The <code>.Block.Ful</code> class sets the row width to 100% with no margins. It's modeled after the <b>harmonic sequence</b></p>
				<div class="latex">\[ \left(\mathbf{1},\frac{1}{2},\frac{1}{3},\frac{1}{4},\dots,\frac{1}{n+1}\right) \]</div>
				<p>where <var>n</var> is the number of cells (<var>n</var> starts at 0).</p>
			</div>
		</figure>
	</section>
	<section>
		<h1 class="H Gamma">Large Width</h1>
		<figure class="Fig">
			<div class="Block Lrg outline">
				<p class="P">The <code>.Block.Lrg</code> class sets the row width to 75% with equal margins (12.5%). It's modeled after the <b>geometric sequence</b></p>
				<div class="latex">\[ \left(\frac{9}{8},\mathbf{\frac{3}{4}},\frac{1}{2},\frac{1}{3},\frac{2}{9},\dots,\frac{9}{8}\left(\frac{2}{3}\right)^n\right) \]</div>
				<p>where <var>n</var> is the number of cells (<var>n</var> starts at 0).</p>
			</div>
		</figure>
	</section>
	<section>
		<h1 class="H Gamma">Medium Width</h1>
		<figure class="Fig">
			<div class="Block Med outline">
				<p class="P">The <code>.Block.Med</code> class sets the row width to 66.6% and equal margins (16.6%). It's modeled after the <b>arithmetic sequence</b></p>
				<div class="latex">\[ \left(\frac{5}{6},\mathbf{\frac{2}{3}},\frac{1}{2},\frac{1}{3},\frac{1}{6},\dots,\frac{5-n}{6}\right) \]</div>
				<p>where <var>n</var> is the number of cells (<var>n</var> starts at 0).</p>
			</div>
		</figure>
	</section>
	<section>
		<h1 class="H Gamma">Small Width</h1>
		<figure class="Fig">
			<div class="Block Sml outline">
				<p class="P">The <code>.Block.Sml</code> class sets the row width to about 61.8% and equal margins (19.1%). It's approximately <a href="phi.html">the ratio <var>&Phi;</var></a>.</p>
				<p class="P">This means that if you add the margins (38.2%) and take the ratio of that to the row width (61.8%), it's the same as the ratio of the row width to the container (100%). That is, 38.2% is to 61.8% as 61.8% is to 100%.</p>
			</div>
		</figure>
	</section>
	<section id="golden-block-widths">
		<h1 class="H Gamma">Golden Block Widths</h1>
		<figure data-status="draft">
			<code class="code--block">
<div class="Block p1 Left outline"><span class="code__sel">.p1.left {
	<span class="code__prop">width: <span class="code__val">61.80%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">0</span>;</span>
	<span class="code__prop">margin-right: <span class="code__val">38.20%</span>;</span> <span class="comment">// P2</span>
}</span></div>
<div class="Block P1 Ml outline"><span class="code__sel">.block.p1.ml {
	<span class="code__prop">width: <span class="code__val">61.80%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">14.59%</span>;</span>  <span class="comment">// P4</span>
	<span class="code__prop">margin-right: <span class="code__val">23.61%</span>;</span> <span class="comment">// P3</span>
}</span></div>
<div class="Block P1 Mr outline"><span class="code__sel">.block.p1.mr {
	<span class="code__prop">width: <span class="code__val">61.80%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">23.61%</span>;</span>  <span class="comment">// P3</span>
	<span class="code__prop">margin-right: <span class="code__val">14.59%</span>;</span> <span class="comment">// P4</span>
}</span></div>
<div class="Block P1 Right outline"><span class="code__sel">.block.p1.right {
	<span class="code__prop">width: <span class="code__val">61.80%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">38.20%</span>;</span> <span class="comment">// P2</span>
	<span class="code__prop">margin-right: <span class="code__val">0</span>;</span>
}</span></div>
<div class="Block P2 Left outline"><span class="code__sel">.block.p2.left {
	<span class="code__prop">width: <span class="code__val">38.20%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">0</span>;</span>
	<span class="code__prop">margin-right: <span class="code__val">61.80%</span>;</span> <span class="comment">// P1</span>
}</span></div>
<div class="Block P2 Right outline"><span class="code__sel">.block.p2.right {
	<span class="code__prop">width: <span class="code__val">38.20%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">61.80%</span>;</span> <span class="comment">// P1</span>
	<span class="code__prop">margin-right: <span class="code__val">0</span>;</span>
}</span></div>
<div class="Block P3 Left outline"><span class="code__sel">.block.p3.left {
	<span class="code__prop">width: <span class="code__val">23.61%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">0</span>;</span>
	<span class="code__prop">margin-right: <span class="code__val">76.39%</span>;</span> <span class="comment">// U-P3</span>
}</span></div>
<div class="Block P3 Right outline"><span class="code__sel">.block.p3.right {
	<span class="code__prop">width: <span class="code__val">23.61%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">76.39%</span>;</span> <span class="comment">// U-P3</span>
	<span class="code__prop">margin-right: <span class="code__val">0</span>;</span>
}</span></div>
<div class="Block P4 Left outline"><span class="code__sel">.block.p4.left {
	<span class="code__prop">width: <span class="code__val">14.59%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">0</span>;</span>
	<span class="code__prop">margin-right: <span class="code__val">85.41%</span>;</span> <span class="comment">// U-P4</span>
}</span></div>
<div class="Block P4 Right outline"><span class="code__sel">.block.p4.right {
	<span class="code__prop">width: <span class="code__val">14.59%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">85.41%</span>;</span> <span class="comment">// U-P4</span>
	<span class="code__prop">margin-right: <span class="code__val">0</span>;</span>
}</span></div>
<div class="Block P3c Left outline"><span class="code__sel">.block.p3c.left {
	<span class="code__prop">width: <span class="code__val">76.39%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">0</span>;</span>
	<span class="code__prop">margin-right: <span class="code__val">23.61%</span>;</span> <span class="comment">// P3</span>
}</span></div>
<div class="Block P3c Right outline"><span class="code__sel">.block.p3c.right {
	<span class="code__prop">width: <span class="code__val">76.39%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">23.61%</span>;</span> <span class="comment">// P3</span>
	<span class="code__prop">margin-right: <span class="code__val">0</span>;</span>
}</span></div>
<div class="Block P4c Left outline"><span class="code__sel">.block.p4c.left {
	<span class="code__prop">width: <span class="code__val">85.41%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">0</span>;</span>
	<span class="code__prop">margin-right: <span class="code__val">14.59%</span>;</span> <span class="comment">// P4</span>
}</span></div>
<div class="Block P4c Right outline"><span class="code__sel">.block.p4c.right {
	<span class="code__prop">width: <span class="code__val">85.41%</span>;</span>
	<span class="code__prop">margin-left: <span class="code__val">14.59%</span>;</span> <span class="comment">// P4</span>
	<span class="code__prop">margin-right: <span class="code__val">0</span>;</span>
}</span></div></code>
		</figure>
	</section>
</section>
<section id="nested-rows">
	<h1 class="H Beta">Nested Rows</h1>
	<p class="P">There is something else worth mentioning. It is possible to have more than 5 cells in a row by <strong>nesting rows</strong>. This means putting rows within rows. More accurately, rows within cells within rows.</p>
	<p class="P">For example, lets say you want twelve equal-width cells. Then you could create a row with three <code>.Gcol.F1o3</code>s, and in each cell, build a row with 4 <code>.Gcol.F1o4</code>s each. You could also have four groups of three, two groups of three groups of two, etc.</p>
	<figure class="Fig">
		<code class="code--block">
<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- big row --&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- col 33.3% --&gt;</span>
		<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- small row --&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
		<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- col 33.3% --&gt;</span>
		<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- small row --&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
		<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- col 33.3% --&gt;</span>
		<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span> <span class="comment">&lt;!-- small row --&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o4</span>&quot;</span>&gt;</span> col 25% <span class="code__tag">&lt;/div&gt;</span>
		<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;/div&gt;</span>
<span class="code__tag">&lt;/div&gt;</span></code>
	</figure>
	<p class="P">Here's another example:</p>
	<figure class="Fig">
		<code class="code--block">
<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F2o3</span>&quot;</span>&gt;</span>
		<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o5</span>&quot;</span>&gt;</span> col 1 (13.33%) <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o5</span>&quot;</span>&gt;</span> col 2 (13.33%) <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o5</span>&quot;</span>&gt;</span> col 3 (13.33%) <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o5</span>&quot;</span>&gt;</span> col 4 (13.33%) <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o5</span>&quot;</span>&gt;</span> col 5 (13.33%) <span class="code__tag">&lt;/div&gt;</span>
		<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span>
		<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Grow</span>&quot;</span>&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span> col 6 (11.11%) <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span> col 7 (11.11%) <span class="code__tag">&lt;/div&gt;</span>
			<span class="code__tag">&lt;div <span class="code__attr">class=&quot;<span class="code__val">Gcol F1o3</span>&quot;</span>&gt;</span> col 8 (11.11%) <span class="code__tag">&lt;/div&gt;</span>
		<span class="code__tag">&lt;/div&gt;</span>
	<span class="code__tag">&lt;/div&gt;</span>
<span class="code__tag">&lt;/div&gt;</span></code>
		<div class="Grow">
			<div class="Gcol F2o3">
				<div class="Grow">
					<div class="Gcol F1o5 outline"> col 1 (13.33%) </div>
					<div class="Gcol F1o5 outline"> col 2 (13.33%) </div>
					<div class="Gcol F1o5 outline"> col 3 (13.33%) </div>
					<div class="Gcol F1o5 outline"> col 4 (13.33%) </div>
					<div class="Gcol F1o5 outline"> col 5 (13.33%) </div>
				</div>
			</div>
			<div class="Gcol F1o3">
				<div class="Grow">
					<div class="Gcol F1o3 outline"> col 6 (11.11%) </div>
					<div class="Gcol F1o3 outline"> col 7 (11.11%) </div>
					<div class="Gcol F1o3 outline"> col 8 (11.11%) </div>
				</div>
			</div>
		</div>
	</figure>
	<p class="P">Notice how in these examples there were <strong>rows within cells</strong>. If you are nesting rows, you must contain the second-level <em>row</em> within the first-level <em>cell</em>. The <code>.Grow</code> and <code>.Gcol</code> classes were not meant to mix in the same element. There shouldn't be any elements with both classes in your HTML.</p>
	<figure class="Fig">
		<figcaption class="Capt Before"><span class="warning">Warning:</span> this is bad and it will break!</figcaption>
		<code class="code--block">
&lt;div class=&quot;Grow&quot;&gt;
	&lt;div class=&quot;Gcol F2o3 Grow&quot;&gt;
		&lt;div class=&quot;Gcol F1o3&quot;&gt;col 1&lt;/div&gt;
		&lt;div class=&quot;Gcol F1o3&quot;&gt;col 2&lt;/div&gt;
		&lt;div class=&quot;Gcol F1o3&quot;&gt;col 3&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;Gcol F1o3 Grow&quot;&gt;
		&lt;div class=&quot;Gcol F1o2&quot;&gt;col 4&lt;/div&gt;
		&lt;div class=&quot;Gcol F1o2&quot;&gt;col 5&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code>
	</figure>
</section>
<section data-status="draft">
	<p class="P">Hover over each cell below.</p>
	<div class="undo--p1--midright">
		<div class="gridtest phi" style="height: 24px;"></div>
		<div class="phidemo">
			<div class="Grow">
				<div class="Gcol P3 cyan lv1" title="&Phi;3">
					<div class="Grow">
						<div class="Gcol P4 pink lv2" title="&Phi;4">
							<div class="Grow">
								<div class="Gcol P4 yellow lv3" title="&Phi;4"></div>
								<div class="Gcol P1 blue lv3" title="&Phi;1"></div>
								<div class="Gcol P3 yellow lv3" title="&Phi;3"></div>
							</div>
						</div>
						<div class="Gcol P1 green lv2" title="&Phi;1"></div>
						<div class="Gcol P3 pink lv2" title="&Phi;3">
							<div class="Grow">
								<div class="Gcol P4 yellow lv3" title="&Phi;4"></div>
								<div class="Gcol P1 blue lv3" title="&Phi;1"></div>
								<div class="Gcol P3 yellow lv3" title="&Phi;3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="Gcol P1 red lv1" title="&Phi;1"></div>
				<div class="Gcol P4 cyan lv1" title="&Phi;4">
					<div class="Grow">
						<div class="Gcol P3 pink lv2" title="&Phi;3">
							<div class="Grow">
								<div class="Gcol P3 yellow lv3" title="&Phi;3"></div>
								<div class="Gcol P1 blue lv3" title="&Phi;1"></div>
								<div class="Gcol P4 yellow lv3" title="&Phi;4"></div>
							</div>
						</div>
						<div class="Gcol P1 green lv2" title="&Phi;1"></div>
						<div class="Gcol P4 pink lv2" title="&Phi;4">
							<div class="Grow">
								<div class="Gcol P3 yellow lv3" title="&Phi;3"></div>
								<div class="Gcol P1 blue lv3" title="&Phi;1"></div>
								<div class="Gcol P4 yellow lv3" title="&Phi;4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
<div class="gutter-major">
	<p><code class="lang-css">.gutter-major</code></p>
	<p>This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. </p>
</div>
<div class="gutter-minor">
	<p><code class="lang-css">.gutter-minor</code></p>
	<p>This is more text. This is more text. This is more text. This is more text. This is more text. This is more text. </p>
</div>
-->
</main>
</body>
</html>
