// main: ../core/stylesheets/all.less

/*-------------*\
	grid.less
\*-------------*/

.precode {white-space: pre-wrap !important;}
.grid-outline {outline: 1px solid #999;}
.grid-phidemo {
	text-align: center;
	.red    {background-color: #f00;}
	.yellow {background-color: #ff0;}
	.green  {background-color: #0f0;}
	.cyan   {background-color: #0ff;}
	.blue   {background-color: #00f;}
	.pink   {background-color: #f0f;}
	.lv1 {height: 4em;}
	.lv2 {height: 3em;}
	.lv3 {height: 2em;}
	.lv4 {height: 1em;}
}
