// main: ../core/stylesheets/all.less

/*-------------*\
	grid.less
\*-------------*/

.precode {white-space: pre-wrap !important;}
.grid-outline {outline: 1px solid #999;}
figure {
	.line,
	.unit,
	.unit-P1,
	.unit-P2,
	.unit-P3,
	.unit-P4,
	.unit-U-P3,
	.unit-U-P4,
	.P1-left,
	.P1-right,
	.P1-midleft,
	.P1-midright,
	.P2-left,
	.P2-right,
	.P3-left,
	.P3-right,
	.P4-left,
	.P4-right,
	.U-P3-left,
	.U-P3-right,
	.U-P4-left,
	.U-P4-right {&:extend(.grid-outline);}
}
.grid-phidemo {
	text-align: center;
	.red    {background-color: #f00;}
	.yellow {background-color: #ff0;}
	.green  {background-color: #0f0;}
	.cyan   {background-color: #0ff;}
	.blue   {background-color: #00f;}
	.pink   {background-color: #f0f;}
	.lv1 {height: 4em;}
	.lv2 {height: 3em;}
	.lv3 {height: 2em;}
	.lv4 {height: 1em;}
}
