@import url('../core/stylesheets/all.css');
@import (reference) url('../core/stylesheets/all.less');

/** --SITEDESIGN.LESS-- **/
/* @group griddothtml */
#griddothtml {
	.outline {outline: 1px solid #999;}
	.line,
	.unit,
	.unit-P1,
	.unit-P2,
	.unit-P3,
	.unit-P4,
	.unit-U-P3,
	.unit-U-P4,
	.P1-left,
	.P1-right,
	.P1-midleft,
	.P1-midright,
	.P2-left,
	.P2-right,
	.P3-left,
	.P3-right,
	.P4-left,
	.P4-right,
	.U-P3-left,
	.U-P3-right,
	.U-P4-left,
	.U-P4-right {&:extend(#griddothtml .outline);}
	.phidemo {
		text-align: center;
		div {outline: 0 !important;}
		.red    {background-color: red;}
		.orange {background-color: orange;}
		.yellow {background-color: yellow;}
		.green  {background-color: green;}
		.blue   {background-color: blue;}
		.purple {background-color: purple;}
		.lv1 {height: 4em;}
		.lv2 {height: 3em;}
		.lv3 {height: 2em;}
		.lv4 {height: 1em;}
	}
//	
//	.P1   {.unit-P1();}
//	.P2   {.unit-P2();}
//	.P3   {.unit-P3();}
//	.P4   {.unit-P4();}
//	.U-P3 {.unit-U-P3();}
//	.U-P4 {.unit-U-P4();}
//	
//	
//	.P1-l {.P1-left();}
//	.P1-r {.P1-right();}
//	.P1-ml {.P1-midleft();}
//	.P1-mr {.P1-midright();}
//	.P2-l {.P2-left();}
//	.P2-r {.P2-right();}
//	.P3-l {.P3-left();}
//	.P3-r {.P3-right();}
//	.P4-l {.P4-left();}
//	.P4-r {.P4-right();}
//	.uP3-l {.U-P3-left();}
//	.uP3-r {.U-P3-right();}
//	.uP4-l {.U-P4-left();}
//	.uP4-r {.U-P4-right();}
//	
}
/* @end */

/* @group typodothtml */
#typodothtml {
	.des-list {
		li, dt, dd {
			.border-vert-both(1px);
			border: 1px solid #ccc;
			background: #eee;
		}
	}
	.dltable {
		.dltable(100px);
	}
}
/* @end */

/* @group colorsdothtml */
//#colorsdothtml {
//	.main, main {
//		.linebreadth-full();
//		color: #111;
//		background-color: #fff;
//	}
//	.dark {color: #eee;}
//	.colorcode {
//		font-weight: normal;
//		font-size: 8pt;
//		font-family: @font-fam-code;
//	}
//	.palettes {
//		.line();
//		.group1,
//		.group2 {.unit-1to2();}
//	}
	
//	.hue-217,
//	.hue-221,
//	.hue-226,
//	.hue-235,
//	.hue-249,
//	.hue-271,
//	.hue-307,
//	.hue-343,
//	.hue-5,
//	.hue-19,
//	.hue-28,
//	.hue-33,
//	.hue-37,
//	.hue-41,
//	.hue-46,
//	.hue-55,
//	.hue-69,
//	.hue-91,
//	.hue-127,
//	.hue-163,
//	.hue-185,
//	.hue-199,
//	.hue-208,
//	.hue-213,
//	.colortable() {
//		.linebreadth-full();
//		border: 1px solid #999;
//		font-weight: bold;
//		font-size: 10pt;
//		
//		.colorname {}
//		tbody {
//			th {width: 11.11%;}
//			td {width: 22.22%;}
//		}
//		th {border: 1px solid #999;}
//	}
	
//	.hue-217 {.saturations(217);}
//	.hue-221 {.saturations(221);}
//	.hue-226 {.saturations(226);}
//	.hue-235 {.saturations(235);}
//	.hue-249 {.saturations(249);}
//	.hue-271 {.saturations(271);}
//	
//	.hue-307 {.saturations(307);}
//	.hue-343 {.saturations(343);}
//	.hue-5   {.saturations(5);}
//	.hue-19  {.saturations(19);}
//	.hue-28  {.saturations(28);}
//	.hue-33  {.saturations(33);}
//
//	.hue-37  {.saturations(37);}
//	.hue-41  {.saturations(41);}
//	.hue-46  {.saturations(46);}
//	.hue-55  {.saturations(55);}
//	.hue-69  {.saturations(69);}
//	.hue-91  {.saturations(91);}
//	
//	.hue-127 {.saturations(127);}
//	.hue-163 {.saturations(163);}
//	.hue-185 {.saturations(185);}
//	.hue-199 {.saturations(199);}
//	.hue-208 {.saturations(208);}
//	.hue-213 {.saturations(213);}
	
//	.hue(217);
//	.hue(221);
//	.hue(226);
//	.hue(235);
//	.hue(249);
//	.hue(271);
//	
//	.hue(307);
//	.hue(343);
//	.hue(5);
//	.hue(19);
//	.hue(28);
//	.hue(33);
//	
//	.hue(37);
//	.hue(41);
//	.hue(46);
//	.hue(55);
//	.hue(69);
//	.hue(91);
//	
//	.hue(127);
//	.hue(163);
//	.hue(185);
//	.hue(199);
//	.hue(208);
//	.hue(213);
//	
//	.hue(@degree) {
//		.hue-@{degree} {
//			.colortable();
//			.saturations(@degree);
//		}
//	}
//	
//	.saturations(@hue) {
//		.sat-alph {
//			@sat: 100%;
//			.values(@hue; @sat);
//		}
//		.sat-beta {
//			@sat: 83.33%;
//			.values(@hue; @sat);
//		}
//		.sat-gamm {
//			@sat: 66.66%;
//			.values(@hue; @sat);
//		}
//		.sat-delt {
//			@sat: 50%;
//			.values(@hue; @sat);
//		}
//		.sat-epsi {
//			@sat: 33.33%;
//			.values(@hue; @sat);
//		}
//		.sat-zeta {
//			@sat: 16.66%;
//			.values(@hue; @sat);
//		}
//	}
//	.values(@hue; @sat) {
//		.val-full {
//			@val: 100%;
//			background-color: hsv(@hue, @sat, @val);
//		}
//		.val-lite {
//			@val: 75%;
//			background-color: hsv(@hue, @sat, @val);
//		}
//		.val-med {
//			.dark;
//			@val: 50%;
//			background-color: hsv(@hue, @sat, @val);
//		}
//		.val-dark {
//			.dark;
//			@val: 25%;
//			background-color: hsv(@hue, @sat, @val);
//		}
//	}
	
//	.chosencolors{
//		.list-basic;
//		.linebreadth-small();
//		> li {
//			padding: .2em .3em;
//			outline: thin solid black;
//			margin: 0.75em auto;
//			
//			// COLOR NAMES
//			@aperture-white:       #f2f7ff;
//			@aperture-black:       #0d0800;
//			@atlas-blue:           hsv(217,   100%, 100%);
//			@pbody-orange:         hsv( 37,   100%, 100%);
			
//			@bridges-of-light:     hsv(207, 33.33%, 100%);
//			@light-bridge-edge:    hsv(185, 66.66%, 100%);
//			@asbestos:             hsv( 47, 33.33%, 100%);
//			@lake-superior:        hsv(247,   100%,  75%);
//			@facility-abyss:       hsv(217, 66.66%,  50%);
//			@caves-caves:          hsv( 37, 83.33%,  50%);
//			@deploying:            hsv(  7,   100%, 100%);
//			@her-eye:              hsv( 67, 66.66%, 100%);
//			@neurotoxin:           hsv( 97, 66.66%,  75%);
//			@vilify:               hsv(277, 66.66%,  75%);
//			@heart-of-a-companion: hsv(337, 33.33%, 100%);

//Excursion Funnel, forward
//Excursion Funnel, backward
//
//Repulsion Gel
//Propulsion Gel
//
//Hard Light Bridge
//Thermal Discouragement Beam
//
//Fizzler (testsubj yes, portals no, objects no)
//Lazer Field (testsubj no, portals yes, objects yes)
//
//Glass
//Grate
//
//gray cube
//super button


//			&#aperture-white       {background-color: @aperture-white;}
//			&#aperture-black       {background-color: @aperture-black; .dark;}
//			&#atlas-blue           {background-color: @atlas-blue;}
//			&#pbody-orange         {background-color: @pbody-orange;}
//			&#bridges-of-light     {background-color: @bridges-of-light;}
//			&#light-bridge-edge    {background-color: @bridges-of-light;}
//			&#asbestos             {background-color: @asbestos;}
//			&#lake-superior        {background-color: @lake-superior; .dark;}
//			&#facility-abyss       {background-color: @facility-abyss; .dark;}
//			&#caves-caves          {background-color: @caves-caves; .dark;}
//			&#deploying            {background-color: @deploying; .dark;}
//			&#her-eye              {background-color: @her-eye;}
//			&#neurotoxin           {background-color: @neurotoxin;}
//			&#vilify               {background-color: @vilify; .dark;}
//			&#heart-of-a-companion {background-color: @heart-of-a-companion;}
//			
//			.elemprops {font-size: 10pt; display: none;}
//			.colorcode {text-align: right;}
//		}
//	}
//}
/* @end */



//.line {
//	&.br {
//		margin-bottom: 1em;
//	}
//	#des-philines & {
//		margin-top: 1em;
//	}
//}
//
//.unit {
//	padding: 3px 0;
//	outline: 1px solid #999;
//	#des-philines & {
//		padding: 0;
//	}
//}
