@import url('../core/stylesheets/grid.less');
@import url('../core/stylesheets/typo.less');
@import url('../core/stylesheets/mods.less');

/* @group grid.html */
#griddothtml {
	.outline() {outline: 1px solid #999;}
	.tablerow  {
		.line();
		.outline();
		margin-bottom: 2em;
	}
	.tablecell {.unit(); .outline();}
	
	.P1,
	.P2,
	.P3,
	.P4,
	.U-P3,
	.U-P4,
	.P1-l,
	.P1-r,
	.P1-ml,
	.P1-mr,
	.P2-l,
	.P2-r,
	.P3-l,
	.P3-r,
	.P4-l,
	.P4-r,
	.uP3-l,
	.uP3-r,
	.uP4-l,
	.uP4-r {.outline();}
	
	.P1   {.unit-P1();}
	.P2   {.unit-P2();}
	.P3   {.unit-P3();}
	.P4   {.unit-P4();}
	.U-P3 {.unit-U-P3();}
	.U-P4 {.unit-U-P4();}
	
	.width-full   {.linebreadth-full();}
	.width-large  {.linebreadth-large();}
	.width-medium {.linebreadth-medium();}
	.width-small  {.linebreadth-small();}
	
	.P1-l {.P1-left();}
	.P1-r {.P1-right();}
	.P1-ml {.P1-midleft();}
	.P1-mr {.P1-midright();}
	.P2-l {.P2-left();}
	.P2-r {.P2-right();}
	.P3-l {.P3-left();}
	.P3-r {.P3-right();}
	.P4-l {.P4-left();}
	.P4-r {.P4-right();}
	.uP3-l {.U-P3-left();}
	.uP3-r {.U-P3-right();}
	.uP4-l {.U-P4-left();}
	.uP4-r {.U-P4-right();}
	
	.customunitnames {
		.linebreadth-small();
	}
}
/* @end */

/* @group mods.html */
/* @end */

/* @group colors.html */
#colorsdothtml {
	.main, main {
		.linebreadth-full();
	}
	.dark,
	.val50,
	.val25 {color: #eee;}
	
	.palettes {
		.line();
		color: #111;
		background-color: #fff;
		.cool,
		.warm {.unit-1to2();}
	}
	
	.hue210,
	.hue240,
	.hue270,
	.hue300,
	.hue330,
	.hue0,
	.hue30,
	.hue60,
	.hue90,
	.hue120,
	.hue150,
	.hue180 {
		.linebreadth-full();
		border: 1px solid #999;
		font-weight: bold;
		.colorcode {
			font-weight: normal;
			font-size: 8pt;
			font-family: @font-fam-code;
		}
		tbody {
			th {width: 11.11%;}
			td {width: 22.22%;}
		}
		th {border: 1px solid #999;}
	}
	.hue210 {
		.saturations(210);
	}
	.hue240 {
		.saturations(240);
	}
	.hue270 {
		.saturations(270);
	}
	.hue300 {
		.saturations(300);
	}
	.hue330 {
		.saturations(330);
	}
	.hue0 {
		.saturations(0);
	}
	.hue30 {
		.saturations(30);
	}
	.hue60 {
		.saturations(60);
	}
	.hue90 {
		.saturations(90);
	}
	.hue120 {
		.saturations(120);
	}
	.hue150 {
		.saturations(150);
	}
	.hue180 {
		.saturations(180);
	}
	.saturations(@hue) {
		.sat100 {
			@sat: 100%;
			.values(@hue; @sat);
		}
		.sat83 {
			@sat: 83.33%;
			.values(@hue; @sat);
		}
		.sat66 {
			@sat: 66.66%;
			.values(@hue; @sat);
		}
		.sat50 {
			@sat: 50%;
			.values(@hue; @sat);
		}
		.sat33 {
			@sat: 33.33%;
			.values(@hue; @sat);
		}
		.sat16 {
			@sat: 16.66%;
			.values(@hue; @sat);
		}
	}
	.values(@hue; @sat) {
		.val100 {
			@val: 100%;
			background-color: hsv(@hue, @sat, @val);
		}
		.val75 {
			@val: 75%;
			background-color: hsv(@hue, @sat, @val);
		}
		.val50 {
			@val: 50%;
			background-color: hsv(@hue, @sat, @val);
		}
		.val25 {
			@val: 25%;
			background-color: hsv(@hue, @sat, @val);
		}
	}
	
	.chosencolors{
		.list-basic;
		.linebreadth-small();
		.h-gamma {color: inherit;}
		> li {
			padding: .2em .3em;
			outline: thin solid black;
			margin: 0.75em auto;
			&#aperture-white       {background-color: @aperture-white;}
			&#aperture-black       {background-color: @aperture-black; .dark;}
			&#atlas-blue           {background-color: @atlas-blue;}
			&#pbody-orange         {background-color: @pbody-orange;}
			&#bridges-of-light     {background-color: @bridges-of-light;}
			&#asbestos             {background-color: @asbestos;}
			&#lake-superior        {background-color: @lake-superior; .dark;}
			&#facility-abyss       {background-color: @facility-abyss; .dark;}
			&#caves-caves          {background-color: @caves-caves; .dark;}
			&#are-you-still-there  {background-color: @are-you-still-there; .dark;}
			&#her-eye              {background-color: @her-eye;}
			&#neurotoxin           {background-color: @neurotoxin;}
			&#vilify               {background-color: @vilify; .dark;}
			&#heart-of-a-companion {background-color: @heart-of-a-companion;}
	
			.elemprops {font-size: 10pt;}
		}
	}
}
/* @end */



//.line {
//	&.br {
//		margin-bottom: 1em;
//	}
//	#des-philines & {
//		margin-top: 1em;
//	}
//}
//
//.unit {
//	padding: 3px 0;
//	outline: 1px solid #999;
//	#des-philines & {
//		padding: 0;
//	}
//}