/* @group GRID.LESS */
/* @group Golden widths and margins */
/* @end */
/* @group lines and units */
/* @group rational-sized units */
/* @end */
/* @group Golden-sized units */
/* @end */
/* @end */
/* @end GRID */
/* @group TYPO.LESS */
/* @group headings */
.title {
  text-align: center;
}
.heading,
h1,
.h-alpha,
h2,
.h-beta,
h3,
.h-gamma,
h4,
.h-delta,
h5,
.h-epsilon,
h6,
.h-zeta {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #0d0800;
}
h1,
.h-alpha {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #0000bf;
}
h2,
.h-beta {
  font-weight: bold;
  font-size: 1.500em;
  color: #2b5580;
}
h3,
.h-gamma {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
}
h4,
.h-delta {
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
}
h5,
.h-epsilon {
  font-style: italic;
  font-size: 0.833em;
  text-indent: 0.5in;
  color: #2b5580;
}
h6,
.h-zeta {
  font-style: italic;
  font-variant: small-caps;
  font-size: 0.833em;
  text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
/* @end */
/* @group paragraphs and block text */
.p,
p {
  margin: 0 0 0.5em;
  line-height: 1.4em;
}
.prose {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
  list-style-type: decimal;
}
.lede {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.q-block,
blockquote {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #ff0000;
  margin-left: 21px;
  font-size: 14pt;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
}
.q-block.prose,
blockquote.prose {
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
}
.q-block.prose .source,
blockquote.prose .source {
  padding-left: 0;
}
.q-block.prose .source:before,
blockquote.prose .source:before {
  content: '(';
}
.q-block.prose .source:after,
blockquote.prose .source:after {
  content: ')';
}
.q-block .source,
blockquote .source {
  padding-left: 1em;
  font-family: 'Optima', 'Century Gothic', sans-serif;
}
.q-block .source:before,
blockquote .source:before {
  content: '~';
}
.caption,
figure figcaption,
table caption {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 3px;
  border-right-style: double;
  border-right-color: #ff0000;
  margin-right: 13px;
  font-size: 10pt;
  text-align: right;
}
.timestamp {
  font-size: smaller;
  text-align: left;
}
/* @end */
/* @group lists */
ul,
ol,
dl {
  padding: 0 0 0 0.5in;
  margin: 0 0 0.5em;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-bottom: auto;
}
.list-basic {
  padding: 0;
  list-style-type: none;
}
.list-basic dd {
  margin: 0;
}
.list-inline {
  padding: 0;
  list-style-type: none;
  display: block;
}
.list-inline dd {
  margin: 0;
}
.list-inline li {
  display: inline;
}
.list-line {
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}
.list-line dd {
  margin: 0;
}
.list-line li {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
}
.list-action {
  padding: 0;
  list-style-type: none;
  color: #0080ff;
}
.list-action dd {
  margin: 0;
}
.list-action ul,
.list-action ol,
.list-action dl {
  list-style-type: none;
}
.list-action li:before {
  content: '\2713\00A0';
}
.list-action a {
  border-bottom: 0;
  text-decoration: underline;
}
.list-omega {
  list-style-type: decimal-leading-zero;
}
.list-alpha {
  list-style-type: upper-roman;
}
.list-beta {
  list-style-type: upper-alpha;
}
.list-gamma {
  list-style-type: decimal;
}
.list-delta {
  list-style-type: lower-alpha;
}
.list-epsilon {
  list-style-type: lower-roman;
}
.list-zeta {
  list-style-type: lower-greek;
}
/* @end */
/* @group tables */
table,
.table {
  border: 1px solid #ff0000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
table .header,
.table .header,
table thead,
.table thead,
table tfoot,
.table tfoot,
table th,
.table th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
table .body .code,
.table .body .code,
table tbody .code,
.table tbody .code,
table .body code,
.table .body code,
table tbody code,
.table tbody code {
  background-color: transparent;
}
table th,
.table th,
table td,
.table td {
  padding: 5px;
  border-color: #808080;
}
.table-list {
  border: 1px solid #ff0000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
  border-left: 0;
  border-right: 0;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-list .body .code,
.table-list tbody .code,
.table-list .body code,
.table-list tbody code {
  background-color: transparent;
}
.table-list th,
.table-list td {
  padding: 5px;
  border-color: #808080;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th .body,
.table-list tbody {
  border: 1px solid #ff0000;
  border-left: 0;
  border-right: 0;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th {
  background-color: #ffffff;
}
.table-list .row-odd {
  background-color: #f2f9ff;
}
.table-list .row-even {
  background-color: #fff9f2;
}
.table-bars {
  border: 1px solid #ff0000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
.table-bars .header,
.table-bars thead,
.table-bars tfoot,
.table-bars th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-bars .body .code,
.table-bars tbody .code,
.table-bars .body code,
.table-bars tbody code {
  background-color: transparent;
}
.table-bars th,
.table-bars td {
  padding: 5px;
  border-color: #808080;
}
.table-bars .header,
.table-bars th {
  border: 1px solid #ff0000;
  border-top: 0;
  border-bottom: 0;
}
.table-bars .header,
.table-bars th {
  background-color: #ffffff;
}
.table-bars .column-odd {
  background-color: #fff9f2;
}
.table-bars .column-even {
  background-color: #f2f9ff;
}
.table-grid {
  border: 1px solid #ff0000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
.table-grid .header,
.table-grid thead,
.table-grid tfoot,
.table-grid th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-grid .body .code,
.table-grid tbody .code,
.table-grid .body code,
.table-grid tbody code {
  background-color: transparent;
}
.table-grid th,
.table-grid td {
  padding: 5px;
  border-color: #808080;
}
.table-grid td {
  border: 1px solid #ff0000;
}
.table-grid .header,
.table-grid th {
  background-color: #ffffff;
}
.table-grid .row-odd .column-odd {
  background-color: #ddeeff;
}
.table-grid .row-odd .column-even {
  background-color: #bbddff;
}
.table-grid .row-even .column-odd {
  background-color: #bbddff;
}
.table-grid .row-even .column-even {
  background-color: #99ccff;
}
/* @end */
/* @group inline text */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-weight: italic;
}
mark {
  background-color: yellow;
}
.tex {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: pre;
  color: #000000;
}
.phone,
.email {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
.help {
  border-bottom: 2px solid #ffaad5;
}
.help,
abbr[title],
ins[datetime],
del[datetime],
time[datetime] {
  border-bottom: 2px solid #ffaad5;
  cursor: help;
}
.new,
ins {
  text-decoration: underline;
  color: #80bf40;
}
.old,
del {
  text-decoration: line-through;
  color: #8040bf;
}
.scare {
  font-weight: inherit;
  font-style: inherit;
}
.scare:before {
  content: open-quote;
}
.scare:after {
  content: close-quote;
}
.superscript {
  font-size: smaller;
  vertical-align: super;
}
.subscript {
  font-size: smaller;
  vertical-align: sub;
}
.hindent-5 {
  text-indent: -0.5in;
  padding-left: 0.5in;
}
.hindent-25 {
  text-indent: -0.25in;
  padding-left: 0.25in;
}
.hindent-em {
  text-indent: -1em;
  padding-left: 1em;
}
i:lang(la),
i:lang(it),
i:lang(fr) {
  font-family: 'Times New Roman', serif;
  font-style: italic;
}
/* @end */
/* @end TYPO */
/* @group MODS.LESS */
/* @group main stuff */
.body,
body {
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  color: #0d0800;
  background-color: #f2f7ff;
}
.hub-body {
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  color: #0d0800;
  background-color: #f2f7ff;
  background-image: url('/home/images/phi-stripes-trans.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.main,
main {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
  margin-bottom: 162px;
}
.masthead {
  width: 14.58980337503155%;
  margin-left: 85.41019662496845%;
  margin-right: 0;
  position: fixed;
  top: 0;
  font-weight: bold;
  font-size: 1in;
  font-family: 'Times', 'Times New Roman', serif;
}
.masthead nav {
  width: 61.80339887498949%;
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
.masthead nav .mylogo {
  display: block;
  border-bottom: 0;
}
/* @end */
/* @group hyperlinks */
.link,
a {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
}
.up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #0080ff;
}
.dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #ff8000;
}
.sp-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #80bf40;
}
.sp-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #8040bf;
}
.active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #ff0000;
}
/* @end */
/* @group special boxes */
.box {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.box-block {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}
.block-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #0080ff;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: #bfe4ff;
}
.block-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #ff8000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: #ffdabf;
}
.block-dn .h-beta,
.block-dn .h-epsilon {
  color: #804a15;
}
.block-active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #ff0000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  color: #ffff55;
  background-color: #0d0800;
}
.example {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #0000ff;
  background-color: #bfe5ff;
}
.example:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'example';
  font-size: smaller;
  border-color: #0000ff;
  color: #0080ff;
  background-color: #bfe5ff;
}
.demo {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #ffff00;
  background-color: #bfe5ff;
}
.demo:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'demo';
  font-size: smaller;
  border-color: #ffff00;
  color: #ff8000;
  background-color: #bfe5ff;
}
/* @group coding shit */
.code,
code {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
}
pre {
  margin: 0;
}
.code-block,
pre > code {
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block:before,
pre > code:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'code';
  font-size: smaller;
  border-color: #ffeaf6;
  color: #ff0000;
  background-color: #ffeaf6;
}
.code-block.lang-html,
pre > code.lang-html {
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-html:before,
pre > code.lang-html:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'HTML';
  font-size: smaller;
  border-color: #ffeaf6;
  color: #ff0000;
  background-color: #ffeaf6;
}
.code-block.lang-html .tag,
pre > code.lang-html .tag {
  color: #800000;
}
.code-block.lang-html .attribute,
pre > code.lang-html .attribute {
  color: #008000;
}
.code-block.lang-html .value,
pre > code.lang-html .value {
  color: #000080;
}
.code-block.lang-html .comment,
pre > code.lang-html .comment {
  color: #999;
}
.code-block.lang-css .selector,
pre > code.lang-css .selector,
.code-block.lang-less .selector,
pre > code.lang-less .selector {
  color: #800000;
}
.code-block.lang-css .property,
pre > code.lang-css .property,
.code-block.lang-less .property,
pre > code.lang-less .property {
  color: #008000;
}
.code-block.lang-css .value,
pre > code.lang-css .value,
.code-block.lang-less .value,
pre > code.lang-less .value {
  color: #000080;
}
.code-block.lang-css .comment,
pre > code.lang-css .comment,
.code-block.lang-less .comment,
pre > code.lang-less .comment {
  color: #999;
}
.code-block.lang-css,
pre > code.lang-css {
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-css:before,
pre > code.lang-css:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'CSS';
  font-size: smaller;
  border-color: #ffeaf6;
  color: #ff0000;
  background-color: #ffeaf6;
}
.code-block.lang-less,
pre > code.lang-less {
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-less:before,
pre > code.lang-less:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'LESS';
  font-size: smaller;
  border-color: #ffeaf6;
  color: #ff0000;
  background-color: #ffeaf6;
}
.code-block.lang-js,
pre > code.lang-js {
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-js:before,
pre > code.lang-js:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'JavaScript';
  font-size: smaller;
  border-color: #ffeaf6;
  color: #ff0000;
  background-color: #ffeaf6;
}
.code-block.lang-jq,
pre > code.lang-jq {
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-jq:before,
pre > code.lang-jq:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'jQuery';
  font-size: smaller;
  border-color: #ffeaf6;
  color: #ff0000;
  background-color: #ffeaf6;
}
.kbd,
kbd kbd {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ffeaf6;
  background-color: #ffeaf6;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 2px;
  font-size: 13pt;
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
/* @end */
/* @end */
/* @group hacks */
.noshow {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.draft {
  display: none;
  color: #999999;
}
@media print {
  body {
    color: #000000;
  }
  body {
    background-image: none;
  }
  .nav-hub,
  .courseinfo,
  .masthead {
    display: none;
  }
  .main,
  main {
    width: auto;
    margin: auto;
  }
  /* a hack for elements needed to display but not to print */
  .noprint {
    display: none !important;
  }
}
/* @end */
/* @end MODS */
/* @group grid.html */
#griddothtml .tablerow {
  display: table;
  width: 100%;
  outline: 1px solid #999;
  margin-bottom: 2em;
}
#griddothtml .tablecell {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  outline: 1px solid #999;
}
#griddothtml .P1,
#griddothtml .P2,
#griddothtml .P3,
#griddothtml .P4,
#griddothtml .U-P3,
#griddothtml .U-P4,
#griddothtml .P1-l,
#griddothtml .P1-r,
#griddothtml .P1-ml,
#griddothtml .P1-mr,
#griddothtml .P2-l,
#griddothtml .P2-r,
#griddothtml .P3-l,
#griddothtml .P3-r,
#griddothtml .P4-l,
#griddothtml .P4-r,
#griddothtml .uP3-l,
#griddothtml .uP3-r,
#griddothtml .uP4-l,
#griddothtml .uP4-r {
  outline: 1px solid #999;
}
#griddothtml .P1 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 61.80339887498949%;
}
#griddothtml .P2 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 38.196601125010524%;
}
#griddothtml .P3 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 23.606797749978973%;
}
#griddothtml .P4 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 14.58980337503155%;
}
#griddothtml .U-P3 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 76.39320225002102%;
}
#griddothtml .U-P4 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 85.41019662496845%;
}
#griddothtml .width-full {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#griddothtml .width-large {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
#griddothtml .width-medium {
  width: 66.66666666666666%;
  margin-left: 16.66666666666667%;
  margin-right: 16.66666666666667%;
}
#griddothtml .width-small {
  width: 61.80339887498949%;
  margin-left: 19.098300562505255%;
  margin-right: 19.098300562505255%;
}
#griddothtml .P1-l {
  width: 61.80339887498949%;
  margin-left: 0;
  margin-right: 38.19660112501051%;
}
#griddothtml .P1-r {
  width: 61.80339887498949%;
  margin-left: 38.19660112501051%;
  margin-right: 0;
}
#griddothtml .P1-ml {
  width: 61.80339887498949%;
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
#griddothtml .P1-mr {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
}
#griddothtml .P2-l {
  width: 38.196601125010524%;
  margin-left: 0;
  margin-right: 61.803398874989476%;
}
#griddothtml .P2-r {
  width: 38.196601125010524%;
  margin-left: 61.803398874989476%;
  margin-right: 0;
}
#griddothtml .P3-l {
  width: 23.606797749978973%;
  margin-left: 0;
  margin-right: 76.39320225002103%;
}
#griddothtml .P3-r {
  width: 23.606797749978973%;
  margin-left: 76.39320225002103%;
  margin-right: 0;
}
#griddothtml .P4-l {
  width: 14.58980337503155%;
  margin-left: 0;
  margin-right: 85.41019662496845%;
}
#griddothtml .P4-r {
  width: 14.58980337503155%;
  margin-left: 85.41019662496845%;
  margin-right: 0;
}
#griddothtml .uP3-l {
  width: 76.39320225002102%;
  margin-left: 0;
  margin-right: 23.606797749978973%;
}
#griddothtml .uP3-r {
  width: 76.39320225002102%;
  margin-left: 23.606797749978973%;
  margin-right: 0;
}
#griddothtml .uP4-l {
  width: 85.41019662496845%;
  margin-left: 0;
  margin-right: 14.58980337503155%;
}
#griddothtml .uP4-r {
  width: 85.41019662496845%;
  margin-left: 14.58980337503155%;
  margin-right: 0;
}
#griddothtml .customunitnames {
  width: 61.80339887498949%;
  margin-left: 19.098300562505255%;
  margin-right: 19.098300562505255%;
}
/* @end */
/* @group mods.html */
/* @end */
/* @group colors.html */
#colorsdothtml .main,
#colorsdothtml main {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#colorsdothtml .dark,
#colorsdothtml .val50,
#colorsdothtml .val25 {
  color: #eee;
}
#colorsdothtml .palettes {
  display: table;
  width: 100%;
  color: #111;
  background-color: #fff;
}
#colorsdothtml .palettes .cool,
#colorsdothtml .palettes .warm {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 50%;
}
#colorsdothtml .hue210,
#colorsdothtml .hue240,
#colorsdothtml .hue270,
#colorsdothtml .hue300,
#colorsdothtml .hue330,
#colorsdothtml .hue0,
#colorsdothtml .hue30,
#colorsdothtml .hue60,
#colorsdothtml .hue90,
#colorsdothtml .hue120,
#colorsdothtml .hue150,
#colorsdothtml .hue180 {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  border: 1px solid #999;
  font-weight: bold;
}
#colorsdothtml .hue210 .colorcode,
#colorsdothtml .hue240 .colorcode,
#colorsdothtml .hue270 .colorcode,
#colorsdothtml .hue300 .colorcode,
#colorsdothtml .hue330 .colorcode,
#colorsdothtml .hue0 .colorcode,
#colorsdothtml .hue30 .colorcode,
#colorsdothtml .hue60 .colorcode,
#colorsdothtml .hue90 .colorcode,
#colorsdothtml .hue120 .colorcode,
#colorsdothtml .hue150 .colorcode,
#colorsdothtml .hue180 .colorcode {
  font-weight: normal;
  font-size: 8pt;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
}
#colorsdothtml .hue210 tbody th,
#colorsdothtml .hue240 tbody th,
#colorsdothtml .hue270 tbody th,
#colorsdothtml .hue300 tbody th,
#colorsdothtml .hue330 tbody th,
#colorsdothtml .hue0 tbody th,
#colorsdothtml .hue30 tbody th,
#colorsdothtml .hue60 tbody th,
#colorsdothtml .hue90 tbody th,
#colorsdothtml .hue120 tbody th,
#colorsdothtml .hue150 tbody th,
#colorsdothtml .hue180 tbody th {
  width: 11.11%;
}
#colorsdothtml .hue210 tbody td,
#colorsdothtml .hue240 tbody td,
#colorsdothtml .hue270 tbody td,
#colorsdothtml .hue300 tbody td,
#colorsdothtml .hue330 tbody td,
#colorsdothtml .hue0 tbody td,
#colorsdothtml .hue30 tbody td,
#colorsdothtml .hue60 tbody td,
#colorsdothtml .hue90 tbody td,
#colorsdothtml .hue120 tbody td,
#colorsdothtml .hue150 tbody td,
#colorsdothtml .hue180 tbody td {
  width: 22.22%;
}
#colorsdothtml .hue210 th,
#colorsdothtml .hue240 th,
#colorsdothtml .hue270 th,
#colorsdothtml .hue300 th,
#colorsdothtml .hue330 th,
#colorsdothtml .hue0 th,
#colorsdothtml .hue30 th,
#colorsdothtml .hue60 th,
#colorsdothtml .hue90 th,
#colorsdothtml .hue120 th,
#colorsdothtml .hue150 th,
#colorsdothtml .hue180 th {
  border: 1px solid #999;
}
#colorsdothtml .hue210 .sat100 .val100 {
  background-color: #0080ff;
}
#colorsdothtml .hue210 .sat100 .val75 {
  background-color: #0060bf;
}
#colorsdothtml .hue210 .sat100 .val50 {
  background-color: #004080;
}
#colorsdothtml .hue210 .sat100 .val25 {
  background-color: #002040;
}
#colorsdothtml .hue210 .sat83 .val100 {
  background-color: #2b95ff;
}
#colorsdothtml .hue210 .sat83 .val75 {
  background-color: #2070bf;
}
#colorsdothtml .hue210 .sat83 .val50 {
  background-color: #154a80;
}
#colorsdothtml .hue210 .sat83 .val25 {
  background-color: #0b2540;
}
#colorsdothtml .hue210 .sat66 .val100 {
  background-color: #55aaff;
}
#colorsdothtml .hue210 .sat66 .val75 {
  background-color: #4080bf;
}
#colorsdothtml .hue210 .sat66 .val50 {
  background-color: #2b5580;
}
#colorsdothtml .hue210 .sat66 .val25 {
  background-color: #152b40;
}
#colorsdothtml .hue210 .sat50 .val100 {
  background-color: #80bfff;
}
#colorsdothtml .hue210 .sat50 .val75 {
  background-color: #608fbf;
}
#colorsdothtml .hue210 .sat50 .val50 {
  background-color: #406080;
}
#colorsdothtml .hue210 .sat50 .val25 {
  background-color: #203040;
}
#colorsdothtml .hue210 .sat33 .val100 {
  background-color: #aad5ff;
}
#colorsdothtml .hue210 .sat33 .val75 {
  background-color: #809fbf;
}
#colorsdothtml .hue210 .sat33 .val50 {
  background-color: #556a80;
}
#colorsdothtml .hue210 .sat33 .val25 {
  background-color: #2b3540;
}
#colorsdothtml .hue210 .sat16 .val100 {
  background-color: #d5eaff;
}
#colorsdothtml .hue210 .sat16 .val75 {
  background-color: #9fafbf;
}
#colorsdothtml .hue210 .sat16 .val50 {
  background-color: #6a7580;
}
#colorsdothtml .hue210 .sat16 .val25 {
  background-color: #353a40;
}
#colorsdothtml .hue240 .sat100 .val100 {
  background-color: #0000ff;
}
#colorsdothtml .hue240 .sat100 .val75 {
  background-color: #0000bf;
}
#colorsdothtml .hue240 .sat100 .val50 {
  background-color: #000080;
}
#colorsdothtml .hue240 .sat100 .val25 {
  background-color: #000040;
}
#colorsdothtml .hue240 .sat83 .val100 {
  background-color: #2b2bff;
}
#colorsdothtml .hue240 .sat83 .val75 {
  background-color: #2020bf;
}
#colorsdothtml .hue240 .sat83 .val50 {
  background-color: #151580;
}
#colorsdothtml .hue240 .sat83 .val25 {
  background-color: #0b0b40;
}
#colorsdothtml .hue240 .sat66 .val100 {
  background-color: #5555ff;
}
#colorsdothtml .hue240 .sat66 .val75 {
  background-color: #4040bf;
}
#colorsdothtml .hue240 .sat66 .val50 {
  background-color: #2b2b80;
}
#colorsdothtml .hue240 .sat66 .val25 {
  background-color: #151540;
}
#colorsdothtml .hue240 .sat50 .val100 {
  background-color: #8080ff;
}
#colorsdothtml .hue240 .sat50 .val75 {
  background-color: #6060bf;
}
#colorsdothtml .hue240 .sat50 .val50 {
  background-color: #404080;
}
#colorsdothtml .hue240 .sat50 .val25 {
  background-color: #202040;
}
#colorsdothtml .hue240 .sat33 .val100 {
  background-color: #aaaaff;
}
#colorsdothtml .hue240 .sat33 .val75 {
  background-color: #8080bf;
}
#colorsdothtml .hue240 .sat33 .val50 {
  background-color: #555580;
}
#colorsdothtml .hue240 .sat33 .val25 {
  background-color: #2b2b40;
}
#colorsdothtml .hue240 .sat16 .val100 {
  background-color: #d5d5ff;
}
#colorsdothtml .hue240 .sat16 .val75 {
  background-color: #9f9fbf;
}
#colorsdothtml .hue240 .sat16 .val50 {
  background-color: #6a6a80;
}
#colorsdothtml .hue240 .sat16 .val25 {
  background-color: #353540;
}
#colorsdothtml .hue270 .sat100 .val100 {
  background-color: #8000ff;
}
#colorsdothtml .hue270 .sat100 .val75 {
  background-color: #6000bf;
}
#colorsdothtml .hue270 .sat100 .val50 {
  background-color: #400080;
}
#colorsdothtml .hue270 .sat100 .val25 {
  background-color: #200040;
}
#colorsdothtml .hue270 .sat83 .val100 {
  background-color: #952bff;
}
#colorsdothtml .hue270 .sat83 .val75 {
  background-color: #7020bf;
}
#colorsdothtml .hue270 .sat83 .val50 {
  background-color: #4a1580;
}
#colorsdothtml .hue270 .sat83 .val25 {
  background-color: #250b40;
}
#colorsdothtml .hue270 .sat66 .val100 {
  background-color: #aa55ff;
}
#colorsdothtml .hue270 .sat66 .val75 {
  background-color: #8040bf;
}
#colorsdothtml .hue270 .sat66 .val50 {
  background-color: #552b80;
}
#colorsdothtml .hue270 .sat66 .val25 {
  background-color: #2b1540;
}
#colorsdothtml .hue270 .sat50 .val100 {
  background-color: #bf80ff;
}
#colorsdothtml .hue270 .sat50 .val75 {
  background-color: #8f60bf;
}
#colorsdothtml .hue270 .sat50 .val50 {
  background-color: #604080;
}
#colorsdothtml .hue270 .sat50 .val25 {
  background-color: #302040;
}
#colorsdothtml .hue270 .sat33 .val100 {
  background-color: #d5aaff;
}
#colorsdothtml .hue270 .sat33 .val75 {
  background-color: #9f80bf;
}
#colorsdothtml .hue270 .sat33 .val50 {
  background-color: #6a5580;
}
#colorsdothtml .hue270 .sat33 .val25 {
  background-color: #352b40;
}
#colorsdothtml .hue270 .sat16 .val100 {
  background-color: #ead5ff;
}
#colorsdothtml .hue270 .sat16 .val75 {
  background-color: #af9fbf;
}
#colorsdothtml .hue270 .sat16 .val50 {
  background-color: #756a80;
}
#colorsdothtml .hue270 .sat16 .val25 {
  background-color: #3a3540;
}
#colorsdothtml .hue300 .sat100 .val100 {
  background-color: #ff00ff;
}
#colorsdothtml .hue300 .sat100 .val75 {
  background-color: #bf00bf;
}
#colorsdothtml .hue300 .sat100 .val50 {
  background-color: #800080;
}
#colorsdothtml .hue300 .sat100 .val25 {
  background-color: #400040;
}
#colorsdothtml .hue300 .sat83 .val100 {
  background-color: #ff2bff;
}
#colorsdothtml .hue300 .sat83 .val75 {
  background-color: #bf20bf;
}
#colorsdothtml .hue300 .sat83 .val50 {
  background-color: #801580;
}
#colorsdothtml .hue300 .sat83 .val25 {
  background-color: #400b40;
}
#colorsdothtml .hue300 .sat66 .val100 {
  background-color: #ff55ff;
}
#colorsdothtml .hue300 .sat66 .val75 {
  background-color: #bf40bf;
}
#colorsdothtml .hue300 .sat66 .val50 {
  background-color: #802b80;
}
#colorsdothtml .hue300 .sat66 .val25 {
  background-color: #401540;
}
#colorsdothtml .hue300 .sat50 .val100 {
  background-color: #ff80ff;
}
#colorsdothtml .hue300 .sat50 .val75 {
  background-color: #bf60bf;
}
#colorsdothtml .hue300 .sat50 .val50 {
  background-color: #804080;
}
#colorsdothtml .hue300 .sat50 .val25 {
  background-color: #402040;
}
#colorsdothtml .hue300 .sat33 .val100 {
  background-color: #ffaaff;
}
#colorsdothtml .hue300 .sat33 .val75 {
  background-color: #bf80bf;
}
#colorsdothtml .hue300 .sat33 .val50 {
  background-color: #805580;
}
#colorsdothtml .hue300 .sat33 .val25 {
  background-color: #402b40;
}
#colorsdothtml .hue300 .sat16 .val100 {
  background-color: #ffd5ff;
}
#colorsdothtml .hue300 .sat16 .val75 {
  background-color: #bf9fbf;
}
#colorsdothtml .hue300 .sat16 .val50 {
  background-color: #806a80;
}
#colorsdothtml .hue300 .sat16 .val25 {
  background-color: #403540;
}
#colorsdothtml .hue330 .sat100 .val100 {
  background-color: #ff0080;
}
#colorsdothtml .hue330 .sat100 .val75 {
  background-color: #bf0060;
}
#colorsdothtml .hue330 .sat100 .val50 {
  background-color: #800040;
}
#colorsdothtml .hue330 .sat100 .val25 {
  background-color: #400020;
}
#colorsdothtml .hue330 .sat83 .val100 {
  background-color: #ff2b95;
}
#colorsdothtml .hue330 .sat83 .val75 {
  background-color: #bf2070;
}
#colorsdothtml .hue330 .sat83 .val50 {
  background-color: #80154a;
}
#colorsdothtml .hue330 .sat83 .val25 {
  background-color: #400b25;
}
#colorsdothtml .hue330 .sat66 .val100 {
  background-color: #ff55aa;
}
#colorsdothtml .hue330 .sat66 .val75 {
  background-color: #bf4080;
}
#colorsdothtml .hue330 .sat66 .val50 {
  background-color: #802b55;
}
#colorsdothtml .hue330 .sat66 .val25 {
  background-color: #40152b;
}
#colorsdothtml .hue330 .sat50 .val100 {
  background-color: #ff80bf;
}
#colorsdothtml .hue330 .sat50 .val75 {
  background-color: #bf608f;
}
#colorsdothtml .hue330 .sat50 .val50 {
  background-color: #804060;
}
#colorsdothtml .hue330 .sat50 .val25 {
  background-color: #402030;
}
#colorsdothtml .hue330 .sat33 .val100 {
  background-color: #ffaad5;
}
#colorsdothtml .hue330 .sat33 .val75 {
  background-color: #bf809f;
}
#colorsdothtml .hue330 .sat33 .val50 {
  background-color: #80556a;
}
#colorsdothtml .hue330 .sat33 .val25 {
  background-color: #402b35;
}
#colorsdothtml .hue330 .sat16 .val100 {
  background-color: #ffd5ea;
}
#colorsdothtml .hue330 .sat16 .val75 {
  background-color: #bf9faf;
}
#colorsdothtml .hue330 .sat16 .val50 {
  background-color: #806a75;
}
#colorsdothtml .hue330 .sat16 .val25 {
  background-color: #40353a;
}
#colorsdothtml .hue0 .sat100 .val100 {
  background-color: #ff0000;
}
#colorsdothtml .hue0 .sat100 .val75 {
  background-color: #bf0000;
}
#colorsdothtml .hue0 .sat100 .val50 {
  background-color: #800000;
}
#colorsdothtml .hue0 .sat100 .val25 {
  background-color: #400000;
}
#colorsdothtml .hue0 .sat83 .val100 {
  background-color: #ff2b2b;
}
#colorsdothtml .hue0 .sat83 .val75 {
  background-color: #bf2020;
}
#colorsdothtml .hue0 .sat83 .val50 {
  background-color: #801515;
}
#colorsdothtml .hue0 .sat83 .val25 {
  background-color: #400b0b;
}
#colorsdothtml .hue0 .sat66 .val100 {
  background-color: #ff5555;
}
#colorsdothtml .hue0 .sat66 .val75 {
  background-color: #bf4040;
}
#colorsdothtml .hue0 .sat66 .val50 {
  background-color: #802b2b;
}
#colorsdothtml .hue0 .sat66 .val25 {
  background-color: #401515;
}
#colorsdothtml .hue0 .sat50 .val100 {
  background-color: #ff8080;
}
#colorsdothtml .hue0 .sat50 .val75 {
  background-color: #bf6060;
}
#colorsdothtml .hue0 .sat50 .val50 {
  background-color: #804040;
}
#colorsdothtml .hue0 .sat50 .val25 {
  background-color: #402020;
}
#colorsdothtml .hue0 .sat33 .val100 {
  background-color: #ffaaaa;
}
#colorsdothtml .hue0 .sat33 .val75 {
  background-color: #bf8080;
}
#colorsdothtml .hue0 .sat33 .val50 {
  background-color: #805555;
}
#colorsdothtml .hue0 .sat33 .val25 {
  background-color: #402b2b;
}
#colorsdothtml .hue0 .sat16 .val100 {
  background-color: #ffd5d5;
}
#colorsdothtml .hue0 .sat16 .val75 {
  background-color: #bf9f9f;
}
#colorsdothtml .hue0 .sat16 .val50 {
  background-color: #806a6a;
}
#colorsdothtml .hue0 .sat16 .val25 {
  background-color: #403535;
}
#colorsdothtml .hue30 .sat100 .val100 {
  background-color: #ff8000;
}
#colorsdothtml .hue30 .sat100 .val75 {
  background-color: #bf6000;
}
#colorsdothtml .hue30 .sat100 .val50 {
  background-color: #804000;
}
#colorsdothtml .hue30 .sat100 .val25 {
  background-color: #402000;
}
#colorsdothtml .hue30 .sat83 .val100 {
  background-color: #ff952b;
}
#colorsdothtml .hue30 .sat83 .val75 {
  background-color: #bf7020;
}
#colorsdothtml .hue30 .sat83 .val50 {
  background-color: #804a15;
}
#colorsdothtml .hue30 .sat83 .val25 {
  background-color: #40250b;
}
#colorsdothtml .hue30 .sat66 .val100 {
  background-color: #ffaa55;
}
#colorsdothtml .hue30 .sat66 .val75 {
  background-color: #bf8040;
}
#colorsdothtml .hue30 .sat66 .val50 {
  background-color: #80552b;
}
#colorsdothtml .hue30 .sat66 .val25 {
  background-color: #402b15;
}
#colorsdothtml .hue30 .sat50 .val100 {
  background-color: #ffbf80;
}
#colorsdothtml .hue30 .sat50 .val75 {
  background-color: #bf8f60;
}
#colorsdothtml .hue30 .sat50 .val50 {
  background-color: #806040;
}
#colorsdothtml .hue30 .sat50 .val25 {
  background-color: #403020;
}
#colorsdothtml .hue30 .sat33 .val100 {
  background-color: #ffd5aa;
}
#colorsdothtml .hue30 .sat33 .val75 {
  background-color: #bf9f80;
}
#colorsdothtml .hue30 .sat33 .val50 {
  background-color: #806a55;
}
#colorsdothtml .hue30 .sat33 .val25 {
  background-color: #40352b;
}
#colorsdothtml .hue30 .sat16 .val100 {
  background-color: #ffead5;
}
#colorsdothtml .hue30 .sat16 .val75 {
  background-color: #bfaf9f;
}
#colorsdothtml .hue30 .sat16 .val50 {
  background-color: #80756a;
}
#colorsdothtml .hue30 .sat16 .val25 {
  background-color: #403a35;
}
#colorsdothtml .hue60 .sat100 .val100 {
  background-color: #ffff00;
}
#colorsdothtml .hue60 .sat100 .val75 {
  background-color: #bfbf00;
}
#colorsdothtml .hue60 .sat100 .val50 {
  background-color: #808000;
}
#colorsdothtml .hue60 .sat100 .val25 {
  background-color: #404000;
}
#colorsdothtml .hue60 .sat83 .val100 {
  background-color: #ffff2b;
}
#colorsdothtml .hue60 .sat83 .val75 {
  background-color: #bfbf20;
}
#colorsdothtml .hue60 .sat83 .val50 {
  background-color: #808015;
}
#colorsdothtml .hue60 .sat83 .val25 {
  background-color: #40400b;
}
#colorsdothtml .hue60 .sat66 .val100 {
  background-color: #ffff55;
}
#colorsdothtml .hue60 .sat66 .val75 {
  background-color: #bfbf40;
}
#colorsdothtml .hue60 .sat66 .val50 {
  background-color: #80802b;
}
#colorsdothtml .hue60 .sat66 .val25 {
  background-color: #404015;
}
#colorsdothtml .hue60 .sat50 .val100 {
  background-color: #ffff80;
}
#colorsdothtml .hue60 .sat50 .val75 {
  background-color: #bfbf60;
}
#colorsdothtml .hue60 .sat50 .val50 {
  background-color: #808040;
}
#colorsdothtml .hue60 .sat50 .val25 {
  background-color: #404020;
}
#colorsdothtml .hue60 .sat33 .val100 {
  background-color: #ffffaa;
}
#colorsdothtml .hue60 .sat33 .val75 {
  background-color: #bfbf80;
}
#colorsdothtml .hue60 .sat33 .val50 {
  background-color: #808055;
}
#colorsdothtml .hue60 .sat33 .val25 {
  background-color: #40402b;
}
#colorsdothtml .hue60 .sat16 .val100 {
  background-color: #ffffd5;
}
#colorsdothtml .hue60 .sat16 .val75 {
  background-color: #bfbf9f;
}
#colorsdothtml .hue60 .sat16 .val50 {
  background-color: #80806a;
}
#colorsdothtml .hue60 .sat16 .val25 {
  background-color: #404035;
}
#colorsdothtml .hue90 .sat100 .val100 {
  background-color: #80ff00;
}
#colorsdothtml .hue90 .sat100 .val75 {
  background-color: #60bf00;
}
#colorsdothtml .hue90 .sat100 .val50 {
  background-color: #408000;
}
#colorsdothtml .hue90 .sat100 .val25 {
  background-color: #204000;
}
#colorsdothtml .hue90 .sat83 .val100 {
  background-color: #95ff2b;
}
#colorsdothtml .hue90 .sat83 .val75 {
  background-color: #70bf20;
}
#colorsdothtml .hue90 .sat83 .val50 {
  background-color: #4a8015;
}
#colorsdothtml .hue90 .sat83 .val25 {
  background-color: #25400b;
}
#colorsdothtml .hue90 .sat66 .val100 {
  background-color: #aaff55;
}
#colorsdothtml .hue90 .sat66 .val75 {
  background-color: #80bf40;
}
#colorsdothtml .hue90 .sat66 .val50 {
  background-color: #55802b;
}
#colorsdothtml .hue90 .sat66 .val25 {
  background-color: #2b4015;
}
#colorsdothtml .hue90 .sat50 .val100 {
  background-color: #bfff80;
}
#colorsdothtml .hue90 .sat50 .val75 {
  background-color: #8fbf60;
}
#colorsdothtml .hue90 .sat50 .val50 {
  background-color: #608040;
}
#colorsdothtml .hue90 .sat50 .val25 {
  background-color: #304020;
}
#colorsdothtml .hue90 .sat33 .val100 {
  background-color: #d5ffaa;
}
#colorsdothtml .hue90 .sat33 .val75 {
  background-color: #9fbf80;
}
#colorsdothtml .hue90 .sat33 .val50 {
  background-color: #6a8055;
}
#colorsdothtml .hue90 .sat33 .val25 {
  background-color: #35402b;
}
#colorsdothtml .hue90 .sat16 .val100 {
  background-color: #eaffd5;
}
#colorsdothtml .hue90 .sat16 .val75 {
  background-color: #afbf9f;
}
#colorsdothtml .hue90 .sat16 .val50 {
  background-color: #75806a;
}
#colorsdothtml .hue90 .sat16 .val25 {
  background-color: #3a4035;
}
#colorsdothtml .hue120 .sat100 .val100 {
  background-color: #00ff00;
}
#colorsdothtml .hue120 .sat100 .val75 {
  background-color: #00bf00;
}
#colorsdothtml .hue120 .sat100 .val50 {
  background-color: #008000;
}
#colorsdothtml .hue120 .sat100 .val25 {
  background-color: #004000;
}
#colorsdothtml .hue120 .sat83 .val100 {
  background-color: #2bff2b;
}
#colorsdothtml .hue120 .sat83 .val75 {
  background-color: #20bf20;
}
#colorsdothtml .hue120 .sat83 .val50 {
  background-color: #158015;
}
#colorsdothtml .hue120 .sat83 .val25 {
  background-color: #0b400b;
}
#colorsdothtml .hue120 .sat66 .val100 {
  background-color: #55ff55;
}
#colorsdothtml .hue120 .sat66 .val75 {
  background-color: #40bf40;
}
#colorsdothtml .hue120 .sat66 .val50 {
  background-color: #2b802b;
}
#colorsdothtml .hue120 .sat66 .val25 {
  background-color: #154015;
}
#colorsdothtml .hue120 .sat50 .val100 {
  background-color: #80ff80;
}
#colorsdothtml .hue120 .sat50 .val75 {
  background-color: #60bf60;
}
#colorsdothtml .hue120 .sat50 .val50 {
  background-color: #408040;
}
#colorsdothtml .hue120 .sat50 .val25 {
  background-color: #204020;
}
#colorsdothtml .hue120 .sat33 .val100 {
  background-color: #aaffaa;
}
#colorsdothtml .hue120 .sat33 .val75 {
  background-color: #80bf80;
}
#colorsdothtml .hue120 .sat33 .val50 {
  background-color: #558055;
}
#colorsdothtml .hue120 .sat33 .val25 {
  background-color: #2b402b;
}
#colorsdothtml .hue120 .sat16 .val100 {
  background-color: #d5ffd5;
}
#colorsdothtml .hue120 .sat16 .val75 {
  background-color: #9fbf9f;
}
#colorsdothtml .hue120 .sat16 .val50 {
  background-color: #6a806a;
}
#colorsdothtml .hue120 .sat16 .val25 {
  background-color: #354035;
}
#colorsdothtml .hue150 .sat100 .val100 {
  background-color: #00ff80;
}
#colorsdothtml .hue150 .sat100 .val75 {
  background-color: #00bf60;
}
#colorsdothtml .hue150 .sat100 .val50 {
  background-color: #008040;
}
#colorsdothtml .hue150 .sat100 .val25 {
  background-color: #004020;
}
#colorsdothtml .hue150 .sat83 .val100 {
  background-color: #2bff95;
}
#colorsdothtml .hue150 .sat83 .val75 {
  background-color: #20bf70;
}
#colorsdothtml .hue150 .sat83 .val50 {
  background-color: #15804a;
}
#colorsdothtml .hue150 .sat83 .val25 {
  background-color: #0b4025;
}
#colorsdothtml .hue150 .sat66 .val100 {
  background-color: #55ffaa;
}
#colorsdothtml .hue150 .sat66 .val75 {
  background-color: #40bf80;
}
#colorsdothtml .hue150 .sat66 .val50 {
  background-color: #2b8055;
}
#colorsdothtml .hue150 .sat66 .val25 {
  background-color: #15402b;
}
#colorsdothtml .hue150 .sat50 .val100 {
  background-color: #80ffbf;
}
#colorsdothtml .hue150 .sat50 .val75 {
  background-color: #60bf8f;
}
#colorsdothtml .hue150 .sat50 .val50 {
  background-color: #408060;
}
#colorsdothtml .hue150 .sat50 .val25 {
  background-color: #204030;
}
#colorsdothtml .hue150 .sat33 .val100 {
  background-color: #aaffd5;
}
#colorsdothtml .hue150 .sat33 .val75 {
  background-color: #80bf9f;
}
#colorsdothtml .hue150 .sat33 .val50 {
  background-color: #55806a;
}
#colorsdothtml .hue150 .sat33 .val25 {
  background-color: #2b4035;
}
#colorsdothtml .hue150 .sat16 .val100 {
  background-color: #d5ffea;
}
#colorsdothtml .hue150 .sat16 .val75 {
  background-color: #9fbfaf;
}
#colorsdothtml .hue150 .sat16 .val50 {
  background-color: #6a8075;
}
#colorsdothtml .hue150 .sat16 .val25 {
  background-color: #35403a;
}
#colorsdothtml .hue180 .sat100 .val100 {
  background-color: #00ffff;
}
#colorsdothtml .hue180 .sat100 .val75 {
  background-color: #00bfbf;
}
#colorsdothtml .hue180 .sat100 .val50 {
  background-color: #008080;
}
#colorsdothtml .hue180 .sat100 .val25 {
  background-color: #004040;
}
#colorsdothtml .hue180 .sat83 .val100 {
  background-color: #2bffff;
}
#colorsdothtml .hue180 .sat83 .val75 {
  background-color: #20bfbf;
}
#colorsdothtml .hue180 .sat83 .val50 {
  background-color: #158080;
}
#colorsdothtml .hue180 .sat83 .val25 {
  background-color: #0b4040;
}
#colorsdothtml .hue180 .sat66 .val100 {
  background-color: #55ffff;
}
#colorsdothtml .hue180 .sat66 .val75 {
  background-color: #40bfbf;
}
#colorsdothtml .hue180 .sat66 .val50 {
  background-color: #2b8080;
}
#colorsdothtml .hue180 .sat66 .val25 {
  background-color: #154040;
}
#colorsdothtml .hue180 .sat50 .val100 {
  background-color: #80ffff;
}
#colorsdothtml .hue180 .sat50 .val75 {
  background-color: #60bfbf;
}
#colorsdothtml .hue180 .sat50 .val50 {
  background-color: #408080;
}
#colorsdothtml .hue180 .sat50 .val25 {
  background-color: #204040;
}
#colorsdothtml .hue180 .sat33 .val100 {
  background-color: #aaffff;
}
#colorsdothtml .hue180 .sat33 .val75 {
  background-color: #80bfbf;
}
#colorsdothtml .hue180 .sat33 .val50 {
  background-color: #558080;
}
#colorsdothtml .hue180 .sat33 .val25 {
  background-color: #2b4040;
}
#colorsdothtml .hue180 .sat16 .val100 {
  background-color: #d5ffff;
}
#colorsdothtml .hue180 .sat16 .val75 {
  background-color: #9fbfbf;
}
#colorsdothtml .hue180 .sat16 .val50 {
  background-color: #6a8080;
}
#colorsdothtml .hue180 .sat16 .val25 {
  background-color: #354040;
}
#colorsdothtml .chosencolors {
  padding: 0;
  list-style-type: none;
  width: 61.80339887498949%;
  margin-left: 19.098300562505255%;
  margin-right: 19.098300562505255%;
}
#colorsdothtml .chosencolors dd {
  margin: 0;
}
#colorsdothtml .chosencolors .h-gamma {
  color: inherit;
}
#colorsdothtml .chosencolors > li {
  padding: .2em .3em;
  outline: thin solid black;
  margin: 0.75em auto;
}
#colorsdothtml .chosencolors > li#aperture-white {
  background-color: #f2f7ff;
}
#colorsdothtml .chosencolors > li#aperture-black {
  background-color: #0d0800;
  color: #eee;
}
#colorsdothtml .chosencolors > li#atlas-blue {
  background-color: #0080ff;
}
#colorsdothtml .chosencolors > li#pbody-orange {
  background-color: #ff8000;
}
#colorsdothtml .chosencolors > li#bridges-of-light {
  background-color: #bfe4ff;
}
#colorsdothtml .chosencolors > li#asbestos {
  background-color: #ffdabf;
}
#colorsdothtml .chosencolors > li#lake-superior {
  background-color: #0000bf;
  color: #eee;
}
#colorsdothtml .chosencolors > li#facility-abyss {
  background-color: #2b5580;
  color: #eee;
}
#colorsdothtml .chosencolors > li#caves-caves {
  background-color: #804a15;
  color: #eee;
}
#colorsdothtml .chosencolors > li#are-you-still-there {
  background-color: #ff0000;
  color: #eee;
}
#colorsdothtml .chosencolors > li#her-eye {
  background-color: #ffff55;
}
#colorsdothtml .chosencolors > li#neurotoxin {
  background-color: #80bf40;
}
#colorsdothtml .chosencolors > li#vilify {
  background-color: #8040bf;
  color: #eee;
}
#colorsdothtml .chosencolors > li#heart-of-a-companion {
  background-color: #ffaad5;
}
#colorsdothtml .chosencolors > li .elemprops {
  font-size: 10pt;
}
/* @end */
