/* @group GRID.LESS */
/* @group Golden widths and margins */
/* @end */
/* @group lines and units */
/* @group rational-sized units */
/* @end */
/* @group Golden-sized units */
/* @end */
/* @end */
/* @end GRID */
/* @group TYPO.LESS */
/* @group headings */
.title {
  text-align: center;
}
h1,
.h-alpha {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #0013bf;
}
h2,
.h-beta {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-weight: bold;
  font-size: 1.500em;
  color: #004c7f;
}
h3,
.h-gamma {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
}
h4,
.h-delta {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
}
h5,
.h-epsilon {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-style: italic;
  font-size: 0.833em;
  text-indent: 0.5in;
  color: #004c7f;
}
h6,
.h-zeta {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #050200;
  font-style: italic;
  font-variant: small-caps;
  font-size: 0.833em;
  text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
/* @end */
/* @group paragraphs and block text */
p,
.p {
  margin: 0 0 0.5em;
  line-height: 1.4em;
}
.prose {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
  list-style-type: decimal;
}
.lede {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.q-block,
blockquote {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #ff0019;
  margin-left: 21px;
  font-size: 14pt;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
}
.q-block.prose,
blockquote.prose {
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
}
.q-block.prose .source,
blockquote.prose .source {
  padding-left: 0;
}
.q-block.prose .source:before,
blockquote.prose .source:before {
  content: '(';
}
.q-block.prose .source:after,
blockquote.prose .source:after {
  content: ')';
}
.q-block .source,
blockquote .source {
  padding-left: 1em;
  font-family: 'Optima', 'Century Gothic', sans-serif;
}
.q-block .source:before,
blockquote .source:before {
  content: '~';
}
.caption,
figure figcaption,
table caption {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 3px;
  border-right-style: double;
  border-right-color: #ff0019;
  margin-right: 13px;
  font-size: 10pt;
  text-align: right;
}
.timestamp {
  font-size: smaller;
  text-align: left;
}
/* @end */
/* @group lists */
ul,
ol,
dl {
  padding: 0 0 0 0.5in;
  margin: 0 0 0.5em;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-bottom: auto;
}
.list-basic {
  padding: 0;
  list-style-type: none;
}
.list-basic dd {
  margin: 0;
}
.list-inline {
  padding: 0;
  list-style-type: none;
  display: block;
}
.list-inline dd {
  margin: 0;
}
.list-inline li {
  display: inline;
}
.list-line {
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}
.list-line dd {
  margin: 0;
}
.list-line li {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
}
.list-action {
  padding: 0;
  list-style-type: none;
  color: #0098ff;
}
.list-action dd {
  margin: 0;
}
.list-action ul,
.list-action ol,
.list-action dl {
  list-style-type: none;
}
.list-action li:before {
  content: '\2713\00A0';
}
.list-action a {
  border-bottom: 0;
  text-decoration: underline;
}
.list-omega {
  list-style-type: decimal-leading-zero;
}
.list-alpha {
  list-style-type: upper-roman;
}
.list-beta {
  list-style-type: upper-alpha;
}
.list-gamma {
  list-style-type: decimal;
}
.list-delta {
  list-style-type: lower-alpha;
}
.list-epsilon {
  list-style-type: lower-roman;
}
.list-zeta {
  list-style-type: lower-greek;
}
/* @end */
/* @group tables */
table,
.table {
  border: 1px solid #ff0019;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
table .header,
.table .header,
table thead,
.table thead,
table tfoot,
.table tfoot,
table th,
.table th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
table .body .code,
.table .body .code,
table tbody .code,
.table tbody .code,
table .body code,
.table .body code,
table tbody code,
.table tbody code {
  background-color: transparent;
}
table th,
.table th,
table td,
.table td {
  padding: 5px;
  border-color: #808080;
}
.table-list {
  border: 1px solid #ff0019;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
  border-left: 0;
  border-right: 0;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-list .body .code,
.table-list tbody .code,
.table-list .body code,
.table-list tbody code {
  background-color: transparent;
}
.table-list th,
.table-list td {
  padding: 5px;
  border-color: #808080;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th .body,
.table-list tbody {
  border: 1px solid #ff0019;
  border-left: 0;
  border-right: 0;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th {
  background-color: #eaf6ff;
}
.table-list .row-odd {
  background-color: #bfe5ff;
}
.table-list .row-even {
  background-color: #d6eeff;
}
.table-bars {
  border: 1px solid #ff0019;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
.table-bars .header,
.table-bars thead,
.table-bars tfoot,
.table-bars th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-bars .body .code,
.table-bars tbody .code,
.table-bars .body code,
.table-bars tbody code {
  background-color: transparent;
}
.table-bars th,
.table-bars td {
  padding: 5px;
  border-color: #808080;
}
.table-bars .header,
.table-bars th {
  border: 1px solid #ff0019;
  border-top: 0;
  border-bottom: 0;
}
.table-bars .header,
.table-bars th {
  background-color: #eaf6ff;
}
.table-bars .column-odd {
  background-color: #bfe5ff;
}
.table-bars .column-even {
  background-color: #d6eeff;
}
.table-grid {
  border: 1px solid #ff0019;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
.table-grid .header,
.table-grid thead,
.table-grid tfoot,
.table-grid th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-grid .body .code,
.table-grid tbody .code,
.table-grid .body code,
.table-grid tbody code {
  background-color: transparent;
}
.table-grid th,
.table-grid td {
  padding: 5px;
  border-color: #808080;
}
.table-grid td {
  border: 1px solid #ff0019;
}
.table-grid .header,
.table-grid th {
  background-color: #ffffff;
}
.table-grid .row-odd .column-odd {
  background-color: #eaf6ff;
}
.table-grid .row-odd .column-even {
  background-color: #d6eeff;
}
.table-grid .row-even .column-odd {
  background-color: #d6eeff;
}
.table-grid .row-even .column-even {
  background-color: #bfe5ff;
}
/* @end */
/* @group inline text */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-weight: italic;
}
mark {
  background-color: yellow;
}
.tex {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: pre;
  color: #000000;
}
.phone,
.email {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
.help {
  border-bottom: 2px solid #ffbfe5;
}
.help,
abbr[title],
ins[datetime],
del[datetime],
time[datetime] {
  border-bottom: 2px solid #ffbfe5;
  cursor: help;
}
.new,
ins {
  text-decoration: underline;
  color: #72bf00;
}
.old,
del {
  text-decoration: line-through;
  color: #4d00c0;
}
.scare {
  font-weight: inherit;
  font-style: inherit;
}
.scare:before {
  content: open-quote;
}
.scare:after {
  content: close-quote;
}
.superscript {
  font-size: smaller;
  vertical-align: super;
}
.subscript {
  font-size: smaller;
  vertical-align: sub;
}
.hindent-5 {
  text-indent: -0.5in;
  padding-left: 0.5in;
}
.hindent-25 {
  text-indent: -0.25in;
  padding-left: 0.25in;
}
.hindent-em {
  text-indent: -1em;
  padding-left: 1em;
}
i:lang(la),
i:lang(it),
i:lang(fr) {
  font-family: 'Times New Roman', serif;
  font-style: italic;
}
/* @end */
/* @end TYPO */
/* @group MODS.LESS */
/* @group hyperlinks */
a {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
}
.up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #0098ff;
}
.dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff6600;
}
.sp-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #72bf00;
}
.sp-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #4d00c0;
}
.active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff0019;
}
/* @end */
/* @group special boxes */
.box {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.box-block {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}
.block-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #0098ff;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: #c0f6ff;
}
.block-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff6600;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: #ffebc0;
}
.block-dn .h-beta,
.block-dn .h-epsilon {
  color: #803300;
}
.block-active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: #ff0019;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  color: #ffed40;
  background-color: #050200;
}
.example {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #bfe5ff;
  background-color: #eaf6ff;
}
.example:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'example';
  font-size: smaller;
  border-color: #bfe5ff;
  color: #0098ff;
  background-color: #d6eeff;
}
.example-bad {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #bfe5ff;
  background-color: #eaf6ff;
  color: #ff0019 !important;
}
.example-bad:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'example';
  font-size: smaller;
  border-color: #bfe5ff;
  color: #0098ff;
  background-color: #d6eeff;
}
.example-bad:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'bad example!';
  font-size: smaller;
  color: #ff0019;
}
.example-bad * {
  color: #ff0019 !important;
}
.demo {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #ffd8bf;
  background-color: #fff2ea;
}
.demo:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'demo';
  font-size: smaller;
  border-color: #ffd8bf;
  color: #ff6600;
  background-color: #ffe6d6;
}
/* @group coding shit */
.code,
code {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
}
pre {
  margin: 0;
}
.code-block,
pre > code {
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block:before,
pre > code:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'code';
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
}
.code-block.lang-html,
pre > code.lang-html {
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-html:before,
pre > code.lang-html:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'HTML';
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
}
.code-block.lang-html .tag,
pre > code.lang-html .tag {
  color: #7f000c;
}
.code-block.lang-html .tag .attribute,
pre > code.lang-html .tag .attribute {
  color: #000c7f;
}
.code-block.lang-html .tag .attribute .value,
pre > code.lang-html .tag .attribute .value {
  color: #4c7f00;
}
.code-block.lang-html .comment,
pre > code.lang-html .comment {
  color: #999;
}
.code-block.lang-css,
pre > code.lang-css {
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-css .selector,
pre > code.lang-css .selector {
  color: #7f000c;
}
.code-block.lang-css .selector .property,
pre > code.lang-css .selector .property {
  color: #000c7f;
}
.code-block.lang-css .selector .property .value,
pre > code.lang-css .selector .property .value {
  color: #4c7f00;
}
.code-block.lang-css .comment,
pre > code.lang-css .comment {
  color: #999;
}
.code-block.lang-css:before,
pre > code.lang-css:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'CSS';
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
}
.code-block.lang-less,
pre > code.lang-less {
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-less .selector,
pre > code.lang-less .selector {
  color: #7f000c;
}
.code-block.lang-less .selector .property,
pre > code.lang-less .selector .property {
  color: #000c7f;
}
.code-block.lang-less .selector .property .value,
pre > code.lang-less .selector .property .value {
  color: #4c7f00;
}
.code-block.lang-less .comment,
pre > code.lang-less .comment {
  color: #999;
}
.code-block.lang-less:before,
pre > code.lang-less:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'LESS';
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
}
.code-block.lang-js,
pre > code.lang-js {
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-js:before,
pre > code.lang-js:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'JavaScript';
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
}
.code-block.lang-jq,
pre > code.lang-jq {
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
}
.code-block.lang-jq:before,
pre > code.lang-jq:before {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  content: 'jQuery';
  font-size: smaller;
  border-color: #ffbfe5;
  color: #ff7fcc;
  background-color: #ffd6ee;
}
.kbd,
kbd kbd {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ffbfe5;
  background-color: #ffaad5;
  font-size: smaller;
  font-family: 'Lucida Sans Typewriter', 'Monaco', 'Courier New', 'Courier', monospace;
  color: #000000;
  padding: 2px;
  font-size: 13pt;
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
/* @end */
/* @end */
/* @group main stuff */
body {
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  color: #050200;
  background-color: #fafdff;
}
.hub-body {
  background-image: url('/home/images/phi-stripes-trans.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.main,
main {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
  margin-bottom: 162px;
}
.masthead {
  width: 14.58980337503155%;
  margin-left: 85.41019662496845%;
  margin-right: 0;
  position: fixed;
  top: 0;
  font-weight: bold;
  font-size: 1in;
  font-family: 'Times', 'Times New Roman', serif;
}
.masthead nav {
  width: 61.80339887498949%;
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
.masthead nav .mylogo {
  display: block;
  border-bottom: 0;
}
/* @end */
/* @group hacks */
.noshow {
  display: none !important;
}
.draft {
  display: none;
  color: #999999;
}
@media print {
  body {
    color: #000000;
  }
  body {
    background-image: none;
  }
  .nav-hub,
  .courseinfo,
  .masthead {
    display: none;
  }
  .main,
  main {
    width: auto;
    margin: auto;
  }
  /* a hack for elements needed to display but not to print */
  .noprint {
    display: none !important;
  }
}
/* @end */
/* @end MODS */
/* @group grid.html */
#griddothtml .tablerow {
  display: table;
  width: 100%;
  outline: 1px solid #999;
  margin-bottom: 2em;
}
#griddothtml .tablecell {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  outline: 1px solid #999;
}
#griddothtml .P1,
#griddothtml .P2,
#griddothtml .P3,
#griddothtml .P4,
#griddothtml .U-P3,
#griddothtml .U-P4,
#griddothtml .P1-l,
#griddothtml .P1-r,
#griddothtml .P1-ml,
#griddothtml .P1-mr,
#griddothtml .P2-l,
#griddothtml .P2-r,
#griddothtml .P3-l,
#griddothtml .P3-r,
#griddothtml .P4-l,
#griddothtml .P4-r,
#griddothtml .uP3-l,
#griddothtml .uP3-r,
#griddothtml .uP4-l,
#griddothtml .uP4-r {
  outline: 1px solid #999;
}
#griddothtml .P1 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 61.80339887498949%;
}
#griddothtml .P2 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 38.196601125010524%;
}
#griddothtml .P3 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 23.606797749978973%;
}
#griddothtml .P4 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 14.58980337503155%;
}
#griddothtml .U-P3 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 76.39320225002102%;
}
#griddothtml .U-P4 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 85.41019662496845%;
}
#griddothtml .width-full {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#griddothtml .width-large {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
#griddothtml .width-medium {
  width: 66.66666666666666%;
  margin-left: 16.66666666666667%;
  margin-right: 16.66666666666667%;
}
#griddothtml .width-small {
  width: 61.80339887498949%;
  margin-left: 19.098300562505255%;
  margin-right: 19.098300562505255%;
}
#griddothtml .P1-l {
  width: 61.80339887498949%;
  margin-left: 0;
  margin-right: 38.19660112501051%;
}
#griddothtml .P1-r {
  width: 61.80339887498949%;
  margin-left: 38.19660112501051%;
  margin-right: 0;
}
#griddothtml .P1-ml {
  width: 61.80339887498949%;
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
#griddothtml .P1-mr {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
}
#griddothtml .P2-l {
  width: 38.196601125010524%;
  margin-left: 0;
  margin-right: 61.803398874989476%;
}
#griddothtml .P2-r {
  width: 38.196601125010524%;
  margin-left: 61.803398874989476%;
  margin-right: 0;
}
#griddothtml .P3-l {
  width: 23.606797749978973%;
  margin-left: 0;
  margin-right: 76.39320225002103%;
}
#griddothtml .P3-r {
  width: 23.606797749978973%;
  margin-left: 76.39320225002103%;
  margin-right: 0;
}
#griddothtml .P4-l {
  width: 14.58980337503155%;
  margin-left: 0;
  margin-right: 85.41019662496845%;
}
#griddothtml .P4-r {
  width: 14.58980337503155%;
  margin-left: 85.41019662496845%;
  margin-right: 0;
}
#griddothtml .uP3-l {
  width: 76.39320225002102%;
  margin-left: 0;
  margin-right: 23.606797749978973%;
}
#griddothtml .uP3-r {
  width: 76.39320225002102%;
  margin-left: 23.606797749978973%;
  margin-right: 0;
}
#griddothtml .uP4-l {
  width: 85.41019662496845%;
  margin-left: 0;
  margin-right: 14.58980337503155%;
}
#griddothtml .uP4-r {
  width: 85.41019662496845%;
  margin-left: 14.58980337503155%;
  margin-right: 0;
}
#griddothtml .customunitnames {
  width: 61.80339887498949%;
  margin-left: 19.098300562505255%;
  margin-right: 19.098300562505255%;
}
/* @end */
/* @group mods.html */
/* @end */
