<!--
---
---
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Typography &in; Site Design</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../core/styles/all.css"/>
<style>
body {
	background-image: url('../core/images/crossgrid-phi-1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
code {
	padding: 1px 2px;
	border: 1px solid #bdf;
	border-radius: 3px;
	font-size: 75%;
	font-family: monospace;
	white-space: nowrap;
	color: #050300; /* aperture_black */
	background-color: #fafcff; /* aperture_white */ /* fallback */
	background-color: rgba(250, 252, 255, 0.618); /* aperture_white */
}
hover {background-color: #adadad;}
.code__sel  {color: #099;}
.code__prop {color: #909;}
.code__val  {color: #090;}

.typo-list .Item {
	outline: 1px solid #bbb;
	background: #eee;
}

table {
	width: 100%;
	text-align: center;
}
th, td {
	border: 1px solid #808080;
	background-color: #fff;
}
th {font-weight: bold;}
[data-bool="0"] {color: #fafcff; background-color: #0062ff;} /* aperture_white; atlas */
[data-bool="1"] {color: #050300; background-color: #ff9d00;} /* aperture_black; pbody */
</style>
<!--{% include all-js.html %}-->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
<script src="../core/scripts/global.js"></script>
<script>
$(document).ready(function () {
//	$('p').addClass('P');
});
</script>
</head>
<body>
<!--{% include masthead.html %}-->
<!-- <nav class="bc">
	<ol class="bc-anc">
		<li><a href="../index.html" rel="top">Home</a></li>
		<li><a href="../home/web.html" rel="parent">Web</a></li>
	</ol>
	<ol class="bc-sib">
		<li><a href="semantics.html" rel="sibling">Semantics</a>
		<li><a href="grid.html" rel="sibling">The Grid</a></li>
		<li><a href="typo.html" rel="this">Typography</a></li>
		<li><a href="colors.html" rel="sibling">Colors</a></li>
	</ol>
	<ol class="bc-child"></ol>
</nav> -->
<main>
<h1 class="H Alpha">Typography</h1>
<p class="P">This document...</p>
<section id="scheme-flow">
	<h1 class="H Beta">Flow Content</h1>
	<p class="P">This section...</p>
	<section id="scheme-heading">
		<h1 class="H Gamma">Heading Scheme</h1>
		<p>See the scheme below for styles. Use the
			<code>.H.Alpha</code>,
			<code>.H.Beta</code>,
			<code>.H.Gamma</code>,
			<code>.H.Delta</code>,
			<code>.H.Epsilon</code>, and
			<code>.H.Zeta</code> classes.</p>
		<h1 class="H Alpha">Heading 1   <span class="Hsub">Level Alpha</span></h1>
		<h1 class="H Beta">Heading 2    <span class="Hsub">Level Beta</span></h1>
		<h1 class="H Gamma">Heading 3   <span class="Hsub">Level Gamma</span></h1>
		<h1 class="H Delta">Heading 4   <span class="Hsub">Level Delta</span></h1>
		<h1 class="H Epsilon">Heading 5 <span class="Hsub">Level Epsilon</span></h1>
		<h1 class="H Zeta">Heading 6    <span class="Hsub">Level Zeta</span></h1>
		<table class="Row" data-status="informative">
			<caption class="P Capt">An informative summary of the six heading levels' styles.</caption>
			<thead>
				<tr>
					<th class="Cell P3">Heading Level</th>
					<th class="Cell P4"><code class="Prop">font-style</code></th>
					<th class="Cell P3"><code class="Prop">font-variant</code></th>
					<th class="Cell P4"><code class="Prop">font-weight</code></th>
					<th class="Cell P3"><code class="Prop">color</code></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><code class="Sel">.H.Alpha</code></th>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="1"><code class="Val">small-caps</code></td>
					<td data-bool="1"><code class="Val">bold</code></td>
					<td data-bool="1"><code class="Val">@color_h_major</code></td>
				</tr>
				<tr>
					<th><code class="Sel">.H.Beta</code></th>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="1"><code class="Val">bold</code></td>
					<td data-bool="1"><code class="Val">@color_h_minor</code></td>
				</tr>
				<tr>
					<th><code class="Sel">.H.Gamma</code></th>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="1"><code class="Val">small-caps</code></td>
					<td data-bool="1"><code class="Val">bold</code></td>
					<td data-bool="0"><code class="Val">@color_base_txt</code></td>
				</tr>
				<tr>
					<th><code class="Sel">.H.Delta</code></th>
					<td data-bool="1"><code class="Val">italic</code></td>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="1"><code class="Val">bold</code></td>
					<td data-bool="0"><code class="Val">@color_base_txt</code></td>
				</tr>
				<tr>
					<th><code class="Sel">.H.Epsilon</code></th>
					<td data-bool="1"><code class="Val">italic</code></td>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="1"><code class="Val">@color_h_minor</code></td>
				</tr>
				<tr>
					<th><code class="Sel">.H.Zeta</code></th>
					<td data-bool="1"><code class="Val">italic</code></td>
					<td data-bool="1"><code class="Val">small-caps</code></td>
					<td data-bool="0"><code class="Val">normal</code></td>
					<td data-bool="0"><code class="Val">@color_base_txt</code></td>
				</tr>
			</tbody>
		</table>
	</section>
		<!-- <aside id="scheme-aside" class="draft">
			<h1 class="h--delta">Asides---Move to <code class="dir">grid.html</code></h1>
			<p>This is an aside. Sometimes you may want to place an aside literally to the side of the document. <a href="grid.html">The <code class="lang-css">.gutter-major</code> and <code class="lang-css">.gutter-minor</code> classes</a> can be used on any element, but use them on an <code class="lang-css">aside</code> if you wish. See the following two asides. (It is valid to have an <code class="lang-css">aside > aside</code>.)</p>
			<aside class="gutter-major">
				<h1 class="h--epsilon">Major Aside</h1>
				<p>This is an <code class="lang-css">aside.gutter-major</code>. Apply this class to any element you want to appear in the major gutter outside the document.</p>
			</aside>
			<aside class="gutter-minor">
				<h1 class="h--epsilon">Minor Aside</h1>
				<p>This is a <code class="lang-css">aside.gutter-minor</code>. Apply this class to any element you want to appear in the minor gutter outside the document.</p>
			</aside>
		</aside> -->
	<section id="scheme-paragraph">
		<h1 class="H Gamma">Paragraph Scheme</h1>
		<p class="P">This is a <code>.P</code> Object. It represents a generic paragraph.
			The quick brown fox jumps over the lazy dog.
			<span style="font-style: italic;">The quick brown fox jumps over the lazy dog.</span>
			<span style="font-weight: bold;">The quick brown fox jumps over the lazy dog.</span>
			<span style="font-style: italic; font-weight: bold">The quick brown fox jumps over the lazy dog.</span>
		</p>
		<div class="Article">
			<p class="P">This is an <code>.Article &gt; .P</code>.
				The quick brown fox jumps over the lazy dog.
				<span style="font-style: italic;">The quick brown fox jumps over the lazy dog.</span>
				<span style="font-weight: bold;">The quick brown fox jumps over the lazy dog.</span>
				<span style="font-style: italic; font-weight: bold">The quick brown fox jumps over the lazy dog.</span>
			</p>
		</div>
		<p class="P Lede">This is a <code>.P.Lede</code> Object.
			The quick brown fox jumps over the lazy dog.
			<span style="font-style: italic;">The quick brown fox jumps over the lazy dog.</span>
			<span style="font-weight: bold;">The quick brown fox jumps over the lazy dog.</span>
			<span style="font-style: italic; font-weight: bold">The quick brown fox jumps over the lazy dog.</span>
		</p>
		<p class="P"><span class="S Lede">This is an <code>.S.Lede</code> Object within a paragraph.</span> This is the rest of the paragraph.</p>
		<p class="P Dropcap">Dropped capitals (&ldquo;drop caps&rdquo;) can be beautiful, but it is unusual to use one on a normal paragraph. This <code>.P.Dropcap</code> is here simply for visual comprehension. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text.</p>
		<p class="P Lede Dropcap">In a normal (non-<code>.Article</code>) document, drop caps can still be used, but they don't look as pretty. This is a <code>.P.Lede.Dropcap</code>. Notice how the drop cap font does not complement the normal paragraph font very well. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text.</p>
		<div class="Article">
			<p class="P Dropcap">Authors may want to use a fancy drop cap in the first paragraph of an article or in a book chapter. This is an <code>.Article &gt; .P.Dropcap</code>. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text.</p>
			<p class="P Lede Dropcap">Sometimes, the Article may have a Lede paragraph. This is an <code>.Article &gt; .P.Lede.Dropcap</code>. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text. The rest of the paragraph is text.</p>
		</div>
		<p class="P Capt">This is a <code>.P.Capt</code>. It should be a sibling of the content it describes.</p>
		<p class="P Capt Before">This is a <code>.P.Capt.Before</code>. It goes before the described content.</p>
		<p class="P Capt After">This is a <code>.P.Capt.After</code>. It goes after the described content.</p>
		<p class="P">The following is a <code>.P.Addy</code>. It represents an arbitrary postal mailing address. It may or may not be the postal mailing address of the document author(s); if it is, it should be contained in an <code>address</code> element. The traditional method of displaying line breaks is the <code>&lt;br/&gt;</code> tag.</p>
		<p class="P Addy">
			Chris Harvey<br/>
			12345 Main St.<br/>
			Washington, DC 00001<br/>
			<a>(555) 555-5555</a><br/>
			<a href="">ch@example.com</a><br/>
			<a href="">@ch12345</a>
		</p>
		<section id="scheme-figure-blockquote">
			<h1 class="H Delta">Figures and Block Quotations</h1>
			<figure class="Fig">This is a <code>.Fig</code> Object. It may or may not contain <code>.P</code> Objects.
				<figcaption class="P Capt"><span class="S Lede">This is a <code>.Fig &gt; .P.Capt &gt; .S.Lede</code>.</span>  It usually contains the <code>.Fig</code>'s title (e.g., &ldquo;Figure 1&rdquo;). This is the rest of the <code>.Fig &gt; .P.Capt</code>.</figcaption>
			</figure>
			<blockquote class="Qblock">
				This is a short <code>.Qblock</code> with no paragraph breaks. It has less than 40 words.
				<footer><cite class="Src">Source&nbsp;(<code>.Qblock .Src</code>)</cite></footer>
			</blockquote>
			<blockquote class="Qblock Long">
				<p class="P">This is a <code>.Qblock.Long &gt; .P:only-of-type</code>. The original source has more than 40 words but no paragraph breaks. This is the rest of the quotation. This is the rest of the quotation. This is the rest of the quotation. This is the rest of the quotation. This is the rest of the quotation.</p>
				<footer><cite class="Src">Source, <time>2000</time> (<code>.Qblock.Long .Src</code>)</cite></footer>
			</blockquote>
			<blockquote class="Qblock Long">
				<p class="P">This is a <code>.Qblock.Long &gt; .P</code>.</p>
				<p class="P">This is another <code>.Qblock.Long &gt; .P</code>.</p>
				<p class="P">The original source has paragraph breaks (regardless of word count).</p>
				<footer><cite class="Src">Source, <time>2000</time></cite></footer>
			</blockquote>
		</section>
	</section>
	<section id="scheme-list" class="typo-list">
		<h1 class="H Gamma">List Scheme</h1>
		<p>Note: On all lists below, outlines and background colors have been added to each <code>.Item</code> to show structure.</p>
		<p class="P">The following is a generic <code>.List</code>. It has been stripped of all default styles.</p>
		<ol class="List">
			<li class="Item">This is a <code>.List &gt; .Item</code>.</li>
			<li class="Item">This is a <code>.List &gt; .Item</code>.</li>
		</ol>
		<p class="P">The following is a <code>.List.O</code>. Its items are displayed as blocks with markers that indicate order.</p>
		<ol class="List O">
			<li class="Item">This is a <code class="lang-css">.List.O &gt; .Item</code>.</li>
			<li class="Item">This is a <code class="lang-css">.List.O &gt; .Item</code>.</li>
			<li class="Item">This is a <code class="lang-css">.List.O &gt; .Item</code>.</li>
		</ol>
		<p class="P">Nest <code>.List.O</code> subclasses to create an outline, such as a table of contents.</p>
		<ol class="List O Alpha">
			<li class="Item">This is a <code>.List.O.Alpha &gt; .Item</code>
				<ol class="List O Beta">
					<li class="Item">This is a <code>.List.O.Beta &gt; .Item</code>
						<ol class="List O Gamma">
							<li class="Item">This is a <code>.List.O.Gamma &gt; .Item</code>
								<ol class="List O Delta">
									<li class="Item">This is a <code>.List.O.Delta &gt; .Item</code>
										<ol class="List O Epsilon">
											<li class="Item">This is a <code>.List.O.Epsilon &gt; .Item</code>
												<ol class="List O Zeta">
													<li class="Item">This is a <code>.List.O.Zeta &gt; .Item</code>
												</ol>
											</li>
										</ol>
									</li>
								</ol>
							</li>
						</ol>
					</li>
				</ol>
			</li>
		</ol>
		<p class="P">Prose lists are simply <code>.List.O</code> Objects whose child <code>.Items</code> contain <code>.P</code> Objects.</p>
		<ol class="List O">
			<li class="Item"><p class="P">A prose list is a <code>.List.O</code> whose <code>.Item</code>s consist of prose. Each <code>.Item</code> contains only <code>.P</code> Objects.</p></li>
			<li class="Item"><p class="P"><span class="S Lede">Typically, each list item in a prose list will have a lede sentence.</span> The lede sentence is treated like an actual list item in a short list, if the rest of the prose were not present. It can also be be thought of as a lede or &ldquo;heading&rdquo; for the text, although it does not take part in the Document Outline. The lede sentence must be a <code>.S.Lede</code> at the beginning of the <code>.Item</code>.</p></li>
			<li class="Item">
				<p class="P Lede">Sometimes, a prose list item may have a lede that acts like a heading.</p>
				<p class="P">In this case, it must be a <code>.P.Lede</code> Object. Again, this lede does not affect the Document Outline.</p>
				<p class="P">Note: Though actual <code class="lang-css">h1</code>s are <a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-li-element" rel="external">technically permissible</a> inside <code class="lang-css">li</code>s, they usually make the Document Outline look icky, so we do not use them in this specification.</p>
			</li>
		</ol>
		<p class="P">The following is a <code>.List.U</code>. Its items are displayed as blocks with identical markers.</p>
		<ul class="List U">
			<li class="Item">This is a <code>.List.U &gt; .Item</code>.</li>
			<li class="Item">This is a <code>.List.U &gt; .Item</code>.</li>
			<li class="Item">This is a <code>.List.U &gt; .Item</code>.</li>
		</ul>
		<p class="P">The following is a <code>.List.I</code>. Its items are displayed inline, with no markers.</p>
		<ol class="List I">
			<li class="Item">This is a <code>.List.I &gt; .Item</code>.</li>
			<li class="Item">This is a <code>.List.I &gt; .Item</code>.</li>
			<li class="Item">This is a <code>.List.I &gt; .Item</code>.</li>
		</ol>
		<p class="P">The following lists are <code>.List.I.Comma</code>, <code>.List.I.Ndash</code>, and <code>.List.I.Mdash</code>. The list items are comma-, ndash-, and mdash- separated respectively.</p>
		<ol class="List I Comma">
			<li class="Item">This is a <code>.List.I.Comma &gt; .Item</code></li>
			<li class="Item">This is a <code>.List.I.Comma &gt; .Item</code></li>
			<li class="Item">This is a <code>.List.I.Comma &gt; .Item</code></li>
		</ol>
		<ol class="List I Ndash">
			<li class="Item">This is a <code>.List.I.Ndash &gt; .Item</code></li>
			<li class="Item">This is a <code>.List.I.Ndash &gt; .Item</code></li>
			<li class="Item">This is a <code>.List.I.Ndash &gt; .Item</code></li>
		</ol>
		<ol class="List I Mdash">
			<li class="Item">This is a <code>.List.I.Mdash &gt; .Item</code></li>
			<li class="Item">This is a <code>.List.I.Mdash &gt; .Item</code></li>
			<li class="Item">This is a <code>.List.I.Mdash &gt; .Item</code></li>
		</ol>

		
		
		
		<ol class="list-float-3 typo-list">
			<li>To create a list in which list items float to the left,</li>
			<li> include the <code class="lang-css">.list-float(@liwidth)</code> mixin in your Less, where <code class="lang-css">@liwidth</code> is the width, in percent, you specify for each <code class="lang-css">li</code>.</li>
			<li>Alternatively, you may use the following pre-defined classes.</li>
			<li>
				<dl class="dl-table-med">
					<dt><code class="lang-css">.list-float-1</code>&nbsp;</dt>
					<dd>= 100%</dd>
					<dt><code class="lang-css">.list-float-2</code>&nbsp;</dt>
					<dd>= 50%</dd>
					<dt><code class="lang-css">.list-float-3</code>&nbsp;</dt>
					<dd>&asymp; 33.333%</dd>
					<dt><code class="lang-css">.list-float-4</code>&nbsp;</dt>
					<dd>= 25%</dd>
					<dt><code class="lang-css">.list-float-5</code>&nbsp;</dt>
					<dd>= 20%</dd>
					<dt><code class="lang-css">.list-float-6</code>&nbsp;</dt>
					<dd>&asymp; 16.666%</dd>
				</dl>
			</li>
			<li>The <code class="lang-css">.list-float(@liwidth)</code> works like a <code class="lang-css">.list-line</code>, except that the list items' widths are fixed and the list may span multiple lines.</li>
		</ol>
		<ol class="list-action typo-list">
			<li>This is a <code class="lang-css">.list-action</code>.</li>
			<li>Action lists are used specifically for:
				<ul>
					<li>short,</li>
					<li>one-line,</li>
					<li>textual hyperlinks.</li>
				</ul>
			</li>
			<li>This is normal text.</li>
			<li><a>This is an <code class="lang-css">a</code>.</a></li>
			<li><a href="">This is an <code class="lang-css">a[href]</code>.</a></li>
		</ol>
		<ol class="prose typo-list">
			<li>
				<p>An <code class="lang-css">ol.prose</code> has <code class="lang-css">list-style-type: decimal;</code> by default, but some prose lists may have other <code class="lang-css">list-style-type</code>s, such as <code class="lang-css">lower-alpha</code>. Use the Greek letter list classes shown above for cutsom numbering.</p>
			</li>
			<li>
				<p><span class="s-lede">This is a lede sentence of a prose list item.</span> The rest of this list item is normal text. The rest of this list item is normal text. The rest of this list item is normal text. The rest of this list item is normal text.</p>
			</li>
			<li>
				<p><span class="s-lede">This is a lede that acts like a heading&hellip;</span><br/>The rest of this list item is normal text. The rest of this list item is normal text. The rest of this list item is normal text. The rest of this list item is normal text.</p>
			</li>
		</ol>
		<section id="scheme-bc">
			<h1 class="h--delta">Breadcrumbs</h1>
		</section>
		<section id="scheme-toc">
			<h1 class="h--delta">Table of Contents</h1>
		</section>
		<section id="scheme-fn">
			<h1 class="h--delta">Footnotes</h1>
			<p>This is section text. This is text that includes a reference.<sup class="fn"><a id="r1" href="#fn1">1</a></sup> This is more section text. This is another reference to the same footnote.<sup class="fn"><a id="r2" href="#fn2">2</a></sup></p>
			<header>
				<ul class="footnotes">
					<li><sup class="fn"><a id="fn1" href="#r1">1</a></sup><sup class="fn"><a id="fn2" href="#r2">2</a></sup> This is the footnote of the reference. It may include a citation, work cited, or a simply a parenthetical remark.</li>
				</ul>
			</header>
		</section>
	</section>
	<section id="scheme-dl">
		<h1 class="h--gamma">Association List Scheme</h1>
		<dl class="typo-list">
			<dt>This is a <code class="lang-css">dt</code> in a <code class="lang-css">dl</code>.</dt>
			<dd>This is a <code class="lang-css">dd</code> in a <code class="lang-css">dl</code>.</dd>
		</dl>
		<dl class="dl-basic typo-list">
			<dt>This is a <code class="lang-css">dt</code> in a <code class="lang-css">dl.dl-basic</code>.</dt>
			<dd>This is a <code class="lang-css">dd</code> in a <code class="lang-css">dl.dl-basic</code>.</dd>
			<dd>Basic association lists look like basic <a href="#scheme-list"><code class="lang-css">ol</code> and <code class="lang-css">ul</code> lists</a>.</dd>
		</dl>
		<dl class="dl-ordered typo-list">
			<dt>This is a <code class="lang-css">dt</code> in a <code class="lang-css">dl.dl-ordered</code>.</dt>
			<dd>This is a <code class="lang-css">dd</code> in a <code class="lang-css">dl.dl-ordered</code>.</dd>
			<dt>This is another <code class="lang-css">dt</code> in a <code class="lang-css">dl.dl-ordered</code>.</dt>
			<dt>This is another <code class="lang-css">dt</code> in a <code class="lang-css">dl.dl-ordered</code>.</dt>
			<dd>This is another <code class="lang-css">dd</code> in a <code class="lang-css">dl.dl-ordered</code>.</dd>
			<dt>This is another <code class="lang-css">dt</code> in a <code class="lang-css">dl.dl-ordered</code>.</dt>
			<dd>This is another <code class="lang-css">dd</code> in a <code class="lang-css">dl.dl-ordered</code>.</dd>
			<dd>This is another <code class="lang-css">dd</code> in a <code class="lang-css">dl.dl-ordered</code>.</dd>
			<dt>A <code class="lang-css">dl.dl-ordered</code> looks like an <code class="lang-css"><span class="draft">!</span>ol &gt; li &gt; dl</code> but they are semantically different:</dt>
			<dd>the former is one association list in which the order of name-value groups is relevant, while the latter is an ordered list containing many association lists, each with exactly one name-value group.</dd>
		</dl>
		<dl class="typo-list">
			<dt>
				<ul>
					<li>This is a <code class="lang-css">dl &gt; dt &gt; ul:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dt &gt; ul:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dt &gt; ul:only-child &gt; li</code>.</li>
				</ul>
			</dt>
			<dd>This is a <code class="lang-css">dl &gt; dd</code>.</dd>
			<dd><code class="lang-css">dt &gt; ul:only-child</code> automatically extends <code class="lang-css">.list-basic</code>.</dd>
		</dl>
		<dl class="typo-list">
			<dt>
				<ol>
					<li>This is a <code class="lang-css">dl &gt; dt &gt; ol:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dt &gt; ol:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dt &gt; ol:only-child &gt; li</code>.</li>
				</ol>
			</dt>
			<dd>This is a <code class="lang-css">dl &gt; dd</code>.</dd>
			<dd><code class="lang-css">dt &gt; ol:only-child</code> has <code class="lang-css">padding-left: 0;</code>.</dd>
		</dl>
		<dl class="typo-list">
			<dt>This is a <code class="lang-css">dl &gt; dt</code>.</dt>
			<dt><code class="lang-css">dd &gt; ul:only-child</code> automatically extends <code class="lang-css">.list-basic</code>.</dt>
			<dd>
				<ul>
					<li>This is a <code class="lang-css">dl &gt; dd &gt; ul:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dd &gt; ul:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dd &gt; ul:only-child &gt; li</code>.</li>
				</ul>
			</dd>
		</dl>
		<dl class="typo-list">
			<dt>This is a <code class="lang-css">dl &gt; dt</code>.</dt>
			<dt><code class="lang-css">dd &gt; ol:only-child</code> has <code class="lang-css">padding-left: 0;</code>.</dt>
			<dd>
				<ol>
					<li>This is a <code class="lang-css">dl &gt; dd &gt; ol:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dd &gt; ol:only-child &gt; li</code>.</li>
					<li>This is a <code class="lang-css">dl &gt; dd &gt; ol:only-child &gt; li</code>.</li>
				</ol>
			</dd>
		</dl>
		<dl class="dl-group typo-list">
			<dt>A <code class="lang-css">dl.dl-group</code></dt>
			<dt>groups <code class="lang-css">dt</code>s together</dt>
			<dt>and <code class="lang-css">dd</code>s together</dt>
			<dd>on the same line.</dd>
			<dt>This separates</dt>
			<dd>name-value groups,</dd>
			<dd>while keeping multiple</dd>
			<dd>names together and values together.</dd>
		</dl>
		<dl class="dl-table-msm typo-list">
			<dt>If you want to display</dt>
			<dd>each name-value group in one line,</dd>
			<dd>include the <code class="lang-css">.dl-table(@dtwidth)</code> mixin in your Less,</dd>
			<dd> where <code class="lang-css">@dtwidth</code> is the width, in percent, you specify for each <code class="lang-css">dt</code>.</dd>
			<dt>Alternatively, you may use the following pre-defined classes. <a href="phi.html">Notice the associated <code class="lang-css">@dtwidth</code> values.</a></dt>
			<dd>
				<dl class="dl-table-msm">
					<dt><code class="lang-css">dl.dl-table-sml</code>&nbsp;</dt>
					<dd>&asymp; 23.607%</dd>
					<dt><code class="lang-css">dl.dl-table-msm</code>&nbsp;</dt>
					<dd>&asymp; 38.197%</dd>
					<dt><code class="lang-css">dl.dl-table-med</code>&nbsp;</dt>
					<dd>= 50%</dd>
					<dt><code class="lang-css">dl.dl-table-mlg</code>&nbsp;</dt>
					<dd>&asymp; 61.803%</dd>
					<dt><code class="lang-css">dl.dl-table-lrg</code>&nbsp;</dt>
					<dd>&asymp; 76.393%</dd>
				</dl>
			</dd>
			<dt>If a name-value group contains</dt>
			<dd>1 name and 1 value, the line will hold the entire group.</dd>
			<dt>Multiple names</dt>
			<dt>per group</dt>
			<dt>are allowed,</dt>
			<dd>but they are on separate lines.</dd>
			<dt>Multiple values</dt>
			<dd>are allowed as well,</dd>
			<dd>but each is on its own line as well.</dd>
		</dl>
		<dl class="dl-table-sml typo-list">
			<dt>This list is a</dt>
			<dd><code class="lang-css">dl.dl-table-sml</code>&nbsp;</dd>
		</dl>
		<dl class="dl-table-msm typo-list">
			<dt>This list is a</dt>
			<dd><code class="lang-css">dl.dl-table-msm</code>&nbsp;</dd>
		</dl>
		<dl class="dl-table-med typo-list">
			<dt>This list is a</dt>
			<dd><code class="lang-css">dl.dl-table-med</code>&nbsp;</dd>
		</dl>
		<dl class="dl-table-mlg typo-list">
			<dt>This list is a</dt>
			<dd><code class="lang-css">dl.dl-table-mlg</code>&nbsp;</dd>
		</dl>
		<dl class="dl-table-lrg typo-list">
			<dt>This list is a</dt>
			<dd><code class="lang-css">dl.dl-table-lrg</code>&nbsp;</dd>
		</dl>
		<figure>
			<figcaption>The following association list is an example.</figcaption>
			<dl class="docmeta typo-list">
				<dt>Author</dt>
				<dd>Chris Harvey</dd>
				<dt>Submitted</dt>
				<dd><time datetime="2013-07-16T03:18">Jul 16, 2013 @ 03:18</time></dd>
				<dt>Updated</dt>
				<dd class="seo-only"><time datetime="2013-08-01">Aug 1, 2013</time></dd>
				<dd class="seo-only"><time datetime="2013-09-01">Sep 1, 2013</time></dd>
				<dd><time datetime="2013-12-10">Dec 10, 2013</time></dd>
				<dd><time datetime="2014-01-20">Jan 20, 2013</time></dd>
				<dd><time datetime="2014-02-02">Feb 2, 2014</time></dd>
				<dd><time datetime="2014-03-01">Mar 1, 2014</time></dd>
				<dd><time datetime="2014-03-02">Mar 2, 2014</time></dd>
				<dd><time datetime="2014-03-03">Mar 3, 2014</time></dd>
				<dd><time datetime="2014-03-04">Mar 4, 2014</time></dd>
				<dd><time datetime="2014-03-05">Mar 5, 2014</time></dd>
				<dd><time datetime="2014-03-06">Mar 6, 2014</time></dd>
				<dd><time datetime="2014-03-07T23:45">Mar 7, 2013 @ 23:45</time></dd>
				<dd><time datetime="2014-03-08T01:47">Mar 8, 2013 @ 01:47</time></dd>
				<dd><time datetime="2014-03-08T02:53">Mar 8, 2013 @ 02:53</time></dd>
			</dl>
		</figure>
	</section>
	<section id="scheme-table">
		<h1 class="h--gamma">Table Scheme</h1>
		<p class="prose draft">The table was originally intended to mark up tabular data. That's obvious right? Well, the fact that tables provide a natural grid system was too tempting for early designers to ignore. They used tables to organize content and display it in a non-linear manner, which was a great way to override the normal flow of a page. Early tables would serve as an excellent tool to form the layout of a page.</p>
		<p class="prose draft">With the recent development of CSS and styles, the use of tables to form layout became considered outdated and, in some cases, amateur. It is recommended to use <code class="lang-css">div</code>s and styles for layout strategies. I urge designers to remember the original purpose of tables, which is to display hard data in a row-and-column format.</p>
		<table>
			<caption><span class="s-lede">Table 12.</span> A table's <code class="lang-css">caption</code> describes the contents of the table in more detail. It may also include the title of the table in a <code class="lang-css">span.s-lede</code>. Captions should not contain any <code class="lang-css">p</code>s, and they should not be styled in prose.</caption>
			<thead>
				<tr>
					<th>Header Row 1 Heading 1</th>
					<th>Header Row 1 Heading 2</th>
					<th>Header Row 1 Heading 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Body Row 1 Cell 1</td>
					<td>Body Row 1 Cell 2</td>
					<td>Body Row 1 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 2 Cell 1</td>
					<td>Body Row 2 Cell 2</td>
					<td>Body Row 2 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 3 Cell 1</td>
					<td>Body Row 3 Cell 2</td>
					<td>Body Row 3 Cell 3</td>
				</tr>
			</tbody>
		</table>
		<p>Below is a list-style table (<code class="lang-css">.table-list</code>). List-style tables are best for displaying information that correlates across rows. An example of a list-style table might be a list of student information including names, ages, genders, and ID numbers.</p>
		<table class="table-list">
			<thead>
				<tr>
					<th>Header Row 1 Heading 1</th>
					<th>Header Row 1 Heading 2</th>
					<th>Header Row 1 Heading 3</th>
				</tr>
				<tr>
					<td>Header Row 1 Cell 1</td>
					<td>Header Row 1 Cell 2</td>
					<td>Header Row 1 Cell 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Body Row 1 Cell 1</td>
					<td>Body Row 1 Cell 2</td>
					<td>Body Row 1 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 2 Cell 1</td>
					<td>Body Row 2 Cell 2</td>
					<td>Body Row 2 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 3 Cell 1</td>
					<td>Body Row 3 Cell 2</td>
					<td>Body Row 3 Cell 3</td>
				</tr>
			</tbody>
		</table>
		<p>Below is a bar-style-table (<code class="lang-css">.table-bars</code>). Bar-style tables are best for displaying information that correlates down columns. An example of a bar-style table might be a spreadsheet displaying the position, velocity, and acceleration values of a falling object across time.</p>
		<table class="table-bars">
			<tbody>
				<tr>
					<th>Row 1 Cell 1</th>
					<td>Row 1 Cell 2</td>
					<td>Row 1 Cell 3</td>
					<td>Row 1 Cell 4</td>
					<td>Row 1 Cell 5</td>
				</tr>
				<tr>
					<th>Row 2 Cell 1</th>
					<td>Row 2 Cell 2</td>
					<td>Row 2 Cell 3</td>
					<td>Row 2 Cell 4</td>
					<td>Row 2 Cell 5</td>
				</tr>
				<tr>
					<th>Row 3 Cell 1</th>
					<td>Row 3 Cell 2</td>
					<td>Row 3 Cell 3</td>
					<td>Row 3 Cell 4</td>
					<td>Row 3 Cell 5</td>
				</tr>
			</tbody>
		</table>
		<table class="table-bars">
			<thead>
				<tr>
					<th>T</th>
					<th>A</th>
					<th>V</th>
					<th>X</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>11</th>
					<td>12</td>
					<td>13</td>
					<td>14</td>
				</tr>
				<tr>
					<th>21</th>
					<td>22</td>
					<td>23</td>
					<td>24</td>
				</tr>
				<tr>
					<th>31</th>
					<td>32</td>
					<td>33</td>
					<td>34</td>
				</tr>
			</tbody>
		</table>
<!--
		<div>
			<p>Below is a grid-style table (). Grid-style tables are best for displaying information that either correlates across rows, down columns, or tabular data that correlates among both rows and columns.</p>
			<p>In a grid-style table, a table header could be a row or row group of cells, or a column or column group of cells. If table header(s) are present, their cells may be normal cells or heading cells (headings). The headings, if present, can have a scope of either <code class="lang-html">scope=&quot;row&quot;</code> or <code class="lang-html">scope=&quot;col&quot;</code>. Similarly, these headings can be targeted by any cells.</p>
			<p>An example of a grid-style table might be...</p>
			<table class="table-grid">
				<tbody>
					<tr><td>Row 1 Cell 1</td><td>Row 1 Cell 2</td><td>Row 1 Cell 3</td><td>Row 1 Cell 4</td><td>Row 1 Cell 5</td></tr>
					<tr><td>Row 2 Cell 1</td><td>Row 2 Cell 2</td><td>Row 2 Cell 3</td><td>Row 2 Cell 4</td><td>Row 2 Cell 5</td></tr>
					<tr><td>Row 3 Cell 1</td><td>Row 3 Cell 2</td><td>Row 3 Cell 3</td><td>Row 3 Cell 4</td><td>Row 3 Cell 5</td></tr>
					<tr><td>Row 4 Cell 1</td><td>Row 4 Cell 2</td><td>Row 4 Cell 3</td><td>Row 4 Cell 4</td><td>Row 4 Cell 5</td></tr>
					<tr><td>Row 5 Cell 1</td><td>Row 5 Cell 2</td><td>Row 5 Cell 3</td><td>Row 5 Cell 4</td><td>Row 5 Cell 5</td></tr>
				</tbody>
			</table>
		</div>
-->
	</section>
</section>
<section id="text-level">
	<h1 class="h--beta">Text-Level Semantics</h1>
	<p>This section......</p>
	<section id="scheme-punct">
		<h1 class="h--gamma">Punctuation</h1>
		<p>First and foremost, <strong>punctuation should be used to mark up text.</strong> The meaning we give to textual elements in the written language is primarily conveyed through punctuation, and if that fails, we turn to HTML. I'm not saying HTML is bad and that we shouldn't use it, but there is a line between not enough markup and too much markup.</p>
		<p>Let me ask you this: do you find yourself trying to decide whether to wrap a question with something like <code class="lang-html">&lt;i class=&quot;question&quot;&gt;</code>? After all, a question does indicate a change of tone. No, we would rather simply type a question mark. Now imagine having to mark up every sentence with <code class="lang-html">&lt;sntc&gt;</code> tag, or even worse, every word with <code class="lang-html">&lt;word&gt;</code>.</p>
		<p>Truth be told, question marks, periods, and spaces give meaning to the sentences and words we write. Likewise, we should make the best use we can of spaces, commas, apostrophes, stops (including periods, question marks, and exclamation marks) hyphens, colons, dashes, ellipses, semicolons, quotation marks, and any other punctuation characters at our disposal, as we normally would on a typewriter.</p>
		<p>Without further ado, the number-one rule is this: <strong>if you can use punctuation to mark up text-level content, <em>do it</em></strong>. Save yourself the time and effort on trying to decide on an HTML element and just write naturally (as long as you consistently adhere to some prescribed manual of style). After that is all said and done, then it would be time to turn to the HTML elements we know and love.</p>
		<p>This document is not meant to be a comprehensive manual for the written English language, so it is left to the discrection of the author (and/or his employer) to decide how to use punctuation. <a href="punct.html" rel="child">Read further on common practices of using punction.</a></p>
	</section>
	
	
	
	
	
	
	
	<section id="scheme-highlight" class="draft">
		<h1 class="h--gamma">Highlighted Text Scheme</h1>
		<dl hidden="">
			<dt>italics / oblique</dt>
			<dd>easier to read; script glyphs for serif fonts; stands out from normal text, but just barely; the slant causes the reader's eyes to move faster</dd>
			<dt>bold</dt>
			<dd>harder to read; heaviness causes reader's eyes to slow down; heavily stands out from normal text</dd>
			<dt>capitalization</dt>
			<dd>heavily stands out; sounds 'loud'</dd>
			<dt>text size</dt>
			<dd>changes the line height</dd>
			<dt>font face</dt>
			<dd>not much difference when keeping serif/sans-serif, but slightly more difference when changing</dd>
			<dt>foreground color</dt>
			<dd>warmer colors used for harsher meaning, cooler colors for more casual. e.g.: red (danger), orange (caution), yellow (warning), green (okay), blue (attraction)</dd>
			<dt>background color</dt>
			<dd>highlight</dd>
		</dl>
		<section id="emph">
			<h1 class="h--delta">Emphasis</h1>
			<code class="lang-css">em</code>
			<em>emphasized text (stress in tone of voice)</em>
			<p class="draft">represent words or phrases that are stressed, as if the tone of voice would be affected. More importantly, <strong>the placement of stress should affect the meaning of the passage</strong>. If the emphasis were to be removed or relocated, the passage's meaning should change.</p>
			
			<code class="lang-css">em > em</code>
			<em><em>further emphasis</em></em>
			<p class="draft">adds a level of emphasis</p>
		</section>
		<section id="impt">
			<h1 class="h--delta">Importance</h1>
			<code class="lang-css">strong</code>
			<strong>important text</strong>
			<p class="draft">represent text that has a level of importance. Important text does not necessarily affect tone of voice (although it may), but rather upsets the normal prose by causing the reader to examine the text more carefully. The placement of importance should not affect the meaning of the passage.</p>
		</section>
		<section id="rlvn">
			<h1 class="h--delta">Relevance</h1>
			<code class="lang-css">mark</code>
			<mark>relevant text</mark>
			<p class="draft">represent phrases that are relevant to a particular subject in a different context. <span class="draft">In an article about black holes, for example, the author may want to mark up anything that has to do with the <b>Law of Conservation of Information</b> in one way, and mark up any phrases involving <b>String Theory</b> in another way (using classes, the reviewer could style different contexts accordingly). <code class="lang-css">mark</code> is ideal because these two subjects are not directly related to the article's main topic. Readers will be drawn to the corresponding subjects more efficiently.</span></p>
		</section>
		<section id="mood">
			<h1 class="h--delta">Altered Tone of Voice</h1>
			
			
			
			<code class="lang-css">i.thought</code>
			<i class="thought">silent thought</i>
			<p class="draft">represents an altered voice in the form of a thought</p>
			
			<code class="lang-css">i[lang="it"]</code>
			<i lang="it">foreign language</i>
			<p class="draft">can be used to mark up phrases in foreign languages, such as the taxonomic classification (in Latin) of an organism.</p>
		</section>
		<section id="kywd">
			<h1 class="h--delta">Keywords</h1>
			<code class="lang-css">b.keyword</code>
			<b class="keyword">keywords or technical terms</b>
			<p class="draft">represent text that indicates specific terms, key words, technical terms or vocabulary words</p>
			
			<code class="lang-css">b.proper</code>
			<b class="proper">proper noun traditionally italicized</b>
			<p class="draft">traditionally italicized proper nouns such as ship names, periodical titles, etc.</p>
			
			<code class="lang-css">b.ref</code>
			<b class="ref">reference</b>
			<p class="draft">reference to the name or title of a <a href="#scheme-heading">heading</a>, section, <a href="#scheme-figure">figure</a>, or <a href="#scheme-table">table</a> (or column in a table), when <a>hyperlinks</a> or <a>citations</a> are not ideal.</p>
		</section>
	</section>
	<section id="scheme-doc">
		<h1 class="h--gamma">Documentation Scheme</h1>
		<section id="quotations">
			<code class="lang-css">q</code>
			<q>something</q>
			<p class="draft">directly quoting small material,  etc.</p>
		</section>
		<section id="citations">
			<code class="lang-css">cite</code>
			<cite>something</cite>
			<p class="draft">citing copyrighted material, titles of published works, etc.</p>
		</section>
		<section id="definitions">
			<code class="lang-css">dfn</code>
			<dfn id="">definining instance of a term</dfn>
			<p class="draft">Every <code class="lang-css">dfn</code> must have an <code class="lang-html">id</code> present. Thus there must only be one <code class="lang-css">dfn</code> per page which contains a given term in question. Furthermore, other hyperlinks can point to the defining instance of the term.</p>
		</section>
		<section id="abbreviations">
			<code class="lang-css">abbr[title]</code>
			<abbr title="expanded">abbreviated text with a <code class="lang-html">title</code> attribute</abbr>
			<p class="draft">something</p>
		</section>
		<section id="edits">
			<h1 class="h--delta">Document Edits</h1>
			<section>
				<code class="lang-css">del</code>
				<del>text deleted from a document</del>
				<del datetime="1970-01-01">deleted text with a <code class="lang-html">datetime</code></del>
				<p class="draft">something</p>
			</section>
			<section>
				<code class="lang-css">ins</code>
				<ins>text inserted into a document</ins>
				<ins datetime="1970-01-01">inserted text with a <code class="lang-html">datetime</code></ins>
				<p class="draft">something</p>
			</section>
			<p>Use an <a href="#association-lists">association list</a> to mark up document metadata.</p>
		</section>
		<section id="scripts">
			<h1 class="h--delta">Super- and Subscripts</h1>
		</section>
	</section>
	<section id="scheme-links">
		<h1 class="h--gamma">Hyperlink Scheme</h1>

		<p><a>This is an <code class="lang-css">a</code>.</a></p>
		<p><a class="sp">This is an <code class="lang-css">a.sp</code>.</a></p>
		<p><a href="#">This is an <code class="lang-css">a[href]</code>.</a></p>
		<p><a class="sp" href="#">This is an <code class="lang-css">a.sp[href]</code>.</a></p>

		<a class="a-block">This is an <code class="lang-css">a.a-block</code>.</a>
		<a class="a-block sp">This is an <code class="lang-css">a.a-block.sp</code>.</a>
		<a class="a-block" href="#">This is an <code class="lang-css">a.a-block[href]</code>.</a>
		<a class="a-block sp" href="#">This is an <code class="lang-css">a.a-block.sp[href]</code>.</a>
	</section>
	<section id="scheme-code">
		<h1 class="h--gamma">Code and Math Scheme</h1>
		<p><code>This is a fragment of code.</code> That fragment is inside a paragraph.</p>
		<code class="code--block">
This is a block of code.
Code blocks can have spans inside, that represent different components of different languages. For example, the following line shows the syntax for an HTML tag.
<span class="code__tag">&lt;tag <span class="code__attr">attr=&quot;<span class="code__val">val val</span>&quot;</span>&gt;</span>contents<span class="code__tag">&lt;/tag&gt;</span>
The next line shows the syntax for a Less declaration.
<span class="code__sel">sel {
	<span class="code__cmd">.cmd(<span class="code__arg">arg</span>);</span>
	<span class="code__prop">prop: <span class="code__val">val</span>;</span>
	&amp;<span class="code__sel">:sel {<span class="code__prop">prop: <span class="code__val">val</span>;</span>}</span>
}</span>
		</code>
	</section>
	<section id="scheme-label">
		<h1 class="h--gamma">Label Scheme</h1>
		<small class="warning">This is a Warning message. It is used to indicate a negative consequence, such as an action that cannot be undone or will cause something to break.</small>
		<small class="caution">This is a Caution message. It is used to indicate that the user must proceed with care.</small>
		<small class="success">This is a Success message. It is used to indcate that something was done right.</small>
		<small class="info">This is an Info message. It is used to indicate extra information about an element.</small>
		<small class="help">This is a Help message. It is used to indicate tips and hints for the user.</small>
		<small class="special">This is a Special message. It is used for miscellaneous indications.</small>
	</section>
</section>
<section id="forms" class="draft">
	<h1 class="h--beta">Form Elements</h1>
	<p>......</p>
</section>
</main>
</body>
</html>
