<!--
---
---
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Typography &in; Site Design</title>
<meta charset="UTF-8"/>
<!--<link rel="stylesheet" href="sitedesign.css"/>-->
<link rel="stylesheet" href="../core/stylesheets/all.css"/>
<style>
	body {background: url('../core/line24.png') repeat;}
</style>
<!--
{% include all-js.html %}
-->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
<script src="http://chharvey.github.io/core/scripts/all.js"></script>
<script src="../core/scripts/all.js"></script>
</head>
<body>
<!--
{% include masthead.html %}
-->
<nav>
	<ol class="breadcrumbs">
		<li><a href="phi.html">Mathematical Background</a></li>
		<li><a href="grid.html">The Grid</a></li>
		<li><a href="typo.html">Typography</a></li>
		<li><a href="mods.html" class="broken">Modules</a></li>
		<li><a href="colors.html">Colors</a></li>
	</ol>
</nav>
<div class="main">
<header>
	<h1 class="h-alpha">Site Design &mdash; Typography</h1>
<!--	<p class="timestamp">Updated <time datetime="2014-02-02T23:03">Feb 2, 2014</time>.</p>-->
</header>
<p class="prose">This document...</p>
<section id="group-level">
	<h1 class="h-beta">Group-Level Elements</h1>
	<p class="prose">This section...</p>
	<section id="scheme-section">
		<h1 class="h-gamma">Sectioning</h1>
		<p class="prose">An outline exists for every document. On a Web page, the <code class="lang-css">body</code> represents the document and we refer to its outline as the <a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/sections.html#outline">Document Outline</a>.</p>
		<p class="prose"><dfn><a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/dom.html#sectioning-content-0">Sectioning content</a></dfn> is content that contributes to the Document Outline. Each sectioing element potentially has a heading and its own outline, which contributes to the outline of its ancestors. The following elements mark up sectioning content and introduce new levels in the Document Outline:</p>
		<ul>
			<li><code class="lang-css">section</code></li>
			<li><code class="lang-css">article</code></li>
			<li><code class="lang-css"><a href="#scheme-aside">aside</a></code></li>
			<li><code class="lang-css">nav</code></li>
		</ul>
		<p class="prose">A <dfn><a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/sections.html#sectioning-root">sectioning root</a></dfn> is like sectioning content in that it may have its own heading and outline, however, the outline of a sectioning root does not affect the Document Outline (unless of course, the sectioning root in question is the <code class="lang-cs">body</code> element, in which case its outline <em>is</em> the Document Outline). This means sectioning roots may include sectioning content but their outlines are isolated and do not add levels to the outlines of their ancestors. The following elements are sectioning roots:</p>
		<ul>
			<li><code class="lang-css">body</code></li>
			<li><code class="lang-css"><a href="#scheme-figure-blockquote">figure</a></code></li>
			<li><code class="lang-css"><a href="#scheme-figure-blockquote">blockquote</a></code></li>
			<li><code class="lang-css"><a href="#scheme-table">td</a></code></li>
			<li><code class="lang-css">fieldset</code></li>
			<li><code class="lang-css">details</code></li>
			<li><code class="lang-css">dialog</code></li>
		</ul>
		<div class="informative">
			<p><span class="warning">Warning <time>2014-02-26</time>:</span> <code class="lang-css"><a href="#scheme-list">li</a></code> seems like it should be a sectioning root but it is not! Do not contain sectioning content inside an <code class="lang-css">li</code> unless you want to change the document outline!</p>
		</div>
		<section>
			<h1 class="h-delta">Elements of Sections</h1>
			<p class="prose">Group all page-specific content into exactly one <code class="lang-css">main</code> element. There should only be one <code class="lang-css">main</code> element per document, and it should only contain the content specific to that document. It should not include any site-wide navigational aids, headers, footers, <i lang="la"><abbr title="et cetera">etc.</abbr></i> <code class="lang-css">main</code> is not sectioning content, so it does not add a level to the Document Outline.</p>
			<div class="informative">
				<p><span class="warning">Warning <time>2014-02-26</time>:</span> Not all browsers implement <code class="lang-css">main</code> yet. For the time being, use <code class="lang-css">div.main</code>.</p>
			</div>
			<p class="prose">A <code class="lang-css">section</code> represents a thematic grouping of content that is added to the outline of the nearest ancestor sectioning root. If the nearest ancestor sectioning root is the <code class="lang-css">body</code>, then its level will be added to the Document Outline. If its nearest ancestor sectioning root is another sectioning root, then the level will be added to that sectioning root's outline without affecting the Document Outline. Each section may have its own <a href="#scheme-heading">heading</a> and outline. In addition, a section may contain a header or a footer, which does not affect its outline.</p>
			<section id="scheme-header">
				<h1 class="h-epsilon">Headers and Footers</h1>
				<p class="prose"><code class="lang-css">header</code>s for a section should contain a <a href="#scheme-heading">heading</a> and introductory content. Introductory content may include but is not limited to navigational aids within the section and metadata about the section <em>itself</em> such as authors, editors, and time written/published.</p>
				<p class="prose"><code class="lang-css">footer</code>s for a section should contain metadata about the <em>content</em> in the section, such as copyright information, related links, and contact information (possibly in an <code class="lang-css"><a href="#scheme-address">address</a></code> element).</p>
				<div class="informative">
					<p><span class="caution">Caution: <time>2014-02-26</time></span> There is a grey area concerning the content that should belong in the <code class="lang-css">header</code> versus the <code class="lang-css">footer</code> elements. Semantically, the order in which these elements are written is irrelevant (it doesn't matter where they appear on the page), however the distinction between them is so small that it is best to consider the <code class="lang-css">header</code> as opening material and the <code class="lang-css">footer</code> as closing material for a section.</p>
					<p>Another stance authors may want to take is to consider using only the <code class="lang-css">header</code> element&mdash;possibly more than once in a section: at the top and at the bottom, for example&mdash;and completely disregarding the <code class="lang-css">footer</code> element.</p>
				</div>
			</section>
		</section>
		<section id="scheme-aside">
			<h1 class="h-delta">Asides</h1>
			<p class="prose">See the following two <code class="lang-css">aside</code> elements.</p>
			<aside class="major">
				<h1 class="h-epsilon">Major Aside</h1>
				<p class="prose">An <code class="lang-css">aside</code> is a sectioning element, which means it creates a new level in the Document Outline. <code class="lang-css">aside</code>s may not affect the normal flow of the document, however, which means they may be taken out of context and placed in a margin, appendix, or other perihperal part of the document.</p>
				<p class="prose">To that end, there are two rules to an <code class="lang-css">aside</code>: the normal flow of the document must not be disturbed if it were removed <i class="parenth">thus the document must make sense without it</i>, and the <code class="lang-css">aside</code> itself must make sense isolated and out of context.</p>
				<p class="prose">An <code class="lang-css">aside</code> is a special case of a <code class="lang-css">section</code>, so it should be treated like one, containing a <a href="#scheme-heading">heading</a> and an outline made of other flow-content elements.</p>
			</aside>
			<aside class="minor">
				<h1 class="h-epsilon">Minor Aside</h1>
				<p class="prose">There are two classes of aside: <code class="lang-css">aside.major</code> and <code class="lang-css">aside.minor</code>. The previous aside was <code class="lang-css">aside.major</code> and this is an <code class="lang-css">aside.minor</code>.</p>
			</aside>
			<section id="scheme-footnotes">
				<h1 class="h-epsilon">Footnotes</h1>
				<p class="prose">Use footnotes for annotations that can be taken out of context. The reference<sup class="fn"><a id="r1" href="#fn1">1</a></sup> should link to the footnote<sup class="fn"><a id="r2" href="#fn2">2</a></sup>. All footnotes are contained within an <code class="lang-css">aside.footnotes > ul</code>.</p>
				<aside class="footnotes">
					<ul>
						<li><sup class="fn"><a id="fn1" href="#r1">1</a></sup> followed by a <code class="lang-css">sup.fn > a#r1[href=&quot;#fn1&quot;]</code>, where <code class="lang-css">a#r1</code> is the anchor in the reference and <code class="lang-css">a#fn1</code> is the footnote to which it links.</li>
						<li><sup class="fn"><a id="fn2" href="#r1">2</a></sup> preceded by a <code class="lang-css">sup.fn > a#fn1[href=&quot;#r1&quot;]</code>, where <code class="lang-css">a#fn1</code> is the anchor in the footnote and <code class="lang-css">a#r1</code> is the reference to which it links.</li>
					</ul>
				</aside>
			</section>
		</section>
	</section>
	<section id="scheme-heading">
		<h1 class="h-gamma">Heading Scheme</h1>
		<p class="prose">Headings describe sections of a document. They're like mini-titles for levels in the Document Outline. Use the <code class="lang-css">h1</code>&ndash;<code class="lang-css">h6</code> elements, or use the <code>.h-alpha</code>, <code>.h-beta</code>, <code>.h-gamma</code>, <code>.h-delta</code>, <code>.h-epsilon</code>, and <code>.h-zeta</code> classes to style non-heading elements. It is recommended, however, to consistently use <code class="lang-css">h1</code>s, and then apply respective classes above based on heading level.</p>
		<p class="prose">Some headings may require a subheading. To use one, add a <code class="lang-css">span.hsub</code> <em>inside</em> the heading element, as shown below.</p>
		<p class="informative"><span class="caution">Caution <time>2014-02-23</time>:</span> The correct element used for subheadings has been controversial&mdash;some developors support the use of <code class="lang-css">small</code>, while others believe this element is best used only for side comments, small print, legal information, <i lang="la"><abbr title="et cetera">etc</abbr></i>. For now, stick with a <code class="lang-css">span</code> and stay tuned for updates.</p>
		<h1 class="h-alpha">Heading 1 <span class="hsub">Level Alpha</span></h1>
		<p class="prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h1 class="h-beta">Heading 2 <span class="hsub">Level Beta</span></h1>
		<p class="prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h1 class="h-gamma">Heading 3 <span class="hsub">Level Gamma</span></h1>
		<p class="prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h1 class="h-delta">Heading 4 <span class="hsub">Level Delta</span></h1>
		<p class="prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h1 class="h-epsilon">Heading 5 <span class="hsub">Level Epsilon</span></h1>
		<p class="prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<h1 class="h-zeta">Heading 6 <span class="hsub">Level Zeta</span></h1>
		<p class="prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
	<section id="scheme-paragraph">
		<h1 class="h-gamma">Paragraph Scheme</h1>
		<p>Paragraphs (<code class="lang-css">p</code>) are the backbone of a document; they are made to organize and group textual ideas together. In the written media, paragraphs can span anywhere from 3 to 8 sentences. However on the Web, they can be much, much shorter. This paragraph does not have any classes added. We will call these <i class="mention">regular paragraphs</i>.</p>
		<figure>
			<p style="font-style: italic;">Some regular paragraphs may be presented in italics. This paragraph merely serves as a visual example. The quick brown fox jumps over the lazy dog.</p>
			<p style="font-weight: bold;">Some regular paragraphs may be presented in bold. This paragraph merely serves as a visual example. The quick brown fox jumps over the lazy dog.</p>
			<p style="font-style: italic; font-weight: bold">This is a regular paragraph in italics and bold. The quick brown fox jumps over the lazy dog.</p>
		</figure>
		<p class="lede">This is a lede paragraph. A lede is traditionally an introductory or summary sentence or paragraph to catch the reader's attention. This site's ledes are designed to catch the reader's eye, as they are bolder, darker, more spaced, and in a sans-serif font, which has a slightly slower reading speed than serif fonts.</p>
		<p class="lede">Lede paragraphs should <em>not</em> be given the <code class="lang-css">.prose</code> class, even if they are written as part of a formal section or document. Use the <code class="lang-css">.lede</code> class on a whole paragraph such as this one, or on the first span within a paragraph as shown below. If a lede sentence is part of a paragraph, it acts like a mini-heading for that text.</p>
		<p class="prose"><span class="lede">This is a paragraph in prose.</span> Paragraphs in the normal flow of <strong>formal documents</strong> will be writen in prose. The <code class="lang-css">.prose</code> class is used for this style. Prose, being more formal and providing more detail than other web-based texts, is offset from the page: rather than a typical box or list users can skim, paragraphs styled in prose usually require more careful reading.</p>
		<figure>
			<p class="prose" style="font-style: italic;">Some prose paragraphs may be presented in italics. This paragraph merely serves as a visual example. The quick brown fox jumps over the lazy dog.</p>
			<p class="prose" style="font-weight: bold;">Some prose paragraphs may be presented in bold. This paragraph merely serves as a visual example. The quick brown fox jumps over the lazy dog.</p>
			<p class="prose" style="font-style: italic; font-weight: bold">This is a prose paragraph in italics and bold. The quick brown fox jumps over the lazy dog.</p>
		</figure>
		<section id="scheme-informative">
			<h1 class="h-delta">Informative Text</h1>
			<p class="lede">This section describes the creation of a <a>quasi-element</a>: the <code class="lang-css">div.informative</code> class.</p>
			<div class="informative">
				<p>An informative (non-normative) block of text is not officially part of a normative document. It is still part of the normal flow of the document, so it would not makes sense out of context as a <code class="lang-css"><a href="#scheme-figure-blockquote">figure</a></code> or <code class="lang-css"><a href="#scheme-aside">aside</a></code> would, however it is presented differently from formal text to indicate that it is not official.</p>
				<p>Wrap all informative content, including <code class="lang-css">p</code>s, <code class="lang-css">img</code>s, and <code class="lang-css">figure</code>s with a <code class="lang-css">div.informative</code>. <strong>All non-normative text should be contained in flow, non-phrasing content</strong>. This separates the text from the normative document. If there is a non-normative span of text present in a normative paragraph, authors are strongly encouraged to move the span to its own separate, non-normative division.</p>
				<p>Since the <code class="lang-css">.prose</code> class is reserved for more formal text, informative text should <em>not</em> be written in prose.</p>
			</div>
		</section>
		<section id="scheme-figure-blockquote">
			<h1 class="h-delta">Figures and Block Quotes</h1>
			<p class="prose"><code class="lang-css">figure</code>s and <code class="lang-css">blockquote</code>s are <a href="#scheme-section">sectioning roots</a>.</p>
			<figure><code class="lang-css">figure</code> elements contain excerpts of text, examples, or images that are used to illustrate a concept. Content in a <code class="lang-css">figure</code> element&mdash;including its <code class="lang-css">figcaption</code>&mdash;is permissible to be extracted from the document and presented on its own. If the content would not make sense out of its surrounding context, do not use this element.
				<figcaption><span class="lede">Figure 12.</span> The <code class="lang-css">figcaption</code> element describes the content of the figure. Optionally include a <code class="lang-css">span.lede</code> containing the figure's title. The figure caption should be shorter and more concise than the figure text. Captions should not contain any <code class="lang-css">p</code>s, and they should not be styled in prose.</figcaption>
			</figure>
			<figure>
				<p>Usually, <code class="lang-css">figure</code>s do not need child <code class="lang-css">p</code> elements because figures are typically too short for multiple paragraphs; text-only child nodes will suffice for textual examples.</p>
				<p>Though rare, figures may contain child <code class="lang-css">p</code> elements if necessary. However, text in <code class="lang-css">figure</code>s should <em>not</em> be written in prose.</p>
				<p>Figure captions are not always necessary.</p>
			</figure>
			<blockquote><code class="lang-css">blockquote</code> elements contain material taken directly from another source. They are usually very short. They are a <i class="scare">special case</i> of <code class="lang-css">figure</code>s. <cite class="source">Source</cite></blockquote>
			<blockquote>It's courteous&mdash;and probably required&mdash;to reference the source of the quoted text. Add a <code class="lang-css">cite.source</code> at the end of the block quote. (Yes, you should use the <code class="lang-css">cite</code> element.) <cite class="source">Source</cite></blockquote>
			<blockquote class="prose">
				<p>Block quotes that are longer than about 40 words should contain at least one <code class="lang-css">p</code>. Conversely, short block quotes should <em>not</em> contain paragraphs; the textual content should be contained directly inside, as shown above. Since longer passages of text are more easily read in a serif font, apply the <code class="lang-css">.prose</code> class <strong>to the entire block quote</strong> instead of to each element inside.</p>
				<p>In a long block quote, the citation should be in a <code class="lang-css">header &gt; cite.source</code> <i class="parenth"><a href="#scheme-header">yes, <code class="lang-css">header</code></a></i>, with the year included as well. If you're really picky, you can wrap the year with a <code class="lang-html">&lt;time&gt;</code> tag.</p>
				<header><cite class="source">Source, <time>2000</time></cite></header>
			</blockquote>
		</section>
		<section id="scheme-address">
			<h1 class="h-delta">Addresses</h1>
			<p class="lede">This section describes the creation of a <a>quasi-element</a>: the <code class="lang-css">div.postal</code> class.</p>
			<p class="prose">Use the <code class="lang-css">address</code> element to mark up contact information for authors of (part of) a document. This contact information may include a postal address, or it may simply include an email address or link. If the <code class="lang-css">address</code> element contins a postal address, place the postal address in an <code class="lang-css">address div.postal</code>. If the postal address is not an author's contact information but rather an arbitrary postal address, also use <code class="lang-css">div.postal</code>, but do not place it in an <code class="lang-css">address</code> element. It is convention to use the <code class="lang-css">br</code> element to indicate line breaks within a postal address.</p>
			<address>
				<div class="postal">
					Chris Harvey<br/>
					12345 Main St.<br/>
					Washington, DC 00001<br/>
					<a class="tel">(555) 555-5555</a><br/>
					<a href="">ch@example.com</a><br/>
					<a href="">@ch12345</a>
				</div>
			</address>
		</section>
	</section>
	<section id="scheme-list">
		<h1 class="h-gamma">List Scheme</h1>
		<section id="ordered-unordered-lists">
			<h1 class="h-delta">Ordered and Unordered Lists</h1>
			<p class="prose">On all lists below, outlines and background colors have been added to each item to show structure.</p>
			<ol class="typo-list">
				<li>This is an ordered list (<code class="lang-css">ol</code>), without any classes added. Ordered lists contain 0 or more list items (<code class="lang-css">li</code>).</li>
				<li>Use ordered lists to list items of which the order is <dfn>relevant</dfn>, that is, changing the order of the items would change the outcome or semantics of the list.</li>
			</ol>
			<ul class="typo-list">
				<li>This is an unordered list (<code class="lang-css">ul</code>), without any classes added. Unordered lists contain 0 or more list items (<code class="lang-css">li</code>).</li>
				<li>Use unordered lists to list items of which the order is <dfn>irrelevant</dfn>, that is, changing the order of the items would not change the outcome or semantics of the list.</li>
			</ul>
			<ul class="typo-list">
				<li>To nest lists,
					<ul>
						<li>contain an <code class="lang-css">ol</code> or <code class="lang-css">ul</code> inside an <code class="lang-css">li</code> of the parent list.</li>
					</ul>
				</li>
			</ul>
			<ol class="list-alpha typo-list">
				<li>Ordered lists can be nested to represent an outline, such as a table of contents. If you want to do this, use the following classes.</li>
				<li>This is an <code class="lang-css">ol.list-alpha</code> (upper-roman)
					<ol class="list-beta">
						<li>This is an <code class="lang-css">ol.list-beta</code> (upper-alpha)
							<ol class="list-gamma">
								<li>This is an <code class="lang-css">ol.list-gamma</code> (decimal)
									<ol class="list-delta">
										<li>This is an <code class="lang-css">ol.list-delta</code> (lower-alpha)
											<ol class="list-epsilon">
												<li>This is an <code class="lang-css">ol.list-epsilon</code> (lower-roman)
													<ol class="list-zeta">
														<li>This is an <code class="lang-css">ol.list-zeta</code> (lower-greek)</li>
													</ol>
												</li>
											</ol>
										</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</li>
			</ol>
			<ol class="list-basic typo-list">
				<li>This is a <code class="lang-css">.list-basic</code>.</li>
				<li>This class can be applied to any <code class="lang-css">ol</code> or <code class="lang-css">ul</code>, and both elements appear the same, though of course they differ semantically. This class can also be applied to <a href="#description-lists">description lists</a>.</li>
				<li>Basic lists remove the padding and list-style-type from the list,</li>
				<li>while maintaining the list-item display of each list item.</li>
			</ol>
			<ol class="list-inline typo-list">
				<li>For a basic list in which</li>
				<li>the list items</li>
				<li>are displayed inline,</li>
				<li>use <code class="lang-css">.list-inline</code>.</li>
				<li>The list itself is still displayed as a block.</li>
			</ol>
			<ol class="list-line typo-list">
				<li>A <code class="lang-css">.list-line</code> is a basic list that acts as a table,</li>
				<li>with the list items acting as table cells.</li>
			</ol>
			<ol class="list-action typo-list">
				<li>This is a <code class="lang-css">.list-action</code>.</li>
				<li>Action lists are used specifically for:
					<ul>
						<li>short,</li>
						<li>one-line,</li>
						<li>textual hyperlinks.</li>
					</ul>
				</li>
				<li>This is normal text.</li>
				<li><a>This is an <code class="lang-css">a</code>.</a></li>
				<li><a href="">This is an <code class="lang-css">a[href]</code>.</a></li>
			</ol>
			<ol class="breadcrumbs typo-list draft">
				<li>To make breadcrumbs,</li>
				<li>use an <code class="lang-css">ol.breadcrumbs</code> (recommended to include in a <code class="lang-css">nav</code> element).</li>
				<li>This list's style combines the styles of <code class="lang-css">.list-action</code> with <code class="lang-css">.list-inline</code>.</li>
				<li>Of course, each list item should contain a link.</li>
			</ol>
			<ol class="prose typo-list">
				<li>
					<p><span class="lede">This is an <code class="lang-css">ol.prose</code>.</span> A prose list is an ordered list whose items consist of flow-content. Each list item contains typically 1, but possibly more, paragraph elements. Since the <code class="lang-css">.prose</code> class is applied <strong>to the entire list</strong>, it does not need to apply to the list items or paragraphs within each list item.</p>
					<p>An <code class="lang-css">ol.prose</code> has <code class="lang-css">list-style-type: decimal;</code> by default, but some prose lists may have other <code class="lang-css">list-style-type</code>s, such as <code class="lang-css">lower-alpha</code>.</p>
				</li>
				<li>
					<p><span class="lede">Typically, each list item in a prose list will have a lede sentence.</span> The first sentence of each list item can be thought of as a lede or <i class="scare">heading</i>, although it does not take part in the <a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/sections.html#outline">document outline</a>. Add a <code class="lang-css">span.lede</code> to the beginning of the first paragraph in the list item.</p>
				</li>
				<li>
					<p class="lede">Sometimes, a prose list item may have a lede that acts like a heading&hellip;</p>
					<p>In this case, make it a separate paragraph (<code class="lang-css">p.lede</code>), and it really should be as short as an <code class="lang-css">h1</code> would be, not an entire paragraph. Again, this lede does not affect the <a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/sections.html#outline">document outline</a>. Though actual <code class="lang-css">h1</code>s are <a class="sp" href="http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-li-element">technically permissible</a> inside <code class="lang-css">li</code>s, they usually make the outline look icky.</p>
				</li>
			</ol>			
		</section>
		<section id="description-lists">
			<h1 class="h-delta">Description Lists</h1>
			<dl class="typo-list">
				<dt>This is an association list (<code class="lang-css">dl</code>), without any classes added.</dt>
				<dd>An association list contains 0 or more name-value groups. The order of the name-value groups is <b class="keyword">irrelevant</b>.</dd>
				<dt>A single name-value group consists of 1 or more names (<code class="lang-css">dt</code>) and 1 or more values (<code class="lang-css">dd</code>).</dt>
				<dd>If there are multiple <code class="lang-css">dt</code>s in a particular group, the order of <code class="lang-css">dt</code>s is <b class="keyword">irrelevant</b>.</dd>
				<dd>If there are multiple <code class="lang-css">dd</code>s in a particular group, the order of <code class="lang-css">dd</code>s is also <b class="keyword">irrelevant</b>.</dd>
			</dl>
			<dl class="typo-list">
				<dt>An association list can be thought of as a mathematical relation that is:</dt>
				<dd><dfn>defined</dfn>: each name is related to at least one value, and</dd>
				<dd><dfn>surjective</dfn>: each value is related to at least one name.</dd>
				<dt>An association list may not necessarily be:</dt>
				<dd><dfn>well-defined</dfn>: it is not necessarily true that each name is related to exactly one value, or</dd>
				<dd><dfn>injective</dfn>: it is not necessarily true that each value is related to exactly one name.</dd>
			</dl>
			<dl class="typo-list">
				<dt>If a name-value group</dt>
				<dt>contains more than one name per value,</dt>
				<dd>these names are <em>alternative</em> in that either one, or possibly both, may be accepted.</dd>
				<dt>The same is true if</dt>
				<dd>a name-value group</dd>
				<dd>contains more than one value per name.</dd>
				<dt>
					<ul>
						<li>If authors want <em>all</em> names</li>
						<li>to apply to a value</li>
						<li>in one name-value group,</li>
					</ul>
				</dt>
				<dd>they should use a single <code class="lang-css">dt</code> containing only a single <code class="lang-css">ul</code>. The <code class="lang-css">dt > ul:only-child</code> automatically extends <code class="lang-css">.list-basic</code>.</dd>
				<dt>The same is true for multiple values:</dt>
				<dd>
					<ul>
						<li>If authors want <em>all</em> values</li>
						<li>to apply to a name,</li>
						<li>contain only a single <code class="lang-css">ul</code> in a single <code class="lang-css">dd</code>. <code class="lang-css">dd > ul:only-child</code> automatically extends <code class="lang-css">.list-basic</code>.</li>
					</ul>
				</dd>
			</dl>
			<dl class="list-line typo-list">
				<dt>A <code class="lang-css">dl.list-line</code></dt>
				<dt>groups <code class="lang-css">dt</code>s together</dt>
				<dt>and <code class="lang-css">dd</code>s together</dt>
				<dd>on the same line.</dd>
				<dt>This separates</dt>
				<dd>name-value groups,</dd>
				<dd>while keeping multiple</dd>
				<dd>names together and values together.</dd>
			</dl>
			<dl class="dltable40 typo-list">
				<dt>If you want to display</dt>
				<dd>each name-value group in one line,</dd>
				<dd>include the <code class="lang-css">.dltable(@dtwidth)</code> mixin in your LESS,</dd>
				<dd> where <code class="lang-css">@dtwidth</code> is the width, in percent, you specify for each <code class="lang-css">dt</code>.</dd>
				<dt>If a name-value group contains 1 name and</dt>
				<dd>1 value, the line will hold the entire group.</dd>
				<dt>Multiple names</dt>
				<dt>per group</dt>
				<dt>are allowed,</dt>
				<dd>but they are on separate lines.</dd>
				<dt>Multiple values</dt>
				<dd>are allowed as well,</dd>
				<dd>but each is on its own line as well.</dd>
			</dl>
			<p class="caption">The association list above is in particular a <code class="lang-css">dl.dltable40</code>, which in the stylesheet includes <code class="lang-css">.dltable(40%)</code>.</p>
		</section>
	</section>
	<section id="scheme-table">
		<h1 class="h-gamma">Table Scheme</h1>
		<p class="prose draft">The table was originally intended to mark up tabular data. That's obvious right? Well, the fact that tables provide a natural grid system was too tempting for early designers to ignore. They used tables to organize content and display it in a non-linear manner, which was a great way to override the normal flow of a page. Early tables would serve as an excellent tool to form the layout of a page.</p>
		<p class="prose draft">With the recent development of CSS and styles, the use of tables to form layout became considered outdated and, in some cases, amateur. It is recommended to use <code class="lang-css">div</code>s and styles for layout strategies. I urge designers to remember the original purpose of tables, which is to display hard data in a row-and-column format.</p>
		<table>
			<caption><span class="lede">Table 12.</span> A table's <code class="lang-css">caption</code> describes the contents of the table in more detail. It may also include the title of the table in a <code class="lang-css">span.lede</code>. Captions should not contain any <code class="lang-css">p</code>s, and they should not be styled in prose.</caption>
			<thead>
				<tr>
					<th>Header Row 1 Heading 1</th>
					<th>Header Row 1 Heading 2</th>
					<th>Header Row 1 Heading 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Body Row 1 Cell 1</td>
					<td>Body Row 1 Cell 2</td>
					<td>Body Row 1 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 2 Cell 1</td>
					<td>Body Row 2 Cell 2</td>
					<td>Body Row 2 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 3 Cell 1</td>
					<td>Body Row 3 Cell 2</td>
					<td>Body Row 3 Cell 3</td>
				</tr>
			</tbody>
		</table>
		<p class="prose">Below is a list-style table (<code class="lang-css">.table-list</code>). List-style tables are best for displaying information that correlates across rows.</p>
		<p class="prose">In a list-style table, a table header would be a row or row-group (<code class="lang-css">thead</code>) of cells. If a table header is present, its cells may be <code class="lang-css">th</code> cells or <code class="lang-css">td</code> cells. The <code class="lang-css">th</code> cells, if present, should have the <code class="lang-html">scope=&quot;col&quot;</code> or <code class="lang-html">scope=&quot;colgroup&quot;</code> attribute. For thoroughness, these headings may be targeted by all the cells in their scoped columns, via the <code class="lang-html">headers=&quot;&quot;</code> attribute. The body of the table data must be contained in one or more <code class="lang-css">tbody</code> elements. There may be an optional <code class="lang-css">tfoot</code> element.</p>
		<p class="prose">An example of a list-style table might be a list of student information including names, ages, genders, and ID numbers.</p>
		<table class="table-list">
			<thead>
				<tr>
					<th>Header Row 1 Heading 1</th>
					<th>Header Row 1 Heading 2</th>
					<th>Header Row 1 Heading 3</th>
				</tr>
				<tr>
					<td>Header Row 1 Cell 1</td>
					<td>Header Row 1 Cell 2</td>
					<td>Header Row 1 Cell 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Body Row 1 Cell 1</td>
					<td>Body Row 1 Cell 2</td>
					<td>Body Row 1 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 2 Cell 1</td>
					<td>Body Row 2 Cell 2</td>
					<td>Body Row 2 Cell 3</td>
				</tr>
				<tr>
					<td>Body Row 3 Cell 1</td>
					<td>Body Row 3 Cell 2</td>
					<td>Body Row 3 Cell 3</td>
				</tr>
			</tbody>
		</table>
		<p class="prose">Below is a bar-style-table (<code class="lang-css">.table-bars</code>). Bar-style tables are best for displaying information that correlates down columns.</p>
		<p class="prose">In a bar-style table, a table header would be a column or column group of cells (for which there is no corresponding HTML element). Table heading cells (<code class="lang-css">th</code> cells), if present, should have the <code class="lang-html">scope=&quot;row&quot;</code> or <code class="lang-html">scope=&quot;rowgroup&quot;</code> attribute. For thoroughness, these headings may be targeted by all the cells in their scoped rows, via the <code class="lang-html">headers=&quot;&quot;</code> attribute. The body of the table data must be contained in one or more <code class="lang-css">tbody</code> elements.</p>
		<p class="prose">An example of a bar-style table might be a spreadsheet displaying the position, velocity, and acceleration values of a falling object across time.</p>
		<table class="table-bars">
			<tbody>
				<tr>
					<th>Row 1 Cell 1</th>
					<td>Row 1 Cell 2</td>
					<td>Row 1 Cell 3</td>
					<td>Row 1 Cell 4</td>
					<td>Row 1 Cell 5</td>
				</tr>
				<tr>
					<th>Row 2 Cell 1</th>
					<td>Row 2 Cell 2</td>
					<td>Row 2 Cell 3</td>
					<td>Row 2 Cell 4</td>
					<td>Row 2 Cell 5</td>
				</tr>
				<tr>
					<th>Row 3 Cell 1</th>
					<td>Row 3 Cell 2</td>
					<td>Row 3 Cell 3</td>
					<td>Row 3 Cell 4</td>
					<td>Row 3 Cell 5</td>
				</tr>
			</tbody>
		</table>
		<table class="table-bars">
			<thead>
				<tr>
					<th>T</th>
					<th>A</th>
					<th>V</th>
					<th>X</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>11</th>
					<td>12</td>
					<td>13</td>
					<td>14</td>
				</tr>
				<tr>
					<th>21</th>
					<td>22</td>
					<td>23</td>
					<td>24</td>
				</tr>
				<tr>
					<th>31</th>
					<td>32</td>
					<td>33</td>
					<td>34</td>
				</tr>
			</tbody>
		</table>
		<div hidden="">
			<p class="prose">Below is a grid-style table (). Grid-style tables are best for displaying information that either correlates across rows, down columns, or tabular data that correlates among both rows and columns.</p>
			<p class="prose">In a grid-style table, a table header could be a row or row group of cells, or a column or column group of cells. If table header(s) are present, their cells may be normal cells or heading cells (headings). The headings, if present, can have a scope of either <code class="lang-html">scope=&quot;row&quot;</code> or <code class="lang-html">scope=&quot;col&quot;</code>. Similarly, these headings can be targeted by any cells.</p>
			<p>An example of a grid-style table might be...</p>
			<table class="table-grid">
				<tbody>
					<tr><td>Row 1 Cell 1</td><td>Row 1 Cell 2</td><td>Row 1 Cell 3</td><td>Row 1 Cell 4</td><td>Row 1 Cell 5</td></tr>
					<tr><td>Row 2 Cell 1</td><td>Row 2 Cell 2</td><td>Row 2 Cell 3</td><td>Row 2 Cell 4</td><td>Row 2 Cell 5</td></tr>
					<tr><td>Row 3 Cell 1</td><td>Row 3 Cell 2</td><td>Row 3 Cell 3</td><td>Row 3 Cell 4</td><td>Row 3 Cell 5</td></tr>
					<tr><td>Row 4 Cell 1</td><td>Row 4 Cell 2</td><td>Row 4 Cell 3</td><td>Row 4 Cell 4</td><td>Row 4 Cell 5</td></tr>
					<tr><td>Row 5 Cell 1</td><td>Row 5 Cell 2</td><td>Row 5 Cell 3</td><td>Row 5 Cell 4</td><td>Row 5 Cell 5</td></tr>
				</tbody>
			</table>
		</div>
	</section>
</section>
<section id="text-level">
	<h1 class="h-beta">Text-Level Elements</h1>
	<p class="prose draft">......</p>
	<section id="scheme-highlight">
		<dl hidden="">
			<dt>italics / oblique</dt>
			<dd>easier to read; script glyphs for serif fonts; stands out from normal text, but just barely; the slant causes the reader's eyes to move faster</dd>
			<dt>bold</dt>
			<dd>harder to read; heaviness causes reader's eyes to slow down; heavily stands out from normal text</dd>
			<dt>capitalization</dt>
			<dd>heavily stands out; sounds 'loud'</dd>
			<dt>text size</dt>
			<dd>changes the line height</dd>
			<dt>font face</dt>
			<dd>not much difference when keeping serif/sans-serif, but slightly more difference when changing</dd>
			<dt>foreground color</dt>
			<dd>warmer colors used for harsher meaning, cooler colors for more casual. e.g.: red (danger), orange (caution), yellow (warning), green (okay), blue (attraction)</dd>
			<dt>background color</dt>
			<dd>highlight</dd>
		</dl>
		<h1 class="h-gamma">Highlighted Text Scheme</h1>
		<section id="emph">
			<h1 class="h-delta">Emphasis</h1>
			<code class="lang-css">em</code>
			<em>emphasized text (stress in tone of voice)</em>
			<p class="draft">represent words or phrases that are stressed, as if the tone of voice would be affected. More importantly, <strong>the placement of stress should affect the meaning of the passage</strong>. If the emphasis were to be removed or relocated, the passage's meaning should change.</p>
			
			<code class="lang-css">em > em</code>
			<em><em>further emphasis</em></em>
			<p class="draft">adds a level of emphasis</p>
		</section>
		<section id="impt">
			<h1 class="h-delta">Importance</h1>
			<code class="lang-css">strong</code>
			<strong>important text</strong>
			<p class="draft">represent text that has a level of importance. Important text does not necessarily affect tone of voice (although it may), but rather upsets the normal prose by causing the reader to examine the text more carefully. The placement of importance should not affect the meaning of the passage.</p>
		</section>
		<section id="rlvn">
			<h1 class="h-delta">Relevance</h1>
			<code class="lang-css">mark</code>
			<mark>relevant text</mark>
			<p class="draft">represent phrases that are relevant to a particular subject in a different context. <span class="draft">In an article about black holes, for example, the author may want to mark up anything that has to do with the <b>Law of Conservation of Information</b> in one way, and mark up any phrases involving <b>String Theory</b> in another way (using classes, the reviewer could style different contexts accordingly). <code class="lang-css">mark</code> is ideal because these two subjects are not directly related to the article's main topic. Readers will be drawn to the corresponding subjects more efficiently.</span></p>
		</section>
		<section id="mood">
			<h1 class="h-delta">Altered Tone of Voice</h1>
			<code class="lang-css">i.scare</code>
			<i class="scare">scare quotes</i>
			<p class="draft">abuse of vocabulary or language, double entendres, metaphors, analogies, onomatopoeias, <i lang="la">etc.</i> <a class="sp" href="http://en.wikipedia.org/wiki/Scare_quotes">Scare quotes</a> contain abuse of vocabulary or language, double entendres, metaphors, analogies, onomatopoeias, etc.</p>
			
			<code class="lang-css">i.mention</code>
			<i class="mention">mention a word/phrase</i>
			<p>A mention refers to an explicit word or phrase without conveying meaning to the sentence. If the word or phrase could be replaced with nonsense and the sentence would still be syntactically correct, then you can use <code class="lang-css">i.mention</code>. However, if the word or phrase is integral to the meaning of the sentence, then <a class="sp" href="http://en.wikipedia.org/wiki/Use%E2%80%93mention_distinction">it is not being <em>mentioned</em>, but rather <em>used</em></a>.</p>
			
			<code class="lang-css">i.thought</code>
			<i class="thought">silent thought</i>
			<p class="draft">represents an altered voice in the form of a thought</p>
			
			<code class="lang-css">i[lang="it"]</code>
			<i lang="it">foreign language</i>
			<p class="draft">can be used to mark up phrases in foreign languages, such as the taxonomic classification (in Latin) of an organism.</p>
		</section>
		<section id="kywd">
			<h1 class="h-delta">Keywords</h1>
			<code class="lang-css">b.keyword</code>
			<b class="keyword">keywords or technical terms</b>
			<p class="draft">represent text that indicates specific terms, key words, technical terms or vocabulary words</p>
			
			<code class="lang-css">b.proper</code>
			<b class="proper">proper noun traditionally italicized</b>
			<p class="draft">traditionally italicized proper nouns such as ship names, periodical titles, etc.</p>
			
			<code class="lang-css">b.ref</code>
			<b class="ref">reference</b>
			<p class="draft">reference to the name or title of a <a href="#scheme-heading">heading</a>, section, <a href="#scheme-figure">figure</a>, or <a href="#scheme-table">table</a> (or column in a table), when <a>hyperlinks</a> or <a>citations</a> are not ideal.</p>
		</section>
	</section>
	<section id="scheme-doc">
		<h1 class="h-gamma">Documentation Scheme</h1>
		<section>
			<code class="lang-css">q</code>
			<q>something</q>
			<p class="draft">directly quoting small material,  etc.</p>
		</section>
		<section>
			<code class="lang-css">cite</code>
			<cite>something</cite>
			<p class="draft">citing copyrighted material, titles of published works, etc.</p>
		</section>
		<section>
			<code class="lang-css">ins</code>
			<ins>text inserted into a document</ins>
			<ins datetime="1970-01-01">inserted text with a <code class="lang-html">datetime</code></ins>
			<p class="draft">something</p>
		</section>
		<section>
			<code class="lang-css">del</code>
			<del>text deleted from a document</del>
			<del datetime="1970-01-01">deleted text with a <code class="lang-html">datetime</code></del>
			<p class="draft">something</p>
		</section>
		<section>
			<code class="lang-css">abbr[title]</code>
			<abbr title="expanded">abbreviated text with a <code class="lang-html">title</code> attribute</abbr>
			<p class="draft">something</p>
		</section>
		<section>
			<code class="lang-css">dfn</code>
			<dfn>definining instance of a term</dfn>
			<p class="draft">something</p>
		</section>
	</section>
	<section id="scheme-links">
		<h1 class="h-gamma">Hyperlink Scheme</h1>

		<p><a>This is an <code class="lang-css">a</code>.</a></p>
		<p><a class="sp">This is an <code class="lang-css">a.sp</code>.</a></p>
		<p><a href="">This is an <code class="lang-css">a[href]</code>.</a></p>
		<p><a class="sp" href="">This is an <code class="lang-css">a.sp[href]</code>.</a></p>

		<a class="a-block">This is an <code class="lang-css">a.a-block</code>.</a>
		<a class="a-block sp">This is an <code class="lang-css">a.a-block.sp</code>.</a>
		<a class="a-block" href="">This is an <code class="lang-css">a.a-block[href]</code>.</a>
		<a class="a-block sp" href="">This is an <code class="lang-css">a.a-block.sp[href]</code>.</a>
	</section>
	<section id="scheme-code">
		<h1 class="h-gamma">Code and Math Scheme</h1>
		<pre class="draft">
there are many different "coding" (for lack of better term) elements.
To start off with the easiest, the `code` element represents a span or string of text that a computer program would recognize. For example, it could be an element or class name, an object, function, or property name, a declaration, or even a whole block of code. Anything that is recognizable by a program.

The `pre` element represents preformatted text. I put this element under the <b>coding</b> category because it's really only used for code, but was meant for marking up that the meaning of the contents is conveyed through its typographical presentation. For example, indents in an email may convey quote levels, the presentation and organization of the text in a poem might have been meant for preserving, and ASC-II art.

Blocks of code are meant to preserve their formatting and that in some languages if the formatting changes, the program changes. A `code` element nested in a `pre` element represents a block of code.

Then there is the `kbd` element. It *per se* represents user input. This could be in the form of typing, choosing a menu item, or even speaking. Any kind of information the user is expected to, or could possibly do, give to the interface should be marked down with `kbd`.

Sometimes, user input calls for specific actions. For example, the interface might direct the user to calculate the sum of 5 and 6. If the interface told the user explicitly which buttons to press, these would each be marked down with a `kbd` element within a `kbd` element. The outer `kbd` element represents the user input, the action of adding 5 and 6. But then there would be three nested `kbd` elements, each corresponding to a key (one for the 5, one for the plus, and one for the 6).

Lastly, the `samp` element represents sample output from a computer. These elements are mainly used for demonstrations, for example if a block of code is presented, then the sample rendering is presented alongside the code to show the reader the relationship.
		</pre>
	</section>
	<section id="scheme-labels">
		<h1 class="h-gamma">Label Scheme</h1>
		<p><span class="warning">This is a warning label.</span> Use it to indicate a consequence such as an action that cannot be undone.</p>
		<p><span class="caution">This is a caution label.</span> Use it to indicate that the user must proceed with care.</p>
		<p><span class="success">This is a success label.</span> Use it to indcate that something was done right.</p>
		<p><span class="info">This is a info label.</span> Use it to indicate extra information about an element.</p>
		<p><span class="help">This is a help label.</span> Use it to indicate tips and hints for the user.</p>
		<p class="draft"><span class="cyan">This is a cyan label.</span> Use it to indicate ???</p>
	</section>
	<section id="scheme-quotemark" class="draft">
		<h1 class="h-gamma">Quotation Mark Scheme</h1>
		<table class="table-list">
			<thead>
				<tr>
					<th>Method</th>
					<th>Input</th>
					<th>Example Input</th>
					<th>Example Rendering</th>
					<th>Uses</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>the apostrophe character</th>
					<td><code><kbd>'</kbd></code><br/>(<kbd><kbd>'</kbd></kbd>)</td>
					<td>
						<div class="example"><code class="lang-html">&lt;p&gt;She<mark>&apos;</mark>s ready and he<mark>&apos;</mark>s happy.&lt;/p&gt;</code></div>
						<div class="example"><code class="lang-html">&lt;p style=&quot;<code class="lang-css">font-family: <mark>&apos;</mark>Times New Roman<mark>&apos;</mark>;</code>&quot;&gt;style&lt;/p&gt;</code></div>
						<div class="example"><code class="lang-html">&lt;p onclick=&quot;<code class="lang-js">alert(<mark>&apos;</mark>Hello, world.<mark>&apos;</mark>);</code>&quot;&gt;script&lt;/p&gt;</code></div>
					</td>
					<td>
						<samp class="demo"><p>She's ready and he's happy.</p></samp>
						<samp class="demo"><p style="font-family: 'Times New Roman';">style</p></samp>
						<samp class="demo"><p onclick="alert('Hello, world.');">script</p></samp>
					</td>
					<td>word contractions (in HTML text only), nested quotes, strings</td>
				</tr>
				<tr>
					<th>the apostrophe entity</th>
					<td><code><kbd>&amp;apos;</kbd></code></td>
					<td>
						<div class="example"><code class="lang-html">&lt;p&gt;To get a serif font, you should declare &lt;code&gt;font-family: <mark>&amp;apos;</mark>Times New Roman<mark>&amp;apos;</mark>;&lt;/code&gt; in your selector.&lt;/p&gt;</code></div>
						<div class="example"><code class="lang-html">&lt;p&gt;To get a pop-up, call &lt;code&gt;alert(<mark>&amp;apos;</mark>Hello, world.<mark>&amp;apos;</mark>);&lt;/code&gt; in the event.&lt;/p&gt;</code></div>
					</td>
					<td>
						<samp class="demo"><p>To get a serif font, you should declare <code>font-family: &apos;Times New Roman&apos;;</code> in your selector.</p></samp>
						<samp class="demo"><p>To get a pop-up, call <code>alert(&apos;Hello, world.&apos;);</code> in the event.</p></samp>
					</td>
					<td>escaping the apostrophe character / demonstrating when to use it</td>
				</tr>
				<tr>
					<th>the quotation mark character</th>
					<td><code><kbd>"</kbd></code><br/>(<kbd><kbd>shift</kbd> + <kbd>'</kbd></kbd>)</td>
					<td>
						<div class="example"><code class="lang-html">&lt;p style=<mark>&quot;</mark><code class="lang-css">font-family: &apos;Times New Roman&apos;;</code><mark>&quot;</mark>&gt;style&lt;/p&gt;</code></div>
						<div class="example"><code class="lang-html">&lt;p onclick=<mark>&quot;</mark><code class="lang-js">alert(&apos;Hello, world.&apos;);</code><mark>&quot;</mark>&gt;script&lt;/p&gt;</code></div>
					</td>
					<td>
						<samp class="demo"><p style="font-family: 'Times New Roman';">style</p></samp>
						<samp class="demo"><p onclick="alert('Hello, world.');">script</p></samp>
					</td>
					<td>strings of code, attribute values</td>
				</tr>
				<tr>
					<th>the quotation mark entity</th>
					<td><code><kbd>&amp;quot;</kbd></code></td>
					<td>
						<div class="example"><code class="lang-html">&lt;p&gt;You can make the color red with the attribute &lt;code&gt;style=<mark>&amp;quot;</mark>color: red;<mark>&amp;quot;</mark>&lt;/code&gt; on any element.&lt;/p&gt;</code></div>
					</td>
					<td>
						<samp class="demo"><p>You can make the color red with the attribute <code>style=&quot;color: red;&quot;</code> on any element.</p></samp>
					</td>
					<td>escaping the quotation mark character / demonstrating when to use it</td>
				</tr>
				<tr>
					<th>the left and right single-quote characters</th>
					<td><kbd><kbd>option</kbd> + <kbd>]</kbd></kbd> and <kbd><kbd>shift</kbd> + <kbd>option</kbd> + <kbd>]</kbd></kbd> on Mac (only for non-plaintext files)</td>
					<td></td>
					<td></td>
					<td>fancy punctuation in word processing; not for coding</td>
				</tr>
				<tr>
					<th>the left and right single-quote entities</th>
					<td><code class="lang-html"><kbd>&amp;lsquo;</kbd>&hellip;<kbd>&amp;rsquo;</kbd></code></td>
					<td></td>
					<td></td>
					<td>escaping the left/right single-quote characters, for whatever reason</td>
				</tr>
				<tr>
					<th>the left and right double-quote characters</th>
					<td><kbd><kbd>option</kbd> + <kbd>[</kbd></kbd> and <kbd><kbd>shift</kbd> + <kbd>option</kbd> + <kbd>[</kbd></kbd> on Mac (only for non-plaintext files)</td>
					<td></td>
					<td></td>
					<td>fancy punctuation in word processing; not for coding</td>
				</tr>
				<tr>
					<th>the left and right double-quote entities</th>
					<td><code class="lang-html"><kbd>&amp;ldquo;</kbd>&hellip;<kbd>&amp;rdquo;</kbd></code></td>
					<td></td>
					<td></td>
					<td>escaping the left/right double-quote characters, for whatever reason</td>
				</tr>
			</tbody>
		</table>
	
	</section>
</section>
<section id="forms" class="draft">
	<h1 class="h-beta">Form Elements</h1>
	<p class="prose">......</p>
</section>
</div>
</body>
</html>
