/* CSS Document */

/* remove comment after final product is published to website
@import url('../../images/Webs.css');*/

body {
	font-familiy: serif;
	background-color: #2A0080;
	color: #E6E6E6;
	margin: 5%;
}
cite.worktitle {
	font-style: italic;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Times New Roman',serif;
	letter-spacing: 2px;
}
p {
	font-family: 'Perpetua',serif;
	font-size: larger;
}
a:link,
a:visited {
	color: #E6E600;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	border: 3px inset #E6E600;
}

mark.rel_math {
	/* styles 'mark' elements that are relavent to mathematics */
	/* temporary style; will pick a better one later */
	background-color: #FFFF00;
	color: #191919;
	font-weight: bold;
}