/*################################*\
    landing.less
\*################################*/
nav {
  position: relative;
}
h1 {
  padding: 0;
  margin: 0;
  font-variant: normal;
  font-weight: 400;
  color: inherit;
}
.c-Spiral {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media print {
  .c-Spiral {
    width: 100%;
    position: static;
  }
}
.c-Square {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #UI COMPONENT VARIABLES
    \*+++++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  -webkit-transition-property: background-color, opacity;
  -moz-transition-property: background-color, opacity;
  -ms-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  display: block;
  box-sizing: content-box;
  height: 3em;
  padding: 1px;
  background-color: #c3daff;
  overflow: hidden;
  opacity: 1 !important;
  color: transparent;
}
.c-Square:hover {
  background-color: #ffe8c3;
  text-decoration: none;
}
@media print {
  .c-Square {
    position: static;
    height: 4em;
    background-image: none;
    color: #0062ff;
  }
}
.c-Square--dev {
  width: 100%;
}
.c-Square--dev:not(:hover) {
  opacity: 0 !important;
}
.c-Square__Text {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #UI COMPONENT VARIABLES
    \*+++++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  -webkit-transition-property: box-shadow, text-shadow, color, background-color;
  -moz-transition-property: box-shadow, text-shadow, color, background-color;
  -ms-transition-property: box-shadow, text-shadow, color, background-color;
  -o-transition-property: box-shadow, text-shadow, color, background-color;
  transition-property: box-shadow, text-shadow, color, background-color;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  display: block;
  position: relative;
  top: 0.5em;
  font-weight: 700;
  font-family: 'Optima', 'Seravek', 'Tahoma', sans-serif;
  line-height: 1;
  text-align: center;
  border-radius: 0;
  text-shadow: 2px 2px 10px;
}
.c-Square:hover > .c-Square__Text {
  box-shadow: 0px 0px 20px 20px rgba(242, 247, 255, 0.4);
  background-color: rgba(242, 247, 255, 0.4);
}
.c-Square--dev > .c-Square__Text {
  font-family: 'Courier', 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
.js-square--right::before,
.js-square--top::before,
.js-square--left::before,
.js-square--bottom::before {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #UI COMPONENT VARIABLES
    \*+++++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('circle.svg');
  background-size: 200%;
}
.js-square--right::before {
  background-position: 100%   0%;
}
.js-square--top::before {
  background-position: 0%   0%;
}
.js-square--left::before {
  background-position: 0% 100%;
}
.js-square--bottom::before {
  background-position: 100% 100%;
}
.js-square--funnel::before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.js-bubbles circle {
  stroke-width: 2px;
}
.js-bubbles text {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #UI COMPONENT VARIABLES
    \*+++++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  text-anchor: middle;
  font-family: 'Optima', 'Seravek', 'Tahoma', sans-serif;
}
.js-bubbles.dark {
  background-color: #002b36;
}
.js-bubbles.dark circle {
  stroke: #93a1a1;
}
.js-bubbles.dark text {
  fill: #eee8d5;
}
.js-bubbles.lite {
  background-color: #fdf6e3;
}
.js-bubbles.lite circle {
  stroke: #586e75;
}
.js-bubbles.lite text {
  fill: #073642;
}
.js-main-links text {
  font-size: 30px;
}
.js-side-links text {
  font-size: 20px;
}
.js-mth circle {
  fill: #cb4b16;
}
.js-web circle {
  fill: #859900;
}
.js-edu circle {
  fill: #d33682;
}
.js-mus circle {
  fill: #b58900;
}
.js-swm circle {
  fill: #268bd2;
}
.js-abt circle {
  fill: #2aa198;
}
.js-res circle {
  fill: #6c71c4;
}
.js-cpr circle {
  fill: #dc322f;
}
.center circle {
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 1,4;
}
