@import url('../home.less');

/* @group CSS for -ePortfolio- */
.hub-body summary.h {margin: 0.25em auto;}// a quick & dirty fix for my home page drop-downs
.folio {
	padding-bottom: .5em;
	border-bottom: 1px dashed;
	margin-bottom: .75em;
	
	border-bottom-color: #cc0000;
}
//.img-folio {
//	width: 100%;
//	height: auto;
//	padding: 5px;
//	border-radius: 15px;
//	
//	position: relative;
//	left: -5px;compensate for padding-left
//	
//	background-color: #fafcff;
//	box-shadow: 0 0 10px 10px #fafcff;
//}
.h-folio {
	font-weight: normal;
	font-variant: normal;
	font-size: 3em;
	font-family: 'Zapfino',script;
	white-space: nowrap;
	overflow: hidden;
}
.h-folio .cap {
	font-size: 2em;
	font-family: 'Snell Roundhand','Zapfino',script;
	text-transform: uppercase;
}
.prose-folio {margin-bottom: 0;}
/* @end */