
/*################################*\
    resume  |  _base.less
\*################################*/


body {
  @media screen {
    font-family: @g-font_family_prose;
  }
  @media print {
    width: 8in;
    font-family: 'Marion','Times','Times New Roman',serif;
  }
}

ul {
  padding-left: 0.25in; // override xmeter base
}
a {
  @media print {
    text-decoration: none;
  }
}
i[lang] {
  font-family: unset; // unset still-alive 'Didot'
}
cite {
  font-style: unset; // unset xmeter base
}

[hidden] {
  display: none !important; // address some Objects with `display` set
}
