
/*################################*\
    resume  |  _c-ExpHn.less
\*################################*/


.c-ExpHn {
  .font-size-el(@g-font-size-kilo);
  font-weight: 700;
  font-family: @g-font_family_base;
  @media screen and (min-width: 45em) {
    text-align: right; // HACK fallback
    text-align: end;
  }
  @media print {
    font-variant: small-caps;
  }
}
