
/*################################*\
    resume  |  _c-SkillViz.less
\*################################*/
@import (reference) url('../../../node_modules/still-alive/css/src/__settings.less');


// A vizual component indicating the proficiency of a language/system.
//
// Subcomponents:
// `__Marker`      - a marker indicating possibility for success
// `__Marker--pos` - a positive marker indicating success
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-08-10
/*svg*/.c-SkillViz {
  display: block;
  height: var(--vru);
  @media print {
    display: none;
  }
}

/*circle*/.c-SkillViz__Marker {
  fill: @g-color-portal-graylite;
}
.c-SkillViz__Marker--true {
  fill: darken(@g-color-portal-neurotoxin, 20%);
}


::-webkit-meter-bar,
::-webkit-meter-optimum-value,
::-webkit-meter-suboptimum-value,
::-webkit-meter-even-less-good-value {
  background: linear-gradient(var(--med), var(--lite) 20%, var(--dark) 45%, var(--dark) 55%, var(--med));
}

// browser-default background colors
// ::-webkit-meter-bar                  { --dark: #ccc; --med: #ddd; --lite: #eee; }
// ::-webkit-meter-optimum-value        { --dark: #7a3; --med: #ad7; --lite: #cea; }
// ::-webkit-meter-suboptimum-value     { --dark: #db3; --med: #fe7; --lite: #ffc; }
// ::-webkit-meter-even-less-good-value { --dark: #d44; --med: #f77; --lite: #fcc; }
// ::-webkit-meter-bar                  { background: linear-gradient(#ddd, #eee 20%, #ccc 45%, #ccc 55%, #ddd); }
// ::-webkit-meter-optimum-value        { background: linear-gradient(#ad7, #cea 20%, #7a3 45%, #7a3 55%, #ad7); }
// ::-webkit-meter-suboptimum-value     { background: linear-gradient(#fe7, #ffc 20%, #db3 45%, #db3 55%, #fe7); }
// ::-webkit-meter-even-less-good-value { background: linear-gradient(#f77, #fcc 20%, #d44 45%, #d44 55%, #f77); }

::-webkit-meter-bar {
  --med:          lighten(@g-color-portal-graylite, 10%);
  --dark:  darken(lighten(@g-color-portal-graylite, 10%), 6.667%);
  --lite: lighten(lighten(@g-color-portal-graylite, 10%), 6.667%);
}
::-webkit-meter-optimum-value,
::-webkit-meter-suboptimum-value,
::-webkit-meter-even-less-good-value {
  --med:          @g-color-portal-facilityabyss;
  --dark:  darken(@g-color-portal-facilityabyss, 6.667%);
  --lite: lighten(@g-color-portal-facilityabyss, 6.667%);
  opacity: var(--fadein, 1);
}
