
/*################################*\
    resume  |  _comp.typo.H.less
\*################################*/


.c-H1 {
  font: inherit;
  font-weight: 700;
  line-height: inherit;
  @media screen {
    font-family: @g-font_family_base;
  }
  @media print {
    .font-size-el(1.25);
  }
}

.c-H1 {
  text-align: inherit;
  transition: none 0;
  @media screen {
    font-variant: small-caps;
    font-weight: 900;
    .font-size-el(@g-font_size_mega; 2);
  }
  @media screen and (min-width: 516px) and (max-width: 44.999em), screen and (min-width: 867px) {
    .font-size-el(@g-font_size_giga; 2);
  }
  @media screen and (min-width: 1157px) and (max-width: 74.999em), screen and (min-width: 1241px) {
    .font-size-el(@g-font_size_tera; 2);
  }
  @media print {
    text-transform: uppercase;
  }
}

.c-ExpHn {
  .font-size-el(@g-font-size-kilo);
  font-weight: 700;
  font-family: @g-font_family_base;
  @media screen and (min-width: 45em) {
    text-align: right; // HACK fallback
    text-align: end;
  }
  @media print {
    font-variant: small-caps;
  }
}
