
/*################################*\
    resume  |  _comp.typo.H.less
\*################################*/


.c-ResHn {
  font-family: @g-font_family_base;
  font-weight: 900;
  font-variant: small-caps;
  text-align: inherit;
  font-size: (100vw / 16);
  line-height: inherit; // so fluid with viewport
  text-align: center;
  @media screen and (min-width: 45em) {
    font-size: (100vw / 24);
  }
  @media print {
    text-transform: uppercase;
  }
}

.c-ExpHn {
  .font-size-el(@g-font-size-kilo);
  font-weight: 700;
  font-family: @g-font_family_base;
  @media screen and (min-width: 45em) {
    text-align: right; // HACK fallback
    text-align: end;
  }
  @media print {
    font-variant: small-caps;
  }
}
