
/*################################*\
    resume  |  _comp.ui.LangViz.less
\*################################*/


// A vizual component indicating the proficiency of a language/system.
//
// Subcomponents:
// `__Marker`      - a marker indicating possibility for success
// `__Marker--pos` - a positive marker indicating success
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-08-06
/*svg*/.c-LangViz {
}

.c-LangViz__Marker {
  fill: @g-color_portal_graylite;
}
.c-LangViz__Marker--pos {
  fill: darken(@g-color_portal_neurotoxin, 20%);
  #skills-tech &,
  #skills-apps & {
    fill: darken(@g-color_portal_bridges, 40%);
  }
}
