
/*################################*\
    resume  |  _hack.less
\*################################*/


///////////////////////////////////////////////////////////////////////////////
// style hacks. it’s okay to use shitty selectors and `!important` here.
///////////////////////////////////////////////////////////////////////////////


// #athletic > .o-ListAchv {
//   &:extend(.h-Hr);
// }

.o-ListAchv .o-ListAchv,
#skills-apps
{
  display: none;
}

@media print {
  main > footer
  {
    display: none;
  }
}

// HACK TODO create a component for these
dd[data-instanceof="Skill.Level"] .c-Label {
  display: block; // unnecessary becaue position:absolute from .h-Hidden
  line-height: inherit;
  width: calc(14/4 ~'* var(--vru)'); // from _dev.less:.o-Grid--skill
  font-weight: bold;
  text-align: center;
}
dd[data-instanceof="Skill.Level"]:hover .c-Label {
  left: unset; // override .h-Hidden
}
