
/*################################*\
    resume  |  _obj.ListAchv.less
\*################################*/


// A list of achievements such as awards or memberships.
.o-ListAchv {
  @media print {
    margin-top: -@g-vru;
  }
}

// An award in a list of achievements.
.o-ListAchv__Award {
  @media print {
    margin-left: @l-datewidth;
  }
}

// A date for an award/achievement.
.o-ListAchv__Date {
  @media print {
    width: @l-datewidth;
    margin-top: -@g-vru;
  }
}
