
/*################################*\
    resume  |  _obj.Skill.less
\*################################*/


// A Skill is a top-level section, e.g. Teaching Experience.
// It contains a `Skill__Title`,
// and may contain `Org` Components or `AchList` Components.
//
// ^author
// : Chris Harvey
// ^updated
// : 2016-03-25
.o-Skill {
  @media screen and (min-width: 45em) {
    border-left: 1px solid fadeout(@g-color_h_minor, 75%);
  }
}

// The title of each Skill, e.g. "Teaching Experience".
.o-Skill__Title {
  margin-bottom: @g-vru;
  @media screen and (min-width: 45em) {
    text-align: right;
  }
}
