
/*################################*\
    resume  |  _obj.ListLangs.less
\*################################*/


// List of languages/systems.
//
// __Text - A textual component of the language/system
// __Viz  - A visual component of the language/system
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-08-06
.o-ListLangs {
  columns: 2;
  column-gap: 2rem;
  column-rule: 1px solid fadeout(@g-color_h_minor, 75%);
  & > * {
    display: inline;
    line-height: 0;
    vertical-align: middle;
  }
}
// alternate style
// .o-ListLangs {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(calc(2*15/4 ~'* var(--vru)'),auto) minmax(calc(15/4 ~'* var(--vru)'),auto));
//   grid-column-gap: 2rem;
//   justify-content: space-between;
// }

.o-ListLangs__Text,
.o-ListLangs__Viz {
}
.o-ListLangs__Text {
}
.o-ListLangs__Viz {
  & > svg {
    // display: block;
    display: inline;
    vertical-align: middle;
    height: var(--vru);
    @media print {
      display: none;
    }
  }
  text-align:right;
}
