
/*################################*\
    resume  |  _obj.ListLangs.less
\*################################*/



.o-ListLangs__Text,
.o-ListLangs__Viz {
}
.o-ListLangs__Text {
}
.o-ListLangs__Viz {
  & > svg {
    display: block;
    height: var(--vru);
    @media print {
      display: none;
    }
  }
}
