
/*################################*\
    resume  |  _obj.ListLangs.less
\*################################*/


// List of languages/systems.
//
// __Text - A textual component of the language/system
// __Viz  - A visual component of the language/system
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-08-08
.o-ListLangs {
  display: grid;
  grid-template-columns: calc(14/4 ~'* var(--vru)') auto;
  grid-column-gap: 1rem;
  & > *:nth-child(1)  { order: 0; }
  & > *:nth-child(2)  { order: -1; }
  & > *:nth-child(3)  { order: 1; }
  & > *:nth-child(4)  { order: 0; }
  & > *:nth-child(5)  { order: 2; }
  & > *:nth-child(6)  { order: 1; }
  & > *:nth-child(7)  { order: 3; }
  & > *:nth-child(8)  { order: 2; }
  & > *:nth-child(9)  { order: 4; }
  & > *:nth-child(10) { order: 3; }
  & > *:nth-child(odd)  { order: calc(~'(n - 1) / 2'); }
  & > *:nth-child(even) { order: calc(~'(n - 4) / 2'); }
}

.o-ListLangs__Text,
.o-ListLangs__Viz {
}
.o-ListLangs__Text {
}
.o-ListLangs__Viz {
  & > svg {
    display: block;
    height: var(--vru);
    @media print {
      display: none;
    }
  }
}


.o-ListLangsContainer {
  @media screen and (min-width: 30rem) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows   : repeat(2, auto);
    grid-column-gap      : 2rem;
  }
}
