/*** ======== CSS RESET ======== ***/

body {
	font: normal normal normal 12pt sans-serif;
	color: #000000;
	background: transparent 0% 0% auto repeat padding-box border-box scroll none;
}
h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, li, dl, dt, dd,
pre {
	display: block;
	margin: 0;
}

ul, ol, li, dl, dt, dd {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}

em, strong, mark, i, b,
small, sup, sub,
dfn, cite, var,
code, kbd, samp {
	display: inline;
}

h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, li, dl, dt, dd,
pre,
em, strong, mark, i, b,
small, sup, sub,
dfn, cite, abbr, var,
code, kbd, samp,
a,
th {
	font: inherit;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	line-height: 1.2em;
	color: inherit;
	background-color: transparent;
}

a {cursor: pointer;}

table    {display: table; border-collapse: collapse;}
caption  {display: table-caption;}
colgroup {display: table-column-group;}
col      {display: table-column;}
thead {display: table-header-group;}
tbody {display: table-row-group;}
tfoot {display: table-footer-group;}
tr {display: table-row;}
th {display: table-cell;}
td {display: table-cell;}