.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
/*##############*\
    jslib.less
\*##############*/
main {
  width: auto;
  margin-left: 48px;
  margin-right: 48px;
}
h1 code {
  font-size: inherit;
}
.FuncTabl {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
  /**
    * This Object represent the term in a term-description pair of a `.Map`.
  @implements
  : .vru-top() only when following a `.Desc`
  @tags
  : #typography
  : #map
  @author
  : Chris Harvey
  @updated
  : 2014-10-07
    */
  /**
    * This Object represent the description in a term-description pair of a `.Map`.
  @belongsto
  : .Map
  @tags
  : #typography
  : #map
  @author
  : Chris Harvey
  @updated
  : 2014-10-05
    */
}
:not(h1):not(.H) + .FuncTabl {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.FuncTabl > .Term {
  font-weight: bold;
}
.FuncTabl > .Desc + .Term {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.FuncTabl::after {
  display: table;
  content: ' ';
  clear: both;
}
.FuncTabl > .Term,
.FuncTabl > .Desc {
  box-sizing: border-box;
}
.FuncTabl > .Term {
  padding-right: 1.31556175%;
  float: left;
  clear: both;
  overflow: auto;
  white-space: nowrap;
}
.FuncTabl > .Desc {
  float: left;
}
.FuncTabl > .Desc + .Term {
  margin-top: 0;
}
.FuncTabl > .Term {
  width: 23.60679775%;
}
.FuncTabl > .Desc {
  width: 76.39320225%;
}
.FuncTabl > .Term,
.FuncTabl > .Desc {
  padding: 12px 7.41640786px;
  padding: 0.75rem 0.46352549rem;
}
.FuncTabl > .Term:nth-child(4n+1),
.FuncTabl > .Desc:nth-child(4n+2) {
  background-color: #cfe0e2;
}
.FuncTabl > .Term:nth-child(4n+3),
.FuncTabl > .Desc:nth-child(4n) {
  background-color: #b6d0d3;
}
.FuncTabl > .Term {
  text-align: right;
}
.FuncDescMap {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
  /**
    * This Object represent the term in a term-description pair of a `.Map`.
  @implements
  : .vru-top() only when following a `.Desc`
  @tags
  : #typography
  : #map
  @author
  : Chris Harvey
  @updated
  : 2014-10-07
    */
  /**
    * This Object represent the description in a term-description pair of a `.Map`.
  @belongsto
  : .Map
  @tags
  : #typography
  : #map
  @author
  : Chris Harvey
  @updated
  : 2014-10-05
    */
}
:not(h1):not(.H) + .FuncDescMap {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.FuncDescMap > .Term {
  font-weight: bold;
}
.FuncDescMap > .Desc + .Term {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.FuncDescMap::after {
  display: table;
  content: ' ';
  clear: both;
}
.FuncDescMap > .Term,
.FuncDescMap > .Desc {
  box-sizing: border-box;
}
.FuncDescMap > .Term {
  padding-right: 1.31556175%;
  float: left;
  clear: both;
  overflow: auto;
  white-space: nowrap;
}
.FuncDescMap > .Desc {
  float: left;
}
.FuncDescMap > .Desc + .Term {
  margin-top: 0;
}
.FuncDescMap > .Term {
  width: 23.60679775%;
}
.FuncDescMap > .Desc {
  width: 76.39320225%;
}
