// out: doc.css
@import (reference) url('../../styles/all.less');

/*##############*\
    jslib.less
\*##############*/

h1 code {
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.FuncTabl {
  .Map;
  .Map.Horiz;
  .Map.Horiz.Sml;
  .Map.Horiz.Tbl;
  .undo-Article();
  > .Term {
    text-align: right;
  }
}

.FuncDescMap {
  .Map;
  .Map.Horiz;
  .Map.Horiz.Sml;
  > .Term {
    text-align: right;
  }
}
