// out: doc.css
@import (reference) url('../../styles/core.less');

/*##############*\
    jslib.less
\*##############*/

h1 code {
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

dl.FuncTabl {
  .dl--Horiz;
  .dl--Horiz.Sml;
  .dl--Horiz.Tbl;
  // .undo-Article();
  > dt {
    text-align: right;
  }
}

dl.FuncDescMap {
  .dl--Horiz;
  .dl--Horiz.Sml;
  > dt {
    text-align: right;
  }
}
