// out: doc.css
@import (reference) url('../../styles/all.less');

/*##############*\
    jslib.less
\*##############*/

main {
  width: auto;
  margin-left:  @tab;
  margin-right: @tab;
}
h1 code {
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.FuncTabl {
  .Map;
  .Map.Horiz;
  .Map.Horiz.Sml;
  .Map.Horiz.Tbl;
  > .Term {
    text-align: right;
  }
}

.FuncDescMap {
  .Map;
  .Map.Horiz;
  .Map.Horiz.Sml;
}
