extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'Quiz 3.5'
    var classes_body = 'assessment cat-quiz'

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Quiz 3.5: Distinguishing Functions</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;5: <span class="verb">Solve</span> each equation.</p>
      <ol class="problemset">
        <li class="free-response-number">
          <span class="js-mt">9x-13=14</span>
          <input id="q1" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{x}{7}-3=-5</span>
          <input id="q2" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{1}{4}x-9=6</span>
          <input id="q3" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">4\left(x+11\right)=36</span>
          <input id="q4" type="number" step="0.1"/>
        </li>
        <li class="free-response-number">
          <span class="js-mt">\frac{x-10}{3}=12</span>
          <input id="q5" type="number" step="0.1"/>
        </li>
      </ol>
      <p class="directions">#6&ndash;10: <span class="verb">Choose</span> the <em>first</em> step to solving each equation below.</p>
      <ol class="problemset" start="6">
        <li class="multiple-choice">
          <span class="js-mt">13-4x=35</span>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q6a1" type="radio" name="q6"/>
                  <span>add 13 to both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q6a2" type="radio" name="q6"/>
                  <span>subtract 13 from both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q6a3" type="radio" name="q6"/>
                  <span>add 4 to both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q6a4" type="radio" name="q6"/>
                  <span>subtract 4 from both sides</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <span class="js-mt">-12+\frac{x}{3}=9</span>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q7a1" type="radio" name="q7"/>
                  <span>add 12 to both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q7a2" type="radio" name="q7"/>
                  <span>subtract 12 from both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q7a3" type="radio" name="q7"/>
                  <span>multiply both sides by 3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q7a4" type="radio" name="q7"/>
                  <span>divide both sides by 3</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <span class="js-mt">10=\frac{1}{5}\left(x-6\right)</span>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q8a1" type="radio" name="q8"/>
                  <span>add 6 to both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q8a2" type="radio" name="q8"/>
                  <span>multiply both sides by <span class="js-mt">\frac{1}{5}</span></span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q8a3" type="radio" name="q8"/>
                  <span>multiply both sides by 5</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q8a4" type="radio" name="q8"/>
                  <span>divide both sides by 5</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <span class="js-mt">-7\left(x-9\right)=54</span>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q9a1" type="radio" name="q9"/>
                  <span>add 9 to both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q9a2" type="radio" name="q9"/>
                  <span>add 7 to both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q9a3" type="radio" name="q9"/>
                  <span>multiply both sides by -7</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q9a4" type="radio" name="q9"/>
                  <span>divide both sides by -7</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <span class="js-mt">\frac{x+4}{-8}=12</span>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q10a1" type="radio" name="q10"/>
                  <span>subtract 4 from both sides</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q10a2" type="radio" name="q10"/>
                  <span>divide both sides by -8</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q10a3" type="radio" name="q10"/>
                  <span>multiply both sides by -8</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q10a4" type="radio" name="q10"/>
                  <span>multiply both sides by 8</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
      <p class="directions">#11&ndash;12: <span class="verb">Choose</span> the best answer choice.</p>
      <ol class="problemset" start="11">
        <li class="multiple-choice">
          Given the equation <span class="js-mt">2x+4=10</span>, Iris subtracted 4 from both sides and got <span class="js-mt">2x+0=6</span>. What property did she use?
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q11a1" type="radio" name="q11"/>
                  <span>additive identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q11a2" type="radio" name="q11"/>
                  <span>additive inverse property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q11a3" type="radio" name="q11"/>
                  <span>multiplicative identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q11a4" type="radio" name="q11"/>
                  <span>multiplicative inverse propety</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          Ian was given the equation <span class="js-mt">1\left(x+4\right)=10</span>, but he simplified it to <span class="js-mt">x+4=10</span>. What property did he use?
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q12a1" type="radio" name="q12"/>
                  <span>additive identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q12a2" type="radio" name="q12"/>
                  <span>additive inverse property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q12a3" type="radio" name="q12"/>
                  <span>multiplicative identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q12a4" type="radio" name="q12"/>
                  <span>multiplicative inverse propety</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
      <input type="submit"/>
    </form>
