---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Project: Modeling Sequences &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<main>
<header>
  <h1>Project: Modeling Sequences</h1>
  <p class="timestamp">Updated <time datetime="2014-01-05T22:27">Jan 5, 2014</time>.</p>
</header>
<section>
  <header>
    <h2>Project Description</h2>
    <p>This project allows students to take everyday objects and  them to mathematics. Math can be found everywhere! One very important component of mathematics is <strong>recognizing and creating patterns</strong>. In this project, you will construct a mathematical pattern using everyday objects. This is your chance to showcase your artistic ability and creativity, and incorporate your culture and personal experiences in your learning. You may use whatever objects you wish in this project.</p>
  </header>
  <p><span class="p__Title">Part 1:</span> You will construct a model that represents an <b class="keyword vocab">arithmetic</b> or <b class="keyword vocab">geometric</b> sequence. This model can be made from just about anything: buttons, shapes, toys, figures, drawings, a computer program, <i lang="la"><abbr title="et cetera">etc.</abbr></i></p>
  <p><span class="p__Title">Part 2:</span> Turn in a one-page reflection <strong>(typed, double-spaced, size 12pt font)</strong> that includes:</p>
  <ol>
    <li>an explanation of how you made your sequence</li>
    <li>types of materials used</li>
    <li>whether it is an arithmetic or geometric sequence</li>
    <li>how your construction models your sequence</li>
    <li>what you found easy/difficult about making your sequence</li>
  </ol>
  <p><span class="p__Title">Part 3:</span> Prepare a 2-minute presentation about your constructed sequence. Your presentation must include everything you wrote about in your paper, and also a <strong>picture or photo of your construction</strong>, or you may want to <strong>bring your construction to school</strong> if it is portable. During your presentation, you may wish to ask the class if they can figure out whether your sequence is arithmetic or geometric.</p>
</section>
<section>
  <h2>Grading Rubric</h2>
  <table>
    <thead>
      <tr>
        <th>Grade</th>
        <th>Evidence of Mathematical Thinking</th>
        <th>Accuracy in Communication</th>
        <th>Creativity and Neatness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>A+</th>
        <td>The student constructed a clear model of an arithmetic sequence or a geometric sequence. The common difference or common ratio was easily evident in the student's construction.</td>
        <td>The student clearly explained whether their sequence was arithmetic or geometric, stated the common difference/ratio, and justified their construction with correct vocabulary covered in class.</td>
        <td>The student's model was structurally intact, carefully constructed, and original. The student's typed reflection was the proper length and met the typographical requirements listed above (and their name was on their paper). The student spoke clearly and confidently during the presentation.</td>
      </tr>
      <tr>
        <th>B+</th>
        <td>The student constructed a good model of an arithmetic sequence or a geometric sequence. The common difference or common ratio was evident in the student's construction.</td>
        <td>The student explained whether their sequence was arithmetic or geometric, stated the common difference/ratio, and justified their construction.</td>
        <td>The student's model was mostly intact, carefully constructed, and original. The student's typed reflection was the proper length and mostly met the typographical requirements listed above (and their name was on their paper). The student spoke clearly during the presentation.</td>
      </tr>
      <tr>
        <th>C+</th>
        <td>The student constructed an acceptable model of an arithmetic sequence or a geometric sequence. The common difference or common ratio was evident in the student's construction.</td>
        <td>The student may have explained whether their sequence was arithmetic or geometric, may have stated the common difference/ratio, and justified their construction.</td>
        <td>The student's model was mostly intact, and was original. The student's reflection may not have been typed, but was the proper length (and their name was on their paper).</td>
      </tr>
      <tr>
        <th>D+</th>
        <td>The student constructed a model of a sequence, but it may not have been arithmetic or geometric.</td>
        <td>The student may have explained how they constructed their sequence, and may have justified their construction.</td>
        <td>The student's model was fairly intact, not carefully constructed, and may not have been original. The student's reflection may not have been typed or was not the proper length. Their name may or may not have been on their paper.</td>
      </tr>
      <tr>
        <th>F</th>
        <td>The student did not properly construct a model of a sequence.</td>
        <td>The student did not clearly explain how they constructed their sequence. They did not justify their construction.</td>
        <td>The student's model was poorly intact, not carefully constructed, or was not original. The student's reflection was not typed or was not the proper length. Their name may or may not have been on their paper.</td>
      </tr>
    </tbody>
  </table>
</section>
</main>
</body>
</html>
