---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lesson 3.6 &in; Math 7</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<main>
<header>
  <h1>Lesson 3.6: Sequences</h1>
  <dl>
    <dt>SOL</dt>
    <dd><span class="standard-id">7.2</span> The student will describe and represent arithmetic and geometric sequences, using variable expressions.</dd>
    <dt>Timeframe</dt>
    <dd>Week II.8</dd>
    <dt>Time required</dt>
    <dd>5 days</dd>
    <dt>Lesson created</dt>
    <dd><time datetime="2011-12-01T18:05">Dec 1, 2011</time></dd>
    <dt>Lesson updated</dt>
    <dd><time datetime="2014-01-06T02:18">Jan 6, 2014</time></dd>
  </dl>
</header>
<section id="prep">
  <h2>Preparation</h2>
  <section>
    <h3>Objectives</h3>
    <ul>
      <li>Identify patterns in sequences</li>
      <li>Identify the common difference in an arithmetic sequence</li>
      <li>Identify the common ratio in a geometric sequence</li>
      <li>Find a specified term of a given sequence</li>
      <li>Construct a sequence based on a rule</li>
    </ul>
  </section>
  <section>
    <h3>Essential Questions</h3>
    <ul>
    </ul>
  </section>
  <section>
    <h3>Vocabulary</h3>
    <dl class="vocablist">
      <dt>sequence</dt>
      <dd>an ordered list of numbers</dd>
      <dt>term</dt>
      <dd>a number in a sequence</dd>
      <dt>arithmetic sequence</dt>
      <dd>a sequence in which the difference between two consecutive terms is constant</dd>
      <dt>common difference</dt>
      <dd>the difference between two consecutive terms in an arithmetic sequence</dd>
      <dt>geometric sequence</dt>
      <dd>a sequence in which the ratio between two consecutive terms is constant</dd>
      <dt>common ratio</dt>
      <dd>the ratio between two consecutive terms in a geometric sequence</dd>
    </dl>
  </section>
</section>
<section id="implement">
  <h2>Lesson Implementation</h2>
  <pre>
MONDAY:
- Go over project rubric to Modeling Sequences Project (due FRIDAY). Play "bump" (where students read and "bump" to the next reader).
- Hand out materials (buttons, toothpicks, tiles, <i lang="la"><abbr title="et cetera">etc.</abbr></i>) and let students make patterns from them. Here we do not need to do arithmetic/geometric sequences. They are just getting used to making patterns. Patterns can be based on anything: color, shape, number, <i lang="la"><abbr title="et cetera">etc.</abbr></i>
- Give out sequence puzzles for them to work on as an exit slip
- no homework

TUESDAY:
- Introduce arithmetic sequences and give definition
- Give blank four-square: definitions/examples/non-examples/formulas, students fill in
- use classwork to:
  - practice finding common difference
  - practice writing variable expressions
  - find the next 3 terms
- exit slip
- homework: Practice B #1-3,7,9; Practice C #1,3,4,6

WEDNESDAY:
- Introduce geometric sequences and give definition
- Give blank four-square: definitions/examples/non-examples/formulas, students fill in
- use classwork to:
  - practice finding common ratio
  - practice writing variable expressions
  - find the next 3 terms
- exit slip
- homework: 6-8 Practice #1-4,7-10,17-20

THURSDAY:
- warmup: practice distinguishing arithmetic/geometric sequences
- notes: steps to distinguishing type of sequence
- classwork / exit slip: Sequences Match
- spend rest of class working on project
- homework: finish project due FRIDAY
- extra credit homework: Word Search

FRIDAY:
- collect classwork/homework packets (for stamps)
- presentations
  </pre>
  <section>
    <h3>Warm-up</h3>
    <p>Brief overview of what it means to be a sequence, basic examples of sequences, <q>Can you guess what the next number/shape/picture would be?</q></p>
    <p>Sequences in nature / other cool real world stuff</p>
  </section>
  <section>
    <h3>Instruction</h3>
    <p>Give a sequence and ask students to find the 100th number/shape/picture in the sequence (at this point the lesson can go in a few directions...hence diversity).</p>
    <p>Work with finding the 100th term, pose less challenging sequence-index, or move on...</p>
  </section>
  <section>
    <h3>Guided Practice</h3>
  </section>
  <section>
    <h3>Assessment</h3>
    <ul class="c-ListAction">
      <li class="c-ListAction__Item cat-proj"><a href="seq-modeling.html">Project: Modeling Sequences</a></li>
    </ul>
  </section>
</section>
</main>
</body>
</html>
