---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Math 7 Unit 1 Overview</title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A unit overview of the Integers unit in the Grade 7 Mathematics curriculum."/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<div class="main">
<header>
	<h1 class="h-alpha">Unit 1: Whole Numbers and Integers</h1>
	<p class="timestamp">Updated <time datetime="2013-08-25T22:27">August 25, 2013</time>.</p>
	<p class="prose">The integers unit focuses on performing, and identifying properties of, operations on whole numbers and integers. Students will simplify expressions involving the four basic operations on integers, and will translate, and distinguish, between verbal and mathematical expressions and statements. Students will also identify and use the field properties of addition and multiplication.</p>
</header>
<section id="objectives">
	<h1 class="h-beta">Learning Objectives</h1>
	<section id="ooo">
		<h1 class="h-gamma">Order of Operations</h1>
		<ul>
			<li>Compute the value of a numeric expression involving
				<ol>
					<li>the four basic operations on whole numbers, and</li>
					<li>the same with parenthesis and exponents included.</li>
					<li>The exponent may be applied to a monomial or polynomial.</li>
				</ol>
			</li>
			<li>Evaluate such an expression with one variable, given the value of that variable.</li>
			<li>Translate verbal phrases to and from mathematical expressions.</li>
			<li>Translate verbal sentences to and from mathematical statements (including equations and inequalities).</li>
			<li>Identify differences between mathematical expressions and mathematical statements.</li>
		</ul>
	</section>
	<section id="integer-operations">
		<h1 class="h-gamma">Operations on Integers</h1>
		<ul>
			<li>Model multiplication, division, addition, and subtraction of integers using manipulatives and pictorial representations.</li>
			<li>Representations will include blocks, counters, and number lines.</li>
			<li>Evaluate an expression involving addition, subtraction, multiplication, or division of integers.</li>
		</ul>
	</section>
	<section id="field-properties">
		<h1 class="h-gamma">Field Properties</h1>
		<ul>
			<li>Identify the following properties used in simplifying an expression:
				<ol>
					<li>commutative property of addition (CA)</li>
					<li>commutative property of multiplication (CM)</li>
					<li>associative property of addition (AA)</li>
					<li>associative property of multiplication (AM)</li>
					<li>identity property of addition (IA)</li>
					<li>identity property of multiplication (IM)</li>
					<li>inverse property of addition (NA)</li>
					<li>inverse property of multiplication (NM)</li>
					<li>zero property of multiplication (ZM)</li>
					<li>distributive property (D)</li>
				</ol>
			</li>
			<li>Apply the field properties when simplifying an expression.</li>
		</ul>
	</section>
</section>
<section id="lessons">
	<h1 class="h-beta">Lessons</h1>
	<ol class="list-basic">
		<li><a href="orderofoperations-part1.html">Lesson 1.1: Order of Operations, part 1</a></li>
	</ol>
</section>
</div>
</body>
</html>
