---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Capstone Thesis and Seminar</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A capstone thesis on reasoning and proof in high school mathematics."/>
<link rel="stylesheet" href="../higher-ed.css"/>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">MATH 4654</div>
  <div class="courseinfo-name">Capstone Thesis and Seminar</div>
  <div class="courseinfo-term">Spring, 2010</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.math.vt.edu/people/alexis05/">Alexis Johnston</a></div>
</header>
<main>
<header>
  <div class="title">
    <h1><cite>The National Council Of Teachers Of Mathematics Reasoning And Proof Process Standard In High School Mathematics</cite></h1>
    <p>A capstone thesis by Christopher H. Harvey</p>
  </div>
  <p class="timestamp">Submitted <time datetime="2010-05-03">May 3, 2010</time>.</p>
</header>
<p>Click the links below to download the associated files.</p>
<nav>
<ul class="c-ListAction">
  <li class="c-ListAction__Item"><a href="RPPaper.pdf">This research paper is the accumulation of my learnings about research in education, specifically geared towards that in the mathematics classroom.</a></li>
  <li class="c-ListAction__Item"><a href="ProblemSet.pdf">An accompanying problem set was used as a survey for a hypothetical data collection, and is discussed in the last section of my paper.</a> Click <a href="ProblemsKey.pdf">here</a> for the solutions.</li>
  <li class="c-ListAction__Item"><a href="RPslides.pdf">This slide show summarizes the major points in my paper, and was presented to a cohort of peers.</a></li>
</ul>
</nav>
</main>
</body>
</html>
