// main: ../all.less

/*#################*\
    _bground.less
\*#################*/


/**
  * This Mixin sets the background color to a certain opacity.
@params
: @color   : the base color of the background color
: @fadeout : the fade-out factor as a percentage. 100% is completely transparent, 0% is completely opaque.
@tags
: #background
: #opacity
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.fade-background(@color; @fadeout) {
	background-color: @color; // fallback
	background-color: fadeout(@color, @fadeout);
}

/**
  * This Mixin sets the background position of an Object's background sprite image.
  * This assumes the sprite's images are linearly horizontally ordered.
@params
: @position : the position of the sprite's image to be used. must be a positive integer.
: @iconsize : the horizontal (x) size of the sprite's image. in pixels.
: @iconpadd : the padding between images in the sprite. in pixels.
@tags
: #background-image
@author
: Chris Harvey
@updated
: 2014-07-18
  */
.sprite(@position; @iconsize; @iconpadd) {
	background-position: ((@position - 1) * -(@iconsize + @iconpadd)) 0;
}

/**
  * This Interface makes an object slightly transparent, but it becomes opaque upon `:hover`.
@tags
: #schematic
: #golden
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.transp {
	opacity: @phi1;
	&:hover {opacity: 1;}
}
