// main: ../all.less

/*----------------*\
    _delims.less
\*----------------*/


/**
  * This Interface adds opening and closing punctuation marks surrounding an Object. The
  * punctuation marks are given by the `quotes` property.
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-26
  */
.delimiters {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.parens            {&:extend(.delimiters all); quotes: '('  ')';}
.brackets          {&:extend(.delimiters all); quotes: '['  ']';}
.braces            {&:extend(.delimiters all); quotes: '{'  '}';}
.angles            {&:extend(.delimiters all); quotes: '<'  '>';}
.angles            {&:extend(.delimiters all); quotes: '\003c' '\003e';} // '<' '>' // '&lt;' '&gt;'

.quotes-single     {&:extend(.delimiters all); quotes: '\2018' '\2019';} // '‘' '’' // &lsquo;  &rsquo;
.quotes-double     {&:extend(.delimiters all); quotes: '\201c' '\201d';} // '“' '”' // &ldquo;  &rdquo;
.guillemets-single {&:extend(.delimiters all); quotes: '\2039' '\203a';} // '‹' '›' // &lsaquo; &rsaquo;
.guillemets-double {&:extend(.delimiters all); quotes: '\00ab' '\00bb';} // '«' '»' // &laquo;  &raquo;
