// main: ../all.less

/*------------*\
    _hr.less
\*------------*/


/**
  * These Interfaces add a solid horizontal line above the Object, separating it from its
  * previous sibling. **Use these Interfaces instead of the `hr` Element.**
  * The `.separated()` Mixin lets you choose the line color.
  * The `-h` suffix colors the line with the main heaing color (blueish).
  * The `-brdr` suffix colors the line with the border accent color (greenish).
  * The `-accent` suffix colors the line with the accent color (redish).
@tags
: #golden
: #heading
: #border
: #accent
@author
: Chris Harvey
@updated
: 2014-07-07
  */
.separated(@brdrc) {.vru-top-phi(1px; solid; @brdrc);}
.separated-h       {.vru-top-phi(1px; solid; @color_h_major);}
.separated-brdr    {.vru-top-phi(1px; solid; @color_brdr);}
.separated-accent  {.vru-top-phi(1px; solid; @color_accent);}
