
/*################################*\
    resume  |  _base.less
\*################################*/
@import (reference) url('../../node_modules/still-alive/styles/__settings.less');


body {
  @media screen {
    position: relative; // so that absolutely positioned elements are sized proportionally
    font-family: @g-font_family_prose;
  }
  @media print {
    width: 768px; // 8in
    font-family: 'Marion','Times','Times New Roman',serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0.25in;
}
a {
  @media print {
    text-decoration: none;
  }
}
i[lang] {
  font-family: inherit;
}
cite {
  font-style: inherit;
}

[hidden] {
  display: none !important; // address some Objects set to display
}
