/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    resume sub-project stylesheet
    Version: 4.0.0
    Licence: MIT
    Repo   : https://github.com/chharvey/chharvey.github.io.git
    Home   : https://chharvey.github.io/chharvey.github.io/
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*\
    resume.less
\*================================*/
/**
  * # CONTENTS
  *
  * ## MAIN
  * base..........................unclassed Elements and reset styles
  *
  * ## OBJECTS
  * Header........................name and contact info
  * Footer........................footer
  * Skill.........................top-level section of resume
  * Org...........................organization section of resume
  * ListAchv......................list of achievements such as awards or memberships
  * Objective.....................a paragraph in a Skill that describes an objective
  *
  * ## COMPONENTS
  * H(eadings)....................resume-style H1 through H4 (classes, not elements)
  * Camo..........................camouflage hyperlinks
  * Label--resTech................a subclass of Label for specific needs
  *
  * ## TRUMPS
  */
/*################################*\
    resume  |  _base.less
\*################################*/
@media screen {
  body {
    position: relative;
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  }
}
@media print {
  body {
    width: 768px;
    font-family: 'Marion', 'Times', 'Times New Roman', serif;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0.25in;
}
@media print {
  a {
    text-decoration: none;
  }
}
i[lang] {
  font-family: inherit;
}
cite {
  font-style: inherit;
}
[hidden] {
  display: none !important;
}

/*################################*\
    resume  |  _obj.HeaderRes.less
\*################################*/
.o-HeaderRes {
  margin-bottom: 1.5rem;
}
@media screen {
  .o-HeaderRes::after {
    content: '';
    display: block;
    border-bottom-width: 1px;
    margin-top: -1px;
    border-bottom-style: solid;
    border-bottom-color: #120099;
    position: relative;
    top: 0.75rem;
  }
}
.o-HeaderRes__Name {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*################################*\
    resume  |  _obj.FooterRes.less
\*################################*/
.o-FooterRes {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.o-FooterRes::before {
  content: '';
  display: block;
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: solid;
  border-top-color: #3d6166;
  position: relative;
  bottom: 0.75rem;
}

.o-GoldenContainerFlip {
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -ms-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen {
  .o-GoldenContainerFlip {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 75em) {
  .o-GoldenContainerFlip {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.o-GoldenContainerFlip__Content,
.o-GoldenContainerFlip__Sidebar {
  -webkit-transition-property: left, top, width, padding;
  -moz-transition-property: left, top, width, padding;
  -ms-transition-property: left, top, width, padding;
  -o-transition-property: left, top, width, padding;
  transition-property: left, top, width, padding;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Content {
    position: relative;
    left: 38.19660113%;
    width: 61.80339887%;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content {
    left: 23.60679775%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 75em) {
  .o-GoldenContainerFlip__Content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Sidebar {
    position: absolute;
    width: 38.19660113%;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Sidebar--major {
    top: 0;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Sidebar--major {
    width: 23.60679775%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Sidebar--minor {
    right: 0;
    top: 0;
    width: 14.58980338%;
  }
}
.o-GoldenContainerFlip__Content__SideMajor,
.o-GoldenContainerFlip__Content__SideMinor {
  -webkit-transition-property: left, top, width, padding;
  -moz-transition-property: left, top, width, padding;
  -ms-transition-property: left, top, width, padding;
  -o-transition-property: left, top, width, padding;
  transition-property: left, top, width, padding;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Content__SideMajor,
  .o-GoldenContainerFlip__Content__SideMinor {
    position: absolute;
    left: -61.80339887%;
    width: 61.80339887%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content__SideMajor {
    left: -38.19660113%;
    width: 38.19660113%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content__SideMinor {
    left: 100%;
    width: 23.60679775%;
  }
}
/*################################*\
    resume  |  _obj.Skill.less
\*################################*/
@media screen and (min-width: 45em) {
  .o-Skill {
    border-left: 1px solid rgba(61, 97, 102, 0.25);
    padding-left: 0.5rem;
    margin-left: -0.5rem;
  }
}
@media screen and (min-width: 75em) {
  .o-Skill {
    padding-left: 1rem;
    margin-left: -1rem;
  }
}
.o-Skill__Title {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 45em) {
  .o-Skill__Title {
    text-align: right;
  }
}

/*################################*\
    resume  |  _obj.Org.less
\*################################*/
@media print {
  .o-Org__Detail {
    margin-top: -1.5rem;
    margin-left: 23.60679775%;
  }
}
.o-Org--inst {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.o-Org--inst__Name {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin-top: -1.5rem;
}
@media print {
  .o-Org--inst__Name {
    margin-left: 23.60679775%;
  }
}
@media print {
  .o-Org__Header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
.o-Org__Header__Titles {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media print {
  .o-Org__Header__Titles {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
.o-Org__Header__Titles__Name {
  margin-bottom: 0;
}
.o-Org__Header__Titles__JobTitle {
  margin-bottom: 0;
  padding-right: 1rem;
}
@media screen {
  .o-Org__Header__Spacetime {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
@media print {
  .o-Org__Header__Spacetime {
    width: 23.60679775%;
  }
}
.o-Org__Header__Spacetime__Dates {
  margin-bottom: 0;
}
.o-Org__Header__Spacetime__Place {
  margin-bottom: 0;
}
@media screen {
  .o-Org__Header__Spacetime__Place {
    quotes: '(' ')';
    margin-left: 0.5rem;
  }
  .o-Org__Header__Spacetime__Place::before {
    content: open-quote;
  }
  .o-Org__Header__Spacetime__Place::after {
    content: close-quote;
  }
}

/*################################*\
    resume  |  _obj.ListAchv.less
\*################################*/
.o-ListAchv .o-ListAchv {
  display: inline;
}
@media print {
  .o-ListAchv {
    margin-top: -1.5rem;
  }
}
@media screen {
  .o-ListAchv__Award {
    display: inline;
  }
  .o-ListAchv__Award::before {
    content: '';
    display: block;
  }
}
@media print {
  .o-ListAchv__Award {
    margin-left: 23.60679775%;
  }
}
@media screen {
  .o-ListAchv__Date {
    display: inline;
    margin-left: 0.5rem;
    quotes: '(' ')';
  }
  .o-ListAchv__Date::before {
    content: open-quote;
  }
  .o-ListAchv__Date::after {
    content: close-quote;
  }
}
@media print {
  .o-ListAchv__Date {
    width: 23.60679775%;
    margin-top: -1.5rem;
  }
}

/*################################*\
    resume  |  _obj.Objective.less
\*################################*/
@media print {
  .o-Objective {
    margin-top: -3rem;
    margin-left: 23.60679775%;
  }
}

/*################################*\
    resume  |  _obj.ListLangs.less
\*################################*/
.o-ListLangs {
  margin-bottom: 0;
}
@media screen {
  .o-ListLangs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 448px) and (max-width: 44.999em), screen and (min-width: 757px) {
  .o-ListLangs {
    width: 50%;
  }
  .o-ListLangs:nth-child(3) {
    border-left: 1px solid rgba(61, 97, 102, 0.125);
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 75em) {
  .o-ListLangs:nth-child(3) {
    padding-left: 1rem;
  }
}
@media print {
  .o-ListLangs__Text,
  .o-ListLangs__Viz {
    display: inline;
    line-height: 0;
  }
}
@media screen {
  .o-ListLangs__Text {
    width: 108px;
  }
}
.o-ListLangs__Viz {
  width: calc(100%  -  108px);
}

/*################################*\
    resume  |  _comp.typo.H.less
\*################################*/
.c-H1,
.c-H2,
.c-H3,
.c-H4,
.c-H5,
.c-H6 {
  font: inherit;
  line-height: inherit;
}
@media screen {
  .c-H1,
  .c-H2,
  .c-H3,
  .c-H4,
  .c-H5,
  .c-H6 {
    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
  }
}
.c-H1,
.c-H2,
.c-H3 {
  font-weight: 700;
}
@media print {
  .c-H1,
  .c-H2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
.c-H1 {
  text-align: inherit;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen {
  .c-H1 {
    font-variant: small-caps;
    font-weight: 900;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 516px) and (max-width: 44.999em), screen and (min-width: 867px) {
  .c-H1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
  }
}
@media screen and (min-width: 1157px) and (max-width: 74.999em), screen and (min-width: 1241px) {
  .c-H1 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 0.75;
  }
}
@media print {
  .c-H1 {
    text-transform: uppercase;
  }
}
@media screen {
  .c-H2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
  }
  .c-H2::after {
    content: none;
  }
}
@media print {
  .c-H2 {
    font-variant: small-caps;
  }
}
@media screen {
  .c-H3 {
    font-variant: small-caps;
  }
}
.c-H4 {
  font-style: italic;
}

/*################################*\
    resume  |  _comp.typo.Camo.less
\*################################*/
.c-Camo {
  font-style: inherit !important;
  color: inherit;
}

/*################################*\
    resume  |  _comp.typo.ListContact.less
\*################################*/
.o-ListContact {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media screen and (min-width: 632px) and (max-width: 44.999em), screen and (min-width: 1079px), print {
  .o-ListContact__Item {
    display: inline;
    line-height: 0;
  }
}
.o-ListContact__Item__Icon {
  vertical-align: middle;
  width: 2.25rem;
  height: 2.25rem;
  padding-top: 0.25rem;
  margin-right: 0.5rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  border: 1px solid;
  border-radius: 1.5rem;
  text-align: center;
  opacity: 0.8;
}
@media print {
  .o-ListContact__Item__Icon {
    display: none;
  }
}

/*################################*\
    resume  |  _comp.ui.LangViz.less
\*################################*/
.c-LangViz {
  display: block;
  height: 24px;
}
@media print {
  .c-LangViz {
    display: none;
  }
}
.c-LangViz circle {
  fill: #c7c5c2;
}
.c-LangViz circle.lang-lvl {
  fill: #65a23e;
}

/*################################*\
    resume  |  _trumps.less
\*################################*/
#tech-misc {
  margin-bottom: 1.5rem;
}
@media screen {
  #tech-misc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    align-items: flex-start;
  }
}
@media print {
  #tech-misc,
  #tech-apps {
    margin-left: 23.60679775%;
  }
}

