/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    resume.less
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/**
  * # CONTENTS
  *
  * ## MAIN
  * base..........................unclassed Elements and reset styles
  *
  * ## OBJECTS
  * Header........................name and contact info
  * Footer........................footer
  * Skill.........................top-level section of resume
  * Org...........................organization section of resume
  * ListAchv......................list of achievements such as awards or memberships
  * Objective.....................a paragraph in a Skill that describes an objective
  *
  * ## COMPONENTS
  * H(eadings)....................resume-style H1 through H4 (classes, not elements)
  * Camo..........................camouflage hyperlinks
  * Label--resTech................a subclass of Label for specific needs
  *
  * ## TRUMPS
  */
/*################################*\
    _base.less
\*################################*/
@media screen {
  body {
    position: relative;
  }
}
@media print {
  body {
    width: 768px;
    font-family: 'Marion', 'Times', 'Times New Roman', serif;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0.25in;
}
@media print {
  a {
    text-decoration: none;
  }
}
i[lang] {
  font-family: inherit;
}
cite {
  font-style: inherit;
}

/*################################*\
    _obj.HeaderRes.less
\*################################*/
.o-HeaderRes {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  margin-bottom: 1.5rem;
}
@media screen {
  .o-HeaderRes::after {
    content: '';
    display: block;
    border-bottom-width: 1px;
    margin-top: -1px;
    border-bottom-style: solid;
    border-bottom-color: #120099;
    position: relative;
    top: 0.75rem;
  }
}
.o-HeaderRes__Name {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*################################*\
    _obj.FooterRes.less
\*################################*/
.o-FooterRes {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  font-size: 0.75rem;
  line-height: 2;
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
}
.o-FooterRes::before {
  content: '';
  display: block;
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: solid;
  border-top-color: #3d6166;
  position: relative;
  bottom: 0.75rem;
}

/*################################*\
    _obj.Skill.less
\*################################*/
@media screen {
  .o-Skill {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    border-left: 1px dotted rgba(61, 97, 102, 0.5);
    padding-left: 0.5rem;
    margin-left: -0.5rem;
  }
}
@media screen {
  .o-Skill__Title {
    padding-right: 1rem;
    text-align: right;
  }
}
@media print {
  .o-Skill__Title {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    margin-bottom: 1.5rem;
  }
}

/*################################*\
    _obj.Org.less
\*################################*/
@media screen {
  .o-Org__Detail {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  }
}
@media print {
  .o-Org__Detail {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    margin-top: -1.5rem;
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    margin-left: 23.60679775%;
  }
}
.o-Org--inst {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  margin-bottom: 1.5rem;
}
.o-Org--inst__Name {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  margin-top: -1.5rem;
}
@media print {
  .o-Org--inst__Name {
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    margin-left: 23.60679775%;
  }
}
@media print {
  .o-Org__Header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}
.o-Org__Header__Titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
@media print {
  .o-Org__Header__Titles {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1;
  }
}
.o-Org__Header__Titles__Name {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;
  margin-bottom: 0;
}
.o-Org__Header__Titles__JobTitle {
  margin-bottom: 0;
  padding-right: 1rem;
}
@media screen {
  .o-Org__Header__Spacetime {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  }
}
@media print {
  .o-Org__Header__Spacetime {
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    width: 23.60679775%;
  }
}
.o-Org__Header__Spacetime__Dates {
  margin-bottom: 0;
}
@media screen {
  .o-Org__Header__Spacetime__Dates {
    padding-right: 0.5rem;
  }
}
.o-Org__Header__Spacetime__Place {
  margin-bottom: 0;
}
@media screen {
  .o-Org__Header__Spacetime__Place {
    quotes: '(' ')';
  }
  .o-Org__Header__Spacetime__Place::before {
    content: open-quote;
  }
  .o-Org__Header__Spacetime__Place::after {
    content: close-quote;
  }
}

/*################################*\
    _obj.ListAchv.less
\*################################*/
.o-ListAchv .o-ListAchv:not([hidden]) {
  display: inline;
}
@media screen {
  .o-ListAchv {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  }
}
@media print {
  .o-ListAchv {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    margin-top: -1.5rem;
  }
}
.o-ListAchv__Award {
  margin-top: 0;
  font-weight: inherit;
}
@media screen {
  .o-ListAchv__Award:not([hidden]) {
    display: inline;
  }
  .o-ListAchv__Award::before {
    content: '';
    display: block;
  }
}
@media print {
  .o-ListAchv__Award {
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    margin-left: 23.60679775%;
  }
}
@media screen {
  .o-ListAchv__Date {
    quotes: '(' ')';
  }
  .o-ListAchv__Date:not([hidden]) {
    display: inline;
  }
  .o-ListAchv__Date::before {
    content: open-quote;
  }
  .o-ListAchv__Date::after {
    content: close-quote;
  }
}
@media print {
  .o-ListAchv__Date {
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    width: 23.60679775%;
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    margin-top: -1.5rem;
  }
}

/*################################*\
    _obj.Objective.less
\*################################*/
@media screen {
  .o-Objective {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  }
}
@media print {
  .o-Objective {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    margin-top: -3rem;
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    margin-left: 23.60679775%;
  }
}

/*################################*\
    _comp.typo.H.less
\*################################*/
.c-H1,
.c-H2,
.c-H3,
.c-H4,
.c-H5,
.c-H6 {
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  font-family: inherit;
}
@media print {
  .c-H1,
  .c-H2,
  .c-H3,
  .c-H4,
  .c-H5,
  .c-H6 {
    color: inherit;
  }
}
.c-H1,
.c-H2 {
  font-weight: bold;
}
@media print {
  .c-H1,
  .c-H2 {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
.c-H3,
.c-H4 {
  font-size: inherit;
  line-height: inherit;
}
.c-H1 {
  text-align: inherit;
}
@media screen {
  .c-H1 {
    font-variant: small-caps;
  }
}
@media print {
  .c-H1 {
    text-transform: uppercase;
  }
}
@media screen {
  .c-H2 {
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
    font-size: 1.5rem;
    line-height: 1;
  }
  .c-H2::after {
    content: none;
  }
}
@media print {
  .c-H2 {
    font-variant: small-caps;
  }
}
.c-H3 {
  font-weight: bold;
}
@media screen {
  .c-H3 {
    font-variant: small-caps;
  }
}
.c-H4 {
  font-style: italic;
}

/*################################*\
    _comp.typo.Camo.less
\*################################*/
a.c-Camo {
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/*################################*\
    _comp.ui.Label--resTech.less
\*################################*/
@media screen {
  .c-Label--resTech {
    margin-left: 0;
    border-radius: 1em;
    margin-right: 0.5rem;
  }
}
@media print {
  .c-Label--resTech:not(:last-child)::after {
    content: ',\0020';
  }
}

/*################################*\
    _trumps.less
\*################################*/
#tech-misc {
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT MAIN SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT TYPOGRAPHICAL SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PROJECT COLOR SETTINGS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
  /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++++++++++*\
        #PROJECT MISCELLANEOUS SETTINGS
    \*+++++++++++++++++++++++++++++++++++*/
  margin-bottom: 1.5rem;
}
@media print {
  #tech-misc,
  #tech-apps {
    /*++++++++++++++++++++++++++++++++*\
        #GOLDEN RATIOS
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #PORTAL COLOR THEME
    \*++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++*\
        #SOLARIZED / LUNARIZED COLOR THEMES
    \*++++++++++++++++++++++++++++++++*/
    margin-left: 23.60679775%;
  }
}

