doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Notes on HTML Elements
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Personal notes on HTML5 Elements and how they should be organized in CSS stylesheets.")
    meta(name="keywords" content="html, semantic")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../../styles/chharvey.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content.c-Document(data-status="draft" itemscope="" itemtype="https://schema.org/Article")
      header
        h1(itemprop="name headline") Notes on HTML Elements
        p.o-GoldenContainer__Content__SideMinor.o-Box.o-Box--island.c-Alert.c-Alert--dang.
          This document is a work in progress.
        dl.c-Document__Meta
          dt Author
          dd(itemprop="author") Christopher H. Harvey
          dt Description
          dd(itemprop="description") Personal notes on HTML5 Elements and how they should be organized in CSS stylesheets.
          dt Keywords
          dd(itemprop="keywords") html
          dd(itemprop="keywords") semantic
          dt Version History
          dd.update
            time(datetime="2015-03-03 15:01") Mar 3, 2015 #[span.tod 3:01 PM]
          dd.update(itemprop="dateModified")
            time(datetime="2015-03-08 14:57") Mar 8, 2015 #[span.tod 2:57 PM]
            span.o-Textbox.c-Label.c-Label--dang(class="!ml:1") Latest
      section
        h2 Sections (Flow Content Model)
        ul
          li #[code html]
          li #[code body]    #[small.o-Textbox.c-Label.c-Label--info Sectioning Root    #[sup: a.Rf(rel="this" href="#fn-body")#rf-body 1]]
          li #[code section] #[small.o-Textbox.c-Label.c-Label--info Sectioning Content #[sup: a.Rf(rel="this" href="#fn-section")#rf-section 2]]
          li #[code article] #[small.o-Textbox.c-Label.c-Label--info Sectioning Content #[sup: a.Rf(rel="this" href="#fn-article")#rf-article 3]]
          li #[code aside]   #[small.o-Textbox.c-Label.c-Label--info Sectioning Content #[sup: a.Rf(rel="this" href="#fn-aside")#rf-aside 4]]
          li #[code nav]     #[small.o-Textbox.c-Label.c-Label--info Sectioning Content #[sup: a.Rf(rel="this" href="#fn-nav")#rf-nav 5]]
          li #[code main]
          li #[code header]
          li #[code footer]
          li #[code h1]&ndash;#[code h6]
          li #[code address]
      section
        h2 Grouping Content (Flow Content Model)
        ul
          li #[code hr] #[small.o-Textbox.c-Label.c-Label--info Self-Closing Tag #[sup: a.Rf(rel="this" href="#fn-hr")#rf-hr 6]]
          li #[code div]
        section
          h3 Paragraph-Like Content
          ul
            li #[code p]
            li #[code figure] #[small.o-Textbox.c-Label.c-Label--info Sectioning Root #[sup: a.Rf(rel="this" href="#fn-figure")#rf-figure 7]]
            li #[code figcaption]
            li #[code blockquote] #[small.o-Textbox.c-Label.c-Label--info Sectioning Root #[sup: a.Rf(rel="this" href="#fn-blockquote")#rf-blockquote 8]]
            li #[code pre]
        section
          h3 Lists
          ul
            li #[code ol]
            li #[code ul]
            li #[code li] #[sup: a.Rf(rel="this" href="#fn-li")#rf-li 9]
            li #[code dl]
            li #[code dt]
            li #[code dd] #[sup: a.Rf(rel="this" href="#fn-dd")#rf-dd 10]
        section
          h3 Tables
          ul
            li #[code table]
            li #[code caption]
            li #[code colgroup]
            li #[code col] #[small.o-Textbox.c-Label.c-Label--info Self-Closing Tag #[sup: a.Rf(rel="this" href="#fn-col")#rf-col 11]]
            li #[code tbody]
            li #[code thead]
            li #[code tfoot]
            li #[code tr]
            li #[code td] #[small.o-Textbox.c-Label.c-Label--info Sectioning Root #[sup: a.Rf(rel="this" href="#fn-td")#rf-td 12]]
            li #[code th]
      section
        h2 Text-Level Semantics (Phrasing Content Model)
        ul
          li #[code a] &amp; #[code a[href]] #[small.o-Textbox.c-Label.c-Label--info Transparent Content Model #[sup: a.Rf(rel="this" href="#fn-a")#rf-a 15]]
          li #[code span]
          li #[code br] #[small.o-Textbox.c-Label.c-Label--info Self-Closing Tag #[sup: a.Rf(rel="this" href="#fn-br")#rf-br 13]]
          li #[code wbr] #[small.o-Textbox.c-Label.c-Label--info Self-Closing Tag #[sup: a.Rf(rel="this" href="#fn-wbr")#rf-wbr 14]]
        section
          h3 Stressed Text
          ul
            li #[code em] &mdash; emphasis
            li #[code strong] &mdash; importance
            li #[code i] &mdash; alternate voice/mood
            li #[code mark] &mdash; relevance in a certain context
            li #[code u] &mdash; annotations
            li #[code small] &mdash; side comments
            li #[code s] &mdash; inaccurate text #[small.o-Textbox.c-Label.c-Label--info Transparent Content Model #[sup: a.Rf(rel="this" href="#fn-s")#rf-s 16]]
        section
          h3 Documentation and Edits
          ul
            li #[code ins] #[small.o-Textbox.c-Label.c-Label--info Transparent Content Model #[sup: a.Rf(rel="this" href="#fn-ins")#rf-ins 17]]
            li #[code del] #[small.o-Textbox.c-Label.c-Label--info Transparent Content Model #[sup: a.Rf(rel="this" href="#fn-del")#rf-del 18]]
            li #[code dfn]
            li #[code b] &mdash; keyword
            li #[code var]
            li #[code q]
            li #[code cite]
            li #[code sup]
            li #[code sub]
        section
          h3 Machine-Readable Data
          ul
            li #[code abbr]
            li #[code data]
            li #[code time]
            li #[code code]
            li #[code kbd]
            li #[code samp]
      footer
        ul.c-ListFootnotes
          li
            sup
              a.Fn(rel="this" href="#rf-section")#fn-section 2
              a.Fn(rel="this" href="#rf-article")#fn-article 3
              a.Fn(rel="this" href="#rf-aside")#fn-aside 4
              a.Fn(rel="this" href="#rf-nav")#fn-nav 5
            | #[dfn Sectioning Content] adds to the Document Outline (#[abbr.c-Acro(title="document outline") DO]).
          li
            sup
              a.Fn(rel="this" href="#rf-body")#fn-body 1
              a.Fn(rel="this" href="#rf-figure")#fn-figure 7
              a.Fn(rel="this" href="#rf-blockquote")#fn-blockquote 8
              a.Fn(rel="this" href="#rf-td")#fn-td 12
            | #[dfn Sectioning Roots] have outlines, but they are encapsulated,
            |  hidden from the #[abbr.c-Acro(title="document outline") DO].
          li
            sup
              a.Fn(rel="this" href="#rf-li")#fn-li 9
              a.Fn(rel="this" href="#rf-dd")#fn-dd 10
            | The #[code li] and #[code dd] Elements seem like they should be Sectioning Roots
            |  but they are not! Do not contain sectioning content inside these Elements
            |  unless you want to change the #[abbr.c-Acro(title="document outline") DO]!
          li
            sup
              a.Fn(rel="this" href="#rf-a")#fn-a 15
              a.Fn(rel="this" href="#rf-s")#fn-s 16
              a.Fn(rel="this" href="#rf-ins")#fn-ins 17
              a.Fn(rel="this" href="#rf-del")#fn-del 18
            | An element with the #[dfn Transparent Content Model] may contain only content types
            |  matching the Content Model of the said element&rsquo; parent.
          li
            sup
              a.Fn(rel="this" href="#rf-hr")#fn-hr 6
              a.Fn(rel="this" href="#rf-col")#fn-col 11
              a.Fn(rel="this" href="#rf-br")#fn-br 13
              a.Fn(rel="this" href="#rf-wbr")#fn-wbr 14
            | Self-closing tag.
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
