doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Notes on HTML Elements
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Personal notes on HTML5 Elements.")
    meta(name="keywords" content="html, semantic")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../../styles/chharvey.css")
  body.o-GoldenContainer
    - var refs = []
    mixin reference(id)
      - refs.push(id)
      a.Rf(id='rf-'+id href='#fn-'+id)= refs.indexOf(id)+1
    mixin footnote(id)
      a.Fn(id='fn-'+id href='#rf-'+id)= refs.indexOf(id)+1
    mixin tag(text, id)
      small.o-Textbox.c-Label.c-Label--info
        = text
        sup: +reference(id)
    main.o-GoldenContainer__Content.c-Document(data-status="draft" itemscope="" itemtype="https://schema.org/Article")
      header
        h1(itemprop="name headline") Notes on HTML Elements
        p.o-GoldenContainer__Content__SideMinor.o-Box.o-Box--island.c-Alert.c-Alert--dang.
          This document is a work in progress.
        dl.c-Document__Meta
          dt Author
          dd(itemprop="author") Christopher H. Harvey
          dt Description
          dd(itemprop="description") Personal notes on HTML5 Elements.
          dt Keywords
          dd(itemprop="keywords") html
          dd(itemprop="keywords") semantic
          dt Version History
          dd.update: time(datetime="2015-03-03 15:01") Mar 3, 2015 #[span.tod  3:01 PM]
          dd.update: time(datetime="2015-03-08 14:57") Mar 8, 2015 #[span.tod  2:57 PM]
          dd.update
            time(datetime="2016-02-14 01:15" itemprop="dateModified") Feb 14, 2015 #[span.tod  1:15 AM]
            span.o-Textbox.c-Label.c-Label--dang.-ml-1 Latest
      section
        h2 Sections
        p May be used where Flow Content is expected.
        ul
          li #[code html]
          li #[code body]    #[+tag('Sectioning Root','body-sectioning-root')]
          li #[code section] #[+tag('Sectioning Content','section-sectioning-content')]
          li #[code article] #[+tag('Sectioning Content','article-sectioning-content')]
          li #[code aside]   #[+tag('Sectioning Content','aside-sectioning-content')]
          li #[code nav]     #[+tag('Sectioning Content','nav-sectioning-content')]
          li #[code main]
          li #[code header]
          li #[code footer]
          li #[code h1]&ndash;#[code h6] #[+tag('Phrasing Content Model','hn-phrasing-content-model')]
          li #[code address] #[sup: +reference('address')]
      section
        h2 Grouping Content
        p May be used where Flow Content is expected.
        ul
          li #[code hr] #[+tag('Nothing Content Model','hr-nothing-content-model')]
          li #[code div]
        section
          h3 Paragraph-Like Content
          ul
            li #[code p] #[+tag('Phrasing Content Model','p-phrasing-content-model')]
            li #[code pre] #[+tag('Phrasing Content Model','pre-phrasing-content-model')]
            li #[code figure] #[+tag('Sectioning Root','figure-sectioning-root')]
            li #[code figcaption]
            li #[code blockquote] #[+tag('Sectioning Root','blockquote-sectioning-root')]
        section
          h3 Lists
          ul
            li #[code ol]
            li #[code ul]
            li #[code li] #[sup: +reference('li')]
            li #[code dl]
            li #[code dt] #[sup: +reference('dt')]
            li #[code dd] #[sup: +reference('dd')]
        section
          h3 Tables
          ul
            li #[code table]
            li #[code caption]
            li #[code colgroup]
            li #[code col] #[+tag('Nothing Content Model','col-nothing-content-model')]
            li #[code tbody]
            li #[code thead]
            li #[code tfoot]
            li #[code tr]
            li #[code th] #[sup: +reference('th')]
            li #[code td] #[+tag('Sectioning Root','td-sectioning-root')]
      section
        h2 Text-Level Semantics
        p.
          May be used where Phrasing Content is expected.
          All elements in this section have the Phrasing Content Model unless otherwise specified.
        ul
          li #[code a] &amp; #[code a[href]] #[+tag('Transparent Content Model','a-transparent-content-model')]
          li #[code span]
          li #[code br] #[+tag('Nothing Content Model','br-nothing-content-model')]
          li #[code wbr] #[+tag('Nothing Content Model','wbr-nothing-content-model')]
        section
          h3 Stressed Text
          ul
            li #[code em] &mdash; emphasis
            li #[code strong] &mdash; importance
            li #[code i] &mdash; alternate voice/mood
            li #[code mark] &mdash; relevance in a certain context
            li #[code u] &mdash; annotations
            li #[code small] &mdash; side comments
            li #[code s] &mdash; inaccurate text #[+tag('Transparent Content Model','s-transparent-content-model')]
        section
          h3 Documentation and Edits
          ul
            li #[code ins] #[+tag('Transparent Content Model','ins-transparent-content-model')]
            li #[code del] #[+tag('Transparent Content Model','del-transparent-content-model')]
            li #[code dfn]
            li #[code b] &mdash; keyword
            li #[code abbr]
            li #[code var]
            li #[code q]
            li #[code cite]
            li #[code sup]
            li #[code sub]
        section
          h3 Machine-Readable Data
          ul
            li #[code data]
            li #[code time]
            li #[code code]
            li #[code kbd]
            li #[code samp]
      section
        h2 Embedded Content
        ul
          li #[code img] #[+tag('Nothing Content Model','img-nothing-content-model')]
      section
        h2 Forms
        ul
          li #[code input] #[+tag('Nothing Content Model','input-nothing-content-model')]
      section
        h2 Interactive Content
      footer
        ul.c-ListFootnotes
          li
            sup
              +footnote('body-sectioning-root')
              +footnote('figure-sectioning-root')
              +footnote('blockquote-sectioning-root')
              +footnote('td-sectioning-root')
            | #[dfn Sectioning Roots] have their own outlines, but they are encapsulated,
            |  hidden from the Document Outline (#[abbr.c-Acro#document-outline(title="document outline") DO]).
          li
            sup
              +footnote('section-sectioning-content')
              +footnote('article-sectioning-content')
              +footnote('aside-sectioning-content')
              +footnote('nav-sectioning-content')
            | Each #[dfn#sectioning-content Sectioning Content] adds a section to the #[span.c-Acro DO].
          li
            sup
              +footnote('hr-nothing-content-model')
              +footnote('col-nothing-content-model')
              +footnote('br-nothing-content-model')
              +footnote('wbr-nothing-content-model')
              +footnote('img-nothing-content-model')
              +footnote('input-nothing-content-model')
            | An element with an #[dfn#nothing-content-model Nothing Content Model] may contain no children. 
            small.
              Most elements with a Nothing Content Model are also #[dfn#void-element void elements], which
              have a start tag but no end tag.
          li
            sup
              +footnote('a-transparent-content-model')
              +footnote('s-transparent-content-model')
              +footnote('ins-transparent-content-model')
              +footnote('del-transparent-content-model')
            | An element with a #[dfn#transparent-content-model Transparent Content Model] may contain only content types
            |  matching the Content Model of that element&rsquo;s parent.
          li
            sup
              +footnote('hn-phrasing-content-model')
              +footnote('p-phrasing-content-model')
              +footnote('pre-phrasing-content-model')
            | An element with a #[dfn#phrasing-content-model Phrasing Content Model] may contain only Phrasing Content children. 
            small All text-level elements have the Phrasing Content Model unless otherwise specified.
          li
            sup
              +footnote('li')
              +footnote('dd')
            | The #[code li] and #[code dd] Elements seem like they should be Sectioning Roots
            |  but they are not! Do not contain sectioning content inside these Elements
            |  unless you want to change the #[abbr.c-Acro(title="document outline") DO]!
          li
            sup
              +footnote('address')
              +footnote('dt')
              +footnote('th')
            | The #[code address], #[code dt], and #[code th] elements may contain Flow Content except
            |  Sectioning Content, Heading Content, #[code header]s, and #[code footer]s.
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
