doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Notes on HTML Elements
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Personal notes on HTML5 Elements and how they should be organized in CSS stylesheets.")
    meta(name="keywords" content="html, semantic")
    link(rel="stylesheet" href="../styles/chharvey.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content.c-Document.c-Document--draft(data-status="draft" itemscope="" itemtype="https://schema.org/Article")
      header
        h1(itemprop="name headline") Notes on HTML Elements
        p.o-GoldenContainer__Sidebar.o-GoldenContainer__Sidebar--Minor.o-Box.o-Box--Island.c-Alert.c-Alert--Dang.
          This document is a work in progress.
        dl.c-Document__Meta
          dt Author
          dd(itemprop="author") Christopher H. Harvey
          dt Description
          dd(itemprop="description") Personal notes on HTML5 Elements and how they should be organized in CSS stylesheets.
          dt Keywords
          dd(itemprop="keywords") html
          dd(itemprop="keywords") semantic
          dt Version History
          dd.update
            time(datetime="2015-03-03 15:01") Mar 3, 2015 #[span.tod 3:01 PM]
          dd.update
            time(datetime="2015-03-08 14:57") Mar 8, 2015 #[span.tod 2:57 PM]
          dd.update(itemprop="dateModified")
            time(datetime="2015-10-04 17:55") Oct 4, 2015 #[span.tod 5:55 PM]
            small.o-Textbox.c-Label.c-Label--dang(class="!ml:1") Latest
      section
        h2 Sections (Flow Content Model)
        ul
          li #[code html]
          li #[code body]    #[small.o-Textbox.c-Label.c-Label--cshn Sectioning Root]
          li #[code section] #[small.o-Textbox.c-Label.c-Label--dang Sectioning Content]
          li #[code article] #[small.o-Textbox.c-Label.c-Label--dang Sectioning Content]
          li #[code aside]   #[small.o-Textbox.c-Label.c-Label--dang Sectioning Content]
          li #[code nav]     #[small.o-Textbox.c-Label.c-Label--dang Sectioning Content]
          li #[code main]
          li #[code header]
          li #[code footer]
          li #[code h1]&ndash;#[code h6]
          li #[code address]
      section
        h2 Grouping Content (Flow Content Model)
        ul
          li #[code hr] #[small.o-Textbox.c-Label.c-Label--info Self-Closing]
          li #[code div]
        section
          h3 Paragraph-Like Content
          ul
            li #[code p]
            li #[code figure]     #[small.o-Textbox.c-Label.c-Label--cshn Sectioning Root]
            li #[code figcaption]
            li #[code blockquote] #[small.o-Textbox.c-Label.c-Label--cshn Sectioning Root]
            li #[code pre]
        section
          h3 Lists
          ul
            li #[code ol]
            li #[code ul]
            li #[code li] <sup><a class="Rf" id="rf-li" rel="this" href="#fn-li">1</a></sup>
            li #[code dl]
            li #[code dt]
            li #[code dd] <sup><a class="Rf" id="rf-dd" rel="this" href="#fn-dd">2</a></sup>
        section
          h3 Tables
          ul
            li #[code table]
            li #[code caption]
            li #[code colgroup]
            li #[code col]      #[small.o-Textbox.c-Label.c-Label--info Self-Closing]
            li #[code tbody]
            li #[code thead]
            li #[code tfoot]
            li #[code tr]
            li #[code td]       #[small.o-Textbox.c-Label.c-Label--cshn Sectioning Root]
            li #[code th]
      section
        h2 Text-Level Semantics (Phrasing Content Model)
        ul
          li #[code a] &amp; #[code a[href]] #[small.o-Textbox.c-Label.c-Label--skss Transparent Content Model]
          li #[code span]
          li #[code br]  #[small.o-Textbox.c-Label.c-Label--info Self-Closing]
          li #[code wbr] #[small.o-Textbox.c-Label.c-Label--info Self-Closing]
        section
          h3 Stressed Text
          ul
            li #[code em],     emphasis
            li #[code strong], importance
            li #[code i],      alternate voice/mood
            li #[code mark],   relevance in a certain context
            li #[code u],      annotations
            li #[code small],  side comments
            li #[code s],      inaccurate text
        section
          h3 Documentation and Edits
          ul
            li #[code ins] #[small.o-Textbox.c-Label.c-Label--skss Transparent Content Model]
            li #[code del] #[small.o-Textbox.c-Label.c-Label--skss Transparent Content Model]
            li #[code dfn]
            li #[code b], keyword
            li #[code var]
            li #[code q]
            li #[code cite]
            li #[code sup]
            li #[code sub]
        section
          h3 Machine-Readable Data
          ul
            li #[code abbr]
            li #[code data]
            li #[code time]
            li #[code code]
            li #[code kbd]
            li #[code samp]
      footer
        p.
            <dfn>Sectioning Content</dfn> adds to the Document Outline (<abbr class="c-Acro" title="document outline">DO</abbr>).
        p.
            <dfn>Sectioning Roots</dfn> have outlines, but they are encapsulated,
            hidden from the <abbr class="c-Acro" title="document outline">DO</abbr>.
        ul.c-ListFootnotes
          li.
            <sup>
              <a class="Fn" id="fn-li" rel="this" href="#rf-li">1</a>
              <a class="Fn" id="fn-dd" rel="this" href="#rf-dd">2</a>
            </sup>
            The <code>li</code> and <code>dd</code> Elements
            (similar in meaning to the <code>td</code> Element)
            seem like they should be Sectioning Roots
            but they are not! Do not contain sectioning content inside these Elements
            unless you want to change the <abbr class="c-Acro" title="document outline">DO</abbr>!
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    script(src="../core/scripts/global.js")
