---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Assessment Tools Summary Chart</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A chart summarizing the major types of assessment items used in classrooms today."/>
<link rel="stylesheet" href="../higher-ed.css"/>
<style>
.assess-chart {
  border-collapse: collapse;
  font-size: 10pt;
}
.assess-chart th,
.assess-chart td {padding: 2px; border: 1px solid #808080;}
.assess-chart td {vertical-align: top;}
.assess-chart ul {padding-left: 25px;}
.assess-suggestions,
.assess-evaluation {width: 20%;}
.assess-chart p {text-align: left;}
</style>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">EDEP 5194</div>
  <div class="courseinfo-name">Research Assessing Student Achievement</div>
  <div class="courseinfo-term">Spring, 2012</div>
  <div class="courseinfo-prof">Instructor: Thomas Sherman</div>
</header>
<main>
<header>
  <h1>Classroom Assessment Tools</h1>
  <p class="timestamp">Updated <time datetime="2012-04-01 19:14">April 01, 2012</time>.</p>
</header>
<div class="">
  <table class="assess-chart">
    <caption class="c-Caption">A summary of the most common types of classroom assessment tools.</caption>
    <colgroup span="2"></colgroup>
    <colgroup><col span="3"/><col class="assess-suggestions"/></colgroup>
    <colgroup><col class="assess-evaluation"/></colgroup>
    <thead>
      <tr>
        <th scope="col" id="name" colspan="2">Item Type</th>
        <th scope="col" id="prop">Properties &amp; Uses</th>
        <th scope="col" id="adv">Advantages</th>
        <th scope="col" id="lim">Limitations</th>
        <th scope="col" id="sugg">Suggestions for Construction</th>
        <th scope="col" id="eval">Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th id="OTI" headers="name" rowspan="5">Objective Test Items</th>
        <th scope="row" id="SAQ" headers="OTI name">Short-Answer Questions</th>
        <td headers="SAQ prop">
          <ul>
            <li>Wide variety of relatively simple learning outcomes; recall of memorized information
              <ul>
                <li>Except in STEM: supply type is superior to selection type</li>
              </ul>
            </li>
            <li>May measure complex achievement in problem-solving items</li>
          </ul>
        </td>
        <td headers="SAQ adv">
          <ul>
            <li>Easiest to construct</li>
            <li>Student must supply answer; reduces guessing</li>
            <li>Partial knowledge is often insufficient for correctness</li>
          </ul>
        </td>
        <td headers="SAQ lim">
          <ul>
            <li>Unsuitability for measuring complex learning outcomes</li>
            <li>Difficult to score due to possible ambiguous answers
              <ul>
                <li>Except in STEM</li>
              </ul>
            </li>
          </ul>
        </td>
        <td headers="SAQ sugg">
          <ul>
            <li>Word the item so that required answer is brief and specific.</li>
            <li>Do not take statements directly from textbook.</li>
            <li>Direct questions are more desirable than incomplete statements.</li>
            <li>If the answer is to be expressed in units, indicate the type desired.</li>
            <li>Answer blanks should be the same length and vertically aligned.</li>
            <li>Don't include too many blanks.</li>
          </ul>
        </td>
        <td headers="OTI eval" rowspan="5">
          <span data-status="draft"><i>see p. 349</i></span>
        </td>
      </tr>
      <tr>
        <th scope="row" id="TFQ" headers="OTI name">True-False Questions</th>
        <td headers="TFQ prop">
          <ul>
            <li>Two possible opposing answers</li>
            <li>Measures ability to verify statements of fact, definitions, principles</li>
            <li>May measure complex achievement: if testing ability to recognize cause-and-effect</li>
          </ul>
        </td>
        <td headers="TFQ adv">
          <ul>
            <li>Easily constructed</li>
            <li>Efficiently and quickly answered</li>
            <li>Wide sampling of material</li>
          </ul>
        </td>
        <td headers="TFQ lim">
          <ul>
            <li>Not particularly useful beyond <b>knowledge</b></li>
            <li>Susceptibility to guessing</li>
            <li>Students are not required to know correct answer on <b>False</b> statements</li>
          </ul>
        </td>
        <td headers="TFQ sugg" class="assess-suggestions">
          <ul>
            <li>Avoid broad general statements if they are to be judged true or false.</li>
            <li>Avoid trivial statements.</li>
            <li>Avoid the use of negative statements.</li>
            <li>Avoid long, complex sentences.</li>
            <li>Avoid including two ideas in one statement, except for cause-and-effect.</li>
            <li>If opinion is used, attribute it to a source.</li>
            <li>True and false statements should be about equal in length.</li>
            <li>The number of true and false statements should be about equal.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row" id="ME" headers="OTI name">Matching Exercises</th>
        <td headers="ME prop">
          <ul>
            <li>A set of premises corresponds to a set of responses</li>
            <li>Not necessarily <i>pigeonholed</i></li>
            <li>Premises and responses are each homogeneous</li>
            <li>Measures factual information based on simple associations</li>
          </ul>
        </td>
        <td headers="ME adv">
          <ul>
            <li>Compact form allows to measure a large body of material in a short time</li>
            <li>Easily constructed</li>
          </ul>
        </td>
        <td headers="ME lim">
          <ul>
            <li>Measurement of factual information</li>
            <li>Hard to find homogeneous material</li>
          </ul>
        </td>
        <td headers="ME sugg" class="assess-suggestions">
          <ul>
            <li>Use only homogeneous material in a single matching exercise.</li>
            <li>Include an unequal number of responses and premises; instruct that responses may be used once, more than once, or not at all.</li>
            <li>Keep list of items to be matched brief and place shorter responses on the right.</li>
            <li>Arrange the list of responses in logical order (alphabetical, numerical, etc).</li>
            <li>Indicate in the directions the basis for matching.</li>
            <li>Place entire matching exercise on the same page.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row" id="MCQ" headers="OTI name">Multiple-Choice Questions</th>
        <td headers="MCQ prop">
          <ul>
            <li>Can measure simple to complex learning outcomes</li>
            <li>Adaptable to most subject-matter content</li>
          </ul>
        </td>
        <td headers="MCQ adv">
          <ul>
            <li>Students must choose correct answer; more than identify as incorrect</li>
            <li>Greater reliability than T/F</li>
            <li>No need for homogeneity</li>
            <li>Amenable to diagnosis</li>
          </ul>
        </td>
        <td headers="MCQ lim">
          <ul>
            <li>Limited to the verbal level</li>
            <li>Not well adapted to measuring problem-solving, organization, or presentation of ideas</li>
            <li>Difficult to find sufficient number of incorrect, yet plausible distractors</li>
          </ul>
        </td>
        <td headers="MCQ sugg" class="assess-suggestions">
          <ul>
            <li>The stem of the item should be meaningful by itself, present definite problem.</li>
            <li>The stem should include much of the item as possible, free of irrelevant material.</li>
            <li>Use negatively stated stem only when significant learning outcomes require it.</li>
            <li>All alternatives should be grammatically consistent with stem.</li>
            <li>Item should contain only one correct or clearly best answer.</li>
            <li>Items used to measure understanding should contain some novelty, but not too much.</li>
            <li>All distractors should be plausible.</li>
            <li>Verbal associations between stem and correct answer should be avoided.</li>
            <li>Relative length of alternatives should not provide clues.</li>
            <li>Correct answer should appear in evenly but randomly distributed positions.</li>
            <li>Use inclusive/exclusive alternatives sparingly.</li>
            <li>Don't use multiple-choice when other item types are more appropriate.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row" id="IE" headers="OTI name">Interpretive Exercises</th>
        <td headers="IE prop">
          <ul>
            <li>May measure a variety of complex learning outcomes</li>
            <li>All students confronted with same task</li>
            <li>Control amount of factual information given</li>
          </ul>
        </td>
        <td headers="IE adv">
          <ul>
            <li>Measures ability to interpret prose, charts, graphs, maps, and other communication media</li>
            <li>Measures more complex learning outcomes than single objective item</li>
            <li>Obtains greater depth, breadth of skills by grouping related items</li>
            <li>Minimize influence of irrelevant facts</li>
          </ul>
        </td>
        <td headers="IE lim">
          <ul>
            <li>Difficult to construct</li>
            <li>Demand specific behaviors</li>
            <li>Heavy demand of reading skill</li>
            <li>Cannot measure overall approach to problem solving</li>
            <li>Confined to recognition level</li>
          </ul>
        </td>
        <td headers="IE sugg" class="assess-suggestions">
          <ul>
            <li>Select introductory material that is:
              <ul>
                <li>relevant to objectives of the course.</li>
                <li>appropriate to students’ curricular experience, reading level.</li>
                <li>new to students.</li>
                <li>brief but meaningful.</li>
              </ul>
            </li>
            <li>Revise introductory material for clarity, conciseness, greater interpretive value.</li>
            <li>Construct test items that require analysis and interpretation of introductory material.</li>
            <li>Make number of test items roughly proportional to length of introductory material.</li>
            <li>In constructing test items, see suggestions for <a href="#obj">Objective Items</a>.</li>
            <li>In constructing key-type items,
              <ul>
                <li>make categories homogeneous and mutually exclusive.</li>
                <li>develop standard key categories where applicable.</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th id="PA" headers="name" rowspan="3">Performance Assessments</th>
        <th scope="row" id="EQ" headers="PA name">Essay Questions</th>
        <td headers="EQ prop">
          <ul>
            <li>Freedom of response</li>
            <li>Used to measure learning outcomes not readily measured by objective items</li>
            <li>Evaluate ability to conceptualize, construct, organize, integrate, relate, evaluate, <i lang="la"><abbr title="et cetera">etc.</abbr></i></li>
            <li>Evaluate how well students communicate ideas</li>
            <li>Evaluate student writing abilities</li>
          </ul>
        </td>
        <td headers="EQ adv">
          <ul>
            <li>Measures complex learning outcomes inassessable by other means
              <ul>
                <li>only if constructed as carefully as objective test items</li>
              </ul>
            </li>
            <li>Emphasis on integration and application of thinking and problem-solving skills</li>
            <li>Enable direct evaluation of writing skills</li>
            <li>Ease of construction</li>
            <li>Contribution to student learning: the process of formulating a response can be a learning exercise</li>
          </ul>
        </td>
        <td headers="EQ lim">
          <ul>
            <li>Unreliability of scoring
              <ul>
                <li>Requires adequate attention to learning outcomes and scoring rubrics</li>
              </ul>
            </li>
            <li>Large amount of time required for scoring</li>
            <li>Limited sampling of content provided</li>
          </ul>
        </td>
        <td headers="EQ sugg" class="assess-suggestions">
          <ul>
            <li>Restirct the use of essay questions to those learning outcomes that cannot be measured satisfactorily by objective items.</li>
            <li>Construct questions that will call fourth the skills specified in the learning standards.</li>
            <li>Phrase the question so that the student's task is clearly defined.</li>
            <li>Indicate an approximate time limit for each question.</li>
            <li>Avoid the use of optional questions.</li>
          </ul>
        </td>
        <td headers="EQ eval">
          <ul>
            <li><b>Restricted-Response</b>: teacher writes example of expected response</li>
            <li><b>Extended-Response</b>:
              <ul>
                <li><b>Analytic Scoring Rubrics:</b> <span class="c-Document__Draft" data-status="draft"><i>see p. 249</i></span></li>
                <li><b>Holistic Scoring Rubrics:</b> <span class="c-Document__Draft" data-status="draft"><i>see p. 251</i></span></li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>Prepare an outline of the expected answer in advance.</li>
            <li>Use the scoring rubic that is most appropriate.</li>
            <li>Decide how to handle factors that are irrelevant to the learning outcomes measured.</li>
            <li>Evaluate all responses to one question before going on to the next one.</li>
            <li>Evaluate the answers without looking at the students' names.</li>
            <li>If especially important decisions are to be based on the results, obtain two or more independent ratings.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row" id="PBA" headers="PA name">Other Performance-Based Assessments</th>
        <td headers="PBA prop">
          <ul>
            <li>Best suited for applications with less-structured problems</li>
            <li><b>Restricted Response</b>: typically start with <a href="#MCQ">MCQ</a> or <a href="#SAQ">SAQ</a>, then extended by asking for further explanation</li>
            <li><b>Extended Response</b>: may require information from beyond the task itself ('Net, Library, survey, <i lang="la"><abbr title="et cetera">etc.</abbr></i>), then assembled into a product</li>
            <li>Advantages and limitations parallel with <a href="#EQ">Essay Questions</a>.</li>
          </ul>
        </td>
        <td headers="PBA adv">
          <ul>
            <li>Clearly communicate instructional goals that involve complex performances</li>
            <li>Measure complex learning outcomes inassessable by other means</li>
            <li>Provide a means of assessing <strong>process</strong> and <strong>product</strong></li>
            <li>Implement approaches that are suggested by modern learning theory</li>
          </ul>
        </td>
        <td headers="PBA lim">
          <ul>
            <li>Unreliability of performance ratings across teachers; time</li>
            <li>Time-consuming</li>
          </ul>
        </td>
        <td headers="PBA sugg" class="assess-suggestions">
          <ul>
            <li>Focus on learning outcomes that require complex cognitive skills and student performances.</li>
            <li>Select or develop tasks that represent both the content and the skills that are central to important learning outcomes.</li>
            <li>Minimize the dependence of task performance on skills that are irrelevant to the intended purpose of the assignment task.</li>
            <li>Provide the necessary scaffolding for students to be able to understand the task and what is expected.</li>
            <li>Construct task directions so that the student's task is clearly understood.</li>
            <li>Clearly communicate performance expectations in terms of the scoring rubrics by which the performances will be judged.</li>
          </ul>
        </td>
        <td headers="PBA eval">
          <ul>
            <li>Characteristics should be educationally significant.</li>
            <li>Identify the learning outcomes that the task is intended to assess.</li>
            <li>Characteristics should be directly observable.</li>
            <li>Characteristics and points on the scale should be clearly defined.</li>
            <li>Select the type of scoring rubric that is most appropriate for the task and the purpose of the assessment.</li>
            <li>Between 3 and 7 rating positions should be provided.</li>
            <li>Rate performances of all students on one task before going on to the next one.</li>
            <li>Rate performances without knowledge of the students' names.</li>
            <li>When results from a performance assessment are likely to have long-term consequences for students, ratings from several observers should be combined.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row" id="PORT" headers="PA name">Portfolios</th>
        <td headers="PORT prop">
          <ul>
            <li>A purposeful collection of pieces of student work to meet a particular goal</li>
          </ul>
        </td>
        <td headers="PORT adv">
          <ul>
            <li>Readily integrated with instruction</li>
            <li>Provide the chance for students to show off their own work</li>
            <li>Encourage students to become reflective learners and develop self-evaluation skills</li>
            <li>Provide parents with concrete examples of students' work</li>
            <li>Provide focus for parent-student-teacher discussion and conferences</li>
          </ul>
        </td>
        <td headers="PORT lim">
          <ul>
            <li>Time-consuming to assemble</li>
            <li>Time-consuming to evaluate</li>
            <li>Ratings have relatively low reliability</li>
            <li>Misconception that they can be easily created</li>
            <li>Misconception of <i>portfolio</i> <abbr title="versus">vs.</abbr> <i>folder containing student's work</i></li>
          </ul>
        </td>
        <td headers="PORT sugg" class="assess-suggestions"></td>
        <td headers="PORT eval">
          <span class="c-Document__Draft" data-status="draft"><i>see p. 307</i></span>
        </td>
      </tr>
      <tr>
        <th id="OT" headers="name" rowspan="3">Observational Techniques</th>
        <th scope="row" id="AR" headers="OT name">Anecdotal Records</th>
        <td headers="AR prop">
          <ul>
            <li>Factual descriptions of meaningful events observed in class</li>
            <li>Obtain data pertinent to a variety of learning outcomes, and to many aspects of personal and social development</li>
            <li>Observations are:
              <ul>
                <li>confined to areas of behavior inassessable by other means</li>
                <li>limited to only a few types of behavior at any given time</li>
                <li>restricted to those few students who are most in need of help</li>
              </ul>
            </li>
          </ul>
        </td>
        <td headers="AR adv">
          <ul>
            <li>Depict actual behavior in natural situations</li>
            <li>Facilitate gathering evidence on events that are exceptional but significant</li>
            <li>Can be used with very young students / students with limited communication skills</li>
          </ul>
        </td>
        <td headers="AR lim">
          <ul>
            <li>Maintaining a system of records costs time</li>
            <li>Difficulty of being objective when observing and reporting behavior</li>
            <li>Obtaining an adequate sample of behavior</li>
          </ul>
        </td>
        <td headers="AR sugg" class="assess-suggestions">
          <ul>
            <li>Determine in advance what to observe, but be alert for unusual behavior.</li>
            <li>Analyze observational records for possible sources of bias.</li>
            <li>Observe and record enough of the situation to make the behavior meaningful.</li>
            <li>Make a record of the incident as soon after the observation as possible.</li>
            <li>Limit each anecdote to a brief description of a single incident.</li>
            <li>Keep the factual description of the incident and your interpretation of it separate.</li>
            <li>Record both positive and negative behavioral incidents.</li>
            <li>Collect a number of anecdotes on a student before drawing inferences concerning typical behavior.</li>
            <li>Obtain practice in writing anecdotal records.</li>
          </ul>
        </td>
        <td headers="OT eval" rowspan="3">
          <i>no information found</i>
        </td>
      </tr>
      <tr>
        <th scope="row" id="PEER" headers="OT name">Peer Appraisal</th>
        <td headers="PEER prop"></td>
        <td headers="PEER adv">
          <ul>
            <li>Administered in a short amount of time to all age levels</li>
            <li>Easy scoring</li>
          </ul>
        </td>
        <td headers="PEER lim">
          <ul>
            <li>Not very useful for shy, withdrawn students</li>
          </ul>
        </td>
        <td headers="PEER sugg" class="assess-suggestions"></td>
      </tr>
      <tr>
        <th scope="row" id="SRT" headers="OT name">Self-Report Techniques</th>
        <td headers="SRT prop"></td>
        <td headers="SRT adv">
          <ul>
            <li>Administration is flexible</li>
            <li>Interviewees' behavior can be observed, which supplement their content</li>
            <li>Sharing information in addition to collecting it</li>
          </ul>
        </td>
        <td headers="SRT lim">
          <ul>
            <li>Extremely time-consuming</li>
            <li>Information gained is not standard</li>
            <li>Self-report inventory and questionnaires are common substitutes for personal interviews</li>
          </ul>
        </td>
        <td headers="SRT sugg" class="assess-suggestions"></td>
      </tr>
    </tbody>
  </table>
</div>
<footer class="APA-referencelist">
  <h2 class="APA-heading-title">References</h2>
  <ol class="APAreferenceList">
    <li itemprop="citation">Miller, M. D., Linn, R. L., &amp; Gronlund, N. E. (<time>2009</time>). <cite>Measurement and assessment in teaching</cite> (10th ed.). Upper Saddle River, NJ: Pearson Education.</li>
  </ol>
</footer>
</main>
</body>
</html>
