// out: index.css
@import (reference) url('http://chharvey.github.io/core/styles/all.less');
// @import (reference) url('../chharvey.github.io/core/styles/all.less');

/*##############*\
    index.less
\*##############*/

main {
  width: auto;
  margin-left:  @spacer;
  margin-right: @spacer;
}
h1 code {font-size: inherit;}

.Alist > .Item code {
  border: 0;
  color: inherit;
  background-color: transparent;
}

.FuncTabl {
  .Map;
  .Map.Horiz;
  .Map.Horiz.Sml;
  // .Map.Horiz.Tbl; // add back in on v3.7.0 of chharvey.github.io
  > .Term {
    text-align: right;
  }
}

.FuncDescMap {
  .Map;
  .Map.Horiz;
  .Map.Horiz.Sml;
}
