.w-f1o1,
.w-f2o2,
.w-f3o3,
.w-f4o4,
.w-f5o5,
.w-f6o6,
.center-ful {
  width: 100%;
}
.center-sml {
  width: 61.80339887%;
}
.w-f2o4,
.w-f3o6 {
  width: 50%;
}
.w-f2o6 {
  width: 33.33333333%;
}
.w-f4o6,
.center-med {
  width: 66.66666667%;
}
.center-lrg {
  width: 75%;
}
/*##############*\
    index.less
\*##############*/
main {
  width: auto;
  margin-left: 24px;
  margin-right: 24px;
}
h1 code {
  font-size: inherit;
}
.Alist > .Item code {
  border: 0;
  color: inherit;
  background-color: transparent;
}
.FuncTabl {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
}
:not(h1):not(.H) + .FuncTabl {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.FuncTabl::after {
  display: table;
  content: ' ';
  clear: both;
}
.FuncTabl > .Term {
  padding-right: 1.31556175%;
  float: left;
  clear: both;
  overflow: auto;
  white-space: nowrap;
}
.FuncTabl > .Desc + .Term {
  margin-top: 0;
}
.FuncTabl > .Desc {
  float: left;
}
.FuncTabl > .Term {
  width: 36.88103938%;
}
.FuncTabl > .Desc {
  width: 61.80339887%;
}
.FuncTabl > .Desc + .Desc {
  margin-left: 38.19660113%;
}
.FuncTabl > .Term {
  width: 22.291236%;
}
.FuncTabl > .Desc {
  width: 76.39320225%;
}
.FuncTabl > .Desc + .Desc {
  margin-left: 23.60679775%;
}
.FuncTabl > .Term {
  text-align: right;
}
.FuncDescMap {
  display: block;
  min-height: 24px;
  min-height: 1.5rem;
}
:not(h1):not(.H) + .FuncDescMap {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.FuncDescMap::after {
  display: table;
  content: ' ';
  clear: both;
}
.FuncDescMap > .Term {
  padding-right: 1.31556175%;
  float: left;
  clear: both;
  overflow: auto;
  white-space: nowrap;
}
.FuncDescMap > .Desc + .Term {
  margin-top: 0;
}
.FuncDescMap > .Desc {
  float: left;
}
.FuncDescMap > .Term {
  width: 36.88103938%;
}
.FuncDescMap > .Desc {
  width: 61.80339887%;
}
.FuncDescMap > .Desc + .Desc {
  margin-left: 38.19660113%;
}
.FuncDescMap > .Term {
  width: 22.291236%;
}
.FuncDescMap > .Desc {
  width: 76.39320225%;
}
.FuncDescMap > .Desc + .Desc {
  margin-left: 23.60679775%;
}
