
/*################*\
    _colors.less
\*################*/

// Use these helper classes to add a background to an element.
// Some background colors are dark, so a light translucent foreground color has been added.

// Table of Contents
// - PORTAL THEME
//   - Main Portal Colors
//   - Grey Tones
//   - More Portal Colors
// - SOLARIZED / LUNARIZED THEMES
// - LABEL THEME
// - DARK COLORS


//+++++++++++++//
/*@PORTAL THEME*/
//+++++++++++++//

//-------------------//
/*@Main Portal Colors*/
//-------------------//
@aperture_white: #f2f7ff; @aperture_white: hsv(217,   5%, 100%);
@aperture_black: #0d0800; @aperture_black: hsv( 37, 100%,   5%);
@lakesuperior:   #120099; @lakesuperior:   hsv(247, 100%,  60%);
@facilityabyss:  #3d6166; @facilityabyss:  hsv(187,  40%,  40%);
@atlas:          #0062ff; @atlas:          hsv(217, 100%, 100%);
@pbody:          #ff9d00; @pbody:          hsv( 37, 100%, 100%);
@neurotoxin:     #9acc7a; @neurotoxin:     hsv( 97,  40%,  80%);
@deploying:      #cc004e; @deploying:      hsv(337, 100%,  80%);

.aperture_white {background-color: @aperture_white !important;}
.aperture_black {background-color: @aperture_black !important;}
.lakesuperior   {background-color: @lakesuperior   !important;}
.facilityabyss  {background-color: @facilityabyss  !important;}
.atlas          {background-color: @atlas          !important;}
.pbody          {background-color: @pbody          !important;}
.neurotoxin     {background-color: @neurotoxin     !important;}
.deploying      {background-color: @deploying      !important;}
//---- @end Main Portal Colors ----//

//-----------//
/*@Grey Tones*/
//-----------//
@aperture_grey_0o6: @aperture_black; @aperture_grey_0o6: mix(@aperture_white, @aperture_black,  00.000%);
@aperture_grey_1o6: #34302a;         @aperture_grey_1o6: mix(@aperture_white, @aperture_black,  16.666%);
@aperture_grey_2o6: #5a5855;         @aperture_grey_2o6: mix(@aperture_white, @aperture_black,  33.333%);
@aperture_grey_3o6: #808080;         @aperture_grey_3o6: mix(@aperture_white, @aperture_black,  50.000%);
@aperture_grey_4o6: #a5a7aa;         @aperture_grey_4o6: mix(@aperture_white, @aperture_black,  66.666%);
@aperture_grey_5o6: #cbcfd4;         @aperture_grey_5o6: mix(@aperture_white, @aperture_black,  83.333%);
@aperture_grey_6o6: @aperture_white; @aperture_grey_6o6: mix(@aperture_white, @aperture_black, 100.000%);

.aperture_grey_0o6 {background-color: @aperture_grey_0o6 !important;}
.aperture_grey_1o6 {background-color: @aperture_grey_1o6 !important;}
.aperture_grey_2o6 {background-color: @aperture_grey_2o6 !important;}
.aperture_grey_3o6 {background-color: @aperture_grey_3o6 !important;}
.aperture_grey_4o6 {background-color: @aperture_grey_4o6 !important;}
.aperture_grey_5o6 {background-color: @aperture_grey_5o6 !important;}
.aperture_grey_6o6 {background-color: @aperture_grey_6o6 !important;}
//---- @end Grey Tones ----//

//-------------------//
/*@More Portal Colors*/
//-------------------//
@cavescaves: #80522b; @cavescaves: hsv( 28,  66.6%,  50%);
@asbestos:   #bf9300; @asbestos:   hsv( 46, 100.0%,  75%);
@hereye:     #fff155; @hereye:     hsv( 55,  66.6%, 100%);
@repulsion:  #2b9cff; @repulsion:  hsv(208,  83.3%, 100%);
@propulsion: #ff8e2b; @propulsion: hsv( 28,  83.3%, 100%);
@companion:  #ffaac2; @companion:  hsv(343,  33.3%, 100%);
@bridges:    #d4fbff; @bridges:    hsv(185,  16.6%, 100%);
@vilify:     #6300bf; @vilify:     hsv(271, 100.0%,  75%);

.cavescaves {background-color: @cavescaves !important;}
.asbestos   {background-color: @asbestos   !important;}
.hereye     {background-color: @hereye     !important;}
.repulsion  {background-color: @repulsion  !important;}
.propulsion {background-color: @propulsion !important;}
.companion  {background-color: @companion  !important;}
.bridges    {background-color: @bridges    !important;}
.vilify     {background-color: @vilify     !important;}
//---- @end More Portal Colors ----//
//++++ @end PORTAL THEME ++++//


//+++++++++++++++++++++++++++++//
/*@SOLARIZED / LUNARIZED THEMES*/
//+++++++++++++++++++++++++++++//
@solarized_base03:  #002b36;
@solarized_base02:  #073642;
@solarized_base01:  #586e75;
@solarized_base00:  #657b83;
@solarized_base0:   #839496;
@solarized_base1:   #93a1a1;
@solarized_base2:   #eee8d5;
@solarized_base3:   #fdf6e3;

@solarized_red:     #dc322f;
@solarized_orange:  #cb4b16;
@solarized_yellow:  #b58900;
@solarized_green:   #859900;
@solarized_cyan:    #2aa198;
@solarized_blue:    #268bd2;
@solarized_violet:  #6c71c4;
@solarized_magenta: #d33682;

.solarized_base03  {background-color: @solarized_base03  !important;}
.solarized_base02  {background-color: @solarized_base02  !important;}
.solarized_base01  {background-color: @solarized_base01  !important;}
.solarized_base00  {background-color: @solarized_base00  !important;}
.solarized_base0   {background-color: @solarized_base0   !important;}
.solarized_base1   {background-color: @solarized_base1   !important;}
.solarized_base2   {background-color: @solarized_base2   !important;}
.solarized_base3   {background-color: @solarized_base3   !important;}

.solarized_red     {background-color: @solarized_red     !important;}
.solarized_orange  {background-color: @solarized_orange  !important;}
.solarized_yellow  {background-color: @solarized_yellow  !important;}
.solarized_green   {background-color: @solarized_green   !important;}
.solarized_cyan    {background-color: @solarized_cyan    !important;}
.solarized_blue    {background-color: @solarized_blue    !important;}
.solarized_violet  {background-color: @solarized_violet  !important;}
.solarized_magenta {background-color: @solarized_magenta !important;}

// Lunarized Bases are Inverses of Solarized Bases
@lunarized_base03: #360b00; @lunarized_base03: spin(@solarized_base03, 180);
@lunarized_base02: #421307; @lunarized_base02: spin(@solarized_base02, 180);
@lunarized_base01: #755f58; @lunarized_base01: spin(@solarized_base01, 180);
@lunarized_base00: #836d65; @lunarized_base00: spin(@solarized_base00, 180);
@lunarized_base0:  #968583; @lunarized_base0:  spin(@solarized_base0,  180);
@lunarized_base1:  #a19393; @lunarized_base1:  spin(@solarized_base1,  180);
@lunarized_base2:  #d5dbee; @lunarized_base2:  spin(@solarized_base2,  180);
@lunarized_base3:  #e3eafd; @lunarized_base3:  spin(@solarized_base3,  180);
// Lunarized Accents are Complements of Solarized Accents
@lunarized_cyan:   #23cdd0; @lunarized_cyan:   rgb(255-red(@solarized_red    ), 255-green(@solarized_red    ), 255-blue(@solarized_red    ));
@lunarized_blue:   #34b4e9; @lunarized_blue:   rgb(255-red(@solarized_orange ), 255-green(@solarized_orange ), 255-blue(@solarized_orange ));
@lunarized_indigo: #4a76ff; @lunarized_indigo: rgb(255-red(@solarized_yellow ), 255-green(@solarized_yellow ), 255-blue(@solarized_yellow ));
@lunarized_violet: #7a66ff; @lunarized_violet: rgb(255-red(@solarized_green  ), 255-green(@solarized_green  ), 255-blue(@solarized_green  ));
@lunarized_red:    #d55e67; @lunarized_red:    rgb(255-red(@solarized_cyan   ), 255-green(@solarized_cyan   ), 255-blue(@solarized_cyan   ));
@lunarized_orange: #d9742d; @lunarized_orange: rgb(255-red(@solarized_blue   ), 255-green(@solarized_blue   ), 255-blue(@solarized_blue   ));
@lunarized_yellow: #938e3b; @lunarized_yellow: rgb(255-red(@solarized_violet ), 255-green(@solarized_violet ), 255-blue(@solarized_violet ));
@lunarized_green:  #2cc97d; @lunarized_green:  rgb(255-red(@solarized_magenta), 255-green(@solarized_magenta), 255-blue(@solarized_magenta));

.lunarized_base03  {background-color: @lunarized_base03 !important;}
.lunarized_base02  {background-color: @lunarized_base02 !important;}
.lunarized_base01  {background-color: @lunarized_base01 !important;}
.lunarized_base00  {background-color: @lunarized_base00 !important;}
.lunarized_base0   {background-color: @lunarized_base0  !important;}
.lunarized_base1   {background-color: @lunarized_base1  !important;}
.lunarized_base2   {background-color: @lunarized_base2  !important;}
.lunarized_base3   {background-color: @lunarized_base3  !important;}

.lunarized_cyan    {background-color: @lunarized_cyan   !important;}
.lunarized_blue    {background-color: @lunarized_blue   !important;}
.lunarized_indigo  {background-color: @lunarized_indigo !important;}
.lunarized_violet  {background-color: @lunarized_violet !important;}
.lunarized_red     {background-color: @lunarized_red    !important;}
.lunarized_orange  {background-color: @lunarized_orange !important;}
.lunarized_yellow  {background-color: @lunarized_yellow !important;}
.lunarized_green   {background-color: @lunarized_green  !important;}


// colors for Solarized Light Theme code
@code_sol_lite_bg:   @solarized_base3;
@code_sol_lite_brdr: @solarized_base2;
@code_sol_lite_txt:  @solarized_base00;
@code_sol_lite_comm: @solarized_base1;
@code_sol_lite_emph: @solarized_base01;
// colors for Solarized Dark Theme code
@code_sol_dark_bg:   @solarized_base03;
@code_sol_dark_brdr: @solarized_base02;
@code_sol_dark_txt:  @solarized_base0;
@code_sol_dark_comm: @solarized_base01;
@code_sol_dark_emph: @solarized_base1;
// colors for Lunarized Light Theme code
@code_lun_lite_bg:   @lunarized_base3;
@code_lun_lite_brdr: @lunarized_base2;
@code_lun_lite_txt:  @lunarized_base00;
@code_lun_lite_comm: @lunarized_base1;
@code_lun_lite_emph: @lunarized_base01;
// colors for Lunarized Dark Theme code
@code_lun_dark_bg:   @lunarized_base03;
@code_lun_dark_brdr: @lunarized_base02;
@code_lun_dark_txt:  @lunarized_base0;
@code_lun_dark_comm: @lunarized_base01;
@code_lun_dark_emph: @lunarized_base1;

.bg(@back; @brdr) {
  background-color: @back;
  border-color:     @brdr;
}
.fg(@text; @comm; @emph) {
  color:            @text;
  > small   {color: @comm;}
  > strong  {color: @emph;}
}
.lite.bg-sol {.bg(@code_sol_lite_bg;  @code_sol_lite_brdr);}
.lite.bg-lun {.bg(@code_lun_lite_bg;  @code_lun_lite_brdr);}
.lite.fg-sol {.fg(@code_sol_lite_txt; @code_sol_lite_comm; @code_sol_lite_emph);}
.lite.fg-lun {.fg(@code_lun_lite_txt; @code_lun_lite_comm; @code_lun_lite_emph);}
.dark.bg-sol {.bg(@code_sol_dark_bg;  @code_sol_dark_brdr);}
.dark.bg-lun {.bg(@code_lun_dark_bg;  @code_lun_dark_brdr);}
.dark.fg-sol {.fg(@code_sol_dark_txt; @code_sol_dark_comm; @code_sol_dark_emph);}
.dark.fg-lun {.fg(@code_lun_dark_txt; @code_lun_dark_comm; @code_lun_dark_emph);}

/**
  * Sub-Components of code:
  *
  * `.c__Ctl`  : programming control (if, for, switch, return)
  * `.c__Opr`  : delimiter or operator (+, ==, ., new, this)
  * `.c__Kwd`  : predefined keywords (var, function)
  * `.c__Cst`  : a number, color, or character constant
  * `.c__Str`  : any string
  * `.c__Cmd`  : a function name, function call, constructor call, or Less, LaTeX, or JS command
  * `.c__Arg`  : argument to a function or constructor call, or a Less, LaTeX, or JS argument
  * `.c__Obj`  : a class or object reference

  * `.c__Tag`  : an HTML tag
  * `.c__Atr`  : an HTML attribute
  * `.c__Val`  : an HTML or CSS value
  * `.c__Sel`  : a CSS selector
  * `.c__Prp`  : a CSS property
@tags
: #code
@author
: Chris Harvey
@updated
: 2015-02-19
  */
.ac-sol {
  .c__Ctl {color: @solarized_red;}
  .c__Opr {color: @solarized_orange;}
  .c__Kwd {color: @solarized_yellow;}
  .c__Cst {color: @solarized_green;}
  .c__Str {color: @solarized_cyan;}
  .c__Cmd {color: @solarized_blue;}
  .c__Arg {color: @solarized_violet;}
  .c__Obj {color: @solarized_magenta;}
  .c__Tag {color: @solarized_blue;}
  .c__Atr {color: @solarized_yellow;}
  .c__Val {color: @solarized_cyan;}
  .c__Sel {color: @solarized_blue;}
  .c__Prp {color: @solarized_yellow;}
}
.ac-lun {
  .c__Ctl {color: @lunarized_red;}
  .c__Opr {color: @lunarized_orange;}
  .c__Kwd {color: @lunarized_yellow;}
  .c__Cst {color: @lunarized_green;}
  .c__Str {color: @lunarized_cyan;}
  .c__Cmd {color: @lunarized_blue;}
  .c__Arg {color: @lunarized_indigo;}
  .c__Obj {color: @lunarized_violet;}
  .c__Tag {color: @lunarized_blue;}
  .c__Atr {color: @lunarized_yellow;}
  .c__Val {color: @lunarized_cyan;}
  .c__Sel {color: @lunarized_blue;}
  .c__Prp {color: @lunarized_yellow;}
}
//++++ @end SOLARIZED / LUNARIZED THEMES ++++//


//++++++++++++//
/*@LABEL THEME*/
//++++++++++++//
@warn_glyph: '\0021';             // !
@cshn_glyph: '\2026'; // &hellip; // …
@skss_glyph: '\263a';             // ☺
@info_glyph: '\003f';             // ?
@help_glyph: '\2665'; // &hearts; // ♥

@color_warn_brdr: #f00; @color_warn_brdr: hsv(  0, 100%, 100%);
@color_cshn_brdr: #cf0; @color_cshn_brdr: hsv( 72, 100%, 100%);
@color_skss_brdr: #0f6; @color_skss_brdr: hsv(144, 100%, 100%);
@color_info_brdr: #06f; @color_info_brdr: hsv(216, 100%, 100%);
@color_help_brdr: #c0f; @color_help_brdr: hsv(288, 100%, 100%);

// .color_warn_brdr {background-color: @color_warn_brdr;}
// .color_cshn_brdr {background-color: @color_cshn_brdr;}
// .color_skss_brdr {background-color: @color_skss_brdr;}
// .color_info_brdr {background-color: @color_info_brdr;}
// .color_help_brdr {background-color: @color_help_brdr;}

@color_warn_txt: #610000; @color_warn_txt: darken(@color_warn_brdr, (@golden1 / 2));
@color_cshn_txt: #4e6100; @color_cshn_txt: darken(@color_cshn_brdr, (@golden1 / 2));
@color_skss_txt: #006127; @color_skss_txt: darken(@color_skss_brdr, (@golden1 / 2));
@color_info_txt: #002761; @color_info_txt: darken(@color_info_brdr, (@golden1 / 2));
@color_help_txt: #4e0061; @color_help_txt: darken(@color_help_brdr, (@golden1 / 2));

// .color_warn_txt {background-color: @color_warn_txt;}
// .color_cshn_txt {background-color: @color_cshn_txt;}
// .color_skss_txt {background-color: @color_skss_txt;}
// .color_info_txt {background-color: @color_info_txt;}
// .color_help_txt {background-color: @color_help_txt;}

@color_warn_bg: #ff9e9e; @color_warn_bg: lighten(@color_warn_brdr, (@golden1 / 2));
@color_cshn_bg: #ecff9e; @color_cshn_bg: lighten(@color_cshn_brdr, (@golden1 / 2));
@color_skss_bg: #9effc5; @color_skss_bg: lighten(@color_skss_brdr, (@golden1 / 2));
@color_info_bg: #9ec5ff; @color_info_bg: lighten(@color_info_brdr, (@golden1 / 2));
@color_help_bg: #ec9eff; @color_help_bg: lighten(@color_help_brdr, (@golden1 / 2));

// .color_warn_bg {background-color: @color_warn_bg;}
// .color_cshn_bg {background-color: @color_cshn_bg;}
// .color_skss_bg {background-color: @color_skss_bg;}
// .color_info_bg {background-color: @color_info_bg;}
// .color_help_bg {background-color: @color_help_bg;}
//++++ @end LABEL THEME ++++//

//++++++++++++//
/*@DARK COLORS*/
//++++++++++++//
.aperture_black,
.lakesuperior,
.facilityabyss,
.atlas,
.deploying,
.aperture_grey_0o6,
.aperture_grey_1o6,
.aperture_grey_2o6,
.solarized_base03,
.solarized_base02,
.lunarized_base03,
.lunarized_base02,
.cavescaves,
.vilify,
.color_warn_txt,
.color_cshn_txt,
.color_skss_txt,
.color_info_txt,
.color_help_txt
{color: fadeout(#fff, 25%);}
//++++ @end DARK COLORS ++++//
