
/*################*\
    _colors.less
\*################*/

// Use these helper classes to add a background to an element.
// Some background colors are dark, so a light translucent foreground color has been added.

// Table of Contents
// - PORTAL THEME
//   - Main Portal Colors
//   - Grey Tones
//   - More Portal Colors
// - SOLARIZED THEME
// - LABEL THEME
// - DARK COLORS


//+++++++++++++//
/*@PORTAL THEME*/
//+++++++++++++//

//-------------------//
/*@Main Portal Colors*/
//-------------------//
@aperture_white: #f1f6ff; @aperture_white: hsv(217, @golden6, 100%);
@aperture_black: #0e0900; @aperture_black: hsv( 37, 100%, @golden6);
@lakesuperior:   #120099; @lakesuperior:   hsv(247, 100%,  60%);
@facilityabyss:  #3d6166; @facilityabyss:  hsv(187,  40%,  40%);
@atlas:          #0062ff; @atlas:          hsv(217, 100%, 100%);
@pbody:          #ff9d00; @pbody:          hsv( 37, 100%, 100%);
@neurotoxin:     #9acc7a; @neurotoxin:     hsv( 97,  40%,  80%);
@deploying:      #cc004e; @deploying:      hsv(337, 100%,  80%);

.aperture_white {background-color: @aperture_white !important;}
.aperture_black {background-color: @aperture_black !important;}
.lakesuperior   {background-color: @lakesuperior   !important;}
.facilityabyss  {background-color: @facilityabyss  !important;}
.atlas          {background-color: @atlas          !important;}
.pbody          {background-color: @pbody          !important;}
.neurotoxin     {background-color: @neurotoxin     !important;}
.deploying      {background-color: @deploying      !important;}
//---- @end Main Portal Colors ----//

//-----------//
/*@Grey Tones*/
//-----------//
@aperture_grey_0o6: @aperture_black; @aperture_grey_0o6: mix(@aperture_white, @aperture_black,  00.000%);
@aperture_grey_1o6: #34302a;         @aperture_grey_1o6: mix(@aperture_white, @aperture_black,  16.666%);
@aperture_grey_2o6: #5a5855;         @aperture_grey_2o6: mix(@aperture_white, @aperture_black,  33.333%);
@aperture_grey_3o6: #808080;         @aperture_grey_3o6: mix(@aperture_white, @aperture_black,  50.000%);
@aperture_grey_4o6: #a5a7aa;         @aperture_grey_4o6: mix(@aperture_white, @aperture_black,  66.666%);
@aperture_grey_5o6: #cbcfd4;         @aperture_grey_5o6: mix(@aperture_white, @aperture_black,  83.333%);
@aperture_grey_6o6: @aperture_white; @aperture_grey_6o6: mix(@aperture_white, @aperture_black, 100.000%);

.aperture_grey_0o6 {background-color: @aperture_grey_0o6 !important;}
.aperture_grey_1o6 {background-color: @aperture_grey_1o6 !important;}
.aperture_grey_2o6 {background-color: @aperture_grey_2o6 !important;}
.aperture_grey_3o6 {background-color: @aperture_grey_3o6 !important;}
.aperture_grey_4o6 {background-color: @aperture_grey_4o6 !important;}
.aperture_grey_5o6 {background-color: @aperture_grey_5o6 !important;}
.aperture_grey_6o6 {background-color: @aperture_grey_6o6 !important;}
//---- @end Grey Tones ----//

//-------------------//
/*@More Portal Colors*/
//-------------------//
@cavescaves: #80522b; @cavescaves: hsv( 28,  66.6%,  50%);
@asbestos:   #bf9300; @asbestos:   hsv( 46, 100.0%,  75%);
@hereye:     #fff155; @hereye:     hsv( 55,  66.6%, 100%);
@repulsion:  #2b9cff; @repulsion:  hsv(208,  83.3%, 100%);
@propulsion: #ff8e2b; @propulsion: hsv( 28,  83.3%, 100%);
@companion:  #ffaac2; @companion:  hsv(343,  33.3%, 100%);
@bridges:    #d4fbff; @bridges:    hsv(185,  16.6%, 100%);
@vilify:     #6300bf; @vilify:     hsv(271, 100.0%,  75%);

.cavescaves {background-color: @cavescaves !important;}
.asbestos   {background-color: @asbestos   !important;}
.hereye     {background-color: @hereye     !important;}
.repulsion  {background-color: @repulsion  !important;}
.propulsion {background-color: @propulsion !important;}
.companion  {background-color: @companion  !important;}
.bridges    {background-color: @bridges    !important;}
.vilify     {background-color: @vilify     !important;}
//---- @end More Portal Colors ----//
//++++ @end PORTAL THEME ++++//


//++++++++++++++++//
/*@SOLARIZED THEME*/
//++++++++++++++++//
@solarized_base03:  #002b36;
@solarized_base02:  #073642;
@solarized_base01:  #586e75;
@solarized_base00:  #657b83;
@solarized_base0:   #839496;
@solarized_base1:   #93a1a1;
@solarized_base2:   #eee8d5;
@solarized_base3:   #fdf6e3;
@solarized_yellow:  #b58900;
@solarized_orange:  #cb4b16;
@solarized_red:     #dc322f;
@solarized_magenta: #d33682;
@solarized_violet:  #6c71c4;
@solarized_blue:    #268bd2;
@solarized_cyan:    #2aa198;
@solarized_green:   #859900;

.solarized_base03  {background-color: @solarized_base03  !important;}
.solarized_base02  {background-color: @solarized_base02  !important;}
.solarized_base01  {background-color: @solarized_base01  !important;}
.solarized_base00  {background-color: @solarized_base00  !important;}
.solarized_base0   {background-color: @solarized_base0   !important;}
.solarized_base1   {background-color: @solarized_base1   !important;}
.solarized_base2   {background-color: @solarized_base2   !important;}
.solarized_base3   {background-color: @solarized_base3   !important;}
.solarized_yellow  {background-color: @solarized_yellow  !important;}
.solarized_orange  {background-color: @solarized_orange  !important;}
.solarized_red     {background-color: @solarized_red     !important;}
.solarized_magenta {background-color: @solarized_magenta !important;}
.solarized_violet  {background-color: @solarized_violet  !important;}
.solarized_blue    {background-color: @solarized_blue    !important;}
.solarized_cyan    {background-color: @solarized_cyan    !important;}
.solarized_green   {background-color: @solarized_green   !important;}
//++++ @end SOLARIZED THEME ++++//


//++++++++++++//
/*@LABEL THEME*/
//++++++++++++//
@warn_glyph: '\0021';             // !
@cshn_glyph: '\2026'; // &hellip; // …
@skss_glyph: '\263a';             // ☺
@info_glyph: '\003f';             // ?
@help_glyph: '\2665'; // &hearts; // ♥

@color_warn_brdr: #f00; @color_warn_brdr: hsv(  0, 100%, 100%);
@color_cshn_brdr: #cf0; @color_cshn_brdr: hsv( 72, 100%, 100%);
@color_skss_brdr: #0f6; @color_skss_brdr: hsv(144, 100%, 100%);
@color_info_brdr: #06f; @color_info_brdr: hsv(216, 100%, 100%);
@color_help_brdr: #c0f; @color_help_brdr: hsv(288, 100%, 100%);

// .color_warn_brdr {background-color: @color_warn_brdr;}
// .color_cshn_brdr {background-color: @color_cshn_brdr;}
// .color_skss_brdr {background-color: @color_skss_brdr;}
// .color_info_brdr {background-color: @color_info_brdr;}
// .color_help_brdr {background-color: @color_help_brdr;}

@color_warn_txt: #610000; @color_warn_txt: darken(@color_warn_brdr, (@golden1 / 2));
@color_cshn_txt: #4e6100; @color_cshn_txt: darken(@color_cshn_brdr, (@golden1 / 2));
@color_skss_txt: #006127; @color_skss_txt: darken(@color_skss_brdr, (@golden1 / 2));
@color_info_txt: #002761; @color_info_txt: darken(@color_info_brdr, (@golden1 / 2));
@color_help_txt: #4e0061; @color_help_txt: darken(@color_help_brdr, (@golden1 / 2));

// .color_warn_txt {background-color: @color_warn_txt;}
// .color_cshn_txt {background-color: @color_cshn_txt;}
// .color_skss_txt {background-color: @color_skss_txt;}
// .color_info_txt {background-color: @color_info_txt;}
// .color_help_txt {background-color: @color_help_txt;}

@color_warn_bg: #ff9e9e; @color_warn_bg: lighten(@color_warn_brdr, (@golden1 / 2));
@color_cshn_bg: #ecff9e; @color_cshn_bg: lighten(@color_cshn_brdr, (@golden1 / 2));
@color_skss_bg: #9effc5; @color_skss_bg: lighten(@color_skss_brdr, (@golden1 / 2));
@color_info_bg: #9ec5ff; @color_info_bg: lighten(@color_info_brdr, (@golden1 / 2));
@color_help_bg: #ec9eff; @color_help_bg: lighten(@color_help_brdr, (@golden1 / 2));

// .color_warn_bg {background-color: @color_warn_bg;}
// .color_cshn_bg {background-color: @color_cshn_bg;}
// .color_skss_bg {background-color: @color_skss_bg;}
// .color_info_bg {background-color: @color_info_bg;}
// .color_help_bg {background-color: @color_help_bg;}
//++++ @end LABEL THEME ++++//

//++++++++++++//
/*@DARK COLORS*/
//++++++++++++//
.aperture_black,
.lakesuperior,
.facilityabyss,
.atlas,
.deploying,
.aperture_grey_0o6,
.aperture_grey_1o6,
.aperture_grey_2o6,
.solarized_base03,
.solarized_base02,
.cavescaves,
.vilify,
.color_warn_txt,
.color_cshn_txt,
.color_skss_txt,
.color_info_txt,
.color_help_txt
{color: fadeout(#fff, 25%);}
//++++ @end DARK COLORS ++++//
