
/*###############*\
    _fonts.less
\*###############*/

@font_size_lrg: (20/16); // 1.2500
@font_size_med: (16/16); // 1.0000
@font_size_sml: (12/16); // 0.7500

@fontfam_base:    'Optima','Lucida Grande','Tahoma',sans-serif;
@fontfam_prose:   'Baskerville','Palatino','Cochin',serif;
@fontfam_heading: 'Avenir','Seravek',sans-serif;
@fontfam_accent:  'Geneva','Tahoma',sans-serif;
@fontfam_code:    'Menlo','Monaco','Andale Mono',monospace;
@fontfam_math:    'Didot','Bodoni 72','Times',serif;
@fontfam_script:  'Zapfino','Savoye LET',script;

.fontfam_base    {font-family: @fontfam_base    !important;}
.fontfam_prose   {font-family: @fontfam_prose   !important;}
.fontfam_heading {font-family: @fontfam_heading !important;}
.fontfam_accent  {font-family: @fontfam_accent  !important;}
.fontfam_code    {font-family: @fontfam_code    !important;}
.fontfam_math    {font-family: @fontfam_math    !important;}
.fontfam_script  {font-family: @fontfam_script  !important;}
