/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    chharvey  |  chharvey.github.io project stylesheet
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import url('https://cdn.rawgit.com/chharvey/xmeter/v4.3.0/xmeter.css');
@import url('https://cdn.rawgit.com/chharvey/bangs/v0.8.0/bangs.css');
@import url('https://cdn.rawgit.com/chharvey/lux-nox/v1.2.0/lux-nox.css');
/*================================*\
    chharvey.less
\*================================*/
/*
 * # CONTENTS
 *
 * dev.css.......................development mode: fixes for imported stylesheets
 *
 * ## BASE
 * sections......................secioning content and section-related elements
 * grouping......................grouping content
 * ....paras.........................paragraphs, block-level textual elements
 * ....lists.........................ordered, unordered, association
 * ....tables........................tables
 * text..........................text-level and inline elements
 * ....links.........................inline hyperlinks
 * ....stress........................text outstanding from surrounding prose (e.g., <em> and <u>)
 * ....doctext.......................documentation elements (e.g., <dfn> and <var>)
 * ....data..........................machine- or human-readable data (e.g., <time> and <code>)
 *
 * ## OBJECTS
 * Block..........................a simple block object
 * Inline.........................a simple inline object
 * Box............................[description]
 * Textbox........................[description]
 * ListBare.......................[description]
 * GridFlex.......................grid of list items
 * GoldenContainer................[description]
 *
 * ## COMPONENTS
 * ### TYPOGRAPHIC
 * #### BLOCK-LEVEL
 * Document......................[description]
 * Subhead.......................[description]
 * FolioTitle....................[description]
 * Lede..........................[description]
 * Caption.......................[description]
 * Pullquote.....................[description]
 * ListAction....................[description]
 * ListFootnotes.................[description]
 * Table.........................[description]
 * #### TEXT-LEVEL
 * Acro..........................[description]
 * Camo..........................camouflaged hyperlinks
 *
 * ### UI (USER INTERACTION)
 * Alert.........................[description]
 * Label.........................[description]
 * Badge.........................[description]
 * Key...........................[description]
 * breadcrumbs...................[description]
 * IconButton....................[description]
 *
 * ## OVERRIDES
 * helpers.css...................context-agnostic helper classes
 *
 * ## ATOMS
 * width..........................[description]
 * padding........................[description]
 * font-size......................[description]
 * font-family....................[description]
 * background-color...............[description]
 *
 * shame.css.....................hacks and styles I haven’t figured out where to put yet
 */
/*################################*\
    chharvey  |  _dev.less
\*################################*/

/*################################*\
    chharvey  |  _base.sections.body.less
\*################################*/
body {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeSpeed;
}
@media screen {
  body {
    color: #0d0800;
    background: #f2f7ff;
    margin-bottom: 12rem;
  }
}

/*################################*\
    chharvey  |  _base.sections.headings.less
\*################################*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Optima', 'Seravek', 'Tahoma', sans-serif;
  font-weight: 800;
  text-rendering: geometricPrecision;
  -webkit-transition-property: font-size, line-height;
  -moz-transition-property: font-size, line-height;
  -ms-transition-property: font-size, line-height;
  -o-transition-property: font-size, line-height;
  transition-property: font-size, line-height;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
h1 {
  text-align: center;
  font-weight: 100;
}
@media screen and (min-width: 30em) {
  h1 {
    font-size: 2em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 45em) {
  h1 {
    font-size: 3em;
    line-height: 1;
  }
}
@media screen and (min-width: 60em) {
  h1 {
    font-size: 4em;
    line-height: 1.125;
  }
}
@media screen and (min-width: 75em) {
  h1 {
    font-size: 5em;
    line-height: 1.2;
  }
}
@media screen {
  h1 {
    color: #120099;
  }
}
h1.old {
  font-variant: small-caps;
  font-weight: 800;
}
@media screen and (min-width: 45em) {
  h2 {
    font-size: 2em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 60em) {
  h2 {
    font-size: 3em;
    line-height: 1;
  }
}
@media screen and (min-width: 75em) {
  h2 {
    font-size: 4em;
    line-height: 1.125;
  }
}
h2::after {
  content: '';
  display: block;
  border-bottom-width: 1px;
  margin-top: -1px;
  border-bottom-style: solid;
  border-bottom-color: currentColor;
  position: relative;
  top: 0;
}
@media screen {
  h2 {
    color: #3d6166;
  }
}
h3 {
  font-variant: small-caps;
}
@media screen and (min-width: 45em) {
  h3 {
    font-size: 1.5em;
    line-height: 1;
  }
}
@media screen and (min-width: 60em) {
  h3 {
    font-size: 2em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 75em) {
  h3 {
    font-size: 3em;
    line-height: 1;
  }
}
h4 {
  font-style: italic;
}
@media screen and (min-width: 45em) {
  h4 {
    font-size: 1.25em;
    line-height: 1.2;
  }
}
@media screen and (min-width: 60em) {
  h4 {
    font-size: 1.5em;
    line-height: 1;
  }
}
@media screen and (min-width: 75em) {
  h4 {
    font-size: 2em;
    line-height: 1.5;
  }
}
h5 {
  font-style: italic;
  font-weight: 400;
}
@media screen and (min-width: 45em) {
  h5 {
    font-size: 1em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 60em) {
  h5 {
    font-size: 1.25em;
    line-height: 1.2;
  }
}
@media screen and (min-width: 75em) {
  h5 {
    font-size: 1.5em;
    line-height: 1;
  }
}
@media screen {
  h5 {
    color: #3d6166;
  }
}
h6 {
  font-style: italic;
  font-weight: 400;
  font-variant: small-caps;
}
@media screen and (min-width: 45em) {
  h6 {
    font-size: 0.75em;
    line-height: 2;
  }
}
@media screen and (min-width: 60em) {
  h6 {
    font-size: 1em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 75em) {
  h6 {
    font-size: 1.25em;
    line-height: 1.2;
  }
}

/*################################*\
    chharvey  |  _base.grouping.paragraphs.less
\*################################*/
figure,
blockquote {
  padding-left: 1rem;
  padding-right: 1rem;
}
figcaption {
  font-size: 0.75em;
  line-height: 2;
}
blockquote > footer {
  text-align: right;
}
blockquote > footer > cite {
  quotes: '(' ')';
}
blockquote > footer > cite::before {
  content: open-quote;
}
blockquote > footer > cite::after {
  content: close-quote;
}
pre {
  font-size: 0.75em;
  line-height: 2;
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
@media screen {
  pre {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
    border-width: 2px;
    margin-top: -4px;
    background: #e3eafd;
    border-color: #d5dbee;
    color: #657b83;
  }
  pre > small {
    color: #93a1a1;
  }
  pre > strong {
    color: #586e75;
  }
}
@media print {
  pre {
    background-color: rgba(13, 8, 0, 0.2);
  }
}
pre > small,
pre code,
pre kbd,
pre samp {
  font-size: inherit;
}
pre > small {
  font-style: italic;
}

/*################################*\
    chharvey  |  _base.grouping.lists.less
\*################################*/
ul {
  list-style-type: square;
}

/*################################*\
    chharvey  |  _base.grouping.tables.less
\*################################*/
table {
  font-size: 0.75em;
  line-height: 2;
}
th,
td {
  padding: 0.375rem 0.5rem;
}

/*################################*\
    chharvey  |  _base.text.links.less
\*################################*/
a {
  color: #0062ff;
}
a:hover {
  text-decoration: underline;
  color: #ff9d00;
}
a:active {
  color: inherit;
}
@media screen and (max-width: 44.999em) {
  a:active {
    background-color: rgba(13, 8, 0, 0.2);
  }
}
@media screen {
  a {
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 125ms;
    -moz-transition-duration: 125ms;
    -ms-transition-duration: 125ms;
    -o-transition-duration: 125ms;
    transition-duration: 125ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -ms-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
  }
}
a[rel~="external"] {
  font-style: italic;
}

/*################################*\
    chharvey  |  _base.text.stress.less
\*################################*/
i:not([lang]) {
  quotes: '\201c' '\201d';
}
i:not([lang])::before {
  content: open-quote;
}
i:not([lang])::after {
  content: close-quote;
}
i[lang] {
  font-family: 'Didot', 'Bodoni 72', 'Times', serif;
}

/*################################*\
    chharvey  |  _base.text.doctext.less
\*################################*/
dfn {
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
}
dfn,
b,
abbr {
  white-space: nowrap;
}
var {
  quotes: '\2039' '\203a';
}
var::before {
  content: open-quote;
}
var::after {
  content: close-quote;
}

/*################################*\
    chharvey  |  _base.text.data.less
\*################################*/
@media print {
  code,
  kbd,
  samp {
    color: #0081cc;
  }
}
code {
  font-variant: normal;
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
@media screen {
  code {
    padding: 0.33333333em 0.33333333em 0.16666667em;
    border-radius: 0.25em;
    background: #fdf6e3;
    border: 1px solid #eee8d5;
    color: #836d65;
  }
}

/*################################*\
    chharvey  |  _obj.Block.less
\*################################*/
.o-Block {
  display: block;
  line-height: inherit;
}

/*################################*\
    chharvey  |  _obj.Inline.less
\*################################*/
.o-Inline {
  display: inline;
  line-height: 0;
}

/*################################*\
    chharvey  |  _obj.Box.less
\*################################*/
.o-Box {
  padding: 0.75rem 1rem;
  border-radius: 0.50rem;
  overflow: auto;
}
.o-Box--micr {
  padding: 0.1875rem 0.25rem;
  border-radius: 0.25rem;
}
.o-Box--mill {
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
}
.o-Box--norm {
  padding: 0.75rem 1rem;
  border-radius: 0.50rem;
}
.o-Box--kilo {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.o-Box--mega {
  padding: 2.25rem 3rem;
  border-radius: 1.5rem;
}
.o-Box--giga {
  padding: 3rem 4rem;
  border-radius: 2rem;
}
.o-Box--tera {
  padding: 4.5rem 6rem;
  border-radius: 3rem;
}
.o-Box--peta {
  padding: 6rem 8rem;
  border-radius: 4rem;
}
@media screen {
  .o-Box-s {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-s {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-s {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-s {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-s {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-s {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-s {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-s {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-s {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}
@media screen and (min-width: 30em) {
  .o-Box-sK {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-sK {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-sK {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-sK {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-sK {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-sK {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-sK {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-sK {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-sK {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}
@media screen and (min-width: 45em) {
  .o-Box-sM {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-sM {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-sM {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-sM {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-sM {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-sM {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-sM {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-sM {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-sM {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}
@media screen and (min-width: 60em) {
  .o-Box-sG {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-sG {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-sG {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-sG {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-sG {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-sG {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-sG {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-sG {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-sG {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}
@media screen and (min-width: 75em) {
  .o-Box-sT {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-sT {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-sT {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-sT {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-sT {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-sT {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-sT {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-sT {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-sT {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}
@media screen and (min-width: 90em) {
  .o-Box-sP {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-sP {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-sP {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-sP {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-sP {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-sP {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-sP {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-sP {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-sP {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}
@media print {
  .o-Box-p {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    overflow: auto;
  }
  .o-Box--micr-p {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.25rem;
  }
  .o-Box--mill-p {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }
  .o-Box--norm-p {
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
  }
  .o-Box--kilo-p {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .o-Box--mega-p {
    padding: 2.25rem 3rem;
    border-radius: 1.5rem;
  }
  .o-Box--giga-p {
    padding: 3rem 4rem;
    border-radius: 2rem;
  }
  .o-Box--tera-p {
    padding: 4.5rem 6rem;
    border-radius: 3rem;
  }
  .o-Box--peta-p {
    padding: 6rem 8rem;
    border-radius: 4rem;
  }
}

/*################################*\
    chharvey  |  _obj.Textbox.less
\*################################*/
.o-Textbox {
  padding: 0.33333333em 0.33333333em 0.16666667em;
  font-size: 0.75em;
  white-space: nowrap;
  border-radius: 0.25em;
}

/*################################*\
    chharvey  |  _obj.ListBare.less
\*################################*/
.o-ListBare {
  padding-left: 0;
  list-style: none;
}

/*################################*\
    chharvey  |  _obj.GridFlex.less
\*################################*/
.o-GridFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: inherit;
}
.o-GridFlex__Item {
  width: 100%;
}
@media screen {
  .o-GridFlex-s {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: inherit;
  }
  .o-GridFlex__Item-s {
    width: 100%;
  }
}
@media print {
  .o-GridFlex-p {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: inherit;
  }
  .o-GridFlex__Item-p {
    width: 100%;
  }
}

/*################################*\
    chharvey  |  _obj.GoldenContainer.less
\*################################*/
.o-GoldenContainer,
.o-GoldenContainerFlip {
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -ms-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen {
  .o-GoldenContainer,
  .o-GoldenContainerFlip {
    position: relative;
  }
}
@media screen and (min-width: 45em) {
}
@media screen and (min-width: 60em) {
}
@media screen and (min-width: 75em) {
}
.o-GoldenContainer__Content,
.o-GoldenContainer__Sidebar,
.o-GoldenContainerFlip__Content,
.o-GoldenContainerFlip__Sidebar {
  -webkit-transition-property: width, padding;
  -moz-transition-property: width, padding;
  -ms-transition-property: width, padding;
  -o-transition-property: width, padding;
  transition-property: width, padding;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen and (min-width: 30em) {
  .o-GoldenContainer__Content,
  .o-GoldenContainerFlip__Content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainer__Content,
  .o-GoldenContainerFlip__Content {
    position: relative;
    left: 38.19660113%;
    width: 61.80339887%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainer__Content,
  .o-GoldenContainerFlip__Content {
    left: 23.60679775%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 75em) {
  .o-GoldenContainer__Content,
  .o-GoldenContainerFlip__Content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainer__Sidebar,
  .o-GoldenContainerFlip__Sidebar {
    position: absolute;
    width: 38.19660113%;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainer__Sidebar--major,
  .o-GoldenContainerFlip__Sidebar--major {
    top: 0;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainer__Sidebar--major,
  .o-GoldenContainerFlip__Sidebar--major {
    width: 23.60679775%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainer__Sidebar--minor,
  .o-GoldenContainerFlip__Sidebar--minor {
    right: 0;
    top: 0;
    width: 14.58980338%;
  }
}
.o-GoldenContainer__Content__Page,
.o-GoldenContainer__Content__SideMajor,
.o-GoldenContainer__Content__SideMinor,
.o-GoldenContainerFlip__Content__Page,
.o-GoldenContainerFlip__Content__SideMajor,
.o-GoldenContainerFlip__Content__SideMinor {
  -webkit-transition-property: left, top, width, padding;
  -moz-transition-property: left, top, width, padding;
  -ms-transition-property: left, top, width, padding;
  -o-transition-property: left, top, width, padding;
  transition-property: left, top, width, padding;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
@media screen and (min-width: 45em) {
  .o-GoldenContainer__Content__Page,
  .o-GoldenContainerFlip__Content__Page {
    position: relative;
    left: calc(-61.80339887%  -  0.61803399rem  -  1rem);
    width: calc(161.80339887%  +  1.61803399rem);
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainer__Content__Page,
  .o-GoldenContainerFlip__Content__Page {
    left: calc(-38.19660113%  -  0.76393202rem  -  1rem);
    width: calc(161.80339887%  +  3.23606798rem);
  }
}
@media screen and (min-width: 75em) {
  .o-GoldenContainer__Content__Page,
  .o-GoldenContainerFlip__Content__Page {
    left: calc(-38.19660113%  -  1.52786405rem  -  2rem);
    width: calc(161.80339887%  +  6.47213595rem);
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainer__Content__SideMajor,
  .o-GoldenContainer__Content__SideMinor,
  .o-GoldenContainerFlip__Content__SideMajor,
  .o-GoldenContainerFlip__Content__SideMinor {
    position: absolute;
    left: -61.80339887%;
    width: 61.80339887%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainer__Content__SideMajor,
  .o-GoldenContainerFlip__Content__SideMajor {
    left: -38.19660113%;
    width: 38.19660113%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainer__Content__SideMinor,
  .o-GoldenContainerFlip__Content__SideMinor {
    left: 100%;
    width: 23.60679775%;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainer__Content__LeftBar {
    padding-left: 0.5rem;
    margin-left: -0.5rem;
  }
}
@media screen and (min-width: 75em) {
  .o-GoldenContainer__Content__LeftBar {
    padding-left: 1rem;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Content {
    left: 0;
    padding-left: 0;
    padding-left: initial;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content {
    left: 14.58980338%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Sidebar {
    left: 61.80339887%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Sidebar--major {
    left: auto;
    left: initial;
    right: 0;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Sidebar--minor {
    left: 0;
    right: auto;
    right: initial;
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Content__Page {
    position: relative;
    left: auto;
    left: initial;
    width: calc(161.80339887%  +  1.61803399rem);
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content__Page {
    left: calc(-23.60679775%  -  0.47213595rem  -  1rem);
    width: calc(161.80339887%  +  3.23606798rem);
  }
}
@media screen and (min-width: 75em) {
  .o-GoldenContainerFlip__Content__Page {
    left: calc(-23.60679775%  -  0.94427191rem  -  2rem);
    width: calc(161.80339887%  +  6.47213595rem);
  }
}
@media screen and (min-width: 45em) {
  .o-GoldenContainerFlip__Content__SideMajor,
  .o-GoldenContainerFlip__Content__SideMinor {
    left: 100%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content__SideMajor {
    left: 100%;
  }
}
@media screen and (min-width: 60em) {
  .o-GoldenContainerFlip__Content__SideMinor {
    left: -23.60679775%;
  }
}

/*################################*\
    chharvey  |  _comp.typo.Document.less
\*################################*/
.c-Document {
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif;
  text-align: justfy;
  text-rendering: optimizeLegibility;
}
.c-Document__Meta > dt {
  font-weight: 700;
}
.c-Document__Meta > dt::after {
  content: ':';
}
.c-Document__Meta .tod::before {
  content: '@\0020';
}
.c-Document__Draft {
  color: #660c00;
  background: rgba(255, 75, 51, 0.2);
}
.c-Document__Complete {
  color: #665800;
  background: rgba(255, 228, 51, 0.2);
}
.c-Document__Released {
  color: #375822;
  background: rgba(154, 204, 122, 0.2);
}
.c-Document__Informative {
  color: #0081cc;
  background: rgba(153, 218, 255, 0.2);
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
}
@media print {
  .c-Document__Informative {
    quotes: '(' ')';
  }
  .c-Document__Informative::before {
    content: open-quote;
  }
  .c-Document__Informative::after {
    content: close-quote;
  }
}

/*################################*\
    chharvey  |  _comp.typo.Subhead.less
\*################################*/
@media screen {
  .c-Subhead {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: 'Zapfino', 'Savoye LET', script;
    text-align: center;
    text-rendering: geometricPrecision;
    color: #ff7e33;
  }
}
@media screen {
  .c-Subhead {
    font-size: 1em;
    line-height: 3;
  }
}
@media screen and (min-width: 45em) {
  .c-Subhead {
    font-size: 1.5em;
    line-height: 1;
  }
}
@media screen and (min-width: 60em) {
  .c-Subhead {
    font-size: 2em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 75em) {
  .c-Subhead {
    font-size: 3em;
    line-height: 1;
  }
}

/*################################*\
    chharvey  |  _comp.typo.FolioTitle.less
\*################################*/
@media screen {
  .c-FolioTitle {
    padding-top: 6rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: 'Zapfino', 'Savoye LET', script;
    text-align: center;
    text-rendering: geometricPrecision;
    color: #120099;
  }
}
@media screen {
  .c-FolioTitle {
    font-size: 1.5em;
    line-height: 2;
  }
}
@media screen and (min-width: 30em) {
  .c-FolioTitle {
    font-size: 2em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 45em) {
  .c-FolioTitle {
    font-size: 1.5em;
    line-height: 1;
  }
}
@media screen and (min-width: 60em) {
  .c-FolioTitle {
    font-size: 3em;
    line-height: 1;
  }
}
@media screen and (min-width: 75em) {
  .c-FolioTitle {
    font-size: 4em;
    line-height: 1.125;
  }
}
@media screen {
  .c-FolioTitle__Cap {
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

/*################################*\
    chharvey  |  _comp.typo.Lede.less
\*################################*/
.c-Lede {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #120099;
  text-rendering: optimizeLegibility;
}
.c-Lede--dropcap::first-letter,
.c-Dropcap {
  float: left;
  padding-top: 2.25rem;
  padding-right: 0.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 0;
  font-family: 'Zapfino', 'Savoye LET', script;
  text-rendering: geometricPrecision;
}

/*################################*\
    chharvey  |  _comp.typo.Caption.less
\*################################*/
.c-Caption {
  font-size: 0.75em;
  line-height: 2;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}
.c-Caption--before {
  border-bottom-width: 1px;
  margin-top: -1px;
  border-bottom-style: dotted;
}
.c-Caption--after {
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: dotted;
}
.c-Caption__Title {
  margin-right: 1rem;
  font-weight: 500;
}

/*################################*\
    chharvey  |  _comp.typo.Pullquote.less
\*################################*/
.c-Pullquote {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
}
.c-Pullquote__Src {
  font-size: 0.75em;
  line-height: 3;
  display: block;
  text-align: right;
}
.c-Pullquote__Src::before {
  content: '~\0020';
}

/*################################*\
    chharvey  |  _comp.typo.ListAction.less
\*################################*/
.c-ListAction {
  padding-left: 0;
  list-style-type: none;
  color: #0062ff;
}
.c-ListAction__Item::before {
  content: '\2713\0020';
}

/*################################*\
    chharvey  |  _comp.typo.ListFootnotes.less
\*################################*/
.c-ListFootnotes {
  font-size: 0.75em;
  line-height: 2;
  padding-left: 1rem;
  text-indent: -1rem;
  list-style: none;
}
.c-ListFootnotes::before {
  content: '';
  display: block;
  border-top-width: 1px;
  margin-top: -1px;
  border-top-style: solid;
  border-top-color: currentColor;
  position: relative;
  bottom: 0.75rem;
}
.c-ListFootnotes::before {
  width: 61.80339887%;
  margin-left: -1rem;
  opacity: 0.25;
}
.Rf,
.Fn {
  quotes: '[' ']';
}
.Rf::before,
.Fn::before {
  content: open-quote;
}
.Rf::after,
.Fn::after {
  content: close-quote;
}

/*################################*\
    chharvey  |  _comp.typo.Table.less
\*################################*/
.mx-bordered,
.c-TableBordered,
.c-TableBorderedRows > *:not(caption) ~ *:not(dt):not(dd),
.c-TableBorderedRows > * > tr:not(:first-child),
.c-TableBorderedRows > dt:not(:first-of-type),
.c-TableBorderedRows dd:not(:first-of-type) {
  border-color: rgba(13, 8, 0, 0.2);
}
.mx-shaded,
.c-TableShaded,
.c-TableShadedRows > tbody > tr:nth-child(even),
.c-TableShadedRows > dt:nth-child(4n+3),
.c-TableShadedRows > dd:nth-child(4n),
.c-TableShadedCols > * > tr > *:nth-child(even),
.c-TableShadedCols > dd,
.c-TableHover > * > tr:hover,
.c-TableHover > dt:hover,
.c-TableHover > dd:hover {
  background-color: rgba(13, 8, 0, 0.2);
}
.c-TableBordered {
  border-width: 3px;
  margin-top: -6px;
}
.c-TableBorderedRows > *:not(caption) ~ *:not(dt):not(dd) {
  border-top-width: 2px;
  margin-top: -2px;
}
.c-TableBorderedRows > * > tr:not(:first-child) {
  border-top-width: 1px;
  margin-top: -1px;
}
.c-TableBorderedRows > dt:not(:first-of-type),
.c-TableBorderedRows dd:not(:first-of-type) {
  border-top-width: 1px;
  margin-top: -1px;
}
.c-TableBorderedCols > * > tr > *:not(:first-child),
.c-TableBorderedCols > dd {
  border-left-width: 1px;
}
table.c-TableOldstyle {
  border-collapse: separate;
  border-spacing: 2px;
  border-style: outset;
}
table.c-TableOldstyle,
table.c-TableOldstyle th,
table.c-TableOldstyle td {
  border-width: 1px;
  border-color: #888;
}
table.c-TableOldstyle th,
table.c-TableOldstyle td {
  border-style: inset;
  padding: 1px;
}
dd.c-TableOldstyle {
  border-style: outset;
}
dd.c-TableOldstyle,
dd.c-TableOldstyle dt,
dd.c-TableOldstyle dd {
  border-width: 1px;
  border-color: #888;
  margin: 2px;
}
dd.c-TableOldstyle dt,
dd.c-TableOldstyle dd {
  border-style: inset;
  padding: 1px;
}

/*################################*\
    chharvey  |  _comp.typo.FigImg.less
\*################################*/
figure > img,
.c-FigImg {
  box-shadow: 0 0.25rem 0.5rem 0.5rem rgba(13, 8, 0, 0.2);
}

/*################################*\
    chharvey  |  _comp.typo.Acro.less
\*################################*/
.c-Acro {
  font-size: 0.75em;
}
.c-Acro__First {
  font-size: 1.33333333em;
}

/*################################*\
    chharvey  |  _comp.typo.Camo.less
\*################################*/
.c-Camo {
  font-style: inherit !important;
  opacity: 1 !important;
  opacity: initial !important;
  color: inherit;
}

/*################################*\
    chharvey  |  _comp.ui.Alert.less
\*################################*/
.c-Alert {
  font-size: 0.75em;
  line-height: 2;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  box-shadow: 0 1px 2px 1px rgba(13, 8, 0, 0.2);
  background: #c7c5c2;
  text-shadow: 0 1px 4px rgba(242, 247, 255, 0.8);
  color: #0d0800;
  font-weight: 200;
}
.c-Alert--dang {
  box-shadow: 0 1px 2px 1px rgba(13, 8, 0, 0.2);
  background: #383a3d;
  text-shadow: 0 1px 4px rgba(13, 8, 0, 0.8);
  color: #f2f7ff;
  background: #ff4b33;
}
.c-Alert--cshn {
  background: #ffe433;
}
.c-Alert--skss {
  background: #9acc7a;
}
.c-Alert--info {
  background: #99daff;
}
.c-Alert--help {
  background: #ff99c0;
}
.c-Alert__Title {
  padding-right: 1rem;
  font-weight: 500;
}
.c-Alert__Link {
  font-weight: 600;
  text-shadow: none;
}
.c-Alert__Link,
.c-Alert__Link:hover {
  color: #9d00ff;
}

/*################################*\
    chharvey  |  _comp.ui.Label.less
\*################################*/
.c-Label {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  box-shadow: 0 1px 2px 1px rgba(13, 8, 0, 0.2);
  background: #c7c5c2;
  text-shadow: 0 1px 4px rgba(242, 247, 255, 0.8);
  color: #0d0800;
  font-weight: 200;
}
.c-Label--dang {
  box-shadow: 0 1px 2px 1px rgba(13, 8, 0, 0.2);
  background: #383a3d;
  text-shadow: 0 1px 4px rgba(13, 8, 0, 0.8);
  color: #f2f7ff;
  background: #ff4b33;
}
.c-Label--cshn {
  background: #ffe433;
}
.c-Label--skss {
  background: #9acc7a;
}
.c-Label--info {
  background: #99daff;
}
.c-Label--help {
  background: #ff99c0;
}

/*################################*\
    chharvey  |  _comp.ui.Badge.less
\*################################*/
.c-Badge {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  box-shadow: 0 1px 2px 1px rgba(13, 8, 0, 0.2);
  background: #383a3d;
  text-shadow: 0 1px 4px rgba(13, 8, 0, 0.8);
  color: #f2f7ff;
  padding-left: 0.66666667em;
  padding-right: 0.66666667em;
  font-weight: 500;
  border-radius: 1em;
}
.c-Badge--dang {
  background: #cc1800;
}
.c-Badge--cshn {
  background: #ccb100;
}
.c-Badge--skss {
  background: #65a23e;
}
.c-Badge--info {
  background: #33b4ff;
}
.c-Badge--help {
  background: #ff3381;
}

/*################################*\
    chharvey  |  _comp.ui.Key.less
\*################################*/
.c-Key {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
}
@media screen {
  .c-Key {
    padding-bottom: 0.08333333em;
    font-size: 0.75rem;
    border: 1px solid #073642;
    background: #002b36;
    color: #93a1a1;
    text-shadow: 0 1px 2px rgba(242, 247, 255, 0.2);
    box-shadow: 0 1px 2px 1px rgba(13, 8, 0, 0.2), inset 0 2px 1px 0 rgba(242, 247, 255, 0.2);
  }
}

/*################################*\
    chharvey  |  _breadcrumbs.less
\*################################*/
.Bc {
  width: 14.58980338%;
  margin-left: 3.44418537%;
  margin-right: 5.572809%;
  position: fixed;
  left: 0;
  top: 1.5rem;
  z-index: 1;
}
@media print {
  .Bc {
    display: none;
  }
}
.Bc .Anc,
.Bc .Sib,
.Bc .Child {
  padding: 0;
  list-style-type: none;
}
.Crumb {
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  display: block;
  padding-left: 0.75rem;
  border-radius: 0.75rem;
  line-height: inherit;
  color: #0062ff;
  background-color: #c3daff;
  cursor: pointer;
}
.Crumb:hover {
  text-decoration: none !important;
}
.Crumb:not([rel~="this"]):hover {
  background-color: #ffe8c3;
}
.Crumb[rel~="this"] {
  position: relative;
  left: 0.75rem;
  font-weight: 700;
  color: #f2f7ff !important;
  background-color: #0062ff;
}

/*################################*\
    chharvey  |  _comp.ui.IconButton.less
\*################################*/
.c-IconButton {
  display: block;
  background-repeat: no-repeat;
}
.c-IconButton,
.c-IconButton:hover {
  color: transparent;
}

/*################################*\
    chharvey  |  _helpers.less
\*################################*/
.crossgrid-lined {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lined.svg');
  background-size: 1px 24px;
  background-repeat: repeat;
  background-position: left bottom;
}
.crossgrid-phi {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-phi.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.crossgrid-even {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-even.svg');
  background-size: 100% 24px;
  background-repeat: repeat-y;
}
.crossgrid-lcm {
  background-image: url('https://chharvey.github.io/core/images/crossgrid-lcm.svg');
  background-size: 100% 24px;
  background-repeat: repeat;
}
.h-demo {
  outline: 1px solid #383a3d;
  background-color: rgba(13, 8, 0, 0.2);
}
.h-AfterComma::after {
  content: ',\0020';
}
.h-AfterSem::after {
  content: ';\0020';
}
.h-AfterMdash::after {
  content: '\00a0\2014\00a0';
}
.h-AfterNdash::after {
  content: '\00a0\2013\00a0';
}
.h-AfterDisc::after {
  content: '\00a0\2022\00a0';
}
.h-AfterSquare::after {
  content: '\00a0\25aa\00a0';
}
@media print {
  .h-AfterComma-p::after {
    content: ',\0020';
  }
  .h-AfterSem-p::after {
    content: ';\0020';
  }
  .h-AfterMdash-p::after {
    content: '\00a0\2014\00a0';
  }
  .h-AfterNdash-p::after {
    content: '\00a0\2013\00a0';
  }
  .h-AfterDisc-p::after {
    content: '\00a0\2022\00a0';
  }
  .h-AfterSquare-p::after {
    content: '\00a0\25aa\00a0';
  }
}
.h-Clearfix::after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
@media screen {
  .h-Clearfix-s::after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
  }
}
@media print {
  .h-Clearfix-p::after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
  }
}

/*################################*\
    chharvey  |  _atom.width.less
\*################################*/
.a-w-p0 {
  width: 100% !important;
}
.a-w-p1 {
  width: 61.80339887% !important;
}
.a-w-p2 {
  width: 38.19660113% !important;
}
.a-w-p3 {
  width: 23.60679775% !important;
}
.a-w-p4 {
  width: 14.58980338% !important;
}
.a-w-p1c {
  width: 38.19660113% !important;
}
.a-w-p2c {
  width: 61.80339887% !important;
}
.a-w-p3c {
  width: 76.39320225% !important;
}
.a-w-p4c {
  width: 85.41019662% !important;
}
@media screen {
  .a-w-p0-s {
    width: 100% !important;
  }
  .a-w-p1-s {
    width: 61.80339887% !important;
  }
  .a-w-p2-s {
    width: 38.19660113% !important;
  }
  .a-w-p3-s {
    width: 23.60679775% !important;
  }
  .a-w-p4-s {
    width: 14.58980338% !important;
  }
  .a-w-p1c-s {
    width: 38.19660113% !important;
  }
  .a-w-p2c-s {
    width: 61.80339887% !important;
  }
  .a-w-p3c-s {
    width: 76.39320225% !important;
  }
  .a-w-p4c-s {
    width: 85.41019662% !important;
  }
}
@media print {
  .a-w-p0-p {
    width: 100% !important;
  }
  .a-w-p1-p {
    width: 61.80339887% !important;
  }
  .a-w-p2-p {
    width: 38.19660113% !important;
  }
  .a-w-p3-p {
    width: 23.60679775% !important;
  }
  .a-w-p4-p {
    width: 14.58980338% !important;
  }
  .a-w-p1c-p {
    width: 38.19660113% !important;
  }
  .a-w-p2c-p {
    width: 61.80339887% !important;
  }
  .a-w-p3c-p {
    width: 76.39320225% !important;
  }
  .a-w-p4c-p {
    width: 85.41019662% !important;
  }
}

/*################################*\
    chharvey  |  _atom.padding.less
\*################################*/

/*################################*\
    chharvey  |  _atom.font-size.less
\*################################*/
.a-fz-peta,
.a-fz-hex {
  font-size: 6em !important;
}
.a-fz-tera,
.a-fz-tet {
  font-size: 4em !important;
}
.a-fz-giga,
.a-fz-tri {
  font-size: 3em !important;
}
.a-fz-mega,
.a-fz-di {
  font-size: 2em !important;
}
.a-fz-kilo,
.a-fz-sesqui {
  font-size: 1.5em !important;
}
.a-fz-norm {
  font-size: 1em !important;
}
.a-fz-mill,
.a-fz-dodrans {
  font-size: 0.75em !important;
}
.a-fz-micr,
.a-fz-semi {
  font-size: 0.5em !important;
}
@media screen {
  .a-fz-peta-s,
  .a-fz-hex-s {
    font-size: 6em !important;
  }
  .a-fz-tera-s,
  .a-fz-tet-s {
    font-size: 4em !important;
  }
  .a-fz-giga-s,
  .a-fz-tri-s {
    font-size: 3em !important;
  }
  .a-fz-mega-s,
  .a-fz-di-s {
    font-size: 2em !important;
  }
  .a-fz-kilo-s,
  .a-fz-sesqui-s {
    font-size: 1.5em !important;
  }
  .a-fz-norm-s {
    font-size: 1em !important;
  }
  .a-fz-mill-s,
  .a-fz-dodrans-s {
    font-size: 0.75em !important;
  }
  .a-fz-micr-s,
  .a-fz-semi-s {
    font-size: 0.5em !important;
  }
}
@media print {
  .a-fz-peta-p,
  .a-fz-hex-p {
    font-size: 6em !important;
  }
  .a-fz-tera-p,
  .a-fz-tet-p {
    font-size: 4em !important;
  }
  .a-fz-giga-p,
  .a-fz-tri-p {
    font-size: 3em !important;
  }
  .a-fz-mega-p,
  .a-fz-di-p {
    font-size: 2em !important;
  }
  .a-fz-kilo-p,
  .a-fz-sesqui-p {
    font-size: 1.5em !important;
  }
  .a-fz-norm-p {
    font-size: 1em !important;
  }
  .a-fz-mill-p,
  .a-fz-dodrans-p {
    font-size: 0.75em !important;
  }
  .a-fz-micr-p,
  .a-fz-semi-p {
    font-size: 0.5em !important;
  }
}
.a-fzb-peta,
.a-fzb-hex {
  font-size: 6em;
  line-height: 0.25;
}
.a-fzb-tera,
.a-fzb-tet {
  font-size: 4em;
  line-height: 0.375;
}
.a-fzb-giga,
.a-fzb-tri {
  font-size: 3em;
  line-height: 0.5;
}
.a-fzb-mega,
.a-fzb-di {
  font-size: 2em;
  line-height: 0.75;
}
.a-fzb-kilo,
.a-fzb-sesqui {
  font-size: 1.5em;
  line-height: 1;
}
.a-fzb-norm {
  font-size: 1em;
  line-height: 1.5;
}
.a-fzb-mill,
.a-fzb-dodrans {
  font-size: 0.75em;
  line-height: 2;
}
.a-fzb-micr,
.a-fzb-semi {
  font-size: 0.5em;
  line-height: 3;
}
@media screen {
  .a-fzb-peta-s,
  .a-fzb-hex-s {
    font-size: 6em;
    line-height: 0.25;
  }
  .a-fzb-tera-s,
  .a-fzb-tet-s {
    font-size: 4em;
    line-height: 0.375;
  }
  .a-fzb-giga-s,
  .a-fzb-tri-s {
    font-size: 3em;
    line-height: 0.5;
  }
  .a-fzb-mega-s,
  .a-fzb-di-s {
    font-size: 2em;
    line-height: 0.75;
  }
  .a-fzb-kilo-s,
  .a-fzb-sesqui-s {
    font-size: 1.5em;
    line-height: 1;
  }
  .a-fzb-norm-s {
    font-size: 1em;
    line-height: 1.5;
  }
  .a-fzb-mill-s,
  .a-fzb-dodrans-s {
    font-size: 0.75em;
    line-height: 2;
  }
  .a-fzb-micr-s,
  .a-fzb-semi-s {
    font-size: 0.5em;
    line-height: 3;
  }
}
@media print {
  .a-fzb-peta-p,
  .a-fzb-hex-p {
    font-size: 6em;
    line-height: 0.25;
  }
  .a-fzb-tera-p,
  .a-fzb-tet-p {
    font-size: 4em;
    line-height: 0.375;
  }
  .a-fzb-giga-p,
  .a-fzb-tri-p {
    font-size: 3em;
    line-height: 0.5;
  }
  .a-fzb-mega-p,
  .a-fzb-di-p {
    font-size: 2em;
    line-height: 0.75;
  }
  .a-fzb-kilo-p,
  .a-fzb-sesqui-p {
    font-size: 1.5em;
    line-height: 1;
  }
  .a-fzb-norm-p {
    font-size: 1em;
    line-height: 1.5;
  }
  .a-fzb-mill-p,
  .a-fzb-dodrans-p {
    font-size: 0.75em;
    line-height: 2;
  }
  .a-fzb-micr-p,
  .a-fzb-semi-p {
    font-size: 0.5em;
    line-height: 3;
  }
}

/*################################*\
    chharvey  |  _atom.font-family.less
\*################################*/
.a-ff-base {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif !important;
}
.a-ff-prose {
  font-family: 'Baskerville', 'Palatino', 'Cochin', serif !important;
}
.a-ff-heading {
  font-family: 'Optima', 'Seravek', 'Tahoma', sans-serif !important;
}
.a-ff-accent {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif !important;
}
.a-ff-code {
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace !important;
}
.a-ff-math {
  font-family: 'Didot', 'Bodoni 72', 'Times', serif !important;
}
.a-ff-script {
  font-family: 'Zapfino', 'Savoye LET', script !important;
}
@media screen {
  .a-ff-base-s {
    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  }
  .a-ff-prose-s {
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif !important;
  }
  .a-ff-heading-s {
    font-family: 'Optima', 'Seravek', 'Tahoma', sans-serif !important;
  }
  .a-ff-accent-s {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif !important;
  }
  .a-ff-code-s {
    font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace !important;
  }
  .a-ff-math-s {
    font-family: 'Didot', 'Bodoni 72', 'Times', serif !important;
  }
  .a-ff-script-s {
    font-family: 'Zapfino', 'Savoye LET', script !important;
  }
}
@media print {
  .a-ff-base-p {
    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  }
  .a-ff-prose-p {
    font-family: 'Baskerville', 'Palatino', 'Cochin', serif !important;
  }
  .a-ff-heading-p {
    font-family: 'Optima', 'Seravek', 'Tahoma', sans-serif !important;
  }
  .a-ff-accent-p {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif !important;
  }
  .a-ff-code-p {
    font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace !important;
  }
  .a-ff-math-p {
    font-family: 'Didot', 'Bodoni 72', 'Times', serif !important;
  }
  .a-ff-script-p {
    font-family: 'Zapfino', 'Savoye LET', script !important;
  }
}

/*################################*\
    chharvey  |  _atom.list-style-type.less
\*################################*/

/*################################*\
    chharvey  |  _atom.background-color.less
\*################################*/
.a-bc-aperturewhite {
  background-color: #f2f7ff !important;
}
.a-bc-apertureblack {
  background-color: #0d0800 !important;
}
.a-bc-lakesuperior {
  background-color: #120099 !important;
}
.a-bc-facilityabyss {
  background-color: #3d6166 !important;
}
.a-bc-atlas {
  background-color: #0062ff !important;
}
.a-bc-pbody {
  background-color: #ff9d00 !important;
}
.a-bc-cavescaves {
  background-color: #80522b !important;
}
.a-bc-asbestos {
  background-color: #bf9300 !important;
}
.a-bc-repulsion {
  background-color: #33b4ff !important;
}
.a-bc-propulsion {
  background-color: #ff7e33 !important;
}
.a-bc-deploying {
  background-color: #ff4b33 !important;
}
.a-bc-hereye {
  background-color: #ffe433 !important;
}
.a-bc-neurotoxin {
  background-color: #9acc7a !important;
}
.a-bc-bridges {
  background-color: #99daff !important;
}
.a-bc-companion {
  background-color: #ff99c0 !important;
}
.a-bc-vilify {
  background-color: #9d00ff !important;
}
.a-bc-graylite {
  background-color: #c7c5c2 !important;
}
.a-bc-graydark {
  background-color: #383a3d !important;
}
.a-bc-tintlight {
  background-color: rgba(242, 247, 255, 0.2) !important;
}
.a-bc-shadelight {
  background-color: rgba(13, 8, 0, 0.2) !important;
}
.a-bc-tintheavy {
  background-color: rgba(242, 247, 255, 0.8) !important;
}
.a-bc-shadeheavy {
  background-color: rgba(13, 8, 0, 0.8) !important;
}

/*################################*\
    chharvey  |  _shame.less
\*################################*/
.t-bg-sol-lite {
  background: #fdf6e3;
  border-color: #eee8d5;
}
.t-bg-sol-dark {
  background: #002b36;
  border-color: #073642;
}
.t-bg-lun-lite {
  background: #e3eafd;
  border-color: #d5dbee;
}
.t-bg-lun-dark {
  background: #360b00;
  border-color: #421307;
}
.t-fg-sol-lite {
  color: #657b83;
}
.t-fg-sol-dark {
  color: #839496;
}
.t-fg-lun-lite {
  color: #836d65;
}
.t-fg-lun-dark {
  color: #968583;
}
.t-fg-sol-lite > .c__Comm {
  color: #93a1a1;
}
.t-fg-sol-dark > .c__Comm {
  color: #586e75;
}
.t-fg-lun-lite > .c__Comm {
  color: #a19393;
}
.t-fg-lun-dark > .c__Comm {
  color: #755f58;
}
.t-fg-sol-lite > .c__Emph {
  color: #586e75;
}
.t-fg-sol-dark > .c__Emph {
  color: #93a1a1;
}
.t-fg-lun-lite > .c__Emph {
  color: #755f58;
}
.t-fg-lun-dark > .c__Emph {
  color: #a19393;
}
.t-ac-sol .c__Ctl {
  color: #dc322f;
}
.t-ac-lun .c__Ctl {
  color: #d55e67;
}
.t-ac-sol .c__Opr {
  color: #cb4b16;
}
.t-ac-lun .c__Opr {
  color: #d9742d;
}
.t-ac-sol .c__Kwd {
  color: #b58900;
}
.t-ac-lun .c__Kwd {
  color: #938e3b;
}
.t-ac-sol .c__Cst {
  color: #859900;
}
.t-ac-lun .c__Cst {
  color: #2cc97d;
}
.t-ac-sol .c__Str {
  color: #2aa198;
}
.t-ac-lun .c__Str {
  color: #23cdd0;
}
.t-ac-sol .c__Cmd {
  color: #268bd2;
}
.t-ac-lun .c__Cmd {
  color: #34b4e9;
}
.t-ac-sol .c__Arg {
  color: #6c71c4;
}
.t-ac-lun .c__Arg {
  color: #4a76ff;
}
.t-ac-sol .c__Obj {
  color: #d33682;
}
.t-ac-lun .c__Obj {
  color: #7a66ff;
}
.t-ac-sol .c__Tag {
  color: #268bd2;
}
.t-ac-lun .c__Tag {
  color: #34b4e9;
}
.t-ac-sol .c__Atr {
  color: #b58900;
}
.t-ac-lun .c__Atr {
  color: #938e3b;
}
.t-ac-sol .c__Val {
  color: #2aa198;
}
.t-ac-lun .c__Val {
  color: #23cdd0;
}
.t-ac-sol .c__Sel {
  color: #268bd2;
}
.t-ac-lun .c__Sel {
  color: #34b4e9;
}
.t-ac-sol .c__Prp {
  color: #b58900;
}
.t-ac-lun .c__Prp {
  color: #938e3b;
}
.js-mt,
.js-mb {
  font-family: 'Didot', 'Bodoni 72', 'Times', serif;
  white-space: pre;
  overflow: auto;
}
.js-mb {
  display: block;
  min-height: 4.5rem;
}

