---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Teaching in Secondary Schools</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content="A presentation on Cultural Perceptions and Expectations in the classroom."/>
<link rel="stylesheet" href="../higher-ed.css"/>
{% include all-js.html %}
</head>
<body>
{% include masthead.html %}
<header class="courseinfo">
  <div class="courseinfo-name">EDCI 5724</div>
  <div class="courseinfo-name">Mathematics Teaching in Secondary Schools</div>
  <div class="courseinfo-term">Fall, 2011 &ndash; Spring, 2012</div>
  <div class="courseinfo-prof">Instructor: <a href="http://www.mathed.soe.vt.edu/Faculty/kreye.html">Dr. Betti Kreye</a></div>
</header>
<main>
<iframe src="https://docs.google.com/presentation/embed?id=1KdXeV3Qpt4gT39bg_A5GG2BW32Ui2QEZ-hjWMBnu8iU&start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" webkitallowfullscreen="true" title="Culture Presentation. 22-SEP-2011"></iframe>
<footer class="APA-referencelist">
  <h2 class="APA-heading-title">References</h2>
  <ol class="APAreferenceList">
    <li itemprop="citation"><cite class="APAreference" id="Barta2009"><a href="../docs/math_ed_references.php#Barta2009">Barta, James, S&aacute;nchez, L., &amp; Barta, Jacob (2009).</a> Math in the milpa. <i>Teaching Children Mathematics, 16</i>(2), 90&ndash;97.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Gardner1959">Gardner, G. H. (1959). The arab middle east: Some background interpretations. <i>Journal of Social Issues, 15</i>(3), 20&ndash;27.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Gay2003">Gay, G., &amp; Kirkland, K. (2003). Developing cultural critical consciousness and self-reflection in preservice teacher eucation. <i>Theory Into Practice, 42</i>(3), 181&ndash;187.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Kim2009">Kim, K. H. (2009). Cultural influence on creativity: The relation between Asian culture and creativity among Korean educators. <i>Journal of Creative Behavior, 43</i>(2), 73&ndash;93.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Mankus1998">Mankus, M. (1998). What's my number? Retrieved from <a href="http://mason.gmu.edu/~mmankus/PBlocks/pbact/whatnum.htm">http://mason.gmu.edu/~mmankus/PBlocks/pbact/whatnum.htm</a>.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Nss2010">Nss, H. E. (2010). The ambiguities of intercultural dialgoue: Critical perspectives on the European union's new agenda for culture. <i>Culture of Intercultural Communication, 23</i>.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Ogbu1982">Ogbu, J. U. (1982). Cultural discontinuities and schooling. <i>Anthropology and Education Quarterly, 13</i>(4), 290&ndash;307.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Ormrod2009"><a href="../docs/edu_references.php#Ormrod2009">Ormrod, J. (2009).</a> <i>Essentials of educational psychology</i> (2nd ed.). Upper Saddle River, NJ: Pearson Education, Inc.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Skiba2001"><a href="../docs/math_ed_references.php#Skiba2001">Skiba, A. E. (2001, November).</a> The impact of culture on Japanese mathematics education. Retrieved from <a href="http://www.nctm.org/resources/content.aspx?id=1556">http://www.nctm.org/resources/content.aspx?id=1556</a>.</cite></li>
    <li itemprop="citation"><cite class="APAreference" id="Wren1999">Wren, D. J. (1999). School culture: Exploring the hidden curriculum. <i>Adolescence, 34</i>(135), 593.</cite></li>
  </ol>
</footer>
</main>
</body>
</html>
