
/*####################*\
    _paragraphs.less
\*####################*/

// Table of Contents
// - PARAGRAPHS
// - QUASI-PARAGRAPHS


//+++++++++++//
/*@PARAGRAPHS*/
//+++++++++++//
/**
  * This Object refers to the first ("lede"/"lead") sentence in a paragraph or caption, which may
  * act as a "heading" for that paragraph or caption.
  * It may also contain the title of a `table` or `figure` inside the `table > caption` or
  * `figure > figcaption`, respectively.
  * This Object is typically a child of a paragraph.
  * This can also be useful in a list of prose ("LOP"), whose list items consist of long prose text.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.Lede {
  padding-right: 1rem;
  font-weight: bold;
}

/**
  * This Object represents an introduction paragraph, typically referred to as a "standfirst"
  * (in the U.K.). It may also serve as an abstract of a scholarly article. This Object almost
  * always follows a heading.
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2015-02-19
  */
.Intro {
  font-weight: bold;
  .Article & {
    letter-spacing: -0.5px;
  }
}

/**
  * This Object represents a paragraph whose first letter is a dropped capital ("drop cap").
@implements
: .font-size-block()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2015-02-11
  */
.Dropcap {
  &::first-letter {
    .font-size-block(2; @line_height_base);
    float: left;
    padding-top: @vru_core;
    padding-right: 0.5rem;
    font-style:  normal;
    font-weight: normal;
    font-family: @fontfam_script;
    color: @color_h_major;
  }
}
//++++ @end PARAGRAPHS ++++//


//+++++++++++++++++//
/*@QUASI-PARAGRAPHS*/
//+++++++++++++++++//
/**
  * A `figure` Element.
  * Class `.Text` adds a lined-paper background. For figures whose contents are only text.
@implements
: .crossgrid-lined()
@tags
: #typography
: #figure
@author
: Chris Harvey
@updated
: 2015-02-16
  */
figure {
  border-left:  0.25rem solid @color_border;
  border-right: 0.25rem solid @color_border;
  padding-left:  0.75rem;
  padding-right: 0.75rem;
  text-align: center;
}
.Text {
  .crossgrid-lined();
}

/**
  * A `blockquote` represents material taken directly from another source. Typically,
  * block quotations are used when the original source has more than 40 words and/or contains
  * paragraph breaks. In either of these cases, the `blockquote` should contain child `p` Elements
  * that correspond to the source (or not have any children `p` Elements if the source does not).
  *
  * Sometimes authors may use a block quotation to highlight extracted inline text from an article,
  * for example. These are so-called "short" block quotations.
  * If the original source is less than 40 words and does not have paragraph breaks,
  * use the `blockquote.Short` class. It should *not* contain `p` Elements.
  *
  * In a normal block quote, the quoted work should be indicated by the `blockquote > footer > cite`.
  * For `blockquote.Short`, do not use a `footer` (just use `blockquote > cite`).
@implements
: .crossgrid-lined()
: .font-size-block()
: .parens()
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2015-02-11
  */
blockquote {
  .crossgrid-lined();
  border-left: 0.75rem double @color_border;
  padding-left: 0.25rem;
  font-family: @fontfam_accent;
  > footer {
    text-align: right;
    > cite {
      .parens();
    }
  }
}
.Short {
  .font-size-block(@font_size_lrg; 1.5 * @line_height_base);
  background-image: none;
  > cite {
    display: block;
    .font-size-block(@font_size_sml; 1.5 * @line_height_base);
    text-align: right;
    &::before {content: '~\0020';}
  }
}

/**
  * `pre` Element
  * CHANGED: Will only use `pre` for blocks of code. No longer using child `code` Element.
  * - To denote comments, use the HTML `small` Element. Yes, this means code comments.
  * - To denote importance, use the HTML `strong` Element.
@implements
: .box-block()
: .font-size-block()
: .codecolors-sol-dark()
@tags
: #code
@author
: Chris Harvey
@updated
: 2015-02-26
  */
pre {
  .box-block(2px);
  .font-size-block(@font_size_sml; @line_height_base);
  font-family: @fontfam_code;
  text-align: left;
  border-color: @code_lite_brdr;
  color: @code_lite_txt;
  background-color: @code_lite_bg;
  code {
    .delimiters('\`';'\`');
    padding: 0;
    border: 0;
    font-size: inherit;
    color: inherit;
    background: transparent;
  }
  > small {
    font-style: italic;
    font-size: inherit;
    color: @code_lite_comm;
  }
  > strong {
    color: @code_lite_emph;
  }
}

/**
  * Sub-Components of code:
  *
  * `.c__Ctl`  : programming control (if, for, switch, return)
  * `.c__Opr`  : delimiter or operator (+, ==, ., new, this)
  * `.c__Kwd`  : predefined keywords (var, function)
  * `.c__Cst`  : a number, color, or character constant
  * `.c__Str`  : any string
  * `.c__Cmd`  : a function name, function call, constructor call, or Less, LaTeX, or JS command
  * `.c__Arg`  : argument to a function or constructor call, or a Less, LaTeX, or JS argument
  * `.c__Obj`  : a class or object reference

  * `.c__Tag`  : an HTML tag
  * `.c__Atr`  : an HTML attribute
  * `.c__Val`  : an HTML or CSS value
  * `.c__Sel`  : a CSS selector
  * `.c__Prp`  : a CSS property
@tags
: #code
@author
: Chris Harvey
@updated
: 2015-02-19
  */
.c__Ctl {color: @solarized_red;}
.c__Opr {color: @solarized_orange;}
.c__Kwd {color: @solarized_yellow;}
.c__Cst {color: @solarized_green;}
.c__Str {color: @solarized_cyan;}
.c__Cmd {color: @solarized_blue;}
.c__Arg {color: @solarized_violet;}
.c__Obj {color: @solarized_magenta;}
.c__Tag {color: @solarized_blue;}
.c__Atr {color: @solarized_yellow;}
.c__Val {color: @solarized_cyan;}
.c__Sel {color: @solarized_blue;}
.c__Prp {color: @solarized_yellow;}

/**
  * Table captions and figure captions.
@implements
: .font-size-block()
: .border-vert-one(bottom)
: .border-vert-one(top)
@tags
: #typography
: #table
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2015-02-09
  */
caption,
figcaption {
  .font-size-block(@font_size_sml; @line_height_base);
}
caption:first-child,
figcaption:first-child {.border-vert-one(bottom; 1px; dotted; @color_border);}
figcaption:last-child  {.border-vert-one(top;    1px; dotted; @color_border);}
//++++ @end QUASI-PARAGRAPHS ++++//
