
/*################*\
    _floats.less
\*################*/


/**
  * This tool is used on **containers of floats** (not on floats themselves).
  * It pushes subsequent content to the bottom of the container.
@tags
: #float
@author
: Chris Harevy
@updated
: 2014-05-12
  */
.clearfix() {
  &::after {
    display: table;
    content:' ';
    clear: both;
  }
}
