
/*###################*\
    _transform.less
\*###################*/


/**
  * Use this tool to apply a rotation transformation to an Object.
@params
: @rotation : the angle, in degrees, to rotate the Object
@tags
: #transformation
: #vendorspecific
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.rotate(@rotation) {
  -webkit-transform: rotate(@rotation);
     -moz-transform: rotate(@rotation);
      -ms-transform: rotate(@rotation);
       -o-transform: rotate(@rotation);
          transform: rotate(@rotation);
}
