---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta charset="UTF-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<meta name="description" content=""/>
<link rel="stylesheet" href="reals.css"/>
<style>
li.h-gamma {text-align: left;}
</style>
{% include all-js.html %}
<script src="reals.js"></script>
</head>
<body id="frontpage">
{% include masthead.html %}
<main>
<header>
	<h1 class="h-alpha">A Survey of the Real Numbers</h1>
	<nav>
		<h1 class="h-beta">Brief Contents</h1>
		<ol class="list-omega">
			<li>Book One: An Axiomatic Approach to the Continuum
				<ol class="list-alpha">
					<li><a href="propositional-logic.html">Chapter I: Propositional and Predicate Logic</a></li>
					<li><a href="set-theory.html">Chapter II: Set-Theoretic Foundations</a></li>
					<li><a href="set-structures.html">Chapter III: Set Structures</a></li>
					<li>Chapter IV: The Natural Numbers</li>
					<li>Chapter V: Finite and Infinite Sets</li>
					<li>Chapter VI: The Integers</li>
					<li>Chapter VII: The Rational Numbers</li>
					<li>Chapter VIII: Topology and Space</li><!-- motivation for constructing R -->
					<li>Chapter IX: The Real Numbers</li>
				</ol>
			</li>
			<li>Book Two: Functions of Real Numbers
				<ol class="list-alpha">
					<li>Chapter I: Real-Valued Functions</li>
					<li>Chapter II: Sequences and Series of Functions</li>
					<li>Chapter III: The Derivative</li>
					<li>Chapter IV: The Integral</li>
					<li>Appendix I: Multivalued Functions</li>
					<li>Appendix II: Multivariable Functions</li>
				</ol>
			</li>
			<li>Book Three: Complex Numbers
				<ol class="list-alpha">
					<li>Chapter I: A Construction of the Complex Numbers</li>
					<li>Chapter II: Complex-Valued Sequences</li>
					<li>Chapter III: Complex Functions, Limits, and Continuity</li>
					<li>Chapter IV: Complex Differentiation and Integration</li>
				</ol>
			</li>
			<li>Book Four: Related Topics
				<ol class="list-alpha">
					<li>Proper Class Theory</li>
					<li>Finite and Infinite Sets</li>
					<li>Divisibility</li>
				</ol>
			</li>
		</ol>
		<h1 class="h-beta">Book One: An Axiomatic Approach to the Continuum</h1>

		<dl class="list-alpha list-inline">
			<dt><a href="propositional-logic.html">Propositional Logic</a></dt>
				<dd>logical variables and expressions</dd>
				<dd>propositions and connectors</dd>
				<dd>the axioms of logic</dd>
				<dd>logical theorems and proofs</dd>
				<dd>rules of inference</dd>
			<dt><a href="set-theory.html">Set-Theoretic Foundations</a></dt>
				<dd>predicate logic</dd>
				<dd>quantifiers</dd>
				<dd>axioms of set theory</dd>
				<dd>empty sets</dd>
				<dd>pairs and singletons</dd>
				<dd>power sets</dd>
				<dd>unions and intersections</dd>
				<dd>subsets</dd>
				<dd>inductive sets</dd>
			<dt><a href="set-structrues.html">Set Structures</a></dt>
				<dd>ordered pairs</dd>
				<dd>relations</dd>
				<dd>orderings</dd>
				<dd>equivalence relations, equivalence classes, partitions</dd>
				<dd>functions</dd>
				<dd>surjections, injections, bijections</dd>
				<dd>operations</dd>
			<dt>The Natural Numbers</dt>
				<dd>successors</dd>
				<dd>inductive sets</dd>
				<dd>natural numbers and the set thereof</dd>
				<dd>mathematical induction</dd>
				<dd>order and operations on the natural numbers</dd>
			<dt>Finite and Infinite Sets</dt>
				<dd>equinumerosity and dominance</dd>
				<dd>cardinality and cardinal numbers</dd>
				<dd>order isomorphism</dd>
				<dd>ordinality and ordinal numbers</dd>
			<dt>The Integers</dt>
			<dt>The Rational Numbers</dt>
			<dt>Sequences</dt>
				<dd>convergence</dd>
				<dd>Cauchy sequences</dd>
			<dt>The Real Numbers</dt>
		</dl>
		<h1 class="h-beta">Book Two: Functions of Real Numbers</h1>
		<dl class="list-alpha list-inline">
			<!--dt>Metric Spaces and Density</dt-->
			<dt>Real-Valued Functions</dt>
				<dd>Functional Limits and Continuity</dd>
				<dd>point-wise continuity</dd>
				<dd>uniform continuity</dd>
			<dt>Sequences and Series of Functions</dt>
				<dd>point-wise convergence</dd>
				<dd>uniform convergence</dd>
				<dd>power series</dd>
				<dd>taylor series</dd>
			<dt>The Derivative</dt>
			<dt>The Integral</dt>
			<dt>The Fundamental Theorem of Calculus</dt>
			<dt>Appendix I: Multi-Valued Functions</dt>
				<dd>the gradient</dd>
			<dt>Appendix II: Multi-Variable Functions</dt>
				<dd>curl</dd>
				<dd>divergence</dd>
		</dl>
		<h1 class="h-beta">Book Three: Complex Numbers</h1>
		<dl class="list-alpha list-inline">
			<dt>A Construction of Complex Numbers</dt>
			<dt>Complex-Valued Sequences</dt>
			<dt>Complex Functions, Limits, and Continuity</dt>
			<dt>Complex Differentiation and Integration</dt>
		</dl>
	</nav>
</header>
<!--section>
	<p>This document comprises mainly of Definitions, Axioms, and Theorems; hereafter referred to as <i>nodes</i>, which are formal items leading to an axiomatic system. In addition to nodes are accompanying informal explanations, commentary, and examples.</p>
	<p>Every node in this document is logically dependent only on nodes established previously, with the exception of the Axioms, which are considered self-evident (should we reject these Axioms, a different system will result). The informal examples and discussions serve merely as supplementary and elective material and are not officially part of the axiomatic system.</p>
	<p>Axioms and definitions need not or cannot be proved, and so are not done so.</p>
	<p>Theorems serve as the main framework of this document. Theorems are typically used for proving proclamations necessary for subsequent material, conditional and biconditional proclamations, and connections between concepts (<i lang="la"><abbr title="exampli gratia">e.g.</abbr></i>, inclusion is actually a relation). Every theorem established is rigorously proved. No assumptions are made, and every statement is derived from a previous proclamation, to which the statement explicitly references.</p>
	<p>Accompanying some theorems are lemmas or corollaries. This author uses lemmas for proving statements needed in following theorems but not necessary for reading the theorems themselves, so lemmas are stated beforehand. Lemmas are also used to break down proofs into smaller parts. Conversely, corollaries are logical consequences of, but not essential to, theorems, and so are stated afterward. Lemmas, theorems, and corollaries are rigorous.</p>

</section-->
</main>
</body>
</html>
