---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Propositional and Predicate Logic</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="reals.css"/>
<style>
</style>
{% include all-js.html %}
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
	<script src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
	<script src="http://chharvey.github.io/core/scripts/all.js"></script>
	
<script src="reals.js"></script>
</head>
<body id="logicdothtml">
{% include masthead.html %}
<nav class="breadcrumbs">
	<a>An Axiomatic Approach to the Continuum</a>
</nav>
<main>
<header>	
	<h1 class="h-alpha">Propositional and Predicate Logic</h1>
	<nav>
		<h1 class="h-beta">Chapter Contents</h1>
		<ol class="chaptercontents list-beta">
			<li><a href="#logical-operators">Logical Variables and Expressions</a></li>
			<li><a href="#logical-axioms">The Axioms of Propositional Logic</a></li>
			<li><a href="#rules-of-inference">Rules of Inference</a></li>
			<li><a href="#predicate-logic">Predicate Logic</a></li>
			<li><a href="#equality">Equality and Inclusion</a></li>
		</ol>
	</nav>
</header>
<section id="logical-operators">
	<header>
		<h1 class="h-beta">Logical Variables and Expressions</h1>
	</header>
	<div class="definition">
		<p class="summary">A <dfn id="d-set">set</dfn> is that which may own sets.</p>
		<p>Given sets <span class="latex">\(s\)</span> and <span class="latex">\(t\)</span>, the assertion that <span class="latex">\(s\)</span> owns <span class="latex">\(t\)</span> is denoted <span class="latex">\(t\in s\)</span>. We may also say that <span class="latex">\(t\)</span> is an <dfn id="d-element-of">element of</dfn>, or a <dfn id="d-member-of">member of</dfn>, <span class="latex">\(s\)</span>.</p>
		<p class="informal"><small>To avoid ambiguity, we will not use the word &ldquo;contain&rdquo; to represent ownership. For historical reasons, this expression can be interpreted as an indication of ownership or one of <a href="#D-subset">inclusion</a>.</small></p>
	</div>
	<div class="definition">
		<p class="summary">A <dfn id="d-proposition">proposition</dfn> is a statement about sets. <small>A proposition may or may not make an assertion about ownership.</small></p>
		<p>A proposition may be <dfn id="d-true"><var>true</var></dfn> or <dfn id="d-false"><var>false</var></dfn>.</p>
		<p>When making the assertion that a proposition <span class="latex">\(\l p\)</span> is <var>true</var>, we state <q><span class="latex">\(\l p\)</span></q>.</p>
	</div>
	<!--
	<div class="definition">
		<p class="summary">A <dfn id="d-proposition">proposition</dfn> is defined recursively as follows:</p>
		<ol class="summary">
			<li><p>If <span class="latex">\(\l p\)</span> is a proposition, then <span class="latex">\(\lnot\l p\)</span> is a proposition.</p></li>
			<li><p>If <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are propositions, then <span class="latex">\(\l p \lor \l q\)</span> is a proposition.</p></li>
			<li><p>If <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are propositions, then <span class="latex">\(\l p \land \l q\)</span> is a proposition.</p></li>
		</ol>
	</div>
	-->
	<p class="example">Given sets <span class="latex">\(s\)</span> and <span class="latex">\(t\)</span>, the statement &ldquo;<span class="latex">\(t\in s\)</span>&rdquo; is a proposition.</p>
	<div class="definition">
		<p class="summary">Given a proposition <span class="latex">\(\l p\)</span>, the <dfn id="d-lnot">negation</dfn> <span class="latex">\(\lnot\l p\)</span> is a proposition defined by the statement &ldquo;<span class="latex">\(\l p\)</span> is <var>false</var>.&rdquo;</p>
		<p>When making the assertion that a proposition <span class="latex">\(\l p\)</span> is <var>false</var>, we state <q><span class="latex">\(\lnot\l p\)</span></q>.</p>
		<p>We use the proposition <span class="latex">\(t\not\in s\)</span> to refer to the negation <span class="latex">\(\lnot(t\in s)\)</span>.</p>
	</div>

	<div class="definition">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn id="d-lor">disjunction</dfn> <span class="latex">\(\l p\lor\l q\)</span> is a proposition defined by the statement &ldquo;<span class="latex">\(\l p\)</span> or <span class="latex">\(\l q\)</span> (or both) is <var>true</var>.&rdquo;</p>
		
	</div>
	<div class="definition">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn id="d-land">conjunction</dfn> <span class="latex">\(\l p\land\l q\)</span> is a proposition defined by the the statement &ldquo;<span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are both <var>true</var>.&rdquo;</p>
		
	</div>
	<div class="definition">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn id="d-implies">(material) implication</dfn> <span class="latex">\(\l p\implies\l q\)</span> is a proposition defined by the disjunction <span class="latex">\(\lnot\l p\lor\l q\)</span>.</p>
	</div>
	<div class="definition" id="D-implication-alt">
		<p class="summary">Given an implication <span class="latex">\(\mathsf{r}\)</span> defined by <span class="latex">\(\l p\implies\l q\)</span>,</p>
		<ul class="list-delta">
			<li>the implication <span class="latex">\(\l q\implies\l p\)</span> is called the <dfn id="d-converse-implication">converse</dfn> of <span class="latex">\(\mathsf{r}\)</span>.</li>
			<li>the implication <span class="latex">\(\lnot\l p\implies\lnot\l q\)</span> is called the <dfn id="d-inverse-implication">inverse</dfn> of <span class="latex">\(\mathsf{r}\)</span>.</li>
			<li>the implication <span class="latex">\(\lnot\l q\implies\lnot\l p\)</span> is called the <dfn id="d-contrapositive-implication">contrapositive</dfn> of <span class="latex">\(\mathsf{r}\)</span>.</li>
		</ul>
	</div>
	<div class="definition">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn id="d-iff">(material) equivalence</dfn> <span class="latex">\(\l p\iff\l q\)</span> is a proposition defined by the conjunction <span class="latex">\((\l p\implies\l q)\land(\l q\implies\l p)\)</span>.</p>
	</div>
	<div class="informal">
		<p>When <span class="latex">\(\l p\lor\l q\)</span> is <var>true</var>, we state, <q><span class="latex">\(\l p\)</span> or <span class="latex">\(\l q\)</span></q>.</p>
		<p>When <span class="latex">\(\l p\land\l q\)</span> is <var>true</var>, we state, <q><span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span></q>.</p>
		<table class="table-list">
			<caption>There are a number of other ways to express a material implication.</caption>
			<thead><tr><th colspan="2">When <span class="latex">\(\l p\implies\l q\)</span> is <var>true</var>, we state,</th></tr></thead>
			<tbody>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> is the antecedent</q></td>
					<td><q><span class="latex">\(\l q\)</span> is the consequent</q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> then <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> if (when) <span class="latex">\(\l p\)</span></q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> implies <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> is implied by <span class="latex">\(\l p\)</span></q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> is sufficient for <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> is necessary for <span class="latex">\(\l p\)</span></q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> is stronger than <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> is weaker than <span class="latex">\(\l p\)</span></q></td>
				</tr>
			</tbody>
		</table>
		<table class="table-list">
			<caption>There are a number of other ways to express a material equivalence.</caption>
			<thead><tr><th>When <span class="latex">\(\l p\iff\l q\)</span> is <var>true</var>, we state,</th></tr></thead>
			<tbody>
				<tr><td><q><span class="latex">\(\l p\)</span> if and only if (iff) <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> implies and is implied by <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> is necessary and sufficient for <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> is materially equivalent to <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are materially equivalent</q></td></tr>
			</tbody>
		</table>	
	</div>
	<!--<div class="definition">
		<p class="summary">Given a proposition <span class="latex">\(\l p\)</span>, the <dfn id="d-tautology">tautology</dfn> <span class="latex">\(\top\)</span> is a proposition defined by the disjunction <span class="latex">\(\l p\lor\lnot\l p\)</span>.</p>
	</div>
	<div class="definition">
		<p class="summary">Given a proposition <span class="latex">\(\l p\)</span>, the <dfn id="d-contradiction">contradiction</dfn> <span class="latex">\(\bot\)</span> is a proposition defined by the conjunction <span class="latex">\(\l p\land\lnot\l p\)</span>.</p>
	</div>--->
</section>
<section id="logical-axioms">
	<header>
		<h1 class="h-beta">The Axioms of Logic</h1>
	</header>
	<section id="logical-statements">
		<header>
			<h1 class="h-gamma">Logical Statements</h1>
		</header>
		<div class="definition">
			<p class="summary">A <dfn id="d-lstatement">logical statement</dfn> is a statement that mentions propositions.</p>
		</div>
		<div class="informal">
			<p>Propositions are material statements, and we can combine them to form other propositions. For example, we may take two propositions and made a new proposition from them called a <a class="internal" href="#D-and">conjunction</a>. The new proposition is an assertion that the other two propositions are <var>true</var>. It <dfn id="d-use">uses</dfn> them in its construction.</p>
			<p>In contrast, a logical statement does not <em>use</em> other propositions; it <dfn id="d-mention">mentions</dfn> them. A logical statement asserts nothing about the truth of the propositions it mentions; it only makes an assertion about how the propositions are related. In fact, any relationship between propositions worth stating is true, i.e. a logical statement exists if and only if it is true (either accepted or proven). This is not the case for propositions: a proposition may exist if it is <var>false</var>.</p>
			<small>When the context is ambiguous, we will use the term &ldquo;statement&rdquo; (sometimes proceeded by the term &ldquo;material&rdquo;) to refer to material statements, also known as propositions. To refer to logical statements we will simply use &ldquo;logical statement&rdquo;. In general, any complete sentence in spoken word may be referred by &ldquo;assertion&rdquo;.</small>
		</div>
		<div class="definition">
			<p class="summary">A <dfn id="d-laxiom">logical axiom</dfn> is a logical statement that exists without justification.</p>
		</div>
		<div class="definition">
			<p class="summary">A <dfn id="d-ltheorem">logical theorem</dfn> is a logical statement whose existence is justified by a sequence of propositions, in an order prescribed by any previously-established logical axioms and theorems.</p>
		</div>
		<div class="definition">
			<p class="summary">A <dfn id="d-lproof">logical proof</dfn> is a sequence of propositions used to justify the existence of a logical theorem.</p>
		</div>
		<div class="definition">
			<p class="summary">A proposition <span class="latex">\(\l p\)</span> <dfn id="d-therefore">logically implies</dfn> a proposition <span class="latex">\(\l q\)</span> iff <span class="latex">\(\l q\)</span> is permitted to follow <span class="latex">\(\l p\)</span> in a logical proof according to a logical axiom or theorem. This logical implication is denoted <span class="latex">\(\l p\therefore\l q\)</span>.</p>
		</div>
		<div class="informal">
			<table class="table-list">
				<caption>There are a number of other ways to express a logical implication.</caption>
				<thead><tr><th colspan="2">When <span class="latex">\(\l p\therefore\l q\)</span>, we state,</th></tr></thead>
				<tbody>
					<tr>
						<td><q><span class="latex">\(\l p\)</span> is the premise</q></td>
						<td><q><span class="latex">\(\l q\)</span> is the conclusion</q></td>
					</tr>
					<tr>
						<td><q>assuming <span class="latex">\(\l p\)</span>, conclude <span class="latex">\(\l q\)</span></q></td>
						<td></td>
					</tr>
					<tr>
						<td><q><span class="latex">\(\l p\)</span> therefore <span class="latex">\(\l q\)</span></q></td>
						<td><q><span class="latex">\(\l q\)</span> because <span class="latex">\(\l p\)</span></q></td>
					</tr>
					<tr>
						<td><q><span class="latex">\(\l p\)</span> is followed by <span class="latex">\(\l q\)</span></q></td>
						<td><q><span class="latex">\(\l q\)</span> follows <span class="latex">\(\l p\)</span></q></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="definition">
			<p class="summary">Propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are <dfn id="d-logical-equivalence">logically equivalent</dfn> iff <span class="latex">\(\l p\therefore\l q\)</span> and <span class="latex">\(\l q\therefore\l p\)</span>. This logical equivalence is denoted <span class="latex">\(\l p\equiv\l q\)</span>.</p>
		</div>
		<div class="informal">
			<p>If a logical theorem is of the form <span class="latex">\(\l p\therefore\l q\)</span>, its proof consists of a sequence of propositions starting with <span class="latex">\(\l p\)</span> and ending with <span class="latex">\(\l q\)</span>. What happens in the middle must follow the laws of the axioms and theorems already established.</p>
			<p>If a logical theorem is of the form <span class="latex">\(\l p\equiv\l q\)</span>, its proof must show both <span class="latex">\(\l p\therefore\l q\)</span> and <span class="latex">\(\l q\therefore\l p\)</span>.</p>
		</div>
		<div class="definition">
			<p class="summary">A proposition <span class="latex">\(\l p\)</span> is logically equivalent to the <dfn id="d-tautology">tautology</dfn> <span class="latex">\(\top\)</span> if and only if <span class="latex">\(\l p\)</span> is <var>true</var> independent of its materials.</p>
		</div>
		<div class="definition">
			<p class="summary">A proposition <span class="latex">\(\l p\)</span> is logically equivalent to the <dfn id="d-contradiction">contradiction</dfn> <span class="latex">\(\bot\)</span> if and only if <span class="latex">\(\l p\)</span> is <var>false</var> independent of its materials.</p>
		</div>
		<div class="informal">
			<p>It might be hard to imagine a proposition that is true regardless of its contents. After all, a proposition could have at least two possible values (and we will see shortly that there are exactly two possibilities). But take for example the proposition <span class="latex">\(\l p\)</span> defined by <span class="latex">\(\l q\implies\l q\)</span> (this is called the Law of Identity). No matter what truth value <span class="latex">\(\l q\)</span> holds, the implication <span class="latex">\(\l p\)</span> must be true. Therefore we would say that <span class="latex">\(\l p\)</span> is a tautology, and that it could be replaced by <span class="latex">\(\top\)</span> in a logical proof.</p>
			<p>Of course, informally, we could come up with many different forms of propositions, and verify the truth values of these forms using a truth table. However in order to use them in a formal system, we must start off with some axioms that allow us to make such replacements.</p>
		</div>
	</section>
	<div class="informal"><p>We are now ready to begin our journey into the axiomatic system. Let us start with an axiom so simple it almost need not be stated.</p></div>
<!--	<div class="axiom" id="A-proposition"><p class="summary">A proposition exists.</p></div>
	<div class="informal"><p><a class="internal" href="#A-proposition">This axiom</a> can be thought of as the <b>Bootstrap Axiom</b>, because it is a proposition that asserts the existence of itself. By merely existing it is fulfilling its prophecy. Simply put, it proves itself true. Think for a moment about what would happen if it were false. Then there would be no propositions, and it simply wouldn't exist. Thus at this point we can conclude that there is at least one true proposition.</p></div>-->
	<div class="axiom" id="A-bivalence">
		<div class="lede">The Principle of Bivalence</div>
		<ul class="">
			<li id="LEM">
				<p class="summary"><span class="lede">The Law of Excluded Middle</span> It is always the case that a proposition is <var>true</var> or <var>false</var>.</p>
				<p class="latex wff">\[\l p \lor \lnot\l p \equiv \top\]</p>
			</li>
			<li id="LNC">
				<p class="summary"><span class="lede">The Law of Non-Contradiction</span> It is never the case that a proposition is both <var>true</var> and <var>false</var>.</p>
				<p class="latex wff">\[\l p \land \lnot\l p \equiv \bot\]</p>
			</li>
		</ul>
	</div>
	<div class="informal">
		<p>Until this point there has always been the possibility that a proposition <span class="latex">\(\l p\)</span> could be both <var>true</var> and <var>false</var>, or that it could be neither. In fact, this may be the case in some abstract, many-valued branches of logic. In traditional logic however, the values <var>true</var> and <var>false</var> are both <strong>collectively exhaustive</strong> and <strong>mutually exclusive</strong>.</p>
		<!--<p>Another way of stating this principle is:</p>
		<div class="latex">\[\l p \nLeftrightarrow \lnot\l p\]</div>-->
		<p>The <a class="internal" href="#A-bivalence">Principle of Bivalence</a> is a logical statement (in two parts) that describes not only the nature of the logical system, but also the relationship between a proposition and its negation. The first part says that one or the other must be true, and the second part says that they both cannot be true. Indeed, the disjunction <span class="latex">\(\l p \lor \lnot\l p\)</span> is <var>true</var> no matter what the value of <span class="latex">\(\l p\)</span>, and likewise, the conjunction disjunction <span class="latex">\(\l p \land \lnot\l p\)</span> is <var>false</var> independent of <span class="latex">\(\l p\)</span>. From this, we can explicitly prove the following obvious conjecture.</p>
	</div>
	<div class="axiom" id="A-doubleneg">
		<p class="summary"><span class="lede">The Law of Double Negation</span> A proposition is true if and only if its negation is false.</p>
		<p class="latex wff">\[\l p \equiv \lnot\lnot\l p\]</p>
	</div>
	<div class="informal">
		<p>If <span class="tex">\(\lnot\l p\)</span> is the assertion that <span class="tex">\(\l p\)</span> is false, then the assertion that <span class="tex">\(\lnot\l p\)</span> is false, <span class="tex">\(\lnot\lnot\l p\)</span>, namely, the assertion that <i>the assertion that <span class="tex">\(\l p\)</span> is false</i> is false, is the assertion that <span class="tex">\(\l p\)</span> is true.</p>
	</div>
</section>
<section id="rules-of-inference">
	<header>
		<h1 class="h-beta">Rules of Inference and Proofs</h1>
	</header>
	<div class="definition">
		<p class="summary">A <dfn id="d-maxiom">(material) axiom</dfn> is a proposition that is <var>true</var> without justification.</p>
		<p>
	</div>
	<div class="informal">
		<p class="example">Socrates is mortal.</p>
		<p>The above example is a proposition that is clearly <var>true</var>. We may choose to accept this proposition without justification, in which case it would be dubbed an axiom, or we may choose to prove this statement using a sequence of other pieces of information (which in turn may be axioms), in which case the statement would be dubbed a theorem.</p>
	</div>
	<div class="definition">
		<p class="summary">A <dfn id="d-mtheorem">(material) theorem</dfn> is a proposition whose truth is justified by a sequence of previously-established theorems or axioms, in an order prescribed by a set of <a>Rules of Inference</a>. We call this sequence a &ldquo;(material) proof&rdquo;.</p>
	</div>
	<div class="informal">
		<p class="example">Socrates is mortal or immortal.</p>
		<p>This example is another proposition (specifically, a disjunction), and we can tell by its contents (its &ldquo;materials&rdquo;) that it is <var>true</var>, so it may be an axiom or theorem, depending on the system we have set up. If it is a theorem, we would have to construct a proof, which would comprise of a sequence of other propositions that are known or have been shown to be <var>true</var>.</p>
		<p>Generally though, this proposition is of the form <span class="latex">\(\l p\lor\lnot\l p\)</span> (a <a class="internal" href="#D-tautology">tautology</a>). One might infer that <em>all</em> tautologies are <var>true</var>, however we have not yet the tools to verify that conjecture. In order to make such a jump, we need <a class="internal" href="D-lstatement">the following definition</a>.</p>
	
	</div>







	<section id="metalogic">	
		<div class="theorem" id="T-therefore">
			<p>A proposition <span class="tex">\(\l p\)</span> logically implies a proposition <span class="tex">\(\l p\)</span>, when and only when their implication <span class="tex">\(\l p\implies\l q\)</span> is a tautology.</p>
			<p class="proof"></p>
		</div>
		<div class="theorem" id="T-logical-equivalence">
			<p class="summary">Two propositions are logically equivalent when and only when their biconditional statement is a tautology.</p>
			<p class="proof"></p>
		</div>
	</section>


	<pre>
Identity Laws
p and T = p (conjunction identity)
p or C = p (disjunction identity)

Domination Laws
p \lor \top = \top
p \land \bot = \bot

Commutative Laws

Associative Laws

Distributivity Laws
(P or Q) then R; equiv (P then R) and (Q then R)
	proof:
	(P or Q) then R
	-(P or Q) or R
	(-P and -Q) or R
	(-P or R) and (-Q or R)
	(P then R) and (Q then R)
(P and Q) then R; equiv (P then R) or (Q then R)
	proof:
	(P and Q) then R
	-(P and Q) or R
	(-P or -Q) or R
	(-P or R) or (-Q or R)
	(P then R) or (Q then R)

**Implication Identity**
(T then p); equiv p
proof using 'deduction', conjunction, disjunction
	T then p				given
	C or p					dfn of 'or'
	p						Disjunction Identity
proof using 'deduction', implication
	T then p				given
	(p then p) then p		defn of 'T'
	(-p or p) then p		defn of 'or'
	-(-p or p) or p			defn of 'or'
	(p and -p) or p 		demorgan's laws
	(p or p) and (-p or p)	distributive1
	p and T					law of excluded middle
	p						Conjunction Identity
proof using '(A equiv B) if and only if (A iff B equiv T)'
	T then p iff p
	(p then p) then p iff p			defn of 'T'
	(-p or p) then p iff p			defn of 'or'
	-(-p or p) or p iff p			defn of 'or'
	(p and -p) or p iff p 			demorgan's laws
	(p or p) and (-p or p) iff p	distributive1
	p and T iff p					law of excluded middle
	p iff p							Conjunction Identity
	(p then p) & (p then p)			dfn of 'iff'
	p then p						Conjunction Elimination
	T								dfn of T

$P \xor \lnot P \equiv \top$
	</pre>
	<div>demorgan's laws:
		<p><span class="tex">\(\l p\lor\l q\)</span> is false iff <span class="tex">\(\l p\)</span> is false and <span class="tex">\(\l q\)</span> is false.</p>
		<p><span class="tex">\(\l p\land\l q\)</span> is false iff <span class="tex">\(\l p\)</span> is false, or <span class="tex">\(\l q\)</span> is false, or both are false.</p>
		<!--
			
\definition\Dlabel{D:jointDenial}
A conjunction~$\lnot\pred{P}{x} \land \lnot\pred{Q}{x}$ is a \defn{joint denial} because it is logically equivalent to the negation of the disjunction~$\pred{P}{x} \lor \pred{Q}{x}$.
$$\lnot\pred{P}{x} \land \lnot\pred{Q}{x} \equiv \lnot\bigl(\pred{P}{x} \lor \pred{Q}{x}\bigr)$$

\definition\Dlabel{D:alternativeDenial}
A disjunction~$\lnot\pred{P}{x} \lor \lnot\pred{Q}{x}$ is an \defn{alternative denial} because it is logically equivalent to the negation of the conjunction~$\pred{P}{x} \land \pred{Q}{x}$.
$$\lnot\pred{P}{x} \lor \lnot\pred{Q}{x} \equiv \lnot\bigl(\pred{P}{x} \land \pred{Q}{x}\bigr)$$

		-->
	</div>


	<div id="T-contrapositive">
		<p class="summary"><span class="lede">The Rule of Transposition</span>An implication is logically equivalent to its contrapositive.</p>
		<p class="">\[\l p\implies\l q \equiv \lnot\l q\implies\lnot\l p\]</p>
			<div class="proof">
				<p>Not sure how to prove this... need: logical equivalence</p>
			</div>
		</dl>
	</div>
	
	<!--
	\section*{Formal Proof Schemata}
%============================================================================
\definition\Dlabel{D:counterexample}
Sometimes we may use a \defn{counterexample} to disprove a false conjecture. If we are trying to prove the negation of that conjecture to be true, we use an \defn{example}. This schema is the simplest to use. Given a theorem $\forall x : \lnot\pred{P}{x}$, we show
$$\exists a : \pred{P}{a} \therefore \lnot\pred{P}{x}$$

\theorem
	There exists an even prime number.
	\proof
		To prove this theorem, we use an example: the number $2$.\qed
	\proof
		We can also disprove the theorem's negation: the conjecture that ``All prime numbers are odd.'' The counterexample is the number $2$, which is even.\qed

\definition\Dlabel{D:modusPonens}
Given an implication, the schema of \lang{\defn{modus ponens}} involves showing that if the antecedent is true, and that it leads to the consequent, then the consequent itself must be true. This deductive process proves the implication true. The following formula is an outline of the \lang{modus ponens} schema. Given a theorem $\pred{P}{x}\implies\pred{Q}{x}$, we show
$$\bigl(\pred{P}{x} \implies \pred{R}{x} \implies \pred{Q}{x}\bigr) \therefore \bigl(\pred{P}{x} \implies \pred{Q}{x}\bigr)$$

\theorem
EXAMPLE OF \lang{MODUS PONENS}

\definition\Dlabel{D:modusTollens}
It is sometimes easier to prove a theorem's contrapositive (if it has one), since the contrapositive is logically equivalent to the implication. The schema of \lang{\defn{modus tollens}} involves denying the theorem's consequent and uncovering the negation of its antecedent. Since we have used \lang{modus ponens} to prove the contrapositive, the implication must be true also. Given a theorem $\pred{P}{x}\implies\pred{Q}{x}$, we show
$$\bigl(\lnot\pred{Q}{x} \implies \lnot\pred{P}{x}\bigr) \therefore \bigl(\pred{P}{x} \implies \pred{Q}{x}\bigr)$$

\theorem
If the square of an integer is even, then that integer is even also.
\proof
We use \lang{modus tollens}. Given an integer~$n\in\Z$, deny the consequent and suppose $n$ is odd. We can say $\exists k\in\Z : n=2k+1$. Then $n^{2}=(2k+1)^{2}=4k^{2}+4k+1=2(2k^{2}+2k)+1=2m+1$ for some integer~$m\in\Z : m=2k^{2}+2k$. (Note that $m$ is also even, but this fact is unnecessary for the proof.) Then $n^{2}=2m+1$ is odd. Hence if $n$ is odd then $n^{2}$ is odd. (In other words, it is impossible to have an even $n^{2}$ when $n$ is odd.) Therefore by contraposition, if $n^{2}$ is even then $n$ is even.\qed

\definition\Dlabel{D:reductioAdAbsurdum}
Sometimes proving a that a theorem is true is easier if we prove that it cannot possibly be false. This schema is also useful if the theorem does not have a contrapositive (if it is not in conditional form). In this case, we use the schema \lang{\defn{reductio ad absurdum}} to suppose the contrary of the theorem. Our deductive reasoning will then lead us to the logical contradiction. We thus have the following implication: ``our assumption is sufficient for the contradiction.''
	
At that point, if we accept that our implication is valid---which we should---then the antecedent of this implication, namely, our assumption, cannot possibly be true. (Suppose the antecedent \emph{were} true: then our implication would be invalid, because a true antecedent is never sufficient for a false consequent. And the contradiction is always false. (This just now was a mini-proof by contradiction\dots about proofs by contradiction!)).
	
Anyway, we conclude that our assumption cannot be true, so then the negation of that assumption, which is the theorem we have been trying to prove, cannot be false. The following formula is an outline of the \lang{reductio ad absurdum} schema. Given a theorem $\pred{P}{x}$, we show
$$\bigl(\lnot\pred{P}{x} \implies \lfalse\bigr) \therefore \pred{P}{x}$$

\subparagraph{Remark}Be mindful of the fact that we are searching for \emph{the unique} logical contradiction~$\lfalse$. The term ``contradiction'' is different in English than in Logic: a `contradiction,' in the informal sense, is any fact that conflicts with a previously known or accepted truth, whereas the logical constant~$\lfalse$ is a form that always holds false (see \Dref{D:lfalse}). It is a logical constant. In searching for $\lfalse$, we want to reach a conclusion that defies some law of logic; not necessarily an inconsistency with any of our initial assumptions or axioms.

For example, given a theorem and then assuming its negation, we may arrive at some consequent that conflicts with a previous theorem (or maybe even our assumption itself), but is not the contradiction \lang{per se}. We cannot stop here. Our goal is to arrive at some universal falsehood, such as $\pred{R}{x} \land \lnot\pred{R}{x}$, \etc. (Nevertheless, if we have gotten this far then the end of the proof follows shortly afterward, with a quick reference to said theorem.)

\theorem
There is no rational number whose square is 2.
\proof
We use \lang{reductio ad absurdum}. We are given $x^{2}=2$. Suppose $x\in\Q$. Then let $x=\frac{a}{b}$ such that $a,b\in\Z$ and $a$ and $b$ are relatively prime (they have no common factors except $1$). Then
	$$2=x^{2}=\left(\frac{a}{b}\right)^{2}=\frac{a^{2}}{b^{2}}$$
	$$a^{2}=2b^{2}$$
So $a^{2}$ is even, which makes $a$ even. Let $\exists k\in\Z : a=2k$. Then
	$$a^{2}=(2k)^{2}=4k^{2}=2b^{2}$$
	$$b^{2}=2k^{2}$$
So $b^{2}$ is even, which makes $b$ even. Then $a$ and $b$ are both even, so they have a common factor of $2$, and thus are not relatively prime. $a$ and $b$ are both relatively prime and not relatively prime. This is the contradiction, which is a conclusion of $x\in\Q$. Therefore if $x^{2}=2$ it is impossible to have $x\in\Q$.\qed

\definition\Dlabel{D:inductionPrinciple}
In proving that a given specification~$\pred{P}{n}$ is true for all natural numbers~$n\in\N$, we use the \defn{principle of mathematical induction}, or simply, a proof by induction. Let us construct the set~$P$ of all $n\in\N$ for which $\pred{P}{n}$ is true. That is,
	$$P = \bigl\{n\in\N : \pred{P}{n}\bigr\}$$
By \Dref{D:subset}, $\forall x : (x\in P\implies x\in\N) \therefore P \subseteq \N$. By \Aref{A:specification}, $P$ exists.
If we can show that $P$ is inductive, then by \Rref{R:inductionPrinciple}, $P=\N$, that is, $\pred{P}{n}$ is true for all $n\in\N$.

To show $P$ is inductive, by \Dref{D:inductiveSet}, we must show $P$ contains the Null Set, and for every element~$k$ in $P$, its successor~$\inc{k}$ is also in $P$.
First, this means that $\pred{P}{\emptyset}$ must be proven. That is the \defn{base case}. Second, we must prove that $\pred{P}{k}$ is sufficient for $\pred{P}{\inc{k}}$. That is the \defn{inductive step} (assuming $\pred{P}{k}$ is true is sometimes called the \emph{inductive hypothesis} or the \emph{inductive assumption}, whereas the actual deduction that $\pred{P}{\inc{k}}$ is true is called the \emph{inductive step}). Proving these two steps shows that $P$ is inductive.

\theorem
Every natural number except $0$ is the successor of some natural number.
\proof
See \Tref{T:firstInductionProof} on page \pageref{T:firstInductionProof} for this proof.\qed

	-->
	
</section>
<section id="predicate-logic">
	<header>
		<h1 class="h-beta">Predicate Logic</h1>
	</header>
	<div class="theorem" id="T-bivalence-sets">
		<p class="summary"><span class="lede">The Principle of Bivalence, Predicate Version</span> Given sets <span class="latex">\(t\)</span> and <span class="latex">\(s\)</span>:</p>
		<ul>
			<li id="LEM">
				<p class="summary"><span class="lede">The Law of Excluded Middle</span> It is always the case that <span class="latex">\(t\)</span> is an element of <span class="latex">\(s\)</span> or not an element of <span class="latex">\(s\)</span>.</p>
				<p class="latex wff">\[(t\in s) \lor \lnot(t\in s)\]</p>
			</li>
			<li id="LNC">
				<p class="summary"><span class="lede">The Law of Non-Contradiction</span> It is never the case that <span class="latex">\(t\)</span> is both an element of <span class="latex">\(s\)</span> and not an element of <span class="latex">\(s\)</span>.</p>
				<p class="latex wff">\[\lnot\bigl((t\in s) \land \lnot(t\in s)\bigr)\]</p>
			</li>
		</ul>
		<div class="proof">use Principle of Bivalence, Proposition Version</div>
	</div>
	<div class="definition">
		<p class="summary">Given a set <span class="latex">\(x\)</span>, the <dfn id="d-predicate">predicate</dfn> <span class="latex">\(\l P_x\)</span> is a proposition that makes an assertion involving <span class="latex">\(x\)</span>.</p>
	</div>
	<div class="example">
		<p>In the natural numbers, let <span class="latex">\(\l P_n\)</span> be the predicate <q><span class="latex">\(n\)</span> is even</q>. Then <span class="latex">\(\l P_3\)</span> would be <var>false</var>, while <span class="latex">\(\l P_6\)</span> would be <var>true</var>.</p>
	</div>
	<div class="definition">
		<p class="summary">Given a predicate <span class="latex">\(\l P_x\)</span>, the assertion that there exists a set <span class="latex">\(x\)</span> that makes <span class="latex">\(\l P_x\)</span> <var>true</var> is itself a predicate, called an <dfn id="d-exists">existential quantifier</dfn>.</p>
		<p class="latex">\[(\exists x)(\l P_x)\]</p>
	</div>
	<div class="informal">
		<p>We will sometimes use the predicate <span class="latex">\((\not\exists x)(\l P_x)\)</span> to refer to the negation <span class="latex">\(\lnot\bigl((\exists x)(\l P_x)\bigr)\)</span>, however we will see in <a href="#D-forall">D-forall</a> that this notation&mdash;and even the predicate itself&mdash;is not necessary; the concept of negating an existential quantifier is encapsulated in another kind of predicate, called a universal quantifier.</p>
		<p>The motivation for such an object arises from this: if there is an assertion that there exists a set that forces some predicate to be true, then the negation of that assertion is equivalent to the assertion that that predicate is automatically false for every set.</p>
		<p>The same is true for the value of the predicate: If we negate the assertion that there exists a set that forces the predicate to be false, then we are asserting that the predicate must be true for every set.</p>
	</div>
	<div class="definition">
		<p class="summary">Given a predicate <span class="latex">\(\l P_x\)</span>, the assertion that there does <em>not</em> exist any set <span class="latex">\(x\)</span> that makes <span class="latex">\(\l P_x\)</span> <var>false</var> is itself a predicate, <span class="latex">\((\not\exists x)(\lnot\l P_x)\)</span>, called a <dfn id="d-forall">universal quantifier</dfn>. This is the assertion that <span class="latex">\(\l P_x\)</span> is <var>true</var> for any set <span class="latex">\(x\)</span>.</p>
		<p class="latex">\[(\forall x)(\l P_x)\]</p>
	</div>
	<div class="definition">
		<p class="summary">Given a predicate <span class="latex">\(\l P_x\)</span> and a set <span class="latex">\(y\)</span>, the assertion that there exists an element <span class="latex">\(x\)</span> of <span class="latex">\(y\)</span> that makes <span class="latex">\(\l P_x\)</span> <var>true</var> is a predicate called a <dfn id="d-existsbound">bound existential quantifier</dfn>.</p>
		<p class="latex">\[
			\left((\exists x\in y)(\l P_x)\right)
			\equiv
			\left((\exists x)(x\in y \land \l P_x)\right)
		\]</p>
	</div>
	<div class="theorem" id="T-existsbounditerate">
		let y be a set with members a, b, c, ... z. Then
		<div class="latex">\[
			\left((\exists x\in y)(\l P_x)\right)
			\iff
			\left( \l P_a \lor \l P_b \lor \l P_c \lor \dots \lor \l P_z \right)
		\]</div>
	</div>
	<!--div class="example">
		<p>Let <span class="latex">\(\l P_x\)</span> be the predicate <q><span class="latex">\(x\in x\)</span></q>. Then if there exists some set <span class="latex">\(x\)</span> that is a member of itself, <span class="latex">\((\exists x)(x\in x)\)</span> would be <var>true</var>. <small>However, we will see later that there does not exist such a set.</small></p>
	</div-->
	<div class="definition">
		<p class="summary">Given a predicate <span class="latex">\(\l P_x\)</span> and a set <span class="latex">\(y\)</span>, the assertion that <span class="latex">\(\l P_x\)</span> is <var>true</var> for all elements <span class="latex">\(x\)</span> of <span class="latex">\(y\)</span> is a predicate called a <dfn id="d-forallbound">bound universal quantifier</dfn>.</p>
		<p class="latex">\[
			(\forall x\in y)(\l P_x)
			\equiv
			(\forall x)((x\in y) \implies \l P_x)
		\]</p>
	</div>
	<div class="theorem" id="T-forallbound">
		<p class="latex">\[
			\bigl((\forall x\in y)(\l P_x)\bigr)
			\iff
			\bigl((\not\exists x\in y)(\lnot\l P_x)\bigr)
		\]</p>
		<div class="proof draft">
			<p class="latex">\[
				(\forall x\in y)(\l P_x)\\
				(\forall x)(x\in y \implies \l P_x)\\
				(\forall x)(x\not\in y \lor \l P_x)\\
				(\forall x)(\lnot(x\in y \land \lnot\l P_x))\\
				(\not\exists x)(x\in y \land \lnot\l P_x)\\
				(\not\exists x\in y)(\lnot\l P_x)\\
			\]</p>
		</div>
	</div>
	<div class="theorem" id="T-forallbounditerate">
		let y be a set with members a, b, c, ... z. Then
		<div class="latex">\[
			\left((\forall x\in y)(\l P_x)\right)
			\iff
			\left( \l P_a \land \l P_b \land \l P_c \land \dots \land \l P_z \right)
		\]</div>
	</div>
	<section class="draft">
		<h1 class="h-gamma">Combined Quantifiers</h1>
		<div class="definition" id="D-2exists">
			<p class="summary">Given an existential quantifier <span class="latex">\((\exists y)(\l P_{x,y})\)</span>, the existential quantifier <span class="latex">\(\bigl(\exists x\bigr)\bigl((\exists y)(\l P_{x,y})\bigr)\)</span> is described by the predicate:</p>
			<p class="latex">\[(\exists x)(\exists y)(\l P_{x,y})\]</p>
		</div>
		<div class="definition" id="D-2forall">
			<p class="summary">Given a universal quantifier <span class="latex">\((\forall y)(\l P_{x,y})\)</span>, the universal quantifier <span class="latex">\(\bigl(\forall x\bigr)\bigl((\forall y)(\l P_{x,y})\bigr)\)</span> is described by the predicate:</p>
			<p class="latex">\[(\forall x)(\forall y)(\l P_{x,y})\]</p>
		</div>
		existential quantification is commutative
		<p class="latex">\[
			\bigl((\exists x)(\exists y)(\l P_{x,y})\bigr)
			\equiv
			\bigl((\exists y)(\exists x)(\l P_{x,y})\bigr)
		\]</p>
		universal quantification is commutative
		<p class="latex">\[
			\bigl((\forall x)(\forall y)(\l P_{x,y})\bigr)
			\equiv
			\bigl((\forall y)(\forall x)(\l P_{x,y})\bigr)
		\]</p>
		an existential disjunction is logically equivalent to a disjunction of existential quantifiers
		<p class="latex">\[
			\bigl((\exists x)(\l P_x \lor \l Q_x)\bigr)
			\equiv
			\bigl((\exists a)(\l P_a) \lor (\exists b)(\l Q_b)\bigr)
		\]</p>
		a universal disjunction is logically equivalent to a disjunction of universal quantifiers
		<p class="latex">\[
			\bigl((\forall x)(\l P_x \lor \l Q_x)\bigr)
			\equiv
			\bigl((\forall a)(\l P_a) \lor (\forall b)(\l Q_b)\bigr)
		\]</p>
		an existential conjunction logically implies a conjunction of existential quantifiers
		<p class="latex">\[
			\bigl((\exists x)(\l P_x \land \l Q_x)\bigr)
			\therefore
			\bigl((\exists a)(\l P_a) \land (\exists b)(\l Q_b)\bigr)
		\]</p>
		a universal conjunction is logically equivalent to a conjunction of universal quantifiers
		<p class="latex">\[
			\bigl((\forall x)(\l P_x \land \l Q_x)\bigr)
			\equiv
			\bigl((\forall a)(\l P_a) \land (\forall b)(\l Q_b)\bigr)
		\]</p>
		
		
		an existential implication logically implies an implication of existential quantifiers
		<p class="latex">\[
			\bigl((\exists x)(\l P_x \implies \l Q_x)\bigr)
			\therefore
			\bigl((\exists a)(\l P_a) \implies (\exists b)(\l Q_b)\bigr)
		\]</p>		
		a universal implication is logically equivalent to an implication of universal quantifiers
		<p class="latex">\[
			\bigl((\forall x)(\l P_x \implies \l Q_x)\bigr)
			\equiv
			\bigl((\forall a)(\l P_a) \implies (\forall b)(\l Q_b)\bigr)
		\]</p>
		
		A universal implication is logically equivalent to the contrapositive of existential quantifiers
		<p class="latex">\[
			\bigl((\forall x)(\l P_x \implies \l Q_x)\bigr)
			\equiv
			\bigl((\exists a)(\lnot\l Q_a) \implies (\exists b)(\lnot\l P_b)\bigr)
		\]</p>
		an implication of existential quantifiers is logically equivalent to a universal implication whose consequent is an existential quantifier
		<p class="latex">\[
			\bigl((\exists a)(\l P_a) \implies (\exists b)(\l Q_b)\bigr)
			\equiv
			\Bigl(\bigl(\forall x\bigr)\bigl(\l P_x \implies (\exists y)(\l Q_{x,y})\bigr)\Bigr)
		\]</p>


		specification?
		<p class="latex">\[
			\Bigl(\bigl(\exists x\bigr)\bigl((\forall y)(\l P_{x,y})\bigr)\Bigr)
			\therefore
			\Bigl(\bigl(\forall y\bigr)\bigl((\exists x)(\l P_{x,y})\bigr)\Bigr)
		\]</p>
	</section>
	<section class="draft">
		<h1 class="h-gamma">Uniqueness Quantifiers</h1>
		<div class="informal">
			<p>A uniqueness quantifier is an assertion that there exists a particular set, and that is the only one that exists. Essentially we are asserting that there exists a set that exhibits a certain characteristic, and all sets that exhibit that characteristic are &ldquo;<a href="#D-equality">the same</a>.&rdquo;</p>
		</div>
		<div class="definition">
			<span>define: existence in the first statement; uniqueness in the second (uniqueness doesn't depend on existence)</span>
			<p>There exists an x such that P_x is true, and for all x, if P_x is true, then for all y, P_y is true if and only if x=y.</p>
			<p class="latex">\[
				\biggl((\exists!x)(\l P_x)\biggr)
				\equiv
				\biggl(
					\Bigl((\exists x)(\l P_x)\Bigr)
					\land
					\Bigl(
						\bigl(\forall x\bigr)
						\bigl(\l P_x \implies (\forall y)(\l P_y \iff x=y)\bigr)
					\Bigr)
				\Biggr)
			\]</p>

		</div>
		<div class="theorem">
			<span>prove: existence in the first statement; uniqueness in the second (uniqueness doesn't depend on existence)</span>
			<p>There exists an x such that P_x is true, and for any two x and y, if P_x and P_y are true, then x=y.</p>
			<p class="latex">\[
				\bigl((\exists!x)(\l P_x)\bigr)
				\equiv
				\bigl(
					(\exists x)(\l P_x)
					\land
					(\forall x)(\forall y)\left(\l P_x \land \l P_y \implies x=y\right)
				\bigr)
			\]</p>
		</div>
		<div class="theorem draft">
			<span>prove: existence and uniqueness in one statement</span>
			<p>There exists an x such that (P_x is true and for all y, P_y is true if and only if x=y).</p>
			<p class="latex">\[
				\bigl((\exists!x)(\l P_x)\bigr)
				\equiv
				\Bigl(
					\bigl(\exists x\bigr)
					\bigl(\l P_x \land (\forall y)(\l P_y \iff x=y)\bigr)
				\Bigr)
			\]</p>
		</div>
	</section>
</section>
<section id="equality">
	<header>
		<h1 class="h-beta">Equality and Inclusion</h1>
	</header>
	<div class="definition">
		<p class="summary"><span class="lede">The Intensionality Definition</span> A set is <dfn id="d-equality">equal to</dfn> another set iff those sets own each other's elements.</p>
		<p>We use the predicate <span class="latex">\(x=y\)</span> to describe the assertion that a set <span class="latex">\(x\)</span> is equal to a set <span class="latex">\(y\)</span>. We define this predicate as:</p>
		<p class="latex">\[
			\left(x=y\right)
			\equiv
			\left((\forall t)(t\in x \iff t\in y)\right)
		\]</p>
		<p>We use the predicate <span class="latex">\(x\not= y\)</span> to refer to the negation <span class="latex">\(\lnot(x=y)\)</span>.</p>
	</div>
	<!--div class="theorem" id="T-equalitynegation">
		<div class="latex">\[
			x\not= y\\
			\lnot(x=y)\\
			\lnot\bigl((\forall t)(t\in x \iff t\in y)\bigr)\\
			\lnot\bigl((\not\exists t)(t\in x \xor t\in y)\bigr)\\
			(\exists t)(t\in x \xor t\in y)\\
		\]</div>
	</div-->
	<div class="axiom" id="A-extensionality">
		<p class="summary"><span class="lede">The Axiom of Extensionality</span> Equal elements are members of the same sets.</p>
		<p class="latex wff">\[
			(\forall x)(\forall y)
			\left(
				\expand{x=y}{
					(\forall t)(t\in x\iff t\in y)
				}
				\iff
				\left((\forall z)(x\in z \iff y\in z)\right)
			\right)
		\]</p>
	</div>
	<div class="informal">
		<p><a href="#D-equality">Intensionality</a> states that sets that are equal have exactly the same members. We take this to be the <em>definition</em> of equality: equal sets are &ldquo;identical.&rdquo; One very important interpretation of this is that <strong>a set is determined uniquely its elements</strong>, so if sets with exactly the same elements have different definitions, names, or rearrangements, those sets are all one in the same. This may seem obvious, but a more fascinating fact about equal sets follows.</p>
		<p>By <a href="A-extensionality">The Axiom of Extensionality</a>, equal sets are members of the same containers. This means that all sets are <strong>definite and distinguishable</strong>: given an element, one should be able to decide whether or not that element would belong to any particular set; and that any two distinct elements of the same set are unequal. This will come in handy <a href="#T-singletonexists">later on</a>, when we start repeating elements within a set. By this axiom, a set cannot own the same element more than once.</p>
	</div>
	<div class="definition">
		<p class="summary">A set <span class="latex">\(x\)</span> is a <dfn id="d-subset">subset of</dfn> a set <span class="latex">\(y\)</span> iff <span class="latex">\(y\)</span> owns all the elements of <span class="latex">\(x\)</span>.</p>
		<p>We use the predicate <span class="latex">\(x\subseteq y\)</span> to describe the assertion that <span class="latex">\(x\)</span> is a subset of <span class="latex">\(y\)</span>. We define this predicate as:</p>
		<p class="latex">\[
			\left(x\subseteq y\right)
			\equiv
			\expand{(\forall t\in x)(t\in y)}{(\forall t)(t\in x \implies t\in y)}
		\]</p>
		<p>We also say <span class="latex">\(x\)</span> is included in <span class="latex">\(y\)</span>, or <span class="latex">\(y\)</span> includes <span class="latex">\(x\)</span>.</p>
	</div>
	<div class="definition">
		<p class="summary">A set <span class="latex">\(x\)</span> is a <dfn id="d-propersubset">proper subset of</dfn> a set <span class="latex">\(y\)</span> iff <span class="latex">\(x\subseteq y\)</span> and <span class="latex">\(x\not= y\)</span>.</p>
		<p>We use the predicate <span class="latex">\(x\subset y\)</span> to describe the assertion that <span class="latex">\(x\)</span> is a proper subset of <span class="latex">\(y\)</span>. We define this predicate as:</p>
		<p class="latex">\[
			\bigl(x\subset y\bigr)
			\equiv
			\bigl(
				(x\subseteq y)
				\land
				(x\not=y)
			\bigr)
		\]</p>
		<p>We also say <span class="latex">\(x\)</span> is strictly included in <span class="latex">\(y\)</span>, or <span class="latex">\(y\)</span> strictly includes <span class="latex">\(x\)</span>.</p>
	</div>
	<div class="informal">
		<p>Remember the distinction between <q><span class="latex">\(y\)</span> <em>owns</em> <span class="latex">\(x\)</span></q> and <q><span class="latex">\(y\)</span> <em>includes</em> <span class="latex">\(x\)</span></q>.</p>
		<p>In the former expression, we are trying to determine if <span class="latex">\(x\)</span> is an <em>element</em> of <span class="latex">\(y\)</span>. To do so, we look at the set <span class="latex">\(x\)</span> as a single object, and then check to see if this object is among the members of the set <span class="latex">\(y\)</span>. If so, <span class="latex">\(x\in y\)</span>.</p>
		<p>In the latter expression, we are trying to determine if <span class="latex">\(x\)</span> is a <em>subset</em> of <span class="latex">\(y\)</span>. To do this, we must open up the set <span class="latex">\(x\)</span>, examine its various elements, and then check to see if the set <span class="latex">\(y\)</span> owns every one of those elements. If so, <span class="latex">\(x\subseteq y\)</span>.</p>
		<p>In each case, we will avoid the term &ldquo;contain&rdquo; because of its ambiguous meaning in different sources. (A set could &ldquo;contain&rdquo; its elements or it could &ldquo;contain&rdquo; its subsets.)</p>
	</div>
	<section>
		<h1 class="h-gamma">Properties of Equality and Inclusion</h1>
		<div class="theorem" id="T-equalityinclusion">
			<p class="summary">Two sets are equal if and only if they are subsets of each other.</p>
			<p class="latex wff">\[
				(\forall x)(\forall y)\left(
					\expand{x=y}{
						(\forall t)(t\in x \iff t\in y)
					}
					\iff
					\left(
						\expand{x\subseteq y}{
							(\forall t)(t\in x \implies t\in y)
						}
						\land
						\expand{y\subseteq x}{
							(\forall t)(t\in y \implies t\in x)
						}
					\right)
				\right)
			\]</p>
			<div class="proof draft">use dfn of biconditional and p iff p is T</div>
		</div>
		<div class="theorem" id="T-equalityreflexive">
			<p class="summary">Equality is reflexive.</p>
			<p class="latex wff">\[
				(\forall x)\expand{x=x}{
					(\forall t)(t\in x \iff t\in x)
				}
			\]</p>
			<div class="proof draft">
				<p>proof using intensionality: use <span class="latex">\(\l p \iff \l p \therefore \top\)</span></p>
			</div>
			<div class="proof draft">another proof using extensionality</div>
		</div>
		<div class="theorem" id="T-equalitysymmetric">
			<p class="summary">Equality is symmetric.</p>
			<p class="latex wff">\[
				(\forall x)(\forall y)\left(
				\expand{x=y}{
					(\forall t)(t\in x \iff t\in y)
				}
				\implies
				\expand{y=x}{
					(\forall t)(t\in y \iff t\in x)
				}
				\right)
			\]</p>
			<p>Ergo, when <span class="latex">\(x=y\)</span>, instead of saying, <q><span class="latex">\(x\)</span> is equal to <span class="latex">\(y\)</span>,</q> we may just as well say, <q><span class="latex">\(x\)</span> and <span class="latex">\(y\)</span> are equal.</q>
			<div class="proof draft">
				<p>proof using intensionality: use <span class="latex">\(\l p \iff \l q \therefore \l q \iff \l p\)</span></p>
			</div>
			<div class="proof draft">another proof using extensionality</div>
		</div>
		<div class="theorem" id="T-equalitytransitive">
			<p class="summary">Equality is transitive.</p>
			<p class="latex wff">\[
				(\forall x)(\forall y)(\forall z)\left(
				\left(
					\expand{x=y}{
						(\forall t)(t\in x \iff t\in y)
					}
					\land
					\expand{y=z}{
						(\forall t)(t\in y \iff t\in z)
					}
				\right)
				\implies
				\expand{x=z}{
					(\forall t)(t\in x \iff t\in z)
				}
				\right)
			\]</p>
			<div class="proof draft">
				<p>use <span class="latex">\(\l p \iff \l q \land \l q \iff \l r \therefore \l p \iff \l r\)</span></p>
			</div>
			<div class="proof draft">another proof using extensionality</div>
		</div>
		<div class="theorem" id="T-inclusionreflexive">
			<p class="summary">Inclusion is reflexive.</p>
			<p class="latex wff">\[
				(\forall x)\expand{x\subseteq x}{
						(\forall t)(t\in x \implies t\in x)
					}
			\]</p>
			<div class="proof draft"></div>
		</div>
		<div class="theorem" id="T-inclusiontransitive">
			<p class="summary">Inclusion is transitive.</p>
			<p class="latex wff">\[
				(\forall x)(\forall y)(\forall z)\left(
				\left(
					\expand{x\subseteq y}{
						(\forall t)(t\in x \implies t\in y)
					}
					\land
					\expand{y\subseteq z}{
						(\forall t)(t\in y \implies t\in z)
					}
				\right)
				\implies
				\expand{x\subseteq z}{
					(\forall t)(t\in x \implies t\in z)
				}
				\right)
			\]</p>
		</div>
	</section>
</section>
</main>
</body>
</html>
