---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Propositional Logic</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="reals.css"/>
<style>
</style>
{% include all-js.html %}
<script src="reals.js"></script>
</head>
<body id="propositional-logic">
{% include masthead.html %}
<nav class="breadcrumbs">
	<a>An Axiomatic Approach to the Continuum</a>
</nav>
<div class="main">
<header>	
	<h1 class="h-alpha">Chapter I: Propositional Logic</h1>
	<nav>
		<h1 class="h-beta">Chapter Contents</h1>
		<ol class="chaptercontents list-beta">
			<li><a href="#logical-operators">Logical Variables and Expressions</a></li>
			<li><a href="#logical-axioms">The Axioms of Logic</a></li>
			<li><a href="#rules-of-inference">Rules of Inference</a></li>
		</ol>
	</nav>
</header>
<section id="logical-operators">
	<header>
		<h1 class="h-beta">Section I.A: Logical Variables and Expressions</h1>
	</header>
	<div class="definition" id="D-proposition">
		<p class="summary">A <dfn>proposition</dfn> is defined recursively as follows:</p>
		<ol class="summary">
			<li><p>If <span class="latex">\(\l p\)</span> is a proposition, then <span class="latex">\(\lnot\l p\)</span> is a proposition.</p></li>
			<li><p>If <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are propositions, then <span class="latex">\(\l p \lor \l q\)</span> is a proposition.</p></li>
			<li><p>If <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are propositions, then <span class="latex">\(\l p \land \l q\)</span> is a proposition.</p></li>
		</ol>
	</div>
	
	<div class="definition" id="D-proposition">
		<p class="summary">A <dfn>proposition</dfn> <span class="latex">\(\l p\)</span> is a statement. This statement may be <var>true</var> or <var>false</var>.</p>
		<p>When we assert that <span class="latex">\(\l p\)</span> is <var>true</var>, we state, <q><span class="latex">\(\l p\)</span></q>.</p>
	</div>
	<div class="definition" id="D-lnot">
		<p class="summary">Given a proposition <span class="latex">\(\l p\)</span>, the statement <i class="mention"><span class="latex">\(\l p\)</span> is <var>false</var></i> is itself a proposition, called the <dfn>negation</dfn> <span class="latex">\(\lnot\l p\)</span> of <span class="latex">\(\l p\)</span>.</p>
		<p>When we assert that <span class="latex">\(\l p\)</span> is <var>false</var>, we state, <q>not <span class="latex">\(\l p\)</span></q>.</p>
	</div>
	<div class="definition" id="D-lor">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn>disjunction</dfn> <span class="latex">\(\l p\lor\l q\)</span> is a proposition defined by the statement <i class="mention"><span class="latex">\(\l p\)</span> or <span class="latex">\(\l q\)</span> (or both) is <var>true</var></i>.</p>
		<p>When <span class="latex">\(\l p\lor\l q\)</span> is <var>true</var>, we state, <q><span class="latex">\(\l p\)</span> or <span class="latex">\(\l q\)</span></q>.</p>
	</div>
	<div class="definition" id="D-land">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn>conjunction</dfn> <span class="latex">\(\l p\land\l q\)</span> is a proposition defined by the the statement <i class="mention"><span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are both <var>true</var></i>.</p>
		<p>When <span class="latex">\(\l p\land\l q\)</span> is <var>true</var>, we state, <q><span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span></q>.</p>
	</div>
	<div class="definition" id="D-implies">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn>(material) implication</dfn> <span class="latex">\(\l p\implies\l q\)</span> is a proposition defined by the disjunction <span class="latex">\(\lnot\l p\lor\l q\)</span>.</p>
	</div>
	<div class="informal">
		<table class="table-list">
			<caption>There are a number of other ways to express a material implication.</caption>
			<thead><tr><th colspan="2">When <span class="latex">\(\l p\implies\l q\)</span> is <var>true</var>, we state,</th></tr></thead>
			<tbody>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> is the antecedent</q></td>
					<td><q><span class="latex">\(\l q\)</span> is the consequent</q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> then <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> if <span class="latex">\(\l p\)</span></q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> implies <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> is implied by <span class="latex">\(\l p\)</span></q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> is sufficient for <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> is necessary for <span class="latex">\(\l p\)</span></q></td>
				</tr>
				<tr>
					<td><q><span class="latex">\(\l p\)</span> is stronger than <span class="latex">\(\l q\)</span></q></td>
					<td><q><span class="latex">\(\l q\)</span> is weaker than <span class="latex">\(\l p\)</span></q></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="definition" id="D-implication-alt">
		<p class="summary">Given an implication <span class="latex">\(\mathsf{r}\)</span> defined by <span class="latex">\(\l p\implies\l q\)</span>,</p>
		<ul class="list-delta">
			<li>the implication <span class="latex">\(\l q\implies\l p\)</span> is called the <dfn>converse</dfn> of <span class="latex">\(\mathsf{r}\)</span>.</li>
			<li>the implication <span class="latex">\(\lnot\l p\implies\lnot\l q\)</span> is called the <dfn>inverse</dfn> of <span class="latex">\(\mathsf{r}\)</span>.</li>
			<li>the implication <span class="latex">\(\lnot\l q\implies\lnot\l p\)</span> is called the <dfn>contrapositive</dfn> of <span class="latex">\(\mathsf{r}\)</span>.</li>
		</ul>
	</div>
	<div class="definition" id="D-iff">
		<p class="summary">Given propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span>, the <dfn>(material) equivalence</dfn> <span class="latex">\(\l p\iff\l q\)</span> is a proposition defined by the conjunction <span class="latex">\((\l p\implies\l q)\land(\l q\implies\l p)\)</span>.</p>
	</div>
	<div class="informal">
		<table class="table-list">
			<caption>There are a number of other ways to express a material equivalence.</caption>
			<thead><tr><th>When <span class="latex">\(\l p\iff\l q\)</span> is <var>true</var>, we state,</th></tr></thead>
			<tbody>
				<tr><td><q><span class="latex">\(\l p\)</span> if and only if (iff) <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> implies and is implied by <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> is necessary and sufficient for <span class="latex">\(\l q\)</span></q></td></tr>
				<tr><td><q><span class="latex">\(\l p\)</span> is materially equivalent to <span class="latex">\(\l q\)</span></q></td></tr>
			</tbody>
		</table>	
	</div>
	<!--<div class="definition" id="D-tautology">
		<p class="summary">Given a proposition <span class="latex">\(\l p\)</span>, the <dfn>tautology</dfn> <span class="latex">\(\top\)</span> is a proposition defined by the disjunction <span class="latex">\(\l p\lor\lnot\l p\)</span>.</p>
	</div>
	<div class="definition" id="D-contradiction">
		<p class="summary">Given a proposition <span class="latex">\(\l p\)</span>, the <dfn>contradiction</dfn> <span class="latex">\(\bot\)</span> is a proposition defined by the conjunction <span class="latex">\(\l p\land\lnot\l p\)</span>.</p>
	</div>--->
</section>
<section id="logical-axioms">
	<header>
		<h1 class="h-beta">Section I.B: The Axioms of Logic</h1>
	</header>
	<section id="logical-statements">
		<header>
			<h1 class="h-gamma">Logical Statements</h1>
		</header>
		<div class="definition" id="D-lstatement">
			<p class="summary">A <dfn>logical statement</dfn> is a statement that mentions propositions.</p>
		</div>
		<div class="informal">
			<p>Propositions are material statements, and we can combine them to form other propositions. For example, we may take two propositions and made a new proposition from them called a <a class="internal" href="#D-and">conjunction</a>. The new proposition is an assertion that the other two propositions are <var>true</var>. It <dfn>uses</dfn> them in its construction.</p>
			<p>In contrast, a logical statement does not <em>use</em> other propositions; it <dfn>mentions</dfn> them. A logical statement asserts nothing about the truth of the propositions it mentions; it only makes an assertion about how the propositions are related. In fact, any relationship between propositions worth stating is true, i.e. a logical statement exists if and only if it is true (either accepted or proven). This is not the case for propositions: a proposition may exist if it is <var>false</var>.</p>
			<small>When the context is ambiguous, we will use the term <i class="mention">statement</i> (sometimes proceeded by the term <i class="mention">material</i>) to refer to material statements, also known as propositions. To refer to logical statements we will simply use <i class="mention">logical statement</i>. In general, any complete sentence in spoken word may be referred by <i class="mention">assertion</i>.</small>
		</div>
		<div class="definition" id="D-laxiom">
			<p class="summary">A <dfn>logical axiom</dfn> is a logical statement that exists without justification.</p>
		</div>
		<div class="definition" id="D-ltheorem">
			<p class="summary">A <dfn>logical theorem</dfn> is a logical statement whose existence is justified by a sequence of propositions, in an order prescribed by any previously-established logical axioms and theorems.</p>
		</div>
		<div class="definition" id="D-lproof">
			<p class="summary">A <dfn>logical proof</dfn> is a sequence of propositions used to justify the existence of a logical theorem.</p>
		</div>
		<div class="definition" id="D-therefore">
			<p class="summary">A proposition <span class="latex">\(\l p\)</span> <dfn>logically implies</dfn> a proposition <span class="latex">\(\l q\)</span> iff <span class="latex">\(\l q\)</span> is permitted to follow <span class="latex">\(\l p\)</span> in a logical proof according to a logical axiom or theorem. This logical implication is denoted <span class="latex">\(\l p\therefore\l q\)</span>.</p>
		</div>
		<div class="informal">
			<table class="table-list">
				<caption>There are a number of other ways to express a logical implication.</caption>
				<thead><tr><th colspan="2">When <span class="latex">\(\l p\therefore\l q\)</span>, we state,</th></tr></thead>
				<tbody>
					<tr>
						<td><q><span class="latex">\(\l p\)</span> is the premise</q></td>
						<td><q><span class="latex">\(\l q\)</span> is the conclusion</q></td>
					</tr>
					<tr>
						<td><q>assuming <span class="latex">\(\l p\)</span>, conclude <span class="latex">\(\l q\)</span></q></td>
						<td></td>
					</tr>
					<tr>
						<td><q><span class="latex">\(\l p\)</span> therefore <span class="latex">\(\l q\)</span></q></td>
						<td><q><span class="latex">\(\l q\)</span> because <span class="latex">\(\l p\)</span></q></td>
					</tr>
					<tr>
						<td><q><span class="latex">\(\l p\)</span> is followed by <span class="latex">\(\l q\)</span></q></td>
						<td><q><span class="latex">\(\l q\)</span> follows <span class="latex">\(\l p\)</span></q></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="definition" id="D-logical-equivalence">
			<p class="summary">Propositions <span class="latex">\(\l p\)</span> and <span class="latex">\(\l q\)</span> are <dfn>logically equivalent</dfn> iff <span class="latex">\(\l p\therefore\l q\)</span> and <span class="latex">\(\l q\therefore\l p\)</span>. This logical equivalence is denoted <span class="latex">\(\l p\equiv\l q\)</span>.</p>
		</div>
		<div class="informal">
			<p>If a logical theorem is of the form <span class="latex">\(\l p\therefore\l q\)</span>, its proof consists of a sequence of propositions starting with <span class="latex">\(\l p\)</span> and ending with <span class="latex">\(\l q\)</span>. What happens in the middle must follow the laws of the axioms and theorems already established.</p>
			<p>If a logical theorem is of the form <span class="latex">\(\l p\equiv\l q\)</span>, its proof must show both <span class="latex">\(\l p\therefore\l q\)</span> and <span class="latex">\(\l q\therefore\l p\)</span>.</p>
		</div>
		<div class="definition" id="D-tautology">
			<p class="summary">A proposition <span class="latex">\(\l p\)</span> is logically equivalent to the <dfn>tautology</dfn> <span class="latex">\(\top\)</span> if and only if <span class="latex">\(\l p\)</span> is <var>true</var> independent of its materials.</p>
		</div>
		<div class="definition" id="D-contradiction">
			<p class="summary">A proposition <span class="latex">\(\l p\)</span> is logically equivalent to the <dfn>contradiction</dfn> <span class="latex">\(\bot\)</span> if and only if <span class="latex">\(\l p\)</span> is <var>false</var> independent of its materials.</p>
		</div>
		<div class="informal">
			<p>It might be hard to imagine a proposition that is true regardless of its contents. After all, a proposition could have at least two possible values (and we will see shortly that there are exactly two possibilities). But take for example the proposition <span class="latex">\(\l p\)</span> defined by <span class="latex">\(\l q\implies\l q\)</span> (this is called the Law of Identity). No matter what truth value <span class="latex">\(\l q\)</span> holds, the implication <span class="latex">\(\l p\)</span> must be true. Therefore we would say that <span class="latex">\(\l p\)</span> is a tautology, and that it could be replaced by <span class="latex">\(\top\)</span> in a logical proof.</p>
			<p>Of course, informally, we could come up with many different forms of propositions, and verify the truth values of these forms using a truth table. However in order to use them in a formal system, we must start off with some axioms that allow us to make such replacements.</p>
		</div>
	</section>
	<div class="informal"><p>We are now ready to begin our journey into the axiomatic system. Let us start with an axiom so simple it almost need not be stated.</p></div>
<!--	<div class="axiom" id="A-proposition"><p class="summary">A proposition exists.</p></div>
	<div class="informal"><p><a class="internal" href="#A-proposition">This axiom</a> can be thought of as the <b>Bootstrap Axiom</b>, because it is a proposition that asserts the existence of itself. By merely existing it is fulfilling its prophecy. Simply put, it proves itself true. Think for a moment about what would happen if it were false. Then there would be no propositions, and it simply wouldn't exist. Thus at this point we can conclude that there is at least one true proposition.</p></div>-->
	<div class="axiom" id="A-bivalence">
		<div class="lede">The Principle of Bivalence</div>
		<ul class="">
			<li id="LEM">
				<p class="summary"><span class="lede">The Law of Excluded Middle</span> It is always the case that a proposition is <var>true</var> or <var>false</var>.</p>
				<p class="latex wff">\[\l p \lor \lnot\l p \equiv \top\]</p>
			</li>
			<li id="LNC">
				<p class="summary"><span class="lede">The Law of Non-Contradiction</span> It is never the case that a proposition is both <var>true</var> and <var>false</var>.</p>
				<p class="latex wff">\[\l p \land \lnot\l p \equiv \bot\]</p>
			</li>
		</ul>
	</div>
	<div class="informal">
		<p>Until this point there has always been the possibility that a proposition <span class="latex">\(\l p\)</span> could be both <var>true</var> and <var>false</var>, or that it could be neither. In fact, this may be the case in some abstract, many-valued branches of logic. In traditional logic however, the values <var>true</var> and <var>false</var> are both <strong>collectively exhaustive</strong> and <strong>mutually exclusive</strong>.</p>
		<!--<p>Another way of stating this principle is:</p>
		<div class="latex">\[\l p \nLeftrightarrow \lnot\l p\]</div>-->
		<p>The <a class="internal" href="#A-bivalence">Principle of Bivalence</a> is a logical statement (in two parts) that describes not only the nature of the logical system, but also the relationship between a proposition and its negation. The first part says that one or the other must be true, and the second part says that they both cannot be true. Indeed, the disjunction <span class="latex">\(\l p \lor \lnot\l p\)</span> is <var>true</var> no matter what the value of <span class="latex">\(\l p\)</span>, and likewise, the conjunction disjunction <span class="latex">\(\l p \land \lnot\l p\)</span> is <var>false</var> independent of <span class="latex">\(\l p\)</span>. From this, we can explicitly prove the following obvious conjecture.</p>
	</div>
	<div class="axiom" id="A-doubleneg">
		<p class="summary"><span class="lede">The Law of Double Negation</span> A proposition is true if and only if its negation is false.</p>
		<p class="latex wff">\[\l p \equiv \lnot\lnot\l p\]</p>
	</div>
	<div class="informal">
		<p>If <span class="tex">\(\lnot\l p\)</span> is the assertion that <span class="tex">\(\l p\)</span> is false, then the assertion that <span class="tex">\(\lnot\l p\)</span> is false, <span class="tex">\(\lnot\lnot\l p\)</span>, namely, the assertion that <i>the assertion that <span class="tex">\(\l p\)</span> is false</i> is false, is the assertion that <span class="tex">\(\l p\)</span> is true.</p>
	</div>
</section>

















<section id="rules-of-inference" hidden="hidden">
	<header>
		<h1 class="h-beta">Rules of Inference and Proofs</h1>
	</header>
	
	
	
	
	
	
	

	
		
	
	
	
	
	
	
	
	
	


<div class="definition" id="D-maxiom">
	<p class="summary">A <dfn>(material) axiom</dfn> is a proposition that is <var>true</var> without justification.</p>
	<p>
</div>
<div class="informal">
	<p class="example">Socrates is mortal.</p>
	<p>The above example is a proposition that is clearly <var>true</var>. We may choose to accept this proposition without justification, in which case it would be dubbed an axiom, or we may choose to prove this statement using a sequence of other pieces of information (which in turn may be axioms), in which case the statement would be dubbed a theorem.</p>
</div>
<div class="definition" id="D-mtheorem">
	<p class="summary">A <dfn>(material) theorem</dfn> is a proposition whose truth is justified by a sequence of previously-established theorems or axioms, in an order prescribed by a set of <a>Rules of Inference</a>. We call this sequence a <dfn>(material) proof</dfn>.</p>
</div>
<div class="informal">
	<p class="example">Socrates is mortal or immortal.</p>
	<p>This example is another proposition (specifically, a disjunction), and we can tell by its contents (its <i class="scare">materials</i>) that it is <var>true</var>, so it may be an axiom or theorem, depending on the system we have set up. If it is a theorem, we would have to construct a proof, which would comprise of a sequence of other propositions that are known or have been shown to be <var>true</var>.</p>
	<p>Generally though, this proposition is of the form <span class="latex">\(\l p\lor\lnot\l p\)</span> (a <a class="internal" href="#D-tautology">tautology</a>). One might infer that <em>all</em> tautologies are <var>true</var>, however we have not yet the tools to verify that conjecture. In order to make such a jump, we need <a class="internal" href="D-lstatement">the following definition</a>.</p>
	
</div>







<section id="metalogic">	
<div class="theorem" id="T-therefore">
	<p>A proposition <span class="tex">\(\l p\)</span> logically implies a proposition <span class="tex">\(\l p\)</span>, when and only when their implication <span class="tex">\(\l p\implies\l q\)</span> is a tautology.</p>
	<p class="proof"></p>
</div>
<div class="theorem" id="T-logical-equivalence">
	<p class="summary">Two propositions are logically equivalent when and only when their biconditional statement is a tautology.</p>
	<p class="proof"></p>
</div>
</section>



	<div>demorgan's laws:
	<p><span class="tex">\(\l p\lor\l q\)</span> is false iff <span class="tex">\(\l p\)</span> is false and <span class="tex">\(\l q\)</span> is false.</p>
	<p><span class="tex">\(\l p\land\l q\)</span> is false iff <span class="tex">\(\l p\)</span> is false, or <span class="tex">\(\l q\)</span> is false, or both are false.</p>
	</div>


	<div id="T-contrapositive">
		<p class="summary"><span class="lede">The Rule of Transposition</span>An implication is logically equivalent to its contrapositive.</p>
		<p class="">\[\l p\implies\l q \equiv \lnot\l q\implies\lnot\l p\]</p>
			<div class="proof">
				<p>Not sure how to prove this... need: logical equivalence</p>
			</div>
		</dl>
	</div>
</section>
</div>
</body>
</html>
