/* @group GRID.LESS */
/* @group Golden widths and margins */
/* @end */
/* @group lines and units */
/* @group rational-sized units */
/* @end */
/* @group Golden-sized units */
/* @end */
/* @end */
/* @end GRID */
/* @group TYPO.LESS */
/* @group headings */
.title {
  text-align: center;
}
.heading,
h1,
.h-alpha,
h2,
.h-beta,
h3,
.h-gamma,
h4,
.h-delta,
h5,
.h-epsilon,
h6,
.h-zeta {
  margin: 1em 0 0.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  color: #000000;
}
.heading .latex {
  color: inherit;
}
h1,
.h-alpha {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.000em;
  text-align: center;
  color: #000000;
}
h2,
.h-beta {
  font-weight: bold;
  font-size: 1.500em;
  color: #000000;
}
h3,
.h-gamma {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.167em;
}
h4,
.h-delta {
  font-style: italic;
  font-weight: bold;
  font-size: 1.000em;
}
h5,
.h-epsilon {
  font-style: italic;
  font-size: 0.833em;
  text-indent: 0.5in;
  color: #000000;
}
h6,
.h-zeta {
  font-style: italic;
  font-variant: small-caps;
  font-size: 0.833em;
  text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
/* @end */
/* @group paragraphs and block text */
.p,
p {
  margin: 0 0 0.5em;
  line-height: 1.4em;
}
.prose {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
  list-style-type: decimal;
}
.lede {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.q-block,
blockquote {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #000000;
  margin-left: 21px;
  font-size: 14pt;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  text-align: left;
}
.q-block.prose,
blockquote.prose {
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
}
.q-block.prose .source,
blockquote.prose .source {
  padding-left: 0;
}
.q-block.prose .source:before,
blockquote.prose .source:before {
  content: '(';
}
.q-block.prose .source:after,
blockquote.prose .source:after {
  content: ')';
}
.q-block .source,
blockquote .source {
  padding-left: 1em;
  font-family: 'Optima', 'Century Gothic', sans-serif;
}
.q-block .source:before,
blockquote .source:before {
  content: '~';
}
.caption,
figure figcaption,
table caption {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 3px;
  border-right-style: double;
  border-right-color: #000000;
  margin-right: 13px;
  font-size: 10pt;
  text-align: right;
}
.timestamp {
  font-size: smaller;
  text-align: left;
}
/* @end */
/* @group lists */
ul,
ol,
dl {
  padding: 0 0 0 0.5in;
  margin: 0 0 0.5em;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-bottom: auto;
}
.list-basic {
  padding: 0;
  list-style-type: none;
}
.list-basic dd {
  margin: 0;
}
.list-inline {
  padding: 0;
  list-style-type: none;
  display: block;
}
.list-inline dd {
  margin: 0;
}
.list-inline li {
  display: inline;
}
.list-line {
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}
.list-line dd {
  margin: 0;
}
.list-line li {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
  padding-left: 2px;
  padding-right: 2px;
}
.list-action {
  padding: 0;
  list-style-type: none;
  color: #000000;
}
.list-action dd {
  margin: 0;
}
.list-action ul,
.list-action ol,
.list-action dl {
  list-style-type: none;
}
.list-action li:before {
  content: '\2713\00A0';
}
.list-action a {
  border-bottom: 0;
  text-decoration: underline;
}
.list-omega {
  list-style-type: decimal-leading-zero;
}
.list-alpha {
  list-style-type: upper-roman;
}
.list-beta {
  list-style-type: upper-alpha;
}
.list-gamma {
  list-style-type: decimal;
}
.list-delta {
  list-style-type: lower-alpha;
}
.list-epsilon {
  list-style-type: lower-roman;
}
.list-zeta {
  list-style-type: lower-greek;
}
/* @end */
/* @group tables */
table,
.table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
table .header,
.table .header,
table thead,
.table thead,
table tfoot,
.table tfoot,
table th,
.table th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
table .body .code,
.table .body .code,
table tbody .code,
.table tbody .code,
table .body code,
.table .body code,
table tbody code,
.table tbody code {
  background-color: transparent;
}
table th,
.table th,
table td,
.table td {
  padding: 5px;
  border-color: #808080;
}
.table-list {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
  border-left: 0;
  border-right: 0;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-list .body .code,
.table-list tbody .code,
.table-list .body code,
.table-list tbody code {
  background-color: transparent;
}
.table-list th,
.table-list td {
  padding: 5px;
  border-color: #808080;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th .body,
.table-list tbody {
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
}
.table-list .header,
.table-list thead,
.table-list tfoot,
.table-list th {
  background-color: #ffffff;
}
.table-list .row-odd {
  background-color: #ffffff;
}
.table-list .row-even {
  background-color: #ffffff;
}
.table-bars {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
.table-bars .header,
.table-bars thead,
.table-bars tfoot,
.table-bars th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-bars .body .code,
.table-bars tbody .code,
.table-bars .body code,
.table-bars tbody code {
  background-color: transparent;
}
.table-bars th,
.table-bars td {
  padding: 5px;
  border-color: #808080;
}
.table-bars .header,
.table-bars th {
  border: 1px solid #000000;
  border-top: 0;
  border-bottom: 0;
}
.table-bars .header,
.table-bars th {
  background-color: #ffffff;
}
.table-bars .column-odd {
  background-color: #ffffff;
}
.table-bars .column-even {
  background-color: #ffffff;
}
.table-grid {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 auto 2em;
  text-align: center;
}
.table-grid .header,
.table-grid thead,
.table-grid tfoot,
.table-grid th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table-grid .body .code,
.table-grid tbody .code,
.table-grid .body code,
.table-grid tbody code {
  background-color: transparent;
}
.table-grid th,
.table-grid td {
  padding: 5px;
  border-color: #808080;
}
.table-grid td {
  border: 1px solid #000000;
}
.table-grid .header,
.table-grid th {
  background-color: #ffffff;
}
.table-grid .row-odd .column-odd {
  background-color: #ffffff;
}
.table-grid .row-odd .column-even {
  background-color: #ffffff;
}
.table-grid .row-even .column-odd {
  background-color: #ffffff;
}
.table-grid .row-even .column-even {
  background-color: #ffffff;
}
/* @end */
/* @group inline text */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-weight: italic;
}
mark {
  background-color: yellow;
}
.phone,
.email {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
}
.help {
  border-bottom: 2px solid #000000;
}
.help,
abbr[title],
ins[datetime],
del[datetime],
time[datetime] {
  border-bottom: 2px solid #000000;
  cursor: help;
}
.new,
ins {
  text-decoration: underline;
  color: #000000;
}
.old,
del {
  text-decoration: line-through;
  color: #000000;
}
.scare {
  font-weight: inherit;
  font-style: inherit;
}
.scare:before {
  content: open-quote;
}
.scare:after {
  content: close-quote;
}
.superscript {
  font-size: smaller;
  vertical-align: super;
}
.subscript {
  font-size: smaller;
  vertical-align: sub;
}
.hindent-5 {
  text-indent: -0.5in;
  padding-left: 0.5in;
}
.hindent-25 {
  text-indent: -0.25in;
  padding-left: 0.25in;
}
.hindent-em {
  text-indent: -1em;
  padding-left: 1em;
}
i:lang(la),
i:lang(it),
i:lang(fr) {
  font-family: 'Times New Roman', serif;
  font-style: italic;
}
/* @end */
/* @end TYPO */
/* @group MODS.LESS */
/* @group main stuff */
.body,
body {
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.hub-body {
  font-size: 12pt;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  color: #000000;
  background-color: #ffffff;
  background-image: url('/home/images/phi-stripes-trans.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.main,
main {
  width: 61.80339887498949%;
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
  margin-bottom: 162px;
}
.masthead {
  width: 14.58980337503155%;
  margin-left: 85.41019662496845%;
  margin-right: 0;
  position: fixed;
  top: 0;
  font-weight: bold;
  font-size: 1in;
  font-family: 'Times', 'Times New Roman', serif;
}
.masthead nav {
  width: 61.80339887498949%;
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
.masthead nav .mylogo {
  display: block;
  border-bottom: 0;
}
/* @end */
/* @group hyperlinks */
.link,
a {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
}
.link .latex,
a .latex {
  color: inherit;
}
.up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
}
.up .latex {
  color: inherit;
}
.dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
}
.dn .latex {
  color: inherit;
}
.sp-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
}
.sp-up .latex {
  color: inherit;
}
.sp-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
}
.sp-dn .latex {
  color: inherit;
}
.active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
}
.active .latex {
  color: inherit;
}
/* @end */
/* @group special boxes */
.box {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.box-block {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}
.block-up {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  border-color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.block-up .latex {
  color: inherit;
}
.block-dn {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  border-color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.block-dn .latex {
  color: inherit;
}
.block-active {
  border-width: 0 0 1px;
  border-style: dotted;
  text-decoration: none;
  color: inherit;
  color: #000000;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-radius: 6px;
  border-color: #ffffff;
  background-color: #000000;
  text-align: center;
}
.block-active .latex {
  color: inherit;
}
.example {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #000000;
  background-color: #ffffff;
}
.example > .label {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  font-size: smaller;
  border-color: #000000;
  color: #000000;
  background-color: #ffffff;
}
.demo {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  padding: 2em 10px 10px;
  border-color: #000000;
  background-color: #ffffff;
}
.demo > .label {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  font-size: smaller;
  border-color: #000000;
  color: #000000;
  background-color: #ffffff;
}
/* @group coding shit */
/* @end */
/* @group math shit */
.latex {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Monaco', monospace;
  white-space: pre;
  color: #000000;
}
div.latex,
p.latex {
  padding-left: 2px;
  padding-right: 2px;
  background-color: #ffffff;
  overflow: auto;
}
.tex {
  color: #f00;
}
/* @end */
/* @end */
/* @group hacks */
.noshow {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.draft {
  display: none;
  color: #999999;
}
@media print {
  body {
    color: #000000;
  }
  body {
    background-image: none;
  }
  .nav-hub,
  .courseinfo,
  .masthead {
    display: none;
  }
  .main,
  main {
    width: auto;
    margin: auto;
  }
  /* a hack for elements needed to display but not to print */
  .noprint {
    display: none !important;
  }
}
/* @end */
/* @end MODS */
.definition > .label {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.definition > .summary {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
  list-style-type: decimal;
}
.definition dfn {
  font-weight: bold;
  font-style: inherit;
}
.axiom > .label {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.axiom > .summary {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
  list-style-type: decimal;
}
.theorem > .label {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.theorem > .summary {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  margin-bottom: 0.75em;
  font-size: 11pt;
  font-family: 'Palatino', 'Book Antiqua', serif;
  text-align: justify;
  line-height: 1.3em;
  list-style-type: decimal;
}
.theorem > .proof > .label {
  margin: 0 0 0.5em;
  line-height: 1.4em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Optima', 'Century Gothic', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
}
.theorem > .proof > .qed {
  color: red;
  border-bottom: 0;
  float: right;
}
