// main: ../core/stylesheets/all.less

/** --REALS.LESS-- **/


h3, .h-gamma {text-align: center;}

ol.chaptercontents {
	a {border-bottom: 0; text-decoration: underline;}
}

.nodelabel {
	&:extend(.lede);
	font-variant: small-caps;
	text-transform: capitalize;
}

.node {
	//* a formal proposition of the axiomatic system
	&:extend(.line);
	&::before {
	//* numbers the node, e.g. "Theorem 3.1."
		&:extend(.nodelabel);
//		.unit-P4();
		display: block;
//		padding-left: 0;
//		position: relative;
//		right: @width-Golden4;
//		text-align: right;
	}
	.summary {
		//* a sentence in English that is used to identify the proposition, such as that would be presented in a tooltip or preview
		font-style: italic;
		> span.lede {
			font-style: normal;
			&:before {content: '(';}
			&:after  {content: ')';}
		}
	}
	.latex, .wff {
		//* a mathematical statement ("well-formed formula") that formalizes the proposition
		// Do NOT extend/include the `.latex` class here! It must be included in the HTML so MathJax can grab it.
		.maction:hover {
			background-color: #ccf;
			.maction:hover {
				background-color: #cfc;
				.maction:hover {
					background-color: #fcc;
					.maction:hover {
						background-color: #99f;
						.maction:hover {
							background-color: #9f9;
							.maction:hover {
								background-color: #f99;
								.maction:hover {
									background-color: #66f;
									.maction:hover {
										background-color: #6f6;
										.maction:hover {
											background-color: #f66;
											.maction:hover {
												background-color: #33f;
												.maction:hover {
													background-color: #3f3;
													.maction:hover {
														background-color: #f33;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	p:not(.latex) {
		&:extend(.prose);
	}
}
.definition {
	&:extend(.node all);
	dfn {
		font-weight: bold;
		font-style: inherit;
	}
}
.axiom {
	&:extend(.node all);
	.summary {text-align: center;}
}
.theorem {
	&:extend(.node all);
	.proof {
		margin-left: 0.5in;
		&:before {
			&:extend(.nodelabel);
			padding-right: 1em;
			content: 'Proof.';
		}
		&:after {
			.foreignlang();
			float: right;
			content: 'q.e.d.';
		}
		table {
			border: 1px outset #666;
			border-collapse: separate;
			margin-bottom: 0;
			td {
				border: 1px inset #666;
			}
		}
	}
}
/* @group numbering */
#logicdothtml {
	counter-reset: chaptercount+1 axiomcount sectioncount;
}
#set-theorydothtml {
	counter-reset: chaptercount+2 axiomcount+13 sectioncount;
}
#logicdothtml,
#set-theorydothtml {
	main > header > h1:before {
		content: 'Chapter ' counter(chaptercount, upper-roman) ': ';
	}
	.axiom:before {
		counter-increment: axiomcount;
		content: 'Axiom ' counter(axiomcount);
	}
	main > section {
		counter-increment: sectioncount;
		counter-reset: nodecount;
		> header > h1:before {
			content: 'Section ' counter(chaptercount, upper-roman) '.' counter(sectioncount, upper-alpha) ': ';
		}
		.definition:before {
			counter-increment: nodecount;
			content: 'Definition ' counter(chaptercount, upper-roman) '.' counter(sectioncount, upper-alpha) '.' counter(nodecount);
		}
		.theorem:before {
			counter-increment: nodecount;
			content: 'Theorem ' counter(chaptercount, upper-roman) '.' counter(sectioncount, upper-alpha) '.' counter(nodecount);
		}
	}
}
/* @end */

.internal {
	//* internal hyperlinks to nodes ('internal' means within the same subsite, not page
}

#frontpage {
	.list-inline dd:before {content: '\2013\0020';} // ndash, space
}

#truth-tabledothtml {
	main {
		&:extend(.linebreadth-full);
	}
	table {
		width: 100%;
		.master-header-row {
			text-transform: uppercase;
			th {width: 5.86%;}
			.master-header-column {
				width: 6.22%;
				text-transform: none;
			}
		}
		tbody#truth-values{
			border-top: 1px solid @color-accent;
			border-bottom: 1px solid @color-accent;
		}
		th, td {
		}
		tr#venn-diagrams img {width: 60px;}
	}
}
