@import url('../core/stylesheets/grid.less');
@import url('../core/stylesheets/typo.less');
@import url('../core/stylesheets/mods.less');

.main, main {}

h3, .h-gamma {text-align: center;}

ol.chaptercontents {
	a {border-bottom: 0; text-decoration: underline;}
}

.node() {// an Abstract Class representing a formal proposition of the axiomatic system
	.line();
	> .js-mathnode-label   {// the span of text that numbers the proposition, e.g. "Theorem 3.1.". This class is automatically created by JS
//		.unit-P4();
		.lede;
//		padding-left: 0;
//		position: relative;
//		right: @width-Golden4;
//		text-align: right;
	}
	> .js-mathnode-content {
//		.unit-U-P4();
//		padding-left: 0;
//		padding-right: 0;
//		position: relative;
//		left: -@width-Golden4;
	}
	/* a sentence in English that is used to identify the proposition, such as that would be presented in a tooltip or preview */
	.summary {
		font-style: italic;
		> span.lede {
			font-style: normal;
			&:before {content: '(';}
			&:after  {content: ')';}
		}
	}
	/* a mathematical statement ("well-formed formula") that formalizes the proposition */
	.wff {
		// Do NOT extend/include the `.latex` class here! It must be included in the HTML so JS can grab it.
	}
	p {
		&:not(.latex) {
			.prose;
			font-size: inherit;
		}
	}
}
.definition {
	.node();
	dfn {
		font-weight: bold;
		font-style: inherit;
	}
}
.axiom {
	.node();
}
.theorem {
	.node();
	.proof {
		&:before {
			.lede;
			content: 'Proof.';
		}
		&:after {
			.foreignlang();
			float: right;
			border-bottom: 0;
			content: 'q.e.d.';
		}
		table {
			border: 1px outset #666;
			border-collapse: separate;
			margin-bottom: 0;
			td {
				border: 1px inset #666;
			}
		}
	}
}

/* internal hyperlinks to nodes ('internal' means within the same site, not page */
.internal {
	// Do NOT extend/include the `.up` class here! It must be included in the HTML so JS can grab it.
}

#frontpage {
	.list-inline dd:before {content: '\2013\00A0';}
}

#truth-tabledothtml {
	.main {
		.linebreadth-full();
	}
	table {
		.linebreadth-full();
		.master-header-row {
			text-transform: uppercase;
			th {width: 5.86%;}
			.master-header-column {
				width: 6.22%;
				text-transform: none;
			}
		}
		tbody#truth-values{
			border-top: 1px solid @accent;
			border-bottom: 1px solid @accent;
		}
		th, td {
		}
		tr#venn-diagrams img {width: 60px;}
	}
}