---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Set Structures</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="reals.css"/>
<style>
</style>
{% include all-js.html %}
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
	<script src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,http://chharvey.github.io/core/scripts/mathjax-localconfig.js"></script>
	<script src="http://chharvey.github.io/core/scripts/all.js"></script>

<script src="reals.js"></script>
</head>
<body id="set-theorydothtml">
{% include masthead.html %}
<nav class="breadcrumbs">
	<a>An Axiomatic Approach to the Continuum</a>
</nav>
<main>
<header>
	<h1 class="h-alpha">Set Structures</h1>
	<nav>
		<h1 class="h-beta">Chapter Contents</h1>
		<ol class="chaptercontents list-beta">
			<li><a href="#relations">Relations</a></li>
			<li><a href="#functions">Functions</a></li>
			<li><a href="#operations">Operations</a></li>
		</ol>
	</nav>
</header>
<section id="relations">
	<header>
		<h1 class="h-beta">Relations</h1>
	</header>
	<section id="orderedpairs">
		<header>
			<h1 class="h-beta">Ordered Pairs</h1>
		</header>
		<div class="definition" data-status="draft" id="tuple">
			<p>Ordered Pairs. Formal and necessary.</p>
			<div class="Math">\begin{align}
				(a,b)   &:= \{\{a\},b\}\\
				(a,b,c) &:= \bigl((a,b),c\bigr) = \Bigl\{\bigl\{(a,b)\bigr\},c\Bigr\} = \Bigl\{\bigl\{\bigl\{\{a\},b\bigr\}\bigr\},c\Bigr\}\\
				(a,b,c,d) &:= \bigl((a,b,c),d\bigr) = \dots = \biggl\{\Bigl\{\Bigl\{\bigl\{\bigl\{\{a\},b\bigr\}\bigr\},c\Bigr\}\Bigr\},d\biggr\}
			\end{align}</div>
			<div class="Math">\begin{align}
				(a,b)   &:= \{a,\{b\}\}\\
				(a,b,c) &:= \bigl((a,b),c\bigr) = \bigl\{(a,b), \{c\}\bigr\} = \Bigl\{\bigl\{a,\{b\}\bigr\},\{c\}\Bigr\}\\
				(a,b,c,d) &:= \bigl((a,b,c),d\bigr) = \dots = \biggl\{\Bigl\{\bigl\{a,\{b\}\bigr\},\{c\}\Bigr\},\{d\}\biggr\}
			\end{align}</div>
		</div>
		<div class="theorem" id="T-orderedpairsequal">
			<p class="summary">Two ordered pairs are equal if and only if their corresponding components are equal.</p>
			<div class="proof">
			</div>
		</div>
		<div data-status="informal">
			<p>Tuples. Informal and not part of the system.</p>
			<div class="Math">\begin{align}
				\varnothing &:= \{\}\\
				\langle\rangle &:= \{\varnothing,\varnothing\}  &&= \{\varnothing\}\\
				\langle a\rangle &:= \bigl\{\langle\rangle,a\bigr\} &&= \bigl\{\{\varnothing\}, a\bigr\}\\
				\langle a,b\rangle &:= \bigl\{\langle a\rangle,b\bigr\} &&= \Bigl\{\bigl\{\{\varnothing\}, a\bigr\}, b\Bigr\}\\
				\langle a,b,c\rangle &:= \bigl\{\langle a,b\rangle,c\bigr\} &&= \biggl\{\Bigl\{\bigl\{\{\varnothing\}, a\bigr\}, b\Bigr\}, c\biggr\}\\
				\langle a,b,c,d\rangle &:= \bigl\{\langle a,b,c\rangle,d\bigr\} &&= \Biggl\{\biggl\{\Bigl\{\bigl\{\{\varnothing\}, a\bigr\}, b\Bigr\}, c\biggr\}, d\Biggr\}
			\end{align}</div>
		</div>
	</section>

	<!-- 	A relation on two sets is a subset of the Cartesian product of those sets.
	\begin{proof}
		By \Nref{N:relation}, any relation~$\sim$ is described as ${\sim}=\bigl\{\langle x,y \rangle \in X \times Y : \pred{R}{x,y}\bigr\}$. Equivalently,
		$$\forall \langle x,y\rangle : \bigl(\langle x,y \rangle \in {\sim} \iff \langle x,y \rangle \in X \times Y \land \pred{R}{x,y}\bigr)$$
		This is precisely the requirement for \Aref{A:specification}. Thus, $\langle x,y\rangle \in {\sim} \implies \langle x,y\rangle \in X\times Y$ and we have ${\sim}\subseteq X\times Y$.
	\end{proof}
-->
	<div>
		reflexive:
		<div class="Math">(\forall a\in s) (a\sim a)</div>
	</div>
	<div>
		irreflexive:
		<div class="Math">(\exists a\in s) (a\not\sim a)</div>
	</div>
	<div>
		antireflexive:
		<div class="Math">(\forall a\in s) (a\not\sim a)</div>
		(implies irreflexive)
	</div>
	<div>
		symmetric:
		<div class="Math">(\forall a,b\in s) (a\sim b \implies b\sim a)</div>
	</div>
	<div>
		asymmetric:
		<div class="Math">(\exists a,b\in s) (a\sim b \land b\not\sim a)</div>
	</div>
	<div>
		antisymmetric:
		<div class="Math">(\forall a,b\in s) (a\sim b \implies b\not\sim a)</div>
		(implies asymmetric)
	</div>
	<div style="background-color: #eee;">
		something else:
		<div class="Math">(\forall a,b\in s)(a\sim b \land b\sim a \implies a=b)</div>
	</div>
	<div>
		transitive:
		<div class="Math">(\forall a,b,c\in s) (a\sim b \land b\sim c \implies a\sim c)</div>
	</div>
	<div>
		intransitive:
		<div class="Math">(\exists a,b,c\in s) (a\sim b \land b\sim c \land a\not\sim c)</div>
	</div>
	<div>
		antitransitive:
		<div class="Math">(\forall a,b,c\in s) (a\sim b \land b\sim c \implies a\not\sim c)</div>
	</div>
	<div>
		comparable (total):
		<div class="Math">(\forall a,b\in s) (a\sim b \lor b\sim a)</div>
	</div>
	<div>
		uncomparable:
		<div class="Math">(\exists a,b\in s) (a\not\sim b \land b\not\sim a)</div>
	</div>
	<div>
		anticomparable: (iff the relation is empty)
		<div class="Math">(\forall a,b\in s) (a\not\sim b \land b\not\sim a)</div>
	</div>
	<div>
		defined:
		<div class="Math">(\forall a\in s) (\exists b\in s) (a\sim b)</div>
	</div>
	<div>
		undefined:
		<div class="Math">(\exists a\in s) (\forall b\in s) (a\not\sim b)</div>
	</div>
	<div>
		well-defined:
		<div class="Math">(\forall a,b,c\in s) (a\sim b \land a\sim c \implies b=c)</div>
		<div class="Math">(\forall a,b,c,d\in s) (a\sim b \land d\sim c \land a=d, \implies, b=c)</div>
	</div>
	<div>
		not well-defined:
		<div class="Math">(\exists a,b,c\in s) (a\sim b \land a\sim c \land b\not=c)</div>
		<div class="Math">(\exists a,b,c,d\in s) (a\sim b \land d\sim c \land a=d, \land, b\not=c)</div>
	</div>
	<div>
		injective:
		<div class="Math">(\forall a,b,c\in s) (a\sim b \land d\sim b \implies a=d)</div>
		<div class="Math">(\forall a,b,c,d\in s) (a\sim b \land d\sim c \land b=c, \implies, a=d)</div>
	</div>
	<div>
		surjective:
		<div class="Math">(\forall b\in s) (\exists a\in s) (a\sim b)</div>
	</div>
	<!--div>

		\begin{definition}\Dlabel{D:lowerBound}
	Then an element~$d\in A$ is a \defn{lower bound} of $B$ iff for all $x\in B$, $d\leq x$. When $d$ is a lower bound of $B$, we say $B$ is \defn{bounded below} by $d$.

	Then an element~$u\in A$ is an \defn{upper bound} of $B$ iff for all $x\in B$, $x\leq u$. When $u$ is an upper bound of $B$, we say $B$ is \defn{bounded above} by $u$.
\end{definition}

\begin{definition}\Dlabel{D:infimum}
	Then a lower bound~$i\in A$ of $B$ is an \defn{infimum} of $B$ iff, for every lower bound~$d\in A$ of $B$, $d\leq i$. When $i$ is an infimum of $B$, we write $i=\inf{B}$.

	Then an upper bound~$s\in A$ of $B$ is a \defn{supremum} of $B$ iff, for every upper bound~$u\in A$ of $B$, $s\leq u$. When $s$ is a supremum of $B$, we write $s=\sup{B}$.
\end{definition}

\begin{definition}\Dlabel{D:minimum}
	Then an infimum~$a$ of $B$ is a \defn{minimum} of $B$ iff $a\in B$. When $a$ is a minimum of $B$, we write $a=\min{B}$.

	Then a supremum~$b$ of $B$ is a \defn{maximum} of $B$ iff $b\in B$. When $b$ is a maximum of $B$, we write $b=\max{B}$.
\end{definition}

\begin{proposition}\Plabel{P:infimumSupremumUnique}
	If a set has an infimum, that infimum is unique. If a set has a supremum, that supremum is unique. (Every set has at most one infimum and at most one supremum.)
	\begin{proof}
		Suppose a set $B$ has two infima~$i$ and $j$. \Dref{D:infimum} says $i$ and $j$ are both lower bounds. But if $i$ is an infimum then $j\leq i$, and if $j$ is an infimum then $i\leq j$. Thus $j\leq i \land i\leq j$. By the antisymmetry of the total order~$\leq$ (\Dref{D:totalOrder}), $i=j$. Then $B$ has only one infimum. A parallel proof can be provided for suprema.
	\end{proof}
\end{proposition}

\begin{definition}\Dlabel{D:strictTotalOrder}
	Define $<$ on a chain~$\langle O,\leq\rangle$ such that:
	\begin{equation*}\label{eq:strictlyLessThan}
		\forall x,y\in O : x<y \iff x\leq y \land x\not=y
	\end{equation*}
	For any $x,y\in O$, we say $x$ is \defnidx{strictly less than}{less than!strictly} $y$ when $x<y$. Conversely, we say $x$ is \defnidx{strictly greater than}{greater than!strictly} $y$ when $y<x$, or written, $x>y$.
\end{definition}

\begin{theorem}\Tlabel{T:strictTotalOrder}
	``Strictly less than'' is a binary relation that is irreflexive, asymmetric, antisymmetric, transitive, and comparable.
	\begin{proof}
		We are given a chain~$\langle O,\leq\rangle$. Recall \Dref{D:totalOrder}, that the relation~$\leq$ is reflexive, antisymmetric, transitive, and comparable (see \Dref{D:relationProperties}). For all $x,y,z\in O$,
		\begin{enumerate}
			\item[\case{Binary Relation}] ??? prove $<$ is a binary relation by \Dref{D:relation}???
			\item[\case{Asymmetry}] Let $x\lty$. Then $x\leq y$ but $x\not=y$. Suppose to the contrary that $y<x$ also. Then $y\leq x \land y\not=x$. By the antisymmetry of $\leq$, we have $x\leq y \land y\leq x$, thus $x=y$. But $x\not=y$ by assumption. We have the \indexthis{contradiction}~$x=y\land\lnot(x=y)$. Therefore, whenever $x<y$ it is the case that $y\not<x$, which proves asymmetry.
			\item[\case{Irreflexivity}] Assume $<$ is not irreflexive. Then $\exists x\in O : x<x$. By asymmetry, we have $x<x \implies x\not<x$, which is logically equivalent to $x\not<x$. We have the \indexthis{contradiction}~$x<x \land \lnot(x<x)$. Therefore $<$ is irreflexive.
			\item[\case{Antisymmetry}] As a consequence of asymmetry, we have the \indexthis{vacuous} implication~$x<y \land y<x \implies x=y$ (the antecedent is false). Therefore antisymmetry holds true.
			\item[\case{Transitivity}] Let $x<y$ and $y<z$. Then $x\leq y$ with $x\not=y$ and $y\leq z$ with $y\not=z$. By the transitivity of $\leq$, $x\leq z$. Now if $x=z$ then we have $y<x$, but we know $x<y$ and $<$ is asymmetric, so $y\not<x$, a \indexthis{contradiction}. Thus $x\not=z$ and $x\leq z$, so $x<z$. Therefore $<$ is transitive.
			\item[\case{Comparability}] Assume $x\not=y$. By comparability of $\leq$, at least one of $x\leq y$ or $y\leq x$ holds true. Expanding, $x<y \land x\not=y$ or $y<x \land y\not=x$ holds true. But by our assumption, this simplifies to $x<y \lor y<x$. Therefore comparability holds.
		\end{enumerate}
		Since $<$ is an irreflexive, asymmetric, antisymmetric, transitive, and comparable binary relation, we call $<$ a \defn{strict total order} on $O$.
	\end{proof}
\end{theorem}
\begin{definition}\Dlabel{D:closedInterval}
	Given a chain~$\langle O,\leq\rangle$, a subset~$[a,b]$ of $O$ is a \defnidx{closed interval}{interval!closed} of $O$ iff
	\begin{gather*}\label{eq:closedInterval}
		\forall x : \bigl(x\in [a,b] \iff x\in O \land (a\leq x \land x \leq b)\bigr) \\
		[a,b]=\{x \in O : a \leq x \leq b\}
	\end{gather*}
	We say $a$ is the \defnidx{left endpoint}{endpoint!left} of $[a,b]$ and $b$ is the \defnidx{right endpoint}{endpoint!right} of $[a,b]$.
\end{definition}

\begin{definition}\Dlabel{D:openInterval}
	Given a chain~$\langle O,\leq\rangle$, a subset~$(a,b)$ of a closed interval~$[a,b]$ of $O$ is an \defnidx{open interval}{interval!open} of $O$ iff
	\begin{gather*}\label{eq:openInterval}
		\forall x : \bigl(x\in (a,b) \iff x\in [a,b] \land (a\not=x \land x\not=b)\bigr)\\
		(a,b)=\{x \in O : a < x < b\}
	\end{gather*}
	By \Tref{T:inclusionRelation}, $(a,b)\subseteq O$.
	We say $a$ is the \defnstyle{left endpoint} of $(a,b)$ and $b$ is the \defnstyle{right endpoint} of $(a,b)$.
\end{definition}

\begin{proposition}\Plabel{P:intervalsExist}
	Given a chain~$\langle O,\leq\rangle$ and two elements~$a,b\in O$, there exists exactly one closed interval~$[a,b]$ of $O$, and exactly one open interval~$(a,b)$ of $O$.
	\begin{proof}

	\end{proof}
\end{proposition}
-->


</section>
<section id="functions">
	<header>
		<h1 class="h-beta">Functions</h1>
	</header>
	<!--div>
	\begin{definition}\Dlabel{D:function}
	A binary relation~$f$ is called a \defn{function} (also known as a \defn{mapping}), iff $f$ is \defn{defined} and \defn{well-defined}. See \Dref{D:relationProperties}.\ref{eq:defined} and \Dref{D:relationProperties}.\ref{eq:wellDefined}.
	\begin{equation*}\label{eq:function}
		f=\bigl\{\langle x,y\rangle \in X \times Y : \pred{F}{x,y}\bigr\}
	\end{equation*}
	Given the predicate $\pred{F}{x,y}$, $\langle x,y\rangle \in f$. Since $f$ is a relation, we could write $xfy$, but instead we write $f(x)=y$ and we say $y$ is the \defn{value} of the function~$f$ at the \defn{argument}~$x$. We say \emph{the} value, instead of \emph{a} value, because there exists not more than one, since $f$ is well-defined. An alternative nomenclature is: $f(x)$ is the \defn{image} of the \defn{preimage}~$x$.
\end{definition}

We specify the relational properties of \Dref{D:relationDomain} and \Dref{D:relationRange} in terms of functions below.

\begin{definition}\Dlabel{D:functionDomain}
	The set~$D$, called the \defn{domain} of a function~$f$, is the set of all arguments of $f$ in the superdomain~$X$.
	\begin{equation*}\label{eq:functionDomain}
		D=\dom{f} = \Bigl\{x \in X : \bigl(\exists y \in Y : f(x)=y\bigr)\Bigr\}
	\end{equation*}
	We are guaranteed $D\subseteq X$ by \Aref{A:specification}.
\end{definition}

\begin{definition}\Dlabel{D:functionRange}
	The set~$f(D)$, called the \defn{range} of a function~$f$ (whose domain is $D$), is the set of all values of $f$ in the superrange~$Y$.
	\begin{equation*}\label{eq:functionRange}
		f(D)=\ran{f} = \Bigl\{y \in Y : \bigl(\exists x \in X : f(x)=y\bigr)\Bigr\}=\bigl\{f(x) \in Y : x \in D\bigr\}
	\end{equation*}
	We are guaranteed $f(D)\subseteq Y$ by \Aref{A:specification}.
\end{definition}

\begin{definition}\Dlabel{D:functionCodomain}
	The set~$C$, called the \defn{codomain} of a function~$f$, is another name for the the superrange~$Y$.
	$$C=Y$$
\end{definition}
\begin{lemma}\Llabel{L:cartesianSubset}
	$A\subseteq X$ and $B\subseteq Y$ if and only if $(A\times B)\subseteq(X\times Y)$.
	\begin{proof}
		????? \textsf{\Nref{N:function} is dependent on this lemma}
	\end{proof}
\end{lemma}

\begin{notation}\Nlabel{N:function}
	When the function~$f$ is a relation on two sets~$X$ and $Y$, we can write $f$ as the equation in \Dref{D:function}. But the domain~$D \subseteq X$ (\Dref{D:functionDomain}) and the codomain~$C \subseteq Y$ (\Dref{D:functionCodomain} and \eqref{eq:setEquality}). Then $(D\times C)\subseteq(X\times Y)$ (by \Lref{L:cartesianSubset}). Thus we use the notation
	\begin{equation*}\label{eq:functionDomCodom}
		(f\colon D \mapsto C)=\bigl\{\langle x,y\rangle \in D \times C : \pred{F}{x,y}\bigr\}
	\end{equation*}
	We say $f$ is a function (a mapping) from $D$ into $C$; and that $f$ \defnidx{maps}{map} elements of $D$ to elements of $C$, or $f$ \defnidx{assigns}{assign} elements of $C$ to elements of $D$.
\end{notation}

\begin{example}\Elabel{E:function}
	When the argument of a function~$f$ is an ordered pair~$\langle x,y\rangle$, ordered triple~$\langle x,y,z\rangle$, \etc, it is common notation to write the value as $f(x,y)$ or $f(x,y,z)$ rather than the technically correct notation $f\bigl(\langle x,y\rangle\bigr)$ or $f\bigl(\langle x,y,z\rangle\bigr)$.
\end{example}

\begin{definition}\Dlabel{D:definedFunction}
	Using new notation, we restate \Dref{D:relationProperties}.\ref{eq:defined}:
	\begin{equation*}\label{eq:definedRelation}
		\forall x \in D : \exists y \in C : xfy
	\end{equation*}
	We exactly restate the functional requirement. A relation~$f\colon D \mapsto C$ is a function only if it is \defn{defined}: ``Each element of $D$ is mapped to some element of $C$.''
	\begin{equation*}\label{eq:definedFunction}
		\forall x \in D : \exists y \in C : f(x)=y
	\end{equation*}
\end{definition}

\begin{definition}\Dlabel{D:wellDefinedFunction}
	Using new notation, we restate \Dref{D:relationProperties}.\ref{eq:wellDefined}:
	\begin{equation}\label{eq:wellDefinedRelation}
		\forall x \in D : \forall y,z \in C : \bigl(f(x)=y \land f(x)=z \implies y=z\bigr)
	\end{equation}
	We state an analogous functional requirement, which is proved in \Tref{T:wellDefinedFunction}. A relation~$f\colon D \mapsto C$ is a function only if it is \defn{well-defined}: ``An element of $D$ \emph{that is mapped} is mapped to a uniquely determined element of $C$.''
	\begin{equation}\label{eq:wellDefinedFunction}
		\forall a,b \in D : a=b \implies f(a)=f(b)
	\end{equation}
	Equivalently, $\forall a,b \in D : f(a)\not=f(b) \implies a\not=b$ (``Different elements of $C$ \emph{that are assigned} are assigned to different elements of $D$'').
\end{definition}

Since any function~$f$ must be defined and well-defined, we say $f$ maps each element of $D$ to a uniquely determined element of $C$; or $f$ assigns a uniquely determined element of $C$ to each element of $D$.

\begin{theorem}\Tlabel{T:wellDefinedFunction}
	The formulae~\eqref{eq:wellDefinedRelation} and \eqref{eq:wellDefinedFunction} from \Dref{D:wellDefinedFunction} are equivalent.
	\begin{proof}
		Logical statements that are materially equivalent take a biconditional form. Thus we must prove both directions.
		\begin{enumerate}
			\item[\case{$\implies$}] Given a function~$f\colon D\mapsto C$, assume \eqref{eq:wellDefinedRelation}: that for any argument~$x$ in the domain, if there are two values of $f$ at $x$, then those values are equal.
				Let $\exists a,b\in D$ such that $a=b$ and let $f(a)=y$ and $f(b)=z$. Then by our assumption, $y=z$, and then by transitivity and symmetry of equality (\Rref{R:identityRelation}), $f(a)=f(b)$. Thus we conclude \eqref{eq:wellDefinedFunction}.
			\item[\case{$\impliedby$}] Now assume \eqref{eq:wellDefinedFunction}: that if two arguments are equal, then the values of $f$ at those arguments are also equal.
				Let $\exists x\in D$ with $f(x)=y$ and $f(x)=z$. By reflexivity in \Rref{R:identityRelation}, $x=x$, and by our assumption, $f(x)=f(x)$, and thus $y=z$. Then we have \eqref{eq:wellDefinedRelation}.
		\end{enumerate}
	\end{proof}
\end{theorem}

\begin{definition}\Dlabel{D:surjection}
	A function~$f\colon D \surjects C$ is a \defn{surjection} iff it is \defn{onto} (surjective): ``Every element of $C$ is assigned to some element of $D$.''
	\begin{equation*}\label{eq:surjection}
		\forall y \in C : \exists x \in D : f(x)=y
	\end{equation*}
\end{definition}

\begin{definition}\Dlabel{D:injection}
	A function~$f\colon D \injects C$ is an \defn{injection} iff it is \defn{one-to-one} (injective): ``Each element of $C$ \emph{that is assigned} is assigned to a uniquely determined element of $D$.''
	\begin{equation*}\label{eq:injection}
		\forall a,b \in D : f(a)=f(b) \implies a=b
	\end{equation*}
	Equivalently, $\forall a,b \in D : a\not=b \implies f(a)\not=f(b)$ (``Different elements of $D$ are mapped to different elements of $C$'').
\end{definition}

\begin{definition}\Dlabel{D:bijection}
	A function~$f \colon D \bijects C$ is a \defn{bijection} iff it is both onto and one-to-one ($f$ is said to be bijective). Essentially this means that a bijection maps every element of the domain to exactly one unique element of the codomain, and assigns every element of the codomain to exactly one unique element of the domain.
\end{definition}

\begin{theorem}\Tlabel{T:surjection}
	A function is a surjection if and only if its codomain is equal to its range.
	\begin{proof} \hfill
		\begin{enumerate}
			\item[\case{$\implies$}] Let $f\colon D \surjects C$ be a surjection, as in \Dref{D:surjection}. That is, $\forall y \in C : \exists x \in D : f(x)=y$. Expressed differently,
			\begin{equation}\label{eq:surjectionThm}
				y \in C \implies y \in \Bigl\{y \in Y : \bigl(\exists x \in D : f(x)=y\bigr)\Bigr\}
			\end{equation}
			\Dref{D:subset} indicates $C$ is a subset of the set in \eqref{eq:surjectionThm}. But since $D\subseteq X$ by \Dref{D:functionDomain}, the predicate~$\bigl(\exists x \in D : f(x)=y\bigr)$ implies the predicate~$\bigl(\exists x \in X : f(x)=y\bigr)$, which is required by \Dref{D:functionRange}. So the set in \eqref{eq:surjectionThm} is a subset of $f(D)$. Then by \Tref{T:inclusionRelation}, we have $C\subseteq f(D)$. Also, by \Dref{D:functionRange} and \Dref{D:functionCodomain}, $f(D)\subseteq Y=C$. Therefore \eqref{eq:setEquality} concludes $C=f(D)$.
			\item[\case{$\impliedby$}] Now assume $C=f(D)$. Then certainly $C\subseteq f(D)$, so
			$$C \subseteq \Bigl\{y \in Y : \bigl(\exists x \in X : f(x)=y\bigr)\Bigr\}$$
			So now we have $y \in C \implies \exists x \in X : f(x)=y$. We must show now that $x$ is in $D$. But if $f(x)=y$ exists, then \Dref{D:functionDomain} requires $x\in D$. Therefore $\forall y\in C : \exists x \in D : f(x)=y$ and we have a surjection.
		\end{enumerate}
	\end{proof}
\end{theorem}


\begin{theorem}\Tlabel{T:functionEquality}
	One function is equal to another function if and only if their domains are equal, and, at each argument in the common domain, the values of both functions are equal.
	\begin{gather*}\label{eq:functionEquality}
		\forall (f \colon A \mapsto B),(g \colon C \mapsto D) : \\
		f=g \iff A=C \land (\forall a \in A : f(a)=g(a))
	\end{gather*}
	\begin{proof}\hfill
		\begin{enumerate}
			\item[\case{$\implies$}] Given functions~$f,g$, let $f \colon A \mapsto B$ be equal to $g \colon C \mapsto D$.
				\begin{align*}
					f&=\bigl\{\langle a,b\rangle \in A \times B : b=f(a)\bigr\}\\
					 &=\bigl\{\langle c,d\rangle \in C \times D : d=g(c)\bigr\}=g
				\end{align*}
				Suppose $\langle a,b\rangle\in f$. Then by \Dref{D:cartesianProduct}, $a\in A$, and because $f$ is defined (\Dref{D:definedFunction}), $b=f(a)$. But because $f=g$ by assumption, \Aref{A:extensionality} guarantees $\langle a,f(a)\rangle\in f \implies \langle a,f(a)\rangle\in g$. Then $a\in C$. So we have $a\in A \implies a\in C \therefore A \subseteq C$ (\Dref{D:subset}). Similarly, we can show $C \subseteq A$. Thus $A=C$ by \eqref{eq:setEquality}. Now since $a\in C$ and $g$ is defined, there must be some $g(a)\in D$ such that $\langle a,g(a)\rangle\in g$. So we have two ordered pairs~$\langle a,f(a)\rangle$ and $\langle a,g(a)\rangle$ elements of $g$. But since $g$ is well-defined (\Dref{D:wellDefinedFunction}), $f(a)=g(a)$.
			\item[\case{$\impliedby$}] Assume we have two functions~$(f \colon A \mapsto B), (g \colon C \mapsto D)$ with equal domains, $A=C$, and equal values at each preimage, $\forall a \in A : f(a) = g(a)$.
			Now suppose $\langle a,b\rangle\in f$. Then $a\in A$ and $b=f(a)\in B$. Notice $a \in A \implies a \in C$. Then there must be some $d\in D$ such that $\langle a,d\rangle\in g$ with $d=g(a)$ because $g$ is defined.
			So far we have $b=f(a)$ and $d=g(a)$. But since all values of $f$ and $g$ at $a$ are equal by assumption, we have $b=f(a)=g(a)=d \therefore b=d$ (by \Rref{R:identityRelation}). Thus $\langle a,b\rangle \in f \implies \langle a,d\rangle=\langle a,b\rangle \in g$, and $f \subseteq g$. In a parallel manner, we can show $g \subseteq f$. Therefore $f=g$.
		\end{enumerate}
	\end{proof}
\end{theorem}

	</div-->
</section>
<section id="operations">
	<header>
		<h1 class="h-beta">Operations</h1>
	</header>
	<!--
\begin{definition}\Dlabel{D:operation}
	A function~$*_{_{S}}$ is called a \defnidx{binary operation}{operation!binary}\indexterm{binary!operation} on a set $S$ iff it is a function on two sets~$S^{2}$ and $S$ (with $S^{2}$ the \indexthis{Cartesian square} of $S$).% and it maps one element~$\langle x,y\rangle \in S^{2}$ (two elements~$x,y \in S$) to one element~$z \in S$.
	\begin{align*}%\label{eq:operation}
		*_{S}	&=\Bigl\{\bigl\langle {\langle x,y\rangle},z \bigr\rangle \in S^{2} \times S : \pred{O}{x,y,z}\Bigr\}\\
				&=\bigl\{\langle x,y,z\rangle \in S^{3} : \pred{O}{x,y,z}\bigr\}
	\end{align*}

	Using standard set notation (Section~\ref{sect:sets}), we would write $\bigl\langle{\langle x,y\rangle},z\bigr\rangle\in*_{S}$. But we found in Section~\ref{sect:relations} the relational notation $\langle x,y\rangle *_{S}z$ has taken precedence. We then switched to the functional notation $z=*_{S}(x,y)$ in Section~\ref{sect:functions}. Now, in Section~\ref{sect:operations}, we adopt an operational notation which is even more shorthand. We write $z = x*_{S}y$. If the set~$S$ is implied, we simply write $z=x*y$

	For $z = x *y$ we say, ``$x$ \emph{star} $y$.'' If the name of the operation is given, we use that name instead of \emph{star}. If an ambiguous operation is denoted with another symbol, say, $\#$ (pound), then we use that name instead.

	A function is a \defnidx{unary operation}{operation!unary}\indexterm{unary!operation}~$*_{S}$ on a set $S$ iff it maps one element of $S$ to another element of $S$. For any argument~$x\in S$, we denote the value as $*_{S}(x)\in S$, or sometimes $*_{S}x\in S$.
	$$ *_{S} =\bigl\{\langle x,y\rangle \in S^{2} : \pred{O}{x,y}\bigr\}$$
\end{definition}

\begin{definition}\Dlabel{D:operationClosure}
	By \Dref{D:operation}, operations must have \defnstyle{closure}: ``every value is a member of the same set as that which owns the components of the argument.'' The set~$S$ is said to be \defnidx{closed under}{closed!(a set) under an operation} (relative to) the operation~$*$.
	\begin{gather*}\label{eq:closed}
		\forall S : \forall * : \forall \langle x,y\rangle \in S^{2} : (x*y) \in S \\
		\forall S : \forall * : \forall s \in S : *s \in S
	\end{gather*}
\end{definition}

\begin{definition}\Dlabel{D:operationProperties}\hfill
	\begin{enumerate}
		\item Binary operations may have, but not necessarily, any of the following properties:
			\begin{enumerate}
				\item\label{eq:associative} \defn{associativity}: $\forall x,y,z \in S : x *(y *z) = (x *y) *z$
				\item\label{eq:commutative} \defn{commutativity}: $\forall x,y \in S : x *y = y *x$
				\item\label{eq:distributive} \defn{distributivity} over another operation~$\#$: $\forall x,y,z \in S : \\% let * represent multiplication and # represent addition
				\bigl(x *(y \# z) = (x *y) \# (x *z)\bigr) \land \bigl((y \# z) *x = (y *x) \# (z *x)\bigr)$
			\end{enumerate}
		\item Elements of sets on which binary operations exist may have, but not necessarily, any of the following properties:
			\begin{enumerate}
				\item\label{eq:identityElement} \defnidx{identity}{element!identity}: $\exists \epsilon \in S : \forall x \in S : x *\epsilon = x = \epsilon *x$
				\item\label{eq:inverseElement} \defnidx{inverse}{element!inverse}\indexterm{inverse!element|seeonly{element, inverse}}: $\exists\epsilon\in S :\forall x\in S : \exists\multinv{x} \in S : x*\multinv{x} = \epsilon = \multinv{x}*x$
				\item\label{eq:zeroElement} \defnidx{zero}{element!zero}: $\exists o \in S : \forall x\in S: x*o=o=o*x$
			\end{enumerate}
	\end{enumerate}
\end{definition}
	-->

</section>
<section id="fields">
	<h1 class="h-gamma">Fields</h1>
	<!--
\begin{definition}\Dlabel{D:field}
A structure~$\langle F,*,\#\rangle$ is a \defn{field} iff $F$ is a set, and $*$ and $\#$ are two binary operations on $F$ such that:
\begin{enumerate}
	\item $F$ is closed under $\#_{F}$ (implied by \Dref{D:operationClosure})
	\item $\#$ is associative
	\item $\#$ is commutative
	\item there exists an identity element~$\zeta$ (called a \defn{naught}) in $F$ relative to $\#$
	\item every element~$f\in F$ has an inverse~$\addinv{f}$ with respect to $\#_{F}$

	\item $F$ is closed under $*_{F}$ (implied by \Dref{D:operationClosure})
	\item $*$ is associative
	\item $*$ is commutative
	\item there exists an identity element~$\epsilon$ (called a \defn{unity}) in $F$ relative to $*$
	\item every element~$f$ of $F$ \emph{except the naught~$\zeta$} has an inverse~$\multinv{f}$ with respect to $*$ (see \Pref{P:naughtHasNoMultInv} for an explanation)

	\item $*_{F}$ distributes over $\#_{F}$
%		$\forall x,y,z \in F$,
%		$$\bigl(x*(y\#z)=(x*y)\#(x*z)\bigr) \land \bigl((y\#z)*x=(y*x)\#(z*x)\bigr)$$
\end{enumerate}
It might be useful to review \Dref{D:operationProperties} for these properties.
\end{definition}

\begin{proposition}\Plabel{P:uniqueIdentities}
Given a field, for every operation on that field, there exists exactly one identity element. These identity elements are unequal.
\begin{proof}
	Given a field~$\langle F,*,\# \rangle$,
	\begin{enumerate}
		\item Assume to the contrary that there are two distinct identities~$\alpha$ and $\beta$ with respect to $*$. That is, by \Dref{D:operationProperties}.\ref{eq:identityElement}, $\forall x\in F$, $x*\alpha=x=\alpha*x$ and $x*\beta=x=\beta*x$. Consider $\alpha*\beta=\alpha=\beta$, but $\alpha\not=\beta$. Thus $\beta\not=\beta$, a \indexthis{contradiction}. A parallel argument can be given for $\#$.
		\item Assume to the contrary that $\epsilon=\zeta$. Then $\epsilon*\zeta=\zeta=\epsilon$. and $\epsilon\#\zeta=\epsilon$.
		 ???????????????%%%%%%%%%%%%%%%%%%%%%%%
	\end{enumerate}
\end{proof}
\end{proposition}

\begin{proposition}\Plabel{P:uniqueInverses}
Given a field and a binary operation on that field, for every element in that field, there exists exactly one inverse element relative to that operation (with the exception of the naught not having an inverse relative to \textit{star}). These inverses are unequal.
\begin{proof}
	Given a field~$F$, $\forall x\in F$,
	\begin{enumerate}
		\item show that $\multinv{x}$ and $\addinv{x}$ are unique
		\item show that $\multinv{x}$ and $\addinv{x}$ are unequal
	\end{enumerate}
\end{proof}
\end{proposition}

\begin{theorem}\Tlabel{T:fieldZero}
In a field, there exists a zero element, and the naught serves as this element.
\begin{proof}
	Let $\langle F,*,\#\rangle$ be a field by \Dref{D:field}. Then for the associative (\Dref{D:operationProperties}.\ref{eq:associative}) and commutative (\Dref{D:operationProperties}.\ref{eq:commutative}) binary operations~$*$ and $\#$ on $F$, there exist a unity~$\epsilon$ relative to $*$ and a naught~$\zeta$ relative to $\#$. Expanding, with \Dref{D:operationProperties}.\ref{eq:identityElement},
	$$\forall x \in F : (x*\epsilon=x=\epsilon*x) \land (x\#\zeta=x=\zeta\#x)$$
	Also, every element has an inverse (\Dref{D:operationProperties}.\ref{eq:inverseElement}) with respect to both operations, with the exception that $\multinv{\zeta}$ does not exist.
	$$\forall x \in F : (x*\multinv{x}=\epsilon=\multinv{x}*x) \land (x\#\addinv{x}=\zeta=\addinv{x}\#x)$$
	Now, only because \textit{star} distributes over \textit{pound} (\Dref{D:operationProperties}.\ref{eq:distributive}), for every $x\in F$,
	\begin{align*}
		\epsilon*x                       &=x\\
		(\zeta\#\epsilon)*x              &=x\\
		(\zeta*x)\#(\epsilon*x)          &=x\\
		(\zeta*x)\#x                     &=x\\
		\bigl((\zeta*x)\#x\bigr)\#\addinv{x} &=x\#\addinv{x}\\
		(\zeta*x)\#(x\#\addinv{x}) &=x\#\addinv{x}\\
		(\zeta*x)\#\zeta                 &=\zeta\\
		\zeta*x                          &=\zeta
	\end{align*}
	Let $o=\zeta$. Then $\forall x\in F : o*x=o$ and the naught~$\zeta$ is the zero element~$o$ (\Dref{D:operationProperties}.\ref{eq:zeroElement}) in $F$.
\end{proof}
\end{theorem}

\begin{proposition}[An explanation for \Dref{D:field}]\Plabel{P:naughtHasNoMultInv}
In a field~$\langle F,*,\#\rangle$, the naught has no inverse with respect to star.
\begin{proof}
	Assume to the contrary that the naught~$\zeta$ has an inverse~$\multinv{\zeta}\in F$ with respect to $*$. Then $\zeta * \multinv{\zeta} = \epsilon$, by \Dref{D:operationProperties}.\ref{eq:inverseElement}. Since \Tref{T:fieldZero} says $\zeta=o$, and since \Dref{D:operationProperties}.\ref{eq:zeroElement} says $o*x=o$ for any $x\in F$, then we have
	$$\zeta * \multinv{\zeta} = o * \multinv{o} = \epsilon = o = \zeta$$
	In other words, $\epsilon=\zeta$. But if we accept \Pref{P:uniqueIdentities}, we arrive at a \indexthis{contradiction}.
\end{proof}
\end{proposition}

\begin{paragraph}{Zero Elements}
Note that \Dref{D:field} arbitrarily chooses \textit{star} to distribute over \textit{pound}. It is only important to have one operation distribute over another. It would be as acceptable to choose \textit{pound} to distribute over \textit{star}, with some interesting consequences. For example, the unity, rather than the naught, would serve as the zero element.
\begin{align*}
	\zeta\#x                 &=x\\
	(\epsilon*\zeta)\#x      &=x\\
	(\epsilon\#x)*(\zeta\#x) &=x\\
	(\epsilon\#x)*x          &=x\\
	\bigl((\epsilon\#x)*x\bigr)*\multinv{x} &=x*\multinv{x}\\
	(\epsilon\#x)*(x*\multinv{x}) &=x*\multinv{x}\\
	(\epsilon\#x)*\epsilon   &=\epsilon\\
	\epsilon\#x              &=\epsilon
\end{align*}
\end{paragraph}

	-->
	<section id="orderedfields">
		<h1 class="h-delta">Ordered Fields</h1>
		<!--
\begin{definition}\Dlabel{D:orderedField}
A structure~$\langle F,\leq,*,\#\rangle$ is an \defn{ordered field} iff the structure~$\langle F,\leq\rangle$ is a chain and the structure~$\langle F,*,\#\rangle$ is a field.
\end{definition}


prove these properties:
$$y \leq z\implies x \# y \leq x \# z$$
$$x \geq \zeta \land y \geq \zeta \implies x*y \geq \zeta$$

		-->
	</section>
</section>
<section id="equivalenceclasses">
	<h1>Equivalence Classes</h1>
<!--

\begin{definition}\Dlabel{D:equivalenceRelation}
	A preorder~$\equiv$ on a set~$S$ is defined as an \defnidx{equivalence relation}{relation!equivalence}\indexterm{equivalence!relation|seeonly{relation, equivalence}} iff it is symmetric. (An equivalence relation is reflexive, symmetric, and transitive.)
	If there exists an equivalence relation on a set~$S$ between two elements~$x,y \in S$, then we say $x$ is \defn{equivalent} to $y$ and write $x \equiv y$. If the name and symbol of the equivalence relation is known, we use those instead.
	The symbol for general equivalence relations, $\equiv$, is also used to denote logical equivalence between Boolean statements. We leave it to the reader to be able to distinguish the context.
\end{definition}
			<div class="theorem" id="T-equalityequivalancerelation">
			<p class="summary">Equality is an equivalence relation on any set.</p>
			<p><span class="Math">\left(x,y\right)\in\mathscr{E}</span>, where <span class="Math">\mathscr{E}</span> represents the subset of <span class="Math">A\times A</span> specified by <span class="Math">\left(x,y\right)\in\mathscr{E} \iff \left(x,y\right)\in A^2 \land \left(\forall t\right)\left(t\in x\iff t\in y\right)</span> for any set <span class="Math">A</span>.</p>
		</div>

\begin{definition}\Dlabel{D:equivalenceClass}
	If $\equiv$ is an equivalence relation on a set $S$ and if $s \in S$, then the set~$[s]$ is an \defnidx{equivalence class}{equivalence!class} of $s$ relative to $\equiv$ on $S$ iff it owns all and only all elements of $S$ that are equivalent to $s$ with respect to $\equiv$. Given a set~$S$ and an equivalence relation~$\equiv$,
	\begin{equation*}\label{eq:equivalenceClass}
		\forall s \in S : [s]=\{x\in S : x \equiv s\}
	\end{equation*}
\end{definition}

\begin{proposition}\Plabel{P:equivalenceClassSubset}
	If there exists an equivalence relation~$\equiv$ on a nonempty set~$S$, then for every element~$s$ in $S$, an equivalence class~$[s]$ of $s$ relative to $\equiv$ on $S$ exists. And $[s]$ is a subset of $S$.
%	$$\forall S : \forall{\equiv} : \forall s \in S : \exists [s] : \forall x : \bigl(x \in [s] \iff x \in S \land x \equiv s\bigr)$$
	\begin{proof}
		\Dref{D:equivalenceClass} meets the criteria of \Dref{D:subset}. \Aref{A:specification} guarantees that equivalence classes exist.
	\end{proof}
\end{proposition}

\begin{definition}\Dlabel{D:equivalenceClassRepresentation}
	Let $\equiv$ be an equivalence relation on a set~$S$. A set~$R$ is an \defnidx{equivalence class representation}{equivalence!class!representation} of $S$, rather, a \emph{complete set of equivalence class representatives} on $S$, iff $R$ is a subset of $S$ and $R$ contains exactly one element~$s$, called an \defnidx{equivalence class representative}{equivalence!class!representative}, from each equivalence class~$[s]$ relative to $\equiv$ on $S$.
\end{definition}

\begin{proposition}\Plabel{P:equivalenceRepresentation}
	For any set~$S$ with an equivalence relation~$\equiv$, there exists an equivalence class representation of $S$.
	\begin{equation*}\label{eq:equivalenceRepresentation}
		\forall S : \forall{\equiv} : \exists R : \forall x : \bigl(x \in R \iff x \in S \land \dots\bigr)
	\end{equation*}
	\begin{proof}
		???????????? .......... %%%%%%%%%%%%%%%%%%%
	\end{proof}
\end{proposition}

\begin{theorem}\Tlabel{T:equivalenceClassSet}
	Given a set and an equivalence relation, there exists a collection which owns each equivalence class on that set.
	\begin{proof}
		Let $\equiv$ be an equivalence relation on a set~$S$. For each equivalence class~$[s]$ relative to $\equiv$ on $S$, \Pref{P:singleton} guarantees the existence of the singleton~$\{[s]\}$....
		?????? ?????? ????? %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		\textsf{this theorem might need to use unions (\Dref{D:union} and \Aref{A:union})}
		We are trying to find $\mathcal{E}$
	\end{proof}
\end{theorem}
\begin{definition}\Dlabel{D:operationEquivClass}
	For some nonempty set~$S$, let there be an equivalence relation~$\equiv$ and a binary operation~$*$ on $S$. By \Tref{T:equivalenceClassSet}, there exists set~$\mathcal{E}$ that owns all of the equivalence classes~$[s]$ relative to $\equiv$ on $S$. A relation~$\circledast$ on $\mathcal{E}$ is an extension of the binary operation~$*$ on $S$ and is defined by
	\begin{equation*}\label{eq:operationEquivClass}
		\circledast_{_{\mathcal{E}}}=\Bigl\{\bigl\langle [x],[y],[z] \bigr\rangle \in\mathcal{E}^{3} : [z] = [x*_{_{S}}y]\Bigr\}
	\end{equation*}
	Simply,
	$$\forall x,y\in S : [x]\circledast_{_{\mathcal{E}}}[y]=[x*_{_{S}}y]$$

\end{definition}
\begin{theorem}\Tlabel{T:operationEquivClass}
	The relation~$\circledast_{_{\mathcal{E}}}$ of equivalence classes on a set~$S$ is a defined relation on $\mathcal{E}^{2}$ and $\mathcal{E}$, and is closed under $\mathcal{E}$.%, but is not necessarily well-defined.
	\begin{proof}
		Let there be an $\bigl\langle[x],[y]\bigr\rangle \in\mathcal{E}^{2}$. Since $*_{_{S}}$ is closed under $S$,
		\begin{align*}
			&\therefore [x]\in\mathcal{E} \land [y]\in\mathcal{E}
				&&\text{by \Dref{D:orderedPair}}\\
			&\therefore x\in S \land y\in S
				&&\text{by \Dref{D:equivalenceClass}}\\
			&\therefore (x*_{_{S}}y) \in S
				&&\text{by \Dref{D:operationClosure}}\\
			&\therefore [x*_{_{S}}y] \in\mathcal{E}
				&&\text{by \Dref{D:equivalenceClass}}\\
%			&\therefore \langle x,y\rangle\in S^{2}
%				&&\text{by \Dref{D:cartesianProduct}}
		\end{align*}
		Therefore, for any $\bigl\langle[x],[y]\bigr\rangle\in\mathcal{E}^{2}$ there exists an $[x*_{_{S}}y]\in\mathcal{E}$ such that $[x]\circledast_{_{\mathcal{E}}}[y]=[x*_{_{S}}y]$. $\circledast$ is defined, in the sense of \Dref{D:relationProperties}.\ref{eq:defined}, and closed, in the sense of \Dref{D:operationClosure}.
	\end{proof}
\end{theorem}

\begin{definition}\Dlabel{D:setPartition}
	A collection~$\mathcal{P}$ of nonempty subsets of a set~$S$ is a \defn{partition} of $S$ iff it is polychotomous (relative to $S$). The elements of $\mathcal{P}$, which are the nonempty subsets of $S$, are referred to as \defnidx{cells}{cell}. Given a set~$S$,
%	\begin{equation*}\label{eq:setPartition}
%		\mathcal{P}=\left\{ \emptyset \not= S_{1},S_{2},\dots,S_{n} \subseteq S : \left( \bigcup_{i=1}^{n} S_{i} = S \right) \land \left( \bigcap_{i=1}^{n} S_{i} = \emptyset \right) \right\}
%	\end{equation*}
	\begin{align*}\label{eq:setPartition}
		\mathcal{P} =&\, \{ A,B,\dots,Z\} :\\
		             &\, A,B,\dots,Z\not=\emptyset\\
		       \land &\, A,B,\dots,Z\subseteq S\\
		       \land & \left(\bigcup\mathcal{P}=S\right)\\
		       \land & \left(\bigcap\mathcal{P}=\emptyset\right)
	\end{align*}
\end{definition}

%\begin{proposition}\Plabel{P:setPartition}
%	There exists a partition of every nonempty set.
%	\begin{proof}
%		Given a nonempty set~$S$, \Aref{A:powerset} guarantees that the set of all subsets of $S$, namely the powerset~$\powerset{S}$, exists. \Aref{A:specification} guarantees there exists some subset of $\powerset{S}$ whose elements are nonempty subsets of $S$ and are polychotomous. Name this set $\mathcal{P}$. Then $\mathcal{P}$ is a partition of $S$. Incidentally, from our construction of $\mathcal{P}$, we notice $\mathcal{P} \subseteq \powerset{S}$.
%	\end{proof}
%\end{proposition}

\begin{theorem}\Tlabel{T:equivalenceClassPart}
	A relation~$\equiv$ is an equivalence relation on a set~$S$ if and only if the collection~$\mathcal{E}$ of equivalence classes relative to $\equiv$ forms a partition~$\mathcal{P}$ of $S$.
	\begin{proof} \hfill
		\begin{enumerate}
			\item[\case{$\implies$}] Let $\equiv$ be an equivalence relation on $S$. Let the collection~$\mathcal{E}$ own all equivalence classes relative to $\equiv$ on $S$. We know $\mathcal{E}$ exists by \Tref{T:equivalenceClassSet}. For every $s \in S$, $s$ belongs to at least one equivalence class, namely $[s] \subseteq S$, by \Dref{D:equivalenceClass}. That is, there does not exist an element~$x \in S$ that does not belong to an element of $\mathcal{E}$. Thus indeed, $\mathcal{E}$ is collectively exhaustive relative to $S$, by meaning of \Dref{D:collectiveExhaustion}. Now it remains to be proved that it is mutually exclusive. We will approach this problem by contraposition.

			Suppose that there exist $x,y \in S$ such that $[x] \cap [y] \not= \emptyset$. Then there must be an element~$z \in ([x] \cap [y])$ which makes $z \equiv x \land z \equiv y$. Because $\equiv$ is symmetric and transitive (\Dref{D:equivalenceRelation}), $x \equiv y$. Let $t$ denote any element in $[x]$, so we have $t \equiv x$. But since $t \equiv x \land x \equiv y$, we now have $t \equiv y$, which means $t \in [y]$. Since $t \in [x]$ implies $t \in [y]$, we have $[x] \subseteq [y]$ by \Dref{D:subset}. In a parallel manner, we can show that $[y] \subseteq [x]$. It is then so that $[x] = [y]$. Thus any two equivalence classes that have a nonempty intersection must be equal. In contraposition, non-equal equivalence classes must have an empty intersection. Therefore, $\mathcal{E}$ is mutually exclusive in the sense of \Dref{D:mutualExclusion}.

			Then $\mathcal{E}$ is polychotomous, and by \Dref{D:setPartition}, $\mathcal{E}$ forms a partition of $S$.
			\item[\case{$\impliedby$}] Now assume there exists a partition~$\mathcal{P}$ of $S$ and a relation~$\sim$ defined such that $a \sim b$ iff there exists a cell in $\mathcal{P}$ that owns both $a$ and $b$. It is the goal of this direction of the proof to show that $\sim$ is an equivalence relation. To do so, we will show that $\sim$ is reflexive, symmetric, and transitive.
			\begin{enumerate}
				\item[\case{Reflexivity}] For any $x \in S$, $x$ is in some cell~$A \in \mathcal{P}$. Then $x \sim x$. Therefore $\sim$ is reflexive.
				\item[\case{Symmetry}] For any cell~$A \in \mathcal{P}$, if $A \owns x,y$ then $A \owns y,x$, by guarantee of \Aref{A:extensionality}. The symmetry of $\sim$ is trivial.
				\item[\case{Transitivity}] Assume for some $x,y,z \in S$, that $x \sim y \land y \sim z$. Then there exists some cell~$A \in \mathcal{P}$ that owns both $x$ and $y$, and there exists some cell~$B \in \mathcal{P}$ that owns both $y$ and $z$. Since $y \in (A \cap B)$, we have $(A \cap B) \not= \emptyset$, so then $A=B$ (because $\mathcal{P}$ is mutually exclusive). Since both $x$ and $z$ belong to this cell, we have $x \sim z$ and thus $\sim$ is transitive.
			\end{enumerate}
			In conclusion, given a partition on $S$ and a relation that compares two elements in the same cell, the relation must be an equivalence relation.
		\end{enumerate}
		In other words, the set~$\mathcal{E}$ of equivalence classes relative to $\equiv$ on $S$ is polychotomous relative to $S$, and therefore forms a partition~$\mathcal{P}$ on $S$.
	\end{proof}
\end{theorem}

%\begin{corollary}\Clabel{C:equivalenceClassPartition}
%	There exists a bijection between the set of all the equivalence relations on $S$ and the set of all the partitions of $S$.
%	\begin{proof}
%		For all equivalence relations~$\equiv$ on a set~$S$, ...... ???
%		For all partitions~$\mathcal{P}$ of $S$ ...... ???
%		As a result of \Tref{T:equivalenceClassPart}, by \Dref{D:bijection} ...... ???
%		%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%	\end{proof}
%\end{corollary}

	-->
</section>
<section id="functionoperations">
	<h1>Function Operations</h1>
	<!--
\begin{definition}\Dlabel{D:functionSet}
	For any nonempty set~$S$, let $\functionset{S}$ be the set of all functions~$f$ that map $S$ to itself. $\functionset{S}$ is said to be the \defn{function set} of functions on $S$.
	\begin{equation*}\label{eq:functionSet}
		\forall S\not=\emptyset : \functionset{S}=\bigl\{f : (f\colon S \mapsto S)\bigr\}
	\end{equation*}
\end{definition}

\begin{proposition}\Plabel{P:functionSet}
	For all nonempty sets~$S$, the set~$\functionset{S}$ exists.
	\begin{equation*}\label{eq:functionSetExists}
		\forall S\not=\emptyset : \exists\functionset{S} : \forall f : (f\in\functionset{S} \iff f\colon S\mapsto S)
	\end{equation*}
	\begin{proof}
		???
	\end{proof}
\end{proposition}

\begin{theorem}\label{T:functionSetUnaryOperation}
	For any set~$S$, a function $f$ is an element of $\functionset{S}$ if and only if it a unary operation on $S$.
	\begin{proof}
		?????????????????????
	\end{proof}
\end{theorem}

\begin{definition}\Dlabel{D:composite}
	A function~$g \circ f$ is a \defnidx{composite}{function!composite}\indexterm{composition} of two functions~$(f \colon X \mapsto Y)$ and $(g \colon Y \mapsto Z)$ iff it is a mapping from $X$ into $Z$ defined by
	\begin{equation*}\label{eq:composite}
		(g \circ f\colon X\mapsto Z)=\biggl\{\langle x,z\rangle \in X\times Z : \Bigl(z=g\bigl(f(x)\bigr)\Bigr)\biggr\}
	\end{equation*}
	Given a composite~$g \circ f$, we say, ``$g$ of $f$.'' The function~$g$ is said to be the \defn{outer function}, or second function; and the function~$f$ is said to be the \defn{inner function}, or first function.
\end{definition}

\begin{definition}\Dlabel{D:identityFunction}
	A function~$\iota_{S}$ on a set $S$ is called the \defnidx{identity function}{function!identity}\indexterm{identity!function|seeonly{function, identity}} on $S$ iff
	\begin{equation*}\label{eq:identityFunction}
		%\forall S : \exists (\iota \colon S \mapsto S) : \forall s \in S : \iota(s)=s
		(\iota_{S} \colon S \mapsto S) = \bigl\{\langle x,y\rangle \in S^{2} : y=x\bigr\}
	\end{equation*}
	That is, $\forall x\in S : \iota_{S}(x)=x$.
\end{definition}

\begin{theorem}\Tlabel{T:identityFunctionBijection}
	The identity function\indexterm{function!identity} on any set is a \indexthis{bijection}.
	\begin{proof}
		By \Dref{D:function}, any function must be defined (\Dref{D:definedFunction}) and well-defined (\Dref{D:wellDefinedFunction}). That is, the identity function~$\iota_{S} \colon S \mapsto S$, as in \Dref{D:identityFunction}, must have the following properties:
		\begin{gather*}\label{eq:identityBijection}
			\forall x \in S : \exists x \in S : \iota_{S}(x) = x \\
			\forall x,y \in S : x = y \implies \iota_{S}(x) = \iota_{S}(y)
		\end{gather*}
		But the first is the precise definition of onto in \Dref{D:surjection}. Now we must show that $\iota_{S}$ is one-to-one using \Dref{D:injection}.

		Assume that $\forall x,y \in S : \iota_{S}(x) = \iota_{S}(y)$. For every $x \in S$ and $y \in S$, $\iota_{S}(x) = x$ and $\iota_{S}(y) = y$. Then since \indexthis{equality} is symmetric and transitive (\Rref{R:identityRelation}), we have $x=\iota_{S}(x)=\iota_{S}(y)=y$. Therefore, $$\iota_{S}(x)=\iota_{S}(y) \implies x=y$$
		Thus the identity function is onto and one-to-one, and is therefore, according to \Dref{D:bijection}, a bijection.
	\end{proof}
\end{theorem}

\begin{theorem}\Tlabel{T:compositionOperation}\hfill
	\begin{itemize}
		\item Composition\indexterm{composition}~$\circ$ is a binary operation on the set~$\functionset{S}$, for any set~$S$.\label{eq:compositionBinaryOperation}
		\item Composition is associative on the set~$\functionset{S}$.\label{eq:compositionAssociative}
		\item The identity function~$\iota_{S}$ on $S$ is the identity element in $\functionset{S}$ relative to composition.\label{eq:identityFunctionElement}
	\end{itemize}
	\begin{proof}\hfill
		\begin{itemize}
			\item Let $S$ be nonempty. For any functions~$f,g \in \functionset{S}$, notice $f \colon S \mapsto S$ and $g \colon S \mapsto S$, taken from \Dref{D:functionSet}. Then the composite~$(g \circ f) \colon S \mapsto S$ by \Dref{D:composite}, so that $(g \circ f) \in \functionset{S}$. Thus by \Dref{D:operationClosure} composition~$\circ$ is closed.

			Define the set
			$$\left({\circ}\colon{\functionset{S}}^{2}\mapsto\functionset{S}\right)=\Bigl\{\bigl\langle\langle f,g\rangle,h\bigr\rangle \in {\functionset{S}}^{2}\times\functionset{S} : (h=f\circ g)\Bigr\}$$
			Composition is a binary operation on $\functionset{S}$.
			\item For any $f,g,h \in \functionset{S}$,
				\begin{align*}
					&\mathrel{\phantom{=}}(h \circ (g \circ f))(x) \\
					&=h((g \circ f)(x)) \\
					&=h(g(f(x))) \\
					&=(h \circ g)(f(x)) \\
					&=((h \circ g) \circ f)(x)
				\end{align*}
				Thus $\circ$ is associative by \Dref{D:operationProperties}.\ref{eq:associative}.
			\item For any $f \in \functionset{S}$, $\forall x \in S : (f \circ \iota_{S})(x)=f(\iota_{S}(x))=f(x)$ by \Dref{D:identityFunction}. But $f(x)=\iota_{S}(f(x))=(\iota_{S} \circ f)(x)$. Thus we have $(f \circ \iota_{S})(x)=f(x)=(\iota_{S} \circ f)(x)$ and with composition, $\iota_{S}$ is the identity element, per \Dref{D:operationProperties}.\ref{eq:identityElement}.
		\end{itemize}
	\end{proof}
\end{theorem}

\begin{theorem}\Tlabel{T:compositeJectionsCon}\hfill
	\begin{enumerate}
		\item\label{eq:compositeSurjectionCon} A composite of surjections is itself a \indexthis{surjection}.
		\item\label{eq:compositeInjectionCon} A composite of injections is itself an \indexthis{injection}.
		\item\label{eq:compositeBijectionCon} A composite\indexterm{function!composite}\indexterm{composition} of bijections is itself a \indexthis{bijection}.
	\end{enumerate}
	\begin{proof}
		Let $f \colon X \mapsto Y$ and $g \colon Y \mapsto Z$.
		\begin{enumerate}
			\item We assume the fact that $f$ and $g$ are onto. Because $g$ is onto (\Dref{D:surjection}), $\forall z \in Z : \exists y \in Y : g(y)=z$. And because $f$ is onto, $\forall y \in Y : \exists x \in X : f(x)=y$. We now have $\forall z \in Z : \exists x \in X : (g \circ f)(x)=g(f(x))=g(y)=z$, and so $(g \circ f)$ is surjective.
			\item We now assume the fact that $f$ and $g$ are one-to-one. Given any $a,b \in X$, \Dref{D:composite} says $(g \circ f)(a)=(g \circ f)(b) \equiv g(f(a))=g(f(b))$. Then $g(f(a))=g(f(b)) \implies f(a)=f(b)$ because $g$ is one-to-one (\Dref{D:injection}). Then $f(a)=f(b) \implies a=b$ because $f$ is one-to-one. Thus we have $\forall a,b \in X : (g \circ f)(a)=(g \circ f)(b) \implies a=b$, and so $(g \circ f)$ is injective.
			\item Assume $f$ and $g$ are bijections. Then by \Dref{D:bijection}, they are both surjections and injections. \Tref{T:compositeJectionsCon}.\ref{eq:compositeSurjectionCon} and \Tref{T:compositeJectionsCon}.\ref{eq:compositeInjectionCon} show $(g \circ f)$ is both surjective and an injective. Then $(g \circ f)$ is a bijection.
		\end{enumerate}
	\end{proof}
\end{theorem}

\begin{definition}\Dlabel{D:inverseFunction}
	A function $f \colon X \mapsto Y$ is \defnstyle{invertible} iff there exists an \defnidx{inverse function}{function!inverse}\indexterm{inverse!function|seeonly{function, inverse}}~$\finv{f} \colon Y \mapsto X$ such that
	\begin{equation*}\label{eq:inverseFunction}
		(\finv{f} \circ f = \iota_{X}) \land (f \circ \finv{f} = \iota_{Y})
	\end{equation*}
	That is, $\Bigl(\forall x \in X : \finv{f}\bigl(f(x)\bigr)=x\Bigr) \land \Bigl(\forall y \in Y : f(\finv{f}\bigl(y)\bigr)=y\Bigr)$. We call the function $\finv{f}$ an \defn{inverse} of $f$, or simply \defnstyle{$f$-inverse}.
\end{definition}

\begin{paragraph}{Identities and Inverses of Functions and Elements}
	Notice that the term \emph{\indexthis{inverse}} can be taken in two senses: in the sense of inverse function\indexterm{function!inverse}~$\finv{f}$, as in \Dref{D:inverseFunction}, or in the sense of inverse element\indexterm{element!inverse}~$f^{\backprime}_{\circ}$ relative to composition, in the set~$\functionset{S}$ (for any $S$), as in \Dref{D:operationProperties}. In each sense, the concept of \emph{inverse} has the same meaning. This is also true for the term \emph{\indexthis{identity}} as illustrated in \Tref{T:compositionOperation}.%\ref{eq:identityFunctionElement}.
\end{paragraph}

\begin{proposition}\Plabel{P:inverseFunction}
	The inverse of an invertible function is unique.
	\begin{proof}
		We approach with \lang{\indexthis{reductio ad absurdum}}. Let the function~$f\colon X\mapsto Y$ be invertible with the inverse~$\finv{f}\colon Y\mapsto X$. Then $\finv{f}\circ f=\iota_{X}$ and $f\circ\finv{f}=\iota_{Y}$ by \Dref{D:inverseFunction}.
		Now suppose to the contrary that there is some other inverse~$\phi\colon Y\mapsto X$ such that $(\phi\not=\finv{f}) \land (\phi\circ f=\iota_{X}) \land (f\circ\phi=\iota_{Y})$. Because composition is associative (\Tref{T:compositionOperation}.\ref{eq:compositionAssociative}), and using the identity functions (\Dref{D:identityFunction}), we have
		$$\finv{f}=\finv{f}\circ\iota_{Y}=\finv{f}\circ(f\circ\phi)=(\finv{f}\circ f)\circ\phi=\iota_{X}\circ\phi=\phi$$
		Thus $\finv{f}=\phi\not=\finv{f}$, and $\finv{f}\not=\finv{f}$. But \Aref{A:extensionality} says $\finv{f}=\finv{f}$. We have the contradiction. Therefore there cannot be more than one inverse of $f$. If it exists, $f$-inverse is unique.
	\end{proof}
\end{proposition}

\begin{lemma}\Llabel{L:compositeJectionsAnt}\hfill
	\begin{enumerate}
		\item\label{eq:compositeSurjectionAnt} If a composite is surjective, then its outer function is surjective.
		\item\label{eq:compositeInjectionAnt} If a composite is injective, then its inner function is injective.
	\end{enumerate}
	\begin{proof}
	Let $f \colon X \mapsto Y$ and $g \colon Y \mapsto Z$.
		\begin{enumerate}
			\item Assume $g\circ f$ is onto. Then $\forall z\in Z : \exists x\in X : (g\circ f)(x)=z$ (\Dref{D:surjection}). But $g(f(x))=z$, so it must be that $f(x)\in Y$. Thus we have $\forall z\in Z: \exists y\in Y : g(y)=z$, which makes $g$ a surjection.
			\item Assume $g\circ f$ is one-to-one. Because $g$ is well-defined (\Dref{D:wellDefinedFunction}), for all $a$ and $b$ in $X$, $f(a)=f(b)\implies g(f(a))=g(f(b))$, which means $(g\circ f)(a)=(g\circ f)(b)$. But since we assumed $g\circ f$ is one-to-one, this implies $a=b$ (\Dref{D:injection}). Thus $f(a)=f(b)\implies a=b$, which makes $f$ an injection.
		\end{enumerate}
	\end{proof}
\end{lemma}

\begin{theorem}\Tlabel{T:inverseBijection}\hfill
	\begin{enumerate}
		\item\label{eq:inverseIffBijection} A function is invertible if and only if it is a bijection.
		\item\label{eq:inverseIsBijection} The inverse of a bijection is itself a bijection.
	\end{enumerate}
	\begin{proof}\hfill
		\begin{enumerate}
			\item\hfill
				\begin{enumerate}
					\item[\case{$\implies$}] Let $f\colon X\mapsto Y$ be invertible with the inverse~$\finv{f}\colon Y\mapsto X$.

					On one hand, $f\circ\finv{f}=\iota_{Y}$ is a bijection (\Tref{T:identityFunctionBijection}), which means it is surjective (\Dref{D:bijection}). Then by \Lref{L:compositeJectionsAnt}.\ref{eq:compositeSurjectionAnt}, $f$ is surjective.

					On the other hand, $\finv{f}\circ f=\iota_{X}$ is also a bijection, which means it is injective. Then by \Lref{L:compositeJectionsAnt}.\ref{eq:compositeInjectionAnt}, $f$ is injective.

					Thus if $f$ is invertible, it is bijective.
					\item[\case{$\impliedby$}] Now assume $g\colon X \bijects Y$ is a bijection. Then it is surjective and injective. Let $y\in Y$. Since $g$ is onto, $\exists x\in X : g(x)=y$ (\Dref{D:surjection}). But since $g$ is also one-to-one, this $x$ is unique, <i lang="la"><abbr title="id est">i.e.</abbr></i>, $\exists t \in X : g(t)=y \implies t=x$ (\Dref{D:injection}). Choose, for some $\gamma$, $\gamma(y)=x$. This can be done for each $y\in Y$, and hence we obtain the function~$\gamma\colon Y\mapsto X$.

					Now consider the composite~$(\gamma\circ g)\colon X\mapsto X$. $\forall x\in X : (\gamma\circ g)(x)=\gamma(g(x))=\gamma(y)=x$ for some $y$. Thus $\gamma\circ g=\iota_{X}$. Also, for the composite~$(g\circ\gamma)\colon Y\mapsto Y$, $\forall y\in Y : (g\circ\gamma)(y)=g(\gamma(y))=g(x)=y$ for some $x$. Thus $g\circ\gamma=\iota_{Y}$. Therefore $\gamma$ is $g$-inverse, and the bijection~$g$ is invertible.
				\end{enumerate}
			\item Let $h\colon X \bijects Y$ be a bijection. \Tref{T:inverseBijection}.\ref{eq:inverseIffBijection} guarantees $\finv{h}$ exists. Since $\finv{h}\circ h=\iota_{X}$ and $h\circ\finv{h}=\iota_{Y}$, $h$ must be the inverse of $\finv{h}$. That is, $\finv{{\finv{h}}}=h$. Then $\finv{h}$ is invertible, so it is a bijection.
		\end{enumerate}
	\end{proof}
\end{theorem}

\begin{corollary}\Clabel{C:identityFunctionInverse}
	The identity function\indexterm{function!identity} is invertible\indexterm{function!inverse}\indexterm{inverse!function}, and its inverse is equal to itself.
	\begin{proof}
		By \Dref{D:identityFunction}, the identity function~$\iota\colon S\mapsto S$ is defined by $\iota(x)=x$. \Tref{T:identityFunctionBijection} says $\iota$ is a bijection, and \Tref{T:inverseBijection}.\ref{eq:inverseIffBijection} says $\iota$ is invertible. Further, \Tref{T:inverseBijection}.\ref{eq:inverseIsBijection} says $\finv{\iota}$ is also a bijection. Now to show that $\finv{\iota}=\iota$.
		By \Tref{T:compositionOperation}, $\iota\circ\finv{\iota}=\finv{\iota}$, but by \Dref{D:inverseFunction}, $\iota\circ\finv{\iota}=\iota$.
	\end{proof}
\end{corollary}

	-->
</section>
</main>
</body>
</html>
