---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="reals.css"/>
<style>
</style>
{% include all-js.html %}
<script src="reals.js"></script>
</head>
<body id="truth-tabledothtml">
{% include masthead.html %}
<nav class="breadcrumbs">
	<a>An Axiomatic Approach to the Continuum</a>
	<a>Chapter 1: Propositional Logic</a>
</nav>
<main>
<header class="title">
	<h1 class="h-alpha">Master Truth Table</h1>
</header>
<table class="table-bars">
	<colgroup span="1" title="headings"></colgroup>
	<colgroup span="2" title="variables"></colgroup>
	<colgroup title="operations">
		<col class="nonary"/>
		<col class="binary" span="2"/>
		<col class="unary"/>
		<col class="binary"/>
		<col class="unary"/>
		<col class="binary" span="4"/>
		<col class="unary"/>
		<col class="binary"/>
		<col class="unary"/>
		<col class="binary"/>
		<col class="binary"/>
		<col class="nonary"/>
	</colgroup>
	<thead>
		<tr class="master-header-row">
			<th scope="row" class="master-header-column">Name</th>
			<th scope="col" id="0000">bot</th>
			<th scope="col" id="0001">and</th>
			<th scope="col" id="0010">nthen</th>
			<th scope="col" id="0011">id<sub class="M">\l p</sub></th>
			<th scope="col" id="0100">nwhen</th>
			<th scope="col" id="0101">id<sub class="M">\l q</sub></th>
			<th scope="col" id="0110">xor</th>
			<th scope="col" id="0111">or</th>
			<th scope="col" id="1000">nor</th>
			<th scope="col" id="1001">iff</th> 
			<th scope="col" id="1010">not<sub class="M">\l q</sub></th>
			<th scope="col" id="1011">when</th>
			<th scope="col" id="1100">not<sub class="M">\l p</sub></th>
			<th scope="col" id="1101">then</th>
			<th scope="col" id="1110">nand</th>
			<th scope="col" id="1111">top</th>
		</tr>
		<tr>
			<th scope="row">Symbol</th>
			<th headers="0000" class="M">\bot</th>
			<th headers="0001" class="M">\l p\land\l q</th>
			<th headers="0010" class="M">\l p\nRightarrow\l q</th>
			<th headers="0011" class="M" scope="row">\l p</th>
			<th headers="0100" class="M">\l p\nLeftarrow\l q</th>
			<th headers="0101" class="M" scope="row">\l q</th>
			<th headers="0110" class="M">\l p\nLeftrightarrow\l q</th>
			<th headers="0111" class="M">\l p\lor\l q</th>
			<th headers="1000" class="M">\l p\Downarrow\l q</th>
			<th headers="1001" class="M">\l p\iff\l q</th>
			<th headers="1010" class="M">\lnot\l q</th>
			<th headers="1011" class="M">\l p\impliedby\l q</th>
			<th headers="1100" class="M">\lnot\l p</th>
			<th headers="1101" class="M">\l p\implies\l q</th>
			<th headers="1110" class="M">\l p\Uparrow\l q</th>
			<th headers="1111" class="M">\top</th>
		</tr>
	</thead>
	<tbody id="equivalent-forms">
		<tr>
			<th scope="row">in terms of &ldquo;OR&rdquo;</th>
			<td headers="0000" class="M">\l p\Downarrow\lnot\l p</td>
			<td headers="0001" class="M">\lnot\l p\Downarrow\lnot\l q</td>
			<td headers="0010" class="M">\lnot\l p\Downarrow\l q</td>
			<td headers="0011" class="M">\l p\lor\l p</td>
			<td headers="0100" class="M">\l p\Downarrow\lnot\l q</td>
			<td headers="0101" class="M">\l q\lor\l q</td>
			<td headers="0110" class="M">
				(\l p\Downarrow\l q)\\
				\Downarrow\\
				(\lnot\l p\Downarrow\lnot\l q)
			</td>
			<td headers="0111" class="M">\l p\lor\l q</td>
			<td headers="1000" class="M">\l p\Downarrow\l q</td>
			<td headers="1001" class="M">
				(\l p\Downarrow\l q)\\
				\lor\\
				(\lnot\l p\Downarrow\lnot\l q)
			</td>
			<td headers="1010" class="M">\l q\Downarrow\l q</td>
			<td headers="1011" class="M">\l p\lor\lnot\l q</td>
			<td headers="1100" class="M">\l p\Downarrow\l p</td>
			<td headers="1101" class="M">\lnot\l p\lor\l q</td>
			<td headers="1110" class="M">\lnot\l p\lor\lnot\l q</td>
			<td headers="1111" class="M">\l p\lor\lnot\l p</td>
		</tr>
		<tr>
			<th scope="row">in terms of &ldquo;AND&rdquo;</th>
			<td headers="0000" class="M">\l p\land\lnot\l p</td>
			<td headers="0001" class="M">\l p\land\l q</td>
			<td headers="0010" class="M">\l p\land\lnot\l q</td>
			<td headers="0011" class="M">\l p\land\l p</td>
			<td headers="0100" class="M">\lnot\l p\land\l q</td>
			<td headers="0101" class="M">\l q\land\l q</td>
			<td headers="0110" class="M">
				(\l p\Uparrow\l q)\\
				\land\\
				(\lnot\l p\Uparrow\lnot\l q)
			</td>
			<td headers="0111" class="M">\lnot\l p\Uparrow\lnot\l q</td>
			<td headers="1000" class="M">\lnot\l p\land\lnot\l q</td>
			<td headers="1001" class="M">
				(\l p\Uparrow\l q)\\
				\Uparrow\\
				(\lnot\l p\Uparrow\lnot\l q)
			</td>
			<td headers="1010" class="M">\l q\Uparrow\l q</td>
			<td headers="1011" class="M">\lnot\l p\Uparrow\l q</td>
			<td headers="1100" class="M">\l p\Uparrow\l p</td>
			<td headers="1101" class="M">\l p\Uparrow\lnot\l q</td>
			<td headers="1110" class="M">\l p\Uparrow\l q</td>
			<td headers="1111" class="M">\l p\Uparrow\lnot\l p</td>
		</tr>
		<tr>
			<th scope="row">in terms of &ldquo;THEN&rdquo;</th>
			<td headers="0000" class="M">\l p\nRightarrow\l p</td>
			<td headers="0001" class="M">\l p\nRightarrow\lnot\l q</td>
			<td headers="0010" class="M">\l p\nRightarrow\l q</td>
			<td headers="0011" class="M">\l p\nRightarrow\lnot\l p</td>
			<td headers="0100" class="M">\lnot\l p\nRightarrow\lnot\l q</td>
			<td headers="0101" class="M">\l q\nRightarrow\lnot\l q</td>
			<td headers="0110" class="M">
				(\l p\implies\l q)\\
				\implies\\
				(\lnot\l p\nRightarrow\lnot\l q)
			</td>
			<td headers="0111" class="M">\lnot\l p\implies\l q</td>
			<td headers="1000" class="M">\lnot\l p\nRightarrow\l q</td>
			<td headers="1001" class="M">
				(\l p\implies\l q)\\
				\nRightarrow\\
				(\lnot\l p\nRightarrow\lnot\l q)
			</td>
			<td headers="1010" class="M">\l q\implies\lnot\l q</td>
			<td headers="1011" class="M">\lnot\l p\implies\lnot\l q</td>
			<td headers="1100" class="M">\l p\implies\lnot\l p</td>
			<td headers="1101" class="M">\l p\implies\l q</td>
			<td headers="1110" class="M">\l p\implies\lnot\l q</td>
			<td headers="1111" class="M">\l p\implies\l p</td>
		</tr>
		<tr>
			<th scope="row">in terms of &ldquo;WHEN&rdquo;</th>
			<td headers="0000" class="M">\l p\nLeftarrow\l p</td>
			<td headers="0001" class="M">\lnot\l p\nLeftarrow\l q</td>
			<td headers="0010" class="M">\lnot\l p\nLeftarrow\lnot\l q</td>
			<td headers="0011" class="M">\l p\impliedby\lnot\l p</td>
			<td headers="0100" class="M">\l p\nLeftarrow\l q</td>
			<td headers="0101" class="M">\l q\impliedby\lnot\l q</td>
			<td headers="0110" class="M">
				(\l p\nLeftarrow\l q)\\
				\impliedby\\
				(\lnot\l p\impliedby\lnot\l q)
			</td>
			<td headers="0111" class="M">\l p\impliedby\lnot\l q</td>
			<td headers="1000" class="M">\l p\nLeftarrow\lnot\l q</td>
			<td headers="1001" class="M">
				(\l p\nLeftarrow\l q)\\
				\nLeftarrow\\
				(\lnot\l p\impliedby\lnot\l q)
			</td>
			<td headers="1010" class="M">\l q\nLeftarrow\lnot\l q</td>
			<td headers="1011" class="M">\l p\impliedby\l q</td>
			<td headers="1100" class="M">\l p\nLeftarrow\lnot\l p</td>
			<td headers="1101" class="M">\lnot\l p\impliedby\lnot\l q</td>
			<td headers="1110" class="M">\lnot\l p\impliedby\l q</td>
			<td headers="1111" class="M">\l p\impliedby\l p</td>
		</tr>
	</tbody>
	<tbody id="truth-values">
		<tr id="00">
			<th scope="rowgroup" rowspan="4">Logical Values</th>
			<td headers="0000">0</td>
			<td headers="0001">0</td>
			<td headers="0010">0</td>
			<th headers="0011" scope="row">0</th>
			<td headers="0100">0</td>
			<th headers="0101" scope="row">0</th>
			<td headers="0110">0</td>
			<td headers="0111">0</td>
			<td headers="1000">1</td>
			<td headers="1001">1</td>
			<td headers="1010">1</td>
			<td headers="1011">1</td>
			<td headers="1100">1</td>
			<td headers="1101">1</td>
			<td headers="1110">1</td>
			<td headers="1111">1</td>
		</tr>
		<tr id="01">
			<td headers="0000">0</td>
			<td headers="0001">0</td>
			<td headers="0010">0</td>
			<th headers="0011" scope="row">0</th>
			<td headers="0100">1</td>
			<th headers="0101" scope="row">1</th>
			<td headers="0110">1</td>
			<td headers="0111">1</td>
			<td headers="1000">0</td>
			<td headers="1001">0</td>
			<td headers="1010">0</td>
			<td headers="1011">0</td>
			<td headers="1100">1</td>
			<td headers="1101">1</td>
			<td headers="1110">1</td>
			<td headers="1111">1</td>
		</tr>
		<tr id="00">
			<td headers="0000">0</td>
			<td headers="0001">0</td>
			<td headers="0010">1</td>
			<th headers="0011" scope="row">1</th>
			<td headers="0100">0</td>
			<th headers="0101" scope="row">0</th>
			<td headers="0110">1</td>
			<td headers="0111">1</td>
			<td headers="1000">0</td>
			<td headers="1001">0</td>
			<td headers="1010">1</td>
			<td headers="1011">1</td>
			<td headers="1100">0</td>
			<td headers="1101">0</td>
			<td headers="1110">1</td>
			<td headers="1111">1</td>
		</tr>
		<tr id="11">
			<td headers="0000">0</td>
			<td headers="0001">1</td>
			<td headers="0010">0</td>
			<th headers="0011" scope="row">1</th>
			<td headers="0100">0</td>
			<th headers="0101" scope="row">1</th>
			<td headers="0110">0</td>
			<td headers="0111">1</td>
			<td headers="1000">0</td>
			<td headers="1001">1</td>
			<td headers="1010">0</td>
			<td headers="1011">1</td>
			<td headers="1100">0</td>
			<td headers="1101">1</td>
			<td headers="1110">0</td>
			<td headers="1111">1</td>
		</tr>
	</tbody>
	<tbody id="corresponding-sets">
		<tr id="notation">
			<th scope="row">Corresponding Set</th>
			<td headers="0000" class="M">\varnothing</td>
			<td headers="0001" class="M">A\cap B</td>
			<td headers="0010" class="M">A\cap\overline B</td>
			<td headers="0011" class="M">A</td>
			<td headers="0100" class="M">\overline A\cap B</td>
			<td headers="0101" class="M">B</td>
			<td headers="0110" class="M">
				(A\cup B)\\
				\cap\\
				(\overline{A\cap B})
			</td>
			<td headers="0111" class="M">A\cup B</td>
			<td headers="1000" class="M">\overline A\cap\overline B</td>
			<td headers="1001" class="M">
				(A\cap B)\\
				\cup\\
				(\overline{A\cup B})
			</td>
			<td headers="1010" class="M">\overline B</td>
			<td headers="1011" class="M">A\cup\overline B</td>
			<td headers="1100" class="M">\overline A</td>
			<td headers="1101" class="M">\overline A\cup B</td>
			<td headers="1110" class="M">\overline A\cup\overline B</td>
			<td headers="1111" class="M">\mathbb{U}</td>
		</tr>
		<tr id="venn-diagrams">
			<th scope="row">Venn Diagram</th>
			<td headers="0000"><img src="images/Venn0000.svg"/></td>
			<td headers="0001"><img src="images/Venn0001.svg"/></td>
			<td headers="0010"><img src="images/Venn0010.svg"/></td>
			<td headers="0011"><img src="images/Venn0011.svg"/></td>
			<td headers="0100"><img src="images/Venn0100.svg"/></td>
			<td headers="0101"><img src="images/Venn0101.svg"/></td>
			<td headers="0110"><img src="images/Venn0110.svg"/></td>
			<td headers="0111"><img src="images/Venn0111.svg"/></td>
			<td headers="1000"><img src="images/Venn1000.svg"/></td>
			<td headers="1001"><img src="images/Venn1001.svg"/></td>
			<td headers="1010"><img src="images/Venn1010.svg"/></td>
			<td headers="1011"><img src="images/Venn1011.svg"/></td>
			<td headers="1100"><img src="images/Venn1100.svg"/></td>
			<td headers="1101"><img src="images/Venn1101.svg"/></td>
			<td headers="1110"><img src="images/Venn1110.svg"/></td>
			<td headers="1111"><img src="images/Venn1111.svg"/></td>
		</tr>
	</tbody>
	<tbody id="translations">
		<tr>
			<th scope="row">English Translation</th>
			<td headers="0000"><q>false</q></td>
			<td headers="0001"><q>both <span class="M">\l p</span> and <span class="M">\l q</span> are true</q></td>
			<td headers="0010"><q><span class="M">\l p</span> is true but <span class="M">\l q</span> is false</q></td>
			<td headers="0011"><q><span class="M">\l p</span> is true</q></td>
			<td headers="0100"><q><span class="M">\l p</span> is false but <span class="M">\l q</span> is true</q></td>
			<td headers="0101"><q><span class="M">\l q</span> is true</q></td>
			<td headers="0110"><q><span class="M">\l p</span> or <span class="M">\l q</span> is true, but not both</q></td>
			<td headers="0111"><q><span class="M">\l p</span> or <span class="M">\l q</span> (or both) are true</q></td>
			<td headers="1000"><q>neither <span class="M">\l p</span> nor <span class="M">\l q</span> is true</q></td>
			<td headers="1001"><q><span class="M">\l p</span> is true if and only if <span class="M">\l q</span> is true</q></td>
			<td headers="1010"><q><span class="M">\l q</span> is false</q></td>
			<td headers="1011"><q><span class="M">\l p</span> is true when <span class="M">\l q</span> is true</q></td>
			<td headers="1100"><q><span class="M">\l p</span> is false</q></td>
			<td headers="1101"><q>if <span class="M">\l p</span> is true then <span class="M">\l q</span> is true</q></td>
			<td headers="1110"><q><span class="M">\l p</span> and <span class="M">\l q</span> are not both true</q></td>
			<td headers="1111"><q>true</q></td>
		</tr>
	</tbody>
</table>
</main>
</body>
</html>
