// main: ../all.less

/*--------------*\
    _body.less
\*--------------*/

html {
	font-size: @fontsize_base;
	font-family: @fontfam_base;
	line-height: @lineheight_base;
}
body {
	color: @color_base_txt;
	background-color: @color_base_bg;
}
main {
	.w-p1.mr;
	margin-bottom: 192px; // 2in
}
/**
  * This Interface is to be used only on the `main` Element. It undoes the default style of `main`.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-06-17
  */
.normal-main {
	.center-ful;
	.margin-even;
}
/**
  * This Interface undoes the effects of the `main` Element to a component inside.
  * Essentially, it treats the component as if it were not inside the `main` Element.
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-06-17
  */
.undo-main {
	width: @inv_golden1;
	position: relative;
	left: -@golden2;
	background-color: #fffcfa;
}
/**
  * The following Interfaces add background images to an Element, typically the `body` Element.
@tags
: #schematic
: #golden
@author
: Chris Harvey
@updated
: 2014-06-08
  */
.crossgrid-phi {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-phi-1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
.crossgrid-even {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-even-1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
.crossgrid-even-lcm {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-even-lcm-288x24.svg');
	background-size: 20% 24px;
	background-repeat: repeat;
}

@media print {
	body {
		.fontsize-med;
		color: #000;
		background-color: #fff;
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
