// main: ../all.less

/*--------------*\
    _body.less
\*--------------*/

html {
	font-size: @fontsize_base;
	font-family: @fontfam_base;
	line-height: @lineheight_base;
}
body {
	color: @color_base_txt;
	background-color: @color_base_bg;
}
main {
	.w-p1.mr;
	margin-bottom: 192px; // 2in
}
/**
  * The following Interfaces add background images to an Element, typically the `body` Element.
@tags
: #schematic
: #golden
@author
: Chris Harvey
@updated
: 2014-06-08
  */
.crossgrid-phi {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-phi-1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
.crossgrid-even {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-even-1440x24.svg');
	background-size: 100% 24px;
	background-repeat: repeat-y;
}
.crossgrid-even-lcm {
	background-image: url('http://chharvey.github.io/core/images/crossgrid-even-lcm-288x24.svg');
	background-size: 20% 24px;
	background-repeat: repeat;
}
/**
  * This Object represents a generic article, technical document, blog post, etc. This Object may or may not take the form of a literal `article` element or `main` element of a page. This Object is designed to contain other block-level Objects such as Headings and Paragraphs.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.Article {
	font-family: @fontfam_prose;
	text-align: justify;
}
/**
  * This Object represents text in an article that is not to displayed like .Article text. Essentially it reverts back to the body copy styles.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.UndoArticle {
	font-family: @fontfam_base;
	text-align: left;
}

@media print {
	body {
		.fontsize-med;
		color: #000;
		background-color: #fff;
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
