// main: ../all.less

/*--------------*\
    _body.less
\*--------------*/

html {
	font-size: @fontsize_base;
	font-family: @fontfam_base;
	line-height: @lineheight_base;
}
body {
	color: @color_base_txt;
	background-color: @color_base_bg;
}
main {
	.Block.P1.Mr;
	margin-bottom: 192px; // 2in
}
/**
  * This Object represents a generic article, technical document, blog post, etc. This Object may or may not take the form of a literal `article` element or `main` element of a page. This Object is designed to contain other block-level Objects such as Headings and Paragraphs.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.Article {
	font-family: @fontfam_prose;
	text-align: justify;
}
/**
  * This Object represents text in an article that is not to displayed like .Article text. Essentially it reverts back to the body copy styles.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.UndoArticle {
	font-family: @fontfam_base;
	text-align: left;
}

@media print {
	body {
		.fontsize-med;
		color: #000;
		background-color: #fff;
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
