
/*--------------*\
    _code.less
\*--------------*/


@color_code--txt:  #000;
@color_code--bg:   #ced;
@color_code__comm: #999;
@color_code__tag:  #009;
@color_code__attr: #900;
@color_code__val:  #090;
@color_code__sel:  #099;
@color_code__prop: #909;
@color_code__cmd: #990;
@color_code__arg: #000;
.code {
	// * a piece of text that a computer program would recognize
	.box-inline();
	.fontsize(small; inline);
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-family: @fontfam--code;
	color: @color_code--txt;
	background-color: @color_code--bg;
}
.code--block {
	&:extend(.code all);
	.box-block();
	.border-vert--both(all; 0);
	.fontsize(small);
	white-space: pre-wrap;
	background-color: transparent;
}
.code__comm {color: @color_code__comm;}
.code__tag       {color: @color_code__tag;}
.code__attr {color: @color_code__attr;}
.code__val     {color: @color_code__val;}
.code__sel {color: @color_code__sel;}
.code__prop {color: @color_code__prop;}
.code__cmd {color: @color_code__cmd;}
.code__arg {color: @color_code__arg;}
.dir {
	// * directory system (folders and files)
	border: 0;
	font-style: italic;
	font-family: @fontfam--base;
}
.key {
	// * an individual key on a keyboard, calculator, or other device
	&:extend(.code all);
	padding: 0 6px; // why this number?
	border-style: outset;
	font-family: @fontfam--base;
	color: @aperture-white;
	background-color: @aperture-black;
}
.latex {
	overflow: auto;
	font-family: @fontfam--math;
	white-space: pre-wrap;
}
code:extend(.code all) {}
kbd {font-weight: bold;}
kbd > kbd:extend(.key all) {}
var {font-style: italic;}
@media print {
	code {
		color: #000;
		background-color: #fff;
	}
}
