// main: ../all.less

/*#################*\
    _docsect.less
\*#################*/


/**
  * This Object represents a generic article, technical document, blog post, etc. This Object may
  * or may not take the form of a literal `article` Element or `main` Element of a page. This
  * Object is designed to contain other block-level Objects such as `.H`s and `.P`s.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.Article {
	font-family: @fontfam_prose;
	text-align: justify;
}
/**
  * This Object represents text in an article that is not to displayed like `.Article` text.
  * Essentially it reverts back to the body copy styles.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.UndoArticle {
	font-family: @fontfam_base;
	text-align: left;
}
/**
  * This Object represents a section of text that represents "fine print": disclaimers, etc.
  * It should be instantiated by an entire `section`, `aside`, `div`, or `p` Element, which
  * may or may not contain `small` Element children.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.Fineprint {
	&:extend(.fontsize-block-sml);
}

/**
  * This attribute indicates the status of a document or Element.
  * "draft"    : a work in progress
  * "complete" : finished but not yet ready for implementation
  * "released" : ready for implementation
  * See https://github.com/chharvey/chharvey.github.io/wiki/Document-Status/ for more info.
@tags
: #status
: #golden
: #border
: #background
@author
: Chris Harvey
@updated
: 2014-08-10
  */
.Article {
	&[data-status="draft"]::before,
	&[data-status="complete"]::before,
	&[data-status="released"]::before {
		.Label;
		.Label.Msg;
		.border-vert-undo;
		margin-top: 0;
			box-sizing: border-box;
			position: fixed;
			width: @golden5;
			margin-left: @golden7;
			margin-right: @golden8;
			right: 0;
		top: 2 * @vru_rem;
		font-weight: bold;
		text-align: right;
	}
	&[data-status="draft"]::before    {.Label.Msg.Warn; content: 'This article is a work in progress. It has not been finalized.';}
	&[data-status="complete"]::before {.Label.Msg.Cshn; content: 'This article is mostly complete and needs some edits before releasing.';}
	&[data-status="released"]::before {.Label.Msg.Skss; content: 'This article is ready for implementation.';}

	[data-status="draft"],
	[data-status="complete"],
	[data-status="released"] {
		.spacing-phi(left; 4px; solid);
		padding-right: 4px;
		box-shadow: 4px 4px 4px #808080;
	}
	[data-status="draft"]    {border-color: @color_lbl_warn_brdr; background-color: fadeout(@color_lbl_warn_bg, @golden4c);}
	[data-status="complete"] {border-color: @color_lbl_cshn_brdr; background-color: fadeout(@color_lbl_cshn_bg, @golden4c);}
	[data-status="released"] {border-color: @color_lbl_skss_brdr; background-color: fadeout(@color_lbl_skss_bg, @golden4c);}
}
