
/*------------------*\
    _headings.less
\*------------------*/

/**
	* This Object represents a generic heading of a section, post, article, or document.
@tags
: #typography
: #heading
: #section
@author
: Chris Harvey
@updated
: 2014-04-14
	*/
.H {
	display: block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: @fontfam_heading;
	letter-spacing: 1px;
	color: @color_base_txt;
}
/**
	* This Object represents a generic tagline inside a heading, called a 'subheading'.
@tags
: #typography
: #heading
@author
: Chris Harvey
@updated
: 2014-04-30
	*/
.H > .Hsub {
	font-size: 80%;
	padding-left: @spacer;
	font-weight: normal;
	color: @color_base_faded;
}
/**
	* The six Objects below represent different levels of headings, starting from top-level to level 6.
@extends
: .H
@tags
: #typography
: #heading
: #section
@author
: Chris Harvey
@updated
: 2014-04-14
	*/
.H.Alpha {
//	.fontsize-scale(@fontsize_ratio_alpha);
	.fontsize-scale-double(@fontsize_ratio_alpha);
	.vru-top(2 * @phi1);
	.vru-bottom(2 * @phi2);
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	color: @color_h_major;
	> .Hsub {color: @color_hsub_major;}
}
.H.Beta {
	.fontsize-scale(@fontsize_ratio_beta);
	.vru-top(1);
	.vru-bottom(1);
	font-weight: bold;
	color: @color_h_minor;
	> .Hsub {color: @color_hsub_minor;}
}
.H.Gamma {
	.fontsize-scale(@fontsize_ratio_gamma);
	.vru-top(1.333);
	.vru-bottom(0.667);
	font-variant: small-caps;
	font-weight: bold;
}
.H.Delta {
	.fontsize-scale(@fontsize_ratio_delta);
	.vru-top(0.75);
	.vru-bottom(0.25);
	font-style: italic;
	font-weight: bold;
}
.H.Epsilon {
	.fontsize-scale(@fontsize_ratio_epsilon);
	.vru-top(0);
	.vru-bottom(0);
	font-style: italic;
//	text-indent: 0.5in;
	color: @color_h_minor;
	> .Hsub {color: @color_hsub_minor;}
}
.H.Zeta {
	.fontsize-scale(@fontsize_ratio_zeta);
	.vru-top(0);
	.vru-bottom(0);
	font-style: italic;
	font-variant: small-caps;
//	text-indent: 0.5in;
}

@media print {
	.H {
		.fontsize-med;
	}
}
