// main: ../all.less

/*---------------*\
    _links.less
\*---------------*/

/**
  * This Object represents the abstract concept of a span of text that links to another file.
  * It does not represent an inactive placeholder (equivalent to an empty `a` Element). It also
  * does not represent a block-level hyperlink, e.g. a box that could contain an image.
@tags
: #hyperlink
: #span
@author
: Chris Harvey
@updated
: 2014-05-17
  */
.Link {
	text-decoration: none;
	color: @color_linka_up_txt;
	&:hover {
		text-decoration: underline;
		color: @color_linka_dn_txt;
	}
	&:active {color: @color_link_active_txt;}
	&[rel~="external"] {font-style: italic;}
}
/**
  * This Object represents a special link. It may refer to an external link, or some other type.
@extend
: .link
@tags
: #hyperlink
: #span
@author
: Chris Harvey
@updated
: 2014-04-21
  */
// .Link.Sp {
// 	color: @color_linkb_up_txt;
// 	&:hover {color: @color_linkb_dn_txt;}
// }
/**
  * This Object represents a placeholder reference to a name or title of a heading, section, figure,
  * table (or column in a table), or creative work.
  * It may be instantiated by the `a` or `cite` Elements.
@tags
: #hyperlink
: #span
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Ref {
	font-weight: bold;
}
/**
  * This Object represents a proper noun traditionally italicized, e.g. periodical name or ship name.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Proper {
	font-style: italic;
	text-transform: capitalize;
}
