// main: ../all.less

/*--------------*\
    _maps.less
\*--------------*/

/**
  * This Object represents an association list, which contains term-description pairs. Each pair
  * consists of exactly one `.Term` and exactly one `.Desc`.
@implements
: .vru-top-1
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-12
  */
.Map {
	&:extend(.vru-top-1 all);
	display: block;
}
/**
  * This Object represent the term in a term-description pair of a `.Map`.
@belongsto
: .Map
@implements
: .vru-content
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Map > .Term {
	&:extend(.vru-content);
}
/**
  * This Object represent the description in a term-description pair of a `.Map`.
@belongsto
: .Map
@implements
: .vru-content
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Map > .Desc {
	&:extend(.vru-content);
	padding-left: @tab;
}
/**
  * This Object represents a Map Object nested within a `.Term` Object or `.Desc` Object.
@implements
: .vru-top-0
@tags
: #typography
: #map
@author
: Chris Harvey
@updated
: 2014-05-25
  */
// .Map > .Term > .Map,
// .Map > .Desc > .Map {
// 	&:extend(.vru-top-0);
// }
/**
  * This Object represents an association list in which terms are grouped together in one column
  * and descriptions are grouped together in one column.
  * This map acts like a table, with each row containing a single term-description group.
@extends
: .Map
@implements
: .clearfix
@tags
: #typography
: #map
: #golden
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Map.Vert {
	&:extend(.clearfix all);
	> .Term,
	> .Desc {
		padding: 0;
		float: left;
	}
	> .Term {width: @golden2;}
	> .Desc {width: @golden1;}
	> .Desc + .Term {clear: both;}
}
/**
  * This Object represents an association list in which terms are grouped together in one column
  * and descriptions are grouped together in one column. The column widths are specified by
  * this subclass.
  * This map acts like a table, with each row containing a single term-description group.
@extends
: .Map.Vert
@params
: @namewidth : a percentage, which specifies the width of `.Nam`
@tags
: #typography
: #map
: #golden
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.MapVertMx(@namewidth) {
	> .Term {width: @namewidth;}
	> .Desc {width: (100% - @namewidth);}
}
.Map.Vert.Sml {.MapVertMx(@golden3);}   // 23.6067977499789696%
.Map.Vert.Msm {.MapVertMx(@golden2);}   // 38.1966011250105152% // default
.Map.Vert.Med {.MapVertMx(@1o2);}       // 50%
.Map.Vert.Mlg {.MapVertMx(@golden1);}   // 61.8033988749894848%
.Map.Vert.Lrg {.MapVertMx(@golden3c);}  // 76.3932022500210304%
