// main: ../all.less

/*--------------------*\
    _paragraphs.less
\*--------------------*/

/**
  * This Object represents a generic paragraph in a section, article, or document. A paragraph Object is a small grouping of textual ideas. In the written media, paragraphs can span anywhere from 3 to 8 sentences. However on the Web, they can be much, much shorter.
@implements
: .vru-content
: .vru-top-1
//: .fontsize-med
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.P {
	&:extend(.vru-content);
	&:extend(.vru-top-1);
//	&:extend(.fontsize-med);
	display: block;
}
/**
  * This Object refers to the first ("lede"/"lead") sentence in a paragraph or caption, which may act as a "heading" for that paragraph or caption.
  * This can also be useful in a list of prose ("LOP"), whose list items consist of long prose text.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.Lede {
	font-weight: bold;
	padding-right: @spacer;
}
/**
  * This Object represents an introduction paragraph, typically referred to as a "standfirst" (in the U.K.). It may also serve as an abstract of a scholarly article.
@extends
: .P
@implements
: .vru-bottom-1
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.P.Intro {
	&:extend(.vru-bottom-1);
	font-weight: bold;
	font-family: @fontfam_heading;
	text-align: justify;
}
/**
  * This Object represents a paragraph whose first letter is a dropped capital ("drop cap").
@extends
: .P
@mixesin
: .fontsize-scale()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.P.Dropcap {
	&::first-letter {
		.fontsize-scale(3);
		float: left;
		padding-top:   (@spacer / 2);
		padding-right: (@spacer / 6);
		font-style: normal;
		font-weight: normal;
		font-family: @fontfam_heading;
		color: @color_h_major;
	}
}

//+++++++++++++++++//
/*@QUASI-PARAGRAPHS*/
//+++++++++++++++++//
/**
  * This Object represents a generic caption of any sort. A caption is usually a short summary or description of some content ("the described content"). The described content may be in a literal `figure` element, `table` element, or it may be any generic content. Since captions are usually too short to be a paragraph, it may *not* contain `.P` Objects. If the described content is text only, the caption should be shorter and more concise than the content's text.
  * If this `.Capt` is a child of a `figure` element, it should be a `figcaption` element. If this `.Capt` is a child of a `table` element, it should be a `caption` element.
@implements
: .vru-content
: .fontsize-small
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.Capt {
	&:extend(.vru-content);
	&:extend(.fontsize-sml);
	text-align: right;
}
/**
  * A caption may appear before or after the described content, even if it and the content are children of the same Object (e.g., a `figure`). A `.P.Capt.Before` appears before the content; a `.P.Capt.After` appears after.
  * Note: According to the HTML5 specs, a `table > caption`, if it exists, may *only* be the first child. However, applying `.Capt.Before` to the `table > caption:first-child` will make it look ugly, because the borders conflict and it will have `display: block;` rather than `display: table-caption;`. Just don't apply `.Capt.Before` or `.Capt.After` to `table > caption`s.
@extends
: .Capt
@mixesin
: .border-vert-one()
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Capt.Before {.border-vert-one(bottom; 1px; dotted; @color_accent);}
.Capt.After  {.border-vert-one(top;    1px; dotted; @color_accent);}
/**
  * This Object represents a generic postal address. It may be the contact address of the document author(s) (contained in an `address` element), or it may be any arbitrary postal mailing address.
@extends
: .P
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #paragraph
: #geolocation
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.Addy {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	.spacing-phi(right; 3px; solid; @color_accent);
	display: block;
	border-radius: 6px;
	font-family: @fontfam_accent;
	text-align: right;
}
/**
  * This Object represents a generic figure in a document. A figure contains excerpts of text, examples, or images that are used to illustrate a concept. This may or may not be a literal `figure` element.
  * Inside this `.Fig` there may exist a `.Capt` (a generic caption), either at the beginning or at the end. The `.Capt` may or may not be a `figcaption` or `caption` element.
  * Content in this `.Fig`---including its caption---is permissible to be extracted from the document and presented on its own.
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Fig {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	.spacing-phi(left;  4px; solid; @color_accent);
	.spacing-phi(right; 4px; solid; @color_accent);
	display: block;
	> :first-child {&:extend(.vru-top-0);}
}
/**
  * This Object represents any Block Quotation, representing material taken directly from another source. It may or may not take the form of a literal `blockquote` element.
  * If the original source is less than 40 words and does not have paragraph breaks (for example, extracted inline text from an article), this `.Qblock` should not contain Paragraphs; it should directly contain the source's text.
@implements
: .vru-content
: .vru-top-phi
: .fontsize-lrg
@mixesin
: .spacing-phi()
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	&:extend(.fontsize-lrg);
	.spacing-phi(left; 7px; double; @color_accent);
	display: block;
	font-family: @fontfam_accent;
	> :first-child {&:extend(.vru-top-0);}
}
/**
  * The `.Src` Object represents the citation of a source inside a `.Qblock` element. It is recommended to apply this Class to a `cite` element.
@belongsto
: .Qblock
@implements
: .fontsize-sml
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock .Src {
	&:extend(.fontsize-sml);
	&::before {content: '~\0020';}
	display: block;
	padding-right: @spacer;
	text-align: right;
}
/**
  * This Object represents a "long" block quotation.
  * If the original source is more than 40 words and does not have paragraph breaks, this `.Qblock.Long` should have exactly one `.P` object, which contains the text from the source.
  * If the original source has paragraph breaks, regardless of word count, this `.Qblock.Long` should have paragraph breaks that correspond to the source.
@extends
: .Qblock
@implements
: .fontsize-med
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock.Long {
	&:extend(.fontsize-med);
	.Src {
		&:extend(.parens all);
		&:extend(.vru-top-1);
		&:extend(.fontsize-med);
		padding-right: 0;
	}
}
//++++ @end QUASI-PARAGRAPHS ++++//

@media print {
	.Fig, .Addy, .Qblock {
		.fontsize-med;
		// .spacing-phi-left;
		// .spacing-phi-right;
		.spacing-phi(left;  0; solid; #000);
		.spacing-phi(right; 0; solid; #000);
	}
}
