// main: ../all.less

/*--------------------*\
    _paragraphs.less
\*--------------------*/
/**
  * These Mixins set the padding, border, and margin on the left or right side of an Object,
  * such that the border:padding ratio and the (border+padding):margin ratio are Golden.
@params
: @side:  either "left" or "right"
: @brdrw : value of the `border-[left|right]-width` property
: @brdrs : value of the `border-[left|right]-style` property
: @brdrc : value of the `border-[left|right]-color` property
@tags
: #golden
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.spacing-phi(@side; @brdrw; @brdrs) {
	 border-@{side}-width: @brdrw;
	 border-@{side}-style: @brdrs;
	padding-@{side}: (@brdrw * @inv_phi1);
	 margin-@{side}: (@brdrw * @inv_phi3);
}
.spacing-phi(@side; @brdrw; @brdrs; @brdrc) {
	.spacing-phi(@side; @brdrw; @brdrs);
	border-@{side}-color: @brdrc;
}
/** negate the effects of `.spacing-phi(@side; @brdrw; @brdrs; @brdrc)`  on the [left|right] side */
// .spacing-phi(@side) {
// 	.spacing-phi(@side; 0; solid; #000);
// }
// .spacing-phi-left  {.spacing-phi(left);}
// .spacing-phi-right {.spacing-phi(right);}

/**
  * This Object represents a generic paragraph in a section, article, or document. A paragraph
  * Object is a small grouping of textual ideas. In the written media, paragraphs can span
  * anywhere from 3 to 8 sentences. However on the Web, they can be much, much shorter.
@implements
: .vru-content
: .vru-top-1
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.P {
	&:extend(.vru-content);
	&:extend(.vru-top-1);
	display: block;
}
/**
  * This Object refers to the first ("lede"/"lead") sentence in a paragraph or caption, which may
  * act as a "heading" for that paragraph or caption.
  * This Object is typically a child of a `.P` Object, or any paragraph-like Objects such as `.Capt`.
  * This can also be useful in a list of prose ("LOP"), whose list items consist of long prose text.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.Lede {
	font-weight: bold;
	padding-right: @spacer;
}
/**
  * This Object represents an introduction paragraph, typically referred to as a "standfirst"
  * (in the U.K.). It may also serve as an abstract of a scholarly article. This Object almost
  * always follows a `.H` Object (a heading).
@extends
: .P
@implements
: .vru-bottom-1
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-05-29
  */
.P.Intro {
	&:extend(.vru-bottom-1);
	font-weight: bold;
	font-family: @fontfam_heading;
	text-align: justify;
}
/**
  * This Object represents a paragraph whose first letter is a dropped capital ("drop cap").
@extends
: .P
@mixesin
: .fontsize-scale()
@tags
: #typography
: #paragraph
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.P.Dropcap {
	&::first-letter {
		.fontsize-scale(2);
		float: left;
		padding-top:   (@spacer / 1);
		padding-right: (@spacer / 2);
		font-style:  normal;
		font-weight: normal;
		font-family: @fontfam_script1;
		color: @color_h_major;
	}
}

//+++++++++++++++++//
/*@QUASI-PARAGRAPHS*/
//+++++++++++++++++//
@capt_brdr_width: 1px;
@capt_brdr_style: dotted;
@capt_brdr_color: @color_brdr;
@addy_brdr_width: 3px;
@addy_brdr_style: solid;
@addy_brdr_color: @color_brdr;
@fig_brdr_width: 4px;
@fig_brdr_style: solid;
@fig_brdr_color: @color_brdr;
@qblock_brdr_width: 7px;
@qblock_brdr_style: double;
@qblock_brdr_color: @color_brdr;
/**
  * This Object represents a generic caption of any sort. A caption is usually a short summary or
  * description of some content ("the described content"). The described content may be in a
  * literal `figure` element, `table` element, or it may be any generic content. Since captions are
  * usually too short to be a paragraph, it may *not* contain `.P` Objects. If the described content
  * is text only, the caption should be shorter and more concise than the content's text.
  * If this `.Capt` is a child of a `figure` element, it should be a `figcaption` element.
  * If this `.Capt` is a child of a `table` element, it should be a `caption` element.
@implements
: .vru-content
: .fontsize-small
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-11
  */
.Capt {
	&:extend(.vru-content);
	&:extend(.fontsize-sml);
	text-align: right;
}
/**
  * A caption may appear before or after the described content, even if it and the content are
  * children of the same Object (e.g., a `figure`). A `.P.Capt.Before` appears before the content;
  * a `.P.Capt.After` appears after.
  * Note: According to the HTML5 specs, a `table > caption`, if it exists, may *only* be the
  * first child. However, applying `.Capt.Before` to the `table > caption:first-child` will make it
  * look ugly, because the borders conflict and it will have `display: block;` rather than
  * `display: table-caption;`. Just don't apply `.Capt.Before` or `.Capt.After` to `table > caption`s.
@extends
: .Capt
@mixesin
: .border-vert-one()
@tags
: #typography
: #caption
: #table
: #figure
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Capt.Before {.border-vert-one(bottom; @capt_brdr_width; @capt_brdr_style);}
.Capt.After  {.border-vert-one(top;    @capt_brdr_width; @capt_brdr_style);}
/**
  * This Object represents a generic postal address. It may be the contact address of the document
  * author(s) (contained in an `address` element), or it may be any arbitrary postal mailing address.
@extends
: .P
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #paragraph
: #geolocation
@author
: Chris Harvey
@updated
: 2014-04-30
  */
.Addy {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	.spacing-phi(right; @addy_brdr_width; @addy_brdr_style);
	display: block;
	border-radius: 6px;
	text-align: right;
}
/**
  * This Object represents a generic figure in a document. A figure contains excerpts of text,
  * examples, or images that are used to illustrate a concept. This may or may not be a
  * literal `figure` element.
  * Inside this `.Fig` there may exist a `.Capt` (a generic caption), either at the beginning or at
  * the end. The `.Capt` may or may not be a `figcaption` or `caption` element.
  * Content in this `.Fig`---including its caption---is permissible to be extracted from the
  * document and presented on its own.
@implements
: .vru-content
: .vru-top-phi
@mixesin
: .spacing-phi()
@tags
: #typography
: #figure
: #caption
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Fig {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	.spacing-phi(left;  @fig_brdr_width; @fig_brdr_style);
	.spacing-phi(right; @fig_brdr_width; @fig_brdr_style);
	display: block;
	// > :first-child {&:extend(.vru-top-0);}
}
/**
  * This Object represents any Block Quotation, representing material taken directly from another
  * source. It may or may not take the form of a literal `blockquote` element.
  * If the original source is less than 40 words and does not have paragraph breaks (for example,
  * extracted inline text from an article), this `.Qblock` should not contain Paragraphs; it should
  * directly contain the source's text.
@implements
: .vru-content
: .vru-top-phi
: .fontsize-lrg
@mixesin
: .spacing-phi()
: .fontsize-scale-double()
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock {
	&:extend(.vru-content);
	&:extend(.vru-top-phi);
	&:extend(.fontsize-lrg);
	.spacing-phi(left; @qblock_brdr_width; @qblock_brdr_style);
	&:extend(.crossgrid-lined);
	// .fontsize-scale-double(5/4);
	display: block;
	font-family: @fontfam_accent;
	// > :first-child {&:extend(.vru-top-0);}
}
/**
  * The `.Src` Object represents the citation of a source inside a `.Qblock` element. It is
  * recommended to apply this Class to a `cite` element.
@belongsto
: .Qblock
@implements
: .fontsize-sml
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock .Src {
	&:extend(.fontsize-sml);
	&::before {content: '~\0020';}
	display: block;
	padding-right: @spacer;
	text-align: right;
}
/**
  * This Object represents a "long" block quotation.
  * If the original source is more than 40 words and does not have paragraph breaks, this
  * `.Qblock.Long` should have exactly one `.P` object, which contains the text from the source.
  * If the original source has paragraph breaks, regardless of word count, this `.Qblock.Long`
  * should have paragraph breaks that correspond to the source.
@extends
: .Qblock
@implements
: .fontsize-med
@tags
: #typography
: #quote
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.Qblock.Long {
	&:extend(.fontsize-med);
	.Src {
		&:extend(.parens all);
		&:extend(.vru-top-1);
		&:extend(.fontsize-med);
		padding-right: 0;
	}
}

.Capt,
.Addy,
.Fig,
.Qblock {border-color: @color_brdr;}
//++++ @end QUASI-PARAGRAPHS ++++//

/**
  * This Object represents a generic article, technical document, blog post, etc. This Object may
  * or may not take the form of a literal `article` element or `main` element of a page. This
  * Object is designed to contain other block-level Objects such as Headings and Paragraphs.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.Article {
	font-family: @fontfam_prose;
	text-align: justify;
}
/**
  * This Object represents text in an article that is not to displayed like .Article text.
  * Essentially it reverts back to the body copy styles.
@tags
: #typography
: #article
@author
: Chris Harvey
@updated
: 2014-05-02
  */
.UndoArticle {
	font-family: @fontfam_base;
	text-align: left;
}


@media print {
	.Fig, .Addy, .Qblock {
		.fontsize-med;
		// .spacing-phi-left;
		// .spacing-phi-right;
		.spacing-phi(left;  0; solid; #000);
		.spacing-phi(right; 0; solid; #000);
	}
}
