// main: ../all.less

/*----------------*\
    _tables.less
\*----------------*/

/**
  * This Object represents a table-like structure. It may or may not be a literal `table` Element.
  * A `.Table` is defined as an collection of data in two or more dimensions. A common example
  * would be a multivariable map: given multiple (e.g., two) independent inputs there exists one
  * dependent output.
@implements
: .vru-top-1
: .fontsize-sml
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Table {
	&:extend(.vru-top-1);
	&:extend(.fontsize-sml);
	display: table;
	// margin-left: auto;
	// margin-right: auto;
	text-align: center;
	color: @color_base_txt;
	background-color: @color_base_bg;
}
/**
  * This Object represents a group of rows in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Rowgroup {
	border-width: 1px 0;
	border-style: solid;
	border-color: @color_table_brdr;
}
.Rowgroup.Head,
.Rowgroup.Foot {
	vertical-align: bottom;
	background-color: @color_table_bg_hi;
	.Row {background-color: transparent;}
}
.Rowgroup.Head {
	display: table-header-group;
}
.Rowgroup.Body {
	display: table-row-group;
	vertical-align: top;
}
.Rowgroup.Foot {
	display: table-footer-group;
}
/**
  * This Object represents a single row in a `.Table`.
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Row {
	display: table-row;
	&:nth-child(odd)  {background-color: @color_table_bg_md;}
	&:nth-child(even) {background-color: @color_table_bg_lo;}
}
/**
  * This Object represents a single data entry in a `.Table`.
@implements
: .cellpaddingdefault
: .vru-content
@tags
: #typography
: #table
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Cell {
	&:extend(.cellpaddingdefault);
	&:extend(.vru-content);
	display: table-cell;
}
/**
  * This Object represents a heading in a `.Table`. A table heading may apply to a single row,
  * a single column, a group of rows, or a group of columns.
@tags
: #typography
: #table
: #heading
@author
: Chris Harvey
@updated
: 2014-05-18
  */
.Cell.Hc {
	font-weight: bold;
}

.Table.Vert .Row .Cell {
	&:nth-child(odd)  {background-color: @color_table_bg_md;}
	&:nth-child(even) {background-color: @color_table_bg_lo;}
}
// .Table.Grid {
// 	> .Rowgroup.Head,
// 	> .Rowgroup > .Row > .Cell.Hc {background-color: @color_table_bg_hi;}
// 	> .Rowgroup {
// 		> .Row {
// 			> .Cell {border: 1px solid @color_table_brdr;}
// 		}
// 		> .Row:nth-child(odd) {
// 			> .Cell:nth-child(odd)  {background-color: @color_table_bg_lo;}
// 			> .Cell:nth-child(even) {background-color: @color_table_bg_md;}
// 		}
// 		> .Row:nth-child(even) {
// 			> .Cell:nth-child(odd)  {background-color: @color_table_bg_md;}
// 			> .Cell:nth-child(even) {background-color: @color_table_bg_hi;}
// 		}
// 	}
// }
table {
	counter-reset: nrows;
	tr {
		counter-increment: nrows;
	}
	counter-increment: nrows; // once more for the last border
//		@btm: -(((nrows + 12) % 24) - 12);
//		if (btm <= 0) {
//			margin-bottom: @btm;
//		} else {
//			padding-bottom: @btm;
//		}
}
@media print {
	.Table {
		.fontsize-med;
	}
}
