// main: ../all.less

/*--------------*\
    _text.less
\*--------------*/


// Table of Contents
// - HIGHLIGHTED TEXT
// - DOCUMENTATION


/**
  * This Object represents a generic span of text in a paragraph, figure, caption, quote, list item,
  * table cell, or any container of text. It may or may not be a literal `span` Element.
  * This can be useful when writing lists in prose ("LIP"), for example.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-10
  */
// .S {
// 	display: inline;
// }


//+++++++++++++++++//
/*@HIGHLIGHTED TEXT*/
//+++++++++++++++++//
/**
  * Emphasized text represents words or phrases that are stressed, as if the tone of voice would be
  * affected. More importantly, **the placement of stress should affect the meaning of the passage**.
  * If the emphasis were to be removed or relocated, the passage's meaning should change.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-30
*/
em {font-style: italic;}
/**
  * Strong text has a level of importance. Important text does not necessarily affect tone of voice
  * (although it may), but rather upsets the normal prose by causing the reader to examine the text
  * more carefully. The placement of importance should not affect the meaning of the passage.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-30
  */
strong {font-weight: bold;}
/**
  * Marked text represents phrases that are relevant to a particular subject in a different context.
  * In an article about black holes, for example, the author may want to mark up anything that has
  * to do with the **Law of Conservation of Information** in one way, and mark up any phrases
  * involving **String Theory** in another way. Using classes, the reviewer could style different
  * contexts accordingly.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-30
  */
mark {
	padding: 2px 3px;
	background-color: @color_accent; // fallback
	background-color: fadeout(@color_accent, @fade);
	color: @color_base_bg;
}

//.scare {
//	// * scare quotes contain abuse of vocabulary or language
//	&:extend(.quotes-double all);
//}
//.mention {
//	// * mentions refer to phrases without referring to their meaning
//	&:extend(.quotes-double all);
//}
/**
  * A keyword, technical or specific term, or a vocabulary term.
  * Every `dfn` must have an `id` attribute, thus there must only be one `dfn` per page that
  * contains a given term in question. Furthermore, hyperlinks can point to the defining instance
  * of the term.
  * A `b` Element is any generic keyword or term, whose definition may or may not be present.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
	*/
b, dfn[id] {
	font-weight: bold;
	font-family: @fontfam_prose;
}
/**
  * A phrase in a foreign language, such as the taxonomic classification (in Latin) of an organism.
  * Recommended to be instantiated by i[lang] Elements.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
  */
i[lang] {
	font-style: italic;
	font-family: @fontfam_math;
}
/**
  * A span of text that is to be hidden, for styling purposes only. To hide text (or blocks)
  * for SEO purposes, use the `hidden=""` attribute.
@tags
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-06-26
  */
.Noshow {
	display: none;
}
//++++ @end HIGHLIGHTED TEXT ++++//


//++++++++++++++//
/*@DOCUMENTATION*/
//++++++++++++++//
/**
  * An inline quotation: a span of text that is taken directly from another source
  * (real or fictional).
@implements
: .quotes-double
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-30
  */
q:extend(.quotes-double all) {}
/**
  * This Object represents an altered voice in the form of a thought. Like a quote but silent.
  * May be applied to the `q` Element.
@implements
: .guillemets
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Th {
	&:extend(.guillemets all);
}

/**
  * An abbreviation.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-16
  */
abbr[title] {cursor: help;}
/**
  * A span or block of text that has been deleted from a document.
  * This is used to explicitly indicate that the text has been intentionally deleted.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
del[datetime] {
	text-decoration: line-through;
}
/**
  * A span or block of text that has been inserted into a document.
  * This is used to explicitly indicate that the text has been intentionally inserted.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
ins[datetime] {
	text-decoration: underline;
}
del + ins {padding-left: @spacer;}
// abbr[title],
// del[datetime],
// ins[datetime] {
// 	cursor: help;
// 	&::after {
// 		display: none;
// 		position: relative;
// 		left: 5px;
// 		top: 5px;
// 		text-decoration: none;
// 	}
// 	&:hover::after {display: inline;}
// }
// abbr[title]::after   {content: attr(title);}
// del[datetime]::after {content: 'deleted on ' attr(datetime);}
// ins[datetime]::after {content: 'inserted on ' attr(datetime);}
/**
  * Superscripts and subscripts.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-13
  */
sup, sub {
	&:extend(.fontsize-sml);
	position: relative;
	vertical-align: baseline;
}
sup {bottom: (@spacer / 4);}
sub {top:    (@spacer / 4);}
/**
  * A time element. See the W3C HTML5 standards for details.
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-26
  */
time {}
/**
  * A geographical location on Earth.
  *
  * This Element must have the `data-lon=""` and `data-lat=""` attributes (corresponding to
  * longitude and latitude, respectively), whose values are decimal numbers representing angles,
  * measures in decimal degrees. To find these values, simply go to [maps.google.com](),
  * enter the city/town name, and then look at the URL.
  *
  * This Element may also optionally have the `data-alt=""` attribute (corresponding to
  * altuitude or elevation), whose value is text representing a physical length,
  * measured in any unit (feet/meters most common).
@tags
: #typography
@author
: Chris Harvey
@updated
: 2014-06-26
  */
[data-element="geo"] {white-space: nowrap;}

//++++ @end DOCUMENTATION ++++//




//++++++//
/*@FORMS*/
//++++++//
// fieldset {
// 	padding: 0;
// 	margin: 0;
// }
//++++ @end FORMS ++++//
