
/*--------------*\
    _text.less
\*--------------*/

/**
  * This Object represents a generic span of text in a paragraph, figure, caption, quote, list item, table cell, or any container of text. It may or may not be a literal `span` element.
@tags
: #typography
: #span
@author
: Chris Harvey
@updated
: 2014-05-10
  */
.S {
	display: inline;
}
/**
  * This Object represents a lede sentence, which may act as a "heading" for the paragraph it's in. If a lede sentence is part of a paragraph, it acts like a mini-heading for that paragraph. This can be especially useful in a prose list.
@extends
: .S
@implements
: .lede
@tags
: #typography
: #span
: #list
@author
: Chris Harvey
@updated
: 2014-04-26
  */
.S.Lede {
	&:extend(.lede);
	padding-right: @spacer;
}



//+++++++++++++++++//
/*@HIGHLIGHTED TEXT*/
//+++++++++++++++++//
//.scare {
//	// * scare quotes contain abuse of vocabulary or language
//	&:extend(.quotes-double all);
//}
//.mention {
//	// * mentions refer to phrases without referring to their meaning
//	&:extend(.quotes-double all);
//}
// em,
.Emph {
  font-style: italic;
}
// strong,
.Impt {
  font-weight: bold;
}
// mark,
.Mark {
  background-color: transparent;
}
/**
  * A phrase in a foreign language.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Foreignlang {
	font-style: italic;
	font-family: @fontfam_math;
}
/**
  * A keyword or technical term.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
	*/
.Keyword {
	font-weight: bold;
}
/**
	* A proper noun traditionally italicized, e.g. periodical name or ship name.
@tags
: #typography
: #span
: #highlight
@author
: Chris Harvey
@updated
: 2014-05-25
	*/
.Proper {
	font-style: italic;
	text-transform: capitalize;
}
//++++ @end HIGHLIGHTED TEXT ++++//


//++++++++++++++//
/*@DOCUMENTATION*/
//++++++++++++++//
/**
  * This Object represents an inline quotation: a span of text that is taken directly from another source.
@implements
: .quotes-double
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-03
  */
.Quot {
	&:extend(.quotes-double all);
}
/**
  * This Object represents an inline thought: it's like a quote but silent.
@implements
: .guillemets
@tags
: #typography
: #span
: #quote
@author
: Chris Harvey
@updated
: 2014-05-25
  */
.Th {
	&:extend(.guillemets all);
}
// dfn {
// 	font-weight: bold;
// 	font-style: inherit;
// 	font-family: @fontfam_prose;
// }
// abbr[title],
// del[datetime],
// ins[datetime] {
// 	cursor: help;
// 	&::after {
// 		display: none;
// 		position: relative;
// 		left: 5px;
// 		top: 5px;
// 		text-decoration: none;
// 	}
//	&:hover::after {display: inline;}
// }
// abbr {
// 	&[title]::after {content: attr(title);}
// }
// del {
// 	text-decoration: line-through;
// 	&[datetime]::after {content: 'deleted on ' attr(datetime);}
// }
// ins {
// 	text-decoration: underline;
// 	&[datetime]::after {content: 'inserted on ' attr(datetime);}
// }
// del + ins {
// 	padding-left: 0.5em;
// }
// sup,
// sub {
// 	&:extend(.fontsize-sml-inline);
// 	vertical-align: baseline;
// }
// sup {
// 	position: relative;
// 	bottom: (@spacer / 4);
// }
// sub {
// 	position: relative;
// 	top: (@spacer / 4);
// }
//++++ @end DOCUMENTATION ++++//



//++++++//
/*@FORMS*/
//++++++//
// fieldset {
// 	padding: 0;
// 	margin: 0;
// }
//++++ @end FORMS ++++//
