extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'SOLs'
    var description = 'An overview of the State of Virginia Standards of Learning for Grade 7 Mathematics.'

block append mainHeader
  div.
    <h1>State of Virginia Standards of Learning</h1>
    <dl class="docmeta">
      <dt>Author</dt>
      <dd>Chris Harvey</dd>
      <dt>Description</dt>
      <dd>An overview of the State of Virginia Standards of Learning for Grade 7 Mathematics.</dd>
      <dt>Version History</dt>
      <dd class="update">
        <time datetime="2014-03-05 17:52" itemprop="dateModified">Mar 5, 2014 <span class="tod">5:52 PM</span></time>
      </dd>
    </dl>

block append main
  div.
    <p>This page lists the Math 7 VA SOLs and includes links to standards-based tests for each.</p>
    <p>Items displayed in the following styles indicate content on an end-of-course test
      for which <a rel="external"
        href="http://www.doe.virginia.gov/testing/sol/performance_analysis/">
        <q cite="http://www.doe.virginia.gov/testing/sol/performance_analysis/">student performance
        was weak or inconsistent</q></a>.</p>
    <ul>
      <li class="standard-pa2012">Spring 2012 Student Performance Analysis</li>
      <li class="standard-pa2013">Spring 2013 Student Performance Analysis</li>
    </ul>
    <section>
      <h4><span id="7.1abc" class="standard-id">7.1abc</span> Rational Numbers
        <small class="o-Textbox  c-Label  c-Label--cshn  -ml-1">No Calculator</small></h4>
      <blockquote class="Standard-txt">
        The student will
        <ol>
          <li class="standard-pa2012">investigate and describe the concept of negative
            exponents for powers of ten;</li>
          <li>determine scientific notation for numbers greater than zero; and</li>
          <li class="standard-pa2012">compare and order fractions, decimals, percents, and
            numbers written in scientific notation.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.1d" class="standard-id">7.1d</span> Perfect Squares
        <small class="o-Textbox  c-Label  c-Label--cshn  -ml-1">No Calculator</small></h4>
      <blockquote class="Standard-txt">
        The student will determine square roots.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.1e" class="standard-id">7.1e</span> Absolute Value</h4>
      <blockquote class="Standard-txt">
        The student will identify and describe absolute value for rational numbers.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.2" class="standard-id">7.2</span> Sequences</h4>
      <blockquote class="Standard-txt">
        The student will describe and represent arithmetic and geometric sequences, using
        variable expressions.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.3" class="standard-id">7.3</span> Integer Operations
        <small class="o-Textbox  c-Label  c-Label--cshn  -ml-1">No Calculator</small></h4>
      <blockquote class="Standard-txt">
        The student will
        <ol>
          <li>model addition, subtraction, multiplication, and division of integers; and</li>
          <li class="standard-pa2012 standard-pa2013">add, subtract, multiply, and divide integers.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.4" class="standard-id">7.4</span> Proportional Reasoning</h4>
      <blockquote class="Standard-txt standard-pa2012">
        The student will solve single-step and multistep practical problems, using
        proportional reasoning.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.5" class="standard-id">7.5</span> Volume and Surface Area</h4>
      <blockquote class="Standard-txt">
        The student will
        <ol>
          <li>describe volume and surface area of cylinders;</li>
          <li>solve practical problems involving the volume and surface area of
            rectangular prisms and cylinders; and</li>
          <li class="standard-pa2012"><span class="standard-pa2013">describe how
            changing one measured attribute of a rectangular prism affects its volume</span>
            and surface area.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.6" class="standard-id">7.6</span> Similar Polygons</h4>
      <blockquote class="Standard-txt">
        The student will determine whether plane figures&mdash;quadrilaterals and
        triangles&mdash;are similar and <span class="standard-pa2013">write proportions to
          express the relationships between corresponding sides of similar figures</span>.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.7" class="standard-id">7.7</span> Quadrilaterals</h4>
      <blockquote class="Standard-txt standard-pa2012">
        The student will compare and contrast the following quadrilaterals based on properties:
        <span class="standard-pa2013">parallelogram</span>, rectangle,
        <span class="standard-pa2013">square, rhombus</span>, and trapezoid.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.8" class="standard-id">7.8</span> Transformations</h4>
      <blockquote class="Standard-txt standard-pa2012 standard-pa2013">
        The student, given a polygon in the coordinate plane, will represent transformations
        (reflections, dilations, rotations, and translations) by graphing in the coordinate plane.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.9-7.10" class="standard-id">7.9&ndash;7.10</span> Probability</h4>
      <blockquote class="Standard-txt standard-pa2013">
        The student will investigate and describe the difference between the
        experimental probability and theoretical probability of an event.
      </blockquote>
      <blockquote class="Standard-txt standard-pa2012 standard-pa2013">
        The student will determine the probability of compound events, using the
        Fundamental (Basic) Counting Principle.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.11" class="standard-id">7.11</span> Histograms</h4>
      <blockquote class="Standard-txt">
        The student will, given data for a practical situation, will
        <ol>
          <li>construct and <span class="standard-pa2013">analyze histograms</span>; and</li>
          <li class="standard-pa2013">compare and contrast histograms with other types of
            graphs presenting information from the same data set.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.12" class="standard-id">7.12</span> Relations</h4>
      <blockquote class="Standard-txt">
        The student will <span class="standard-pa2013"><span class="standard-pa2012">represent
          relationships with</span> tables, <span class="standard-pa2012">graphs</span>,
          rules</span>, and words.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li><!-- version is on I.A. -->
      </ul>
    </section>
    <section>
      <h4><span id="7.13a" class="standard-id">7.13a</span> Verbal Mathematics</h4>
      <blockquote class="Standard-txt">
        The student will write verbal expressions as algebraic expressions and sentences as
        equations and vice versa.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a>Version 1</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.13b" class="standard-id">7.13b</span> Substitution</h4>
      <blockquote class="Standard-txt">
        The student will evaluate algebraic expressions for given replacement values of the variables.
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a href="std-713b-v1.html">Version 1</a></li>
        <li class="c-ListAction__Item"><a href="std-713b-v2.html">Version 2</a></li>
        <li class="c-ListAction__Item"><a href="std-713b-v3.html">Version 3</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.14" class="standard-id">7.14</span> Linear Equations</h4>
      <blockquote class="Standard-txt">
        The student will
        <ol>
          <li>solve one- and two-step linear equations in one variable; and</li>
          <li>solve practical problems requiring the solution of one- and
            two-step linear equations.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="cat-hw"><a href="std-714-pre.html">Pre-Quiz</a></li>
        <li class="c-ListAction__Item"><a href="std-714-v1.html">Version 1</a></li>
        <li class="c-ListAction__Item"><a href="std-714-v2.html">Version 2</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.15" class="standard-id">7.15</span> Linear Inequalities</h4>
      <blockquote class="Standard-txt standard-pa2012 standard-pa2013">
        The student will
        <ol>
          <li>solve one-step inequalities in one variable; and</li>
          <li>graph solutions to inequalities on the number line.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a href="std-715-v1.html">Version 1</a></li>
        <li class="c-ListAction__Item"><a href="std-715-v2.html">Version 2</a></li>
      </ul>
    </section>
    <section>
      <h4><span id="7.16" class="standard-id">7.16</span> Field Properties</h4>
      <blockquote class="Standard-txt standard-pa2013">
        The student will apply the following properties of operations with real numbers:
        <ol>
          <li class="standard-pa2012">the commutative and associative properties for
            addition and multiplication;</li>
          <li>the distributive property</li>
          <li class="standard-pa2012">the additive and multiplicative identity properties;</li>
          <li class="standard-pa2012">the additive and multiplicative inverse properties; and </li>
          <li class="standard-pa2012">the multiplicative property of zero.</li>
        </ol>
      </blockquote>
      <ul class="c-ListAction cat-test">
        <li class="c-ListAction__Item"><a href="std-716-v1.html">Version 1</a></li>
        <li class="c-ListAction__Item"><a href="std-716-v2.html">Version 2</a></li>
      </ul>
    </section>

block append body
  div.
    <nav class="Bc">
      <ol class="Anc">
        <li><a class="Crumb" rel="top"      href="../../../index.html">Home</a></li>
        <li><a class="Crumb" rel="ancestor" href="../../../home/math.html">Math</a></li>
        <li><a class="Crumb" rel="ancestor" href="../../index.html">Secondary Ed</a></li>
        <li><a class="Crumb" rel="parent"   href="../index.html">Grade 7</a></li>
        <li><a class="Crumb" rel="this"     href="#">Standards</a>
          <ul class="Sib">
            <li><a class="Crumb" rel="sibling" href="../syllabus.html">Syllabus</a></li>
            <li><a class="Crumb" rel="sibling" href="../pacingguide.html">Pacing Guide</a></li>
            <li><a class="Crumb" rel="sibling" href="../warmups.html">Daily Warmups</a></li>
          </ul>
        </li>
      </ol>
    </nav>
