extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'SBG 7.16 v1'
    var classes_body = 'assessment cat-test'

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Standard 7.16 v1</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;15: <span class="verb">Select</span> the best answer for each problem.</p>
      <ol class="problemset">
        <li class="multiple-choice">
          <p>Which equation below illustrates the commutative property of multiplication?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q1a1" type="radio" name="q1"/>
                  <span class="js-mt">6+3=3+6</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q1a2" type="radio" name="q1"/>
                  <span class="js-mt">6\cdot3=3\cdot6</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q1a3" type="radio" name="q1"/>
                  <span class="js-mt">6\cdot3=2\cdot9</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q1a4" type="radio" name="q1"/>
                  <span class="js-mt">6\cdot3=6\cdot3</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which equation below illustrates the associative property of addition?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q2a1" type="radio" name="q2"/>
                  <span class="js-mt">5+(4+1)=(5+4)+1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q2a2" type="radio" name="q2"/>
                  <span class="js-mt">5+4+1=6+2+2</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q2a3" type="radio" name="q2"/>
                  <span class="js-mt">(5+4)+1=(5+4)+1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q2a4" type="radio" name="q2"/>
                  <span class="js-mt">10+0=5+(4+1)</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which equation below illustrates the associative property of multiplication?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q3a1" type="radio" name="q3"/>
                  <span class="js-mt">(3\cdot2)-6=(3\cdot2)+6</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q3a2" type="radio" name="q3"/>
                  <span class="js-mt">(3\cdot2)\cdot6=3\cdot(2\cdot6)</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q3a3" type="radio" name="q3"/>
                  <span class="js-mt">(3+2)\cdot6=(3-2)\cdot6</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q3a4" type="radio" name="q3"/>
                  <span class="js-mt">3+(2\cdot6)=3\cdot(2\cdot6)</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Darren used counters to explore the equation below.</p>
          <div class="js-mt">3+(2+1)=(3+2)+1</div>
          <div class="-ta-c"><img class="model-chip" src="../wholenumbers-integers/images/chip4.png" alt=""/></div>
          <p>Which property of operations does this indicate?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q4a1" type="radio" name="q4"/>
                  <span>distributive property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q4a2" type="radio" name="q4"/>
                  <span>additive identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q4a3" type="radio" name="q4"/>
                  <span>additive inverse property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q4a4" type="radio" name="q4"/>
                  <span>associative property of addition</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which property of operations is displayed in the equation below?</p>
          <div class="js-mt">12\cdot(4\cdot3)=(12\cdot4)\cdot3</div>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q5a1" type="radio" name="q5"/>
                  <span>multiplicative identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a2" type="radio" name="q5"/>
                  <span>distributive property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a3" type="radio" name="q5"/>
                  <span>associative property of multiplication</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q5a4" type="radio" name="q5"/>
                  <span>commutative property of multiplication</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which equation below represents the distributive property?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q6a1" type="radio" name="q6"/>
                  <span class="js-mt">4\cdot(7-2)=(4\cdot7)-(4\cdot2)</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q6a2" type="radio" name="q6"/>
                  <span class="js-mt">5+4+3=5+4+3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q6a3" type="radio" name="q6"/>
                  <span class="js-mt">4\cdot(7-2)=(4+7+2)</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q6a4" type="radio" name="q6"/>
                  <span class="js-mt">4\cdot(7-2)=(4+7)-(4\cdot2)</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Janie wants to further explore the distributive property. Which formula should she use to plug in numbers and prove this property's validity?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q7a1" type="radio" name="q7"/>
                  <span class="js-mt">a\cdot(b-c)=(a+b+c)</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q7a2" type="radio" name="q7"/>
                  <span class="js-mt">a\cdot(b-c)=(a\cdot{b})+(a\cdot{c})</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q7a3" type="radio" name="q7"/>
                  <span class="js-mt">a\cdot(b+c)=(a\cdot{b})-(a\cdot{c})</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q7a4" type="radio" name="q7"/>
                  <span class="js-mt">a\cdot(b-c)=(a\cdot{b})-(a\cdot{c})</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Roxanne's teacher gave her the following problem for homework.</p>
          <div class="js-mt">3\cdot(2+6)=(3\cdot2)+(3\cdot6)</div>
          <p>Which property of operations is represented by the problem?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q8a1" type="radio" name="q8"/>
                  <span>additive inverse property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q8a2" type="radio" name="q8"/>
                  <span>distributive property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q8a3" type="radio" name="q8"/>
                  <span>associative property of addition</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q8a4" type="radio" name="q8"/>
                  <span>commutative property of addition</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which equation below represents the multiplicative identity property?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q9a1" type="radio" name="q9"/>
                  <span class="js-mt">5\cdot1=5</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q9a2" type="radio" name="q9"/>
                  <span class="js-mt">5\cdot1=1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q9a3" type="radio" name="q9"/>
                  <span class="js-mt">5\cdot1=0</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q9a4" type="radio" name="q9"/>
                  <span class="js-mt">5\cdot1=6</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Randall is testing the validity of the additive identity property. He will plug in numbers to be sure the property proves to be true. Which formula below will he use?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q10a1" type="radio" name="q10"/>
                  <span class="js-mt">a+0=a</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q10a2" type="radio" name="q10"/>
                  <span class="js-mt">a\cdot0=a</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q10a3" type="radio" name="q10"/>
                  <span class="js-mt">a+0=0</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q10a4" type="radio" name="q10"/>
                  <span class="js-mt">a-0=0</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which equation below represents the additive identity property?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q11a1" type="radio" name="q11"/>
                  <span class="js-mt">6+1=7</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q11a2" type="radio" name="q11"/>
                  <span class="js-mt">6+0=6</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q11a3" type="radio" name="q11"/>
                  <span class="js-mt">6+0=0</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q11a4" type="radio" name="q11"/>
                  <span class="js-mt">6\cdot0=6</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which equation below represents the multiplicative inverse property?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q12a1" type="radio" name="q12"/>
                  <span class="js-mt">12\cdot2=24</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q12a2" type="radio" name="q12"/>
                  <span class="js-mt">16\cdot4=64</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q12a3" type="radio" name="q12"/>
                  <span class="js-mt">2\cdot\frac{1}{2}=1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q12a4" type="radio" name="q12"/>
                  <span class="js-mt">2\cdot\frac{2}{2}=2</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Look at the equation below.</p>
          <div class="js-mt">8+(-8)=0</div>
          <p>Which property of operations does this equation demonstrate?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q13a1" type="radio" name="q13"/>
                  <span>commutative property of addition</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q13a2" type="radio" name="q13"/>
                  <span>associative property of addition</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q13a3" type="radio" name="q13"/>
                  <span>additive inverse property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q13a4" type="radio" name="q13"/>
                  <span>additive identity property</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Jack wants to test the multiplicative property of zero. He will plug in numbers to be sure the property proves to be true. Which formula below will he use?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q14a1" type="radio" name="q14"/>
                  <span class="js-mt">c\cdot0=c</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q14a2" type="radio" name="q14"/>
                  <span class="js-mt">c\cdot0=0</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q14a3" type="radio" name="q14"/>
                  <span class="js-mt">c\cdot0=1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q14a4" type="radio" name="q14"/>
                  <span class="js-mt">0\cdot{c}=c</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Look at the problem below.</p>
          <div class="js-mt">142\cdot0=0</div>
          <p>Which property of operations is represented in this problem?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q15a1" type="radio" name="q15"/>
                  <span>multiplicative zero property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q15a2" type="radio" name="q15"/>
                  <span>associative property of multiplication</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q15a3" type="radio" name="q15"/>
                  <span>multiplicative identity property</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q15a4" type="radio" name="q15"/>
                  <span>commutative property of multiplication</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
      <input type="submit"/>
    </form>
