---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SBG 7.14 Pre-Quiz &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
{% include all-js.html %}
</head>
<body class="assessment cat-hw">
{% include masthead.html %}
<main>
<header>
  <div class="quizheading">
    <p>Math 7 &mdash; Mr. Harvey</p>
    <h1>Standard 7.14 Pre-Quiz</h1>
  </div>
  <form class="studentheading">
    <label>
      <span>Name:</span>
      <input id="name" type="text" required=""/>
    </label>
    <label>
      <span>Date:</span>
      <input id="date" type="date" required=""/>
    </label>
    <label>
      <span>Period:</span>
      <input id="period" type="number" required=""/>
    </label>
  </form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work.</p>
<form autocomplete="off">
  <p class="directions">#1&ndash;5: <span class="verb">Solve</span> each equation.</p>
  <ol class="problemset">
    <li class="free-response-number">
      <span class="M">2x-4=8</span>
      <input id="q1" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">\frac{x}{7}+6=-15</span>
      <input id="q2" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">-\frac{3}{4}x+1=13</span>
      <input id="q3" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">2\left(x+3\right)=8</span>
      <input id="q4" type="number" step="0.1"/>
    </li>
    <li class="free-response-number">
      <span class="M">\frac{x+3}{7}=10</span>
      <input id="q5" type="number" step="0.1"/>
    </li>
  </ol>
  <p class="directions">#6: <span class="verb">Solve</span> the word problem and <span class="verb">answer</span> in complete sentences.</p>
  <ol class="problemset" start="6">
    <li class="free-response-text">
      <p>A plumber charges a flat fee of $25, plus an additional $20 for every hour he works. If the plumber's bill was $165, how many hours did he work?</p>
      <input id="q6" type="text"/>
    </li>
  </ol>
  <input type="submit"/>
</form>
</main>
</body>
</html>
