extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'SBG 7.16 v2'
    var classes_body = 'assessment cat-test'

block append styles
  style.
    .proplist {height: 7em;}
    .proplist li {
      width: 18%;
      height: 3em;
      padding: 0 0.3%;
      border: 1px solid #000;
      float: left;
    }
    .free-response-text {margin-bottom: 1em !important;}

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Standard 7.16 v2</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;26: Using the word bank below, <span class="verb">label</span> each equation with the property it illustrates. If the equation does not correctly illustrate a property, <span class="verb">write</span> <q>none</q>.</p>
      <ul class="list-basic proplist">
        <li>Associative of Addition (AA)</li>
        <li>Identity of Addition (IA)</li>
        <li>Inverse of Addition (NA)</li>
        <li>Commutative of Addition (CA)</li>
        <li>Distributive Property (DM)</li>
        <li>Associative of Multiplication (AM)</li>
        <li>Identity of Multiplication (IM)</li>
        <li>Inverse of Multiplication (NM)</li>
        <li>Commutative of Multiplication (CM)</li>
        <li>Zero of Multiplication (ZM)</li>
      </ul>
      <div class="line">
        <div class="unit-1to2">
          <p class="directions">#1&ndash;15: Choose at least 10 problems to do from this section.<br/>At least 10 of your answers must be property names.</p>
          <ol class="problemset">
            <li class="free-response-text">
              <label>
                <span class="js-mt">235\cdot0=0</span>
                <input id="q1" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">9+0=0</span>
                <input id="q2" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">9+0=9</span>
                <input id="q3" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">9\cdot0=9</span>
                <input id="q4" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">9+1=9</span>
                <input id="q5" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">9\cdot1=1</span>
                <input id="q6" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">9\cdot1=9</span>
                <input id="q7" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4\cdot(-4)=1</span>
                <input id="q8" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4\cdot(-4)=0</span>
                <input id="q9" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4+(-4)=0</span>
                <input id="q10" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4+(-4)=1</span>
                <input id="q11" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4\cdot0.4=1</span>
                <input id="q12" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4\cdot0.25=1</span>
                <input id="q13" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4\cdot\frac{1}{4}=1</span>
                <input id="q14" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">4+\frac{1}{4}=1</span>
                <input id="q15" type="text"/>
              </label>
            </li>
          </ol>
        </div>
        <div class="unit-1to2" style="border-left: 1px solid #000;">
          <p class="directions">#16&ndash;26: Choose at least 5 problems to do from this section.<br/>At least 5 of your answers must be property names.</p>
          <ol class="problemset" start="16">
            <li class="free-response-text">
              <label>
                <span class="js-mt">a+(b+0)=a+(0+b)</span>
                <input id="q16" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">a+(b+0)=a+(b)</span>
                <input id="q17" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">a+(b+0)=(a+b)+0</span>
                <input id="q18" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">a\cdot(b\cdot1)=(a\cdot{b})\cdot1</span>
                <input id="q19" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">a\cdot(b\cdot1)=a\cdot(1\cdot{b})</span>
                <input id="q20" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">a\cdot(b\cdot1)=a\cdot(b)</span>
                <input id="q21" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">a\cdot(b\cdot0)=a\cdot(0)</span>
                <input id="q22" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">11\cdot(7+3)=(11\cdot7)-(11\cdot3)</span>
                <input id="q23" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">11\cdot(7-3)=(11\cdot7)-(11\cdot3)</span>
                <input id="q24" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">11+(7\cdot3)=(11+7)\cdot(11+3)</span>
                <input id="q25" type="text"/>
              </label>
            </li>
            <li class="free-response-text">
              <label>
                <span class="js-mt">11\cdot(7+3)=(11\cdot7)+3</span>
                <input id="q26" type="text"/>
              </label>
            </li>
          </ol>
        </div>
      </div>
      <input type="submit"/>
    </form>
