---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SBG 7.15 v2 &in; Math 7</title>
<meta charset="utf-8"/>
<meta name="author" content="Christopher H. Harvey"/>
<link rel="stylesheet" href="../../secondary-ed.css"/>
<style>
.numberline {
  width: 100%;
}
.column-left {width: 40%;}
.column-right {width: 60%;}
</style>
{% include all-js.html %}
</head>
<body class="assessment cat-test">
{% include masthead.html %}
<main>
<header>
  <div class="quizheading">
    <p>Math 7 &mdash; Mr. Harvey</p>
    <h1>Standard 7.15 v2</h1>
  </div>
  <form class="studentheading">
    <label>
      <span>Name:</span>
      <input id="name" type="text" required=""/>
    </label>
    <label>
      <span>Date:</span>
      <input id="date" type="date" required=""/>
    </label>
    <label>
      <span>Period:</span>
      <input id="period" type="number" required=""/>
    </label>
  </form>
</header>
<p class="directions">Use a No. 2 Pencil. Show all work.</p>
<form autocomplete="off">
  <p class="directions">#1&ndash;10: <span class="verb">Select</span> the best answer choice for each problem.</p>
  <div class="line">
    <div class="column-left">
      <ol class="problemset">
        <li class="multiple-choice">
          <p>Which value of <span class="M">x</span> makes the following statement true?</p>
          <div class="M">-15+x\gt-12</div>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q1a1" type="radio" name="q1"/>
                  <span class="M">-4</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q1a2" type="radio" name="q1"/>
                  <span class="M">-2</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q1a3" type="radio" name="q1"/>
                  <span class="M">2</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q1a4" type="radio" name="q1"/>
                  <span class="M">4</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which value of <span class="M">x</span> makes the following statement true?</p>
          <div class="M">-8x\lt-16</div>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q2a1" type="radio" name="q2"/>
                  <span class="M">3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q2a2" type="radio" name="q2"/>
                  <span class="M">1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q2a3" type="radio" name="q2"/>
                  <span class="M">-1</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q2a4" type="radio" name="q2"/>
                  <span class="M">-3</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which statement does <em><em>not</em></em> include <span class="M">-2</span> as a solution?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q3a1" type="radio" name="q3"/>
                  <span class="M">-10\le-2x</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q3a2" type="radio" name="q3"/>
                  <span class="M">-10\ge-2x</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q3a3" type="radio" name="q3"/>
                  <span class="M">-10\le2x</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q3a4" type="radio" name="q3"/>
                  <span class="M">10\ge2x</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
    </div>
    <div class="column-right">
      <ol class="problemset" start="4">
        <li class="multiple-choice">
          <p>Which graph represents <span class="M">5\lt{x}</span>?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q4a1" type="radio" name="q4"/>
                  <img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on -5 and an arrow pointing to the left"/>
                </label>
              </li>
              <li>
                <label>
                  <input id="q4a2" type="radio" name="q4"/>
                  <img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on -5 and an arrow pointing to the right"/>
                </label>
              </li>
              <li>
                <label>
                  <input id="q4a3" type="radio" name="q4"/>
                  <img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on 5 and an arrow pointing to the left"/>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q4a4" type="radio" name="q4"/>
                  <img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on 5 and an arrow pointing to the right"/>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Which inequality is graphed below?</p>
          <img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with a closed circle on -3 and an arrow pointing to the left"/>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q5a1" type="radio" name="q5"/>
                  <span class="M">x\lt-3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a2" type="radio" name="q5"/>
                  <span class="M">x\le-3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a3" type="radio" name="q5"/>
                  <span class="M">x\ge-3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q5a4" type="radio" name="q5"/>
                  <span class="M">x\gt-3</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
    </div>
  </div>
  <div class="line pagebreak">
    <div class="column-left">
      <ol class="problemset" start="6">
        <li class="multiple-choice">
          <p>Which represents all the values that make the following statement true?</p>
          <div class="M">x+7\le-10</div>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q6a1" type="radio" name="q6"/>
                  <span class="M">x\le-17</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q6a2" type="radio" name="q6"/>
                  <span class="M">x\ge-17</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q6a3" type="radio" name="q6"/>
                  <span class="M">x\le-3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q6a4" type="radio" name="q6"/>
                  <span class="M">x\ge-3</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>What is the solution set of <span class="M">-21\gt3x</span>?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q7a1" type="radio" name="q7"/>
                  <span class="M">x\lt-24</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q7a2" type="radio" name="q7"/>
                  <span class="M">x\gt-24</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q7a3" type="radio" name="q7"/>
                  <span class="M">x\lt-7</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q7a4" type="radio" name="q7"/>
                  <span class="M">x\gt-7</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Solve: <span class="M">\frac{x}{-3}\le-6</span></p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q8a1" type="radio" name="q8"/>
                  <span class="M">x\le-18</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q8a2" type="radio" name="q8"/>
                  <span class="M">x\ge-18</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q8a3" type="radio" name="q8"/>
                  <span class="M">x\le18</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q8a4" type="radio" name="q8"/>
                  <span class="M">x\ge18</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
    </div>
    <div class="column-right">
      <ol class="problemset" start="9">
        <li class="multiple-choice">
          <p>Which graph represents the solution set of <span class="M">-2x\le16</span>?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q9a1" type="radio" name="q9"/>
                  <img class="numberline" src="../../images/numberline-24_2.png" alt="a number line with a closed circle on -8 and an arrow pointing to the left"/>
                </label>
              </li>
              <li>
                <label>
                  <input id="q9a2" type="radio" name="q9"/>
                  <img class="numberline" src="../../images/numberline-24_2.png" alt="a number line with a closed circle on -8 and an arrow pointing to the right"/>
                </label>
              </li>
              <li>
                <label>
                  <input id="q9a3" type="radio" name="q9"/>
                  <img class="numberline" src="../../images/numberline-24_2.png" alt="a number line with a closed circle on 8 and an arrow pointing to the left"/>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q9a4" type="radio" name="q9"/>
                  <img class="numberline" src="../../images/numberline-24_2.png" alt="a number line with a closed circle on 8 and an arrow pointing to the right"/>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>The solution of which inequality is represented in the graph?</p>
          <div><img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on -2 and an arrow pointing to the right"/></div>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q10a1" type="radio" name="q10"/>
                  <span class="M">x+2\gt0</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q10a2" type="radio" name="q10"/>
                  <span class="M">x+2\gt4</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q10a3" type="radio" name="q10"/>
                  <span class="M">x-2\gt0</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q10a4" type="radio" name="q10"/>
                  <span class="M">x-2\gt4</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>  

    </div>
  </div>
  <p class="directions pagebreak">#11&ndash;14: <span class="verb">Select</span> <em><em>all</em></em> answer choices that apply to each question.</p>
  <ol class="problemset" start="11">
    <li class="select-multiple">
      <p>Which of the following values are solutions of the inequality below?</p>
      <p><small>Select all that apply.</small></p>
      <div class="M">x\ge3</div>
      <fieldset>
        <ol class="answerchoices short">
          <li>
            <label>
              <input id="q11a1" type="checkbox"/>
              <span class="M">-6</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q11a2" type="checkbox"/>
              <span class="M">-3</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q11a3" type="checkbox"/>
              <span class="M">-1</span>
            </label>
          </li>
          <li>
            <label>
              <input id=">q11a4" type="checkbox"/>
              <span class="M">0</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q11a5" type="checkbox"/>
              <span class="M">3</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q11a6" type="checkbox"/>
              <span class="M">6</span>
            </label>
          </li>
        </ol>
      </fieldset>
    </li>
    <li class="select-multiple">
      <p>Which of the following values are <em><em>not</em></em> solutions of the inequality graphed below?</p>
      <p><small>Select all that apply.</small></p>
      <img class="numberline" src="../../images/numberline-10_1.png" alt="a number line with an open circle on 7 and an arrow pointing to the left"/>
      <fieldset>
        <ol class="answerchoices short">
          <li>
            <label>
              <input id="q12a1" type="checkbox"/>
              <span class="M">8</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q12a2" type="checkbox"/>
              <span class="M">7</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q12a3" type="checkbox"/>
              <span class="M">6</span>
            </label>
          </li>
          <li>
            <label>
              <input id=">q12a4" type="checkbox"/>
              <span class="M">0</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q12a5" type="checkbox"/>
              <span class="M">-7</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q12a6" type="checkbox"/>
              <span class="M">-8</span>
            </label>
          </li>
        </ol>
      </fieldset>
    </li>
    <li class="select-multiple">
      <p>Which of the following values are solutions of the inequality below?</p>
      <p><small>Select all that apply.</small></p>
      <div class="M">\frac{x}{-10}\ge2</div>
      <fieldset>
        <ol class="answerchoices short">
          <li>
            <label>
              <input id="q13a1" type="checkbox"/>
              <span class="M">-20</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q13a2" type="checkbox"/>
              <span class="M">-10</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q13a3" type="checkbox"/>
              <span class="M">0</span>
            </label>
          </li>
          <li>
            <label>
              <input id=">q13a4" type="checkbox"/>
              <span class="M">10</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q13a5" type="checkbox"/>
              <span class="M">20</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q13a6" type="checkbox"/>
              <span class="M">30</span>
            </label>
          </li>
        </ol>
      </fieldset>
    </li>
    <li class="select-multiple">
      <p>Which of the following inequalities has a solution set of exactly <span class="M">x\lt6</span>?</p>
      <p><small>Select all that apply.</small></p>
      <fieldset>
        <ol class="answerchoices">
          <li>
            <label>
              <input id="q14a1" type="checkbox"/>
              <span class="M">x+6\lt0</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q14a2" type="checkbox"/>
              <span class="M">x-6\lt0</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q14a3" type="checkbox"/>
              <span class="M">2x\lt12</span>
            </label>
          </li>
          <li>
            <label>
              <input id=">q14a4" type="checkbox"/>
              <span class="M">-2x\lt-12</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q14a5" type="checkbox"/>
              <span class="M">x-6\lt12</span>
            </label>
          </li>
          <li>
            <label>
              <input id="q14a6" type="checkbox"/>
              <span class="M">x+6\lt12</span>
            </label>
          </li>
        </ol>
      </fieldset>
    </li>
  </ol>
  <input type="submit"/>
</form>
</main>
</body>
</html>
