extends ../_math7.tpl.jade

block append vars
  -
    var page_title = 'SBG 7.13b v1'
    var classes_body = 'assessment cat-test'

block append mainHeader
  div.
    <div class="quizheading">
      <p>Math 7 &mdash; Mr. Harvey</p>
      <h1>Standard 7.13b v1</h1>
    </div>
    <form class="studentheading">
      <label>
        <span>Name:</span>
        <input id="name" type="text" required=""/>
      </label>
      <label>
        <span>Date:</span>
        <input id="date" type="date" required=""/>
      </label>
      <label>
        <span>Period:</span>
        <input id="period" type="number" required=""/>
      </label>
    </form>

block append main
  div.
    <p class="directions">Use a No. 2 Pencil. Show all work.</p>
    <form autocomplete="off">
      <p class="directions">#1&ndash;5: <span class="verb">Select</span> the best answer.</p>
      <ol class="problemset">
        <li class="multiple-choice">
          <p>What is the value of <span class="js-mt">\left(12-8\right)^2+21-4</span>?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q1a1" type="radio" name="q1"/>
                  <span class="js-mt">3</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q1a2" type="radio" name="q1"/>
                  <span class="js-mt">33</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q1a3" type="radio" name="q1"/>
                  <span class="js-mt">1,089</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q1a4" type="radio" name="q1"/>
                  <span class="js-mt">1</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>When evaluating the following expression, which operation should be performed <em>first</em>?</p>
          <div class="js-mt">12^2-5\cdot4-2</div>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q2a1" type="radio" name="q2"/>
                  <span class="js-mt">4-2</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q2a2" type="radio" name="q2"/>
                  <span class="js-mt">5\cdot4</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q2a3" type="radio" name="q2"/>
                  <span class="js-mt">12^2-5</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q2a4" type="radio" name="q2"/>
                  <span class="js-mt">12^2</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Evaluate <span class="js-mt">3r^3+5</span> when <span class="js-mt">r=2</span>.</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q3a1" type="radio" name="q3"/>
                  <span class="js-mt">43</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q3a2" type="radio" name="q3"/>
                  <span class="js-mt">23</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q3a3" type="radio" name="q3"/>
                  <span class="js-mt">59</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q3a4" type="radio" name="q3"/>
                  <span class="js-mt">29</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice pagebreak">
          <p>When <span class="js-mt">x=13</span> and <span class="js-mt">y=7</span>, which expression is equal to <span class="js-mt">27</span>?</p>
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q4a1" type="radio" name="q4"/>
                  <span class="js-mt">x+2y</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q4a2" type="radio" name="q4"/>
                  <span class="js-mt">3x-3y</span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q4a3" type="radio" name="q4"/>
                  <span class="js-mt">2x+y</span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q4a4" type="radio" name="q4"/>
                  <span class="js-mt">2\left(x-y\right)-1</span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
        <li class="multiple-choice">
          <p>Look at the expression below.</p>
          <div class="js-mt">\frac{a\left(4+c\right)}{b}+6</div>
          <p>Which values of <span class="js-mt">a</span>, <span class="js-mt">b</span>, and <span class="js-mt">c</span> will make the expression equal to <span class="js-mt">8</span>?
          <fieldset>
            <ol class="answerchoices">
              <li>
                <label>
                  <input id="q5a1" type="radio" name="q5"/>
                  <span><span class="js-mt">a=2</span>, <span class="js-mt">b=5</span>, and <span class="js-mt">c=1</span></span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a2" type="radio" name="q5"/>
                  <span><span class="js-mt">a=1</span>, <span class="js-mt">b=5</span>, and <span class="js-mt">c=2</span></span>
                </label>
              </li>
              <li>
                <label>
                  <input id="q5a3" type="radio" name="q5"/>
                  <span><span class="js-mt">a=2</span>, <span class="js-mt">b=1</span>, and <span class="js-mt">c=5</span></span>
                </label>
              </li>
              <li>
                <label>
                  <input id=">q5a4" type="radio" name="q5"/>
                  <span><span class="js-mt">a=5</span>, <span class="js-mt">b=2</span>, and <span class="js-mt">c=1</span></span>
                </label>
              </li>
            </ol>
          </fieldset>
        </li>
      </ol>
      <input type="submit"/>
    </form>
