//@import url('reset.css');
@import url('grid.less');
@import url('styles.less');

/**** ==== SITE-WIDE STYLES (all.less) ==== ****/

/* @group body */
body {
	font-size: 12pt;
	font-family: @font-base;
	color: @aperture-black;
	background-color: @aperture-white;
}
.hub-body {
	background-image: url('/core/images/phi-stripes-trans.png');
	background-repeat: repeat-y;
	background-size: contain;
}
.main {
	margin-bottom: 162px;
}
/* @end */



// a hack for elements needed for SEO but not to display
.noshow {display: none !important;}



// elements in draft mode (not published yet) --- use boolean attribute "hidden"!
.draft {display: none; color: #999999;}




