// main: all.less

/*-------------*\
	base.less
\*-------------*/

//Table of Contents
//- GLOBAL VARIABLES
//- RESET
//- SECTIONS
//- ABSTRACT MIXINS


//+++++++++++++++++
//@GLOBAL VARIABLES
//+++++++++++++++++
@fontfam--base:    'Optima','Candara','Helvetica',sans-serif;
@fontfam--heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@fontfam--prose:   'Baskerville','Palatino','Book Antiqua',serif;
@fontfam--code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@fontfam--math:    'Times','Times New Roman',serif;
//@fontfam--accent:  'Gill Sans','Century Gothic',sans-serif;
@fontfam--accent: @fontfam--heading;

@aperture-white: hsv(217, @golden8,           100%);
@aperture-black: hsv( 37,           100%, @golden8);
@atlas: hsv(217,   100%, 100%);
@pbody: hsv( 37,   100%, 100%);
@repulsion:  hsv(208, 83.3%, 100%);
@propulsion: hsv( 28, 83.3%, 100%);
@deploying: hsv( 5,  100%, 100%);
@her-eye:   hsv(55, 66.6%, 100%);
@lake-superior: hsv(226,  100%, 50%);
@caves-caves:   hsv( 28, 66.6%, 50%);
@facility-abyss: hsv(199,  50%, 50%);
@asbestos:       hsv( 46, 100%, 75%);
@vilify:     hsv(271,  100%,  75%);
@neurotoxin: hsv( 69, 83.3%,  75%);
@bridges:   hsv(185, 16.6%, 100%);
@companion: hsv(343, 33.3%, 100%);
//++++ @end GLOBAL VARIABLES ++++


//++++++
//@RESET
//++++++
section, article, aside, nav,
main, header, footer {
	// * support for non-HTML5 browsers
	display: block;
}
body,
section, article, aside, nav,
main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul, li,
dl, dt, dd,
table,
pre {
	// * padding and margin reset
	padding: 0;
	margin: 0;
}
//++++ @end RESET ++++


//+++++++++
//@SECTIONS
//+++++++++
@color_base--txt: @aperture-black;
@color_base--bg:  @aperture-white;
@color_base--faded: fadeout(@color_base--txt, @headlt);
@color_accent: @deploying;
@headlt: @golden2;
body {
	.font-size(medium);
	font-family: @fontfam--base;
	text-align: left;
	vertical-align: baseline;
	color: @color_base--txt;
	background-color: @color_base--bg;
//	background-image: url('/home/images/phi-stripes-trans.png');
//	background-repeat: repeat-y;
//	background-size: contain;
}
main {
	&:extend(.p1--midright);
	margin-bottom: 192px; // 2in
}
//++++ @end SECTIONS ++++


//++++++++++++++++
//@ABSTRACT MIXINS
//++++++++++++++++
.parens() {
	&::before {content: '(';}
	&::after  {content: ')';}	
}
.quotes() {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.transp() {
	opacity: @phi1;
	&:hover {opacity: 1;}
}
//++++ @end ABSTRACT MIXINS ++++


@media print {
	body {
		color: #000;
		background-color: #fff;
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

}