// main: all.less

// *** PART 1: HORIZONTAL GRID *** //

/* @group Widths */
@Phi1: ((-1 + sqrt(5)) / 2);
//@Phi1: 0.618033988749894848;
@Phi2: (@Phi1 * @Phi1);
@Phi3: (@Phi2 * @Phi1);
@Phi4: (@Phi3 * @Phi1);
@U-Phi3: (1 - @Phi3);
@U-Phi4: (1 - @Phi4);
@width-Golden1: (100% * @Phi1);    // 61.8033988749894848%
@width-Golden2: (100% * @Phi2);    // 38.1966011250105152%
@width-Golden3: (100% * @Phi3);    // 23.6067977499789696%
@width-Golden4: (100% * @Phi4);    // 14.5898033750315455%
@width-U-Golden3: (100% * @U-Phi3);  // 76.3932022500210304%
@width-U-Golden4: (100% * @U-Phi4);  // 85.4101966249684545%

@phi1: (1 / @Phi1);
@phi2: (1 / @Phi2);
@phi3: (1 / @Phi3);
@phi4: (1 / @Phi4);
@u-phi3: (1 / @U-Phi3);
@u-phi4: (1 / @U-Phi4);
@width-golden1: (100% * @phi1);   // 161.8033988749894848%
@width-golden2: (100% * @phi2);   // 261.8033988749894848%
@width-golden3: (100% * @phi3);   // 423.6067977499789696%
@width-golden4: (100% * @phi4);   // 685.4101966249684545%
@width-u-golden3: (100% * @u-phi3); // 130.9016994374947424%
@width-u-golden4: (100% * @u-phi4); // 117.0820393249936909%

@Phi5:  (@Phi4  * @Phi1);
@Phi6:  (@Phi5  * @Phi1);
@Phi7:  (@Phi6  * @Phi1);
@Phi8:  (@Phi7  * @Phi1);
@Phi9:  (@Phi8  * @Phi1);
@Phi10: (@Phi9  * @Phi1);
@Phi11: (@Phi10 * @Phi1);
@Phi12: (@Phi11 * @Phi1);
@width-Golden5:  (100% * @Phi5);
@width-Golden6:  (100% * @Phi6); 
@width-Golden7:  (100% * @Phi7);
@width-Golden8:  (100% * @Phi8);
@width-Golden9:  (100% * @Phi9);
@width-Golden10: (100% * @Phi10);
@width-Golden11: (100% * @Phi11);
@width-Golden12: (100% * @Phi12);
/* @end */

/* @group Golden widths and margins */
// DO NOT EXTEND THESE CLASSES IN SUB-STYLESHEETS. INCLUDE THEM ONLY. (because they will get overrideen with margin-reset.)
.P1-midleft,
.P1-midright,
.P1-left,
.P1-right,
.unit-P1 {width: @width-Golden1;}
.P2-left,
.P2-right,
.unit-P2 {width: @width-Golden2;}
.P3-left,
.P3-right,
.unit-P3 {width: @width-Golden3;}
.P4-left,
.P4-right,
.unit-P4 {width: @width-Golden4;}
.U-P3-left,
.U-P3-right,
.unit-U-P3 {width: @width-U-Golden3;}
.U-P4-left,
.U-P4-right,
.unit-U-P4 {width: @width-U-Golden4;}

.automargin(left; @othermargin) {
	margin-left: 0;
	margin-right: @othermargin;
}
.automargin(right; @othermargin) {
	margin-left: @othermargin;
	margin-right: 0;
}
.P1-midleft  {margin-left: @width-Golden4; margin-right: @width-Golden3;}
.P1-midright {margin-left: @width-Golden3; margin-right: @width-Golden4;}
.P1-left  {.automargin(left;  (100% - @width-Golden1));}
.P1-right {.automargin(right; (100% - @width-Golden1));}
.P2-left  {.automargin(left;  (100% - @width-Golden2));}
.P2-right {.automargin(right; (100% - @width-Golden2));}
.P3-left  {.automargin(left;  (100% - @width-Golden3));}
.P3-right {.automargin(right; (100% - @width-Golden3));}
.P4-left  {.automargin(left;  (100% - @width-Golden4));}
.P4-right {.automargin(right; (100% - @width-Golden4));}
.U-P3-left  {.automargin(left;  @width-Golden3);}
.U-P3-right {.automargin(right; @width-Golden3);}
.U-P4-left  {.automargin(left;  @width-Golden4);}
.U-P4-right {.automargin(right; @width-Golden4);}

.gutter-major {
	// * P1-midleft within a P3-left
	width: @width-Golden4;
	margin-left: @width-Golden7;
	margin-right: @width-Golden6;
	position: absolute;
	left: 0;		
}
.gutter-minor {
	// * P1-midright within a P4-right
	width: @width-Golden5;
	margin-left: @width-Golden7;
	margin-right: @width-Golden8;
	position: absolute;
	right: 0;
}
/* @end */

/* @group lines and units */
.line {
	display: table;
	width: 100%;
}
.unit,
.unit-1to1,
.unit-1to2,
.unit-1to3,
.unit-2to3,
.unit-1to4,
.unit-3to4,
.unit-1to5,
.unit-2to5,
.unit-3to5,
.unit-4to5,
.unit-1to6,
.unit-5to6,
.unit-P1,
.unit-P2,
.unit-P3,
.unit-P4,
.unit-U-P3,
.unit-U-P4 {
	display: table-cell;
	vertical-align: top;
	overflow: visible;
}
.unit-1to1 {width: (100% * (1/1));} // 100%
.unit-1to2 {width: (100% * (1/2));} //  50%
.unit-1to3 {width: (100% * (1/3));} //  33.3%
.unit-2to3 {width: (100% * (2/3));} //  66.6%
.unit-1to4 {width: (100% * (1/4));} //  25%
.unit-3to4 {width: (100% * (3/4));} //  75%
.unit-1to5 {width: (100% * (1/5));} //  20%
.unit-2to5 {width: (100% * (2/5));} //  40%
.unit-3to5 {width: (100% * (3/5));} //  60%
.unit-4to5 {width: (100% * (4/5));} //  80%
.unit-1to6 {width: (100% * (1/6));} //  16.6%
.unit-5to6 {width: (100% * (5/6));} //  83.3%
/* @end */

/* @group automated box widths. may be used on regular blocks or on `.line`s containing `.unit`s */
.linebreadth(@breadth) {
	width:  @breadth;
	margin-left:  ((100% - @breadth) / 2);
	margin-right: ((100% - @breadth) / 2);
}
.linebreadth-full   {.linebreadth(100%);}
.linebreadth-large  {.linebreadth(100% * (3/4));}   // geometric:  75.00%
.linebreadth-medium {.linebreadth(100% * (2/3));}   // arithmetic: 66.66%
.linebreadth-small  {.linebreadth(@width-Golden1);} // Golden:     61.80%
/* @end */

/* @group Undo Golden widths and margins */
.undoGolden,
.undoP1-midleft,
.undoP1-midright,
.undoP1-left,
.undoP1-right,
.undoP2-left,
.undoP2-right,
.undoP3-left,
.undoP3-right,
.undoP4-left,
.undoP4-right,
.undoU-P3-left,
.undoU-P3-right,
.undoU-P4-left,
.undoU-P4-right {
	position: relative;
	left: 0;
}
.undoP1-midleft  {width: @width-golden1; left: -@width-Golden3;}
.undoP1-midright {width: @width-golden1; left: -@width-Golden2;}
.undoP1-left  {width: @width-golden1;}
.undoP1-right {width: @width-golden1; left: -@width-Golden1;}
.undoP2-left  {width: @width-golden2;}
.undoP2-right {width: @width-golden2; left: -100%;}
.undoP3-left  {width: @width-golden3;}
.undoP3-right {width: @width-golden3; left: -323.6067977499789696%;}  // -323.6067977499789696%
.undoP4-left  {width: @width-golden4;}
.undoP4-right {width: @width-golden4; left: -585.4101966249684545%;}  // -585.4101966249684545%
.undoU-P3-left  {width: @width-u-golden3;}
.undoU-P3-right {width: @width-u-golden3; left: -30.9016994374947424%;} // -30.9016994374947424%
.undoU-P3-right {width: @width-u-golden4;}
.undoU-P4-right {width: @width-u-golden4; left: -17.0820393249936909%;} // -17.0820393249936909%
/* @end */

// *** PART 2: VERTICAL GRID *** //

/* @group Font Size and Line Height */
@font-size-base:  16px;
@line-height-base:  1.5;
.font-size(medium) {
	font-size: @font-size-base;
	line-height: @line-height-base;
}
.font-size(large; inherit) {
	font-size: (@font-size-base * (5/4)); // 20px	
}
.font-size(large) {
	.font-size(large; inherit);
	line-height: 1.2; // ((@font-size-base * @line-height-base)/(@font-size-big));
}
.font-size(small; inherit) {
	font-size: (@font-size-base * (3/4)); // 12px
}
.font-size(small) {
	.font-size(small; inherit);
	line-height: 2.0; // ((@font-size-base * @line-height-base)/(@font-size-small));
}
/* @end */

/* @group Mixins for controlling vertical padding, margins, and borders */
@olh: @line-height-base * @font-size-base; // 24px
.padding-lh(top; @lh-top) {
	padding-top: @lh-top * @olh;
}
.padding-lh(bottom; @lh-bot) {
	padding-bottom: @lh-bot * @olh;
}
.margin-lh(top; @lh-top) {
	margin-top: @lh-top * @olh;
}
.margin-lh(bottom; @lh-bot) {
	margin-bottom: @lh-bot * @olh;
}
.spacing-top-Phi() {
	.padding-lh(top; @Phi2);
	.margin-lh(top; @Phi1);
}
.spacing-top-Phi(@brdr) {
	padding-top: ((@olh - @brdr) * @Phi2);
	border-top: @brdr solid @color-accent;
	margin-top: ((@olh - @brdr) * @Phi1);
}

// * Use the folowing mixins to adjust borders for BLOCK elements only! They will adjust borders while keeping the vertical rhythm intact (via making margin-bottom negative). DO NOT use these mixins on INLINE elements.
.border-vert-single(@width) {
	margin-bottom: (-1 * @width);
	position: relative;
	top: (-1 * @width);
}
.border-vert-both(@width) {
	.border-vert-single(@width);
	margin-bottom: (-2 * @width);
}
.border(top; @width; @style) {
	.border-vert-single(@width);
	border-top-width: @width;
	border-top-style: @style;
}
.border(top; @width; @style; @color) {
	.border(top; @width; @style);
	border-color: @color;
}
.border(bottom; @width; @style) {
	.border-vert-single(@width);
	border-bottom-width: @width;
	border-bottom-style: @style;
}
.border(bottom; @width; @style; @color) {
	.border(bottom; @width; @style);
	border-color: @color;
}
.border(topbot; @width; @style) {
	.border-vert-both(@width);
	border-width: @width;
	border-style: @style;
	border-left: 0;
	border-right: 0;
}
.border(topbot; @width; @style; @color) {
	.border(topbot; @width; @style);
	border-color: @color;
}
.border(all; @width; @style) {
	.border-vert-both(@width);
	border-width: @width;
	border-style: @style;
}
.border(all; @width; @style; @color) {
	.border(all; @width; @style);
	border-color: @color;
}
//.width-horiz(@origwidth; @marg-l; @marg-r; @pad-l; @pad-r) {
//	margin-left: @marg-l;
//	margin-right: @marg-r;
//	padding-left: @pad-l;
//	padding-right: @pad-r;
//	width: (@origwidth - (@pad-l + @pad-r));
//}
/* @end */
