/* @group GRID.LESS */
/* @group lines and units */
.line > .unit,
.line > .size1to1,
.line > .size1to2,
.line > .size1to3,
.line > .size2to3,
.line > .size1to4,
.line > .size3to4,
.line > .size1to5,
.line > .size2to5,
.line > .size3to5,
.line > .size4to5,
.line > .size1to6,
.line > .size5to6,
.solo > .unit,
.solo > .size1to1,
.solo > .size1to2,
.solo > .size1to3,
.solo > .size2to3,
.solo > .size1to4,
.solo > .size3to4,
.solo > .size1to5,
.solo > .size2to5,
.solo > .size3to5,
.solo > .size4to5,
.solo > .size1to6,
.solo > .size5to6,
.duet > .unit,
.duet > .size1to1,
.duet > .size1to2,
.duet > .size1to3,
.duet > .size2to3,
.duet > .size1to4,
.duet > .size3to4,
.duet > .size1to5,
.duet > .size2to5,
.duet > .size3to5,
.duet > .size4to5,
.duet > .size1to6,
.duet > .size5to6,
.trio > .unit,
.trio > .size1to1,
.trio > .size1to2,
.trio > .size1to3,
.trio > .size2to3,
.trio > .size1to4,
.trio > .size3to4,
.trio > .size1to5,
.trio > .size2to5,
.trio > .size3to5,
.trio > .size4to5,
.trio > .size1to6,
.trio > .size5to6,
.quartet > .unit,
.quartet > .size1to1,
.quartet > .size1to2,
.quartet > .size1to3,
.quartet > .size2to3,
.quartet > .size1to4,
.quartet > .size3to4,
.quartet > .size1to5,
.quartet > .size2to5,
.quartet > .size3to5,
.quartet > .size4to5,
.quartet > .size1to6,
.quartet > .size5to6,
.quintet > .unit,
.quintet > .size1to1,
.quintet > .size1to2,
.quintet > .size1to3,
.quintet > .size2to3,
.quintet > .size1to4,
.quintet > .size3to4,
.quintet > .size1to5,
.quintet > .size2to5,
.quintet > .size3to5,
.quintet > .size4to5,
.quintet > .size1to6,
.quintet > .size5to6,
.sextet > .unit,
.sextet > .size1to1,
.sextet > .size1to2,
.sextet > .size1to3,
.sextet > .size2to3,
.sextet > .size1to4,
.sextet > .size3to4,
.sextet > .size1to5,
.sextet > .size2to5,
.sextet > .size3to5,
.sextet > .size4to5,
.sextet > .size1to6,
.sextet > .size5to6 {
  display: table-cell;
  vertical-align: top;
  overflow: visible;
}
.solo > .unit,
.solo > .size1to1,
.solo > .size1to2,
.solo > .size1to3,
.solo > .size2to3,
.solo > .size1to4,
.solo > .size3to4,
.solo > .size1to5,
.solo > .size2to5,
.solo > .size3to5,
.solo > .size4to5,
.solo > .size1to6,
.solo > .size5to6 {
  width: 100%;
}
.duet > .unit,
.duet > .size1to1,
.duet > .size1to2,
.duet > .size1to3,
.duet > .size2to3,
.duet > .size1to4,
.duet > .size3to4,
.duet > .size1to5,
.duet > .size2to5,
.duet > .size3to5,
.duet > .size4to5,
.duet > .size1to6,
.duet > .size5to6 {
  width: 50%;
}
.trio > .unit,
.trio > .size1to1,
.trio > .size1to2,
.trio > .size1to3,
.trio > .size2to3,
.trio > .size1to4,
.trio > .size3to4,
.trio > .size1to5,
.trio > .size2to5,
.trio > .size3to5,
.trio > .size4to5,
.trio > .size1to6,
.trio > .size5to6 {
  width: 33.33333333333333%;
}
.quartet > .unit,
.quartet > .size1to1,
.quartet > .size1to2,
.quartet > .size1to3,
.quartet > .size2to3,
.quartet > .size1to4,
.quartet > .size3to4,
.quartet > .size1to5,
.quartet > .size2to5,
.quartet > .size3to5,
.quartet > .size4to5,
.quartet > .size1to6,
.quartet > .size5to6 {
  width: 25%;
}
.quintet > .unit,
.quintet > .size1to1,
.quintet > .size1to2,
.quintet > .size1to3,
.quintet > .size2to3,
.quintet > .size1to4,
.quintet > .size3to4,
.quintet > .size1to5,
.quintet > .size2to5,
.quintet > .size3to5,
.quintet > .size4to5,
.quintet > .size1to6,
.quintet > .size5to6 {
  width: 20%;
}
.sextet > .unit,
.sextet > .size1to1,
.sextet > .size1to2,
.sextet > .size1to3,
.sextet > .size2to3,
.sextet > .size1to4,
.sextet > .size3to4,
.sextet > .size1to5,
.sextet > .size2to5,
.sextet > .size3to5,
.sextet > .size4to5,
.sextet > .size1to6,
.sextet > .size5to6 {
  width: 16.666666666666664%;
}
.line,
.solo,
.duet,
.trio,
.quartet,
.quintet,
.sextet {
  display: table;
  width: 100%;
}
.line > .size1to1,
.solo > .size1to1,
.duet > .size1to1,
.trio > .size1to1,
.quartet > .size1to1,
.quintet > .size1to1,
.sextet > .size1to1 {
  width: 100%;
}
.line > .size1to2,
.solo > .size1to2,
.duet > .size1to2,
.trio > .size1to2,
.quartet > .size1to2,
.quintet > .size1to2,
.sextet > .size1to2 {
  width: 50%;
}
.line > .size1to3,
.solo > .size1to3,
.duet > .size1to3,
.trio > .size1to3,
.quartet > .size1to3,
.quintet > .size1to3,
.sextet > .size1to3 {
  width: 33.33333333333333%;
}
.line > .size2to3,
.solo > .size2to3,
.duet > .size2to3,
.trio > .size2to3,
.quartet > .size2to3,
.quintet > .size2to3,
.sextet > .size2to3 {
  width: 66.66666666666666%;
}
.line > .size1to4,
.solo > .size1to4,
.duet > .size1to4,
.trio > .size1to4,
.quartet > .size1to4,
.quintet > .size1to4,
.sextet > .size1to4 {
  width: 25%;
}
.line > .size3to4,
.solo > .size3to4,
.duet > .size3to4,
.trio > .size3to4,
.quartet > .size3to4,
.quintet > .size3to4,
.sextet > .size3to4 {
  width: 75%;
}
.line > .size1to5,
.solo > .size1to5,
.duet > .size1to5,
.trio > .size1to5,
.quartet > .size1to5,
.quintet > .size1to5,
.sextet > .size1to5 {
  width: 20%;
}
.line > .size2to5,
.solo > .size2to5,
.duet > .size2to5,
.trio > .size2to5,
.quartet > .size2to5,
.quintet > .size2to5,
.sextet > .size2to5 {
  width: 40%;
}
.line > .size3to5,
.solo > .size3to5,
.duet > .size3to5,
.trio > .size3to5,
.quartet > .size3to5,
.quintet > .size3to5,
.sextet > .size3to5 {
  width: 60%;
}
.line > .size4to5,
.solo > .size4to5,
.duet > .size4to5,
.trio > .size4to5,
.quartet > .size4to5,
.quintet > .size4to5,
.sextet > .size4to5 {
  width: 80%;
}
.line > .size1to6,
.solo > .size1to6,
.duet > .size1to6,
.trio > .size1to6,
.quartet > .size1to6,
.quintet > .size1to6,
.sextet > .size1to6 {
  width: 16.666666666666664%;
}
.line > .size5to6,
.solo > .size5to6,
.duet > .size5to6,
.trio > .size5to6,
.quartet > .size5to6,
.quintet > .size5to6,
.sextet > .size5to6 {
  width: 83.33333333333334%;
}
/* @end */
/* @group golden ratios */
.P1-midleft,
.P1-midright,
.P1-left,
.P1-right {
  width: 61.80339887498949%;
}
.P2-left,
.P2-right {
  width: 38.196601125010524%;
}
.P3-left,
.P3-right {
  width: 23.606797749978973%;
}
.P4-left,
.P4-right {
  width: 14.58980337503155%;
}
.U-P3-left,
.U-P3-right {
  width: 76.39320225002102%;
}
.U-P4-left,
.U-P4-right {
  width: 85.41019662496845%;
}
.P1-midleft {
  margin-left: 14.58980337503155%;
  margin-right: 23.606797749978973%;
}
.P1-midright {
  margin-left: 23.606797749978973%;
  margin-right: 14.58980337503155%;
}
.P1-left {
  margin-left: 0;
  margin-right: 38.19660112501051%;
}
.P1-right {
  margin-left: 38.19660112501051%;
  margin-right: 0;
}
.P2-left {
  margin-left: 0;
  margin-right: 61.803398874989476%;
}
.P2-right {
  margin-left: 61.803398874989476%;
  margin-right: 0;
}
.P3-left {
  margin-left: 0;
  margin-right: 76.39320225002103%;
}
.P3-right {
  margin-left: 76.39320225002103%;
  margin-right: 0;
}
.P4-left {
  margin-left: 0;
  margin-right: 85.41019662496845%;
}
.P4-right {
  margin-left: 85.41019662496845%;
  margin-right: 0;
}
.U-P3-left {
  margin-left: 0;
  margin-right: 23.606797749978973%;
}
.U-P3-right {
  margin-left: 23.606797749978973%;
  margin-right: 0;
}
.U-P4-left {
  margin-left: 0;
  margin-right: 14.58980337503155%;
}
.U-P4-right {
  margin-left: 14.58980337503155%;
  margin-right: 0;
}
/* @end */
/* @group widths of any element */
.linebreadth-full {
  width: 100%;
  margin: auto 0%;
}
.linebreadth-large {
  width: 75%;
  margin: auto 12.5%;
}
.linebreadth-medium {
  width: 66.66666666666666%;
  margin: auto 16.66666666666667%;
}
.linebreadth-small {
  width: 61.80339887498949%;
  margin: auto 19.098300562505255%;
}
/* @end */
@media screen {
  .undoP1-midleft,
  .undoP1-midright,
  .undoP1-left,
  .undoP1-right,
  .undoP2-left,
  .undoP2-right,
  .undoP3-left,
  .undoP3-right,
  .undoP4-left,
  .undoP4-right,
  .undoU-P3-left,
  .undoU-P3-right,
  .undoU-P4-left,
  .undoU-P4-right {
    position: relative;
    left: 0;
  }
  .undoP1-midleft,
  .undoP1-midright,
  .undoP1-left,
  .undoP1-right {
    width: 161.80339887498945%;
  }
  .undoP2-left,
  .undoP2-right {
    width: 261.80339887498945%;
  }
  .undoP3-left,
  .undoP3-right {
    width: 423.6067977499789%;
  }
  .undoP4-left,
  .undoP4-right {
    width: 685.4101966249682%;
  }
  .undoU-P3-left,
  .undoU-P3-right {
    width: 130.90169943749476%;
  }
  .undoU-P4-left,
  .undoU-P4-right {
    width: 117.0820393249937%;
  }
  .undoP1-midleft {
    left: -23.606797749978973%;
  }
  .undoP1-midright {
    left: -38.196601125010524%;
  }
  .undoP1-right {
    left: -61.80339887498949%;
  }
  .undoP2-right {
    left: -100%;
  }
  .undoP3-right {
    left: -323.60679774997897%;
  }
  .undoP4-right {
    left: -585.4101966249684%;
  }
  .undoU-P3-right {
    left: -30.90169943749474%;
  }
  .undoU-P4-right {
    left: -17.08203932499369%;
  }
}
/* @end */
