// main: all.less

/*-------------*\
	grid.less
\*-------------*/

//Table of Contents
//- WIDTHS
//- GOLDEN WIDTHS, MARGINS
//- UNDO GOLDEN WIDTHS, MARGINS
//- LINES, UNITS
//- AUTOMATED WIDTHS

//=======
//@WIDTHS
//=======
@phi1: ((-1 + sqrt(5)) / 2); // 0.618033988749894848
@phi2: (@phi1 * @phi1);
@phi3: (@phi2 * @phi1);
@phi4: (@phi3 * @phi1);
@phi3-c: (1 - @phi3);
@phi4-c: (1 - @phi4);
@golden1: (100% * @phi1);    // 61.8033988749894848%
@golden2: (100% * @phi2);    // 38.1966011250105152%
@golden3: (100% * @phi3);    // 23.6067977499789696%
@golden4: (100% * @phi4);    // 14.5898033750315455%
@golden3-c: (100% * @phi3-c);  // 76.3932022500210304%
@golden4-c: (100% * @phi4-c);  // 85.4101966249684545%

@phi5:  (@phi4  * @phi1);
@phi6:  (@phi5  * @phi1);
@phi7:  (@phi6  * @phi1);
@phi8:  (@phi7  * @phi1);
@phi9:  (@phi8  * @phi1);
@phi10: (@phi9  * @phi1);
@phi11: (@phi10 * @phi1);
@phi12: (@phi11 * @phi1);
@golden5:  (100% * @phi5);
@golden6:  (100% * @phi6); 
@golden7:  (100% * @phi7);
@golden8:  (100% * @phi8);
@golden9:  (100% * @phi9);
@golden10: (100% * @phi10);
@golden11: (100% * @phi11);
@golden12: (100% * @phi12);

@inv-phi1: (1 / @phi1);
@inv-phi2: (1 / @phi2);
@inv-phi3: (1 / @phi3);
@inv-phi4: (1 / @phi4);
@inv-phi3-c: (1 - (@inv-phi3));
@inv-phi4-c: (1 - (@inv-phi4));
@inv-golden1: (100% * @inv-phi1);   // 161.8033988749894848%
@inv-golden2: (100% * @inv-phi2);   // 261.8033988749894848%
@inv-golden3: (100% * @inv-phi3);   // 423.6067977499789696%
@inv-golden4: (100% * @inv-phi4);   // 685.4101966249684545%
@inv-golden3-c: (100% * @inv-phi3-c); // 130.9016994374947424%
@inv-golden4-c: (100% * @inv-phi4-c); // 117.0820393249936909%
//==== @end WIDTHS ====

//=======================
//@GOLDEN WIDTHS, MARGINS
//=======================
.P1 {width: @golden1;}
.P2 {width: @golden2;}
.P3 {width: @golden3;}
.P4 {width: @golden4;}
.P3-c {width: @golden3-c;}
.P4-c {width: @golden4-c;}

.automargin(left; @othermargin) {
	margin-left: 0;
	margin-right: @othermargin;
}
.automargin(right; @othermargin) {
	margin-left: @othermargin;
	margin-right: 0;
}
.P1--midleft:extend(.P1)  {margin-left: @golden4; margin-right: @golden3;}
.P1--midright:extend(.P1) {margin-left: @golden3; margin-right: @golden4;}
.P1--left:extend(.P1)  {.automargin(left;  (100% - @golden1));}
.P1--right:extend(.P1) {.automargin(right; (100% - @golden1));}
.P2--left:extend(.P2)  {.automargin(left;  (100% - @golden2));}
.P2--right:extend(.P2) {.automargin(right; (100% - @golden2));}
.P3--left:extend(.P3)  {.automargin(left;  (100% - @golden3));}
.P3--right:extend(.P3) {.automargin(right; (100% - @golden3));}
.P4--left:extend(.P4)  {.automargin(left;  (100% - @golden4));}
.P4--right:extend(.P4) {.automargin(right; (100% - @golden4));}
.P3-c--left:extend(.P3-c)  {.automargin(left;  @golden3);}
.P3-c--right:extend(.P3-c) {.automargin(right; @golden3);}
.P4-c--left:extend(.P4-c)  {.automargin(left;  @golden4);}
.P4-c--right:extend(.P4-c) {.automargin(right; @golden4);}
//==== @end GOLDEN WIDTHS, MARGINS ====


//============================
//@UNDO GOLDEN WIDTHS, MARGINS
//============================
.undoGolden {
	position: relative;
	left: 0;
}
.undo--P1:extend(.undoGolden) {width: @inv-golden1;}
.undo--P2:extend(.undoGolden) {width: @inv-golden2;}
.undo--P3:extend(.undoGolden) {width: @inv-golden3;}
.undo--P4:extend(.undoGolden) {width: @inv-golden4;}
.undo--P3-c:extend(.undoGolden) {width: @inv-golden3-c;}
.undo--P4-c:extend(.undoGolden) {width: @inv-golden4-c;}

.undo--P1--midleft:extend(.undo--P1)  {left: -@golden3;}
.undo--P1--midright:extend(.undo--P1) {left: -@golden2;}
.undo--P1--left:extend(.undo--P1)  {}
.undo--P1--right:extend(.undo--P1) {left: -@golden1;}
.undo--P2--left:extend(.undo--P2)  {}
.undo--P2--right:extend(.undo--P2) {left: -100%;}
.undo--P3--left:extend(.undo--P3)  {}
.undo--P3--right:extend(.undo--P3) {left: -323.6067977499789696%;}  // -323.6067977499789696%
.undo--P4--left:extend(.undo--P4)  {}
.undo--P4--right:extend(.undo--P4) {left: -585.4101966249684545%;}  // -585.4101966249684545%
.undo--P3-c--left:extend(.undo--P3-c)  {}
.undo--P3-c--right:extend(.undo--P3-c) {left: -30.9016994374947424%;} // -30.9016994374947424%
.undo--P3-c--right:extend(.undo--P4-c) {}
.undo--P4-c--right:extend(.undo--P4-c) {left: -17.0820393249936909%;} // -17.0820393249936909%
//==== @end UNDO GOLDEN WIDTHS, MARGINS ====


//=============
//@LINES, UNITS
//=============
.line {
	display: table;
	width: 100%;
}
//.unit {
//	display: table-cell;
//	vertical-align: top;
//	overflow: visible;
//}
.unit,
.unit-1to1,
.unit-1to2,
.unit-1to3,
.unit-2to3,
.unit-1to4,
.unit-3to4,
.unit-1to5,
.unit-2to5,
.unit-3to5,
.unit-4to5,
.unit-1to6,
.unit-5to6,
.unit-P1,
.unit-P2,
.unit-P3,
.unit-P4,
.unit-U-P3,
.unit-U-P4 {
	display: table-cell;
	vertical-align: top;
	overflow: visible;
}
.unit-1to1 {width: (100% * (1/1));} // 100%
.unit-1to2 {width: (100% * (1/2));} //  50%
.unit-1to3 {width: (100% * (1/3));} //  33.333%
.unit-2to3 {width: (100% * (2/3));} //  66.666%
.unit-1to4 {width: (100% * (1/4));} //  25%
.unit-3to4 {width: (100% * (3/4));} //  75%
.unit-1to5 {width: (100% * (1/5));} //  20%
.unit-2to5 {width: (100% * (2/5));} //  40%
.unit-3to5 {width: (100% * (3/5));} //  60%
.unit-4to5 {width: (100% * (4/5));} //  80%
.unit-1to6 {width: (100% * (1/6));} //  16.666%
.unit-5to6 {width: (100% * (5/6));} //  83.333%
//==== @end LINES, UNITS ====

//=================
//@AUTOMATED WIDTHS
//=================
// may be used on regular blocks or on `.line`s containing `.unit`s
.linebreadth(@breadth) {
	width:  @breadth;
	margin-left:  ((100% - @breadth) / 2);
	margin-right: ((100% - @breadth) / 2);
}
.linebreadth-full  {width: 100%; margin-left: 0; margin-right: 0;}
.linebreadth-lrg() {.linebreadth(100% * (3/4));}   // geometric:  75.00%
.linebreadth-med() {.linebreadth(100% * (2/3));}   // arithmetic: 66.66%
.linebreadth-sml() {.linebreadth(@golden1);} // Golden:     61.80%
.gutter-major {
	// * P1-midleft within a P3-left
	width: @golden4;
	margin-left: @golden7;
	margin-right: @golden6;
	position: absolute;
	left: 0;		
}
.gutter-minor {
	// * P1-midright within a P4-right
	width: @golden5;
	margin-left: @golden7;
	margin-right: @golden8;
	position: absolute;
	right: 0;
}
//==== @end AUTOMATED WIDTHS ====


@media print {
	.gutter-major,
	.gutter-minor {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		position: static;
	}
}
