// main: all.less

/** --HOME.LESS-- **/

/* @group site-wide navigation */
/* @end */

/* @group index */
.index-main {
	&:extend(main all);
	margin-bottom: 0;
}
.phispiral {
	padding: 0;
	margin: 0;
	position: relative;
	list-style-type: none;
}
.phispiral-button {
	&:extend(.a-block all);
	&:extend(.a-block[href] all);
	height: 3em; // will be changed proportionally in JS
	padding: 0;
	border-width: 0;
	border-radius: 0;
	margin: 0;
	position: static; // will be changed to `absolute` in JS
	&:hover .phispiral-button-text {visibility: visible;}
}
.a1 {width: @width-Golden1;}
.b1 {width: @width-Golden2;}
.c1 {width: @width-Golden3;}
.d1 {width: @width-Golden4;}
.e1 {width: @width-Golden5;}
.f1 {width: @width-Golden6;}
.g1 {width: @width-Golden7;}
.h1 {width: @width-Golden8;}
.i1 {width: @width-Golden9;}
.j1 {width: @width-Golden10;}
.k1 {width: @width-Golden11;}
.l1 {width: @width-Golden12;}
.phispiral-button-text {
	&:extend(.h-alpha);
	padding: 0;
	margin: 0;
	position: relative;
	top: 0.5em; // will be changed proportionally in JS
	visibility: hidden;
}
/* @end */

/* @group CSS for -ePortfolio- */
//.img-folio {
//	width: 100%;
//	height: auto;
//	padding: 5px;
//	border-radius: 15px;
//	
//	position: relative;
//	left: -5px;compensate for padding-left
//	
//	background-color: #fafcff;
//	box-shadow: 0 0 10px 10px #fafcff;
//}
.h-folio {
	&:extend(.h-alpha all);
	margin-top: 4 * @olh;
	font-weight: normal;
	font-variant: normal;
	font-size: 3 * @font-size-base;
	font-family: 'Zapfino',script;
	line-height: 0.5;
	white-space: nowrap;
	.cap,
	&::first-letter {
		font-size: 6 * @font-size-base;
		font-family: 'Snell Roundhand','Zapfino',script;
		line-height: 0.25;
	}
}
.homewordle {width: 100%;}
.mediagallery {
	margin-top: 2 * @olh;
}
/* @end */

/* @group linksdothtml */
.list-edu {
	&:extend(.list-basic all);
	&:extend(.linebreadth-large);
}
.bin-list-math,
.bin-list-music {
	&:extend(.line);
}
.list-math-orgs,
.list-music-orgs {
	&:extend(.list-basic all);
	&:extend(.unit-P1);
}
.list-math-vt,
.list-music-vt {
	&:extend(.list-basic all);
	&:extend(.unit-P2);
}
.list-swimming {
	&:extend(.list-line all);
	li {&:extend(.unit-1to3);}
}
.list-blogs {
	&:extend(.list-line all);
	li {&:extend(.unit-1to2);}
}
.list-apps {
	&:extend(.list-action all);
}
/* @end */

/* @group contactdothtml */
.contacticons {
	&:extend(.list-line all);
	&:extend(.list-action all);
	text-align: center;
	li::before {content: '';}
	a {
		display: block;
		border: 0;
		&:hover .icon-special {opacity: 1;}
	}
}
.icon-special {
	width: 3 * @olh;
	height: 3 * @olh;
	opacity: @Phi1;
}
.contactme {
	.font-size(small);
}
/* @end */

@media print {
	.bc {display: none;}
}
