@import url('vardefs.less');

/* @group MODS.LESS */
/* @group main stuff */
.body, body {
	font-size: 12pt;
	font-family: @font-fam-base;
	color: @color-body-txt;
	background-color: @color-body-bg;
}
.hub-body {
	.body;
	background-image: url('/home/images/phi-stripes-trans.png');
	background-repeat: repeat-y;
	background-size: contain;
}
.main,
main { // the main container in the body
	.P1-midright();	
	margin-bottom: 162px; // why did I choose this number?
}
.masthead {
	.P4-right();	
	position: fixed;
	top: 0;
	font-weight: bold;
	font-size: 1in;
	font-family: 'Times','Times New Roman',serif;
	nav {
		.P1-midleft();
		.mylogo {
			// do NOT extend `.up`! because `this` will override the `.dn` and `.active` classes
			// include `.up` in the HTML
			display: block;
			border-bottom: 0;
		}
	}
}
/* @end */

/* @group hyperlinks */
.link, a {
	border-width: 0 0 1px;
	border-style: dotted;
	text-decoration: none;
	color: inherit;
}
.up {
	.link;
	color: @color-link-up-txt;
}
.dn {
	.link;
	color: @color-link-dn-txt;
}
.sp-up {
	.link;
	color: @color-link-sp-up-txt;
}
.sp-dn {
	.link;
	color: @color-link-sp-dn-txt;
}
.active {
	.link();
	color: @color-link-active-txt;
}
/* @end */

/* @group special boxes */
@box-radius: 3px;
@box-block-radius: 10px;
@box-link-radius: 6px;
.box {
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	border-radius: @box-radius;
}
.box-block {
	.box;
	display: block;
	padding: 5px;
	border-radius: @box-block-radius;
	margin: 5px;
}

.block-link() {
	.box-block;
	border-radius: @box-link-radius;
	text-align: center;
}
.block-up {
	.up;
	.block-link();
	background-color: @color-link-up-bg;
}
.block-dn {
	.dn;
	.block-link();
	background-color: @color-link-dn-bg;
	.h-beta, .h-epsilon {
		color: @color-link-dn-subheading; // changes the headings in "dn" blocks to reduce contrast
	}
}
.block-active {
	.active;
	.block-link();
	color: @color-link-active-block-txt;
	background-color: @color-link-active-block-bg;
}

.sample() {
	.box-block;
	position: relative;
	padding: 2em 10px 10px;
}
.sample-label(@string) {
	.box-block;
	position: absolute;
	top: -1px;
	left: -1px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
	content: @string;
	font-size: smaller;
}
.example {
	.sample();
	border-color: @color-example-brdr;
	background-color: @color-example-bg;
	&:before {
		.sample-label('example');
		border-color: @color-example-brdr;
		color: @color-example-label-txt;
		background-color: @color-example-label-bg;
	}
}
//.example-bad {
//	.example;
//	color: #f00 !important;
//	&:before {
//		.sample-label('bad example!');
//		color: #f00;
//	}
//	* {color: #f00 !important;}
//}
.demo {
	.sample();
	border-color: @color-demo-brdr;
	background-color: @color-demo-bg;
	&:before {
		.sample-label('demo');
		border-color: @color-demo-brdr;
		color: @color-demo-label-txt;
		background-color: @color-demo-label-bg;
	}
}
	/* @group coding shit */
	.code,
	code { // inline code elements
		.box;
		border-color: @color-code-brdr;
		background-color: @color-code-bg;
		font-size: smaller;
		font-family: @font-fam-code;
		color: @color-code-txt;
	}
	.code-block(@lang) { // block code mixin
		.code;
		.sample();
		&:before {
			.sample-label(@lang);
			border-color: @color-code-brdr;
			color: @color-code-label-txt;
			background-color: @color-code-label-bg;
		}
	}
	pre {margin: 0;}
	.code-block,
	pre > code {
		.code-block('code');
		&.lang-html {
			.code-block('HTML');
			.tag {color: @color-code-html-tag;}
			.attribute {color: @color-code-html-attr;}
			.value {color: @color-code-html-val;}
			.comment {color: #999;}
		}
		&.lang-css,
		&.lang-less {
			.selector {color: @color-code-css-sel;}
			.property {color: @color-code-css-prop;}
			.value {color: @color-code-css-val;}
			.comment {color: #999;}
		}
		&.lang-css {.code-block('CSS');}
		&.lang-less {.code-block('LESS');}
		&.lang-js {.code-block('JavaScript');}
		&.lang-jq {.code-block('jQuery');}
	}
	.kbd,
	kbd kbd {
		//inline code elements
		.code;
		padding: 2px;
		font-size: 13pt;
		font-family: @font-fam-mono;
	}
	/* @end */

/* @end */

/* @group hacks */

// a hack for elements needed for SEO but not to display
.noshow {display: none !important;}
.invisible {visibility: hidden;}

// elements in draft mode (not published yet) --- use boolean attribute "hidden"!
.draft {display: none; color: #999999;}

@media print {
	body {color: #000000;}
	body {background-image: none;}
//	body,
//	.block-up,
//	.block-dn,
//	.code {background-color: #ffffff;}
	.nav-hub,
	.courseinfo,
	.masthead {display: none;}
	.main,
	main {
		width: auto;
		margin: auto;
	}
	
	
	/* a hack for elements needed to display but not to print */
	.noprint {display: none !important;}
}

/* @end */
/* @end MODS */
