// main: all.less

/* @group element-reset */
section, article, aside, nav,
.main, main, header, footer {
	// * support for non-HTML5 browsers
	display: block;
}
body,
section, article, aside, nav,
.main, main, header, footer,
h1, h2, h3, h4, h5, h6,
p,
figure, blockquote, address,
ol, ul, li,
dl, dt, dd,
table,
pre {
	// * padding and margin reset
	padding: 0;
	margin: 0;
}
p,
ol, ul,
dl,
table {
	// * margin-top for certain semantic elements
	margin-top: @olh;
}
p,
figure, blockquote
li,
dt, dd,
td {
	// * minimum height for text-containing elements
	min-height: @olh;
}
.h {
	// * no margin-top for certain first sibling following all headings
	+ p,
	+ ol, + ul,
	+ dl,
	+ table {margin-top: 0;}
}
figure, blockquote,
li,
dt, dd,
td {
	// * no margin-top for first-child of some containers
	> :first-child {margin-top: 0;}
}
/* @end */
