/*** ======== CSS RESET ======== ***/

body {
	font: normal normal normal 12pt sans-serif;
	text-align: left;
	vertical-align: baseline;
	color: #000000;
	background: transparent 0% 0% auto repeat padding-box border-box scroll none;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, address,
ul, ol, li, dl, dt, dd,
pre,
em, strong, mark, i, b,
small, sup, sub,
dfn, cite, abbr, var,
code, kbd, samp,
a,
th {
	font: inherit;
	text-align: inherit;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}

/* @group block-level elements */
h1, h2, h3, h4, h5, h6,
p, blockquote, address,
ul, ol, li, dl, dt, dd,
table, figure, pre {
	padding: 0;
	border: 0;
	margin: 0;
}
	/* @group list elements */
	ul, ol {
		list-style-position: outside;
		list-style-image: none;
	}
	ul {list-style-type: disc;}
	ol {list-style-type: decimal;}
	/* @end */
	/* @group table elements */
	table    {display: table;}
	caption  {display: table-caption;}
	colgroup {display: table-column-group;}
	col      {display: table-column;}
	thead {display: table-header-group;}
	tbody {display: table-row-group;}
	tfoot {display: table-footer-group;}
	tr {display: table-row;}
	th {display: table-cell;}
	td {display: table-cell;}
	/* @end */
/* @end */

/* @group inline-level elements */
em, strong, mark, i, b,
small, sup, sub,
dfn, cite, var,
code, kbd, samp {
}
a {
	border: 0;
	cursor: pointer;
}
/* @end */



