// main: all.less

/** --SITEDESIGN.LESS-- **/

/* @group griddothtml */
.precode {white-space: pre-wrap !important;}
.grid-outline {outline: 1px solid #999;}
figure {
	.line,
	.unit,
	.unit-P1,
	.unit-P2,
	.unit-P3,
	.unit-P4,
	.unit-U-P3,
	.unit-U-P4,
	.P1-left,
	.P1-right,
	.P1-midleft,
	.P1-midright,
	.P2-left,
	.P2-right,
	.P3-left,
	.P3-right,
	.P4-left,
	.P4-right,
	.U-P3-left,
	.U-P3-right,
	.U-P4-left,
	.U-P4-right {&:extend(.grid-outline);}
}
.grid-phidemo {
	text-align: center;
	.red    {background-color: #f00;}
	.yellow {background-color: #ff0;}
	.green  {background-color: #0f0;}
	.cyan   {background-color: #0ff;}
	.blue   {background-color: #00f;}
	.pink   {background-color: #f0f;}
	.lv1 {height: 4em;}
	.lv2 {height: 3em;}
	.lv3 {height: 2em;}
	.lv4 {height: 1em;}
}
/* @end */

/* @group typodothtml */
.typo-list {
	li, dt, dd {
		outline: 1px solid #bbb;
		background: #eee;
	}
}
/* @end */

/* @group colorsdothtml */
.colors-body {
	.bc {display: none;}
}
.palettes {
	// * the container of hue tables
	&:extend(.line);
	.undoP1-midright;
	.group-cold,
	.group-warm {&:extend(.unit-1to2);}
}

.colortable {
	.font-size(small);
	width: 100%;
	white-space: nowrap;
	tbody {
		th {width: 11.11%;}
		td {width: 22.22%;}
	}
	th {border: 1px solid #999;}
}

.colorname,
.colorcode {
	display: block;
}
.colorname {
	font-weight: bold;
}
.colorcode {
	font-family: @font-fam-code;
}
.chosencolors {
	&:extend(.list-basic all);
}


//#colorsdothtml {
	
	
	
//	
//	
	
//	.chosencolors{
//		
//		.linebreadth-sml();
//		> li {
//			padding: .2em .3em;
//			outline: thin solid black;
//			margin: 0.75em auto;
//			
//			// COLOR NAMES
//			@aperture-white:       #f2f7ff;
//			@aperture-black:       #0d0800;
//			@atlas-blue:           hsv(217,   100%, 100%);
//			@pbody-orange:         hsv( 37,   100%, 100%);
			
//			@bridges-of-light:     hsv(207, 33.33%, 100%);
//			@light-bridge-edge:    hsv(185, 66.66%, 100%);
//			@asbestos:             hsv( 47, 33.33%, 100%);
//			@lake-superior:        hsv(247,   100%,  75%);
//			@facility-abyss:       hsv(217, 66.66%,  50%);
//			@caves-caves:          hsv( 37, 83.33%,  50%);
//			@deploying:            hsv(  7,   100%, 100%);
//			@her-eye:              hsv( 67, 66.66%, 100%);
//			@neurotoxin:           hsv( 97, 66.66%,  75%);
//			@vilify:               hsv(277, 66.66%,  75%);
//			@heart-of-a-companion: hsv(337, 33.33%, 100%);

//Excursion Funnel, forward
//Excursion Funnel, backward
//
//Repulsion Gel
//Propulsion Gel
//
//Hard Light Bridge
//Thermal Discouragement Beam
//
//Fizzler (testsubj yes, portals no, objects no)
//Lazer Field (testsubj no, portals yes, objects yes)
//
//Glass
//Grate
//
//gray cube
//super button


//			&#aperture-white       {background-color: @aperture-white;}
//			&#aperture-black       {background-color: @aperture-black; .dark;}
//			&#atlas-blue           {background-color: @atlas-blue;}
//			&#pbody-orange         {background-color: @pbody-orange;}
//			&#bridges-of-light     {background-color: @bridges-of-light;}
//			&#light-bridge-edge    {background-color: @bridges-of-light;}
//			&#asbestos             {background-color: @asbestos;}
//			&#lake-superior        {background-color: @lake-superior; .dark;}
//			&#facility-abyss       {background-color: @facility-abyss; .dark;}
//			&#caves-caves          {background-color: @caves-caves; .dark;}
//			&#deploying            {background-color: @deploying; .dark;}
//			&#her-eye              {background-color: @her-eye;}
//			&#neurotoxin           {background-color: @neurotoxin;}
//			&#vilify               {background-color: @vilify; .dark;}
//			&#heart-of-a-companion {background-color: @heart-of-a-companion;}
//			
//			.elemprops {font-size: 10pt; display: none;}
//			.colorcode {text-align: right;}
//		}
//	}
//}
/* @end */



//.line {
//	&.br {
//		margin-bottom: 1em;
//	}
//	#des-philines & {
//		margin-top: 1em;
//	}
//}
//
//.unit {
//	padding: 3px 0;
//	outline: 1px solid #999;
//	#des-philines & {
//		padding: 0;
//	}
//}
