// main: all.less
/*-------------------*\
	sitedesign.less
\*-------------------*/

/* @group griddothtml */
.precode {white-space: pre-wrap !important;}
.grid-outline {outline: 1px solid #999;}
figure {
	.line,
	.unit,
	.unit-P1,
	.unit-P2,
	.unit-P3,
	.unit-P4,
	.unit-U-P3,
	.unit-U-P4,
	.P1-left,
	.P1-right,
	.P1-midleft,
	.P1-midright,
	.P2-left,
	.P2-right,
	.P3-left,
	.P3-right,
	.P4-left,
	.P4-right,
	.U-P3-left,
	.U-P3-right,
	.U-P4-left,
	.U-P4-right {&:extend(.grid-outline);}
}
.grid-phidemo {
	text-align: center;
	.red    {background-color: #f00;}
	.yellow {background-color: #ff0;}
	.green  {background-color: #0f0;}
	.cyan   {background-color: #0ff;}
	.blue   {background-color: #00f;}
	.pink   {background-color: #f0f;}
	.lv1 {height: 4em;}
	.lv2 {height: 3em;}
	.lv3 {height: 2em;}
	.lv4 {height: 1em;}
}
/* @end */

/* @group typodothtml */
.typo-list {
	li, dt, dd {
		outline: 1px solid #bbb;
		background: #eee;
	}
}
/* @end */

/* @group colorsdothtml */
.palettes {
	// * the container of hue tables
	&:extend(.line);
	&:extend(.undoP1-midright);
	.group-cold,
	.group-warm {&:extend(.unit-1to2);}
}
.colortable {
	.font-size(small);
	width: 100%;
	white-space: nowrap;
	tbody {
		th {width: 11.11%;}
		td {width: 22.22%;}
	}
}
.colorname,
.colorcode {
	display: block;
}
.colorname {
	font-weight: bold;
	color: inherit !important;
	&:hover {text-decoration: underline;}
}
.colorcode {
	border: 0;
	font-family: @font-fam-code;
	color: inherit;
	background-color: transparent;
}
.colorpair {
	&:extend(.line);
	&:extend(.undoP1-midright);
	> section {
		&:extend(.unit-1to2);
		padding: 0 6px;
	}
}

#aperture-white {background-color: @aperture-white;}
#aperture-black {background-color: @aperture-black;}
#atlas {background-color: @atlas;}
#pbody {background-color: @pbody;}
#repulsion  {background-color: @repulsion;}
#propulsion {background-color: @propulsion;}
#deploying {background-color: @deploying;}
#her-eye   {background-color: @her-eye;}
#lake-superior {background-color: @lake-superior;}
#caves-caves   {background-color: @caves-caves;}
#facility-abyss {background-color: @facility-abyss;}
#asbestos       {background-color: @asbestos;}
#vilify     {background-color: @vilify;}
#neurotoxin {background-color: @neurotoxin;}
#bridges   {background-color: @bridges;}
#companion {background-color: @companion;}
#aperture-black,
#atlas,
#deploying,
#lake-superior,
#caves-caves,
#facility-abyss,
#asbestos,
#vilify {color: @aperture-white;}


/* @end */
