// main: all.less

/* @group variables */
@font-fam-base:    'Optima','Candara','Lucida Sans',sans-serif;
@font-fam-heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@font-fam-prose:   'Baskerville','Palatino','Book Antiqua',serif;
@font-fam-code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@font-fam-math:    'Times','Times New Roman',serif;
//@font-fam-accent:  'Gill Sans','Century Gothic',sans-serif;
@font-fam-accent: @font-fam-heading;

@aperture-white: hsv(217, @width-Golden8,           100%);
@aperture-black: hsv( 37,           100%, @width-Golden8);
@atlas: hsv(217,   100%, 100%);
@pbody: hsv( 37,   100%, 100%);
@repulsion:  hsv(208, 83.3%, 100%);
@propulsion: hsv( 28, 83.3%, 100%);
@deploying: hsv( 5,  100%, 100%);
@her-eye:   hsv(55, 66.6%, 100%);
@lake-superior: hsv(226,  100%, 50%);
@caves-caves:   hsv( 28, 66.6%, 50%);
@facility-abyss: hsv(199,  50%, 50%);
@asbestos:       hsv( 46, 100%, 75%);
@vilify:     hsv(271,  100%,  75%);
@neurotoxin: hsv( 69, 83.3%,  75%);
@bridges:   hsv(185, 16.6%, 100%);
@companion: hsv(343, 33.3%, 100%);

#aperture-white {background-color: @aperture-white;}
#aperture-black {background-color: @aperture-black;}
#atlas {background-color: @atlas;}
#pbody {background-color: @pbody;}
#repulsion  {background-color: @repulsion;}
#propulsion {background-color: @propulsion;}
#deploying {background-color: @deploying;}
#her-eye   {background-color: @her-eye;}
#lake-superior {background-color: @lake-superior;}
#caves-caves   {background-color: @caves-caves;}
#facility-abyss {background-color: @facility-abyss;}
#asbestos       {background-color: @asbestos;}
#vilify     {background-color: @vilify;}
#neurotoxin {background-color: @neurotoxin;}
#bridges   {background-color: @bridges;}
#companion {background-color: @companion;}

#aperture-black,
#atlas,
#deploying,
#lake-superior,
#caves-caves,
#facility-abyss,
#asbestos,
#vilify {color: @aperture-white;}


@color-base-txt: @aperture-black;
@color-base-bg:  @aperture-white;
@color-accent: @deploying;

@headlt: @width-Golden2;

/* @end */

/* @group absract mixins */
@box-radius-small:  3px; // 1 + 2
@box-radius-medium: 6px; // 1 + 2 + 3
@box-radius-large: 10px; // 1 + 2 + 3 + 4
.box-inline() {
	// * inline content, boxed
	display: inline;
	padding: 0 1px;
	border: 1px solid;
	border-radius: @box-radius-small;
	white-space: nowrap;
}
.box-inline-block() {
	// * inline content, with block structure, boxed
	.box-inline();
	display: inline-block;
}
.box-block() {
	// * a block structure, boxed
	.box-inline-block();
	display: block;
	padding: 0 4px;
	.border(all; 1px; solid);
	border-radius: @box-radius-large;
	margin-left: 4px;
	margin-right: 4px;
	white-space: normal;
}
.parens() {
	&::before {content: '(';}
	&::after  {content: ')';}	
}
.quotes() {
	&::before {content: open-quote;}
	&::after  {content: close-quote;}
}
.transp() {
	opacity: @Phi1;
	&:hover {opacity: 1;}
}
/* @end */


/* @group sections */
body {
	.font-size(medium);
	font-family: @font-fam-base;
	text-align: left;
	vertical-align: baseline;
	color: @color-base-txt;
	background-color: @color-base-bg;
//	background-image: url('/home/images/phi-stripes-trans.png');
//	background-repeat: repeat-y;
//	background-size: contain;
}
main {
	.P1-midright;
	margin-bottom: 192px; // 2in
}
.masthead {
	@iconsize: 96px; // 1in
	.P4-right;
	position: fixed;
	top: (@iconsize / 2);
	nav {
		.P1-midleft;
		.mylogo {
			display: block;
			.border(bottom; 0; solid);
			font-weight: bold;
			font-size: @iconsize;
			font-family: 'Times','Times New Roman',serif;
		}
	}
}
/* @end */

/* @group headings */
@h1-ratio: (2/1); // (16/8) or 2.000
@h2-ratio: (3/2); // (12/8) or 1.500
@h3-ratio: (5/4); // (10/8) or 1.250
@h4-ratio: (1/1); // (08/8) or 1.000
@h5-ratio: (7/8); // (07/8) or 0.875
@h6-ratio: (3/4); // (06/8) or 0.750
@font-size-h1: (@font-size-base * @h1-ratio); // 32px or 24pt
@font-size-h2: (@font-size-base * @h2-ratio); // 24px or 18pt
@font-size-h3: (@font-size-base * @h3-ratio); // 20px or 15pt
@font-size-h4: (@font-size-base * @h4-ratio); // 16px or 12pt
@font-size-h5: (@font-size-base * @h5-ratio); // 14px or 10.5pt
@font-size-h6: (@font-size-base * @h6-ratio); // 12px or 9pt
@hsub-size: 80%;

@color-hn-major: @lake-superior;
@color-hn-minor: @caves-caves;
@color-hsub-major: @facility-abyss;
@color-hsub-minor: @asbestos;

.h {
	display: block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: @font-fam-heading;
	letter-spacing: 1px;
	.latex {color: inherit;}
}
.gutter-major,
.gutter-minor {
	.h {
		text-align: center;
		text-indent: 0;
	}
}
span.hsub {
	// * QUASI-ELEMENT: subheading
	font-size: @hsub-size;
	padding-left: @olh;
	font-weight: normal;
	color: lighten(@color-base-txt, @headlt);
}
.h-alpha {
	&:extend(.h all);
	padding-bottom: @olh;
	margin-top: 2 * @olh;
	font-variant: small-caps;
	font-weight: bold;
	font-size: @font-size-h1;
	text-align: center;
	line-height: (@line-height-base/@h1-ratio);
	color: @color-hn-major;
	> span.hsub {color: @color-hsub-major;}
}
.h-beta {
	&:extend(.h all);
	padding-bottom: 0.5 * @olh;
	margin-top: 1.5 * @olh;
	font-weight: bold;
	font-size: @font-size-h2;
	line-height: (@line-height-base/@h2-ratio);
	color: @color-hn-minor;
	> span.hsub {color: @color-hsub-minor;}
}
.h-gamma {
	&:extend(.h all);
	padding-bottom: 0.25 * @olh;
	margin-top: 0.75 * @olh;
	font-variant: small-caps;
	font-weight: bold;
	font-size: @font-size-h3;
	line-height: (@line-height-base/@h3-ratio);
}
.h-delta {
	&:extend(.h all);
	margin-top: @olh;
	font-style: italic;
	font-weight: bold;
	font-size: @font-size-h4;
	line-height: (@line-height-base/@h4-ratio);
}
.h-epsilon {
	&:extend(.h all);
	font-style: italic;
	font-size: @font-size-h5;
	text-indent: 0.5in;
	line-height: (@line-height-base/@h5-ratio);
	color: @color-hn-minor;
	> span.hsub {color: @color-hsub-minor;}
}
.h-zeta {
	&:extend(.h all);
	font-style: italic;
	font-variant: small-caps;
	font-size: @font-size-h6;
	text-indent: 0.5in;
	line-height: (@line-height-base/@h6-ratio);
}
/* @end */

/* @group paragraphs */
.lede {
	font-weight: bold;
	font-family: @font-fam-base;
	color: #000;
}
.p-lede {
	&:extend(.lede);
	padding-bottom: @olh;
	text-align: justify;
}
.s-lede {
	&:extend(.lede);
	padding-right: @olh;
}
.prose {
	.font-size(medium);
	font-family: @font-fam-prose;
	text-align: justify;
	list-style-type: decimal;
	li {margin-top: @olh;}
}
.nonnormative {
//	.spacing-top-Phi();
//	.spacing-left-Phi(3px; dotted);
	font-style: italic;
	font-family: @font-fam-base;
}
.dropcap::first-letter {
	float: left;
	padding-top: 0.75 * @font-size-base;
	padding-right: 4px;
	font-style: normal;
	font-weight: normal;
	font-size: 3 * @font-size-base;
	font-family: @font-fam-math;
	line-height: 0.5;
	color: @color-hn-major;
}

.caption {
	.font-size(small);
	padding: 0;
	margin: 0;
	font-style: normal;
	text-align: right;
}
figure {
	.spacing-top-Phi();
	.spacing-left-Phi(4px; solid; @color-accent);
	.spacing-right-Phi(4px; solid; @color-accent);
	background-color: @color-info-bg;
}
figcaption {
	&:extend(.caption);
	.border(top; 1px; dashed);
}
blockquote {
	.spacing-top-Phi();
	.spacing-left-Phi(7px; double; @color-accent);
	.font-size(large);
	font-family: @font-fam-accent;
	&:not(.prose) > .src {
		padding-right: @olh;
		float: right;
		&::before {content: '~ ';}
		&::after {content: '';}
	}
}
address {
	font-style: inherit;
}
div.postal {
	// * QUASI-ELEMENT: postal address
	.spacing-top-Phi();
	.spacing-right-Phi(3px; solid; @color-accent);
	.font-size(large);
	border-radius: 3px;
	font-family: @font-fam-accent;
	text-align: right;
}
//.phone, // use microformats
//.tel,
//.email {
//	font-family: @font-fam-code;
//}
/* @end */

/* @group lists */
ol, ul {
	padding-left: 0.5in;
}
li, dt, dd {
	ol, ul {margin-top: 0;}
}
// * outlined lists
.list-omega   {list-style-type: decimal-leading-zero;}
.list-alpha   {list-style-type: upper-roman;}
.list-beta    {list-style-type: upper-alpha;}
.list-gamma   {list-style-type: decimal;}
.list-delta   {list-style-type: lower-alpha;}
.list-epsilon {list-style-type: lower-roman;}
.list-zeta    {list-style-type: lower-greek;}

.list-basic {
	padding: 0;
	list-style-type: none;
}
.list-inline {
	// * a basic list except the list items are inline.
	&:extend(.list-basic all);
	> li {display: inline;}
}
.list-line {
	// * a basic list that acts as a table, with the list items acting as table cells
	&:extend(.list-basic all);
	&:extend(.line);
	> li {&:extend(.unit);}
}
.list-float(@liwidth) {
	// * a basic list whose items are blocks that float left
	&:extend(.list-basic all);
	display: table;
	li {
		width: @liwidth;
		float: left;
	}
}
.list-float-1 {.list-float(100%);}
.list-float-2 {.list-float(50%);}
.list-float-3 {.list-float(33.333%);}
.list-float-4 {.list-float(25%);}
.list-float-5 {.list-float(20%);}
.list-float-6 {.list-float(16.666%);}

.list-action {
	// * a list typically containing textual (non-block) hyperlinks
	&:extend(.list-basic all);
	ul, ol, dl {list-style-type: none;}
	li {
		color: @color-link-up-txt;
		&:hover {color: @color-link-dn-txt;}
	}
	li::before {content: '\2713\0020';} // check mark, space
	a:not([href]) {color: @color-base-txt;}
}
/* @end */

/* @group association lists (`dl`s) a.k.a. mappings */
dt,
dd {
	> ul:only-child {&:extend(.list-basic);}
}
dd {
	padding-left: 0.5in;
}
.dl-basic {
	> dd {margin: 0; padding: 0;}
}
.dl-tree {
//	dd > dl {margin-left: 0.5in;}
}
.dl-group {
	// * groups dt elements together on a line, and dd elements together on a line
	display: table;
	> dt,
	> dd {
		padding: 0;
		padding-right: @olh;
		float: left;
	}
	> dt + dd,
	> dd + dt {clear: both;}
	> dt + dd {padding-left: 0.5in;}
}
.dl-table(@dtwidth) {
	// * a dl list that acts like a table, with each row containing a single name-value group. the `@dtwidth` parameter must be a percentage.
	&:extend(.list-basic all);
	&:extend(.line);
	> dt,
	> dd {
		&:extend(.unit);
		float: left;
	}
	> dt {
		width: @dtwidth;
		clear: both;
	}
	> dd {
		width: (100% - @dtwidth);
		margin-left: @dtwidth;
		padding-left: 0;
	}
	> dt + dd {margin-left: 0;}
	> dd + dd {clear: both;}
}
.dl-table-sml {.dl-table(@width-Golden3);}   // 23.6067977499789696%
.dl-table-msm {.dl-table(@width-Golden2);}   // 38.1966011250105152%
.dl-table-med {.dl-table(50%);}
.dl-table-mlg {.dl-table(@width-Golden1);}   // 61.8033988749894848%
.dl-table-lrg {.dl-table(@width-U-Golden3);} // 76.3932022500210304%
.docmeta {
	&:extend(.dl-table-sml all);
//	&::before {
//		&:extend(.h-zeta all);
//		content: 'Document Information';
//		display: block;
//		.font-size(medium);
//		text-indent: 0;
//	}
//	background-color: @color-base-bg;
	> dt {
		font-weight: bold;
		&::after {content: ':';}
	}
}
/* @end */

/* @group tables */
@color-table-brdr: @color-accent;

@color-table-bg-strong: hsv(185, 16.6%, 100%);
@color-table-bg-medium: hsv(185, 11.1%, 100%);
@color-table-bg-weak:   hsv(185,  5.5%, 100%);

table {
	.font-size(small);
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
caption {
	&:extend(.caption);
//	.border(bottom; 1px; dashed); // use this only if there are no borders on table or cells
}
.rowgroup {
	border: 1px solid @color-table-brdr;
	border-left: 0;
	border-right: 0;
}
thead, tfoot {
	font-weight: bold;
	vertical-align: bottom;
}
tbody {vertical-align: top;}
th, td {
	padding: (0.5 * @olh) 6px;
	border: 1px solid #808080;
}
th {
	font-weight: bold;
}
.table-list,
.table-bars {
	thead,
	tbody,
	tfoot {&:extend(.rowgroup);}
	th, td {border: 0;}
	th {background-color: @color-table-bg-strong;}
}
.table-list {
//	thead,
//	tbody,
//	tfoot {
//		tr:nth-child(odd)  {background-color: @color-table-bg-medium;}
//		tr:nth-child(even) {background-color: @color-table-bg-weak;}
//	}
	tr:nth-child(odd)  {background-color: @color-table-bg-medium;}
	tr:nth-child(even) {background-color: @color-table-bg-weak;}
}
.table-bars {
	thead {
		th:nth-child(odd)  {background-color: lighten(@color-table-bg-weak,   @headlt);}
		th:nth-child(even) {background-color: lighten(@color-table-bg-medium, @headlt);}
		th:first-child     {background-color: lighten(@color-table-bg-strong, @headlt);}
	}
//	tbody {
//		td:nth-child(odd)  {background-color: @color-table-bg-weak;}
//		td:nth-child(even) {background-color: @color-table-bg-medium;}
//	}
	td:nth-child(odd)  {background-color: @color-table-bg-weak;}
	td:nth-child(even) {background-color: @color-table-bg-medium;}
}
table {
	counter-reset: nrows;
	tr {
		counter-increment: nrows;
	}
	counter-increment: nrows; // once more for the last border
	/*
		@btm: -(((nrows + 12) % 24) - 12);
		if (btm <= 0) {
			margin-bottom: @btm;
		} else {
			padding-bottom: @btm;
		}
	*/
}
//.table-grid {
//	.table;
//	td {.special-table-border();}
//	.header,
//	th {background-color: @color-table-bg-head;}
//	.row-odd {
//		.column-odd  {background-color: @color-table-bg-weak;}
//		.column-even {background-color: @color-table-bg-medium;}
//	}
//	.row-even {
//		.column-odd  {background-color: @color-table-bg-medium;}
//		.column-even {background-color: @color-table-bg-strong;}
//	}
//}
/* @end */

/* @group highlighted text */
em {font-style: italic;}
.nonnormative,
em,
.foreignlang {
	//* em within italics
	> em {font-weight: bold;}
}
strong {font-weight: bold;}
mark {background-color: transparent;}
i {font-style: inherit; font-weight: inherit;}
//i.scare {
//	// * scare quotes contain abuse of vocabulary or language
//	&:extend(.quotes all);
//}
//i.mention {
//	// * mentions refer to phrases without referring to their meaning
//	&:extend(.quotes all);
//}
i.thought {
	// * QUASI-ELEMENT: phrases representing silent thoughts
	&::before {content: '\00ab';} // &laquo;
	&::after  {content: '\00bb';} // &raquo;
}
.foreignlang {
	// * phrases in foreign languages
	font-style: italic;
	font-family: @font-fam-math;
}
i:lang(la),
i:lang(it),
i:lang(fr) { 
	&:extend(.foreignlang);
}
i[lang] {
	&:extend(.foreignlang);
}
.solfege {
	&:extend(.foreignlang);
}
b {font-style: inherit; font-weight: inherit;}
b.keyword {
	// * QUASI-ELEMENT: keywords or technical terms
	// * 
	font-weight: bold;
}
b.proper {
	// * QUASI-ELEMENT: proper noun traditionally italicized
	font-style: italic;
	text-transform: capitalize;
}
b.ref {
	// * QUASI-ELEMENT: reference to a title, section heading, figure, table, or creative work. use only when the `a` element or the `cite` element would not be appropriate
	font-weight: bold;
}
/* @end */

/* @group documentation */
//p.timestamp {
//	// * a paragraph element that indicates the most recent edit of a webpage or document. includes a <time datetime=""> element
//	font-size: smaller;
//	text-align: left;
//}
q {}
cite {
	font-style: inherit;
}
.src {
	.parens();
}
//dfn,
//abbr,
//del,
//ins {color: @color-info-txt;}
dfn {
	font-weight: bold;
	font-style: inherit;
	font-family: @font-fam-prose;
}
abbr[title],
del[datetime],
ins[datetime] {
	cursor: help;
	&::after {
		display: none;
		position: relative;
		left: 5px;
		top: 5px;
		color: @color-info-txt;
		background-color: @color-info-bg;
		text-decoration: none;
	}
//	&:hover::after {display: inline;}
}
abbr {
	&[title]::after {content: attr(title);}
}
del {
	text-decoration: line-through;
	&[datetime]::after {content: 'deleted on ' attr(datetime);}
}
ins {
	text-decoration: underline;
	&[datetime]::after {content: 'inserted on ' attr(datetime);}
}
del + ins {padding-left: 0.5em;}
//small,
sup, sub {
	.font-size(small; inherit);
	vertical-align: baseline;
}
sup {
	position: relative;
	bottom: 6px;
}
sub {
	position: relative;
	top: 6px;
}
/* @group footnotes */
@fn-width: 1.5em;
.footnotes {
	// * an unordered list containing footnotes
	&:extend(.list-basic);
	.spacing-top-Phi(1px; solid; @color-accent);
	.font-size(small);
	li {
		padding-left: @fn-width;
		text-indent: -@fn-width;
	}
}
.fn {
	// * the superscript containing a link to the footnote or back to the reference
	&:extend(sup all);
	width: @fn-width;
	> a {
		&::before {content: '[';}
		&::after {content: ']';}
	}
}
/* @end */
/* @end */

/* @group hyperlinks */
@color-link-up-txt: @atlas;
@color-link-up-bg: lighten(@atlas, @headlt);

@color-link-dn-txt: @pbody;
@color-link-dn-bg: lighten(@pbody, @headlt);

@color-sp-up-txt: @neurotoxin;
@color-sp-up-bg: lighten(@color-sp-up-txt, @headlt);

@color-sp-dn-txt: @vilify;
@color-sp-dn-bg: lighten(@color-sp-dn-txt, @headlt);

@color-link-active-txt: @her-eye;
@color-link-active-bg: @aperture-black;

a {
	display: inline;
	border-bottom: 1px dotted;
	text-decoration: none;
	color: inherit;
	&[href] {
		color: @color-link-up-txt; // also sets border color
		&:hover {color: @color-link-dn-txt;}
		&.sp,
		&[rel="external"] {
			color: @color-sp-up-txt;
			&:hover {color: @color-sp-dn-txt;}
		}
		&:active {color: @color-link-active-txt;}
	}
	dfn,
	abbr,
	code,
	.latex {
		// * certain elements in links not discolored
		color: inherit;
	}
}
blockquote,
div.postal,
.list-action,
table,
.fn,
code {
	// * no border for links in certain containers
	a {border: 0;}
}
.a-block {
	.box-block();
	border-radius: @box-radius-medium;
	text-align: center;
	background-color: transparent;
	&[href] {
		background-color: @color-link-up-bg;
		&:hover {background-color: @color-link-dn-bg;}
		&.sp,
		&[rel="external"] {
			background-color: @color-sp-up-bg;
			&:hover {background-color: @color-sp-dn-bg;}
		}
		&:active {background-color: @color-link-active-bg;}
	}
}
/* @end */
/* @group breadcrumbs */
.bc {
	&:extend(.gutter-major);
	position: fixed;
	top: 2 * @olh;
	z-index: 1;
	.this {
		font-weight: bold;
		&::before {
			content: '';
			margin-right: 0;
		}
	}
	a {
		&:extend(.a-block all);
		padding: (0.125 * @olh) 15px;
		border-radius: 15px;
		text-align: left;
		&::before {margin-right: 0.5 * @olh;}
	}
}
.bc-anc,
.bc-sib,
.bc-child {
	&:extend(.list-basic all);
	margin-top: 0;
	li {
		margin-top: 0.75 * @olh;
		margin-bottom: -2px;
	}
}
.bc-anc {
	padding-bottom: 1 * @olh;
//	a::before {content: '\22a5';} // `\bot` or 'up tack'
//	a::before {content: '\22b7';} // 'image of'
//	a::before {content: '<';}
}
.bc-sib {
//	a::before {content: '\22a2';} // `\vdash` or 'turnstile'
//	a::before {content: '\29df';} // 'double-ended multimap'
//	a::before {content: '+';}
}
.bc-child {
	margin-top: 1 * @olh;
//	a::before {content: '\22a4';} // `\top` or 'down tack'
//	a::before {content: '\22b6';} // 'original of'
//	a::before {content: '>';}
}
/* @end */

/* @group coding and math */
@color-code-txt:  #000;
@color-code-brdr: #000;
@color-code-bg:   #fff;
@color-code-comment: #999;
@color-code-html-tag:  #009;
@color-code-html-attr: #900;
@color-code-html-val:  #090;
@color-code-css-sel:   @color-code-html-tag;
@color-code-css-prop:  @color-code-html-attr;
@color-code-css-val:   @color-code-html-val;
@color-code-latex-comm: @color-code-html-tag;
@color-code-latex-arg:  @color-code-html-attr;
@color-latex-txt: #000;
@color-latex-bg:  #fff;
pre {white-space: pre-wrap;}
code {
	// * example of a fragment or string of code a computer would recognize
	.box-inline();
	.font-size(small; inherit);
	border-color: @color-code-brdr;
	font-style: normal;
	font-weight: normal;
	font-family: @font-fam-code;
	color: @color-code-txt;
	background-color: @color-code-bg;
	.comment {color: @color-code-comment;}
}
.lang-html {
	.tag       {color: @color-code-html-tag;}
	.attribute {color: @color-code-html-attr;}
	.value     {color: @color-code-html-val;}
}
.lang-css {
	.selector {color: @color-code-css-sel;}
	.property {color: @color-code-css-prop;}
	.value    {color: @color-code-css-val;}
}
.lang-latex {
	.cmd {color: @color-code-latex-comm;}
	.arg {color: @color-code-latex-arg;}
}
.dir {
	// * directory system (folders and files)
	border: 0;
	font-style: italic;
	font-family: @font-fam-base;
}
div.precode {
	// * QUASI-ELEMENT: a preformatted block of text containing computer code
	.box-block();
	&:extend(code all);
	.font-size(small);
	white-space: pre-wrap;
}
samp {font-family: inherit;}
kbd { 
	// * user input, in the form of a string, menu item, etc.
	font-style: inherit;
	font-weight: bold;
	font-family: inherit;
//	&.write { // what is this?
//		font-family: inherit;
//		&::before {content: open-quote;}
//		&::after  {content: close-quote;}
//	}
	> kbd {
		// * an individual key on a keyboard, calculator, or other device
		&:extend(code);
		padding: 0 4px;
		font-family: @font-fam-base;
		color: @aperture-white;
		background-color: @aperture-black;
	}
}
.latex {
//	.font-size(small);
	font-family: @font-fam-math;
	white-space: pre-wrap;
	color: @color-latex-txt;
	div&, p& {
		// * block-level containers
		overflow: auto;
	}
}
var {font-style: italic;}
.tex { // a reminder to change all <... class="tex"> to <... class="latex">
	color: #f00;
	* {color: #f00;}
}
/* @end */

/* @group labels */
@color-warning-txt: #600;
@color-caution-txt: #660;
@color-success-txt: #060;
@color-info-txt:    #006;
@color-help-txt:    #606;
@color-cyan-txt:    #066;

@color-warning-bg: #fee;
@color-caution-bg: #ffe;
@color-success-bg: #efe;
@color-info-bg:    #eef;
@color-help-bg:    #fef;
@color-cyan-bg:    #eff;

@color-warning-icon-bg: #fcc;
@color-caution-icon-bg: #ffc;
@color-success-icon-bg: #cfc;
@color-info-icon-bg:    #ccf;
@color-help-icon-bg:    #fcf;
@color-cyan-icon-bg:    #cff;

.label {
	// * labels are little warnings/tips/etc. for the user. More elegant than tooltips
	.box-inline-block();
	.font-size(small; inherit);
	padding: 1px;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-family: @font-fam-accent;
//	cursor: help;
	&::before {
		.box-inline();
		padding: 1px;
		border: 0;
		margin-right: @olh;
		font-family: @font-fam-code;
	}
}
.label(@color-txt; @color-bg; @color-icon-bg; @content) {
	color: @color-txt;
	background-color: @color-bg;
	&::before {
		content: @content;
		color: @color-txt;
		background-color: @color-icon-bg;
	}
}
span.warning {
	&:extend(.label all);
	.label(@color-warning-txt; @color-warning-bg; @color-warning-icon-bg; '!');
}
span.caution {
	&:extend(.label all);
	.label(@color-caution-txt; @color-caution-bg; @color-caution-icon-bg; '\2026'); // &hellip;
}
span.success {
	&:extend(.label all);
	.label(@color-success-txt; @color-success-bg; @color-success-icon-bg; '\263A'); // smiley
}
span.info {
	&:extend(.label all);
	.label(@color-info-txt; @color-info-bg; @color-info-icon-bg; '?');
}
span.help {
	&:extend(.label all);
	.label(@color-help-txt; @color-help-bg; @color-help-icon-bg; '\2665'); // &hearts;
}
span.cyan {
	&:extend(.label all);
	.label(@color-cyan-txt; @color-cyan-bg; @color-cyan-icon-bg; 'c');
}
/* @end */

/* @group forms */
fieldset {
	padding: 0;
	.border(all; 0; solid);
	margin: 0;
}
/* @end */


/* @group miscellaneous */
hr,
[hidden] {
	// * `hr`: DO NOT USE THIS ELEMENT! Use `</section><section>` instead.
	// * `[hidden]`: Elements not yet ready for publishing. Elements with the 'hidden' boolean attribute (`hidden=""`) are not to be processed by browsers and are to be ignored by SEO patterns. Sometimes, the browser-default css-style is overridden, hence this selector exists.
	display: none !important;
}
.seo-only {
	// * Elements needed for SEO *only* (e.g. extraneous titles, etc). Try to only use this selector as a last resort.
	display: none !important;
}
.draft, .draft * {
	// * Elements still in testing mode but still not yet ready for implementation.
	color: #999; background-color: #fe8;
}
@media print {
	body,
	.h,
	blockquote, div.postal,
	table {
		.font-size(medium);
	}
	body {
		color: #000;
		background-color: #fff;
		background-image: none;
	}
	main {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.masthead {display: none;}
	figure,
	blockquote,
	div.postal {
		.spacing-left-Phi();
		.spacing-right-Phi();
	}
	figure,
	blockquote {
		margin-left:  0.5in;
		margin-right: 0.5in;
	}
	ins, del {background-color: transparent;}
	dfn, abbr {color: inherit;}
	.code {
		color: #000000;
		background-color: #fff;
	}
	.warning,
	.caution,
	.success,
	.info,
	.help,
	.cyan {
		&::before {display: none;}
	}
	.noprint {
		// * To display on screen but not to print.
		display: none !important;
	}
	.pagebreak {
		// * Starts a new page in the `print` media type.
		page-break-before: always; padding-top: 0.5in;
	}
}
/* @end */
