// main: all.less

/*-------------*\
	typo.less
\*-------------*/

//Table of Contents
//- HEADINGS
//- PARAGRAPHS
//- LISTS
//- ASSOCIATION LISTS
//- TABLES
//- HIGHLIGHTED TEXT
//- DOCUMENTATION
//- HYPERLINKS


//+++++++++
//@HEADINGS
//+++++++++
@ratio--h1: (2/1); // (16/8) or 2.000
@ratio--h2: (3/2); // (12/8) or 1.500
@ratio--h3: (5/4); // (10/8) or 1.250
@ratio--h4: (1/1); // (08/8) or 1.000
@ratio--h5: (7/8); // (07/8) or 0.875
@ratio--h6: (3/4); // (06/8) or 0.750
@fontsize--h1: (@fontsize--base * @ratio--h1); // 32px or 24pt
@fontsize--h2: (@fontsize--base * @ratio--h2); // 24px or 18pt
@fontsize--h3: (@fontsize--base * @ratio--h3); // 20px or 15pt
@fontsize--h4: (@fontsize--base * @ratio--h4); // 16px or 12pt
@fontsize--h5: (@fontsize--base * @ratio--h5); // 14px or 10.5pt
@fontsize--h6: (@fontsize--base * @ratio--h6); // 12px or 9pt

@color_h--major: @lake-superior;
@color_h--minor: @caves-caves;
@color_hsub--major: @facility-abyss;
@color_hsub--minor: @asbestos;
.h {
	display: block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: @fontfam--heading;
	letter-spacing: 1px;
	.latex {color: inherit;}
}
.gutter {
	.h {
		text-align: center;
		text-indent: 0;
	}
}
span.hsub {
	// *********************
	// semantic class alert!
	// *********************
	font-size: 80%;
	padding-left: @olh;
	font-weight: normal;
	color: @color_base--faded;
}
.h-alpha {
	&:extend(.h all);
	padding-bottom: @olh;
	margin-top: 2 * @olh;
	font-variant: small-caps;
	font-weight: bold;
	font-size: @fontsize--h1;
	text-align: center;
	line-height: (@lineheight--base/@ratio--h1);
	color: @color_h--major;
	> span.hsub {color: @color_hsub--major;}
}
.h-beta {
	&:extend(.h all);
	padding-bottom: 0.5 * @olh;
	margin-top: 1.5 * @olh;
	font-weight: bold;
	font-size: @fontsize--h2;
	line-height: (@lineheight--base/@ratio--h2);
	color: @color_h--minor;
	> span.hsub {color: @color_hsub--minor;}
}
.h-gamma {
	&:extend(.h all);
	padding-bottom: 0.25 * @olh;
	margin-top: 0.75 * @olh;
	font-variant: small-caps;
	font-weight: bold;
	font-size: @fontsize--h3;
	line-height: (@lineheight--base/@ratio--h3);
}
.h-delta {
	&:extend(.h all);
	margin-top: @olh;
	font-style: italic;
	font-weight: bold;
	font-size: @fontsize--h4;
	line-height: (@lineheight--base/@ratio--h4);
}
.h-epsilon {
	&:extend(.h all);
	font-style: italic;
	font-size: @fontsize--h5;
	text-indent: 0.5in;
	line-height: (@lineheight--base/@ratio--h5);
	color: @color_h--minor;
	> span.hsub {color: @color_hsub--minor;}
}
.h-zeta {
	&:extend(.h all);
	font-style: italic;
	font-variant: small-caps;
	font-size: @fontsize--h6;
	text-indent: 0.5in;
	line-height: (@lineheight--base/@ratio--h6);
}
//++++ @end HEADINGS ++++


//+++++++++++
//@PARAGRAPHS
//+++++++++++
.lede {
	font-weight: bold;
	font-family: @fontfam--base;
	color: #000;
}
.p-lede {
	&:extend(.lede);
	padding-bottom: @olh;
	text-align: justify;
}
.s-lede {
	&:extend(.lede);
	padding-right: @olh;
}
.prose {
	.font-size(medium);
	font-family: @fontfam--prose;
	text-align: justify;
	list-style-type: decimal;
	> li {margin-top: @olh;}
}
.nonnormative {
//	.spacing-top-phi();
//	.spacing-left-phi(3px; dotted);
	font-style: italic;
	font-family: @fontfam--base;
}
.dropcap {
	.cap,
	&::first-letter {
		float: left;
		padding-top: (@olh / 2);
		padding-right: 4px; // why this number?
		font-style: normal;
		font-weight: normal;
		font-size: 3 * @fontsize--base;
		font-family: @fontfam--math;
		line-height: 0.5;
		color: @color_h--major;
	}
}

.caption {
	.font-size(small);
	padding: 0;
	margin: 0;
	font-style: normal;
	text-align: right;
}
figure {
	// *****************
	// element selector!
	// *****************
	.spacing-top-phi();
	.spacing-left-phi(4px; solid; @color_accent);
	.spacing-right-phi(4px; solid; @color_accent);
}
figcaption {
	// *****************
	// element selector!
	// *****************
	&:extend(.caption);
	.border-vert--one(top; 1px; dashed);
}
blockquote {
	// *****************
	// element selector!
	// *****************
	.spacing-top-phi();
	.spacing-left-phi(7px; double; @color_accent);
	.font-size(large);
	font-family: @fontfam--accent;
	&:not(.prose) > .src {
		padding-right: @olh;
		float: right;
		&::before {content: '~\0020';}
		&::after {content: '';}
	}
}
address {
	// *****************
	// element selector!
	// *****************
	font-style: inherit;
}
div.postal {
	// *********************
	// semantic class alert!
	// *********************
	.spacing-top-phi();
	.spacing-right-phi(3px; solid; @color_accent);
	.font-size(large);
	border-radius: 3px;
	font-family: @fontfam--accent;
	text-align: right;
}
//.phone, // use microformats
//.tel,
//.email {
//	font-family: @fontfam--code;
//}
//++++ @end PARAGRAPHS ++++


//++++++
//@LISTS
//++++++
@list-indent: 0.5in;
ol, ul {
	// *****************
	// element selector!
	// *****************
	padding-left: @list-indent;
}
li, dt, dd {
	// *****************
	// element selector!
	// *****************
	ol, ul {margin-top: 0;}
}
// * outlined lists
.list--omega   {list-style-type: decimal-leading-zero;}
.list--alpha   {list-style-type: upper-roman;}
.list--beta    {list-style-type: upper-alpha;}
.list--gamma   {list-style-type: decimal;}
.list--delta   {list-style-type: lower-alpha;}
.list--epsilon {list-style-type: lower-roman;}
.list--zeta    {list-style-type: lower-greek;}

.list--bare {
	padding: 0;
	list-style-type: none;
}
.list--inline {
	// * a bare list except the list items are inline.
	&:extend(.list--bare all);
	> li {display: inline;}
}
.list--inline--sep_mx(@sep) {
	&:extend(.list--inline all);
	> li:not(:last-child)::after {content: @sep '\0020';}
}
.list--inline--c {.list--inline--sep_mx(',');}
.list--inline--n {.list--inline--sep_mx('\0020\2013');}
.list--inline--m {.list--inline--sep_mx('\0020\2014');}
.list-line {
	// * a bare list that acts as a table, with the list items acting as table cells
	&:extend(.list--bare all);
	&:extend(.row);
	> li {&:extend(.cell);}
}
.list--float {
	// * a basic list whose items are blocks that float left
	&:extend(.list--bare all);
	display: table;
	li {
		float: left;
	}
}
.list--float_mx(@liwidth) {
	li {
		width: @liwidth;
	}
}
.list--float--1:extend(.list--float all) {.list--float_mx(@1o1);}
.list--float--2:extend(.list--float all) {.list--float_mx(@1o2);}
.list--float--3:extend(.list--float all) {.list--float_mx(@1o3);}
.list--float--4:extend(.list--float all) {.list--float_mx(@1o4);}
.list--float--5:extend(.list--float all) {.list--float_mx(@1o5);}
.list--float--6:extend(.list--float all) {.list--float_mx(@1o6);}

.list--action {
	// * a list typically containing textual (non-block) hyperlinks
	&:extend(.list--bare all);
	ul, ol, dl {list-style-type: none;}
	li {
		color: @color_link--up--txt;
		&:hover {color: @color_link--dn--txt;}
	}
	li::before {content: '\2713\0020';} // check mark, space
}
//++++ @end LISTS ++++


//++++++++++++++++++
//@ASSOCIATION LISTS
//++++++++++++++++++
//a.k.a. mappings
dt,
dd {
	// *****************
	// element selector!
	// *****************
	> ol:only-child {
		padding-left: 0;
		list-style-position: inside;
	}
	> ul:only-child {&:extend(.list--bare all);}
}
dd {
	// *****************
	// element selector!
	// *****************
	padding-left: @list-indent;
}
.dl--ordered {
	// *********************
	// semantic class alert!
	// *********************
	padding-left: @list-indent;
	> dt:first-child,
	> dd + dt {
		display: list-item;
		list-style-type: decimal;
		list-style-position: outside;
	}
}
.dl--bare {
	> dd {margin: 0; padding: 0;}
}
.dl--tree {
	// *********************
	// semantic class alert!
	// *********************
//	dd > dl {margin-left: 0.5in;}
}
.dl--group {
	// * groups dt elements together on a line, and dd elements together on a line
	display: table;
	> dt,
	> dd {
		padding: 0;
		padding-right: @olh;
		float: left;
	}
	> dt + dd,
	> dd + dt {clear: both;}
	> dt + dd {padding-left: 0.5in;}
}
.dl--table {
	// * a dl list that acts like a table, with each row containing a single name-value group.
	&:extend(.dl--bare all);
	&:extend(.row);
	> dt,
	> dd {
		&:extend(.cell);
		float: left;
	}
	> dt {
		clear: both;
	}
	> dd {
		padding-left: 0;
	}
	> dt + dd {margin-left: 0;}
	> dd + dd {clear: both;}
}
.dl--table_mx(@dtwidth) {
	// * the `@dtwidth` parameter must be a percentage.
	> dt {
		width: @dtwidth;
	}
	> dd {
		width: (100% - @dtwidth);
		margin-left: @dtwidth;
	}
}
.dl--table--sml:extend(.dl--table all) {.dl--table_mx(@golden3);}   // 23.6067977499789696%
.dl--table--msm:extend(.dl--table all) {.dl--table_mx(@golden2);}   // 38.1966011250105152%
.dl--table--med:extend(.dl--table all) {.dl--table_mx(@1o2);}       // 50%
.dl--table--mlg:extend(.dl--table all) {.dl--table_mx(@golden1);}   // 61.8033988749894848%
.dl--table--lrg:extend(.dl--table all) {.dl--table_mx(@golden3-c);} // 76.3932022500210304%
//++++ @end ASSOCIATION LISTS ++++


//+++++++
//@TABLES
//+++++++
@color_table-brdr: @color_accent;
@color_table-bg-strong: hsv(185, 16.6%, 100%);
@color_table-bg-medium: hsv(185, 11.1%, 100%);
@color_table-bg-weak:   hsv(185,  5.5%, 100%);

table {
	// *****************
	// element selector!
	// *****************
	.font-size(small);
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
caption {
	// *****************
	// element selector!
	// *****************
	&:extend(.caption);
//	.border-vert--one(bottom; 1px; dashed); // use this only if there are no borders on table or cells
}
.rowgroup {
	border: 1px solid @color_table-brdr;
	border-left: 0;
	border-right: 0;
}
thead, tfoot {
	// *****************
	// element selector!
	// *****************
	font-weight: bold;
	vertical-align: bottom;
}
tbody {
	// *****************
	// element selector!
	// *****************
	vertical-align: top;
}
th, td {
	// *****************
	// element selector!
	// *****************
	.cellpaddingdefault();
	border: 1px solid #808080;
}
th {
	// *****************
	// element selector!
	// *****************
	font-weight: bold;
}
.table-list,
.table-bars {
	thead,
	tbody,
	tfoot {&:extend(.rowgroup);}
	th, td {border: 0;}
	th {background-color: @color_table-bg-strong;}
}
.table-list {
//	thead,
//	tbody,
//	tfoot {
//		tr:nth-child(odd)  {background-color: @color_table-bg-medium;}
//		tr:nth-child(even) {background-color: @color_table-bg-weak;}
//	}
	tr:nth-child(odd)  {background-color: @color_table-bg-medium;}
	tr:nth-child(even) {background-color: @color_table-bg-weak;}
}
.table-bars {
	thead {
		th:nth-child(odd)  {background-color: desaturate(@color_table-bg-weak,   @headlt);}
		th:nth-child(even) {background-color: desaturate(@color_table-bg-medium, @headlt);}
		th:first-child     {background-color: desaturate(@color_table-bg-strong, @headlt);}
	}
//	tbody {
//		td:nth-child(odd)  {background-color: @color_table-bg-weak;}
//		td:nth-child(even) {background-color: @color_table-bg-medium;}
//	}
	td:nth-child(odd)  {background-color: @color_table-bg-weak;}
	td:nth-child(even) {background-color: @color_table-bg-medium;}
}
table {
	counter-reset: nrows;
	tr {
		counter-increment: nrows;
	}
	counter-increment: nrows; // once more for the last border
	/*
		@btm: -(((nrows + 12) % 24) - 12);
		if (btm <= 0) {
			margin-bottom: @btm;
		} else {
			padding-bottom: @btm;
		}
	*/
}
//.table-grid {
//	.table;
//	td {.special-table-border();}
//	.header,
//	th {background-color: @color_table-bg-head;}
//	.row-odd {
//		.column-odd  {background-color: @color_table-bg-weak;}
//		.column-even {background-color: @color_table-bg-medium;}
//	}
//	.row-even {
//		.column-odd  {background-color: @color_table-bg-medium;}
//		.column-even {background-color: @color_table-bg-strong;}
//	}
//}
//++++ @end TABLES ++++


//+++++++++++++++++
//@HIGHLIGHTED TEXT
//+++++++++++++++++
em {
	// *****************
	// element selector!
	// *****************
	font-style: italic;
}
.nonnormative,
em,
.foreignlang {
	//* em within italics
	> em {font-weight: bold;}
}
strong {
	// *****************
	// element selector!
	// *****************
	font-weight: bold;
}
mark {
	// *****************
	// element selector!
	// *****************
	background-color: transparent;
}
i {
	// *****************
	// element selector!
	// *****************
	font-style: inherit;
	font-weight: inherit;
}
//i.scare {
//	// * scare quotes contain abuse of vocabulary or language
//	&:extend(.quotes all);
//}
//i.mention {
//	// * mentions refer to phrases without referring to their meaning
//	&:extend(.quotes all);
//}
i.thought {
	// *********************
	// semantic class alert!
	// *********************
	&::before {content: '\00ab';} // &laquo;
	&::after  {content: '\00bb';} // &raquo;
}
.foreignlang {
	// * phrases in foreign languages
	font-style: italic;
	font-family: @fontfam--math;
}
i[lang],
i:lang(la),
i:lang(it),
i:lang(fr) { 
	&:extend(.foreignlang);
}
.solfege {
	&:extend(.foreignlang);
}
b {
	// *****************
	// element selector!
	// *****************
	font-style: inherit;
	font-weight: inherit;
}
b.keyword {
	// *********************
	// semantic class alert!
	// *********************
	font-weight: bold;
}
b.proper {
	// *********************
	// semantic class alert!
	// *********************
	font-style: italic;
	text-transform: capitalize;
}
b.ref {
	// *********************
	// semantic class alert!
	// *********************
	font-weight: bold;
}
//++++ @end HIGHLIGHTED TEXT ++++


//++++++++++++++
//@DOCUMENTATION
//++++++++++++++
.docmeta {
	// *********************
	// semantic class alert!
	// *********************
	&:extend(.dl--table--sml all);
//	&::before {
//		&:extend(.h-zeta all);
//		content: 'Document Information';
//		display: block;
//		.font-size(medium);
//		text-indent: 0;
//	}
	> dt {
		font-weight: bold;
		&::after {content: ':';}
	}
	time:not(.submit):not(.recent) {
		.hm {display: none;}
	}
	.hm::before {content: '@\0020';}
}
//p.timestamp {
//	// * a paragraph element that indicates the most recent edit of a webpage or document. includes a <time datetime=""> element
//	font-size: smaller;
//	text-align: left;
//}
q {
	// *****************
	// element selector!
	// *****************
	.quotes();
}
cite {
	// *****************
	// element selector!
	// *****************
	font-style: inherit;
}
.src {
	.parens();
}
//dfn,
//abbr,
//del,
//ins {color: @color_info--txt;}
dfn {
	// *****************
	// element selector!
	// *****************
	font-weight: bold;
	font-style: inherit;
	font-family: @fontfam--prose;
}
abbr[title],
del[datetime],
ins[datetime] {
	// *****************
	// element selector!
	// *****************
	cursor: help;
	&::after {
		display: none;
		position: relative;
		left: 5px;
		top: 5px;
		color: @color_info--txt;
		background-color: @color_info--bg;
		text-decoration: none;
	}
//	&:hover::after {display: inline;}
}
abbr {
	// *****************
	// element selector!
	// *****************
	&[title]::after {content: attr(title);}
}
del {
	// *****************
	// element selector!
	// *****************
	text-decoration: line-through;
	&[datetime]::after {content: 'deleted on ' attr(datetime);}
}
ins {
	// *****************
	// element selector!
	// *****************
	text-decoration: underline;
	&[datetime]::after {content: 'inserted on ' attr(datetime);}
}
del + ins {
	// *****************
	// element selector!
	// *****************
	padding-left: 0.5em;
}
//small,
sup, sub {
	// *****************
	// element selector!
	// *****************
	font-size: @fontsize--small;
	vertical-align: baseline;
}
@supsub-move: @olh / 4;
sup {
	// *****************
	// element selector!
	// *****************
	position: relative;
	bottom: @supsub-move;
}
sub {
	// *****************
	// element selector!
	// *****************
	position: relative;
	top: @supsub-move;
}
//++++ @end DOCUMENTATION ++++


//+++++++++++
//@HYPERLINKS
//+++++++++++
@color_link--up--txt: @atlas;
@color_link--up--bg: lighten(@atlas, @headlt);

@color_link--dn--txt: @pbody;
@color_link--dn--bg: lighten(@pbody, @headlt);

@color_sp--up--txt: @neurotoxin;
@color_sp--up--bg: lighten(@color_sp--up--txt, @headlt);

@color_sp--dn--txt: @vilify;
@color_sp--dn--bg: lighten(@color_sp--dn--txt, @headlt);

@color_link--active-txt: @her-eye;
@color_link--active-bg: @aperture-black;

a {
	display: inline;
	text-decoration: none;
	color: @color_base--faded;
	&[href] {
		color: @color_link--up--txt; // also sets border color
		&:hover {color: @color_link--dn--txt;}
		&.sp,
		&[rel~="external"] {
			color: @color_sp--up--txt;
			&:hover {color: @color_sp--dn--txt;}
		}
		&:active {color: @color_link--active-txt;}
	}
	code,
	.latex {
		// * certain elements in links not discolored
		color: inherit;
		background-color: transparent;
	}
}
.a-block {
	.box-block();
	border-radius: @box-radius-medium;
	text-align: center;
	&[href] {
		background-color: @color_link--up--bg;
		&:hover {background-color: @color_link--dn--bg;}
		&.sp,
		&[rel="external"] {
			background-color: @color_sp--up--bg;
			&:hover {background-color: @color_sp--dn--bg;}
		}
		&:active {background-color: @color_link--active-bg;}
	}
}
//++++ @end HYPERLINKS ++++


//++++++
//@FORMS
//++++++
fieldset {
	// *****************
	// element selector!
	// *****************
	padding: 0;
	.border-vert--both(all; 0);
	margin: 0;
}
//++++ @end FORMS ++++


@media print {
	body,
	.h,
	blockquote, div.postal,
	table {
		.font-size(medium);
	}	
	figure,
	blockquote,
	div.postal {
		.spacing-left-phi();
		.spacing-right-phi();
	}
	figure,
	blockquote {
		margin-left:  0.5in;
		margin-right: 0.5in;
	}
	
	
	.noprint {
		// * To display on screen but not to print.
		display: none !important;
	}
	.pagebreak {
		// * Starts a new page in the `print` media type.
		page-break-before: always; padding-top: 0.5in;
	}
}
