@import url('vardefs.less');

/* @group TYPO.LESS */
/* @group headings */
.title {
	text-align: center;
}
.heading {
	margin: 1em 0 0.25em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: @font-fam-heading;
	text-align: left;
	letter-spacing: 2px;
	color: @color-body-txt;
	.latex {color: inherit;}
}
h1, .h-alpha {
	&:extend(.heading);
	font-variant: small-caps;
	font-weight: bold;
	font-size: 2.000em; // 24
	text-align: center;
	color: @color-heading;
}
h2, .h-beta {
	&:extend(.heading);
	font-weight: bold;
	font-size: 1.500em; // 18
	color: @color-subheading;
}
h3, .h-gamma {
	&:extend(.heading);
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.167em; // 14
}
h4, .h-delta {
	&:extend(.heading);
	font-style: italic;
	font-weight: bold;
	font-size: 1.000em; // 12
}
h5, .h-epsilon {
	&:extend(.heading);
	font-style: italic;
	font-size: 0.833em; // 10
	text-indent: 0.5in;
	color: @color-subheading;
}
h6, .h-zeta {
	&:extend(.heading);
	font-style: italic;
	font-variant: small-caps;
	font-size: 0.833em; // 10
	text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin-top: 0;
}
/* @end */

/* @group paragraphs */
@defaultmargins: 0 0 0.5em;
.p, p {
	margin: @defaultmargins;
	line-height: 1.4em;
}
.prose {
	.p;
	margin-bottom: 0.75em;
	font-size: @font-size-prose;
	font-family: @font-fam-prose;
	text-align: justify;
	line-height: 1.3em;
	list-style-type: decimal;// for prose lists (ol)
}
.lede {
	.p;
	padding-right: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	font-family: @font-fam-base;
	text-align: justify;
	line-height: 1.5em;
	color: #000000;
}

.sideborder-left(@padding-width; @border-width; @margin-width; @border-style; @border-color) {
	padding-left: @padding-width;
	padding-top: @border-width;
	padding-bottom: @border-width;
	border-left-width: @border-width;
	border-left-style: @border-style;
	border-left-color: @border-color;
	margin-left: @margin-width;
}
.sideborder-right(@padding-width; @border-width; @margin-width; @border-style; @border-color) {
	padding-right: @padding-width;
	padding-top: @border-width;
	padding-bottom: @border-width;
	border-right-width: @border-width;
	border-right-style: @border-style;
	border-right-color: @border-color;
	margin-right: @margin-width;
}
.q-block,
blockquote {
	.p;
	.sideborder-left(8px; 5px; 21px; solid; @accent);
	font-size: 14pt;
	font-family: @font-fam-heading;
	text-align: left;
	&.prose {
		font-size: @font-size-prose;
		font-family: @font-fam-prose;
		.source {
			padding-left: 0;
			&:before {content: '(';}
			&:after {content: ')';}
		}
	}
	.source {
		padding-left: 1em;
		font-family: @font-fam-base;
		&:before {content: '~';}
	}
}
.caption,
figure figcaption,
table caption {
	.p;
	.sideborder-right(5px; 3px; 13px; double; @accent);
	font-size: 10pt;
	text-align: right;
}
.timestamp {
	//a paragraph element that indicates the most recent edit of a webpage or document. includes a <time datetime=""> element.
	font-size: smaller;
	text-align: left;
}
/* @end */

/* @group lists */
ul, ol, dl {
	.p;
	padding: 0 0 0 0.5in;
	line-height: 1.3em;
	ul, ol, dl {margin-bottom: auto;}
}
.list-basic {
	// a basic list with no margins, padding, or numbering. list items are blocks
	padding: 0;
	list-style-type: none;
	dd {margin: 0;}
}
.list-inline {
	// a basic list except the list items are inline
	.list-basic;
	display: block;
	li {display: inline;}
}
.list-line {
	// a basic list that acts as a table with the list items acting as table cells
	.list-basic;
	.line();
	li {.unit();}
}
.list-action {
	// a list typically containing textual (non-block) hyperlinks
	.list-basic;
	color: @color-link-up-txt;
	ul, ol, dl {list-style-type: none;}
	li:before {content: '\2713\00A0';} // check mark, space
	a {border-bottom: 0; text-decoration: underline;}
}
.list-omega   {list-style-type: decimal-leading-zero;}
.list-alpha   {list-style-type: upper-roman;}
.list-beta    {list-style-type: upper-alpha;}
.list-gamma   {list-style-type: decimal;}
.list-delta   {list-style-type: lower-alpha;}
.list-epsilon {list-style-type: lower-roman;}
.list-zeta    {list-style-type: lower-greek;}
/* @end */

/* @group tables */
.special-table-border() {border: 1px solid @accent;}

table {
	border-collapse: collapse;
	margin: 0 auto 2em;
	text-align: center;
	thead, tfoot {
		th, td {
			.special-table-border();
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
			background-color: @color-table-bg-head;
		}
	}
	tbody {
		.code, code {background-color: transparent;}
	}
	th, td {
		padding: 5px;
		border-color: #808080;
	}
	&.table-list {
		thead, tfoot {
			th, td {
				border-left: 0;
				border-right: 0;
			}
		}
		tbody {
			.row-odd  {background-color: @color-table-bg-primary;}
			.row-even {background-color: @color-table-bg-secondary;}
		}
	}
	&.table-bars {
		thead, tfoot {
			th, td {
				border-top: 0;
				border-bottom: 0;
			}
		}
		tbody {
			.column-odd  {background-color: @color-table-bg-secondary;}
			.column-even {background-color: @color-table-bg-primary;}
		}
	}
}
//.table-grid {
//	.table;
//	td {.special-table-border();}
//	.header,
//	th {background-color: @color-table-bg-head;}
//	.row-odd {
//		.column-odd  {background-color: @color-table-bg-weak;}
//		.column-even {background-color: @color-table-bg-medium;}
//	}
//	.row-even {
//		.column-odd  {background-color: @color-table-bg-medium;}
//		.column-even {background-color: @color-table-bg-strong;}
//	}
//}
/* @end */

/* @group inline text */
	/* @group highlighted text */
	em {font-style: italic;}
	strong {font-weight: bold;}
	mark {background-color: #ff0;}
	
	i, b { // non-semantic elements reset
		font-style: inherit;
		font-weight: inherit;
	}
	i.scare { // scare quotes contain abuse of vocabulary or language
		font-style: italic;
		&:before {content: open-quote;}
		&:after  {content: close-quote;}
	}
	i.mention { // mentions refer to phrases without referring to their meaning
		font-style: italic;
		&:before {content: open-quote;}
		&:after  {content: close-quote;}
	}
	b.proper { // proper nouns, titles, keywords, references to headings (e.g. see 'Section 3.A')
		font-weight: bold;
		&:before {content: open-quote;}
		&:after  {content: close-quote;}
	}
	/* @end */
.phone, .email {
	font-family: @font-fam-mono;
}

abbr[title],
ins[datetime],
del[datetime],
time[datetime] {
	border-bottom: 2px solid @color-help;
	cursor: help;
}
[datetime] {
	&:hover:after {
		.help;
		position: relative;
		left: 5px;
		top: 5px;
		content: attr(datetime);
	}
}
.new, ins {text-decoration: underline; color: @color-ins;;}
.old, del {text-decoration: line-through; color: @color-del;}
.superscript {font-size: smaller; vertical-align: super;}
.subscript   {font-size: smaller; vertical-align: sub;}
//.hindent-5  {text-indent: -0.5in;  padding-left: 0.5in;}
//.hindent-25 {text-indent: -0.25in; padding-left: 0.25in;}
//.hindent-em {text-indent: -1em;    padding-left: 1em;}
i:lang(la),
i:lang(it),
i:lang(fr) { 
	font-family: 'Times New Roman',serif;
	font-style: italic;
}
	/* @group hyperlinks */
	.link(@color) {
		border-width: 0 0 1px;
		border-style: dotted;
		text-decoration: none;
		color: @color; // automatically sets border color
		.latex {color: inherit}
	}
	a       {.link(inherit);}
	.up     {.link(@color-link-up-txt);}
	.dn     {.link(@color-link-dn-txt);}
	.sp-up  {.link(@color-link-sp-up-txt);}
	.sp-dn  {.link(@color-link-sp-dn-txt);}
	.active {.link(@color-link-active-txt);}
	/* @end */
/* @end */
/* @group hacks */
/* the following class should be applied only to elements loaded in browsers with JS disabled. In all.js, see methods for removing this class. */ 
.js-disabled-hide {display: none;}

.seo-only {display: none !important;} // for elements needed for SEO *only* (e.g. titles, etc).
@media print { .noprint {display: none !important;}} // to display but not to print
.invisible {visibility: hidden;}
/* @end */
/* @end TYPO */

