@import url('vardefs.less');

/* @group TYPO.LESS */
/* @group headings */
.heading,
h1, .h-alpha,
h2, .h-beta,
h3, .h-gamma,
h4, .h-delta,
h5, .h-epsilon,
h6, .h-zeta {
	margin: 1em 0 0.25em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: @font-fam-heading;
	text-align: left;
	letter-spacing: 1px;
	color: @color-body-txt;
	.latex {color: inherit;}
}

h1, .h-alpha {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 2.000em; // 24pt
	text-align: center;
	color: @color-heading;
}
h2, .h-beta {
	font-weight: bold;
	font-size: 1.500em; // 18pt
	color: @color-subheading;
}
h3, .h-gamma {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.167em; // 14pt
}
h4, .h-delta {
	font-style: italic;
	font-weight: bold;
	font-size: 1.000em; // 12pt
}
h5, .h-epsilon {
	font-style: italic;
	font-size: 0.833em; // 10pt
	text-indent: 0.5in;
	color: @color-subheading;
}
h6, .h-zeta {
	font-style: italic;
	font-variant: small-caps;
	font-size: 0.833em; // 10pt
	text-indent: 0.5in;
}
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin-top: 0;
}
.title,
.title p {
	text-align: center;
}
/* @end */

/* @group paragraphs */
@defaultmargins: 0 0 0.5em;
.p, p {
	margin: @defaultmargins;
	text-align: left;
}
/* typography for prose elements */
.prose {
	font-family: @font-fam-prose;
	text-align: justify;
	line-height: 1.3em;
}
p.prose {
	margin-bottom: 0.75em;
}
ol.prose {
	list-style-type: decimal;
}
/* typography for lede elements */
.lede {
	font-weight: bold;
	font-family: @font-fam-base;
	text-align: justify;
	color: #000000;
}
p.lede {
	margin-bottom: 1em;
	line-height: 1.5em;
}
span.lede {
	padding-right: 1em;
}

/* captions of figures, tables, or anything */
.capt() {
	margin: @defaultmargins;
	margin-top: 0.5em;
	font-style: normal;
	font-size: 10pt;
	text-align: right;
}

.sideborder-left(@pad-width; @brdr-width; @marg-width; @brdr-style; @brdr-color) {
	margin: @defaultmargins;
	padding-left: @pad-width;
	padding-top: @brdr-width;
	padding-bottom: @brdr-width;
	border-left-width: @brdr-width;
	border-left-style: @brdr-style;
	border-left-color: @brdr-color;
	margin-left: @marg-width;
}
.sideborder-right(@pad-width; @brdr-width; @marg-width; @brdr-style; @brdr-color) {
	margin: @defaultmargins;
	padding-right: @pad-width;
	padding-top: @brdr-width;
	padding-bottom: @brdr-width;
	border-right-width: @brdr-width;
	border-right-style: @brdr-style;
	border-right-color: @brdr-color;
	margin-right: @marg-width;
}
/* a container containing paragraphs, etc. that are not officially part of an official document, but are still a major part of the normal flow of the document. The 'aside' and 'figure' elements are not suitable for this object. */
.informal {
	.sideborder-left(5px; 3px; 13px; solid; @accent);
//	padding: 10px;
	background-color: #f4f4f4;
//	& * {background-color: transparent;}
}
/* example figures (text, images, etc.) */
figure {
	.sideborder-left(8px; 5px; 21px; solid; @accent);
	> figcaption {
		.capt();
		border-top: 1px dashed;
		border-bottom: 0;
	}
}
/* blocks of short or long quoted material */
blockquote {
	.sideborder-left(13px; 8px; 34px; double; @accent);
	font-size: 14pt;
	font-family: @font-fam-accent;
	&.prose {
		font-size: 13pt;
		.source {
			padding-left: 0;
			&:before {content: '(';}
			&:after {content: ')';}
		}
	}
	.source {
		padding-left: 1em;
		font-family: @font-fam-base;
		&:before {content: '~';}
	}
}

/* a paragraph element that indicates the most recent edit of a webpage or document. includes a <time datetime=""> element. */
p.timestamp {
	font-size: smaller;
	text-align: left;
}
/* @end */

/* @group lists */
ul, ol, dl {
	margin: @defaultmargins;
	padding-left: 0.5in;
	line-height: 1.3em;
	ul, ol, dl {margin-bottom: auto;}
}
dd {
	margin: 0;
	padding-left: 0.5in;
	& + dt {margin-top: 0.5em;}
}
.list-basic {
	// a basic list with no margins, padding, or numbering. list items are blocks
	padding: 0;
	list-style-type: none;
}
.list-inline {
	// a basic list except the list items are inline
	.list-basic;
	display: block;
	li, dd {display: inline;}
}
dl.list-inline {
	padding-left: 0.5in;
	dt {text-indent: -0.5in;}
	dd {padding-left: 0;}
}
.list-line {
	// a basic list that acts as a table with the list items acting as table cells
	.list-basic;
	.line();
	li {.unit();}
}
.list-action {
	// a list typically containing textual (non-block) hyperlinks
	.list-basic;
	color: @color-link-up-txt;
	ul, ol, dl {list-style-type: none;}
	li:before {content: '\2713\0020';} // check mark, space
	a {border-bottom: 0; text-decoration: underline;}
}
.list-omega   {list-style-type: decimal-leading-zero;}
.list-alpha   {list-style-type: upper-roman;}
.list-beta    {list-style-type: upper-alpha;}
.list-gamma   {list-style-type: decimal;}
.list-delta   {list-style-type: lower-alpha;}
.list-epsilon {list-style-type: lower-roman;}
.list-zeta    {list-style-type: lower-greek;}
/* @end */

/* @group tables */
.tableheader() {
	border: 1px solid @accent;
	//font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: @color-table-bg-head;
}
table {
	border-collapse: collapse;
	margin: 0 auto 2em;
	text-align: center;
	> caption {.capt();}
	thead, tfoot {font-weight: bold;}
	tbody {
		.code, code {background-color: transparent;}
	}
	th, td {
		padding: 5px;
		border-width: 1px;
		border-style: solid;
		border-color: #808080;
	}
	th {font-weight: bold;}
	&.table-list {
		thead, tfoot {
			tr {
				.tableheader();
				border-left: 0;
				border-right: 0;
			}
		}
		tbody {
			th {background-color: @color-table-bg-strong;}
			.row-odd  {background-color: @color-table-bg-medium;}
			.row-even {background-color: @color-table-bg-weak;}
		}
		th, td {border-width: 0;}
	}
	&.table-bars {
		thead, tfoot {
			tr {
				.tableheader();
				border-top: 0;
				border-bottom: 0;
			}
		}
		tbody {
			th {background-color: @color-table-bg-strong;}
			.column-odd  {background-color: @color-table-bg-weak;}
			.column-even {background-color: @color-table-bg-medium;}
		}
		th, td {border-width: 0;}
	}
}
//.table-grid {
//	.table;
//	td {.special-table-border();}
//	.header,
//	th {background-color: @color-table-bg-head;}
//	.row-odd {
//		.column-odd  {background-color: @color-table-bg-weak;}
//		.column-even {background-color: @color-table-bg-medium;}
//	}
//	.row-even {
//		.column-odd  {background-color: @color-table-bg-medium;}
//		.column-even {background-color: @color-table-bg-strong;}
//	}
//}
/* @end */

/* @group inline text */
	/* @group highlighted text */
	em {font-style: italic;}
	strong {font-weight: bold;}
	mark {background-color: transparent;}
	/* non-semantic elements reset */
	i, b {
		font-style: inherit;
		font-weight: inherit;
	}
	/* scare quotes contain abuse of vocabulary or language */
	i.scare {
		&:before {content: open-quote;}
		&:after  {content: close-quote;}
	}
	/* mentions refer to phrases without referring to their meaning */
	i.mention {
		&:before {content: open-quote;}
		&:after  {content: close-quote;}
	}
	/* phrases in foreign languages */
	.foreignlang() {
		font-style: italic;
		font-family: 'Times','Times New Roman',serif;
	}
	i:lang(la),
	i:lang(it),
	i:lang(fr) { 
		.foreignlang();
	}
	.solfege {.foreignlang();}
	
	/* phrases representing silent thoughts */
	i.thought {
		&:before {content: '\00ab';} // &laquo;
		&:after  {content: '\00bb';} // &raquo;
	}
	/* reference to a section heading, figure, or table */
	b.ref {
		font-weight: bold;
	}
	/* keywords or technical terms */
	b.keyword {
		font-weight: bold;
	}
	/* @end */
.new, ins {text-decoration: underline; color: @color-ins;;}
.old, del {text-decoration: line-through; color: @color-del;}
cite {font-style: normal;}
.superscript {font-size: smaller; vertical-align: super;}
.subscript   {font-size: smaller; vertical-align: sub;}
var {font-style: italic;}

abbr[title],
ins[datetime],
del[datetime],
time[datetime] {
	border-bottom: 2px solid @color-help;
	cursor: help;
}
[datetime] {
	&:hover:after {
		.help;
		position: relative;
		left: 5px;
		top: 5px;
		content: attr(datetime);
	}
}

.phone, .email {
	font-family: @font-fam-code;
}

//.hindent-5  {text-indent: -0.5in;  padding-left: 0.5in;}
//.hindent-25 {text-indent: -0.25in; padding-left: 0.25in;}
//.hindent-em {text-indent: -1em;    padding-left: 1em;}
/* @end */
/* @end TYPO */
