// main: all.less

/*-------------*\
	util.less
\*-------------*/

//Table of Contents
//- AUTOMATED WIDTHS
//- MISC


//+++++++++++++++++
//@AUTOMATED WIDTHS
//+++++++++++++++++
.width(@breadth) {
	width:  @breadth;
	margin-left:  ((100% - @breadth) / 2);
	margin-right: ((100% - @breadth) / 2);
}
.width--full {width: 100%; margin-left: 0; margin-right: 0;}
.width--lrg  {.width(100% * (3/4));} // geometric:  75.00%
.width--med  {.width(100% * (2/3));} // arithmetic: 66.66%
.width--sml  {.width(@golden1);}     // Golden:     61.80%
//++++ @end AUTOMATED WIDTHS ++++


//+++++
//@MISC
//+++++
hr,
[hidden] {
	// * `hr`: DO NOT USE THIS ELEMENT! Use `</section><section>` instead.
	// * `[hidden]`: Elements not yet ready for publishing. Elements with the 'hidden' boolean attribute (`hidden=""`) are not to be processed by browsers and are to be ignored by SEO patterns. Sometimes, the browser-default css-style is overridden, hence this selector exists.
	display: none !important;
}
.seo-only {
	// * Elements needed for SEO *only* (e.g. extraneous titles, etc). Try to only use this selector as a last resort.
	display: none !important;
}
.draft, .draft * {
	// * Elements still in testing mode but still not yet ready for implementation.
	color: #999; background-color: #fe8;
}
//++++ @end MISC ++++
