// main: all.less

/*-------------*\
	util.less
\*-------------*/

//Table of Contents
//- AUTOMATED WIDTHS


//=================
//@AUTOMATED WIDTHS
//=================
.width(@breadth) {
	width:  @breadth;
	margin-left:  ((100% - @breadth) / 2);
	margin-right: ((100% - @breadth) / 2);
}
.width--full {width: 100%; margin-left: 0; margin-right: 0;}
.width--lrg  {.width(100% * (3/4));} // geometric:  75.00%
.width--med  {.width(100% * (2/3));} // arithmetic: 66.66%
.width--sml  {.width(@golden1);}     // Golden:     61.80%
//==== @end AUTOMATED WIDTHS ====
