// main: all.less

/*-------------*\
	util.less
\*-------------*/

//Table of Contents
//- MISC


//=====
//@MISC
//=====
hr,
[hidden] {
	// * `hr`: DO NOT USE THIS ELEMENT! Use `</section><section>` instead.
	// * `[hidden]`: Elements not yet ready for publishing. Elements with the 'hidden' boolean attribute (`hidden=""`) are not to be processed by browsers and are to be ignored by SEO patterns. Sometimes, the browser-default css-style is overridden, hence this selector exists.
	display: none !important;
}
.seo-only {
	// * Elements needed for SEO *only* (e.g. extraneous titles, etc). Try to only use this selector as a last resort.
	display: none !important;
}
.draft, .draft * {
	// * Elements still in testing mode but still not yet ready for implementation.
	color: #999; background-color: #fe8;
}
//==== @end MISC ====
