// FONTS
@font-fam-base:    'Optima','Candara','Lucida Sans',sans-serif;
@font-fam-heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@font-fam-prose:   'Baskerville','Palatino','Book Antiqua',serif;
@font-fam-code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@font-fam-accent:  'Gill Sans','Century Gothic',sans-serif;
//@font-fam-accent: @font-fam-heading;

@font-size-base:  16px;
@font-size-big:   20px;
@font-size-small: 12px;
@font-size-h1: (@font-size-base * (2/1)); // 32px or 24pt
@font-size-h2: (@font-size-base * (3/2)); // 24px or 18pt
@font-size-h3: (@font-size-base * (7/6)); // 18.667px or 14pt
@font-size-h4: (@font-size-base * (1/1)); // 16px or 12pt
@font-size-h5: (@font-size-base * (5/6)); // 13.333px or 10pt
@font-size-h6: (@font-size-base * (5/6)); // 13.333px or 10pt


// COLORS (semantic variable names):
@color-body-txt: #000;
@color-body-bg:  #fff;
@color-accent: #f00;

@color-heading: #000;
@color-subheading: #000;
@color-subsubheading: lighten(@color-subheading, 50%);

@color-table-brdr: @color-accent;
@color-table-bg-head:      #fff;
@color-table-bg-primary:   #fff;
@color-table-bg-secondary: #fff;
@color-table-bg-strong: #eee;
@color-table-bg-medium: #ddd;
@color-table-bg-weak:   #ccc;

@color-ins-txt: @color-link-sp-up-txt;
@color-del-txt: @color-link-sp-dn-txt;
@color-ins-bg: @color-success-bg;
@color-del-bg: @color-warning-bg;

//@color-link-up-txt:  #000;
//@color-link-up-block-brdr: #000;
//@color-link-up-block-bg:   #fff;
//
//@color-link-dn-txt:  #000;
//@color-link-dn-block-brdr: #000;
//@color-link-dn-block-bg:   #fff;
//
//@color-link-active-txt:  #000;
//@color-link-active-block-brdr: #fff;
//@color-link-active-block-bg:   @color-body-txt;
//
//@color-link-sp-up-txt: #000;
//@color-link-sp-dn-txt: #000;
	// temporary colors for debugging... remove these when color scheme is final
	@color-link-up-txt:  #00f;
	@color-link-up-block-brdr: #006;
	@color-link-up-block-bg:   #eef;
	
	@color-link-dn-txt:  #f90;
	@color-link-dn-block-brdr: #630;
	@color-link-dn-block-bg:   #ffe;
	
	@color-link-active-txt:  #f00;
	@color-link-active-block-brdr: #ff0;
	@color-link-active-block-bg:   #000;
	
	@color-link-sp-up-txt: green;
	@color-link-sp-dn-txt: purple;
	
@color-code-txt:  #000;
@color-code-brdr: #000;
@color-code-bg:   #fff;
@color-code-label-txt: #000;
@color-code-label-bg:  #fff;
	@color-code-comment:   #999;
	@color-code-html-tag:  #600;
	@color-code-html-attr: #006;
	@color-code-html-val:  #060;
	@color-code-css-sel:   @color-code-html-tag;
	@color-code-css-prop:  @color-code-html-attr;
	@color-code-css-val:   @color-code-html-val;
	@color-code-latex-comm: @color-code-html-tag;
	@color-code-latex-arg:  @color-code-html-attr;

@color-latex-txt: #000;
@color-latex-bg:  #fff;

// LABELS
@color-warning-txt: #300;
@color-caution-txt: #330;
@color-success-txt: #030;
@color-info-txt:    #003;
@color-help-txt:    #303;
@color-cyan-txt:    #033;

@color-warning-bg: #fee;
@color-caution-bg: #ffe;
@color-success-bg: #efe;
@color-info-bg:    #eef;
@color-help-bg:    #fef;
@color-cyan-bg:    #eff;

@color-warning-icon-bg: #fcc;
@color-caution-icon-bg: #ffc;
@color-success-icon-bg: #cfc;
@color-info-icon-bg:    #ccf;
@color-help-icon-bg:    #fcf;
@color-cyan-icon-bg:    #cff;
