// WIDTHS
@width-geometric:  (100% * (3/4)); // 75%
@width-arithmetic: (100% * (2/3)); // 66.66%

//@Phi1: ((-1 + sqrt(5)) / 2);
@Phi1: 0.618033988749894848;
@Phi2: (@Phi1 * @Phi1);
@Phi3: (@Phi2 * @Phi1);
@Phi4: (@Phi3 * @Phi1);
@U-Phi3: (1 - @Phi3);
@U-Phi4: (1 - @Phi4);
@width-Golden1: (100% * @Phi1);    // 61.8033988749894848%
@width-Golden2: (100% * @Phi2);    // 38.1966011250105152%
@width-Golden3: (100% * @Phi3);    // 23.6067977499789696%
@width-Golden4: (100% * @Phi4);    // 14.5898033750315455%
@width-U-Golden3: (100% * @U-Phi3);  // 76.3932022500210304%
@width-U-Golden4: (100% * @U-Phi4);  // 85.4101966249684545%

@Phi5:  (@Phi4  * @Phi1);
@Phi6:  (@Phi5  * @Phi1);
@Phi7:  (@Phi6  * @Phi1);
@Phi8:  (@Phi7  * @Phi1);
@Phi9:  (@Phi8  * @Phi1);
@Phi10: (@Phi9  * @Phi1);
@Phi11: (@Phi10 * @Phi1);
@Phi12: (@Phi11 * @Phi1);
@width-Golden5:  (100% * @Phi5);
@width-Golden6:  (100% * @Phi6); 
@width-Golden7:  (100% * @Phi7);
@width-Golden8:  (100% * @Phi8);
@width-Golden9:  (100% * @Phi9);
@width-Golden10: (100% * @Phi10);
@width-Golden11: (100% * @Phi11);
@width-Golden12: (100% * @Phi12);


// FONTS
@font-fam-base:    'Optima','Candara','Lucida Sans',sans-serif;
@font-fam-heading: 'Avenir','Calibri','Century Gothic',sans-serif;
@font-fam-prose:   'Garamond','Baskerville','Bell MT','Palatino','Perpetua',serif;
@font-fam-code:    'Menlo','Lucida Sans Typewriter','Monaco',monospace;
@font-fam-accent:  'Gill Sans','Century Gothic',sans-serif;


// COLORS (semantic variable names):
@color-body-txt: #000;
@color-body-bg:  #fff;
@accent: #000;

@color-heading: #000;
@color-subheading: #000;

@color-table-brdr: @accent;
@color-table-bg-head:      #fff;
@color-table-bg-primary:   #fff;
@color-table-bg-secondary: #fff;
@color-table-bg-strong: #eee;
@color-table-bg-medium: #ddd;
@color-table-bg-weak:   #ccc;

@color-ins: @color-link-sp-up-txt;
@color-del: @color-link-sp-dn-txt;

@color-link-up-txt:  #000;
@color-link-up-block-brdr: #000;
@color-link-up-block-bg:   #fff;

@color-link-dn-txt:  #000;
@color-link-dn-block-brdr: #000;
@color-link-dn-block-bg:   #fff;

@color-link-active-txt:  #000;
@color-link-active-block-brdr: #fff;
@color-link-active-block-bg:   @color-body-txt;

@color-link-sp-up-txt: #000;
@color-link-sp-dn-txt: #000;

	@color-link-up-txt:  #00f;
	@color-link-up-block-brdr: #006;
	@color-link-up-block-bg:   #eef;
	
	@color-link-dn-txt:  #f90;
	@color-link-dn-block-brdr: #630;
	@color-link-dn-block-bg:   #ffe;
	
	@color-link-active-txt:  #f00;
	@color-link-active-block-brdr: #ff0;
	@color-link-active-block-bg:   #000;
	
	@color-link-sp-up-txt: green;
	@color-link-sp-dn-txt: purple;
	

//@color-example-brdr: #000;
//@color-example-bg:   #fff;
//@color-example-label-txt: #000;
//@color-example-label-bg:  #fff;

//@color-demo-brdr: #000;
//@color-demo-bg:   #fff;
//@color-demo-label-txt: #000;
//@color-demo-label-bg:  #fff;

@color-code-txt:  #000;
@color-code-brdr: #000;
@color-code-bg:   #fff;
@color-code-label-txt: #000;
@color-code-label-bg:  #fff;
	@color-code-comment:   #999;
	@color-code-html-tag:  hsv(0,   100%, 50%);
	@color-code-html-attr: hsv(240, 100%, 50%);
	@color-code-html-val:  hsv(120, 100%, 50%);
	@color-code-css-sel:   @color-code-html-tag;
	@color-code-css-prop:  @color-code-html-attr;
	@color-code-css-val:   @color-code-html-val;
	@color-code-latex-comm: @color-code-html-tag;
	@color-code-latex-arg:  @color-code-html-attr;

@color-latex-txt: #000;
@color-latex-bg:  #fff;

@color-warning: #fee;
@color-caution: #ffe;
@color-success: #efe;
@color-cyan: #eff;
@color-info:    #eef;
@color-help:    #fef;

